[2020-10-29 16:50] zloishax commented on #4387
@philsmd
excuse me for grammatical mistakes in writing, I don't know English that well. Therefore, I could not explain the situation, but now I will try to answer your questions that arose to me.

I just can't install the pcrypto because I have windows 7/64bit
the problem is that when I install the `pip install --user PyCrypto`, such a mistake comes out
[code]
I don't want to blame you, but I thin

[2020-10-29 17:10] solardiz commented on #4390
Reduced test case that still triggers duplicate logging of the `vec_3` guess:

[code]

[code]

[2020-10-29 18:10] sergava commented on #4387
@zloishax just try to install pycryptodome instead. Pycrypto has been already dead for a long time.

[2020-10-29 20:33] solardiz commented on #4390
Here's one way to fix this:

[code]

I think I can make it simpler - still trying.

[2020-10-29 20:54] solardiz commented on #4390
Looks like it's as simple as this:

[code]

In plain English, when removing the last hash for a salt, we didn't bother updating the bitmap and hash table for the salt. Now we will (unfortunately, at some increase of memory consumption with "--fork" because of copy-on-write). I was worried this might not fully fix the problem when we're prefetching, but apparently I had already implemented logic to

[2020-10-29 20:58] solardiz commented on #4390
The main issue reported here, and the one I deal with so far, has nothing to do with bcrypt and its peculiarities, nor even with the general possibility of having differing `source` along with matching `binary` and `salt` - indeed, my reduced test case doesn't have any of that (it only has very explicitly matching salts, but no matching hashes).

However, while playing with this I see that we do i

[2020-10-29 21:11] solardiz commented on #4390
@magnumripper I notice that in jumbo that short-circuit `return;` also skipped `BLOB_FREE`. With my patch above, it will now be reached when there's a bitmap, but will still be skipped without a bitmap when removing the last hash for a salt. Please comment on this.

Also, should the `BLOB_FREE` be conditional on `FMT_REMOVE` or not? Right now, the two places in `crk_remove_hash` are inconsistent i

[2020-10-29 21:20] solardiz commented on #4390
I don't see a correlation between uses of `FMT_BLOB` and `FMT_REMOVE`. I understand it feels wrong to be freeing the blob without setting the `binary` pointer to `NULL`.

[2020-10-30 00:32] solardiz commented on #4388
We should be able to fix the issue for bcrypt by unifying the hash variations in `split`, but the issue is really not limited to just bcrypt. Here's a test case using invalid descrypt salt (yet supported by some systems and by JtR):

[code]

[code]

[2020-10-30 12:26] magnumripper commented on #4387
@zloishax I can crack it just fine
[code]

[2020-10-30 12:42] zloishax commented on #4387
@magnumripper This is after when I said the code. Having learned the code and at the same time hack it, forgive me not hacking.  If you can hack without my prompt, how do you do it?  Is there such a function other than brutus in john the ripper. Thanks.

[2020-10-30 12:52] magnumripper commented on #4390
I'm nearly certain we should always `BLOB_FREE(pw->binary)` before setting `pw->binary` to NULL, so `FMT_REMOVE` should affect both or none. That's consistent.

[2020-10-30 12:55] magnumripper commented on #4390
I need to stare at that for a while but that may be a minor bug (the only result being we don't free up memory we could free up).

[2020-10-30 13:03] magnumripper commented on #4387
If you mean I could crack it without your password hint, sure - it would just take much longer time, probably to the point I'd give up before cracking it (and this is the very idea with slow hashes like this). Basically all about JtR is brute-forcing, although we try to achieve really clever brute-force.

[2020-10-30 13:14] zloishax commented on #4387
@magnumripper Do you say that you can hack any passwords of the length x? Could you tell me **john the ripper** 999.ххх.999 this password length in how many days will it crack?

[2020-10-30 13:33] solardiz opened #4423 "solarwinds-opencl autotune ASan crash"
Running a `devtoolset-3` build made with `--enable-asan` using this command (using CPUs via Intel OpenCL):

[code]

eventually crashes at:

[code]

[2020-10-30 13:45] solardiz opened #4424 "TrueCrypt-opencl lockup in autotune"
Running a `devtoolset-3` build made with `--enable-asan` using this command (using Xeon Phi via Intel OpenCL):

[code]

eventually locks up in (stayed this way for 3 weeks):

[code]

Backtrace just before my attempted ^C:

[code]

We don't care about the old Xeon Phi target via OpenCL enough to bother investigating this (and it might well be an Intel OpenCL bug for this device, and moreover they m

[2020-10-30 13:46] #4424 closed, assigned to nobody

[2020-10-30 13:51] solardiz commented on #4423
This is also quickly reproducible with `-test -v=5 -form=solarwinds-opencl -dev=1`, but not when changing to `-test=0` (prints `PASS`) and not with explicit LWS=64 GWS=64 (the benchmark completes OK, reporting some speeds).

[2020-10-30 13:59] solardiz commented on #4393
Per my testing, as expected #4422 fixes the first bug reported here: there's no longer a duplicate crack and line in `john.pot` for `vec_3`.

Also as expected there's still the issue with `vec_2` only getting properly written (with its `$2a$` hash prefix) to `john.pot` on a rerun. That's because of #4388.

Further, somehow the OpenCL format doesn't crack `vec_4` and `vec_9`. Running the CPU format

[2020-10-30 14:01] #4390 closed, assigned to solardiz

[2020-10-30 14:05] solardiz commented on #4390
We don't always set `pw->binary` to NULL when we're removing that hash as cracked. We sometimes skip that to avoid NULL pointer dereference or having to pre-check for NULL in the cracking loops. We also sometimes skip that to minimize memory waste from copy-on-write with "--fork". Yet in those cases we might nevertheless want to free the blob, if any. I don't see how `FMT_REMOVE` is relevant.

Als

[2020-10-30 14:57] ghost commented on #4423
The format is buggy. It is registering more events than labels:
* events: "6" (top left panel) - `int number of events`
* labels: the new "who am i" (top center) - `char * warn`
  * duration <2.845us> (see  `JtR` output in terminal).

![image](https://user-images.githubusercontent.com/1702923/97719487-e642de00-1aa5-11eb-9162-52caf18d693d.png)

[2020-10-30 16:24] solardiz commented on #4393
I figured this out - this format misses `FMT_TRUNC`, which makes JtR think the limit of 72 is implementation-specific and thus skip longer candidates. Adding that flag fixes the issue. I've checked that the CPU and ZTEX formats do have this flag.

Maybe we need to enhance our self-test to complain about formats that have longer than `plaintext_length` test vectors (intended to test truncation) yet

[2020-10-30 17:46] solardiz commented on #4388
@magnumripper @claudioandre-br Do we even want to fix this issue? And if so, per-format or in shared code? The issue is that on loading we detect matching binary hashes (unless dupe detection is disabled) and matching binary salts, however on "--show" we match source hash pieces (after `split`, but before `binary`). So if a format is such that multiple sources map onto the same binary, we have thi

[2020-10-30 17:51] solardiz commented on #4388
We can hack this function to skip the first 2 chars for descrypt and the 3rd char for bcrypt, or to always skip the first 3 chars.

[2020-10-30 17:59] solardiz commented on #4388
Here's yet another test case (behaves the same as the one for descrypt I posted above):

[code]

I haven't seen invalid-salt bsdicrypt hashes in the wild, but that might be because bsdicrypt hashes are rare, not because there's anything preventing invalid salts from being used in the wild. The implementation that we have in Owl rejects invalid salts for those hashes, though.

[2020-10-30 18:19] solardiz commented on #4388
For bsdicrypt, I am thinking simply:

[code]

For bcrypt, this appears to work, although I expected it to be incomplete:

[code]

Somehow this manages to "--show" the correct line even when I patch the `john.pot` line from `a` to `b`. I don't yet understand why - I expected we would be skipping unification of pot entries for non-hex-encoded hashes and would bump into the `ldr_cracked_hash` issue e

[2020-10-30 18:27] solardiz commented on #4388
Looks like in jumbo, we may redundantly call `split` twice on pot entries. First here:

[code]

and then here:

[code]

Perhaps the second call above, coming from core, can be dropped now that jumbo calls `split` when populating the in-memory pot file contents. @magnumripper What do you say?

Anyway, I now have an explanation on why my patch above might actually be sufficient (for bcrypt on CPU):

[2020-10-30 18:32] solardiz commented on #4388
I am now thinking:

[code]

This also obsoletes `FMT_SPLIT_UNIFIES_CASE`, so we can drop it from all formats. I had introduced it and the code above in core as an optimization, but if jumbo invokes `split` on pot file entries all the time anyway, we don't need it. Or maybe we need to rename this flag and use it in more formats and then make jumbo's call to `split` in `ldr_show_pot_line` conditiona

[2020-10-30 18:50] solardiz commented on #4388
How about calling it simply `FMT_SPLIT_UNIFIES`?

@magnumripper Would you be able to identify all formats that currently need the logic you(?) added in `ldr_show_pot_line`? If so, set that flag on those formats, and limit the logic to formats with the flag. Then also make use of it for bcrypt and descrypt.

[2020-10-31 01:25] solardiz commented on #4388
BTW, my `FMT_SPLIT_UNIFIES_CASE` logic only worked with an explicit format specified, whereas jumbo's logic goes through the entire list of formats until finding one matching the pot line - and does so for every line (ouch). So jumbo's is much more generic, but also much slower (luckily, only affecting "--show"). Maybe we can speed it up by caching the previous line's format and testing that forma

[2020-10-31 12:13] solardiz commented on #4393
This issue is currently only kept open to retest the `vec_2` aspect of it after having fixed #4388, if we do. We'll also need to similarly test bcrypt-ztex.

[2020-10-31 13:25] solardiz opened #4426 "Skip format initialization on "--show""
Any opinions on this? -

[code]

I noticed that an `--enable-ztex` build would refuse to `--show` ZTEX-supported hashes unless a board was connected and powered on, or unless an explicit e.g. `--format=bcrypt` was used (to use the CPU format instead).

Do we use anything requiring format initialization with `--show`?

[2020-11-01 18:17] solardiz commented on #4423
@claudioandre-br Since you figured this out (great!), would you also be the one to send a PR fixing it? Thanks!

[2020-11-01 18:29] solardiz commented on #4388
This works:

[code]

[2020-11-01 19:03] solardiz commented on #4393
Confirmed that #4428 also fixes bcrypt-opencl. Didn't test the patched bcrypt-ztex yet.

[2020-11-01 19:06] #4388 closed, assigned to solardiz

[2020-11-01 19:27] solardiz opened #4430 "Simplify/speedup "--show" and "--make-charset""
As I pointed out in https://github.com/openwall/john/issues/4388#issuecomment-719723533, jumbo's usage of `split()` on `--show` is much heavier than core's, which is both good (allowing for #4428) and bad (slow). #4429 is a start at optimizing it, however we can do more.

Perhaps most importantly, we can optimize the scanning of the formats list in `ldr_show_pot_line()` to cache and probe the prev

[2020-11-01 19:48] solardiz commented on #4393
Also tested the patched bcrypt-ztex. Closing.

[2020-11-01 19:48] #4393 closed, assigned to solardiz

[2020-11-01 20:01] solardiz commented on #2242
I'm no longer able to reproduce the gpg-opencl issue here (running our latest code on the same device, upgraded driver), and we know we've fixed a bug in lotus5-opencl since. The rest of the issues here were seen on old AMD cards/drivers, and we changed our code since, so they are uninteresting at this point. Closing.

[2020-11-01 20:01] #2242 closed

[2020-11-01 20:20] #4426 closed, assigned to nobody

[2020-11-02 18:20] magnumripper commented on #4390
Definitely. I guess I simply couldn't identify those cases when I implemented it. I'll create a PR. **edit:** #4432

[2020-11-02 19:25] magnumripper commented on #4393
Wow. Good thing we have that self-test now

[2020-11-02 19:35] magnumripper commented on #4388
I think I could, and I think we should do this. I believe this can speed things up considerably in some (many) cases.

That sounds like a good idea too.

Yes, definitely unintentional.

[2020-11-02 19:42] solardiz commented on #4430
Copying another observation of mine from #4388 to here:

which magnum confirmed there:

So I think should track it here, and fix it, and test the fix.

[2020-11-02 19:47] solardiz commented on #4430
I now realize that we'd first incur the overhead of `valid()` anyway, and then it's just a matter of checking the flag vs. calling `fmt_default_split()` in the typical case, so we won't achieve much speedup by having the flag except for pot lines with formats that have non-trivial `split()` yet don't set the flag (because their non-trivial `split()` actually splits things, and does not unify). Do

[2020-11-02 19:54] magnumripper commented on #4426
I can't think of a reason the idea of "skip format initialization on --show" would be bad.

But we now have this (simplified):
[code]
Why init and then continue? Maybe I miss the full picture.

[2020-11-02 20:02] solardiz commented on #4426
These two are unrelated to each other (except for the same condition): we init when we intend to actually use the format, and we continue to detect other possible formats to print the "Warning" lines. Both of these are suppressed (for different reasons) with "--show".

[2020-11-02 20:04] #4423 closed, assigned to nobody

[2020-11-02 20:13] magnumripper commented on #4426
I should probably look closer to the code (sorry if so)... but on a quick look `format` is the one we intend to use and `alt` is an alternate format that we just put up a warning for. So why would we init `alt` at all?

As far as I can see (without expanding too much) we only actually use `alt->params.label` and that's not a thing I'd think we'd need to call `init` for.

[2020-11-02 20:20] solardiz commented on #4426
`*format` and `alt` are the same thing here, it's apparent from the patch context I posted. Previously, we called `fmt_init(*format = alt);` (that line came from core). Now we first `*format = alt;` (so that we don't have to repeat that line in 3 separate cases) and conditionally call `fmt_init(alt);`.

We need to call `init()` because we've just determined we'll actually use the format, including

[2020-11-02 20:55] solardiz commented on #4423
With this fix, my original command completes without a crash, but shows that `raw-SHA512-free-opencl` and `XSHA512-free-opencl` sometimes fail self-test. I'll open a separate issue for that.

[2020-11-02 20:55] magnumripper commented on #4430
Oh, right.  And the real enemy for performance is `prepare()` although I think I fixed the very worst ones. There's really no good way of avoiding that function.

However, I just noticed a thing. We have code like this in loader:
[code]
This instance could be changed:
[code]
Third place:
[code]

But our typical `prepare()` looks like this (here from `nt2_fmt_plug.c`):
[code]
It will *never* return

[2020-11-02 21:00] solardiz opened #4434 "raw-SHA512-free-opencl and XSHA512-free-opencl sometimes fail self-test"
On a build made with `devtoolset-3` and `--enable-asan`:

[code]

Also:

[code]

resulted in:

[code]

and

[code]

BTW, with formats failing during auto-tune like this, there's no empty line before the next format's "Benchmarking ..." line, which makes it hard to notice the failures. I only noticed from the final:

[code]

[2020-11-02 21:22] magnumripper commented on #4426
Oh right. Yes, I think I really need to explain that, if nothing else for my own (re-)understanding of this.

[2020-11-02 21:50] magnumripper opened #4435 "Review OpenCL format's non-calling of init() in loader when using --fork"
https://github.com/openwall/john/issues/4426#issuecomment-720702598

How/why do we get away with not calling `fmt_init` when `options.acc_devices->count && options.fork && strstr(alt->params.label, "-opencl")`, or in plain english "running soon-to-be-forked with a GPU format" (a.k.a poor man's multi-GPU support)?

Is it just post-poned? Are we relying on some undocumented (non-)property of all cur

[2020-11-03 09:41] magnumripper commented on #4435
OK so it's origin is 1a3fa732. We post-pone init until right after forking. I can see why that is/was needed, but indeed it puts some requirements on the format: Basically their `binary()` and `salt()` need to be usable without `init()`. That's usually not a problem.

This might all be obsolete though: At the time we did this, all OpenCL formats had heavy init functions, building kernels and perfo

[2020-11-03 10:10] magnumripper commented on #4434
During auto-tune? It fails the normal self-test, before auto-tune. I can't see why there suddenly wouldn't be an empty line though. There are some inconsistent lines in bench.c but this isn't one of them.
[code]
Failures returned from `fmt_self_test` come without a newline and gets it added when printed.

[2020-11-03 11:20] magnumripper opened #4436 "Review all formats' prepare functions"
https://github.com/openwall/john/issues/4430#issuecomment-720719504

In short:
- `prepare` need to be lean and early reject if possible
- If `prepare` knows the line wont pass `valid`, it should return NULL. This tells loader not to bother.

[2020-11-03 11:28] magnumripper commented on #4436
Most or all prepare functions I see never ever return NULL, they return `fields[1]` even when they know it will not pass `valid`.

I also see several things like this (this is `NETLMv2_fmt_plug.c`):
[code]
Why on earth would we copy the string, free the original one and return the copy? Just return `tmp` and be done with it. This is after passing `valid` so not that important, but it's stupid anyw

[2020-11-03 11:51] magnumripper commented on #4436
BTW I really dislike `prepare` calling `valid` at all. I can see it's sometimes called for (like in LMv2 above, after trying a construct - if it doesn't pass we'd like to free it) but for an early rejection a simple `strncmp` feels better. In the end it may not matter much (or at all) but it gives me the creeps.

Speaking of alloc/free... Shouldn't we better use static string buffers instead? In t

[2020-11-03 18:31] magnumripper opened #4437 "Improve user experience for --internal-codepage option"
https://www.openwall.com/lists/john-users/2020/11/03/3

We should detect when UTF-8 is used in rules (such as `seé`) and convert automagically. Mask mode already does such conversion from command-line option.

[2020-11-03 19:33] solardiz commented on #4435
Yet we should document it in the comment in `formats.h`.

I guess some OpenCL backends could be confused by initialization from one process followed by use from a forked child. I  seem to vaguely recall you mentioning such issues before, but it could be a false memory.

[2020-11-05 11:33] solardiz opened #4438 "Blockchain: support alternative wallet format"
As discussed in: https://github.com/udisch/john/commit/9743498c7ffe0f765ba97063a5da612c22a1086f

The "bug" label is because, as I understand, the current code produces false negatives, even if the cause isn't literally something we did wrong but rather something we didn't do yet.

I am not familiar with this enough, and would appreciate a PR from someone more familiar. Alternatively, we can perhap

[2020-11-07 22:11] B-cr opened #4441 "Wifi w of n"
https://github.com/guardicore/monkey/issues/873

[2020-11-08 06:05] binarytrails commented on #4069
I must say it is still here on up to date linux OS.

Here are steps to reproduce:
[code]
As seen nothing found... but when I force the cipher during a keygen as in the https://github.com/openwall/john/commit/51f7f3dcdfea791e0315ce2b6b90f565d7ce6029 , it works just fine:
[code]
**It's not normal that John can't find the key with a default cipher of ssh-keygen.**

[2020-11-08 12:22] magnumripper commented on #4441
Can you please elaborate? I don't understand what the linked issue is about at all, never mind what would be the connection to John the Ripper. The name "Wifi w of n" doesn't help.

[2020-11-08 14:11] solardiz commented on #4438
This issue is fixed with #4440, closing. Ideally, we should also update `NEWS`.

[2020-11-08 14:11] #4438 closed, assigned to nobody

[2020-11-08 14:13] solardiz commented on #4441
There's nothing reasonable we can do on this "issue" when it's non-described like that, so I'll close it. @B-cr please feel free to describe the issue properly (adding comments to a closed issue is OK) and if it's in fact an issue with our project we may reopen.

[2020-11-08 14:13] #4441 closed, assigned to nobody

[2020-11-08 14:27] solardiz commented on #4069
@binarytrails Are you using our latest code? It sounds like you're not, but are instead using a `john` that came with some kind of "up to date linux OS" distro. Anyhow, this is a reminder for us to make a new numbered release soon so that we'd give a clear message to distros to update to our newer code.

For your own use, of course just use our latest code from this repo - not whatever came with t

[2020-11-08 14:34] solardiz commented on #4069
Confirmed that this sample is processed properly with our latest code:

[code]

BTW, we might want to add it to the john-samples repo - please feel free to send us a PR against that one.

[2020-11-08 14:35] vkhromov commented on #4069
@binarytrails, I believe your attempt failed because `ssh-opencl` doesn't support `aes256-ctr` yet.
Could you try to run `john` with `--format=ssh`?
[code]

[2020-11-08 14:40] solardiz commented on #4069
@vkhromov No, @binarytrails was using the CPU format. (There were messages merely _suggesting_ options to use OpenCL.) Explicit `--format=ssh` won't make a difference, as that format was autodetected. I think it's merely a distro package using our code from prior to your contribution.

[2020-11-08 17:37] binarytrails commented on #4069
@vkhromov yes, I tried running with ```--format=SSH``` same result as with the GPU but I run it with threads because my computer has 12 cores which is faster than GPU in my case.

Here my two OSs versions that I used with the same results are latest Arch Linux and latest Kal Linux in a VM:
[code]
[code]

@solardiz You have a good point about the latest code. I will clone & compile your master here

[2020-11-08 18:02] solardiz commented on #4069
Please do. Thanks!

Not a PR yet, just an issue so that we don't forget.

That's my understanding per the comments above.

[2020-11-08 18:17] binarytrails commented on #4069
@solardiz I just compiled the master on arch and same results:
[code]

[2020-11-08 18:24] solardiz commented on #4069
@binarytrails Did you also use our latest `ssh2john.py`? In my testing, I was getting:

[code]

you're getting:

[code]

This 6 vs. 2 difference suggests your input file to `john` isn't the same as what I obtained for your SSH key.

[2020-11-08 19:24] binarytrails commented on #4069
@solardiz great spotting! you're right. I did use the old ssh2john output so the problem was not in john but this script!

[code]

Thank you! It makes my day. I will do the PR with this example later on. Cheers

[2020-11-09 21:04] #4340 closed, assigned to wsandin

[2020-11-09 22:20] solardiz opened #4446 "Strict aliasing violation warnings for simd-intrinsics.c in SSE2 build"
In an `--enable-simd=sse2` build made with `gcc version 4.4.7 20120313 (Red Hat 4.4.7-23)`:

[code]

I haven't looked into these yet.

[2020-11-10 00:25] magnumripper commented on #4446
I'm puzzled we've never seen this warning before. I'm pretty sure I haven't, or I'd have fixed it.

Here's the first one (as in lowest line number). Rest of them most likely virtually identical:
[code]
I guess we should just change the original declaration of `vtype w[16*SIMD_PARA_MD5];` into something like
[code]
(IIRC we should be able to say `uint32_t u32[0]` but some compilers choke on it (at

[2020-11-10 00:41] magnumripper commented on #4446
On a side note, `unsigned j, k` would be nicer written `unsigned int j, k` but it wouldn't change the result

[2020-11-10 11:04] ghost opened #4447 "TS doesn't work properly after 915cfcc"
It is probably a parsing problem (TS bug). Anyway, no longer working:
* TS `-type` (even for cpu format names)
* TS `--passthru`
* OpenCL detection
* TS `-internal` (format name is "")
[code]

$ git rev-parse --short HEAD
915cfcc

[code]

$ git rev-parse --short HEAD
25ec84e

[code]

[2020-11-10 11:39] magnumripper commented on #4407
Usage in PR
[code]

OPTIONS in PR
[code]

[2020-11-10 11:41] magnumripper commented on #4407
BTW the (existing) phrase "load salts with[out] at least N passwords" would be better worded "...N hashes" IMHO

[2020-11-10 12:10] magnumripper opened #4449 "Multi-line status output, delayed status, perhaps delayed exit?"
#4444 adds pressing 'd' for delayed status (it will print once all salts are processed for current batch).

As discussed we could also want (and I have experimental code for) a more detailed multi-line status output. For example, listing all options used, saying things like `Salt: 12/34, Rule: 56/78` and possibly many more things (which would you want?).

My current code has 'd' for delayed, and '

[2020-11-10 20:36] solardiz opened #4450 "Benchmark passes multi-hash list into crypt_all()"
Turns out that for descrypt our `--test` benchmark calls `crypt_all` with a list of 3 hashes for the salt, and for LM with a list of 10. If the format's implementation implements hash comparison in `crypt_all`, it ends up doing more work than the user running the benchmark likely expects: we previously benchmarked for 1 hash per salt. We should probably fix this by using 1-entry lists during bench

[2020-11-11 14:10] #4403 closed, assigned to nobody

[2020-11-11 15:26] magnumripper commented on #4408
I just "found" the good old file doc/EXAMPLES. Perhaps we should just amend that file. Then again perhaps not - we could want to have a separate file for more "advanced usage".

[2020-11-11 15:42] #4407 closed, assigned to nobody

[2020-11-11 16:46] magnumripper commented on #4219
Can't quite reproduce the fluctuating ETA and reviewing it I believe it's rock-solid from the mode's point of view. It correctly calculates total # candidates (for current length, but in your case it was 12 all the time) and then returns `(100.0 * done / total)`. The actual calculation in status.c and/or conversion to "human timestamp" may be the culprit.

The other issues are fixed with #4451.

O

[2020-11-11 17:48] solardiz commented on #3990
That guess was wrong - the same effect is seen even when the system is otherwise idle:

[code]

However, it disappears when running only 1 thread:

[code]

(I re-ran these commands a few times to confirm.)

[code]

[code]

[2020-11-12 11:55] solardiz opened #4452 "Reconsider potcheck during build"
The potcheck.pl script introduced in #2161 depends on Perl (obviously) and Digest::MD5. This makes build attempts fail when those are not both available and a `john.pot` is present, even when there are no entries in `john.pot` needing conversion. That's weird.

In fact, it's weird that we're doing anything with `john.pot` at build time. I think that instead of the dependency and build failure, we

[2020-11-12 11:57] solardiz commented on #4452
Here's another idea: with detection logic in `john`, maybe it doesn't need to update the file on disk, but should simply update the entries in memory when it loads those? The script could remain as a way to permanently optimize old `john.pot`.

[2020-11-12 12:56] magnumripper commented on #4452
Yes, maybe.

Not sure why we didn't do so in the first place, with nearly all code already there. I guess I was afraid of pot loading performance penalty but it shouldn't be that bad - perhaps none at all.

I'll have a look at it

[2020-11-12 19:05] solardiz commented on #4452
I am getting this even with empty `john.pot`:

[code]

We should at least trivially limit this to non-empty `john.pot`.

[2020-11-13 15:28] magnumripper commented on #4452
#4454 relaxes the need for Digest::MD5. As for not even having Perl, you'd not be able to use `./configure` then anyway but use the legacy Makefile.

IMHO we could close this and possibly create a new issue for having John recognize legacy super-long pot entries (which now became  less urgent - maybe not even worth the complexity?).

[2020-11-13 15:38] solardiz commented on #4452
Thanks magnum. I agree. What other use of Perl do we make during `./configure`?

[2020-11-13 16:44] magnumripper opened #4455 "Varying length candidates vs. length-sensitive OpenCL formats. Decrease LWS?"
Just brainstorming: These are vague ideas/theories but I'd appreciate comments before I waste a lot of time to no avail. Maybe what I say here doesn't even make sense - please correct me.

I was thinking about RAR-opencl and md5crypt-opencl but this applies to some others as well. RAR is among the most length-sensitive formats of them all, the penalty for longer candidates is huge - if you get 62

[2020-11-13 16:54] magnumripper commented on #4455
BTW some other things that popped up in my head, good or bad:

We could optionally auto-tune *with* varying lengths. Would that gain us anything?

Sometimes we could *know* what lengths are in use (eg. with `-len`, or `-max-len` and/or `-min-len` options) and auto-tune for that (those) very length(s). Would that be overkill? I think back when each format had their own auto-tune, rar-opencl tried t

[2020-11-13 16:56] magnumripper commented on #4455
Oh and another idea I got just now, quite related: We usually want auto-tune to be as fast as at all possible, but we could want to add an option for specifically requesting a more thorough auto-tune, for use when we know it might be worthwhile.

[2020-11-13 17:01] magnumripper opened #4456 "Spurious self-test and other defensive measures"
Just throwing this out as another case of brainstorming.

For long-ish runs, maybe we could throw in a test vector at a rate of 1/hour, 1/day or completely randomly, verifying that things still seem dandy.

[2020-11-13 17:23] solardiz commented on #4456
I like the concept, but this would be tricky to implement without performance impact per every `crypt_all()`.

If we introduce the test vector's hash into the loaded hashes database (and then remove it from there, then reintroduce, etc.), it would also test cracker.c code that our current self-test does not. This provides extra justification to go for it.

[2020-11-13 17:40] solardiz commented on #4455
I think you might want to test it specifically for rar-opencl, where as I understand the amount of work varies greatly by length. For other formats, I expect it won't help (since the amount of work doesn't vary much, only code paths do), but indeed you might want to test anyway. Or you might prefer to save your time and move right to the better alternative:

I think you'll achieve much better resu

[2020-11-13 17:52] magnumripper commented on #4456
I'm mostly concerned about GPU's and possibly FPGA's. If our initial self-tests are fine I doubt a CPU format would later wreak havoc. But with GPU's I wouldn't be shocked if it turned out we caught one producing 100% false negatives after some time.

On that subject, today I saw NT-opencl miss a couple of candidates. I was using `--loopback` option after exhausting LM-opencl against a test set. I

[2020-11-13 17:55] magnumripper commented on #4455
That is totally plausible, I need to check 😆

[2020-11-13 17:58] magnumripper commented on #4455
I like this idea a lot! I haven't looked at the RAR3 formats for a while but revisiting them today I noticed the CPU format has this (for SIMD only) but not the OpenCL format.

[2020-11-13 18:18] magnumripper commented on #4455
So given we simply sort candidates by length but don't bother trying to align it with any group size at all (that's what we do, right?), we'll hopefully end up with many (at least more) candidates of same or similar length in each local group. That's fine alright but still in this case, we could benefit from just decreasing LWS one notch, where sensible. Not knowing about this, auto-tune could pic

[2020-11-13 18:53] solardiz commented on #4455
I think most formats where it's important to have uniform lengths are slow enough that we can do the grouping in `crypt_all()`. For salted formats, only when `new_keys`.

[2020-11-15 18:58] solardiz opened #4459 "--help should list options in a sensible order"
As a follow up to #4394, we need to adjust the order in which options are listed with `--help` for it to make more sense.

As an example, core keeps `--node` and `--fork` near each other, but in jumbo they're now far apart. Similarly, jumbo's `--subformat` is now far from `--format`.

Perhaps we should also list options in the same order in `doc/OPTIONS` and in the upcoming man page.

[2020-11-15 19:06] wsandin commented on #4459
I like the idea of consistency. :+1: I've subscribed to keep an eye on this thread as I progress with work on the man pages.

[2020-11-15 19:09] solardiz commented on #4459
Thanks @wsandin. I was hoping you'd participate in fixing this issue for us more directly. ;-)

[2020-11-15 19:22] wsandin commented on #4459
That I'd be happy to as well. :-) I'll start to have a look at `--help` in core vs. jumbo to get some more context.

[2020-11-15 21:07] solardiz commented on #4459
Core's is:

[code]

So it's mode and mode modifiers, then `--stdout`, then session management, then `--make-charset` and `--show` (both process previously cracked passwords in `john.pot`), then `--test`, then selectors of which entries (not) to load, then `--save-memory`, then two options controlling workload split across nodes and processes, and finally `--format` controlling which hash types to

[2020-11-16 11:57] magnumripper commented on #4450
I'm a bit confused with the fact LM is mentioned here given it's not salted?

[2020-11-16 12:03] magnumripper commented on #4450
I guess it means "single salt" and "raw" benchmarks should always be against a single hash? There are probably a number of "non-hash formats" more or less affected as well. **Edit**: Maybe not, that should be impossible...

[2020-11-16 12:19] solardiz commented on #4450
This issue applies equally to salted and unsalted formats, and to many vs. single salt or raw benchmarks. It's about the number of "loaded" hashes that a comparison is performed against for the current salt (or for the only salt, or for no salt). For unsalted hashes like LM, our loader creates a one-entry salt list, and our cracker goes over that list. It's just a common way for us to group hashes

[2020-11-16 12:21] solardiz commented on #4450
Once we fix this issue globally, we should drop the workarounds for descrypt and LM that I recently introduced into `DES_bs_b.c`.

[2020-11-16 15:12] magnumripper commented on #4450
I assume we started doing this with the introduction of `test_db`. So we should basically just delete all entries but one from each salt bucket, between the self-test and the benchmark, right? More or less like calling `crk_remove_hash()` - perhaps by actually doing so.

[2020-11-16 15:48] solardiz commented on #4450
Right.

I thought we'd simply set `list->next` and `bitmap` and `hash` to NULL. Your idea is good, but in the unlikely event that we had so many same-salt test vectors that a bitmap and hash table were created, we'd end up with them containing one entry, which isn't same code and same speed as having a one-entry list. In other words, your idea would mimic actually getting all but one hash cracked

[2020-11-16 20:05] ghost commented on #4387
Hi, do you happen to know how you can get a .session file from the tdata folder (used by telethon)

[2020-11-16 20:20] magnumripper commented on #4387
I assume that refers to https://github.com/LonamiWebs/Telethon

[2020-11-16 21:09] magnumripper commented on #4450
I believe this should do it
[code]

I couldn't spot anything significant using `relbench` before/after this; but OTOH your workarounds were still in place and it's likely no other formats should be expected to show any significant difference even if having comparison in `crypt_all` (they might have it for any weird reasons including brain farts).

Actually both DEScrypt and LM showed slightly lowe

[2020-11-16 21:39] magnumripper commented on #4450
Previous relbench test was with CPU formats. Now tried `--format:mask` as well (basically meaning OpenCL device-side mask formats with comparison on GPU) and they showed very little difference, nothing bad of course. All were between 0.4% and 3.5% better but that's probably within normal noise.

[2020-11-16 22:10] solardiz commented on #4450
I think our OpenCL device-side comparisons are pretty well optimized for having multiple hashes per salt, so it's not surprising this makes little difference.

[2020-11-16 22:50] magnumripper commented on #4450
I understand it's not quite the same thing - but I believe Sayantan's GPU formats would trigger on certain thresholds of "salts remaining" (or is it even hashes remaining per salt? **Edit** *of course that must be it, maybe he even only does it with unsalted formats*) and re-calculate the (or some) hash tables. Not sure how important that is, but perhaps cracker could do the same with bitmaps? In

[2020-11-16 22:56] solardiz commented on #4450
Yes, we can enhance cracker.c to skip the bitmap (or even set it to NULL for future calls) once the hash count drops below a threshold (perhaps at least when just one hash is left for the salt).

[2020-11-17 00:00] magnumripper commented on #4450
Stopping and resuming a session would give the same (or better) effect, right? If not, we should definitely fix that. If yes, perhaps this isn't worthwhile unless the boost is much more significant than I picture it. OTOH the "one hash left" is trivial enough that we might consider doing it anyway, just for the sake of it.

[2020-11-17 01:13] solardiz commented on #4450
Right.

I also think so.

[2020-11-17 14:52] magnumripper commented on #4450
I stared at `cracker.c` for a while and then decided I shouldn't even try it. Made a PR with the above fix for `bench.c` though.

[2020-11-17 15:15] tmoklc opened #4462 "Multibit Classic key - md5 or scrypt?"
I have a few old wallets and keys from Multibit Classic. Having run the multibit2john.py script on them, it returns a hash below (modified for security)

[code]

From what I can see in the code, and the comment above, the `multibit$2` bit refers to it being a Multibit HD wallet? This is not the case and I have opened this wallet recently in Multibit Classic.

Did Multibit Classic use several diffe

[2020-11-17 15:41] zloishax commented on #4387
@magnumripper @philsmd good evening, I wanted to suggest you hack this file
[dingil.zip](https://github.com/openwall/john/files/5554481/dingil.zip)
I tried on **john the ripper** writes this ```
Using default input encoding: UTF-8
No password hashes loaded (see FAQ)
[code]
-----BEGIN RSA PRIVATE KEY-----
MIIEogIBAAKCAQEAtQAiN36t4WukIDTT3rbb6jqyCTfJaJTm2z5oFvQX/yVanCu3
eRP4fbxUBQfW+ECaAQR/JgUUy5BOn

[2020-11-17 16:02] solardiz commented on #4387
@zloishax I've just deleted your off-topic comment. This issue is only about Telegram, and our use of GitHub is about improving our software - it is not about providing user support, let alone cracking things for people. Please refrain from posting off-topic comments and making such requests. Thanks.

[2020-11-17 16:20] zloishax opened #4463 "crack pass rsa"
good evening, I wanted to suggest you hack this [rsa](https://en.wikipedia.org/wiki/RSA_(cryptosystem)) PRIVATE KEY file
[dingil.zip](https://github.com/openwall/john/files/5554737/dingil.zip)

I tried on **john the ripper** writes this

[code]
[code]

is it possible to crack the password from this in **john the ripper**???

[2020-11-17 16:22] magnumripper commented on #4463
[code]

This is not a support forum, it's a bug tracker.

[2020-11-17 16:23] #4463 closed, assigned to nobody

[2020-11-17 16:30] zloishax commented on #4463
@magnumripper i just suggested you add a hack type .key file there is a hidden password inside this you just could not open it

[2020-11-17 17:40] magnumripper commented on #4463
Nonsense, it's a single private key with no passphrase.

[2020-11-17 18:06] #4450 closed, assigned to nobody

[2020-11-17 18:08] magnumripper commented on #4447
Moved to https://github.com/openwall/john-tests/issues/89

[2020-11-17 18:08] #4447 closed, assigned to nobody

[2020-11-17 19:09] magnumripper commented on #4462
I assume you wouldn't like to share the wallet :-) so could you perhaps add some debug prints around the try/catch here:
https://github.com/openwall/john/blob/d41adeda95b9ad9a95cc1180b16be53db9705dee/run/multibit2john.py#L1353-L1362
...and see why it triggers? Maybe you can even print all of `pdata` and see "what it looks like". Perhaps some of the assumptions are wrong or just needs adjusting.

[2020-11-17 19:12] magnumripper commented on #4462
BTW you could even comment out that whole test, forcing version 1 and see if that works (and you can crack it). That would be an important data point for us.

[2020-11-17 22:13] gjvnq opened #4465 "pfx2john produces invalid files"
### Steps to reproduce ###
1. Run `pfx2john user.pfx > user.john`
2. Run `john user.john`
3. Get error: No password hashes loaded (see FAQ)

The `user.john` file looks like:
[code]

After some trying and error, I noticed that the examples in the test file (`pfx_fmt_plug.c`) didn't have these `b'` sequences. After removing them and the corresponding `'`, the program worked.

I think this is a Pytho

[2020-11-18 09:21] tmoklc commented on #4462
Thanks @magnumripper for the quick response. I'm happy to [share one of the wallets](https://github.com/openwall/john/files/5559028/jointBit-20140302075329.zip) as it's only got scraps of BTC in it. I'll also try your suggestions, though you are considerably more likely to get to the bottom of this than I am!

[2020-11-18 09:27] tmoklc commented on #4462
I commented out the test and forced version 1, output is:
`jointBit-20140302075329.key:$multibit$1*58312b4958557743*4d702b4b636836794d6b2b7871652b5433684d6e32507876356e6d5979636775`
Not sure if that's what the MD5 hash should look like. Unfortunately I don't have the password for this so can't easily test cracking it. Is it possible to validate that hash before committing to cracking it?

[2020-11-18 18:31] solardiz commented on #4465
@gjvnq What version of JtR are you using? Since you demonstrate a good understanding of related matters above, I naively assumed the latest and have just wasted some time on this, only to conclude that you were likely _not_ using the latest, as we seem to have already fixed this issue in #4093. Please confirm that we can indeed close this issue as it's already fixed, or correct me if not. Thanks.

[2020-11-18 18:47] gjvnq commented on #4465
John the Ripper 1.9.0-jumbo-1 MPI + OMP [linux-gnu 64-bit x86_64 AVX AC]

I just checked my /usr/bin/pfx2john and it does not contain the modifications made on #4093. I.e. I thought I was running the latest version but I wasn't.

I assumed JtR used semantic versioning but I was wrong.

[2020-11-18 18:50] #4465 closed, assigned to nobody

[2020-11-19 04:45] JohnCassavetes opened #4467 "add a LICENSE"
add a license

[2020-11-19 11:26] ghost commented on #4467
There is a License badge in readme and the License file. What do you mean? Please make your point clear.

![image](https://user-images.githubusercontent.com/1702923/99660582-527b8680-2a41-11eb-9364-aa240ad1ffb2.png)

[2020-11-19 12:11] solardiz commented on #4467
I think we might want to add a `LICENSE` symlink at top level pointing to `doc/LICENSE`, or just move that file (along with `LICENSE.mpi`? or just drop that other file entirely).

GitHub appears to have special handling for top-level `LICENSE` and `README` files, displaying a link to them at top right.

[2020-11-19 16:49] solardiz commented on #3990
SPARC is big-endian, so part of the performance difference was probably from these two implementations' differences in when and how the conversions to big-endian are performed.

[2020-11-19 17:25] solardiz opened #4468 "Skein formats fail with recent GCC on sparc64"
[code]

[code]

Also happens when testing the formats individually, with `OMP_NUM_THREADS=1`, and with `--test=0`. I didn't try a non-OpenMP build yet.

This is on:

[code]

I wonder how this worked in my testing shortly before the 1.9.0-jumbo-1 release. We don't appear to have made any relevant change. Maybe the gcc version change exposed a bug.

[2020-11-19 17:34] solardiz commented on #4468
The problem is also seen with:

[code]

but goes away with:

[code]

[2020-11-19 18:26] solardiz commented on #4468
This appears to fix it:

[code]

When we're passing a register into inline asm, we're not telling gcc that it's a pointer and that memory pointed to by it must already be written to by that time, so gcc is free to postpone such write to after the inline asm if it feels that's somehow more optimal.

There are relevant examples in https://gcc.gnu.org/onlinedocs/gcc/Extended-Asm.html under "6.47.2.6

[2020-11-19 18:28] solardiz commented on #4468
The functions in `sph_types.h` also break C aliasing rules here and in many other places, but they "have to" for performance and this is hopefully still hidden from the compiler by translation unit boundaries (to break with LTO).

[2020-11-19 20:06] magnumripper opened #4472 "Rule reject flag -u should not reject for --enc=raw"
doc/RULES
[code]
When running `-enc:raw`, the `-u` flag should *not* reject but `-U` should. It seems both of them are rejecting in that situation.

[2020-11-19 20:45] solardiz commented on #4472
Shouldn't `-enc=raw` mean no specific character encoding mode, so neither flag rejects? It certainly feels counter-intuitive to me that a flag documented to reject "in UTF-8 mode" would do so in raw mode.

[2020-11-19 20:46] magnumripper commented on #4472
I force-pushed some fixes to the docs while you wrote that :-)
[code]

[2020-11-19 20:48] magnumripper commented on #4472
We really need `-U` to reject in raw mode, because a rule like `sRЯ` wouldn't be translated to anything single-byte so the rule would fail with an error.

[2020-11-19 22:23] solardiz commented on #4468
Reported upstream, the immediate issue fixed, all tests pass with GCC 10.2.0 on that box now. I'll close this issue now, even though there are still other problematic-looking pieces of inline asm in that file, possibly affecting some (future) builds on some architectures.

[2020-11-19 22:23] #4468 closed, assigned to nobody

[2020-11-20 00:01] #4472 closed, assigned to magnumripper

[2020-11-20 13:14] magnumripper opened #4474 "Add option(s) for inserting no-op rule if not already present"
https://github.com/openwall/john/pull/4466#issuecomment-731159608
*With no nop in these rules I'd want `--rules-add-nop` as well, and/or some config option like `StackedRulesAutoNOP = <bool>` for synthetically adding it* [when not already there]

The config option is "least bloat" in that it doesn't eat any of our precious options flags, but I can see (different) needs for both options.

[2020-11-20 15:45] magnumripper opened #4477 "Review global limit of PLAINTEXT_LENGTH for cache-line fitness"
From some PR discussion (context is `PLAINTEXT_LENGTH`)
@solardiz: *Maybe we should bump up that global limit to 127, requiring 130-byte buffers somewhere else, but exactly 128 bytes per key buffer in formats to fit caches better (when all tested passwords are short, we'd fully skip the cache lines corresponding to the second halves of those buffers, then).*

*Edit: I think we should also look int

[2020-11-20 16:45] solardiz commented on #4477
This involves non-trivial tradeoffs:

Making `PLAINTEXT_LENGTH + 1` a multiple of cache line size and aligning to cache lines helps avoid wasting cache lines and transferring them to more CPUs.

OTOH:

If we skip every other cache line in the common case of having only short candidate passwords, then we exhaust the cache associativity for addresses that we do use at merely 1/2 the cache size.

If

[2020-11-20 17:46] #4269 closed, assigned to magnumripper

[2020-11-21 11:45] magnumripper commented on #4115
While it's a bit optimistic to use more ranges/placeholders than PLAINTEXT_LENGTH, we should obviously bail with an error instead of crash.

[2020-11-21 11:46] magnumripper commented on #4114
IIRC it's not supported, by design. We should bail with error.

[2020-11-21 15:00] magnumripper opened #4480 "Config option override"
Just brainstorming again, on the subject of options flags starvation and other things.

How about adding an option `--config-option=[[SECTION:]OPTION=VALUE[, ...]]` that itself doesn't need any flag (we'd use `FLG_ZERO` which is actually 0, because we handle OPT_REQ_PARAM cleverly in Jumbo).

`options.c` would just prepare a `struct list_main *cfg-cli` with any options given. `config.c` would proc

[2020-11-21 15:03] magnumripper commented on #4480
Finding a long-term solution for #4087 would be nicer though.

[2020-11-21 15:08] magnumripper commented on #4087
We could also want to find some canonical way for `options.c` to add support for boolean options with a (possibly not yet known) default, as in `--keep-guessing` vs. `--no-keep-guessing` which is sort of a three-state: True, False or Not given (meaning we should default to the format's `FMT_NOT_EXACT` flag in that case - but the state of it isn't known yet when we process config and options...)

[2020-11-21 15:33] solardiz commented on #4480
I think this and #4087 are mostly orthogonal. OpenSSH's `ssh` has `-o` for what you describe here even though it doesn't have the equivalent of our option flag bits problem.

[2020-11-21 15:46] magnumripper commented on #4087
Hmm I think I can visualize how to implement it by eg. introducing a new `OPT_THREESTATE` flag.

New style could be defined something like this:
[code]
This would mean:
1. The `OPT_THREESTATE` would let `options.c` know that you can either say `--keep-guessing` or `--no-keep-guessing` so no extra definition line for the latter.
2. The variable would be set by `options.c` accordingly, to eg. `1` or

[2020-11-21 15:59] solardiz commented on #4087
I like your three-state options idea. It has many advantages at once, including simplifying the options list definition.

Alternatives to that would be going for 2x `uint64_t` flag fields (and then calling the constants `FLG1_...` or `FLG2_...` accordingly and using them in the right places), or ditching the notion of flags (and handling detection of option incompatibility only with explicit `if`

[2020-11-21 21:59] solardiz opened #4481 "Misreported c/s and C/s at high speeds"
It looks like running `nt-opencl` with mask on Vega 64 overflows some math leading to incorrect c/s and C/s figures:

[code]

I think the p/s figures are correct, and all are correct for the NVIDIA devices, but the c/s and C/s for the Vega are way off.

[2020-11-22 08:45] JohnCassavetes commented on #4467
Yeah!

A lot of the time, the `LICENSE` is usually shown like so
![Bootstrap](https://user-images.githubusercontent.com/66259053/99899117-4f9ac300-2cd9-11eb-8823-6512b0225322.jpg)

I was wondering if this repo could also do the same by adding it and displaying it at the top, so it will look highlighted
![john](https://user-images.githubusercontent.com/66259053/99899136-7527cc80-2cd9-11eb-8e01-0a2c

[2020-11-22 11:58] magnumripper opened #4483 "Add a FMT_FALSE companying FMT_NOT_EXACT"
There are two types of formats that can emit several candidates for one same hash: One example is CRC32, where each crack is correct so they're not *false* positives - any of them is correct. An example of the other type is DMG (at least in older code) which could emit actual false candidates - they will not work for opening that DMG file!

Current code has only the *false positive* formats settin

[2020-11-22 13:47] magnumripper commented on #4483
After implementing this, we could have FMT_FALSE formats (like old DMG) default to keep trying (like they do now) but print a notice about `--no-keep-trying`.
For FMT_NOT_EXACT (like CRC32) we should probably default to not keep trying (like we do now) but conversely print a hint about `--keep-trying`.

[2020-11-22 13:57] magnumripper commented on #4483
We might (then) also want to refactor FMT_NOT_EXACT to something less confusing, such as FMT_HAS_COLLISIONS

[2020-11-22 14:21] magnumripper commented on #4483
Formats with actual collsions, off the top of my head: CRC-32, oldoffice (RC4 key truncated to 40 bits), perhaps BFEgg (some weirdness with repeated patterns). I'm pretty sure there are more (but we could want to agree upon [and add a comment in `formats.h`] at what threshold we'd set the flag - perhaps <= 48 bits or so?).

[2020-11-22 14:34] magnumripper commented on #4483
Also, Hashcat has a "collider mode" for PDF versions 1.1-1.3, not sure if we support them or whether it applies to this context.

Edit: It seems we do, `$pdf$1*2*40*(...)` is also 40-bit RC4

[2020-11-22 17:08] solardiz commented on #4483
I'm not convinced we need to change anything, but if we introduce an `FMT_FALSE` like you describe (or maybe `FMT_HAS_FALSE_POSITIVES`?), then the other flag should in fact be called `FMT_HAS_COLLISIONS`.

Speaking of collisions, there are also related issues with 7-bitness and truncation. We already have separate flags for those, but I imagine there could be weird cases where one would want to se

[2020-11-23 12:29] magnumripper commented on #4087
This issue will history

[2020-11-23 12:29] #4087 closed, assigned to nobody

[2020-11-24 11:23] buzzdeee commented on #1990
I've the same problem, with legacy buidl on OpenBSD:

john --list=build-info
Version: 1.9.0-jumbo-1
Build: openbsd-x86-64
SIMD: SSE2, interleaving: MD4:4 MD5:5 SHA1:2 SHA256:1 SHA512:1
System-wide exec: /usr/libexec/john
System-wide home: /etc/john
Private home: ~/.john
$JOHN is /etc/john/
Format interface version: 14
Max. number of reported tunable costs: 4
Rec file version: REC4
Charset file ver

[2020-11-24 12:19] solardiz commented on #1990
We should probably look into and fix the SIP format's issue.

@buzzdeee That said, why are you using a legacy build on OpenBSD? I'd expect `./configure && make` to work on OpenBSD, doesn't it?

[2020-11-24 12:52] solardiz commented on #1990
Reproduced in a `make -f Makefile.legacy linux-x86-64-clang` build:

[code]

This fixes it:

[code]

[2020-11-24 13:00] solardiz commented on #3917
BTW, this provides some speedup for formats that copy contexts, such as SIP (as reminded by #1990), EIGRP, HSRP, tacacs-plus:

[code]

We should probably make this change along with the update, or make sure it's preserved through the update if we make it separately. Ditto for MD4.

[2020-11-24 13:11] solardiz commented on #1990
I identified 3 other formats that copy MD5 contexts: EIGRP, HSRP, and tacacs-plus. However, per code review these do not have the same issue. 2 of them do keep the MD5 context inside their salt structures, but they zeroize the structure and then `MD5_Init` the context right inside the structure, not via a `memcpy`.

[2020-11-24 14:15] #1990 closed

[2020-11-24 14:45] buzzdeee commented on #1990
The current ports tree is at john-jumbo 1.8.0-1, and that uses the legacy build to create the package:
https://cvsweb.openbsd.org/ports/security/john-jumbo/
The Makefile is a bit messy. With the 1.8.0-1 all tests pass.

After reading the issue here, I actually tried configure && gmake however, that's why I then commented here.
Now tried to reproduce, and linking just works. maybe I had some other

[2020-11-24 15:01] solardiz opened #4487 "Reconsider OpenMP autotune"
I don't understand the uses of `min_keys_per_crypt` (why min and not max) in `omp_autotune.c` when running 1 thread. This actually hurts:

[code]

As you can see, 1 thread's speed is ~8x lower than 2 threads. It was supposed to be only under 2x lower. Indeed, this can be worked around:

[code]

While we could also work around it by setting a higher `min_keys_per_crypt` in the format, that's not wh

[2020-11-24 15:12] solardiz commented on #1990
@buzzdeee Thanks. Is this with our latest code from this repo?

We don't recommend overriding `CFLAGS` as that drops our optimization options. You should probably use `CPPFLAGS` instead.

The `eapmd5tojohn.c` build errors suggest incompatibility of our code in there with the version of libpcap you have on the system. We should probably introduce some `#ifdef` logic in there to exclude the function

[2020-11-24 15:22] solardiz commented on #1990
I just took care of this myself, it's #4488 now.

[2020-11-24 15:34] buzzdeee commented on #1990
the meset patch makes all tests pass in legacy build mode:
All 705 formats passed self-tests!

[2020-11-24 15:44] solardiz commented on #1990
@buzzdeee What "meset patch"? Also, perhaps your build somehow fails to read its `john.conf`. There should be a little over 400 formats tested with our default settings.

[2020-11-24 16:17] solardiz commented on #4487
In fact, why are we running OMP autotune for 1 thread? Does it even make sense? If we intend to tune the equivalent of `OMP_SCALE` only, then we should only do that for 2+ threads, because we don't use `OMP_SCALE` when running 1 thread.

Right now, OMP autotune effectively tries to override `max_keys_per_crypt` based on `min_keys_per_crypt` and some (flawed) logic. This has nothing to do with OMP,

[2020-11-24 16:25] magnumripper commented on #4487
The autotune for non-OMP (or single-thread) is supposed to tweak MAX_KEYS_PER_CRYPT. The logic might be flawed though (and your suggestions sound sensible to me).

[2020-11-24 16:52] buzzdeee commented on #1990
sorry, typo, just wanted to confirm, the added memset in the sip_fmt_plug.c works for me.

I'm currently with the latest release 1.9.0-jumbo-1

I'll see to find a clean system for testing, then I'll look at current code regarding the skey test, and the number of tests.

[2020-11-24 17:01] magnumripper commented on #4111
"Fully" would end up with us having zero words... Do you mean from login field, or what? Or maybe you mean the word splitting, like taking the first character of gecos and use as a word of its own (the "q" ripped from "qwe,567"), and things like that. We can probably add means to disable that (or perhaps optionally only allow it up to a single batch of keys, somehow).

We have SingleSkipLogin, per

[2020-11-24 18:39] solardiz commented on #4487
OTOH, if we tweak `max_keys_per_crypt` based solely on `min_keys_per_crypt` and timings when running 1 thread, then maybe we should do the same when running 2+ threads? That is, not ever use the original value of `max_keys_per_crypt` at all when we're auto-tuning, regardless of the number of threads. It feels inconsistent and wrong to base tuning on `min_keys_per_crypt` when running 1 thread, but

[2020-11-24 18:42] solardiz commented on #4487
As expected, the first issue I reported here is also reproducible on x86-64 with `-tune=auto`:

[code]

[2020-11-24 19:00] solardiz commented on #4487
Notice how the final and only autotune step duration is always exactly 1 second in these runs. That's with our default `AutoTuneSampleTime` at 10 ms and `AutoTuneMaxDuration` at 100 ms. Weird, right? In the code, we have:

[code]

[code]

However:

[code]

So we somehow expect sub-second precision from a function returning the number of seconds as an integer?!

[2020-11-24 19:05] solardiz commented on #4487
In other words, 7c4ac6c89d77b75818fb09f0c5a3d4ab60b68212 aiming at #3991 broke OMP autotune, and we didn't notice for a year. Ouch.

[2020-11-24 19:10] solardiz commented on #4487
A related minor issue is `AutoTuneMaxDuration` is documented as applying to one `crypt_all()` call:

[code]

but the code applies it to a loop making possibly many calls until `AutoTuneSampleTime` is exceeded. With some combination of these settings, it is realistic that both would be exceeded only when we're making more than one call. We should probably adjust the documentation to talk about e.g.

[2020-11-24 19:18] solardiz opened #4489 "OpenMP autotune broken by hires timer rework"
This is to track the bug I've just described in: https://github.com/openwall/john/issues/4487#issuecomment-733172500

7c4ac6c89d77b75818fb09f0c5a3d4ab60b68212 aiming at #3991 broke OMP autotune, and we didn't notice for a year. Ouch.

[2020-11-24 19:21] solardiz commented on #4489
Should we simply revert 7c4ac6c89d77b75818fb09f0c5a3d4ab60b68212 or should we implement other changes required to match that commit?

[2020-11-24 19:31] solardiz commented on #1990
@buzzdeee I'd appreciate it if you also review the patches in the OpenBSD port for relevance to our current code, and send us PR(s) accordingly. At a glance, perhaps at least the patches having to do with `getopt()` return value type are still relevant. Thanks!

[2020-11-24 21:59] magnumripper commented on #4489
Ouch. I recall I planned a lot more work with the shared timer code, but it faded away. I'll try to revisit this ASAP.

[2020-11-27 15:45] magnumripper opened #4492 "PBKDF2 formats: Support output dkLen other than multiples of native hash size (even shorter than it)"
https://www.openwall.com/lists/john-users/2020/11/27/9

Since our current formats seem to be buggy (they accept such hashes but fails to crack them), this is fairly high prio.

I picture we could accept any length of input hash, down to say 48 bits. Should be trivial to implement.

[2020-11-27 15:47] magnumripper commented on #4492
PBKDF2-HMAC-SHA1 has a test vector of `$pbkdf2-hmac-sha1$1000.fd11cde0.27de197171e6d49fc5f55c9ef06c0d8751cd7250` with password "3956". I tried simply dropping the last few bytes from it - it was still accepted but failed to crack. Prefered behavior is accept, crack, write full hash to pot.

[2020-11-27 16:32] magnumripper commented on #4487
While #4489 is fixed, we should still review the OMP auto-tune. Many clever things are done with OpenCL auto-tune - although not always with nice & clean code. We should review them both and try to make them use much the same code path where applicable (such as for tuning to loaded cost, or not, and so on).

[2020-11-27 22:26] #4489 closed, assigned to magnumripper

[2020-11-28 00:16] magnumripper commented on #4483
For that very issue, the canonical solution is definitely to store 7-bit passwords in the pot file for 7-bit formats no matter what cracked it. Specifically, it could **show** like
[code]
while cracking, even though the pot entry would be `bvse` (assuming 8859-1).

I recall you opted against this at some point in time. And I agree it would be confusing once some clueless user runs `--show` and don

[2020-11-28 00:18] magnumripper commented on #4483
Another issue for contests (but only contests, me thinks) might be that we **always** store an 8-bit NT password as UTF-8, no matter how we cracked it. At least with current defaults IIRC.

This applies to any format having `FMT_UNICODE` flag set.

[2020-11-28 00:29] magnumripper commented on #4481
We might find a way to bodge-fix this but I think the canonical solution is to start using `uint64_t` where needed, instead of using `int` and later treating it as `unsigned int` - which might not always be enough and I reckon that's the case here.

Edit: Given `crypt_all()` can return `-1` (or did I dream that?) we might need `int64_t`

[2020-11-28 00:38] magnumripper commented on #4480
Thinking loud,
I'm pretty sure this can be implemented with very little code, given we find exactly where to put it. When Jim implemented `.include` and similar gems (not to mention command-line rules!), I think I recall the patches were tiny compared to what I would have expected.

The option would be `OPT_FMT_ADD_LIST_MULTI`. We'd have a single list to look at right after loading the very last o

[2020-11-28 00:51] magnumripper commented on #4474
I'm now picturing both (not quite same) options:

- config option `StackedRulesAutoNOP = Y` would insert a nop rule *only* on the `--rules-stack` side of running "rules x rules" - and only if none already present (well a dupe one would be dropped by the dupe checks in the optimizer anyway).

- command-line option `--rules-add-nop` would insert a nop rule to each/any "side" of rules or "rules x rul

[2020-11-28 01:05] magnumripper commented on #4459
My vague idea is to start with the above, add all --single-foobar options right after --single (sorted, but after) and so on, then ending up with a LOT of stray options not quite attached to anything else. Those stray options we could want to simply sort by name. Then (always) end with --format.

Things like --stress-test or --test-full should obviously go right after --test. Even the --no-mask op

[2020-11-28 11:23] magnumripper commented on #3991
9e3122ab reverted `sTimer_GetSecs()` to return `double`. We'll add a nanosec function such as `uint64_t sTimer_GetNano()` if/when needed.

[2020-11-28 12:33] magnumripper commented on #3989
PoC patch
[code]

[2020-11-28 12:40] magnumripper commented on #3989
If we implement this at all, we probably need to re-write the option going to the session file, so `--fork-unless-omp=N` either turns into `--fork=N` or gets removed completely.

[2020-11-29 15:37] magnumripper commented on #4436
I see now not all parts of core (but most) support a NULL return from `prepare()`. I suggest we document that as being not only valid but the right thing to do whenever `prepare` had enough peek of the input to be able to tell already.

These seem to be the only missing pieces:
[code]

[2020-11-29 19:25] adamjk-dev opened #4496 "7z2john.pl issue undefined value as a HASH reference"
### Error Message ###
──(kali㉿kali)-[~]
└─$ /usr/share/john/7z2john.pl /mnt/shared/archive.7z
DEBUG: number_coders: 2, codec_id:
Can't use an undefined value as a HASH reference at /usr/share/john/7z2john.pl line 1384.
codec_id is:

### Steps to reproduce ###
Latest kali Linux downloaded today and tested.
Was trying to get the hash out of an old 7-ZIP archive.

7-Zip details:
* When I test the 7zi

[2020-11-29 19:27] solardiz commented on #4496
@adamjk-dev Please try to reproduce this issue using the latest script from this repo. We're not very interested in an issue that we might have already fixed (but still exists in a distro). Thanks!

[2020-11-29 19:31] adamjk-dev commented on #4496
Sure thing, looks like same result, but different line number:

[code]

[2020-11-29 19:49] solardiz commented on #4496
Thanks. Are you able to create an archive that also triggers the issue but has non-sensitive content, so that you'd share it with us?

[2020-11-29 20:08] adamjk-dev commented on #4496
@solardiz Unknown at the moment. I think this is an old archive. I imagine it would have to be attempted to create a 7-Zip archive with version 0.3 etc. with the old encodings etc. I don't have a way to reproduce an archive at the moment.

[2020-11-30 01:38] magnumripper commented on #4496
All our samples show as "version 0.3" or "version 0.2" with file(1).

Perhaps `Solid = +` is the problem? Neither 7z2john or our formats has anything matching `grep -i solid`. Heads-up to @philsmd - our upstream is https://github.com/philsmd/7z2hashcat

[2020-11-30 01:46] magnumripper commented on #4496
I tried creating a solid archive (using `-ms=on`) and it was listed by file(1) as version 0.4. `7z2john.pl` had no problem with it, and our formats could crack it.

[2020-11-30 01:52] magnumripper commented on #4496
There's nothing of the above we don't support.

[2020-11-30 02:21] adamjk-dev commented on #4496
Interesting, same result on that script as well...

[code]

At this point, do we consider debugging output statements or an enhanced logging level?

[2020-11-30 02:56] adamjk-dev commented on #4496
I ran the Perl debugger and set a breakpoint on line 1431 and dumped some variables (output was too long to include, but below is some of the last output):

[code]

[2020-11-30 09:48] magnumripper commented on #4496
So at that time, is `$coders_idx` 0 or 1?

[2020-11-30 09:56] magnumripper commented on #4496
Given that debug output I can't see how it ends up with this error. The loop at line 1431 should go from 0 through 1, as we saw `number_coders` at 2. We've also seen the `coders` array having everything defined that should be needed.

In short, I don't get it!

[2020-11-30 09:58] magnumripper commented on #4496
I would try this: Edit line 113 and set `$ANALYZE_ALL_STREAMS_TO_FIND_SHORTEST_DATA_BUF` to 0, then try again (using 7z2john,pl, not 7z2hashcat.pl). Does it happen to end up better?

[2020-11-30 10:01] magnumripper commented on #4496
Also, try `7z -slt l /mnt/shared/archive.7z` and post the full output (unless it's very long). You can redact some data such as file names if needed.

[2020-11-30 12:40] adamjk-dev commented on #4496
So, setting `$ANALYZE_ALL_STREAMS_TO_FIND_SHORTEST_DATA_BUF = 0` allowed it to run.

Hashcat doesn't like it as is, but I will try running it in JTR I presume.
[code]

JTR aborted it seems:
[code]

The size of the hash file is 2433542 bytes.

[2020-11-30 12:45] solardiz commented on #4496
JtR only prints "Session aborted" when it thinks you asked it to stop by pressing `q` or Ctrl-C or by sending it a signal. This must be unrelated to file contents.

[2020-11-30 12:47] adamjk-dev commented on #4496
Makes sense, I am running it again now. Not sure why hashcat hates it, but am trying JtR. Either way, you have both been super helpful and setting that variable did seem to let it through to create some hashes to work with it looks like. Have to try working with these.

[2020-11-30 12:52] solardiz commented on #4496
I am also puzzled by the discrepancy between "AMD Ryzen 5 1600 Six-Core Processor" and "4 threads". Are you perhaps running this in a VM configured to only have 4 vCPUs?

For your actual use, I recommend that you build the latest code from this repo, not use Kali's older version. @magnumripper made many improvements to the 7z format since the 1.9.0-jumbo-1 release, some of those include support fo

[2020-11-30 13:04] adamjk-dev commented on #4496
Correct, a VM as stated with 4 vCPU. Indeed, I may need to port over to main machine etc. and let it crank there.

Good idea, I need to look into that.

Indeed, yeah I am not sure, I can try to go back and debug more too and see which loop iteration it failed etc. I am not particularly good in the Perl debugger, but can play around and see what was an invalid reference I would hope.

[2020-11-30 16:25] magnumripper commented on #4496
The `Cost 2 (padding size) is 0` isn't optimal - a padding size of at least 1 may boost your speed significantly. With some luck it would have been larger with `$ANALYZE_ALL_STREAMS_TO_FIND_SHORTEST_DATA_BUF` set to 1 as default.

If you feel like hacking about, you could try to let it find shorter streams but somehow test/skip whatever stream is failing.

BTW, a `7z -slt l /mnt/shared/archive.7z`

[2020-11-30 17:24] magnumripper commented on #4496
Perhaps try this diff and see if it can get past the culprit
[code]

[2020-11-30 17:45] adamjk-dev commented on #4496
Here is the output from the uniq on Method:

[code]

There are a lot of results (files within), so the output of the other call is quite large indeed.

[2020-11-30 17:53] adamjk-dev commented on #4496
For trying your patch code (and setting back the original variable -- ANALYZE_ALL_STREAMS_TO_FIND_SHORTEST_DATA_BUF -- to 1):
[code]

So, it did output a much smaller hash this time if that is expected.

[2020-11-30 17:59] magnumripper commented on #4496
The `Method = ` last line looks like the culprit...

Perhaps this fix is enough
[code]

[2020-11-30 18:00] magnumripper commented on #4496
Great, let's hope it has at least a little padding too :-)

[2020-11-30 18:03] adamjk-dev commented on #4496
Yep, same result for that patch code obviously. Any comment on the smaller hash result?

When we set that variable to 1 my hash size was 2433542 bytes vs. this one which is 477 bytes long.

Sorry, side question, for running against JtR, we don't need to remove the first couple of characters from the resultant hash for the file name, correct? Just run the result of this script against JtR as is?

[2020-11-30 18:13] magnumripper commented on #4496
Smaller is faster to attack, and if we also got a padding size > 0 it will be even faster!

Yessir, it will even try to make some guesses from the file name if you keep it and run single (or batch) mode.

[2020-11-30 18:15] adamjk-dev commented on #4496
Okay, thanks again for the input and special attention, always a great thing to see. I am going to see if JtR can crack this smaller hash I just go out of it (the 477 bytes).

If you need me to do any more debugging etc. I can to help with any potential code changes you might make. Or, perhaps you are happy with the extra check we just tested and you suggested on the patch commands.

[2020-12-01 09:39] magnumripper commented on #4437
I'm reviewing this issue again.

A rule like `sgğ` can't be represented in CP1252 so current code will convert it to `sg` which will fail. Detecting such failure and refraining from conversion doesn't help because the original multibyte sequence will fail as well. So we have to reject the rule when detecting a failed conversion.

Conversion must happen before `rpp` because otherwise things like `$

[2020-12-02 02:24] magnumripper commented on #4487
I can't context-switch my overbooked brain into this issue yet, but IIRC the reasoning was something like this:
- min_keys is used as base for single-thread tuning because it's often the vector size of SIMD formats, or some otherwise minimum factor. Using smaller would not make sense.
- max_keys is used as base for OpenMP tuning because that's what we always did manually (bumped an OMP_SCALE, as b

[2020-12-02 02:34] magnumripper commented on #4462
It's all printable ASCII (or even just a Base-64 character set) when un-hexing it, that's normally not a good sign... And none of the test vectors we have are like that.

[code]

[2020-12-02 03:18] magnumripper commented on #4462
@tmoklc this tiny change seems to do the trick for your key file:
[code]
I get a whole different v1 hash than the one you posted and it doesn't have that "printable ASCII" property.

I have no idea if we should commit that change or not though.

[2020-12-02 03:33] magnumripper commented on #4462
This should be a proper patch (at least more proper than current code) but I have no v2 wallets to try with:
[code]
I believe that code would always end up with `version = 2` as it was 🙃 .  I took the negative test from v2 and turned into the positive test for v1.

Not sure what the try/catch was even supposed to protect!? And that `"Salted__"` string required a b as in `b"Salted__"` but that may

[2020-12-03 18:52] #4437 closed, assigned to magnumripper

[2020-12-04 14:14] tmoklc commented on #4462
I can confirm this works. Tested with the following hash created with the updated multibit2john.py code using a key generated from Multibit Classic:

`$multibit$1*14f003aace45719b*fd6ab98076b01563dcaf0e229f353b1fc02c1c8cc05acc137a83c35122886a01`

The password is `a` and I succesfully cracked it using simple attack.

Thank you @magnumripper

[2020-12-04 14:54] solardiz commented on #4462
Thank you, @tmoklc. Can you please add this sample (the original file, not just the script's output) via a pull request to https://github.com/openwall/john-samples?

[2020-12-04 15:44] solardiz opened #4502 "Allow some options along with --restore"
Previously, (at least) `--lws`, `--gws`, and `--verbosity` were accepted and made sense along with `--restore`. After the recent changes, these are not allowed. We should allow them again. We should also test the behavior of this combination of options - do they override their counterparts possibly recorded in the `.rec` file? They should.

On a related note, maybe eventually `--verbosity` should

[2020-12-04 17:57] magnumripper commented on #4502
Wow, I never thought ~the lws/gws~ any of those options actually *worked* with restore, I assumed they were silently disregarded (which would be a bug so I fixed it >.<)

What if the original session also had the explicit options? Would the new ones still override them? Should we warn? What would/should the new session files have in them? Oh, you already touched those issues. I can smell a foot-gu

[2020-12-04 18:16] magnumripper opened #4503 ""pot sync" not mentioned in docs"
I just saw this
[code]
We should probably rewrite this, and/or mention pot sync somewhere.

[2020-12-04 18:21] magnumripper commented on #4496
@adamjk-dev did you see better speed now? I think you should. Also, if you ever crack it please report here. While I'm pretty confident the fix is correct it's always nice to have it confirmed.

[2020-12-04 18:28] ghost opened #4504 "Telegram-opencl segfault"
Upstream Travis CI tests are failing now:

https://travis-ci.org/github/claudioandre-br/JohnTheRipper/jobs/747623883
https://travis-ci.org/github/claudioandre-br/JohnTheRipper/jobs/747623884

In short, I'm testing:

Commits on Nov 29, 2020
@davidegirardi
Add support for RACF RVARY command password hashes (openwall#4494)
9dc3333
Commits on Dec 01, 2020
@magnumripper
@solardiz
Telegram CPU format: S

[2020-12-04 18:31] magnumripper commented on #4504
Wow, a segfault... what did I do now.

[2020-12-04 18:48] magnumripper commented on #4504
Our HPC thingy apparently committed suicide when testing on RX Vega

[2020-12-04 18:58] magnumripper commented on #4504
Up again. Trying the other devices, dev=2 (Intel OpenCL 1.2) segfaulted. Cancelled the MIC after a couple minutes of nothing. All nvidia cards errored with "OpenCL CL_OUT_OF_RESOURCES (-5) error in opencl_telegram_fmt_plug.c:305 - Copy result back"

I seem to have a bad hair day. The telegram-opencl format almost wasn't touched in that commit!

[2020-12-04 19:02] adamjk-dev commented on #4496
@magnumripper Thanks for checking in, still running it in that silly VM, so speeds aren't great (also running hashcat and JtR against it in 2 tabs on 4 vCPUs). So, it is still cranking haha, around 54% on each. I will let you know for sure. I may need to customize a ruleset or not run a wordlist etc., we shall see. I messed around installing it on Cygwin on my machine but hit some issues (likely o

[2020-12-04 19:08] magnumripper commented on #4504
OK, here a thing that seems to have fallen off that commit
[code]
Not sure how it could pass bots?!

[2020-12-04 19:13] magnumripper commented on #4504
With that fixed, it still fails on every single device I've tried so far (but doesn't segfault).

Going back to `237ad4095^` everything's dandy. My bad - I just need to understand what the heck I did??

[2020-12-04 20:28] solardiz commented on #4496
@adamjk-dev This is kind of off-topic, but FYI both OpenMP and OpenCL assume an otherwise-idle system, and start wasting time on busy-waits when there's other load, even very slight. So running two crackers at once each thinking it has 4 vCPUs all to itself isn't a good idea, and it's hard to tell how much CPU is actually being used for computation rather than for busy-waits on thread synchronizat

[2020-12-04 22:09] solardiz commented on #4502
There are many ways how LWS/GWS can change on a restore: auto-detection ending up differently, LWS/GWS environment variables set (BTW, I think the command-line options should take priority over those), and finally the command-line options given along with `--restore` (if we reintroduce such support). So there are some experiments we need to run and some decisions we need to make _anyway_.

I was a

[2020-12-04 22:12] solardiz opened #4505 "Fix salt resume comments in recovery.c to be consistent with cracker.c"
I was concerned about possible GWS changes vs. salt resume, but it turns out we had already discussed this and Jim had already fixed it in bf86655abaacb54f5654efb07dba403cd8147ffa (later cleaned up by magnum in c1d7a2f31fae4189ad172b0c2d9861f47b591bc1). Reviewing this, I notice Jim's original commit had inconsistent comments in `recovery.c` (claiming we "just start from salt zero" if `max_keys_per

[2020-12-04 22:39] solardiz commented on #4504
You try to exclude the version 2 test vectors from the OpenCL format by:

[code]

but they're actually defined in `telegram_common_plug.c`, which is compiled just once for both formats.

[2020-12-04 22:45] solardiz commented on #4504
I suggest that instead you simply drop the `version` field from `telegram_salt` on host. You currently leave it uninitialized anyway (you'd do that in `opencl_telegram_fmt_plug.c: set_salt()`, but rather than fix that I think it's cleaner not to have the field until we need it).

Also, I suggest that you fix `encrypted_blob_length` to be `uint32_t` just like it is on host.

[2020-12-04 23:58] ghost commented on #4504
There are no bots testing for OpenCL.

[2020-12-05 11:36] piotrdylag opened #4506 "No zip2john"
Hi,

I don't see zip2john file in run folder. How I can run this? In src I see zip2john.c. So how I can run this?

[2020-12-05 11:46] solardiz commented on #4506
Hi @piotrdylag. Obviously, when you obtain JtR in source code form, you need to build it before you can use it. Until you do, you don't have not only `zip2john` and such, but also the main `john` program. We have some `doc/INSTALL*` files giving build instructions, but in general the usual `./configure && make -sj4` or such (when in the `src` directory) works for our project.

Our use of GitHub is

[2020-12-05 11:46] #4506 closed, assigned to nobody

[2020-12-05 11:53] solardiz commented on #4504
I've just submitted a support request with Travis CI asking for an "OSS allotment" as they had advised in https://blog.travis-ci.com/2020-11-02-travis-ci-new-billing

Without that, under the new billing they only gave us 10k credits once (just once, not any number of credits per month), and those ran out in mid-November.

[2020-12-05 11:57] piotrdylag commented on #4506
That works. Thanks

[2020-12-05 15:37] solardiz commented on #4502
I think yes.

Also, as I wrote in the (edited) previous comment, I think the command-line options should take priority over environment variables. However, .rec file contents should take priority over environment variables too, considering they come from previously used command-line options, which previously took priority over the environment. So this gives us these priorities:

Highest: command-l

[2020-12-05 15:46] solardiz commented on #4502
Testing with a build made around the 1.9.0-jumbo-1 release (should be same as the release in this respect), `--lws` and `--gws` do take effect when used with `--restore`, but only as long as the `.rec` file didn't have them (auto-detection was [edit: or environment variables were] used). When the `.rec` file has these options already, the old ones take priority and the new ones are silently ignore

[2020-12-06 12:42] #4505 closed, assigned to nobody

[2020-12-08 02:27] adamjk-dev commented on #4496
Appreciate it. My first runs on the VM didn't crack it via JtR and the rockyou wordlist, nor did hashcat on the same wordlist. I am running JtR on a full 8 cores on another machine by itself, no wordlist, and am trying some custom word lists etc. Just wanted to update, continuing to try.

[2020-12-08 14:32] solardiz opened #4511 "--mkpc doesn't affect log message"
While testing my changes in #4507, I discovered that while setting a low `--mkpc` reduces speed as expected, the log file message doesn't change. I think that's a bug. Indeed, the code logging that message does not consider this setting:

[code]

(BTW, we should also add braces around the bitwise AND expression.)

Looking for uses of `options.force_maxkeys`, I notice that we dare to patch `min_key

[2020-12-08 14:50] solardiz commented on #4477
BTW, we have some dependencies on the current maximum of 125 in external mode definitions in `john.conf`. If we change (especially increase) the maximum, we'll need to identify and revise those as well.

[2020-12-08 16:02] kernelr00ter commented on #1463
example:
hash md5                                                  salt       passwd
4297f44b13955235245b2497399d7a93   123         123

my_wordlist.txt
123

test:
./john --regen-lost-salts='@dynamic=md5($s.md5($p))@:32:?d?d?d-' --wordlist=my_wordlist.txt --format='dynamic=md5($s.md5($p))' test_salt_md5.txt

And nothing !

Why doesn't find anything ?

[2020-12-08 16:13] solardiz commented on #1463
@kernelr00ter You probably won't achieve anything useful, at least beyond what I wrote below, by posting what looks like an advanced user support request as a mostly-offtopic comment to a closed issue on GitHub.

That said, FWIW, your hash is a `md5($s.$p)`, not `md5($s.md5($p))`, and I have no idea what you mean to achieve by using ` --regen-lost-salts` here. You might want to join the john-users

[2020-12-08 16:19] solardiz commented on #1463
@kernelr00ter OK, you did achieve a bit more. This works:

[code]

Whether it's a good solution to your actual (unspecified) problem or not is a separate question, not for here.

[2020-12-08 17:07] magnumripper commented on #4511
I guess you are right, and that the current code is a result of fixes applied to bodges.

[2020-12-08 17:26] solardiz commented on #4511
Actually, it did - see #1167 and 0a87a0a818b4e1239e8306fa7e025bc1b2fc2076.

[2020-12-09 17:35] #4504 closed, assigned to magnumripper

[2020-12-09 20:47] #4462 closed, assigned to nobody

[2020-12-09 21:12] ghost opened #4514 "clang complains about constant logical operator"
Upstream Travis CI tests are failing now:

[code]

This is upstream, so, it is a bug (in code or in `-werror` usage). BTW: is it possible it should be `|`?

[2020-12-09 21:24] solardiz commented on #4514
Oops, indeed. That line is in #4512 and got past my review. :-(

Thank you, Claudio!

[2020-12-10 08:43] magnumripper commented on #4514
Oh my. Why didn't my compilers complain about it :-(

[2020-12-10 12:46] #4514 closed, assigned to magnumripper

[2020-12-10 13:35] kernelr00ter commented on #1463
I entered the hash incorrectly.
Your example worked great.
There was an error that I wanted to talk about.

We don't know in advance which hash is salted.
And if we accidentally put salted and regular hashes in one file.
Then, depending on the order of the hashes in the file, we get an error.
Example:
md5-raw                                               pass
c4ca4238a0b923820dcc509a6f75849b  1

m

[2020-12-10 13:43] magnumripper commented on #1463
Wow, looks like it actually finds "the salt", but with it being NULL it then dies, LOL. I'll open an issue for that (we abuse the issue tracker by writing here). Thank you for reporting!

[2020-12-10 13:44] solardiz opened #4517 "--regen-lost-salts NULL pointer dereference"
As reported by @kernelr00ter in https://github.com/openwall/john/issues/1463#issuecomment-742524567:

[code]

Reproduced by me:

[code]

[2020-12-10 13:47] magnumripper opened #4518 "--regen-lost-salts option segfault"
@kernelr00ter reported in https://github.com/openwall/john/issues/1463#issuecomment-742524567

[2020-12-10 13:48] magnumripper commented on #4518
#4517

[2020-12-10 13:48] #4518 closed, assigned to nobody

[2020-12-10 13:56] #4511 closed, assigned to nobody

[2020-12-10 16:37] magnumripper opened #4519 "Replace --fix-state-delay option with cracker logic"
I'd like to revisit this. The tests made in #1955 were bogus in several ways (I can elaborate on how, if it's not obvious. There are loads of foot-guns in such benchmarks). I simply can't fathom how the overhead given by the `--fix-state-delay` option would ever in any case be amortized by the alleged win.

`ftell()`, no matter how stupidly implemented, can't be anything other than dereferencing a

[2020-12-10 16:57] solardiz commented on #4519
It is unclear from what @jfoug posted there whether the wordlist was possibly being read from disk the first time but got cached the second time, but I'd expect Jim to know such things and have run the first benchmark a few times before posting.

Hopefully so, but even then unless it's a macro it's call into a relocatable shared library, which involves some overhead.

I think it does make sense fo

[2020-12-10 17:06] solardiz commented on #4519
Well, there's certainly more than that in Cygwin's/newlib's. There's locking, call into underlying `->seek()`, support for `ungetc()`. _Hopefully_, the linefeed conversions are not in `->seek()`, but I didn't look in there.

[2020-12-10 17:12] magnumripper commented on #4519
Seeing my old comment that this actually made sense for macOS before some commit, I'm trying to reproduce that and profile it.

[2020-12-10 17:33] magnumripper commented on #4519
OK, apparently a macOS call to `ftell` take just below 500 ns (although I had to disable mmap and index buffer to make it happen) which is somewhat crappy. Given how Microsoft seem focused to always perform worst I can extrapolate that Windows probably need a few microseconds to do the same.

Anything but the `ftell` was in the order of 20 ns.

I will experiment with some automagic stuff that depr

[2020-12-11 22:14] magnumripper commented on #4519
I believe using a moderate `timer_save_interval / 10` should be plenty enough (diminishing return).

Some benchmarks: Tests on macOS, which apparently also has a ridiculously slow `ftell()` although it's normally hidden by other features of wordlist, and by a larger KPC.

test.in is a single bogus NT hash, test.lst is 200 MB (~2.1M lines) wordlist already cached in FS.

### Crippled conditions (no

[2020-12-11 22:22] magnumripper commented on #4519
Here's the experimental patch (just the cracker part of it).
[code]

[2020-12-11 23:07] ghost commented on #4519
I would say a test on Windows will be interesting. I bet Jim run his tests using it.

[2020-12-12 11:19] magnumripper commented on #4519
I believe Windows builds have mmap though, even in Jim's special VC builds - and NT should have a KPC of 192 or so. I can't really understand how he ended up with such poor figures without disabling stuff like I did above in the "Crippled conditions" tests. Perhaps Windows store the file position in the cloud? 🤣

[2020-12-12 13:58] ghost opened #4521 "Confusing encodings error message"
[code]
[code]
I guess UTF-8 can be used only in some encoding options. Anyway, that is confusing for me, at least. Can we improve the message about supported encodings?

[2020-12-12 17:25] magnumripper commented on #4521
UTF-8 is an encoding but not a codepage. All the other supported encodings are also codepages (well, except ASCII/raw) and can be used with `--internal-codepage` to support non-ASCII characters.

In a similar message, we say eg. "Error: Can't use ?L placeholder without setting an 8-bit legacy codepage with --internal-codepage (UTF-8 is not a codepage)." Is that better?

[2020-12-12 17:29] ghost commented on #4521
Yes, It is better.

[2020-12-12 18:08] solardiz commented on #4519
@magnumripper What's in `sTimer_GetNano()`? We don't appear to have it yet, do we? I'm concerned it might be slower than some modes' `fix_state()` on some systems. It can become a problem similar to the original one with `ftell()`.

[2020-12-12 18:16] solardiz commented on #4519
BTW, see how `idle_yield()` avoids calling `times()` too often. Maybe something similar could be done here.

[2020-12-12 18:18] magnumripper opened #4523 "Mask mode sometimes require internal codepage for "no reason""
This error is unavoidable, because mask ranges and placeholders are byte oriented:
[code]

However, this one is definitely avoidable:
[code]
In the latter case, the multi-byte character is in the fixed part of the mask, so it's not actually a problem. The reason we bail with error anyway is it's slightly complicated to sort it out but it could definitely be fixed.

[2020-12-12 20:12] magnumripper commented on #4519
For these tests it was nearly identical to `sTimer_GetSecs` although using/returning `uint64_t` throughout, for nanoseconds instead of `double` for seconds. I'd like to simplify it but that requires some compatibility research. Jim's original code was dubbed "Portable hi-res timer" IIRC and I'd like not to break that although some of the fallbacks might be overkill?

Anyway for this use in cracker

[2020-12-12 20:16] magnumripper commented on #4519
Perhaps just capping the values, such as `microsecs & 0x3fff` would be good enough for tackling that in this application? (Edit: not 0x3fff but some sane figure and ensuring fixed_state_delay is never too large for it)

[2020-12-12 20:19] #4521 closed, assigned to nobody

[2020-12-12 20:21] magnumripper commented on #4519
Apparently POSIX obsoleted `gettimeofday` and recommends `clock_gettime` but anyway my point was to just use something sane without too much fallbacks (except perhaps with clever macros).

[2020-12-12 22:54] solardiz commented on #4519
Thinking of this some more, I really don't like having this in the shared cracker code and calling any system-provided timer function there. Most modes have fast `fix_state()`, so it's cheap enough and safer to just call it.

That said, out of the timer functions I still like `times()` best. It's portable and monotonic and provides sufficient precision for most of our uses (typically about 10ms).

[2020-12-13 19:19] magnumripper commented on #4519
How about just this:
[code]

And basically just this in cracker.c (first part is in `crk_init`):
[code]
This adds virtually nothing to cracker.

Edit: It should probably be renamed `event_fix_state_countdown` or something, better describing it's characteristic.

[2020-12-13 20:28] solardiz commented on #4519
I think this `event_fix_state` approach is the right one.

Nitpick: we may `event_fix_state_countdown--;` unconditionally and check for `<= 0` in cracker, which is one instruction anyway. This saves the extra read of this volatile variable in the signal handler.

... In fact, I think we don't need to calculate `fix_state_delay` and to have the countdown: we can simply be calling `fix_state()` once

[2020-12-14 00:53] wsandin commented on #4459
Bump - Just started to put in some work today as I'm getting more time for these things during the holidays. :-)

[2020-12-15 17:46] #4519 closed, assigned to nobody

[2020-12-16 16:39] blandyuk opened #4526 "FPGA Support for WPA/WPA2 and $bitcoin$ hashes"
It would be great if FPGA support could be added for the following algorithms:

WPA/WPA2
$bitcoin$
$ethereum$
RAR3-hp
RAR5

Thanks. Royce asked for WPA before I think :)

https://www.techsolvency.com/passwords/ztex/

[2020-12-17 10:13] magnumripper commented on #4487
I've started with this. Draft PR comes no sooner than #4524 is merged.

So I guess we could do something like the `two_salts` thing in bench, but using real db if available - and two worst salts, right? OpenCL autotune only use one (worst) salt, I'm pretty sure.

Edit: For a benchmark run, we should pick same (cost) salt(s) as will be used for the benchmark. They may be determined by benchmark_len

[2020-12-18 20:03] solardiz commented on #4526
Hi @blandyuk. Why this selection of algorithms, what FPGAs are you interested in having these on, and are you offering to contribute to that effort?

To me, this selection looks somewhat weird. These aren't expected to be competitive on ZTEX compared to modern GPUs. For some, you'll get the speeds of HD 7970. Some not even competitive to CPUs: Ethereum, for example, can be PBKDF2-HMAC-SHA256 (fine

[2020-12-18 20:12] solardiz commented on #4487
I'm afraid I've opened a can of worms, which I don't currently have time for - not only to work on it myself, but also to review the approach you might take and code you might write, @magnumripper. Now that we've fixed the timer issue and autotune works as previously intended, we could just leave it at that for a while - perhaps including the next release. Yet I also don't want to discourage you,

[2020-12-18 20:38] blandyuk commented on #4526
Hi solardiz,

Thanks for the explaination and that make a lot more sense with regards to some algos not being able to port over to FPGA due to memory and other limitations.

Reason for that algo selection is they come up often and are crippling slow on modern GPUs. I was hoping there might be some way to get more speed via FPGA like the bcrypt algo as the ztex 1.15y Rev2 boards are faster. I have

[2020-12-18 21:06] solardiz commented on #4526
Good to know you're playing with this. If you ever want to contribute to development and feel capable, let us know.

The ZTEX 2.x boards are indeed incompatible, and won't work with JtR. They're also not cost-effective, so we do not intend to add support for them. They didn't "combine the 4x chips into one chip". The new chips are, with new coding as you say, potentially about twice faster than th

[2020-12-19 13:58] blandyuk commented on #4526
Yes you can close this thanks. I've been looking into FPGA programming but would have to learn as mainly program in C#. I have worked with hashing algorithm source code so understand and also symmetric encryption.

[2020-12-19 14:34] solardiz commented on #2832
I'm closing this as non-reproducible. Who knows what it was. Could have been e.g. a libusb bug gone with a system update.

[2020-12-19 14:34] #2832 closed

[2020-12-19 14:46] #4526 closed, assigned to nobody

[2020-12-21 11:48] magnumripper commented on #4487
No problem, what I've done so far was mostly just moving set_salt/set_key/cmp_all into the loop and it didn't make a whole lot of difference since the "keygen" is so lightweight. I also just played with it a little back and forth and just like back then, I see this "sample loop" seems to be needed for formats as fast as eg. NT in order to get figures good enough for comparing even with a nanosecon

[2020-12-21 11:52] magnumripper commented on #4487
On second thought maybe some BLOB_FREE and dyna-salt-free stuff should be pushed. They are probably best defined as bugfixes. Not sure if the lack of them would cause much trouble but at least for an all-formats `--test` with autotune, it's a memory leak of some dignity.

[2020-12-21 12:03] solardiz commented on #3591
There are still some Python 2 style `print` statements in `DPAPImk2john.py`, `aix2john.py`, `ibmiscanner2john.py`, `keyring2john.py`, `mac2john.py`, `netscreen.py`, `ps_token2john.py`. I think we should change these to `sys.stdout.write` and test that the scripts work with both Python 2 and Python 3 then. Of course, there are likely more issues, so some scripts won't become Python 3 ready with onl

[2020-12-21 12:25] solardiz commented on #4278
It could make sense to have both a Perl and a Python version in case someone only has working Perl or Python. That said, I just also wrote the below in #3591:

For `aix2john.py`, we also have a Perl counterpart, and I'm not sure we should have introduced either: perhaps it's little-known, but our `unshadow` tool was meant to support AIX `/etc/security/passwd` - I implemented that in there back in

[2020-12-21 13:09] solardiz commented on #4368
The LM-opencl issue here is still reproducible on the GTX 570 with our latest code, but somehow the reported `get_hash[0](0)` or `get_hash[0](1)` mismatches are now 7 hex digits - that's even weirder than before because these are meant to be indices into the smallest hash table size we support. Also, over multiple runs the same values are sometimes seen on the left hand side and sometimes on the r

[2020-12-21 13:21] solardiz commented on #4368
Currently failing on GTX 570 are 7 formats listed in #4343, geli-opencl, and LM-opencl, for a total of 9:

[code]

Somehow `-v=5` causes this. Without that option, the values are 2 hex digits. It's this weirdness:

[code]

and in particular the inconsistency here:

[code]

We pass `size` into the `sprintf`, but use `maxi` as the actual index. Maybe we should have `maxi` in all of these places, alt

[2020-12-21 19:54] solardiz commented on #4368
Curiously, trying actual cracking with the LM-opencl format on GTX 570 fails differently (not with "FAILED" per self-test):

[code]

With `--skip-self-test`, it gets the same OpenCL failure, but no segfault - it just exits with code 1 after that point. Perhaps there's also an error handling bug there for us to fix if we care.

[2020-12-25 22:55] ndurand1 commented on #1660
There is a snap package "john-the-ripper" that installs the jumbo version 1.9. Also, make sure that your hash file includes a username followed by a colon (i.e. root:<hash>) so that john recognizes it as a password!

[2020-12-25 23:14] ghost commented on #1660
@ndurand1, since you edited your post, I guess you found what was missing in you input file (so JtR is now able to recognize it as a valid hash).

[2020-12-25 23:18] solardiz commented on #1660
@ndurand1 edited the comment to say: "make sure that your hash file includes a username followed by a colon (i.e. root:) so that john recognizes it as a password!"

While I'm happy that presumably things somehow worked, that addition of "username followed by a colon" thing shouldn't be necessary for non-ancient versions of JtR like 1.8 or 1.9 (specifically, it was only needed prior to 1.7.6), and

[2020-12-28 17:19] magnumripper opened #4529 "Some internal mask formats b0rken"
Problem seen with oldoffice-opencl. That format is based on some of Sayantan's formats (can't remember which right now) so it's very likely that template format and probably more formats (with internal mask) have the same problem. NT-opencl does not have this problem.

Bug introduced with 8bbd90f49. After that commit, kernel isn't rebuilt for the mask in use (the self-test kernel is re-used), so a

[2020-12-28 17:29] magnumripper commented on #4529
Just from looking at 8bbd90f, it looks like oldoffice might be the only format affected

[2020-12-28 18:54] ghost commented on #4529
I have `mask-mode` tests, but they were designed only for "my formats" (you need a test case, you have to tune to the format and device, etc). Like `-mask=[Pp][Aa@][Ss5][Ss5][Ww][Oo0][Rr][Dd]`, `-mask:admin?d -min-len=0 -max-len=10` or  `-w:word.lst -mask:?w?d?d?d`. I found them useful.

JtR needs more automated testing.

[2020-12-28 22:39] aiy2002 commented on #1660
@ndurand1 Where did you find the snap package?

[2020-12-28 23:03] ndurand1 commented on #1660
`snap info john-the-ripper`

[2020-12-28 23:04] ghost commented on #1660
If you are already using Ubuntu, just type `sudo snap install john-the-ripper` (or via Ubuntu Sofware). If you need to enable snap support in your distro, read https://github.com/openwall/john-packages#snap

* the package is in the official repo
![Captura de tela de 2020-12-28 20-01-59](https://user-images.githubusercontent.com/1702923/103247999-a6826080-4947-11eb-948d-58dce314fec0.png)

[2020-12-29 00:48] aiy2002 commented on #1660
After downloading John The Ripper through the Ubuntu Software store I set up a mysql root in Vim, and when I type the command john hashes ( hashes being what I named the vim file), I still receive the error "No password hashes loaded (see FAQ)." I'm not sure if it is still downloading an outdated file of JTR for some reason. @claudioandre-br

[2020-12-29 10:17] magnumripper commented on #1660
@aiy2002 what's the output of `which john`?

[2020-12-29 10:22] magnumripper commented on #4529
The TS "internal" tests put all test vectors in a file, and their passwords in a wordlist. I figure I could just `s/.$//` that wordlist to a second wordlist which will then lack the last character. This can then be used with `-w -mask:?w?a`. It wont test every aspect of mask mode but it would detect this problem.

[2020-12-29 11:10] solardiz commented on #1660
As @magnumripper guessed, the command `john` probably invokes another build of JtR, not what came from the snap package. To invoke the snap package's build, the command is `john-the-ripper`. See examples in:

https://github.com/openwall/john-packages#snap

Yes, this is weird. @claudioandre-br Can you come up with any way to make this more intuitive?

[2020-12-29 13:15] ghost commented on #1660
You can also use `john` to run the snap package (main) binary. In my machine `/snap/bin` is the last directory in `$PATH`. Anyone can change that permanently, of course.

BTW: `john` is a global alias I had to request (the name was not available).

[2020-12-29 13:27] ghost commented on #1660
@aiy2002, (using snap or not) you can still get version, build date, ... E.g., `john --list=build-info` (after you run `which john`).

[2020-12-31 02:07] t0rr3sp3dr0 opened #4530 "Not able to use md5crypt-opencl with AMD Radeon Pro 5500M Compute Engine on macOS Big Sur 11.1.0"
`john --format=md5crypt-opencl --test --devices=3`
[code]

`john --list=opencl-devices`
[code]

`john --list=build-info`
[code]

[2020-12-31 17:04] ghost commented on #4530
It's probably a bug in the GPU driver itself. We are aware of many of them in the AMD and Apple drivers.

BTW: please use/test the bleeding-jumbo version; important changes were committed in md5crypt-opencl after Jumbo 1.

[2021-01-02 01:27] orfeous1 commented on #3647
Thank you, had the same problem. Works great now GTX760

[2021-01-02 02:38] orfeous1 commented on #3647
Edit by @solardiz: over-quoting of the comment from Claudio deleted, leaving only 3 most-relevant lines.

Ah, you gave me an idea, i want to utilize my intel GPU also. Intel GPU, Nvidia GPU and my CPU.
Any special options/commands for that? Will it improve my performance?
For now it seems that my Nvidia GPU are burst loaded on and off on and off.. while cpu are loaded with about 30-50%

[2021-01-02 20:55] solardiz commented on #4530
@t0rr3sp3dr0 Like Claudio says, this is almost certainly an AMD bug, although this format in particular worked quite well on AMD GPUs lately, so I am a bit surprised. This makes me wonder whether other formats work for you. In particular, does phpass-opencl work, and on which versions (1.9.0-jumbo-1 or/and latest bleeding-jumbo)? Any other OpenCL formats you've been using?

The changes made to md5

[2021-01-03 18:36] ghost commented on #3647
If you have all drivers installed, all devices should be listed by `--list=opencl-devices` and to use them you only need to specify  `--device=n` in the command line.

[2021-01-03 18:53] solardiz commented on #3647
I'll refrain from addressing semi-off-topic questions on this GitHub issue. @orfeous1 Please feel free to ask those questions on the john-users mailing list, where they belong. If/when you do, please also describe your use case, the JtR format you use, etc., so that people can possibly help you with your actual goal, not merely with troubleshooting individual issues. However, once again, this is r

[2021-01-03 22:40] t0rr3sp3dr0 commented on #4530
Hi folks, I ran the tests against all OpenCL formats and most of them work just fine. I wasn't able to test beeling-jumbo version neither tweak the parameters of md5crypt yet, so all tests were performed with version 1.9.0-jumbo-1 as it is.

[code]

[2021-01-03 23:59] solardiz opened #4532 "sspr-opencl misaligned binary()"
As seen in https://github.com/openwall/john/issues/4530#issuecomment-753686542:

[code]

This is because `opencl_sspr_fmt_plug.c` wrongly has:

[code]

whereas the code only guarantees alignment appropriate for `uint32_t`:

[code]

The CPU format gets this right:

[code]

We probably need to move all 3 of these to `sspr_common.h` and remove them from the two formats.

[2021-01-04 00:02] solardiz commented on #4530
Thanks. This has a couple of instances of "Session aborted". I wonder what happened there and how you got it to continue?

@magnumripper This is a reminder for us to consider splitting the WPA formats, so that they would be partially usable (without the risk of `--skip-self-test`) even when some of their functionality is miscompiled.

[2021-01-04 00:30] t0rr3sp3dr0 commented on #4530
Regarding the `Session Aborted` errors, I actually set a timeout of 5min for each test, some exceeded this limit and got terminated. I could not get past the BitLocker test before enforcing the time limit, the process hanged for several minutes and never exited.

I'll try running them again with a time limit of 1h to check if they were just slow or if they were stuck.

[2021-01-04 00:36] solardiz commented on #4530
Where did you set it? Some script of yours?

BitLocker-opencl test does take many minutes to complete on some devices.

[2021-01-04 00:44] t0rr3sp3dr0 commented on #4530
Yes, I wrote a bash script that looped over all OpenCL formats and executed the John binary with the `timeout` command limiting its execution in 5min.

[2021-01-04 00:46] orfeous1 commented on #3647
Intel drivers are installed, but does not show up in the "john --list=opencl-devices" only ny nvidia.
Im refering to @claudioandre-br 's post showing three devices. I also have those devices in my computer.
Something must be missing or else im doing something wrong.

Using --format=rar-opencl and trying to check for rar-password. But its really slow and time consuming.
So i want to use all availab

[2021-01-04 00:58] t0rr3sp3dr0 commented on #4530
I ran the tests, that have previously failed with `Session aborted`, again without the time limit enforced and they worked just fine.

[code]

[2021-01-04 12:52] ghost commented on #3647
For future reference:

* to help checking if you have OpenCL working:
https://ci.appveyor.com/api/projects/oblomov/clinfo/artifacts/clinfo.exe?job=platform%3a+x64
* to fully use the 3 device, you need `fork` (in all formats but mscash2, I think)
[code]

[2021-01-04 13:33] solardiz commented on #3647
This is now on john-users (thanks!), so I am going to comment further in there: https://www.openwall.com/lists/john-users/2021/01/04/1

Great to know, and can be useful to others reading this. Thanks! (I think most people readily have this kind of configuration out of the box, though. I don't know why you did not.)

You cannot do that. It was a bug (which we've since fixed in our current code in t

[2021-01-05 11:00] solardiz opened #4533 "human_prefix_small() precision loss"
As mentioned in https://github.com/openwall/john/pull/4524#discussion_r546287925:

This got me looking inside `human_prefix_small()`, and it's really weird. It might bring num to just above 1.0, then round it to integer 1 - that's very little precision left. We need to fix it.

[2021-01-05 11:19] jeroen-80 opened #4534 "MGF_INPUT_XX_BYTE and offset for dynamic formats?"
I'm encountering some hashes of which the output is cut / truncated, sometimes at an offset (so not the first but the last bytes are used). Questions:

- Is it possible to add e.g. MGF_INPUT_8_BYTE , MGF_INPUT_10_BYTE, MGF_INPUT_15_BYTE to the dynamic formats, similar to the current MGF_INPUT_20_BYTE?
- It it possible to add a mechanism to use an offset e.g. MGF_INPUT_16_BYTE && MSG_INPUT_OFFSET_4

[2021-01-05 12:41] solardiz commented on #3990
The same effect (of md5crypt-long being faster) that was seen on sparc64 isn't seen in a similarly SIMD-less build on POWER7:

[code]

[2021-01-05 13:30] solardiz commented on #3990
My best guess is SPARC T5's 4-way L1d associativity is insufficient for 8 threads/core, and our md5crypt-long mitigates that by having very little data per thread (making collisions less likely) and, perhaps more importantly, by having all of it on the stack (making collisions impossible if stacks are placed smartly, given that our stack usage is low).

[2021-01-05 13:36] solardiz opened #4536 "Weird reporting of formats "passed self-tests" vs. "benchmarked""
I was surprised by this discrepancy:

[code]

Perhaps it shouldn't be "benchmarked" in the latter case. I went to look at the code, and it looks even worse to me there:

[code]

The last `printf` above is part of `else` branch in non-OpenCL builds, but with OpenCL it's on its own. Perhaps that's unintentional and also wrong.

[2021-01-05 13:48] solardiz commented on #4534
I find it unlikely we'll ever have this unless @jfoug feels differently and is available to work on it, or if a new contributor wants to do it.

@jfoug Please let us know if we should expect work on this issue, or should close it as WONTFIX. Thanks!

[2021-01-05 14:38] ghost commented on #4536
Maybe I'm missing something, but this seems correct. BTW: do you mean `else` or `#else`?:
* printf is after the `#endif` in OpenCL builds; so, it targets non-OpenCL and OpenCL builds;

The final status says:
* All Ok "" (blank) if non-OpenCL
* All Ok "" (blank) if OpenCL and all is ok.
* All Ok "some formats skipped" if OpenCL and no OpenCL devices was found.

[2021-01-05 14:40] ShadoW7452 commented on #4536
Halo.. how to install john and use john on termux

On Tue, 5 Jan 2021, 10:38 PM Claudio André, <notifications@github.com>
wrote:

[2021-01-05 14:45] solardiz commented on #4536
@ShadoW7452 We do not provide user support via GitHub, especially not in response to off-topic comments posted to unrelated issues. There's the john-users mailing list, which you can join and post to.

I'll delete both your comment and my reply comment shortly, as they're off-topic here.

[2021-01-05 14:49] solardiz commented on #4536
@claudioandre-br I mean `else`. I find it weird that the "All ... formats passed self-tests" line would be printed only if non-mask in non-OpenCL builds, but unconditionally in OpenCL builds. I think this discrepancy is unintentional.

[2021-01-05 14:55] ghost commented on #4534
Jim commented/discussed about this feature not too long ago:

https://www.openwall.com/lists/john-users/2019/09/27/1

[2021-01-05 15:11] solardiz commented on #4534
Thanks, Claudio. Looking at the way the code is currently written, I think adding all sorts of `MGF_INPUT_*_BYTE` in the same fashion isn't a good idea. Maybe Jim or someone else will actually clean this up and introduce a generic way to specify the length. I do see the many individual `source()` method implementations and understand our formats API doesn't allow us to pass an extra parameter in t

[2021-01-05 18:12] ghost opened #4537 "Restic issues"
I will amend when/if I get more errors.

* MacOS + clang (upstream Travis CI).
[code]

* Linux + clang
[code]
SIMD nothing better than AVX (?) (seems it is).
[code]
BSD
[code]

[2021-01-05 18:38] solardiz commented on #4537
@juergenhoetzel You want to take a look?

@claudioandre-br Thank you! Still no luck with Travis CI for the org - their cheapest plan is $69/month + separate purchase of macOS credits, and it's worse than what we had before (limited to 1 job at a time, and during signup for that plan there's some scary mention of being also charged per actual user count at the end of each month), and they haven't r

[2021-01-05 18:51] ghost commented on #4537
IMO
* I wouldn't put so much money on Travis. I agree they have really good infra, but ... No, it is too much money and I won't be able to, e.g., play with OpenCL. They have Windows, ARM, ..., but, again, it is not clear if we will be able to use it.

[2021-01-05 19:02] solardiz commented on #4537
Regarding these specific clang errors, could we possibly trigger them when using Circle CI? With clang on Linux?

[2021-01-05 19:14] ghost commented on #4537
Since they are clang related, yes.

[2021-01-05 19:14] solardiz commented on #4537
Paid the $69, good until Feb 5. Now have 1 concurrent job and 0 credits, but can purchase 25k credits for $15. I wonder if any unused credits can stay with us upon switching back to Free plan, or if they at least give us another 10k credits with it. We'll see.

Now need to re-enable use of Travis CI for `john`. We had only left it enabled for `lkrg`.

[2021-01-05 19:16] solardiz commented on #4537
Yes, can't easily and efficiently use wider than 128-bit for scrypt.

[2021-01-05 19:36] solardiz commented on #4537
I seem to have re-enabled the Travis CI integration for this repo, and merged a PR, but somehow this didn't trigger a pending build on Travis CI yet. Weird. Claudio, magnum - if you can spot any setting I missed, let me know. Thanks.

[2021-01-05 19:40] ghost commented on #4537
It seems it is not enabled yet.

![image](https://user-images.githubusercontent.com/1702923/103691265-a819dd00-4f74-11eb-9fe0-e1eac5970599.png)

[2021-01-05 20:18] solardiz commented on #4537
@claudioandre-br Where did you try to trigger that build? I don't have that "Requests" tab in there.

Anyway, please don't try to request anything yet - that may increase our user count, increasing what they'd end up charging at the end of the month on top of the monthly fee.

[2021-01-05 20:20] ghost commented on #4537
Upper right -> more options -> trigger build.

[2021-01-05 20:25] solardiz commented on #4537
OK, I have that option, but was reluctant to use it. Did now, and a build seems running. I wonder what that means in terms of user count.

I had also bought the 25k credits for $15, so maybe that helped, or maybe I was authorized to trigger this and you were not.

I still do not have the Requests tab in there, though.

[2021-01-05 20:27] ghost commented on #4537
**[edited]**

No. You are the author of the rejected request seen "11 minutes ago" (in the print screen). Magnum did the request seen "26 days ago".

[2021-01-05 20:28] solardiz commented on #4537
I don't understand what you mean here.

[2021-01-05 20:31] claudioandre-br commented on #4537
edited previous post

[2021-01-05 20:33] solardiz commented on #4537
Maybe the lack of macOS credits prevented these previously, because our configuration does include a macOS build.

[2021-01-05 20:35] solardiz commented on #4537
Meanwhile, we already have the clang build failure in there. So Travis is back with us, for now.

[2021-01-05 20:42] solardiz commented on #4537
The macOS build failed because of the same clang issue. And cost us 100 credits.

[2021-01-06 12:40] solardiz commented on #4537
@claudioandre-br BTW, were these clang errors, or warnings promoted by us to errors with `-Werror` or such?

[2021-01-06 12:46] #4537 closed, assigned to nobody

[2021-01-06 13:08] ghost commented on #4537
Documentation says it is a warning, but (I mean, I like it):
[code]

[2021-01-06 17:05] mb720 opened #4541 "zip2john doesn't produce a crackable hash when zip was created with bsdtar"
Hi and thanks a lot for JtR!

I think that zip2john doesn't work when the zip file was created with bsdtar:

    bsdtar --options zip:encryption -acf with_bsdtar.zip test_file

Here's the example [`with_bsdtar.zip`](https://github.com/openwall/john/files/5777014/with_bsdtar.zip), the password is "test".

The output of `zip2john with_bsdtar.zip`:

    ver 2.0 efh 5455 efh 7875 with_bsdtar.zip/test_

[2021-01-06 17:44] ghost commented on #4541
bleeding-jumbo version does produce a hash john recognizes. But it is not crackable.
[code]

Unzip can handle the file:
[code]

[2021-01-08 13:51] solardiz opened #4543 "Set up GitHub Actions"
Some projects are moving from Travis CI to GitHub Actions, e.g. https://github.com/gost-engine/engine/pull/309/files

@claudioandre-br @magnumripper Should we?

[2021-01-08 14:35] michael202020 commented on #3130
Are all these 3 ethereum hashes really revealing?
$ethereum$s*... hash type seems to contain all wallet data BUT iv (aes-128-ctr initialization vector). As I can see, there is no way to reconstruct it using password, salt, ciphertext and mac. And we do need it for block decryption. This looks safe.
@Chick3nman @kholia Am I right?

[2021-01-08 14:41] ghost commented on #4543
IMO, it is interesting, especially, if someone plans:
- execute linters, code analyzers, perform automatic actions in, e.g., a PR ("real workflow");

But, for example, I didn't find any Ubuntu 14 in their virtual environments. So, there would be no more support for Linux OpenCL.

On the other hand, if you plan on having self-hosted runners, this would be an interesting approach. It's cheaper than

[2021-01-08 14:50] solardiz commented on #4543
How is Ubuntu 14 related to OpenCL?

[2021-01-08 14:53] ghost commented on #4543
Citation:

[2021-01-08 16:07] solardiz commented on #4543
How is that relevant? First, on CPU it was AMD APP SDK, and not Catalyst nor fglrx. Also, why Ubuntu? APP SDK also worked e.g. on CentOS 7. (I don't know if they have that, but perhaps they do?)

Then, can't we use PoCL or/and Intel OpenCL?

[2021-01-08 16:13] solardiz commented on #4543
More examples:

  https://github.com/strace/strace/blob/master/.github/workflows/ci.yml
  https://github.com/linux-pam/linux-pam/blob/master/.github/workflows/ci.yml
  https://github.com/altlinux/libutempter/blob/master/.github/workflows/ci.yml

[2021-01-08 16:41] ghost commented on #4543
I am not saying that JtR is prevented from doing something entirely different.
* I'm saying we use a VM image created by Travis (Ubuntu only) and it have AMD OpenCL support (easy).
* We will lose it.
* PoCL is not good enough and Intel is slow.

[2021-01-08 18:08] kujina opened #4544 "Blockchain wallet - blockchain2john.py script error - No JSON object could be decoded"
Windows 10 64bit
Python 2.1.18

Yesterday I downloaded a Blockchain.com wallet that I created at Blockchain.info in **December 2012**. I downloaded the wallet.aes.json wallet using the btcrecover download-blockchain-wallet.py script.

I've then tried to get a hash from this wallet using the blockchain2john.py script but I get the following error.

C:\john-bleeding-jumbo\run>C:\python27\python bloc

[2021-01-08 21:33] solardiz commented on #4543
As I understand, recent hashcat supports PoCL, so it's probably good enough for us to support, too.

By "slow", are you referring to Intel OpenCL taking a lot of time to build kernels? Is there possibly an optimization option we can tweak to favor lower build time over higher performance of the resulting code?

[2021-01-08 21:40] solardiz commented on #4544
Hi @kujina. What you posted reads more like a user support request (off-topic here, would be OK on john-users mailing list) than an issue with our project. That said, let's discuss it a bit to figure out whether there's an issue we should look into or not.

What is the size of your `wallet.aes.json` file? Can you manually check whether this file contains any JSON data at all? https://en.wikipedia.

[2021-01-09 01:00] kujina commented on #4544
Apologies my mistake I was up very late here yesterday. My Blockchain wallet.aes.json file is 344 bytes and is **not** in JSON formatting, I ran `blockchain2john-copy.py wallet.aes.json >> blockchainhash.txt` without the `--json`  and got an output. You can delete/close this Issue, thanks.

[2021-01-09 15:47] magnumripper commented on #4533
IIRC I do have a pending fix for it already, I just stalled completely for a while doing other things.

[2021-01-09 15:51] magnumripper commented on #4536
I believe it's an artefact from when OpenCL `-test -mask` would silently (?) skip the self-tests.

[2021-01-09 15:56] magnumripper commented on #4530
Just how would we do so though? Given an input file with several handshakes it would be silly to not be able to attack all of them at once, especially since 1) same-salt gains apply even among versions and 2) the different versions are more or less of equal speed.

We could do some kind of run-time disabling of whatever version(s) fail, but that'd be a hack - perhaps even needing core hacks.

[2021-01-09 15:58] #4544 closed, assigned to nobody

[2021-01-09 16:06] magnumripper commented on #4541
So we get false negatives? This will be very high on my to-do list unless someone else takes a stab on it (I'll assign it to myself only once I'm just about to look at it)

[2021-01-09 16:10] ghost commented on #4543
We support PoCL [1][2]. Unfortunately, not all formats work on it (warnings muted):

[code]

* [1]
[code]

* Some CPU format values:
[code]
----------
**[EDITED]**

Intent/purpose: Intel OpenCL CPU Runtime integration into POCL

I forgot to announce this. It'sold news, but I'm sure people are not aware: https://sourceforge.net/p/pocl/mailman/pocl-devel/thread/1517615B361A5B4797D7811F9FD4F0FE22F23A

[2021-01-09 16:15] solardiz commented on #4530
Do they? Don't the different versions result in mostly different computation?

@t0rr3sp3dr0 This issue doesn't look actionable for us, unless _you_ intend to try working around these OpenCL kernel miscompiles in your system. Do you intend to work on this, or should we just close it? Please let us know. Thanks!

[2021-01-09 16:28] solardiz opened #4545 "Update "Error creating context for device" to 1-based device numbers"
See https://github.com/openwall/john/issues/4295#issuecomment-707423641

[2021-01-09 16:32] magnumripper commented on #4530
WPA, WPA2, 802.11w and PMKID all use pbkdf2-hmac-sha1 with 4096 iterations using ESSID as salt. Only the post-processing is different and it's very light compared to the KDF.

What we call wpapsk-pmk is another thing but it's already a separate format.

[2021-01-09 16:35] solardiz commented on #4543
This might be an opportunity for us to figure out and fix #4343.

As to the speeds vs. CPU formats, looks like PoCL doesn't vectorize, which is why sha512crypt-opencl and sha256crypt-opencl appear almost same speed. As long as vectorization is rarely beneficial on GPUs and we do also have CPU formats, we might not bother improving this, but we could use PoCL for testing.

[2021-01-12 02:27] bannsec opened #4546 "multiple definition of `poly1305_init'"
### Steps to reproduce ###
Compile with libmusl static. I have a Dockerfile to do so here:

https://github.com/bannsec/hashcrack-jtr/blob/master/Dockerfile.linux

Looks like @solardiz changed a bunch of stuff in poly1305-donna/poly1305-donna-64.h on Jan 7 2021. Up to that point, my building Docker worked fine. However, since those changes, I'm getting an error when compiling and am unsure how to f

[2021-01-12 14:07] ghost commented on #4546
The culprit should be f77367194ce6a1bab0e31553021270a4206350d8.

A workaround could be rename `poly1305_init` in `src/poly1305-donna/poly1305-donna-64.h` to something like `jtr_poly1305_init` (also, rename all calls to the method inside JtR's source code).

[2021-01-12 16:30] magnumripper commented on #4533
[code]
Is this any better? I'm not quite sure what edge cases to handle. The current use of the function doesn't see such edge cases but we should of course handle them.

[2021-01-12 16:58] solardiz commented on #4546
@juergenhoetzel I think we need to add near the beginning of `poly1305-donna.h`:

[code]

and so on for the remaining few functions.

[2021-01-12 17:00] solardiz commented on #4546
@bannsec @juergenhoetzel Does one of you intend to try implementing that fix I've just suggested, and send us a PR? Let's figure out who does it, so that we don't have 2 or 3 people doing duplicate work. And clearly @bannsec is the one to test if the fix addresses the original issue.

[2021-01-12 17:06] solardiz commented on #4533
I think no. The issue wasn't an edge case. The issue was low precision in a fairly wide range. I think we need to write a program that would use this function to print a variety of numbers, which will make the issue apparent and allow for testing of fixes.

[2021-01-12 17:16] bannsec commented on #4546
Happy to test the fix, though work has me super busy rn so probably don't
have time to implement.

On Tue, Jan 12, 2021, 12:01 PM Solar Designer <notifications@github.com>
wrote:

[2021-01-12 18:22] juergenhoetzel commented on #4546
The proposed solution is:

Change the `poly1305_` prefix to `jtr_poly1305_`?

[code]
should not be needed if we also adapt `restic_fmt_plug.c` to the new prefix.

I can send a PR.

[2021-01-12 18:50] solardiz commented on #4546
No, please literally add the `#define` lines I suggested and a few more like them. The added prefix would be `john_` (not `jtr_`), and no renames would be needed anywhere else - we'd keep changes from upstream code to a minimum (only some lines added, no edits to any lines) and would keep the rest of our code as-is (no changes in `restic_fmt_plug.c`). If this sounds OK to you, please implement it

[2021-01-12 18:53] juergenhoetzel commented on #4546
I see :+1:

[2021-01-12 18:56] magnumripper commented on #4533
Well we could limit the scaling much like we do with the status c/s figures, such as "12314K p/s" instead of "12M p/s". In this case that would mean "12314 us" or "12.314 ms" instead of "12 ms".

For the current use case I prefer the latter though: Once we're in millisecond range I don't care about microseconds. Then again, printing "12 ms" for an input of 0.012999999 seconds (like the current cod

[2021-01-13 19:20] #4546 closed, assigned to nobody

[2021-01-13 19:21] solardiz commented on #4546
@bannsec We think we've fixed the issue. Can you please test and let us know whether the issue is in fact fixed for you? Thanks!

[2021-01-13 19:25] solardiz commented on #4533
What if it says just 1 in place of 1.49? I thought a reporting that's off by 50% would be bad, and we'd rather see e.g. "1490 us" or "1.49 ms".

[2021-01-14 10:00] blandyuk commented on #4526
Just an additional, main one I'm looking for is $bitcoin$. I mainly programme in C# but am also using C now as well but still early days with C but have a project already up and running.

Looked into FPGA and cannot see how to start with it. Do you use a SDK to write the code for the bitstreams? I'm clueless where to start so any help would be appreciated. The $bitcoin$ algo is in the john source

[2021-01-14 17:55] solardiz commented on #4526
Someone recently asked me about it via private e-mail, and here's an excerpt from my reply:

[code]

We used Xilinx ISE 14.5 or 14.7. Included in our publicly released git tree (this repo) are project directories for Xilinx ISE, which can be re-imported in there. However, with these specific projects there isn't a one-click build. To achieve the efficiency that we did, "Multi-Pass Place & Route ap

[2021-01-14 20:22] blandyuk commented on #4526
OK thanks again for the amazingly detailed reply :) I agree when working with new projects its always "start small" as I'm doing with my C projects.  Picking it up very quickly due to extensive C# experience of course but still, C is a lot more technical.

I'll have to progress slowly and see what, if any, progress I can make.

Take care.

[2021-01-15 13:33] #3991 closed

[2021-01-15 14:06] magnumripper commented on #4529
Oldoffice is fixed, keeping issue open for systematic testing

[2021-01-15 16:43] bannsec commented on #4546
Can confirm build is working again for me. Thanks all!!

[2021-01-15 21:26] solardiz opened #4550 "Import mosquitto_passwd hashes"
@Blackfell wrote a Python script that converts `mosquitto_passwd` files to formats understood by John and hashcat. (The script can also crack hashes on its own, slower.) https://github.com/Blackfell/python_widgets/blob/main/mosquito_passwd_crack.py https://mosquitto.org/man/mosquitto_passwd-1.html

@Blackfell Thank you for writing and publishing this script! If you don't mind, I'd like to see it i

[2021-01-16 06:56] Blackfell commented on #4550
Hey, I'd be more than happy to do this, I'll try and get something in over the next few days. As you said, I'll have a look at the existing scripts and neaten everything up first (good spot on typos, I like nitpicks so keep em coming 😊). Also keen to support any of the other changes, I'll keep it in mind as I read up.

[2021-01-16 16:23] solardiz commented on #4530
This was useful information for us to have (thanks, @t0rr3sp3dr0!), but nothing for us to keep track of (except for #4532). Closing.

[2021-01-16 16:23] #4530 closed, assigned to nobody

[2021-01-18 17:35] Blackfell commented on #4550
I've popped a [PR](https://github.com/openwall/john/pull/4551) in with a bit of a re-hashed script. The main outstanding issue I'm having is that format auto-detection for dynamic_82 isn't working well on a Kali VM I've been using to test (surprise!). I've put more detail in the PR comments.

Note also that the original script has been renamed and (hopefully) de-typod - [https://github.com/Blackfe

[2021-01-19 02:39] sawshep opened #4552 "Making john XDG compliant"
Right now, john will write `john.log` and `john.pot` to `~/.john`. According to [XDG](https://github.com/adrg/xdg), a more sensible location would be in `$XDG_DATA_HOME/john` (by default this is `~/.local/share/john`).
`params.h` defines `JOHN_PRIVATE_HOME` as `"~/.john"`. It would seem like a simple solution to just define it instead as `"$XDG_DATA_HOME/john"`, but the [specification](https://spe

[2021-01-19 11:26] solardiz commented on #4552
@sawshep Thank you for bringing this up. Is there a specific context/reason for you to suggest/request this? For example, are you packaging JtR for some distro where this is encouraged or even mandated by policy?

I'd rather not have us waste time on this, creating issues out of thin air. At least not at this time. If we were to fully follow the specification, it's quite some complexity and specia

[2021-01-20 12:57] solardiz commented on #4550
Fixed in #4551. Closing.

[2021-01-20 12:58] #4550 closed, assigned to nobody

[2021-01-24 13:51] kifirkin opened #4554 "gpg-opencl self test failed on macos 11.1 with AMD Radeon Pro 5500M"
`gpg-opencl` with `AMD Radeon Pro 5500M` doesn't work, self tests failed with `cmp_all(1)` error
Also `Intel(R) UHD Graphics 630` doesn't work in real life while passing self tests

`❯ ./john --list=build-info`
[code]

`❯ john --list=opencl-devices`
[code]

`❯ ./john --format=gpg-opencl --devices=3 --test`
[code]

`❯ ./john --format=gpg-opencl --devices=2 --test`
[code]

`❯ ./john --format=gpg-ope

[2021-01-24 16:07] solardiz commented on #4554
@kifirkin Thank you for sharing. This is similar to #4530, and we similarly do not expect to "fix" this issue. Our understanding is these are generally bugs in the underlying OpenCL backend and/or GPU driver, which we could possibly workaround for specific versions (we do have some workarounds for some backends/drivers in the tree), but we currently don't intend to.

So the question is: are you wi

[2021-01-24 17:32] solardiz commented on #4554
Actually, this looks like an issue for us to fix. That `s2k-count` of 54 million is huge, and it looks like we don't yet use a split kernel in gpg-opencl. So we're probably hitting a timeout there.

Do we treat this kernel build failure as a fatal error, preventing tests/benchmarks of further formats? Should we fix that?

[2021-01-24 17:38] solardiz commented on #4554
Scaling from the posted benchmark, I'd expect ~30 c/s, and a single kernel invocation at autodetected GWS=6144 taking 200+ seconds:

[code]

No wonder this is timing out.

[2021-01-24 18:40] kifirkin commented on #4554
@solardiz Thanks for your reply! I think I'm not able to contribute directly to codebase, as I'm not familiar with OpenCL at all and have very poor understanding of the C language.

So I'll just close this issue, maybe some day a workaround arrive and fix this too 😅

[2021-01-24 18:40] #4554 closed, assigned to nobody

[2021-01-24 19:29] solardiz opened #4555 "Implement split kernel for gpg-opencl"
As mentioned in https://github.com/openwall/john/issues/4554#issuecomment-766399405 the kernel used by `gpg-opencl` may time out with realistic values of `s2k-count`. We probably need to split the computation across multiple invocations of a revised kernel.

[2021-01-24 19:32] solardiz commented on #4554
@kifirkin OK. I've just opened a separate issue for the "GPU hang" you saw on Intel, as that one looks like something we should fix for other devices as well.

[2021-01-24 21:02] kifirkin commented on #4554
Thats awesome thanks!

[2021-01-25 02:52] sawshep commented on #4552
@solardiz Nope, I just thought it was a general improvement that could be made. I'll close the issue.

[2021-01-25 02:52] #4552 closed, assigned to nobody

[2021-01-25 18:51] skrat opened #4556 "Support Electrum 3.x+ wallets"
@kholia I would like to understand why the old versions of Electrum wallet are not supported by the `electrum2john.py` script. In the relevant part of the script, it says nothing about why it is not supported. I would like to make this working. Thank you.

I know the old wallets use different seed format, that's all I know at the moment. I'm not sure what needs to be extracted from the wallet in o

[2021-01-25 20:00] maniac-en opened #4557 "update decodestring to decodebytes in ssh2john"
### IMPORTANT ###
This is not a support forum, it's a bug tracker. If you don't understand the difference, please do NOT open an issue. For questions and support, review recent postings on the john-users mailing list at https://www.openwall.com/lists/john-users/ and then subscribe to the list at https://www.openwall.com/john/#lists and post your message to the list by e-mailing `john-users at list

[2021-01-25 22:23] solardiz commented on #4557
Thanks for reporting, but quoting the issue template, which you also quoted (and didn't read?) -

[code]

This specific issue was fixed with 660de879bd06a2edbe228b7c742d4a98ec989248 in November 2019, and then there were some more commits to that script.

I take this as a reminder for us to make a new numbered release in not too distant future.

@anthraxx might also consider updating the Arch packa

[2021-01-25 22:23] #4557 closed, assigned to nobody

[2021-01-25 22:33] solardiz commented on #4556
I'm no Electrum expert, but seed version 32 looks like it's way _newer_ than what that part of the script supports. Puzzling. Maybe an upgraded wallet (created with older Electrum, then imported into newer)? Just a guess.

[2021-01-25 22:41] anthraxx commented on #4557
@solardiz  thanks for pinging me, unfortunately the general rule of thumb for distro packaging is that we indeed only package releases. bumping every now and then is a huge anti pattern during distro packaging. We may however backport individual patches if they are reasonably easy to backport. All in all it would be much easier to just get frequent upstream releases, especially since all the valua

[2021-01-27 09:26] adrastee opened #4558 "blockchain2john.py error"
[code]

This wallet file is json format.
Thanks for support.

[2021-01-27 10:51] solardiz commented on #4558
Please try deleting these 3 lines from the script:

[code]

Does this help?

[2021-01-29 07:03] kost123 commented on #4462
This is weird, I have used this script for my .key file a few times in the past just fine.

[2021-01-29 16:48] solardiz commented on #4556
@skrat Do you intend to provide any further comments here? To me it looks like your original question is not applicable - you ask "why the old versions of Electrum wallet are not supported" whereas your wallet actually appears to be too new. So I wouldn't expect a literal answer from @kholia here, or at least wouldn't expect it to help.

[2021-01-29 16:53] solardiz commented on #4462
@kost123 Can you retest that the currently committed script (with the fix for this issue) still works on your .key file as well? (Assuming this is quick and easy for you.) Thanks!

Edit: oh, and to comment on my own comment above - magnum added that sample to the john-samples repo back then, so that part is done.

[2021-01-29 18:40] skrat commented on #4556
@solardiz the wallet is originally from early electrum versions but since it was opened in a recent version, the seed version was updated. I was only able to use electrum2john.py with a backed up version of that wallet.

[2021-01-29 18:58] solardiz commented on #4556
@skrat Thanks for confirming this. If you remove these 3 lines from the script:

[code]

will it by any chance just happen to work right on your upgraded wallet?

[2021-01-29 19:05] solardiz commented on #4558
My understanding is that "guid" is simply too short a string, and may easily be matched inadvertently inside some base64-encoded data in a JSON format wallet. Maybe we simply need to replace this:

[code]

with this:

[code]

In fact, I think it's weird the script doesn't detect JSON on its own, needing that option - but that's a separate issue.

[2021-01-30 02:04] dinvlad commented on #4412
Check if it's somehow blocked by your anti-virus. It might be detected by some, like SentinelOne. If it is, then recompile from scratch perhaps.

[2021-01-30 11:47] adrastee commented on #4558
I did the replace, but :
`My Wallet Version 2 or 3 seems to be used, adding --json option is required!`
I add --json:
`My Wallet Version 1 seems to be used, remove --json option!`

In the wallet json file I do have both `pbkdf2_iterations` and  `guid`.

Then, I comment out `elif b"guid"`... block as suggested,, no error so far but no output ! No hash.

[2021-01-30 11:51] Oracle273 commented on #4558
I’m a novice. I want to learn phishing please any guidance?

Sent from Yahoo Mail for iPhone

On Saturday, January 30, 2021, 12:47 PM, adrastee <notifications@github.com> wrote:

I did the replace, but :
My Wallet Version 2 or 3 seems to be used, adding --json option is required!

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, o

[2021-02-02 22:25] kost123 commented on #4462
Compared both the new and old on multiple old .keys I have and they are both the same(so working)

[2021-02-03 10:54] #4533 closed, assigned to magnumripper

[2021-02-03 11:15] magnumripper commented on #4503
[code]
Is this enough? I think we should avoid getting into too much technical detail.

[2021-02-03 11:54] magnumripper commented on #4545
#4560 doesn't fix this. #3511 would.

[2021-02-03 12:55] magnumripper commented on #4541
Seems to be similar to #4300: If I change `$pkzip2$1*2*2*(...)` to `$pkzip2$1*1*2*(...)` (stating that only one byte of checksum is valid), it works fine.

[2021-02-03 13:02] magnumripper commented on #4300
New very similar issue (with samples): #4541

[2021-02-03 13:06] magnumripper commented on #4541
@jfoug Perhaps we need a whitelist for 2-byte checksums as opposed to a blacklist?

This file is "ver 2.0 efh 5455 efh 7875"

Edit: No wait, we are currently using a whitelist *and* a blacklist (for efh 6c78). In this case I can't see what to blacklist 😢

[2021-02-03 13:32] magnumripper commented on #4541
I currently can't find any safe way to fix this except disabling 2-byte checksums, with a 10% performance loss.

[2021-02-04 14:48] #4066 closed, assigned to magnumripper

[2021-02-04 14:48] #4545 closed, assigned to nobody

[2021-02-04 14:58] magnumripper commented on #4541
So I did just that - by default. There was an existing option `-2` for *forcing* 2-byte checksums that in my mind was an experimental option irrelevant for an end user. I now changed its meaning to *allow* 2-byte checksums, which will impose the (fairly low) risk of false negatives. Using that will still end up with 1-byte checksum for #4300 now, bc we do have something to blacklist in that case,

[2021-02-04 16:04] magnumripper opened #4563 "Restic format can't be built with legacy Makefile"
#4562 fixes "generic" builds, but any legacy build still fails unless the restic format plugin is deleted. The new subdir for poly1305-donna isn't handled at all.

[2021-02-04 16:09] magnumripper commented on #4563
I do not intend to fix this (I did have a quick look and it didn't look really trivial). @juergenhoetzel introduced the problem but I don't blame him - how would he know about this weird legacy stuff?  o.O

[2021-02-05 07:58] #4536 closed, assigned to nobody

[2021-02-05 09:55] solardiz commented on #4541
So `bsdtar` has `efh 7875`, which we had whitelisted for 2-byte checksum, but along with `cmplen=0` and `crc=0`:

[code]

whereas `zip` has the same along with `cmplen=18` and non-zero `crc`:

[code]

I think this is sufficient for us to distinguish the two, and add an exclusion from the whitelist when (one of) those other conditions are (is) met.

[2021-02-05 10:08] solardiz commented on #4541
BTW, that's weird on its own. Why would they be zero? And why would that archive work correctly then? Per `zipinfo`, they are not actually zero:

[code]

So something else went wrong there with parsing by `zip2john`. And maybe that's also why the archive couldn't be cracked when using 2-byte checksum? Maybe 2-byte would work against CRC, but doesn't work against TS? If so, fixing whatever bug caus

[2021-02-05 10:17] solardiz commented on #4541
That line I quoted came from @mb720's original comment:

[code]

However, @claudioandre-br's is different:

[code]

So apparently different `zip2john` versions? Anyway, Claudio wrote the hash produced by his `zip2john` run above "is not crackable." If so, this disproves the guess from my previous comment. Unfortunately.

[2021-02-05 10:19] solardiz commented on #4541
@mb720 Please send us a pull request against https://github.com/openwall/john-samples adding both of your sample archives, so that we can retest for possible regressions later. Thanks!

[2021-02-05 14:12] noraj opened #4564 "Make a new release soon as the previous one has Python 3 compatibility issues and known-fixed bugs"
[code]

Same kind of error as for #3345.

[code]

It is preset in 1.9.0-jumbo-1 git tag:

https://github.com/openwall/john/blob/a16c8a76259ab870c07e5123c237b1900402d9a6/run/ssh2john.py#L103

But it's fixed in bleeding-jumbo git tag:

https://github.com/openwall/john/blob/07c0f3c6b00e29bedcfd2ef23cd0c8b39888c7be/run/ssh2john.py#L107-L114

tag [1.9.0-jumbo](https://github.com/openwall/john/releases/

[2021-02-05 14:43] mb720 commented on #4541
@solardiz: Sure thing, [here](https://github.com/openwall/john-samples/pull/5)'s the PR.

Thanks for looking into this. 👍

[2021-02-05 15:01] anthraxx commented on #4564
I would highly appreciate to get a guicy release :P

[2021-02-06 17:04] solardiz commented on #4564
@noraj Do you want to help us make that release sooner rather than later? We need to at least bring `NEWS` up to date (many important changes were unfortunately not reflected in there yet) and try and fix all of the issues under the "Definitely 1.9.0-jumbo-2" milestone. Want to help with these?

[2021-02-07 19:25] noraj commented on #4564
@solardiz You mean that some major changes where not documented into [NEWS](https://github.com/openwall/john/blob/bleeding-jumbo/doc/NEWS)? How could I help?

[2021-02-07 19:35] solardiz commented on #4564
@noraj Right. The task is to go over the commits made since 1.9.0-jumbo-1 and add to `NEWS` non-trivial higher-level changes describing them in a suitable form (see existing entries), and send a pull request updating `NEWS`. Thank you!

[2021-02-07 19:37] #4541 closed, assigned to magnumripper

[2021-02-08 16:26] magnumripper commented on #4541
Quotes from #4561:

Not sure why you single out 0x7875, 0x5455 is just as uncertain now. Either of them (actually the pair of them) are seen with 2-byte checksums, but now also sometimes with one-byte checksums.

So OK, we could have opted to drop only those two from the whitelist - but with this recent history, what's to say the other ones are actually safe? I intend to try to dig further into th

[2021-02-10 15:09] solardiz commented on #4563
@juergenhoetzel Are you going to fix this for us, please?

[2021-02-11 21:24] #4563 closed, assigned to nobody

[2021-02-13 17:34] yoshimo opened #4569 "Alz & egg support"
The korean archive formats egg and alz used by https://en.wikipedia.org/wiki/ALZip support encryption.
Extracting the hash and having a alz2john and an egg2john tool would be useful.

So far we have the following Encryption Algorithms for egg
ZIP 2.0
AES128
AES256
LEA 128
LEA 256

and zip2.0 for alz files.

[2021-02-13 17:40] yoshimo commented on #4569
[TestFilesALZip.zip](https://github.com/openwall/john/files/5976165/TestFilesALZip.zip)
All these testfiles use jtr as password

[2021-02-14 20:07] solardiz commented on #4569
@yoshimo Thank you for the test files. Please also add them via a pull request to https://github.com/openwall/john-samples noting in there that they are not yet supported (in a text file that should also include the password).

Do you want to implement and contribute support for these or do you hope someone else would?

[2021-02-14 20:40] solardiz commented on #4564
I've just removed most issues from the "Definitely 1.9.0-jumbo-2" milestone. Most of those went to the "Potentially 1.9.0-jumbo-2" milestone, some were removed from milestones altogether. Some of the issues only need more review to determine that we can close them or don't have to work on them before the release. Some need actual work.

[2021-02-14 20:41] solardiz opened #4570 "Update NEWS for 2.0.0"
The task is to go over the commits made since 1.9.0-jumbo-1 and add to `NEWS` non-trivial higher-level changes describing them in a suitable form (see existing entries), and send a pull request updating `NEWS`.

[2021-02-14 20:46] solardiz commented on #4564
This task is now #4570.

We also had #3979 titled after for the upcoming release, but it has some "irrelevant" stuff said on it (on general and longer-term planning rather than on what really needs to be done for the release).

So I suggest we use this new issue for planning the release from now on.

[2021-02-14 20:49] solardiz commented on #3979
Discussion restarted in new context in #4564. Closing this one.

[2021-02-14 20:49] #3979 closed

[2021-02-14 20:55] solardiz commented on #4459
@wsandin Thank you for working on this. I really would like this to be taken care of before our 1.9.0-jumbo-2 release, if possible. Will you?

Please also consider #4399 since it's related.

[2021-02-14 21:05] solardiz commented on #4556
@skrat Did you have a chance to try removing those 3 lines? Quite possibly the code readily supports newer wallets and we just didn't know that and thus didn't allow it yet - if so, we should. So please help us figure this out. Thank you!

[2021-02-14 21:16] wsandin commented on #4459
Hey Solar :) Sure, sorry it got stale for a while. When do you plan to do
the release?

On Sun, 14 Feb 2021, 20:56 Solar Designer, <notifications@github.com> wrote:

[2021-02-14 21:18] solardiz commented on #4503
Right, and I think we should rewrite this paragraph to describe jumbo's behavior only, not add a note to the existing text. Also,  "pot sync" works not only with "--fork", but also with any other invocations sharing a pot file, including those with "--node". We have a similar last paragraph in the description of "--node" - this one probably needs to be revised, too.

[2021-02-14 21:25] solardiz commented on #4459
No specific due date. When ready. The sooner the better, because we've fixed bugs and portability issues since the previous release yet they keep biting people using that release.

[2021-02-14 21:28] wsandin commented on #4459
Ah, I will make it happen ASAP then - as in this week! Cheers and thanks
for pinging, would be a pity to miss the opportunity to contribute.

On Sun, 14 Feb 2021, 21:26 Solar Designer, <notifications@github.com> wrote:

[2021-02-14 23:21] magnumripper opened #4571 "Dig deeper in pkzip format's one-or-two byte checksums"
See #4541 and #4300

I intend to look into this soon. I'm thinking these checksums are likely used somewhere for something other than our early rejection when cracking them - so there should be code somewhere that "does the right thing".

Sadly, zipinfo does not list any checksum at all. It does list CRC but the checksum we're interested in here is a separate checksum that is known without decompr

[2021-02-15 12:36] yoshimo commented on #4569
For now it would probably a lot faster if someone else tackled the problem.
I'll submit the samples later

[2021-02-15 13:39] solardiz commented on #4571
It's also possible they disregard this checksum, with `unzip` only checking the full CRC available post decompression. Just a guess. We definitely need to actually take a look. Also run some tests of those other tools (and with closed source ones, too) using archives with (partially) corrupted checksums.

[2021-02-15 13:42] solardiz commented on #4569
Only if someone capable actually intended to, which currently is not the case, unfortunately. So we'll just keep this issue open in case someone volunteers for it later, but realistically it might just stay this way for years.

[2021-02-16 06:49] ender003 commented on #4039
I'm having this exact same issue. The test stops at the same place as OP, but running the test in one format works (see below). Can repeat 5x. I'm running Kali on physical Intel machine.

[code]

[2021-02-16 11:38] solardiz commented on #4039
@ender003 Thank you, but as you realize this is an older version of our code. Can you please test whether the issue is still present with the latest code from this repo?

[2021-02-16 11:44] solardiz commented on #4039
@ender003 Can you also try running the existing Kali build with `OMP_NUM_THREADS=1`?

[code]

[2021-02-16 13:19] ender003 commented on #4039
Thanks, @solardiz .

I complied the latest bleeding-jumbo, and it worked! Thank you.
FWIW - also ran the singe thread option (OMP_NUM_THREADS=1 john -test) under the old version, and it also worked.

Thanks for you help!

[2021-02-16 13:43] solardiz commented on #4039
Thank you, @ender003. It's helpful to know the issue goes away with those changes. I only wish we knew what made it go away in our newer code.

Meanwhile, I think I just managed to reproduce a similar issue (hopefully, caused by the same bug) on CentOS 7 using the 1.9.0-jumbo-1 release and running exactly 12 AVX2 threads like we see in both reports above. Here's what I'm getting:

[code]

This is

[2021-02-16 13:56] solardiz commented on #4039
Here's where it crashes for me, but perhaps the memory corruption occurs somewhat earlier:

[code]

[2021-02-16 13:59] solardiz commented on #4039
Reverting the relevant hunk of 6738a9dc27031b444cdd91d9fe9252e4d468a175 does _not_ make the problem reappear on our current code for me. So I still don't know what made it disappear.

[2021-02-16 14:08] solardiz commented on #4039
Still reproducible on a 20190620 build, not reproducible on 20200228. (Using whatever builds I had lying around on that machine.)

[2021-02-16 18:20] magnumripper commented on #4569
Some format info: http://fileformats.archiveteam.org/wiki/EGG_(ALZip)

[2021-02-16 18:23] magnumripper commented on #4569
Some more: https://github.com/dterracino/UnEgg

[2021-02-18 23:38] ghost commented on #4564
Another example of a "bug" fixed in bleeding-jumbo:
* https://www.openwall.com/lists/john-users/2021/02/18/1

[code]

[2021-02-19 16:20] solardiz commented on #4564
@claudioandre-br No, this wasn't anything we fixed - rather, the line wrapping prevented you from testing the same thing that the question on john-users was about. Anyway, let's not collect supposedly fixed issues in here. (If you feel anything like this should be added to `NEWS`, we have a separate issue for updating that file.) I'd rather see us make progress towards making a new release. Thanks

[2021-02-24 02:12] magnumripper commented on #4571
According to [APPNOTE.TXT](https://pkware.cachefly.net/webdocs/casestudies/APPNOTE.TXT), *"Versions of PKZIP prior to 2.0 used a 2 byte CRC check; a 1 byte CRC check is used on versions after 2.0.  This can be used to test if the password supplied is correct or not."*

On a side note I'd prefer them saying "on or after 2.0" but they do say "after 2.0" and the phrasing is somewhat different yet equ

[2021-02-24 02:56] magnumripper commented on #4571
The fix provided in #4574 not only disables 2-byte checks for some archives - it also enables them for others: Prior to this, any archive without any efh fields would get the single-byte check. Maybe the APPNOTE at the time Jim wrote the original code (*many* years ago!) simply wasn't very clear about the matter.

[2021-02-24 20:19] solardiz commented on #4571
Thank you for figuring this out, @magnumripper! I am puzzled, though: PKZIP 2.0 is ancient. As I recall, 2.04g is from 1993. Do you really have (m)any password protected archives created by versions older than that? Or did e.g. this popular version put some older version identifier into the archives (as minimum version needed to extract)?

[2021-02-24 20:21] solardiz commented on #4571
Is it possible that by "after" they meant e.g. 2.1+? So the popular PKZIP 2.04g for DOS still used 2-byte? This should be easy to check.

[2021-02-24 23:15] wsandin commented on #4459
@solardiz @magnumripper I just had a go at implementing your suggestions. I guess some of the options could be grouped a bit more rather than being stale in alphabetical order. Would be happy to hear your thoughts.

Once we concluded that part, I'll make sure to update the `doc/OPTIONS` file.

[2021-02-24 23:34] wsandin commented on #4399
I just had a look at this, and I realised that we'd need to increase indentation/space between menu options and description by three spaces, to fit in these options prefixed with "wordlist". I guess that's fine, but just wanted to check with you before proceeding - as it may have been the reason they're named like this in the first place.

What's your thoughts?

[2021-02-25 02:59] LucasGaleano opened #4575 "Confusion around Subsets mode not testing all possible permutations"
Hello there!
I have a problem with the subsets, it does not create all the possible permutations, for example I use this command and the word 'abcdefgh' should appear but it does not.
I don't know if I don't understand how this feature works or if it is a bug or something, I would appreciate your help.
I used this command exactly:

`./john   --max-len:8 --subset:abcdefgh --stdout | grep 'abcdefgh'

[2021-02-25 07:16] magnumripper commented on #4571
I'm pretty sure they mean on or after 2.0, but yes we're talking "version needed to extract" here (which is also the version we show in the output): Even the latest tools may produce such archives as long as you don't use some feature of newer date.

From [pkware APPNOTE-1.0](https://www.pkware.com/documents/APPNOTE/APPNOTE-1.0.txt)
[code]

From [pkware APPNOTE-2.0](https://www.pkware.com/document

[2021-02-25 07:30] magnumripper commented on #4571
InfoZIP version again. This is based on the PKZIP version but "unofficially corrected and extended by Info-ZIP".
[code]

[2021-02-25 07:50] magnumripper commented on #4575
If you look at the log it will say "`0:00:00:00 - Lengths: 1-8, max. subset size 7`".

Try this
[code]
You can also change the `MaxDiff = 7` in `john.conf`, section `[Subsets]`, to something higher. Whatever you put there will of course be capped by your current max length anyway.

Perhaps we should set this default higher?

[2021-02-25 08:31] sectroyer opened #4576 "Splitting brute force keyspace"
I have small feature request (unless it's already implemented?). I use both john and hashcat in custom solution for distributing password cracking. I have pretty good results (all nodes finish with similar ETA) by splitting dictionary by number of lines (as a percentage of nodes computational power). However I have an issue while splitting keyspace in brute attack. Itried using simple letters (for

[2021-02-25 11:31] magnumripper commented on #4571
From actual source code (unzip 5.52)
[code]
I find it interesting that there's an `#ifdef` here as opposed to some check of archive version. I take it unzip(1) version 2.0 and above will only check a single byte regardless of what version was used for *creating* the archive.

[2021-02-25 11:55] magnumripper commented on #4571
OK this is also interesting: Our *format* will know both the CRC and the timestamp, but it doesn't try to understand which one to use for early reject - it checks both:
[code]
(`e` is the CRC, `e2` is the timestamp).

This means we can get better early rejection, provided we get this right.

[2021-02-25 12:04] magnumripper commented on #4571
The current hash format doesn't include the "version needed to extract" though, so we need to think carefully about how to fix this

[2021-02-25 12:07] magnumripper commented on #4571
#467 history is interesting with my newer insights

[2021-02-25 12:17] magnumripper commented on #4571
Without changing the hash format, I guess `zip2john` would need to fill in the correct checksum (i.e. either the CRC or the timestamp) in both fields. Or just in the first field, and have the format never bother looking in the second field.

Just in case we don't get this 100% right now (although I think we can) I think it would be nice to change the format to `$pkzip3$` and start adding the "vers

[2021-02-25 12:22] solardiz commented on #4576
@sectroyer We have the `--node` option, usable with any cracking mode (although under the hood it's implemented with separate code per cracking mode). If your nodes aren't the same speed, you can use a higher virtual node count and node number ranges. Please refer to `doc/OPTIONS`. Does this satisfy your needs?

[2021-02-25 12:27] solardiz commented on #4576
Anyhow, there isn't anything in what you wrote that we'd currently want to track as an issue. So I'll close this. Please feel free to add further comments anyway, or to move this to the john-users mailing list (for a discussion on how to use the existing functionality best).

[2021-02-25 12:37] solardiz commented on #4575
My guess is this might be a misunderstanding of what the subsets mode is, treating it as an exhaustive search mode, which it isn't meant to be. The "sub" in its name literally means that it isn't supposed to test all characters at once, but only in smaller subsets (although as a special case it can be configured to eventually test all at once, as well).

Perhaps @LucasGaleano would actually want t

[2021-02-25 12:40] magnumripper commented on #4571
Sum-up this far. Version is the one "needed to extract", TS is timestamp, CRC is the CRC-32 and CS is whatever early-reject checksum we have, which is 8 or 16 bits of one of the two former.

Current situation:
- Neither the version or the general purpose flag is stored in the current hash format 😢 .
- zip2john stores 16 bits of TS **and** 16 bits of CRC for all files (the full 32-bit CRC is a sepa

[2021-02-25 12:46] solardiz commented on #4571
If we introduce a new zip2john output format, then let's encode more into it just in case. So continue to always include 16 bits for both TS and CRC. Add the version needed to extract. Add the entire flags field, not just bit 3. Add all EFH values just in case. I think these are generally not security-sensitive, so let's have them. (Ideally, we'd avoid having the actual encrypted data in there, bu

[2021-02-25 12:53] solardiz commented on #4399
I don't mind, but maybe we can instead come up with better option names? Maybe e.g. `--dupe-suppression` can become `--wordlist-unique` (consistent with the name of our `unique` program, as well as with option `-u` to `sort`).

[2021-02-25 13:09] magnumripper commented on #4571
Just brainstorming here, I don't really expect anyone to read this.

Current format (from source code comments):
[code]
The comment "Unix zip is 2 bytes, all others are 1 (NOTE, some can be 0)" is, as we now know, incorrect. Correct wording is "Pre v2.0 zip is 2 bytes, all others are 1" and zip2john would never output 0 there.

What we could do is this:
- Change zip2john to output only the correct

[2021-02-25 13:13] magnumripper commented on #4571
No wait, here's the original format that we still support:
[code]
We could simply revert to outputting that format, just with the correct CS (sometimes half the CRC, sometimes the timestamp). I think this is the way to go.

[2021-02-25 13:28] magnumripper commented on #4399
I'd rather not change option names as it comes with boring backward compatibility support (but yes, if that option would have been added today it'd definitely be named something starting with `--wordlist-`).

Just see to it that the longest lines are 79 or 80 bytes wide (some user reported Microsoft stuff would add a blank line if we use column 80 - how stupid is that?!). Some time soon I'll add a

[2021-02-25 13:32] magnumripper commented on #4399
BTW I think `--dupe-suppression` works with PRINCE mode as well.

[2021-02-25 14:28] solardiz commented on #4399
In other words, you suggest we don't do anything on this issue? Just close it?

Yes. We need to use at most 79.

Oh, this may be a reason not to rename. We also have `--rules`.

[2021-02-25 14:34] magnumripper commented on #4399
Not sure I quite understood the original question but I think I recall we had different indentation for the old `--list=hidden-options` vs. the normal usage blob so that might be where some "indentation vs. width" issue sneaked in. I suggest we increase indentation (if needed) to accommodate all option names on the left "side" and when doing so, split/add rows if needed to have the descriptions st

[2021-02-25 14:38] solardiz commented on #4399
The question was about whether we should do any option renames at all, or maybe not. Maybe we actually don't want this issue to be worked on.

[2021-02-25 14:52] magnumripper commented on #4399
Oh, right, sorry 😆 I thought this was another issue.

Well `--dupe-suppression` isn't a candidate now that we think of it, and `--loopback` is almost a mode in itself and some day it might well be totally separated from `wordlist.c`.

Maybe `--wordlist-mem-file-size` is an actual candidate but that's a rarely used option, perhaps to the point of being a candidate for dropping (perhaps with support

[2021-02-25 16:08] magnumripper commented on #4571
OK so a problem is that Jim defined the *one- or two-byte checking* at archive level in the hash input format, while it actually needs to be enumerated for each file *in* the archive. Duh. We could work around it by using single-byte if *any* of the files are single-byte but maybe it's time to move on to a new format.

Definitely. While extraneous data could be bad for some formats (making actuall

[2021-02-25 16:11] magnumripper commented on #4571
Anyway I have already established that once we have this fixed, we'll have ended up with *better* performance in most cases as opposed to worse. Me like.

[2021-02-25 16:51] sectroyer commented on #4576
I checked --node option and it is usable for what I want to use it. It's even easier to use than manually calculating keyspace number like in hashcat. For now I was calculating node "percentage power" which (if I understand correctly) I could use with nodes set to 100 and treat percentages I have calculated as ranges you are describing. This would solve my issue with john nodes however for some of

[2021-02-25 17:00] magnumripper commented on #4576
It should be silly simple to implement JtR in Hashtopus (much simpler than hashcat), they are just too blinded with hashcat to see what course to take. I actually started to implement an alternative `--node` option for hashcat some time ago, because I despise their current options, but it never ended up in a PR. It should be fairly easy to implement though.

[2021-02-25 17:02] magnumripper commented on #4576
Then again, our `--node` option has its limits, it's really not meant for fine-coursed stuff like `-node=1355/1000000`. It depends on what mode is used though.

[2021-02-25 18:14] sectroyer commented on #4576
Well I only hope to use it as -node=1-13/100, -node=14-20/100, etc. As "percentage power" so I don't think there will be an issue with that. Also as I explained I have very good results by splitting dictionary in a similar matter however still have issues with brute:(  If I could use john to do -node=83-100/100 and use --stdout (or some other flag) to output "hashcat numbers" I could support all n

[2021-02-25 19:17] solardiz commented on #4399
Yes, let's do that.

[2021-02-25 19:17] #4399 closed, assigned to nobody

[2021-02-25 22:37] solardiz commented on #4576
They almost certainly are not.

BTW, you mention "brute force" in multiple places, but to me this is something undefined, a non-term I refrain from using. We have several cracking modes. hashcat has several attack modes. In a sense, _all_ of those (even wordlist-based modes) are "brute force": they test candidate passwords. hashcat has a mode called "brute force", which is actually mask mode in ou

[2021-02-26 00:47] LucasGaleano commented on #4575
Thanks for both answers, now it's clearer to me how the subset mode works, I didn't know that the subsets-min-diff was set to 7, I should have paid more attention or read the logs.
I normally use the mask mode but as I love this tool I wanted to try the other modes.
Regarding the question, I think it's ok that the default is set to 7.

Thanks for your time

[2021-02-26 11:42] magnumripper commented on #4576
*AFAIK and if things hasn't changed*, hashcat keyspace numbers are not often counted in "passwords" but in "blocks" of unknown and varying size. You can get a keyspace figure from hashcat of eg. 363,839 for an actual keyspace of 1,117,714,499 becuase the keyspace was counted in 3K blocks in that very occasion. Running the very same keyspace calculation on some other rig (eg. with other GPU's) coul

[2021-02-26 12:37] solardiz commented on #4575
Thanks @LucasGaleano. I think there's nothing for us to do on this issue, so I'm closing it.

[2021-02-26 12:47] magnumripper commented on #4575
I think I'll add a line or two to the docs actually, making this more clear.

[2021-02-26 12:50] solardiz commented on #4575
Sounds good, @magnumripper. Thank you!

[2021-02-26 14:06] sectroyer commented on #4576
@solardiz yes I meant what (in john terms) is called mask mode. I just got used to calling it "a brute" for short ;) @magnumripper yes, that is exactly what I was asking for. Tough shame there is no "standard" for it. I played around on few machines that are part of my test environment and I definitely see benefits of mixing node types. In my test environment around half (depending on algo) of has

[2021-02-26 14:34] #4571 closed, assigned to magnumripper

[2021-02-26 21:46] ghost opened #4578 "08845a0 causes bad behavior in TS --internal"
It is probably not a bug, but it deserves further investigation. Right now, super is in use, I'm opening this up as a reminder.

Something related to the new "hash" spec (maybe?).

[2021-02-27 12:29] magnumripper commented on #4578
Looks like the format sees the two versions of last test vector as same salt.

[2021-02-27 20:43] ghost commented on #4578
The user needs to run `john` twice to crack the two hashes (two lines in the pot file). This is, at least, a bad behavior.

[code]

[2021-02-28 19:28] aadesunloro commented on #1660
<img width="505" alt="error message on johnny"

<img width="505" alt="error message on johnny" src="https://user-images.githubusercontent.com/70285271/109430762-8e22d680-79c8-11eb-8772-097b912dcab0.PNG">
ps://user-images.githubusercontent.com/70285271/109430725-6af82700-79c8-11eb-8b05-8e2369981564.PNG">[](url)

Please, how do I correct "No hashes loaded[format=], see console log.

Kindly advise AS

[2021-03-01 01:25] magnumripper commented on #4578
It sure is. I'm on it

[2021-03-01 09:32] sectroyer commented on #4576
Okay I was able to implement what we discussed and it looks to be working. However on fastest john node I don't see ETA and percentage progress after few first chars (I am doing mask attack 1-8) disappears. Am I doing something wrong or is it a bug? Here is how I split (first by first letter, than by --node):

`Total power percentage of john nodes: 41.11%`
`Total john keyspace:            w-9`

`j

[2021-03-01 13:17] solardiz commented on #4576
@sectroyer The disappearing progress percentage and ETA could be a bug or at least a shortcoming. If you can share a reduced and reproducible test case for this, then please open a separate issue for it. No real password hashes in the test case, please (you can generate similar fake ones). Thanks!

[2021-03-01 13:35] solardiz commented on #1660
@aadesunloro We don't provide user support in the manner you seem to expect, and normally not on GitHub at all. We do provide friendly community discussions on the [john-users mailing list](https://www.openwall.com/lists/john-users/), but for that you got to be comfortable describing things in pure text (no screenshots) and communicating via e-mail that gets published for everyone else to read and

[2021-03-01 16:45] sectroyer opened #4579 "ETA disappears at 7th character"
In order to reproduce this issue just run attached test.pwd with following command:
`john --format=descrypt '-2=[xyz0123456789]' -1=?l?d --min-len=1 --mask=?2?1?u?1?1?1?1?1  --node=1467-4136/4136 ./test.pwd `

`Using default input encoding: UTF-8`
`Loaded 1 password hash (descrypt, traditional crypt(3) [DES 256/256 AVX2])`
`Will run 32 OpenMP threads`
`Node numbers 1467-4136 of 4136`
`Press 'q' or

[2021-03-01 16:50] sectroyer commented on #4576
@solardiz I have submitted bug report here: [https://github.com/openwall/john/issues/4579](url) with "test" pw ;) Still not sure if my "fix" doesn't break anything else (in my current setup) will do more tests and report.

BTW I would like to ask something about mask mode. Let's assume (for the sake of simplification ;)) that I want to crack for letter pw which has one upper letter, one digit, one

[2021-03-01 17:39] ghost commented on #4579
The overflow does not happen in this line. Offset is 1,9^13. UINT64_MAX is 1,8^19.

It happens at 1853 `my_candidates = total_candidates - offset;`.  Because `(total_candidates < offset)`.

magnum, a check like this sounds reasonable? **[EDITED], it seems something else is wrong.**
[code]

[2021-03-01 17:48] solardiz commented on #4576
@sectroyer Thank you for creating that other issue.

There isn't currently a good way to express those masks as one attack.

BTW, for attacks on a small number of descrypt hashes you'll likely find `--fork` significantly faster than OpenMP. Unfortunately, we currently require the number of forked processes to exactly match the number of nodes in the range. So you can't have e.g. `--fork=32 --node=

[2021-03-01 18:23] sectroyer commented on #4579
@claudioandre-br So this ridiculous number (18....) was correct? I assumed something happens there as on none of other nodes there was even a number of this order of magnitude... That's why I assumed there is a bug there 😄

[2021-03-01 18:32] sectroyer commented on #4576
@solardiz Okay I will do test fork option tough with openmp i get one status for whole session which is pretty useful. Will see how big impact will it have in my specific calculations and report back :) Tough since it has such big correlation with --node I don't know if I will be able to adopt it efficiently. Node "john3" has 32 cores so it would require 32 nodes whereas "john2" has 8 cores but cr

[2021-03-01 18:44] sectroyer commented on #4576
I think providing some way of expressing such "constrains" would be good idea. Especially since for computer "configuring" such attack isn't really complex tax but for humans/scripts it really hard to grasp. In real world scenario with up to let's say 8 characters long pw it's pretty common to have 1-3 numbers, 1-3 special chars and rest we can assume would be lowercase letters and maybe 1-2 upper

[2021-03-01 18:55] solardiz commented on #4576
@sectroyer Now we're deep into topics that would be much better discussed on john-users than here.

If so, you could want to experiment with very different hash types, and see different strategies work best accordingly.

For AVX vs. AVX2, you could double the number of forks on the AVX boxes (overbooking them, which would hurt performance really bad with OpenMP but is tolerable with fork). Or halv

[2021-03-01 18:58] solardiz commented on #4576
It's a fallacy to focus on password patterns you see the most without considering the size of keyspaces for those patterns vs. simpler patterns that maybe don't occur so frequently. You do need to be a little bit of a mathematician there to calculate and sort the ratios.

[2021-03-01 20:35] sectroyer commented on #4576
@solardiz I considering such "based on patterns" attack when I already did all dicts I could find with best64 rule (btw is there any other rule also worth checking?), full 8 chars of ?l?d and some other stuff. There are still some things I wanna try but such "pattern based" attack is last thing that won't take "ages" :) I just noticed that some of the "harder" to crack hashes on IoT that I could c

[2021-03-01 20:51] solardiz commented on #4576
@sectroyer More john-users material here. Please use the mailing list next time you bring something like this up.

Of course. `--rules=jumbo` is a must to run, at least with a tiny wordlist (such as RockYou top 10k to 1M). With a tiny enough wordlist or/and a fast hash, you'd also run `--rules=all`.

You can instead use "incremental" mode and let it do the magic for you. It can take forever to com

[2021-03-01 21:25] sectroyer commented on #4576
Well for now I have to little data to really "discuss" it. I wanted to mention that just to explain my attitude towards this matter :)

Yes I already noticed that and still playing around. For example on one node I have poor ("just for display") nvidia graphic card which is completely useless (using it for cracking reduces john speed more than I could gain) for des hashes however doubles nodes spe

[2021-03-01 23:38] ghost commented on #4579
I would say the computation seems wrong. As it works now (naive math, real numbers):

[code]
Last line above is `13bi x 1466 = 1,9^13` (the ridiculous number).
Much bigger than total_candidates. Wait a secont; in fact, always bigger when nodes "matter".

`offset` seems to be wrong in this example (where node_min is <> 1). is offset **the offset**?
* I would expect an offset of 7 bi
`offset = total

[2021-03-02 15:38] kaal-kali opened #4580 "not able to decrypt error"
Using default input encoding: UTF-8
No password hashes loaded (see FAQ)
this error is shown while typing command
zip2john --format=zip hash.txt

[2021-03-02 15:46] ghost commented on #4580
This is not an error, this is a warning. No (non-cracked) zip hashes was found inside `hash.txt`.

In fact, I guess you used `john --format=zip hash.txt` (BTW: you can/should remove the format option and allow john detect the hash type). FAQ explains a lot of use cases where the message "No password hashes loaded" is expected.

[2021-03-02 15:46] #4580 closed, assigned to nobody

[2021-03-02 23:34] inasribrahim opened #4582 "Stateless token-based authentication"

[2021-03-03 02:52] kaal-kali commented on #4580
while john hash.txt same error show

[2021-03-03 08:39] sectroyer opened #4583 "Set TIMER_SAVE_DELAY to 60 seconds for consistency with default john.conf"
I think it affects any mode but here is sample command:
```john  -1=?u?d --min-len=1 --mask=?1?1?1?1?1?1?1?1 - ./tmp/sort_cameras.pwd --format=descrypt```
I think session file updates are stopped/blocked until john is stopped. If on second terminal I try to check session status I get this:
[code]
Once I ctrl+c john status is displayed correctly and session restoring also works. However when I kill

[2021-03-03 10:24] solardiz commented on #4582
@inasribrahim Are you going to fill in the issue description?

[2021-03-03 10:26] solardiz commented on #4583
This suggests the timer isn't working. If so, I guess the status line printing on a keypress in an interactive session is also not working?

[2021-03-03 10:42] sectroyer commented on #4583
It works as a charm. Also I noticed john --status command DOES update sometimes but rarely and it never displays last status from stdout.

[2021-03-03 10:45] solardiz commented on #4583
@sectroyer Well, with default settings the updates should be once a minute. Just how rare are yours?

[2021-03-03 10:53] sectroyer opened #4584 "Allow fork divisible node values"
I have played around with using --fork instead of openmp as @solardiz suggested and on some nodes I am getting pretty good results. Therefore I would like to implement it on my system. However I have see2, avx and avx2 nodes. As @solardiz suggested "overbooking" them does work however this bring up the issue that some of those machines I do NOT want to use all cores for john (they also have other

[2021-03-03 11:01] #4578 closed, assigned to magnumripper

[2021-03-03 11:06] sectroyer commented on #4583
On other nodes it's updated every time I press enter and every time I see new info auto updated in console window. Now made a test from start and I saw an update after around 10 minutes. I have written simple script that runs john --status in a loop with 30 seconds sleep. It was started at around 11:54 and here is when output changed:

[code]

[2021-03-03 11:10] solardiz commented on #4584
What I was thinking is that we should allow e.g. `--fork=32 --node=200-263/333`, which would run only 32 processes yet use up 64 node numbers (each process would correspond to two virtual nodes, taking their portions of the keyspace). Is this the same as your suggestion?

[2021-03-03 11:40] sectroyer commented on #4584
Yes, that's exactly what would solve my issues. Both --node and --fork look are very powerful but strict relation between them really hurts. I don't know if adding support for virtual nodes is necessary. I think even simple "divide node numbers by two" would be a good start (and I think enough for my needs). In other words whole code path would stay the same but if number of nodes is divisible by

[2021-03-03 11:53] solardiz commented on #4584
@sectroyer That special case hack you describe now sounds too confusing to users. It'd introduce the notion of translated node numbers. Ouch.

[2021-03-03 11:59] solardiz commented on #4583
Looks like the timer is off by a factor of 10. We'll need to look into that. Meanwhile, you can change `Save = 60` to `Save = 6` in `john.conf`. Does this help?

Also, are you possibly getting this warning during build (see `os.h`)? -

[code]

[2021-03-03 12:17] solardiz commented on #4583
Unrelated to the issue, but:

FWIW, with JtR you don't have to repeat the same mask character like that to have the mask length grow (I think you do with hashcat). You can use:

`--max-len=8 --mask='?1'`

and it will repeat the last mask placeholder (in this case, the only one) as many times as necessary for the current length.

[2021-03-03 12:34] sectroyer commented on #4583
Okay I can confirm this is NOT freebsd specific issue. On one linux machine I get an  update every minute seconds whereas on other every 10 minutes. Same with jumbo1 and git head. On freebsd no such warning. Okay once I put Save=60 (now even switched to Save=30) in ~/.john/john.conf it all started to work. Let's continue the discussion about Linux machine that was behaving incorrectly. Here is inf

[2021-03-03 12:47] sectroyer commented on #4584
Okay I understand, I will do more tests of git head and maybe try hacking it myself just to see how it behaves :)

[2021-03-03 12:53] solardiz commented on #4583
Oh, now it's clear, and this isn't really a bug. We have the compile-time default of 600 in `params.h`. We override it to 60 in our default `john.conf`. We might want to change the compile-time default to 60 as well, for consistency. (Both were 600 in core, but jumbo changed one to 60.)

You're messing with system-wide builds. These are easier to get wrong than to get them right. I think you'd wan

[2021-03-03 14:29] sectroyer commented on #4583
For now my setup requires john to be in PATH I might change that in the future but for now I recompiled git with system-wide set to /etc/john and it looks it's working correctly. About speed up I got up to around 145-150 MH/s with openmp but still far 300 with --fork so now trying to implement that :) However on node with 32 cores and --fork enabled I do get different status output every 30 second

[2021-03-03 15:25] solardiz commented on #4583
@sectroyer Can you please send us a PR fixing this issue (per its current title) - change the 600 to 60 in `params.h`? Thanks!

Trivial for anyone to do, but we'd like to gain a contributor who might send us more PRs later. ;-)

[2021-03-03 16:49] magnumripper opened #4585 "Apple M1 build"
I got my hands on a Macbook M1 for a while and thought I'd sort out JtR on it. This issue will contains a bunch of notes and likely end up with a PR or two, if needed.

So, starting with a 100% pristine Macbook. Before anything else, I installed xcode and command-line tools. After that (maybe before it as well, I dunno) I had git(1) so could clone the repo. Then,

First try: Just run `./configure`

[2021-03-03 16:55] solardiz commented on #4585
Thank you, @magnumripper!

This is only subtly related, but FWIW as far as I'm aware (from user feedback) our builds made on/for Intel Macs with SSE4 do work on M1 via Rosetta 2, however those with AVX2 don't (print the "AVX2 is required" message).

[2021-03-03 17:00] magnumripper commented on #4585
That's interesting, I'll try things like that as well (and comparing benchmarks).

I haven't googled anywhere near what I need to yet, but I was also under the impression even running an ARM build wouldn't quite be "native" Silicon M1 (but "more native" than intel binaries). Lots of things to learn here.

[2021-03-03 17:09] magnumripper commented on #4585
Simply re-linking arch.h to arm64le.h didn't help at all - same build error.

[2021-03-03 17:23] magnumripper commented on #4585
Trying `--disable-simd` for a starter. That works as-is.

Using arm32le.h, I get DEScrypt speeds of 5334K (many salts) and 5060K (one salt). NT-opencl benchmarks at 958253K.

Using arm64le.h, nothing much changed and I realized even with arm32le.h we got 64-bit bitslice. Not sure exactly what's going on there.

I also noticed OpenCL figures vary a fair bit between runs, even with same auto-tune re

[2021-03-03 17:27] magnumripper commented on #4585
Seems I was wrong. Disabling SIMD and OpenMP on my Intel Macbook, I only get 3355K "many salts" and 3233K "one salt"

[2021-03-03 17:29] sectroyer commented on #4583
Ouch it hurt my brain :D Finally figured out you mean pull request ;) Ok will do so but first how to check up how to mirror on my github ;) And yes I hope I can help more in the future 😄 👍

[2021-03-03 17:36] ghost commented on #4583
For patches like this, you can work 100% online (directly on your forked GitHub repo).

[2021-03-03 18:04] sectroyer commented on #4583
Yeah, when you know where to click ;) But I think I have done it. Please check if all is ok?

[2021-03-03 18:10] magnumripper commented on #4585
The native gcc is just arm64 though, as is Homebrew's real gcc (v10).

Using the latter, all build problems went away and I got OpenMP, and I ended up with `DES 128/128 NEON` (still not sure why it's not ASIMD though) and speeds for 8 threads are 17704K many salts, 16530K one salt.

Manually relinking arch.h to arm64le.h fixes the SIMD confusion, rendering `DES 128/128 ASIMD` and DEScrypt speeds o

[2021-03-03 18:41] #4583 closed, assigned to nobody

[2021-03-03 18:48] magnumripper commented on #4585
So far, just this needed

Install Xcode via App Store, then install "command-line tools":
[code]

Clone repo:
[code]

Install Homebrew, then install OpenSSL and gcc with it:
[code]

Build JtR
[code]
Until #4587 is merged, you also need `ln -fs arm64le.h arch.h` right after `./configure` and before `make` in order to get proper SIMD speeds.

[2021-03-04 08:43] e2002e opened #4588 "Amnesic -stdout piping"
Hi, issue is when piping words with the options -stdout
When out puting lines on the console it does restore correctly.
When sending these words to another software, -restore option is ineffective.

./john -inc -stdout |../thc-hydra/hydra -l admin -x +1000 ssh://127.0.0.1 (Yes I'm making some add for my fork of hydra)
./john -restore |../thc-hydra/hydra -l admin -x +1000 ssh://127.0.0.1 -> Same wo

[2021-03-04 09:06] sectroyer opened #4589 "--status of a --fork session fails to consider --node range found in main .rec file"
I have switched to fork in system and as a result had to scale down nodes. Now I think I have encountered another issue with --status switch. Half of the nodes have always status completed. Here is the cmd:
`OMP_NUM_THREADS=1 john --format=descrypt '-2=[opqrstuvwxyz0123456789]' -1=?l?d --min-len=1 --mask=?2?1?1?1?1?1?1?u --node=16-47/47 --fork=32 ./test.pwd --session=test`
When I remove --session

[2021-03-04 09:27] sectroyer commented on #4589
I changed the title I just noticed similar issue on 10 core node:

<img width="1203" alt="Zrzut ekranu 2021-03-4 o 10 26 58" src="https://user-images.githubusercontent.com/6706818/109942199-41931000-7cd4-11eb-9c3e-0477f9bde1c9.png">

[2021-03-04 09:48] magnumripper commented on #4588
First, try decreasing the `Save = 60` in john.conf to just `Save = 1` and see if it helps at all. It might.

There are always some caveats with piping and abort/resume:
- OS buffers may fool John into restoring too late: Words that was sent into the pipe might not have been processed by hydra yet and we can't know that. This is not the problem here though.
- If John gets a "nice kill" it should sa

[2021-03-04 09:50] solardiz commented on #4588
Hi @e2002e. The combination of `--stdout` and eventual session restore is inherently unreliable. (Maybe we should disallow it altogether, although it's sometimes useful as a best-effort.) This is because piping involves buffering by the operating system and by the target program, which the `john` process doing `--stdout` and needing to update `.rec` files has no insight into. So it may end up writ

[2021-03-04 09:58] solardiz commented on #4589
At first glance, looks like an issue with mask mode's work splitting resulting in some processes given no work and actually completing right away. Not an issue limited to status reporting.

(Unrelated, instead of `OMP_NUM_THREADS=1` you could consider `./configure --disable-openmp` for slightly better speeds. Also, JtR automatically lowers its per-process OpenMP thread count, even all the way down

[2021-03-04 10:01] solardiz commented on #4589
@sectroyer Just to make sure, is this with the latest code from this repo and without any custom changes of yours? (I recall you were going to experiment with halved node numbers in a source code hack to accommodate your SSE/AVX vs. AVX2 systems, and indeed such attempts can easily cause this sort of breakage.)

[2021-03-04 10:03] solardiz commented on #4582
No issue description and no communication from the reporter. Closing.

[2021-03-04 10:03] #4582 closed, assigned to nobody

[2021-03-04 10:07] solardiz commented on #4580
@kaal-kali You tried to use our GitHub for user support, but we don't use it like that. You're welcome to join the john-users mailing list and describe in there what you're actually trying to achieve and how, and perhaps the friendly community in there will help figure out why you're getting that error and how to avoid it. You might have created that `hash.txt` file wrongly, or with a different/in

[2021-03-04 10:20] magnumripper commented on #4588
It would be a pity to disallow it. We could mention these issues in `doc/OPTIONS` - it doesn't seem to be mentioned at all.

[2021-03-04 10:23] e2002e commented on #4588
Ok I got it.
I will try editing john.conf.
See you.

Le jeu. 4 mars 2021 à 11:21, magnum <notifications@github.com> a écrit :

[2021-03-04 10:32] solardiz commented on #4588
Right, or/and we could print a warning when `--restore` is used and `--stdout` is seen in the `.rec` file.

[2021-03-04 10:39] e2002e commented on #4588
Maybe you could make it ignore system buffers: "I sent x words, I'm
restoring at x+1". As an option. John knows how much word he's treated even
though unaware of the rest, right ?

Le jeu. 4 mars 2021 à 11:33, Solar Designer <notifications@github.com> a
écrit :

[2021-03-04 10:42] sectroyer commented on #4589
@solardiz I gave up with those changes :D Also it works with bleeding edge and jumbo1. Only NON standard change I have was the "big num candidates fix" for previous node bug I reported but I think this only affects ETA?

But it looks like whole attack was finished. I was getting even status updates for ALL nodes in stdout just NEVER in --status.

Yes I noticed that and on some nodes I was getting

[2021-03-04 10:44] magnumripper commented on #4588
No, we just send words into the pipe (actually we just send them to stdout, without knowing whether there's a pipe there or not) and the rest is unknown: We have no idea (we can't know) whether things are buffered at all, how large the buffers might be, or how much of the buffer was eaten or not by the receiving program. I guess we could set stdout to be unbuffered (if we don't already) but that w

[2021-03-04 10:48] sectroyer commented on #4589
Or maybe it's not... I have sent SIGUSR1 to all john pids (pressed enter few times to have clear lines before output) and I got this:
<img width="1275" alt="image" src="https://user-images.githubusercontent.com/6706818/109952786-87090a80-7cdf-11eb-812a-ecf67b81a60f.png">
I don't see any output from nodes 1-16...

[2021-03-04 10:53] magnumripper commented on #4588
FWIW some people have experimented with using a FIFO in between. This can help *or make things even worse* but you could experiment with it for phun.

Example:
[code]
(I had problems now trying the above, not sure what I'm missing. John exits fairly early)

[2021-03-04 11:04] magnumripper commented on #4589
Well you are running `--node=16-47/47` so you can't expect anything from node 1-15, right?

[2021-03-04 11:05] sectroyer commented on #4589
K my bad I am constantly being confused by those "node numbers" I expect them to be fork numbers 🤦 All 32 nodes ARE reporting status so all correct here HOWEVER --status ALSO "thinks" as I do and tries to report status for nodes from 1-32 so that's why output starts at node 17 😄

[2021-03-04 11:05] magnumripper commented on #4589
Exactly. This is very confusing, I agree. Perhaps even a bug?

[2021-03-04 11:08] sectroyer commented on #4589
Confirmed the issue. I changed --node to --node=4-35/47  and EXACTLY 4 nodes are NOT displayed in output:

<img width="1272" alt="image" src="https://user-images.githubusercontent.com/6706818/109955047-5080bf00-7ce2-11eb-8102-8d79d9e51aeb.png">

[2021-03-04 11:11] sectroyer commented on #4589
I am not exepcting anything from nodes 1-15 but I do from forks 1-15 which are nodes 16-32 in --status output but nowhere is output from forks 16-32 which are nodes 33-47 😄

[2021-03-04 11:36] solardiz commented on #4589
So it looks like the problem is `--status` doesn't consider a `--node` option found in the master `.rec` file. Does `--restore` of such a session still work correctly, though?

[2021-03-04 12:20] sectroyer commented on #4589
Well I assume it does. I stopped a session and looks it continued tough is internally "everything ok" no idea 😄 But you should be able to reproduce the issue with provided command, looks it's nothing specific to my setup :)
Okay noticed one issue with restored session. Both in --status and stdout ETA stops working:
<img width="1271" alt="image" src="https://user-images.githubusercontent.com/670681

[2021-03-04 13:29] ghost commented on #4589
I see a bug here.
* A key press reports from 16 up to 47.
* A `--status` reports from 2 to 32 (16 appears twice). And it shows some 'session completed'.

[2021-03-04 13:34] solardiz commented on #4589
I don't see 16 appear twice on the screenshot. I assume it reported the full range from 1 to 32, with 1 having scrolled off screen.

[2021-03-04 13:36] ghost commented on #4589
In the first screenshot you can see 16 twice: before 2 and before 17.

[2021-03-04 13:37] solardiz commented on #4589
Ah, right. There's also a screenshot with 4 appearing twice when the node range started at 4.

[2021-03-04 15:15] magnumripper commented on #4585
Native gcc (clang)
[code]
So it defaults to 64-bit and to having support for NEON and/or ASIMD. It doesn't seem to need `-mfpu=neon` or `march=armv8-a+simd` but it doesn't complain with them either. On a side note it seems to support `-m32` and that turns off even NEON.

Homebrew gcc-10
[code]
It defaults to 64-bit and doesn't even allow `-m32`. It seems to support NEON without any option but does

[2021-03-04 15:16] ghost commented on #4589
I believe the patch below is correct [1].

I tested using `--node` + `--fork`, using `--fork` and using a regular session.
[code]

[1] The `ETA disappears at 7th character bug` patch might be correct (I think it is better than the current code). There are too many possibilities, real testing is needed.

[2021-03-04 15:20] sectroyer commented on #4589
Is the "disappearing ETA/percentage after restore"  same issue or is this something separate?

[2021-03-04 15:24] magnumripper commented on #4585
From what I can tell, us calling it "ASIMD" instead of "NEON" is blindly from that arch.h change, but the speed difference might be from the `-march=armv8-a+simd` option. I need to verify that.

Our platform-agnostic intrinsics triggers on `__ARM_NEON || __aarch64__` everywhere I can see so it will trigger on any of the compilers without any extra option. But the native compiler fails to build it

[2021-03-04 15:31] magnumripper commented on #4585
The native gcc also doesn't change its macro output with `-mfpu=neon` at all. But when using `-march=armv8-a+simd` the following defines **go away** compared to default output:
[code]

[2021-03-04 15:41] ghost commented on #4589
Unrelated (but, I test using both "fixes").
****

**[EDITED]** I improved the use case to add some cracks (at 46 and 47). Things are ok IMO (ETA for size 6+ and "thread" number).
[code]

[2021-03-04 15:47] magnumripper commented on #4585
Regardless of which arch.h is used, here's the first error for native gcc
[code]

[2021-03-04 16:06] magnumripper commented on #4585
Back to real gcc: I now confirmed using `-march=armv8-a+simd` make no difference at all. The nearly 2x speed difference come from differences between arm32le.h and arm64le.h.

Things that differ for DES is `DES_MASK` (0 for arm32, 1 for arm64) and `DES_COPY` (the opposite values). And perhaps most importantly `DES_BS` (1 for arm32 and 3 for arm64) and `DES_BS_VECTOR` (4 for arm32 and 2 for arm64).

[2021-03-04 16:23] sectroyer commented on #4589
Okay I feared it has because of those N/A I had above. BTW not related but is it a known issue that using opencl in bleeding edge only causes segfault (where jumbo1 works correctly)?

[2021-03-04 16:33] ghost commented on #4589
No (probably, maybe). Please, create a new issue and post what you are doing and manufacturer plus GPU driver version.

[2021-03-04 16:38] magnumripper commented on #4585
On a side note, Apple seem to reuse their universal binary thing:
[code]
We could consider that when distributing John binaries.

BTW the john binary created with gcc-10 isn't arm64e:
[code]
It's just arm64. Same goes for a native gcc build:
[code]

[2021-03-04 16:41] magnumripper commented on #4585
From https://en.wikipedia.org/wiki/Mach-O

See also https://en.wikipedia.org/wiki/AArch64#ARMv8-A