[2020-06-07 17:10] solardiz commented on #4264
PR #4270 should fix this issue. @lev4ukpavel2 We'd appreciate it if you test that PR's branch (or just bleeding-jumbo after the PR is merged) with gcc 10 and make sure the code not only compiles, but also works for you and your hardware correctly. Thanks!

[2020-06-07 23:23] magnumripper commented on #3191
I recently (do not hold this against me, I will forever deny it) helped someone to install JtR on some Windoes gear. I tried using your  (@claudioandre-br) latest binary and did just that - copied a known-good nvidia `OpenCL.dll` right over `cygOpenCL-1.dll`. Worked like a champ (but not until that). Good lord knows I was relieved.

[2020-06-08 01:00] magnumripper commented on #4188
i never considered them a good choice on any platform 😆

[2020-06-08 01:03] magnumripper commented on #4106
For what its worth I ran a sha512crypt job on a Raspberry Pi (wordlist + rules) for like 48 hours with ASan but full normal optimizations. No problem seen. It was an MPI build but I think I ran it on just a single node (I'll need to revisit that screen session to see exactly what the heck I did).

[2020-06-08 12:18] solardiz commented on #3955
I couldn't reproduce the specific warnings/errors (reported on Fedora 30 here) using my builds of gcc 8.4.0, 9.1.0, nor any other release. I suspect this was a temporary gcc bug in some snapshot of 9.0.1. With their current version numbering scheme, gcc versions x.0.y are considered prereleases and are not expected to be as stable as gcc releases (x.1.y and higher).

I'm unsure if we should workar

[2020-06-08 12:33] solardiz commented on #3955
Apparently, Fedora 30 updates contain gcc 9.3.1 now, so the 9.0.1 problem would only affect those who installed Fedora 30 and don't update it. Or maybe even only those who updated Fedora 30 to a particular past revision yet don't update it anymore, because their 9.0.1 has been changing (Claudio's report here is for -0.10, but there were also -0.9, -0.8, etc.)

This should explain why we didn't hav

[2020-06-08 13:10] solardiz opened #4271 "gcc 3 warnings & errors"
Not sure if we care, but gcc 3.4.6 on x86_64 gives:

[code]

Yet the build succeeds.

gcc 3.3.6:

[code]

Build succeeds after this fix:

[code]

This is the exact same check that we already have in `gost.h` for the same reason, so I think we should commit it.

With both builds, all 408 CPU format tests pass.

[2020-06-08 13:36] solardiz commented on #4271
This points out several things:

1. We have an older revision of code from `yescrypt-platform.c` duplicated in `memory.c`. We'll need to de-duplicate this eventually.

2. `memory.c` forgot to include `sys/mman.h`, which results in it using the mmap-unaware code there. This might have performance impact for Argon2.

3. Some compilers treat the pointer cast in the `HAVE_POSIX_MEMALIGN` code as viola

[2020-06-08 18:32] magnumripper commented on #4271
This is definitely not the first time I've seen an **ancient**, and sane, gcc build give us much more *reasonable and actually worhtful* warnings than any ridiculous version since 2010 or so (which also emphasises my feeling of just being an old git). I'm pretty sure they have some Guiness Book of Records winning member (as in "human with most OCD in the entire world") trying to tie him/herself in

[2020-06-08 19:52] solardiz commented on #4271
Except for gcc 8's, I actually find recent gcc warnings helpful. The gcc 10 errors and warnings helped us fix some bugs in ZTEX support code and helped detect the meaningless misuse of `strncpy`, although I think someone else could have fixed that by making it even more complicated. The gcc 8 warnings were problematic in that they prompted ridiculous non-fixes for the uses of `strncpy`, but what g

[2020-06-09 15:18] solardiz commented on #4271
What do we mean by the checks for `< 128` on these lines in `loader.c`? -

[code]

[code]

These comparisons are currently always true on systems with signed char, which is probably not what we wanted? Do we add casts to `(unsigned char)` in these comparisons?

[2020-06-09 17:23] solardiz commented on #4271
Turns out there are more uses of `HAVE_POSIX_MEMALIGN` in jumbo, so I fixed and kept it for now.

I also made gcc 3.3.6 happy of BLAKE2, but we'll need to revisit (and maybe reconsider) this when merging new BLAKE2 upstream code.

Since we don't consistently rely on `#pragma once` anyway, I dropped/replaced the few uses of it that we inadvertently had.

For the struct packing in `filevault.h`, I u

[2020-06-09 19:39] #4271 closed, assigned to nobody

[2020-06-09 20:45] 0xln commented on #4106
I’ve managed to trigger about three consistent crashes now, but still not sign of a stack trace or core dump. Leads me to think it’s the MPI layer as opposed to JTR.

Any tips on where I would find a stack trace, core dump or way of debugging this.

[2020-06-10 17:34] magnumripper commented on #4271
Ouch. I never saw ill behaviour caused by this, but there should of been some. Thanks for fixing.

[2020-06-10 19:25] solardiz commented on #4271
@magnumripper Why did this code try to handle 8-bit chars specially? Is that somehow needed for utf-8 or for legacy 8-bit charsets, or both?

[2020-06-10 19:36] magnumripper commented on #4271
If a user "sorted" the file (which speeds things up significantly), it might be sorted with `C` or with `en_US.UTF-8` or any other strange encoding or codepage, and this code needs its view of that to be the same, or unreliable. So this is just a really trivial sanity check which falls back to being slow but (I think) correct.

[2020-06-10 19:37] magnumripper commented on #4271
Anyway it's all post-release IIRC

[2020-06-10 20:33] solardiz commented on #4271
@magnumripper I think this needs a source code comment.

Also, I think sort order can vary between locales even for character codes below 128. This isn't a reason against the sanity check, but we should realize (and document in that comment?) that the check is non-perfect.

[2020-06-10 22:12] magnumripper commented on #4271
True, while fairly unlikely these days. I'll review the whole shebang and try to figure out what I was thinking.

[2020-06-10 22:18] magnumripper commented on #4271
Starting to remember the train of thoughs, the code detects differences in sorting no matter what (although only >= 128 right now, we could change that) without any knowledge of code pages. Either it deems (after lap one) that the fast code path is safe, or that it isn't. So it won't ever fail (after your fixes) for >= 128, it just might not be as fast as it could be.

[2020-06-14 23:12] deathmorlock opened #4273 "bitcoin2john.py - unsupported btree version: 10"
Hello! Today have an eror while tried to get hash:
unsupported btree version: 10

[2020-06-15 11:28] solardiz commented on #4273
Hi @deathmorlock. It is unclear from what you said why exactly you said that and what you want. So let me clarify: our use of GitHub issues is to track issues with JtR that we might want to fix. It is not to provide user support. Please use the john-users mailing list for user support.

Anyway, the specific error you're reporting is generally caused by the version of Berkeley DB in use by Python o

[2020-06-15 11:33] solardiz commented on #4264
@lev4ukpavel2 Can you please confirm that this issue is fixed or let us know if it is not? Thanks!

[2020-06-15 11:50] ghost commented on #3955
BTW: I have to audit everything, but I would say we are almost done:

[code]

[2020-06-15 11:55] solardiz commented on #3955
@claudioandre-br Somehow I'm not getting these warnings on any gcc builds I have. Where are you getting them? When building for what arch? Would you please make a PR fixing them? Thank you!

[2020-06-15 12:05] ghost commented on #3955
I still need to analyse all CI stuff. The warnings can be seeing at:
* https://travis-ci.org/github/claudioandre-br/JohnTheRipper/jobs/696598789

[2020-06-15 12:18] solardiz commented on #3955
So these are on:
[code]

[2020-06-15 12:20] ghost commented on #3955
Sorry, no. It is `clang version 10.0.1`.
Line: 232 => OS info.
Line: 330 => Compiler info.

[2020-06-15 15:39] deathmorlock commented on #4273
Thanks for reply.
-For example it is https://github.com/DigitalNoteXDN/DigitalNote-2/releases (but i met such error in many other wallets).
i uploaded empty wallet.dat with 123 pass for you here: https://transferxl.com/08jCHvK3mXfVdZ

-I have last version of bitcoin2john.py from github
-I have python 2.7 on windows
as i just read " bsddb module has been updated from 4.7.2devel9 to version 4.8.4 of

[2020-06-15 15:56] solardiz commented on #4273
Please upload the test wallet with known password to: https://openwall.info/wiki/john/sample-non-hashes

In what way did your last attempt to install precompiled bsddb3 not help?

[2020-06-15 17:18] solardiz commented on #4273
Per my notes in #4143, this works on Fedora:

[code]

along with running the script under `python3`.

[2020-06-15 18:41] solardiz commented on #4273
@deathmorlock Thank you for uploading the file to the wiki. However, you didn't link to that file from the wiki page. Please do.

[2020-06-15 18:57] deathmorlock commented on #4273
https://openwall.info/wiki/_media/john/xdn_wallet.zip

I just tested on Ubuntu18 with python3 -  also have unsupported btree version: 10
https://pypi.org/project/bsddb3/
pip3 install bsddb3
also needed to change str 124 in bitcoin2john.py cuz a bit new DBerror structure.

same i have on Windows

[2020-06-15 20:23] solardiz commented on #4273
@deathmorlock You still have not added this to the wiki page. Please do.

Anyway, I've tried your test wallet on Fedora, and yes - same error. I vaguely recall that approach worked for me for btree version 9, but maybe not for 10. Maybe it takes a fully custom build of Berkeley DB to get version 10.

What change did you need to make on line 124? Does that change preserve compatibility with older s

[2020-06-15 20:42] solardiz commented on #4085
No point in keeping this issue open without communication with the OP. Meanwhile, we've revised the script so that it works with Python 3 as well.

[2020-06-15 20:42] #4085 closed, assigned to nobody

[2020-06-15 20:48] #3955 closed

[2020-06-15 20:53] deathmorlock commented on #4273
Oh sry, i added it to article.

I need just to replace
 logging.error("{0}:{1}".format(e[0], e[1]))  >> logging.error(e)
to prevent error: **TypeError: 'DBInvalidArgError' object does not support indexing**

Hm, i wonder what Berkeley DB version has btree 10 ...
Tried to look at coin source ( it should have needed libs in readme, but didn't found... )

[2020-06-15 21:02] solardiz commented on #4273
Thanks for reporting this issue with the `logging.error` call. Per my quick tests now, this change you describe is needed for Python 3, but is also OK to have with Python 2 (where it results in not so pretty, yet acceptable output).

BDB 6 has that btree version 10. Many distros don't carry that version because of license change since BDB 5. However, at least Zcash and its forks build with BDB 6.

[2020-06-15 22:43] deathmorlock commented on #4273
Oh i win it :)
For Ununtu, don't know how to do same for Windows ..
We need to compile newer version of Berkeley than in pip
Compile Berkeley DB C libs
[code]
Download python wrapper for Berkeley and install with our libs
[code]

`sudo -H nano /etc/environment`
add
YES_I_HAVE_THE_RIGHT_TO_USE_THIS_BERKELEY_DB_VERSION="/home"
BERKELEYDB_DIR=/usr/local/berkeley-db/6.2.32

`sudo python3 setup.py inst

[2020-06-16 14:03] ghost commented on #4273
FTR (at this right moment):
* Ubuntu 20.10 is using libdb (5.3) and fails.
* Fedora Rawhide is using libdb (5.3) and fails.

So, this is not about "documenting". We need to teach how to install from source, use unusual distros, or, even better, use a docker image we can provide.

[2020-06-16 14:17] solardiz commented on #4273
@deathmorlock Thank you for these instructions. You're over-using `sudo`. Can you come up with a tested alternative that makes minimum use of `sudo` (perhaps only for the two `install` steps and for editing the file in `/etc`), which we could recommend to users? In fact, ideally the new BDB and Python module would be installed in the user's home directory, thus without `sudo` at all, but that prob

[2020-06-16 14:48] ghost commented on #4273
I found only 5.3 https://www.archlinux.org/packages/?sort=&q=db&maintainer=&flagged=

[2020-06-16 16:44] its5Q commented on #4264
OK, I will try to build JtR with ztex support tomorrow and see if everything works.

[2020-06-16 19:19] solardiz commented on #4273
@deathmorlock I've included a revision of your instructions (untested) in PR #4275 - please take a look and comment, if you can. Thank you!

[2020-06-16 19:21] solardiz commented on #4273
What do you mean by setting this to `"/home"`? Would any other string like e.g. `yes` work just as well?

Edit: some googling suggests people commonly set this to 1 or yes.

[2020-06-17 09:36] deathmorlock commented on #4273
it can be any random value, no matter

[2020-06-17 14:09] #4273 closed, assigned to nobody

[2020-06-17 14:45] its5Q commented on #4264
I've tried compiling it on gcc 10.3.0 and it compiled and worked as expected with ZTEX support. Thanks for fixing the issue, I will now close it.

[2020-06-17 14:45] #4264 closed, assigned to nobody

[2020-06-18 18:03] HEELcaT666 commented on #2502
Hi! Has this issue been fixed yet? I would be deeply grateful if you could please resolve this problem.

[2020-06-24 14:33] Staubgeborener opened #4276 "Is ecryptfs2john.py still up to date?"
Is `ecryptfs2john.py` (with Latest commit 7ff20a8 on 12 Apr 2015) still up to date? I've got this wrapped-passphrase (plaintext: _geheim123_)

[code]

`ecryptfs2john.py` produces this string: $ecryptfs$0$1$af5329101a193c34$9a466af1ffe571e0
The structure should be like this, right?

- $ecryptfs -> standard header
- $0 -> dont know
- $1 -> is used when salt is set
- $af5329101a193c34 -> salt
- $9a46

[2020-06-24 22:22] ghost commented on #4276
Probably no. Source code refers to a "104" version; I was able to find online a newer "111" version. That said, the issue:
* review `ecryptfs2john.py` script and update it.

will be kept open. Probably, we need volunteers to work on it.

[2020-06-25 05:36] Staubgeborener commented on #4276
Woops, my fault. The plaintext password was wrong (its just the spacebar). The tool is working fine. I could crack the hash string with hashcat.

[2020-06-25 05:37] Staubgeborener commented on #4276
Woops, my fault. The plaintext password was wrong (its just the spacebar). The tool is working fine (tested with newest ecryptfs version 111). I could crack the hash string with hashcat.

[2020-06-25 07:59] #4276 closed, assigned to nobody

[2020-06-29 20:24] ghost opened #4277 "A `--status` bug in a non default session"
It seems I cannot view the status of a non default JtR session. The running session is `nt`.

[code]

[2020-06-29 21:25] jfoug commented on #4277
Have you tried --status=nt  (like TFM recommends ;)

From ./docs/OPTIONS

```--status[=NAME]			print status of a session [called NAME]```

[2020-06-29 21:30] jfoug commented on #4277
In one session:

[code]

In another session:

[code]

[2020-06-29 21:32] #4277 closed, assigned to nobody

[2020-06-30 08:51] 0xln commented on #4106
Finally managed to snag some crashes. Two in total, from different nodes. Hopefully this should start to help us pin it down.
[code]

[code]

[2020-06-30 13:14] magnumripper commented on #4106
That's a bit beyond me, but I *think* those log messages [indicate reasons at lower level than john](https://en.wikipedia.org/wiki/Linux_kernel_oops) and probably even than MPI. Hopefully @solardiz can give a more firm virdict.

If I were you and just wanted to chug along, I'd start by upgrading kernel and network drivers. Of course upgrading the MPI stuff as well wouldn't harm. Some real memory t

[2020-07-01 23:27] magnumripper opened #4278 "aix2john dupe (?)"
We have two versions of dmg2john (a .py and a binary) for good and hopefully even documented reasons (I'm really not sure about it being documented at all though, just mentioned on ML's) - but I recently noticed we also have two versions of aix2john (.pl and .py) and I can't recall any reason for that. Git log didn't explain it. Perhaps some search here or in the ML's can explain it, or perhaps it

[2020-07-02 14:11] 0xln commented on #4106
Thanks for the feedback @magnumripper and @solardiz . I think it's time i closed this issue until I can comeback with some more concrete findings linked to John. I appreciate the help so far

[2020-07-02 14:11] #4106 closed, assigned to nobody

[2020-07-15 13:22] ivasugarg opened #4279 "Not able to install !"
NO INSTALLATION GUIDE!

[2020-07-15 16:56] magnumripper commented on #4279
Lord give me strength

[2020-07-15 16:56] #4279 closed, assigned to nobody

[2020-07-15 17:01] magnumripper commented on #4279
@solardiz after considering that fine user's GitHub history, I just blocked him for life. If you disagree, please proceed in taking over the repo. I'm sick of millennials wanting to be spoon fed

[2020-07-15 17:08] solardiz commented on #4279
@magnumripper OK. I think I'd be marking such issues "support", closing them so they don't clutter the issue list, but nevertheless providing a response. So yes, this is a reminder to me to move the repo to Openwall account.

[2020-07-15 18:26] solardiz commented on #4279
@magnumripper Our `README.md` in this repo refers to the rest of the documentation files (including `INSTALL`) by name without mentioning that they're in the `doc` subdirectory. Perhaps this could be (part of?) what confused @ivasugarg. Maybe there's room for improvement here.

[2020-07-15 18:42] ashraful1980 opened #4280 "SHA384 Hash from wallet.dat"
Dear Sir,
I would like to inform you that i extract wallet.dat and found $bitcoin$96$e648d207eb6a457cc3b415e5e6db38759de529051d808b5d34c679c43020a233e6b5161de2e85070127009d61e4c24c8$16$09792b4786f368cb$49019$96$aa9a6db8d6b1eb081826eb4f04cbc7a101653ba3e8af175756fdd400ae207de9d41e5749b96666579fd842f47b00489d$66$03ffd375f01d1ba11d8f24d69363cb92c031e998fd27946d103dc37b67544dbeb1

I have a questions th

[2020-07-15 21:42] claudioandre-br commented on #4280
You don't need to inform the `--format` option in order to crack this hash type. John can detect it automatically.

[code]
[code]
*****

That said:
* The GitHub issues are primarily to keep track of bugs or other shortcomings of our software, and fix those. It is not to help individual users with their specific tasks. If you still need user support from the community, please use the john-users mai

[2020-07-15 21:42] #4280 closed

[2020-07-20 09:05] secf00tprint commented on #2681
Just some little help for those who have downloaded John the Ripper Jumbo ([https://www.openwall.com/john/k/john-1.9.0-jumbo-1.tar.gz](https://www.openwall.com/john/k/john-1.9.0-jumbo-1.tar.gz), 20.07.2020) from the [homepage](https://www.openwall.com/john/)) as tar.gz.
There I had the same effect that it can't find john even if you build it with: `./configure; make -s clean && make -sj4`.

So my

[2020-07-20 11:11] solardiz commented on #2681
Hi @secf00tprint. I appreciate you trying to help others, but your advice is partially wrong. We explicitly do _not_ support invocation of non-systemwide builds via the `PATH` environment variable, and we strongly recommend that it not be set. So step 3 in your instructions should be skipped.

Step 4 is what helps (_if_ the user insists on running `john` when not in the `run` directory and not spe

[2020-07-21 11:46] secf00tprint commented on #2681
Yes, you're right I missed john at the end and corrected it.

Then you cannot use all the other binaries in the `run` folder (e.g. `zip2john`).

For me to be enforced to go to the run folder was really confusing.

[2020-07-21 12:14] solardiz commented on #2681
The problem is `john` and some of its other programs need to somehow find the rest of the files that they use, such as `john.conf`. Currently, for non-systemwide builds they extract the right directory pathname (maybe relative) from the invocation program name. When you use an `alias`, that directory pathname is right in there. When you use `PATH`, it is not. So some programs fail when invoked via

[2020-07-21 12:49] secf00tprint commented on #2681
Interesting. Thanks for the information. Is there a possibility to add free distro packages to [https://www.openwall.com/john/](https://www.openwall.com/john/) so it works out of the box?

[2020-07-21 13:30] ghost commented on #2681
I also found the information interesting. I don't like using systemwyde builds, but (since) they are required, I can live with that.

[2020-07-21 13:57] solardiz commented on #2681
Many distros include packages of `john`, e.g. some are listed in https://linuxconfig.org/password-cracking-with-john-the-ripper-on-linux (maybe need to add this URL to the tutorials list on the wiki).

I think we need to look into what exactly our `--prefix` option to `configure` does in jumbo. Ideally, it'd work the same it works with other typical software, where it can be used to install into e

[2020-07-21 16:05] solardiz commented on #2681
Claudio, I don't understand what you mean by systemwide builds being "required". Personally, I am comfortable using non-systemwide builds - I just don't expect them to work along with `PATH`.

Edit: created #4281 for adding proper "make install".

[2020-07-21 19:11] solardiz opened #4281 "Add proper "make install" and clean up "--prefix" / "--with-systemwide" handling"
We do have a `make install`, but it currently only (opportunistically) installs bash and zsh completions, and into directories unaffected by `--prefix`. The rest of its logic is somehow commented out:

[code]

Other than that, we already handle `--prefix` mostly similarly to how other typical autoconf'ed software does it:

[code]

[code]

[code]

I think we should rework the logic around `--with-s

[2020-07-22 12:36] solardiz commented on #4281
To answer my own question, `--with-systemwide` is used at least in @claudioandre-br's `packaging/build.sh`.

[2020-07-22 13:05] solardiz commented on #4281
I've just tried uncommenting all the lines in `install:` and running `make install`. Here's what parts of `run` it misses:

[code]

I think most or all of these should actually be installed.

There's also no separation into `bin` and `share` that the comment in `configure.ac` announces and the build is in fact configured to expect:

[code]

We'll also need to decide on what to install to where. In

[2020-07-22 16:46] solardiz commented on #4281
FWIW, I've just checked how hashcat handles this.

They don't use `argv[0]` for this purpose and don't appear to hard-code any full pathnames at build time (the two approaches that JtR can currently use), but instead have system-specific code to infer the program binary's directory on Linux and Cygwin (surprisingly, the same code works!), macOS, and FreeBSD. On non-Cygwin Windows builds, they just

[2020-07-24 00:09] trungcv opened #4282 "Pentest"

[2020-07-24 12:19] #4282 closed, assigned to nobody

[2020-07-27 21:03] AlekseyCherepanov commented on #4261
In CMIYC 2019, there was "Alaska" "task" where hashes were `django-scrypt(md5($p))` where `$p` is an old password for the same user, so I investigated ways to pass `md5($p)` as candidates for `--single`: [the final idea](https://www.openwall.com/lists/john-users/2019/10/09/1) is tricky, there are [more notes and a script to pack candidates together with hashes](https://www.openwall.com/lists/john-

[2020-08-03 19:18] solardiz opened #4283 "ZTEX: document "--fork""
Document the introduction of `--fork` support for ZTEX formats (#4027) in `README-ZTEX` (including when and how to use it, and when not to).

Mention in `README-ZTEX` that the way `--fork` sometimes speeds things up is through asynchronous USB transfers by the forked processes (so that while some transfer others may compute), which puts more pressure on the USB subsystem (as sometimes multiple pro

[2020-08-03 19:22] solardiz opened #4284 "ZTEX: reintroduce printing of FPGA clock rates"
After #4027, JtR no longer prints the FPGA clock rates. Previously, this was printed by `jtr_device_list_print` at default verbosity or higher, but now this function became dead code. `jtr_device_list_print_count` is also dead code now. We should either reintroduce printing of the clock rates (would this somehow need to be fork-aware or not?) or drop the dead code (at least `#if 0` it out, so that

[2020-08-05 12:16] solardiz opened #4285 "OpenCL build's "--test" shouldn't stop mid-way on no-OpenCL systems"
When testing an OpenCL-enabled build in AWS having launched the previously prepared AMI on one of the tiniest AWS instances (1 vCPU):

[code]

Most things work sane, but `--test` shouldn't stop mid-way on no-OpenCL systems like this, so that we and our users can fully reuse the same full-featured build for CPU-only no-OpenCL systems.

[2020-08-05 15:07] ghost commented on #4285
Something like this?
[code]

[2020-08-05 15:10] ghost commented on #4285
[code]

[2020-08-05 16:50] solardiz commented on #4285
Thanks, @claudioandre-br!

Yes, that's one way to do it, although maybe we should instead group all of the `-opencl` formats to be benchmarked after all of the CPU ones. That can be done in one of two ways: (1) change the order in which formats are registered (which will also affect the order of `--format` option suggestions when autodetecting) or (2) go through the formats list twice (first skipp

[2020-08-05 16:53] solardiz commented on #4285
Claudio, in your sample output somehow the grouping is almost present - it looks like the first OpenCL benchmark is attempted inbetween almost all non-dynamic formats and dynamic+dummy+crypt. And somehow you have only 181 total. In my run, OpenCL is attempted after HMAC formats, and there would have been many more (non-dynamic) CPU formats after that point if the process didn't exit, for a total o

[2020-08-05 16:54] ghost commented on #4285
@magnumripper has something to say about format order. I guess he did this on purpose.

[2020-08-05 16:55] solardiz commented on #4285
Yes, let's wait to hear from @magnumripper. Thanks.

[2020-08-05 16:55] ghost commented on #4285
Yes. The order is CPU - OpenCL -  dynamic.

[2020-08-06 17:09] magnumripper commented on #4285
The diff looks nice. I deliberately put dynamic formats last-last because they are so numerous, including completely exotic fantasy combinations of old-and-newer hashes. This even though not every dynamic is actually tested by default IIRC. There's some option to test more/all of them

Ideally (by default and IMHO), dynamic should only test code components: Just one of every hash and code-path.

[2020-08-06 17:15] magnumripper commented on #4285
[code]
[code]

The default 157 formats test **really** quick on 1-thread intel, but it may take ages on machines with a really serious number of cores and/or slow shite like a Raspberry Pi

[2020-08-07 18:58] ghost opened #4287 "V100 support improvement"
[code]
As it is now:
[code]
After "calibration":
[code]

[2020-08-07 19:24] solardiz commented on #4287
Claudio, that's cool, although the GWS is very large (~7 seconds per salt). Do you suggest we commit any particular change for the auto-detection to choose these settings on V100? Would you try to achieve similar speeds at lower GWS?

[2020-08-07 19:42] ghost commented on #4287
I'm updating JtR now.

I guess autotune will pick up the bigger GWS after the change (because it did that to get the numbers I posted above).
The "calibration" process is **a kernel change** plus a benchmark. Something like, what happens if I do ...
****
[code]

[2020-08-07 20:28] #4287 closed, assigned to nobody

[2020-08-08 11:54] ghost opened #4289 "mssql12 get_key() segfault"
[code]

I'm able to reproduce locally.
*****
[code]
Values =>           len: 4294967294  .   keybuffer[15]: 0
*****

During contest, I used:
[code]

[2020-08-10 15:55] solardiz commented on #4033
I think we should probably have this async transfers hack for md5crypt-opencl and maybe phpass-opencl. However, given the system crashes with AMDGPU-Pro that it triggered, I think we should enable this either only on NVIDIA or on anything non-AMD.

@claudioandre-br @magnumripper What is our current preferred way to check for NVIDIA or non-AMD from per-format host code?

[2020-08-10 16:23] ghost commented on #4033
Host code:

   ``` if (gpu_nvidia(device_info[sequential_id]))```

In kernel code
    ```if amd_gcn(DEVICE_INFO) && DEV_VER_MAJOR < 2500```

So:
[code]

[code]

A list is available at `opencl_device_info.h`.

[2020-08-11 08:06] magnumripper commented on #4289
How exactly? I think I see the problem.

[2020-08-11 08:08] magnumripper commented on #4289
A bodge fix could be something like
[code]

[2020-08-11 10:38] lapolis opened #4292 "AxCrypt v2.x not working?"
Hi there, today I was testing the axcrypt2-opencl format and notice that there might be some issues.
The hash is not cracked even knowing that the correct password is in the wordlist.

Extracting the hash:
[code]
Running it with John:
[code]

I also tried to remove the filename before the hash, nothing changed.
I can assure that the correct password is in the file `/tmp/axcrypt.txt` used as a word

[2020-08-11 12:09] ghost commented on #4292
Could you post a file you CANNOT crack (and a hint for the correct password)? We need this to reproduce.

[2020-08-11 12:33] lapolis commented on #4292
Sure. The [file uploaded on wetransfer](https://we.tl/t-474SVBeDMF) or the [MediaFire link](http://www.mediafire.com/file/69twgydf86cd06m/Ciaociao123-txt.axx/file).

The hash I get using axcrypt2john:
[code]

The cleartext password:
[code]

The sanity check:
![image](https://user-images.githubusercontent.com/57040859/89897442-f221b100-dbd6-11ea-927c-db93228d5637.png)

[2020-08-11 12:58] ghost commented on #4292
Thanks. I can reproduce.
***
For future reference, I realized that crackable and non-crackable have different costs.

[2020-08-11 13:02] lapolis commented on #4292
I apologise for the (probably) stupid question but what do you mean with that last sentence?

[2020-08-11 13:12] ghost commented on #4292
It is not. Look at this line and compare it to the `test.axx` output.
[code]

In fact, could you try to create hashes using different iteration and test, please?

[2020-08-11 13:24] lapolis commented on #4292
Ok I see. Earlier, during previous tests I got different costs for all the non crackable `.axx` files.
[code]

And this is the `test.axx` crackable file.
[code]

Now I can see what you mean.

*Edit*: I have tried various password length with different accounts, different files to encrypt and also tried to decrypt and re encrypt with different password the file `test.axx` and I never got a cost low

[2020-08-11 18:31] rofl0r opened #4293 "Feature: print exact matching rule for a crack"
during CMIYC, i realized it would give a huge productivity boost if there was a command-line option like `--display-crack-rule` which would show the exact rule that produced a crack.
example output:
[code]
this would allow to

- quickly share successful rules with team
- easily create new targetted ruleset based on only those that gave cracks
- learn rule syntax by example

i suspect in case of ru

[2020-08-11 18:49] AlekseyCherepanov commented on #4293
Also it might be helpful to print base word too.

[2020-08-11 18:52] AlekseyCherepanov commented on #4293
Quick way to get something like that is to check rule expansion in the log (maybe with `--log-stderr` or `LogCrackedPasswords=Y`). But there is a problem: candidates in buffer for hashing may be generated by different rules, so a crack from old rule may happen after line about new rule.

Generation of candidates with `--stdout --log-stderr` would work in terminal, but gets buffering when output is

[2020-08-12 00:52] magnumripper commented on #4293
This has been discussed earlier. It's definitely possible or even trivial (to implement) but it would come with performance issues including (but not limited to) memory issues. Some formats use batches of millions of passwords, I think sometimes tens of millions. And "single mode" is especially tricky (yet is very dependent on good rules) Just storing a few bytes of extra information per candidate

[2020-08-12 06:42] lapolis commented on #4292
Looks like the difference is the ciphers used: AES-128 vs AES-256 .

philsmd has highlighted some interesting findings in a post at the [hashcat forum](https://hashcat.net/forum/thread-9450-post-49897.html#pid49897).

[2020-08-12 07:15] AlbertVeli commented on #4293
Would it be a performance penalty even if rule logging is default off? In my world I would first do some test runs and collect statistics, build a rule set. Then turn off logging and run with the created rules at full speed. It would be a very good feature in some use cases - like CMIYC - if it is possible to implement without speed penalty when the option is off.

[2020-08-12 08:41] philsmd commented on #4292
yeah, the only problem is that JTR doesn't support AES-128 for AxCrypt files (which is actually the default one for the free version as far as I can tell).

In the forum post I also mentioned that it might or might not be possible to detect if the file uses AES-128 or AES-256 from the file metadata alone (it might be the case that you need to enter a password and the software simply tests both unt

[2020-08-12 19:25] solardiz opened #4294 "BitLocker-opencl segfault"
When running `--test --format=opencl` on a V100 on AWS, most runs crash at `BitLocker-opencl` (but one run did not). However, when running `--test --format=bitlocker-opencl`, that one benchmark on its own succeeds.

I caught one of those crashes in `gdb`:

[code]

Looks like a stack overwrite in `set_key` with some ASCII string:

[code]

[2020-08-12 19:35] solardiz opened #4295 "CL_OUT_OF_HOST_MEMORY with "--test --format=opencl""
When `--test --format=opencl` on a p3.2xlarge AWS instance doesn't crash on #4294, it crashes later with `CL_OUT_OF_HOST_MEMORY`:

[code]

Notice how everything was OK until `gpg-opencl` test failed with `CL_OUT_OF_HOST_MEMORY` and a bit later the entire run ended with that same error occurring apparently just before another format would be benchmarked.

Benchmarking `gpg-opencl` on its own works

[2020-08-12 19:47] solardiz commented on #4294
@e-ago Would you be interested in debugging and fixing this?

[2020-08-13 07:20] floyd-fuh commented on #2725
@kholia author of those things here, happy to discuss why you think the cracking speed wouldn't be a lot faster. Instead of putting in the password, "Mighty Aphrodite" and the entire key store file (except the checksum itself, but the file could include hundreds of keys, but of course it depends) in the SHA-1 calculation you only put in the password plus 20 bytes IV. And of course hashing a lot le

[2020-08-13 08:59] philsmd opened #4296 "RAR3: caveat if we ever implement support for lengths > 28"
As already mentioned over on a hashcat github issue, JTR has the same "false negatives" problem that hashcat had (see https://github.com/hashcat/hashcat/issues/1334#issuecomment-672768259 and https://github.com/hashcat/hashcat/issues/2390).

The fix we applied to hashcat was https://github.com/hashcat/hashcat/pull/2419 , the problem as mentioned in https://github.com/hashcat/hashcat/issues/2390 is

[2020-08-15 12:35] mem50 opened #4298 "Bitcoin hash False Positive"
Hi,
From my bitcoin wallet I've extracted the hash using latest bitcoin2john.py script., and started john, result is:
`$bitcoin$64$XXXXX$16$XXX$199732$2$00$2$00:1234`
Password found was '1234'

But when I enter this password in Bitcoin Core:
[code]

Same with GUI.
Same with another tool that can read bitcoin-core wallet.

That's why I think it is a false positive. Let me know how I can debug this.

[2020-08-15 13:15] madtomic commented on #3222
I am using the latest bleeding-jumbo branch.

I recently ran into issues with ethereum-opencl format as well.

I also get this error message when trying to use this format reported by other user. https://github.com/magnumripper/JohnTheRipper/issues/3221

Using default input encoding: UTF-8
No password hashes loaded (see FAQ)

The test works with ethereum-opencl but when try to use a GPU for cracki

[2020-08-15 13:16] madtomic commented on #3222
I am using the latest bleeding-jumbo branch.

I recently ran into issues with ethereum-opencl format as well.

I also get this error message when trying to use this format reported by other user. https://github.com/magnumripper/JohnTheRipper/issues/3221

Using default input encoding: UTF-8
No password hashes loaded (see FAQ)

The test works with ethereum-opencl but when try to use a GPU for cracki

[2020-08-15 13:46] solardiz commented on #3222
@madtomic Are you posting this for user support (if so, john-users would be a more appropriate place) or to help the project (if so, this is the right place)? You could want to make the intent of your comment clearer either way ("I need help", "I offer help", "here's another vote for the same", "just saying", etc.)

For actual usage, please omit the "--format" option altogether. You'll re-add it l

[2020-08-15 13:50] solardiz commented on #4298
Knowing how our Bitcoin wallet passphrase cracking works under the hood, I don't see how a false positive is possible.

I'd bet this is either a corrupted wallet or it's somehow incompatible with the tools you try to use it with - e.g., trying to use some altcoin wallet as if it were Bitcoin, etc.

Were you able to access this wallet before?

Edit: Also, does the password 1234 look realistic to yo

[2020-08-15 14:46] madtomic commented on #3222
@solardiz

I will use john-users for help. I found this when searching to see if anyone else have similar issue I am having with the format=ethereum-opencl.

The cracking basics are working when using  "../run/john --format=ethereuml --test" and  "../run/john --format=ethereum-opencl --test"

The hash file works when using CPU but when trying with GPU cracking mode. It does not and kept saying "No

[2020-08-15 20:29] solardiz commented on #3222
@madtomic Thank you for this additional detail. Then it appears that your specific hash is not yet supported in our "ethereum-opencl", and we'll count your comment as another vote for us to brings the functionality of that format on par with its CPU counterpart. It doesn't sound like you need to install anything else on your system - this is just for us to improve. Thanks again.

[2020-08-15 21:28] solardiz opened #4299 "Ethereum CPU format's benchmark should only report Raw speed"
This is wrong:

[code]

The "Only one salt" is twice slower because it's limited to the larger one of two iteration counts. We need to change the reporting here. We already only report "Raw" in the corresponding OpenCL format.

BTW, it's also wrong'ish that we mix scrypt in here and that we always claim AVX2 even though we don't use it in scrypt - but we also do this in several other formats.

Mor

[2020-08-16 14:36] mem50 commented on #4298
Wallet is very old and I don't remember the password, but 1234 seems very weak!

file gives: `Berkeley DB (Btree, version 9, native byte-order)`

Any advice on how to repair a corrupted wallet?
Thanks.

[2020-08-16 15:24] solardiz commented on #4298
I suggest you try putting 1234 in the middle of a large wordlist (e.g., a few million lines, not containing 1234 anywhere else) and re-cracking the wallet's password using that wordlist. If that still finds 1234, all of us would probably be more convinced this is in fact the password. That 1234 is very weak actually indicates it's not some random false positive.

Btree `version 9` is good - can in

[2020-08-16 19:02] magnumripper commented on #4296
Thank you Phil for reporting, I had missed this. While passwords that long are virtually uncrackable unless really silly (low entropy such as  a shorter word repeated x times) I'll look into fixing it ASAP.

[2020-08-16 19:38] magnumripper commented on #4293
We'd have to implement it carefully so it wouldn't (and this is why I never bothered with this yet, even though I've wanted this feature for years). I'm sure it's possible but it's not trivial (I think).

With even more careful design it might not even have to be a performance penalty when activated (so it would be "on" all the time, no need for any option). I'm not sure that's possible at all, bu

[2020-08-16 19:46] magnumripper commented on #4295
Just thinking out loud: When a format test (out of several) fails, such as at the first CL_OUT_OF_HOST_MEMORY, are we tearing that format down fully? Perhaps we're never calling the format's `done()` when it bails?

[2020-08-16 19:58] magnumripper commented on #2725
@floyd-fuh unfortunately @kholia is not very active these days (we're hoping for a come-back: He spat out formats like a Gatling gun for many years) and we're awfully short of developers in general. But your input is worth a lot.

Just in case it's not obvious, it would be fantastic if anyone else reading this could contribute!

[2020-08-17 13:17] magnumripper opened #4300 "Bug in zip2john or pkzip format: False negative"
I've been sent a zip file with password '123456' that our pkzip format fails to crack. I'm not sure I can share the file publically but I sent it to @jfoug and I'll be jotting down notes here.

Partial `zipinfo -v` output
[code]

Partial zip2john output, only the data blob shortened:
[code]

Here's the lines that give false negative:
[code]

[2020-08-17 13:27] magnumripper commented on #4300
[code]
Parsing the above:
* C Hash count: 1
* B Number of valid bytes in checksum: 2
* DT Data type: 2 (inlined full data)
* MT Magic type: 0 (no file magic used)
* CL Compressed length: 0x3784 (14212) bytes
* UL Uncompressed length: 0x420d (16909) bytes
* CR Final CRC32: 856d3284
* OF Offset: 0
* OX Additional offset: 64
* CT Compression type: 8 (imploded)
* DL Length of inlined data: 0x3784 byte

[2020-08-17 13:33] magnumripper commented on #4300
[code]
At the time of false negative, `C` is `b9`, `e` is `856d` (the expected CS) and `e2` is `85a1` (the expected TC).

[2020-08-17 14:02] magnumripper commented on #4296
Our current formats have a max. length of 26 (cpu) and 22 (gpu) so this issue is not presently a problem. However, if we ever want to bump those limits we need to consider this.

[2020-08-17 14:17] magnumripper commented on #4296
I see now a non-SIMD CPU build claims to support length 125. I'll cut that to 28 and add a code comment.

[2020-08-17 17:01] jfoug commented on #4300
I will not have a lot of time to look into this for a couple days.    First,  If you comment that quick check out, it cracks just fine.

Also, the file name is strange.  I am wondering if there is some encode/decode that needs to be done which we may not be doing.  I honestly do no remember what makes up the computation of the checksum, or other fields in this format.  But since john DOES crack it

[2020-08-17 17:22] jfoug commented on #4300
This is a quick 'hack', but it causes this to crack.  NOTE, I do not know if this is what we want.  It may cause other 2-byte checksum files to continue (and not bail), on some passwords.  I do not know what that would do (possible false positive).

[code]

What this does is on the 2 byte checksum fail, it also tests the 1 byte checksum fail. It ONLY bails if both fail.

[2020-08-18 06:38] magnumripper commented on #4300
I believe the file name being non-ASCII is 100% irrelevant since you can leave it out from the hash line (it's only stored in other fields, eg. login field). The actual 'ciphertext' is only file *content*.

Unless I'm mistaken, that fix of yours isn't any different than merely commenting out the first test (the second test comes right after it anyway). Anyway I'm not too worried about false positi

[2020-08-18 07:01] magnumripper commented on #4300
Best would be if we find "the" exact condition(s) where we need to skip that test, while we keep doing it in other conditions.

[2020-08-18 07:24] magnumripper commented on #4300
Just thinking out loud:

Apparently only one byte is valid... so how does zip2john come to this conclusion? ~~I'm pretty sure~~ (now confirmed) If zip2john would output `$pkzip2$1*1*2*0*3784*(...)` instead, we would crack the file with no changes to pkzip format.

[2020-08-18 14:58] solardiz commented on #1908
(The move of this repo to Openwall org brought my attention to this issue, as it somehow got automatically unassigned from Sayantan, who isn't a member of the org currently, and thus the issue got "recently modified".)

We already build the up to 4096 per-salt kernels (on-demand as salts are seen). In fact, ideally we'd also support a mode where we would optionally not be doing that, or where the

[2020-08-18 16:56] mb720 commented on #4089
Is this fix part of John the Ripper 1.9.0-jumbo-1 MPI + OMP [linux-gnu 64-bit x86_64 AVX AC] on Arch Linux?

Because I just ran into this with `pdf2john encrypted.pdf`:

    Can't locate ExifTool.pm in @INC (you may need to install the ExifTool module) (@INC contains: /usr/bin/lib /usr/lib/perl5/5.32/site_perl /usr/share/perl5/site_perl /usr/lib/perl5/5.32/vendor_perl /usr/share/perl5/vendor_perl

[2020-08-18 17:12] solardiz commented on #4089
@mb720 We're developers of JtR jumbo, we're not that familiar with its packaging by Arch Linux to reliably know the answer to your question. However, the fact that https://bugs.archlinux.org/task/63626 is not closed suggests the bug is not fixed. @anthraxx might want to say more, or just count this as another vote for getting that bug fixed. Edit: especially as he apparently got the bug fixed for

[2020-08-18 17:33] mb720 commented on #4089
@solardiz: When I said "this fix" I was referring to [commit 66cf12d](https://github.com/openwall/john/commit/66cf12d17e9fa453b34bcd9d0b8dc4f1954e8cff) that was merged.

Upon comparing the commit and my local `/usr/bin/pdf2john`, I can see that the fix has not landed in current Arch, since this line is still here:

    $exeDir = ($0 =~ /(.*)[\\\/]/) ? $1 : '.';

(Instead of the commit's `$exeDir =

[2020-08-18 20:17] magnumripper commented on #4300
Here's what might be an important tidbit of info: The archive was created with "ezip under macOS". Some `efh` debug output from zip2john indicates ezip is using what I believe to be [libarchive](https://github.com/libarchive/libarchive) and maybe, just maybe, that lib is where the actual bug/feature hides. Don't know yet but will investigate more. Right now I'm hoping for a certain very odd "efh"

[2020-08-18 20:18] magnumripper commented on #4300
A complicating matter is that ezip doesn't seem to be open source.

https://www.macupdate.com/app/mac/61060/ezip

This means I'll need to be running virtual machines and such ninja magic third millenia shite 😢. We hates that.

[2020-08-19 11:03] jfoug commented on #4300
;Here is what I found out about the efh:   I created my own zip and tested against the zip included:

[code]

 (I also changed that efh debugging for better reading)   The first is the problem.  The 2nd is a working info zip made (cygwin64).  What we may have to do is to set

[code]

right before the efh checking switch.  That way, only the last extended header is checked for known value.

It look

[2020-08-19 11:06] jfoug commented on #4300
Here is the efh checking logic:

[code]

[2020-08-19 11:11] jfoug commented on #4300
I am not 100% sure how to work around this issue, since I do not fully remember how these enhanced fields are built (or ordered).  In the problem zip, there are 3 of them : 5455, 7875 and 6c78   On the one I made there is 5455 and 7875

Both 5455 and 6c78 are not in the list of signatures we are looking for (from the switch statement).  Both zips have the signature for Info-Zip 3rd gen in them.  B

[2020-08-19 11:14] magnumripper commented on #4300
libarchive is on GitHub, I had the idea to look at its code. Haven't had time yet. I was hoping just maybe we could use 0x6c78 as a "reverse trigger" which will reset to 1-byte check.

I thought the order of these fields weren't important but I really have no idea.

[2020-08-19 11:22] magnumripper commented on #4300
Another thing that just hit me: Aren't normal zipinfo/unzip tools expected to complain about a 2-byte checksum error? They don't seem to. So perhaps we should look at their code paths and see how come *they* think all is fine...

[2020-08-19 14:17] magnumripper commented on #4300
So I installed the eZip mac app and created a few archives. All of them got `efh 5455 efh 7875 efh 6c78` and none of them cracks unless I replace `$pkzip2$2*1*` with `$pkzip2$1*1*`.

[2020-08-19 14:18] magnumripper commented on #4300
Here's a small one: [sboxes.zip](https://github.com/openwall/john/files/5097059/sboxes.zip)

[2020-08-19 14:23] magnumripper commented on #4300
[code]
Note that `zipinfo` doesn't mention the 0x6c78 subfield here. Perhaps because it doesn't know what it is, but it's strange it doesn't mention it at all.

[2020-08-19 14:26] magnumripper commented on #4300
[code]
However, `zipdetails` does list the 0x6c78. It's only present in the "local header", not the "central header". Not sure what that means or could mean.

[2020-08-19 14:33] magnumripper commented on #4300
I just tried out hashcat. Obviously it too fails to crack my test archives unless I replace `$pkzip2$2*1*` with `$pkzip2$1*1*`.

I'm now convinced this is an issue with zip2john and not the format. Either it's a bug in zip2john, or it's a bug in eZip and/or libarchive that we can probably work around by detecting 0x6c78 and force 1-byte CS for them.

I should have reviewed unzip sources already th

[2020-08-19 14:49] magnumripper commented on #4300
That is the case as far as I can see. I reviewed [this code](https://github.com/madler/zlib/blob/master/contrib/minizip/unzip.c).

[2020-08-19 19:36] jfoug commented on #4300
The zipinfo/unix also must deal with 1 byte checksum. For all we know, the checksum is never even used.  I am not sure if your 'expected to complain' is true or not.  I will see if I can hexedit and bung one up (just the checksum), and report back.

[2020-08-19 21:10] magnumripper commented on #4300
I whipped up #4302 as a possible quick-and-dirty solution. Unless we find something better

[2020-08-19 21:21] magnumripper commented on #4300
Just remembered I have another small data point to add: Over the years I've collected a couple handful of pkzips that I could never crack. Just for checking, I ran them all with the 2nd CS byte check commented out over the last days, but none of them cracked soon. Given archives typically have very weak passwords I think this too indicates the problem is specific to either eZip or libarchive (whic

[2020-08-19 21:56] solardiz commented on #4300
Is there a chance to workaround this in the pkzip format rather than in zip2john? I guess EFH is not available in the "hash", so no?

[2020-08-19 22:06] magnumripper commented on #4300
Right, we can't. This fix to zip2john is needed for hashcat as well

[2020-08-20 16:42] #4300 closed, assigned to magnumripper, jfoug

[2020-08-24 12:10] magnumripper commented on #4110
I see no need to change this right now.

[2020-08-24 12:10] #4110 closed, assigned to magnumripper

[2020-08-24 12:55] solardiz commented on #4110
FWIW, from a theoretical perspective, given that this is about how many words to combine in _pairs_, perhaps the corresponding function would be `sqrt` rather than `log2`, if the goal is to likely fill KPC with the pairs.

[2020-08-24 13:00] solardiz commented on #4110
Maybe something like `sqrt(key_count / rule_count)`, but only for potentially increasing `words_pair_max` (never decrease it).

It's somewhat weird that single mode depends on format implementation detail (which KPC is) for how many and which passwords it'd end up guessing or not - but that's what we have. Edit: maybe we need to document this prominently.

[2020-08-24 13:07] magnumripper commented on #4110
I can't remember how/why I ended up with log2, just that it was a conscious and somewhat careful choice.

[2020-08-24 13:10] magnumripper commented on #4110
Oh, it was in https://github.com/openwall/john/issues/3467#issuecomment-445395452. I think I wanted to ensure it never end up being dramatically increased.

[2020-08-24 13:16] solardiz commented on #4110
Makes sense, but I think a dramatic increase would be OK if we divide by the number of rules first. It certainly would be problematic if we didn't do that, like your code does not. Also, a source code comment would be appropriate either way.

Anyway, I don't insist on you doing anything on this - I just offered my thoughts.

[2020-08-24 13:19] magnumripper commented on #4110
That #3467 issue is still open, I'll note this discussion there.

[2020-08-24 13:20] magnumripper commented on #3467
Some discussion about the `log2` (or not): https://github.com/openwall/john/issues/4110#issuecomment-679109274

[2020-08-24 13:44] magnumripper commented on #4295
This seems to be the problem. I'm not quite sure where to put it (it might be needed in several places) nor if there may be dragons (if format is already in limbo, trying to tear it down may well go downhill).

Here's the most obvious one:
[code]

[2020-08-24 14:15] solardiz commented on #4295
Thanks, magnum. While this is probably something we need to fix, I doubt it's what caused the specific failure I reported. In that run, the very first failing format was `gpg-opencl`, and it failed with `CL_OUT_OF_HOST_MEMORY`, so memory must have leaked before that point, which means the leak wasn't connected to any format failing test (which I guess is what you meant by "it bails").

[2020-08-24 14:18] #4238 closed, assigned to magnumripper

[2020-08-24 17:07] solardiz commented on #4298
@mem50 Have you done the wordlist experiment I suggested?

Also, does hashcat crack this password as 1234, too? I see you also reported https://github.com/hashcat/hashcat/issues/2511 (a real bug, which got fixed) so I guess you must have tested with hashcat as well?

[2020-08-24 18:22] solardiz opened #4308 "Benchmark passes non-NUL-terminated key to a format"
On "super" with devtoolset-3 (gcc 4.9.1) and `./configure --enable-asan`:

[code]

Testing this one format alone doesn't trigger the issue. Investigating this, I see that a non-NUL-terminated string is passed to `set_key`, specifically "aaaA11." followed by lots of repeats of the 0xBE byte for up to exactly 1024 bytes total.

Checking the line numbers above, `do_mask_crack` in this code is being u

[2020-08-24 18:27] solardiz commented on #4308
The problem goes away with `--no-mask`.

`mask_key_len` turns out to be 0 in the test above, and becomes 7 with `--no-mask`.

So apparently the above crash is with `do_mask_crack` being called with an empty string.

[2020-08-24 18:49] solardiz commented on #4308
`template_key` is all 0xBE's just before the `bench_generate_keys` call.

[2020-08-24 18:55] solardiz commented on #4308
Apparently, this code:

[code]

assumes mask mode is only invoked once. I guess something would need to reset `old_keylen` to -1 or otherwise force the `if` condition to true if mask mode is restarted.

As a hack, removing the `static` from `static int old_keylen = -1;` makes the problem go away for me.

[2020-08-24 19:06] solardiz commented on #4308
Actually, I don't understand why this would be needed for `--test` if it's not needed for repeated calls to `do_mask_crack` in various cracking modes where lengths of `extern_key` might change or stay the same between calls.

[2020-08-24 19:10] jfoug commented on #3814
Since I can not get 1.8.0-jumbo 1 to build at all (tons of undefined *CTX* type values).  I commented out numerous format's .o files from Makefile to continue the build.  Then I got linkage errors (was expecting the *_fmt.o stuff), but I also got MD5_body errors.

Was the MD5_body stuff removed (this was the 2 limb interleaved x86 MD5 code which was in crypt_md5_fmt.

[2020-08-24 19:12] solardiz commented on #4308
Oh, that's because we recall `mask_init` per each format tested, whereas with actual cracking we only call it once in `john.c`. So in `--test`, we reinitialize almost all of mask mode, but forget to reinitialize this one local scope static variable.

[2020-08-24 19:19] ghost commented on #4308
It passes. Usually, AVX512, I forced AVX2 for these builds:
https://travis-ci.org/github/claudioandre-br/JohnTheRipper/builds/720758872
https://travis-ci.org/github/claudioandre-br/JohnTheRipper/builds/720760559

[2020-08-24 19:20] solardiz commented on #4308
Perhaps it'd fail if we explicitly fill the memory with non-NUL in `mem_alloc`. Maybe we should start doing that in ASan builds.

[2020-08-24 19:36] solardiz opened #4310 "In slow debugging builds, have mem_alloc() fill memory with non-zeroes"
For example, I am now testing an ASan build with this added:

[code]

but we'll need to make it conditional on some build-time or run-time configuration option.

[2020-08-24 19:37] solardiz commented on #4310
Apparently, the lack of this prevented us from discovering #4308 sooner (such as before the previous release).

[2020-08-24 19:38] #4299 closed, assigned to nobody

[2020-08-24 19:45] solardiz opened #4311 "Office format benchmark ASan crash"
This happens when running with #4309 (to get this far) and testing all formats at once in a way similar to what was done in discovery of #4308:

[code]

Testing the Office format individually doesn't cause the crash.

[2020-08-24 19:52] solardiz commented on #4311
Even with #4310, it nevertheless takes testing all formats to get this format to crash like above. Testing just the one format doesn't crash.

[2020-08-24 19:54] #4308 closed, assigned to nobody

[2020-08-24 19:56] solardiz commented on #4294
The #4309 fix might or might not have worked around this issue, but either way `set_key` must not overwrite its stack frame even when called with an incorrectly long key. So even if the issue is no longer reproducible as above, it still needs a separate fix.

[2020-08-24 20:01] solardiz commented on #3814
I had no problem getting 1.8.0-jumbo-1 to build. What system are you on? Jim, you can try building on our "super", where you have an account.

And I think we did not drop "the 2 limb interleaved x86 MD5 code".

[2020-08-24 20:10] magnumripper commented on #4294
In Jumbo, formats' code **can** assume that no over-long key is passed to `set_key()`. If it is, it's a mode or core bug.

[2020-08-24 20:16] jfoug commented on #3970
This is NOT working by design.  If you want dynamic_82 to run without the -format=dynamic_82, then comment out the line for dynamic_82 in the ./run/dynamic_disabled.conf

That file was added (not by me) to keep many dynamic formats from auto working.

[2020-08-24 20:19] jfoug commented on #4002
This is most certainly by design (not mine).   The file ./run/dynamic_disabled.conf lists a set of dynamic hashes which have had their auto-* logic removed. The will not test, run or do anything, UNLESS you add the -format= tag.

Both dynamic_82 and dynamic_62 are in that file.

In john.conf :

[code]

then dynamic_disabled.conf is simply a long list of dynamic hash types.  All of them are disable

[2020-08-24 20:24] magnumripper commented on #4002
You added it to `john.conf` in 3aa49af9, Jim - and then moved them to its own file in facddf0b 😉

I was probably involved in some discussion leading to that though. I think we meant to only put really academic formats in there so perhaps dynamic_82 (and dynamic_62?) should be dropped from that list.

[2020-08-24 22:14] solardiz commented on #4311
Looks like a `bench.c` bug to me:

[code]

[code]

Due to `static`, `binary_size` will be the largest of formats' tested so far. However, the `memcpy` then tries to copy excessive data beyond the current format's `binary()` method return value size.

[2020-08-24 22:37] solardiz commented on #4289
@AlekseyCherepanov @claudioandre-br Can one of you please share a testcase here (preferably a reduced one)? Thanks!

[2020-08-25 01:46] jfoug commented on #3796
Found the problem.  format md5(md5($p)) is in dynamic_compiler_lib

The functions that build dynamic stuff build 5 test vectors, abc, john, passwierd and a full length password, and a null password. But the ones in the lib only have abc, john, passwierd

So your 'fix' actually was not a bad one.  NOTE, there are 2 sections which look through 5 test vectors (both are in the same function).  You put

[2020-08-25 02:03] jfoug commented on #3796
Ok, this is the commit which missed the lib. I think I will have to add the min-max vectors to the lib.

f545cabcd0255ffa26b280299008fcb0ea1c1ba8

[2020-08-25 10:54] AlekseyCherepanov commented on #4289
Single mode with mssql12 format finishes with segfault.

During the contest, I thought non-empty .pot was important. It turns out it is not important.

[code]

Version:
John the Ripper 1.9.0-jumbo-1+bleeding-2778d2e9d 2020-06-17 16:09:24 +0200 [linux-gnu 64-bit x86_64 SSE4.2 AC]

[2020-08-25 11:37] #4311 closed, assigned to nobody

[2020-08-25 11:52] solardiz opened #4313 "KeePass-opencl ASan crash"
On "super", devtoolset-3, testing all formats (CPU and OpenCL), running against the Xeon Phi device (autodetected as "best" since the GPUs are somehow not visible as OpenCL devices in this ASan-enabled build):

[code]

[2020-08-25 11:57] solardiz commented on #4310
In `bench.c`, we have this:

[code]

Maybe we should use a similar check, or a subset of it, to enable the memory non-zeroing.

Where do these macros get defined, though? I've confirmed that the above message is in fact printed in my `--enable-asan` build. I didn't check the rest.

[2020-08-25 12:03] solardiz commented on #4294
Thanks, @magnumripper. Do we need to let formats assume that no over-long key is passed to `set_key()`, though? For slow hashes like this, it doesn't matter performance-wise, so I think it's better to use defensive programming. For fast hashes, it might sometimes matter somewhat, but when it does this indicates the format should have built-in mask support and that should be used for full performan

[2020-08-25 12:10] solardiz commented on #4313
Also reproducible when testing this one format individually, but only on that device (no issue on CPU, can't test GPUs as they're mysteriously missing in this ASan-enabled build). Takes a very long time because (the installed ancient version of) Intel's OpenCL is so slow when targeting MIC.

[2020-08-25 12:35] solardiz commented on #4313
The crash is in:

[code]

So apparently `count` increases beyond the allocation size during LWS auto-tuning. I am now rerunning with `-v=5` to hopefully see some GWS/LWS values being tested and hopefully make any sense of that.

[2020-08-25 12:48] solardiz commented on #4313
Here's how it crashes on MIC:

[code]

Here's how it works OK on CPU:

[code]

[2020-08-25 12:52] solardiz opened #4314 "Fix and enhance our AES-NI support"
I was surprised to find our KeePass-opencl format perform about twice faster on CPU with Intel's OpenCL than our CPU format does. Turns out we don't have SIMD support in the CPU format. We should probably add that.

[2020-08-25 13:11] ghost commented on #4310
ASAN in misc.h. UBSAN in Makefile (-DWITH_...).

[2020-08-25 13:12] solardiz commented on #4313
Fun fact: building these OpenCL kernels for MIC takes 20 TB of address space:

[code]

[code]

Edit: ASan might be responsible for much of the address space usage. I forgot.

[2020-08-25 13:18] solardiz commented on #4313
With two debugging printf's added:

[code]

We last called `create_clobj` with gws=32, but then call `cmp_all` with count=128.

I guess there's a bug in our auto-tuning code not supporting GWS this low?

[2020-08-25 13:28] ghost commented on #4313
In this case, you can reproduce the issue using another format.

BTW: you should check if the format is not doing something like: GWS is a multiple of LWS (GWS=32 and it is testing/trying LWS=128).

[2020-08-25 13:37] solardiz commented on #4313
With more debugging printf's:

[code]

It has this:

[code]

So your guess seems correct. What would be a proper fix?

[2020-08-25 13:39] solardiz commented on #4313
This pattern is very common across formats. Should we fix all of them to never increase GWS? Or should the auto-tuning code perhaps never test LWS that's higher than GWS? I think the latter.

Edit: actually, maybe both changes are needed. It's wrong to have code that might increase `global_work_size` without a corresponding memory allocation. And `GET_NEXT_MULTIPLE` sounds like it might return a v

[2020-08-25 13:49] ghost commented on #4313
I need to debug it to get more information. But I noticed something interesting:
- the problem is not GWS is *pcount, right? I mean, the OpenCL routines handle the `128` (ocl_v_width is > 1, maybe). Host code doesn't.

[2020-08-25 14:00] solardiz commented on #4313
In this:

[code]

We see that first `crypt_all` is called with `*pcount` 32, but internally it probably sets `global_work_size` to 128, which is probably what results in the next call having `*pcount` 128. And yes, `ocl_v_width` is probably more than 1, given the "successfully vectorized" messages.

[2020-08-25 16:00] solardiz commented on #4289
[code]

[2020-08-25 16:14] solardiz commented on #4289
The problem occurs when `key_buffer[15]` is 0, which apparently occurs when `get_key` is called without a preceding `set_key`. This fixes the problem for me:

[code]

Edit: since `get_key` isn't meant to be performance-critical, we should probably just check for 0 in there instead. Or maybe not, since we also do risky things in `crypt_all`, which _is_ performance-critical.

I haven't yet looked in

[2020-08-25 16:19] solardiz commented on #4289
We also have this in `crypt_all`:

[code]

We should be able to drop the `len >= 0` check from there (and to use an unsigned type) if we always initialize `keybuffer[15]` such that the length is non-negative. BTW, it's curious how we wrote into `len + 4` even if length was (slightly) negative (we ended up writing into `wucp[2]`, as I understand).

[2020-08-25 17:06] #4310 closed, assigned to nobody

[2020-08-25 20:48] #4289 closed, assigned to nobody

[2020-08-25 20:51] #4298 closed, assigned to nobody

[2020-08-25 22:55] solardiz opened #4318 "No OpenCL device utilization report for some formats that also use CPU/OpenMP"
[code]

For other formats we also report the OpenCL device utilization after "c/s virtual", e.g.:

[code]

Note that this one also appears to use CPU/OpenMP (which is probably why its OpenCL device utilization is low'ish).

Why the discrepancy?

[2020-08-25 23:37] solardiz commented on #4295
I sort of reproduced this on "super" by testing all OpenCL formats on the Titan X. This started to fail very close to the end:

[code]

The above was run under `gdb`, but I think this didn't affect anything (except for the extra output about threads).

I managed to notice and run `nvidia-smi` when I saw the many `CL_MEM_OBJECT_ALLOCATION_FAILURE` messages above. It said:

[code]

I also ran `free`

[2020-08-25 23:51] jfoug commented on #3796
#4319 is the proper fix.   Magnum's 'fix' removed.  Added 4th and 5th test to all compiler lib formats.  Only the first one had those 2 test vectors.

[2020-08-25 23:52] solardiz opened #4320 "7z, 7z-opencl benchmarks should only report Raw speed"
Similarly to #4299, these formats' benchmarks currently report weird "Many salts" vs. "Only one salt" speeds because of benchmarking with different-cost test vectors, e.g.:

[code]

We should probably choose just one test vector for benchmarks, and report only "Raw".

Also, it's puzzling why speed for "Many salts" would be so much higher (as above), even knowing that it's because of mixed test vec

[2020-08-25 23:58] solardiz commented on #3796
I'll close this for now assuming that #4319 worked. If anyone finds the issue still exists, please reopen.

[2020-08-25 23:58] #3796 closed

[2020-08-26 00:18] solardiz commented on #4295
Reproduced the same crash at the same format when benchmarking all formats (CPU and OpenCL). So CPU format benchmarks don't play a role here. Also re-confirmed that only GPU memory was exhausted - 12 GB on GPU vs. ~9.5 GB on host (~7.5 GB by `john` process), again. Both GPU and host memory usage grew almost steadily with each OpenCL format benchmarked, so the leak doesn't appear to be specific to

[2020-08-26 06:04] magnumripper commented on #4294
I'm pretty sure there are many of them, perhaps predominantly SIMD ones. Most are now using `common-simd-setkey32.h` so it's only one file to fix (if we want to). It does contain this:
[code]

[2020-08-26 06:08] magnumripper commented on #4294
I can imagine how an OMP format could use built-in mask, but I'm not sure how we'd use it for fast SIMD formats?

[2020-08-26 06:20] magnumripper commented on #4313
AFAIK the "successfully vectorized" (run-time auto-vectorized code) does *not* look vectorized to the host code - it's completely transparent. So `ocl_v_width` ought to be 1 in this case (but do check it!).

[2020-08-26 06:38] magnumripper commented on #4318
The utilization figure drops as the GPU is idling during CPU post-processing, and for various reasons we don't report 0% at all.

[2020-08-26 06:46] magnumripper commented on #4320
Just a thought: 7z (and some other formats) rely heavily on early rejection. When benchmarking, we might accidentally hit "random data" with best-possible early rejection, or with worst-possible full checks. In this case it might not even be an unfortunate password candidate: We could also happen to use a test vector with a padding size of 0, which hits performance badly no matter what.

[2020-08-26 06:52] magnumripper commented on #4295
Interesting. This should be a relatively new bug - I'm pretty sure I've checked for things like this in the past.

[2020-08-26 08:27] philsmd commented on #4296
great. Thx

Honestly, I wasn't aware that there was such a limitation otherwise I would have mentioned it also here, of course.

Yeah, I agree, if you currently don't allow/support the longer password length, it would make sense to leave the code AS-IS for now, because the change could make it (slightly) slower. hashcat has an optimized and pure kernel and therefore it's not that much of a problem

[2020-08-26 09:31] solardiz commented on #4320
On GPU, I am _sometimes_ getting a saner ratio:

[code]

Notice the "2/256" above - so for two salts, it worked as expected. However, when there's no such warning about "Many salts" getting limited to 2/256, the performance difference between "Many salts" and "Only one salt" on GPU is about as bad as it is in the CPU example above.

[2020-08-26 09:47] solardiz commented on #4318
Are you saying it'd have been 0% (and thus suppressed for that reason) for `electrum-modern-opencl` and `tezos-opencl`? Would that have been an instantaneous utilization measured at a bad time and not reflecting the average utilization during the benchmark?

[2020-08-26 11:48] NilsOlze commented on #4242
Hi, I am currently implementing bestcryptv3 into hashcat. When discussing the POC for version 3, we figured out that there is a mistake in the processing of the 0x10000 buffer. In the current implementation, this has a dynamic size, since 0x10000 is only a soft limit, although it should actually be hard limit enforced by truncation. For reference, check the pseudo-code implementation in the thesis

[2020-08-26 13:15] magnumripper commented on #4318
Surely it was reported as 0% by the driver/runtime but who knows what that really means, see below.

I believe it's implementation-dependent - AMD and nvidia may report differently. I think I read long ago that one of them would report something like "utilization last second" but I certainly never found any detailed description for either of them (and it could have changed since then for that matt

[2020-08-26 22:05] jfoug commented on #4002
are 82 and 62 the only ones?

[2020-08-27 07:49] magnumripper commented on #4002
I have no idea. Ideal would be a (very) carefully thought out reduced self-test that only tries each "code path" of dynamic. For example, `md5($p)`, `sha1($s.$p)`, `keccak($p.$s)` and so on. But IIRC what we wanted with this was to not (by default) test things like `ripemd160(ripemd160($p).ripemd160($p))` which was likely never used anywhere IRL and the reason was the sheer number of dynamics.

[2020-08-27 20:44] jfoug commented on #4002
So in ideal, we would have all dynamic formats work 100% of the time EXCEPT for -test* switches (unless -format was added).  Is that the idea?

I think the way it was handled was that the disabled simply did not load the format, unless it was specified.   This certainly keeps -test* from blowing through all the dynamic academic types.  But we DO want john to run properly on input files for any dyn

[2020-08-27 22:32] e2002e opened #4323 "New mode issue"
Hello, I'm implementing my method in john, yet I'm having two big issues.
1 I can't get the restore to work
2 The fork mode is giving as much duplicates as threads

I took the subset file as a basis but cannot understand the way options.node_count is managed.
Anything regarding the algorithm is found in my repo named "zhou" .
Can you have a look at my fork of john ?
You'll just need to have the Ma

[2020-08-27 23:08] ghost commented on #4323
@solardiz, what are the rules for creating an issue?
****

@e2002e, your question is a suitable discussion for ML john-dev (developers stuff). It is not a real JtR issue.
Let's hear from Solar what kind of discussion will take place on GitHub.

[2020-08-27 23:41] e2002e commented on #4323
I have little knowledge of github, if I could have email someone I would
rather have done so.
Yet I feel like this needs to be sorted out.
I'm relying on you to inspect this files to guide me through completion so
that I can do a pull request.

Le 28 août 2020 1:09 AM, "Claudio André" <notifications@github.com> a
écrit :

@solardiz <https://github.com/solardiz>, what are the rules for creating an

[2020-08-28 01:15] jfoug commented on #4002
I have some more testing to do, but this may be easy.  I simply moved this code (and a bit that sets override_disable) from john.c (register_all_formats) into bench.c  ( benchmark_all).   I think that should be all that is needed to make the disabled simply NOT test (unless forced), but still should load the formats, and THUS, should recognize hashes in an input file.

[code]

[2020-08-28 02:51] jfoug commented on #4002
PR #4324 should resolve this issue.  With that fix, all formats will properly auto-detect (even formats in the disabled conf file).

[2020-08-28 09:32] magnumripper commented on #4323
Cool! Ignoring the github-or-not issue for now, I'll have a look at your repo.

[2020-08-28 10:20] magnumripper commented on #4323
I think this will be a long discussion. As Claudio suggested you should probably join the john-dev mailing list at https://www.openwall.com/lists/john-dev/ and ask more specific questions.

[2020-08-28 12:16] solardiz opened #4325 "Add man page(s)"
In a similar spirit to #4281, we should possibly have our own man page(s). When we don't, Debian ends up adding something of their own, which is worse than how we could probably do it and leaves other distros' packages without man page(s) for our tools.

Related hashcat discussion: https://github.com/hashcat/hashcat/issues/2429

[2020-08-28 17:07] solardiz commented on #3970
Assumed fixed by #4324

[2020-08-28 17:07] #3970 closed

[2020-08-28 17:07] solardiz commented on #4002
Assumed fixed by #4324

[2020-08-28 17:07] #4002 closed

[2020-08-28 21:11] jfoug commented on #3814
I tried getting the 1.8.0-j1 from a label in github.  It will not build.   Is there a source tarball somewhere.

[2020-08-29 07:34] solardiz commented on #3814
@jfoug https://download.openwall.net/pub/projects/john/1.8.0/

[2020-08-30 11:32] ghost opened #4327 "no opencl devices"
Hello everyone,

I have a disk which is locked with bitlocker and I went throught this proces but I'm stuck at the phase where I want to attack the hash. As you can see at the first picture I've the error "no opencl devices  found" while I installed nvidia cuda which gives you the possibility to program in opencl and I checked it in the drivers of the card which you can see on the second photo.  I

[2020-08-30 21:44] solardiz commented on #4327
I guess this will help, like it usually does in such cases:

https://github.com/magnumripper/JohnTheRipper/issues/3191#issuecomment-639818020

Copy OpenCL.dll installed in C:\Windows\System32 to JtR's run directory, and rename it to cygOpenCL-1.dll.

I'll close this as duplicate of #3191 for now, unless shown otherwise.

Please note that our use of GitHub is primarily to track issues for us to fix

[2020-08-30 21:44] #4327 closed, assigned to nobody

[2020-08-31 10:36] vkhromov commented on #4069
The default cipher has been changed since 7.6: https://github.com/openssh/openssh-portable/commit/0f3455356bc284d7c6f4d3c1614d31161bd5dcc2

[2020-09-01 11:29] #4069 closed, assigned to kholia

[2020-09-01 17:36] ghost opened #4330 "[Local:Disabled:Formats] not working"
Since a couple of days [Local:Disabled:Formats] no longer works. 74e896be8d7dd59c744eda3c6a6bc22ab9d29e15 works.

***
CI caught it.

[2020-09-02 07:48] katodev opened #4331 "cl_device_topology_amd not defined in opencl_common.c"
Build failed because cl_device_topology_amd not defined in opencl_common.c
It seems one required latetest devel package in openSUSE Tumbleweed has already defined CL_DEVICE_TOPOLOGY_AMD with a value.
If this happend the type unison can't define cl_device_topology_amd in opencl_common.h

I use this patch to fix it.

[code]

[2020-09-02 09:07] magnumripper commented on #4330
Works for me as designed:

- Adding a format to `[Disabled:Formats]` in `run/john.conf` works.
- Adding `[Disabled:Formats]` to `run/john-local.conf` and putting a format there also works, but silently discards anything in that section in main `john.conf`
- Adding a format to `[Local:Disabled:Formats]` in `run/john-local.conf` works, and does not discard the main file's section's items (both secti

[2020-09-02 09:36] magnumripper commented on #4331
Weird. If they defined it they should also have the typedef (I think). Can you please try to track down who defines it, where and to what value (if any)?

I'm pretty sure your patch would break on some other platforms so I'm not sure what to do. Possibly we could add a `#define cl_device_topology_amd jtr_cl_device_topology_amd` right before we do the typedef.

[2020-09-02 09:46] magnumripper commented on #4331
Is `CL_DEVICE_TOPOLOGY_TYPE_PCIE_AMD` also defined already? If not we can probably use that.

BTW we might get away with a redundant typedef as long as it matches any that was already made before.

[2020-09-02 09:51] magnumripper commented on #4331
If it isn't, this is a better/safer patch:
[code]

[2020-09-02 13:21] ghost commented on #4330
Well, I used create a `run/john-local.conf` to "mute" (disable) formats used by TS. I think the behavior has changed since dba12ffd2187a7784fa6c19f849866925153cb36.

Is there a new way to achieve the same behavior?

[2020-09-02 15:19] magnumripper commented on #4330
So you actually need it to not load even with tagged hashes? I didn't think it'd be a regression IRL. I'm not sure how to handle it - any idea @jfoug?

[2020-09-02 15:30] magnumripper commented on #4331
Just an observation: Hashcat seems to just define and typedef without any `#ifndef`. Normally any "clashes" will have the exact same defines/typedefs and I think even the noisiest of compilers ignore that.

[2020-09-02 15:40] magnumripper commented on #4331
After some more consideration and testing I'm pretty convinced the latter fix (PR in #4332) will be the best solution for now.

[2020-09-02 15:49] ghost commented on #4330
Well, there is no way to disable a format (back to the discussion on the words used).
****

I can remove (before build) all problematic formats. It will be a reasonable solution.

[2020-09-02 15:55] magnumripper commented on #4330
OK but what is the exact chain of the problem now? What particular difference after dba12ff is it that bites us?

[2020-09-02 15:58] #4331 closed, assigned to nobody

[2020-09-02 16:07] ghost commented on #4330
I need to disable a format. Disable, so it is not listed and not used by TS (my issue is TS in CI).

I guess formats in `[disabled]` section were not listed by `--list=formats`. But, now they are.

[2020-09-02 17:36] magnumripper commented on #4330
Confirmed: `--list=formats` now lists "disabled" formats - it didn't before dba12ff.

For dynamic formats we have `--list=subformats` which did not change (it always listed the disabled formats as well).

[2020-09-02 17:51] magnumripper commented on #3993
I think we discussed this somewhere but can't find it now - here's proposed logic:

- Add tags to all HMAC formats, eg. `$HMAC-SHA224$`
- If run **with** `--format=hmac-sha224`, tag is not needed and the format can be as promiscuous as it always was
- If run **without** specific `--format=hmac-sha224`, the format will only recognize lines with the tag

New .pot entries should always have the tag.

[2020-09-03 06:49] yoshimo opened #4333 "GPG2John failing with GnuPGs .key format"
### Steps to reproduce ###

Take a .key file from GnuPGs AppData\Roaming\gnupg\private-keys-v1.d that has a password protected private key and try to extract a hash with gpg2john for cracking the forgotten password.

can't find PGP armor boundary.

### System configuration ###
Attach details about your OS and about JtR, including:
Version: 1.9.0-jumbo-1

[2020-09-03 07:02] katodev commented on #4331
I found the definition in /usr/include/CL/cl_ext.h with the same value and CL_DEVICE_TOPOLOGY_TYPE_PCIE_AMD isn't define.
Used source are libOpenCL1-2.2.12 and opencl-headers-2.2+git.20200512 with gcc10-10.2.1+git583

I hope this information confirms your decision for this solution.

[2020-09-03 09:27] magnumripper commented on #4331
Yes, thank you!

[2020-09-03 15:38] #4294 closed, assigned to nobody

[2020-09-03 15:44] solardiz commented on #4294
SIMD-aware mask mode is difficult, but potentially even more efficient. I had thought of something like this (before we even got mask mode) for LM hashes specifically, where we'd be altering the already transposed key bits matrix, instead of having to transpose it for each set of hash computations like we do now (byte transpose in `set_key` and bit transpose in `crypt_all`).

But you're right, rea

[2020-09-03 16:22] solardiz opened #4334 "Consider handling over-long keys in set_key() gracefully"
Refer to magnum's comment: https://github.com/openwall/john/issues/4294#issuecomment-680676652

[2020-09-03 20:20] solardiz commented on #3993
Your proposal looks good to me, magnum. What about old .pot entries, though?

[2020-09-03 20:24] solardiz commented on #3996
Wouldn't the "format(s) = scan our list of tags for tag" need to be done for the same "500 formats" that we'd have been calling `valid()` for? Are tag comparisons really much faster than function calls? I suppose that depends on what's inside the functions.

[2020-09-03 23:17] solardiz opened #4335 "OpenCL kernels not found when run from Windows PowerShell"
As discussed on john-users:

https://www.openwall.com/lists/john-users/2020/09/03/6 PowerShell fails unless in the kernels directory
https://www.openwall.com/lists/john-users/2020/09/03/14 Cygwin shell works

[2020-09-04 13:40] solardiz commented on #4335
My guess (without looking at the code) is this has nothing to do with the shells per se, but rather with their typical usage: people type "./john" in bash, but "john" or "john.exe" in PS. Apparently, we then suffix a meant-to-be-relative path but starting with a "/" to "." or to "", and in the latter obviously doesn't work right (treats the path as absolute).

[2020-09-04 14:30] solardiz commented on #4335
The bug manifests itself like this (shown here for 1.9.0-jumbo-1; would be `opencl` in place of `kernels` now):

[code]

I guess the `-I /run/kernels` is wrong. In the code we have:

[code]

and:

[code]

Apparently, something turns `$JOHN` into `/run` instead of perhaps `.` or empty string, when the program is invoked without a path in the command.

[2020-09-04 14:41] solardiz commented on #4335
Relevant commits are fe8701c5 and 474af174. I think we over-complicated things, and need to revert and maybe replace these with something simpler.

[code]

[code]

VCL is obsolete, so maybe we can simply revert magnum's commit, but it shouldn't matter for the present bug, because that code doesn't appear to be used in Windows builds:

[code]

As to Claudio's commit, I don't yet understand what it'

[2020-09-04 21:11] ghost commented on #3830
I'm afraid this is NOT a support forum. Please, ask for support using john-users mailing list.

[2020-09-04 22:23] ghost commented on #4335
It works on CMD. Any changes I applied were to resolve execution issues using the CMD.
[code]

[code]

When using PS, `$JOHN` is ALWAYS `/run/`. Even inside `run/opencl`.
[code]

[2020-09-04 22:27] ghost commented on #4335
As a side note, BitDefender complains about JtR Windows package. I, myself, uninstalled BitDefender.

Anyway, I'm not sure how we should handle it. The build itself uses a Windows 2016 Azure (Official) image. It IS safe. Plus CygWin stuff (IMO, it is a false positive that we need to document somehow).

[2020-09-05 17:06] magnumripper commented on #4334
Unlike John proper, Jumbo differentiates between formats that truncate and ones that doesn't. A format that doesn't announce `FMT_TRUNC` shouldn't, well, truncate IMHO. Jumbo core is responsible for truncating the candidate *before* calling `set_key()` in case of `FMT_TRUNC`, or to reject over-long candidates *without* calling `set_key()`for all other formats (which is the vast majority).

I'm not

[2020-09-05 17:13] magnumripper commented on #3993
I guess we need to support them, but it shouldn't mean any headache for us I think: Within `valid()` we can check for `ldr_in_pot` which will tell us we're currently reading a .pot file.

[2020-09-05 18:50] magnumripper commented on #3996
You may well be right - it was a vague idea and I thought I'd check it out. Perhaps the only "gain" would be for the few formats that doesn't have (or demand) a tag but they are so few we'd just lose in terms of complexity.

I will try out some actual code real quick and either close this or post back.

[2020-09-07 22:06] magnumripper commented on #3996
Tried it, it was faster but not worth it. I saw evidence of more important stuff to consider though (profiling needed), will revisit that.

[2020-09-07 22:06] #3996 closed

[2020-09-13 20:10] solardiz opened #4338 "Self-test code coverage for md5crypt-opencl and phpass-opencl"
In md5crypt-opencl and phpass-opencl, we have code specialized for password lengths, but that specialization gets automatically disabled for performance reasons when there are mixed-length passwords within an aligned 64-password block. Unfortunately, this exclusion of the specialization is also triggered during our self-test, which results in much of the code that can be used later not covered by

[2020-09-13 20:14] solardiz commented on #4033
Note: besides md5crypt-opencl, another format that should significantly benefit from async transfers as proposed here is phpass-opencl, although mostly at its lower cost setting used for benchmarks and by phpBB3, rather than the higher cost setting used by the far more popular WordPress.

[2020-09-13 20:28] solardiz opened #4339 "sha*crypt-opencl: Skip grouping by length when all are same length"
I notice that sha*crypt-opencl always group candidate passwords by length, which involves copying them from one buffer to another. This copying can be skipped (perhaps for some speedup) and the original buffer sent to the device directly when we know that all passwords are same length. We can know this quickly by maintaining a flag in `set_key()`, e.g.:

[code]

[2020-09-14 06:48] solardiz commented on #4318
Given magnum's explanation, I think there's nothing to do on this issue, and we need to work on #3242 instead. I'll close this one.

[2020-09-14 06:48] #4318 closed, assigned to nobody

[2020-09-14 07:03] solardiz commented on #4285
@claudioandre-br Please turn your patch posted here into a PR, and we'll get it merged. Thanks!

Also, what's "init()" in your comment "The init() itself is performed only once"? If you're referring to OpenCL initialization rather than some function named "init", then perhaps drop the braces?

[2020-09-14 18:16] #4338 closed, assigned to nobody

[2020-09-14 18:22] solardiz commented on #4339
@claudioandre-br Is this something you're going to implement and benchmark? Thanks!

[2020-09-14 19:35] solardiz opened #4340 "Rework usage / --help output"
I think our hiding of plenty of useful options under `--list=hidden-options` is too obscure. I think we should unhide them all, printing the full options list on `--help`. We're being inconsistent with other projects, including hashcat, by not printing the full options list even on explicit `--help`. This can be confusing to new users, who wouldn't realize there are more options nor how to see tho

[2020-09-15 13:34] ghost commented on #4285
I removed the braces.

[2020-09-15 14:30] solardiz commented on #4285
I'm fine with #4341 closing this issue, but I think longer-term we need some message about no OpenCL appearing not (only) in the middle of output, but also at the beginning or/and at the end, e.g. "All 410 formats passed self-tests! (OpenCL formats skipped.)" Claudio, please feel free to implement this now if you can, or leave it for later.

[2020-09-15 20:01] #4285 closed, assigned to nobody

[2020-09-16 09:21] patatetom commented on #4089
it's a simple packaging problem : the perl modules present in the `run/lib/` folder are not included in the package and therefore missing at the time of running pdf2john.

https://bugs.archlinux.org/task/63626

thanks for your help and, of course, for JtR :-).

[2020-09-16 11:38] anthraxx commented on #4089
@solardiz @mb720 @patatetom I've tested and authored this patch to fix this issue but then simply forgot to release it in the Arch package as well. :see_no_evil: I will push an update in the evening, thanks for pinging again and sorry for the delay.

[2020-09-17 16:54] solardiz commented on #4295
The memory leak is present even when running with fixed LWS/GWS (so not in auto-tune?) and even with tiny GWS:

[code]

(on the ancient GPU to have this exhaust its memory sooner)

I was watching `nvidia-smi` as the above ran, and GPU memory usage was steadily growing and was very close to the maximum available at the time of the final failure.

Separately, also puzzling are the failures of KeePas

[2020-09-17 17:44] solardiz opened #4343 "CL_OUT_OF_RESOURCES when copying results back"
As seen in https://github.com/openwall/john/issues/4295#issuecomment-694364334, lotus5-opencl and keepass-opencl were mysteriously failing on the ancient GTX 570. Edit: later the same was also observed for EncFS-opencl, gpg-opencl, keychain-opencl, pgpdisk-opencl, pgpsda-opencl, ZIP-opencl.

I seem to have figured this out for lotus5-opencl: we were sometimes invoking the kernel on more work items

[2020-09-17 20:05] magnumripper commented on #4343
The Keepass code always copies the full allocated buffer size. Also, it includes safety for any over-sized (eg. uninitialized) length field. BTW don't forget #4313

[2020-09-17 20:31] #4028 closed, assigned to kholia, magnumripper

[2020-09-17 20:36] solardiz commented on #4343
I think #4313 is different (I wouldn't expect it to manifest itself when running with explicit LWS=64 GWS=64, where this one does), and is a bug we should fix globally - not just for keepass-opencl.

I think I'll get the lotus5-opencl fix in, and keep this issue open for now for trying to figure out keepass-opencl.

[2020-09-17 23:19] wsandin commented on #4340
Hi, I just read through the related issue #1046, and had a look at the code for a bit better understanding.
I'd be happy to take on this issue.

[2020-09-17 23:21] wsandin commented on #4325
I'd happy to take on this one, and ensure it gets reviewed thoroughly over feedback loops before committing.

[2020-09-17 23:42] solardiz commented on #4340
Thanks @wsandin. Let's also hear from @magnumripper and other key contributors.

This change will probably also need to be reflected in bash completions, see #129 and #319. @frank-dittrich might comment on that.

[2020-09-18 06:26] magnumripper commented on #4340
I'm fine with the general idea.

I've been considering helper print functions that tries to know the screen width (with fallback to 80 and perhaps never using wider than *n* where *n* could be something like 120 or 240 or even a john.conf option). They would wrap lines at whitespace boundary. One feature would be optional automatic indentation for continuation, like this (examples with miniscule w

[2020-09-18 19:35] solardiz opened #4345 "For a few salted slow hashes, distribute salts across work-items"
Problem: when cracking some of the slowest hashes on GPU and there are a lot of different salts, it takes ages for the cracking to advance to the next batch of candidate passwords, or alternatively the efficiency is low if the number of candidate passwords is too small.

Solution: if we simultaneously (in one OpenCL kernel invocation) compute hashes for multiple salts, then we can fully utilize th

[2020-09-18 19:47] solardiz commented on #4343
I've just tested the lotus5-opencl fix on super's GPUs and pushed it right into bleeding-jumbo.

[2020-09-18 20:30] solardiz opened #4346 "rar2john: support multi-part archives"
Two sub-tasks here:

1. Figure out and document the current support (if any) or lack thereof.

2. Implement full support.

Reference: https://www.openwall.com/lists/john-users/2020/09/18/3

[2020-09-18 20:34] solardiz opened #4347 "zip2john: spurious "not encrypted" message on WinZip archive"
We need to look into the test case is provided in https://www.openwall.com/lists/john-users/2020/09/17/5 and see if there's anything for us to fix (code or documentation), and if so do that.

[2020-09-18 20:48] solardiz commented on #4343
Also tested the patched lotus5-opencl in an ASan build on CPU and MIC. No issues.

[2020-09-19 02:01] ghost commented on #4335
This is line 84, `path.c`.

[code]

This is line 1253, `opencl_common.c`. (as expected).
[code]

Realpath() is NOT used.

[2020-09-19 11:30] solardiz commented on #4335
Thanks, Claudio! So is the problem that PowerShell somehow cuts the path provided in `argv[0]` to include just the last two components? If so, how does JtR manage to find its `john.conf` and other things? Why does the problem only occur for OpenCL kernels?

[2020-09-19 13:11] ghost commented on #4335
To say the truth, I have no idea. Anyway, you are not considering an important detail:
* if the binary OpenCL kernel exists, **JtR can open and use it**.
* what is failing is `#incluide` (do we have all information? Internals? Implementation details?).

[2020-09-19 13:14] steffen678 commented on #4089
So, any news about the update? :/

[2020-09-19 13:18] ghost commented on #4089
As solar said here https://github.com/openwall/john/issues/4089#issuecomment-675604510, JtR developers can't really help.

[2020-09-19 13:24] steffen678 commented on #4089
My question was directed @anthraxx, who said he would push an update that evening, but the package is still broken as of now. Thanks for your reply though!

[2020-09-19 14:13] solardiz commented on #4335
Do you have any suggestions on the next steps towards understanding and/or fixing this?

[2020-09-19 14:41] ghost commented on #4335
- We need to find a function that returns pwd.
- And/or we need to detect we are in PS, then #include (-I) `run/opencl` and `opencl` (the user should be in JtR main folder). For now, we can always #include -I `run/opencl` and `opencl`.
[code]

**[edited]**
[code]

[2020-09-19 18:50] ghost commented on #4335
This works on PS when the user runs JtR from the john the ripper (package's) root folder.

[code]

[2020-09-19 20:12] solardiz opened #4349 "unique: hash function not properly updated to 64-bit"
`typedef uint32_t uq_hash;` keeps the hash size limited to 32-bit, whereas we don't limit the hash table size accordingly on 64-bit.

Further, the `HASH_MAX` constant set to `0xE000000000000000ull` on 64-bit implies the intermediate hash value should be 64-bit, but that isn't the case with that type. This results in the `if (hash & HASH_MAX)` condition being always false on 64-bit, and the corresp

[2020-09-19 20:58] magnumripper commented on #4347
#3985 and its fix 28224f39 should be related

[2020-09-19 21:10] #4349 closed, assigned to nobody

[2020-09-19 21:38] solardiz opened #4350 "Use a modern fast hash"
We might want to get a modern fast hash function like t1ha into the tree and use it throughout the codebase, including in "unique". The current 2-characters-at-a-time hash function that we use in a few places including "unique" is probably not the fastest we can have with decent properties on modern CPUs. https://github.com/erthink/t1ha

Stretch goal: use a keyed hash with a key randomly generated

[2020-09-20 19:14] solardiz commented on #4335
Thanks Claudio. I suggest that for now you clean up this patch to make its implementation slightly less of a hack, even if the approach will remain a hack, and turn it into a PR.

Specifically, I'd rename `opencl_include_path` to `extra_opencl_include`, put it on the stack (no `mem_calloc`), use `sizeof` in the added `snprintf`, add an `else` setting `extra_opencl_include[0] = 0;`, add a leading s

[2020-09-20 19:20] solardiz commented on #4335
Upon a second thought, the condition looks like it'll be triggered in many unintended cases as well, including on non-Windows, resulting even in extra security risks (`john` invoked via a pathname to it when in an untrusted current directory starting to look for OpenCL kernel include files relative to that untrusted directory). So I am no longer happy to have this even as a temporary hack. :-(

Ca

[2020-09-20 19:23] solardiz commented on #4295
The problem is fully seen at this commit:

[code]

It is mostly gone when I revert further, to the immediately preceding commit:

[code]

[2020-09-20 19:41] solardiz commented on #4295
bd7b8267764bfda5bce9df40cf1a6dfcf89e0329 changes implementations of `done()` to only free things `if (program[gpu_id])`, but I see nothing in the corresponding implementations of `reset()`, which allocates things, that would guarantee that `program[gpu_id]` is set. Prior to this commit, the variable `autotuned` was used instead, and that one is obviously set by `autotune_run()`, which is invoked f

[2020-09-20 19:54] ghost commented on #4335
We can add a `#ifdef CYGWIN && Windows` to skip the hack for all non-Windows systems.
Besides that, we can add more checks using Windows APIs like `_popen` or `SHGetDesktopFolder` (random examples that might be useful). But it will overcomplicate things.

[2020-09-20 20:01] solardiz commented on #4335
OK, let's limit this to Cygwin builds. Please submit a PR with that and with the changes I suggested above. Thanks!

[2020-09-20 20:03] solardiz commented on #4335
What do you mean by "the root folder"?

[2020-09-20 20:07] ghost commented on #4335
[code]

[2020-09-20 20:09] solardiz commented on #4335
So if someone is _in_ `run`, this hack doesn't help? That's no good. I expect most people to run `john.exe` while being in the directory with that file.

[2020-09-20 20:11] ghost commented on #4335
We need to also add `-I ./opencl`.

[2020-09-20 20:43] ghost commented on #4335
A suitable solution would be to create something like `JtR-get-process(my-PID);` [1]. Using it in `path.c`.

[code]

[1] shows the full path (no matter if it is running on PS, CMD, from the current directory or not)
https://github.com/PowerShell/PowerShell/blob/3effa204103460c996a8612aa70718fdf924047d/src/Microsoft.PowerShell.Commands.Management/commands/management/Process.cs#L454

[2020-09-20 21:35] solardiz commented on #4335
Is that `argv[0]`? If so, how does `john` find the rest of its files, such as `john.conf`?

[2020-09-20 22:19] solardiz commented on #4335
Claudio, can you show `argv[0]` at the start of `main()`? If it's really that bad, then many other things must be non-working in PS, including fallback binaries, `john.conf`, .chr file paths, etc. If so, adding a workaround only for OpenCL kernels feels wrong.

Edit: further, how are OpenCL kernels themselves found? Why are we only seeing an issue for their includes? There's still something crucia

[2020-09-21 00:03] ghost commented on #4335
[code]

CMD
[code]

PS
[code]

We've talked about this in the past. I do not call the "package folder" the JtR root directory by chance.
[code]

[2020-09-21 00:13] claudioandre-br commented on #4335
I edited the previous comment.

[2020-09-21 06:56] solardiz commented on #4335
Judging by where `Claudio.TXT` got created, apparently there's something (some Cygwin magic? a drive letter unseen here?) mapping `Z:\johntheripper` as `/` for Cygwin's `open` calls and such? That's weird and surprising, but it would explain how `john` finds everything else via the `/run/john` paths. Apparently, OpenCL runtime's file opening bypasses that logic, which is why we only see an issue f

[2020-09-21 07:19] solardiz commented on #4335
What if you move the `run` directory to a deeper level, e.g. `Z:\johntheripper\more\dirs\run`? Will the path seen in `argv[0]` be `/run/john` or maybe `/more/dirs/run/john`?

A guess I have is that Cygwin somehow treats `Z:\johntheripper` the same as it does `C:\cygdrive` or such. I don't know why it would do that and why only in PS, but it would explain other things we're seeing. The test I've ju

[2020-09-21 10:21] magnumripper commented on #4295
Which format were you looking at? With 80 files "unified", it's possible I screwed up some.

The first file shown for that commit is `opencl_7z_fmt_plug.c`, and picking that as example, the logic seems fine to me - do I miss something?.

[2020-09-21 10:36] magnumripper commented on #4295
Hmm it's kinda messy to follow, but `opencl_init()` calls `opencl_build_kernel()` and so on, ultimately calling `clCreateProgramWithSource()` and setting `program[gpu_id]` to the result.

[2020-09-21 10:45] solardiz commented on #4295
They looked pretty much the same to me, so all or most. I'm fine using `opencl_7z_fmt_plug.c` as an example. During testing, there's significant increase in device memory usage e.g. during RAR formats' benchmark; after this commit, that increase stays into the TrueCrypt benchmark, resulting in even higher memory usage there.

[2020-09-21 10:50] magnumripper commented on #4295
I just can't see why it would happen, if it wasn't happening before that commit. Is my logic flawed? The way I see it, we can't create/release resources without having the "program" initialized. And if we do have a program, things should be deallocated and program teared down in `done()`.

[2020-09-21 11:01] magnumripper opened #4351 "--stress-test option no longer works"
Investigating #4295 I just noticed `--stress-test` option is b0rken. It used to be same as `--test` except it looped the test(s) forever.
[code]

[2020-09-21 11:09] magnumripper commented on #4295
After fixing #4351 (PR coming), this is easily reproduced with any single format and the `--stress-test` option. Should be easy to throw in some debug prints and nail it. I can take it from here if you wish.

[2020-09-21 11:52] solardiz commented on #4295
Please do. Thanks!

[2020-09-21 12:21] magnumripper commented on #4295
For now only looking at RAR format. There was a minor leak where the very first `reset()` would cause allocations (of GWS 49) that was never released (due to reset being called once too much but we should allow that). That is not the main problem but should be fixed in all formats:

[code]

After fixing that, we never allocate new buffers without releasing any existing ones, and we never create pr

[2020-09-21 12:25] magnumripper commented on #4295
Note BTW I'm not yet sure that diff is correct for things #4012 addressed in case of mask mode. For my current bug hunting, it's fine.

[2020-09-21 14:51] ghost commented on #4335
Yes (copied, in fact).
[code]

[code]
***
Notice that `/` is not `\` (from a previous comment)
[code]

[2020-09-21 15:01] ghost commented on #4295
I will debug it today (using `--stress-test` and sha256, fast and slow formats) to see if I find anything.

[2020-09-21 15:36] solardiz commented on #4335
Weird stuff, but this gave me a new idea: maybe if on Cygwin we replace all `/` back to `\` and then call `realpath()` on that, we'd end up with the real absolute pathname that we could use on `-I`?

[2020-09-21 15:38] solardiz commented on #4335
Yet another idea: if Cygwin at least performs this weird translation consistently for its own functions, we could use `chdir` on the path to `john` and then `-I opencl`. We could do this for the duration of building OpenCL kernels, then revert to the previous current directory (is `open` of a directory and `fchdir` supported on Cygwin? that would be the most reliable way to revert the current dire

[2020-09-21 16:42] ghost commented on #4295
I can find a leak. Important leak. I would say it is related to how/when `reset()` is called (a relatively recent change?).

But there is something more.

[2020-09-21 17:25] ghost commented on #4295
Okay, I can see that the author of the format (me) did something wrong. And that's it! Everything fine now.

FTR, I'm testing using (dies in iteration 30, approx.).
[code]

I will:
- fix my slow formats;
- fix autotune shared code (and test);
- fix my fast formats (if needed).

Then, we will know if all formats need a fix.

[2020-09-21 17:28] ghost commented on #4295
Iteration 200 (edited, I ran up to 400) uses the same amount of memory as iteration number 1 uses.

[code]

[2020-09-21 21:15] ghost commented on #4295
I'm still interested in discussing `reset()`. How it works (it is a question, there are some blanks in my mind).
[code]
magnum?

There is one leak left because I don't know what I can (or should) do in [1] above.

[2020-09-22 02:30] ghost commented on #4347
Have you tested this? Using my snap, I realized that the message is displayed only for Jumbo 1. An important detail is that the support for the zip format was greatly improved after the release.

A Jumbo 2, Reloaded, to fix Office bugs, OpenCL leaks, improve Zip, etc, seems like a good idea to me.

[2020-09-22 14:16] magnumripper commented on #4295
LOL I randomly picked RAR-opencl which was a very bad choice for finding problems in shared OpenCL code because it has some leak on its own, unrelated to this issue. I'll fix that and carry on with this.

[2020-09-22 15:11] #4351 closed, assigned to nobody

[2020-09-22 15:30] magnumripper commented on #4295
I will continue my testing based on having #4354 merged in my tree.

Here are all situations for calling `reset()` I can think of right now:
1. Nothing is initialized. So we need to initalize OpenCL, create program, kernels and set up LWS/GWS and buffers (presumably very small, for self-tests).
2. Self-tests were finished and we just want to re-size LWS/GWS and buffers for actual cracking.
3. Inte

[2020-09-22 15:37] solardiz commented on #4347
Testing on the provided `Test.zip`, I confirm that this problem was present around the time of 1.9.0-jumbo-1, and is now gone.

I agree we should make a release after having fixed stuff and before we break anything again. I'd appreciate help on the "Definitely 1.9.0-jumbo-2 material" issues.

[2020-09-22 15:37] #4347 closed, assigned to nobody

[2020-09-22 15:41] solardiz commented on #4323
This isn't really an issue for us, and not something we care to keep track of. Closing.

[2020-09-22 15:41] #4323 closed, assigned to nobody

[2020-09-22 16:01] solardiz commented on #4206
Maybe `replace()` should be modifying the string in-place instead of creating an allocated copy. Maybe the uses so far are OK with that - need to check.

BTW, currently `replace()` forgets to check `strdup()` return value for non-NULL - a separate bug.

[2020-09-22 16:13] solardiz commented on #4080
I think there's nothing for us to do on this issue. Closing.

We already took care of recent stable gcc releases' warnings recently. (The warning for `compiler.c` that Claudio shows here is a gcc bug that they've already fixed before making the first stable release in 10.x series.)

[2020-09-22 16:13] #4080 closed, assigned to nobody

[2020-09-22 16:19] solardiz commented on #4076
`?w` behaves as intended, and we shouldn't change that. Implementing the alternative proposed here would be useful but difficult - it's more like a new cracking mode (the hard part), and in terms of user interface (the easy part) will need syntax not overlapping with existing functionality or a separate command-line option to enable that new behavior.

I've just added the "new cracking mode" label

[2020-09-22 16:26] solardiz commented on #4062
As seen on #4295, CL_OUT_OF_HOST_MEMORY is also commonly produced when running out of device rather than host memory. Given this new knowledge, I don't like my idea here all that much. Closing.

[2020-09-22 16:26] #4062 closed, assigned to nobody

[2020-09-22 16:29] solardiz commented on #4043
@SaleSlave Did you run into the same issue? Please share more detail if so. Can you help us figure it out for real and get it fixed? Thanks!

[2020-09-22 16:33] solardiz commented on #4042
I think it's normal and expected that "under windows script doesn't work." It needs access to the raw disk via a pathname, and that isn't available under Windows. The script's usage instructions give device names for Linux.

Closing.

[2020-09-22 16:33] #4042 closed, assigned to nobody

[2020-09-22 16:41] solardiz commented on #4039
@carlmon It's weird you were getting these errors when we were not, but regardless can you please try again with our latest bleeding-jumbo? We did fix some other bugs, and who knows what memory corruption might have been causing the behavior you saw - maybe it's gone with our other fixes. Thanks.

Edit: also, if the same crash still happens, can you please try testing `--format=krb5-18` separately

[2020-09-22 16:48] solardiz commented on #4039
Added milestone because this is _potentially_ a bug for us to fix, even though in my recent testing with ASan all CPU formats passed. (I ran that on AVX rather than AVX2, though.)

We need to somehow gain confidence this isn't our bug. It might be e.g. an OpenSSL bug, or it could be our bug in _usage_ of OpenSSL APIs (which wouldn't get caught by ASan since OpenSSL wasn't built with ASan).

[2020-09-22 16:57] e2002e commented on #4323
Ok no problems, I ended up using a displacement of the index so that the words are riddled with moving characters, adding a rotation on top is making the thing interesting.
I'll not delete my fork.

On September 22, 2020 3:41:20 PM UTC, Solar Designer <notifications@github.com> wrote:

--
Sent from my Android device with Librem Mail. Please excuse my brevity.

[2020-09-22 17:00] solardiz commented on #3967
I've recently added some testing of non-OMP (with SIMD only) in ebd308f779cd24f33258267ef93e6610c7a8ab91. We don't appear to have room to add more tests now without removing something first.

[2020-09-22 17:01] ghost commented on #4039
For some time I have "builds from source" and snap tests running on Ubuntu 18.04. I haven't seen any problems so far.

[2020-09-22 17:07] ghost commented on #3967
If we want to have a quick answer, no. My CI tests give me an answer in 4 hours. Still good! To me.

What you can do, in fact, you should do, is install one or more agents in Openwall's hardware (fast) hardware. If we have better hardware, we can do more.

[2020-09-22 17:09] solardiz commented on #3762
As I recall from looking at and playing with hashcat's DiskCryptor support some months ago, we actually do not support cascaded ciphers in OpenCL. IIRC, that isn't only about the post-processing, but also about generating KDF output of sufficient size, which is something that should definitely be in OpenCL.

[2020-09-22 17:17] solardiz commented on #4345
Turns out I reinvented my own #4035 and #4036. I'll close this issue, but it'll now be referenced from those and will continue to provide some extra detail.

[2020-09-22 17:17] #4345 closed, assigned to nobody

[2020-09-22 17:24] solardiz opened #4355 "OpenCL autotune for actual salt and/or hash count"
As discussed in comments on #3779, we might want to autotune for the actual salt count. This could affect the ratio of calls to `set_key`, `crypt_all`, and `cmp_all`, maybe in some cases resulting in different LWS/GWS being optimal. We should use the salt count remaining for cracking (with `john.pot` entries removal already processed).

Further, with unsalted hashes we might want to autotune for t

[2020-09-22 17:25] solardiz commented on #3779
I've just created a new issue for the remaining ideas, and I'll close this general discussion issue.

[2020-09-22 17:25] #3779 closed

[2020-09-22 17:29] solardiz commented on #3798
I think we haven't run into this issue for more than a year, so it's probably gone. Closing.

[2020-09-22 17:29] #3798 closed

[2020-09-22 17:45] solardiz commented on #4333
@yoshimo What does the file look like? Is it text or binary? Do any of the suggestions in #3685 possibly help?

[2020-09-22 18:35] yoshimo commented on #4333
it begins with
(21:protected-private-key(3:rsa(1:n513:

and ends with
:36:SHA2568:V&­ŠPPLn2:96)))))
and between is a lot of non printable "garbage"

https://git.gnupg.org/cgi-bin/gitweb.cgi?p=gnupg.git;a=blob;f=agent/keyformat.txt;h=058fb014372e83f7b25c9c068593c518dc3fb845;hb=bdf252e76ada0056bec2ee7940255f32552328c5
Should give more details about these files

[2020-09-22 20:21] magnumripper commented on #4042
Perhaps mention in some docs?

[2020-09-22 22:06] solardiz commented on #4042
This is already mentioned in `doc/DiskCryptor-HOWTO.md`: "The `diskcryptor2john.py` program requires Linux to run." (Actually, it will probably run on Windows if the disk/partition is dumped into a file from Linux or another such system first.)

Maybe we should rename that file to be more consistent with others; I suggest `README-DiskCryptor`.

[2020-09-23 04:04] magnumripper commented on #4355
Not sure what you mean. We do (I hope nearly always) autotune for actual cost. How would we autotune for salt count?

[2020-09-23 04:07] magnumripper commented on #4346
According to comments in that thread, it works fine. We should just document it

[2020-09-23 04:13] magnumripper commented on #4343
56e9bcdea has small changes, not sure if they matter

[2020-09-23 07:19] solardiz commented on #4346
Right, but then why did OP say it didn't ("When ever i use rar2john on a single file i get the right hash, but when i use it on parts i don't")? Maybe we should ask OP about this first.

[2020-09-23 07:36] solardiz commented on #4355
During tuning, use a sequence of calls resembling actual cracking with that salt count, e.g. for 3 salts and few hashes per salt:

[code]

This reduces the relative weight of `set_key` (and more importantly of keys transfer to device in `crypt_all`, if it's smart enough to do that only when the keys change) compared to single-salt run.

[2020-09-23 07:50] solardiz opened #4357 "Rename documentation files for consistency"
jumbo's current documentation files have inconsistent names. Some `README*` files use a dash (e.g., `README-PDF`) and others use a dot (e.g., `README.BitLocker`). I think we should standardize on dashes, keeping uses of dots reserved for filename suffixes indicating file type. Further, some are named very differently like `CRAM-MD5.txt`, `DiskCryptor-HOWTO.md`, `NETNTLM_README` - we should bring t

[2020-09-23 07:56] solardiz commented on #4333
@yoshimo Thanks. Perhaps you can use GnuPG itself or another tool to convert/export the key in a format already understood by `gpg2john`? Maybe something like `gpg --export-secret-keys -a` would work? If so, we could document that instead of writing a parser.

[2020-09-23 07:59] solardiz commented on #3762
Upon a further look, we don't support cascaded ciphers on CPU as well. The loop over 3 cipher types that we have in there is only for them used individually, not cascaded. So this line in `diskcryptor2john.py` is correct:

[code]

However, output from `diskcryptor2john.py` can be fed into hashcat run in cascaded cipher modes, and at least _appears_ to work correctly. (I don't have a sample with a

[2020-09-23 08:10] solardiz commented on #4340
I think we should avoid scope creep and mixing of different kinds of changes in one PR, or we'd end up with a PR that's hard to agree on and merge (and if things are mixed on one commit, then also no easy way to revert one kind of changes without reverting all if we ever choose to). While introducing helper functions could be nice, I think this should be a separate and perhaps a later change from

[2020-09-23 09:22] wsandin commented on #4340
While I've already done some research and testing on how some of these helpers (i.e. detecting terminal width) could be implemented, I appreciate you protecting the scope for this issue.

In that case I'll complete this issue as defined by you in the initial post, and ensure that this gets reflected in any shell completion. After that I'd be happy to take on a separate issue to implement such a he

[2020-09-23 11:20] magnumripper commented on #1354
Not sure if it's possible, but if we can just try to ensure rules are dupe (eg. same order) after the pre-processor, our dupe rule rejection will handle this

[2020-09-23 11:50] magnumripper commented on #4355
OK that's sensible but there are caveats, like what if we have 10,000 salts?

Ideally (if possible) we should measure time for `set_key` and key transfer and `crypt_all` + `cmp_all` - and then simply do the math (just thinking out loud).

[2020-09-23 12:14] magnumripper commented on #3917
Where can I find your upstream code?

[2020-09-23 12:24] magnumripper commented on #3975
We now have a notice "Skipping short file l6ue6o.gG3L" for this situation

[2020-09-23 12:24] #3975 closed

[2020-09-23 12:56] solardiz commented on #3917
https://openwall.info/wiki/people/solar/software/public-domain-source-code

But I guess I'll take care of this issue myself.

[2020-09-23 13:05] solardiz commented on #4355
Maybe we can measure the time of:

[code]

and then also of extra:

[code]

where the second call to `crypt_all` might not re-transfer the keys. Then from these two measurements we can extrapolate to higher actual salt count.

Such extrapolation would fail with #4035 and maybe with #4033. Maybe we can have formats force-disable those optimizations when in auto-tuning, although that would decrease

[2020-09-23 16:16] ghost commented on #4346
It may not always work. But, it is not broken.

[code]
The rar2john tool produces 3 different hashes:
* full has, e.g., HASH-A;
* part01 has, e.g., HASH-B;
* part02 has, e.g., HASH-C;
* part03 has, e.g., HASH-C;
* and so on (up to 69).

Edge JtR build (J1+).
[code]
[code]

[2020-09-23 16:16] magnumripper commented on #4044
Well that is exactly what `BENCH_CLERROR` was introduced for. We have these alternatives:
`SOFT_CLERROR` will just print the error
`HANDLE_CLERROR` will print the error and abort
`BENCH_CLERROR` is designed for `crypt_all()` and autotune: If autotune is running (and only then), it will silently `return -1;` _which is (supposedly) recognized and acted on by the autotune code_. Bumped verbosity may

[2020-09-23 16:20] magnumripper commented on #4044
It was introduced long ago, 462f2b4b6

[2020-09-23 16:24] magnumripper commented on #4044
Anyway if we replace some `HANDLE_CLERROR` in opencl_common.c as you mentioned, we should probably just use `SOFT_CLERROR`, or is the `return -1` appropriate?

Edit: I see `opencl_find_best_lws()` is void - it shouldn't even compile using `BENCH_CLERROR` unless the `return -1` is optimized away...

[2020-09-23 16:27] ghost commented on #4346
Oh, BTW: `rar2john non-encrypted-file` gives no warning, hint, error, info, whatever. Not sure if there is a bug about it.

[2020-09-23 18:21] yoshimo commented on #4333
This asks for the passphrase to be able to export it so we can't break the cycle.

[2020-09-23 18:45] solardiz commented on #4333
Apparently, there was a relevant bug in some GnuPG 2 versions. What version did you try with? Please try upgrading to the latest GnuPG 2.

[2020-09-24 07:11] solardiz commented on #4346
But you haven't found a test case where it doesn't work, correct?

We should probably fix that.

[2020-09-24 07:16] yoshimo commented on #4333
2.2.21 was used.
2.2.23 also requires the passphrase for export. Which is what i hoped to recover with jtr.

[2020-09-24 07:25] solardiz commented on #4044
As I wrote earlier:

"We probably have the events in an inconsistent state there [...]. Unfortunately, for `clGetEventProfilingInfo` we probably shouldn't silently ignore errors as we'd end up tuning using "random" fake timings.

[...] Maybe if `clWaitForEvents` returns an error when in benchmark or auto-tune, don't complain and don't abort, but skip the dependent calls to `clGetEventProfilingInfo

[2020-09-24 07:31] No-Github opened #4360 "Add support for 7-Zip files without header encryption,plz!!"
Add support for 7-Zip files without header encryption,plz!!

https://github.com/openwall/john/blob/bleeding-jumbo/run/7z2john.pl

[2020-09-24 07:38] solardiz commented on #4333
IIRC, I was able to export an encrypted secret key with GnuPG 1, without having to decrypt it - but I doubt GnuPG 1 will handle your file format. I think we'll need to experiment with this some more and arrive at an approach that would work (GnuPG version, maybe even a patch, and options to use).

[2020-09-24 10:22] magnumripper commented on #4360
7z2john.pl is actually a renamed [7z2hashcat.pl](https://github.com/philsmd/7z2hashcat), please open an issue there instead.

[2020-09-24 10:26] magnumripper commented on #4360
Having said that, I'm not sure this is a valid request anyway. As far as I know "without header encryption" is the 7z default and already supported.
[code]

[2020-09-24 10:38] magnumripper commented on #4360
Just tested: We already handle files with or without header encryption, both in 7z2john and in john.

[2020-09-24 10:52] ghost commented on #4346
No.

[2020-09-24 10:56] ghost commented on #2758
Duplicate of #4346(?).

[2020-09-24 10:58] ghost opened #4361 "rar2john should warn when dealing with unencrypted file"
See https://github.com/openwall/john/issues/4346#issuecomment-698160941

[2020-09-24 12:57] solardiz commented on #4360
@No-Github Do you agree with @magnumripper that there's nothing for us to do on your request, and we should simply close it? Please let us know either way.

[2020-09-24 13:11] No-Github commented on #4360
Thanks, I solved the problem using the method you provided.😊👍❤
![Snipaste_2020-09-24_21-10-48](https://user-images.githubusercontent.com/18167071/94149423-75a71100-feaa-11ea-904e-11598d74c1d0.png)

[2020-09-24 13:11] #4360 closed, assigned to nobody

[2020-09-24 13:36] magnumripper opened #4362 "DEScrypt-opencl lacks a done() function, thus leaks memory"
https://github.com/openwall/john/pull/4354#issuecomment-698077601

This is not much of a problem in real use, leak seen with `--stress-test --format=DEScrypt-opencl`.

I will personally never look into this very format, the code isn't compatible with my brains.

[2020-09-24 14:32] magnumripper opened #4363 "Use unified helper functions for creating and destroying OpenCL buffers/mappings - and/or for re-introducing CUDA"
Many formats have variants of this:
[code]

We should have such macros in `opencl_common.h` and use them *everywhere*. They can have memory-leak detection like my debug macros for #4354 (could in fact be in place all the time, not just for debugging).

[2020-09-24 14:34] magnumripper commented on #4363
Note that we could also have more advanced functions like `CREATEPINNEDBUFFER(devbuf, hostbuf, size, (...))` that creates all buffers and maps them, and a corresponding destroyer that unmaps, frees, releases etc.

[2020-09-24 19:18] magnumripper opened #4365 "mscash2-opencl is incompatible with stress-test"
[code]
This indicates problems in eg. `done()`

[2020-09-25 07:43] #3978 closed

[2020-09-25 08:19] magnumripper opened #4366 "Add --format=LIST feature"
From https://github.com/openwall/john/pull/4354#issuecomment-698595869

Some thoughts right now:
- Perhaps we can use `--format=[FORMAT|WILDCARD|CLASS|LIST]` (with LIST being the only new) instead of a separate `--format-list=LIST`.
- The existing list parsing would (IIRC) cut at the `-` in `foobar-opencl`, which isn't great.
- ~This is not really useful for anything but testing. Perhaps we don't

[2020-09-25 14:21] solardiz commented on #4366
It's also useful for running specific sets of benchmarks - not testing JtR for proper operation, but getting benchmark results for specific sets of formats one is interested in without having to run multiple commands. So I want this always compiled in, and as a feature available to end-users.

[2020-09-25 14:38] solardiz commented on #4281
I found that our `README-DISTROS` currently has this:

[code]

And  also this:

[code]

So we already have almost a `make install` intended for distros in there, just not in that form, and not fully working right (it doesn't appear to install the `un*` and `*2john` tools that aren't scripts, but are symlinks to `john` or separate compiled programs).

I find it weird for those instructions to be fo

[2020-09-25 16:35] solardiz opened #4367 "External mode cipher_limit is not set correctly"
Unless the `--max-length` option is given, `cipher_limit` is set to 125 and not to the format's maximum length. Among other effects, this results in a segfault with `phpass` and `phpass-opencl` formats when trying to use `--external=Repeats` on them.

[2020-09-25 16:38] solardiz commented on #4334
Jumbo's assumption that key lengths are valid enabled me to discover #4367, which would otherwise be hidden. OTOH, the same assumption means we had that segfault-causing bug in the tree for a long time without discovering it yet. So it's not instant discovery, and can actually make bugs worse while they're not yet discovered.

[2020-09-25 17:02] ghost commented on #4334
JtR community needs to put some love in (a new) TS. We need to be able to design tests using the tool.
* what if len(plaintext)=0
* what if len(plaintext)=max_len (I remember one magnun's post about this)
* what if len(plaintext)=125
* what if len(plaintext)>125
*****
BTW: I (format author) use Jumbo's assumption that key lengths are valid.

[2020-09-25 17:07] solardiz commented on #4343
FWIW, the keepass-opencl problem here still occurs just the same after 8bbd90f49ca6b18179112b3fa923192e198b4894 (and all prior commits).

[code]

[2020-09-25 17:10] solardiz commented on #4334
BTW, even without #4367 it looks like jumbo relies on external modes never producing over-long keys. I think that's wrong.

Does this buy you anything? I doubt it. I think you shouldn't.

[2020-09-25 17:13] solardiz commented on #4334
Changed milestone as I think we need safety at least against external modes, so we must not make a release without making at least some fix here. Some external modes might simply not bother checking `cipher_limit`, and that shouldn't be a fatal bug. If anything, we should print a warning rather than crash.

[2020-09-25 17:25] ghost commented on #4343
Can you enable magnun's debug `nvidia-smi` call?

[2020-09-25 17:29] solardiz commented on #4343
@claudioandre-br I'd need to run stress-test for that, and for now I am simply running a regular test across all formats. I check `nvidia-smi` manually once in a while, and there's no leak seen anymore.

New instances of similar misbehavior:

[code]

[code]

[code]

Previously, my test simply didn't get this far because of the memory leaks.

[2020-09-25 17:32] solardiz opened #4368 "OpenCL format failures on GTX 570"
In addition to those in #4343:

[code]

[code]

[code]

and that's where my `--test --format=opencl` run ends for now - probably will see more failures once that one is fixed.

[2020-09-25 17:37] solardiz commented on #4343
The four failing formats - keepass-opencl, EncFS-opencl, gpg-opencl, and keychain-opencl - also fail in the exact same way when tested individually and with explicit LWS=64 GWS=64.

[2020-09-25 17:40] solardiz commented on #4343
Here's an idea: these formats copy the entire input buffer to the device, and the entire output buffer from the device. This means they're trying to copy back results that were not produced by the device when the actual `*pcount` and GWS are lower than buffer allocation. Perhaps that's our bug? Maybe reading of uninitialized results may fail like this, rather than merely produce garbage.

[2020-09-25 17:40] ghost commented on #4368
`Benchmarking: sha256crypt-opencl, crypt(3) $5$ (rounds=5000) [SHA256 OpenCL]... FAILED (cmp_all(1))`

Is this old bull's board? If so, probably, I have a workaround available in source code (disabled now).

[2020-09-25 17:42] ghost commented on #4343
Using  `LWS=64 GWS=64`? Odd.

[2020-09-25 17:46] solardiz commented on #4343
Here's another guess: maybe the kernel itself occasionally fails to produce results (for inputs beyond `*pcount` but below GWS, or for all) when some inputs are invalid (copied from the host, but using uninitialized data on the host).

Edit: not confirmed that the data on host is uninitialized - there's a properly-looking `memset()` in `clear_keys()` in keepass-opencl. I also see no issue in the k

[2020-09-25 17:59] ghost commented on #4343
I like the `uninitialized`. Salt related stuff could be invalid, for example.

[2020-09-25 18:03] solardiz commented on #4044
Also, why do we tend to use `HANDLE_CLERROR` in `set_salt()` yet `BENCH_CLERROR` in `crypt_all()`?

[2020-09-25 18:12] magnumripper commented on #4367
Ouch. Seems to be introduced in 6ba42b308f in Feb 2018. Total brainfart by your's truly and would likely have been spotted by a peer review.

[2020-09-25 18:15] ghost commented on #4044
Ok, we should change that. But, `set_salt()` is not important for auto tuning (when errors will occur).

In fact, an error in `set_salt()` while tuning is bad omen

[2020-09-25 18:19] magnumripper commented on #4044
Because we can't `return -1;` from `void set_salt()`. We could use `SOFT_CLERROR` or introduce a new one that is more like `BENCH_CLERROR` except never tries to return a value.

[2020-09-25 18:45] solardiz commented on #4044
OK, I'm actually fine with potential errors in `set_salt()` being fatal. We're not seeing spurious ones.

[2020-09-25 18:46] solardiz commented on #4368
Right. How can I enable that workaround?

[2020-09-25 19:12] solardiz commented on #4343
I looked into that. `keepass_get_salt()` starts by memset'ing the whole thing. So it doesn't look like it can be partially uninitialized. Yet maybe there's something wrong in there causing the kernel to fail on this GPU but not on most others.

[2020-09-25 19:15] magnumripper commented on #4366
With very little coding I've got this:
[code]
Note that they still come in format struct order, not the order I gave in the `--format` option.

I think we do need them in the **given** order but that'll be less trivial (or at least a more intrusive change). I'll sit on this for a while, maybe it can still be trivial.

[2020-09-25 19:24] solardiz commented on #4368
[code]

Line 155 is:

[code]

Commenting it out makes further similar lines succeed, with the format failing because of lacking this argument, as expected.

[code]

I notice this refers to mask. Indeed, `--no-mask` makes the format pass test.

I have no idea what the comment about `ref_ctr` means. There's nothing of that name. We should probably drop that comment.

[2020-09-25 19:28] magnumripper commented on #4366
Talking to the duck here, the above was from hacking `john_register_all()` a little. I could of course wait until after that, when we have a complete `fmt_list`, and only then build a **new** `fmt_list` with the content (and order) I like from the original one. Should be trivial.

[2020-09-25 19:29] solardiz commented on #4368
`(void *)&dummy` passes the address of a stack variable, which will be gone. That's probably wrong, but fixing this to e.g. `static unsigned int dummy[1000];` doesn't make a difference, which is not surprising given that `mask_int_cand.int_cand` is non-NULL. Oh, actually with `CL_​MEM_​COPY_​HOST_​PTR` having `dummy` on stack was OK.

[2020-09-25 19:54] solardiz commented on #4368
The issue appears to be with setting kernel argument 4 to anything at all (tried setting it to `buffer_hash_ids` like we successfully use for arg 9, but got the same crash at the exact same place). So I tried playing with how it's defined in the kernel, but that didn't help.

[2020-09-25 20:03] solardiz commented on #4366
I suspect next we'll have user confusion about `-format:raw-md4,raw-sha1,raw-md5` not working to actually crack hashes of those types simultaneously. We need to display a clear error message when that is attempted.

[2020-09-25 21:16] ghost commented on #4368
I have no idea. I found an old commit where I **can't** see an NVIDIA bug note that I swear exists.

Well, what you can do is play with:
[code]

[1] FTR:
 https://github.com/openwall/john/commit/82d066177c72a769197acba563b74da7dc55cc6d#diff-eaaf4debd3153877e0fae389a567d7f7

And https://github.com/openwall/john/pull/2221/files#diff-f895213015ee51fa9876c22e2a7003c4R53

[2020-09-25 22:03] ghost commented on #4330
Ok, I did that. But, I still need to remove `bcrypt`. Is there a clever way to disable bcrypt?

[2020-09-25 22:19] solardiz opened #4369 "New phpass formats' test vectors confuse test suite"
Claudio helped me realize that my recent hack to phpass formats' test vectors and `valid()` makes JtR exhibit inconsistent behavior externally, in a way that confuses our external test suite. We need to fix that.

https://github.com/openwall/john/commit/976ca28fe3e551f671e8c98353ce8a13482ee6ea#commitcomment-42736429

[2020-09-25 22:21] ghost commented on #4369
It can be confusing for real users (as I read it).

[2020-09-26 01:22] magnumripper commented on #4366
Good thinking, although I think we should only warn, not abort. Actually we do warn as-is:
[code]
At first I was surprised that pkzip hashes were loaded (while zip was listed first) but that's dictated by which of them is seen first in the input file!

I added checks for other things:
[code]
The last example not only singles out those three formats but also reverses the "natural" order of them.

[2020-09-26 04:22] magnumripper opened #4371 "Missing last CR in --list=formats with @ format-class"
`*` is a wildcard for the *format label* (eg. `office`)
`#` is a wildcard for the *format name* (eg. `2007/2010/2013`
`@` is a wildcard for the *algorithm name* (eg. `SHA1 256/256 AVX2 8x / SHA512 256/256 AVX2 4x AES`)

These are fine:
[code]
[code]
This isn't:
[code]
Last CR missing, can't understand why. Haven't looked into it yet at all though - probably as trivial bug as it ever gets.

[2020-09-26 04:44] magnumripper commented on #4371
It seems to only  happen when dynamic_n is the last format (it usually is)

[code]

[2020-09-26 12:28] solardiz commented on #4366
Here's a new idea: maybe we can extend this functionality to be able to exclude formats? For example, `--test --format=opencl,-krb5pa-md5-opencl` would let my all-OpenCL-formats test yesterday proceed beyond the segfault in `krb5pa-md5-opencl`.

[2020-09-26 13:10] magnumripper commented on #4366
That's a good idea. I've also considered supporting wildcard in lists but am not sure it's worth it.

Then
[code]
Would match any formats starting with `raw-` but not ending with `-opencl`.

Edit: Classes would also need support in lists, for the exclusion in your example (well or it could be written with wildcard but some other classes can't).

[2020-09-26 13:17] solardiz commented on #4366
@claudioandre-br was asking just recently how to disable the builtin bcrypt format, presumably for more than just `--test` (which can be done from `john.conf`). I wonder why, but I guess us supporting `--format=-bcrypt` would be a solution for him.

[2020-09-26 17:56] ghost commented on #4366
I need to disable the format, which is no longer possible. The reason is that bcrypt fails in TS.

[2020-09-26 19:24] solardiz commented on #4366
Why does it? Can that be fixed? Should we open an issue against TS?

And, would support for `--format=-bcrypt` help you?

[2020-09-26 20:11] magnumripper commented on #4366
The problem is that disabled formats are now shown in format list - and TS uses that list.

[2020-09-26 20:23] #4369 closed, assigned to solardiz

[2020-09-26 20:26] solardiz commented on #4369
I fixed this by a `strstr()` hack for now. Calling `valid()` would be another option, but would potentially affect other formats, so would require more testing.

[2020-09-26 20:29] solardiz commented on #4366
This doesn't explain why bcrypt fails in TS.

Anyway, would adding `--format=-bcrypt` help? Perhaps then the format wouldn't even be shown in format list?

[2020-09-27 19:38] solardiz commented on #4368
Thanks, Claudio. I easily came up with an adjustment to UNROLL_LOOP (dropped one bit from its value when on sm_2x) and pushed the fix. BTW, I find it really weird and inconvenient that you use decimal for those values. I used hex during my testing, then reverted that value to decimal for consistency - but I think you should convert them all to hex.

[2020-09-27 20:09] solardiz commented on #4368
I think we won't bother looking into geli-opencl (unless we also see it fail on current devices/drivers), nor fixing krb5pa-md5-opencl (I saw no obvious bug of ours). I had only opened this issue in case this would help us quickly uncover our bugs that are also relevant on current platforms, but this doesn't appear to be the case. Closing.

[2020-09-27 20:09] #4368 closed, assigned to nobody

[2020-09-27 21:09] ghost commented on #2543
I found this today. I have a question:
* how do we add a VM to Travis ou Circle? Travis on premises, Circle SELF-HOSTED?
* It is cheaper to buy a paid plan like Circle Performance and improve basic CI, using Windows itself.
* Or use "pay as you go" using other CI providers.

Can be done, but it is complicated and involves money. On the other hand, upstream committed code:
* CI runs `test=0` and `t

[2020-09-27 22:06] trounce1 commented on #4242
Just to note, i have written the V4 kernel over at hashcat https://github.com/hashcat/hashcat/pull/2561
The V3 kernel has also been written by someone else https://github.com/hashcat/hashcat/pull/2559

I have not had any experience writing JTR kernels before, but ill have a look into it

[2020-09-28 02:08] magnumripper commented on #4366
The TS "-internal" hack basically works like this (originally made for testing formats not specifically implemented in TS):
1. List format's test vectors, to a hash file and a wordlist (I think wordlist is mixed with other random words)
2. Try to crack the hash file using the wordlist
...and then IIRC...
3. Reverse the pot file hash:clear into another set of hashfile and wordlist
4. Try to crack t

[2020-09-28 04:53] magnumripper commented on #4371
I'm on to this as a side-effect of #4366

[2020-09-28 09:12] solardiz commented on #4366
There's no translation. We simply support all of these.

This is more likely relevant. Maybe TS should use `NoLoaderDupeCheck = Y` and the problem will go away? Claudio, can you see if this lets TS test bcrypt correctly?

[2020-09-28 12:33] solardiz commented on #2491
@CyberShadow We were never able to reproduce this issue, and we reworked the code since (md5crypt OpenCL kernel, changes in OpenCL memory allocation). Can you please try our latest from this repo and let us know how it works for you? Thanks!

[2020-09-28 13:08] solardiz opened #4375 "krb5pa-md5-opencl segfault"
The krb5pa-md5-opencl segfault first seen in #4368 is also reproducible e.g. on an AWS instance with all very different software versions and a very different NVIDIA GPU. Moreover, running a `john` binary from 2 months ago in there passes this test. Thus, this appear to be our own recent regression, which we need to look into and fix.

[code]

[2020-09-28 13:22] solardiz opened #4376 "LM-opencl benchmark causes the next benchmarked format to crash"
This reliably occurs when benchmarking all OpenCL formats, but does not occur when benchmarking just mscash-opencl.

[code]

[2020-09-28 13:29] solardiz commented on #4365
Also reproducible on AWS:

[code]

[code]

[2020-09-28 13:35] solardiz commented on #4376
`-stress-test` does _not_ trigger this one.

[code]

[code]

and so on.

[2020-09-28 13:39] solardiz commented on #4365
This also occurs with `john` binary from 2 months ago, so isn't a recent regression.

[2020-09-28 13:52] solardiz commented on #4376
To get this far despite of #4375, I had to use:

[code]

[2020-09-28 14:00] solardiz commented on #4281
I was wrong. There's this right after the SSE2 OpenMP build:

[code]

This line was easy to miss since it's between different builds, but having it in that place actually makes sense - to avoid having those binaries depend on a higher SIMD instruction set.

[2020-09-28 14:03] ghost commented on #4366
From:
[code]
To:
[code]

[2020-09-28 14:13] solardiz commented on #4375
This was also easily reproducible anywhere else I tested. I think this is our fix:

[code]

[2020-09-28 14:16] #4375 closed, assigned to nobody

[2020-09-28 14:25] solardiz commented on #4376
Further testing suggests that any(?) format benchmarked right after LM-opencl crashes. First it was mscash-opencl, after disabling that one it's mscash2-opencl, after disabling that one as well it's mysql-sha1-opencl. In all cases immediately following LM-opencl. I didn't yet try disabling mysql-sha1-opencl.

Edit: `-stress-test -format=mysql-sha1-opencl` works with no issues, which confirms my gu

[2020-09-28 14:30] anthraxx commented on #4281
Hey, appreciate you thinking about this loudly by dropping everything here. However, as you seem to tend to wards it being not worth to have a distro install target on top of the regular "local checkout runtime" I would like to provide a tiny different point of view. While it's obviously true that work is involved maintaining that additional official installation way, it also brings several advant

[2020-09-28 14:34] solardiz commented on #4376
Hmm, it's not that simple. Using magnum's format-list branch:

[code]

[code]

[2020-09-28 14:35] ghost commented on #4376
This is a nice use-case for `--test format=LIST`. I will test my formats using this. Ops, I'm slow.

[2020-09-28 14:36] solardiz commented on #4376
Rerunning the first command:

[code]

and now this is reproducible. I guess it depends on prior content of GPU memory, or something.

[2020-09-28 14:37] solardiz commented on #4376
I guess I may try disabling LM-opencl and re-enabling everything else, and see if that gets any/much farther.

[2020-09-28 15:20] ghost commented on #4376
I'm trying to get a crash (in super):

[code]

[2020-09-28 15:46] solardiz commented on #4376
With only LM-opencl disabled and #4375 fixed, I got "All 88 formats passed self-tests!" on the AWS instance, twice.

[2020-09-28 16:00] solardiz commented on #4376
Actually, I think that's a bug: there are only 87 "Benchmarking" lines in the output. So do we count even the disabled format, which wasn't benchmarked?

[code]

Edit: or maybe the 1 format difference is elsewhere, because running all OpenCL tests (nothing disabled) on GTX 570 I get this:

[code]

[2020-09-28 16:44] ghost commented on #4376
On super, `--dev=1` makes it reproducible.

[2020-09-28 17:08] solardiz commented on #4343
3 more of these, for a total of 7 unfixed as of now (with lotus5-opencl having been fixed), on the same GTX 570 (seemingly/hopefully not reproducible anywhere else):

[code]

[2020-09-28 17:15] solardiz commented on #4368
Here's a new one:

[code]

This is reproducible both in a multi-format test and when this format is tested/benchmarked individually. The `ca!=5e` is reproducible too, although occasionally it's different:

[code]

`--no-mask` doesn't help. `LWS=64 GWS=64` doesn't help either.

With this, we have 4 formats listed on this issue, 2 of which we've got to work on this device (sha256crypt-opencl and krb

[2020-09-28 17:24] solardiz commented on #4368
Dhiru's original geli-opencl works on this device. It broke somewhere with further commits.

[2020-09-28 17:54] magnumripper commented on #4368
That code didn't feature GPU-side post-processing with HMAC-SHA512 and AES. 743238ec made it 3x faster but possibly is what made it no longer work on GTX570.

We have variants of it though!

run/opencl/opencl_aes.h
[code]

Try adding something like this to run/opencl/geli_kernel.cl before it sources opencl_aes.h:
[code]

[2020-09-28 17:59] magnumripper commented on #4368
On a 2080ti using driver 450.66, bench speed drops from 2238K to 1732K using that option. But the important thing is it's completely different AES code, and just might suite card/driver better.

[2020-09-28 18:26] magnumripper commented on #4375
Curiously my debug macros happened to work around that bug while active. There are no easy-fixes-all 😆

[2020-09-28 20:06] magnumripper commented on #4343
FWIW you can run `--stress-test` with many/all formats. It will only loop once it has tested all "selected" formats.

[2020-09-28 20:10] magnumripper commented on #4376
I'm also seeing this, using 2080ti and what I believe is Ubuntu rolling (or devel) drivers. #4370 really changes this game.

[2020-09-28 21:35] Hudlommen commented on #4346
I think i was the OP. I guess the problem is, I dont know how to correctly get hashes from multiple files and use them. To be fair i am not that used to working with john. Is there some documentation about how to go about it?

[2020-09-29 00:18] ghost commented on #4376
This is a fix to me (and it makes sense). @magnumripper , please, what do you think?
[code]

[2020-09-29 08:53] magnumripper commented on #4376
That definitely makes sense

[2020-09-29 09:10] magnumripper commented on #4346
Not sure what you need but here are some examples.
[code]

Also, you can load several hashfiles to john at once, eg. `./john hashfile1.in hashfile2.in` (or using wildcard `./john hashfile*.in`) or you can concatenate many hash files into one, `cat hashfile*in >all_hashfiles.in` and load that one.

[2020-09-29 12:35] CyberShadow commented on #2491
Whoops, I no longer use NVIDIA GPUs, so I'm afraid I can't do that. Sorry!

There is probably nothing actionable about this issue considering the above, so let's close it.

[2020-09-29 12:35] #2491 closed

[2020-09-29 13:08] solardiz commented on #2491
Thanks @CyberShadow. FWIW, md5crypt-opencl always worked fine for us on a GTX TITAN (Kepler) just like yours. After the rework 1.5 years ago (shortly before the 1.9.0-jumbo-1 release), it even became much faster on that old device (twice faster than then-current hashcat), albeit of course not fast in absolute terms (Kepler is slow).

[2020-09-29 14:07] #4376 closed, assigned to nobody

[2020-09-29 14:16] solardiz opened #4380 "More "formats benchmarked" than "Benchmarking" lines"
[code]

Do we have an off-by-one bug, or am I missing something?

[2020-09-29 14:26] #4366 closed, assigned to nobody

[2020-09-29 14:26] #4371 closed, assigned to magnumripper

[2020-09-29 14:31] #4335 closed, assigned to nobody

[2020-09-29 14:40] solardiz commented on #4380
Here's the answer:

[code]

I'll close this issue, and we'll need to rework the bcrypt-opencl format to be consistent with others separately.

[2020-09-29 14:40] #4380 closed, assigned to nobody

[2020-09-29 14:52] solardiz commented on #4368
I'll probably try, but we wouldn't know whether the issue was specific to older SM or to older driver version, so we wouldn't know which of these to check to get this to work not only on one old system of ours, but also for users' older systems.

[2020-09-29 15:36] solardiz opened #4381 "LM-opencl benchmark much slower than actual cracking"
Default benchmark:

[code]

Different mask:

[code]

Also longer benchmark (didn't make a difference):

[code]

Actual cracking:

[code]

So even when comparing against 254 loaded hashes, we got much better speed than what the benchmark got with the same mask after running for the same time. (Somehow the speed was poor early on, and it kept growing. In fact, the average speed would be even higher

[2020-09-29 15:38] solardiz commented on #4381
OTOH, that different mask makes NT-opencl usually (but not always) auto-tune to unreasonably high GWS, which hurts a lot:

[code]

Maybe there's an auto-tuning shortcoming for us to fix there.

[2020-09-29 15:59] Hudlommen commented on #4346
I just tried the method. Grabbing the multiple hashes works fine, apart from the the wildcard method that just returns " unknown file".  But when i use john to then crack the password (i obviously know) it still doesn't find one.

[code]

[2020-09-29 16:14] ghost commented on #4346
I assume the file is not sensitive. Please share it with us.

[2020-09-29 16:28] ghost opened #4382 "ad hoc dynamic is not working"
Probably, after `--format=LIST`.
[code]

I can't compile myself now, but this is not a CI false positive; does not appear to be.

[2020-09-29 16:36] Hudlommen commented on #4346
Oh no not at all. Its just an 428 mb .mp3 file, i just didn't think it mattered. If you want it more specific, its from at interview test session we did to make sure our setup worked and sound was good ect.

[2020-09-29 17:33] magnumripper commented on #4382
Already fixed, just a minute!

[2020-09-29 17:50] magnumripper commented on #4330
After #4384 and recent commits to TS, you can do things like `./jtrts.pl -internal enabled` (the `enabled` will end up as `--format=enabled`). You can also skip disabling it in the config and instead `./jtrts.pl -internal -- -bcrypt`

[2020-09-29 17:56] ghost commented on #4330
I'll close the issue as soon as I test new code.

[2020-09-29 21:13] #4382 closed, assigned to nobody

[2020-09-30 12:06] #4330 closed, assigned to jfoug

[2020-09-30 12:41] madeonukraine opened #4387 "Telegram Desktop 2.1.14+ support"
Hello, I can't get a hash from the telegrams of the desktop version, please tell me how to do it correctly, described in more detail here

[2020-09-30 12:46] ghost commented on #4387
The GitHub issues are primarily to keep track of bugs or other shortcomings of our software, and fix those. It is not to help individual users with their specific tasks. To receive user support from the community, please use the john-users mailing list instead.

[2020-09-30 13:36] solardiz commented on #4387
@madeonukraine I checked out your referenced hashcat forum postings. First you reported what might be a problem with `telegram2john.py`, but you were using Python 2.7. Then you wrote "use python3 and have the same problem", but I expect it's not literally the same output from the script. So can you please post in here the actual output from your latest attempts at using the script with Python 3? T

[2020-09-30 13:37] magnumripper opened #4388 "bcrypt problem with $2a vs. $2b handling"
I opened https://github.com/openwall/john-tests/issues/88 and started to investigate. It's actually a format quirk, not a TS shortcoming, and I realized I've scratched my head over it before. I'm pretty sure it's reproducible with John Proper. Perhaps this problem is not likely to surface IRL though. Like I said, it's about `$2a` vs. `$2b` (I had a faint memory of looking into it long ago).

Here'

[2020-09-30 13:50] solardiz commented on #4388
This explains why `vec_11` isn't even loaded (except in single or batch mode or with dupe checking disabled), but it does not explain why `vec_3` is reported twice. That's a bug. Also, the final `14g` is a result of that bug (should be `13g`). I suspect those are jumbo bugs, not core. Can you reproduce any of this on core? I started experimenting, and so far I can't.

[2020-09-30 13:53] solardiz commented on #4388
I also guess the problem isn't specific to bcrypt, nor to its different prefixes. `vec_3` and `vec_11` have literally the same hash string, including the same prefix. I guess the bug is in some shared code, not format-specific.

[2020-09-30 13:55] magnumripper commented on #4388
OK but the vec3/vec11 is (I think) a separate problem. I'll try with John Proper now.

[2020-09-30 13:56] solardiz commented on #4388
OK, maybe two bugs here.

[2020-09-30 14:10] magnumripper commented on #4388
~This issue (the vec_2) is~ Both issues are present in John Proper as well. I'll open a new issue for vec3/vec11 ~which is, like you say, a Jumbo bug~.

[2020-09-30 14:14] solardiz commented on #4388
Confirmed. I'll look into that.

[2020-09-30 14:19] magnumripper opened #4390 "bcrypt: Problem with dupe hashes"
See #4388

This issue is about vec3/vec11 (identical entries) and not necessarily just with bcrypt.

John Proper: (**EDIT: this was a non-OMP build**)
[code]
Loaded 13, cracked 13. Only 12 of them ended up in the pot file but that is #4388 and irrelevant for this issue.

Jumbo:
[code]
Loaded 13, cracked 14(!) and the vec_3/vec_11 hash ended up twice in the pot file.

[2020-09-30 14:26] magnumripper commented on #4390
Doesn't happen with NT format. Perhaps I should try a salted one.

[2020-09-30 14:50] magnumripper commented on #4390
I can't even replicate the bug with bcrypt, using a few non-test vector words. Need to accomplish that first. I wonder what exactly is triggering this?!

[2020-09-30 14:57] magnumripper commented on #4390
This was present at least as long ago as Aug 2015, #1607! I was mislead by the vec2 issue and never noticed we differ from John Proper handling vec3/vec11.

[2020-09-30 15:52] madeonukraine commented on #4387
D:\Downloads\john-1.9.0-jumbo-1-win64\run>telegram2john.py "C:\Users\Communication\AppData\Roaming\Telegram Desktop"
Traceback (most recent call last):
  File "D:\Downloads\john-1.9.0-jumbo-1-win64\run\telegram2john.py", line 179, in <module>
    process_xml_file(sys.argv[j])
  File "D:\Downloads\john-1.9.0-jumbo-1-win64\run\telegram2john.py", line 142, in process_xml_file
    tree = ET.parse(file

[2020-09-30 16:04] solardiz commented on #4387
@madeonukraine Can you show us what files are inside your "Telegram Desktop" directory? What version of Telegram Desktop are you using?

The "Permission denied" error is a result of trying to process the directory as an XML file, which the script falls back to after its call to `process_tdfs_file()` on the directory fails. So apparently whatever is in that directory on your system is not recognize

[2020-09-30 17:20] magnumripper commented on #4390
Off-topic notes to self. Trying to build an old version of our code on macOS (during bisecting), for some reason OpenSSL isn't found with the usual
[code]
stuff, but
[code]
worked fine. But then `make` fail on everything because my OpenSSL is too new (they really went through hoops ensuring not to be backward compatible). Perhaps the configure problem is also a version thing, I can't remember.

[2020-09-30 17:24] claudioandre-br commented on #4390
I have to use in some circumstances:
[code]

[2020-09-30 17:25] magnumripper commented on #4390
I think what I need is Homebrew openssl@1.0 but it doesn't seem to be available.

[2020-09-30 17:30] ghost opened #4391 "Behavior changes after `--format=LIST`"
It used to be:

[code]
[code]
[code]
Now:
[code]
[code]

[code]

Was that on purpose?

[2020-09-30 18:46] magnumripper commented on #4391
Yes, like the docs say all composite classes are gone, they were very inconsistent. TS was updated (for now) with only using "dynamic" but ideally it should detect John version and use "dynamic-all" or "+dynamic,all" as appropriate.

[2020-09-30 18:47] magnumripper commented on #4391
Oh but your examples indicate a bug. `+dynamic,all` really should be 475 formats

WTF that exact thing was one I tested repeatedly yesterday to ensure it ended up right. Doh!

[2020-09-30 20:02] magnumripper commented on #4390
Here's an interesting data point: Using `OMP_NUM_THREADS=1` does not make the bug go away - but I have yet to see it happen with a non-OMP build!

On a side note, #4388 is not affected the same way, it still shows.

[2020-09-30 20:21] magnumripper commented on #4388
John proper doesn't even seem to have that second (`$2b$`) test vector for `U*U*U`. I tested it using the files generated from Jumbo's test vectors.

[2020-09-30 20:26] magnumripper commented on #4390
I confirmed that Jumbo's code, while moved around due to having `BF_common*` shared with OpenCL, is essentially pristine. So it's not a Jumbo-only bcrypt-only bug. Should be something with `cracker.c`.

But `cracker.c` has *no* OpenMP code, so the bug only showing with OpenMP is a strange fact.

[2020-09-30 20:56] magnumripper commented on #4390
Oh, and I realized I should re-test John proper, using OpenMP. This too **is** a bug in it!

[2020-09-30 21:06] magnumripper commented on #4390
I have yet to trigger the bug using anything else than the wordlist TS created (from test vectors + random garbage). Here it is:

[BF_hashes.txt](https://github.com/openwall/john/files/5315154/BF_hashes.txt)
[BF_TS_wordlist.txt](https://github.com/openwall/john/files/5315155/BF_TS_wordlist.txt)

[2020-10-01 09:08] madeonukraine commented on #4387
version 2.3.1
10/01/2020 12:03 PM <DIR>.
10/01/2020 12:03 <DIR> ..
07/27/2020 16:11 60 A44DFD4ADEDD1B82s
09/16/2020 08:56 <DIR> A7FDF864FBC10B77
09/16/2020 08:56 1 116 A7FDF864FBC10B77s
10/01/2020 12:03 <DIR> D877F783D5D3EF8C
11/22/2018 06:55 1 372 D877F783D5D3EF8C1
07/14/2020 01:28 PM <DIR> dumps
08/18/2020 10:44 10 748 E82C3665D6F18580s
07/14/2020 01:29 PM <DIR> emoji
09/30/2020 10:22 227 484 F9

[2020-10-01 17:00] Mi-Al opened #4392 "libreoffice2john does not work with LibreOffice 7.* documents"
### Steps to reproduce ###
Hello! I use the command to extract hash of ODF document:

`./libreoffice2john.py ./file.odt > odf.hash`

It returns the error:

Information:
**file.odt** – is Writer document, LibreOffice 7.*
**JtR** – is the last https://github.com/openwall/john/archive/bleeding-jumbo.zip version.

### System configuration ###
- `./john --list=build-info`.

- `./john --list=opencl-devi

[2020-10-01 18:04] solardiz commented on #4392
@Mi-Al Does the script work for you on older LibreOffice documents, or is the actual issue possibly that the script doesn't work at all on your system (e.g., with your installed Python version or modules)?

Can you please attach to here a non-security-sensitive sample file with a known password, which we can use for testing? Thanks!

[2020-10-01 19:39] #4361 closed, assigned to magnumripper

[2020-10-01 19:48] ghost commented on #4392
The script needs some love (unencrypt file).
[code]
[code]
Ok for 6.4
[code]
It fails on 7.
[code]

[2020-10-01 22:24] magnumripper commented on #4390
The segfault in #4389 is indeed just an effect of this bug: After the "14 guesses" out of 13 possible, quite consequently `db->password_count` is `-1` in the end of the run so using `ShowRemainOnStatus = Y` we enter code that assumes `db->salt_count` must be non-zero, which it's not. So division by zero.

[2020-10-01 23:17] magnumripper opened #4393 "bcrypt-opencl bugs"
bcrypt-opencl shares CPU-side code with bcrypt, so this issue should be looked into only after fixing #4388 and #4390. It really looks like it may be a single bug ending up in all these issues.

bcrypt-opencl show similar results as the CPU format, with the test-vector "./jtrts.pl -internal" tests:
[code]
Unlike the CPU format it cracks "12 of 13" hashes. It fails to crack `vec_4` and `vec_9`. And

[2020-10-02 04:27] Mi-Al commented on #4392
**@claudioandre-br**, thank you for confirmation!

Yes, it works fine, I tested with document created by “LibreOfficePortablePrevious_6.4.6”.

I uploaded the file to Google Drive, link: https://drive.google.com/file/d/1N1p3f9J2adV0m17DqiTY7a-REKBsL7VZ/view

Its password: 123456

[2020-10-03 20:34] ghost commented on #4365
mscash2 can't be run by `--stress-test`. The patch below fixes the segfault, but it continues to fail because OpenCL initialization is not done correctly. Or shared code is not able to handle the needs of mscash2, or it is not using it properly.

[code]

**magnum edit:** #4398 added the above

[2020-10-03 21:40] boohboot commented on #3647
Copy file "nvopencl64.dll" to system32 and alter c:\Windows\System32\nvopencl.dll to c:\Windows\System32\nvopencl64.dll in nvidia.icd save and retry, worked for me with gtx660

[2020-10-04 17:20] solardiz commented on #4365
Are we confident this issue only affects stress-test? If so, we can reasonably change the issue description to state that and move it to label "Potentially 1.9.0-jumbo-2 material".

I don't mind getting this in for now. Please feel free to send a PR. Thanks!

[2020-10-04 17:27] solardiz commented on #4387
@madeonukraine Can you show what's inside the "tdata" directory?

BTW, please don't quote your translated versions of my questions. (Edit: I've just removed that from your comments.)

[2020-10-04 17:44] solardiz commented on #4392
FWIW, at least on this system with Python 3.3, the script actually fails differently than what we see in previous comments here, and in the same way for both old and new LibreOffice files:

[code]

So I guess it also depends on a somewhat recent Python 3 version.

[2020-10-04 17:50] solardiz commented on #4392
Installed Python 3.6, still no luck even with the old LibreOffice version:

[code]

[2020-10-04 18:02] solardiz commented on #4392
(Sorry for posting two weird comments in here, now deleted - that's what I get looking into two unrelated yet similar issues at once.)

I confirm the script works and fails exactly as described in prior comments. Looking into it failing for the LibreOffice 7 sample, I see the immediate issue is it never finds a salt. Specifically this code:

[code]

never reaches the `salt = data` line when run on

[2020-10-04 18:13] #4391 closed, assigned to magnumripper

[2020-10-04 18:28] solardiz commented on #4392
This makes it work on the LibreOffice 7 sample, as well as on the older one:

[code]

The issue is that the script makes assumptions. It first converts the tree to a list, then goes over the list and expects to find everything it needs in 3 list elements that follow "content.xml" (and were actually at a nested level for that file before the conversion to list). LibreOffice 7 seems to have changed

[2020-10-04 18:39] solardiz commented on #4392
If I understand correctly, by not parsing "start-key-generation" both the script and our ODF format assume that the hash function used for checksum is also the one used in PBKDF2 (both are either SHA-1 or SHA-256), but the fields appear to allow for these to be different (hopefully, is never the case in practice). Maybe we need to harden the script to confirm that these are indeed the same.

[2020-10-04 18:40] ghost commented on #4365
I'm not aware of (other) use cases that restart the execution environment like this:
[code]

[2020-10-04 19:33] ghost commented on #4295
FWIW, this is fixed. One (perhaps some) format(s) have its own open issue.

[2020-10-04 19:33] ghost commented on #4313
FWIW, this is fixed.

[2020-10-04 19:51] #4295 closed, assigned to nobody

[2020-10-04 19:53] solardiz commented on #4313
How/where is this fixed? It looked to me like a general issue with interactions between our shared and format-specific OpenCL code, and hard to fix. I am unaware of us having fixed it.

[2020-10-04 19:59] ghost commented on #4313
I tested this a couple of minutes ago (using what I know about the issue).

[2020-10-04 20:03] solardiz commented on #4313
I'll retest, but even if this specific test case somehow magically works I really don't think we should consider this fixed. It's a tricky issue likely affecting many/all formats.

[2020-10-04 20:18] ghost commented on #4343
I run a stress test using well's Juniper GPU.
- `--format=pgpdisk-opencl,pgpsda-opencl,ZIP-opencl`

One format (at least) is not set for weak GPUs.

BTW: there is a `john` zombi process there right now. I can't kill it, but the machine is still ok.

[2020-10-04 20:40] magnumripper commented on #4365
Me neither. It's easy to think Sayantan was sloppy, but he wasn't - at the time it wasn't ever an issue and I'm not sure we even had any `done()` in the format interface. We fired up a format and used it, then exited. It took a while until we even saw the problem with a no-format --test.

[2020-10-04 21:00] wsandin opened #4399 "Prefix wordlist related parameters with --wordlist"
From @magnumripper in PR #4394
[code]

This also goes for `--dupe-suppression` and `--loopback`

[2020-10-04 21:28] magnumripper commented on #4399
In case you take a stab at this, here's some current code handling previously deprectated options:

options.c line 106
[code]

options.c line 243
[code]

recovery.c line 266
[code]

Ideally the comments above should have mentioned WHEN options got deprecated so we can know (without digging into git) when to drop support for the old ones. Alas, they don't. Anyway I've had the idea that "the next ti

[2020-10-05 08:20] #4392 closed, assigned to nobody

[2020-10-06 14:44] solardiz commented on #4313
Hmm, my old test case actually doesn't crash anymore, in the same kind of devtoolset-3 `--enable-asan` build as before:

[code]

Previously, it'd crash right after the `Calculating best LWS for GWS=32` line, as seen in a comment above.

I'll re-add the debugging printf's to try and see what changed.

[2020-10-06 15:03] solardiz commented on #4313
Somehow it chose 64 this time. I also forgot to add a printf into `create_clobj`, will add and re-run. Anyway, no abnormal values seen from `crypt_all`:

[code]

[2020-10-06 16:51] solardiz commented on #4313
I no longer see anything abnormal. Looks like we did in fact somehow fix this perhaps while working on the memory leaks.

[code]

[2020-10-06 16:51] #4313 closed, assigned to nobody

[2020-10-06 17:08] magnumripper commented on #4367
After digging into it I think it was actually fine at/after 6ba42b3, things have moved around since. Not sure where bugs were introduced but never mind.

PR inbound. The problem now was that `ext_init()` relies on `options.eff_maxlength` having been set - but it wasn't yet. Also, for `--stdout=N` the second call to `ext_init()` for updating lengths was never made at all. While at it I fixed a mino

[2020-10-06 17:09] solardiz commented on #4313
Reverting commit ff7893318daaff0ac6b4c5f083bb5766105b1dea makes the issue reappear:

[code]

So I assume that commit fixed it somehow. Thanks, Claudio!

[2020-10-07 13:33] madeonukraine commented on #4387
@solardiz can help how do it?

[2020-10-07 13:45] solardiz commented on #4387
@madeonukraine `dir tdata`

[2020-10-07 14:35] madeonukraine commented on #4387
@solardiz but have error

D:\Desktop\Alina>telegram2john.py D:\Desktop\Alina\tdata
Traceback (most recent call last):
  File "D:\Desktop\Alina\telegram2john.py", line 179, in <module>
    process_xml_file(sys.argv[j])
  File "D:\Desktop\Alina\telegram2john.py", line 142, in process_xml_file
    tree = ET.parse(filename)
  File "C:\Users\Communication\AppData\Local\Programs\Python\Python38-32\lib\x

[2020-10-07 16:53] kholia commented on #4333
https://github.com/openwall/john/issues/847 might be of help.

It has a program to tackle such new format keys.

[2020-10-08 08:54] magnumripper commented on #4363
Some dicussions in #4401 about functions that keep track. This is cool: so a format can do things like:
[code]
and later free all of them with a single
[code]

Taking this a step further we can do the same with kernels. So we have
[code]
This is not just for being able to release all of them using `opencl_release_kernels()`, a greater win is this function:
[code]
We haven't been able to move this

[2020-10-08 09:02] magnumripper commented on #4363
Another thought: Instead of `buf = opencl_create_buf(flags, size)` we could have it as `opencl_create_buf(&buf, flags, size)`. This makes it easier to optionally verify it was NULL before the alloc and we can keep track of `buf` in our list so upon calling `opencl_release_buffers()` we'd set it to NULL even though it wasn't given as an argument.

Same goes for kernels, instead of `prepare_kernel =

[2020-10-09 00:48] ghost commented on #4363
Thanks for your feedback. I will make experiments.

[2020-10-09 10:19] bukastillo opened #4402 "Add support for cracking SJCL"
This using in BitGo encrypted keys too.

I saw same things in `padlock` but this is not usable for `only sjcl`.

I mean, please implement that standalone or show the way, how to convert sjcl to acceptable and exists algo. in John

[2020-10-09 16:14] magnumripper opened #4403 "Keyboard input for status/quit vs. stdin or subshell"
Three ways of using `--stdin` (or `--pipe`):

### 1. stdin is our terminal:
[code]
The above works as expected: Obviously the status/quit keys does not work and the message reflects that.

### 2. stdin is a file or fifo:
[code]
Above, the status/quit keys **do** work, so the message is... well it's correct but it should ideally be "Press 'q' or Ctrl-C to abort, almost any other key for status".

#

[2020-10-09 16:42] AlekseyCherepanov commented on #4403
For a script, `#!/bin/sh -i` may be used, then the status would work but shell would print a prompt in the end. Prompt may be disabled with `export PS1=` in the script. I am not sure about other side effects of `-i` option.

If john is the last command in a script then `exec` may be used. It makes status to work too.

(Minor unrelated note: usually magical `"$@"` (with double quotes) should be use

[2020-10-09 17:33] solardiz commented on #4402
This is too brief and a bit confusing on its own, but luckily @bukastillo also started related discussion in https://github.com/hashcat/hashcat/issues/2570 - we should check it out.

[2020-10-09 17:40] AlekseyCherepanov commented on #4403
Oops, while `export PS1=` disables last prompt, prompts before it are shown.

[2020-10-09 18:47] magnumripper commented on #4403
Good input! This opens up for workarounds in some situations, but ideally we'd fix/improve things in Jumbo, if possible.

I believe some differences in actual situation vs. the "Press (...)" message might be due to this inconsistency:

tty.c
[code]

cracker.c (simplified)
[code]
Maybe the latter code (which btw is Jumbo-specific - John proper doesn't even try to put it right) should use `tcgetattr

[2020-10-09 22:36] AlekseyCherepanov commented on #4403
Inconvenience was reported in issue #3766. So I'll repeat here some stuff sent over mail earlier.

In bash, it is possible to make a pipe avoiding `|` that disables access to terminal. So status works with such command:
[code]

In other shell, a named fifo might be used in the same manner.

Also it is possible to dispatch john in background and run a loop to send signals to john. But I don't know

[2020-10-09 23:35] AlekseyCherepanov commented on #4403
Idea: ssh opens `/dev/tty` to read password from user even if input is from pipe. But it may interfere with input for program that is piped into ssh.

Example where ssh's password reader steals part of input:
[code]

(Regular open() function uses openat syscall; that's with glibc 2.28.)

[2020-10-10 19:26] ghost commented on #4363
Since buffers can have different lifetimes, I need two functions, one of them will **not** keep track. Using the same API breaks the format. Well, I can:

[code]

Please, let me know if you have a preference.

**[edited]**

In fact, auto tune is to blame. Autotune will call `release_buf()` to release all tracked buffers. Then, it will call `create_clobj()` which will just create buffers related to

[2020-10-10 19:30] ghost commented on #4363
For example, mask does not depend on GWS. Therefore, the creation of mask buffers does not follow, for example, the creation of key buffers. I can't release both at the same time during regular run.

[2020-10-11 01:20] ghost commented on #4403
I just noticed that john's output changes if I use pipe in the command below:
[code]

[2020-10-11 10:39] philsmd commented on #4387
Since it seems we do not get much info from the user very quickly, I just decided to troubleshoot this myself a little bit (remember that the question was first asked in the hashcat forum and I kind of tought that the user has enough info and is convinced that it's a hash extraction problem with `telegram2john`, maybe I was wrong about the user info at least ... because there is little info about

[2020-10-11 19:16] magnumripper commented on #4403
Apparently `--stdout` does not emit a message ~unless~ when stdout is a terminal (we don't want to clutter the output). ~We could opt to emit one to stderr though.~ (we always do *when* we print it)

[2020-10-11 19:24] magnumripper commented on #4403
Our 'doc' directory is over-populated but maybe we should have a file called eg. TRICKS where some of those bash tricks would fit (together with other things like fifo magic - and its caveats).

[2020-10-11 20:18] magnumripper commented on #4363
We can definitely have a set of "normal" create/release that does not keep track, and another set that does. I'd rather call the latter `opencl_(create|release)_buf_tracked` than `opencl_(create|release)_buf_list`.

Another option though, could be to *supply* the list so we can have different domains (eg. gws-bound or not), eg.
[code]
The two lists `fixed_bufs` and `gws_bufs` could be shared from

[2020-10-12 08:02] #4367 closed, assigned to magnumripper

[2020-10-12 11:52] solardiz commented on #4387
Thanks @philsmd. Somehow @madeonukraine deleted some of their comments. One of the comments contained this:

[code]

[2020-10-13 01:08] ghost commented on #4295
Yes.

[2020-10-13 07:34] madeonukraine commented on #4387
""""I've also deleted the tdata folder and on new launch a new key_datas file was generated, with different content (different salt and different encryptedKey, was my assumption).> """

it finds the hash successfully, but does not pick up the password, for the test I set the password to 123, but john or hashcat cannot find it by this hash

[2020-10-13 08:36] magnumripper commented on #4387
That's because the algorithm changed.

We need to implement these changes.

[2020-10-13 08:38] magnumripper commented on #4387
@madeonukraine if you can supply that hash you got as a test vector for us, it would help!

[2020-10-13 08:41] philsmd commented on #4387
Thanks @solardiz for this file list.

For me it's not clear if this directory/file listing is recursive (i.e. including subdirs. I don't think so, there would probably be more files then). I just double-checked and my `key_datas` file is within the `tdata` directory (no such file outside `tdata`).

If this file listing is (only) the content of the `tdata` directory as you (@solardiz) have requeste

[2020-10-13 08:48] philsmd commented on #4387
@madeonukraine please share the hash that you got. It isn't sensitive information as far as we know. and could help a lot to confirm the 100000 iterations and algorithm details...

It's also good that you already set a non-zero password, i.e. `123`. It would be great if you post the hash here. Thx

[2020-10-13 09:08] madeonukraine commented on #4387
@philsmd
[code]

Edit by @solardiz: added backticks around the hash so that it isn't mangled by GitHub's text formatting.

[2020-10-13 13:48] solardiz commented on #4387
That request of mine is obviously irrelevant, because that listing I reposted was in a comment @madeonukraine had posted before my request for the `tdata` directory contents. It was posted in response to this request I made:

[code]

And yes, that listing looks puzzling. Even the dates format is somehow inconsistent on different entries, so maybe @madeonukraine combined that listing from several p

[2020-10-13 15:08] solardiz commented on #4295
Will you take care of this, @claudioandre-br? If we don't fix this right away, then perhaps we should create an issue for it, or we'd forget again.

[2020-10-14 08:32] magnumripper commented on #3511
Some test cases:
- Input has a word longer than width (disable wrapping for it, set `col = 0` appropriately for next line).
- Indentation wider than width (disable indentation, or decrease it to 1).
- Lines containing some or lots of multi-byte UTF-8. Lorem Ipsum transliterated to Greek is `Λορεμ ιπσθμ δολορ σιτ αμετ, πλατονεμ vολθπτατιβθσ ιν σιτ, εθ ερατ ιντερπρεταρισ μεα. Vιξ φεθγιατ δεσερθντ ελ

[2020-10-14 15:34] magnumripper commented on #3511
#4406 adds this:
- We can test `options.terminal_enc` for eg. being `UTF_8` or not.
- An added best-effort `strlen_any()` will count number of characters, not bytes (in particular, our messages may include file paths encoded in UTF-8 or not). This function can be safely used even when you're not sure input is UTF-8 or some legacy encoding, or a mix...

[2020-10-14 20:16] SomeoneSerge commented on #847
@kholia they must've changed the format again; I tested your `filter` with one of my older keys and it worked, but not with a new one

Also, thanks

[2020-10-15 08:01] madeonukraine commented on #4387
Telegram version 2.4.3 .  @magnumripper philsmd can take zip file in private messages my test telegram where i take this hash

[2020-10-15 17:15] magnumripper commented on #4403
Our `tty_init()` tries to open `/dev/tty` with `O_NONBLOCK`, maybe that's about the same. However, in example 3 it gives up because `tcgetpgrp(fd) != getpid()`.

Here's what's happening in the three cases.
1. `tty_init()` correctly gives up since stdin is the terminal, `cracker.c` prints the correct message.
2. `tty_init()` sets everything up for reading keys, but `cracker.c` considers that stdin

[2020-10-15 17:57] magnumripper commented on #4403
From limited testing of `../run/john -stdout -mask:?a -len=8 | ../run/john -ses:2 hashfile -stdin` (on macOS) with the `tcgetpgrp(fd)` test disabled:
- The first process in the chain get nearly all keystrokes, but the second one get some (at least if I hold a key down - and I think when it happens, the first one didn't see that one same).
- After such session, my terminal have needed a reset ~ever

[2020-10-15 17:59] magnumripper commented on #4403
At this point I'm considering some expert option like `--force-keys`, for disabling that test on a case by case basis. But is there a nicer way of doing it?

[2020-10-15 18:43] magnumripper commented on #4403
I think I get it: First process saves initial state of terminal and then sets up terminal for reading keystrokes. Then (I assume always after the former) the second process does the same. But the saved state for session 2 is the state **after** first process messed with it.

At exit, if process 2 ends last, we'll end up with a messed-up terminal. This may not be a trivial thing to fix. *Edit: Yes

[2020-10-15 23:23] magnumripper opened #4407 "--salts=N option"
Ref: https://www.openwall.com/lists/john-users/2020/10/15/2

I've always wanted the `--salts=[-]COUNT[:MAX]` option to be "load the `COUNT[:MAX]` most duped salts" (with counts being before looking at pot file(s)) as opposed to "load only salts with `COUNT[:MAX]` dupes". I think I know how to implement it so the question is: Could I possibly change that option's behavior, or should I add a brand n

[2020-10-16 08:31] philsmd commented on #4387
We probably should change the title of this issue to make it clear that already version 2.1.14 introduced this change.

Your example hash cracks for me with your pass/iter/salt/data configuration:
[code]

Full updated script (only example added):

<details>
  <summary>telegram_desktop_modern_example123.pl</summary>

[code]

</details>

Now we could think about what we should do with empty password

[2020-10-16 12:01] solardiz commented on #4407
I think we shouldn't break backwards compatibility, at least not in a way that doesn't produce even a warning. I think we might arrive at a way of _extending_ rather than changing the option's behavior, or split the option in two - one for the historical behavior and the other for the new behavior you propose - especially as I think both are useful.

[2020-10-16 14:17] madeonukraine commented on #4387
1 - have key_datas file on C:\1\2\tdata\key_datas
2 - have C:\1\2\tdata\D877F783D5D3EF8C\maps    map* files (map0, map1, maps, map)
3 - download last version Telegram Portable from official site
4 - its new test account
5 - yes i have another account but in test not have

DIR
15.10.2020  11:02    <DIR>          .
15.10.2020  11:02    <DIR>          ..
08.10.2020  16:53               108 64A4D2E7B9

[2020-10-16 14:35] magnumripper commented on #3766
After #4403 is resolved (I have a PR pending but will wait until after #4394 is merged) much of this will be improved: We will always print the correct message if we can in fact read the keyboard, and we get a `--force-keys` option that lets us read/use keyboard even when we're not the foreground process (eg. we're piped to).

[2020-10-16 14:50] magnumripper opened #4408 "Add some less brief tips'n'tricks to eg. doc/TRICKS"
https://github.com/openwall/john/issues/4403#issuecomment-706755482

This file would be for tips'n'tricks regarding actual *use* of Jumbo, as opposed to building it etc.

Candidates for this doc file (please fill in! Just amend this post if you've got the privileges):

- [ ] Using FIFOs: Pros, cons, caveats.
- [ ] Piping `john -stdout | john -stdin`. Why, when?
- [ ] Advanced use of `--format` opt

[2020-10-16 23:07] AlekseyCherepanov commented on #4403
Some wild fantasies...

`john --stdout ... | john --stdin ...` is an example where left hand side of pipe reads input too. There might be some other interactive generator. I thought that it would be a strange scenario, but generator may use interactivity for status like john.

So for 2/multiple johns, it might be cool to choose one that reads tty and sends signals to other johns on this tty, so on

[2020-10-17 19:27] sergava commented on #4387
I have the same issue. Telegram version 2.4.3. Folder structure is default and has no anomalies.
Using command "python telegram2john.py D:\Telegram Desktop" gives me this error:

Traceback (most recent call last):
  File "telegram2john.py", line 179, in <module>
    process_xml_file(sys.argv[j])
  File "telegram2john.py", line 142, in process_xml_file
    tree = ET.parse(filename)
  File "C:\Users

[2020-10-19 08:54] solardiz commented on #4402
In the hashcat issue, @bukastillo offered to "create a bounty or donation for this." @bukastillo Please feel free to do that. You can e-mail me at "solar at openwall.com". Without incentive, I think this issue would just hang unhandled - as you can see, we deliberately didn't assign it to any milestone, and issues that were not handled right away and are not part of a milestone tend to remain unha

[2020-10-20 15:54] philsmd commented on #4387
@madeonukraine What happens if you run `telegram2john` with your `C:\1\2\tdata\D877F783D5D3EF8C\maps` file ? Does it produce a "hash" or does it not work with that file ?
My guess is that we need to stick to the `key_*` files (which most likely replace the old `map0`/`map1` files and this new `maps` is very different), but again we need to confirm this first if there are some alternative files tha

[2020-10-21 13:24] madeonukraine commented on #4387
@philsmd What happens if you run telegram2john with your C:\1\2\tdata\D877F783D5D3EF8C\maps file ? Does it produce a "hash" or does it not work with that file ?

No have hash, have error

One additional disadvantage that came to my mind is that some users (but probably very few) already are used to specify a folder
+

[2020-10-22 10:11] AlekseyCherepanov opened #4411 "Add support for password-protected virtual machines from VMware, Parallels, VirtualBox"
@thorsheim brought the following on [twitter](https://twitter.com/thorsheim/status/1318497419806625794):

https://blog.elcomsoft.com/2020/10/breaking-encrypted-virtual-machines-recovering-vmware-parallels-and-virtualbox-passwords/

[2020-10-22 19:17] magnumripper commented on #4111
I'm currently doing stuff within this context, will look at what's mentioned here as well.

Whatever stuff we add should probably be covered by #4408 as well (along with the normal brief OPTIONS description).

[2020-10-22 19:33] ghost opened #4412 "brew install john-jumbo doesn't work"
I runned brew install john-jumbo and this happens

**Error: Failure while executing; `cp -pR /var/folders/_2/yjdt005107v9ng154y7bdqtw0000gq/T/d20201022-28208-1kkr4f0/john-jumbo/. /usr/local/Cellar/john-jumbo` exited with 1. Here's the output:
cp: /var/folders/_2/yjdt005107v9ng154y7bdqtw0000gq/T/d20201022-28208-1kkr4f0/john-jumbo/./1.9.0/share/john/john: Permission denied**

then after:

**Warning:

[2020-10-22 20:21] magnumripper commented on #4412
It looks to me you have a basic problem with Homebrew in general. Try something like `brew doctor` to start with.

If that doesn't give you any clues: From the little I see here I would expect it to be a bug in Homebrew and that means you should report this to Homebrew instead of us.

Please report back.

[2020-10-23 09:52] ghost commented on #4412
So I ran brew doctor and I had a bunch of alerts, I fixed them all and now it says "Your system is ready to brew". I ran brew install john-jumbo and it comes up with the same alerts. Still, thank you for you're help.

[2020-10-23 15:26] philsmd commented on #4387
I've now decided to try to modify `telegram2john.py` myself (even through unfortunately I didn't get much feedback above about changes / design decisions we want to have/implement).

[The new telegram2john.py script](https://raw.githubusercontent.com/philsmd/JohnTheRipper/bleeding-jumbo/run/telegram2john.py) *
[The changes/diff](https://github.com/philsmd/JohnTheRipper/commit/d96b876237f9f9e47ebbc

[2020-10-23 16:12] zloishax opened #4413 "telegram2john.py does not work"
Hey guys, I can not restore my telegram. it has a virtual number.
https://github.com/openwall/john/blob/bleeding-jumbo/run/telegram2john.py i tried it through it fails gives an error

[code]

[2020-10-25 13:35] magnumripper commented on #4387
Sorry for the lack of feedback. I reviewed your script now and it looks excellent but unfortunately I can't test it at all. Please submit a PR, IMHO we should merge it even if not yet supporting the new format - and I can probably whip up a format this week.

[2020-10-25 15:35] solardiz commented on #4413
@zloishax What version of Telegram are you running the script against? This is probably a duplicate of #4387.

[2020-10-25 15:37] zloishax commented on #4413
With the latest version, Yes, this is a duplicate, I have 2 telegrams on my computer

[2020-10-25 15:48] solardiz commented on #4413
Thanks @zloishax. I'll close this issue now. You might want to help @philsmd and @magnumripper on #4387 by testing their work-in-progress on getting newer Telegram supported (so far just the revised extraction script, later also support in `john` itself).

[2020-10-25 15:48] #4413 closed, assigned to nobody

[2020-10-25 15:54] zloishax commented on #4387
Did you find a way?

[2020-10-25 15:56] solardiz commented on #4412
@hash-glitch This is an issue specific to either the Homebrew packaging of JtR or to your system. Either way, we can't do anything about it - we're upstream developers of JtR not involved in its Homebrew packaging - so I'll close the issue now. That said, it is useful for us to know whether there's a problem with the packaging, so if you do contact Homebrew about this or otherwise figure it out, p

[2020-10-25 15:56] #4412 closed, assigned to nobody

[2020-10-25 16:08] solardiz commented on #4387
@zloishax Given the current state of this issue, it isn't helping for users to be asking one another for help here (especially given that this isn't a user support forum, and our focus is thus not user support but rather improving the software). Luckily for you and for others who reported the issue here, @philsmd already investigated it enough that you can proceed to help _us_ test things, which s

[2020-10-25 16:09] ghost opened #4415 "openssl-enc: Support recent OpenSSL's encrypted files, or at least refuse to work on them"
Well, # 4414 shows us that a commit with untested code was merged. So, I:

[code]
And I noticed that in addition to dozens of false positives per second, the correct password was not found.

[code]

[2020-10-25 16:24] solardiz commented on #4415
That was 4ef1ef28f91034cebce396f81456c540f00355ab, which modified many 2john tools at once. We need to (re)review this commit now. Edit: see also #4200.

[2020-10-25 16:27] zloishax commented on #4387
@philsmd

**does not work**

[code]

[code]
Telegram Desktop Version 2.4.4

[2020-10-26 10:42] philsmd commented on #4387
Thank you @zloishax for testing,

the problem is that this is not how you evaluate if a script works. For **every** python script you need to install the dependencies first: `ModuleNotFoundError` always means that you just didn't install the required **python modules** correctly.

This is a guide how you would install python modules:
https://docs.python.org/3/installing/index.html#basic-usage

So

[2020-10-26 13:45] ghost commented on #4413
@zloishax, could you please test JtR recent changes at https://raw.githubusercontent.com/openwall/john/8f923a4d943933508a58fa1f1fec04c5e42f1b24/run/telegram2john.py?

[2020-10-26 15:28] zloishax commented on #4413
I have such an error, pycrypto is not installed, because I have python version 3.8 64bit to install pycrypto need python no more than 2.7

Solve the problem please. Thanks

[2020-10-26 16:48] ghost commented on #4413
I agree that installing pycrypto is an adventure, but it works. Feel free to open a request asking to upgrade from `pycrypto` to `something better`.
![image](https://user-images.githubusercontent.com/1702923/97201960-c6ec3e00-1791-11eb-99b7-cecd4a010587.png)

[2020-10-26 21:07] solardiz commented on #4387
@philsmd I greatly appreciate your work on this, and I'm sorry I didn't comment for real sooner (I'm not focused on JtR this month).

It's fine that we got the PR merged as-is, but FWIW I feel the empty password check isn't worth the extra dependency. Maybe we can make it a soft dependency, printing the warning/instructions and skipping the empty password check but proceeding to output the hash if

[2020-10-27 04:42] zloishax commented on #4413
Okay, I'll uninstall python, reinstall it, and install the pycrypto module, I'll tell you what will happen soon.  thanks

[2020-10-27 05:37] zloishax commented on #4387
`"C:\Users\ALT AIR TRAVEL\Desktop\telegram2john.py" "C:\Users\ALT AIR TRAVEL\AppData\Roaming\telegram"
Traceback (most recent call last):
  File "C:\Users\ALT AIR TRAVEL\Desktop\telegram2john.py", line 179, in <module>
    process_xml_file(sys.argv[j])
  File "C:\Users\ALT AIR TRAVEL\Desktop\telegram2john.py", line 142, in process_xml_file
    tree = ET.parse(filename)
  File "C:\Users\ALT AIR TRA

[2020-10-27 05:39] zloishax commented on #4413
`"C:\Users\ALT AIR TRAVEL\Desktop\telegram2john.py" "C:\Users\ALT AIR TRAVEL\AppData\Roaming\telegram"
Traceback (most recent call last):
  File "C:\Users\ALT AIR TRAVEL\Desktop\telegram2john.py", line 179, in <module>
    process_xml_file(sys.argv[j])
  File "C:\Users\ALT AIR TRAVEL\Desktop\telegram2john.py", line 142, in process_xml_file
    tree = ET.parse(filename)
  File "C:\Users\ALT AIR TRA

[2020-10-27 05:58] cchristion commented on #2388
I used npdf2john, but still getting the same string

Pdf2john
pdf:$pdf$2*3*128*-1852*1*16*617fb7c2e2dfe7a1a728a24559b97f2d*32*bfe39e32595b91601aad564d2c5897c800000000000000000000000000000000*32*2e24196b68073e33e6f36768f8e03d39923cc66b9cfa32b9768f87798eb19722

npdf2john
pdf:$pdf$2*3*128*-1852*1*16*617fb7c2e2dfe7a1a728a24559b97f2d*32*bfe39e32595b91601aad564d2c5897c800000000000000000000000000000000*3

[2020-10-27 08:15] magnumripper commented on #2388
@clarychristionc hi-jacking an ancient (and closed) issue for unrelated problems is not great. The tool is called `pdf2john.pl` since January 2017. I assume you're not using the latest version? Try that for a starter.

Anyway it will probably output the same hash - and john will be able to crack it. I just tried loading the string(s) you posted and it loaded just fine. Not to mention it cracked in

[2020-10-27 08:21] cchristion opened #4417 "pdf2john.pl produces a weird hash"
I used npdf2john, but still getting the same string

Pdf2john
`pdf:$pdf$23128*-1852116617fb7c2e2dfe7a1a728a24559b97f2d32bfe39e32595b91601aad564d2c5897c80000000000000000000000000000000032*2e24196b68073e33e6f36768f8e03d39923cc66b9cfa32b9768f87798eb19722`

npdf2john
`pdf:$pdf$23128*-1852116617fb7c2e2dfe7a1a728a24559b97f2d32bfe39e32595b91601aad564d2c5897c80000000000000000000000000000000032*2e24196b680

[2020-10-27 08:42] magnumripper commented on #4417
As explained in #4203 your PDF might be read-only with a password (or IIRC it can be protected from printing, or something else), and we can crack that password.

[2020-10-27 09:37] clarychristionc commented on #4417
It's password protected.
I tried opening it but it shows

![Uploading Screenshot_2020-10-27-15-06-51-00_e2d5b3f32b79de1d45acd1fad96fbb0f.jpg…]()

[2020-10-27 09:38] clarychristionc commented on #4417
I tried opening it, it shows like this
![Screenshot_2020-10-27-15-06-51-00_e2d5b3f32b79de1d45acd1fad96fbb0f](https://user-images.githubusercontent.com/47944263/97283770-451a1480-1866-11eb-95c9-73cc526709af.jpg)

[2020-10-27 09:40] clarychristionc commented on #4417
I tried opening it but it's asking for password
![Screenshot_2020-10-27-15-09-12-73_e2d5b3f32b79de1d45acd1fad96fbb0f](https://user-images.githubusercontent.com/47944263/97283965-78f53a00-1866-11eb-8fc5-109920c7d9cf.jpg)

[2020-10-27 09:49] cchristion commented on #4417
How ?

[2020-10-27 10:26] ghost commented on #4417
The GitHub issues are primarily to keep track of bugs or other shortcomings of our software, and fix those.
- if you need support as an end-user, ask for help on the mailing list john-users at lists.openwall.com (but first see the archives at http://www.openwall.com/lists/john-users/ and make sure you set a descriptive message Subject when you post).

BTW:
[code]

[2020-10-27 10:26] #4417 closed, assigned to nobody

[2020-10-27 11:33] cchristion commented on #4417
Did you reformat the hash in anyway  ?

[2020-10-27 11:58] magnumripper commented on #4417
No, we merely used the latest version of John - you should too.

[2020-10-27 12:08] magnumripper commented on #4387
If we do so, we must output an iteration count of (eg.) 100,000 which isn't correct for that "hash". That puts the format in limbo. I think we should just keep the dependency.

Admittedly this algo is so slow the extra checks wont matter. Still, I really don't like it.

Also, what if a user explicitly *sets* an empty password (as opposed to not setting any password at all). Is that even allowed? D

[2020-10-27 13:50] solardiz commented on #4387
Technically not correct, but our code in `john` can know that when it's testing empty password that iteration count doesn't apply.

OK, I don't mind.

The "extra checks" wouldn't be per-candidate. Rather, we can check on loading in `valid` and output a message, or/and we can simply process empty candidate passwords differently (then in terms of user experience it'll work like with any other format

[2020-10-27 13:53] solardiz commented on #4387
Here's another thought regarding the dependency: can we reasonably avoid it when processing older (pre-2.1.14) Telegram? Move the `import` (and the associated `try`/`except` logic) inside a code block that's only reached just before the module's functionality would actually be needed.

[2020-10-27 14:14] magnumripper commented on #4387
I take it this logic applied to the older version as well (so we always had a bug for that case until now).

[2020-10-27 14:20] magnumripper commented on #4387
OTOH that is actually an argument for catching them in `valid()`...

[2020-10-27 14:29] magnumripper commented on #4387
I have the CPU format ready (~except for any~ now with special checks in `valid()`) but the OpenCL format gets hairy because our shared PBKDF2-SHA512 code for OpenCL is so very different from the one for PBKDF2-SHA1. Perhaps I should just make it a separate format. I'd love to unify the shared code (or this will hit us again) but that'd mean intrusive changes to many formats.

I'm taking a break n

[2020-10-27 14:41] magnumripper commented on #4387
After re-reading Phil's script, here's the deal:
Old version used 4 iterations (instead of 4,000) for no password (so yes, we had a bug all the time not handling this).
New version use 1 iteration (instead of 100,000) for no password.

As far as I can tell, the script give no hint about whether it's possible to **set** a zero-length password and get a higher iterations count.

[2020-10-28 02:37] memfissoftware opened #4418 "zip2john calculate wrong hash"
Hello,

I try to calculate hash with zip2john but it calculates very weird has for a encrypted zip file.

[tahlil.zip](https://github.com/openwall/john/files/5449196/tahlil.zip)
[hash.txt](https://github.com/openwall/john/files/5449199/hash.txt)

i also attached zip and hash file.
im pretty sure the files in the zip file were encrypted by same password.

[2020-10-28 10:58] ghost commented on #4418
John recognizes and it can load the hash. It is not "weird". If you have a hint about the password, we can check if the zip file is crack-able.

I can say everything is happening as expected.

[code]
[code]

****
Although this issue is worded as a bug report, not as a question, I'm afraid you're mistaken.

We assume you are genuinely thinking you are reporting a real bug to help the project. That

[2020-10-28 10:58] #4418 closed, assigned to nobody

[2020-10-28 11:47] magnumripper commented on #4418
Perhaps what's confusing you is the fact two hashes are produced despite you think they share the same password? There's no way for the tools to know whether both files use the same or different passwords, so a hash line for each file was produced*. As they have different salts this will slow down cracking by (in this case) half so a good method for attacking it would be to target just one of the

[2020-10-28 16:50] zloishax commented on #4387
@magnumripper
hello i have such a problem. help me (telegram2john)

`key_datas:$telegram$2*100000*0970f6c043d855aa895703b8a1cc086109cf081f72a77b6504f7f4bf3db06420*129294a5eac3196a4c9a88e556f7507b0957f6dd45d704db8abe607ec6d807270c02635289056256a6044a6408e7ef5d33f98c561f16f8aedd2b3ae33ddffddc63c8584dcb232c9f610953f461adb8d29da83f2b01e32db98101febffae4072703bfbfd492e1dd6abeb0926d3df2ed3b47dee4eb6c9f4

[2020-10-29 00:28] #4206 closed, assigned to magnumripper

[2020-10-29 01:08] magnumripper commented on #4387
@zloishax it's not in the main repo yet (this issue will be closed once it is). You can try checking out the "telegram2" branch of https://github.com/magnumripper/john.git but there's no OpenCL support yet, just CPU - and it's a one of the very slowest algos due to the 100K iterations which ends up as 200K iterations due to key length - it's actually over 600K rounds of SHA-512.

[2020-10-29 09:58] philsmd commented on #4387
Hey @zloishax,
from your output of `telegram2john.py` [a few posts above](https://github.com/openwall/john/issues/4387#issuecomment-716995965) it's very, very easy to see that you are using the wrong script.
You are **not** using the **new** script, but an old version.

Why do we/I know that? Your output makes it very obvious (the traceback):
it has `process_xml_file()` in it which isn't available