[2022-02-14 17:53] AlekseyCherepanov commented on #5070
`valid`:
[code]

`get_salt`:
[code]

There are multiple keys and `john` chooses one that is active and has least number of iterations. So if there is not active key, then incorrect value would be used. So I guess it should be rejected.

Variable `bestiter` is not updated in `get_salt`. So it works as intended when best key is the last (e.g. there is only 1 active key).

[2022-02-14 18:03] AlekseyCherepanov commented on #5070
Hm, `bestslot` affects value in `stripes`, so the difference in chosen key between `valid` and `get_salt` is a potential for buffer overflow.

[2022-02-14 18:43] AlekseyCherepanov commented on #5070
`passwordIterations` in binary structure has type `uint32_t`. Type of variables `bestiter` is `unsigned int`. Field `bestiter` in `custom_salt_LUKS` is `int`. It frustrates...

[2022-02-14 19:11] AlekseyCherepanov commented on #5070
Oh, comments mention possible redesign (#557).

[2022-02-14 21:19] AlekseyCherepanov opened #5072 "TrueCrypt formats: incorrect handling of keyfiles, works only for single ciphertext"
Working on #5069 I did not realize real problem here:
[code]

So keyfiles for all ciphertexts are read into the same place in memory. So it would work for single ciphertext and would not work for two ciphertexts with different keyfiles (one ciphertext would become uncrackable). Data from keyfiles should be a part of salt.

(It is purely theoretical. I don't have samples.)

Fix would require switch

[2022-02-14 21:21] AlekseyCherepanov commented on #5072
There might be some related notes in #5068 in the future.

[2022-02-14 22:17] AlekseyCherepanov commented on #5070
`ntohll` in `dmg2john.c` is defined outside of endianness check, so I guess `dmg2john.c` should work incorrectly in BE environment.

[2022-02-15 14:49] solardiz commented on #5070
I guess so. Please fix that after we merge #5073.

[2022-02-15 16:26] #5070 closed, assigned to nobody

[2022-02-15 16:29] solardiz commented on #5068
I see no reason to keep this issue open, so I'll close. If we ever have time (not only for discussion, but also for implementation of changes), we may instead open an issue about approach to large target files in general.

[2022-02-15 16:29] #5068 closed, assigned to nobody

[2022-02-15 16:31] solardiz commented on #5058
@magnumripper Do we close this "issue" or maybe repurpose it for "highlight the passwords in color when output is to a tty"?

Edit: actually I think we should close, and open a separate issue if we like.

[2022-02-15 16:32] #5058 closed, assigned to nobody

[2022-02-15 16:39] solardiz opened #5074 "Make it clearer where passwords are in --show output"
As seen in #5058, a new user might not figure out where to look for the cracked password in `--show` output.

One way to address this is to highlight the passwords in color when output is to a tty.

Another way is to suppress extra fields (beyond field 2) in some cases - or maybe by default, unless explicitly requested otherwise (by option parameter? new option? higher verbosity?)

The latter woul

[2022-02-15 16:42] solardiz commented on #5074
We should also look into how `--show` works on PWDUMP and other `prepare()`-using formats, and how we'd like it to work after any change we might make here.

[2022-02-15 17:38] solardiz opened #5075 "dmg2john broken on big-endian"
As reported by @AlekseyCherepanov in #5070:
`ntohll` in `dmg2john.c` is defined outside of endianness check, so I guess `dmg2john.c` should work incorrectly in BE environment.

[2022-02-15 21:19] solardiz opened #5076 "Split ENCDataVault into two formats"
As discussed with @sylvainpelissier in #5071, the plan is to split the ENCDataVault format in two. Keep them in the same source file, and share much of the code, but have separate format structs. Also, expose the PBKDF2-HMAC-SHA256 iteration count as a tunable cost.

[2022-02-16 00:22] magnumripper commented on #5048
Tried select-based sleep, no difference. As I had it readily available I also tried my alternate sleep interrupted by callback, but it obviously had the same problem. I'm giving up on this until we get some new ideas. If we can't find a workaround before next release we should probably mention it (and the config setting for disabling macros) in some docs.

[2022-02-16 15:19] #5075 closed, assigned to nobody

[2022-02-16 15:32] solardiz commented on #5011
I guess fixing this issue will affect restored sessions, which may then skip some rules even if the input rule set has not changed. I don't know if we want to deal with this in any way (e.g., note the fix in `.rec` file, disable the fix when restoring from older `.rec` files that did not yet have the fix) or just let this be (and document it?)

Also, we'll have a similar issue with restoring older

[2022-02-16 16:32] magnumripper commented on #5011
I tried to reproduce but my `-ru=jumbo` only has "8389 preprocessed word mangling rules were reduced by dropping 10 rules" and doesn't contain that rule.

[2022-02-16 16:39] magnumripper commented on #5011
BTW I notice now we miss 'OneRuleToRuleThemAll' in `-rules:all`, I consider that a bug. Is there more? Was it intentional? I couldn't care less about resuming issues between releases, except it'd be nice to document them of course.

[2022-02-16 16:46] magnumripper commented on #5011
Found others though. We seem to have a big problem here - many dupes are missed.

[2022-02-16 17:02] magnumripper commented on #5011
Using `-v:6`, you get individual logging of what rules are removed. This is strange, for `-ru:jumbo` it ends up this:
[code]
So it drops 7 rules but claims it was 10? Another interesting thing is it logs dropping before the preprocessor, at least in 1261. If it only sees rules before the pp, no wonder it would miss things and that would explain the OP.

On the other hand, I'm sure we talked about

[2022-02-16 17:08] solardiz commented on #5011
It has changed since - to reproduce with the exact rule in my original comment, you need `john.conf` from back then.

Intentional - it is supposed to be a subset of `hashcat`. However, I think we may want to replace `hashcat` with `OneRuleToRuleThemAll` in there - would probably crack almost as many, need to confirm.

I do care, and it's not only between releases, but also between revisions - it i

[2022-02-16 17:10] magnumripper commented on #5011
The code for dupe rules suppression is from 2011, pre git history. I need to search ML archives for whatever discussions we had back then.

[2022-02-16 17:11] solardiz commented on #5011
Also, only dropping before preprocessor is a reasonable mode - even if far less effective than what we could have. If that's the only issue here, then maybe we shouldn't call this a bug, but just preliminary implementation. We could then add post-pp as an enhancement, perhaps along with detection/squeezing of more kinds of effective NOP commands. And this is a rather low priority enhancement task

[2022-02-16 17:14] solardiz commented on #5011
BTW, my switching us to pre-optimized and thus pre-expanded default rules, with extra effective NOP squeezing with `sed` (as documented in the comments), lowers priority of us implementing any enhancements in code. Such enhancements would not affect our new default wordlist rules at all!

[2022-02-16 17:15] magnumripper commented on #5011
I see. The total accepted rules bumped a lot when I include 'OneRuleToRuleThemAll' but then again that may be *because* of this issue.

[2022-02-16 17:23] magnumripper commented on #5011
The log says eg. `236188 preprocessed word mangling rules were reduced by dropping 68821 rules` and the last rule for that session was `Rule #167366: '-8,5' accepted`. That suggests the suppression is happening after PP (although we have an off-by-one in the reporting).

Yet I did see `duplicate rule removed at line 1261: -c %2[ ] T[0z] \p0[Q:] \p0[M:] va01 vbpa Tb Q M /[ ] vbpa Tb Q @?[Zw]` so it

[2022-02-16 17:24] solardiz commented on #5011
If this issue is not only the pre- vs. post-pp aspect, and we fix it, and `OneRuleToRuleThemAll` is literally a subset of `hashcat` (someone should check this - I did not), then including `OneRuleToRuleThemAll` before `hashcat` in our `All` would make sense.

[2022-02-16 17:28] solardiz commented on #5011
Does it suggest that? I think it does not: the hashcat-derived rule sets are large, and don't use PP.

[2022-02-16 17:30] magnumripper commented on #5011
That pp line is indeed a dupe line in the config
[code]

[2022-02-16 17:34] solardiz commented on #5011
Oh, probably a config file bug for us to fix, then? We could drop the dupe line, or we could first try and figure out why this happened - maybe it was supposed to differ in some way?

[2022-02-16 17:39] magnumripper commented on #5011
Confirmed, you are right.

I'm very surprised if the suppression only happens before PP, and always did. That makes it so much less useful.

[2022-02-16 17:44] magnumripper commented on #5011
[code]
[code]
This is totally correct yet very misleading output.

[2022-02-16 17:50] solardiz commented on #5011
BTW, an issue we probably did not consider: same-looking line could be a different rule in native vs. hashcat mode because some rule command characters overlap and have different semantics. So the dupe suppression can potentially remove a rule that is not a dupe. I doubt this ever occurred so far, but technically our approach is incorrect. A workaround can be added.

[2022-02-16 17:51] magnumripper commented on #5011
I saw the dupe suppression code taking that hashcat parameter in mind, so it might actually be OK

[2022-02-16 17:53] magnumripper commented on #5011
Another caveat is that dupe suppression in batch mode has to be reset between single and wordlist. I see from old private conversations with Jim that he did take care of that as well.

[2022-02-16 18:04] magnumripper commented on #5011
I see in the ancient private discussions, we had test cases like this:
[code]
Jim's code did catch it (dropped the last line), and it still does. Perhaps the suppresion happens after rule reject flags but otherwise before PP. I need to look at the code instead.

Edit: Only the last line is dropped with current code. From the old mails I think the middle one was as well, back then.

[2022-02-16 18:08] magnumripper commented on #5011
This one has no dupes removed. Probably never did
[code]

[2022-02-16 19:52] cryptoprogramer opened #5078 "blockchain2john.py: Add support for v4"
blockchain2john.py problem with blockchain wallet v4

today i tried to extract the hash of blockchain wallet v4 using blockchain2john.
initially I couldn't extract the hash and gave this error
My Wallet Version 2 or 3 seems to be used, adding --json option is required!

later I removed the following information from the beginning of data inside json file:

``` {"pbkdf2_iterations":5000,"version":4

[2022-02-16 22:13] solardiz commented on #5078
@isieditors Can that hash you obtained be cracked with `john`?

[2022-02-17 05:27] cryptoprogramer commented on #5078
john didn't crack it although the correct password was inserted in the password file
I used the following command:

```C:\john\run>john --wordlist=password.txt blockchaintestv4.txt```

and got the following output
[code]

another thing to add is that btcrecover cracks the hash obtained by:

```extract-blockchain-main-data.py```

and gives the following output:

[code]

[2022-02-17 08:15] solardiz commented on #5078
@isieditors Well, it looks like this is a new wallet type we need to add support for. Is this a dummy test wallet that you can share? If so, please do. Otherwise please create a dummy test one that you can share, and do that. Thank you!

[2022-02-17 08:18] solardiz commented on #4986
The same issue is now reported in #5078, but with more detail. So I'll close this one in favor of the newer one.

[2022-02-17 08:18] #4986 closed, assigned to nobody

[2022-02-17 08:25] solardiz commented on #4922
@isieditors Can you generate a dummy test wallet of this format that you can reproduce the issue on, and share that with us? Thank you!

[2022-02-17 09:35] cryptoprogramer commented on #5078
@solardiz thanks for support and help

here is the json content of blockchian wallet v4 which I borrowed from test wallets of btcrecover by @3rdIteration
[code]
blockchain2john only extract its hash when the following data is removed from the beginning and --base 64 is added to command
```{"pbkdf2_iterations":5000,"version":4,"payload"```

the password for the test wallet is:

```btcr-test-passwor

[2022-02-17 09:48] magnumripper commented on #5011
From dry-running the code, I think it only handles it correctly if the **first** line is a hashcat logic flag, so it seems to assume "all or none".

Edit: But then it uses `rules_reject()` to process, which does handle it, so I think the flag is maintained correctly. Then again, the actual dupe check doesn't care about that flag so you are probably correct.

[2022-02-17 10:20] magnumripper commented on #5011
The dupe config line was added in 0402542a9 after you posted https://github.com/openwall/john/issues/3789#issue-431997416 with the dupe present.

[2022-02-17 10:30] solardiz commented on #5011
Looks like I arrived at this same rule in two different ways. We should simply drop the second copy.

[2022-02-17 15:29] nocjestpiekna opened #5079 "New algorithm request - Amazon v4 signature - AWS4-HMAC-SHA256"
Hello,

I'd like a new algorithm being added to John the Ripper - the Amazon AWS4-HMAC-SHA256

Full documentation of implementing this hash can be found here:
https://docs.aws.amazon.com/AmazonS3/latest/API/sigv4-query-string-auth.html

Here is the example signature calculated and salts:

signature = 7f8ba2f53b6cc0485ed3e93642143fc66c1035b2f31dcb4d987431313b7dd4a3
longdate = 20130524T000000Z
date

[2022-02-17 21:30] Surfoo opened #5080 "Maximum salt length is 32 characters?"
Hello there,
I try to crack a hash (it's an example in this issue) with a salt length > 32 characters, and it doesn't work.

Here the command:
`john -form=dynamic='md5($s.$p)' --wordlist=wordlist.txt hash.txt`

hash.txt:
`53b6cccf1dcf27ae0680c91fa1216a9f$84d9b0f426c649a99c1485fca0b5624bZ`

Result:
[code]

And with a salt length <= 32 characters:
hash.txt:
`53b6cccf1dcf27ae0680c91fa1216a9f$84d9b0f4

[2022-02-17 21:54] ghost commented on #5080
See also #5009

[2022-02-17 22:04] AlekseyCherepanov commented on #5080
@Surfoo For `md5($s.$p)` you can use `dynamic_2004` supporting up to 64 bytes in salt or `dynamic_1017` supporting up to 192 bytes in salt (but with lower limit on length of passwords).

For questions, it is better to use john-user mailing list though.

[2022-02-17 23:17] Surfoo commented on #5080
Thank you, it works with dynamic_2004.

[2022-02-17 23:17] #5080 closed, assigned to nobody

[2022-02-18 13:00] magnumripper commented on #5011
We get ~51~ 52 dupe rules (0.6%) with current `--rules:jumbo`. Using `--rules:all` there are ~63,566~ 63597 of them (0.8%). Using `--rules-stack` instead, the latter is 63,610, not sure why.

Edit: I was only counting lines logged as `accepted as`. There are also lines just saying `accepted` and dupes might be between those two variants. Fixed with a better one-liner.

[2022-02-18 13:57] #4814 closed, assigned to magnumripper

[2022-02-18 18:24] ndmalc opened #5081 "Support binary input for HMAC formats"
Hello,

My goal is to crack an hmac-sha1 hash retrieved from a Tapestry t:formdata field.
t:formdata is a java serialized class protected by an hmac-sha1 with the secret stored at the server side.

The format of a Tapestry t:formdata is as follow:
`base64(hmac-sha1(secret, gzip(serialized javaclass))):base64(gzip(serialized javaclass))`

My problem is that as per documentation, the current hmac-sh

[2022-02-18 23:06] magnumripper commented on #5081
Us supporting `$HEX[cafe]` format would be a fine way to fix this. Most other solutions would be format specific (well even that one would, but at least it would use shared code).

[2022-02-18 23:23] AlekseyCherepanov commented on #5081
If there are incompatible changes to `hmac*` formats, please also consider changing syntax to be `$tag$digest$text` or `$tag$digest#text`. Because arbitrary text at the beginning of ciphertext is a problem: it is not possible to tell format just checking tag at the beginning, for instance `mscash` can be loaded as `hmac-md5`. (Also `leet` format has such problem.)

[2022-02-19 14:42] solardiz commented on #5072
I don't fully understand this issue, but perhaps at least this must be implemented before our next release:

@AlekseyCherepanov Can you take care of this, please?

[2022-02-19 14:50] AlekseyCherepanov commented on #5072
I can. Maybe I could do proper fix too.

[2022-02-20 20:58] AlekseyCherepanov opened #5084 "incremental mask misbehaves for DEScrypt & LM opencl formats"
I noticed a problem with `--mask='[a-z]?a' --min-length=1 --max-length=5` with `descrypt-opencl`. Just `?a` works as expected. `descrypt` seems ok.

[code]

Notice `31.75% (2) [...] maH9vU..maH9vU`. It has `(2)` but candidates shown as current have length 6 (while `--max-length=5`). It is a problem.

There is `Note: [...]` about length. `--min-length=2` removes it, but does not solve the problem.

[2022-02-21 12:29] cryptoprogramer commented on #5078
@solardiz
did you check this hash details

[2022-02-21 12:56] solardiz commented on #5078
@isieditors I did not - I just wanted to make sure we have complete info on this issue for someone else to handle it later.

[2022-02-21 13:51] magnumripper commented on #5084
Seems to be a driver bug - it works fine with nvidia:
[code]
It also works with `--min-len=1` (it starts at length 2 after that warning, and does crack this hash).

[2022-02-21 13:58] cryptoprogramer commented on #5078
@solardiz
is there possibly a way to get it added faster

[2022-02-21 14:01] magnumripper commented on #5084
That is indeed weird. Same there, I can't see that problem with the nvidia.

[2022-02-21 14:03] magnumripper commented on #5084
It could also be a bug of ours that somehow surfaces with AMD but not nvidia. Not sure what it would be.

[2022-02-21 14:08] magnumripper commented on #5084
@AlekseyCherepanov please try similar tests with the LM-opencl format - it has quirks similar to DEScrypt.

[2022-02-21 14:40] magnumripper commented on #5084
Formats with internal mask are handled specially with incrementing length mask, it goes like this: We fill candidates for `[a-z]`. Once we switch to length 2 we need to call `reset()` to set the format up for `[a-z]?a` (if the **internal** part of it changed - so this only happens once or twice with the shortest lengths). Before that, we must ensure that the current (incomplete) batch is processed

[2022-02-21 19:15] solardiz commented on #5078
OK, I've tried this trivial patch:

[code]

Then `./blockchain2john.py --json`: produces:

[code]

However, `john` does not crack the above with `btcr-test-password` in the wordlist. I don't know if that's actually the correct password - has it been verified with `btcrecover`?

[2022-02-21 19:29] solardiz commented on #5078
Maybe relevant, `btcrecover/btcrpass.py` has this comment:

[code]

Our `blockchain_common_plug.c` checks `guid` and `address_book`, but not `tx_notes`.

[2022-02-21 19:30] cryptoprogramer commented on #5078
thank you for considering this issue
here is the
result I got from btcrecover for this json file

[code]
I also checked this hash with john and you were right, john didn't crack it

[2022-02-21 19:35] solardiz commented on #5078
OK, this makes it crack the password:

[code]

[2022-02-21 19:51] cryptoprogramer commented on #5078
should I add this to this  file blockchain_common_plug.c ??
and which part should I paste it?

[2022-02-21 19:54] solardiz commented on #5078
@isieditors This is a patch that you can apply using the `patch` command, then rebuild from source. I guess this might be tricky for you, if you're not used to that. If so, please just wait until we merge the fix, and if you're using a binary build then until there's a new one. Might not be soon, though.

[2022-02-21 20:17] cryptoprogramer commented on #5078
Ok thank you I will try to explore more to see what I can do
thank you for your help and time you devoted to this issue

[2022-02-21 20:23] solardiz commented on #5028
@JamieSlome @huntr-helper Incidentally, the huntr platform doesn't appear to let a maintainer approve the bug report, but decline security relevance. There is a way to specify that user interaction is required, which lowers severity, but there's no way to specify that the input is considered trusted, which would make the issue non-security. Something you might want to add.

[2022-02-22 08:02] DanielsBerlin opened #5085 "adding support for Coinomi wallet cracking"
I was wondering is it possible to add support for coinomi wallet file for john? because it is very similar to multibit wallet (Scrypt)
John the ripper already supports extracting and cracking Multibit wallet.
multibit backup file is using Scrypt algorithm.
I tried extracting a coinomi wallet file using multibit2john.
the result was a multibit hash, but John couldn't crack it with known password.
I

[2022-02-22 12:20] solardiz commented on #5085
@DanielsBerlin Can you please attach the test wallet right to this issue (click "Attach files ..." at the bottom of the comment edit box) and/or send us a pull request with it (and a text file explaining what it is and containing the password) against https://github.com/openwall/john-samples (it should probably be adding a `Coinomi` directory either at top-level or inside `Multibit`). Thanks!

[2022-02-22 12:35] DanielsBerlin commented on #5085
[coinomi.zip](https://github.com/openwall/john/files/8116600/coinomi.zip)

I added the file in zip format

password for wallet file is:
[code]

[2022-02-22 13:45] DanielsBerlin opened #5087 "John doesn't recognize my gpu"
I tested john, and it seems that it only uses my cpu for cracking
and doesn't recognize my gpu
I have Geforce GTX 860 m and invidia graphic driver 461.72 has been installed
when I use this command I get:
[code]

[2022-02-22 23:26] ghost commented on #5087
See [#4327](https://github.com/openwall/john/issues/4327#issuecomment-683474420) or https://github.com/openwall/john/issues/3191#issuecomment-639818020

Please report if your issue is not fixed after doing this.

[2022-02-23 11:18] DanielsBerlin commented on #5085
@solardiz
I was wondering did you look into these details to see is it possible to add coinomi wallet hash by doing some modifications to multibit hash extraction code???

[2022-02-23 11:23] solardiz commented on #5085
@DanielsBerlin I took a quick look at the hash you posted previously and at the Python code in `btcrecover`. This didn't appear to be a trivial enough fix for us to take care of right away. I didn't yet look at the wallet file you attached. Maybe someone else will, or not.

Overall, I'm sorry, but we don't treat this issue as a priority. Chances are it will just hang around for long.

[2022-02-23 13:17] DanielsBerlin commented on #5085
@solardiz
I see. you are right
do you offer paid services, to take care of these requests.?

[2022-02-23 13:44] solardiz commented on #5085
@DanielsBerlin Occasionally yes, see https://www.openwall.com/services/

[2022-02-26 06:51] sigkill commented on #3145
You would need to account for two variant BIP-38 encryption processes - EC Multiply and non Multiply. Ran into a weird issue here: https://github.com/xeroc/python-graphenelib/blob/master/graphenebase/bip38.py

From: https://en.bitcoin.it/wiki/BIP_0038

Proposed specification
Object identifier prefix: 0x0142 (non-EC-multiplied) or 0x0143 (EC-multiplied). These are constant bytes that appear at the

[2022-02-26 06:53] sigkill commented on #3145
IMHO this issue should get escalated because there are a lot of people with locked wallets, and john would be much faster for resolving these issues than hashcat due to the CPU bound scrypt functions.

[2022-02-26 07:04] sigkill commented on #3145
Somewhat helpful: https://github.com/maxweisspoker/pybip38

[2022-03-03 10:43] noraj opened #5088 "Hide hwloc warnings"
## Issue

john is displaying this hwloc warning at every command due to this upstream issue https://github.com/open-mpi/hwloc/issues/354:

[code]

## Workaround

Add `export HWLOC_HIDE_ERRORS=2` to `~/.zshrc`, `~/.bashrc` or whatever to hide the warnings.

## Context

I can't find where in code john is calling hwloc, it must be an indirect call via an abstraction library.

[2022-03-03 10:57] noraj commented on #4765
@anthraxx I have the same issue with the official arch package (`1.9.0.jumbo1-6`).

[code]

[code]

My Laptop is a [Dell Latitude 3420](https://wiki.archlinux.org/title/Dell_Latitude_3420) with a Intel CPU and Intel iGPU so I don't need NVIDIA GPU nor CUDA.

## Workaround

Add ` export OMPI_MCA_opal_warn_on_missing_libcuda=0` (cf. [Using MCA Parameters With mpirun](https://docs.oracle.com/cd/E1970

[2022-03-03 18:14] PracaGrande commented on #2809
Hello,
Is the code for this format already available on Bleeding-Jumbo?
I'm asking because I don't see the --format=krb5tgs_modern and if I try the test hash sample that @kholia with --format=krb5-18 it doesn't recognize it.
thanks

`$ ./john
John the Ripper 1.9.0-jumbo-1+bleeding-75667e2 2022-02-22 13:29:07 +0100 OMP [linux-gnu 64-bit x86_64 AVX2 AC]`

`$ ./john --format=krb`
`krb4

[2022-03-04 00:58] magnumripper commented on #2809
Looks like @kholia had a working format but never created a PR, and now that branch is gone in his repo 😢

[2022-03-04 08:49] PracaGrande commented on #2809
Damm, was felling luck I could try cracking some Kerberos tickets with John ...

Meanwhile, I also have the following hash format Kerberos 5 TGS etype 18 with a 32 bits checksum instead of 24 like the sample from @kholia . This was captured from a Windows 2016 Server using Invoke-Kerberoast.ps1 from @HarmJ0y ... I know its not related to JtR but wondering if anyone in this thread knows if this is

[2022-03-04 11:37] magnumripper commented on #5088
I take it the messages you are seeing are from OpenMPI (possibly related to your OpenCL driver's probing of PCI bus), not john. If you try a non-MPI build the warnings should be gone.

Thus, I believe there's nothing for us to fix in john.

The workaround is good to have noted, thanks!

[2022-03-04 18:12] noraj commented on #5088
Yes it's what I said, I just wrote that here so that people having the same issue will know the workaround. It's not a bug report or feature request.

[2022-03-04 18:12] #5088 closed, assigned to nobody

[2022-03-10 17:50] cbrooks42 opened #5089 "Problem with multibit2john.py: TypeError: Descriptors should not be created directly, but only retrieved from their parent."
I'm having a problem using the latest version of multibit2john.py.  When I try to execute the script with a Multibit Classic .key file, I get the following error:

~/Desktop$ python3 multibit2john.py multibit.key
Traceback (most recent call last):
  File "multibit2john.py", line 56, in <module>
    _descriptor.EnumValueDescriptor(
  File "/home/crypto/.local/lib/python3.8/site-packages/google/prot

[2022-03-11 00:11] willcbanks commented on #5089
i'm having the exact same issue. I thought it might be something to do with using python 2 or python 3 but not having any luck fixing it

[2022-03-11 00:17] willcbanks commented on #5089
If removing that code works, you could try to make a new multibit wallet, then try to make the hash and try to decrypt it to see if it worked I guess. What does protobuf do in the code anyway?
Thanks - I deleted those lines and now it's working too.
I'll try to hash a new wallet and dehash to see if the script still works!

[2022-03-11 01:03] willcbanks commented on #5089
I can confirm this works. hashcat found the password.

[2022-03-13 13:52] solardiz opened #5090 "cloudkeychain ASan crash"
As reported by @sylvainpelissier in https://huntr.dev/bounties/d2f44226-775f-4871-95ab-a33b14755355

[code]

[2022-03-13 14:12] solardiz commented on #5089
The protobuf code was added by @kholia in 6c55ea09ac494164e351fd51d457be267b6769da. It is unclear to me whether it was actually needed or not.

@kholia @exploide Can you take a look and comment, and possibly send us a PR removing this code or making its importing conditional upon detection of the wallet type that needs it (if any)? Thanks!

[2022-03-13 14:14] solardiz commented on #5087
Not an issue we need to track, so I'm closing it, but please feel free to add comments.

[2022-03-13 14:14] #5087 closed, assigned to nobody

[2022-03-13 15:11] exploide commented on #5089
I have neither experience with Multibit nor Protobuf, but I had a quick look on `multibit2john.py`.

Protobuf is used to dynamically generate some classes useful for parsing the data structure. This is indeed used by the file processing logic in https://github.com/openwall/john/blob/75667e266c2b9356504a86c6013b91a9a3e48c4e/run/multibit2john.py#L1323 which is only relevant for `.wallet` files. And

[2022-03-13 15:39] solardiz commented on #5089
Thank you, @exploide! Maybe a clean fix would be to actually move the protobuf definitions into a separate file that we'd include from the script (keeping the main script's name)? Can we do that without difficulties with the main script finding that included file even when run from a different current directory (via full or relative path)? Also without the main script trusting its current director

[2022-03-13 20:59] solardiz commented on #5090
Fixed by #5092. Closing.

[2022-03-13 20:59] #5090 closed, assigned to nobody

[2022-03-15 19:17] #5089 closed, assigned to nobody

[2022-03-15 19:26] #5076 closed, assigned to nobody

[2022-03-16 14:14] magnumripper commented on #5084
Same bug affects LM-opencl similarly.

[2022-03-19 20:30] JamesPeterAnderson commented on #1660
Appreciate that the original post is quite old now, but this thread is one of the top results when googling the below error:

**Using default input encoding: UTF-8
No password hashes loaded (see FAQ)**

After reading through this thread, I checked my JTR version and I was running 1.8.0, so I proceeded to uninstall JTR and reinstall to the latest version, but I continued to get the same error...

I

[2022-03-19 20:45] ghost commented on #1660
e.g john --wordlist=password.lst passwdfile.txt -format=crypt

So, it seems it is yescrypt. See #4621. If that is the case, for now you must use `--format=crypt` [1].

[1] For Linux distros that have started to use native yescrypt hashes via libxcrypt

[2022-03-20 06:45] witee-star commented on #5078
#!/usr/bin/env python

import sys
import os.path
import base64
import binascii
import argparse
import json
import traceback

PY3 = sys.version_info[0] == 3

if __name__ == '__main__':

    parser = argparse.ArgumentParser(
        prog=sys.argv[0],
        usage="%(prog)s [blockchain wallet files]")

    parser.add_argument('--json', action='store_true', default=False,
                        dest

[2022-03-20 06:49] TCRetriever commented on #5078
(Edited by @magnumripper: ML formatting)

Kindly use this file to extract Blockchain Wallet V4 Hash
Command - python blockchain2john.py --json wallet.aes.json

Code --
[code]

[2022-03-20 06:59] TCRetriever commented on #5078
![V4hash](https://user-images.githubusercontent.com/78973122/159151865-1bbe7253-6c30-4ef8-9016-3d08c4b692f1.png)

Here is the proof that V4 hash is working and Cracked

[2022-03-20 07:47] TCRetriever opened #5094 "Blockchain2John.py is not extracting V4 wallet.aes.json hash"
blockchain2john.py problem with blockchain wallet v4

today i tried to extract the hash of blockchain wallet v4 using blockchain2john.
initially I couldn't extract the hash and gave this error
My Wallet Version 2 or 3 seems to be used, adding --json option is required!

later I removed the following information from the beginning of data inside json file:

{"pbkdf2_iterations":5000,"version":4,"pa

[2022-03-20 16:28] ghost commented on #5078
Thank you @witee-star.

Please, create a PR to add V4 samples to https://github.com/openwall/john-samples repository.

Solar will commit these changes in the john's main repository sooner or later.

[2022-03-20 16:31] ghost commented on #5094
This is a dupe of #5078.

[2022-03-20 16:31] #5094 closed, assigned to nobody

[2022-03-21 14:55] magnumripper commented on #5078
Here's @witee-star's version in diff format:
[code]

[2022-03-21 15:01] ghost commented on #5078
Solar added something else at https://github.com/openwall/john/issues/5078#issuecomment-1047177149

[2022-03-23 18:34] pm2r opened #5095 "John with --format=dmg-opencl --test=1 GIVES ERROR: Build log: <kernel>:113:21: error: implicit conversion from address space "generic" to address space "private" is not supported when passing to parameter of destination type"
Hello everybody,
this is my first issue so forgive me in case I miss something important.
I was trying to run john with OPENCL on a Win10 machine with Intel x86 and Nvidia GPU 1080 class.

I tried this line on Windows CMD (not Powershell since I read that is not working OK with open CL in windows)  :
 **..\john-1.9.0-jumbo-1-win64\run>.\john-avx.exe --format=dmg-opencl --test=1**

The output is th

[2022-03-23 18:52] ghost commented on #5095
Please download and update your version of john. You can find the Windows version download button on the main page of this repository or at https://github.com/openwall/john-packages/releases/tag/jumbo-dev.

After the update, please check again and, if any problem persists, let us know.

[2022-03-23 20:52] pm2r commented on #5095
Now it works !
Thanks a lot

[2022-03-23 20:52] #5095 closed, assigned to nobody

[2022-03-24 01:45] magnumripper commented on #5084
This seems to be a complete fix, and isn't particularly strange considering surrounding code:
[code]
It doesn't just empirically happen to fix the described issue, but also fixes fundamental problems clearly seen when debugging.

However, I don't fully understand it yet, so more testing might be needed. I did test hybrid mask mode with this in place and it appears unaffected, which is kinda strang

[2022-03-24 01:59] magnumripper commented on #5084
Some more testing shows more logic is indeed needed:
[code]
This feels closer to something I'd consider writing a PR for. The remaining thing nagging me is why no other format needs this.

EDIT: Nope, this is not complete yet.

[2022-03-27 16:19] solardiz opened #5097 "Support KeePass database format 4.x"
Our `keepass2john.c` has:

[code]

[code]

This was actually triggered by a user (on Kali Linux 2021.1, but our `keepass2john.c` hasn't changed in this respect since 2017):

[code]

(The reporting by `file` doesn't mean much - it probably is unaware of newer versions.)

[2022-03-29 15:05] nocjestpiekna opened #5098 "New algorithm request - Flask session cookie"
Hello, I'd like a new algorithm to be implemented in John the Ripper.

The algorithm is Flask session cookie

sample hash - eyJ1c2VybmFtZSI6ImFkbWluIn0.YjdgRQ.15feJoHISWlil2BlCIBF_0Ni9pg

The cookie is based on JWT token, and it's basically double HMAC-SHA1

We can split the cookie into three parts by "." - first one is base64 encoded payload, second one is encoded timestamp and third one is the a

[2022-03-29 17:29] solardiz commented on #5097
Apparently, KDBX 4 uses Argon2 by default. We might want to handle that as a new format with its own set of tunable costs (Argon2's) or add the algorithm choice as a first tunable cost (but I'd prefer separate format, so that it's separately benchmarked, etc).

[2022-03-31 01:20] magnumripper opened #5100 "Build error with current tree"
Running with -Werror:
[code]

[2022-03-31 01:23] magnumripper commented on #5100
That struct *is* used in `encdatavault_common_plug.c` so I don't quite understand what's with my compiler (gcc 10.3)

[2022-03-31 01:26] magnumripper commented on #5100
Oh, it's using the `struct salt` but not that instance `*cur_salt`. So it is an actual "bug" if we don't want any warnings. How did not our build bots catch this? Surely some of then run with `--enable-werror`, no?

[2022-03-31 06:03] #5100 closed, assigned to nobody

[2022-03-31 06:03] #5084 closed, assigned to magnumripper

[2022-03-31 06:13] #4132 closed, assigned to jfoug

[2022-03-31 14:30] ghost commented on #5100
- The compilation is not clean (free of warnings) in recent versions of compilers.
- `--enable-werror` is only enabled in older versions of the gcc.

[2022-04-01 14:00] magnumripper commented on #5100
I'm using gcc 10.3.0 though, that's pretty fresh. IIRC I need to drop `-Werror` only when building with ASan.

[2022-04-01 14:08] magnumripper commented on #5074
I think we should do this, and by default. Currently, `--show` is unusable for scripts as you can't tell `:` is in the password or a field delimiter.

I'd like color as well. I have plans in my head, and in #3511.

IIRC, pwdump and others will still output password as field 2, so the current output is weird with LM hash replaced by the password and the NT hash is shown after it. So the "drop field

[2022-04-01 14:16] magnumripper commented on #5074
On another note, I think the current output for bare hashes is useless, with `?:` prepended to every line. Perhaps in that case the output should be `hash:password` just like the actual pot entry, but with some limit on the hash length. Either just truncate blindly at, say,  64, or some logic for mid truncation such as `deadcafebeefabcd(...)babe:password` (but causing an exact hash length of 64, w

[2022-04-01 14:55] ghost commented on #5100
I can't remember which distros use gcc 10. Unfortunately, it looks like gcc 10 has (sort of) been ignored by the major distros.

We are using:
[code]

[2022-04-01 15:06] magnumripper commented on #5074
I edited the two previous comments extensively while brainstorming. I came to the conclusion we should do exactly this:

1. Make `--show` output exactly the same as real-time crack output for correct guesses.
2. If we don't have a username, use the hash - truncated to eg. 64 characters as in `(51chars ... 8chars)` in both cases.
3. Given this format, colorization will be mostly pointless (except t

[2022-04-01 21:53] AlekseyCherepanov commented on #5084
Sorry for huge delay on my side!

Yes, it works.

Yes, it happens for me too.

The fix works.

I found other problems:
- `--mask-internal-target=0` gives segfault for `lm-opencl`
- `--mask='bbb?a' --min-length=1 --max-length=2` tells `using 4 instead`

Also `--format=descrypt-opencl --mask='bb?a?a?a?a' --min-length=1 --max-length=2 --mask-internal-target=69833729609375` caused my gpu to hang. So I

[2022-04-03 20:39] magnumripper commented on #5084
We should bail with error for anything less than one, or larger than `pow(256, 4)`. Does your GPU hang if you lower that to `--mask-internal-target=81450625`?

**EDIT:** while `pow(256, 4)` is the theoretical max. an internal mask could end up as, it's obviously too large. We need to include GWS in the calculation and end up at max. 4G keys per crypt, I think a max. of `pow(256, 2)` is likely suff

[2022-04-06 14:36] magnumripper commented on #5084
It turns out we should allow `--mask-internal-target=0`, it should simply turn off internal mask. It only worked incorrectly for DESCrypt and LM, bug fix coming.

Also, handling values larger than 32-bit can take is a more general problem with our options parser. They will be truncated but that happens with just any option that takes a number as a argument so I wont address it now.

Never mind, un

[2022-04-08 14:48] magnumripper commented on #5049
I confirmed that `--rules-stack` works fine: It counts the accepted rules beforehand.

It's very trivial to have `rules_check()` and/or `rules_count()` return the number of *accepted* rules even when not pre-loading rules to a list, but then we can't say things like `Rule #2: '-s x**' rejected`... or maybe we can, but keep saying `#2` until we get an accepted one:
[code]
or, for `--rules-skip-nop`

[2022-04-08 15:25] kenspeckle1 commented on #4739
That field corresponds to the permissions field (/P) in the [PDF Specs page 117](https://web.archive.org/web/19961219053721if_/http://www.adobe.com:80/supportservice/devrelations/PDFS/TN/PDFSPEC.PDF#page=117) .
As such it should be a 32 bit unsigned int. But also the bits 7-32 need to be set to 1. So if a PDF library is using int for this field, it will be interpreted as a negative value which can

[2022-04-08 15:42] magnumripper commented on #4739
Thanks. Trying that file with current Jumbo tree, `pdf2john` will output `-4` for that field and the PDF format will accept it and crack it in a jiffie.
So what was the original problem? Can someone post a PDF that will end up with a large unsigned int from pdf2john?

[2022-04-08 16:18] kenspeckle1 commented on #4739
I have a file similar to the original author with the /P value beeing a unsinged 32 bit value but sadly I cannot post a complete file as it contains sensitive data.
But here is an excerpt of the relevant data from the file:
[code]

I will have a look if I can provide a different sample file.

[2022-04-08 16:37] kenspeckle1 commented on #4739
@magnumripper Here is a valid test file containing a permission value of 4294967239 resulting in the hash `$pdf$1*2*40*4294967239*1*0**32*585e4cc4113bbd8ff4012dce92dd7df1e1216fb630b29cf5aeea10a820066c26*32*b1db56a883cab5a22dd5fc390618a0f8e16cab8af14e67ccba5f90837aac898b`
[test_with_unsinged_int.pdf](https://github.com/openwall/john/files/8453847/test_with_unsinged_int.pdf)
Password is 123456

Edit

[2022-04-08 17:05] kenspeckle1 opened #5108 "PDFs without FileID field cannot be cracked"
I noticed that `john` require the `FileID` field in PDFs to be set (it is part of the hash). The problem is, that this field may be set in a PDF, but it is not required ([PDF Specs see page 115](https://web.archive.org/web/19961219053721/http://www.adobe.com:80/supportservice/devrelations/PDFS/TN/PDFSPEC.PDF) ).

[Here](https://github.com/openwall/john/files/8453996/id_missing.pdf) is a test file

[2022-04-10 08:54] bubbelbadHD opened #5109 "Build error under termux - .a files not found"
clang-13: error: no such file or directory: 'aes/aes.a'
clang-13: error: no such file or directory: 'secp256k1/secp256k1.a'
clang-13: error: no such file or directory: 'ed25519-donna/ed25519-donna.a'
clang-13: error: no such file or directory: 'poly1305-donna/poly1305-donna.a'
make[1]: *** [Makefile:1472: ../run/john] Error 1

What does this mean. I have even run the configure file it tells everyt

[2022-04-11 17:27] solardiz commented on #5109
@bubbelbadHD Please provide more information - what operating system/version are you on, and the _full_ build log (please capture it to a file e.g. with `&> log.txt`, then attach to here). Thanks.

[2022-04-11 17:35] solardiz commented on #4481
This issue might be partially? fixed by 47008003c1b0494cfbe183b60649e068e51c4b59 - need to review/re-test.

[2022-04-12 06:43] Salim9304 commented on #4408
Great idea to fill the documentation with examples.

An example of "specific jtr behavior".
`john --stdout --mask=john?driper`
john1riper
john0riper
john2riper
john3riper
john9riper
john8riper
john5riper
john4riper
john6riper
john7riper

How to disable specific behavior so that jtr displays words in ascending order (numbers, alphabet), and does not distort words in random order.  I can write every

[2022-04-12 07:08] magnumripper commented on #4739
Great, thanks!

[2022-04-12 07:32] magnumripper commented on #4739
That last sample also has an id length of zero, which also has to be allowed.

[2022-04-12 07:36] #5052 closed, assigned to magnumripper

[2022-04-12 07:37] #5022 closed, assigned to magnumripper

[2022-04-12 08:44] magnumripper commented on #5108
Will be fixed by #5110

[2022-04-12 08:59] #4739 closed, assigned to nobody

[2022-04-12 09:00] #5108 closed, assigned to nobody

[2022-04-12 14:38] magnumripper commented on #4408
@Salim9304 while things like `?a` and `?d` are sorted by "rockyou-frequency", you can instead use `[a-z]` or `[0-9]`, or even combine them - and the order will be as given:
[code]
The last example is like "zero to three, 9, 8, seven to four". So the `7-4` is a backward range. It could be written as `[0-39-4]` or `0123987654` just as well.

[2022-04-13 10:44] vaknin commented on #4465
I am still experiencing this issue, yet it was supposed to be fixed in [#4093](https://github.com/openwall/john/pull/4093).
Just like @solardiz, I am running JtR 1.9.0, i.e. the latest version available.

[2022-04-13 12:47] ghost commented on #4465
This is because you are using the latest stable (older) version. Please, download and use the version from this repository. It contains the fix [#4093].

[2022-04-17 19:19] solardiz commented on #5109
The screenshot shows this is in `termux`, so apparently on Android. The errors suggest the `.a` files were not created. A guess would have been that the system could lack `ar`, however I've just tried temporarily removing `ar` from a normal Linux system (not Android/termux) and then the build fails much earlier on trying to create those `.a` files - not on trying to use them. Also, `ar` normally c

[2022-04-17 19:19] #5109 closed, assigned to nobody

[2022-04-17 19:27] solardiz opened #5111 "eapmd5tojohn.c: Endianness swapping macros may clash with Linux kernel's"
As seen in warnings in the screenshot in #5109, the `__swab*` macros in our `eapmd5tojohn.c` may clash with same-named macros in the Linux kernel's headers. Somehow this does not happen on typical Linux systems, but apparently it did under `termux` on Android?

We should probably change `eapmd5tojohn.c` to use our shared `JOHNSWAP*` macros, like e.g. `wpapcap2john.h` already does. BTW, we don't ha

[2022-04-20 15:39] AlekseyCherepanov commented on #5022
The fix works. Thanks!

[2022-04-20 20:05] AlekseyCherepanov commented on #5084
`--mask-internal-target=0` does not crash after #5103.

I played with masks like `--mask='bbbbbbb?a'` and different min/max lengths. It seems robust.

High values `--mask-internal-target=` still causes hangs. I'll file separate issue.

Thanks!

[2022-04-21 08:54] magnumripper commented on #5084
I'm reluctant to change that as it's merely a "you get what you asked for" issue. Crazy big numbers will obviously tax the GPU just like it would for GWS or several other parameters.

[2022-04-21 16:55] ghost opened #5114 "PDF format is failing at 32 bit"
[code]
I still need to reproduce this somehow to tag it as confirmed.

:1st_place_medal: :thumbsup:

[code]

[2022-04-21 18:21] AlekseyCherepanov opened #5115 "segfault with extra big value for `--mask-internal-target=`"
Playing with options after #5084, I tried values like `255 * 255 * 255 * x` for `--mask-internal-target=`. Overly big `x` causes message like the following:
[code]

But smaller values cause crashes (at least under ASan) because lws/gws become 0. Crash is not immediate, it takes a few minutes.

`x` is 32:
[code]

There is a message from syslogd about file system. I am not sure if it is related to t

[2022-04-21 18:27] AlekseyCherepanov commented on #5115
Oops, `\x01-\x21` means `x = 33`. Specified `530604000` is `255 * 255 * 255 * 32`. But john upgraded value to `x547185375`, that's `255 * 255 * 255 * 33`.

[2022-04-21 20:30] AlekseyCherepanov commented on #5115
Excerpts from `clinfo`:
[code]

Interestingly `clinfo` reports only free memory as `Global memory size`. So it is possible to check memory usage with it calling in parallel to john. But `clinfo` hangs until status line in john.

I scripted the process and collected data up to segfault.

Runner:
[code]

Formatter for output:
[code]

Processed and annotated output:
[code]

So john can hang for 7 min

[2022-04-22 06:41] magnumripper commented on #5114
I presume it was caused by 102106fad9. Not sure why a 32-bit build would behave any different - there's no `size_t` or `long` involved..

[2022-04-22 06:45] magnumripper commented on #5114
Perhaps try this
[code]

[2022-04-22 06:47] magnumripper commented on #5114
Perhaps try this:
[code]

[2022-04-22 14:44] ghost commented on #5114
It fixes it.
[code]

[2022-04-24 10:34] Aphex1979 opened #5116 "pdf2john.pl cannot extract hash from AES 256 protected PDF"
I tried to extract the hash from a strongly encrypted PDF file to get the real password, because the provided password is not working. Therefore i setup Kali Linux yesterday and updated/upgraded it and did a fresh install of JohnTheRipper
`git clone https://github.com/magnumripper/JohnTheRipper.git`

The hash file generated has only the path and name to the pdf:
[code]
When i create an encrypted p

[2022-04-25 08:29] magnumripper commented on #5116
While that is totally understandable it makes it hard for anyone to look into this. Perhaps the file is damaged/truncated?

[2022-04-25 20:40] AlekseyCherepanov commented on #5072
`john-samples` has TrueCrypt volumes with keyfiles.

Also `truecrypt2john.py` has the following bug: single keyfile is not included into ciphertext. That's a matter of `>` vs `>=`. So I can produce in practice the original problem I described.

`TrueCrypt/TC-Volume` has 2 volumes (normal and hidden) that use different keyfiles. So I get 12 ciphertexts in 2 invocations of `truecrypt2john.py` (2 vol

[2022-04-27 09:13] #5042 closed, assigned to AlekseyCherepanov

[2022-04-27 09:14] #5114 closed, assigned to nobody

[2022-04-27 13:41] AlekseyCherepanov commented on #5072
`TrueCrypt-opencl` shows binary garbage in status line cracking ciphertexts with keyfiles. So I excluded the format from my work on #5120.

Also I could not crack `TC-STD-Volume` sample. (Note for myself to avoid closing this issue without fix or new issue.)

[2022-04-29 13:49] Aphex1979 commented on #5116
I was able to open the PDF file now with the proper password provided by my employer.
In the file properties in Acrobat i can see now the application which did create the pdf -> "L2001 PDF-Generator" Created with PDFlib+PDI 9.0.1 (C++/Linux-x86_64).
I hope that helps.

[2022-05-01 20:11] vuccinett opened #5121 "formatting a salted SHA-256 hash"
So i was using john to crack this password hash:
$SHA$cb62f38e01edfd97$36306c5d0ca620319bef125fe5439c8f827b0039c5696562533dd61c1762a004

but when i try to run the command: john --wordlist=wordlist.txt hash.txt it says: No password hashes loaded (see FAQ)

i already read the faq but it didn't help so im asking here why it is not working

i think that the password is encrypted like this but im not s

[2022-05-02 13:48] AlekseyCherepanov opened #5123 "incorrect use of `#undef SSEi_REVERSE_STEPS`"
`SSEi_REVERSE_STEPS` is a member of enum. So `#undef SSEi_REVERSE_STEPS` is a silent no-op.

[code]

I found that working on #5122.

It does not seem a real problem. I opened this issue in case the lines might need removal or the whole approach might need reconsideration.

[2022-05-02 14:31] MoorDoor opened #5124 "Can someone crack this file for me? I have no clue what i'm doing"
I have no clue how to do any of this, i'm just trying to open this dmg file that contains an mp3/wav file. Can someone help me?

[2022-05-02 14:35] AlekseyCherepanov opened #5125 "ztex formats: segfault after failed opening of /dev/bus/..."
I re-installed my system, so I did not have settings for usb devices to use ztex boards. Attempt to use john resulted into segfault.

[code]

Output from `strace`:
[code]

I would prefer to see an informative message from john about problem with permissions and maybe a link to `doc/README-ZTEX`.

[2022-05-02 15:32] AlekseyCherepanov opened #5126 "`mem_alloc(): Cannot allocate memory` with huge wordlist and high number of forks"
I got access to an unused machine with 512Gb of memory and 96 threads. I have non-openmp build. When I use `--fork=96` with rules and a huge wordlist (like HIBP cracks), I get messages like the following:
[code]

Wordlist without rules works well.

Preparations:
[code]

Example of failure. There were 8 `mem_alloc()` lines, 29 `DONE` lines:
[code]

`--dupe-suppression=0` does not help.

`--fork=65`

[2022-05-02 15:37] solardiz commented on #5125
I _guess_ this crash is in libusb, and varies by libusb version. So most likely nothing we can do here - but this needs confirming.

Edit: well, maybe we can report (and ideally contribute a fix) to libusb upstream or/and to distro, if not fixed in the latest upstream nor the latest package in a supported distros.

[2022-05-02 15:40] solardiz commented on #5121
@sheeeeesh123 We don't normally use GitHub issues to provide user support, but let's keep your issue open for a while in case someone does feel like providing the support here. Your other option is to bring this up for discussion on the john-users mailing list.

[2022-05-02 15:45] solardiz commented on #5124
@MoorDoor We don't normally use GitHub issues to provide user support (we use them to track problems in our software), and besides you're not even asking for support - you're asking for someone to do the job for you. If you need this for legitimate business, please feel free to request this as a paid service from Openwall (not cheap, and success is far from certain). Otherwise you're most likely o

[2022-05-02 15:45] #5124 closed, assigned to nobody

[2022-05-02 15:53] AlekseyCherepanov commented on #5125
Backtrace from gdb:
[code]

I tried ASan build and it did not give line number for `ztex_scan_new_devices` too.

[2022-05-02 16:02] AlekseyCherepanov commented on #5125
I added `-g` to `CFLAGS` for `ztex` files.
[code]

Now I have a pretty crash and backtrace:
[code]

[code]

[code]

So it is not in libusb and it can be handled in john.

[2022-05-02 16:09] solardiz commented on #5125
OK, then please create a PR. Thank you!

[2022-05-02 16:28] solardiz commented on #5126
I thought this would be some kind of integer overflow, but I don't see that in our latest code. Puzzling.

[2022-05-02 17:30] solardiz commented on #5121
Now answered here: https://www.openwall.com/lists/john-users/2022/05/02/4

[2022-05-02 17:30] #5121 closed, assigned to nobody

[2022-05-03 20:16] magnumripper commented on #5126
Just a quick comment without yet trying to understand the whole issue: The code path is the exact same for MPI as for `--fork`. If running under MPI, we have (up to) 96 different machines while a `--fork` run is all on one machine. We don't really know which it is, so some decisions may end up suboptimal for the actual situation.

[2022-05-06 17:29] AlekseyCherepanov commented on #5126
I played with `--mem-file-size=`. My guess about the logic: size of dictionary is divided by number of forks, after that if result is below value for `--mem-file-size=` then the whole file is loaded into memory. The logic seems wrong.

Default is 150 MB:
[code]

Respective expression in `options.c` and constant in `params.h`:
[code]

It describes the difference between `--fork=65` (above the limit

[2022-05-06 17:32] AlekseyCherepanov commented on #5126
So a lower value for `--mem-file-size=` is a workaround for the problem.

[2022-05-06 17:35] solardiz commented on #5126
Aleksey, per what you wrote it looks like the size of a would-be portion of a wordlist is compared against the threshold even when the whole wordlist would then be loaded. If so, that's the logic error - we should be consistent in what size we compare and what size we load.

[2022-05-06 17:47] AlekseyCherepanov commented on #5126
I agree that the logic error should be fixed. I meant a lower value for `--mem-file-size=` (e.g. `--mem-file-size=1`) might be a suitable workaround for user with such problem before the real fix.

[2022-05-07 19:05] AlekseyCherepanov commented on #5072
I've sent a pull request to john-samples with output from tcplay.

tcplay reports that tc-hackthis, TC-Volume-2 (normal and hidden) use cipher cascades. It looks like they are not implemented in john.

Also I could not crack TC-STD-Volume. It is sha512 + serpent. It can be cracked with `--disable-simd` build. Both sha512 and serpent work in self tests with other algos.

[2022-05-07 20:54] AlekseyCherepanov commented on #5072
Password of length 64 causes crash under ASan. `crypt_all()` uses buffer with length 64 and `strncpy()` to copy there, while `apply_keyfiles()` passes this buffer into `strlen()`.

[2022-05-07 21:09] solardiz commented on #5072
@AlekseyCherepanov Looks like you now use this issue for anything TrueCrypt, and that makes it hard to track individual bugs. Your latest two comments here look to me like each is reporting a different bug, and if so they should be separate issues - will you open them? Also, is the original issue here perhaps fixed by now - and if so will you please close it? Thank you!

[2022-05-07 21:27] solardiz commented on #5126
Maybe fix (untested):

[code]

I don't understand why we have this depend on `mem_map` like that, but that's a separate issue.

[2022-05-07 21:59] AlekseyCherepanov commented on #5072
The original issue is not ready: the same changes should be ported onto `truecrypt-opencl` format. But indeed, now I know that non-crackable samples are not related to my changes. I intend to fix everything easy and open issues for everything else.

Support for cascaded ciphers is discussed in #1876.

[2022-05-08 10:39] AlekseyCherepanov commented on #5072
Keyfiles are applied onto `inbuffer` corrupting candidates given to the format.

[2022-05-08 11:08] solardiz commented on #5072
@AlekseyCherepanov Well, perhaps you should open an issue for "Password of length 64 causes crash under ASan" and another for "could not crack TC-STD-Volume. It is sha512 + serpent. It can be cracked with --disable-simd."

[2022-05-08 11:09] solardiz commented on #5126
@AlekseyCherepanov Can you give my patch above a try, repeating the same tests you ran previously? Thank you!

[2022-05-08 15:47] AlekseyCherepanov commented on #5126
It seems ok:
[code]

[2022-05-08 16:40] solardiz commented on #5126
Thanks, Aleksey. I think I'll also fix the off-by-one and create a PR.

[2022-05-08 17:22] AlekseyCherepanov commented on #5072
Everything got fixed. I close the issue.

[2022-05-08 17:22] #5072 closed, assigned to AlekseyCherepanov

[2022-05-08 18:10] AlekseyCherepanov commented on #1876
BTW in case of changing format of ciphertext and `truecrypt2john.py`, consider that it is possible to provide precomputed `kpool` instead of keyfiles in ciphertext.

I cannot say that it would be better for usability: user can enroll any keyfiles to a volume. With explicit names of keyfiles, user can distinguish ciphertexts. But for this purpose, list of filenames could be inserted into GECOS.

[2022-05-08 21:01] AlekseyCherepanov commented on #5032
I renamed the issue because all above crashes in existing formats were fixed in #5047.

Remaining problems:
- I would prefer to encode fields separately and check them strictly.
  - Current implementation decodes hex multiple times, so it would be tricky to encode `$HEX$` to be a part of salt.
  - Similarly it should be tricky to pass `$$U` as a part of username or salt (not sure which one).
- For

[2022-05-10 06:44] magnumripper commented on #5126
Long ago, we actually loaded the wordlist (or our share of it) in a contiguous block of memory, then (if rules in use) we made an array to immediately find any word by index.

Nowadays, we normally memory map the wordlist instead (so any number of forks will share the one same copy in memory) but we still do that indexing thing - and it's assumably the latter that runs out of memory in this issue.

[2022-05-10 09:03] AlekseyCherepanov commented on #5126
`8000000008` in the message is `8 * (1G + 1)` while the wordlist has 1G lines. But `s1g.txt` is not mapped, while `s100m.txt` is mapped (I don't have `strace` there, so I checked `/proc/<pid>/maps`).

Index can be shared across forks too, cannot it?

[2022-05-10 09:33] AlekseyCherepanov commented on #4779
Yet pre-scanning is done for wordlists under some circumstances (at least all wordlist+rules cases). `words` variable in `wordlist.c` is the index for candidates. And according to logs, it is certain that wordlist is read fully before cracking to count lines and calculate size of index. (I found it due to #5126.)

[2022-05-10 09:57] AlekseyCherepanov commented on #4779
But prince+rules case is not suitable to warn about bad lengths before cracking. Some analysis on rules might be applied: it might be possible to identify rules that definitely do not affect length, definitely increase length, sometimes increase, same for "decrease", and warn respectively. But then there is external mode that is harder to analyze automatically.

It seems more realistic to handle i

[2022-05-10 11:07] AlekseyCherepanov commented on #4032
We really need some user-friendly reporting of lengths limits affecting actual cracking. Because it is hard to realize that john cannot crack something due to its limits. It is harder to realize the problem when some hashes in a set get cracked and only some fail.

If something does not get cracked by attack, user would think that attack is not good and does not contain password. Then user would m

[2022-05-10 11:22] solardiz commented on #5126
I think in Aleksey's case with 8000000008 the system ran out of memory because both the wordlist was read into memory (read, not mapped) by each node, and the index was created by each node.

Yes, but we reach the code that creates it only after we've already forked. So this is not easy to implement now, and I doubt we even need that index - instead (after we release 2.0) we should rework `wordlis

[2022-05-10 11:23] solardiz commented on #4779
FWIW, the "all" in "at least all wordlist+rules cases" is wrong - for huge wordlists, we do not currently pre-scan/preload them.

[2022-05-10 11:28] solardiz commented on #5032
If so, I think there's no reason to treat the remaining aspects of this issue as a priority, so I've just removed the milestone.

[2022-05-10 11:39] AlekseyCherepanov commented on #4032
User with some assumptions might try to use `--max-length=` option to increase the limit (based on real story). There is a check for that in john. But for nt, 81 is used for utf-8. Maybe a warning should be emitted when value for `--max-length=` is above the worst case limit.

[code]

There is a bug with truncation vs reported info.

The same might be needed for truncated candidates.

[2022-05-10 11:54] #5125 closed, assigned to nobody

[2022-05-10 12:04] AlekseyCherepanov opened #5130 "change Makefile.in in ztex subfolders to follow the same style"
https://github.com/openwall/john/pull/5129#issuecomment-1122289902

[2022-05-10 13:08] AlekseyCherepanov commented on #4779
I rechecked. You're right.

[code]

[2022-05-10 16:56] AlekseyCherepanov commented on #5126
Oh, indeed it looks like the not mapped wordlist is not shared across forks. I tried 300M, 310M and 320M candidates with `--fork=96` and high `--mem-file-size=` to load the whole dictionary: 300M was ok, 310M failed one time, 320M failed reliably.

Size of 320M is 3088888898. The wordlist loaded by each fork plus index is slightly over the capacity. While index alone is not close to the capacity.

[2022-05-10 19:09] #5126 closed, assigned to nobody

[2022-05-10 19:10] magnumripper commented on #5126
For the case where each node indexes only its own words, there's nothing to share. Not sure why this did not happen here? The code is a mess and it handles too many different situations: Rules or not, memory map or not, index or not, loopback or not. Node splitting the words **or** the rules.

Also, the MPI case use [nearly] the exact same code path as fork. Under MPI we can't share any memory bet

[2022-05-10 20:44] AlekseyCherepanov commented on #5000
`--loopback` can use fifo as argument. But it opens the fifo twice.
[code]

So it seems fifos should be prohibited for loopback.

[2022-05-12 22:14] AlekseyCherepanov commented on #5000
Both problems were fixed. I close the issue.

[2022-05-12 22:14] #5000 closed, assigned to AlekseyCherepanov

[2022-05-13 09:56] nekromoff opened #5134 "zip2john output not accepted by john, in snap package of 1.9.0-jumbo-1"
Attach details about your OS and about john, including:
- The output of `./john --list=build-info`.
[code]
- The command line you are using.
[code]
before that hash extracted using:
[code]

[2022-05-13 10:36] solardiz commented on #5134
@nekromoff Can you show the output of `wc hash`? In general, you're likely to have better luck by building the latest JtR as found in this repo from source, and in fact we normally expect issues here to be opened against our latest code only.

@claudioandre-br Why is this reporting 1.9.0-jumbo-1 and not a newer git revision, I thought you updated the snap package since?

[2022-05-13 11:49] nekromoff commented on #5134
`$ wc hash`
```1   3 405 hash```

I am sorry about the version, I understand I am reporting regarding older release. This is the one I can get my hands on via snap. Otherwise I would have to compile. That I might do.

PS: I have tried installing the `edge` channel version:
[code]

But the same result:
[code]

Info:
[code]

[2022-05-13 13:39] ghost commented on #5134
@nekromoff you should run `john-the-ripper.zip2john ~/xxxx.zip > hash` again using the latest/edge `john`.

[2022-05-13 13:45] ghost commented on #5134
Because one must specify he/she needs the edge version. E.g.
[code]

Otherwise, it is the stable/released version of john.

We can change that, I mean the default will be the bleeding version from git, but this is something that requires acknowledgment from the dev team, at least.
*****
IMO. No, a new release is a better approach.

[2022-05-13 13:49] nekromoff commented on #5134
I did. Same result, unfortunately.

[2022-05-13 13:51] nekromoff commented on #5134
Sorry, I tried again and now it works! Thanks!

So `Edge` works, `1.9.0-jumbo-1` does not.

[2022-05-13 13:51] #5134 closed, assigned to nobody

[2022-05-13 13:51] ghost commented on #5134
As expected. Zip tools changed a lot since jumbo-1.

[2022-05-13 13:53] nekromoff commented on #5134
Unfortunately, other users might encounter this issue as well since the latest stable version is `1.9.0-jumbo-1` for Snap (or even older versions for standard deb packages).

[2022-05-13 14:28] solardiz commented on #5134
Of course, it'd be better to have a new release, but while we don't I think it's better to change the default for snap to use edge - perhaps something that's easy for you to do now? Thanks!

[2022-05-13 15:32] ghost commented on #5134
It will be 52a9bedb58ecc2685518523549ff699a07d3abb9.

All, please refrain from committing for the next few hours (unless it's a desired fix or something).

See also: https://github.com/openwall/john-packages/pull/21.

****

Done, we must warn/announce to users.

[2022-05-13 21:48] ZorahScope commented on #4637
I've run into this exact same error. Is there any suggestions on how to move forward? I honestly have no clue where to start.

Trying to build this so I can continue my course on PentesterLab
https://pentesterlab.com/exercises/unix_20/videos

[2022-05-13 22:36] ghost commented on #4637
It is safe for you to ignore them, they are just warnings.

[2022-05-14 11:41] solardiz commented on #5134
Thank you, @claudioandre-br! Do you have specific suggestions on that? Why "warn" the users - warn them of what?

[2022-05-14 11:44] solardiz commented on #4637
@AlekseyCherepanov If you're to work on this, IIRC this is currently reproducible on our "well" after `scl enable devtoolset-11 bash`. Thanks!

[2022-05-14 14:10] ghost commented on #5134
For multiple users, John will be updated automatically (and all behavior changes introduced in the last 3 years). I feel it's best to be, shall we say, transparent about it.

[2022-05-14 17:58] solardiz commented on #5134
That makes sense. Will you post to john-users, @claudioandre-br? Thank you!

[2022-05-14 21:08] solardiz opened #5135 ""make generic" broken"
f2a53fa3cbae8341f02a2f76caf209ed1bf453be broke `make -f Makefile.legacy generic`. This fixes it:

[code]

Found while trying to build for an arch not yet recognized by our `configure`... to fix which we need to make our `configure.ac` friendly to newer autoconf.

[2022-05-14 21:18] solardiz commented on #5135
There's also:

[code]

So maybe:

[code]

[2022-05-14 21:19] solardiz commented on #5135
And there's also this:

[code]

@AlekseyCherepanov You want to fix this?

[2022-05-14 21:33] AlekseyCherepanov commented on #5135
No, at least not now.

[2022-05-15 12:38] sv7ter opened #5136 "Homebrew missing unshadow"
I have succesfully installed John-jumbo(Mac os Monterey, M1), via Brew. I am able to use it, BUT unshadow is not included. I am using unshadow from the CMD line in a terminal box, with the correct required arguments/options. But it is not recognized as a command (whlie john is). Like: zsh: command not found: unshadow. What is wrong?

Build info:

Version: 1.9.0-jumbo-1
Build: darwin21.1.0 64-bit a

[2022-05-15 12:59] solardiz commented on #5136
@sv7ter This looks like a maybe-issue with the Brew package, which we - contributors to this repository - are not involved in maintaining, and are not familiar with. So we wouldn't be able to help, and you might want to report the issue to maintainers of the package instead.

One thing you could want to check, though, is whether `unshadow` is installed but is just not in search `PATH` (in which ca

[2022-05-15 12:59] #5136 closed, assigned to nobody

[2022-05-15 13:08] sv7ter commented on #5136
Thanks for answering solardiz.
You are right, i do not need it for my Mac, but i need it for doing (security/pentest) exercises. Everything is working with john, only the unshadow part. I will check with Brew. If i do a john, this is displayed, so that's why i started here.

John the Ripper 1.9.0-jumbo-1 [darwin21.1.0 64-bit arm ASIMD AC]
Copyright (c) 1996-2019 by Solar Designer and others
Homepa

[2022-05-15 13:13] solardiz commented on #5136
Anyway, I just took a look at:

https://github.com/Homebrew/homebrew-core/blob/master/Formula/john-jumbo.rb

which has this:

[code]

So it's a deliberate decision by the package maintainer(s) not to provide tools other than `john` in default search path. Looks like you'd need to run them via full paths, so e.g.:

[code]

That's fine, but maybe could be documented by the package somewhere - e.g.,

[2022-05-15 13:19] sv7ter commented on #5136
Wow, thanks alot , that solved it...!!!!

[2022-05-16 12:59] pradkrish commented on #4993
Hello, is this issue still open? I am new to the project and willing to give this one a go, happy to get some guidance.

[2022-05-16 13:16] solardiz commented on #4993
@pradkrish Yes, the issue is still open as per @magnumripper's comment above, and we'd appreciate contributions to the project. Please feel free to work on this one - which I guess means implementing support for processing many keys at once or at least printing a warning when multiple keys are seen.

We also have many other open issues where we'd appreciate help.

[2022-05-16 14:58] e2002e opened #5138 "-show option misssing hash"
The show options does output only the password but not the hash that encodes it.

John the Ripper 1.9.0-jumbo-1+bleeding-3075053a5 2022-05-15 20:25:33 +0200 OMP [linux-gnu 64-bit x86_64 AVX2 AC]

[2022-05-16 15:37] magnumripper commented on #5138
If you format your hashes like this:
[code]
then the user name will be shown with `--show`.

See also #5074

[2022-05-16 16:00] solardiz commented on #5138
@e2002e What you describe is as [it was] intended. We can use #5074 to discuss possible changes in what to show.

[2022-05-16 16:00] #5138 closed, assigned to nobody

[2022-05-16 16:15] pradkrish commented on #4993
Thanks. I would like to discuss the solution before beginning to work on it.

I am assuming we need to create one hash per key.  After emitting a warning, shall we prompt the user to provide multiple hash filenames so we can save one hash per file. Or, If the user has provided only one hash file, we create as many hash files as the number of keys? Do you have any suggestions?

[2022-05-16 16:29] solardiz commented on #4993
We generally output the hashes to stdout - not explicitly to files - and this implies just outputting all hashes in one stream. The user of the script will generally have redirected stdout to a file. If so, they'll get all the hashes in one file, one hash per line. That's fine.

Also, if we do correctly process multiple keys and output multiple hashes, there's no need to print any warning - I only

[2022-05-16 20:57] AlekseyCherepanov opened #5139 "gcc 10 --enable-asan warnings"
gcc 10 gives warnings about `snprintf`. It does not give warnings like gcc 11 in #4637.

[code]

[code]

[2022-05-16 21:07] solardiz commented on #5139
Not all gcc 10 give these warnings - IIRC, my build of gcc 10.2.0 on "super" does not produce any warnings when building jumbo.

[2022-05-17 11:23] pradkrish commented on #4993
is it safe to assume that the key file may contain multiple key types, that is, one could be RSA, another could be DSA etc.?

[2022-05-17 11:35] solardiz commented on #4993
@pradkrish Yes, I guess we should support arbitrary combinations of key types.

FWIW, @mbrownnycnyc's `kay_id_rsa.txt` attached above contains multiple RSA keys (only RSA), but somehow the first one has missing linefeeds - maybe is just broken in that way, and shouldn't be correctly processed by us, but maybe we should then print warnings about keys/lines that look wrong and could not be processed

[2022-05-17 13:57] magnumripper commented on #4993
Perhaps it'd be a good idea to prefix the output hash(es) with a virtual login field? For a single hash output, it could be just the input filename as in `kay_id_rsa.txt` and for 2nd hash on it could be suffixed by an index such as `kay_id_rsa.txt_2` and so on.

[2022-05-17 14:08] magnumripper commented on #5139
Perhaps it's more about build options? My Homebrew gcc 10.3.0 emits zero warnings unless I enable ASan.

[2022-05-17 15:26] solardiz commented on #4993
Prefixing with `filename-index:` makes sense to me. Should also avoid/replace any `:` embedded in the filename first, like we already do in some other scripts.

[2022-05-17 15:30] solardiz commented on #5139
Could be.
@AlekseyCherepanov Did you use any options when you got these warnings?

IIRC, we first saw the warnings about `$$F` for some Fedora builds, and then they disappeared. I don't know/recall if those builds used any non-default options or not. My thinking at the time was that this was some gcc snapshot bug that didn't get into a gcc release - but now this seems to be something else.

[2022-05-17 15:40] AlekseyCherepanov commented on #5139
Indeed I get these warning with `--enable-asan` only. I don't get them in a regular build.

[2022-05-17 17:32] pradkrish commented on #4993
I am also refactoring the file `ssh2john` while working on this bug. To ensure I am not changing any behaviour, I would like to run some tests while refactoring. I could be wrong here but I don't see any tests specific to this function, is that the case?

[2022-05-17 17:56] solardiz commented on #4993
Please keep any refactoring in its own commit(s), separate from functional changes.

Unfortunately, we don't automatically test the `*2john` tools in our current CI setup (something you can contribute later). For now, you'll need to manually test the tool before vs. after your changes using sample inputs from https://github.com/openwall/john-samples/tree/main/SSH and I guess also from @mbrownnycny

[2022-05-18 09:05] magnumripper commented on #5135
Apparently the problems in `wordlist.c` is due to us defining `_POSIX_SOURCE` (which we do for `fileno(3)`). Also defining `_BSD_SOURCE` happens to fix it but that's just from trial'n'error (supposedly only needed for `lstat()`). And that macro is deprecated.

[2022-05-18 09:29] magnumripper commented on #5135
Using `#define _XOPEN_SOURCE` instead of `_POSIX_SOURCE` also works, but I'm not feeling confident it's a correct fix on other platforms. Actually I have no idea just how to know *what* would be a canonical fix?

[2022-05-18 09:49] magnumripper commented on #5135
A non-generic build apparently sets `-D_POSIX_SOURCE -D_GNU_SOURCE -D_XOPEN_SOURCE=600` globally.

[2022-05-19 10:40] pradkrish commented on #4834
Hello, I would like to give this a go, if no one else is working on it. It's a lot of new concepts for me, I will be happy to get a break down, so I can solve some simpler problems first before moving on to more complicated ones. This can help me get familiar with the code base.

`Notice the sha256 there. For a key generated with older OpenSSL and crackable by current JtR, there's sha1 in that pla

[2022-05-19 12:21] solardiz commented on #4834
Yes. You can do it in two ways/steps:

1. Minimal initial: Have `pem2john.py` report an error (and not produce a "hash") for anything other than `sha1`.

2. Better suited for further steps: When encountering anything other than `sha1`, have `pem2john.py` switch to a new output encoding with this extra field, and have anything other than `sha1` initially rejected by the "format" in `john` proper (p

[2022-05-20 16:43] #4993 closed, assigned to nobody

[2022-05-20 16:45] #5135 closed, assigned to nobody

[2022-05-20 17:29] AlekseyCherepanov commented on #4637
Yes, it is reproducible on `well`. Thanks!

It looks like there is copy-pasting mistake in `ripemd.c`.

`sph_ripemd.h`:
[code]

`sc->val` is passed by default as second argument to `RFUN`. `ripemd.c` declares it as using 5 ints, while only 4 are actually used:
[code]

Replacing 5 with 4 removes the warning. There are 2 more places for similar replacements.

[2022-05-20 19:22] AlekseyCherepanov commented on #4637
Other group of warnings are caused by universal interface of `pkcs12_pbe_derive_key_simd()`. This function either calls its `_sha256`/`_sha512` variants or calls sha1 variant after conversion to utf16. Callers use buffers of specific sizes `SSE_GROUP_SZ_SHA256`, `_SHA512` or `_SHA1`. The generic interface uses size `SIMD_MAX_GROUP_PFX`.

Caller in `bks_fmt_plug.c` (`crypt_all`):
[code]

`pkcs12_pl

[2022-05-20 21:19] pradkrish commented on #4834
Now that the minimal initial is done, I would like to continue working on the next step. As I said before, a lot of new concepts for me here, apologies if it sounds too basic :)

`When encountering anything other than sha1, have pem2john.py switch to a new output encoding with this extra field,`

Is the encoding for output that is not `sha1` already implemented? Or is implementing other encodings

[2022-05-20 21:37] AlekseyCherepanov commented on #682
Just for the record because I spent some time to understand the option...

I noticed the following line in output from `./configure`:
[code]

Part of `config.log` on gcc 8:
[code]

So I thought that the option was renamed. But then I learned that `-Qunused-arguments` is [an option for clang about command line arguments](https://clang.llvm.org/docs/ClangCommandLineReference.html).

[2022-05-21 14:49] AlekseyCherepanov opened #5144 "truncation vs rejection by NT and other formats with utf-16"
It was found in #4032. NT format rejects some candidates and truncates others:
[code]

So maximum length in bytes for utf-8 is 81 bytes (`27 * 3`). NT format rejects everything longer than 81 bytes. But candidates shorter than 81 would get truncated to 27 utf-16 chars.

I guess other formats with internal encoding conversion have similar behaviour.

The info is not accurate. Also format hashes mor

[2022-05-21 14:52] AlekseyCherepanov commented on #4032
I extracted the problem with truncation in NT as #5144.

NT truncates some candidates inside the format. So it might be a problem implementing such stats.

[2022-05-21 18:21] #4637 closed, assigned to AlekseyCherepanov

[2022-05-21 18:36] solardiz commented on #5144
I tentatively labeled this issue "enhancement", but for that we need to describe the desired behavior - I guess it'd be consistent rejection of any over-long inputs?

As it is, this issue is just a complaint about a shortcoming, yet the described behavior isn't exactly a "bug".

[2022-05-21 18:44] solardiz commented on #4834
No, but it should be the same as for `sha1` except that it'd need to indicate that it's a new one and it should have a field for `prf algorithm`.

Yes.

Right now, we output strings that start with `$PEM$1`. In the non-sha1 case, let's output `$PEM$2` instead and follow that by the extra field, so e.g. `$PEM$2$sha256`, and keep the rest of the string formatting the same.

Yes.

[2022-05-21 20:52] pradkrish commented on #4834
Is `640` the expected ciphertext length for sha1? If yes, I would love to know why.

[2022-05-21 22:47] solardiz commented on #4834
No, there isn't an "expected ciphertext length for sha1". 640 is a possible one, some others are also possible (see the test vectors we have in `pem_common_plug.c`), and this isn't directly related to the `prf algorithm` in use, although there might happen to be a correlation.

[2022-05-21 23:45] solardiz opened #5145 "PEM and SSH format enhancements"
`pem_common_plug.c: pem_decrypt()` decrypts the entire ciphertext, then uses a padding check for early-reject. It could instead start by decrypting only the last block (using the previous block as IV), do the padding check, and only if padding looks good (yet insufficiently large - see below) proceed to decrypt the remainder of the ciphertext (all but the already-decrypted last block) and do check

[2022-05-21 23:58] solardiz commented on #5145
Some of the above also applies to the SSH formats (CPU and OpenCL), which have similar padding and ASN.1 checks.

[2022-05-22 21:19] AlekseyCherepanov opened #5147 "simple fuzzer is weak against len+data fields"
#5086 fixed overflow in PEM format. Built-in simple fuzzer could not find this problem.

[code]

Big overflow gets caught by ASan early. But small overflow hits later because overflow happens inside structure.

`pem_common.h`:
[code]

`pem_common_plug.c`:
[code]

The overflow happens in the `blob` field. But it requires respective `blog_length` to happen.

Overflow happens decoding hex in `pem_get

[2022-05-24 10:11] solardiz commented on #4834
The recent PR said it "partially fixes" this issue, but GitHub doesn't parse the word "partially", so it closed the issue. I'll reopen for us to remember to fix the issue fully.

[2022-05-24 16:19] AlekseyCherepanov opened #5148 "`PerRuleStats = Y` hangs due to dupe suppression"
I tried `PerRuleStats = Y` a bit. By default, it hangs. Disabling dupe suppressor helps.

Preparations:
[code]

Short attack with `PerRuleStats = Y` hangs after the following output:
[code]

It works well with `--dupe-suppression=0`.

John is fresh:
[code]

[2022-05-24 19:03] pradkrish commented on #4834
Now I am ready for hopefully the last part of this issue. This might be both interesting and challenging. This is what I gather after snooping around in the code a little. `pem_fmt_plug.c` calls `pbkdf2_sha1(...)` and there is an equivalent function `pbkdf2_sha256(...)`. Maybe after parsing what prf encoding has been used, we store it in `self.params` and call one of the above functions...? I am h

[2022-05-24 19:07] solardiz commented on #4834
@pradkrish Can you just try to research this on your own, without me (or someone) doing it for you? The way the two of us worked on the previous PR isn't practical long-term - it's 90% overhead and 10% progress - so can we already start to improve the work efficiency now? I understand you might still need someone else to take a look and provide guidance on specific sub-issues, but please at least

[2022-05-24 19:10] solardiz commented on #4834
As we've approached the more serious part of "the project" here, to confidently provide guidance to you I would have needed essentially to do the work, then somehow instead of simply creating a PR myself guide you through arriving at the same. That feels inefficient. And if I start giving advice without fully thinking "the project" through, we'd be going through lots of re-works like we did on the

[2022-05-24 19:23] solardiz commented on #5148
Good catch! I never tested the combination - I first worked on `PerRuleStats` and optimizing the rules with it, then on the suppressor. I did think of possibly re-optimizing the rules afterwards - the optimal order is probably somewhat different with dupe suppression - but it depends on efficiency of the suppressor, which in turn depends on wordlist size and suppressor memory allocation size. Yet

[2022-05-24 19:29] solardiz commented on #5148
This fixes the issue for me:

[code]

@AlekseyCherepanov Please test. Thanks.

[2022-05-24 19:36] solardiz commented on #5148
[code]

Does everyone agree? If so, that should probably be a separate commit.

[2022-05-24 19:44] solardiz commented on #5148
Also, I just realized that my `crk_process_key("injected wrong password");` was going through potential stacked rules, and the new `direct` one does as well - it's not that direct. That's not how I intended it, but OTOH are the stats reasonable when using stacked rules anyway? Well, maybe.

[2022-05-24 19:55] solardiz commented on #5148
Putting this all together:

[code]

[2022-05-24 20:14] pradkrish commented on #4834
I agree, the previous PR got overly lengthy, not proud of it. This is a completely new and unrelated field for me, which could be one reason. I will dig around more on my own or pick some other low hanging fruits to learn more about this code base.

[2022-05-25 07:21] magnumripper commented on #5144
This may be a dupe of #4032 and https://github.com/openwall/john/issues/4032#issuecomment-504229755 explains some of the complexity involved.

[2022-05-25 12:46] magnumripper commented on #5148
Looks fine to me

[2022-05-25 18:05] AlekseyCherepanov commented on #5148
It is possible to combine `--no-log` with `--log-stderr`. Then stats could be visible, but the check for `FLG_NOLOG` disallows it.

[2022-05-25 18:15] AlekseyCherepanov commented on #5148
I intended to say that `--stdout` does not need stats because there could not be guesses. But stats are useful without guesses too because some rules reject some passwords.

Dupe suppression works:
[code]

Disabled dupe suppression (`=0a` would be different because sequential `asdf` would be reduced):
[code]

[2022-05-25 19:41] AlekseyCherepanov commented on #5148
`1g 0p` stats:
[code]

While `injected wrong password` is not processed by stacked rules and other filters, it can be modified by in-format mask, e.g. gpu-side mask.
[code]

Longer mask causes buffer overflow (`?w + 88 'a' + [0-9]`):
[code]

[2022-05-28 18:27] solardiz commented on #5148
How do we arrive at this one? The mask should only append to the underlying mode's word.

Does this mean mask mode assumed it had limited the underlying mode's maximum password length to never overflow - an assumption which we violated by passing a fixed-length password here? I wonder if we should possibly switch to using empty string in place of the wrong password - and accept that it might resul

[2022-05-28 19:33] solardiz commented on #5145
Confirmed by changing `0` to `-1` - it still passes self-tests.

[2022-05-28 21:55] AlekseyCherepanov commented on #5148
I guess placeholders in mask are applied on top of a template in a separate step. Passing password directly makes `injected wrong password` the template without proper initialization, so placeholders are misplaced.

Proper initialization would catch that placeholders are too far (notice lack of `=0*` rule and `stats.conf`):
[code]

Instead of disabling the stats, it might be more reasonable to dis

[2022-05-28 22:37] solardiz commented on #5148
Performance would be a lot lower, up to and beyond the point where it's better to use a non-OpenCL format.

I think we should merge my proposed PR as-is for now.

Later maybe replace `PerRuleStats` with `--rule-stats` or/and add printing of warnings that rule stats are enabled and have performance impact, as well as of rule stats having been disabled because of mask.

[2022-05-29 18:09] #5148 closed, assigned to nobody

[2022-05-29 18:25] claudioandre-br commented on #5139
I would like to hijack this as "remaining compiler warnings". We only have a few.

clang version: 13.0.0 (git@github.com:llvm/llvm-project.git llvmorg-13.0.0-0-gd7b669b3a303) (gcc 4.2.1 compatibility)
[code]

gcc (GCC) 11.3.0
[code]

[2022-05-29 18:39] claudioandre-br commented on #5139
Below a non-SIMD build.
[code]

[2022-05-29 18:44] solardiz commented on #5139
I suggest that you don't - please open a separate issue. Otherwise it'll be harder to revisit these later, and we might not fix all of these warnings right away. Thanks!

[2022-05-29 18:49] ghost opened #5150 "gcc 11.2 warnings"
Below a non-SIMD build.
gcc (GCC) 11.2.1 20220127 (Red Hat 11.2.1-9)

[code]

[2022-05-29 18:51] ghost opened #5151 "gcc 11.3 warnings"
gcc (GCC) 11.3.0

[code]

[2022-05-29 18:52] ghost opened #5152 "clang 13.0 warnings"
clang version: 13.0.0 (git@github.com:llvm/llvm-project.git llvmorg-13.0.0-0-gd7b669b3a303) (gcc 4.2.1 compatibility)
[code]

[2022-05-29 19:09] AlekseyCherepanov commented on #5150
Most probably I introduced that. Anyway I am familiar with this code. I'll fix. Thanks!

[2022-05-29 19:36] AlekseyCherepanov commented on #5150
That's a false warning:
[code]

In non-simd build `inner_batch_size` is 1 always, so I can replace it with a constant. It solves the warning.

Interesting that `pbkdf2_ripemd160` and `pbkdf2_whirlpool` do not yield such warning.

[2022-05-29 21:07] #5150 closed, assigned to nobody

[2022-05-29 21:08] solardiz commented on #5151
Looks like an actual bug to me, not just a warning. glibc has workarounds for things like that, but some other libc's might not, and for chars with 8th bit set would index a ctype array out-of-bounds.

[2022-05-29 21:10] solardiz commented on #5152
I think we did not intend to depend on that functionality anywhere in this tree. So it's a portability bug.

[2022-05-31 18:20] AlekseyCherepanov commented on #5150
Before the fix, this warning would happen on gcc 8.3.0 and 10.2.1. So I could catch it testing my code for #5127. But this warning is specific for non-simd + openmp build. Without openmp, it does not occur.

[2022-06-01 13:02] ghost opened #5154 "gcc 12 warnings"
gcc (GCC) 12.1.1 20220507 (Red Hat 12.1.1-1)

I updated (some) CI builders to Fedora 36 (it is a `--disable-openmp` build)

[code]

[2022-06-01 13:10] ghost commented on #5154
Also emit warnings for  `--enable-openmp-for-fast-formats --enable-simd=avx2`

[2022-06-01 19:57] hsingll opened #5155 "SAPH hash with 32-byte salt not crackable"
I pull sap password hashes from usr02 table,and convert it to john password hashes file using sap2john.pl tool.

but when I run command `john password.txt --wordlist='wordlist.txt' --format=sapg`,no password hash is readed.only output`No password hashes loaded`.
it really confuse me.
file: [password.txt](https://github.com/openwall/john/files/8818431/password.txt)

Attach details about your OS and

[2022-06-02 10:14] magnumripper commented on #5155
First, they are SAPH hashes, not SAPG. Just leaving out the `--format` option will usually auto-select correct format.

But also, the input file is including some quotes `"` that need to be edited out. Perhaps a bug in `sap2john`? Drop them, and the hashes will load.

[2022-06-02 10:19] magnumripper commented on #5155
I can't spot any problem in `sap2john.pl` - I guess the original input file somehow had the erroneous quotes. Maybe `sap2john.pl` should trim them away.

[2022-06-02 13:03] hsingll commented on #5155
Thank you!.
it didn't show  "No password hashes loaded" without quotes `"`.
Could it be caused by my wrong steps?
1.I download usr02 as xlsx document. [Original file.xlsx](https://github.com/openwall/john/files/8823921/Original.file.xlsx)
2.I save original file as Tab delimited Text (.txt) .This is because `sap2john.pl` can't read the xlsx file when I test.[output.txt](https://github.com/openwall/

[2022-06-04 19:29] solardiz commented on #5155
@hsingll Why did you close this issue? Re-opening at least until we know the reason. Thanks.

[2022-06-05 00:36] frank-dittrich commented on #5155
You are not supposed to load the list as xlsx dorcument. Just download it as plain text.

[2022-06-05 11:01] hsingll commented on #5155
Because I understand it's not a software problem, it's something I'm doing wrong.
I shouldn't download xlsx and save as plain text, I should download as plain text.

As for the second question, I think it may be because my mbp computing power is not enough.
With SHA-512 salt and 15000 iterations, it didn't crack even if the correct password is on the first line of wordlist.
But with SHA-1 salt and

[2022-06-05 15:38] solardiz commented on #5155
No, that can't be it. On a slower computer, this would merely take longer, not terminate without finding the password _if_ you do in fact have the correct password in the wordlist.

[2022-06-05 15:45] AlekseyCherepanov commented on #5147
Each string from a dictionary for fuzzing is inserted at different positions (at each position for short ciphertext, only before and after delimiters in very long ciphertexts). So the idea is to insert length, delimiter, hex blob of respective length, delimiter. It works but there are problems.

For `pem`, it turned out that the second delimiter should be `*` instead of its regular `$`:
[code]

"D

[2022-06-05 16:34] solardiz commented on #5155
So the issue is we only handle salts of up to 16 bytes, and this one hash has a 32-byte salt. A sub-issue is we fail to reject the unsupported salts. I have a patch half-ready.

[2022-06-05 19:31] #5155 closed, assigned to nobody

[2022-06-05 20:06] AlekseyCherepanov commented on #5147
4 crashes total (without opencl, ztex and a few formats with slow fuzzing or high memory consumption). But only 1 crash is related to length+data pattern. 2 crashes would happen with insertion of 200 plain digits too. And 1 requires 200 digits plus `$`s around.

I'll file a separate issue for the crashes.

[2022-06-05 20:22] AlekseyCherepanov opened #5157 "crashes under ASan from fuzzing: PBKDF2-HMAC-MD5, SSH, hdaa, scrypt, and others"
`ssh`:
[code]

`hdaa`:
[code]

`pbkdf2-hmac-md5`:
[code]

`scrypt`:
[code]

[2022-06-05 20:23] AlekseyCherepanov commented on #5147
#5157

[2022-06-06 15:31] AlekseyCherepanov commented on #5157
`wowsrp`:
[code]

`gpg`:
[code]

`nsec3`:
[code]

`vtp`:
[code]

[2022-06-06 15:43] AlekseyCherepanov commented on #5147
I tried to implement such approach: find number, increase it as possible length, add encoded blob after next char. I found 4 new crashes (added into #5157). Also it can find #5090, while previous approach could not.

But only 2 of new crashes are related to length+data. 2 other crashes would happen with insertion of `0`s repeated different times. Particularly I implemented threating length as hex

[2022-06-06 15:48] AlekseyCherepanov commented on #5147
This one is interesting: I used `strtoll` to get number, it cut long field in hex decoding it as number, then I enlarged next field, and such combo caused crash.

[2022-06-06 19:22] AlekseyCherepanov commented on #5157
`rsvp`:
[code]

`dynamic_15` (might be related to #5032):
[code]

`ike`:
[code]

`net-md5`:
[code]

`o10glogon`:
[code]

`o3logon`:
[code]

`SSHA512`:
[code]

[2022-06-06 20:15] AlekseyCherepanov commented on #5147
Because I saw a lot of additional crashes caused by plain insertion with unusual size instead of actual length+data mutation, I tried to implement insertion of different lengths. It gave 7 new crashes.

I tried all lengths up to 300 and then up to 20k with some stepping. `ike` is an illustration that stepping is not universal: `ike` crashes with field of length 4096, slight variations do not crash

[2022-06-07 22:19] SO-InformationTECH opened #5159 "Support for KDBX"
I am attempting to use Keepass2John to crack a KDBX file from a KeePass database that I forgot the password to.

The error I'm receiving states that "version 40001 is currently not supported". I am assuming this is because the software has not been updated to work with the new KDBX 4.1 version
![Command Line KDBX](https://user-images.githubusercontent.com/107079901/172492485-17d8670c-49e0-4bfe-921

[2022-06-07 22:20] SO-InformationTECH commented on #5159
I forgot to mention, I am running Kali Linux on a VirtualBox VM.

[2022-06-07 22:44] AlekseyCherepanov commented on #5157
`bitlocker`:
[code]

[2022-06-08 06:22] #5147 closed, assigned to nobody

[2022-06-08 06:28] solardiz commented on #5159
@SO-InformationTECH You're correct - this is currently unsupported. We already have #5097 for the desirable enhancement, so I'm closing this new issue as a duplicate of that one.

[2022-06-08 06:28] #5159 closed, assigned to nobody

[2022-06-08 12:39] AlbertVeli opened #5160 "mozilla2john.py: Add support for key4.db format"
## Description
The [mozilla2john.py](https://github.com/openwall/john/blob/bleeding-jumbo/run/mozilla2john.py) script included with john supports key3.db files but I noticed mozilla has switched to a new scheme and the new file is called key4.db (an SQLite 3.x database).

## Steps to reproduce
- Install for instance Firefox and set a **master password** (also known as **primary password**) for sav

[2022-06-08 17:41] AlbertVeli commented on #5160
I created a minimal [C-program](https://github.com/AlbertVeli/nss_test/) that only checks the master password for a profile. It uses the same libnss3 calls as the python program.

The C-program might be helpful if anybody else is trying to work this out too. I have not been able to jump into the PK11* functions yet with gdb. No debugging info available for those and for some reason I don't have th

[2022-06-08 21:19] AlbertVeli commented on #5160
After manually building libnss3-dbg and an hour of debugging I found out the magic happens in [sftkdb_CheckPassword()](https://github.com/nss-dev/nss/blob/master/lib/softoken/sftkpwd.c#L904).
The following sqlite query is issued against key4.db (if it has a master password set):

```SELECT ALL * FROM metaData WHERE id="password";```

This query returns two binary blobs, the first is the salt (20 b

[2022-06-09 19:16] e2002e opened #5161 "Opencl and Fedora 36"
I'm not sure whether it's a bug. Probably only a missing path due to new cuda versions, but opencl is not recognized.
I did follow [this procedure](https://developer.nvidia.com/cuda-downloads?target_os=Linux&target_arch=x86_64&Distribution=Fedora&target_version=35&target_type=rpm_locall) and can confirm that other softwares using opencl are working.
./configure finds the headers but not the librar

[2022-06-10 03:12] AlbertVeli commented on #5160
The ciphertext in item2 in the database is DER encoded. I managed to decode it online by pasting a hexdump of the 133 bytes [here](https://lapo.it/asn1js/).
Input:
[code]
Output:
[code]
It looks like this information is then used for decryption together with the key (which is sha1(salt + pw)). The only thing that changes between each password candidate guess is the key. Everything else can be prec

[2022-06-11 22:29] AlbertVeli commented on #5160
I think I solved it. At least for the specific ciphers used in my key4.db. Now the check is also implemented in the python file. It should be moved out of the python file and into john. And the script should be modified to output something that john understands. But at least all the values are correct now for my test key4.db I created.
[mozilla_key4_2john.zip](https://github.com/openwall/john/file

[2022-06-12 20:59] solardiz commented on #5161
@e2002e Our example in `README-OPENCL` gives:

[code]

Since you say the headers are found on their own, you shouldn't need the `CPPFLAGS` part, but since the library is not found you apparently _do_ need the `LDFLAGS` part.

Alternatively, instead of a command like the above, you can do something like the below (as root):

[code]

and then simple `./configure` would just work - until you upgrade

[2022-06-12 22:29] e2002e commented on #5161
I switched to Debian, there it went smoothly.
I am quite sure that Fedora was using cuda 11.4 and that there was a libcuda.so in /usr/lib/x86_64 just like in Debian.
I have a lot of performance improvement with this system, about (two hundred millions on two billions) / secs for md5.

[2022-06-13 07:28] magnumripper commented on #5160
Good stuff. Our current `mozilla2john.py` just blindly dumps data at hardcoded offsets - I wonder if we could amend this new script to support both types. The older `key3.db` is "Berkeley DB 1.85" according to file(1).

[2022-06-13 07:42] magnumripper commented on #5160
Perhaps that's a false positive - I can't read it with db_dump(1)

[2022-06-13 12:58] AlbertVeli commented on #5160
Good idea. I'll first of all try to find an old firefox that creates these older database files.

[2022-06-13 14:11] AlbertVeli commented on #5160
It's too old, but you can use db_dump185 from the libdb1-compat package to dump the information.

Unfortunately it is too old for python to read too so I guess using hard-coded offsets is the best that can be done.

[2022-06-13 16:54] AlekseyCherepanov commented on #5157
Playing with `net-md5`, I got a crash in `krb5asrep`. Technically it is not from a fuzzer.
[code]

[2022-06-15 04:01] e2002e commented on #5161
I am again on Fedora and ran the first piece of code you gave me, simply replacing 11.0 with 11.7 and it works :)

[2022-06-15 04:01] #5161 closed, assigned to nobody

[2022-06-15 06:57] Popzindawood opened #5163 "bitlocker2john is unnecessarily slow to output a "hash""
Hello,

I would like to know how long does it takes for bitlocker2john to extract hashs from a m2 (500go) ?

Thanks ! :)

[2022-06-15 08:45] AlekseyCherepanov commented on #5157
Another crasher for `ssha512`:
[code]

There is such length adjustments for base64 while `valid` accepts excessive `=`s:
[code]

It was found manually. I guess it is possible to write a specific mutator to let fuzzer find that.

[2022-06-15 13:14] Popzindawood commented on #5163
it displays :

"VMK entry found at 0x1e6ad61380" since morning...
Maybe bug..? or am I too impatient xD

[2022-06-16 13:53] magnumripper commented on #5163
Yeah that sounds like a bug to me, although I'm not really acquainted with that tool. Even if it had to scan all 500 MB it shouldn't take that long.

[2022-06-16 20:03] AlekseyCherepanov commented on #5157
The crash happens with a correct hash too. The problem is that I have asan build and allocator initialized memory to non-zero values. Together with it, `crypt_all` hashes more keys than john sets through `set_key`. So `strlen` cannot find end of string and overruns allocated region.

[2022-06-16 21:05] AlekseyCherepanov commented on #5157
I have fixes for all these crashes. I'll prepare PR after more testing.

[2022-06-17 17:15] solardiz commented on #5163
@e-ago @kholia @visuve Maybe you can comment on this issue? Thanks!

@Popzindawood Has the job completed? How long did it take? Did it produce output that `john` accepts for cracking?

The function `process_encrypted_image()` does appear to read the full file, and in a rather inefficient way, unconditionally. It is possible that @visuve's recent fix exacerbated the problem: maybe the program just

[2022-06-18 07:59] e2002e opened #5164 "Document that dynamic_38 also works for Opencart"
Hi, possible to add opencart format ?
Hashcat has them.

[2022-06-18 10:26] solardiz commented on #5164
Hi @e2002e. I thought this could be your opportunity to contribute a PR that we'd actually likely merge, but turns out the algorithm is so simple that it fits in our existing dynamic formats, so on CPU we already have it. Here's hashcat's test vector formatted so that it's cracked by JtR:

[code]

We might want to make these changes for clarity:

[code]

Also, even without a pre-defined dynamic fo

[2022-06-18 10:39] e2002e commented on #5164
Thanks I missed the point about dynamic formats and thought a lot of hashes weren't crackable with john.
Actually I have no experience with cuda so I'm not going to be the man of the situation.
I take the opportunity (since you recognize me) to encourage you to check my modifications to the mask on my fork:
There is mangling and alternative lengths. This would be better with a markov like thing I

[2022-06-18 10:49] solardiz commented on #5164
The documentation update I suggested above hasn't been merged to our tree yet - re-opening.

[2022-06-18 13:30] e2002e commented on #5164
Is there not an easy modification to be done so that dynamic format support opencl via mask mode ?
Even the most expensive cpu is less powerfull than a middleware GPU.

[2022-06-18 13:53] solardiz commented on #5164
There is not - that is, this is not easy.

[2022-06-18 14:06] e2002e commented on #5164
Ok, thanks.
I must say that I had some hints about that when seeing the mask's placeholder generated on gpu took no part in my mangling.

[2022-06-25 18:04] solardiz commented on #5163
FWIW, according to https://docs.microsoft.com/en-us/windows/security/information-protection/bitlocker/bitlocker-key-management-faq#where-are-the-encryption-keys-stored "The keys are also saved to two additional locations on the drive for redundancy." So perhaps letting `bitlocker2john` continue the search is expected to result in it finding those two additional copies, and perhaps there are incons

[2022-06-26 18:04] DidierStevens opened #5165 "Adding support for PDF owner password"
I added code to crack the PDF owner password.
https://github.com/DidierStevens/john/blob/bleeding-jumbo/src/pdfo_fmt_plug.c

If you are interested in a pull request, please let me know.

Didier

[2022-06-26 18:27] solardiz commented on #5165
Yes, please. Thank you!

What tool produces those `$pdfo$` "hashes", though? Should this be added to our `pdf2john.pl`? Will you add it?

Also, we'll need your copyright and license statement in there, but then the original `pdf_fmt_plug.c` is problematic in this respect - maybe @kholia can help fix both.

[2022-06-26 18:39] DidierStevens commented on #5165
Indeed, I can adapt pdf2john.pl to create `$pdfo$` hash.

And I did notice in one of the text files that there are issues with license of original pdf_fmt_pluc.c.
Help would be welcome regarding copyright & license statement :-)
Personally, I don't need copyright for the code that I wrote. But if that is important for the project, I'll just add it.

[2022-06-26 18:52] solardiz commented on #5165
Perhaps for now you can write this in the comment:

[code]

This will at least not make things worse, letting us fix things for both files later. And this trivial license is GNU GPL-compatible, so we'll be able to say the file as a whole is under GNU GPL (some version[s]) if we have to.

[2022-06-26 18:58] DidierStevens commented on #5165
Thanks for your help! I made the change and did commit in my repository.
I'll do pdf2john.pl in the coming days.

[2022-06-26 21:07] thatux commented on #5165
Maybe you'd want to checkout Hashcat's 25400
https://github.com/hashcat/hashcat/pull/2877

$pdfo is a nice idea but will break interopability

[2022-06-27 07:55] solardiz commented on #5165
Thanks, @thatux. I agree we should ideally use the same encoding you introduced in hashcat - which is simply adding the user password as a final field, right? (Same `$pdf$` tag, no length field.)

@DidierStevens Can you please implement this? One way would be to do everything in `pdf_fmt_plug.c`. The other would be to have these two formats' `valid` distinguish their respective inputs by presence/

[2022-06-30 08:50] DidierStevens commented on #5165
@thatux can you confirm what @solardiz is summarizing about the format?

@solardiz yes, I should be able to do this in the existing pdf plugin.

[2022-06-30 15:21] AlekseyCherepanov commented on #5157
`dynamic_1552`:
[code]

It was found inserting zeroes into username. Username had underscore, so it became a point for insertion. Without underscore, my mutator would not find the crash. OTOH `append_last_char` could find this crash having more variation in times.

[2022-06-30 16:33] thatux commented on #5165
Hi @DidierStevens  and @solardiz

Yes, what @solardiz said is correct, there is one more field that represents the user password, if it's present in the hash, then it is used. It is not used otherwise.

The speeds for the user and ower hashes are roughly the same
[code]

You can check (and use) the test files and test hashes I've created for the pdf attacks:
https://github.com/hashcat/hashcat/blob

[2022-07-02 10:49] #5157 closed, assigned to nobody

[2022-07-03 18:53] solardiz commented on #5164
BTW, this is one of the tests performed by `dyna-speed.sh`, which (along with `dyna-speed.pl`) we have only in `src`.

[2022-07-03 19:08] solardiz commented on #5163
@Popzindawood Any update from you? Also, `bitlocker2john` from what version/build of JtR on what OS did you use?

[2022-07-04 13:12] #5164 closed, assigned to nobody

[2022-07-04 13:12] #5163 closed, assigned to nobody

[2022-07-04 17:01] magnumripper commented on #5123
I had a look at this. Every instance of it are like this:
[code]
So we undef a non-existing macro (just for good measure), then define it so we use `0` instead of the enum. Weirdly enough there's a meaning for 0 in the enum definition:
[code]
Using it doesn't hurt though, because SSEi_MIXED_IN is actually a no-op (the abscence of SSEi_FLAT_IN is what matters).

To make things less weird we could d

[2022-07-04 17:04] magnumripper commented on #5123
BTW we could opt to do it without any renumbering:
[code]

[2022-07-04 19:51] alxjzx100 commented on #2012
I am also would be glad to see this feature in JtR :)

[2022-07-04 20:01] solardiz commented on #2012
Meanwhile, can we have VeraCrypt volumes explicitly rejected by our tools? Maybe we should open a separate higher priority issue for that, if it's do-able at all (that is, if they're distinguishable from those we support).

[2022-07-04 20:06] alxjzx100 commented on #2012
LInk to container https://file.io/RkorWvWAQlZs (10Mb)

password 12345

command `./john --wordlist=truecrypt_wordlist2.txt testhashes123.txt`

(MacOs Monterey 12.4,  John the Ripper 1.9.0-jumbo-1+bleeding-601b61b2d 2022-07-02 12:49:41 +0200 [darwin21.5.0 64-bit arm ASIMD AC])

[2022-07-04 20:11] solardiz commented on #2012
@alxjzx100 Thanks! Can you possibly create an even smaller container and contribute it via a pull request to https://github.com/openwall/john-samples? We'd appreciate having it in there even if we don't support these yet.

[2022-07-04 20:51] solardiz opened #5168 "Explicitly reject VeraCrypt volumes until we support them"
I don't know if this is do-able - are VeraCrypt volumes distinguishable from TrueCrypt when we don't know the password yet? If they are, then we should implement such detection and rejection until we have support. If they are not, then let's just comment so in here and close this issue. See also #2012 and https://www.openwall.com/lists/john-users/2022/07/04/1

[2022-07-05 09:28] magnumripper commented on #5168
I expect them not to be distinguishable. As far as I know you can't even tell TrueCrypt from random data (perhaps with an exception for bootable volume), and that's intended.

[2022-07-06 11:01] magnumripper opened #5172 "Alternative to _mm_loadu_si128"
Found when investigating https://github.com/gost-engine/engine/blob/master/gosthash2012_sse2.h (#5169)

[code]
@solardiz would you think we should try this for our `vloadu` pseudo-intrinsic? I'm not sure how to test it though, I think we normally stay within cache lines. Perhaps better just have a look at data from Agner Fog.

[2022-07-06 11:40] solardiz commented on #5172
We'd need to find a P4 or a "Core1" Intel CPU to test. I think we don't care enough.

This is a good explanation:

https://stackoverflow.com/questions/38370622/a-faster-integer-sse-unalligned-load-thats-rarely-used#38383624

Essentially, by using this instruction we tell the CPU that we know the underlying memory is OK for such use (not some kind of uncached/MMIO space).

We could just use `lddqu`

[2022-07-06 12:19] magnumripper commented on #5172
Case closed then, thanks!

[2022-07-06 12:19] #5172 closed, assigned to nobody

[2022-07-09 19:13] #5123 closed, assigned to nobody

[2022-07-10 21:46] bf opened #5174 "zip2john: Misbehavior with very long filenames"
I'm using zip2john on a windows-created zip archive which includes a directory and within that directory there are two encrypted files. It seems the directory name is bugged/malformed, as it ends with a backslash symbol (`7z l` and `unzip -l` both show this).

Now the problem is, that zip2john crashes with the following error message when the zip archive name is too long:

[code]

Now it gets funn

[2022-07-10 21:59] solardiz commented on #5174
Thank you for reporting this. There have been so many commits changing `zip2john.c` since the 1.9.0-jumbo-1 release that I can't easily tell whether we still have this issue or maybe not. My quick attempt at reproducing it failed so far. Next is to look at the code.

Given that those commits include important fixes and we'd recommend that you use the latest code anyway, would you please try buildi

[2022-07-10 22:21] solardiz commented on #5174
Well, old code (as in 1.9.0-jumbo-1) limited filenames to 250 chars and allocated 400 chars beyond compressed data size in hex. So could the rest of what's put into the "hash" exceed 150? Anyway, this code has since been rewritten.

[2022-07-10 22:37] bf commented on #5174
Thanks for your immediate answer. I'm currently building latest git and will try. (So far it seems it works with new version in the dev environment).

[2022-07-10 23:35] bf commented on #5174
With git-compiled version it is not crashing any more, but also not returning any output.

It only says `Using file fooo\bar.xlsx as only file to check` and then stops with return code 0.

[2022-07-11 09:29] solardiz commented on #5174
Maybe @srett and/or @magnumripper would look into this further, if you share a file reproducing this issue with one or both of them.

[2022-07-11 09:47] magnumripper commented on #5174
Yeah, please send it to magnumripper at hushmail.com and I'll have a look.

[2022-07-11 11:23] #4974 closed, assigned to nobody

[2022-07-12 12:47] ghost opened #5175 "Stribog fails on a BE system"
[code]

[code]

[code]

:1st_place_medal:  :thumbsup:

[2022-07-13 08:12] magnumripper commented on #5175
Ouch. I presume it worked prior to 3238f8f2f?

Ah, no - those formats were disabled then because the old code required SSE 4.1.

[2022-07-13 08:14] magnumripper commented on #5175
Ah, no - those formats were disabled then.

[2022-07-13 08:18] magnumripper commented on #5175
Can you try this? I noticed it looked strange for big endian.
[code]
**EDIT**: Apparently that doesn't matter - this code path works fine for LE either way. I can't understand why - it should end up totally different?! `buf` is actually the carry and adding with carry from the other direction shouldn't produce the same result.

**EDIT2**: Maybe it would make a difference for BE - I'm not sure whet

[2022-07-13 09:32] magnumripper commented on #5175
Last resort fix 😢
[code]

[2022-07-13 14:21] ghost commented on #5175
Still failing.

So if no other ideas are available, we shoud use the "last resort fix".

[2022-07-14 09:45] magnumripper opened #5176 "Update 7z2john, fixing a conflict"
https://github.com/philsmd/7z2hashcat/issues/39

Problem introduced to JtR in a1d21c88 and c3ad82b6c. Files using delta are rare so probably not too much harm done. Besides, I think a problem would only surface if the file had no compression, only delta encoding - that'd be super rare or even purely academical.

Need to update 7z2john, then the formats, and hopefully also address #4956 while at it

[2022-07-14 11:36] Paippi opened #5178 "Community wiki link not working"
Hey,

Tried looking into community wiki for more information but the link in https://www.openwall.com/ doesn't work. It directs to https://openwall.info/wiki/ which doesn't work. I've also tried https://www.openwall.com/wiki in case it was a domain name issue but that doesn't work either.

[2022-07-14 12:10] ghost commented on #5178
I think you are on your school or work network and access is restricted or blocked. It's working normally (now).

And I live on the other side of the world.

[2022-07-14 15:30] Paippi commented on #5178
Oh sorry about the hassle, it definetly seems to work on my phone so I guess it was blocked.
Thanks for the reply.

[2022-07-15 09:11] #5178 closed, assigned to nobody

[2022-07-15 09:12] #5175 closed, assigned to nobody

[2022-07-19 09:00] magnumripper opened #5179 "Rule for finding last occurrence of character/class"
A trivial example is "bump last digit": With current code, this can be done with eg. `r /?d +p r` but that is a pretty wasteful operation.

The %NX (or %N?C) command can currently be used with N=0 ~but it behaves exactly like N=1~ (EDIT not true, see below). This experimental patch changes N=0 to find the *last* occurence of a character or class:
[code]
It will still reject if no occurence of the

[2022-07-19 09:17] frank-dittrich commented on #5179
Alternatively, you could implement counting from the end if the number is negative, e.g., `%-1?d` meaning the last digit.
But this might be overkill, because nobody is ever going to use this.

[2022-07-19 09:40] magnumripper commented on #5179
I'm not sure the current code will manage negative numbers but we could make it do that. Your idea has some merit: I have rulesets similar to this for replacing any digits in a word with other digits:
[code]
As it says, it becomes too large/slow for more than 5 or so digits. But with your suggestion we could have reduced cases that support eg. up to 4 first **or** last digits, something like this:

[2022-07-19 10:09] magnumripper commented on #5179
Besides, we can do that today with the reverse-reverse trick, which become less wasteful with more operations between. This should do the same as the last example above - with current code:
[code]

[2022-07-19 18:39] magnumripper commented on #5179
_Originally posted by @solardiz in https://github.com/openwall/john/pull/5180#pullrequestreview-1043300643_

I saw no difference at all from `%1` in my initial testing of it but I got it wrong and you are right. Our current rules neither use 0, any variable nor any pp macro though.

Could we ever want the old behavior? It would set `p` to the position of first digit **or** to end of word if no dig

[2022-07-19 19:19] magnumripper commented on #5179
Another variant is `%0: op-`:
[code]
This time it doesn't alter the input word where there's no match: We can't overwrite the end of the word but we can insert before it.

[2022-07-21 13:35] krillin666 commented on #5097
Is there any update on this issue ? :smile:

[2022-07-21 15:34] solardiz commented on #5097
@krillin666 No, and moreover no update is currently expected - as you can see, this issue isn't part of a milestone. So it just sits here. Maybe a new contributor would appear and take care of it.

[2022-07-21 15:36] solardiz commented on #5179
@magnumripper I don't currently expect to have further comments on this. You decide. Thanks.

[2022-07-21 18:06] magnumripper commented on #5179
I'll close the PR and leave this issue open for future considerations

[2022-07-21 18:09] solardiz commented on #5179
There is also an unrelated documentation fix in that PR.

[2022-07-21 18:10] magnumripper commented on #5179
I have other pending typo fixes, will do a commit for them

[2022-07-27 14:10] DeLuca92 opened #5181 "Hash Unkoen"
Hello, I need help to discover this hash

bananadapassword:zg0hRAYjPZjP8BkiteoqTSE=::8bb53db42dcc97ae5a30f36c95ac5e3name

[2022-08-04 16:05] solardiz commented on #5181
That's not how we normally use GitHub issue, this isn't something we need to track, and it looks like no one had or wanted to say anything on this. Closing.

[2022-08-04 16:05] #5181 closed, assigned to nobody

[2022-08-05 09:26] siltal opened #5182 "rar2john should reject non-RAR files"
### Checklist ###
- [x] :1st_place_medal: I've read and understood these instructions;
  - This is not a support forum, it's a bug tracker. For questions and support, review postings on the [john-users mailing list](https://www.openwall.com/lists/john-users/).
- [ ] :thumbsup: I've tested using latest bleeding version from this repository.
  - Be clear about your environment and what you are doing

[2022-08-05 11:49] solardiz commented on #5182
You actually did not - your report is against the 1.9.0-jumbo-1 release. However, this should not matter at this time for `rar2john` in particular, because the only changes made to it since the release look irrelevant to your problem:

[code]

Given where the `bad rar crypt version byte` message is in code, it looks like the archive was in fact detected as RAR, but we don't support its particular

[2022-08-05 12:03] siltal commented on #5182
I crete a sample rar with password can generate hash, It should be a problem with the rar file

[2022-08-05 12:08] siltal commented on #5182
I check file and found its ` 7-zip archive data, version 0.4`
I am apologize for my ignorance

[2022-08-05 12:25] solardiz commented on #5182
@Siltal Does `7z2john.pl` work on this file?

@magnumripper Can we enhance `rar2john` to produce a better error message on files that are not RAR archives, or does the file format not allow for that? I just ran our current `rar2john` on all files in our `run` directory just to see how it'd fail on them, and it produced a variety of error messages for some and output `$rar5$` "hashes" for many othe

[2022-08-05 13:07] siltal commented on #5182
@solardiz Yes, `7z2john.pl` works fine, btw the 616MB 7z generate 1.2GB Hash, that's going too far.

[2022-08-05 13:48] solardiz commented on #5182
Yet that's how it currently is. Those are not really hashes, we just reuse core JtR functionality that had been intended only for hashes until we introduced support for non-hashes such as archives.

[2022-08-06 18:49] solardiz commented on #5182
@Siltal While this may be completed for your needs, it is not yet completed for the needs of our project - please see my question to @magnumripper above. So I'll reopen and refocus this issue.

[2022-08-06 18:53] solardiz commented on #5182
I've just changed the issue title to "rar2john should reject non-RAR files", although I think there might be reasons for the current implementation (e.g., maybe we're unable to reliably detect self-extracting archives, or something of that sort). So this is up for discussion for now. Maybe we'll end up just closing the issue after discussion, or maybe we'll plan on making code changes.

[2022-08-10 22:56] magnumripper commented on #5182
Oh, that's bad. We should look into it. I believe there are file magics we should look for.

[2022-08-15 11:25] frankenstein91 commented on #3219
any updates on the key level cracking?

[2022-08-15 13:01] rofl0r opened #5184 "command line arguments should be checked before opencl startup"
often one has some small error in the command line, for example a typo in a rule name, but when using -device=X and -format=foo-opencl, some sort of opencl startup code that takes several seconds is run before the commandline is checked and the error (example: rule not found) raised.

[2022-08-16 11:43] magnumripper commented on #5184
This was very much the case long ago but for nearly all OpenCL formats the problem should be gone. Do you have a specific example?

[2022-08-16 13:18] rofl0r commented on #5184
`../JohnTheRipper/run/john -format=raw-sha512-opencl -device=1 -session=dev1 -pot=out.pot --loop --ru=leet  --mask=?w?a?a?a res-john/uncracked/80.raw-sha512.1700`
when executing this command with wrong rule name, one has to wait for john spinning up opencl stuff (spinning `\-/-` animation shows up), then finally after 5 seconds error is reported.

[code]

[2022-08-16 14:09] magnumripper commented on #5184
Oh right. The rules aren't looked at until the mode starts, and before that we have self-tests and autotune. I think I know how to add a pre-check early, will look at it some day.

[2022-08-16 14:10] ukasz commented on #5184
Not related to opencl, but for me one of the annoying things is -wordlist=invalidpath

[2022-08-21 06:10] ilap opened #5186 "Add support for Cardano legacy's encrypted secret keys."
### Add support for Cardano legacy's encrypted secret keys.

In 2017 the old wallets used encrypted master keys for keeping the users funds safe.
Unfortunately, lot of users lost their mnemonic and forgot their spending/encryption password, that caused locking their funds forever.

The PR I created tackles this issues by trying to decrypt the encrypted keys.
Unfortunately, it requires a slight mod

[2022-08-23 12:06] #5186 closed, assigned to nobody

[2022-08-23 21:09] solardiz commented on #5145
This is not pretty, seen while running `--test-full=1`:

[code]

[2022-08-23 21:22] solardiz opened #5190 "mscash2 fails self-test on scalar --without-openssl"
As seen on Power7 (edit: where we currently don't use SIMD, requiring Power8+ for SIMD):

[code]

[code]

When the `./configure` options were omitted, this wasn't happening (all formats passed `--test-full=1`).

[2022-08-23 21:41] solardiz commented on #5190
The code looks problematic for scalar builds `--without-openssl` on little-endian as well:

[code]

The context structure is different `--without-openssl`, and the `-(64+sizeof(unsigned int))` is not right for it. In fact, the target "accumulator data" is close to the end of the structure, after the 64-byte buffer.

[2022-08-23 21:48] solardiz commented on #5190
This fixes it:

[code]

[2022-08-23 22:04] solardiz commented on #5190
This also works, and is about 4% faster. 32-bit path is untested, though.

[code]

[2022-08-23 22:11] solardiz commented on #5190
Reproduced on little-endian, and confirmed the same fix helped.

[2022-08-23 22:33] #5190 closed, assigned to nobody

[2022-08-27 23:14] ssorgatem commented on #4757
It appears I amb getting the same error in Manjaro Linux:
[code]
It works fine when using the CPU as the OpenCL target, though:
[code]

[2022-08-29 06:41] magnumripper commented on #4757
@ssorgatem please open a separate issue for your case. When doing so, please also include the output from `--list=opencl-devices`

[2022-08-30 20:47] magnumripper commented on #5182
There are and we did look for them already, but there was a logic flaw for RAR5 making some files pass without the magic.

After #5192:
[code]

[2022-09-01 09:41] #5182 closed, assigned to nobody

[2022-09-14 15:20] ghost opened #5193 "Misaligned pointer on s390"
This smells like (kind of) new stuff (but I'm not sure).

[code]

[code]

All other archs are ok.

[2022-09-15 01:46] magnumripper commented on #5193
Both should be `sizeof(uint32_t)`. Telegram specifies `sizeof(uint64_t)` which is never correct, while oldOffice says `MEM_ALIGN_WORD`, only correct on 32-bit builds.

Both seem to be long standing bugs: The pointers often happen to end up aligned good enough anyway, so not triggering the warnings.

[2022-09-15 21:38] ghost commented on #5145
This patch fix it:
[code]

But it's not clear to me if `valid` should be (properly) re-written.

[2022-09-16 12:07] #5193 closed, assigned to nobody

[2022-09-18 13:35] D3vil0p3r opened #5195 "Improve the "No password hashes left to crack" message"
Hello,
If I cracked one password and some days later I am in the situation where I should crack the same password, I get the output:

[code]
where it is not immediate to understand if the password has been already cracked or not, so for being sure, each time I should go to delete the .pot file.

Is it possible to implement an argument for deleting or, better, not generating the .pot file?

[2022-09-18 16:20] ghost commented on #5195
I agree john can be improved. Well, but, it said:
* `it loaded one hash` and;
* `no hash left to crack`.

So, the loaded hash is already cracked.

There is a better approach, use `--show` or `show=left`.
[code]
It is safer to force people to read and understand the current message. Maybe john can print a note about `--show` if any hash is loaded.
*****
If you are playing and testing with john (and

[2022-09-19 15:00] XRFXLP opened #5196 "Error in using --format=wpapsk-opencl in john/kernels/opencl_cmac.h"
Related to https://github.com/openwall/john/issues/4667, but that seems to be fixed

Problem:
[code]

Configuration:
[code]

[2022-09-19 15:58] ghost commented on #5196
Thanks for reporting the issue.

You are using an old version of `john`, the Jumbo 1, it was released before #4667 was fixed.

Could you please try to use the latest code from this github repository? Could you build from the sources or use a newer package?

Please test and report back.

[2022-09-19 16:34] XRFXLP commented on #5196
Thanks!

[2022-09-19 16:34] #5196 closed, assigned to nobody

[2022-09-19 16:38] e2002e opened #5197 "Missing function definition"
Hi, from my fork I pulled the changes and now cannot compile with
john/src/cardano_fmt_plug.c:161: undefined reference to `ed25519ext_publickey'.

[2022-09-19 16:44] ghost commented on #5197
Probably some merge conflict happened and your fork is somehow not fully updated.

Upstream code compiles as you can see in CI history or just cloning and trying to compile yourself.

Please check if you have a file called src/ed25519-donna/ed25519-donna.c

[2022-09-19 17:37] e2002e commented on #5197
Hi claudio, I forgot to clean the project after coming from one of my branch.
I found no use for the algorithm we talked about some times ago, so I'm just keeping a fork with a branch 'rain',
It's a tweak on the mask, with two main points:
- Shuffling
- Multiple length
We can argue on a matter of scale: is it better to crack more short passwords or having collisions on longer lengths ?
In anyway,

[2022-09-19 18:14] #5197 closed, assigned to nobody

[2022-10-03 13:01] ghost opened #5198 "Improve blockchain2john.py script to handle multiple hashes"
Someone sent me this request in private.

This doesn't seem hard to fix, for anyone with python skills and a sample wallet.

****
I would like to extract several blockchain hash, from a text file that contains line by line, the encrypted  blockchain hases. (eg:wallets.json file)

Eg:
input file wallets.json

[code]
etc...

Eg:
ouput file extracted-wallets.json
[code]

[2022-10-05 14:34] bf commented on #5174
I cannot share original file and failed to build another zip file with the same error.

But DEFINITELY the problem must be related to the use of backslashes as path separators within the zip file. On linux I simply cannot create zip files which use backslash (which is also against zip standard afaik).

[2022-10-05 19:02] srett commented on #5174
From a quick glance at the code, there doesn't seem to be any place in particular that cares about the name of the files in the archive. It's treated as opaque values and just used for printing, so it should work with whatever crazy/malformed file name you can come up with. I mean, to test it, take the zip archive created on Linux, and replace `/` with `\` in all occurrences of the file name.

May

[2022-10-06 13:42] magnumripper commented on #5174
`make debug` will do: It adds `-DDEBUG` and also decreases optimization level to `-O1` (or `-Og`, if supported). So given a non-debug build already made, you can `touch zip2john.c ; make -s debug` to get just `zip2john` with debug options.

[2022-10-06 13:50] magnumripper commented on #5174
You said earlier that just renaming the archive (or symlinking) would make it work and produce a hash - but that was before upgrading to latest code. That indicates the contents of the archive isn't (or wasn't) the problem. This would be a hint, if it wasn't for the amount of changes in the code...

[2022-10-10 08:50] bf commented on #5174
Here is a valid zip with the "filename too long" error. I think the malloc() was triggered by some UTF16 in internal filenames (see original comment).

[foo.zip](https://github.com/openwall/john/files/9744449/foo.zip)

password is "test"

[2022-10-10 12:18] ghost commented on #5174
It works here (Ubuntu 22 LTS). Do you have a VM or docker (so you can) run some tests using your official file?

[code]

[code]
***

[code]

[2022-10-10 12:55] ghost commented on #5174
If you still think `john` has a bug, you can have reproducible and repeatable runs:

Current folder has the file `foo.zip`.
[code]

:
![image](https://user-images.githubusercontent.com/1702923/194870783-0bd3eff5-060f-41b3-b0c8-8687f640aed0.png)

[2022-10-14 01:18] ghost commented on #4350
I've been experimenting with these ideas. Below, what I found:

Reference value, from upstream:
[code]
*****
The values below are not from upstream source code and it is not C.

t1ha (good).
[code]

WyHash (the best).
[code]

Also, Highway hash (50ms - 100ms slower).

[2022-10-14 10:20] solardiz commented on #4350
Thanks, @claudioandre-br! In other words, per these quick tests our current code is the fastest? That's kind of cool, although I'd use a longer-running benchmark and rerun it a few times.

BTW, such testing covers two aspects at once: speed of hash computation and rate of hash collisions. It is possible, for example, that one of those alternative hashes had fewer collisions (produced a more unifor

[2022-10-14 12:50] ghost commented on #4350
It's a little bit more complicated, since we are not comparing oranges and oranges. I'm using a HashSet type and (the type itself) is loosing time and memory doing unnecessary tasks. I'm going to change it to something better like a HashMap type.

I'm still struggling with the upstream 'unique 'source code to understand what it's doing when the buffer size is, e.g., 10 units in size but the input

[2022-10-14 13:02] solardiz commented on #4350
Oh, you wrote your own alternative to `unique`? I thought you were merely patching the different hash functions into `unique`.

[2022-10-14 13:11] ghost commented on #4350
Yes, As I stated above:

I'm confirming WyHash is really fast (as people says here and there) and I'm also trying to experiment using (what seems to be) the new low level reference programming language.

[2022-10-14 15:10] ghost commented on #4350
For reference:
![image](https://user-images.githubusercontent.com/1702923/195880541-e73340c5-171b-4230-abc9-40469730923c.png)

[2022-10-14 21:16] ghost commented on #4350
For reference (sorry for the spam).

Using `t1ha::t1ha2_atonce;`
[code]
[code]

Versus

[code]

[code]

[code]

[2022-10-15 13:00] solardiz commented on #4350
@claudioandre-br Cool. It looks like you found a way to avoid the slow pass for the same input size in the same memory size? I wonder how you did that, given this test doesn't appear to be close to the threshold for needing a second pass. You could want to open a separate issue for proposing whatever algorithm improvement you came up with. My best guess is the average input line length in this tes

[2022-10-15 13:11] solardiz commented on #4350
@claudioandre-br BTW, there are multi-threaded programs like this - https://github.com/Cynosureprime/rling and https://github.com/nil0x42/duplicut - but IIRC when forced to use a single thread they performed similarly to our `unique` in my tests.

[2022-10-15 13:22] ghost commented on #4350
Well, as I was working on this I was also thinking how the new algorithm should be:
1. considering the properties of these "modern' hashes (t1ha and wyhash);
2. considering the nature of the input file (how this file can be to be usabe to crack any modern password scheme);
3. and do on;

I created one implementation that is **not** failproof.

Thinking about a modernization approach in general (in

[2022-10-15 13:58] ghost opened #5201 "john produces invalid UTF-8 char"
Well, someone who can understand UTF-8 is needed to figure out if this is a real bug.

Steps that can be used to reproduce.
[code]

[code]

[2022-10-17 11:59] solardiz opened #5203 "Shouldn't skip #include <altivec.h> in DES_bs_b.c at least on FreeBSD"
As reported by @danfe in https://github.com/openwall/john/commit/48382b86d1d1cbc121ed206392e35c8bf76a59c0#r86752702:

My reply there was:

[2022-10-18 10:37] magnumripper commented on #5201
~The~ One problem is your misuse of iconv.

You can't convert a non-ASCII char to ASCII:
[code]

And you can't convert "from" ASCII when input actually isn't ASCII:
[code]

What you **can** do, is convert to an encoding *that can carry all characters in the input*. Here, we send a UTF-8 encoded euro sign into iconv, converting it to CP1252. In that codepage the character is represented by 0x80:
[c

[2022-10-18 10:51] magnumripper commented on #5201
Disregarding your iconv problem, wordlist + rules can definitely produce words that aren't valid UTF-8. For example, if you send a UTF-8 euro sign through a rule that drops last character (actually last byte), the result is obviously an incomplete multibyte character.

One way to filter them out is to add `-ext:filter_utf8` to your command line.

Mostly for testing, there is also the opposite of t

[2022-10-18 12:11] magnumripper commented on #5201
I just reviewed [doc/ENCODINGS](https://github.com/openwall/john/blob/bleeding-jumbo/doc/ENCODINGS) and I think it pretty much covers it.

[2022-10-18 12:11] ghost commented on #5201
Thanks magnum. My problem isn't `iconv`, it's the Rust String that validates invalid UTF-8.

If invalid UTF-8 is expected, I think there is nothing to do but close this.

[2022-10-18 12:11] #5201 closed, assigned to nobody

[2022-10-18 12:24] magnumripper commented on #5201
Try eg. `--internal-codepage=cp1252` (or john.conf `DefaultInternalCodepage = CP1252`). This should make the problem go away completely (but has other drawbacks, such as suppressing words that doesn't fit in [CP1252](https://en.wikipedia.org/wiki/Windows-1252)).

[2022-10-18 12:38] ghost commented on #5201
For the record, it works:
[code]

Well, I already solved my problem:
* the workaround is to avoid the `String` and use an array of bytes (not ~chars~) (`u8`, in fact). It is faster, but it is good to know that `john` rules are operating on `bytes` and not on `chars`.

[2022-10-18 21:38] ghost opened #5204 "Brings initial Rust support to john"
If merged, one should:
- create a new format as a C file that references the rust code as 'outer' code [1];
   - Then, develop the library in rust and export the necessary names/symbols;
   - Next put (external) function names in `struct fmt_main fmt_rust` as usual
- Autotools tooling will build "rust format(s)" if `rust` is installed;

Done or doing:
- I'm re-implementing the dummy format in rust

[2022-10-19 16:29] solardiz commented on #5204
I have mixed feelings about this. On one hand, I think Rust is a good language and a good fit for _future_ projects like ours (not without drawbacks, though). On the other hand, I think it'll actually hurt our existing project if we start adding a little bit of Rust (and a dependency on it for building the corresponding functionality). We would have the drawbacks mostly without the advantages.

So

[2022-10-19 16:35] solardiz commented on #5195
I don't really view what's proposed here as an enhancement. I expect that whoever would know about the proposed "command for deleting cache (.pot file) or not generating .pot file" (if we were to add it) would just as likely know about `john.pot` and how to delete a file manually if they want to.

If anything, we could possibly revise the message "No password hashes left to crack (see FAQ)" e.g. t

[2022-10-19 16:38] solardiz commented on #5195
BTW, revising that message might not be good enough because it only addresses the special case when _all_ loaded hashes were already cracked, not when only some were. To address the latter case, we'd also need to revise the "Remaining ..." message, or print an extra message (maybe while in a novice user mode?)

[2022-10-19 17:51] D3vil0p3r commented on #5195
Hey @solardiz In my honest opinion, also implementing only a message informing the user that the hash in input has been already cracked could be good, because the main issue is the misunderstanding on the output message when the user tries to crack an hash that already cracked time ago and it is stored in `.pot` file.

So I agree to add a message informing the user that one (or more) of the hashes

[2022-10-19 20:23] magnumripper commented on #5195
Just putting `try --show` in there (when applicable) could be nice:
[code]
I doubt any more complex logic will help a lot. Some users will never get it anyway. In fact I think it's just fine as-is.

[2022-10-19 20:29] solardiz commented on #5195
Maybe we could make it `All loaded hashes are already cracked (are in %s), use "--show"`, where the `%s` would be substituted with `john.pot` pathname.

However, we probably also need to deal with the case when only some of the hashes were previously cracked. Should we possibly display `Some loaded hashes are already cracked (are in %s), use "--show"` just before the `Remaining ...` line?

Edit: o

[2022-10-19 21:11] ghost commented on #5204
Potentially.

* But, how do you add `th1a` to `john`? Copying code? Would you like to also test Wyhash or FxHash (a simple hash from Mozilla)?
  * All these are vendored and ready to use in crates.io; 5 lines of rust is needed to use each of them.
* I remember `john` has some copied code needing update. **If available** on crates.io, this would be another potential improvement.

And so on. Drawbac

[2022-10-19 21:21] solardiz commented on #5204
For tiny things like this, I think it's actually preferable to stay with sometimes out-of-date but reviewed and tested by us, than to have easy auto-updates. Such micro-dependencies remind me of what I read about the JavaScript/npm world, where it got crazy, and where a security compromise of a trivial package could quickly propagate to lots of large and important projects. So yes:

For these, we

[2022-10-19 22:32] ghost commented on #5204
As a side note:

* Semantic Versioning (SemVer) allows you to avoid these automatic updates. Let's just say these big projects weren't doing the right thing;

[2022-10-19 23:09] D3vil0p3r commented on #5195
I agree with this statement. But I don't know if omit `loaded` or not... If managing millions of already cracked hashes is heavy, on my opinion could be also enough leaving a message on console by expliciting that some hashes have been already cracked and the results can be found in `%s` (path to `.pot` file). In this way, the user is totally aware that his/her result could be already in that file

[2022-10-20 07:50] ZerBea opened #5205 "1.9.0-jumbo-1+bleeding-84a4aeb20 - wpapsk-opencl broken after driver/cuda update"
OpenCL broken (after driver/cuda update) on some hash modes:

word.list content:
hashcat!

pmkid.john content:
`2582a8281bf9d4308d6f5731d0e61c61*4604ba734d4e*89acf0e761f4*ed487162465a774bfba60eb603a39f3a`

both taken from https://hashcat.net/wiki/doku.php?id=example_hashes
[code]

Additional information about john:
$ john --list=build-info
Version: 1.9.0-jumbo-1+bleeding-84a4aeb20 2022-10-17 14:03

[2022-10-21 07:42] magnumripper commented on #5205
This time it might be a driver bug. I can't find any problem like the ones in #4667 - we aren't explicitly saying `__private` (or `__generic`) anywhere in any kernel code.

[2022-10-21 08:08] magnumripper commented on #5205
The problem seems related to using arrays in function arguments. I've seen problems [as in driver bugs] with that before, in OpenCL.

We could do things like this as a workaround:
[code]

But this one is trickier:
[code]

[2022-10-21 08:25] ZerBea commented on #5205
That looks like a plan.
But a driver issue could be possible, too. That is the reason why I added a bug report on Arch Linux:
https://bugs.archlinux.org/task/76252

[2022-10-21 08:51] magnumripper commented on #5205
Latest production driver is 515.76. The version you run (520.56.06) is the current latest from "New Feature Branch", which is kinda unstable I guess. Perhaps we just wait for nvidia to fix the issue.

I'm not sure how to report this to nvidia but a bug like this should surface in many places. EDIT: I filed a case with customer support.

[2022-10-21 11:26] ZerBea commented on #5205
Correct.
Unfortunately I don't expect a fix from NVIDIA coming soon.

Update was done by Arch Linux in combination with kernel 6.0.0 and CUDA 11.8

[2022-10-21 11:37] solardiz commented on #5205
As I recall, CUDA typically includes a certain driver version bundled with it. What driver version is that for CUDA 11.8?

[2022-10-21 11:44] ZerBea commented on #5205
You're right. the compatibility is described in Table 3. CUDA Application Compatibility Support Matrix, here:
https://docs.nvidia.com/deploy/cuda-compatibility/
CUDA 11.8 = nvidia 520.61.05+

[2022-10-21 12:17] magnumripper commented on #5205
So what nvidia version do you see from `john --list=opencl-devices`?

[2022-10-21 12:28] ZerBea commented on #5205
[code]

The same version as expected after pacman -Q output:
[code]

It  (520.56.06) is not as described in the table (520.61.05), but it is working fine some of my own tools.

[2022-10-21 12:30] magnumripper commented on #5205
Strange. It would be nice to know if the bug is still present in 520.61.05.

[2022-10-21 13:03] ZerBea commented on #5205
I think 520.61.05. is the windows driver.

[2022-10-21 13:04] magnumripper commented on #5205
Oh, that makes sense. I'm installing CUDA 11.8 now, so I can reproduce this problem.

[2022-10-21 13:14] ZerBea commented on #5205
If CUDA version doesn't match to the driver you'll get a toolchain warning like this this:
Unsupported .version 7.3; current version is '7.2'

[2022-10-21 14:13] magnumripper opened #5206 "Lastpass formats need update"
See hashcat PR https://github.com/hashcat/hashcat/pull/3485

Our current code doesn't extract or use the iv field (it was all zero at the time so the author hardcoded it as such 😢) so we need to update lastpass2john.py as well (perhaps use lastpass2hashcat.py as upstream).

I assume our current code silently skips iv and happily produces false negatives, so I put a 'bug' label on this issue - but

[2022-10-21 14:41] magnumripper commented on #5205
No - when I installed CUDA 11.8 on Ubuntu 20.04, I actually got the 520.61.05 driver. However, that driver show the same errors from WPAPSK-opencl format. I'm nearly 100% sure this is a driver bug but I'll see if I can work around it.

[2022-10-21 14:48] magnumripper commented on #5205
OK, so obviously other formats are affected - not sure how many.

Here's a workaround for you though: Edit john.conf and find `GlobalBuildOpts`. Append `-cl-std=CL1.2` to what is already there:
[code]

IIRC, a problem is that not all OpenCL compilers will accept that option - they will bug out :cry:. So we might not be able to simply throw that in there in a PR. I will test that though.

[2022-10-21 14:48] ZerBea commented on #5205
Strange:
https://www.nvidia.com/Download/driverResults.aspx/193764/en-us/
[code]

https://forums.developer.nvidia.com/c/gpu-graphics/announcements-and-news/146
`[Linux, Solaris, and FreeBSD driver 520.56.06`

[2022-10-21 14:58] magnumripper commented on #5205
I think I recall this has happened before - last time I updated CUDA on this machine I also got a driver version "sligthly newer than latest". It doesn't matter for this issue though: The problem is there with any of them.

[2022-10-21 15:01] ZerBea commented on #5205
I agree, but it is interesting to see that the driver is packet by RHel and Ubuntu, but it is not official present on nvidia.com.

[2022-10-21 15:04] magnumripper commented on #5205
The CUDA .deb packages for Ubuntu are actually sourced from https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2004/x86_64/ so they are not "packaged by Ubuntu" at all.

[2022-10-21 15:06] ZerBea commented on #5205
Ok, thanks for the info.
No trying to modify john.conf as suggested.

[2022-10-21 15:53] ZerBea commented on #5205
Workaround
https://github.com/openwall/john/issues/5205#issuecomment-1287069933
is working as expected:
[code]

Thanks for your effort.

[2022-10-21 16:00] ZerBea commented on #5205
Shall we close this issue report or wit for another solution?

[2022-10-21 20:28] magnumripper commented on #5205
Let's keep it open please.

[2022-10-21 20:39] magnumripper commented on #5205
This fixes most errors:
[code]
That's 100% things like this:
[code]
However, now I'm hitting more complex issues:
[code]

Also, I'm not glad to push the current fixes - they make the code slightly worse. This is a driver problem.

[2022-10-22 06:03] ZerBea commented on #5205
Again I fully agree. Driver problems are ugly.
While coding hcxdumptool/hcxlabtool I noticed several driver issues. Only two drivers (mt76 and rt28000usb) are flawless and I gave it up to workaround the other ones. In contrast to JtR, hcxdumptool is on the fly and it must respond within a specified time gap. Otherwise the attack will fail. A driver problem prevent this completely.
For me the best

[2022-10-22 12:45] solardiz commented on #5205
@magnumripper Rather than revise the kernels, would it possibly be cleaner to conditionally add `-cl-std=CL1.2` only on NVIDIA?

Also, how does/will hashcat approach the same problem, or do their kernels build fine with that driver as-is?

[2022-10-24 08:06] magnumripper commented on #5205
That just hit me as well. ~The following patch should do the trick.~

That patch and PR wasn't correct - it would only kick in at max. verbosity. My current idea is to implement two more configuration keys `nvidiaBuildOpts` and `AMDbuildOpts` and put the mentioned option in the former.

Meanwhile, using that compile option "All 91 formats passed self-tests!".

[2022-10-25 08:18] magnumripper commented on #5205
Apparently (try googling it) some older drivers don't recognize the "-cl-std=CL1.2" option, including nvidias, even though it's in the standard. Or perhaps such drivers were only 1.1 compliant (only supporting `-cl-std=CL1.1`).

We should probably go for the device or platform version string (as listed with `--list=opencl-devices`) instead. I hope/believe they always start with `OpenCL x.y` so we

[2022-10-25 08:29] ZerBea commented on #5205
Here is another one (also running Arch Linux):
[code]

[2022-10-25 14:00] magnumripper opened #5208 "Solarwinds Orion formats should lowercase the username"
The shared `solarwinds_get_salt()` should lowercase the username for good measure. See
https://www.atredis.com/blog/2018/10/24/fun-with-the-solarwinds-orion-platform
and
https://github.com/hashcat/hashcat/issues/3491

[2022-10-25 14:17] magnumripper commented on #5208
We might have a worse bug in there as well (or not):

https://github.com/hashcat/hashcat/issues/3491#issuecomment-1290618977

[2022-10-27 20:39] Darkrevengehack opened #5209 "Build error of a third-party package on a mobile device - .a files not found"
El problema es durante y al final de la instalación:

![Screenshot_20221027-173133](https://user-images.githubusercontent.com/103399387/198393289-152fd501-c3ff-452f-aefa-2f5ea9b731f5.png)

[2022-10-27 21:16] solardiz commented on #5209
Looks like a dupe of #5109, which we never figured out - it's people reporting issues with some unmentioned third-party package, maybe part of a packages repository used by `termux` on Android or similar. Such reports are thus misdirected (should be to the packager, not us), but we can talk in here anyway - if needed, even after we close the issue (which I think we'll do soon because this isn't ou

[2022-10-27 21:23] Darkrevengehack commented on #5209
bro, thanks for the contribution, you have a very well programmed tool to detect the operating system and make it work based on the linux operating system, congratulations!!!

[2022-10-28 03:12] #5209 closed, assigned to nobody

[2022-10-31 00:01] #5205 closed, assigned to nobody

[2022-10-31 00:14] magnumripper commented on #5179
I've come to the conclusion the reverse-reverse trick is good enough, especially given the moderate speedup my patch gave. So closing.

[2022-10-31 00:14] #5179 closed, assigned to nobody

[2022-10-31 07:03] ZerBea commented on #5205
Everything is working fine. Again thanks for your effort.

Unfortunately all Linux distribution that recently updated to last NVIDIA are hit by this issue and have to wait for upcoming JtR release.

[2022-10-31 17:06] noraj commented on #5174
In my case (not even a long name) it's broken on last `1.9.0-jumbo-1` release but works on latest rolling docker image (sha256:9300e6e6433ce2313d96fcbd8c6957f778703ce260f9d4e087b921b0840d94ad).

[2022-11-01 07:36] magnumripper commented on #5174
Yeah I can't reproduce any problem with latest bleeding zip2john and [the supplied sample](https://github.com/openwall/john/issues/5174#issuecomment-1272987219). I even tried hex-editing it to have backslash separators and there were still no problems getting a crackable hash - although that wasn't a 100% reliable test because the edited archive was detected as b0rken by zip tools.

[2022-11-01 07:58] magnumripper commented on #5174
According to https://pkware.cachefly.net/webdocs/APPNOTE/APPNOTE_6.2.0.txt, the path separators will be `/` even on archives created on DOS/Windows - it's just their screen output that differs.

*The path stored should not contain a drive or          device letter, or a leading slash. All slashes          should be forward slashes '/' as opposed to          backwards slashes '\\' for compatibility

[2022-11-01 07:58] #5174 closed, assigned to nobody

[2022-11-02 14:59] magnumripper commented on #5205
I think I start to understand this "driver bug" now (if it's even a bug?). Here's the deal: OpenCL doesn't really allow arrays as function parameters *unless they are in private memory* (see #4946 for an issue with `__constant` arrays).

So this driver (when in OpenCL 2.0 mode) regard array parameters as implicitly specified with `__private` while the caller is using arguments implicitly using `__

[2022-11-04 14:59] msrspsr commented on #5208
Would using ctype's tolower(3) be sufficient here?

[2022-11-09 00:11] Darkrevengehack opened #5213 "How is John upgraded on Android termux?"
Hello, I would like to know how John the ripper is updated

[2022-11-14 03:58] Lavshyak opened #5214 "(solved) PBKDF2-HMAC-SHA512 opencl sourcecode is definitely working correctly?"
I just did not find where to ask, but maybe it does not work.

[code]

[code]

next i correctly run kernel from pbkdf2_hmac_sha512_kernel.cl
and extract the result
[code]
but:
right result:    {682e6363c4fa65986f7676711547f1f5fe79994e25fbdb717161af54755eed5b520ce6b28252e9854cee7242feaf86454ec0490d
f155b2d5da646ede23fa51a5}
OpenCL result: {30d9336f284e0c7490ce53202091a345fa6d98f1dac194d994033866a03

[2022-11-14 09:47] ukasz commented on #5214
Looks like you're copying password into salt:
`memcpy(h_salt->salt, (uint8_t *) passStr.c_str(), passStr.size());`

[2022-11-14 12:50] Lavshyak commented on #5214
it's true. i edited and the hash result is still wrong. maybe the byte order is different? I tried to convert small endians to big endians and and vice versa, but the result is still wrong.

[2022-11-14 22:14] magnumripper commented on #5214
There's nothing wrong with the kernel, you must be doing something wrong. You need to do a 64-bit endian-swap of the results read from the kernel:

Raw results:
[code]

Swapped:
[code]

Here's how to format your sample hash for JtR:
[code]
The first `1` is number of iterations, next `6d656d65` is the "meme" salt encoded as hex. It cracks just fine.

[2022-11-14 22:29] magnumripper commented on #5205
I got the same problem **with** `-cl-std=CL1.2` on nvidia 510.47.03 although that wasn't with JtR code.  That is kinda hopeless.  Oh, I got it on 470.141.03 as well.  And it gets worse: When I **dropped** the `-cl-std=CL1.2` option, problem went away in that case.  Sometimes you'd think they make these quirks just to make our lives miserable.  Changing array parameters to pointers fixed it (now wo

[2022-11-15 07:00] Lavshyak commented on #5214
`682e6363c4fa6598 6f7676711547f1f5 (...)` - it is right result.

my results:

unswapped:
`30d9336f284e0c74 90ce53202091a345 (...)`

swapped:
`740c4e286f33d930 45a391202053ce90 (...)`

[2022-11-15 07:19] ZerBea commented on #5205
Excellent explanation and good work.
I know this "problem" well, because I'm running a rolling release distribution (Arch). After a system update, I have to check my entire code.

[2022-11-15 07:29] ZerBea commented on #5205
@magnumripper , a little bit out of scope.
How about the new EAPOL-PMKID hash line?
https://github.com/hashcat/hashcat/issues/1816
which is a huge improvement, especially on large hash files / pot files:
https://github.com/ZerBea/hcxtools/issues/227#issuecomment-1314184490

I've never seen people posting JtR WPA hash lines, but I often have seen PMKID-EAPOL hash lines:
https://forum.hashkiller.io/

[2022-11-15 11:22] magnumripper commented on #5214
Well this is no issue for us, so I'm closing. Feel free to post more to this issue despite that! Are you enqueueing buffer writes correctly prior to running the kernel? You could add a few `printf` to the kernel to verify correct data.

[2022-11-15 11:22] #5214 closed, assigned to nobody

[2022-11-15 11:46] magnumripper commented on #5205
Yeah that's #4183. Unfortunately it doesn't line up well with JtR's core so it'll take some effort to implement. But I am planning to do it, some day...

[2022-11-15 11:53] ZerBea commented on #5205
I am pleased to hear this, because it removes the entire internal (ancient) hccap structure.
During conversion, I have to use it and JtR have to use it again to convert them back:
WiFi packet -> hccap -> JtR  hash line <->  JtR hash line -> hccap -> GPU

BTW:
It would we a huge step forward fo services e.g. like this:
https://wpa-sec.stanev.org

[2022-11-15 12:16] solardiz commented on #5213
@Darkrevengehack You'll need to make your question more specific - how is John updated by who (e.g., by an end-user, by a distro, by us developers/maintainers), how it was obtained/built/installed/packaged/whatever initially ("updating" implies one already has it in some form), and on what system. Otherwise the issue you opened is basically a hint for us to write more documentation, but that can t

[2022-11-15 12:26] solardiz commented on #5205
@magnumripper What about adding casts from whatever (generic or private depending on OpenCL version, which we won't need to care about?) to private - wouldn't that make our source code compatible with both OpenCL 1.2 and 2.0?

[2022-11-15 12:51] magnumripper commented on #5205
I'm not sure I understand the concept of casting between memory types at all: If you have a generic pointer pointing to data in global memory, it obviously can't be cast to private. What would that even mean?

What I do understand is this: If you write eg. a memcpy function using generic pointer parameters (actually by using *unnamed* memory because apparently you can't explicitly say `__generic`)

[2022-11-15 13:38] solardiz commented on #5205
@magnumripper I don't really know, but my _guess_ is that by casting from `__generic` to `__private`, you guarantee the pointer was actually to private memory anyway.

[2022-11-15 14:02] Darkrevengehack commented on #5213
I want to update john the ripper in termux app for Android, root is not needed to use the app, it is in armv7l in termux version 0.118 (Official Stable Version)

[2022-11-15 15:06] solardiz commented on #5213
I've never used John the Ripper on termux, but I just did some searching.

I suppose there are two ways to upgrade:
1. Remove the previous installation (which could be simply `rm -rf john`) and repeat the installation instructions you had used (if those install the latest revision, e.g. like these appear to - https://github.com/azclub-ltd/Termux-JohnTheRipper-Installer). You might want to save the

[2022-11-15 15:06] #5213 closed, assigned to nobody

[2022-11-15 16:05] magnumripper commented on #5205
https://www.intel.com/content/www/us/en/developer/articles/technical/the-generic-address-space-in-opencl-20.html

Apparently the concept of a generic address space comes from Embedded C, whatever that is. Perhaps I should google that and see if there are any more mature descriptions and examples.

[2022-11-17 13:42] solardiz commented on #5205
@magnumripper Reading that Intel article you referenced, I get the impression that we'd also avoid the problem by explicitly specifying `__private` on all pointers that are currently not explicitly address space qualified. Can we do that easily enough?

[2022-11-17 16:29] magnumripper commented on #5205
I think that would be an awful lot of places unless we add it on a case-by-case basis as problems are seen.

Since we seem to be good right now, let's just leave everything alone until new problems emerge, if ever.

[2022-11-17 16:35] solardiz commented on #5205
I agree.

[2022-11-19 22:40] Darkrevengehack opened #5215 "hash problem"
Hello, there is a big problem with the hash decryption in termux armv7l, and that is that the decryption does not appear when using the command ./john --format=raw-md5 --wordlist=$HOME/johndic.txt $HOME/md5.txt inside the john/run directory, the problem and the message without the decrypted hash is the following: Using default input encoding: UTF-8
 Loaded 1 password hash (Raw-MD5 [MD5 128/128 NEO

[2022-11-19 23:34] solardiz commented on #5215
Please use `--show`. See also #5195.

[2022-11-19 23:34] #5215 closed, assigned to nobody

[2022-11-20 02:44] Darkrevengehack opened #5216 "How to use the --show parameter in john the ripper"
![Screenshot_20221119-234143](https://user-images.githubusercontent.com/103399387/202880218-099223e7-ae65-42a5-be71-1a261db62067.png)

[2022-11-20 10:15] magnumripper commented on #5216
For Bods sake please at least read the FAQ before opening issues.

You can't use `--show` while still saying `--wordlist=(...)`. Drop the latter option.

[2022-11-20 10:15] #5216 closed, assigned to nobody

[2022-11-22 06:08] Lavshyak commented on #5214
https://pastebin.com/j2p1Miiu
https://pastebin.com/3ca59jFV
...and convert result to hex

I figured it out. if anyone has questions, this is how it works

[2022-11-25 13:16] coldner opened #5218 "Bitcoin wallet - Token length exception"
[code]

[code]

[code]

**X** is used for hiding hexadecimal characters.
I'm using python 3.8.10.
bitcoin2john.py comes from 438daf5a4314db4cee33ec549ac8da270ba9eb4f
wallet.dat comes from Bitcoin Core 0.21.0

[2022-11-25 13:45] ghost commented on #5218
Did `bitcoin2john.py` print any warnings?. And paraphrasing magnum:

_Originally posted by @magnumripper in https://github.com/openwall/john/issues/4799#issuecomment-916310484_

[2022-11-25 15:14] solardiz commented on #5218
The lengths of fields here look correct for the current version of `bitcoin2john.py`.

That version of hashcat is way out of date, and quite possibly does not support our latest `bitcoin2john.py` "hashes". Please either use JtR itself like @claudioandre-br suggested or use a current version of hashcat.

This isn't an issue we need to track further, so I'll close, but please feel free to add furthe

[2022-11-25 15:14] #5218 closed, assigned to nobody

[2022-11-25 16:21] coldner commented on #5218
It's working in hashcat 6.2.6
Thanks for help, and I'm sorry for wasting your time

[2022-11-30 14:01] magnumripper commented on #5195
FWIW there's also the `[List.Extra:Potfiles]` list in the config file, empty by default but possibly populated by user. If not empty, listing the main pot file path could be misleading. OTOH I'd assume any user having that configured savvy enough not to need any hint.