[2017-03-15 17:55] claudioandre opened #2458 "New memory leak"
[code]

[2017-03-16 04:30] kholia commented on #2457
I don't understand the `ssh-ng` results above. I don't know what is wrong in `ssh-ng` format by looking at the post above.

Is `ssh-ng` format failing to crack some valid test vectors? Can you please provide some sample `ssh-ng` test vectors which are causing problems?

[2017-03-16 15:14] magnumripper commented on #2457
Some of the above are failing merely because a test vector is used several times (sometimes using different syntax) which leads to fewer cracks than expected. I recall the PBKDF2 formats are all OK but fails due to something like that.

[2017-03-16 15:19] magnumripper commented on #2457
@kholia use the -stoponerror option.

[code]
OK this is weird. How did we crack 9 out of seven?

[code]
Here's the answer: I bet this is a FMT_NOT_EXACT and the TS aren't aware of that. So probably not a problem here.

[code]
This, however, is a problem. With all 7 cracked (some twice) why are we only seeing one of them here?

[2017-03-16 15:23] magnumripper commented on #2457
On a side note we might need a `--no-keep-guessing` option (that turns off FMT_NOT_EXACT just like `--keep-guessing` turns it on). And then we could have TS use that option.

[2017-03-16 15:28] magnumripper commented on #2457
ssh-ng problem is gone now.

[2017-03-16 15:35] magnumripper commented on #2457
The AS400 thing looks like a real bug to me. Weird.

[2017-03-16 15:39] magnumripper commented on #2457
The six last formats of the OP works fine here. Probably some driver problem.

[2017-03-16 16:44] claudioandre commented on #2457
The best approach here is to look at what each format is doing. E.g., super's NVIDIA:

* ntlmv2
[code]
* krb5pa-md5-opencl. Where are the real passwords 'fr2beesgr' and 'openwall'?
[code]

*****

I saved the issue to warn more people about the issues:
* I will improve the bugs details sooner or later;
* there are real bugs in it;
* don't shoot the messenger.

[2017-03-16 17:16] magnumripper commented on #2457
LOL of course we're not shooting the messenger. So there's misses even with nvidia on Linux... I will look into this tomorrow.

[2017-03-16 18:48] claudioandre commented on #2458
[code]

[2017-03-17 11:10] magnumripper commented on #2376
Here's a file with random data matching yours
[code]
Iterations are set to just 8 so this should leak much faster.

[2017-03-17 11:53] magnumripper commented on #2376
Using that file on super, I still can't reproduce. I consistently see a single increase in resident size (eg. from 19 to 21 MB for CPU format) after a minute or so, then nothing more.

[2017-03-17 11:57] magnumripper commented on #2376
I tried building with and without `scl enable devtoolset-3 bash`. I didn't use any OMP tweaks with environment variables. I watched resident size using top. Why do you see a leak where I do not?

[2017-03-17 12:05] magnumripper opened #2461 "HybridLeet external mode inconsistency"
The "hybridleet" external mode will also toggle case for affected letters (eg. 'a' -> 'A', '4', '@', '8') but it doesn't do that for letters that doesn't have any leet alternatives (eg. 'n'). This is confusing.
We could either drop the case-toggling from affected letters or add it to the others. I think I prefer the latter.

[2017-03-17 12:30] magnumripper commented on #2457
They are replaced with Unicode passwords in `init()` when target encoding allows it.

[2017-03-17 13:15] #2461 closed

[2017-03-17 13:25] magnumripper opened #2462 "Hybrid external modes doesn't work with --single mode"
They should - or at the very least JtR should bail stating it's not supported.

[2017-03-17 13:34] magnumripper commented on #2462
Mask and regex hybrids also doesn't work, but they do bail. In this case it's not quite that easy because external mode is supported - just not the hybrids. So we can't block it in getopt.

[2017-03-17 13:44] #2462 closed

[2017-03-17 14:04] magnumripper commented on #2457
Not sure about bcrypt. I think it may replace $2b$ to $2y$ in the pot file or something like that, confusing TS. But there seem to be other strange things going on when running OMP. Unfortunately we can't look at a diff from master branch because of af54b4c6e and TS can't run -internal with John proper.

[2017-03-17 14:09] magnumripper commented on #2457
I did some manual checking with John proper and it has the same "problem". It loads and cracks 13 hashes but -show says there's "13 password hashes cracked, 1 left".

[2017-03-17 14:14] magnumripper commented on #2457
See #1530... I knew I had been there before.

[2017-03-17 14:17] magnumripper commented on #2457
OK so let's just forget about bcrypt. I believe the only things left here are issues like "CL_OUT_OF_RESOURCES" mentioned above.

[2017-03-17 14:25] magnumripper commented on #2457
...and I do not get those problems. Perhaps someone else was using the Titan X at the same time?

[2017-03-17 16:47] claudioandre commented on #2457
I need to take a closer look at the list. What annoys me more:
* some formats has intermittent sh**t. Almost all formats are solid rock.
* the same formats always fail (CI);
* some are crashing;

It is possible to reproduce on super. But I have'nt be able to create a good reproducer.

[code]
ntlmv2-opencl
[code]

[2017-03-17 17:03] claudioandre commented on #2457
I was able to crash all this (dev 3 and 4)

[code]
 1. o5logon sometimes crash.
 2. the others crash frequently.

[2017-03-17 17:11] claudioandre commented on #2457
And there are the Super Triangle.
* Now.
* I am alone on super.
* If I change to a "good" format. All passes.
* The 3rd time is more than a coincidence.

$ ./jtrts.pl -v -v -noprelims -internal -type raw-md5-opencl --passthru -dev=6
[code]
[code]

[2017-03-17 17:29] claudioandre commented on #2457
And (the first works, the 2nd fails). BTW: raw-md5 is intermittent on CI

* I wasn't able to reproduce the error on dev 7. Is it pushing too hard when running a strong hardware?
* I wasn't able to see an error if I try a "good" format, fast or slow.

[code]

I see nothing bad in the TS building process. Maybe all LOC_* = -1?

Device 6: GeForce GTX TITAN X
Loaded 5 hashes with 1 different salts to

[2017-03-17 17:42] claudioandre commented on #2457
And, there are the "what is the correct number after all" problems. E.g.

[code]

It will be nice if anyone knows the answer.

[2017-03-17 18:00] #2458 closed

[2017-03-20 07:48] kholia opened #2466 "Add support for Prosody / XMPP SCRAM-SHA-1 hashes"
Documentation,

* http://prosody.im/doc/plain_or_hashed

* http://prosody.im/doc/modules/mod_auth_internal_hashed

* https://wiki.xmpp.org/web/SASLandSCRAM-SHA-1

Some code,

* https://gist.github.com/SpaHost/9417886

* https://gist.github.com/lhw/8891453

[2017-03-20 13:12] kholia commented on #359
Removed `Revelation Password Manager` from the list. It hasn't been updated in years, and no one seems to care about it.

[2017-03-20 13:14] kholia commented on #359
Writing a format for `The Bat!` requires significant reverse engineering effort.  `The Bat!` changes its "KDF" quite frequently. Also, non one seems to care about it.

[2017-03-20 13:24] kholia opened #2468 "Add OpenCL support for cracking SSH private keys"
This issue is about porting the "simple MD5" based KDF and decryption verification to OpenCL.

This is a fast format so we will need GPU side mask support.

[2017-03-20 13:26] kholia opened #2469 "Add OpenCL support for cracking PFX files"
This involves porting PKCS 12 KDF with SHA1 (and other hashing algorithms, perhaps later on) to OpenCL.

[2017-03-20 13:27] kholia commented on #2469
Adding such OpenCL support would be helpful for porting other formats (e.g. BestCrypt) too.

[2017-03-20 14:54] kholia opened #2471 "Add OpenCL support for cracking KeePass files"
The KDF of KeePass is pretty unique and the work intensive parts of the KDF involve AES.

[2017-03-20 15:05] kholia opened #2473 "Add support for cracking PGP WDE"
https://www.symantec.com/connect/downloads/symantec-pgp-desktop-peer-review-source-code might be helpful for attacking PGP WDE.

[2017-03-20 15:06] kholia commented on #359
Moved `PGP WDE`, KeePass GPU, SSH GPU, PFX GPU items to new issues.

[2017-03-20 15:07] kholia opened #2474 "Add support for cracking Quicken files"
Quicken (2008 to 2012, Google "Quicken Password Removal Tool")

https://www.elcomsoft.com/ainpr.html has information about the various file products and file formats involved.

[2017-03-20 15:07] #359 closed

[2017-03-21 11:58] kholia commented on #2474
We had this on our older wishlist for around four years. It seems no one cares about it. Implementing this involves non-trivial amount of original reverse engineering work.

[2017-03-21 15:55] magnumripper opened #2475 "Possible further tweaks for -max-cand=N option"
- [ ] Change "Session aborted" similar to the -max-runtime option (the latter says "Session stopped (max run-time reached)")
- [ ] Allow resume (do another set of *N* starting off where previous session stopped)
- [ ] Show ETA/progress relative to *N* (but only where it's lower than mode's calculated max).

[2017-03-21 22:40] claudioandre-br opened #2476 "General issues on CI"
### IMPORTANT (edited)
- I need a place to document general issues I see on CI
- I can't do much about what I'll list here. Maybe someone else can and would like to.
****
- [ ] I can't add a `--make-charset` test to CI.
  - it doesn't call format->done(). By design, my tests fail in case of a memory leak.
- [ ] Keep TS tests short (if possible). strip is reasonable. rar is hulking (I already remov

[2017-03-22 21:05] #2475 closed

[2017-03-23 17:31] frank-dittrich opened #2479 "Improve --rules=[section1,section2]"
Now that `--rules=` and `--single=` allow multiple sections, some adjustments are required.

1.
doc/OPTIONS mentions the syntax:
[code]
E.g., instead of
[code]
use
[code]

2.

Since `,` is now used to separate section names, bleeding-jumbo shouldn't allow section names using a comma.
For now, this seems to apply to List.Rules section names, but I think we could enforce this generally.
Also, it wou

[2017-03-23 17:38] frank-dittrich commented on #2479
The extra `:` in the example above came from auto-completing `--rules=:`.

The same error occurs with the "correct" section name with an invalid name:
[code]

[2017-03-23 17:50] frank-dittrich opened #2480 "./john --list=rules prints section names of john-local.conf twice"
[code]

[2017-03-24 07:57] magnumripper commented on #2475
I didn't implement the ETA/progress thing. It might not always be what's wanted.

[2017-03-24 09:18] kholia commented on #1047
Ettercap does the job well. There is no strong case for duplicating functionality.

[2017-03-24 09:18] #1047 closed

[2017-03-24 09:22] kholia commented on #2468
Duplicate of https://github.com/magnumripper/JohnTheRipper/issues/351.

[2017-03-24 09:22] #2468 closed

[2017-03-24 09:22] kholia commented on #351
This issue is about porting the "simple MD5" based KDF and decryption verification to OpenCL.

This is a fast format so we will need GPU side mask support.

[2017-03-24 09:46] frank-dittrich opened #2481 "1.8.0.9-jumbo-1-bleeding vs. 1.8.0-jumbo-1-5577-g80eddc3 vs. 1.8.0.6-jumbo-1-2970-g80eddc3"
When I create a new git clone, the version is
[code]
When I download https://github.com/magnumripper/JohnTheRipper/archive/bleeding-jumbo.tar.gz and build that binary, I get
[code]
So, it looks as if the version from the tar.gz file were newer (1.8.0.9-jumbo-1) than the version built from within the git repo (1.8.0-jumbo-1).

This is confusing and unfortunate.

With latest git (my current local re

[2017-03-24 09:55] kholia commented on #2481
https://github.com/magnumripper/JohnTheRipper/releases (list of "releases").

[2017-03-24 13:30] frank-dittrich commented on #2481
Assuming that github is using `git archive` to create the .tar.gz or .zip archives, we could also try something similar to what hashcat seems to be doing:

[code]
For a list of format placeholders, see `man git log`, section `PRETTY FORMATS`
We could use `"$Format:%h$"` as part of the version string for builds based on downloaded bleeding-jumbo archives.

That should avoid possible confusion.

[2017-03-24 14:34] frank-dittrich commented on #2481
See https://github.com/frank-dittrich/JohnTheRipper/commit/82bd82a88ab73a2233a8b4697a47e16ac946c377 as an example.

Building john based on a bleeding-jumbo archive download would result in this output:
[code]

[2017-03-24 20:09] claudioandre commented on #2227
* In order to avoid to transfer data from GPU to CPU, I'm using a Bloom filter.
* Scenario:
  * `Loaded 4000002 password hashes with no different salts (Raw-SHA256-opencl [SHA256 OpenCL])`
  * Using mask on super, each GPU crypt_all() hashes (and discards) more than 110 millions of keys.
  * Of course, GPU can produce false positives.
  * In the tested scenario: `Some checks are going to be done o

[2017-03-24 23:59] frank-dittrich opened #2484 "Whitespace problems in src (CRLF line endings etc.)"
[code]

I guess `src/john.asm` should not be changed, unless @solardiz changes it in core.

Should we adjust .editorconfig for src/john.asm? Is there a reason for using CRLF line endings here?

And what about all the ztex files? Fix the whitespace issues? (Not just CRLF line endings, but also trailing tabs etc.)
Should this be fixed, or should .editorconfig be adjusted?

(I found the whitespace pr

[2017-03-25 01:02] solardiz commented on #2484
On Fri, Mar 24, 2017 at 04:59:53PM -0700, frank-dittrich wrote:

It was/is to be processed by TASM under DOS, and I have no idea what TASM does on bare LFs.  I should probably just drop DOS support in next release anyway.

Pinging @apingis

[2017-03-27 00:14] carlorosati opened #2485 "Incorrect usage of $JOHN in fopen(3)"
On a default ```./configure && make -j``` https://github.com/magnumripper/JohnTheRipper/blob/bleeding-jumbo/src/config.c#L233 is used by

./fake_salts.c:162:		cfg_init(CFG_PRIVATE_FULL_NAME, 1);
./fake_salts.c:163:		cfg_init(CFG_PRIVATE_ALT_NAME, 1);
./fake_salts.c:165:		cfg_init(CFG_FULL_NAME, 1);
./fake_salts.c:166:		cfg_init(CFG_ALT_NAME, 0);
./config.c:567:	cfg_init(Name, allow_missing);
./dyn

[2017-03-27 17:49] magnumripper commented on #2485
They are not supposed to. While `$JOHN` may look like an environment variable, it isn't - it's just a placeholder. That placeholder is replaced with something else (depending on build type) in `path_expand()`.

What issues? I'm not aware of any. My guess is you try to use a non-systemwide build as if it was a systemwide one. If you use `./john` or `some/path/john` instead of just `john`, there is

[2017-03-27 17:53] magnumripper commented on #2485
Watch this:
[code]

[2017-03-27 17:57] carlorosati commented on #2485
Well, ```path_expand()``` is not working.

% strace -e open ./john --test |& grep -F '$JOHN'
open("$JOHN/john.local.conf", O_RDONLY) = -1 ENOENT (No such file or directory)
open("$JOHN/john-local.conf", O_RDONLY) = -1 ENOENT (No such file or directory)

Also the build-info output does match yours.

% ./john --list=build-info | grep JOHN
$JOHN is ./

% ../run/john --list=build-info | grep JOHN
$JOH

[2017-03-27 18:00] magnumripper commented on #2485
It looks for a john-local.conf that's not present (which is normal). Nothing wrong with that.

[2017-03-27 18:03] carlorosati commented on #2485
Okay. This will be fixed by the --prefix temporary workaround of copying files from run

[2017-03-27 18:03] #2485 closed

[2017-03-27 18:03] magnumripper commented on #2485
Exactly, so there is no problem. You are/were just using it wrong. Please move this discussion to john-users mailing list.

[2017-03-28 19:34] claudioandre opened #2488 "New fglrx package and CI failures"
### Scenario
- There are new kernel and fglrx-* packages in "ubuntu-updates";
- There is, at least, one bug in these packages;
- You guys can workaround the bug;
- But, the relationship between these new packages + CI + JtR OpenCL is becoming "complicated". E.,g., Clang is really unhappy.

### You guys can
- workaround the bug and keep the OpenCL tests running (for a while).
- stop testing OpenCL

[2017-03-31 10:58] magnumripper commented on #2481
I don't understand that string at all. What is it, what does it affect, what is the result? Is it a gmake thing?

[2017-03-31 11:01] magnumripper commented on #2481
The ones after will be called 1.8.0-jumbo-2 so should be very easy to distinguish. Or do I miss something?

[2017-03-31 11:08] magnumripper commented on #2479
Wall of text. So the TLDR is that we should

1. disallow `,` and `:` in section names, and
2. make that suggested change in doc/OPTIONS

...right?

[2017-03-31 13:56] frank-dittrich commented on #2479
@magnumripper Yes, and it would be good if @solardiz could implement the same section name restrictions in core john.

[2017-03-31 14:36] frank-dittrich commented on #2481
@magnumripper That `$Format:...$` string only has a "meaning" if there's also a `.gitattributes` line with the ` export-subst` keyword. Then these format strings are substituted when creating an archive file (tar/zip).

Check `man 1 git-archive`, especially the explanation of `export-subst` in the `ATTRIBUTES` section:

`If the attribute export-subst is set for a file then Git will expand several

[2017-03-31 15:06] frank-dittrich commented on #2481
Depends on the 'x'. As long as x >= 9, you are probably right - until @solardiz creates new core releases. Then, JOHN_VERSION might again be misleading.

[2017-04-02 08:31] magnumripper commented on #2481
So if using a tree not downloaded as an archive, params.h would contain the strange string, but the way hashcat does it should work around that. I think I get it. We should do this to Makefile.in and leave params.h alone. Also, I think the timestamp is overkill (and too long), we should just use the commit hash.

[2017-04-02 09:07] frank-dittrich commented on #2481
In the Makefile, you cold just use the commit date instead of the complete timestamp.
While we would be able to find out how old a build is based on the commit hash, a regular user wouldn't.

[2017-04-02 09:18] frank-dittrich commented on #2481
May be we could also use ` export-ignore` in `.gitattributes` to exclude some files or directories from the archives, e.g.
[code]

[2017-04-02 09:39] magnumripper commented on #2481
That's a good idea

[2017-04-04 07:10] kholia commented on #2473
I am looking for PGP WDE software for Linux.  It is not easy / possible to download it anymore, it seems.

[2017-04-06 11:18] Rohitpoddar92 commented on #661
Did anyone find a workaround for it? I am facing the same issue.
"pushl       %%ebx           \n\t" .........

inline assembly requires more registers than available

[2017-04-06 11:26] magnumripper commented on #661
Not that I know of. You probably need to upgrade clang or use gcc instead.

[2017-04-06 12:24] Rohitpoddar92 commented on #661
I am using the latest version of clang. I can't move to GCC.

Does it mean I need to rewrite the entire assembly code?

[2017-04-06 13:30] kholia commented on #661
@Rohitpoddar92 This is a issue tracker for the JtR jumbo project. Are you trying to compile JtR and getting compilation errors *OR* are you compiling some other stuff and just complaining here? I can't tell.

[2017-04-06 16:17] Rohitpoddar92 commented on #661
ohh. sorry, I noticed it now.
I am not working on JtR combo. I am woking on some other project.

[2017-04-06 17:22] magnumripper commented on #661
Duh. Good catch, @kholia!

[2017-04-06 23:53] CyberShadow opened #2491 "md5crypt-opencl fails on NVIDIA with CL_INVALID_COMMAND_QUEUE"
[code]

john is built from git ([this AUR package](https://aur.archlinux.org/packages/john-git/), commit 7eeb2bfe1008a8a153daab4a71e9f0c391a17ff7). Build info:
[code]

However, [the stable package (1.8.0.jumbo1)](https://www.archlinux.org/packages/community/x86_64/john/) fails this test too.

Output of `john --list=opencl-devices`:

[code]

System is running Arch Linux x86_64 with kernel 4.10.8-1-

[2017-04-07 09:20] CyberShadow commented on #2491
Found something that looks useful. In dmesg:

[code]

[2017-04-09 09:54] kholia opened #2492 "Add support for Ethereum Wallet(s)"
* https://github.com/ethereum/go-ethereum/wiki/Managing-your-accounts

* https://github.com/ethereum/wiki/wiki/Web3-Secret-Storage-Definition

* https://hashcat.net/forum/thread-6405-post-34457.html

* https://github.com/ethereum/cpp-ethereum/blob/develop/libdevcrypto/SecretStore.cpp#L378-L418 (thanks to philsmd)

* https://github.com/lexansoft/ethcracker/

* https://github.com/ryepdx/pyethrecover

[2017-04-10 12:23] kholia opened #2494 "Add bcrypt PBKDF support in OpenBSD-SoftRAID format"
Useful links,

* http://thiébaud.fr/openbsd_softraid.html
* http://www.openbsd.org/faq/upgrade61.html
* https://github.com/openbsd/src/blob/master/sys/dev/softraid.c
* https://github.com/openbsd/src/blob/master/sys/dev/softraidvar.h

Here is a [sample disk image](https://github.com/magnumripper/JohnTheRipper/files/909998/bcrypt-pbkdf-openwall12345.raw.zip) for testing. Grab OpenBSD 6.1 ISO from [h

[2017-04-11 13:08] AlbertVeli opened #2495 "SSH-ng format and des3 encrypted PEM files"
I tried to crack a bunch of pass phrase protected PEM-files using the SSH-ng format. For instance
ssh-keygen -t rsa
<enter passphrase>
creates an RSA PRIVATE KEY file where the passphrase can be recovered with sshng2john.py + john. But when I created a 3des one with the openssl cmdline john failed.

### Steps to reproduce
[code]

Output:
[code]

I put the output in albertdes.key and then:

[code]

[2017-04-12 06:25] kholia commented on #2495
Fixed in PR #2496.

[2017-04-12 06:25] #2495 closed

[2017-04-12 06:52] kholia opened #2497 "Add support for IPsec Authentication Header (AH) hashes"
Useful links,

* https://tools.ietf.org/html/rfc4302

* https://tools.ietf.org/html/draft-ietf-ipsec-ah-hmac-md5-03

* http://www.keepalived.org/draft-ietf-vrrp-ipsecah-spec-00.txt

* https://tools.ietf.org/html/rfc4552 (OSPF)

* http://packetlife.net/blog/2008/sep/3/ospfv3-authentication/ (unlikely to be crackable)

Use `Keepalived` for testing and development.

[2017-04-12 13:41] kholia opened #2499 "Add support for FreeBSD whole disk encryption (GELI)"
Useful links,

* http://www.allanjude.com/bsd/AsiaBSDCon2016_geliboot.pdf

* https://github.com/freebsd/freebsd/blob/master/sys/geom/eli/g_eli.c

* https://github.com/freebsd/freebsd/tree/master/sys/geom/eli

* https://github.com/freebsd/freebsd/blob/master/sys/geom/eli/g_eli.h (important)

[2017-04-13 10:49] kholia commented on #1637
This is almost done. It is super hard to get extra test vectors for `fde` and `dmd5` formats. I will close this bug if we can't find the required test vectors in a reasonable amount of time.

[2017-04-13 11:01] kholia commented on #2494
Fixed in PR https://github.com/magnumripper/JohnTheRipper/issues/2500. This landed just in time for the OpenBSD 6.1 release ;)

[2017-04-13 11:01] #2494 closed

[2017-04-13 11:02] kholia commented on #2466
This is now done, hence closing.

[2017-04-13 11:02] #2466 closed

[2017-04-13 13:06] kholia opened #2502 "Support new KeePass algorithms"
Useful links,

* http://keepass.info/help/base/security.html

* http://keepass.info/help/kb/kdbx_4.html#argon2

ChaCha20 and Argon2 are needed.

[2017-04-17 10:24] kholia commented on #2499
Done in PR https://github.com/magnumripper/JohnTheRipper/pull/2503.

I will open another issue for future enhancements (support for different versions and ciphers, support for keyfiles).

[2017-04-17 10:24] #2499 closed

[2017-04-17 10:27] kholia opened #2504 "Add support for Electrum Bitcoin Wallet"
Useful links,

* https://github.com/spesmilo/electrum/blob/master/lib/storage.py#L118-L121 (KDF = PBKDF2 + some ECC stuff)
* https://github.com/spesmilo/electrum/blob/master/lib/bitcoin.py#L670 (password validation, secp256k1 ECC is involved)

These findings apply to Electrum 2.7+ encrypted wallets. The primitives involved in older versions are quite different.

[2017-04-19 15:17] kholia commented on #2497
This was done in PR https://github.com/magnumripper/JohnTheRipper/pull/2498.

[2017-04-19 15:17] #2497 closed

[2017-04-19 23:15] Hitechcomputergeek opened #2506 "john --show=left only works if at least one hash has been cracked"
If `john --show=left` is run against a file with no hashes cracked yet, john will print statistics but will not print any password hashes. Only if at least one hash has been cracked will john print the remaining hashes from the file like it's supposed to.

Tested against john 1.8.0-jumbo-1-5603-g70e8d4c+.
[code]

[2017-04-20 05:59] kholia opened #2507 "Add OpenCL support for cracking FreeBSD GELI hashes"
This requires PBKDF2-SHA512, HMAC-SHA512, and AES functions.

https://github.com/magnumripper/JohnTheRipper/blob/bleeding-jumbo/src/geli_fmt_plug.c#L171

https://github.com/magnumripper/JohnTheRipper/blob/bleeding-jumbo/src/geli_fmt_plug.c#L107

[2017-04-21 06:34] magnumripper opened #2508 "Bitlocker formats: Use improved bitlocker2john"
- [x] Use or adopt code from https://github.com/kholia/bitlocker2john
- [x] Adopt OpenCL format to that syntax (and 6-byte verifier)

I couldn't assign @e-ago to this issue because GitHub only allows me to list "collaborators", but I hope you and @kholia can work this out together.

[2017-04-21 06:41] magnumripper commented on #2506
Wow, I always wondered why it sometimes didn't list anything, but never saw this. Thanks for nailing that! We should try to fix it.

[2017-04-21 06:43] magnumripper commented on #2502
I'd like to see an OpenCL format as well.

[2017-04-21 06:46] magnumripper commented on #2491
Strange, I've never seen problems with md5crypt on NVIDIA. I'm using Ubuntu LTS.

[2017-04-21 06:50] magnumripper opened #2509 "Docs: Update README.bitcracker"
- [x] Change name to README.bitlocker
- [x] Overhaul of usage, layout (formatting, whitespace) etc.

[2017-04-21 07:12] magnumripper opened #2511 "Support RACF KDFAES hashes"
See #2510

[2017-04-21 07:16] magnumripper opened #2512 "Various bitlocker issues"
[code]
1. Algo name should (afaik) not be PBKDF2. I think both should be just "SHA256 AES". We usually don't say "iterated".

2. Iteration count differs between CPU and OpenCL. Is that correct (as in different test vectors) or is one of them wrong?

[2017-04-21 08:15] kholia commented on #2512
1. Isn't `Iterated-SHA256 AES` more informative than simply saying `SHA256 AES`?

2. `opencl_bitlocker_fmt_plug.c` contains the following code which is obviously not correct,

[code]

[2017-04-21 08:17] kholia commented on #2512
While the iteration count is fixed in BitLocker, it is good to have the fixed value as part of the hash format itself for future expandability purposes.

[2017-04-22 07:16] kholia commented on #2509
This is being fixed in PR https://github.com/magnumripper/JohnTheRipper/pull/2514.

[2017-04-22 07:17] kholia opened #2517 "Add SIMD support in BitLocker CPU format"

[2017-04-22 07:31] kholia opened #2518 "Add OpenCL support for cracking SNMPv3 hashes"
The KDF involved is https://github.com/magnumripper/JohnTheRipper/blob/bleeding-jumbo/src/snmp_fmt_plug.c#L181.

This is a slow format, so OpenCL acceleration support would be great to have.

[2017-04-22 07:43] kholia commented on #423
This is finally done!

[2017-04-22 07:43] #423 closed

[2017-04-22 07:45] kholia commented on #2508
This is in progress in PR https://github.com/magnumripper/JohnTheRipper/pull/2513 and https://github.com/magnumripper/JohnTheRipper/pull/2516.

[2017-04-23 08:34] kholia commented on #2509
This is now done.

[2017-04-23 08:34] #2509 closed

[2017-04-24 02:00] claudioandre commented on #2233
Isn't this the "fix"? I mean, now the destination pointer is only a pointer; a 'generic' one?

[code]

*****
I had to apply this to CI (and all is ok) .

[2017-04-24 21:47] magnumripper commented on #2512
Only the iteration count (in the OpenCL version) remains now. And it'll be fixed just by starting to use the function provided in bitlocker_common.h

[2017-04-24 21:48] #2508 closed

[2017-04-24 21:50] magnumripper commented on #2488
For now I just allowed failures for OpenCL. Not sure how to actually get it working again.

[2017-04-24 21:51] magnumripper commented on #2488
What's the story behind "configure needs a patch"? Is it complicated?

[2017-04-24 22:00] magnumripper commented on #2484
@roycewilliams do you have a test environment for this? What if you drop the CR's from all files under ztex/, does that still work fine (I have a feeling it will)?

Something along the lines of:
[code]

[2017-04-24 22:03] solardiz commented on #2484
On Mon, Apr 24, 2017 at 03:00:29PM -0700, magnum wrote:

We should primarily ask @apingis

[2017-04-24 22:04] magnumripper commented on #2476
The RAR tests could be fixed similar to how we sped up WPA-PSK by sorting salts by ESSID and re-using the iterated hash for same-salt (as in same ESSID in that case and same RAR salt in this case). It wont (normally) speed anything up IRL but it could be worthwhile anyway.

[2017-04-24 22:06] magnumripper commented on #2471
I intend to look into this

[2017-04-24 22:08] magnumripper commented on #2484
We did and he didn't answer

[2017-04-24 22:31] claudioandre commented on #2488
If you want to see my CI in action (except the intel stuff, I prefer AMD), run (inside JtR main dir; I mean, above /src, /doc, ...):
[code]
*****

I have no idea where I put the intel stuff. Anyway, it is not hard. What I did inside the CI scripts:
- using CentOS 7.3 docker on Travis;
- wget the intel beta software (the only thing I was able to find inside intel's site);
- install it;
- patch conf

[2017-04-25 07:46] Apingis commented on #2484
Hi,
All CRs can be removed (I've tested).

./src/ztex/ez-usb/inouttraffic.ihx
./run/ztex/inouttraffic.ihx
These are firmware images, exactly as they were produced by SDCC. Specs for IHX file format allows CR, LF or both. I've checked it works with CRs removed.

./src/ztex/fpga/ztex_inouttraffic/ztex_inouttraffic.xds - strategy file used by ISE, it's XML, works fine with CRs removed.

All other zte

[2017-04-25 12:26] roycewilliams commented on #2484
@Apingis, excellent - and good to hear from you!

All - I do still have a testing platform available, so you can ping me as needed.

[2017-04-25 14:12] kholia commented on #898
This is getting fixed in PR https://github.com/magnumripper/JohnTheRipper/pull/2521.

[2017-04-25 14:12] #898 closed

[2017-04-25 21:05] magnumripper commented on #2484
So perhaps it's a better solution to keep the existing line endings, and adjust our `.editorconfig` file so it reflects the situation. That solves it 100% for me personally. We do this for eg. tab spacing in "john proper" vs. jumbo.

http://editorconfig.org

[2017-04-25 21:09] magnumripper commented on #2484
OTOH in that case we might want to do the opposite - ensure ALL files under ztex/ has CRLF line endings. Currently all have CRLF except these:
[code]

[2017-04-25 21:11] #2506 closed

[2017-04-25 21:13] magnumripper commented on #2471
a666e7e was a start

[2017-04-26 05:04] kholia opened #2522 "Add OpenCL support for cracking iTunes Backup hashes"

[2017-04-26 16:31] solardiz commented on #2484
On Tue, Apr 25, 2017 at 02:09:10PM -0700, magnum wrote:

Maybe keep all files as they are, because their current line endings are native for the tools used to edit those files, and adjust .editorconfig to reflect that (perhaps by filename suffix).

[2017-04-26 20:25] magnumripper commented on #2484
Yeah that's also not too weird. It'll be a whole lotta lines in the .editorconfig file but that one is not made for looks anyway.

[2017-04-28 09:50] magnumripper commented on #2488
#2523 might be a "solution". Hopefully we can forget about fglrx and use OSX instead.

[2017-04-28 11:11] kholia commented on #2454
This is done now.

[2017-04-28 11:11] #2454 closed

[2017-04-28 14:31] magnumripper commented on #2488
Done! Our OpenCL formats are now bot-tested on OSX' CPU device.

[2017-04-28 14:31] #2488 closed

[2017-05-01 06:06] roycewilliams commented on #2338
In the short term, just displaying the current temperature would be a big help, operationally speaking. Today, the only way that I can troubleshoot thermal issues is to stop john, and then start up a bitcoin miner that is aware of the sensors and can show the temperatures.

[2017-05-01 11:45] solardiz commented on #2338
Royce, are you actually running into thermal issues when running descrypt-ztex?

[2017-05-01 13:07] roycewilliams commented on #2338
Yes, but it is not john's fault - it's my process of troubleshooting physical cooling issues.

[2017-05-02 23:02] magnumripper opened #2526 "iTunes backup confusion"
See https://github.com/hashcat/hashcat/issues/1236#issuecomment-298777744 and follow-ups.

I realize now that we're using IOS 9.x test vectors for benchmark. I didn't expect that from a format added just a few weeks ago, it's almost unreasonable - but OTOH we'd get REALLY unreasonably slow testing with real IOS 10 test vectors.

I think the least we should do is set `BENCHMARK_COMMENT` to somethin

[2017-05-03 04:41] kholia commented on #2526
Yes, the real iTunes 10 test vector is disabled with a comment saying `this is very very slow!`.

I think we can't set the `BENCHMARK_COMMENT` to something like `iTunes 9.x` since we are also including some fake `iTunes 10` test vectors in the benchmarking.

I will look into showing the version (9/10) as a cost.

[2017-05-03 05:03] kholia commented on #2526
With latest changes (to be PR'ed) I see,

[code]

Hopefully this should reduce/eliminate any confusion. The very slow test vector will be disabled in the actual committed version.

[2017-05-03 05:49] magnumripper commented on #2526
All test vectors are used for self-tests but only the first two are used for benchmarking. But this cost thing is better anyway.

[2017-05-03 05:55] kholia commented on #2526
Cool. I had moved the `iTunes 10` test vector to the second place to reflect the different `version` cost.

[2017-05-03 05:58] #2526 closed

[2017-05-04 09:14] kestufabrix opened #2528 "pkzip non-handled compression type"
Hi,
I need to crack a zip archive password containing two files, a small .txt and another big .zip. The password seems to be zipcrypto

I used zip2john to get the hash of the archive but I get :
ver 1.0 XXX.zip->YYY.txt PKZIP Encr: cmplen=51, decmplen=39, crc=BDF11DE0
ver 4.5 ~/Downloads/00-Utilitaires/XXX.zip->ZZZ.zip **is not encrypted, or stored with non-handled compression type**
(though it do

[2017-05-04 16:08] magnumripper commented on #2528
Any chance you can share that archive with us (privately)?

[2017-05-04 16:27] kestufabrix commented on #2528
Yes of course. Though it's a big file and its origin is not really secure nor very official... Honestly my purpose is just testing but it's certainly still not very very lawful... Let me know how to share it (dropbox?).

[2017-05-04 17:08] kestufabrix commented on #2528
Thanks for your answer. Unfortunately the ZZZ.zip does asks for a password! That's what troubles me...

[2017-05-04 18:22] claudioandre commented on #2528
JtR and the 2john can handle the **not encrypted, or stored with non-handled compression type**. I just tried to reproduce your use case.
* encrypted 1.0 YYY.txt
* unencrypted 4.5 ZZZ.zip

[code]

So, it has to be something else.
****

BTW: are your saying that you can crack the hash you posted using something like this `./john ~/hash -mask=zipcrypto`?

[2017-05-04 19:06] claudioandre commented on #2528
Anyway, I was able to do something really interesting (the same salt for 2 different passwords):
[code]

For this hash file, JtR finds the wrong password for the 2nd line and can't find the right one.

[2017-05-04 19:30] magnumripper commented on #2528
@claudioandre that's weird, we need to look into that. When you say "same salt" you mean same actual pkzip salt but in JtR's perspective it's not regarded as a salt in normal sense, the whole hash is (and binary size is 0 -- what we use to call a non-hash).

@kestufabrix could you post the output of `zipinfo -v XXX.zip`? It should tell all details about encryption types, versions and so on.

[2017-05-04 19:33] kestufabrix commented on #2528
Actually john did crack the hash but without the zipcrypto mask. But anyway the password it finds won't work.

The output of zipinfo is:
Archive:  XXX.zip
Zip file size: 2831753269 bytes, number of entries: 2
-rw-a--     3.1 fat       39 BX stor 16-Oct-14 21:20 YYY.txt
-rw-a--     3.1 fat 2831752668 BX stor 16-Oct-09 23:41 ZZZ.zip
2 files, 2831752707 bytes uncompressed, 2831752707 bytes compressed

[2017-05-04 19:34] magnumripper commented on #2528
You need to add the `-v` option to zipinfo, that will tell a whole lot more.

[2017-05-04 19:36] kestufabrix commented on #2528
Of course, sorry, I updated the post

[2017-05-04 19:41] magnumripper commented on #2528
OK, here's a wild theory: Maybe our zip2john and/or the pkzip format have "32-bit issues". The size of ZZZ.zip can't be fit in a signed int.

[2017-05-04 19:44] kestufabrix commented on #2528
I admit I thought of that 32/64 bits issue but it is far beyond my skills and undestanding to solve the problem then! :-)

[2017-05-04 19:45] claudioandre commented on #2528
I mean JtR said that to me.
[code]

[2017-05-04 19:49] magnumripper commented on #2528
Wow that is a bug. I guess Jim is setting a too small size on the dyna salt.

I will have a look at both of these issues tomorrow. If it's a 32-bit problem it should be easy to fix.

[2017-05-04 20:05] claudioandre commented on #2528
There a some stuff to clarify:
* @kestufabrix, can you please open the zip file, remove the huge ZZZ.zip file inside it and try to crack the resulting/new zip file? (of course, backup first).
* zip2john can't handle encrypted file type 4.5. If the file has 2 different passwords, JtR won't be able to crack the ZZZ.zip password.

[2017-05-04 20:07] magnumripper commented on #2528
Very good point. Another way to achieve the same is (or should be) `zip2john -o YYY.txt XXX.zip` to get the hash.

[2017-05-04 20:09] magnumripper commented on #2528
No wait, the hash you got in the first place was just that. It's the hash of the small txt file.

[2017-05-04 20:11] claudioandre commented on #2528
So, if he creates a new zip, we can compare the 2 hashes and discard (or be sure about) some kind of bugs.

[2017-05-04 20:13] kestufabrix commented on #2528
OK then, I deleted the big ZZZ.zip file. The hash I get then from zip2john is :

XXX.zip:$pkzip2$1*1*2*0*33*27*bdf11de0*0*2c*0*33*bdf1*aa8a*e2f57a8f225245b7aa7ec500c0397f9a412f501c3f8ea362aa5dbf7fc0871054c2e305b60cf04c10575b6837737db7c5fbb609*$/pkzip2$:::::XXX.zip

And now john is cooking... I'll let you know.

[2017-05-04 20:13] magnumripper commented on #2528
That's the same hash

[2017-05-04 20:15] magnumripper commented on #2528
@kestufabrix drop me a mail so I get your address. john.magnum@hushmail.com

[2017-05-04 20:16] kestufabrix commented on #2528
Ah yes it's the same hash, sorry, I checked too fast...

[2017-05-04 20:58] mubix opened #2529 "Incorrect MaxChar for NTLM"
Attempting to crack an NTLM hash with a known password fails to crack:
[code]

Checking the format details it says it supports up to 81 characters:
[code]

John.log
[code]

Nothing to really show since it doesn't crack it successfully. But I'm also having the same issue with Kerberos TGS hashes with known passwords.

### System configuration
[code]

[2017-05-04 21:07] magnumripper commented on #2529
This is not really a bug, it's more of a quirk. The NT formats have a max length of 27 characters. That is true even with Unicode characters, since the format uses UTF-16 internally.

The problem is that in order to get 27 Unicode characters we might need (up to) 81 bytes of UTF-8 input, so in case you run `--input-encoding=utf8` (which is the default now), that is what we set. Most of legacy john

[2017-05-05 13:02] solardiz commented on #2529
On Thu, May 04, 2017 at 02:07:34PM -0700, magnum wrote:

Since the character encodings support is jumbo-specific, maybe jumbo could deduce the range of max supported plaintext lengths (in this case, 27 to 81 input bytes, depending on what characters those are) and report it accordingly (that is, as a range) in john.log and in format details?  This doesn't sounds like it'd require major core change

[2017-05-06 10:52] magnumripper commented on #2528
Some conclusions so far:
* Both files are stored, not inflated. In that case our only validation of a correct password is the 32-bit CRC. This means we'll have a false positive for every 4 billion guesses (on average) and that's what you saw. Adding the --keep-guessing option to john will make it go on and find more alternatives. When you find a password that works with unrar for both files, it's

[2017-05-06 12:02] solardiz commented on #2528
On Sat, May 06, 2017 at 03:52:59AM -0700, magnum wrote:

In cases like this - with multiple files in a zip - would it be possible for us to have multi-file "hashes" and filter out guesses based on multiple 32-bit CRCs at once?

[2017-05-06 15:07] magnumripper commented on #2529
That should be doable. Re-opening for implementing that.

[2017-05-06 15:15] magnumripper commented on #2528
I believe that is actually what would happen with current code, if both files were supported. At least unless we disqualify the second file based on its huge size. I will look into that once I get support for v4.5 and 64-bit sizes.

[2017-05-08 09:02] kestufabrix commented on #2528
John is still running... 40 hours now.
It did find a second password but still not the good one. Id does try to extract the .txt file though but the .txt file seems corrupted with wrong UTF-8 characters... And the password won't work with the ZZZ.zip file anyway (I still assume it's the same password).

[2017-05-08 09:29] magnumripper opened #2532 "7z archive that doesn't get cracked by JtR"
We've got a sample off-list. Password is 1234.

Sample contains malicious code so beware.

[2017-05-08 09:34] kholia commented on #2532
I created some fresh 7z header encrypted archives for testing but all of them were cracked fine by the current code. I wonder where the problem is.

[2017-05-08 09:36] magnumripper commented on #2532
[code]

[2017-05-08 09:37] magnumripper commented on #2532
It's a solid archive, right? Do we support that?

[2017-05-08 09:39] magnumripper commented on #2532
Hashcat doesn't load it. "Salt-value exception".

[2017-05-08 10:09] kholia commented on #2532
I don't know if we support solid archives now. The format has changed a lot. It is quite unlikely that my original code supported solid archives; it was pretty limited.

I tried to create a solid 7z archive earlier but didn't succeed. This is what I was trying,

[code]

[2017-05-08 12:11] kholia opened #2533 "New warnings generated by GCC 7"
While building JtR jumbo with GCC 7 I see,

[code]
[gcc-7-compilation-log.txt](https://github.com/magnumripper/JohnTheRipper/files/983386/gcc-7-compilation-log.txt) (full log).

I have not investigated these compiler warning messages.

[2017-05-08 15:07] kholia opened #2534 "Better support for network hashes"
Ensure support for https://c0decafe.de/svn/codename_loki/test/ sample .pcap files.

[2017-05-08 15:41] jfoug commented on #2533
dynamic_fmt.c:8212:19: warning: ‘sprintf’ may write a terminating nul past the end of the destination [-Wformat-overflow=]
      sprintf(Fld, "$$F%d", i);
                   ^~~~~~~
dynamic_fmt.c:8212:6: note: ‘sprintf’ output between 5 and 6 bytes into a destination of size 5
      sprintf(Fld, "$$F%d", i);
      ^~~~~~~~~~~~~~~~~~~~~~~~

That is a 100% bogus message.  The output will ALWAYS be 4

[2017-05-08 17:54] magnumripper commented on #2532
[code]
One difference is the "LZMA2:26" vs. "LZMA2:16". Not sure what it means.

[2017-05-08 18:27] magnumripper commented on #2532
I accidentally used an ancient version of Hashcat. Current hashcat loads it but doesn't crack it, just like JtR.

[2017-05-08 18:29] magnumripper commented on #2532
I'll send the sample to @philsmd and see if he has any idea.

[2017-05-08 20:10] magnumripper commented on #2528
@kestufabrix if you ever crack it, please send the password to me (off list if you wish) so I can verify some changes to the format.

[2017-05-08 21:02] magnumripper commented on #2528
@kestufabrix I have committed a change that supports the larger file. The result of that, like Solar mentioned, is merely that you will get less false positives (it will verify both files CRC). I have tested this with some mockup files and it seems to work. It also did not break any old samples we had. You can keep running with what you've got, or you could try stopping the job, re-creating the in

[2017-05-08 21:05] magnumripper commented on #2528
I believe zip2john now fully supports 64-bit sizes. The pkzip format itself doesn't, in case any actual size exceeds 4 GB. This is a to-do and I'm working on it.

[2017-05-09 07:53] watanuoli opened #2535 "batch hashes cracking issue"
I came across the situation as follows:
Adding two oldoffice type of files and extract the hashes into the a.enc file(2 lines).
6digits.doc:.............
8digits.doc:............
Then I run 2 commands with the separate rules against them. e.g. 6-digits and 8-digits
If I run the 8-digits rules first and cracked 8-digits.doc, then the following command for 6-digits rules report there's no hash left

[2017-05-09 08:33] magnumripper commented on #2535
I haven't seen that before. Perhaps your two hashes are "too similar" for JtR to see the difference in all cases - but that would be a bug of course. Would it be possible for you to share the a.enc file? I believe that file is totally free from actual document contents, it's only meta data.
If you don't want to share it in public you could send it to me at john.magnum@hushmail.com.

[2017-05-09 09:39] watanuoli commented on #2535
6.doc:$oldoffice$1*f6391b03f90cf0d10b66b4116463ac20*1d0e3dd64b92265e6907ccf50c1b10bc*e0ce0f57ba306386294b634c9e099c66:::::/home/jim/rc/tmp/2/origin/20170509172828116.doc

8.doc:$oldoffice$1*70744b12ffe9f9956638a28f17a4d9c4*60d9a9c5b462395be03b20c3ce52f38c*6e4e29c224b5a8137296b6d2490feba8:::::/home/jim/rc/tmp/2/origin/20170509172828141.doc

[2017-05-09 09:40] watanuoli commented on #2535
8.doc password: 56547313
6.doc password: 954124

[2017-05-09 09:43] watanuoli commented on #2535
reproduce step:
The first command using 6-digits rules, The second command use 8-digits rules but can not find the hash left to be cracked.

[2017-05-09 13:45] kholia opened #2536 "Crash in Kerberos 5 TGS format found by fuzzing"
[krb5tgs-crasher.txt](https://github.com/magnumripper/JohnTheRipper/files/986782/krb5tgs-crasher.txt)

This hash causes the `krb5tgs` format to segfault in `crypt_all` function.

I guess we need to tighten the `valid` function in `krb5tgs` format.

[2017-05-09 16:26] magnumripper commented on #2535
Thanks, I can reproduce the problem. Will look into it.

[2017-05-09 20:16] magnumripper opened #2537 "Add a generic "no early reject" option"
See https://github.com/philsmd/7z2hashcat/issues/12#issuecomment-300272388

This might be combined with some idea of a generic "extra options option" like `--tweak=LIST`.

LIST could be anything comma-separated. For example `--tweak=no-early-reject` would solve this issue as written - but we could also support several options like `--tweak=no-early-reject,never-give-up` (not that I have the slight

[2017-05-09 20:24] magnumripper commented on #2537
This could also mean we can deprecate some old nefarious options and add them as "tweaks".

For example, the existing `--mkpc=N` or `--fix-state-delay=N` options could be tweaks. Anything not quite kosher should be tweaks. Things like `--verbosity=N` should not.

[2017-05-10 06:38] kholia commented on #2537
How would a `--tweak=no-early-reject` option work in practice? How will the end-user determine when to use such an option?

Fixing the problem of false negatives in 7z format with such an option seems like a weird hack. This said, I can't think of a better way to fix the padding checks in the 7z format. Can't we simply remove those padding checks?

[2017-05-10 06:44] magnumripper commented on #2537
The `--tweak` option would be mostly for debugging/testing and very advanced options. It shouldn't normally be used at all. Using no-early-reject where not applicable (eg. for raw-md4) would not emit any error or warning. Perhaps we shouldn't even document it.

If we encounter more 7z files where we can't trust the padding, we simply have to remove it by default. That would unfortunately mean a hu

[2017-05-10 10:26] kholia commented on #2536
### Fuzzing JtR jumbo's valid()s

* Tweak the build system a bit,

[code]

* Build JtR jumbo

[code]

* Let's fuzz the "net-md5" format. Create a set of net-md5 hashes.

[code]

* Start fuzzing!

[code]

  This is quite slow! We can improve the speed a bit by using the following patch,

[code]

[2017-05-10 19:09] #2532 closed

[2017-05-10 19:20] magnumripper commented on #2537
It turned out skipping the padding check didn't hurt performance much (#2532), so I just did that. I'll close this issue for now.

[2017-05-10 19:20] #2537 closed

[2017-05-10 19:22] magnumripper commented on #2532
Removed padding early-reject checks for now. They are still there for incomplete hashes.

Performance was almost not hurt at all, but it will be if attacking many different 7z hashes at once.

[2017-05-10 19:59] magnumripper commented on #2528
All problems I know of are now fixed.

[2017-05-10 19:59] #2528 closed

[2017-05-10 21:37] magnumripper commented on #2535
@jfoug I'm pretty sure the problem is I got some detail wrong when switching to dyna salt in oldoffice. That's the very commit when this problem was introduced. I just can't see the dang bug. I was always very very confused by the pointer-to-pointer-to-now-you-lost-me involved with dyna salt.

And it's awfully strange: If no hashes are cracked, I can either crack *both in one session, in any order

[2017-05-10 21:52] magnumripper opened #2538 "(Some formats) auto-tune OpenCL for actual loaded hashes (as opposed to test vectors), if applicable"
This is very notable in the DMG format. I believe auto-tune is always done with test-vector iteration counts of 1000, while real-world hashes of today are in the hundred-thousands.

Should be easy, most things are in place already. Oh, and bitlocker-opencl should do the same, off the top of my head.

[2017-05-10 21:54] magnumripper commented on #2538
BTW if we're really lucky, this can be a fix in shared auto-tune code that would affect all OpenCL formats with little effort.

[2017-05-11 00:19] claudioandre commented on #2538
This is not possible 'as is'. You need decide when auto-tune (first or second call of `reset()`). Look at:
[code]
You can't move this decision to shared code because `reset()` itself might need to do its tasks before or after tuning: move data to GPU, kernel (re)build, etc.

[2017-05-11 06:29] magnumripper commented on #2538
Ah, yes. But anyway it's a fairly trivial change in each format (any many formats don't really need this).

[2017-05-11 09:27] Hemza commented on #2366
Hi, did you resolve the Probleme of message " No password hashes left to crack"
I've dumps sume hashes from windows server 2008 r2 and i can decrypt it with  John

--
root@kali:~/Desktop/JTR# john passsonAdmin.txt --format=LM
Using default input encoding: UTF-8
Using default target encoding: CP850
Loaded 3 password hashes with no different salts (LM [DES 128/128 AVX-16])
No password hashes left to

[2017-05-11 17:18] claudioandre commented on #2366
John told you that:
- it found 3 LM password hashes; and:
- everything is already cracked; so:
- it has **nothing** to do.

Everything seems ok. If you have questions, please, ask for help in the support forum: http://www.openwall.com/lists/john-users/.

[2017-05-11 19:21] #2535 closed

[2017-05-11 19:27] magnumripper commented on #2535
Fixed now. It had nothing to do with dyna salt, it was the use of source() in a salted format. That simply doesn't work.

@watanuoli kudos for a perfect example so we could reproduce the problem.

[2017-05-12 01:10] watanuoli commented on #2535
@magnumripper It works! Thanks for your fix.

[2017-05-12 06:23] solardiz commented on #2535
On Thu, May 11, 2017 at 12:27:29PM -0700, magnum wrote:

Maybe we can and should have that detected by self-tests?  Is this as simple as "source && salt_size"?

[2017-05-12 07:08] magnumripper commented on #2535
Did so in same fix ;-)
[code]

[2017-05-12 12:48] kholia commented on #2504
@magnumripper

It seems that a `secp256k1` implementation is required for implementing this format. I am planning to trim down `https://github.com/bitcoin-core/secp256k1` for inclusion in JtR jumbo (similar to how `aes` stuff is handled).

The work-in-progress code is at https://github.com/kholia/JohnTheRipper/tree/electrum location.

I am trying to figure out how `aes.a` is automatically built wh

[2017-05-12 12:53] kholia opened #2539 "Add support for cracking MultiBit wallets"
* https://multibit.org/
* https://github.com/keepkey/multibit-hd
* https://github.com/keepkey/multibit
* https://multibit.org/help/v0.5/help_walletFormats.html

This and other Bitcoin related enhancements might encourage people to open low-quality support tickets on GitHub. For example, one person is already asking for a very newbie friendly guide for cracking Ethereum wallets. I have no free time

[2017-05-12 12:59] kholia opened #2540 "Add support for cracking Bitcoin Armory wallets"
* https://en.bitcoin.it/wiki/Armory

* https://github.com/goatpig/BitcoinArmory

* https://github.com/gurnec/btcrecover/blob/master/btcrecover/btcrpass.py#L289

[2017-05-12 17:58] ddreggors commented on #2352
I think this issue may still exist in 1.8.0-jumbo-1.

When I run zip2john all works as expected and a 4G hash file is created:
`$ ./zip2john encrypted.zip > encrypted.hash
ver 2.0 Movie.zip->017 HD-TS x264-CPG.mkv PKZIP Encr: cmplen=2142276603, decmplen=2143196027, crc=513DE5A7
$ ls -l ~/Downloads/Movie.hash
-rw-rw-r--. 1 ddreggors ddreggors 4284553336 May 12 13:48 encrypted.hash`

However running

[2017-05-12 18:08] ddreggors commented on #2352
Folowing up to that last comment I would like to add that Fedora has john (not jumbo) in yum repos. Installing it and using john against the previous hash file yields this:

[code]

Since this zip is encrypted and has a password, zip2john from jumbo seems to have failed

[2017-05-12 18:16] claudioandre opened #2542 "PkZip 2john tool can't handle a zip file with more than one password"
### Case 1
[XXX.zip](https://github.com/magnumripper/JohnTheRipper/files/997535/XXX.zip)
Passwords: 123456 and 654321

* works and cracks
[code]
* produces a hash but I was unable to crack it (the hash is a mix of the two ones seen above)
[code]
********************
### Case 2
Passwords: claudio and zipcrypto

Order this way: it finds ONLY the 1st password (1st hash):
[code]
Invert the order: it c

[2017-05-13 16:41] kholia commented on #2512
@e-ago Hi! Can you please take care of this last remaining problem?

[2017-05-14 17:58] solardiz opened #2543 "Setup automated Windows builds/CI using Cygwin on ReactOS"
I suggested this before in https://github.com/magnumripper/JohnTheRipper/issues/2372#issuecomment-270007448 but at the time I thought that ReactOS wouldn't run Cygwin.

It appears that since mid-2016 ReactOS is finally able to run Cygwin:

https://twitter.com/reactos/status/735141249775194112
https://jira.reactos.org/browse/CORE-7739

so maybe we should proceed with that setup, in a VM. Or maybe t

[2017-05-14 21:32] magnumripper commented on #2352
Jumbo-1 is like three years old and we are literally several **thousands** of commits past it. Did you mean bleeding Jumbo (as in latest Github version)?

[2017-05-14 21:33] magnumripper commented on #2352
This issue should be fixed since last week or so. Needs testing.

[2017-05-14 21:37] magnumripper commented on #2542
I believe this is just a documentation issue. zip2john assumes all files have the same password. In the unlikely event that's not the case, you need to use the `-o` option.

[2017-05-14 21:44] ddreggors commented on #2352
I am sorry yes... the bleeding was the one I meant.

[code]

This (1.8.0.9-jumbo-1) is what I was using in the above not 1.8.0-jumbo-1.

[2017-05-14 21:45] magnumripper commented on #2538
@claudioandre I found a way to do it in shared code. But it needs testing/review.

[2017-05-14 21:47] magnumripper commented on #2542
Case 2 is a bug, but should almost never happen IRL. Should be fixed anyway.

[2017-05-14 21:48] ddreggors commented on #2352
It was not as of two days ago, that is when I downloaded the version I was using to show these errors.

[2017-05-14 22:35] magnumripper commented on #2529
https://github.com/magnumripper/JohnTheRipper/commit/45131f1dba1c09b287a8e2519cb9f041eee1d977#commitcomment-22134658

[2017-05-14 23:08] claudioandre commented on #2542
It is fair.

The devil here is that I was expecting to crack an "only one password file"; a file I was trying to find the key.
- I failed to crack the file because I tried the correct password against a "bad" hash. Consider this is a note to self. But, if possible, JtR should warn somehow.

[2017-05-14 23:59] frank-dittrich commented on #2529
See also the ASCII length 0 mentioned in my second comment to your commit (for dynamic formats):

[code]

[2017-05-15 07:51] #2538 closed

[2017-05-15 15:19] magnumripper commented on #2538
Ooops, terrible bug fixed in ff70033

[2017-05-15 15:38] magnumripper commented on #2529
31b19c2 adds a tweak for LM formats. This should be fine (enough) now.

[2017-05-15 15:38] #2529 closed

[2017-05-15 15:47] magnumripper opened #2545 "--test-full problem"
Bots currently fail
[code]
The SAP/B format changes any 8-bit character to `^` so well, it doesn't quite ignore the 8th bit but it also doesn't support it fully. I consider it a problem with --test-full and not with the format.

[2017-05-15 15:47] magnumripper commented on #2545
I hate the --test-full code, this is up for grabs.

[2017-05-15 17:00] e-ago commented on #2512
@magnumripper @kholia done: I've opened a new pull request ( https://github.com/magnumripper/JohnTheRipper/pull/2546 ) Can you merge only the last commit?

[2017-05-15 18:06] claudioandre commented on #2545
For CI, why not use a `--test` run?

[code]

[2017-05-15 18:15] darkbyte-ru opened #2547 "OpenCL CL_INVALID_DEVICE error in common-opencl.c:435 - Error querying PLATFORM_NAME"
On my system was installed 10 NVIDIA cards, but I can't use them all with JtR.

For example when I run without --fork flag, JtR uses only first card, but display temperature for all cards:
[code]

But when I add --fork flag, I got some errors for all cards, except the first, and JtR again uses only one card:
[code]

System info:
[code]

[code]

[2017-05-16 02:38] claudioandre commented on #2547
Thanks for reporting the issue.

This is expected.
****

* Could you please check if something like this works?
[code]
Well:
* There was a change in clGetPlatformInfo() API for OpenCL > 1.0.
* Because of this, the output of JtR seen above makes no sense;
* But, in any case, clGetPlatformInfo() can't return -33 [CL_INVALID_DEVICE] (I checked using headers from Khronos' github and CUDA 7.5 [installe

[2017-05-16 04:47] darkbyte-ru commented on #2547
Thanks for answer, sure I can debug this problem.

Running a signle card with any index work ok:
[code]

I'am run JtR as root
[code]

All cl.h found was attached in [archive](https://darkbyte.ru/upload/2017/other/cl.h.tgz)
[code]

With this diff I confirm that -33 status code returns:
[code]

Memory seems enough for JtR. 32GB avail and ~1G used by JtR.

[2017-05-16 05:12] kholia commented on #2533
https://gcc.gnu.org/gcc-7/changes.html is relevant to this discussion. The `i` variable is a signed int, and the compiler falsely thinks that it can be negative. Hence, the compiler says that the sprintf output can be 6 bytes (one extra byte for the `-` sign character).

Yes, this seems to be a bogus warning.

[2017-05-16 06:35] magnumripper commented on #2545
But those tests saved us from some grief. I gave up and set the flag in SAP/B again.

[2017-05-16 06:42] magnumripper commented on #2547
So the mother process works fine but all children are unable to see the OpenCL platform. The only idea I can come up with is trying to run as a user, not root. Running as root is usually a bad idea anyway.

[2017-05-16 06:50] #2545 closed

[2017-05-16 06:55] darkbyte-ru commented on #2547
Under regular user result is the same: Return -33 for all, except first card.

[2017-05-16 07:04] magnumripper commented on #2512
#2546 doesn't make sense. The common function uses a struct that your code doesn't use. It will never report right.

What also needs to be done is:
1. Start using `bitlocker_common_get_salt()` instead of the weird strcpy `get_salt()` we have now.
2. Change your `set_salt()` accordingly (*use the values from the struct, no re-parsing so much simpler code*)

[2017-05-16 07:08] magnumripper commented on #2547
What distro is this? It could be some odd security issue from hardening.

[2017-05-16 07:12] magnumripper commented on #2547
Here's a thing to try, just for getting clues. Install MPI libs and binaries, configure john with `--enable-mpi` and rebuild, then run like this instead
[code]

[2017-05-16 08:37] darkbyte-ru commented on #2547
Ubuntu Trusty

Thanks! It works, but crash after send SIGUSR1 to mpirun:
[code]
And then exit.

[2017-05-16 14:21] kholia commented on #2504
Looking at https://pypi.python.org/pypi/coincurve can be helpful in implementing support for cracking Electrum 2.7+ encrypted wallets.

[2017-05-16 14:56] kholia commented on #2534
* All `bfd*.pcap` are already supported.

[2017-05-16 17:57] claudioandre commented on #2547
Anyone else reading this has tried CUDA 8 drivers?
* E.g, code that works for CUDA < 8 and fails for CUDA 8: https://devtalk.nvidia.com/default/topic/938369/cuda-8-errors-when-using-two-1080-gpus-in-multithreading-way/

*********************
Random question: have you tried to use less GPUs?

[code]

[2017-05-16 21:59] #2335 closed

[2017-05-16 21:59] #2484 closed

[2017-05-16 21:59] #2542 closed

[2017-05-16 22:02] magnumripper commented on #2335
@crioux I have absolutely no idea why I couldn't quite reproduce this problem until now, but today I could. Perhaps some driver update did the shit. Anyway I implemented select parts of your fixes, kudos for that.

[2017-05-17 08:15] kholia commented on #2368
I tried solving this using code but no luck. How about adding a startup message to `pcap2john.py` which says something like, "Use wpapcap2john instead of me to extract possible WPA handshakes"?

[2017-05-17 12:39] darkbyte-ru commented on #2547
For two GPU result the same as for ten:
[code]

Also, I just noticed, that solution with mpirun does not work.
gpustat show that JtR run 10 threads on only one GPU:
[code]

For sha256 test hashes result the same:
[code]

[2017-05-17 13:59] e-ago commented on #2512
I'm sorry, I committed the wrong version of the file.
Anyway I've applied also the changes suggested by @magnumripper , removing my get_salt(), cleaning my set_salt() and using the bitlocker_common_get_salt() function.
This new version successfully find "password@123" with the minimalistic test image.
Please let me know if there is some other issue in this version.

I still need to improve the siz

[2017-05-17 19:19] magnumripper commented on #2512
That's strange. There's definitely nothing in JtR's design that would explain this.

[2017-05-17 19:59] #2352 closed

[2017-05-17 20:00] claudioandre commented on #2512
This is expected. On super, I was able to gain (without effort) 200 p/s: from 601 to 808. The problem is:
* I run a test or test-full on well (while testing something) recently. It is, already, devastating (in terms of time on a test run) for weak boards. Should we make it even harder/demanding?

That said, for testing purposes at least, we can try GWS\*2 and GWS\*4 to see how it behaves on e-ago'

[2017-05-17 20:08] magnumripper commented on #2512
Oh, right. Our GWS is held down by auto-tune for keeping a sane total crypt_all() duration. That's probably the full answer.

We'll need to solve that issue in Jumbo core sooner or later and then bitlocker will get better with little or no change.

[2017-05-17 20:19] ddreggors commented on #2352
Confirmed

[code]

Still does not crack password but at least it did not core dump and it actually says 0 cracked, 1 left :+1:

[2017-05-18 08:02] watanuoli opened #2550 "btcoin wallet password can not be cracked"
I successfully extract encrypted content by the blockchain2john.py and it can be recognized as blockchain-opencl format.
But after the cracking ,there's no cleartext out.
./john --device=gpu --pot=/workspace/wallet.pot --format=blockchain-opencl --incremental=Digits --min-length=5 --max-length=5 wallet.txt
btw:
the password is 12345
The wallet is generated by Electrum as the following type.
![imag

[2017-05-18 11:52] #2492 closed

[2017-05-18 11:52] magnumripper opened #2551 "Add GPU support for Ethereum Wallet(s)"
CPU format added in #2492. We need GPU support.

[2017-05-18 11:57] magnumripper commented on #2539
Anyone wanting support here at Github will be told off and issue closed with no mercy. We simply can't be helpful here, or things will go downhill very very fast.

The mailing lists will probably not be too helpful (as in no or little replies). OTOH some newbies might help other newbies there.

[2017-05-18 12:16] kholia commented on #2550
Electrum wallets are not the same as Blockchain wallets. The Blockchain format can't crack Electrum wallets.

Support for cracking Electrum wallets is coming in PR https://github.com/magnumripper/JohnTheRipper/pull/2541.

[2017-05-18 12:16] #2550 closed

[2017-05-18 12:18] kholia commented on #2534
With PR https://github.com/magnumripper/JohnTheRipper/pull/2552 and https://github.com/magnumripper/JohnTheRipper/pull/2549, we support `ospf*.pcap` and `isis*.pcap`.

[2017-05-18 12:21] wimpyrbx opened #2553 "feature request? Is it possible to use JTR for finding and cracking DPD (Dekart) files?"
Is it possible to use JTR for finding and cracking DPD (Dekart) files?
If not possible, would it be feasible for this to be added?

[2017-05-18 12:26] kholia commented on #2553
No. Probably not unless someone reverses the software, and write a JtR plug-in.

[2017-05-18 12:26] #2553 closed

[2017-05-18 13:17] #2512 closed

[2017-05-18 13:29] magnumripper commented on #2512
This patch...
[code]
...will tell auto-tune to tune for a max. of 200 ms *single kernel-call duration* instead of a max. of 10 seconds *total crypt_all()* duration (which is only 2.4 ms per call at best). The result ought to be a lot better performance but very VERY slow response because we'll get up to **13 minutes** of total crypt_all duration. If you try it and be patient, it should show some g

[2017-05-18 13:55] claudioandre opened #2554 "Revert prepare changes from 272c664"
Sorry about this, but all my tests are automated and were designed to stop and fail for each error.

[code]

[2017-05-18 19:18] #2554 closed

[2017-05-18 19:19] magnumripper commented on #2554
Well it's great that someone (or something) actually runs the TS!

[2017-05-18 20:53] magnumripper commented on #2554
Should be no more, I ran TS myself. Took 34 minutes. We've got to fix that, it's ridiculous. Most of that time are hypotetical dynamic formats that doesn't need much testing.

[2017-05-18 20:56] magnumripper commented on #2533
Is this a stable gcc or some bleeding-edge beta?

[2017-05-18 20:59] magnumripper commented on #2533
So according to that document we should either bump size of `Fld` or make `i` unsigned (assuming this is a stable gcc).

[2017-05-19 04:27] kholia commented on #2533
These warnings are generated by stable GCC which will be shipping with Fedora 26.

[2017-05-19 07:48] #2533 closed

[2017-05-20 07:26] kholia commented on #2502
Here are some [sample KeePass databases](https://github.com/magnumripper/JohnTheRipper/files/1015989/KeePass.New.Samples.zip) for testing.

[2017-05-20 12:57] Mickydss opened #2555 "Add feature to crack .kdbx with keyfile & Windows User Account"
KeePass `.kdbx` databases can be protected with a keyfile and a Windows User Account. It would be nice to add support for such KeePass databases.

[2017-05-20 14:00] Fist0urs commented on #2555
Please update your message to remove template stuff.

Also please remove "on Win10" in your title, as the mechanism is the same on all Windows versions.

Concerning this algorithm, iirc this is not straightfoward. While bound to a computer account, Keepass adds a layer of data protected by Windows DPAPI (cf. #2521). Please take a look at keepassx source code and provide further information.

Thx

[2017-05-21 10:50] kholia commented on #2539
Thanks @magnumripper for the advice.

This ticket is done now in PR #2548.

[2017-05-21 10:50] #2539 closed

[2017-05-21 23:10] mubix commented on #2529
Thanks @magnumripper - this is awesome :)  👍

[2017-05-22 08:25] magnumripper commented on #2547
Strange. I have seen Ubuntu 16.04 LTS with eight Maxwell or Pascal cards running JtR and it works just fine.

[2017-05-22 08:29] magnumripper commented on #2547
BTW I've been using Ubuntu drivers, whatever version comes with the distro.

[2017-05-23 02:21] bill-e-ghote commented on #2027
Has this issue re-emerged? I've got a couple of Kerberoast-dumped hashes I've been working on-and-off for a few months that are now no longer recognized (JtR bleeding from git...)...?

[2017-05-23 06:03] magnumripper commented on #2027
Ouch. I thought kerberoast would prefix the `$krb5tgs$23` to its output, doesn't it do that? I dropped support for bare hashes in this format in 272c664d4 because all support for bare hashes eat lots of performance when loading files and not specifying a format.

If this is a problem, we need to revert that change but I'd rather not do so.

[2017-05-23 08:34] Fist0urs commented on #2027
There are many tools that do the same (and better) as kerberoast without needing to use third party tools as it does.

A short list:
- GetUserSPNs.py from impacket
- PyKerberoast
- kerberom from me (that both works on Windows and Linux) and in JtR run/

In my opinion, no need to add back these hashes. Better use a more recent tool or a 30 seconds script to convert hashes to actual format :wink:

[2017-05-24 16:05] bill-e-ghote commented on #2027
My "old" hash (dumped Nov 3, 2016) has this for prefix:
$krb5tgs$unknown:

I'll redump SPN hashes using other tools to see if I have good output or perhaps my hashes were somehow munged... when I get another spare moment. Pretty sure I used PythonEmpire to do it previously...

[2017-05-25 05:54] kholia opened #2559 "Last kerberom commit introduced CRLF and whitespace problems"
@Fist0urs  Commit 5ea6852e44b0c4671827b81b8847bc308667504b introduced some CRLF and whitespace problems.

They are bad to look at when doing `git log -p`.

@magnumripper We really need some scripts to catch such problems early on. Got any tips?

[2017-05-25 07:15] magnumripper commented on #2559
We'd need pre-commit hooks but that's too dangerous for Github to support because they'd basically let us run arbitrary code on their servers.

[2017-05-25 07:19] magnumripper commented on #2559
Perhaps some ideas from https://stackoverflow.com/questions/3462955/putting-git-hooks-into-repository would be usable.

[2017-05-26 00:51] ethtester commented on #2492
FYI. JTR Ethereum CPU cracking benchmarks;

Mist wallet (262144 iterations) = 1.269p/s
MyEtherwallet (1024 iterations) = 302.9p/s

[2017-05-26 05:16] kholia commented on #2543
AppVeyor (which is another CI service like Travis CI) provides CI services on Windows platform. It comes with MinGW, MSYS, and Cygwin pre-installed.

See https://www.appveyor.com/docs/build-environment/ for details.

[2017-05-29 12:24] Fist0urs commented on #2559
Damn, I developed on Windows for this update and my text editor adds CRLF stuff.

I'll fix it ASAP, my bad

[2017-05-29 14:36] kholia commented on #2559
Thanks!

Some lines have trailing whitespace(s). I use Vim with https://github.com/bronson/vim-trailing-whitespace plug-in and `git log -p` to detect whitespace problems.

[2017-05-31 18:14] magnumripper commented on #2559
Should be fixed now.

[2017-05-31 18:14] #2559 closed

[2017-05-31 18:58] magnumripper opened #2563 "Add GPU support for DPAPI format"
See #2521 (CPU format)

[2017-05-31 19:01] magnumripper opened #2564 "Re-write DMG-OpenCL format to use split kernels"
This is trivial: All gear are there, just put them together.

[2017-06-02 14:43] #2564 closed

[2017-06-04 13:59] kholia commented on #2534
This is now done. I don't plan on adding support for TACACS+ and WLCCP.

[2017-06-04 13:59] #2534 closed

[2017-06-04 14:02] kholia commented on #2473
We have had this wishlist item for years. There seems to be no real user interest in this. It is no longer possible to download this software from Symantec. Hence I am closing this issue to reduce noise.

[2017-06-04 14:14] kholia commented on #2169
LUKS2 recognition / support would also be nice.

https://mbroz.fedorapeople.org/talks/DevConf2016/devconf2016-luks2.pdf

[2017-06-09 07:09] magnumripper commented on #731
We've documented it here now, no need to actually implement it.

[2017-06-09 07:09] #731 closed

[2017-06-09 09:12] bantawa04 opened #2565 "No password hashes loaded (see FAQ)"
I have created a hash for password protected PDF with John The Ripper which looks like:
`Protected.pdf:$pdf$2*3*128*-3904*1*16*fa8b5911e99eb1a6d74b033402dce8d0*:::::../../Protected.pdf`

and it is saved in key.hash file in root folder. When I run the command `john ../../key.hash` it returns error
`No password hashes loaded (see FAQ)`
I'm using John The Ripper [john-1.8.0-jumbo-1], in ubuntu

[2017-06-09 13:14] drzraf commented on #731
that would be nice if JTR allowed it to be implemented in conf or otherwise having it built-in.
(ATM the feature still lacks)

[2017-06-09 14:01] magnumripper commented on #2565
You are reporting a bug in a version released several years ago. Please try latest version, re-run pdf2john too. If the problem remains, reopen this issue.

[2017-06-09 14:01] #2565 closed

[2017-06-09 14:07] magnumripper commented on #731
@drzraf is there an actual demand for this? Are there still phones in use (or even currently sold) that use this? I know absolutely nothing about this cult.

[2017-06-09 17:16] drzraf commented on #731
a couple of dozens of millions of nokia feature phones in the under-developped world

[2017-06-10 22:54] magnumripper opened #2567 "Consider changing algorithm_name on the fly"
In https://github.com/magnumripper/JohnTheRipper/pull/2525#issuecomment-298842256 @solardiz wrote:

I will look into this at some point. It's quite confusing loading eg. only Office 2007 hashes and getting the output `Office, 2007/2010/2013 [SHA1 128/128 AVX 4x / SHA512 128/128 AVX 2x AES]`.

A change of algo name could be made in eg. `reset()` (which has knowledge about the loaded db) provided th

[2017-06-10 23:18] magnumripper commented on #731
@drzraf we now have a CPU format. Speed is not very impressing. I may do a GPU implementation sooner or later.

[2017-06-12 07:07] kholia commented on #2551
The scrypt KDF needs to run on CPU(s). See https://github.com/hashcat/hashcat/issues/1228 for details.

[2017-06-12 07:11] kholia opened #2568 "Add support for Ethereum presale wallets"
References,

* https://github.com/ryepdx/pyethrecover

* https://github.com/ethereum/go-ethereum/blob/master/accounts/keystore/presale.go

* https://github.com/ethereum/cpp-ethereum/blob/develop/libethcore/KeyManager.cpp#L298-L326

It seems that this task requires some amount of asymmetric cryptographic code. The presale wallets cannot be bought fresh any more, so this task has very limited long-t

[2017-06-12 11:00] magnumripper commented on #731
I added a GPU format just for the hell of it.

[2017-06-12 14:41] magnumripper commented on #731
Lulz. I just now realized you can also do SL3 with current hashcat nowadays, using the standard `sha1($pass.$salt)` format with some recent command line options and workarounds. This is much faster than our GPU format if you attack a single hash, because Hashcat has some optimizations for that case that we don't care about.

Here's an example with an IMEI (first 14 digits) of `35831503698405` and

[2017-06-12 21:32] FredericHeem commented on #2568
First of all, thanks a lot for this pull request.
In my use case, the output of ./run/ethereum2john.py is a 1367 character long line, it seems to be too big when inserted into the password file. The encoded seed length as an hex string is 1249.

[2017-06-12 21:55] magnumripper commented on #2568
Perhaps this format should set FMT_HUGE_INPUT? I believe there isn't much more to it now, core code will take care of the details.

[2017-06-12 22:34] FredericHeem commented on #2568
This is indeed the case, thanks for the prompt support.

[2017-06-12 22:39] magnumripper commented on #2568
@kholia any format that potentially need a line length longer than 1K should set FMT_HUGE_INPUT. If in doubt, set it. However, doing it where it's not needed eats some performance when loading.

[2017-06-13 04:55] kholia commented on #2568
Thanks @magnumripper. I was not aware of this new flag, will take care of it from now on.

[2017-06-14 00:37] claudioandre opened #2573 "New ASAN error"
FYI
* happens on gcc and clang (in Trusty and Ubuntu "Hot")

[code]

I'm kind of disconnected. But I guess you guys can easily reproduce the error.

[2017-06-14 04:02] kholia commented on #2573
This is pretty harmless but I will try to fix it ASAP.

[2017-06-14 04:18] kholia commented on #2573
Fixed in commit 35ae8db8edf46eb40b40d47671ce5fb106f3279e. Thanks for reporting this problem 👍

[2017-06-14 04:18] #2573 closed

[2017-06-14 18:41] Rogdham opened #2575 "Add support for other mscash2 format (used by metasploit)"
The [cachedump module of metasploit](https://github.com/rapid7/metasploit-framework/blob/master/modules/post/windows/gather/cachedump.rb#L171) returns mscash2 hash in the following form:

`january:$DCC2$#january#26b5495b21f9ad58255d99b5e117abe2:domain.local:DOMAIN`

_(password is `verylongpassword`)_

This format is not properly recognised by john. Although there is no iteration value, it should b

[2017-06-15 04:50] kholia commented on #2575
@magnumripper The following patch adds support for such hashes,

[code]

Does it look correct?

[2017-06-15 05:31] frank-dittrich commented on #2575
[code]
What if `#january` is used as a salt in our current implementation?

May be we replaced `$#` with `$` some time in the past, to get rid of the unnecessary `#`.?
If metasploit uses `$#` here, we should as well, and add a comment.
(Or metasploit can be changed.)

[2017-06-15 06:17] Rogdham commented on #2575
I don't know enough all mscash2 formats to know for sure, but I can confirm that @kholia's patch allows to crack the hash output by metasploit.

I've open [a bug report](https://github.com/rapid7/metasploit-framework/issues/8560).

However, I think that is would be better if john does crack this format because there will always be people running older versions of metasploit, plus that format may b

[2017-06-15 12:29] jfoug commented on #2575
What if a '#' char is used ANYWHERE in the salt??   I think we need to find the 32 byte hex string that is appended by the '#' char and the salt preceeds that. However, @frank-dittrich is right, even doing that, we will not be able to handle a salt that starts with a # char, once we take this route.  It would almost be better to make a pre-processing tool for these hashes, that convert them INTO j

[2017-06-15 13:09] Rogdham commented on #2575
Just to be sure that I understand things correctly:

* currently, the hash `$DCC2$#january#26b5495b21f9ad58255d99b5e117abe2` is understood by john as 10240 iterations with salt `#january`
* you point out that if we modify that behaviour as 10240 iterations with salt `january`, we will not be able to crack hash with salt starting with `#`

Assuming the above is true, could we not just use the follo

[2017-06-15 13:12] frank-dittrich commented on #2575
What is hashcat using? I think, if metasploit and hashcat use the same layout, john should be adjusted, and the need for the extra # should be documented.

[2017-06-15 13:15] Rogdham commented on #2575
I was also thinking: what is the current way to mean 20480 iterations with salt `#january`?

[2017-06-16 06:31] magnumripper commented on #2575
Definitely agreed. Our mscash2 format pre-dates the whole metasploit project AFAIK. I vote for **not** working around their mistakes unless we are really forced to.

That would be `$DCC2$20480##januari#c6758e5be7fc943d00b97972a8a97620`. We find the last `#` searching backwards from end. We should add a test vector for this case.

[2017-06-16 07:26] Rogdham commented on #2575
My point was that if john can add metasploit's format without having any side effect, then that format could just be added. However, if that would break anything, I would be ok with just closing that issue.

As far as I understand this, it would break the current behaviour when no iteration count is specified, and the salt starts with a `#` (note that this hash would be still crackable by re-forma

[2017-06-16 12:07] #1686 closed

[2017-06-16 12:14] magnumripper commented on #2575
There were actually bugs in some code paths. All should be fixed now (test vectors are added)

Absolutely. I looked into that but unfortunately it would break things. We have always parsed `$DCC2$#january#26b5495b21f9ad58255d99b5e117abe2` as a salt of `#january`. Metasploits need to fix there code. BTW in your issue there (https://github.com/rapid7/metasploit-framework/issues/8560) you should poin

[2017-06-16 12:14] #2575 closed

[2017-06-16 12:18] frank-dittrich commented on #2575
@magnumripper Did you check our git history?
May be we used the extra # in the past, metasploit and hashcat copied it from us, and then we dropped it.

[2017-06-16 13:52] Rogdham commented on #2575
Ok, I will go back to metasploit to make sure that they output correct hashes.

Many thanks to all of you for the time you took looking at this issue! :+1:

[2017-06-16 16:03] magnumripper commented on #2575
I didn't bother but it doesn't matter. The format they use in any sample nor documented anywhere. It's got to be a mistake.

[2017-06-16 22:38] gurnec commented on #2504
Just an FYI, but you don't need to do any EC math to check an Electrum password. (You generally do however for Armory wallets which I see is also on the list.)

If anything, the annoying part for Electrum wallets is dealing with 3 different wallet versions (1.x, 2.0-2.6, 2.7+), some of which also have different wallet types. All this is best done in a separate Python extraction script IMO.

At the

[2017-06-17 03:28] kholia commented on #2504
@gurnec Thanks for your work in this area and these tips!

The hash extraction script, called `electrum2john.py`, can be found [here](https://github.com/magnumripper/JohnTheRipper/blob/bleeding-jumbo/run/electrum2john.py). The cracking code can be found [here](https://github.com/magnumripper/JohnTheRipper/blob/bleeding-jumbo/src/electrum_fmt_plug.c). These programs are majorly based on your work.

[2017-06-17 03:32] kholia commented on #2504
Here is how this "modern" wallet encryption is turned on. I am using Electrum 2.9.0 from Git sources.

![electrum 2 9 0 encrypt option](https://user-images.githubusercontent.com/79528/27249812-81cb8808-533b-11e7-8729-6c7c789f4ed9.png)

[2017-06-17 13:12] videgro commented on #711
I would like to inform you that I used the discussion in this issue to make a JAVA implementation of the Type 8 and Type 9 hash calculations. Thanks!
See: https://github.com/videgro/cisco-password-hashes

[2017-06-17 17:29] gurnec commented on #2504
Heh, I feel quite silly... thanks for being gentle with my complete failure to read/stay up-to-date on both the Electrum *and* JtR sides!

You're absolutely right, Electrum's new whole-file encryption requires a scalar multiply (and a modular square root), I can't see any way around them. (Also, just a minor nit - it's Electrum 2.8 which added this, there's no 2.9 as of yet).

I managed to walk th

[2017-06-18 08:47] kholia commented on #2469
https://github.com/kholia/JohnTheRipper/tree/PFX-OpenCL contains initial PoC. The speedup over CPU isn't great. I wonder how I can improve the PFX OpenCL kernel.

@magnumripper It would be great if you could take a look at this, thanks!

[2017-06-18 09:38] kholia commented on #2469
Some things which might help,

1. Use `opencl_sha1.h` instead of `opencl_sha1_ctx.h`. I don't know if the former code is much faster.

2. Avoid `character width` data copying operations in the kernel.

[2017-06-18 10:26] kholia commented on #2568
This issue has been addressed now.

[2017-06-18 10:26] #2568 closed

[2017-06-18 13:19] kholia commented on #2504
I was planning on using libsecp256k1 but I don't know anything about ECC at the moment. I am planning to experiment with `coincurve` (python package) to learn a bit about ECC.

[2017-06-19 00:08] kost123 opened #2578 "False positives in multibit"
I am getting many false positives in multibit whenever trying 1bil or so passwords. I believe another program that does the same thing "btcrecover" had this problem and he recently fixed it with this commit:

https://github.com/gurnec/btcrecover/commit/8a6e74e6690ff94715fd651dbe48c5a2dfb51efd

[2017-06-19 02:38] kholia commented on #2578
@kost123

Can you post a sample wallet and sample false passwords for testing this?

[2017-06-19 03:32] kost123 commented on #2578
Unfortunately I don't have a wallet I can post with a false positive password. But I believe the reason the false positives are coming is that the the regex or whatever you are using to match that the decrypted string is a valid private key, sometimes the decrypted data fits the "regex", so I believe the solution gurnec used was to decrypt another AES block if available and see if that also fits b

[2017-06-19 04:14] kost123 commented on #2578
Sending a false positive wallet + pass to your email.

[2017-06-19 06:35] magnumripper commented on #2469
Avoiding less-than-32-bit operations usually gains huge boosts. The block-oriented SHA-1 is (for that very reason) much faster than CTX **if** it can be used (for variable length data that may or may not exceed 55 bytes, the CTX version might be needed).

[2017-06-19 07:26] kost123 commented on #2578
Getting no more false positives and all knowns are found perfectly. good job.

[2017-06-19 07:29] kholia commented on #2578
Thanks! All credit goes to @gurnec for his great work on the btcrecover project.

[2017-06-19 07:29] #2578 closed

[2017-06-19 08:12] kost123 commented on #2578
Noticed quite a reduction in speed. With the changes you made, is it decrypting the first 16 bytes then only if that is successful checking the other 16?

[2017-06-19 08:19] kholia commented on #2578
No. I didn't implement this optimization yet. I will try to optimize this format a bit later.

[2017-06-19 08:22] kost123 commented on #2578
Awesome thanks :)

[2017-06-19 23:34] gurnec commented on #2504
I just pushed an update to btcrecover which supports the new wallet format if you're interested: gurnec/btcrecover@34b897214e522dfeb07c056c566b51a92c281ce7

Regarding the "shortcuts" -- I ended up using the first, second, and last from the list above. The last one might not be an option for JtR though... as already mentioned it would involve encoding an entire wallet file into the JtR passwords/ha

[2017-06-20 05:12] kholia commented on #2504
Thanks!

Yes, libsecp256k1 doesn't seem very easy to use. I am having trouble understanding how to do the following operation using libsecp256k1,

[code]

[2017-06-20 08:59] kholia commented on #2504
Update 3: I was able to reduce the 512-bit PBKDF2 output modulo the curve order using OpenSSL. The latest code is at  https://github.com/kholia/JohnTheRipper/tree/electrum URL.

Now I am trying to implement the following `btcrecover` operation using `libsecp256k1`,

[code]

The corresponding code in `electrum` source code seems to be,

[code]

As far as I can see, `libsecp256k1` doesn't seem to ha

[2017-06-20 16:22] gurnec commented on #2504
That's great!

I do have a small suggestion for you. `secp256k1_ecmult_const` was written to be hardened against timing attacks. Assuming that JtR doesn't care about timing attacks, it's possible to speed things up a little.

Use `secp256k1_ecmult` instead, it's supposedly around 20-25% faster (though I don't know how much effect this will have overall). It has a different interface because it per

[2017-06-21 02:48] kholia commented on #2504
@magnumripper Hello, I need your help in figuring out the autotools related changes needed for including the `libsecp256k1` library in JtR source tree. https://github.com/kholia/JohnTheRipper/tree/electrum  (top commit) has the latest code.

I have made changes to `configure`, `configure.ac`, `Makefile.in` to build `secp256k1/secp256k1.a` upon running `make`. However, `secp256k1/secp256k1.a` isn't

[2017-06-21 03:22] kholia commented on #2504
@magnumripper I was able to figure out this build problem. I was missing the following change,

[code]

[2017-06-21 03:32] kholia commented on #2504
@gurnec Thanks! I will try to to implement your suggestions soon.

[2017-06-21 03:36] kholia commented on #2176
This is partially done in https://github.com/magnumripper/JohnTheRipper/pull/2583.

[2017-06-21 06:45] magnumripper commented on #2551
The ethereum-opencl (not presale) format should also have GPU-side keccak just because we can (it will probably not make a difference in speed). BTW why are they different formats at all?

[2017-06-21 06:45] magnumripper commented on #2551
Yeah apparently TMTO doesn't help. https://github.com/hashcat/hashcat/issues/1228#issuecomment-305794575

[2017-06-21 06:48] kholia commented on #2551
There are different formats because they (regular, presale) use PBKDF2 in different ways (password is the salt in `presale` OpenCL kernel).

[2017-06-21 06:51] magnumripper commented on #2551
Are we currently missing an ethereal-presale CPU format?

[2017-06-21 06:53] kholia commented on #2551
The regular `ethereum` format handles presale wallets as well. It has some "very nice" hacks to do so ;)

[2017-06-21 11:20] kholia commented on #2334
Walkthrough from Luis Rocha himself -> https://countuponsecurity.com/2016/11/20/blockchain-brainwallet-cracking/

[2017-06-21 15:29] jeroenjacobs1205 opened #2585 "AMD OpenCL cannot be enabled"
I have AMD APP SDK installed in  /opt/AMDAPPSDK-3.0

environment variable is set correctly:

[code]
OpenCL is recognised, but not enabled when running ./configure:

[code]

The documentation does not mention that extra parameters should be passed to ./configure to enable OpenCL.

[2017-06-21 15:31] jeroenjacobs1205 commented on #2585
I also tried `./configure --enable-opencl` but that doesn't make a difference.

[2017-06-21 15:46] Acroyear7 commented on #2585
Exact problem I am having as well, just completed my second install attempt no OpenCL

[2017-06-21 15:47] jeroenjacobs1205 commented on #2585
It does seem to work with an earlier version. I downloaded and installed v2.9.1 of the AMDAPPSDK and that works.

[2017-06-21 15:56] Acroyear7 commented on #2585
I have been trying with v.3.0.130.136 (latest) and drivers amdgpu-pro-17.10-429170 (latest). Will v2.9.1 work with these drivers?

[2017-06-21 23:07] magnumripper commented on #2585
Here's the problem but I have no idea why
[code]
Some ideas:
1. Perhaps try `sudo ldconfig` and then retry configure.
2. Does `clinfo` or some other OpenCL stuff work fine? If not, this is not a JtR problem at all.

[2017-06-22 00:03] claudioandre commented on #2585
The best way to see what is wrong is to look inside `config.log` to check what exactly failed.
I've seen some failures; the most recent one was a missing `ln -s` in the AMD installer.

[2017-06-22 09:57] kholia commented on #2469
This is now done!

[2017-06-22 09:57] #2469 closed

[2017-06-22 18:25] Acroyear7 commented on #2585
In the directory ```/opt/AMDAPPSDK-3.0/lib/x86_64/```
I had a broken link ```libOpenCL.so```
I fixed by manually creating a new link ```sudo ln -sf sdk/libOpenCL.so.1 libOpenCL.so```
Worked for me, good to see my p/s go 100x :)

[2017-06-24 11:38] kholia commented on #332
[Here is a paper from 2011 on GPG cracking](https://github.com/magnumripper/JohnTheRipper/files/1099640/milo2011.pdf). Maybe we can reuse some techniques from this paper?

[2017-06-25 19:22] #2585 closed

[2017-06-26 03:59] kholia commented on #2176
@magnumripper Great work in commit 22eb8e345ebd1b715dbc62a3c1387db186a234ef 👍

I think that the license of `src/opencl_pkcs12.h` file needs to be the same as the `pkcs12_plug.c` one. I will send a pull request soon to fix this.

[2017-06-27 04:58] roycewilliams opened #2591 "error: ‘SIMD_COEF_64’ undeclared here (not in a function)"
While compiling f3dba83 on a Raspberry Pi:

$ uname -a
Linux [redacted] 4.9.24-v7+ #993 SMP Wed Apr 26 18:01:23 BST 2017 armv7l GNU/Linux

$ gcc --version
gcc (Raspbian 4.9.2-10) 4.9.2

[code]

[code]

[2017-06-27 06:18] kholia commented on #2591
@roycewilliams Does the following patch work?

[code]

[2017-06-27 06:20] kholia commented on #2591
@magnumripper The compiler warnings about `unrecognized command line option "-Wno-implicit-fallthrough"` are annoying and seem to occur on almost every platform. Can we remove it?

[2017-06-27 13:24] magnumripper commented on #2591
They are very strange since we're not supposed to use them unless they are supported. I'll investigate.

[2017-06-27 13:45] roycewilliams commented on #2591
@kholia Yes, confirmed that your patch resolves the issue for me.

[2017-06-27 13:49] kholia commented on #2591
@roycewilliams Thanks! A better patch is going to land soon.

[2017-06-28 09:45] kholia commented on #2591
The fix has been merged, hence closing the issue.

[2017-06-28 09:45] #2591 closed

[2017-06-28 12:57] kholia commented on #2507
This is done now.

[2017-06-28 12:57] #2507 closed

[2017-06-28 13:53] kholia commented on #2163
JtR now has native support for various wallet formats. Hence, I am closing this ticket.

[2017-06-28 13:53] #2163 closed

[2017-06-30 12:33] kireinasora opened #2597 "accdb file support"
Environment: Windows 10
John the Ripper v1.8.0.9-jumbo-1-bleeding (Bleeding version on 2017-03-06)

Hi, I saw in your post that you added support for accdb files.
However, when I use office2john.py on it, it says "Invalid OLE file"

Can I ask if there is something wrong?
thanks

[2017-06-30 14:47] roycewilliams opened #2599 "descrypt-ztex: segfault on "no task" / "bad input packet""
I have a board with what appears to be connectivity or other issues. It sometimes resets successfully, but eventually, it segfaults and cannot recover, so the entire job aborts.

Once the board is no longer reachable, it would be an improvement if the job could continue with the remaining boards, because jobs are often unattended and long-running.

Example of successful reset:

[code]
Example of s

[2017-06-30 14:53] kholia commented on #2597
1. Use the latest version of JtR jumbo from this repository.

2. Upload (or email to me) a sample ACCDB file which demonstrates this problem. Which version of MS Office created that ACCDB file?

3. What happens when you run `office2john.py` on a Linux system on that file? The `office2john.py` program was never tested on Windows.

[2017-06-30 15:10] roycewilliams opened #2600 "ztex: segfault when uploading firmware to multiple devices"
During the firmware upload that happens after initial power-up, if more than about 12 boards (it seems to vary) are present, a segmentation fault occurs:

SN XXXXXXXXXX: firmware uploaded
SN XXXXXXXXXX: firmware uploaded
SN XXXXXXXXXX: firmware uploaded
SN XXXXXXXXXX: firmware uploaded
SN XXXXXXXXXX: firmware uploaded
SN XXXXXXXXXX: firmware uploaded
SN XXXXXXXXXX: firmware uploaded
SN XXXXXXXXXX:

[2017-07-01 05:13] kholia commented on #2597
I received the the ACCDB file over email, and here are my notes.

* The file was most likely created with MS Access 2007. It has `.accdb` extension and has `Standard ACE DB` text in the file header.

* Access 2007 does not always use AES based encryption, which is the only encryption type we support for Access files. The file seems to be using `CryptoAPI` based encryption method as it has the stri

[2017-07-01 08:01] kholia commented on #2597
[Sample Access DBs.zip](https://github.com/magnumripper/JohnTheRipper/files/1116921/Access.File.Formats.zip)

The databases with names starting with `Office 2007 - Access 2007 -` reproduce the problem being reported.

[2017-07-01 08:07] kireinasora commented on #2597
a little bit sad
but thanks a lot for the effort of answers

2017-07-01 16:01 GMT+08:00 Dhiru Kholia <notifications@github.com>:

[2017-07-01 08:41] kholia commented on #2597
@kireinasora I might have a solution. It seems to be your lucky day. I am testing my code right now ;)

[2017-07-01 09:00] kholia commented on #2597
[accdb2john.py.txt](https://github.com/magnumripper/JohnTheRipper/files/1116944/accdb2john.py.txt)

Use this program (after renaming it to `accdb2john.py`) instead of `office2john.py` to extract the hash from the ACCDB file. It will take a while to extract the hash from large files.

@kireinasora Good luck with the password recovery! 👍

[2017-07-01 09:50] kireinasora commented on #2597
Oh thanks Dhiru, love you!

It works with python 2, I am recovering my password now

2017-07-01 17:00 GMT+08:00 Dhiru Kholia <notifications@github.com>:

[2017-07-01 11:30] kholia commented on #2597
Note:

In this particular case, guaranteed data decryption seems possible due to usage of RC4-40.

I believe that https://github.com/kholia/RC4-40-brute-office/ can be combined with a modified version of `UCanAccess` JDBC driver to achieve this.

[2017-07-01 13:53] kholia commented on #359
MS Money support can be added with help from following projects.

* http://jackcessencrypt.sourceforge.net/

* http://jackcess.sourceforge.net/

[2017-07-02 07:48] kholia opened #2601 "Add support for MS Money databases"
From Passware,

[code]

References,

* MSISAMCryptCodecHandler.java from http://jackcessencrypt.sourceforge.net/

* `Money Plus Sunset Deluxe` can be download from MS for free

Sample files,

[MS Money DBs for testing](https://github.com/magnumripper/JohnTheRipper/files/1117821/Sample.MS.Money.DBs.zip).

[2017-07-02 12:03] #2599 closed

[2017-07-02 22:17] roycewilliams opened #2604 "feature: optional periodic status output"
Today, while tracking initial speed ramp-up for testing purposes, the user has to periodically press a key to show the status:

[code]

It would be convenient to optionally show status every X seconds, similarly to these hashcat flags:

[code]
This would also more easily provide more regular sampling.

[2017-07-02 22:48] solardiz commented on #2604
We already have these:

[code]

(There's also the auto-status external mode, but it pre-dates these options.)

A minor issue is that with on-device mask the reported range's start is off right after a successful guess, so `--crack-status` will probably always report the wrong range start (matching the guess).  This is a shortcoming of how I extended the formats API to allow for on-device candidate

[2017-07-02 23:08] roycewilliams commented on #2604
Totally forgot about hidden options. Thanks, and thanks for the caveat. Closing.

[2017-07-02 23:08] #2604 closed

[2017-07-03 06:22] roycewilliams commented on #2599
Confirmed that this addressed these segfaults for me. Thanks!

[2017-07-03 11:49] #2601 closed

[2017-07-03 22:51] magnumripper opened #2607 "MS Money format strips 8th bit"
[code]

From https://github.com/magnumripper/JohnTheRipper/pull/2603#discussion_r125364916 :

Letter | hex (CP1252) | relation
------ | ------------ | --------
Ä | 0xc4
D | 0x44 | 0xc4 & 0x7f == 0x44
Ü | 0xdc
\| | 0x7c | 0xdc & 0x7f == 0x7c
Ö | 0xd6
V | 0x56 | 0xd6 & 0x7f == 0x56
£ | 0xa3
\# | 0x23 | 0xa3 & 0x7f == 0x23

So what it does is use an "ANSI" code page, convert to upper and *then* strip

[2017-07-03 23:02] magnumripper opened #2608 "MS Money should use SIMD"
The MS Money format should definitely use SIMD.

[2017-07-04 10:02] kholia commented on #2597
This will be fixed soon by a PR (in progress now.)

[2017-07-04 10:02] #2597 closed

[2017-07-05 07:09] kost123 opened #2611 "Support for MultiBit Classic"
Right now jumbo has support for .keys and HD wallets but no support for multibit classic .wallet files.

[2017-07-05 08:23] kholia commented on #2611
@kost123

We already support MultiBit Classic wallets. See `../run/multibit2john.py` for details.

If you still think that the support is missing, do the following,

* Describe in detail how to create such wallets.

* Describe how such wallets can be cracked.

[2017-07-05 08:23] #2611 closed

[2017-07-05 08:24] kholia commented on #2611
[code]

[2017-07-05 08:50] kost123 commented on #2611
Upon further review it seems like multibit .wallet files use protobuf, text files also start with "org.bitcoin.production" but the output I get when using multibit2john.py is incorrect and is the same for multiple different wallets.

[2017-07-05 08:58] kholia commented on #2611
[code]

Read this again, carefully.

A `.key` file is needed to crack MultiBit Classic wallets. What makes you think that you can use `.wallet` file instead of a `.key` file to crack MultiBit Classic wallets? Do you have any proof that `.wallet` files can be brute forced too?

[2017-07-05 09:01] kost123 commented on #2611
Sure, check btcrecover, they have support for .wallet, again a key is just a single exported address, multibit wallet files use some form of protobuf that can be cracked.

[2017-07-05 09:04] magnumripper commented on #2607
@kholia it occured to me we need just a little more data to be sure we do this right. It's most likely either of these ways:

1. ANSI codepage -> strip 8th bit -> UCS-2
2. ANSI codepage -> UCS-2 -> only use lower 7 bits

I'm assuming no. 1 but it could be no. 2 or something else. We need a test vector with some password that doesn't exist in CP1252, eg. "Я". Could you create that please? First, tr

[2017-07-05 09:16] kholia commented on #2611
[code]

A `.key` file is recommended for cracking performance reasons (MD5 vs scrypt). I don't see much reason to add support for cracking `.wallet` files. Feel free to send a PR if you feel otherwise.

[2017-07-05 09:18] kost123 commented on #2611
Not a lot of people extract a single .key, it is optimal to crack .keys but most people will just have there .wallet files.

[2017-07-05 09:30] kholia commented on #2607
@magnumripper The plan sounds excellent! I don't know if regular Windows XP with English language can be simply configured to use Russian as the language. I will give it a try though.

[2017-07-05 10:06] kholia commented on #2607
@magnumripper Here are the results,

[code]

JtR cracking session,

[code]

The last two files use "Я" as the password (copy-pasted from notepad).

[2017-07-05 11:37] kholia commented on #2607
I think I made a mistake in creating the third file above!

Here are two new hashes from files created with password "Я"  with Russian as the language in Windows XP.

[code]

They both yield "?" as the password which matches the `Weird-R-russian-character-with-CP437.mny` result above.

[2017-07-05 11:58] kholia commented on #2607
[code]

This does not compute, chr(0xdc & 0x7f) is '\\' and not '|'. However, chr(0xfc & 0x7f) is '|', where 0xfc is the hex code for 'ü' (small case).

[2017-07-05 13:57] claudioandre opened #2612 "New memory leak"
* detected by mem_dbg on a `--test` run;
* on clang and gcc.

[code]

[2017-07-05 15:51] magnumripper commented on #2607
Cool! I'll do some math again.

Oh, right. So that might mean only ASCII "a-z" are actually capitalized.

I wonder what happens if you use something like (normal CP1252) "€" as password. That's 0x80 so it would be 0x00 after stripping 8th bit. Or anything else from 0x81..0x9f - they will end up as control characters. On the other hand it doesn't matter much - get_key will report whatever original

[2017-07-05 15:56] magnumripper commented on #2612
I found and fixed this while working with #2607, will be committed soon.

[2017-07-05 20:08] solardiz opened #2613 "descrypt-opencl wrongly triggers "Progress is too slow!! trying next table size.""
Normally, "Progress is too slow!! trying next table size." would be triggered when there are a lot of hashes with an unsalted hash type, or for a given salt.  However, it is also triggered with descrypt-opencl running against our test pw-fake-unix (3269 password hashes with 2243 different salts).  I guess this is because building the per-salt kernels does indeed make the progress slow (until all k

[2017-07-05 21:02] solardiz opened #2614 "SSH-ng and OpenBSD-SoftRAID formats don't report tunable costs"
SSH-ng doesn't report any tunable costs.  It should report two: key derivation algorithm (there appear to be four of them) and iteration count.  So that we can easily benchmark the different key derivation algorithms separately, etc.

OpenBSD-SoftRAID reports one tunable cost - iteration count.  It should also report the key derivation algorithm (there appear to be two of them).

(Fixing this issu

[2017-07-06 13:57] kost123 commented on #2578
More false positives >.> It's because when checking to see if it's a multibit/android key it also checks to see if its a bitcoinj protobuf key, so once "org." comes around it throws a false positive.. maybe a length check?

[2017-07-06 14:11] kholia commented on #2578
The false positives can be reduced by using that additional check but they won't go away.

The MultiBit format will keep cracking, so such false positives shouldn't matter much. Or are the false positives being found too frequently?

[2017-07-06 15:52] kost123 commented on #2578
I found 2 in 24hours.. not sure if that is "frequent", going to try this fix, thanks for updating.

[2017-07-07 08:53] kholia opened #2616 "GPG symmetric encryption and gpg2john parsing problems"
#### Setup

[code]

#### OK cases

[code]

#### Not OK

GPG files lacking MDC seem to be run into parsing problems.

[code]

If the size and contents of "large" file are varied, gpg2john runs into multiple different problems. These `gpg2john` error message can also change for different runs of `gpg` on the same input file.

[code]

For other files, the following error message is shown by `gpg2john

[2017-07-07 09:52] kholia commented on #2616
The bug seems to be in `Symmetrically_Encrypted_Data_Packet` function (affected function). It seems that incorrect code from `Symmetrically_Encrypted_and_MDC_Packet` function was inserted into the affected function.

[code]

[Here](https://github.com/magnumripper/JohnTheRipper/files/1130619/example_1_1234.gpg.zip) is a symmetrically encrypted GPG file which gets cracked only after applying this pa

[2017-07-07 12:37] 2600box commented on #2616
I applied the patch and we have some functionality. I was able to test your file as well as two of my own. Your file and one of mine work. One of mine does not, because it large at 3GB.

gpg2john is creating huge files. with a small 197MB file, it becomes a 393MB hash. When I try this on a large file of 3GB it becomes a 9GB hash which john will not accept.
[code]

Also, I didn't know exactly how I

[2017-07-07 12:47] kholia commented on #2616
Quick note: Run `pgpdump` on original `.gpg` files, and not on hashes. Our `gpg2john` tool is a modified version of pgpdump. Running pgpdump won't extract hashes. I suggested running pgpdump to rule out basic parsing problems with our gpg files.

[2017-07-07 12:59] kholia commented on #2616
I don't think there is a reasonable way to handle / crack such large `.gpg` files currently.

However, I might have a new idea to try here. Since, there is no MDC, we actually don't need to generate a full hash which includes all 3 GB of the original data, especially when we only use 4 bytes of it, currently! We could generate a truncated hash (i.e. limited to 64 KB), and process such hashes with

[2017-07-07 13:13] 2600box commented on #2616
Thanks for the feedback. I will test PGPCrack-NG with a very large file and see if it has any problems.

Would prefer the possibility of using JtR however.

[2017-07-07 14:35] kholia commented on #1892
Note:

Look at how https://github.com/hawken93/gpg-symcrack works, and try to borrow some features from it, to reduce the rate of false positives.

[2017-07-07 15:16] #2616 closed

[2017-07-07 15:41] kost123 commented on #2578
Just waiting on the daily-build, hasnt seemed to have updated in 2 days.

[2017-07-07 15:47] kholia commented on #2578
The `daily-builds` provided Windows builds are not optimized. I recommend building your own optimized builds.

Like I said earlier, updated builds require the merging of the PR to happen first.

[2017-07-07 16:12] kholia commented on #1892
[Sample GPG encrypted file](https://github.com/magnumripper/JohnTheRipper/files/1131577/sample_fp_qwertyzxcvb12345.gpg.txt) to demonstrate the problem of false positives.

The hash is,
`$gpg$*0*69*6089a3038b7fb38fb796ec86a43e369646fcbae04f5ae4c8712790157d29d23afaca8518f093e3fe3310225f5f5350615a67c1f34a5a94c2d0bb558d9b005bb81fcb50db26*3*9*2*3*65536*70f8a591dbffa300`

Brute forcing this hash results

[2017-07-07 18:19] kost123 commented on #2578
Changes are working as intended, good job.

[2017-07-07 18:28] kholia commented on #2578
Thanks for the feedback 👍

[2017-07-07 19:11] mikzaq opened #2619 "Support for MD5(MD5(SHA1(SHA1(MD5($pass)))))"
Is there a way I can crack this type of hash already implemented?

[2017-07-07 19:26] solardiz commented on #2619
Thanks to JimF's work, you can literally put this specification on JtR command line and it just works:

$ ./john --test --format='dynamic=md5(md5(sha1(sha1(md5($p)))))'
Benchmarking: dynamic=md5(md5(sha1(sha1(md5($p))))) [128/128 AVX 4x1]... DONE
Raw:	2976K c/s real, 2976K c/s virtual

Perhaps we need to document this in some extremely prominent place, as a lot of people don't realize this functio

[2017-07-08 04:28] kholia commented on #2619
I started documenting such dynamic compiler expressions in `DYNAMIC_COMPILER_FORMATS.md` document, but I suspect that it is not a prominent nor an obvious place to look at.

[2017-07-08 04:48] kholia commented on #2619
@mikzaq Do you happen to know where this hashing scheme is used?

[2017-07-08 12:42] solardiz opened #2620 "bcrypt-opencl is much slower than should be on NVIDIA Maxwell & Pascal"
Per my testing, our bcrypt-opencl is roughly same speed as hashcat's on Tahiti (which was the primary target when Sayantan worked on our bcrypt-opencl), but is much slower on NVIDIA Maxwell (and per others' testing also on Pascal).  These newer NVIDIA GPUs matter for bcrypt-opencl especially because they're the ones where bcrypt-opencl's speeds would finally be reasonable and competitive vs. CPUs.

[2017-07-09 08:10] kholia opened #2621 "Experiment with libFuzzer and fuzzing in general"
I would like to fuzz the various hash extraction programs we have, to improve their robustness.

https://github.com/kholia/JohnTheRipper/tree/libFuzzer is a start. It has already found some crashes in `keepass2john.c` 👍

[2017-07-09 11:47] roycewilliams commented on #2621
If there was a +5 button, I would use it. This is great news!

[2017-07-09 11:57] solardiz commented on #2621
Thanks, Dhiru!

We should also get JtR into OSS-Fuzz. Google would even pay us for the integration effort: https://opensource.googleblog.com/2017/05/oss-fuzz-five-months-later-and.html

[2017-07-09 14:47] frank-dittrich commented on #2621
@solardiz When fuzzing JtR, I would expect timeout failures (and may be even out-of-memory failures) when fuzzing tunable cost parameters of various formats:
https://github.com/google/oss-fuzz/blob/master/docs/faq.md#how-do-you-handle-timeouts-and-ooms

This may be hard to avoid. Similar problems occur if you try to fuzz JtR using afl: http://lcamtuf.coredump.cx/afl/

[2017-07-10 05:39] kholia commented on #2621
Thanks @roycewilliams and @solardiz!

I will look into how to get JtR into OSS-Fuzz very soon.

At the moment I am trying to fit libFuzzer into our build system. I believe this task is mostly done (+ documented) and I will send a pull request soon.

I am also writing the glue code required to fuzz various hash extraction utilities.

@magnumripper For doing fuzzing of various targets, it seems that

[2017-07-10 08:35] magnumripper commented on #2620
I don't expect it to matter, but that transfer should obviously only happen **within** cmp_exact() [caveat: multiple calls to cmp_exact() shouldn't trigger multiple transfers of same data] - and then we can still perform the checks.

[2017-07-10 08:38] magnumripper commented on #2621
As in not symlinked? How would that matter?

[2017-07-10 08:47] kholia commented on #2621
Please take a look at http://llvm.org/docs/LibFuzzer.html for details. In short, libFuzzer is an in-process fuzzer, and there can be only one `LLVMFuzzerTestOneInput` (fuzzer's entry point) function per executable.

Making the various hash extraction utilities into standalone programs allows for their fuzzing with libFuzzer.

[2017-07-10 09:06] solardiz commented on #2620
Makes sense. The kernel will still have to copy the data from local to global memory every time just in case, though.

Yet another thought: while for bcrypt hashes it would normally be sufficient to compute and check the first 64 bits only, there's now also bcrypt_pbkdf, which is used in openbsdsoftraid_fmt_plug.c and ssh_ng_fmt_plug.c. We don't currently have OpenCL equivalents of these formats,

[2017-07-10 09:19] magnumripper commented on #2607
Hopefully all is set now.

[2017-07-10 09:19] #2607 closed

[2017-07-10 09:19] magnumripper commented on #2612
Fix in 577b3034f

[2017-07-10 09:19] #2612 closed

[2017-07-10 09:21] solardiz commented on #2621
Why can't we have only one LLVMFuzzerTestOneInput in the main john executable, yet also be able to fuzz the extraction utilities via their usual symlinks?

[2017-07-10 09:39] solardiz commented on #2620
BTW, even on CPU this bcrypt_pbkdf uses its own Blowfish code taken from OpenBSD instead of our interleaved 2x or 3x bcrypt code. So there's room for unification and speedup on CPU as well.

[2017-07-10 10:10] kholia commented on #2621
It can be done but doing it will require some "multiplexing" hacks in the LLVMFuzzerTestOneInput function. Such a function will have to decide whether to exercise keepass2john or dmg2john functionality, for example. I don't want to add such hacks to LLVMFuzzerTestOneInput if there is a cleaner solution available (i.e. make helpers standalone).

One another disadvantage of this approach is that `LL

[2017-07-10 10:28] magnumripper commented on #2607
We'd need some further tests to be really sure. Current code assumes `ANSI codepage -> upper-case ASCII -> strip 8th bit -> UCS-2`. However, it could also be `ANSI codepage -> strip 8th bit -> upper-case ASCII -> UCS-2` and the difference is that some 8-bit character could **become** an ASCII lower-case letter after stripping, which would then have to be upper-cased.

[2017-07-10 10:30] magnumripper commented on #2607
OTOH, some cases of that is already in the test vectors, and does work. I'm just not sure that's the universally the case.

[2017-07-10 10:38] kholia commented on #2607
@magnumripper I can create more samples, if it helps. Just let me know the appropriate passwords to try.

[2017-07-10 13:21] solardiz commented on #2621
Why not use multiplexing code shared with what we already have in john.c? Move it into a new function and call that from two places (for normal vs. fuzzing invocations) if necessary.

I agree that our current approach might be out of date. It used to save space, especially with static linking, but this is rarely relevant now since jumbo became so large for other reasons anyway and since static lin

[2017-07-10 13:46] kholia commented on #2621
It can be done (regarding multiplexing) but there is not much value in it anymore (like you said). There is much to gain by making the helpers standalone (portability, re-use, access to internal functions for fuzzing).

Overall, this seems like a perfect opportunity to remove this weird coupling mode for selected hash extraction programs.

[2017-07-10 15:27] 2600box commented on #2616
I tested with PGPCrack-NG on a 3GB gpg cast5 without MDC and it worked as expected. No errors.

Is there an open issue for me to track progress of this idea to add the functionality your mentioned?

[2017-07-10 15:55] kholia commented on #2616
Glad to hear that PGPCrack-NG is working :-)

You can keep an eye on https://github.com/magnumripper/JohnTheRipper/issues/1892 but there has been no progress on it in a long time.

I tried to understand the inner workings of PGPCrack-NG last weekend but didn't make much progress. For now, I recommend using PGPCrack-NG.

[2017-07-10 17:14] Apingis opened #2624 "SSH-ng doesn't correctly handle non-default iteration count for bcrypt_pbkdf"
sshng2john.py doesn't correctly handle non-default iteration count for keys encrypted with bcrypt_pbkdf (created with `ssh-keygen -o`)
It always stores the default iteration count.

[code]

If iteration count in password file is edited, then john can't load the hash:
[code]

It's not clear if bcrypt_pbkdf can emit false positives - even if it can then the probability must be extremely low. The mes

[2017-07-10 17:29] solardiz commented on #2621
I'd like magnum's comments and decision on this. I still see some value in smaller static linking, and thus in the symlinks.

[2017-07-10 22:29] magnumripper commented on #2621
I think the symlink stuff is mostly outdated and obsolete but I never thought of moving away from it as it doesn't harm anything. Perhaps it does now.

Actually I'm more concerned with investing time and implementing lots of "useless" code for supporting some use-once-and-then-forget fuzzing lib into the main tree. The `HAVE_FUZZ` stuff is even worse, I regret its existence. I do understand they b

[2017-07-11 02:54] kholia commented on #2624
I think there are multiple problems with cracking SSH keys which use bcrypt_pbkdf.

I am running ssh-keygen from `openssh-7.2p2`, and JtR jumbo can't crack the hashes for the following files, even when the password is in the dictionary.

[code]

FWIW, JtR jumbo loaded the second file (ssh-test2) just fine for me.

@Apingis Which versions of OpenSSH are you running? Can you please attach both the g

[2017-07-11 04:42] kholia commented on #2624
PR #2626 fixes the iteration count problem.

The CBC padding check is not correct for all cases (keys). For some keys, the padding length can be zero bytes, which results in false negatives with our current code.

[2017-07-11 07:21] kholia commented on #2624
@Apingis Thanks for bringing this issue to my attention! It should be mostly fixed in PR #2627.

One of the reasons that you Perl hack wasn't working because `iteration count` is not the field adjacent to the `$sshng$2` string. The iteration count is the last field in the hash. Actually, with the new PR, it the second last field in the hash.

[2017-07-11 08:14] Apingis commented on #2624
OpenSSH version:
OpenSSH_7.5p1, OpenSSL 1.0.2k

@kholia I've updated from PR #2627, both previously mentioned keys were cracked.

[2017-07-12 13:27] #2624 closed

[2017-07-12 15:50] solardiz commented on #2621
I think it's valuable for us to have the fuzzing support code, but only as long as it's used regularly, not "use-once-and-then-forget".  So that's what we should be doing.  Dhiru, are you using the current builtin fuzzing functionality regularly? Please do.  Are you going to use the libfuzzer support regularly rather than just once?  Please do.

[2017-07-12 16:02] kholia commented on #2621
I intend to use the fuzzing functionality on a regular basis.

After seeing so many "good" results with libFuzzer recently, I am really motivated to improve the robustness of the code base.

[2017-07-12 18:27] roycewilliams commented on #2621
If fuzzing could be folded into rolling builds / Jenkins / CI, could that increase its value?

[2017-07-13 17:38] claudioandre commented on #2621
I was expecting a passionate discussion.
*****

I expected ASAN to deprecate all memdb stuff sooner of later (but, at this moment, they are complementary. memdbg finds bugs ASAN is missing).

I already run fuzz (afl and zzuf) inside CI on Travis[1]. Of course, it handles only a few formats ('mine' basically). However, it also stresses shared code, e.g., loader.
We can't do real fuzz on CI (it take

[2017-07-18 06:35] kholia opened #2635 "Add support for 802.11w (WPA2-PSK-SHA256)"
I will try finding more technical and relevant links a bit later today.

* https://en.wikipedia.org/wiki/IEEE_802.11w-2009

* https://w1.fi/cgit/hostap/plain/tests/hwsim/test_ap_pmf.py

* https://w1.fi/wpa_supplicant/

* https://w1.fi/hostapd/

Looking at `hostapd` and `wpa_supplicant` code should help.

[2017-07-18 14:43] kholia commented on #2635
I am attaching configuration files (for hostapd and wpa_supplicant) for generating such "hashes".

* [wpa_supplicant.conf.txt](https://github.com/magnumripper/JohnTheRipper/files/1156203/wpa_supplicant.conf.txt)

* [hostapd.conf.txt](https://github.com/magnumripper/JohnTheRipper/files/1156206/hostapd.conf.txt)

[code]

[Here](https://github.com/magnumripper/JohnTheRipper/files/1156223/WPA-PSK-SHA2

[2017-07-18 16:49] kholia opened #2636 "wpapcap2john is generating broken output hashes"
[Here is a sample .pcap file to reproduce the problem](https://github.com/magnumripper/JohnTheRipper/files/1156632/regular-wpa2.pcap.zip). The password is `password`.

A git bisect run is pointing to commit 98e0672d2ff9ef83d96fc0aaf8593f0ab8fe1444 as the first bad commit. Commit 24b3091beffc4e91a47998e6539ea02d17566b6d works great.

ASan is detecting a bad memory access pattern (out-of-bounds read

[2017-07-18 21:40] magnumripper commented on #2635
Good call. I was just going to reference https://github.com/hashcat/hashcat/issues/1300

[2017-07-18 21:42] magnumripper commented on #2636
Cool. I will look into this soon-ish unless someone else can spot the problem.

[2017-07-19 06:39] kholia commented on #2636
Here is an incorrect patch which fixes the problem for this particular pcap file,

[code]

There is something weird with the way we parse the beacon packets and extract the various "tags". ASan does not like the `HandleBeacon` method at all.

[2017-07-19 06:52] kholia commented on #2636
Here is a better patch,

[code]

This fixes the ASan problems, and also enables extraction of the correct hash.

[2017-07-19 08:50] magnumripper commented on #2635
Good info here: https://github.com/hashcat/hashcat/issues/1300#issuecomment-316276163

Sample: https://github.com/hashcat/hashcat/issues/1300#issuecomment-316223363

[2017-07-19 08:54] magnumripper commented on #2635
Yes we should - in fact I thought we already did. I added all encapsulation types I could think of a couple years ago but I guess this is more like "no encapsulation"?

[2017-07-19 22:25] magnumripper commented on #2636
I don't quite get it (dry-running fragments of code) but perhaps you should commit that last change and keep this issue open?

[2017-07-20 05:28] kholia commented on #2636
I recommend running wpapcap2john on the reproducer. Instead of getting "hello" as the ESSID in the output hash, a small binary string is present instead. I suspect that something is off in the `HandleBeacon` function which causes this problem. I have fixed some ASan crashes in PR https://github.com/magnumripper/JohnTheRipper/pull/2638, which magically also fixes this hash generation problem. I gue

[2017-07-20 14:36] kholia commented on #2635
I tried adding support for `LINKTYPE_ETHERNET` and the hash extraction seems to be working. However, I am unable to crack the dumped hashes, probably due to a bug in my code.

@magnumripper Can you please take a look at this hack?

https://github.com/kholia/JohnTheRipper/tree/wpa-ethernet (top commit)

Thanks!

[ESSID "hello" with "password" as the password (pcap)](https://github.com/magnumripper/

[2017-07-20 15:42] kholia commented on #2635
I have narrowed down the problem to following two lines,

[code]

I think that EAPOL packets with Ethernet link type are currently lacking these values which causes broken hashes to be generated. Digging further!

[2017-07-20 22:17] magnumripper commented on #2635
Great. My time is very limited (due to motorcycles, beer and sun, in that order) at least until monday. Hopefully I can have a look at your code then.

[2017-07-21 09:53] magnumripper opened #2640 "Regex mode is broken for Unicode after merging #2571 for librexgen 2.0.6"
After merging #2571
[code]
@teeshop did you test your PR at all? Is this just something with my setup?

[2017-07-21 09:55] magnumripper commented on #2640
Hmmm actually even rexgen standalone behaves the same
[code]

[2017-07-21 13:15] teeshop commented on #2640
This seems to be a problem with character class parsing:
[code]

I'llk take a look at it now

[2017-07-21 14:09] magnumripper commented on #2640
Ok, that one works with JtR too. So this is probably not a problem on JtR side.

This is a JtR problem however:
[code]
It outputs UTF-8 even though asked to output CP437. Not a huge problem nowadays. I'll take care of that.

[2017-07-21 15:31] teeshop commented on #2640
[code]
Works 👍  However, It seems that you must call `setlocale(LC_CTYPE, "");` on a Mac in order to apply the users current environment locale. I've not tried this on Linux. At least, with rexgen on a Mac this works.

I'm not gonna do this inside of librexgen, because JtR may call `setlocale()` by itself with different parameters and librexgen has to use this setting instead of simply applying th

[2017-07-21 15:35] magnumripper commented on #2640
Aha... I recall we do set a locale when using librexgen. I'll look into it. Perhaps this can solve the other problem too - if we use an "internal codepage" we can also set that locale.

[2017-07-23 14:30] bill-e-ghote opened #2645 "Bleeding-jumbo compile fails with multiple definition of `main'"
Saw this starting with last 'git pull' from repo.
john.o: In function `main':
/home/wdawson/Software/bleeding-jumbo/src/john.c:1856: multiple definition of `main'
bitlocker2john.o:/home/wdawson/Software/bleeding-jumbo/src/bitlocker2john.c:186: first defined here
collect2: error: ld returned 1 exit status
make[1]: *** [Makefile:1441: ../run/john] Error 1
make[1]: Leaving directory '/home/wdawson/So

[2017-07-23 14:43] bill-e-ghote commented on #2645
I solved my own issues by installing dev-libs/libFuzzer-3.9.1::gentoo. However, it's worth noting, I think, the compilation fails (for me) with the library missing.

[2017-07-23 16:08] kholia commented on #2645
Thanks for reporting this issue.

Can you please try running `make clean; ./configure; make`? I think that the problem should go away with these steps.

[2017-07-24 14:01] #2635 closed

[2017-07-24 14:12] gobiasinfosec opened #2647 "Not cracking complex passwords from a wordlist"
Running on Kali Linux,
Version: 1.8.0.6-jumbo-1-bleeding
Arch: 64-bit LE
Compiler version: 5.3.1
GNU libc version: 2.21 (loaded 2.24)
OpenSSL: 1.0.2g
GMP library: 6.1.0

(This is the main computer, I've tried this on 4 different computers, including a kali-aws instance)

__________________________________________________

So the issue I'm having is that JtR seems to only be able to crack passwords

[2017-07-24 14:18] kholia commented on #2647
This is a very strange issue. Can you post some sample hashes which demonstrate the problem? Post your john commands as well.

While you are at it, can you build and try the latest JtR jumbo from this repository?

[2017-07-24 14:24] gobiasinfosec commented on #2647
For a quick example you can do the following:

echo -n 'a1' | sha256sum | cut -f 1 -d " " > hash
echo -n > pass a1
john --format=raw-sha256 -w pass hash

That won't work, but when you run:
john --format=raw-sha256 hash

It cracks it almost immediately.

Here is the sample hash:
f55ff16f66f43360266b95db6f8fec01d76031054306ae4a4b380598f6cfd114

But if you do 'aa' instead of 'a1' it works with the wo

[2017-07-24 14:37] kholia commented on #2647
The following sequence is indeed problematic,

[code]

The `john --format=raw-sha256 -w pass hash` part is incorrect I think. Use `john --format=raw-sha256 -w=pass hash` instead. See `john --help` for information on the command syntax.

[2017-07-24 14:39] kholia commented on #2645
I am closing this issue now as I believe it is solved. Feel free to comment again if the issue persists. Thanks!

[2017-07-24 14:39] #2645 closed

[2017-07-24 14:45] kholia commented on #2621
Support for libFuzzer has been merged into the JtR jumbo code base. More than a dozen correctness, and robustness issues were found and fixed in various hash extraction utilities.

[2017-07-24 14:46] gobiasinfosec commented on #2647
Yep, that would be it, I'm just an idiot. It is strange that it works without the '=' sign for non-complex passwords though. But yeah, consider this fixed, thank you!

[2017-07-24 14:48] kholia commented on #2647
Thanks.

This issue was indeed puzzling for a while :-) Happy cracking!

[2017-07-24 14:48] #2647 closed

[2017-07-24 15:35] kholia opened #2648 "OpenCL support for WPA2-PSK-SHA256"
See https://github.com/magnumripper/JohnTheRipper/pull/2646, and https://github.com/magnumripper/JohnTheRipper/issues/2635.

[2017-07-24 19:08] solardiz commented on #2647
On Mon, Jul 24, 2017 at 02:46:14PM +0000, Tobias Funke wrote:

Not really.  "-w" without a parameter means to use default wordlist, and then you list two hash files to load.

[2017-07-25 09:31] magnumripper commented on #2648
https://github.com/magnumripper/JohnTheRipper/pull/2646#issuecomment-317613845

[2017-07-26 05:02] JialongWang1224 opened #2649 "I have got the code of rar5tojohn.py, and I can get rar5 files' hash key, but is there a rar3tojohn.py can be used to get the old rar file's hash key?Please Help."
### IMPORTANT
- If you have questions, please ask them first in the mailing list john-users at lists.openwall.com;
- Use issues to keep track of ideas, enhancements, tasks, and bugs. NEVER as a support forum;
- Please, DO NOT create a new issue if your bug is already known:
  - OpenCL known issues #2331.
  - CUDA support is dropped from tree now. Do not post issues about that.

### Steps to reprod

[2017-07-26 05:12] kholia commented on #2649
Use http://www.openwall.com/lists/john-users/ for support.

[2017-07-26 05:12] #2649 closed

[2017-07-26 05:23] JialongWang1224 commented on #2649
Thank you very much, I am a student in CHN, my English is little poor, I will visit the website you give and try to find the rar3tojohn.py. And you are so cool.

[2017-07-26 05:29] kholia commented on #2649
There is no such thing as `rar3tojohn.py`. Even `rar5tojohn.py` was removed from this repository a long time ago. It should no longer be used.

Use `rar2john.c` instead, for both RAR 3 and RAR 5 files.

[2017-07-26 05:39] JialongWang1224 commented on #2649
Thanks, now I am doing a python project, so if I want to use  rar2john.c, I should first change it into python, right?

[2017-07-26 08:10] magnumripper commented on #2649
Sure. In fact, if you do a good port to Python (with all functionality intact) we might be interested in using it.

[2017-08-03 12:19] AlekseyCherepanov opened #2650 "argon2: $argon2d$m=2048,t=1,p=1$xxxxxxxxxxxxxxxx is cracked by any password"
John cracks synthetic argon2 hashes of form
$argon2d$m=2048,t=1,p=1$xxxxxxxxxxxxxxxx with any password. It does
not seem correct.

[code]

I just used john right from repo, with default configuration.

[code]

[2017-08-03 23:29] kost123 opened #2651 "Ethereum pre-sale issue."
When trying to crack ethereum presale wallets with CPU or OpenCL (same problem) sometimes it finishes too early. Bruteforce/mask seems to work OK but when using wordlists it doesn't.

I started a wordlist of 20 GB yesterday on GPU and its ETA was 11 hours, but it finished in 2.5 hours, I tried a smaller list of about 10k passwords on CPU and it finished at about 33%.

Temps are fine.

[2017-08-04 03:20] kholia commented on #2651
How can I reproduce this problem locally? Describe all the steps involved in detail.

Which dictionary file were you using? Can you provide a sample hash which exhibits this problem?

Is the problem reproducible with the following (common) dictionary?

https://github.com/danielmiessler/SecLists/blob/master/Passwords/10k_most_common.txt

[2017-08-04 03:42] kost123 commented on #2651
I used hashes.org list from weakpass.com with some simple rules appending 1-4 and do nothing.

I can't provide a sample hash. But I was able to produce it with a smaller wordlist:

roflcopy1
roflcopy2
roflcopy3
roflcopy4
roflcopy5
roflcopy6

Use this with --rules:Jumbo

It exits at 30% or so

[2017-08-04 04:10] kholia commented on #2651
I was able to observe similar behavior with following steps,

[code]

Here is a sample hash for testing,

`$ethereum$w*4ab35fcb5c3101af70d5b3bf22829af3dbd48813273b17566ee364285c7bcfb2d52611a58e54d3e6be27e458073304e71e356afc4c97da0143910308f30563fe*c4dfdaa5288b477d0ff25a260ef32a24282cc4e2*97b3d2c2c8106507b87744f0b12f73c2`

[code]

@magnumripper Your advice is needed here. I have no idea about what

[2017-08-04 04:24] kost123 commented on #2651
Ok so..

I'll switch to password* just to make it easier:

When trying

[code]

It stops at 30% mark ish.

When I scramble the passwords to this:

`passrgrword1
passwrgrord2
passworergrd3
passwordgreg4
passgrgrgword5
parggrgssword6`

It makes it to 50%

some more..

`passrgrword1
passwgregrgrord2
pasregrgsworergrd3
passrgregwordgreg4
pargrgssgrgrgword5
pgrgarggrgssword6`

100%

It is removing dupl

[2017-08-04 18:26] aguvillalba opened #2652 "descrypt-opencl slow and confusing startup at many salts (appears stalled)"
When trying to execute:
`./john --test=0 --format=descrypt-opencl --device=0`

I got this output:
[code]

When trying to crack using --format=descrypt-opencl I get the same output.

Here my info for ./john --list=build-info:
[code]

[code]

[2017-08-04 18:41] roycewilliams commented on #2652
What about that output indicates that it's not working?

You asked it to run a test with no time (--test=0). That's what it did. :) The rest of the diagnostic output looks normal for a first run.

Give it a non-zero time and you'll get actual results:
[code]

[2017-08-04 18:45] aguvillalba commented on #2652
Why do I still get this output when execute this command:
./john --format=descrypt-opencl --min-length=8 --progress-every=10 --device=0 ~/jonny.txt
[code]
Is it normal?

[2017-08-04 18:49] roycewilliams commented on #2652
Yes, the first time you run for a given compilation of John. If you run it again, the output should be less verbose.

[2017-08-04 18:58] aguvillalba commented on #2652
It happens every time I run that exact command. Also, if I run the same command but in the not opencl version, the output looks fine:

./john --format=descrypt --min-length=8 --progress-every=10 --device=0 ~/jonny.txt
[code]

Why the output for "non opencl" version of the command works fine?

[2017-08-04 19:01] roycewilliams commented on #2652
Because the OpenCL kernel is not compiled dynamically on non-OpenCL attacks.

The issue is just cosmetic, correct? The OpenCL version of the attack still happens, even if the output is not what you expect?

[2017-08-04 22:26] aguvillalba commented on #2652
I do not know. I do not think that it is working in the opencl version. At least in the non-opencl version I get some passwords cracked, but in the opencl version I get none.

Is the output that I showed in the messages above an error or just comestic?

[2017-08-04 22:34] aguvillalba commented on #2652
Also, if I execute the test, I got this:
./john --test=20 --format=descrypt-opencl --device=0
[code]

[2017-08-05 00:02] kost123 commented on #2652
I get it aswell in another format, pretty sure it's just debug info.

[2017-08-05 01:17] claudioandre commented on #2652
- Do you have a folder `~/.nv` in your computer?
- Have you set the variable `CUDA_CACHE_DISABLE`?
****

Or, if you wish, run:
- note: press q to finish the 1st john run after a minute or so;
- then, run john again. The second run still prints the build log (the 'strange' output)?
[code]
****

The output is harmless (it is only debug info). But, it is not expected to appear for every run, unless c

[2017-08-05 01:27] claudioandre commented on #2652
Inside your https://github.com/magnumripper/JohnTheRipper/issues/2652#issuecomment-320325124 above, I noticed John printed **Session aborted** before any status line.
* Is this happening all the time?
* Please, increase the verbosity (add  `-verb=5` to the command line) and post the results.
***

BTW: you can hide the build log decreasing the verbosity.

[2017-08-05 02:43] claudioandre commented on #2651
Using:
[code]

I compared:
[code]
versus
[code]

Then, I checked that, e.g. `16 seconds * 7602 p/s`, is the expected number of candidates.
`0g 0:00:00:16 DONE (2017-08-04 06:06) 0g/s 7602p/s 7602c/s 7602C/s psswrd1..psswrd6`

So, ETA was not updated fast enough. Other than this, reasonable results.
***

I tried a 386M wordlist and was able see ETA changing a lot. Have your checked how your 20GB wo

[2017-08-05 03:03] kost123 commented on #2651
When you say not updated fast enough.. the output I posted above I tried on a list of about 10,000 passwords all of password1, password2.. etc format and it wasn't really a case of not being updated fast enough it was random jumps throughout, also why would the ETA not update fast enough for similar passwords but update fine on jumbled up ones?

[2017-08-05 12:21] aguvillalba commented on #2652
Hi @claudioandre, thank you very much for your replies.
I run the commands you mentioned:
[code]
The 1st run during 2 minutes. And I have the same results:
1st run:
[code]
2nd run:
[code]
By the way, when running the commands, I cannot press 'q' to cancel the execution, only Ctrl+C works.

[2017-08-05 12:38] aguvillalba commented on #2652
@claudioandre, yes, this happens everytime I run the command, always.

I have run it with --verbosity=5 and this is the output:

[code]
Any clue what is going on? Thanks for any help!

[2017-08-05 12:41] aguvillalba commented on #2652
From the logs I pasted above, it seems to me that the cracking is not working and nothing is going on. Am I wrong?

[2017-08-05 13:03] solardiz commented on #2652
This is an instance of what I described in a paragraph in #2613:

"Also, at the default verbosity level it is no longer clear what the process is doing - it appears to be stuck for minutes. Perhaps we should print at least one informational line about building the per-salt kernels (as well as how to disable this if the startup delay is undesirable and slower long-time speed would be OK?) even at d

[2017-08-05 13:16] solardiz commented on #2652
IIRC, in some older version of Sayantan's code, the per-salt kernels were being built along with cracking using the already-built kernels (as well as the generic kernel for the rest of salts, where no specialized kernel was built yet?)  Looks like we've since lost that, and now there appears to be no progress at all until all kernels are built.  Maybe we lost it when attempting to parallelize the

[2017-08-05 13:20] solardiz commented on #2652
Meanwhile, the advice for @aguvillalba is to leave this running for some hours. It'll eventually start making progress and gain speed.

[2017-08-05 13:23] aguvillalba commented on #2652
@solardiz you are right, it was compiling salts during 24 minutes, after that it started to crack passwords.

Thank you very much for the help!

[2017-08-05 14:48] aguvillalba opened #2653 "descrypt-opencl "OpenCL CL_OUT_OF_RESOURCES error in opencl_DES_bs_plug.c:549" after 1+ hour"
After more than 1 hour running john, I got this error:

command:
`./john --format=descrypt-opencl --min-length=8 --progress-every=10 --device=0 --encoding=Latin1 --verbosity=4 ~/jonny.txt`
Output:
[code]
Build info:
[code]

[2017-08-05 14:55] aguvillalba commented on #2653
GPU info:
[code]

[2017-08-05 14:58] solardiz commented on #2653
Please `--restore` this session and watch GPU memory usage in `nvidia-smi` output as the session runs - does the memory usage keep increasing? Until what level? Perhaps the code is leaking a certain resource, which could be GPU global memory or/and something else. Thanks.

[2017-08-05 15:00] aguvillalba commented on #2653
If I try to run it with --restore I got this:

[code]
I don't get it

[2017-08-05 15:03] solardiz commented on #2653
`--restore` should be the only option, you don't need to and must not re-list the old options explicitly. Not even the password hash file's name.

[2017-08-05 15:14] aguvillalba commented on #2653
Ok, running again with --restore.

output of nvidia-smi
[code]
This is after 10 min running. I'll keep reporting.
Thanks for your help and good job with this software!

[2017-08-05 15:54] claudioandre commented on #2651
Ok, you are right to disbelieve me. What I thought was:
- we are running 22k rules (approx) in the example;
- `--rules=jumbo` has a rule that deletes the last character; similarity becomes equality;
- then `Q` start rejecting all/every after rule # 7k (or 25%);
- all rules were tried; but a lot were rejected and it seemed correct on a first thought;
- at the end, I used `stdout`and `wc` to confirm

[2017-08-05 16:21] aguvillalba commented on #2653
After 01:25 hr, this is the output of nvidia-smi:
[code]

[2017-08-05 16:47] aguvillalba commented on #2653
After 01:50 hr, this is the output of nvidia-smi:
[code]

But only 6 guesses so far:
[code]

[2017-08-05 16:53] solardiz commented on #2653
"Only 6 guesses" means you didn't actually restore the old session, which had cracked 80 - perhaps before you properly ran with `--restore`, you somehow overwrote the .rec file (e.g., ran some other attack from scratch). So you almost lost the first 1:40 hours of work, in terms of not having a record of what candidate passwords were already tested, and you redid this work now. That's why it's achi

[2017-08-05 16:57] solardiz commented on #2653
Since you're also using this same GPU for your desktop, could the "out of resources" error be caused by a spike in GPU resource usage by your desktop apps, rather than any bug in JtR?

[2017-08-05 17:14] claudioandre commented on #2651
* As another evidence, I patched JtR to do nothing on `Q` rule:
[code]

* Patched, it run up to 100% (producing dupes is my guess).
[code]

* Then, I compared the two wordlists produced. At last, `diff` told me both files are equal.
[code]

Don't be upset with me, but, I am convinced things are ok.

[2017-08-05 19:15] claudioandre commented on #2652
All per-salt kernels are being build at once inside `reset()`.

An easy and acceptable workaround is the patch below.

[code]

[2017-08-05 19:20] claudioandre commented on #2652
The output is clear and the cursor rotates nicely (tested using the default verbosity).

![image](https://user-images.githubusercontent.com/1702923/28998101-a9c506ec-79f9-11e7-93e1-0cc1ee766195.png)

[2017-08-05 20:30] t4777sd opened #2654 "Electrum format fails to load large (huge) hashes"
### Steps to reproduce
I am testing the latest feature for electrum wallets. This appears to create a password hash line that contains the **entire wallet file as part of the password hash line**. Since wallet files can be quite large, it makes it so john will not load the hash.

I suspect there is some upper limit to the size of hashes and any hash over a certain length is ignored. I tested in on

[2017-08-05 22:47] aguvillalba commented on #2653
Again the failure after 5hrs running:

[code]
JtR is the only application running in the in the computer, so I doubt that the failure is caused by something else than JtR.

[2017-08-05 22:57] aguvillalba commented on #2653
@solardiz, you are right, before I overwrote the .rec file by running the same command with the --restore flag.
Now I did it correctly and it started from the last point where it crashed (47g).

Thanks for the advise!

[2017-08-05 23:14] aguvillalba commented on #2652
@claudioandre that would be a good solution! At least the user knows what to expect. Although, I would remove the "WARNING" word and change it to "INFO", because the message is not really a warning from the execution, is just information.

Thank you very much!

[2017-08-05 23:47] claudioandre commented on #2652
The threshold (16) and the text are subject to change.

BTW: It seems my ```if``` is pure Python !?!?

[2017-08-06 00:35] kost123 commented on #2651
Ofcourse I am not upset! I am only trying to find the end result of this :) It does appear by your work that everything is fine, so any patch to this would be purely cosmetic.

[2017-08-06 09:37] aguvillalba commented on #2653
Again, after 2 more hours of execution:

[code]

[2017-08-06 12:01] solardiz commented on #2653
@aguvillalba "before I overwrote the .rec file by running the same command with the --restore flag." - no, it wouldn't (or at least shouldn't) have overwritten the file. When JtR complains about incompatible combination of options, it exits before writing any files. Perhaps you also ran some other command at the time, such as the same command without `--restore` at all.

As to the "out of resource

[2017-08-06 12:19] solardiz commented on #2652
Thank you, Claudio. Can we make it simply:

[code]

This looks more consistent with other messages we print: we already use the "Note: " prefix on some, and we print them to stderr. It also sets more specific expectations, consistent with how current computers actually perform.

[2017-08-06 13:03] kholia commented on #2654
There is a limit of around 16 KB on the electrum hash size.

Can you post the steps you took to generate the 350 KB hash? How can I reproduce this problem locally? Which version of Electrum Bitcoin Wallet are you using?

Does https://github.com/gurnec/btcrecover work with such huge wallets?

[2017-08-06 13:34] kholia commented on #2651
Thanks for helping me out here @claudioandre 👍

[2017-08-06 13:39] kholia commented on #2654
After looking at `btcrecover`, it seems that we could support such huge hashes in JtR but at the cost of generating false positives. I haven't experimented with this idea yet, so I don't know if the rate of false positives is reasonable.

[2017-08-06 17:03] claudioandre commented on #2652
This is more close to a real patch.
[code]
- Self-test already does 1 build from source and 4 from binary. So, > 1 is too much conservative.

[2017-08-06 17:13] solardiz commented on #2652
Claudio, the added `if` block should be above the existing `#pragma omp` directive.

Yes, the "> 1" is inconsistent with the self-tests already triggering multiple builds, but printing that message when there's just 1 salt in the input would be confusing. So I think it's fine to keep the "> 1" as-is.

[2017-08-07 06:31] saru95 opened #2656 "No password hashes loaded"
I trying to run JtR on an MD5 hash and repeatedly getting this error.

[code]

I've tried a simple command such as `./john hashes.txt` let alone using a wordlist.

I've also run `sudo ./unshadow /etc/passwd /etc/master.passwd > mypasswd` as I'm on an OSX machine. I still get the same error.

My `hashes.txt` looks like

[code]

[2017-08-07 12:32] solardiz commented on #2656
GitHub issues aren't a user support forum - they're for reporting issues in the software itself. For user support, there's the john-users mailing list.

That said, in your particular case the non-loading of raw MD5 hashes is most likely caused by you using the "official" JtR instead of "jumbo". Raw MD5 support is jumbo-specific. (The official JtR, as well as JtR Pro, focus on operating system pass

[2017-08-07 12:32] #2656 closed

[2017-08-07 12:40] solardiz commented on #2652
Claudio fixed the confusion aspect, so closing this issue. We'll need separate issues for tracking more invasive changes we might want to make.

[2017-08-07 12:41] solardiz commented on #2613
#2655 took care of "we should print at least one informational line about building the per-salt kernels".

[2017-08-07 12:46] solardiz commented on #2653
I suspect that fixing #2613 could help mitigate the "out of resources" issue through not wasting GPU memory on unnecessarily large hash tables. That issue isn't a leak, so not directly what we see here, but fixing it may reduce the initial GPU memory usage, and thus make it less likely that we'll attempt to exceed what's available for allocation later.

[2017-08-07 17:06] Sayantan2048 commented on #2613
Hi Guys,

I'm sorry that I cannot actively debug this issue but I can definitely give you some pointers regrading what to look for.

For starters, create_perfect_hash_table() is not thread safe. So, if you are putting this function in an openMP loop or any other shared memory architecture, please wrap the function within a critical section.

I quickly went though the current des opencl and it didn

[2017-08-07 19:16] t4777sd commented on #2654
Yes, I am using the new wallet format. Unfortunately, I am using keepass and I created an 8 char password to set the password and I closed keepass without saving the new password, so the password was lost once it left my clipboard. I tried btcrecover, but since it is a random 8 char password it is almost impossible due to memory usage of btcrecover and how slow it is.

If JtR could support the lar

[2017-08-07 19:29] solardiz commented on #2613
Thank you for your comments, Sayantan!

While there's support for building of per-salt kernels in parallel, that support is currently disabled for other reasons (IIRC, there were issues with vendors' OpenCL backends triggered by the parallel builds).

I think the problem is simpler than what you describe: the timer (3 seconds as you say) somehow covers the time needed to build the kernels (which w

[2017-08-07 22:08] solardiz commented on #2600
@Apingis, this issue is yours to handle, thanks!

@magnumripper How can we assign issues to @Apingis? Perhaps you need to add him as a member or something? (I'm still not familiar with GitHub.)

[2017-08-07 22:18] solardiz commented on #2543
To clarify: this issue isn't only about testing, but also (and maybe even more importantly) about making up-to-date Windows builds available to the users. Last time this latter aspect was brought up on john-users, @kholia said the automated builds with MinGW were not recommended for end-users. So we need such builds with Cygwin instead, which we would be able to recommend.

[2017-08-08 03:29] kholia commented on #2543
Thanks to @claudioandre and @magnumripper, our automated MinGW builds work well now. The only remaining problem with them is that they are not fully optimized (only SSE2, no SSE4, no AVX2 IIRC).

I believe that we can generated optimized builds (e.g. with AVX2 support) using the existing CI infrastructure but I am not sure how compatible will such builds be for end-users. Perhaps we can publish mu

[2017-08-08 03:43] kholia commented on #2650
I am able to reproduce this issue but I haven't looked in depth as to why it happens.

[2017-08-08 03:48] kholia commented on #2654
I am not confident about recovering a random password of length 8 in a reasonable amount of time (e.g. three months).

With our current OpenCL code,

[code]

I think that the corresponding CPU format would be too slow to attack this problem.

@gurnec You might be interested in this topic I think, thanks!

[2017-08-08 03:57] Sayantan2048 commented on #2613
Hi Alexander!! I don't think building the kernels and building the tables are related. They can run independently of each other!! Timer used in building the tables is for doing some trial n error work built into the perfect hash table algorithm itself.

[2017-08-09 15:44] superhansi commented on #2547
was this issue somehow resolved?
Ubuntu-Server 16.04.2 LTS _Xenial Xerus same behavior
clinfo etc works (same for hashcat -I, john -list)
NVIDIA-SMI 375.66                 Driver Version: 375.66

[2017-08-09 22:29] gurnec commented on #2654
From a feasibility point of view, I agree with @kholia - an Electrum 2.8 fully-encrypted wallet with an 8 char alphanumeric password would take on the order of years or tens of years to crack, even on fairly big iron.

btcrecover checks the full MAC, just like JtR, so I wouldn't expect any false positives.

But back on topic: if you look at these [five bullet points](https://github.com/magnumrippe

[2017-08-10 06:00] kholia commented on #2654
Thanks @gurnec.

I was planning on using only the first, and second checks for such large hashes. I think doing so will result in false positives.

The third check is very interesting! I will experiment with it to see if we can put a reasonable upper limit on the number of blocks to decrypt and decompress.

Thanks for the great ideas 👍

[2017-08-10 20:56] gurnec commented on #2654
It definitely will, those two only "pin" 19 + 8 bits respectively, so that's a false positive rate as high as 1 in 2<sup>27</sup>.

I went with 512 bytes as the comment said. Also just FYI, the test wallet I used (which is an empty wallet) only needed 80 bytes before it could be identified.

[2017-08-11 12:23] kholia opened #2658 "Add support for Dashlane password manager"
* https://courses.csail.mit.edu/6.857/2016/files/25.pdf

* https://gist.github.com/roblabla/4a43d0a5fc3769c815ab

* https://www.dashlane.com/download/Dashlane_SecurityWhitepaper_v2.8.5.pdf

Grabbing the password database seems to be the tricky part?

Update:

I have the various parts working now. Only the partial zlib stream decompression stuff is yet to be figured out.

[2017-08-12 10:34] kholia commented on #2658
Other things to look at,

* Data (.aes files) from Android devices.

* Dashlane secure archives created by Desktop versions of Dashlane.

[2017-08-12 23:55] claudioandre commented on #2547
No `-33` means everything is OK and working for you! I mean, no `CL_INVALID_DEVICE` error [1].
- The `Return 0` means success.

Why are you not happy with John the Ripper? I see no error in what you posted above.
****
[1] - The reported error is related to "fork + OpenCL". It happened in darkbyte's machine, but not in OpenWall's server. Neither in yours.

A side note, in my opinion, the `-33` retu

[2017-08-13 00:06] claudioandre opened #2660 "descrypt-opencl per-salt kernels optimization 4096 limit is not working properly"
I created a test case that has 4096 different salts and more than 10k hashes.

[code]

See #2655.

[2017-08-13 01:52] claudioandre commented on #2547
@superhansi you are right: there is something wrong with latest JtR and --fork.
* But it is not related to this issue;
* It is related to 0168a45a145d3c3ff714dd9f6bf73128f5408bac;
* Newer, therefore.

[2017-08-13 02:06] claudioandre commented on #2600
To assign a task to someone, he or she has to be a *Collaborator*, which means to have push access to the repository. That said, maybe is it time to create the **Openwall** organization and have a more granular control?

[2017-08-13 08:10] superhansi commented on #2547
john Thu Aug 10 08:40:48 2017
[0] GeForce GTX 970 | 36'C, **0** % | 2 / 4028 MB |
[1] GeForce GTX 980 | 68'C, **100** % | 950 / 4038 MB | user(948M)

this is the problem, JtR only using one device - i should've made it bold in first place

[2017-08-13 09:07] kholia commented on #2658
Here is some sample Dashlane data for testing -> [Dashlane Sample Data.zip](https://github.com/magnumripper/JohnTheRipper/files/1220368/Dashlane.Sample.Data.zip)

[2017-08-13 20:14] magnumripper commented on #2600
From the looks of it, I invited him as collaborator long ago but he never responded. I guess he somehow missed it. I'll try to re-invite.

[2017-08-14 05:28] cormite opened #2662 "descrypt-opencl --restore does not work since last pull"
### Explanation of the problem
Since last pull JtR does not work with option --restore.
I updated to the latest version (1.8.0-jumbo-1-5776-gc079f4ddf MPI + OMP [linux-gnu 64-bit AVX2-ac]) and since then --restore produces the following output:

<pre>
Salt compiled from Binary:0
*** Process received signal ***
Signal: Segmentation fault (11)
Signal code: Address not mapped (1)
Failing at address:

[2017-08-14 07:55] kholia commented on #2658
https://hackerone.com/reports/227663 was super useful in figuring out this stuff. See `aes.mov` video from this link ;)

[2017-08-14 12:34] solardiz commented on #2662
Can you show the "Loaded ..." and "Remaining ..." lines from the invocation that segfaults (a bit later)?

Can you try the same using "--format=descrypt" rather than "--format=descrypt-opencl"? Quite possibly the problem is specific to the latter format.

On a related note, "--format=descrypt" will probably also run much faster on your CPU with AVX2, than "--format=descrypt-opencl" does on your em

[2017-08-14 12:39] solardiz commented on #2613
Thanks Sayantan. Maybe related or not: why does descrypt-opencl consume so much GPU memory even for tiny hash files - e.g., a few thousand hashes with a few thousand different salts (so under 2 hashes/salt on average)? This is seen in #2652 where 1.6 GB is consumed for a file like that. Is this possibly because of unnecessarily large hash tables? Or (and?) are all of the per-salt kernels kept in G

[2017-08-14 13:42] cormite commented on #2662
Hi @solardiz ,

yes, you are right. I confirm that --format=descrypt works flawlesly.

When I run it with --format=descrypt-opencl it crashes with the (now full) output:
<pre>
nice ./john --restore
Device 0: Intel(R) HD Graphics Kabylake ULT GT2
Loaded 1769 password hashes with 1344 different salts (descrypt-opencl, traditional crypt(3) [DES OpenCL])
Remaining 1722 password hashes with 1314 differ

[2017-08-14 13:51] solardiz commented on #2662
Thanks. So we happen to build a kernel for the same salt twice:

This is a bug, and it could also be why the crash. In fact, it _might_ be the same bug as #2660.

Are you sure this has anything to do with "last pull" rather than with the specific set of salts you have remaining for cracking?

[2017-08-14 13:58] cormite commented on #2662
Hi @solardiz ,

I cannot confirm 100%. However, I had the previous version before and --restore was working in the few (6 - 8) attempts I run it.

[2017-08-14 14:17] solardiz commented on #2662
How old was the previous version (that worked fine for you)?

[2017-08-14 14:23] cormite commented on #2662
I compiled it on the week from 7-13 August. I am almost certained I did it on the 7-8 August.

[2017-08-14 15:48] solardiz commented on #2652
At default verbosity level, the many "ptxas info ..." lines are printed (and so the "Note: ..." is buried inbetween them - after the self-test ones and before the rest - and quickly scrolls away), but the "Salt compiled from ..." lines are not. That's confusing. I think it should be the other way around: can we, specifically for descrypt-opencl, suppress the OpenCL backend's build messages by defa

[2017-08-14 16:31] solardiz commented on #2613
Figured out the 1.6 GB memory usage: it is also seen when cracking just one hash, and is a result of the autodetected "GWS: 2097152". Manually reducing GWS reduces the memory usage accordingly. So no problem with that.

[2017-08-14 16:34] solardiz commented on #2653
@aguvillalba Any status update? Meanwhile, to reduce your GPU memory usage from 1.6 GB to perhaps 500 MB, try prefixing your "./john ..." commands with "GWS=524288 ", like this:

    GWS=524288 ./john ...

Does this possibly help avoid the out of resources errors?

(This advice is only valid for descrypt-opencl. Other formats may need different GWS settings, and you have no reason to alter their d

[2017-08-14 17:23] solardiz opened #2664 ""--fork" with multiple GPUs fails after commit 0168a45a"
As reported by Luis Rocha on john-users, trying to use multiple GPUs via "--fork" fails on recent bleeding-jumbo. In my testing with "--fork=2" and two GPUs, the child process becomes a zombie. Reverting the following commit fixes the issue for me:

[code]

(Did we really have this fairly basic functionality broken for 3 months? I happen to have been occasionally using a build from May 15, so I wo

[2017-08-14 17:30] claudioandre commented on #2664
As I wrote here: https://github.com/magnumripper/JohnTheRipper/issues/2547#issuecomment-322016628

There is a workaround, if anyone need it.

[2017-08-14 17:43] t4777sd commented on #2654
Awesome, I hope that a solution makes it into JtR so I can try it. In my case, the password is all lowercase, so it will likely be recoverable if it can work in JtR. Even if it takes me 2 years to do it then it will be worth it considering the amount of coins I have lost in the wallet

So I pray that this gets get added to JtR

[2017-08-14 18:15] solardiz commented on #2664
Interesting. I vaguely recalled seeing those comments, but couldn't find them as I only searched for issues with "fork" in the description. I came up with 0168a45a145d3c3ff714dd9f6bf73128f5408bac being relevant on my own. I've just tried debugging this - for me, the problem _does_ occur on "super", and specifically the child process gets killed by SIGALRM - or at least that's what happens when I r

[2017-08-14 18:16] magnumripper commented on #2662
I have nailed the problem. It's not quite caused by 29977c30 but it's triggered by that change. Will commit a fix soon.

[2017-08-14 18:20] claudioandre commented on #2664
The -33 happens only on darkbyte's machine and i'm pretty sure is caused by the OpenCL driver. What I meant was exactly that: 2 different issues.

[2017-08-14 18:35] #2662 closed

[2017-08-14 18:35] #2664 closed

[2017-08-14 18:44] solardiz commented on #2662
I was in the process of reproducing the problem when @magnumripper fixed it, so I pulled the fix and confirmed it works - yes it does (the same "--restore" that had just failed for me with a segfault proceeded fine after the fix).

[2017-08-14 18:46] magnumripper commented on #2664
The (now removed) `sig_init_timer()` in `sig_init_child()` should have been dropped in 0168a45a as more things happens *after* forking now. Not doing so meant things happened in weird order (the timer started raising SIGALRM although there was no handler for it yet).

The problem did not affect MPI, only fork, and that's why I never saw it. But it's strange no-one reported the problem much earlier

[2017-08-14 18:54] magnumripper commented on #2662
I think this is right (although confusing). I believe the first one is a test vector and the second one is a loaded hash. Things are reset in between.

[2017-08-14 19:04] solardiz opened #2666 "descrypt-opencl should allow for use of a generic kernel (not force per-salt kernels)"
Often it is important to minimize startup time rather than maximize runtime performance. Right now, descrypt-opencl always(?) uses per-salt kernels, which typically take up to ~2 hours to build from source and up to tens of minutes to "build from binary". It should be possible to request use a generic kernel instead - a kernel that would run slower (needing pointer indirection for the salts), but

[2017-08-14 19:10] solardiz commented on #2662
Sure. What I meant is that ideally we shouldn't rebuild (even if "from binary") kernels we had just built for the salts found in the test vectors, if those same salts are also seen in the loaded hashes. I don't feel about this strongly, though.

[2017-08-14 19:28] magnumripper commented on #2652
@solardiz can we close this again now that #2665 was merged?

[2017-08-14 19:36] claudioandre commented on #2662
This is possible if no information from auto-tune is used by the kernel build process. Unfortunately, descrypt-opencl passes (via `-D` compilation option) LWS to the OpenCL compiler.
* E.g., LWS can easily change on a self-test + real cracking mask-mode run.

[2017-08-14 19:46] solardiz commented on #2652
OK. I'm fine with not enabling the "Salt compiled from ..." at default verbosity. Closing.

[2017-08-14 19:46] #2652 closed

[2017-08-14 20:26] magnumripper opened #2667 "Transfer this repo to "Openwall" org"
Taken here from https://github.com/magnumripper/JohnTheRipper/issues/2600#issuecomment-322064644:

I'm not really familiar with orgs at GitHub but I like the idea (I'd leave ultimate control to @solardiz yet I could stay at my current role for now). What would be the pros and cons? What more functionality would we get? Is there a cost involved?

[2017-08-14 20:50] claudioandre commented on #2667
* Free plan, unlimited public repositories
What OSS projects need.

* Flexible repository access
You can add repositories to your teams with more flexible levels of access (Admin, Write, Read).

* Request to join teams
Members can quickly request to join any team. An owner or team maintainer can approve the request.

* Seamless communication with teams
Teams are a great way for groups of people to

[2017-08-14 21:09] solardiz commented on #2667
While at it, we may also transfer to @Openwall GitHub account. IIRC, Shinnok created that one and offered to give it to me, but I postponed that discussion. Maybe now is the time. Would we be able to preserve all the issue discussions, wiki, etc. if we do that?

[2017-08-14 21:26] magnumripper commented on #2667
Good question.

Also, all old links (from john-users ML etc.) starting with "github.com/magnumripper" would become outdated (unless they have some means to redirect). On the other hand, my repo would almost always be updated and in par with the new origin.

[2017-08-14 22:03] claudioandre commented on #2667
I expect to use the "Transfer ownership" to do "solve" the issue: it means transfer (all) the repository (wiki, issues, ...) to another user or to an organization where magnum has the ability to create repositories.
* After that, magnum will have to create a fork and rebase frequently to keep github/magnumripper somehow updated; and to keep old stuff (from john-users ML etc.) still valid.

[2017-08-14 22:53] magnumripper commented on #2667
OK so just FTR I'm totally willing to do this - but I don't care enough that I will dig much further into it on my own. Things are pretty fine as is, except that if I get hit by a truck it will be too late to transfer.

[2017-08-15 03:34] kholia commented on #2658
This is done now. Hence I am closing this issue.

[2017-08-15 03:34] #2658 closed

[2017-08-15 03:36] kholia commented on #883
This should be now fixed with PR #2661.

[2017-08-15 03:36] #883 closed

[2017-08-15 03:38] kholia commented on #890
Both LastPass v3.x and LastPass CLI are now supported properly with the recent PRs.

[2017-08-15 03:38] #890 closed

[2017-08-15 08:46] magnumripper commented on #2653
It seems to me the (format specific) auto-tune code doesn't take number of salts in account. This may be one reason (of several) the margin gets too small.

opencl_DES_bs_[bh]_plug.c:
[code]

[2017-08-15 09:05] shinnok commented on #2667
@solardiz @magnumripper Hi! Just checked and yes, I still own the https://github.com/openwall account. I think I can easily transfer to you by assigning your e-mail to it. Let me know via e-mail which one I should use.

[2017-08-15 10:12] kholia opened #2671 "OpenCL support for cracking LastPass blobs"
There isn't much demand for the LastPass formats but it would be good to have such support.

[2017-08-15 10:20] kholia commented on #2636
I think that this issue can be closed now.

[2017-08-15 10:22] kholia commented on #2504
This is now done.

[2017-08-15 10:22] #2504 closed

[2017-08-15 11:00] kholia commented on #2003
This code from loader.c seems to be problematic?

[code]

Is the `db->salt_hash` structure reset after testing of each individual format?

[2017-08-15 11:43] kholia commented on #2151
This can be closed now.

[2017-08-15 11:43] #2151 closed

[2017-08-15 11:47] kholia commented on #869
We have deprecated the usage of `dmg2john.py` now. So I think that this very old issue this can be closed now.

[2017-08-15 11:47] #869 closed

[2017-08-15 12:03] solardiz commented on #2653
I think the salt count shouldn't affect the tuned GWS here. So that's fine. Per my testing, there's almost no difference in GPU memory usage when running descrypt-opencl against 1 or 2000+ salts - it's around 1.6 GB with auto-tuned GWS either way.

[2017-08-15 12:17] solardiz opened #2673 "Merge Johnny the GUI into the jumbo tree & build"
I think Johnny the GUI will receive more attention from both (prospective) maintainers/developers and users if we merge it into jumbo. Have it as a configure option (maybe enabled by default, but skipping gracefully when not all required libraries are installed?) and have it built last (after all of the command-line tools have been built, so that a Johnny build failure wouldn't prevent access to a

[2017-08-15 12:42] solardiz commented on #869
OK, although that's unfortunate: `dmg2john.py` is (was?) the primary tool to use when intending to crack the password on system(s) other than the original OS X system the dmg file or sparse bundle is on. And that's in fact what I'd recommend, if we had that script more up-to-date and maintained.

Anyway, this increases the importance of having up-to-date binary builds of jumbo for OS X, so that th

[2017-08-15 13:01] kholia opened #2674 "Generate and host updated builds for macOS"
See https://github.com/magnumripper/JohnTheRipper/issues/869 for the details.

I think https://docs.travis-ci.com/user/uploading-artifacts/ can help in completing this task.

[2017-08-15 14:28] kholia commented on #2674
@magnumripper I think this will need work from your side.

Here are two references,

https://docs.travis-ci.com/user/deployment/releases/

https://github.com/kholia/JohnTheRipper/tree/macOS (top commit)

It seems that I am unable to publish builds ("releases") for `magnumripper/JohnTheRipper/` slug.

[2017-08-15 14:29] kholia commented on #2614
This should be solved now, closing the task.

[2017-08-15 14:29] #2614 closed

[2017-08-15 15:57] kholia commented on #2674
I think I have all the pieces required now. https://github.com/kholia/JohnTheRipper/releases now has a macOS build available :-)

Remember to use `travis encrypt "GitHub token" -r <username>/JohnTheRipper` command to generate the secure API key. The GitHub token needs to be generated from the https://github.com/settings/tokens page with a `repo` scope.

[2017-08-15 16:24] solardiz commented on #2674
Cool. But I guess it's for specific CPU features? I think we need at least SSE2-only and AVX2-enabled builds. BTW, the same applies to our automated Windows builds.

[2017-08-15 16:30] magnumripper commented on #2003
We should bisect this and find what commit caused the problem.

[2017-08-15 16:31] magnumripper commented on #2003
Is there some way to trigger the problem with something more specific than fuzzing shit?

[2017-08-15 16:38] magnumripper commented on #869
I think @kholia meant "we" in a royal sense 😆 The python tool is still in the repo. The other version supports more versions/variants though.

[2017-08-15 16:39] kholia commented on #2003
I haven't found an alternate way to trigger this crash. Also, it shouldn't impact normal JtR jumbo usage I think.

[2017-08-15 16:45] magnumripper commented on #2003
Perhaps it's a bug in the very fuzzing code? 🤣

[2017-08-15 16:50] kholia commented on #2674
I am not sure about the CPU features being used by the current macOS build. I will check this out.

I will look into how I can do SSE2-only and AVX2 builds. Tips around this topic are highly welcome!

[2017-08-15 18:01] solardiz commented on #2674
I think "./configure --disable-native-tests" should result in an SSE2-only build. As to an AVX2 build, it should happen by default if the underlying system has AVX2. If not, then you might be able to force that, but it gets trickier - you'll have to override the CFLAGS, yet not drop (so re-introduce) the original contents of CFLAGS (or else other optimizations will be lost). Hopefully, the build s

[2017-08-15 18:11] magnumripper commented on #2674
$ ./configure --help
[code]

[2017-08-15 18:17] magnumripper commented on #2674
I believe `./configure CPPFLAGS=-mavx2 --disable-native-tests` should produce an AVX2 build on many non-AVX2 build hosts. It doesn't work on my Macbook though, for some reason it ends up producing an SSE2 build.

[2017-08-15 18:17] solardiz commented on #2674
What the point behind `--disable-native-march`? What are those native tests we'd want to run if we don't(?) produce a native build?

BTW, this reminds me: in my recent testing of php_mt_seed, I found that `-march=native` caused an 8% slowdown on Haswell compared to `-mavx2`. I worked around that by adding `-mtune=generic` right after `-march=native`. This is a gcc issue (I think its attempt at bet

[2017-08-15 18:18] solardiz commented on #2674
Doesn't that leave CFLAGS without `-mavx2`?

[2017-08-15 18:22] magnumripper commented on #2674
Many systems doesn't (or didn't) have `-march=native`. At first it was a Linux-only option.

Apparently it does (I believe the above worked long ago). This works fine right now on my AVX Macbook:
[code]

[2017-08-15 18:24] magnumripper opened #2675 "Try -mtune=generic"
See #2674. This is just a note to self.

[2017-08-15 18:27] magnumripper commented on #2674
In fact it's still listed as such in the gcc-7 manpage although it has worked fine on OSX for years.

[code]

[2017-08-15 18:31] solardiz commented on #2674
Doesn't this miss other optimization options that we normally use? Perhaps `-fomit-frame-pointer`?

[2017-08-15 18:35] magnumripper commented on #2674
The other options are added afterwards. On my system, CFLAGS defaults to "-O2 -g". I can't remember if that's a property of gcc or of autoconf.

[2017-08-15 18:40] magnumripper commented on #2674
The compilation of simd-intrinsics.c ends up like this with my mentioned CFLAGS:
[code]
Not sure what caused the double `-mavx2` but it doesn't cause any troube.

[2017-08-16 04:11] kholia commented on #2473
I was able to download "PGP WDE" for Linux today. It must be my lucky day. Here are the steps to download the "PGP WDE" product.

* Open https://www.symantec.com/products/encryption/trialware

* Click on "Learn More" below "Symantec Encryption Desktop"

* Fill up the form which required disabling the ad blocker.

* Select "Symantec Drive Encryption - TW".

* You should have access to "Symantec_Enc

[2017-08-16 04:48] kholia commented on #359
http://jessekornblum.com/presentations/dodcc09.pdf is a good read for BitLocker stuff.

[2017-08-16 05:07] kholia commented on #2658
https://stackoverflow.com/questions/25431160 (maximum size of encoded dynamic Huffman tree as used by DEFLATE). We might need to take this into consideration in our cracking code.

[2017-08-16 09:33] shinnok commented on #2673
I think this has been discussed in the past and I approved of it then. Supplying both tools in a single package is still the best approach; for all other cases people have the option of installing core JtR and Johnny via the distribution specific packages (i.e. Kali).

If @math07 or somebody else offers to pick this up I will mentor and assist, if not I can pick this up myself. The task should be

[2017-08-16 10:18] magnumripper commented on #2547
@darkbyte-ru could you please try latest code and see where we're at now?

[2017-08-16 10:48] magnumripper opened #2678 "wpapsk-opencl doesn't reject WPA-PSK-SHA256 hashes"
wpapsk-opencl gladly accepts the last three test vectors from the CPU format (that are supposed to be WPA-PSK-SHA256) even though it doesn't yet support them. This is a BIG no-no as users will get false negatives.

One of them, however, is actually cracked (the one with 12345678). Is that one really "802.11w with WPA-PSK-SHA256"?

[2017-08-16 10:51] magnumripper commented on #2678
This bug wasn't caused by 83d9406a0 - we always had it. I think we can simply test `hccap.keyver` in valid(). I'll fix this.

[2017-08-16 10:59] #2678 closed

[2017-08-16 11:00] kholia commented on #2678
Good catch 👍

[2017-08-16 11:00] magnumripper commented on #2678
It's not. I moved it and dropped the misleading comment.

[2017-08-16 11:09] kholia commented on #2654
This issue should be fixed now.

However, I am not confident that the new code is 100% correct and will work for all cases. It does work for the sample data we have but there are no further guarantees.

[2017-08-16 11:09] #2654 closed

[2017-08-16 12:48] kholia commented on #2674
I could not do a SSE2-only build so far. The current build configurations commands can be seen at,
https://github.com/kholia/JohnTheRipper/blob/macOS/.travis/check.sh

Here is a SSE4.1 + AVX2 combo build,
https://github.com/kholia/JohnTheRipper/releases/download/macOS-3/JtR-macOS.zip

@magnumripper Can you please check if the `john-avx2` binary from this build is working on your AVX2 Mac system? M

[2017-08-16 13:59] #2636 closed

[2017-08-16 14:04] kholia commented on #2511
@bigendiansmalls Hello! I am wondering about the status of this task (i.e. support of RACF KDFAES hashes).

Are you reversing s390x RACF binaries to determine the algorithm? Or is there a more easier approach available? :)

[2017-08-16 14:56] magnumripper commented on #2674
Try adding `CFLAGS=-mno-sse4.1 -O2 -g` to that one.

I currently only have an AVX Macbook so I can't test AVX2.

[2017-08-16 15:00] magnumripper commented on #2674
Well I could test it anyway of course.
[code]
That's strange. It should say "Sorry, this build requires AVX2" or something like that.

[2017-08-16 15:04] magnumripper commented on #2674
[code]

[2017-08-16 15:07] magnumripper commented on #2674
CPPFLAGS is added everywhere needed, so using `CPPFLAGS=-mavx2` is actually safer. The problem I had yesterday was that I later overwrote CPPFLAGS with an `-I/usr/local/include(...)`.

@kholia try dropping `CFLAGS` from your line and using `CPPFLAGS=-mavx2` instead. I believe that will end up better (for reasons we might want to dig into).

[2017-08-16 15:23] magnumripper commented on #2674
I had a look at Makefile. Using CPPFLAGS should be no different from CFLAGS, as we end up with a final CFLAGS that end with CPPFLAGS. I think my faiblesse for using CPPFLAGS (which is not very logical) comes from the fact I don't have to add the `-O2 -g`...

[2017-08-16 15:24] magnumripper commented on #2674
BTW see also https://github.com/magnumripper/JohnTheRipper/wiki/Fallback-binary-chains

[2017-08-16 15:43] kholia commented on #2674
This page is super useful.

Will using `CFLAGS=-mavx ...` (not mavx2) generate builds which we can test on your Mac system?

I will create a VM to test this "fallback binary chains" stuff. It seems too wonderful to me. Does it really work? :-)

[2017-08-16 15:50] magnumripper commented on #2674
It should. I just tested building here using your AVX2 configure line, and I do get the "Sorry, AVX2 is required for this build". I wonder why I got "Illegal instruction: 4" using your binary.

Sure, it's tested on Linux and OSX.

[2017-08-16 15:59] magnumripper opened #2679 "CPU fallback might break in some builds."
f7235fca13 broke CPU detection/fallback in certain cases. Jim put the CRC32_Init_tab() in john.c and it may end up containing eg. AVX2 instructions. See https://github.com/magnumripper/JohnTheRipper/issues/2674#issuecomment-322801462

[2017-08-16 16:11] magnumripper commented on #2674
@kholia if you try out CPU fallback, be sure to have 648b13fe first!

[2017-08-16 16:25] kholia commented on #2674
This difference is very weird and I can't think of a reason.

I will give CPU fallback (with that commit) a try tomorrow. It is time for bed here.

[2017-08-16 17:10] kholia commented on #2511
Some useful links,

* http://www.stuhenderson.com/Handouts/NyRug2015TakingTheSwordOutOfPassword.pdf

* http://www.racfsnow.co.uk/racfsnow.pdf

The first file has a high-level overview of this new RACF hashing algorithm.

[2017-08-16 18:50] magnumripper commented on #2674
That's what was fixed in #2679 - it's history now! Some compiler optimization decided to use AVX2 instructions for `CRC32_Init_tab()` and Jim had placed that function prior to the CPU detection/fallback. The problem has been there since June 2015 but I never saw it surfacing until now.

[2017-08-17 04:10] itchyballsack opened #2680 "rar2john.exe issues windows"
Whenever I run rar2john.exe with cygwin1.dll provided in 'community-enhanced version' on http://www.openwall.com/john/ I get the error `0 [main] rar2john 2860 find_fast_cwd: WARNING: Couldn't compute FAST_CWD pointer`. When I use latest cygwin1.dll it says 'application was unable to start correctly'. Any ideas?

[2017-08-17 04:16] itchyballsack commented on #2680
Whenever I run rar2john.exe with cygwin1.dll provided in 'community-enhanced version' on [.](http://www.openwall.com/john/) I get the error '0 [main] rar2john 2860 find_fast_cwd: WARNING: Couldn't compute FAST_CWD pointer'. When I use latest cygwin1.dll it says 'application was unable to start correctly'. Any ideas?

[2017-08-17 04:30] kholia commented on #2680
Does the latest MinGW JtR jumbo build work for you? Use http://daily-builds.appspot.com/latest URL to download it.

This URL is linked to from the https://github.com/magnumripper/JohnTheRipper/ page.

[2017-08-17 04:34] kholia commented on #2680
I believe that such issues should be reported to "john-users" mailing list instead of here.

https://github.com/magnumripper/JohnTheRipper/ says,

This is a bug tracker, not a support forum. It's also not the place to report bugs you see in any version of Jumbo other than the LATEST, from HERE!

[2017-08-17 04:35] itchyballsack commented on #2680
It runs but is leaves a blank hash http://www.mediafire.com/file/6n7hsjsh1m7w3mf/SHIELD.rar

[2017-08-17 04:36] itchyballsack commented on #2680
This is the small rar I am trying to generate the hash file for, does it work for you?

[2017-08-17 04:43] itchyballsack commented on #2680
never mind, it worked when I extracted everything into the folder, what does rar2john need to run so I can delete everything unnecessary

[2017-08-17 04:49] kholia commented on #2680
@itchyballsack I don't know the answer to that particular question. Perhaps it is something to discover for yourself?

@solardiz This issue might need attention from your side. http://www.openwall.com/john/j/john180j1w.zip build might not be working 100%.

[2017-08-17 04:49] #2680 closed

[2017-08-17 10:44] kholia commented on #2674
CPU detection is working great now. Fallback binary chain stuff also seems to be working fine. 👍 for both.

I am still having problems generating SSE2-only builds. I see the following errors in Travis CI,

[code]

I am using the following configure command,

`./configure --disable-native-tests CPPFLAGS="-mno-ssse3 -I/usr/local/opt/openssl/include" LDFLAGS="-L/usr/local/opt/openssl/lib`

[2017-08-17 13:24] kholia commented on #2473
The quality of Symantec software is terrible. I can't get the software working on Ubuntu 14.04 LTS (a supported platform).

[code]

[2017-08-17 14:24] rofl0r opened #2681 "$JOHN pathsearch broken when --prefix option is used with configure"
using latest git, installing john's run dir into a custom location, and trying to run john from there without cd'ing there is quite broken.

## scenario without john.conf in $HOME/.john
[code]
it fails with the message that fopen $JOHN/john.ini failed which is pretty misleading, since there's not even a john.ini in john's source dir. so first i wasted like 5 minutes trying to find john.ini.

since

[2017-08-17 15:14] solardiz commented on #2681
I didn't look into this yet - I'd like someone else to look into the jumbo-specific breakage. My guess is it's fairly recent and might have to do with changing the order of initialization function calls in `john.c`, e.g. what magnum did on May 16.

Regarding ". so it works when started from inside the john run dir": NAK, we must not access any non-user-specified files from the current directory, f

[2017-08-17 15:17] solardiz commented on #2675
Specifically, this refers to my comment:

"in my recent testing of php_mt_seed, I found that `-march=native` caused an 8% slowdown on Haswell compared to `-mavx2`. I worked around that by adding `-mtune=generic` right after `-march=native`. This is a gcc issue (I think its attempt at better instruction scheduling for Haswell fails when the source code contains more than a usual amount of paralleli

[2017-08-17 15:30] solardiz commented on #2674
That's what I thought: if SSE4.1 gets enabled by default even without `-march=native`, maybe that's because the versions of OS X the binary would be able to run on require SSE4.1 anyway. If so, it's pointless to build an SSE2-only binary for those versions of OS X. An SSE2-only binary would make sense only if it's also runnable on OS X old enough that it could potentially run on hardware lacking S

[2017-08-17 15:35] solardiz commented on #2680
Not when @itchyballsack clarified that the problem was caused by not extracting all of the `run` directory contents. Indeed, there are more DLLs in there, and with our symlink emulation approach many of the `*2john.exe` programs depend on `john.exe`.

[2017-08-17 16:11] magnumripper commented on #2681
@rofl0r this is a system-wide build, right? And if so, exactly how did you configure/build it?
Also, please show the output of `john --list=build-info`.

[2017-08-17 16:16] magnumripper commented on #2681
I'm marking this as invalid/PEBCAK until proven otherwise. So sue me 😉

[2017-08-17 16:26] solardiz commented on #2681
magnum, you're right - most of this looks like PEBCAK to me. A system-wide build isn't supposed to look for the config file where the `john` binary is located. I missed that at first. @rofl0r, why are you even making a system-wide build if you have such expectations from it? You should probably continue with default (non-system-wide) builds if you want them to read the config file where `john` is.

[2017-08-17 16:28] magnumripper commented on #2681
Jumbo, and nine years later, use environment variables for various things but the only thing that should affect this issue at all is it allows `$HOME` to override users' home directory (closing #1901).

[2017-08-17 16:30] magnumripper commented on #2681
It **may** be a bug, but I'm not calling it that until I know how it was configured and built.

[2017-08-17 16:54] rofl0r commented on #2681
this is not a system-wide build. i just ran ./configure and make

[2017-08-17 16:56] rofl0r commented on #2681
[code]

[2017-08-17 16:59] rofl0r commented on #2681
i was using revision d1daf24a41ec8a0236dc00dfecba7d57fb99a6a9 earlier and it exposed the same problem

[2017-08-17 17:08] solardiz commented on #2679
Strictly speaking, jumbo's calling `sig_preinit()` and `path_init`() before CPU fallback is also a bug, until/unless we build `signals.c` and `path.c` without CPU type specific optimizations (like I think/hope we do for `john.c`, or don't we?) We're just "lucky" the compiler doesn't yet use (advanced) SIMD instructions in those functions.

I've just verified that none of this is in core, where `CP

[2017-08-17 17:14] solardiz commented on #2679
We do (or at least can) in core, due to these lines in `Makefile`:

[code]

Owl's `john.spec` in some cases manages `CFLAGS_MAIN` separately.

[2017-08-17 17:37] claudioandre commented on #2679
Jumbo uses `path_expand("$JOHN/" CPU_FALLBACK_BINARY)` inside `CPU_detect_or_fallback()`; so, if you do not do path_init() before it, you do not have $JOHN properly expanded and JTR will fail.

BTW: fallback works nicely on Linux (maybe also on Windows, I can't remember). On Linux, I've been packaging/testing it every week or so. Note, only for gcc.

[2017-08-17 17:56] claudioandre commented on #2681
You are using a system-wide build. The `--prefix=/usr` is the one to blame.

[code]

[2017-08-17 18:09] magnumripper commented on #2681
Oh, @claudioandre is right. IIRC there are certain properties of autoconf that we simply can't disable or turn off. The "best thing I could do" with `--prefix` (well it seemed like a good idea at the time) was having it imply systemwide. Sorry for the inconvenience.

Not quite sure how to handle this other than to warn about it and/or document better.

[2017-08-17 18:12] magnumripper commented on #2681
`--prefix` is completely irrelevant for a normal (not systemwide) build, due to how legacy JtR is designed.

[2017-08-17 18:15] rofl0r commented on #2681
well tbh i don't really see a point in having this systemwide distinction anyway.
maybe it's time to get rid of it ?
it could just as well always behave as i outlined above, so it would work for anyone.

[2017-08-17 19:22] #2648 closed

[2017-08-17 19:29] magnumripper commented on #2679
So we should build signals.o and path.o with same CFLAGS as john.o. This should be really trivial. Reopening for this.

[2017-08-17 19:40] magnumripper commented on #2679
The move of sig_init (now sig_preinit) was caused by #798 where Frank came up with some pretty ridiculous test cases that I couldn't really rule out as not having any significance.

[2017-08-18 04:34] kholia commented on #2680
Good point. Just to be on the safe side, I checked out the `john180j1w.zip` build on Windows 10.

[code]

The "FAST_CWD" warning message is present but the binary works, and is able to extract hashes from RAR files.

I think that our automatically generated MinGW builds might work better for users, with some additional work (e.g. AVX2 support with fallback binary chains).

[2017-08-18 04:47] kholia commented on #2674
Latest AVX2 enabled macOS builds with automatic fallback to SSE4.1 are now available at https://github.com/kholia/JohnTheRipper/releases.

Please test them.

These builds have only been tested on macOS Sierra and not on older OS X. Generating and testing builds for older OS X would require more work.

[2017-08-18 09:27] magnumripper commented on #2674
They seem to work (having only AVX, I ran "john" but it ended up running "john-sse4.1") but you should add an AVX version inbetween. So AVX2 -> AVX -> SSE4.1. The performance drop from AVX to SSE4.1 is significant:
[code]

[2017-08-18 09:29] kholia commented on #2674
I will add the AVX binary right away. Thanks for testing this stuff 👍

[2017-08-18 09:30] magnumripper commented on #2674
On the other hand this may be compiler differences as well. I see your build was made with clang 8.1.0, my build (the AVX version above) used gcc 7.1.0

[2017-08-18 09:35] kholia commented on #2674
The only problem with generating multiple builds is the increase in the CI testing time required. I don't have the numbers right now but let's hope that the situation is bearable.

[2017-08-18 10:56] kholia commented on #2674
@magnumripper macOS build with AVX2->AVX->SSE4.1 fallback is ready for testing at the following URL,

https://github.com/kholia/JohnTheRipper/releases.

Use the build associated with `macOS-7` tag.

[2017-08-18 14:57] kholia commented on #2674
Great!

I can help in setting this up for the official repository.

One catch is that the publication of a build requires a `tag` to be associated to the corresponding commit. E.g. Commit  5bc79e5 has tag `macOS-7` associated with it in my repository.

[2017-08-18 15:01] solardiz commented on #2674
Note also that you had 4x3 with gcc and Dhiru gets 4x4 with clang. Maybe we need to re-tune this for current clang. Maybe 4x3 will be optimal for it as well, just like it is(?) for gcc.

[2017-08-18 15:06] magnumripper opened #2684 "Bump RULE_RANGES_MAX and add warning when limit is reached"
http://www.openwall.com/lists/john-users/2017/08/18/2
[code]

[2017-08-18 15:12] magnumripper commented on #2674
Perhaps "macOS-20170818" is better? "macOS-7" sound like an OS version.

Just for the record I am and always was a bit weary about binary releases, especially automated ones. I don't want to be "associated" with them in any way. Someone could take "release" as some kind of quality measure, for a starter.

[2017-08-18 15:17] kholia commented on #2674
Yes, `macOS-20170818` is a lot better than `macOS-7`. I will start using this naming scheme.

I understand your concerns about binary builds. It would not be great if we start getting newbie level support questions around binary builds on GitHub.

[2017-08-18 15:29] solardiz commented on #2674
We should call these things "snapshots" or "builds" for that reason.

How about `macosx-20170818`, consistent with our (legacy) make target names.

[2017-08-18 15:35] kholia commented on #2674
These builds are for macOS (the new OS name) and not for OS X. So using the `macOS` base word seems more appropriate to me. Something like `macOS-20170818-snapshot` should work I think.

[2017-08-18 15:59] magnumripper commented on #2674
"snapshot" is good. I guess it will still be listed under "releases" on GitHub, but with "snapshot" in the name we're kinda home free.

[2017-08-18 18:16] magnumripper commented on #2658
We have very clever early-rejection for various types of Huffman encoding in PKZIP and RAR formats.

[2017-08-19 07:22] kholia opened #2686 "Adjust maximum password length in Sybase ASE format"
According to [this link](http://infocenter.sybase.com/help/index.jsp?topic=/com.sybase.infocenter.dc31654.1570/html/sag1/CIHIBDBA.htm) Sybase ASE maximum password length is 30.

[2017-08-19 10:16] kholia commented on #2674
One problem which I just noticed is that the build distribution size is not optimal.

All the binaries (e.g. zip2john, racf2john) which use the symlink-to-john trick aren't handled well by the zip command, which leads to increased size of the compressed build archive.

[code]

Notice the large size difference in the above output.

I tried using tar + xz compression but it is too slow. The output a

[2017-08-19 10:55] solardiz commented on #2674
Maybe you need this option to `zip`:

[code]

[2017-08-19 12:20] kholia commented on #2674
Thank you! By using this `-y` zip option the output size went from 60.6 MB to 36.5 MB.

I am wondering if there is still room for more reduction in the output size.

[2017-08-19 12:33] kholia commented on #2674
Using 7-Zip further reduces the output archive size to 15 MB, and that too in a reasonable amount of time!

We already require macOS users to run `brew install openssl gmp`. Maybe they can be requested to run `brew install p7zip` as well to extract such output `7z` archives?

[2017-08-19 12:38] solardiz commented on #2674
I guess so, but doesn't `xz` compress just as well? Is `xz` available on macOS by default?

[2017-08-19 12:57] kholia commented on #2674
I believe that macOS has `xz` available by default. I will double check. The `tar + xz` combination takes more time, and doesn't compress as well as 7-Zip.

[code]

[2017-08-19 13:18] kholia opened #2690 "Add support for cracking PGP Zip archives"
See https://www.gnupg.org/documentation/manuals/gnupg/gpg_002dzip.html.

Note: gpg-zip encrypts or signs files into an archive. It is an gpg-ized tar using the same format as used by PGP’s PGP Zip.

Sample data -> [test.txt.pgp.zip](https://github.com/magnumripper/JohnTheRipper/files/1238504/test.txt.pgp.zip) (password is `openwall`). This was generated by Symantec Encryption Desktop 10.4.1 MP1.

[2017-08-19 13:55] solardiz commented on #2674
I think you can fix that (and maybe even improve upon 7-Zip's result) by sorting the file list such that similar files are closer together in tar's output stream. For example, here's what I used to repackage Nmap source tarball for Owl:

    tar cJf %SOURCE0 --owner=root --group=root `find %srcname ! -type d | sort -i -t / -k 3 | sort -i -t . -k 3`

The `-k 3` would probably be wrong and need to b

[2017-08-19 23:51] frank-dittrich commented on #2545
I think we need to enhance `test_fmt_8_bit()`.

if we do a set_key() with a password containing 8bit characters and a get_key() immediately afterwards returns a password of the same length with only 7bit characters, then *is_ignore_8th_bit = 1, and we should be able to safely ignore the result of is_key_right(), no?

[2017-08-21 10:05] kholia opened #2692 "Add support for cracking PGP Virtual Disk images"
Sample screenshots,

![pgp virtual disk 1](https://user-images.githubusercontent.com/79528/29514702-1650410c-8687-11e7-8ef1-ec93a765f0dc.png)
![pgp virtual disk 2](https://user-images.githubusercontent.com/79528/29514703-16807232-8687-11e7-983d-4ba7fd8852e9.png)

Sample data -> [Sample PGP Virtual Disk Images - openwall.zip](https://github.com/magnumripper/JohnTheRipper/files/1238500/Sample.PGP.Vi

[2017-08-21 10:10] kholia commented on #2473
This is how a PGP WDE `bootguard` screen looks like.

![pgp wde - symantec encryption desktop 10 4 1 mp1](https://user-images.githubusercontent.com/79528/29514652-ef9c565e-8686-11e7-81c0-d7b7915803a5.png)

[2017-08-21 10:28] kholia commented on #2473
Sample data for testing -> [Sample PGP WDE disk images.zip](https://github.com/magnumripper/JohnTheRipper/files/1238521/Sample.PGP.WDE.disk.images.zip).

[2017-08-21 10:32] kholia commented on #2674
Using this trick (with `-k 3` / `-k 4`) reduced the archive size from 27M to 23M. 7-Zip still leads with a size of 15M.

[2017-08-21 17:52] #2686 closed

[2017-08-21 17:53] magnumripper commented on #2551
We can close this now, right?

[2017-08-21 17:55] magnumripper commented on #2679
It's not quite that trivial. We may build path.o and signals.o using CFLAGS_MAIN but then path.o in turn call memory.o and so on so it's still not 100% safe. Jumbo's early path_init() is for being able to know fallback binary path (basically, define `$JOHN`) when using fallback without SYSTEMWIDE (which core John doesn't allow). Maybe instead we could simply use dirname() and concatenate it with C

[2017-08-21 18:00] magnumripper commented on #2684
Now bumped. I didn't add a warning yet though, not quite sure where to put it? Should be somewhere here:
[code]

[2017-08-21 19:00] magnumripper commented on #2674
Maybe you want to `make strip` as well (if you don't already) before archiving, that should do quite some difference.

[2017-08-21 19:11] magnumripper commented on #2674
BTW you obviously don't have to strip in a separate step - just change eg. `make -sj4` to `make -sj4 strip`.

[2017-08-21 19:25] magnumripper opened #2693 "Unused functions in secp256k1 src tree"
https://circleci.com/gh/magnumripper/JohnTheRipper/2998#tests/containers/0
[code]
Not sure what to do with them - either define out with `#if 0`..`#endif` or actually deleting them from the source files?

[2017-08-22 03:47] kholia commented on #2551
Yes, closing!

[2017-08-22 03:47] #2551 closed

[2017-08-22 03:51] kholia commented on #2674
I think that using `strip` on the binaries would break generation of nice backtraces (from gdb / lldb) in case of crashes.

[2017-08-22 06:24] kholia opened #2694 "Add OpenCL support for PGP WDE format"
The required kernel should be quite similar to `opencl/gpg_kernel.cl`.

[2017-08-22 07:02] magnumripper commented on #2674
Sure but most people needing a precompiled binary don't know squat about how to use a debugger anyway. I'm curious how much smaller it'd make the archive. Perhaps not that much?