[2019-05-21 21:52] magnumripper commented on #3989
Ummm this just might clash with OMP-fallback. Need to think but no big problem really (if it does, let's just make N always mandatory)

[2019-05-21 21:54] magnumripper commented on #3989
Also, if I have (even a recent) CPU with say 4 cores and 8 threads, will `--fork=8` be better or worse than `--fork=4`? If that is *really* questionable, that's another reason for making `N` a mandatory option.

[2019-05-21 22:02] magnumripper commented on #3989
On my MBP 2017 or whatever it is, the NT format runs faster with hyper-thread forks (`--fork=8`) than without (`--fork=4`).

[2019-05-21 22:13] magnumripper opened #3990 "md5crypt vs. cache"
Quoting @solardiz from https://github.com/magnumripper/JohnTheRipper/pull/3930

[2019-05-21 22:25] magnumripper commented on #3990
Finally I believe my backlog is shorter than my to-do list (with slightly different definitions of them two). @solardiz I would really appreciate it if you could open GitHub issues instead of airing (good) ideas in some PR's comment or, even worse, in some mail I might or might not read in some remote mailing list like our contest ML. I use to flag them but it can take a good while before I revisi

[2019-05-21 22:39] magnumripper opened #3991 "Improve (and maybe simplify) our "portable hi-res timer""
At the very least we should drop all uses of `double` in that code (instead of reporting 1.234567891 seconds we'd simply report 1234567891 ns or perhaps just 1234568 µs).

[2019-05-22 02:59] roycewilliams commented on #2600
#3982 does address the segfault:

[code]
Not segfaulting is an obvious win and resolves this issue. But the trade-off seems odd to me, when prior to these patches, the behavior that I noted immediately above presents the way that it does.

[2019-05-22 05:17] magnumripper commented on #2600
On an unrelated note, why does it say `JtR 1.8.x` here?

[2019-05-22 05:21] magnumripper commented on #3991
Also I think we should be able to observe function call latency instead of mistaking it for low resolution.

[2019-05-22 05:26] roycewilliams commented on #2600
I don't immediately see where you're seeing that. Here's the version that was my latest test above:

John the Ripper 1.9.0-jumbo-1+bleeding-8d9ff4ac3 2019-05-21 23:31:13 +0200 OMP [linux-gnueabihf 32-bit armv7l NEON AC]

[2019-05-22 05:32] roycewilliams commented on #2600
Could this be something as simple as just needed a longer wait time between the firmware upload and the bitstream upload?

[2019-05-22 11:16] solardiz commented on #2600
This is somewhat tricky to edit, so I chose not to bother, nor to bother @Apingis with a request to make this edit prior to our release (especially given that he was mostly unavailable at the time). I imagine the easiest way to edit this string is in the .ihx file, without actually recompiling the firmware, and in the host code for what string to expect. Should we maybe use JtR-unrelated versionin

[2019-05-22 11:21] solardiz opened #3992 "Make ZTEX firmware version string independent of JtR version"
This is somewhat tricky to edit, so I chose not to bother, nor to bother @Apingis with a request to make this edit prior to our 1.9.0-jumbo-1 release (especially given that he was mostly unavailable at the time). However, the string still saying "JtR 1.8.x" might confuse some people.

I imagine the easiest way to edit this string is in the .ihx file, without actually recompiling the firmware, and

[2019-05-22 11:27] solardiz opened #3993 "HMAC formats' valid() detects other formats' hashes"
A user has just reminded us of this issue, as follows:

IIRC, the HMAC formats quite naturally accept a wide variety of strings, but maybe we can do something to avoid obviously undesirable matching.

[2019-05-22 14:10] roycewilliams commented on #2600
Re the potential timing issue, since the current workaround is even easier than the previous one, I leave it to your best judgement depending on other priorities. That being said, my (admittedly naive) theory is that there's something inherent in how the boards are designed that triggers this issue, rather than a USB reliability problem or something that is unique my particular boards or setup - e

[2019-05-22 14:36] solardiz commented on #2600
My best judgement is to close this issue and be done with it. But since you're the only user affected (currently and as far as we're aware), I asked whether it'd be more convenient for you if we had the program exit upon encountering this error, so you'd manually restart and avoid the timeouts. Can you answer this directly?

Hardly, especially given that the issue doesn't show up with fewer boards

[2019-05-22 14:44] roycewilliams commented on #2600
I don't recall about the ZTEX reference btcminer, but others (like [cgminer](https://github.com/FPGA-mining/cgminer-ztex)) handle the entire sequence.

Making a device disappear and then reappear sounds like it's inherent to how USB works. To mean, this means that it's not an USB error, but rather than JtR is basically trying too soon (and those attempts to try will *never* work, so why try that s

[2019-05-22 14:54] roycewilliams commented on #2600
Naively, couldn't this be resolved in a way that is true to the nature of how USB works, with something super-simple like (pseudocode):

load_firmware()

if (ztex_count > 6) {
    echo "Waiting a few seconds for USB devices to settle ..."
    sleep 3
}

?

[2019-05-22 15:01] solardiz commented on #2600
BTW, one way to avoid the problem would be to flash our firmware into EEPROM. Then JtR will skip firmware upload just like it does when you're using it for the second time and on. But since firmware update in EEPROM is a risky procedure (even if officially supported by ZTEX), we don't recommend it.

[2019-05-22 15:15] roycewilliams commented on #2600
Ah, you're right - it's been long enough now that I'd forgotten about that separation.

I'll try to add a simple test to see if it helps.

[2019-05-22 16:17] magnumripper opened #3994 "doc/NEWS update (for adding --rules-skip-nop option)"
https://github.com/magnumripper/JohnTheRipper/pull/3987#issuecomment-494851968

[2019-05-22 16:23] magnumripper opened #3995 "ZTEX version numbers says 1.8.x"
From https://github.com/magnumripper/JohnTheRipper/issues/2600#issuecomment-494759763

It's no big deal really, but anyway:
- Isn't there a checksum that would fail if we edit the binary?
- An independent version number would probably be a good idea - maybe an actual version of (just) the firmware instead, at @Apingis discretion.

[2019-05-22 16:56] solardiz commented on #3995
This is dupe of #3992, so please close one or the other.

There are per-line checksums, see 4747ba441941479474377653f5f6d0f4222520c9 for the previous change of the version string.

https://en.wikipedia.org/wiki/Intel_HEX

[2019-05-22 23:28] #3995 closed

[2019-05-23 13:20] #3994 closed

[2019-05-23 13:29] magnumripper commented on #3993
If a format could flag that "if I consider something valid, stop trying any other formats" this would not only solve this problem but also speed things up, sometimes quite considerably. Flag could be named `FMT_VALID_OWNER" or something like that (I'm not particularly happy with that name, RFC).

[2019-05-23 13:42] magnumripper opened #3996 "Speed up auto-detection"
Related to #3993 (this hit me while considering that issue). I think this might actually solve that issue as well.

I have noticed that given a huge pot file, not using the `--format` option can be extremely slow. The vast majority of formats now have "dollar-tags" (eg `$RAR$`) and *a list of tags presented in their format structs*. Perhaps it can be used to speed things up.

Pseudo-code:
[code]
T

[2019-05-23 13:43] magnumripper commented on #3993
Incidently I think #3996 would solve this problem.

[2019-05-24 01:34] magnumripper commented on #3967
Hmm are we not testing non-OMP at all right now? We need to do so, with and without SIMD.

[2019-05-25 18:56] solardiz opened #3998 "Reduce, then remove dependency on OpenSSL"
We should reduce the number of formats that use OpenSSL by unconditionally(?) switching them to our own crypto primitives where we have those. Then add a way to build without OpenSSL, by disabling the few remaining OpenSSL-dependent formats in such builds. Maybe add compile-time warnings about that. If those formats are numerous or/and deemed important, then we should fail a build by default when

[2019-05-25 19:08] solardiz commented on #3986
I realized that for "single crack" mode high p/s doesn't imply we finish or advance to next pass of batch mode so soon the warning doesn't matter (and thus doesn't need to be printed). Since with that mode the buffers are per-salt, high salt count may also slow things down. So perhaps use p/s as I suggested for muting the warnings in all other cracking modes, but when we're in "single crack" use p

[2019-05-25 19:11] solardiz commented on #3962
Claudio, has this issue somehow been worked around in your latest Windows builds? How exactly? What remains to be done, if anything?

I went over that link and couldn't quickly figure out which workaround you refer to. Can you be more specific, please?

[2019-05-25 19:14] solardiz opened #3999 "Get AppVeyor configs into our tree"
Claudio, I might not fully understand this, and if so please correct me, but I think that we currently have our CircleCI and Travis configs in the tree, but not our AppVeyor configs. I think we should add the latter as well, especially given that we use AppVeyor as more than CI, but also to produce usable Windows builds.

[2019-05-25 19:17] solardiz commented on #3993
The `FMT_VALID_OWNER` trick wouldn't be usable for formats like `rar` vs. `rar-opencl`, where we'd like a warning printed that the other also recognizes the input. Also, we'd have trouble with stale uses of this flag - not removed by us when an alternate implementation of a format gets added.

[2019-05-25 19:24] solardiz commented on #978
magnum, do we need to keep this issue open? The list of formats looks out of date.

[2019-05-25 19:25] solardiz commented on #765
Do we need custom zsh tab completions at all? With no maintainer, maybe it's best to drop this?

[2019-05-25 19:29] solardiz commented on #954
I think many of our `valid` functions are best to be rewritten using some entirely new universal syntax-checking API, yet to be introduced. I doubt micro-enhancements like what's suggested in this stale issue are worth our time to perform them as a separate task going over all formats.

[2019-05-25 19:37] solardiz commented on #3979
I've just moved many issues out of the 1.9.0-jumbo-2 milestone, but many of the remaining ones give me a "probably not now" feeling as well. We probably need separate milestones for "definitely 1.9.0-jumbo-2 material" vs. "potentially 1.9.0-jumbo-2 material".

[2019-05-25 19:40] claudioandre-br commented on #3962
I followed the workaround instructions specified in a reported gcc bug. Aflter apply the workaround:
* The compilation is successful;
* JtR fallback works.

I can't say any more, I did not test the binary (because I can't test it).

[2019-05-25 19:41] claudioandre-br commented on #3962
**[Edited]** On 64bits only.

[2019-05-25 19:48] claudioandre-br commented on #3999
You are correct. I assigned @magnumripper, he has to perform all necessary tasks (sign up, CI set up, tokens, ...).

[2019-05-25 19:56] claudioandre-br commented on #3999
AppVeyor builds (jobs) are sequential, so, "upstream" tests should be fast.

[2019-05-25 20:09] solardiz commented on #3962
Claudio, can you please post the workaround you used right to here? Thanks!

[2019-05-25 20:11] solardiz commented on #3999
Claudio, I thought you could simply make a PR to this repo with the files you already have. Wouldn't this make sense? Is the signup for AppVeyor currently yours and needs to be changed to magnum's? But you're the one who's been managing it so far and you readily know how, so why would we bother magnum with this? I'm confused.

[2019-05-25 21:08] claudioandre-br commented on #3999
No.

Well, I have one. It is mine. A new one is going to belong to him. Two different things. Two accounts.

Magnum is someone else. I can not decide in his place.

[2019-05-25 21:14] claudioandre-br commented on #3962
*****

[2019-05-25 21:45] solardiz commented on #3999
Claudio, why wouldn't it make sense to include in this repo the files you already have and use with AppVeyor? Aren't they sort of part of our source code (a part relevant to making our Windows builds)?

I'd also like to hear from magnum. Thanks!

[2019-05-25 21:54] claudioandre-br commented on #3999
Anyone can copy and use the "files" (they are GPL). But it is not enough,
nothing will happen after a PR containing these files. No builds, no tests,
...

Em sáb, 25 de mai de 2019 às 18:45, Solar Designer <notifications@github.com>
escreveu:

[2019-05-25 22:24] magnumripper commented on #978
Nah let's close it. It's sort of an ever-present issue.

[2019-05-25 22:24] #978 closed

[2019-05-25 22:25] magnumripper commented on #765
If so, should we drop the existing ridmentary completion or keep it?

[2019-05-25 22:26] #954 closed

[2019-05-25 22:28] magnumripper commented on #3999
Perhaps we should escalate the "move repo to openwall org" issue? Completing that would be awesome.

[2019-05-26 08:57] solardiz commented on #3999
Of course. I merely wanted to have the files archived as part of our tree, so that we can easier check how exactly the builds are made and can recreate the setup later if need be. I saw you already made a PR like this today (haven't checked it yet), thanks!

I agree.

[2019-05-26 10:47] torerobo opened #4001 "Is it possible to improve the --dupe-suppression option?"
cat word
aKuS1
ber
hu
gf

john2 --prince=word --rules=single --stdout > bigword
Press 'q' or Ctrl-C to abort, almost any other key for status
1106708p 0:00:00:00 100,00% (2019-05-26 13:42) 4426Kp/s dsdsdsdsdsdsdsds

sort -u bigword | wc -l                **1005452**

john2 --prince=word --dupe-suppression --rules=single --stdout > nodublebigword
Press 'q' or Ctrl-C to abort, almost any other key f

[2019-05-26 13:22] solardiz opened #4002 "Autodetection of properly tagged dynamic formats is non-working"
As mentioned in:

https://github.com/magnumripper/JohnTheRipper/issues/3970#issuecomment-493723879

autodetection of properly tagged dynamic formats is currently non-working. I think it used to work before. We need to repair it.

The above example is for dynamic_82, but I just ran into the same issue with dynamic_62.

[2019-05-26 21:22] torerobo commented on #3397
Greetings Alexey!  I need your help in this matter.  I subscribed to the mailing list.  I received a reference guide.  I can not understand what mail to send your question?  I sent a "test" to all the proposed mail and received a "garbage".
john-users@lists.openwall.com
john-users-faq@lists.openwall.com
john-users-get.123_145@lists.openwall.com
john-users-index.123_456@lists.openwall.com

no lette

[2019-05-26 21:51] AlekseyCherepanov commented on #3397
@torerobo `john-users@lists.openwall.com` is the correct address. Your(?) email with subject `test1` was caught by moderation (as of it was your first email). The email was not delivered to all subscribers as meaningless. Please write real email and send to the address.

[2019-05-26 22:48] torerobo commented on #3397
@AlekseyCherepanov
Right!  "test1" is my letter.  You wrote

(Did I understand the translation correctly?) In order to receive technical support via JtR, I have to send my question to john-users@lists.openwall.com, but I must send it from the mail I signed up with?  And in case of approval of moderation, only then my question will appear here https://www.openwall.com/lists/john-users/

[2019-05-27 07:02] magnumripper commented on #4001
"...for suppressing dupes from **input**."

It works as stated. Despite that PRINCE mode (or rules) can obviously produce duplicates in **output** but that's not what we're trying to suppress because it would have serious performance impact (to the end that it'll be contra productive).

[2019-05-27 07:02] #4001 closed

[2019-05-27 07:08] magnumripper commented on #3397
Not really, but you need to send a meaningful message, not a test mail. No-one on the list members are interested in seeing your test mails. The same applies here BTW, you are close to being banned from here.

[2019-05-27 09:37] AlekseyCherepanov commented on #3397
Sorry! I did mistake: I used "email" incorrectly, I meant "letter" actually. Fixed: please write real letter and send to the address.

You may send to `john-users` mailing list from any email address. But it would be more convenient to use the same email address used for subscription. (When there is a discussion, it is easier to reply into the discussion's thread this way.)

Yes, your letter will

[2019-05-27 10:41] solardiz opened #4003 "Add SSHA256 format or extraction tool"
As discussed in https://www.openwall.com/lists/john-users/2019/05/27/1, we have specialized formats for {SSHA} and {SSHA512}, but currently not for {SSHA256}. We probably need to add the latter as usage of `dynamic_62` requires re-encoding of the input hashes - or alternatively maybe the dynamic formats framework could be enhanced to allow extracting hash and salt separately from different offsets

[2019-05-27 13:15] torerobo commented on #3397
Ok.  Before I go out from here I went out / (bante).  I’ll report the latest bug in JtR: wpapcap2john in windows does not extract the hash from .cap (in GNU / Linux, it successfully extracts).  The .cap file is the same.  JtR version 1.9.0-1 (last).

Good luck in developing and searching for volunteers.

[2019-05-27 13:46] solardiz commented on #3397
@torerobo Thanks for the bug report. Can you please open a new issue for just that one bug, and if possible attach a sample .cap file we could use to reproduce the bug? Also, please describe in that issue how exactly the program "does not extract the hash" - what happens instead. Perhaps include some copy-paste from your Windows command prompt window (text only, no screenshots, please).

[2019-05-27 14:00] solardiz commented on #4003
Alternatively (or additionally?) we can add this tool `atmail2john`:

[code]

[2019-05-27 14:35] solardiz commented on #4003
Looks like these atmail {SSHA256} hashes are dissimilar to LDAP {SSHA} and {SSHA512} hashes that we already support, as the latter use smaller salts. So I suggest we simply add the Perl script for now.

[2019-05-27 14:40] solardiz commented on #3962
So the workaround you use for now is `-fno-asynchronous-unwind-tables`, which makes the code build, but we do not yet know if it'd actually work correctly on an AVX512BW-capable system running Windows. Correct? Are AppVeyor's systems that we build on AVX512BW-capable? Can we possibly test there?

Should @magnumripper possibly have autoconf add `-fno-asynchronous-unwind-tables` to `CFLAGS` when con

[2019-05-27 14:56] torerobo commented on #3397
Sorry, false alarm (apparently, like many). The problem in the directory, an example of how it is impossible to extract hashes C:\Users\user-test\Downloads\**ddd ddd**\brad.cap
Success C:\Users\user-test\Downloads\**dddddd**\brad.cap

Quotes escaping a space can not help (my fault).

[2019-05-27 19:48] magnumripper commented on #3397
Good thing you sorted it out! I didn't really mean to be offensive but I confess I was reading mail before having coffee  o.O

[2019-05-27 20:37] magnumripper opened #4006 "unique may truncate output file lines"
`unique` will **silently** truncate any input lines exceeding `LINE_BUFFER_SIZE` (currently 1024 characters). I think that's dangerous - we should warn (once) any time this happens, *possibly* even returning with non-true status (we should not abort in the middle though, just return some error after all done, so eg. scripts using `unique && this || that` won't go on deleting the original files).
@

[2019-05-27 20:57] #3956 closed

[2019-05-28 11:49] solardiz commented on #4006
I think this is an area for improvement, but I think it's overkill to treat this as a dangerous bug given typical uses of `unique`. 1024 is way higher than our maximum plaintext length of 125, so for those uses the truncation makes no difference.

I doubt I'll bother doing anything about this in core.

[2019-05-28 18:00] #4003 closed

[2019-05-28 21:13] #3986 closed

[2019-05-28 21:13] #3961 closed

[2019-05-28 21:14] #3985 closed

[2019-05-28 21:58] magnumripper commented on #3998
This is a dupe of #2356

[2019-05-28 22:32] magnumripper opened #4011 "Add option to hybrid mask mode for expecting placeholders from parent"
Idea: Let hybrid parent mode feed candidates **containing** mask placeholders, to hybrid mask.

1. For example, we build a PRINCE wordlist from the morphemes "secret", "1984" and "2019" but we change the two latter to just one instance of "?d?d?d?d". That doesn't mean anything special to PRINCE so we end up getting eg. "secret?d?d?d?d" and "?d?d?d?dsecret").
2. Now, let's add an option to hybrid m

[2019-05-28 22:59] magnumripper opened #4012 "Device-side mask mode: Revisit the fmt_reset() logic"
This isn't quite perfected yet. It's a two-step rocket:

1. If mask positions or ranges changed at all and `FMT_MASK`, we have to call `crk_process_buffer()` followed by format's `reset()` for updating the GPU-side. Obviously, we currently do.
2. Most or all formats currently always (re-)auto-tune whenever the above happens. This is **not** needed unless the "mask multiplier" (the actual one, not

[2019-05-28 23:08] magnumripper commented on #4012
This would ~~probably~~ close #3516 as well

[2019-05-28 23:14] magnumripper commented on #3516
Closing in favor of #4012

[2019-05-28 23:14] #3516 closed

[2019-05-29 06:47] magnumripper commented on #4006
Sure, for typical core use (word lists) it's more like a feature. But it's not far fetched that someone would concatenate and `unique` a bunch of input files created over time with eg. zip2john and rar2john (which admittedly doesn't exist in core) or something like that, and then delete the originals. This would thrash them for good as nearly all archives IRL exceeds 1024 hex chars.

This actually

[2019-05-29 11:55] solardiz commented on #4012
Isn't this too invasive and risky to be "Definitely 1.9.0-jumbo-2 material"?

[2019-05-29 11:57] solardiz commented on #3999
Claudio, now that the stripped version of the file has been merged, can you please send us a PR with the advanced file you actually use now? Thanks!

[2019-05-30 19:26] magnumripper commented on #4012
I think not. It's not complicated really, and it's easily tested.

[2019-05-30 20:15] ghost opened #4013 "CFLAGS_MAIN should'nt have -mSIMD hint"
Below you can see the content of `CFLAGS_MAIN` in a `make` run:
* From:
`$(CC) -DMAIN_NAME=\"$(MAIN_NAME)\" symlink.c $(CFLAGS_MAIN) -o ../run/john.exe`

* To:
`
gcc -DMAIN_NAME=\"john-avx512bw.exe\" symlink.c -DAC_BUILT -DJOHN_AVX512BW -c -m64 -g -O2 -DARCH_LITTLE_ENDIAN=1 -DPREFER_FLOCK  -Wall -Wno-format-overflow -Wno-format-truncation -fno-omit-frame-pointer --param allow-store-data-races=0 -W

[2019-05-30 22:32] magnumripper opened #4014 "Improve rule stacking"
Current rule stacking actually runs the preprocessor as well as the rule engine twice, which can't help performance.  I'm thinking we could instead concatenate the two rules before PP and only run things once although that will involve less trivial things for throwing things around (eg. if the second rule has reject-flags they must be moved to just after the first rule's reject flags (if any) and/

[2019-05-30 22:38] magnumripper opened #4015 "Allow "single mode" rules with "phrases" wordlist"
If a wordlist (or other source of candidates) contains entries like "my password" or "sunny beach", we should optionally be able to use them with "single mode" rules (pass `-p` rejection flag, have `1` and `2` refer to the words and `+` to concatenate).

We could even have that option specify the separator, as in `--phrase-delimiter=" "` or `--phrase-delimiter=:`.

[2019-05-30 22:42] magnumripper opened #4016 "Add support for sequential masks"
See also #2310

We should allow something like `--mask='?w?a;?a?w'` (similar to `--rules=':rule1;rule2'`) although when `?w` or `?W` is used I'm not sure whether we should apply each mask to every word, or apply first mask to every word and then rewind (in case of wordlist) and use next mask.

[2019-05-30 22:55] magnumripper commented on #4013
This doesn't happen to me. How did you run configure? This may be a bug with the `--enable-simd=...` option in case that was what you used.

[2019-05-30 23:00] magnumripper commented on #4013
No, that's not it:
[code]

[2019-05-30 23:07] magnumripper commented on #4013
Looks like your `packaging/build.sh` erroneously uses `CPPFLAGS` for adding `-mavx512bw` (Yes I suggested to do so long ago, but it's not correct). This will end up in CFLAGS_MAIN as well. Use `--enable-simd=avx512bw` instead!

[2019-05-30 23:13] magnumripper commented on #3998
From #2356 (this issue is a dupe of that one):
*... the penalty for MD4/5 and SHA-1/SHA-512 is more significant than I would have thought ...*

[2019-05-31 01:49] #4013 closed, assigned to nobody

[2019-05-31 18:17] solardiz commented on #4014
Wouldn't that one run be on twice longer rules, and thus of roughly the same total processing cost?

Overall, what you suggest here sounds to me like introducing complexity for no gain. But I could be wrong, especially given that I'm not very familiar with the current rule stacking.

[2019-05-31 18:20] solardiz commented on #4015
To me, the `1` and `2` commands are nearly obsolete. They pre-date our introduction of the `p` position code, with which we're able to find spaces and process multi-word phrases in that way. Thus, enhancing the `1` and `2` commands with new abilities feels weird to me.

Alternatively, though, we might in fact give them a new life by introducing such commands capable of dealing with more than 2 wor

[2019-05-31 18:23] magnumripper commented on #4014
Maybe, I'm not sure yet.

Hopefully you are right. I just want to look at it when I get the time.

[2019-05-31 18:28] solardiz commented on #4016
We should also have a way to read the multiple masks from a john.conf section or from a text file. I already needed that functionality when having a mask generate many masks, outputting that to a text file, then grepping out masks impossible by password policy, and using the rest for a cracking run. I ended up using a shell `for` loop around `john`, and would prefer to also have this functionality

[2019-05-31 18:32] magnumripper commented on #4015
That's good input to consider. I was mostly thinking we have some well thought out single mode rules in place, and it should be easy to make them work with multi-word phrases.

[2019-05-31 18:32] solardiz commented on #4014
BTW, don't we still run the preprocessor + rule engine across all rules an extra time just to pre-check the rules' syntax? I certainly do that in core. If we care about speeding things like this up, we should add a way to (partially) skip this checking - e.g., a john.conf setting limiting this checking to only the first N ruleset lines (pre-pp) or/and rules (post-pp) - e.g., 1 million by default.

[2019-05-31 18:34] solardiz commented on #4015
I thought of possibly rewriting them using the `p` position code, which would make them work for all modes - only for their hardcoded separator character(s), but we can easily have many due to pp.

[2019-05-31 18:34] magnumripper commented on #4016
Absolutely, that's #2310. IIRC Jim started working on that so I didn't, but then it somehow didn't end up in any code.

[2019-05-31 18:39] solardiz commented on #4016
Added this and especially #2310 to "Potentially 1.9.0-jumbo-2 material". Sounds like a high-level addition to me, which will hopefully not break already existing functionality even if initially implemented with a bug. My biggest concern is that current mask (number?) should be recorded in `.rec` files.

[2019-05-31 19:49] solardiz commented on #3998
I think we need to start looking at specific performance numbers. For MD4/5, I don't expect much slowdown, if any, but perhaps we need to take care of #3917 (and some related optimizations I have in mind, such as adding an `InitUpdate` call) first or at the same time.

Also, ideally our uses of scalar implementations of primitives should be in relatively non-performance-critical places.

[2019-06-01 23:24] maryn23 commented on #3477
Hi. I have this hash bakend13.rar:$RAR3$*1*889fe52a22a92959*9631d757*32*15*1*2faaa3de9161ea370ec1fb9e511b88a2b7ba1ccf19d8666a896fc8c44b3b5c7c*33:1::

It's crazy I need the files. I'm using John but it's a never ending process because when I reach ten hours a new blackout happens here. Somebody help me pls.
![john long process](https://user-images.githubusercontent.com/51274670/58754639-db47e080-84

[2019-06-03 08:50] magnumripper commented on #3998
For less changes in the plenty of existing formats, perhaps we could make `Init()` a macro?

[2019-06-03 08:57] magnumripper commented on #3998
I could start with adding `--disable-openssl` (keeping it default enabled for now) even though using that will not build properly (we'll soon have it build fine although disable a whole bunch of formats). Then we can work out the issues over time without making a fork.

[2019-06-03 10:38] solardiz commented on #3998
Yes, but this is probably less efficient: more code in the callers, and we'd need a flag and a runtime check to precompute some operations on the first few steps when operating on a just-initialized context.

This is not ideal, but I hope you'll get it to build properly (without many formats) soon enough for this approach to work fine for us. So please proceed. Thanks!

[2019-06-05 15:15] Apingis commented on #3992
The firmware is relatively stable comparing to the rest of the project, I don't expect frequent updates nor there're any planned updates.
I'd chose JtR-unrelated versioning scheme, with version identifiers different from JtR versions (e.g. "inouttraffic 1.0.2 JtR").

[2019-06-05 18:54] zheater opened #4018 "zip2john producing large (~90MB) hashes"
Trying to open a zip file containing several pdfs. I'm using a version freshly cloned from here.

Typing "zip2john file.zip > ziphash.hash" creates a 90MB hash file. Typing "zip2john file.zip -o pdf1.pdf > ziphash.hash" creates a hash between 50MB and 95MB depending on which file I try.

Any thoughts?

[2019-06-05 19:04] solardiz opened #4019 "Add support for VCU1525 FPGA boards"
Now that we've made a release with support for 7 hash types on ZTEX 1.15y boards, our next target could be VCU1525/BCU1525 boards and Amazon AWS F1.

@dedmarozz would you possibly be interested in getting involved? As I understand, you've been into miner development for various FPGA boards including ZTEX 1.15y and VCU1525, so I thought maybe you'd be interested in our password cracker project as w

[2019-06-05 19:09] solardiz commented on #4018
What issue are you reporting? It is normal for those "hashes" to be this large as they embed the encrypted data.

You say you're able to get a 95MB "hash" from a file in an archive, but only a 90MB hash from the full archive. This 5MB difference is puzzling. I'd expect the full archive to produce a "hash" that is at least as large as one file's.

[2019-06-05 19:12] solardiz commented on #3992
Yet the firmware is part of our project's code, so please get its source code and build instructions into our tree.

This looks good to me. Maybe start with "inouttraffic 1.0.0 JtR".

[2019-06-05 20:00] #4018 closed, assigned to nobody

[2019-06-07 04:41] ghost opened #4022 "Mitigation for poor documentation"
As stated in https://www.openwall.com/lists/john-users/2019/06/05/3, we can "put screenshot/s of JtR in action in the main webpage". Maybe, we can link to good tutorials seen in the wild.

This is an example:
https://medium.com/@miningroi/cracking-tezos-ico-passwords-on-windows-10-43d8462adaec

* Updated;
* Screenshots;
* How to download and install JtR on Windows;
* Plus some examples of cracking

[2019-06-07 14:51] Apingis commented on #3992
OK, that's in src/ztex/ez-usb/

[2019-06-08 00:16] jwallior commented on #2193
This seems to be broken again. I have the same exact issue as describe by @wzglc6 with cmplen=0 and [Bit 3] 1 'Streamed'. I ran a git bisect and pin-pointed it to 8246d20be.

For each versions, I did:
`make clean; ./configure; make -j 30; zip2john file > digest; john digest`

BROKEN means: cmplen=0 and a run on john gives 'No password hashes loaded' or even segfaults.
WORKS means: cmplen=3218 (!=0

[2019-06-08 00:36] ghost commented on #2193
Do you have `zip` libraries installed in your computer? From configure (note the last line).
[code]

If it is not the problem, please provide the broken `.zip` file. Using the file posted above, JtR works.
[code]

[2019-06-08 01:25] jwallior commented on #2193
I do have libz. I have it working fine with release 0dd0fd3. The problem is bleeding edge and everything after 8246d20.
I'm unsure if I can share the file (would have to check), but regardless, it's 3.5GB, so that would likely be a problem regardless.

I spent a little more time looking at the 8246d20 commit. If you look, it moves the code with the comment "// If bit 3 of flags is set" into the fu

[2019-06-08 01:32] ghost opened #4025 "Zip2john problem after 8246d20"
I do have libz. I have it working fine with release 0dd0fd3. The problem is bleeding edge and everything after 8246d20.
I'm unsure if I can share the file (would have to check), but regardless, it's 3.5GB, so that would likely be a problem regardless.

I spent a little more time looking at the 8246d20 commit. If you look, it moves the code with the comment "// If bit 3 of flags is set" into the fu

[2019-06-08 01:40] jwallior commented on #4025
One of those 2 patches work for me. I'm unsure what's the right thing to do.

[code]

[code]

[2019-06-08 06:03] magnumripper commented on #2193
Thanks a lot for reporting, this is excellent input. I will try to fix the problem by dry running, within a few days.

[2019-06-08 06:05] #2193 closed

[2019-06-08 06:06] magnumripper commented on #4025
@jwallior thanks a lot for reporting, this is excellent input. I will try to fix the problem by dry running, within a few days.

[2019-06-08 06:15] magnumripper commented on #4025
From a first look, this is the correct fix.

[2019-06-08 06:57] magnumripper commented on #4025
@jwallior could you please post the full stderr output from running zip2john on the failing file, first *with* the bug (latest bleeding) and then *without* the bug (eg. changing `&&` to `||` per above). You can obfuscate file names if needed, I'm just interested in the output of flags/headers/sizes.

[2019-06-08 07:11] #3992 closed

[2019-06-08 08:38] dedmarozz commented on #4019
Hi, im very busy so i dont know if i have some free time for another
developing. I have real job and this is only my hobby. Pls add bittware
CVP-13 fpga board to your support list in future. This board is much better
than VCU/BCU

https://www.bittware.com/fpga/xup-vvp/

Best Regards

DedMaroz

st 5. 6. 2019 v 21:04 odesílatel Solar Designer <notifications@github.com>
napsal:

[2019-06-08 15:04] solardiz commented on #4019
Thanks for the reply, @dedmarozz. I fully expected you wouldn't have much free time for this, yet I think we might find an arrangement that would work for you. We probably don't need a lot of your time, but rather some help in jump-starting the project for @Apingis (who implemented the ZTEX 1.15y support for us) on our team to continue it, or/and remote access to your boards (we currently don't ha

[2019-06-08 20:40] jwallior commented on #4025
Here is the data. I did change the filenames. One thing that I hadn't noticed before, with the patch zip2john finds 707 files in the zip and without the patch, it only finds 112.

I only put the full line for the union of the files in the digest. decmplen seems to be correct even without the fix. (but cmplen and crc are wrong).

Hope this helps. If you need to full files (707 of them), let me know

[2019-06-08 21:41] dedmarozz commented on #4019
i dont know "openwall.com" if you chat with me, i using fpga crypto discord
channel, i have my own developer room here: https://discord.gg/SS4kt9

i have one VCU1525 board, one bittware cvp-13 and two Enterpoint CM5 boards
at home. VCU1525 is worst hardware, not designed for mining and for high
load, have only 150A power source, so you never used 100% potential this
fpga, i ending support for this

[2019-06-08 21:55] dedmarozz commented on #4019
btw all my 108 ztex boards are sold or reserved, 28 to US, one to Ukraine
and 80 to Netherlands :) i selling 100$ per board

so 8. 6. 2019 v 23:41 odesílatel Jmeno Prijmeni <dedmaroz.85@gmail.com>
napsal:

[2019-06-09 13:28] #4025 closed, assigned to magnumripper

[2019-06-09 13:31] magnumripper commented on #4025
Thanks. I pushed a similar fix. And thanks again for excellent input, it saved us quite some work figuring things out.

[2019-06-10 18:52] LordDarkHelmet commented on #4022
I am the author of that article. I am glad to help if needed.

[2019-06-11 00:28] ghost commented on #4022
If you (with volunteer friends or using a GitHub repository) create a set of tutorials, I'll add a link to them in all Stores (Snapcraft, Flathub [1] and GitHub releases) that I maintain.

Thinking out loud, they should contain:
* the main page:
  * how to download and install JtR (the basic stuff).
  * it is CLI and don't be afraid.
* plus links to some useful examples (e.g., cracking a zip file,

[2019-06-12 06:54] magnumripper opened #4028 "Review ssh formats"
See https://www.openwall.com/lists/john-users/2019/06/10/1 and #4026 which added FMT_NOT_EXACT to the GPU format while the CPU format apparently already had that but doesn't need it?!

- [ ] Both formats should set/clear FMT_NOT_EXACT at every `set_salt()` according to the actual conditions for current type. ~Should we instead remove FMT_NOT_EXACT from the CPU format or are *some* of the latter's

[2019-06-12 07:05] magnumripper commented on #4015
The upside of this (IMO) is easier-to-understand rules. Let's say we can "reject unless *n* or more words" and then do something like `3c 2u 1l +` with the `+` (or some new mnemonic) meaning "concat the mentioned words, in order mentioned" as opposed to "concat every word". This would be a lot more complicated to write, or to read and understand, using `p`, I presume.

We should also consider perf

[2019-06-12 10:09] solardiz commented on #4028
I guess this is the case. For some algos `cmp_exact` checks padding or something, while for others it merely returns 1. Maybe we can conditionally drop `FMT_NOT_EXACT` from the format's struct after having loaded "hashes" that are only of the exact types.

[2019-06-12 10:49] solardiz commented on #4022
Thanks, @LordDarkHelmet! I think we should start by adding a link to your article to https://openwall.info/wiki/john/tutorials - can you please do that?

[2019-06-13 07:12] magnumripper commented on #4028
Ideally that flag should be set or cleared at each `set_salt()` then. IIRC cracker.c used a stale copy of `format.params` but Jumbo already dropped that for things like this to work.

[2019-06-13 07:22] magnumripper commented on #3979
Note to self: Update `doc/NEWS` **often**.

[2019-06-13 15:25] LordDarkHelmet commented on #4022
The link has been added.

[2019-06-13 21:43] #3965 closed

[2019-06-13 21:43] #4006 closed

[2019-06-15 06:20] githubranduser opened #4030 "Unknown option: "--internal-encoding=ISO-8859-1""
John has been running on my system for over a month, up until 1.9.0 jumbo, I could at least check the status of my run ... now i cannot, I get this:

Unknown option: "--internal-encoding=ISO-8859-1"

This was working on previous versions and is now preventing me from checking in on things that are presenting running.

John build-info response:

Version: 1.9.0-jumbo-1
Build: linux-gnu 64-bit x86_64

[2019-06-15 11:46] solardiz opened #4031 "zip-opencl suboptimal speeds"
As prompted by this Twitter thread:

https://twitter.com/solardiz/status/1139844055100059650

It appears that we have a crucial optimization that hashcat missed, so we appear to be much faster than hashcat at these "non-hashes" now, but while at it I also noticed that:

1. We benchmark for a mix of two different "non-hashes", and the speeds for those differ somewhat. As seen with actual mask mode

[2019-06-15 15:36] solardiz commented on #4031
Apparently, the `--test` benchmark and auto-tune speed difference came from the latency of transferring data from/to host, which at ~2M c/s is far from negligible. That latency is mostly avoided in "Many salts" benchmarks, but it's fairly unlikely someone will be cracking that many archives at once ("Many salts" assumes 256).

When preparing for the 1.9.0-jumbo-1 release, we set our "Raw" benchmar

[2019-06-15 15:52] solardiz commented on #4031
magnum, why are we seeing "85%" next to "Many salts" here, whereas we're getting "99%" next to "Many salts" e.g. for the faster md5crypt-opencl format? -

[code]

Does zip-opencl involve many times larger data transfers to/from host? Maybe, but I guess not to that extent. And this gave me another thought - zip-opencl auto-tunes to GWS=10240, which is much lower than md5crypt-opencl's GWS=327680. U

[2019-06-15 18:51] ghost commented on #4030
I would say much more than a month since `-internal-encoding` was dropped in https://github.com/magnumripper/JohnTheRipper/commit/f5b2b19b429e724f277ea41e68a3983fa67efa7e . In fact, the version you **were** using is (at least) three years old.

It is not clear to me if you are specifying "--internal-encoding=ISO-8859-1" in the command line or if it is inside the `REC` file, for example. The commit

[2019-06-15 23:07] githubranduser commented on #4030
It's possible, I installed the OS a little over 30 days ago.

This was all I did:

Created a hash file with contents like this:

root:$dynamic_25$hash

Then I started it like this:

john --format=dynamic_25 --session=thing --fork=32 hash.txt

Then I have 32 processes running like this:

root      4138 99.9  0.0 208856 29440 ?        RN   May17 42788:21 john --format=dynamic_25 --session=thing --fo

[2019-06-16 00:55] ghost commented on #4030
I was able to reproduce it:
* I run a very old version of JtR (2015 Sept):
  * `$JtR --format=dynamic_25 --session=ida --fork=32 hash.txt`
* I try to get the status using an updated version of JtR:
[code]
The `--internal-encoding` is seen inside `.REC` file. I'm using:
- `John the Ripper 1.8.0-jumbo-1-3875-ge6655e1 OMP [linux-gnu 64-bit AVX2-ac]
`

versus
- `John the Ripper 1.9.0-jumbo-1+bleeding-

[2019-06-16 01:00] ghost commented on #4030
Maybe we can review how JtR is handling `--internal-encoding` versus `--internal-codepage` inside a `.REC`, but only if `--internal-encoding`  was a "released" command line option.

[2019-06-16 01:44] githubranduser commented on #4030
I'm afraid I'm super new to this, how can I stop my current session and resume it without the command?

[2019-06-16 11:06] solardiz commented on #4031
hashcat has just implemented the 2 bytes check, and as expected got much better speeds than ours - see that Twitter thread referenced above. hashcat is now at ~3300K on GTX 1080.

I've just edited item 4 in my original comment, and inserted this new item:

5. When we early-reject a password with the 2 bytes check, which we do most of the time, we end up transferring a bunch of zeroes back to the h

[2019-06-16 20:05] ghost commented on #4030
It (the capacity to recognize `--internal-encoding` in restored sessions) is not working either.

[code]

Of course, you can stop John the Ripper and:
[code]

Then:
[code]

**Tested and works.**
****
NOTE: I'm not advising you to do this. At least, backup everything before running these commands.

[2019-06-17 08:12] technowhiz commented on #3191
Hi, I am a newbie to john the ripper. I am getting the opencl error which is specified here. could anyone explain me how to replace the cygOpencl-1.dll with openCL.dll in the john the ripper directory. I copied the OpenCL.dll from system32 folder to the 'run' directory inside the john the ripper directory but got the same opencl error. then i renamed the OpenCL.dll to cygOpenCL-1.dll. now i am get

[2019-06-17 10:29] solardiz commented on #4030
I think we meant to support seamless restoring of 1.8.0-jumbo-1's sessions with 1.9.0-jumbo-1, or at least we never discussed that this wouldn't work. So I think we should treat this as a bug, and fix it.

[2019-06-17 10:38] solardiz commented on #3191
@sdk156 We use GitHub issues to track things for us to fix in JtR, not to provide user support. Your question would be appropriate for the john-users mailing list: https://www.openwall.com/lists/john-users/

Then, when you use the latest Windows build currently on JtR homepage (of version 1.9.0-jumbo-1), the problem shouldn't occur. You didn't mention what version you have the problem with (you sh

[2019-06-17 10:48] solardiz commented on #3191
@sdk156 You should also mention the type of your GPU, what GPU drivers you installed (if any), and Windows version and bitness.

Reviewing past comments on this issue, I see @arcfide mentioning that things work with Cygwin's DLL when ICD files are added. That's similar to what we did in our currently released builds, where we included ICD files with typical paths to NVIDIA and AMD DLLs. (But not t

[2019-06-17 11:27] technowhiz commented on #3191
@solardiz my aplologies for the incomplete error report. I have a NVIDIA Geforce MX150 GPU with latest NVIDIA drivers installed. And I was getting the same error as listed below.
Error: No OpenCL-capable platforms were detected by the installed OpenCL driver.
Error: No OpenCL-capable devices were detected by the installed OpenCL driver.

the releases i was trying as follows,
1. winX64_1_JtR.7z - l

[2019-06-17 12:02] solardiz commented on #3191
Thank you for this additional detail, @sdk156.

What was the actual path of nvopencl64.dll on your system? Do you know why it's different from the default?

I wonder if we can somehow list multiple/alternate paths, @claudioandre-br.

[2019-06-17 12:11] technowhiz commented on #3191
@solardiz , sorry . I am a noob to opencl environments. In this thread , I have read that nvopencl.dll might be found under system32 folder. so i just searched it inside system32 but it was not under system32 root but under a subdirectory as follows 'C:\Windows\System32\DriverStore\FileRepository\nvdmi.inf_amd64_b67df4d626c9e7b6'. so i replaced this path instead of the contents of nvidia.icd  in '

[2019-06-17 12:47] solardiz commented on #3191
We appreciate the detailed info you provided, @sdk156. Thank you!

[2019-06-17 13:38] technowhiz commented on #3191
@solardiz welcome and thank you for your appreciation :) :) :)

[2019-06-17 22:51] magnumripper commented on #4030
I'm pretty sure there's code in there that is supposed to handle the deprecated option name. Will look into it.

[2019-06-17 23:11] magnumripper commented on #4030
Apparently support was dropped in f5b2b19b and code was left in `recovery.c` that was supposed to fix resuming but it was possibly never tested :-/

Not sure what to do now, it's kind of too late to be reasonable to fix now. [Claudio's suggestion](https://github.com/magnumripper/JohnTheRipper/issues/4030#issuecomment-502481589) is the best workaround.

[2019-06-17 23:23] magnumripper commented on #4031
So much to do, so little time!

[2019-06-18 11:16] githubranduser commented on #4030
I shall do that, thank you for your help!!!!

[2019-06-18 11:39] solardiz commented on #4030
I think it's still best to fix this now, given that the fix is probably trivial. It isn't unreasonable that someone would be upgrading from 1.8.0-jumbo-1 to bleeding-jumbo or to 1.9.0-jumbo-2, skipping the 1.9.0-jumbo-1 release.

[2019-06-18 14:37] SquirrelAssassin opened #4032 "Password length limits: reporting, documentation, potential increase"
we use a minimum of 18 pwd length many have 32 or more.  Please either update code to allow for up to 64 char passwords or please post on how I can update the source for windows to use up to 64.

[2019-06-18 14:55] solardiz commented on #4032
Maximum password lengths vary by JtR format and cracking mode. Currently supported are lengths up to 125. We might want to add documentation on the various length limits (right now, there's an option to print them out, but it's rather obscure to most users) and whether/how they may be avoided in specific cases (e.g., md5crypt format has a limit of 15, but md5crypt-long goes all the way up to 125,

[2019-06-18 15:01] solardiz commented on #4032
Based on the issue @SquirrelAssassin opened with hashcat as well, mentioning length 27 there, this probably refers to NTLM hashes. As far as I'm aware, hashcat currently supports up to 256 by default (and incurs a performance penalty for that), unless the "-O" option is used. I doubt we care to support longer than 27 for NTLM enough to bother implementing that soon, if at all - that's not a limit

[2019-06-19 01:07] magnumripper commented on #4032
Yeah 15 is a bit short while 27 is plenty. The biggest threat against length 15 with md5crypt is UTF-8 - even a fairly short password can become way longer than 15 bytes.

[2019-06-19 09:05] solardiz commented on #4032
I am puzzled by these printing 81:
[code]
whereas `--list=format-all-details` only includes:
[code]
and no mention of 81 anywhere. I think we used to print a range of values for single-byte vs. multi-byte chars? Wasn't that more correct and more useful than the current output?

[2019-06-19 09:13] solardiz commented on #4032
We actually do "print a range of values for single-byte vs. multi-byte chars" e.g. for md5crypt, but apparently not for NTLM, perhaps precisely because it "Converts internally to UTF-16/UCS-2". So the "27" is probably correct, for any chars, but the "81" is probably wrong (and should be fixed as a bug). Even if it were "bytes" rather than "chars", our NTLM code isn't capable of 81 since NTLM works

[2019-06-19 12:17] SquirrelAssassin commented on #4032
Yep moved over to hash.

[2019-06-19 12:26] solardiz commented on #4032
@SquirrelAssassin It isn't up to you to decide when to close the issue - we're now using it to discuss what we can do better on this topic in general, and I've just pointed out what I think is a (maximum length reporting) bug for us to fix. Providing user support on your one specific request would have been off-topic for our use of GitHub issues anyway, so the fact that you no longer need support

[2019-06-19 12:44] SquirrelAssassin commented on #4032
Yes sir!

[2019-06-19 12:57] SquirrelAssassin commented on #4032
If I opened a rabbit hole y’all can go here to explain the 81.  Makes sense once ya read it.

https://www.notsosecure.com/maximum-password-length-reached/

[2019-06-19 13:12] solardiz commented on #4032
Thanks. Good information at that link, but it doesn't really explain the 81 beyond the obvious, and doesn't convince me it's not a bug for us to fix. I think the correct range of maximums for NTLM is 27 to 54 if we talk bytes, and just 27 if we talk chars. We should probably report 27 in place of 81.

[2019-06-19 16:12] solardiz opened #4033 "Async transfers to host for multiple salts"
Here's an idea on how we can speed up some OpenCL formats when working with multiple salts:

`crypt_all` is passed a pointer to the current salt in the database. It can also access `salt->next->salt` for likely next call's salt (except in self-test, benchmark, and "single crack" modes). When `salt->next` is non-NULL, before starting (edit: or waiting for completion of) transfer of computed hashes

[2019-06-19 16:28] solardiz commented on #4033
Quick and dirty PoC (could very well be wrong), which somehow doesn't improve speeds in my testing:

[code]

[2019-06-19 16:33] PROger4ever commented on #3653
@se7enten, I look for the password to open that archive too. Have you found it? Send me a message to proger4ever@gmail.com or to write to me on facebook.com/PROger4ever
Thanks for your understanding and your help ;-)
I'll delete this message after we are got in touch.

[2019-06-19 16:54] solardiz commented on #4033
Upon more testing, there's a ~3% speedup with these changes on Vega 64 with LWS=64 GWS=32768 (which autotune doesn't always reach, sometimes staying at the slower GWS=16384), but somehow no obvious performance difference (some runs a little bit slower, some a little bit faster) on NVIDIA.

[2019-06-19 17:31] solardiz commented on #4033
Skipping of async transfers when `!bench_or_test_running` results in this speedup not included in "Many salts" benchmarks, nor in autotuning, which is wrong. Maybe we need a way to predict next salt in benchmarks as well - e.g., just have the format assume that two salts are being alternated when in benchmark? Unfortunately, this would complicate the formats. Introduce some shared function `predic

[2019-06-20 01:53] magnumripper commented on #4032
Not sure what you mean. 3-byte UTF-8 covers UTF-16 unless my memory fails me.

[2019-06-20 09:48] solardiz commented on #4032
Hmm, you're right. So we're in fact able to process a string of up to 81 bytes _if_ it consists solely of 3-byte UTF-8 characters. The question then is whether this is what we want to report there. I find it weird that the brief output says 81, but the detailed output doesn't say 81 anywhere. If we want to report this, then perhaps it should be in detailed output (as well) and with some reasonable

[2019-06-20 12:19] solardiz commented on #4033
I've just simplified the PoC patch (edited the comment above): there was no need to use 2 host-side buffers, it was sufficient to have 2 device-side buffers. This change appears to have improved speeds on Vega 64 a little bit further, but there's still no obvious speedup on NVIDIA.

Thinking that maybe invoking `clEnqueueReadBuffer` takes a while or it sometimes blocks, I've also tried the below a

[2019-06-20 12:40] solardiz commented on #4033
Instead of `clFinish`, ideally we'd wait for completion of only the transfer before return from `crypt_all`, but of the kernel before starting the next call's transfer. How to do that? Use `clWaitForEvents`? I guess `clFinish` waits for both the transfer and the kernel to complete? (I'm still not good at OpenCL APIs.) That way, the `cmp_all` call or bitmap/hash table lookups in cracker.c can proce

[2019-06-20 13:01] solardiz commented on #4033
Added the below. Now this finally improves the reported GPU utilization on GTX 1080 from 98% to 100% with a corresponding speedup. However, this change also results in intermittent self-test failures on Vega 64 if I drop the `!bench_or_test_running` check.

[code]

[2019-06-20 13:06] magnumripper commented on #4033
Perhaps use `self_test_running` and/or `bench_running` instead of the "any of them" flag? BTW we also have `autotune_running` IIRC

[2019-06-20 13:08] solardiz commented on #4033
We probably also need this:
[code]

[2019-06-20 13:11] solardiz commented on #4033
magnum, OK I can use just `bench_running || autotune_running` (assuming your memory is correct), so that the self-test always runs using this salt-predicting code (even if the predictions are wrong) and thus this code is better tested. This would save me the need to edit the source file for such tests. However, it wouldn't solve the mystery of the self-test intermittently failing on Vega 64 with s

[2019-06-20 13:13] solardiz commented on #4033
I am also thinking of adjusting our benchmark code so that the `salt->next` pointers are correct (point to each other for the two salts, except maybe every 256th iteration when we'd reset `next` to `NULL` so that we'd benchmark for 256 salts rather than an infinite number of salts).

[2019-06-20 16:10] solardiz commented on #4033
I think I figured it out. When in self-test, next salt is often mispredicted. In that case, my code was starting the same kernel with the same output buffer for the new salt, but without waiting for the previous kernel invocation to complete. Adding a `clFinish` to the start of `crypt_all` seems to have fixed that.

[2019-06-20 17:35] ghost commented on #4033
* If you keep clFinish, formats won't be asynchronous:
clFinish **blocks** until **all** previously queued OpenCL commands [...] are issued to the [...] device and **have completed**.

At least, you should use blocking read and write (and no clFinish):
* blocking_read
Indicates if the read operations are blocking or non-blocking. If blocking_read is CL_TRUE i.e. the read command is blocking, clEnq

[2019-06-20 17:41] solardiz opened #4034 "Improve reporting of OpenCL LWS & GWS"
1. I'd like LWS and GWS to be reported in a form immediately usable for copy-paste onto the command-line, so "LWS=... GWS=...".

2. I'd like to have them printed even when not printing the cracked passwords. I often have to use "-v=1" to disable printing cracked passwords when I expect to have lots of them, but to have LWS and GWS printed I need at least "-v=4". Maybe the best way to tackle this i

[2019-06-20 17:49] solardiz commented on #4033
Thanks, Claudio.

It's not that simple. In the code I posted, `clFinish` was invoked after `clEnqueueReadBuffer` of the previous call's kernel invocation's computation result and a new `clEnqueueNDRangeKernel`, so the transfer and computation could proceed in parallel despite of the `clFinish`. However, further processing on host such as `cmp_all`, etc. proceeded with the device idle. I solved the

[2019-06-20 17:52] ghost commented on #4034
While at it, at least for the "mandatory" `LWS=... GWS=...` reporting:
- print the information only once (autotune runs more than once in some situations).

[2019-06-20 17:54] solardiz commented on #4033
Here's my current code. There's still room for improvement, and this will hurt "single crack" mode (need to check for it).

[code]

[2019-06-20 18:26] solardiz commented on #4034
There's also custom LWS & GWS printing code in:
[code]
Moreover, `opencl_mscash2_helper_plug.c` prints a 0-based device number (not yet updated to our new 1-based scheme).

In what cases and why does autotune run more than once, and why would we only care to see the first run's results?

[2019-06-20 18:30] solardiz commented on #4033
I think we'll want shared code like this, which formats will invoke for their kernels. Ideally we shouldn't duplicate this complexity in each OpenCL format where it's relevant (supporting multiple salts, commonly used on many salts, fast enough that the non-perfect device utilization has significant effect on overall performance prior to this enhancement).

[2019-06-20 18:33] ghost commented on #4034
On GPU mask mode, for example (e.g., on a size change). It could be annoying, I guess, when I run using a `-verb=1`. And, it can be confusing. Why it was LWS=N? Why it is LWS=N*2 now?

[2019-06-20 18:47] solardiz commented on #4034
I think it'd be even more confusing to have LWS/GWS printed just once if they become obsolete the next moment and there isn't another message saying so.

[2019-06-20 18:51] ghost commented on #4034
In this case, nothing have to be done to control how many times it will be printed.

[2019-06-20 18:51] ghost commented on #4033
We already have data transfers on `set_salt()` and `set_key()` in some formats. So, we already have transfer and computation in parallel (of the same set of data, not for two different sets).
* Once there is available data, the kernel can start to run, per OpenCL design.
* we use `clFlush()`, not `clFinish()` since `clFinish()` blocks execution.

If it is a good solution to md5crypt, that is nice.

[2019-06-20 21:32] magnumripper commented on #4033
I never use clFinish. Like @claudioandre-br, I prefer blocking read where needed.

Your code looks fine to me (just reviewing and dry running). Perhaps as a miniscule optimization you should change the order of these two?
[code]

Also, we could obviously add `single_mode_running` as yet another flag to look for (actually only needed in batch mode).

[2019-06-20 21:44] magnumripper commented on #4033
Aye. What if cracker.c was in charge for it, even? What changes to the formats interface would be needed for that? I haven't tried to picture it yet, it's more or less rethorical. I'm thinking it might be less guessing and opportunisticly running a kernel then.

[2019-06-20 21:47] magnumripper commented on #4033
Transfer and *CPU* computation in parallel, yes. This is about CPU and GPU processing in parallel. Nevertheless I'm not sure `clFinish()` is ever needed.

@claudioandre-br it now hits me I believe we're not currently calling `clFlush()` from `set_salt()`. Should we possibly add that?

[2019-06-20 22:08] magnumripper commented on #4034
Good idea.

I've been encountering similar problems with the `--verbosity` option. Perhaps we should drop it and introduce a bunch of separate options like `--mute-foo`, `--mute-bar` for things that are printed by default, and `--show-baz`, `--show-bat` for things that are not. However, they ideally would need an options flag each and we're running out of them even though Jumbo uses 64-bit flags.

[2019-06-20 22:16] magnumripper commented on #4034
I have actually played with the idea of making Jumbo's options flags 128-bit (and simply losing some checks if that's not supported, like on a 32-bit build) but that's not quite the final solution - and it has some caveats, eg. we can't write that big integers in source simply as `0x00001000000000000000000000000000ULLL` but rather as something like `(0x0000100000000000ULL << 64)`

[2019-06-20 22:23] ghost commented on #4033
I do. I see no problem. Why are you worried?

- Since clFlush "guarantees that all queued commands to command_queue get issued to the appropriate device". And that's all.
- Well, I use only one queue
- And, in the end, it is synchronous.

[2019-06-20 22:26] magnumripper commented on #4034
This is a bit of an issue hi-jack but we could want these and more:
[code]
BTW @solardiz I never understood how you can not LOVE tab completion - the above would be very tedious without it.

[2019-06-20 22:34] magnumripper commented on #4034
On another note I tried to start showing LWS/GWS at normal verbosity in 6ea7946f0 but I think I have seen it not always show when expected (I did mute it for incremental length mask, like Claudio said). But I simply haven't had time to look into it.

[2019-06-20 22:41] magnumripper commented on #4033
I think I haven't used it in any of my formats. I do use non-blocking but without a flush. So until I add a `clFlush()` the salt possibly isn't really transfered until the kernel actually needs it, which defeats the purpose of the non-blocking. I'm mostly thinking of huge salts here, non-hashes. I need to investigate this.

[2019-06-20 22:42] magnumripper commented on #4033
Note to self: We should add some new separate issues from the discussion above.

[2019-06-20 22:42] magnumripper commented on #4034
Note to self: We should add some new separate issues from the discussion above.

[2019-06-20 22:44] ghost commented on #4033
I guess so. No flush, no issue, send, emit, transmit, ...

[2019-06-20 22:50] magnumripper commented on #4032
I think we report it very thoroughly in the log file (`Hash type: sha512crypt-opencl, crypt(3) $6$ (min-len 0, max-len 7 [worst case UTF-8] to 23 [ASCII])`) so maybe similar code should be used for `--list=format*details`.

[2019-06-20 22:54] magnumripper commented on #4032
Hmmm according to that article, `--list=format-all-details` should list it just like the log file already. So what was the problem here? The shorter `--list=format-details`? We can't put anything but a single number in that field.

[2019-06-20 22:56] ghost commented on #4033
You are right. But you are right because I have nothing to do on the CPU in this `crypt_all()` snip.
[code]

Basically, I do'nt pre-process or post-process stuff.

[2019-06-20 22:56] magnumripper commented on #4032
@solardiz were you using the same encodings in your examples of `--list=format-all-details` and `--list=format-details`? If so, we have a bug. It *should* just print 27 unless UTF-8 is actually the selected input encoding but otherwise it should give the long silly story with "worst case" and so on.

[2019-06-20 23:04] magnumripper commented on #4032
On another note, if we're *actually* talking **worst-case** UTF-8, the `max-len 7 [worst case UTF-8] to 23 [ASCII]` for sha512crypt isn't correct. Worst-case is really 4 bytes per character, so 23 bytes give us (using just 20 bytes because the remaining three doesn't cut it) just 5 characters. But to reach that level of worst case, the user had to pick a password containing, like, fictional langua

[2019-06-20 23:29] magnumripper commented on #4032
So now we have levels of worst case? Perhaps we should add a Jumbo option `--worst-case-level=N` 😂😂😂

[2019-06-20 23:40] magnumripper commented on #4033
After your `clFinish()`, the GPU is totally idling while the CPU is working hard checking for positives in `cmp_*()` and then either loading a new salt, or creating and loading the next set of candidates (more or less loaded by cracking mode, rules, mask and overhead). Ideally we should have the GPU working hard as hell in the mean time. This particular issue doesn't address all that though, it me

[2019-06-21 10:06] solardiz commented on #4032
I think so - I didn't specify any encoding with either command.

[2019-06-21 10:13] solardiz commented on #4034
Maybe `--verbosity` could accept not only a number, but also a list of things to show or mute, e.g. `--verbosity=1,ws` would set level 1 but enable printing of LWS/GWS and `--verbosity=-passwords` or `-v=-p` in its shortest form (working as long as it doesn't clash with something else) would keep default verbosity level but mute printing of the cracked passwords.

[2019-06-21 10:20] solardiz commented on #4033
You mean not waiting for the kernel to complete if it was for wrong salt? In this place, it can happen when the passwords have been replaced but the salt stayed the same (if the salt changed, then `set_salt` already waited for the kernel to complete) - perhaps only in self-tests. When this does happen, I think it's subtly wrong to proceed to replace the kernel's inputs while it's still running, ev

[2019-06-21 10:35] solardiz opened #4035 "Concurrent hashing for many salts"
In #4033, I implemented advance start of processing for the next salt before we're done with the current salt. This can be taken further: `crypt_all` can walk up to the entire salt list and start hashing for up to all salts. Then subsequent calls to `crypt_all` would quickly return the already-computed results. This can be beneficial for very slow hashes when the salt count is large, in order to a

[2019-06-21 11:41] solardiz opened #4036 "Optionally distribute salts with --node, --fork, MPI"
We might want to introduce a mode where we'd distribute salts rather than candidate password ranges across nodes, or where they'd do both at once.

This is for the reasons given in #4035 and to improve scalability in cases when salt count is large but candidate password count alone isn't large enough to fully use the available compute resources when working on just one salt at a time. Distributing

[2019-06-22 15:19] solardiz commented on #4033
Added label "Potentially 1.9.0-jumbo-2 material" for the md5crypt-opencl changes. I'm not sure whether we have other formats where these changes are as beneficial. (They'd be even more beneficial for faster salted hashes, but for those we need on-device comparison instead.)

[2019-06-22 19:46] magnumripper commented on #4036
Dupe of #3581

[2019-06-23 11:38] solardiz commented on #4036
Please feel free to close either issue.

A complication with implementing this functionality is the need for reliable `--restore`. This probably means we need to allocate salts to nodes _prior_ to removal of already-cracked hashes or counting even the marked-for-removal hashes, then process the actual removals. This will result in suboptimal distribution of salts to nodes when some salts are alrea

[2019-06-24 03:34] magnumripper commented on #3581
Closing as dupe of #4036

[2019-06-24 03:34] #3581 closed

[2019-06-26 05:25] jmaravi opened #4037 "Error installing in windows"
Trying to install in windows:
PC@DESKTOP-AU03JV2 /cygdrive/c/JohnTheRipper-bleeding-jumbo/JohnTheRipper-bleeding-jumbo/src
$ ./configure && make -s clean && make -sj4
checking build system type... x86_64-unknown-cygwin
checking host system type... x86_64-unknown-cygwin
checking whether to compile using MPI... no
checking for gcc... gcc[...]
Everything goes well, until it hits:
config.status: execu

[2019-06-26 09:48] solardiz commented on #4037
Looks like this build attempt tried to use the Windows-provided `sort` command instead of the Cygwin-provided one. We rely on the latter. Any idea why that happened, @jmaravi? Were you running this command from the Cygwin shell?

[2019-06-26 09:53] solardiz commented on #4037
Analysis of what happened, except that we don't know _why_ Windows `sort` got invoked:

`-fThe system cannot find the file specified.` comes from our use of the `-f` option in `LC_ALL=C $SORT -f`. We want the formats sorted alphabetically ignoring case. This affects the order in which JtR lists the formats with `--test`, etc. Apparently, Windows `sort` doesn't support that option.

`Input record e

[2019-06-26 13:01] jmaravi commented on #4037
@solardiz
yes running this in side cygwin: look at the  prompt PC@DESKTOP-AU03JV2 /cygdrive/c/JohnTheRipper-bleeding-jumbo/JohnTheRipper-bleeding-jumbo/src, then:
$ ./configure && make -s clean && make -sj4

How do i fix it?

[2019-06-26 13:27] solardiz commented on #4037
Since we don't know what causes Windows `sort` to be used on your system whereas Cygwin `sort` is used on others' systems, we also don't know how to fix this. It would help if you somehow investigated this. For example, what do these commands say? -

[code]

Also, why did you choose to build from source rather than use the 1.9.0-jumbo-1 binaries for Windows that we've released? This is fine, and w

[2019-06-26 13:46] jmaravi commented on #4037
@solardiz ok, i fix that part.. now I am getting this in the very last part it looks like is this part:"make -sj4"
configure: creating ./fmt_externs.h
configure: creating ./fmt_registers.h

Configured for building John the Ripper jumbo:

Target CPU ................................. x86_64 AVX, 64-bit LE
AES-NI support ............................. depends on OpenSSL
Target OS .....................

[2019-06-26 13:49] jmaravi commented on #4037
@solardiz  where is the 1.9.0-jumbo-1 binaries for Windows you guys released?

[2019-06-26 16:14] solardiz commented on #4037
How did you fix it?

I don't know why you're also running into issues with the `cp` commands. The root cause might be the same as you had for `sort`.

[2019-06-26 16:30] jmaravi commented on #4037
I started an instance of cygwin from the desktop shortcut... if you see the error:
cp: missing destination file operand after '../run/kernels' -> it is not complaining there is no cp, it seems the binary is ok, the problem is missing destination

[2019-06-26 16:53] solardiz commented on #4037
I'm out of ideas. I'll let @claudioandre-br take over further discussion, or try to reproduce the issue, or
close this issue as non-reproducible (after confirming that it's not) and see if we get anything similar reported again.

[2019-06-26 16:57] solardiz commented on #4037
It's more like missing source operand to `cp`, which is why it confuses the destination for source and says there's no destination. The question is why this would be the case. I'd suspect non-GNU `make` could cause this kind of failure, but then the build would have failed much earlier.

@jmaravi For your own use, if you don't need OpenCL, there's probably already a built `john` binary under `run`

[2019-06-26 17:00] solardiz commented on #4037
@jmaravi What do these commands say? -
[code]

[2019-06-26 17:57] jmaravi commented on #4037
(Inside cygwin)
PC@DESKTOP-AU03JV2 ~
$ which make
/usr/bin/make

PC@DESKTOP-AU03JV2 ~
$ type make
make is /usr/bin/make

PC@DESKTOP-AU03JV2 ~
$ make --version
GNU Make 4.2.1
Built for x86_64-unknown-cygwin
Copyright (C) 1988-2016 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are free to change and redistribut

[2019-06-26 18:44] solardiz commented on #3984
I didn't review your changes, but current bleeding-jumbo fails to build on super with devtoolset-8:

[code]

I'll re-open this issue now, but please feel free to close and track this separately instead.

[2019-06-26 18:53] solardiz commented on #4037
I've just confirmed that building with this very version of `make` on Linux succeeds. (I don't have Windows handy.)

Can you try `make kernel-copy`?

(I was wondering why we even have that separate make target, but the commit message at cb482cc6d4ea159a324ad52d8bd2b0b3c86f51fc explains it.)

[2019-06-26 18:54] solardiz commented on #4037
Regardless of the present issue, maybe we need to simplify the OpenCL kernel copying. We have this:
[code]
and we also have this:
[code]
The latter is much less demanding on properties of `make`.

[2019-06-26 19:08] jmaravi commented on #4037
That last command made the trick..
Running ..\run\john --test=0
 right now

[2019-06-26 19:11] jmaravi commented on #4037
Spoke to early.While running the test:Testing: sha1crypt-opencl, (NetBSD) [PBKDF1-SHA1 OpenCL 8x]... Segmentation fault (core dumped)

[2019-06-26 19:38] LordDarkHelmet commented on #4022
@claudioandre-br  I have added an additional link to an article I wrote for macOS / OSX
https://medium.com/@miningroi/cracking-tezos-ico-passwords-on-osx-6802253df1b9

[2019-06-26 20:11] solardiz commented on #4037
What GPUs do you have in that machine? I wouldn't be surprised by random OpenCL failures if you use an embedded Intel GPU, although having the very first format fail test might indicate some other problem. If you don't really need OpenCL, you can `john --test --format=cpu`.

Please don't quote e-mails from GitHub in your replies. Edit: I don't normally edit other people's comments, but I've just e

[2019-06-26 23:07] magnumripper commented on #3984
Oh, I see now I probably missed adding `@RT_LIBS@` to Makefile.in (eg. right after `@M_LIBS@`).

[2019-06-26 23:09] magnumripper commented on #3984
@solardiz could you please try that, and commit it if that's the solution? I have nearly no time for JtR for a week or so. I will read mail sporadically.

[2019-06-27 08:33] solardiz opened #4038 "Simplify or avoid OpenCL kernel copying"
As discussed in https://github.com/magnumripper/JohnTheRipper/issues/4037#issuecomment-506002082 we currently copy OpenCL kernels from `src/opencl` to `run/kernels` using unnecessarily complicated `make` magic. We should do it simpler, or maybe not do it at all but instead maintain those kernels under `run/kernels` (or call it `run/opencl`?) right away. We already have some other source files resi

[2019-06-27 08:34] solardiz commented on #4038
I assigned this to magnum (and am OK with this not being worked on right away since magnum is unavailable), but I'd also like to hear Claudio's thoughts on the matter.

[2019-06-27 08:39] solardiz commented on #3984
@magnumripper I'd rather leave this to you. Personally, I'm not convinced we should have gone for this complexity at all (higher-res timers).

[2019-06-27 19:13] corbinschwartz commented on #3235
For what it's worth, electrum-modern-opencl also crashes with AMD Radeon Pro 560

[2019-06-28 08:07] carlmon opened #4039 ""double free or corruption" with --test after krb5-18"
I get the following error when running `john -test` on an Azure NV12 instance with updated Ubuntu 18.04 LTS and GRID drivers.

The error is repeatable (I tried 3 times) and occurs at the same place during the benchmark. See attached files for details.

[Build Info.txt](https://github.com/magnumripper/JohnTheRipper/files/3338150/Build.Info.txt)
[Error Dump.txt](https://github.com/magnumripper/JohnT

[2019-06-28 08:58] carlmon commented on #4039
I get the same error when building `bleeding-jumbo` from source using the `INSTALL-UBUNTU` steps. Last lines from `./john --test=0` in the `~/src/john/run` path:

[2019-06-28 16:59] ghost commented on #4039
Please, anyone with hardware available, reproduce this using gdb to get a backtrace.

Using an Ubuntu 16.04 VM [1] it works, even inside Azure [2]. I guess it is a bug catched or triggered by new libc, or gcc 5.4 versus 7.4, ...

[1] https://travis-ci.org/claudioandre-br/JohnTheRipper/jobs/547863536
[2] no real link, but it is my build id 144 (inside Acceptance Test).
****
**[edited]**
* I added a

[2019-06-30 04:04] LordDarkHelmet opened #4040 "tezos2john.py allows for bad input. No Seed Validation."
### Issue ###
tezos2john.py does not check for bad seed words. Many users are attempting to crack their ICO passwords, but it it possible to enter bad seed words and it it not detected. These seed words would have never been produced, but this script allows them through and allows for uses to try to crack an impossible password.

### Steps to reproduce ###
This is an invalid format, but is accepte

[2019-06-30 04:08] LordDarkHelmet commented on #4040
Pull Request submitted:
https://github.com/magnumripper/JohnTheRipper/pull/4041

[2019-07-02 10:01] samyH commented on #3191
Hi guys,

I'm having issues getting my GPU (Nvidia GTX 860M) to even output as a device when running `./john --list=opencl-devices`.

The driver I currently have installed (via Device Manager) is 23.21.13.8813 - I have tried rolling back to drivers from 2014 and also updating to 2019 driver with no luck.

I am using Cygwin64 with john-1.9.0-jumbo-1-win64 build from openwall website.

I also tried

[2019-07-02 17:59] solardiz commented on #3191
Dear all, let me inform/remind you that our use of GitHub is to track issues for us to fix. It is not to provide user support. We have the john-users mailing list for that. So if you post something worded as a support request on our GitHub, you're doing it wrong. ;-)

@samyH Did you find where nvopencl64.dll is located on _your_ system and try using that path? There's almost no chance @sdk156's cr

[2019-07-03 07:01] technowhiz commented on #3191
@samyH ,  I think there is no need to use cygwin in windows to run JTR. And i read in one of the forums that, windows still does not support gpu access via its windows subsytem for linux (WSL). plz  follow  this [WSL gpu issue](https://github.com/Microsoft/WSL/issues/829). this issue is still open. Try replacing the path of nvopencl64.dll with your own and  try running JTR in command prompt.

[2019-07-03 11:46] solardiz commented on #3191
@claudioandre-br @alainesp Can we possibly extract the vendors' OpenCL backend DLL pathnames from somewhere in Windows and populate (e.g., from JtR startup code) the .icd file(s) for Cygwin's cygOpenCL-1.dll that our builds use? Where is this information normally stored on Windows - e.g., registry or does it have .icd file(s) somewhere?

[2019-07-03 13:10] alainesp commented on #3191
Hi Solar.

On Wed, Jul 3, 2019 at 7:46 AM Solar Designer <notifications@github.com>
wrote:

This project may help  https://github.com/KhronosGroup/OpenCL-ICD-Loader
In the Readme.md they write:

On Windows, add the "stub" ICD by adding a REG_DWORD value to the registry
keys:

// For 32-bit operating systems, or 64-bit tests on a 64-bit operating system:
HKEY_LOCAL_MACHINE\SOFTWARE\Khronos\OpenCL\V

[2019-07-03 14:22] solardiz commented on #3191
Thanks Alain. So what we may do is _one_ of:

1. Read those registry keys and populate an .icd file for use by cygOpenCL-1.dll.

2. Load Windows' native OpenCL.dll from our code.

3. Can we just link to Windows' native OpenCL.dll instead of to Cygwin's somehow, so that we don't have to complicate our code with manual loading of the library?

4. As a last resort, maybe we can include a script or wh

[2019-07-03 14:32] solardiz commented on #3191
The original issue description here says:

I just found the corresponding hashcat commit: https://github.com/hashcat/hashcat/commit/33aeae60908e9dcdc9165dff5897d90d661ca9f6

It does basically:

[code]

So hashcat was already using `dlopen` before that point. We don't yet.

[2019-07-03 14:39] solardiz commented on #3191
@dwendt Maybe you'd want to look into this issue further and contribute a fix to our project in the form of a pull request? We'd appreciate that! Most of us are not on Windows, but it appears that you are, and it appears that you'd also be capable of coming up with a proper fix for all, not just for your computer.

[2019-07-03 15:54] Heinz-Olaf opened #4042 "diskcryptor2john.py doesn't work under Windows"
I took a test the other day.
1 USB flash drive and 1 external USB-SSD hard drive. Both: NTFS, no bootable, 1 partition each.
I used DiskCryptor GUI v. 1.1.846 and encrypted complete disks.
Algorithm: AES+Twofish or AES (1 time with and 1 time without US DOD 5220.22 M). So far so good.
After that I created a dd-image with FTK 4.2 and (later) with X-Ways 19.4 under Windows.

Now I started diskcrypto

[2019-07-03 17:09] dwendt commented on #3191
Hey @solardiz - apologies for opening this and then orphaning it. I was working through this for a side project, totally unrelated to my day job, and I see that other people have apparently had the same issue...

Thanks for finding that change - I'm going to get john building and experiment on a fresh Windows install on both an AMD & Nvidia system to see if doing something similar solves it. I'll

[2019-07-05 12:00] magnumripper opened #4043 "Possible bug in office2john"
I got this from a user. I'm not sure if it's a bug or just a Python *version* thing? If it's the latter we may need a try/catch.

[2019-07-05 12:31] kevingy opened #4044 "Inconsistent OpenCL error handling in format-specific vs. common code"
### Steps to reproduce ###
Using john-1.9.0-jumbo-1-win64 from Openwall, run:
`john --test --format=RAR5-opencl`
from the run directory

### Results: ###
This error is observed:
[code]

### Notes: ###
I don't know anything about the code or the interface with OpenCL, but these notes might (or might not) help tracking down the problem.
- _john --test --format=RAR5_ works on the same machine without

[2019-07-07 16:46] kevingy commented on #4044
BTW, I'm getting the same error for 7z-opencl:

`Will run 4 OpenMP threads
Device 2: Intel(R) HD Graphics 4000
Benchmarking: 7z-opencl, 7-Zip (512K iterations) [SHA256 AES OpenCL]... (4xOMP) 0: OpenCL CL_INVALID_EVENT (-58) error in opencl_common.c:1828 - clWaitForEvents`

[2019-07-08 14:10] #3984 closed

[2019-07-08 14:19] magnumripper commented on #4038
Simply moving `src/opencl` to `run/kernels` sounds like a good idea. A problem is that several `opencl_something.h` are also needed in `src`. Can we use symlinks for that (real file in `src`, symlink in `run/kernels`), or will that be a problem under Windows?

[2019-07-08 14:29] #4040 closed, assigned to nobody

[2019-07-08 14:38] #4030 closed, assigned to magnumripper

[2019-07-08 15:26] solardiz commented on #4038
Symlinks could be problematic under Windows (and you'd want to symlink in the other direction, so that `run` is usable on its own). We can probably use `#include "../run/kernels/opencl_something.h"`.

We might also want to call the directory `run/opencl` rather than `run/kernels`.

[2019-07-08 23:45] d0gkiller87 commented on #4037
Thanks to the above comments, after a few tries I succeeded in building the executables.
Things worth to note:
1. After copying files to `../run/kernels`, I encountered another error:
[code]
2. In the DOC (INSTALL-WINDOWS), there's a step to do `./configure && make -s clean && make -sj4` at once, which means every time when you try to build, the `make -s clean` deletes all files under `../run/kern

[2019-07-09 06:49] magnumripper opened #4045 "Review MPI barriers"
Review the few MPI barriers we do have. Current code does work reliably but it sometimes end up with confusing MPI errors/warnings (on exit) that we may be able to avoid.

[2019-07-09 06:51] magnumripper opened #4046 "Review our use of exit codes"
Review our use of exit codes.  Specifically, the --max-run-time and --max-candidates options currently exits with 1 [EXIT_FAIL] unless the session actually ended despite them.  While 0 [EXIT_SUCCESS] is not an alternative for scripting purposes, we might want to use a third alternative.

hashcat has these (docs/status_codes.txt):
[code]
I'm not sure I'm a fan of returning EXIT_FAIL if we exhausted

[2019-07-09 07:03] magnumripper commented on #4038
Right. I'll produce a PR.

[2019-07-09 10:31] solardiz commented on #4037
Thank you, @vungsung. I expect our fix of #4038 will take care of this.

[2019-07-09 16:47] #4045 closed, assigned to magnumripper

[2019-07-09 17:01] magnumripper commented on #4044
My first, second and third guesses would be this is a driver/runtime problem (ie. with your Intel OpenCL driver). Just for curiosity, would the version of said driver satisfy Hashcat's requirements?

[2019-07-09 17:57] kevingy commented on #4044
That's a good question. I attempted to run to benchmark RAR5 using this commandline:

That resulted in the following
[code]

When I added the --force parameter, I got this:
[code]

I don't know for certain if that means that HashCat didn't use OpenCL or if it used OpenCL without error. 294 H/s is approximately with the non-OpenCL John result of 273 c/s. For RAR3 on this same hardware, the OpenCL p

[2019-07-09 18:01] magnumripper commented on #4044
Yeah, until you prove me wrong, I will assume so 😉

Would it be possible for you to try a hashcat-approved driver version and report back?

[2019-07-09 18:16] solardiz commented on #4044
FWIW, from the information posted here, it looks like hashcat at least passed its self-test on that GPU for that mode correctly, and was able to benchmark it.

That's impossible. hashcat 5.1.0 is OpenCL-only.

[2019-07-09 18:18] solardiz commented on #4044
magnum, we can test and try to fix our formats to work on HD Graphics 4000 on "well", with whatever Linux driver version we have there. Right now, some formats work and some fail.

Edit: by "fix" I mean "workaround whatever driver issues we run into". This might or might not be worth our time.

[2019-07-09 18:22] magnumripper commented on #4044
Yes that's correct, but nonetheless it's marked as a "bad version".

Only unless that version is marked as bad by hashcat. If it is, I simply can't waste any time on it. Even if it's NOT marked as bad, I have a crazy list of things I need to do with much higher priority.

[2019-07-09 18:26] magnumripper commented on #4044
I see now you wrote "we" and not "you" (as in me) 🤣 but anyway I wouldn't advise anyone to look into a driver that Atom has banned. It's bad enough anyway, for sure.

[2019-07-09 18:26] kevingy commented on #4044
So far, all of my tests have been using the Windows driver, not the Linux driver. That said, I have an identical laptop with Debian 10 installed where I can test Linux, if will help.

That said, if magnum says that this is such a low priority that it's not going to get cycles regardless, I don't know that it's worth investing the time to continue.

[2019-07-09 18:27] kevingy commented on #4044
It is possible, if I can find the approved driver. I've been looking for the download on the Intel site since your request. I haven't been able to find it.

[2019-07-09 18:28] magnumripper commented on #4044
I think it's pointed to by hashcat docs, or in the forums or something. Can't remember right now.

[2019-07-09 18:30] kevingy commented on #4044
I see that the site says

Google can't find "OpenCL Driver for Intel Iris and Intel HD Graphics" outside of anything other than Hashcat docs. I'll keep digging.

[2019-07-09 18:30] solardiz commented on #4044
I think atom bans drivers very easily for issues that might be hashcat-specific (not hashcat bugs, but also not necessarily affecting JtR). That said, Intel's OpenCL is quite poor. L0phtCrack 7 blacklisted Intel GPUs altogether.

Anyway, rar5-opencl works on HD Graphics 4000 in i7-4770K on "well":

[code]

The above is about 3 times slower than the CPU:

[code]

[2019-07-09 18:33] magnumripper commented on #4044
My previous macbook had a HD Graphics 4000 and IIRC it was usually slower than CPU although the macOS drivers were actually fairly usable. That piece of chip (no pun intended ;-) simply doesn't have much value for compute.

[2019-07-09 18:36] solardiz commented on #4044
I'll close this as an "external issue". There's no indication we have a bug, the format works on a similar Intel GPU, as above, presumably with another driver, and our team lacks resources to experiment with different Intel driver versions and work around issues.

@kevingy Please feel free to add more detail to this issue anyway, if/once you have any. Thanks!

[2019-07-09 18:38] kevingy commented on #4044
@solardiz @magnumripper Thank you both for your help. I'll keep looking for the driver. If I can find it, I'll report back for posterity.

As has been said, if OpenCL is of no benefit anyway, there is no need to spend valuable time on this.

[2019-07-09 18:40] solardiz commented on #4044
OpenCL might not be faster, but you should be able to run both the CPU and the OpenCL format at once, in separate `john` invocations, for higher cumulative speed.

[2019-07-10 06:14] #4038 closed, assigned to magnumripper

[2019-07-10 06:45] magnumripper commented on #4037
I'm closing this - please reopen if problem remains now that #4038 is fixed.

[2019-07-10 06:45] #4037 closed, assigned to nobody

[2019-07-10 12:40] ghost commented on #4044
It is easy to find a problem when using Intel drivers. Below, it works on Intel GPU but fails on Intel CPU (and works when using the "same" CPU with the AMD driver).
[code]

[code]

[code]
****

To cause an "invalid event", we have to be overwriting the event memory address.  But only on Intel? **Very unlikely**. It smells like an Intel bug.

[2019-07-10 12:52] Heinz-Olaf commented on #4042
Okay. Okay. It runs under linux. Was my mistake with kraptx. But under windows script doesn't work.

[2019-07-14 22:48] magnumripper commented on #3979
I'm currently working on #3249, #3697 and #4034. They sort of stick together so it'll be a single PR with at least three separate commits.

[2019-07-17 21:02] magnumripper commented on #4012
Waiting is good. I'm starting to see the light. I'm pretty sure we can do ALL special logic in `opencl_autotune.h` and that's a terrific fact - all formats' `reset()` will be trivial (though a bit less so for internal mask formats currently but again I think I see the light). Still a couple of hours from posting first PR and I'm about to take a break now.

[2019-07-18 09:50] magnumripper opened #4049 "Call clFlush() after salt transfer"
In nearly all formats, we transfer salt non-blocking in `set_salt()`. Many runtimes wont start the transfer until later though (not sure why) unless we call `clFlush()`.

[2019-07-18 10:19] solardiz commented on #4049
Do you have any benchmarks showing the effect of this change? Intuitively, I wouldn't expect it to help (and maybe to hurt) when the salt is tiny.

Do we have any formats with non-tiny salts yet commonly used on multiple salts?

[2019-07-18 10:20] solardiz commented on #4049
Also, how did you find out that "Many runtimes wont start the transfer until later"?

[2019-07-18 20:37] cosmopol opened #4050 "zip2john pkzip2 output errors"
I think I have found a bug! I have a large password-protected PKZIP64 file which seems to crash zip2john.exe. It prints out some 1GB of hash string without actually delimiting the hash string properly (the $/pkzip2$ end tag is missing entirely). I can provide the file for test puposes via PM. btw: pentesting is real fun!

[2019-07-18 21:55] magnumripper commented on #4050
OK. To be more exact, how large is the faulty output file?

[2019-07-18 21:56] magnumripper commented on #4050
And you are using the 1.9 stuff, right?

[2019-07-19 09:03] cosmopol commented on #4050
using john-1.9.0-jumbo-1-win64

I have found the $/pkzip2$ tag eventually - my text editor seems to cut the end of the hash file off, it can be seen with a hex editor, anyhow it is 1.01 GB (1.090.051.700 bytes) in size, that seems wrong to me

[2019-07-19 13:13] solardiz commented on #4049
Reopening this so that we don't forget to test for possible performance regressions. I wouldn't be surprised if this slows md5crypt-opencl down a tiny bit on some platform(s). I would be more surprised if this speeds it up.

[2019-07-19 13:18] solardiz commented on #4050
There's no indication of a bug in what you describe, @cosmopol.

magnum, maybe we need to have zip2john and rar2john (any others?) output a message to stderr that it's normal for the resulting "hashes" to be very large? Maybe only output this when they're in fact very large. Otherwise people get confused, expecting "hashes" to be tiny. Edit: this is now tracked as #4051.

Longer-term (perhaps for

[2019-07-19 13:24] solardiz opened #4051 "Have some *2john programs explain that it's normal to have large output"
Our users are often confused by the output from programs such as zip2john sometimes being very large (multi-gigabyte). Maybe we should identify and enhance these programs to output a message to stderr to explain to users that it's normal for the output to be very large - maybe always or maybe only when the output size is above a threshold (e.g., 1 million bytes?)

[2019-07-19 13:26] solardiz commented on #4050
@cosmopol Please confirm that `john` loads the "hash" fine for you, and close the issue if so. Thanks!

[2019-07-19 14:13] cosmopol commented on #4050
I am indeed confused by the very large hash string. Every example I have seen so far involves tiny hash strings. John seems to do (seemingly) fine. Sorry, I got confused by the faulty text editor output which seems to have truncated the end tag.

john's output:
Using default input encoding: UTF-8
Loaded 1 password hash (PKZIP [32/64])

[2019-07-19 14:13] #4050 closed, assigned to nobody

[2019-07-19 19:54] evandrix opened #4052 "<redacted>"
<redacted>

[2019-07-19 20:08] #4052 closed, assigned to nobody

[2019-07-21 21:04] magnumripper commented on #4049
Depends on what is tiny. The WPAPSK format is commonly used with loads of salts but the size is 376 bytes - not a lot. Things like rar/zip/7z/dmg/whatever (which are commonly really huge "salts") may be ran by some users, like law enforcement, with a good number of salts.

You are right we should test it. I don't share your gut feeling but I have a lot of respect for gut feelings so we should defi

[2019-07-21 21:11] magnumripper commented on #4050
I'd love that. Unfortunately most tools that produce crazy large non-hashes are currently written in Python, and the reason they are is the files are fairly complicated to parse so we gain a lot in using existing frameworks.

[2019-07-22 08:07] srett opened #4054 "zip2john segfault with AES archive that has 0 as compressed len in local header"
I have an AES encrypted zip file that was created with Threema for Android in 2017. zip2john immediately crashes when processing the file. Upon inspection I found that the local header of every file has the compressed_size set to 0, which then leads to an unsigned underflow when [calculating real_cmpr_len](https://github.com/magnumripper/JohnTheRipper/blob/9b4335e7c004f3fc0986c2e06aa3aa8ba8f5ee74/

[2019-07-23 05:21] dosoos opened #4055 "oldoffice-opencl, Insufficient work. Cannot distribute work among nodes!"
##John Version:
\# john
John the Ripper 1.9.0-jumbo-1+bleeding-9b4335e7c 2019-07-18 11:52:24 +0200 OMP [linux-gnu 64-bit x86_64 AVX2 AC]
Copyright (c) 1996-2019 by Solar Designer and others
Homepage: https://www.openwall.com/john/

##Running Error Command:
john --format=oldoffice-opencl --fork=2 --mask=?a test.hash
while say me:
Insufficient work. Cannot distribute work among nodes!
i have multipl

[2019-07-23 05:30] dosoos opened #4056 "oldoffice-opencl, OpenCL CL_OUT_OF_HOST_MEMORY (-6) error in opencl_oldoffice_fmt_plug.c:138 - Error mapping saved_key"
### John Version ###
\# john
John the Ripper 1.9.0-jumbo-1+bleeding-9b4335e7c 2019-07-18 11:52:24 +0200 OMP [linux-gnu 64-bit x86_64 AVX2 AC]
Copyright (c) 1996-2019 by Solar Designer and others
Homepage: https://www.openwall.com/john/

### When i use dictioary crack oldoffice hash have this problem ###
Using default input encoding: UTF-8
Loaded 1 password hash (oldoffice-opencl, MS Office <= 2003

[2019-07-23 05:30] dosoos commented on #4056
### hash content ###
xxooxxoo.file:$oldoffice$0*66fff42aaf5231cd7cb14cf410d2a443*d143df50c79960663c127997433aaeca*5dc969945f79f6f40ff9044cc41c1ac4:::::xxooxxoo.xls

[2019-07-23 05:36] #4056 closed, assigned to nobody

[2019-07-23 22:56] ghost commented on #4055
John the Ripper is saying you don't have enough _work_, _keys_, _plaintexts_ to distribute between your two GPUs (OpenCL devices). And it is right! JtR will produce only 95 candidates.

[code]

[2019-07-23 22:56] #4055 closed, assigned to nobody

[2019-07-24 08:31] solardiz commented on #4056
@dosoos It does sound like you need more memory, but you might be able to reduce JtR's memory needs by first running with "-v=4" (higher verbosity level), noting the auto-tuned values of GWS, and then explicitly specifying a lower value with "GWS=lowervaluehere john ...". You'd want the lower value to be e.g. 1/2 or 1/4 of the auto-tuned value.

Edit: for the verbose auto-tuning to complete withou

[2019-07-24 08:36] solardiz opened #4057 "Lower GWS when we're saving memory"
We might want `--save-memory` to affect auto-tuning, resulting in lower GWS if the speedup of using a higher GWS would have been small yet the value would be large in absolute terms. If by default we require a 1%+ speedup for use of a higher GWS, then with memory saving enabled (at level 2 or higher? since level 1 is historically for not loading login names only) and values being significant in ab

[2019-07-27 06:43] netzeng opened #4058 "configure error :JtR requires libssl being installed"
[root@app src]# ./configure
checking build system type... x86_64-unknown-linux-gnu
checking host system type... x86_64-unknown-linux-gnu
checking whether to compile using MPI... no
checking for gcc... gcc

checking for AVX2... yes
checking for AVX512F... yes
checking for AVX512BW... yes
checking for arch.h alternative... x86-64.h
checking for byte ordering according to target triple... little
chec

[2019-07-27 12:53] solardiz opened #4059 ""Almost done" printed for all forks"
Single crack's message "Almost done: Processing the remaining buffered candidate passwords, if any." introduced with 86185f8aaac6e9b9cc55601ffcbe62fe1d43e073 is printed by all forked processes, whereas batch mode's "Proceeding with single, rules:Single" is printed only by the main process. Perhaps the "Almost done" message should also be limited to only the main process or/and both types of these

[2019-07-27 12:59] solardiz commented on #4058
It is true that "JtR requires libssl being installed", so there's no issue here.

Can we somehow improve the error reporting here to be more helpful?

Maybe we should refer to doc/INSTALL from configure's error message, and to INSTALL-UBUNTU and INSTALL-FEDORA and INSTALL-WINDOWS from there. Right now, doc/INSTALL does mention needing libssl and gives Debian/Ubuntu package names as an example, but

[2019-07-29 09:50] magnumripper commented on #4054
Thanks for reporting. IIRC we're supposed to handle such files, but maybe we only do so for legacy pkzip archives?

[2019-07-29 09:58] magnumripper commented on #4056
In general we could recommend having as much host memory as the sum of OpenCL device's memory, at the very least.

[2019-07-29 10:04] magnumripper commented on #4059
I think this may be fixed already in my soon-PR branch for fixing a bunch of issues (self-test without mask while benchmarking with mask etc.) - let's keep this open until that is merged.

[2019-07-29 10:10] #4057 closed, assigned to nobody

[2019-07-29 11:22] netzeng commented on #4058
[root@app src]# cat /etc/*release*
CentOS Linux release 7.6.1810 (Core)
Derived from Red Hat Enterprise Linux 7.6 (Source)
cat: /etc/lsb-release.d: Is a directory
NAME="CentOS Linux"
VERSION="7 (Core)"
ID="centos"
ID_LIKE="rhel fedora"
VERSION_ID="7"
PRETTY_NAME="CentOS Linux 7 (Core)"
ANSI_COLOR="0;31"
CPE_NAME="cpe:/o:centos:centos:7"
HOME_URL="https://www.centos.org/"
BUG_REPORT_URL="https://bu

[2019-07-29 11:23] netzeng commented on #4058
[root@app src]# yum install libssl*
Loaded plugins: fastestmirror
Loading mirror speeds from cached hostfile
base                                                                                                    | 3.6 kB  00:00:00
epel                                                                                                    | 5.3 kB  00:00:00
extras

[2019-07-29 11:24] netzeng commented on #4058
[root@app src]# yum install libssl-dev
Loaded plugins: fastestmirror
Loading mirror speeds from cached hostfile
No package libssl-dev available.
Error: Nothing to do
[root@app src]#

[2019-07-29 11:40] srett commented on #4054
Took a quick look, the old code does handle this, but not by parsing the central directory entry, but by scanning for the 16 byte data descriptor that will be appended to the compressed data. The problem here might be that the existing code does so by looking for the *optional* descriptor signature (0x08074b50), so this will not work in case that signature is omitted, or if that sequence appears i

[2019-07-29 12:35] solardiz commented on #4058
Maybe we should rename INSTALL-FEDORA to INSTALL-REDHAT, so that people would know it also applies to RHEL? OTOH, now there's also Red Hat CoreOS, and I don't know what would apply to it. And people might not associate their CentOS with Red Hat. And there's the `yum` vs. `dnf` difference for RHEL up to 7 vs. newer Fedora, although I think there's still a `yum` wrapper even in the latest?

@netzeng

[2019-07-29 12:41] solardiz opened #4061 "Improve the configure script's error messages on missing OpenSSL"
As prompted by #4058:

Can we somehow improve the `configure` error message "JtR requires libssl being installed" to be more helpful?

Maybe we should refer to doc/INSTALL from configure's error message, and to INSTALL-UBUNTU and INSTALL-FEDORA and INSTALL-WINDOWS from there. Right now, doc/INSTALL does mention needing libssl and gives Debian/Ubuntu package names as an example, but it does not ref

[2019-07-29 12:41] #4058 closed, assigned to nobody

[2019-07-29 12:53] solardiz commented on #4056
@dosoos After the recent merging of #4060 you should now be able to avoid this issue by using `--save-memory=2` or  `--save-memory=3`. These have a slight performance impact.

Thanks @claudioandre-br for implementing the above!

Maybe we should also have JtR recommend that option upon getting a CL_OUT_OF_HOST_MEMORY error?

@magnumripper I think "having as much host memory as the sum of OpenCL dev

[2019-07-29 12:58] solardiz opened #4062 "Recommend --save-memory=2 on CL_OUT_OF_HOST_MEMORY"
As I suggested in #4056, maybe we should have JtR recommend `--save-memory=2` (or higher) upon getting a CL_OUT_OF_HOST_MEMORY error.

[2019-07-30 10:45] magnumripper commented on #4056
I believe that's what hashcat team use to say, tho' I agree when you put it that way.

However, if you just have a single card with, say, 11 GB, you really should have at least 16 GB anyway, for buffers or not. And if you have a super crack rig with 8 GPU's having 11 GB each, you can probably afford 96 GB of RAM as well, and it will be beneficial for sure - even if not used as GPU buffers.

[2019-07-30 10:51] magnumripper commented on #4054
Just so you know, we'd love if you'd fix it (ideally for both cases old/new, perhaps with some shared code if applicable) and make a PR. We're seriously low on developers and you seem to know what you're doing here.

[2019-07-30 14:50] srett commented on #4054
I'm still interested in doing that. I hope I can get back to this in a couple weeks. Currently very busy IRL.

[2019-07-30 15:31] solardiz commented on #4056
I think this sort of recommendations are akin to the historical rule of thumb to make a swap partition 2x the size of RAM or such, whereas one might not need much or any swap space at all.

Just because one purchased GPUs with a lot of memory on the cards doesn't mean they intend to fully use that memory soon, if ever. They just wanted fast GPUs and those came with memory soldered on. Host memory

[2019-07-30 15:42] solardiz commented on #4056
BTW, P106-100 has 6 GB, not the 11 GB magnum mentioned as an example. I think it's typical to have many of those with little host RAM and a cheap dual-core CPU in a mining-mostly rig, where the GPU memory would be used for Ethereum's Ethash's DAG (currently inbetween 3 GB and 4 GB) without needing much from the host. Would occasional reuses of a mining rig like that for password cracking justify a

[2019-08-01 16:53] strarsis opened #4063 "zip2john: DA field empty for ZipCrypto Deflate encrypted file"
@magnumripper, @jfoug, @kholia, @loverszhaokai, @frank-dittrich, @claudioandre-br, @philsmd:
### Steps to reproduce ###
Use `zip2john` on a zip file with a `ZipCrypto Deflate` encrypted file.

Output:
[code]
Also, in the ([pkzip2](https://github.com/magnumripper/JohnTheRipper/blob/bleeding-jumbo/src/zip2john.c#L37)) hash in output for this `ZipCrypto Deflate` encrypted file, the [`DA` field](https

[2019-08-02 18:50] solardiz opened #4064 "Chocolatey Windows package"
Should we possibly add JtR to Chocolatey, which I understand is a package repository for Windows? https://chocolatey.org

[2019-08-06 09:25] magnumripper commented on #4063
Possibly more or less related to #4054

[2019-08-06 09:27] magnumripper commented on #4063
Does this apply to just any file compressed with ZipCrypto Deflate?

[2019-08-06 09:30] magnumripper commented on #4063
If you can supply a (small) test archive that has this problem, it'd help a lot.

[2019-08-06 14:16] lakiw opened #4065 "Feature Request: Support for truncated hashes in DYNAMIC modes"
It would be useful to have a standard function to call when creating a custom DYNAMIC mode that would allow truncating generated hashes, either before being further processed, or compared against the final target hash-list supplied by the user.

Reasons:
1) This would be useful to generate 'vanity hashes', such as finding a hash that starts with '123456'.
2) This would also be useful to quickly ta

[2019-08-07 10:31] martclau opened #4066 "Print options in rar2john.c"
rar2john.c supports a "verbose" option but this is not printed in usage(). Therefore, change usage() to e.g.:

static int usage(char *name)
{
	fprintf(stderr,"Usage: %s [-v] <rar file(s)>\n", name);
	return EXIT_FAILURE;
}

[2019-08-08 20:17] OverlordQ opened #4067 "JTR Timers getting excessive values."
### Steps to reproduce ###
1) Checkout lastest source
2) Build
3) Run `./john --test=1 --format=SSH`
4) Wait
5) Wait
6) Wait

Commit 91332789f works, Commit ece3bb42 exhibits the behavior.

### System configuration ###
If you look at `john_broken.txt` it says the timer somehow observed 136 years

[john_working.txt](https://github.com/magnumripper/JohnTheRipper/files/3483507/john_working.txt)
[john

[2019-08-08 20:19] OverlordQ commented on #4067
See also: #3949

[2019-08-08 21:13] magnumripper commented on #4067
Thanks for reporting. I see the exact same problem on "super" (Openwall HPC village) but I can't recall anyone reporting it before.

I think I see the problem, I believe it's a Linux bug but I'll commit a workaround soon.

[2019-08-08 23:13] magnumripper commented on #4067
It sure is a Linux bug but I can't find it mentioned anywhere. The result of `clock_getres(CLOCK_MONOTONIC_RAW, &res)` is a negative(!) -3.870068064 seconds. Always same number and the return code is 0 - no error.

[2019-08-09 02:41] oub7hoyu opened #4069 "ssh2john and john unable to brute-force password"
### Steps to reproduce ###
I created the following private key with the password `123`.
[id_rsa.txt](https://github.com/magnumripper/JohnTheRipper/files/3484449/id_rsa.txt)

Converted it via `ssh2john.py` into a john-compatible format.
[id_rsa_johnformat.txt](https://github.com/magnumripper/JohnTheRipper/files/3484473/id_rsa_johnformat.txt)

Tried to get the used password by using john, but it nev

[2019-08-09 08:05] #4067 closed, assigned to nobody

[2019-08-09 08:15] magnumripper commented on #4069
What version of OpenSSH did you use to create it, and with which options? Can you actually use it?
[code]

[2019-08-10 14:46] seiuneko opened #4070 "ZIP-opencl: No password hashes loaded (see FAQ)"
### Steps to reproduce ###
Maybe any zip file?
[code]

<details>
<summary>strace ouput (2454 lines)</summary>
<p>

[code]

</p>
</details>

</br>

Test was passed
[code]

### System configuration ###
<details>
<summary>Click to expand</summary>
<p>
<details>
<summary>john --list=build-info</summary>
<p>

[code]

</p>
</details>

<details>
<summary>john --list=opencl-devices</summary>
<p>

[code]

[2019-08-11 20:51] magnumripper commented on #4070
What happens if you use `--format=zip` instead of `--format=zip-opencl`?

[2019-08-11 23:23] oub7hoyu commented on #4069
This was generated by OpenSSH 7.9 and I simply ran `ssh-keygen`.
Here is the output of `ssh-keygen -f id_rsa.txt -l`:
[code]

[2019-08-12 09:12] seiuneko commented on #4070
@magnumripper

</br>

<details>
<summary>Generate test file</summary>
<p>

[code]

[code]

</p>
</details>

[code]

[2019-08-12 12:32] magnumripper commented on #4070
OK but that's pkzip, not zip. The zip-opencl format doesn't support pkzip files and unfortunately we don't yet have a pkzip-opencl format.

[2019-08-12 12:38] #4070 closed, assigned to nobody

[2019-08-12 13:03] solardiz commented on #4070
magnum, should we possibly rename the zip and zip-opencl formats to winzip and winzip-opencl to hopefully avoid such confusion? Or would the rename cause more confusion? Any other ideas?

[2019-08-13 18:04] magnumripper commented on #4070
A label rename would probably cause more confusion but perhaps add something to the longer `format_name`, or print some hint(s) to stderr when running zip2john (which is same for both).

[2019-08-13 18:08] magnumripper commented on #4069
I need to test that. Ideally we'd have @kholia suffering a JtR relapse and create a couple of Good Stuff[tm] PR's a day for a (long) period again...

[2019-08-24 22:34] roycewilliams commented on #4065
A hearty +1 to this one. There are some specific use cases out there for which even only the last character of the hash is missing.

[2019-08-27 20:40] LordDarkHelmet opened #4076 "multiple ?w behavior in hybrid mask mode"
Currently if you use more than one ?w in a mask the same word is repeated.

Wordlist = (One, Two, Three)

`mask=?w?w?w `

will yield

[code]

I would have expected it to yield

[code]

While outside scripts (example: https://github.com/LordDarkHelmet/WordListHelperScripts) can be used to create permutations for users who have used  a combination of multiple words in random order, it is an issue fo

[2019-08-28 10:08] catap opened #4077 "Can't build john-1.9.0-jumbo-1 at macOS Sierra and High Sierra"
Het,

I've tried to upgrade brew's john-jumbo formula and it doesn't build on Sierra and High Sierra: https://github.com/Homebrew/homebrew-core/pull/43531

[code]

@magnumripper can you have any ideas what should I do?

[2019-08-29 10:56] magnumripper commented on #4076
The current behavior is the intended one. For your use case I'd basically use PRINCE mode (although fixing #2268 would be nice) and/or a pipe chain of john processes with all but the last one using `--stdout`.

Your idea may be worth considering though.

[2019-08-29 12:46] magnumripper commented on #4049
Tested md5crypt on nvidia, ensuring same worksizes and no thermal throttling. Running --test=-1 showed figures varying a bit up or down regardless of flushing or not. Running a "real" crack with ~225 salts many times, results were equally unclear: I believe if there's any difference at all, it's definitely insignificant for this format.

[2019-08-29 13:38] solardiz commented on #4049
Can you also test a faster salted hash like xsha512?

[2019-08-29 13:43] catap commented on #4077
As discussed at #4078 let move back to this issue to continue discussing.

Cc: @magnumripper, @solardiz

[2019-08-29 17:19] ghost opened #4080 "Future CI problems (aka, new compiler warnings)"
I updated the images used for CI. In "fresh" images (`-dev` distros) new compiler versions might be available. In fact, clang 9 and gcc 10 debuted recently.
* That should result in errors upstream (magnumripper, the repo, itself). That said:

E.g., this is `clang version 9.0.0-+rc2-1~exp1 (tags/RELEASE_900/rc2)`. And it is correct, `t` is uninitialized.

[code]

Or, gcc 10.0.0 20190820. But, in th

[2019-08-29 20:18] catap commented on #4077
A bit more info about this machine:

Testing for SSE4.1 that is failed:

[code]

I've attached full build log that contains output of `config.log`, `fmt_externs.h` and `fmt_registers.h`

[consoleText.txt](https://github.com/magnumripper/JohnTheRipper/files/3557206/consoleText.txt)

[2019-08-29 23:05] magnumripper commented on #4077
Looks like some patch is still applied to stribog formats? Why? As long as I can't see that patch I will suspect it. Without any patch, you won't get the Stribog formats unless `__SSE4_1__` is defined, and that's about it. Either there's some screw-up in that patch - or something, somewhere is actually *defining* `__SSE4_1__` before/while creating fmt_externs.h and fmt_registers.h. You just need t

[2019-08-30 09:32] catap commented on #4077
@magnumripper clang defines it.

[code]

I've attached updated full log that contains also this output.

[consoleText.txt](https://github.com/magnumripper/JohnTheRipper/files/3559292/consoleText.txt)

So, I don't understand why:
 - clang defines `__SSE4_1__`
 - clang can't compile test with error `'__builtin_ia32_roundpd' needs target feature sse4.1`

[2019-08-30 10:25] solardiz commented on #4077
On Fri, Aug 30, 2019 at 02:32:20AM -0700, Kirill A. Korinsky wrote:

Maybe we're passing a certain flag (enabling SSE4.1 use) during compilation, but not during linking.  Generally, these flags are not needed during linking, but maybe we have an exception for clang on macOS.

[2019-08-30 10:30] catap commented on #4077
@solardiz I've hacked my brew script to run just clang and dump all default defined options `-dM -E test.c` where `test.c` is just empty file.

and it has defined `__SSE4_1__`

But when `./configure` test the system and try to build
[code]

it can't with error: `needs target feature sse4.1`

So, I do not understand what's going on.

[2019-08-30 10:35] solardiz commented on #4077
Looks like this build of clang is misconfigured, but maybe we can workaround it.

What happens if you try to build https://www.openwall.com/php_mt_seed/ ?

[2019-08-30 10:38] catap commented on #4077
@solardiz it is tricky part: I have access to this machine only over github pull request's hook :)

I'll try but not sure that I can.

[2019-09-01 11:13] MrJur1 opened #4085 "Couldn't open wallet.dat"
Hello guys,
i try to get the hash of my 6 year old litecoin wallet. Get the following message. Could you help me please?

C:\Users\...\Desktop\hashcat-5.1.0>python bitcoin2john.py wallet.dat
ERROR:root:22:Invalid argument -- wallet.dat: unexpected file type or format
ERROR:root:Couldn't open wallet.dat/main. Try quitting Bitcoin and running this again.

[2019-09-01 15:35] magnumripper opened #4086 "Deprecate "verbosity" in favor of specific options"
We could want to deprecate the fuzzy `--verbosity` option which was always a moving target, in favor of things like:
[code]

_Originally posted by @magnumripper in https://github.com/magnumripper/JohnTheRipper/issues/4034#issuecomment-504221769_

[2019-09-01 16:13] magnumripper commented on #4086
Obviously we could keep the `--verbosity` option as well, and just define better what exactly each level should add or mute.

[2019-09-01 16:16] magnumripper opened #4087 "We're out of options flags"
*I have actually played with the idea of making Jumbo's options flags 128-bit (and simply losing some checks if that's not supported, like on a 32-bit build) but that's not quite the final solution - and it has some caveats, eg. we can't write that big integers in source simply as `0x00001000000000000000000000000000ULLL` but rather as something like `(0x0000100000000000 << (uint128_t)64)`*

_Origi

[2019-09-01 16:45] magnumripper opened #4088 "Some code are lacking a fallback for missing config options."
_Originally posted by @magnumripper in https://github.com/magnumripper/JohnTheRipper/pull/4084#issuecomment-526934386_

I see more cases of not handling it:
[code]
(and more similar ztex cases - the `if (!target_setting)` should be `if (target_setting < 1)`)

[2019-09-01 16:58] magnumripper commented on #4088
inc.c, john.c, pp.c and signals.c do handle it later than seen in that grep. I'm fixing all others now.

[2019-09-01 18:19] ghost commented on #4085
The script supports LiteCoin. But, I'm not sure if it supports a 6 year old litecoin wallet. Dhiru?

[code]

You might need to ask on john-users. Well, real users may be able to give you an answer.

[2019-09-01 18:34] magnumripper commented on #4085
I too have no idea - but I do see that @kholia created that script over six years ago, so maybe it should!

[2019-09-01 18:35] magnumripper commented on #4085
Just a completely random thought: Are you using Python 2 for this? It might work better than Python 3.

[2019-09-01 22:00] #3249 closed

[2019-09-01 22:00] #3697 closed

[2019-09-01 22:00] #4012 closed, assigned to magnumripper

[2019-09-01 22:00] #4034 closed, assigned to nobody

[2019-09-01 22:00] #4059 closed, assigned to magnumripper

[2019-09-01 22:00] #4088 closed, assigned to nobody

[2019-09-01 22:09] magnumripper commented on #3979
I think I did all the above. Not sure what's on the Jumbo-2 prio but I will now re-visit #3498 just because I really really want to. It will definitely take a while before you see anything at all from me again (at least in that context) but when that happens, things might move quickly.

[2019-09-01 22:19] magnumripper commented on #3979
Oh and @solardiz if you could just say *anything* about #3497, especially if I'm not on track at all, it could save quite some work.

[2019-09-01 22:22] magnumripper commented on #3497
Jesus, I'll need to re-read what I wrote above quite a number of times to even get into context.

[2019-09-02 14:04] patatetom opened #4089 "Perl script pdf2john delivered with John does not work as expected despite the presence of the ExifTool module"
hi,

### Steps to reproduce ###
$ perl --version | grep version
This is perl 5, version 30, subversion 0 (v5.30.0) built for x86_64-linux-thread-multi

$ (
perl <<end_of_test
use Image::ExifTool qw(:Public);
end_of_test
) && echo ok
ok

$ pdf2john /tmp/test.pdf > /tmp/pdf
Can't locate ExifTool.pm in @INC (you may need to install the ExifTool module) (@INC contains: /bin/lib /home/user/perl5/lib/pe

[2019-09-02 14:53] magnumripper commented on #4089
This is not a support forum but here's a hint (I bet):
[code]
vs.
[code]
and if I'm right you should be able to bypass the shebang line like this:
[code]

[2019-09-02 15:08] magnumripper commented on #4089
Hm, no that's probably not it. I see now we use a local ExifTool lib, not sure if it's customized in some way. Anyway so I believe the problem is you didn't copy the `run/lib` directory when you moved/copied the pdf2john script to `/bin`

[2019-09-03 06:37] patatetom commented on #4089
hi,
I've installed JTR with `pacman`, the package manager of ArchLinux.

[code]

[code]

[code]

note that the script fails if `Image::ExifTool` is installed in system space or user space.

also note that the script indicates to install ExifTool module, but `cpan` does not find any such packages.

regards, lacsaP.

[2019-09-03 08:08] magnumripper commented on #4089
You should probably open an issue with ArchLinux instead. Do you have a /bin/lib directory, containing ExifTool.pm?

[2019-09-03 08:49] kost123 opened #4090 "Multibit encoding issue"
solved

[2019-09-03 12:20] #4090 closed, assigned to nobody

[2019-09-03 12:45] patatetom commented on #4089
this is done [here](https://bugs.archlinux.org/task/63626).

I've no `/bin/lib/` directory, but `ExifTool.pm` is installed in `/usr/share/perl5/vendor_perl/Image/ExifTool.pm`.
[code]
I don't know Perl, but `/usr/share/perl5/vendor_perl` is in @inc and `/usr/share/perl5/vendor_perl/Image` is not in @inc...

[2019-09-03 13:24] anthraxx commented on #4089
@patatetom Its not really nice to open the same issue for investigation on multiple places at the very same time (yesterday). While its correct that upstream issues should be reported upstream, this is primarily a packaging issue which I already started investigating and the proper place would be exclusively on the Arch bug tracker.

Yes, the exif lib distributed with john isn't anything similar o

[2019-09-03 13:49] patatetom commented on #4089
thanks @anthraxx and sorry for duplicate issue (my goal was simply to speed up the resolution of the problem by knocking on several doors, eg. package maintainers and developers).

[2019-09-04 06:30] #4089 closed, assigned to nobody

[2019-09-04 07:05] magnumripper commented on #3497
I have a first KISS iteration working, with NO change to interfaces or structs except the FMT_BLOB flag, which is needed for some self-tests and changed logic in cracker. PR coming soon.

For FMT_BLOB we simply re-purpose the "binary" for pointing to [a struct describing] the data blob.  The salt-specific stuff is calculated in `crypt_all()` and the blob-specific post-processing will happen in `cm

[2019-09-05 12:50] solardiz commented on #4080
No, these are inside `for_each_t` blocks, which initializes `t`.

[2019-09-07 02:01] mysticaltech commented on #731
Thank you @magnumripper for sharing this! I'm just a normal fellow who has an old Nokia phone that is locked and I needed to use it, you just saved my ass. Whatever happened to hc, removing support for an algo (.i.e SL3) from an open source software is not cool!

[2019-09-07 10:56] magnumripper commented on #3497
I now also have a version that does everything in `crypt_all()` - by walking the `*salt` pointer for all binaries. After that, the `cmp_*` functions are normal and we get to have normal `get_hash()` functions as well. This is probably the way to go.

Works almost fine, I'm looking into some bug affecting self-tests (at least).

[2019-09-09 06:22] magnumripper commented on #3497
Hmmm no it's not that easy - given a salt can have many, many binaries. It's probably better doing that work in `cmp_all()` like I did at first.

[2019-09-09 15:55] Lucent commented on #2713
There is a 1password2john.py file in /run which attacks an older version of the database. The new one on Windows is named 1Password10.sqlite and generates an error when run against 1password2john due to the `profiles` table no longer existing. I believe that data is now kept in the `keysets` table.

[2019-09-10 21:35] magnumripper commented on #3497
Extreme case.

Before:
[code]
After:
[code]

[2019-09-10 21:36] magnumripper commented on #3497
I have everything running and most bugs squashed. Hopefully an updated PR before weekend.

[2019-09-11 10:43] doudio opened #4094 "Zip2john is incompatible with hashcat"
Zip compression has different encryption methods for different question formats, which results in that the ciphertext obtained by zip2john can not be run in hashcat.

The following zip encrypts plain text

[code]

Successful operation in hashcat

[code]

Here are encrypted binary files such as docx

[code]

Hashcat execution failed

[code]

[2019-09-11 11:28] AlbertVeli opened #4095 "Add support for bcrypt_sha256"
Feature request. Add support for this format. It is used by some web frameworks, like CTFd. Python code for the format:

[code]

The format internally uses:

[code]

[2019-09-11 11:44] AlekseyCherepanov commented on #4095
`bcrypt(base64(sha256_raw($plain)))` formula is brought from another implementation: https://github.com/s3inlc/bcrypt-sha256

[2019-09-11 11:55] AlekseyCherepanov commented on #4095
Some excerpts from passlib's doc
(https://passlib.readthedocs.io/en/stable/lib/passlib.hash.bcrypt_sha256.html ):
- New in version 1.6.2.
- BCrypt ... does, however, truncate passwords to 72 bytes, and some other minor quirks (see BCrypt Password Truncation for details). This class works around that issue by first running the password through SHA2-256.
- Changed in version 1.7: Now defaults to "2b

[2019-09-11 16:52] magnumripper commented on #4094
Perhaps you should open an issue with hashcat instead? This is the JtR repo.

[2019-09-11 16:52] #4094 closed, assigned to nobody

[2019-09-12 09:40] catap commented on #4077
@solardiz I've tried and php_mt_seed builds without any issue at all three brew's build machine. Just `make` and it works.

[2019-09-12 19:04] magnumripper commented on #4077
Try configuring Jumbo with `./configure CC="clang -mno-sse4.1" --disable-native-tests`. That ought to work fine.

~~BTW what exactly is the `configure` line in that Homebrew formula?~~ I've tried all sorts of ways to reproduce your problem on Mojave, but I can't. I did use Sierra and High Sierra when they were they latest'n'greatest and never saw any problem like this one.

**EDIT**: I see the for

[2019-09-12 19:05] magnumripper commented on #4077
Then again, you'll get a much better build (faster AND with OpenMP support) if you build using gcc instead, as mentioned in bottom of `doc/INSTALL`

[2019-09-12 23:18] catap commented on #4077
@magnumripper thanks for feedback.

I've updated a formula:
 - removed `--disable-native-march`
 - added `-mno-sse4.1` if machine doesn't support sse4 (I've found test `Hardware::CPU.sse4?` let test it)
 - added `libomp`, atleast at php-mt-seed it works with clang.

I hope soon I've closed this magic issue.

[2019-09-12 23:28] magnumripper opened #4097 "OpenCL auto-tune: Try getting a sane figure for min_keys_per_crypt"
See also #3779

While tuning for best GWS, we should note the first size that starts "flying" and set min_kpc to that.

When is that though? In some cases it seems we can pick the smallest GWS that doesn't almost double the wall clock time (it can even be faster!) from previous size. Or we could just pick the next best size (which sometimes is half of max_kpc and sometimes way lower).

[2019-09-12 23:35] magnumripper commented on #4097
Examples

AMD Radeon Pro 560 Compute Engine (laptop). 4096 is the last size that didn't almost double the wall clock time (it's actually the very shortest of them all).
[code]

gfx900 [Radeon RX Vega]. 16384 is last size that didn't almost double the wall clock time.
[code]

GeForce GTX 1080. 10240 is last size that didn't almost double in wall clock time.
[code]

[2019-09-13 07:52] catap commented on #4077
Welll, `Hardware::CPU.sse4?` returns `true` at this machines => it crashed

[2019-09-13 08:39] catap commented on #4077
@magnumripper

and it doesn't build with `mnosse-4.1` at all:

[code]

[2019-09-13 09:06] catap commented on #4077
I can build it at their buildservices with *very* wired hack:
[code]

[2019-09-13 11:20] catap commented on #4077
~After I've spent a bit more time to debugging it, I've discovered a root cause why we have it.~

~compilers options at generation `fmt_registers.h` and `fmt_externs.h` a bit different than at compiling `stribog_fmt_plug.o`.~

~Let's compare:~
[code]

~with~

[code]

~How you can see `$CPU_BEST_FLAGS` hasn't got any value here => it brokes everything.~

I've made more clear diff and it isn't cause

[2019-09-13 13:21] fxcoudert opened #4098 "Build with CommonCrypto fails"
### Steps to reproduce ###

- download JohnTheRipper-1.9.0-Jumbo-1
- `./configure --disable-native-tests --without-openssl --with-commoncrypto`
- `make`

This gives the following build error:

[code]

This is unexpected, given I asked to build without OpenSSL, and `configure` was happy about it. The end of the output of `configure` was:

[code]

### System configuration ###

macOS 10.13, with syst

[2019-09-13 13:21] fxcoudert commented on #4077
I've been trying to look into it, but found another issue instead: https://github.com/magnumripper/JohnTheRipper/issues/4098

[2019-09-13 13:34] fxcoudert opened #4099 "Build with OpenSSL 1.1.1d on macOS fails"
### Steps to reproduce ###

- download JohnTheRipper-1.9.0-Jumbo-1
- `./configure --disable-native-tests OPENSSL_CFLAGS=-I/usr/local/opt/openssl@1.1/include OPENSSL_LIBS='-L/usr/local/opt/openssl\@1.1/lib -lssl -lcrypto'`
- `make`

This gives the following errors:

[code]

because in `gpg_common_plug.c` it's not following the `HAVE_DSA_GET0_PQG` codepaths (which it should). This is because:

[code

[2019-09-13 13:35] fxcoudert commented on #4077
Building without OpenSSL fails, as reported above.
But building with OpenSSL also fails: https://github.com/magnumripper/JohnTheRipper/issues/4099

[2019-09-13 14:37] magnumripper commented on #4098
Thanks for reporting. That `--with-commoncrypto` option has been unattended for years, I guess we should simply remove it. We have a much better plan: #3998

[2019-09-13 14:39] magnumripper commented on #4099
OpenSSL have a habit of dropping stuff, sometimes with NO version between "deprecated" and "dropped" 😢

Again, my firm opinion is that #3998 is the way to go.

[2019-09-13 15:18] fxcoudert commented on #4099
I don't think that's the issue here at all, as the necessary code (depending on `OPENSSL_VERSION_NUMBER`) was already put in place. It's just guarded by the wrong condition, I think.

[2019-09-13 15:39] magnumripper commented on #4099
Sorry for not reading carefully (I still want to drop OpenSSL 😎). So what you are saying is that somehow the `!AC_BUILT && ` disturbs it? I guess that means we have an autoconf test that is supposed to define `HAVE_DSA_GET0_PQG` from some "real" test that we might have gotten wrong. I'll have a look at it - thanks!

[2019-09-13 21:10] fxcoudert commented on #4099
Ok I see the test for `DSA_get0_pqg` in `configure.ac`. I can confirm that it is not well detected. This is apparently because even though I configure with

[code]

the `OPENSSL_LIBS` is not used when testing for `DSA_get0_pqg`:

[code]

This is because earlier, it appears my `OPENSSL_LIBS` settings is actually being overrode. I couldn't figure out why, though :(

[2019-09-14 10:34] catap commented on #4099
Fixed by https://github.com/magnumripper/JohnTheRipper/pull/4101

[2019-09-20 09:46] AlekseyCherepanov commented on #2310
I'd like to describe 2 use-cases when mask files would simplify use of john for me:
- when I need to do mask stretching in 2 or more points in the template: ?abase?a, ?a?abase?a, ?abase?a?a, ...;
- expressing o1, o2, o3 rules sections as masks and running on gpu.

[2019-09-20 19:59] magnumripper commented on #2310
There's no question it'll be a nice feature, we just need someone to do it. Perhaps you'd like to give it a stab? I can bring Jim's old `hcmask` branch back if you want to look at that but I believe it was in a very early stage so it might be faster for you to work from scratch.

[2019-09-21 09:53] magnumripper opened #4103 "Drop the separate WPAPSK PMK formats"
We should move the PMK functionality into the main formats. It's simple: If key length is <64, it's a passphrase. If it's 64 it's supposed to be hex and is a 256-bit PMK. Speed isn't important as you can't brute force a key anyway, it's more for testing lists of keys, null keys and things like that. Besides, the current WPAPSK-PMK OpenCL format doesn't feature internal mask anyway (it would be a l

[2019-09-22 00:07] kochd commented on #3572
rocm-dev 2.7.22 @ jumbo 88829829f23490c314c412f065d75d96cc394901
problem persists

<pre>
john --test=0 --format=keepass-opencl
Device 1: gfx803 [Ellesmere [Radeon RX 470/480/570/570X/580/580X/590]]
Testing: KeePass-opencl [SHA256 AES/Twofish/ChaCha OpenCL]... Options used: -I /root/git/JohnTheRipper/run/opencl -cl-mad-enable -D__GPU__ -DDEVICE_INFO=522 -D__SIZEOF_HOST_SIZE_T__=8 -DDEV_VER_MAJOR=29

[2019-09-22 00:14] kochd commented on #3572
@solardiz do these tests include rocm as platform ?

[2019-09-22 09:55] solardiz commented on #3572
@kochd What do you refer to by "these tests"? Personally, I don't test on rocm.

[2019-09-22 09:59] solardiz commented on #3572
That comment applied to what we did before the 1.9.0-jumbo-1 release back in May, and it specifically excluded this issue from the pre-release testing. As in: we knew some formats fail tests on rocm, and were not going to fix that.

[2019-09-22 10:02] solardiz commented on #3572
@kochd Maybe you can contribute not only problem reports, but also fixes/workarounds? :-) You're on rocm, and you can try to troubleshoot and workaround the issues.

[2019-09-22 10:15] kochd commented on #3572
I would but i have to admit that i am lacking the experience to help in that field.
Also: Don't get me wrong - i am not trying generate any pressure here. My whole intent in posting updates is to give feedback instead of letting this issue become stale.

[2019-09-22 10:40] solardiz commented on #3572
@kochd We appreciate your feedback. It helps. Thanks!

[2019-09-22 15:43] solardiz commented on #4049
Testing with xsha512-opencl, there's no obvious speedup nor regression with this change. Before:

[code]

After:

[code]

"Internal mask" provides great speedup, but I use `--no-mask` here to have comparable results.

[2019-09-22 15:50] solardiz commented on #4049
With mask, there's also no regression, but somehow the older version detected suboptimal LWS/GWS for `-dev=6` in my tests. Before:

[code]

After:

[code]

[2019-09-22 15:53] solardiz commented on #4049
While I'm still not convinced that "call[ing] clFlush() after salt transfer" is generally an improvement, at least there's no obvious regression, so I'll close this issue.

[2019-09-22 15:53] #4049 closed, assigned to magnumripper

[2019-09-22 17:15] solardiz commented on #4033
Somehow rebasing my md5crypt-opencl changes on the latest tree results in AMD driver lockups/reboots on super when running:

[code]

The last line of output is always "Raw speed figures including buffer transfers:". I can reproduce this problem with my old tree from June 19-20.

[2019-09-22 17:38] solardiz commented on #4033
I've just tried adding swapping of two salt buffers as well (in addition to two output buffers), and this appeared to help at first, but then I got an eventual lockup on AMD anyway. So no luck.

[2019-09-22 20:50] magnumripper commented on #3572
Yes it does help, the `error: undefined hidden symbol` is interesting and something we can start from. I would think it's a bug in the rocm runtime and not our code but I'll look at those kernels just to confirm we don't have some macro check messed up.

Oh and thanks @kochd for that explanation (back then) of what rocm is.

BTW do you have an AMD driver's "CPU device" to try as well? Maybe confir

[2019-09-22 21:35] magnumripper commented on #4033
So it does work for a while but eventually locks up? What if you supply LWS/GWS figures, does that avoid the lockups?

[2019-09-22 21:38] magnumripper commented on #4033
Perhaps we're tearing everything down in format's `done()` while the "next salt" is still running on the GPU? If so, just adding a `clFinish()` in `done()` should avoid it.

[2019-09-22 21:57] solardiz commented on #4033
No. Some of the `--test` runs work fine, and eventually one run locks up at the very start.

I didn't try your other suggestions yet.

[2019-09-23 02:30] kochd commented on #3572
When looking a the commits @magnumripper made since April to the rar und 7z kernels i dont see anything obvious that would have let to making rar and 7z pass now - which failed back in April. So rocm might have fixed something related to that issue. ROCm could have some compatibility issues with the failing kernels. However: I've used other software that makes use of OpenCL without encountering su

[2019-09-23 06:26] magnumripper commented on #3572
I came to the same conclusion.

Other software may well be better for rocm, I think hashcat actively tests rocm and they work around problems seen (that is unfortunately a very time consuming task, often involving changing random stuff and see what happens).

The traditional AMD drivers include a CPU device and that one almost never has any problems. We routinely test(ed) on it on Travis/Circle CI

[2019-09-23 07:32] magnumripper commented on #4033
In the invocation of kernel for next salt, you should replace `multi_profilingEvent[1]` with NULL. Not sure if it interferes with anything (might point to NULL anyway) but regardless it's a bit confusing as written [above](https://github.com/magnumripper/JohnTheRipper/issues/4033#issuecomment-504122210).

[2019-09-23 07:37] magnumripper commented on #4033
Are you using `ocl_autotune_running` in current code? I guess you wouldn't want to invoke next-salt kernel during auto tune and I'm not sure we can rely on just the other `*_running` variables.

[2019-09-23 07:40] magnumripper commented on #4033
BTW please post a current patch, I might want to experiment a bit with it too.

[2019-09-23 11:51] solardiz commented on #4033
I'll try. I'm not familiar with our use of profiling events, so was mimicking the existing code. I think my "next salt" code isn't invoked when we're profiling anyway (but it is during self-test).

I don't use `ocl_autotune_running`, relying on `benchmark_running` instead. IIRC, omitting `benchmark_running` would halve the speeds during auto-tuning and benchmarking because we'd be invoking kernels

[2019-09-23 15:03] solardiz commented on #4033
magnum, no luck solving the problem using your suggestions. Here's the current patch:

[code]

[2019-09-23 22:02] AlekseyCherepanov commented on #2310
I'd like it to be implemented before 22 October (SAINTCON PCrack competition). So I'll try to do it myself. I will not work fast though. Just in case, I got the code from pull request #2321 (with `git pull origin pull/2321/head` after `git checkout dab7bc848b750ec3dd588a57bcf4038736c33aff` to avoid conflicts). Thanks!

[2019-09-25 18:50] magnumripper commented on #4103
I'll do this in #4092

[2019-09-29 15:43] 1006079161 opened #4105 "高版本office2013生成的低版本2003格式的xls文件,无法计算hash值"
高版本office2013生成的低版本2003格式的xls文件,无法计算hash值
比如：https://beiyongcdn.oss-cn-hongkong.aliyuncs.com/exp.xls    password:123456789

[2019-09-29 16:58] #4105 closed, assigned to nobody

[2019-09-29 16:59] 1006079161 commented on #4105
发现自己下载的旧版本,新版本原来修复了
elif data[0:4] == b'\x01\x00\x02\x00' or data[0:4] == b'\x01\x00\x03\x00' or data[0:4] == b'\x01\x00\x04\x00':

[2019-09-29 17:15] solardiz commented on #4105
Google Translate of these comments:

"High version office2013 generated low version 2003 format xls file, can not calculate hash value"

"I found the old version I downloaded, and the new version was fixed."

So I assume this is already fixed in our current code, yet we should probably re-check using the "exp.xls" file from the first comment.

[2019-10-01 08:21] jmvermeulen commented on #2999
I've got a db with +- 200 rows.

Some of them have identical hashcat values (of course the ID differences). Is there any conclusion that I can make about this? Like the password is by definition not the same for all notes? I read that a user can reset its password. This will not unlock older notes but sets a new password for the new created notes. The `salt` is the same over all notes by the way.

[2019-10-01 14:38] magnumripper commented on #4105
Yep, works fine

[2019-10-01 15:10] magnumripper commented on #2999
*Hashcat* values? You mean the last, 48-digit blob, right? I'm not sure yet what that tells us.

If the salt (the 32-digit blob) is indeed reused, I will add this format to my to-do for #3497 which would make your job 200x faster to attack (or `n`x faster for `n` salts). Although I'd rather guess it's only reused in case of same password. That would still be poor design because it'd mean you will

[2019-10-01 16:13] magnumripper commented on #2999
OK that blob is a KEK (Key Encryption Key). I'm not quite sure we can make any conclusion of same-salt-different-kek. Anyway, the salt re-use definitely looks like a blunder. I'll try to create a lab file and try to establish when the actual key changes (the one protected by the KEK).

[2019-10-01 18:34] 0xln opened #4106 "Segmentation Faults - SHA512CRYPT hashes and MPI"
Currently running a bunch of sha512crypt hashes via MPI and during the course of running them with rules, i'm getting segmentation faults every single run. This is usually around 24+ hours during the course of running them.

Here are some example errors that have been output.
[code]
[code]
I've also run a  ./john -list=build-info which is below.

[code]
Any ideas on how to debug this more or what

[2019-10-01 18:59] 0xln commented on #4106
Weirdly, when i run the following test, I also get errors

mpiexec --hostfile ./cluster/nodes.txt JohnTheRipper/run/john -test=0 --format=sha512crypt

[code]

[2019-10-01 19:23] jmvermeulen commented on #2999
Just a small reply on my phone.
I creaked all hash values today! All where the exact same password despite salt that was the same on quite some hashes but was unique too in other records. In my case the password was on a wordlist. It took some time for crack all hashes, despite being the same password for all rows. So yeah this could benefit strongly from you optional approach.

My conclusion, bas

[2019-10-02 06:37] magnumripper commented on #4106
First thing to try is to check if latest stable version (tag 1.9.0-Jumbo-1) has this problem.

[2019-10-02 06:41] magnumripper commented on #2999
Thanks, that's good input.

[2019-10-02 07:42] 0xln commented on #4106
Getting errors for 1.9.0-Jumbo-1 too, slightly different this time tho...

[code]

Running without MPI works no problem

[code]

[2019-10-02 09:59] solardiz commented on #4106
What hardware, distro, compiler do you use?  Is it possible that one of the boards is overheating?  Can you try with other hash types?

The "Bus error" thing looks more like a JtR bug, though - maybe an unaligned access (address only 4-byte aligned, access probably larger).

[2019-10-02 10:12] 0xln commented on #4106
Thanks for the swift response. Will get all those details together later today and respond. The boards are Odroid xu4's, need to double check the distro and compiler. I don't believe the boards are overheating, but I haven't gone down that specific route yet. I will also try with some other hash types (small sample of say 100 or so) to try and help you diagnose further

[2019-10-02 22:45] magnumripper commented on #3235
I no longer have any Radeon Pro 560 to test with but instead a Radeon Pro Vega. It seems to have mostly the same bugs but anyway I'll close this and eventually open a new issue for that one. Hopefully any bugs I can work around for Vega will help users with 5xx as well.

[2019-10-02 22:45] #3235 closed

[2019-10-02 22:48] magnumripper commented on #3435
I no longer have any HD Graphics 630 to test with but instead a UHD Graphics 630. Should be more or less the same runtime tho'. It seems to have the same bugs but anyway I'll close this and eventually open a new issue for the UHD. Hopefully any bugs I can work around for UHD Graphics will help users with HD Graphics as well.

[2019-10-02 22:48] #3435 closed

[2019-10-03 07:22] 0xln commented on #4106
Ubuntu 18.04.3 LTS
Odroid Xu4
gcc version 7.4.0 (Ubuntu/Linaro 7.4.0-1ubuntu1~18.04.1)
MD5 sample over mpi with rules ran perfect, example output is below

[code]

[2019-10-03 07:24] 0xln commented on #4106
I also ran tests for multiple hash types over MPI, spot the problem 😂

[code]

[code]

[2019-10-03 08:32] solardiz commented on #4106
All other hash types you tried are orders of magnitude faster than sha512crypt.  Please try comparable speed hashes, such as bcrypt, sha256crypt, md5crypt, mscash2, wpapsk.

[2019-10-03 09:17] 0xln commented on #4106
I’ll try those and report back

[2019-10-03 09:33] solardiz commented on #4106
Please also try raw-sha512 in case the issue is in our shared SHA-512 code.

[2019-10-03 12:38] jmvermeulen commented on #2999
Sorry I wasn't totally right.

The salt is consistent over all 200 rows.
Only the last  48-digit blob that's called `ZCRYPTOWRAPPEDKEY` in the sqllite changes in **some** cases. There are many exactly the same. As stated before, the password was the same for all.

[2019-10-03 18:51] magnumripper commented on #2999
In that case the existing version should see them as pure dupes. I assume John didn't say "Loaded 200 hashes" but instead the actual number of different combinations, right?

Is the iteration count the same for all of them BTW? Different iteration counts would give different KEK's even for same password.

[2019-10-03 20:18] 0xln commented on #4106
So bcrypt, sha256crypt, md5crypt, mscash2 and wpapsk all passed. Doing some more testing and will report back

[2019-10-03 22:28] magnumripper commented on #4106
Meanwhile I've retested all SHA-512 formats on a Raspberry Pi without triggering any problem. BTW you can do that eg. with `--test=0 --format=@sha512` and/or `--test-full=0 --format=@sha512`

[2019-10-03 22:30] magnumripper commented on #4106
Oh BTW did you also try latest stable version?

[2019-10-04 17:53] 0xln commented on #4106
It crashed again last night after i did some tweaks to rule things out. Doing a run on the latest stable version to see if it crashes on that too

[2019-10-04 23:27] AlekseyCherepanov opened #4107 ""->N" rule is misinterpreted, when both --rules= and --rules-stack= are used: "N" becomes a command on its own"
While `->6` should be 1 rule, `6` duplicates word (prepend memory):
[code]

It works with plain sections with the same results. Commands:
[code]

john is the latest:
[code]

[2019-10-05 07:10] GKNSB opened #4108 "Many tests fail with Mesa"
Hello everyone. First of, here are some information

[code]
[code]

After having installed what in my head looks like the requirements to provide opencl support for my Saphire HD 7850, john failes on opencl tests. More specifically, rar-opencl seems to break the test loop altogether.

[code]

Here is another one for testing nt-opencl:

[code]

And when I tried against a small test file of ntlm has

[2019-10-06 14:22] 0xln commented on #4106
Ok so good news, no crash using 1.9.0-Jumbo-1 so far. I'm running more testing to see if it crashes. Fingers crossed.

**EDIT:** Did manage to trigger a crash when using the same job with rules, so i will do some further runs without rules to try and pin things down a little more.

--Crash with best64 rules in use---
[code]

[2019-10-08 16:09] AlekseyCherepanov opened #4109 "config overriding PEBCAK and possible improvements of it"
When I try to override 1 option using other config file, I make new `[Options]` section and put my option there. All previous options are wiped and only new option is set. It does not look right.

I wrote that PristineGecos turns on JumboSingleWords. That was just hard-coded default value `Y` for JumboSingleWords was recovered by new `[Options]`.

JFYI the default in `loader.c`:
[code]

The defaul

[2019-10-08 16:12] solardiz commented on #4109
On Tue, Oct 08, 2019 at 09:09:18AM -0700, Aleksey Cherepanov wrote:

Yet this is how it's designed to work.  Maybe we should treat having more than one section with the same name as an error, although I've been using this misfeature as a hack on some occasions (e.g., to fully replace a ruleset while not altering its name).

[2019-10-08 16:26] AlekseyCherepanov commented on #4109
I would like to be able to replace 1 option in `[Options]` without wiping other options there.

[2019-10-08 16:44] solardiz commented on #4109
On Tue, Oct 08, 2019 at 09:26:36AM -0700, Aleksey Cherepanov wrote:

You should think of more than just that.  If we make it such that having more than one section of the same name appends(?) to the previously(?) defined section(s) of the same name, then does this extent to "list" sections such as wordlist rules?  And to external mode definitions too?  We better be consistent, but perhaps at least

[2019-10-08 16:51] AlekseyCherepanov commented on #4109
My bad: per documentation `doc/CONFIG`, I should use `[Local:Options]` to override only one option.

[code]

I close the issue.

[2019-10-08 17:03] solardiz commented on #4109
Maybe we should keep the issue open until we hear magnum's take on my suggestion to treat duplicate sections as fatal errors.  We can also have the error message suggest use of the Local syntax.

[2019-10-08 17:16] AlekseyCherepanov commented on #4109
It may be an improvement to deprecate implicit overriding and require explicit prefix to replace the whole section. `Replace:` ?

I reopen.

[2019-10-08 19:04] solardiz commented on #4109
On Tue, Oct 08, 2019 at 10:16:23AM -0700, Aleksey Cherepanov wrote:

I think we should just report a fatal error on duplicate section and that's it.

[2019-10-09 05:55] magnumripper commented on #4109
Actually the john-local.conf feature is mainly for developers (without it we'd revert our changes at any pull). Normal users, staying at a release for years, can edit john.conf directly - but once they actually do upgrade Jumbo version, john-local.conf would have been better for them as well.

I'm not 100% sure we can do that without breaking things in Test Suite or users' work flows. But it shoul

[2019-10-09 06:03] magnumripper commented on #4106
I'll see if I can reproduce this on a Raspberry Pi. An ideal test case would be a short wordlist (like the default one) and a rule or rule-set that segfaults every time against one single test hash. Given that we'd nail the bug in minutes.

[2019-10-09 06:06] magnumripper commented on #4106
BTW isn't a core file produced at the crash? Then you can produce a backtrace from it.

[2019-10-09 06:17] magnumripper commented on #4108
We do mention Mesa in `doc/README-OPENCL`. While it may eventually become stable enough that we could start working around remaining problems, they are not there yet. Your best bet is trying a proprietary driver but AMD drivers have their share of problems as well, unfortunately...

[2019-10-09 06:18] magnumripper commented on #4108
Then again you could of course report a bug with them instead!

[2019-10-09 06:34] magnumripper commented on #4107
Confirmed. And it works fine when swapping them around.
[code]

[2019-10-09 08:51] GKNSB commented on #4108
True, I just wanted to let you guys know about the latest status. I'll look into it more and update the issue accordingly even with proprietary drivers so that there is a reference for anyone else interested.
Thanks a lot for the reply @magnumripper. Cheers

[2019-10-09 10:44] solardiz commented on #4109
On Tue, Oct 08, 2019 at 10:55:35PM -0700, magnum wrote:

Right, it should be a warning then.

Right.

[2019-10-09 12:47] AlekseyCherepanov opened #4110 "SingleWordsPairMax is raised automatically for high KPC, it seems inaccurate"
I am not sure that it is a problem.

Behaviour of SingleWordsPairMax:
[code]

So there are much more candidates than the reported KPC:
- full login,
- every single word alone,
- 3x full + word,
- 2x word + full (1+full, 2+full),
- 2x first letter + full,
- 5x first letter + word (the very first letter with 3 words, first letter of second word with words 1 and 3),
- 4x pairs of words (1+2, 1+3, 2+1

[2019-10-09 12:54] AlekseyCherepanov opened #4111 "more control over single mode: need options to disable word extraction, to disable pairs and/or to feed exact candidates"
CMIYC 2019 created [interest](https://www.openwall.com/lists/john-users/2019/10/06/1) to feed candidates into single mode with high precision because the hashes are very slow (real world example: Ashley Madison leak). E.g. it may be desirable to use only specified candidates without any additional candidates.

I'll mix several problems, because probable goal may be reached not fixing all of them.

[2019-10-09 14:20] magnumripper commented on #4110
You're probably correct. My rationale for that log2 was just to find some KISS code[tm] that bumps the limit for formats with an awful high KPC (in terms of single mode) in the least complicated way I could find that was still kind of appropriate.

Single mode is (or should be) run with lots of rules so the exact figure we'll end up with should be more or less unpredictable. I'm a lot more attenti

[2019-10-09 16:17] AlekseyCherepanov commented on #4110
Hm, there are rules. So the buffer will be filled by them, no?

It looks so (notice the second argument of `set_key()`):
[code]

So does SingleWordsPairMax need to be raised for high KPC at all?

[2019-10-09 17:02] AlekseyCherepanov commented on #4111
I've found a [hack](https://www.openwall.com/lists/john-users/2019/10/09/1) to pass only the full baseword: wrap basewords into '\x02' and check the ends using rules, then delete '\x02'.

[2019-10-09 17:10] AlekseyCherepanov commented on #4111
Well, a printable separator char for border would be ok too (e.g. `--single=':=0# =m# Dm D0'`).

[2019-10-09 19:43] StillMyGitHub commented on #3191
I had the same issue with john-1.9.0-jumbo-1-win64 and Radeon RX 580.
replacing the dll and cd-ing to \kernels\ did not work for me at first try, the funny thing I noticed is, that this does only work with relative adressing of john.exe. If you use absolute adressing (C:\Users\%Username%\....\john.exe) john cannot find the kernel headers even if it is started from that path.

Furthermore: After a

[2019-10-09 19:46] AlekseyCherepanov opened #4112 "rules preprocessor is permissive for ranges syntax: unclosed bracket is allowed, unquoted opening bracket inside range is allowed"
Unclosed bracket for preprocessor is not reported as error in rules. Opening bracket inside range does not need quoting. It is not a big problem. But there are cases when it may be a bit confusing and hide mistake/typo.

Both `--rules=':$[0-9\]'` and `--rules=':$[0-9\\]'` work. The first variant appends `]`, the second appends `\`.

Both `--rules=':$[1-9\] $[1-9]'` and `--rules=':$[1-9\\] $[1-9]'`

[2019-10-09 20:07] AlekseyCherepanov commented on #4112
There is one more thing close to these. `[a-c-z]` gives all letters (`--rules=':$[a-c-z]'`). Mask mode works the same way.

For comparison in Perl 5 and Python's regexps, `[a-c-z]` would be treated as `[a-c\-z]` (but there would not be error that `-` is not quoted even with 'strict' and 'warnings').

[code]

[2019-10-09 22:55] magnumripper commented on #4110
I have to correct myself: I do appreciate your experiments and thoughts. On a side note: For years and years I've been tempted to implement an eastern egg option letting you run single mode with `--stdout` instead of adding debug prints like you did there (and like I've done many many times). Just for understanding/testing single mode and/or rules for it. I've yet to come up with a good syntax.

N

[2019-10-09 23:12] magnumripper commented on #4111
Not sure if there are other (faster) ways of achieving this already but otherwise we could add some option. Perhaps a new bool option `SingleNoPairing` defaulting to false? On the other hand, if our format has a KPC of 24 or 2097152 anyway, why not instead have an option that merely limits it according to the KPC? For plaintext format IIRC KPC is always 1 (so would be equivalent to `SingleNoPairin

[2019-10-09 23:21] magnumripper commented on #3191
a) Pre-compiling is not possible right now. We might want to have that, especially for DEScrypt per-salt kernels (4K of them...).

b) It depends. Some vendors' binary kernels are tightly coupled to runtime/driver version and hardware. I believe some others aren't, they're more like a compile-as-far-as-you-can-without-getting-specific. I'm sure @solardiz knows more about it.

c) That's a jolly good

[2019-10-09 23:36] ghost commented on #3191
I was aware of that. When you run JtR from outside the CygWin root folder, it fails to resolve its "home" properly.
- the CygWin function call that retrieves the path fails.

[2019-10-10 01:00] magnumripper commented on #3191
So what can we do about that? Isn't there a good system call to use on Windows crap?

[2019-10-10 11:57] solardiz commented on #3191
On Wed, Oct 09, 2019 at 04:36:59PM -0700, Claudio Andr?? wrote:

If so, perhaps this affects more than just OpenCL kernels - e.g., does it also affect JtR's ability to find its john.conf and the CPU fallback binaries?  If somehow this issue does not affect those things (why not?) then perhaps we can revise our OpenCL support code to also avoid the issue in the same way as those other places do?

[2019-10-10 12:44] AlekseyCherepanov commented on #4111
[code]

But KPC reported in single mode is 8:
[code]

KPC reported in single mode is from `key_count` variable, it goes through multiple stages of tweaking in the code.

But there is a warning already that work below min. KPC is inefficient:
[code]

I guess if a user wants such option and format's KPC is high, then it should be the user's problem to provide appropriate number of candidates, e.g. u

[2019-10-10 13:04] AlekseyCherepanov commented on #4111
`django-scrypt` has min. KPC 1, while single mode wants buffer of size 8:
[code]

Plaintext format shows that `set_key()` is called only for real candidates. There is no hashing-wise overhead from under-filled buffer in single mode, i.e. when we have more than min. KPC but less than `key_count`. Is this buffer needed to reduce overhead from `set_salt()` needed to switch between hashes? Is this ove

[2019-10-10 13:26] ghost commented on #3191
I can't remember. I would say:
* OpenCL kernels compilation lib call requires a full path.
* OR, `real_path()` is failing (shouldn't be used).

Some Windows tests have to be run.

[2019-10-10 16:23] AlekseyCherepanov opened #4113 "salted plaintext format or generic format tracer for debugging"
There is plaintext format (`$0$`) that prints arguments of `set_key()` with `--verbosity=6`. I think a salted variant would be helpful to understand single mode better. I guess `set_salt()` and maybe `crypt_all()` should be reported too.

Additionally I think it would be nice to print fork's id for the call as in status line with `--fork=` option. Same applies to current plaintext format.

Maybe o

[2019-10-10 16:35] AlekseyCherepanov opened #4114 "hybrid external mode does not work with regular mask as source"
When there are hybrid external mode and regular mask together, mask works and hybrid external mode is ignored. It does not produce error. And external does not affect the output.

Bad:
[code]

mask then hybrid external using temporary wordlist is ok:
[code]

john is quite fresh (has opencl; openmp is disabled):
[code]

[2019-10-10 18:40] magnumripper commented on #4111
I recall single mode have a floor of 8 for something... I need to revisit the code.

[2019-10-10 18:44] magnumripper commented on #4113
We could have this same `$0$` plaintext format support salts. Perhaps `$0s$salt$plaintext`?

[2019-10-10 18:44] magnumripper commented on #4113
Or simply `$0salt$plaintext`? This would imply that all current `$0$plain` simply has a zero-length salt.

[2019-10-10 22:43] AlekseyCherepanov commented on #4111
So I tried 1 candidate per salt: p/s is 2 times lower than c/s for django-scrypt. I picked 40 lines and results match. I traced with gdb: `set_key()` is called correct number of times. Then what is c/s? How is it computed?

I tried to raise number of candidates using rules. Results:
[code]

single.conf (there is "^A" for '\x01' in real sj2.pw):
[code]

sj2.pw:
[code]

trace_django.gdb:
[code]

Tra

[2019-10-10 22:47] AlekseyCherepanov commented on #4113
A simple tracer based on gdb is shown in #4111. I guess its performance would be suboptimal for long traces on fast hashes. Also some changes to the script are needed to support forks.

[2019-10-11 01:19] magnumripper commented on #4111
In any cracking mode but single (as you probably know), it's like this (edited several times):
- c/s is our actual hashing rate and this figure is what should match a benchmark.
- p/s is c/s divided by number of salts, so it reflects how many candidates per second we're doing. It's our actual progress in the keyspace.
- C/s is like c/s but multipled with the same-salt factor that we started to sho

[2019-10-11 10:52] AlekseyCherepanov commented on #4111
I found the reason: single mode does additional `crypt_all()` without candidate. So we get adequate c/s and lower p/s. With more candidates, the stake of empty `crypt_all()` is lower.

I made fake scrypt hashes to avoid rules:
[code]

Changes in the tracer:
[code]

Output:
[code]

The following message suggests that the effect was expected:
[code]

[2019-10-11 12:07] AlekseyCherepanov opened #4115 "mask with a lot (>260) of ranges/placeholders crashes with sigsegv/segfault"
Actually @rofl0r has found it.

The crash:
[code]

For me, the problem starts with 261 or more ranges. Ranges of single letter (e.g. `[a]`) works well. `?l` x 261 crashes too.
[code]

It crashes on `super` too.

john is quite fresh (has opencl; openmp is disabled):
[code]

[2019-10-11 12:48] magnumripper commented on #4111
That is strange. Can you reproduce it with John proper?

[2019-10-11 13:06] solardiz commented on #4111
On Thu, Oct 10, 2019 at 06:19:26PM -0700, magnum wrote:

This is only exactly correct when both nothing gets cracked _and_ we are (and were) not running single mode (nor are in batch mode, where single mode is a step).

When the number of hashes (and maybe salts) changes as some hashes get cracked, these figures become progressively more independent, and you can't compute one from another.

They a

[2019-10-11 20:08] akorn opened #4116 "office2john seems to get wrong hash for ppt protected by edit-only password"
I have a .pps file that I can open in read-only mode, but editing would require entering a password that I no longer have. (This is inconvenient because LibreOffice can't open such documents at all, not even in read-only mode, and Microsoft Office won't let me save it in a different format without the password.)

`office2john.py` (the latest from github) prints:

`file.pps:$oldoffice$3*c1696ec41fb

[2019-10-11 20:47] AlekseyCherepanov commented on #4111
Yes, the same happens with John proper.

Fake bcrypts:
[code]

john building with debugging symbols (add `-g` to all commands, remove `-s` for `ld`):
[code]

Investigate min/max kpc:
[code]

Tracer:
[code]

I edited `john.conf` to leave only `:` in `[List.Rules:Single]`.

Trace:
[code]

So additional `crypt_all()` happens even if previous call was with number of candidates under min. KPC.

[2019-10-11 21:24] AlekseyCherepanov opened #4117 "parallel expansion in preprocessor: \p0 does not work if previous range has \p modifier too"
It is not possible to use `\p0` to chain parallel expansion of several ranges together. `\p` or `\pN` should be used.

Chaining of ranges is useful to merge 2 lines into 1 (current `ReplaceSpecial2Special` in `korelogic.conf` uses such technique). Merging lines is cool because it gives an easy to use gadgets that can be combined with other rules inline (e.g. `[ab]` + `[cd]` gives 4 rules in 1 line

[2019-10-12 08:33] magnumripper commented on #4116
x-ref https://github.com/stricture/hashstack-server-plugin-hashcat/issues/4

[2019-10-12 08:39] magnumripper commented on #4116
I believe the read-only feature may be a whole different functionality (the document isn't encrypted!) so the hash you got could be all bogus. We should find a way to detect this situation and either produce a correct hash (if applicable at all) or just bail with a proper error message.

[2019-10-12 21:32] AlekseyCherepanov opened #4118 "mask stretching differs custom placeholders and regular placeholders"
That's like #3165 but with custom placeholder (e.g. `?1`) or explicit ranges.

When `--mask='?l123' --min-length=4 --max-length=5` produces `?l123` and `?l?l123`. Replace `?l` with `?1` and add `--1='?l'`, it produces `?1123` and '?11233'. Same with explicit ranges.

I bump into that quite often when I stretch masks with constant suffix and try to reduce charset in ranges based on cracks.

Example

[2019-10-13 06:01] ZX-zedex opened #4119 "Cyrillic brute force Telegram Passcode"
Hi.
Is there any capable settings or components that can afford to bruteforce the Telegram Local Passcode hash with cyrillic symbols (with JTP)?

Thank you

[2019-10-13 06:48] magnumripper commented on #4119
Not sure what JTP refers to. We do have a format for attacking Telegram Desktop passcodes and I would expect the encoding to be UTF-8 so all needed tools should be in place.

[2019-10-13 07:06] ZX-zedex commented on #4119
Thank you for reply.
I wanted to know how exactly it can be used.

For example.
When I get the hash of the passcode from map0 file I use the commands like:
john <passcode> --incremental --min-length=2 --max-length=3
john <passcode> --mask=?l?l?l?l

What should I add in these commands so it will try all the possibilities with cyrillic symbols, numbers etc. (without latin characters)

Thank you

[2019-10-13 07:26] ZX-zedex commented on #4119
And I am wondering if there any chance to find out it without bruteforce method or maybe replace it in the map[0-1] file with the simplest one (ex. 1234), cause I don't have any idea about the length of the password, which characters it contains and the strength of it.

Thank you.

[2019-10-13 07:37] magnumripper commented on #4119
This is not a support forum, it's a bug tracker.

For questions and support, review recent postings on the john-users mailing list at https://www.openwall.com/lists/john-users/ and then subscribe to the list at https://www.openwall.com/john/#lists and post your message to the list by e-mailing john-users 'at' lists.openwall.com.

[2019-10-13 07:37] #4119 closed, assigned to nobody

[2019-10-13 11:18] AlekseyCherepanov commented on #4109
By default, john includes `'$JOHN/john.local.conf'`, `'$JOHN/john-local.conf'` and `'./john-local.conf'` from current directory. And the last one is a security concern.

I started with idea that disabled overriding might make it harder to access rules engine. But without overriding, attacker may override options `WordlistRules` and `BatchModeWordlistRules` to use new section, so most invocations o

[2019-10-13 11:45] solardiz commented on #4109
On Sun, Oct 13, 2019 at 04:18:21AM -0700, Aleksey Cherepanov wrote:

Ouch.  Of course, we must not read files (other than explicitly specified by the user) from current directory.  Let's stop reading `'./john-local.conf'` from current directory (I didn't realize we did).

[2019-10-13 13:08] AlekseyCherepanov commented on #4111
I was wrong: this message is printed before candidates when there is 1 candidate per salt. So it is not related to the empty `crypt_all()` in the end.

I am not sure that it is empty, it may check the last candidate against every salt, but I did not check that. Anyway the additional calls to `crypt_all()` seem wrong.

[2019-10-13 14:48] BotPass opened #4120 "problems generating hashes from archives"
The tools for generating hashes out of archives may create invalid files, depending on the names and paths of the files. The tools use colons to separate different parts. But colons may be part of the file name. This is especially true for absolute names under Windows.
The tools write the file name (for rar5 the given name --> probably absolute file name) at the front of the hash line and the give

[2019-10-13 16:56] ghost commented on #4120
The bug affects *NIX, I agree. But, not Windows. On Windows the colon is not valid as a filename; it is valid as a driver only. And JtR can handle that.

* Hash generated on Windows (with a driver letter) [winhash.txt](https://github.com/magnumripper/JohnTheRipper/files/3721979/winhash.txt)
****
Crackable on Windows and Linux
[code]

[code]

There is a `type_def`. Can you see any error message in

[2019-10-14 17:48] BotPass commented on #4120
Well I first experienced this problem under Windows. The Linux example is just some thing I created for testing.
conditions for Windows: rar5 and absolute name
[code]

As far as I can tell the given file name is always written into the hash line. In rar5 it is the first element and thus before the hash itself. In rar3/4 7z and pkzip it is after the hash
[code]
I do not know if this part is ever pa

[2019-10-14 18:42] ghost commented on #4120
opencl_rawsha512.h -> opencl_sha512.h -> opencl_sha2_common.h -> opencl_misc.h

BTW: they are inside `run/opencl`.

[2019-10-14 19:34] magnumripper commented on #4120
It's not `type_def` but `typedef`

[code]

[2019-10-14 19:48] solardiz opened #4121 "Smarter mask mode"
As I understand, hashcat's mask mode uses Markov chains. We can't put that into ours without revising on-device code (OpenCL, FPGA), but we can enhance ours, without changes to on-device code, to an extent where it's similar to JtR 1.0's incremental mode.

Basically, incremental mode would incrementally expand the charset size to include less likely characters. It'd fix the character in one positi

[2019-10-14 19:55] solardiz commented on #4121
Incremental mode also used differently-ordered charsets in different character positions as the optimal order varied. (So when a new character index becomes available, it might actually correspond to different characters in different positions.) We may or may not do the same with mask - e.g., `?a` in position 1 doesn't have to be in the same order as `?a` in position 2. For user-defined placeholde

[2019-10-14 20:15] 0xln commented on #4106
Ok so after a few more days of testing, i've managed to establish the following.

100 test hashes, 244 line wordlist, 64 rules - ☑️
5k test hashes, 244 line wordlist, 64 rules - ☑️
10k test hashes, 244 line wordlist, 64 rules - ❌
100,000  test hashes, 244 line wordlist, 64 rules - ❌
250,000 test hashes, 244 line wordlist, 64 rules - ❌
500,000 test hashes, 244 line wordlist, 64 rules - ❌
500,000 te

[2019-10-15 07:13] magnumripper commented on #4106
If you re-run the 10k case, does it always fail? And perhaps before trying that: What if you generate 10k test hashes with same salt, or few unique salts? That speeds up testing substantially.

[2019-10-15 07:22] solardiz commented on #4106
Maybe try an `--enable-asan` build, or share that 244 line wordlist with us and we try that. My guess is something in the rules engine causes a memory overwrite, and ASan should trap that early and regardless of loaded hashes.

(Oh, and please don't use Unicode chars in GitHub comments unnecessarily - they can be painful to figure out in an email.)

[2019-10-15 07:46] solardiz commented on #4121
If we implement a multi-mask mode, which would read a list of masks from a wordlist (a feature requested separately) then we could enhance that to also allow listing custom placeholder definitions along with each mask. With that, we could implement the smart mask mode suggested here as a separate feature or script generating a list of masks+definitions from an input mask. That list could be stored

[2019-10-15 18:28] magnumripper commented on #4106
Are you reading your mail using `hexdump(1)` (I agree that'd be very safe though) or how did you find a mail client not supporting UTF-8?!

[2019-10-15 18:32] magnumripper commented on #4121
Some good stuff here!

We were planning on supporting Hashcat's mask format (not sure if we'd use it by default though) and that one already has support for (up to 4) different placeholders per mask.

[2019-10-16 11:32] fraveau opened #4122 "bitlocker2john hash not opened by John"
Hi
The hash generated by bitlocker2john is not opened by john:

#bitlocker2john -i disk.img > hash.txt
Signature found at 0x3
Version: 8
Invalid version, looking for a signature with valid version...

Signature found at 0x65c2a000
Version: 2 (Windows 7 or later)

VMK entry found at 0x65c2a18f

VMK encrypted with Recovery Password found at 0x65c2a1b0
Searching AES-CCM from 0x65c2a1cc
Trying offset

[2019-10-16 12:18] ghost commented on #4122
These hashes are crackable (only) using the OpenCL format.

[code]

[code]

[code]
***

Issue: improve docs and warnings messages.

[2019-10-16 12:24] solardiz commented on #4122
On Wed, Oct 16, 2019 at 05:18:58AM -0700, Claudio Andr?? wrote:

...

Please also open an issue to enhance the CPU format to match OpenCL's capabilities, unless we already have an issue like that open (in which case we might need to prioritize it).

[2019-10-16 13:26] fraveau commented on #4122
ok I  cleaned hash file and tried that but I get another error:

john --format=bitlocker--opencl ./hash.txt
Unknown ciphertext format name requested

Something to do with my setup?

 john --list=formats --format=cuda
Unknown ciphertext format name requested

Maybe it's because I've installed Cuda et Nvidia drivers on Kali 2019 which as pre-installed Jumbo 1.9? Do I have to re-install JtR to make i

[2019-10-16 18:33] AlekseyCherepanov commented on #2310
hashcat can read charsets from files (the wiki suggests `.hcchr` suffix):
[code]

[2019-10-16 19:16] magnumripper commented on #4122
It should be `--format=bitlocker-opencl`, not `--format=bitlocker--opencl`

[2019-10-16 20:27] fraveau commented on #4122
[code]

Sorry for typo but same results

[2019-10-16 21:55] magnumripper commented on #4122
OK so you need to build for OpenCL. That's a support issue and not to be discussed here. See john-users mailing list at https://www.openwall.com/lists/john-users/ - subscribe to the list at https://www.openwall.com/john/#lists and post your message to the list by e-mailing john-users 'at' lists.openwall.com.

[2019-10-16 21:55] #4122 closed, assigned to nobody

[2019-10-16 21:59] magnumripper commented on #4122
#3310

[2019-10-16 22:02] magnumripper opened #4123 "Salvage option for thrashed RAR -hp files"
See https://www.openwall.com/lists/john-users/2019/10/16/1

[2019-10-16 22:04] magnumripper commented on #4121
#2310

[2019-10-17 11:20] AlekseyCherepanov commented on #4121
John's mask mode supports inline ranges. If a file with masks is generated, then it is possible to inline ranges and there is no need to limit positions with custom order to 4 or 9. Are there drawbacks with inlining all ranges?

[2019-10-17 11:28] AlekseyCherepanov commented on #4121
Another idea: run incremental, capture candidates and merge them into small masks with constant beginning. Depending on the efficiency of merging algo, it may be suitable for run-time or it should be prepared beforehand, just as an efficient way to run incremental on device. Additionally a filter might pick only candidates that match specified mask or masks.

[code]

Pairs with 1 char difference:

[2019-10-17 12:25] solardiz commented on #4121
On Thu, Oct 17, 2019 at 04:28:52AM -0700, Aleksey Cherepanov wrote:

This is pointless either way: you can only process a relatively small number of candidates this way, and on-device mask only makes sense for very high numbers of candidates.  If you could efficiently do this with incremental, then your target hash type is slow enough that you could simply run incremental against it directly, not

[2019-10-17 12:31] AlekseyCherepanov commented on #2349
When john loads a lot of hashes (millions), it is beneficial to be able to run several attacks without unloading hashes. That's quite realistic scenario.

OTOH I thought about it not as a mode, but more as a server: john loads hashes and starts a server, so a client may connect and run several attacks, maybe reconnect later and run more. Reconnection is important because it would be easier to deve

[2019-10-17 15:31] AlekseyCherepanov commented on #2310
`maskfile_producemask()` should quote `[` and `]` in mask.
[code]

[2019-10-17 16:39] AlekseyCherepanov commented on #4111
Knowing precise total number of candidates, it is possible to exit before the additional calls using `--max-candidates=` option.

[2019-10-17 17:40] solardiz commented on #4121
This might be OK. We'll need to escape some characters, but that's easy.

A maybe-drawback is that this won't work with hashcat (well, unless we enhance hashcat to support inline ranges in masks, which I guess the project would accept it we make a PR like that).

Would our tool producing list of masks be useful along with hashcat? If hashcat is smarter out of the box (uses Markov chains when runni

[2019-10-17 19:23] magnumripper commented on #4121
For what it's worth, I tried creating an incremental mode from "rockyou" w/ dupes, but with the two last letters dropped from every word. I dubbed it "rocky" (because "rockyou" with the two letters removed... 🙄)

I guess it should theoretically hit slightly better together with `?w?a?a` than our default mode. I never tested if it matters though.

Technically there's currently no difference between

[2019-10-17 22:45] magnumripper commented on #4121
Oh except one thing: We can stretch a placeholder but not a range IIRC. So `-mask:?d -len=8` works fine while `-mask:[0-9] -len=8` doesn't.

...but apparently the latter works just fine!? I need to context switch into mask mode, that takes me a day or two if I can even get to that point right now.

[2019-10-17 22:54] magnumripper commented on #4111
In order to spot an excessive call to `crypt_all()` you really need to monitor `set_salt()` and [at least index 0 of] `set_key()`. I'd also add one to `clear_keys()` if there is one. Just throw some standard debug print, like:
[code]
[code]

[2019-10-18 00:04] AlekseyCherepanov commented on #4121
A range may be stretched in the last position only. While placeholder may be stretched even with constant suffix. That's #4118.

[2019-10-18 00:38] russdill opened #4124 "pkzip_fmt does not support bzip2 compression type"
I have a zipfile with bzip2 compressed entries (compression type 'c'). I was initially confused as to why john wasn't accepting my zip2john generated hash as no useful error message was generated. Fortunately, enabling debugging produced a good trail to follow.

I located a file within the zip with a 'stored' compression type and used that file to allow me to continue cracking the password on the

[2019-10-18 07:18] 0xln commented on #4106
Point noted about the unicode.

I've taken the liberty of uploading the wordlist. [https://ghostbin.co/paste/9v59s](https://ghostbin.co/paste/9v59s)
As you predicted, the re-run 10k test case ran with no problems, so that was an interesting observation. I will keep re-running to see how often that happens.

The next step I am going to take are as follows.

* --enable-asan and do more testing
* Cre

[2019-10-18 16:40] russdill commented on #4124
(Side note, I did finally receive a password, but the password did not work on the file I generated the hash for. I'm attempting again with a larger stored file. The data in the hash is much larger, so the process is going at about 1/20th the speed)

[2019-10-18 19:59] magnumripper commented on #4118
I've actually had the idea to add some option like `--mask-stretch-left` for when you want that. Or perhaps better `--mask-stretch=n` where *n* is the position in the *supplied* mask.

Example: `--mask=?l?l?d?u?u?u --mask-stretch=3` would run `?l?l?d?u?u?u`, then `?l?l?d?d?u?u?u`, `?l?l?d?d?d?u?u?u` and so on.

[2019-10-18 20:02] magnumripper commented on #4124
Thanks for reporting, I wasn't aware of this at all.

[2019-10-18 20:03] magnumripper commented on #4124
Bug: We must report unsupported schemes, and/or look further for supported ones. Enhancement: We should support bzip2!
Good thing it didn't chug along and seem to work with no chance of ever cracking it though...

[2019-10-18 20:05] magnumripper commented on #4124
Perhaps if you keep attacking that small file with `--keep-guessing` option, you'll crack it quicker. But that might be unfeasible if there's too many false positives.

[2019-10-18 20:10] magnumripper commented on #4106
Great, I may do some casual testing tomorrow as well.

[2019-10-18 20:28] russdill commented on #4124
Thanks, ya, I'd never seen a zip file utilizing the bzip2 compression scheme before. I'm guessing it's pretty rare. No idea what drove the creator of this zip to utilize it, the zip really isn't that large. Thanks for the pointer to `--keep-guessing`.

[2019-10-19 19:50] AlekseyCherepanov commented on #4118
I like the idea with position. I missed such option a few times and had to rewrite attack in different manner (either feeding masks in a loop, or with 2 sessions in chain: `?l?l?d?u?u?u` would be `?l?l?d` with stretching and stdout, then `?w?u?u?u`).

Even more general way might be implemented to allow specification of position and a range of repeats. It would allow stretching in hybrid masks. Als

[2019-10-19 21:02] AlekseyCherepanov commented on #4121
I played a bit with masks:
- hashcat does 25G h/s against 1 raw-md5 hash on super's 1080 with `-O -w 3` with cuda api. john does ~9G c/s. Both with `?a` * 8.
- hashcat does ~23G h/s with masks with random masks with 3 fixed chars and 5 `?a`. (It is not 100% stable, but I guess it could be tweaked.)
  - Speed is much lower with lower number of placeholders. OTOH I guess the problem could be solved

[2019-10-20 00:31] magnumripper commented on #4121
Hashcat has single-hash optimizations for raw formats that we've never even considered. They're good for sure, but it means you can't compare speeds between single-hash Hashcat and JtR. Hashcat will win every single time, good stuff for sure but IMHO not worth the work for us. If we do that road, we'll get on par with them at best.

For fair comparisons, try two hashes or more.

[2019-10-20 10:18] magnumripper commented on #4124
The Info-ZIP command-line program (3.0) doesn't seem to have any option for bzip2, and the `-c` option is for something else. Could you please share the first few fields from zip2john for that file?

Eg. `$zip2$*0*1*0*(...)`

Also, what program did you find that supports this?

[2019-10-20 10:20] magnumripper commented on #4124
Oh I found it now, from `zip -h2`

[2019-10-29 18:58] solardiz opened #4127 "dmg2john fails to detect backupbundle"
`dmg2john` will currently only recognize a sparsebundle if it has ".sparsebundle" in the directory name. I just learned that now there's also a variation that uses ".backupbundle" instead - maybe we should recognize both, or preferably we should recognize sparsebundles by different means: it is easy to check if what's supplied is a directory and whether it contains a file called "token" inside.

U

[2019-10-29 19:08] solardiz opened #4128 "dmg2john misuse of strncmp"
I think this:

[code]

Should check the read() sizes for `!= 8` and should use `memcmp` instead of `strncmp`.

[2019-10-29 19:15] solardiz commented on #4127
Some detail on ".backupbundle":
https://www.reddit.com/r/MacOS/comments/dfh3rx/it_appears_that_networked_time_machine_backups/

Looks like "/token" is still in there. :-)

[code]

[2019-10-30 12:43] solardiz commented on #4127
Meanwhile, a workaround (successfully tested by a user) is to rename the directory from "[whatever].backupbundle" to "[whatever].sparsebundle".

[2019-10-31 23:57] #4127 closed, assigned to nobody

[2019-10-31 23:57] #4128 closed, assigned to nobody

[2019-11-01 00:02] magnumripper commented on #3497
Closing, although more formats will eventually be added

[2019-11-01 00:02] #3497 closed

[2019-11-01 09:13] damien122 commented on #2336
Hi @kholia, I tried john with an new created test tresor and a known password but I can't crack it with john.

My steps are:
`python .\enpass2john.py "C:\Path\to\Tresor\vault.enpassdb" > "C:\Path\to\Tresor\vault_hash_full.txt"`

and then run john with following command:
`.\john.exe --session=allrulesTest --wordlist="C:\Path\to\Tresor\wordlist.txt" --format=enpass "C:\Path\to\Tresor\vault_hash_full

[2019-11-01 11:41] damien122 commented on #2336
@kholia @magnumripper as much as I can see, the implementation didn't work. Did you prove it with an created container?

[2019-11-01 11:43] magnumripper commented on #2336
Perhaps things changed since 2016. What version are you running?

[2019-11-01 11:45] damien122 commented on #2336
John the Ripper 1.9.0-jumbo-1 OMP [cygwin 64-bit x86_64 AVX2 AC]
and Enpass 6.2.0

[2019-11-01 11:48] damien122 commented on #2336
now I test it with the hash from your code tests "openwall" (src/enpass_fmt_plug.c) and it works as expected. But if I create a new tresor and get the hash from it with enpass2john.py and try it with a wordlist, it didn't works 😞

[2019-11-03 12:00] solardiz opened #4132 "Define nt-long as alias for dynamic=md4(utf16($p))"
@AlekseyCherepanov wrote on john-users:

I think this is useful to a lot of people, but it's obscure. Should we perhaps define e.g. `nt-long` as an alias for this format, so it'd come up in the formats list, in default "--test" benchmarks, etc. And have it listed right after the main `nt` format, similarly to how we have it for `md5crypt` vs. `md5crypt-long`.

FWIW, testing on one core in i7-4770K

[2019-11-03 13:01] solardiz commented on #4132
We must also actually test that this dynamic format works right for lengths beyond 27, and include test vectors covering the range of lengths the format is meant to support.

[2019-11-03 13:13] solardiz commented on #2354
Related, but different: #2437.

I think our highest priority and most obviously desirable should be "add $HEX[] storing/handling to .pot files and screen output (logger.c, loader.c)". I agree it's a change in the logger. It's probably also a change in the loader just to avoid code duplication for `--loopback` and `--make-charset`, although maybe the former should be taken care of as part of additi

[2019-11-03 13:17] solardiz opened #4133 "Add Controlize rules"
I think we need a pre-defined ruleset called Controlize, e.g.:

[List.Rules:Controlize]
s[aAbB]\p\r[\x01\x01\x02\x02] Q

And so on for other letters, and perhaps listing more characters per line.  I was just lazy here.

We should also consider rules for other ways to "controlize" - e.g., of only some (not all) instances of a character, or of multiple different characters at once. Maybe we should a

[2019-11-03 13:19] solardiz opened #4134 "Add append/prepend common (pass)word rules"
Maybe we should add a pre-defined ruleset produced with a script from our default password.lst (and updated along with it), appending or prepending each one of those words, also with or without a space, e.g.:

[List.Rules:Password]
\r[:$:^][ ] A\p\r[zz00]"password"

and so on for the full password.lst. Maybe we should also add length checks to ensure the added string isn't fully beyond the format'

[2019-11-04 07:00] damien122 commented on #2336
@magnumripper should I create a new Issue for enpass support?

[2019-11-04 10:47] ghost commented on #4122
Again, the same issue (and it works on well using OpenCL):
* https://www.openwall.com/lists/john-users/2019/11/04/1

[2019-11-04 14:54] solardiz commented on #3310
Our users keep running into this issue and are confused and we spend time explaining that they have to use the OpenCL format.

We'd very much appreciate work on this issue from you, @e-ago. Thanks!

Edit: related but different issues are #2895, #2517.

[2019-11-04 14:59] solardiz commented on #4133
@AlekseyCherepanov Would you contribute this, please? (Since you had a related ruleset in a recent contest.)

[2019-11-04 15:00] solardiz commented on #4134
@AlekseyCherepanov Would you contribute this, please? (Since you had a related ruleset in a recent contest.)

[2019-11-04 15:13] AlekseyCherepanov commented on #4133
I think `/` command would work a bit faster than `Q`. But it produces unwanted candidates when the letter to be replaced is after position 125: `/` can find it and accept the candidate, `Q` would reject.

Search after 125:
[code]

Comparison of speeds:
[code]

Code to populate rules:
[code]

Output:
[code]

[2019-11-04 15:21] solardiz commented on #4133
Thanks Aleksey, you're quick!

125 is when you test in `--stdout` mode. The actual length that `Q` checks up to is the current format's maximum supported length - e.g., 8 for descrypt.

Which approach is better depends not only on speeds, but more on whether the resulting candidates would be directly used with the current format or subject to another ruleset or mask stacked on top of these rules.

[2019-11-04 15:26] solardiz opened #4135 "Adjust rules' perceived maximum password length when stacking"
Maybe we need to adjust the rules' perceived maximum password length "of the current format" when JtR knows that something else is stacked on top of the rules. With masks, we can infer the correct new maximum length (subtract the mask's added length from the current format's maximum length), but for other rules stacked on top we should probably just assume a high maximum like our global maximum of

[2019-11-04 16:02] AlekseyCherepanov commented on #4133
JFYI `--stdout=8` can emulate truncation for descrypt. So in rules, `'*` may be used to truncate candidate and reduce length for search. Truncation and search work a bit faster than `Q`.

[code]

I am not sure that I am not missing something.

I'll make a PR with the line you asked.

[2019-11-04 17:38] solardiz commented on #4133
Aleksey, I don't mind you using in the PR the faster version you've identified in your previous comment. Thanks!

[2019-11-04 21:40] AlekseyCherepanov commented on #4134
There are some commons passwords appended, prepended and inserted in hashcat's rules included into `All`. Also some of words are combined with `[ulc]` rules.

I checked pure prepend (left) and append (right):
[code]

I checked `run/rules/T0XlC-insert_top_100_passwords_1_G.rule`:
[code]

[2019-11-05 10:01] solardiz commented on #4134
Aleksey, in other words, you found that most lines in password.lst do not overlap with what's already added with those hashcat rules.

I am more concerned that sometimes the ruleset will be run with password.lst as the wordlist, in which case we'll have 50% of dupes from doing both appends and prepends. Such runs can be interrupted at 50% as they wouldn't crack anything more in the other 50% of ru

[2019-11-05 21:58] simon816 commented on #3572
I have found that this is caused by the use of `inline` in the function declarations.
ROCm uses clang to compile OpenCL code. According to clang's documentation: https://clang.llvm.org/compatibility.html#inline

The above documentation explains the semantics of `inline` in C99. Basically, I was able to fix the issue by removing the `inline` keyword, or by replacing it with `extern inline`.

[2019-11-05 21:59] magnumripper commented on #3572
Thanks! That's good input.

[2019-11-06 11:18] magnumripper commented on #4135
I believe that all is already in place, but we might want to check it/test it better.

[2019-11-06 11:28] magnumripper commented on #4132
There are some caveats. One is tagging in the .pot file - they'll get different tags.

Several years ago Jim was working with some kind of generic alias feature but it never aired. Ideally, dynamic formats would be able to register as an arbitrary name (eg. NT-long) and use an arbitrary tag (eg. `$NT$`).

[2019-11-06 11:32] magnumripper commented on #4132
@jfoug perhaps you could whip up "NT-long" as a thin dynamic?

[2019-11-06 12:29] damien122 opened #4139 "Enpass support don't work in current implementation"
As described in [old bug](https://github.com/magnumripper/JohnTheRipper/issues/2336), the current Implementation of enpass decryption don't works.
With John the Ripper 1.9.0-jumbo-1 OMP [cygwin 64-bit x86_64 AVX2 AC]
is is not possible to unlock an enpass tresor created with Enpass 6.2.0.

### Steps to reproduce ###
Tested on Environment: Windows 10, Windows 8, Ubuntu and Kali Linux

Steps:

1. In

[2019-11-06 12:54] magnumripper commented on #4139
In case this is a new format or PBK, an urgent bug-fix is to detect this instead of creating an uncrackable hash. And obviously, an enhancement would be to support it!

@damien122 could you please create a small test vault (with no real data in it) with a known password (eg. "openwall") and upload here?

[2019-11-06 13:14] damien122 commented on #4139
I have created a tresor with the password "openwall" and with example data from enpass.
![tresor](https://user-images.githubusercontent.com/7516098/68301095-80449600-009f-11ea-946c-41b2fdd98ec3.JPG)

[enpass_tresor.zip](https://github.com/magnumripper/JohnTheRipper/files/3814540/enpass_tresor.zip)

In the ZIp is the tresor (vault.enpassdb) the Json with infos (vault.json) and a backup from the tre

[2019-11-06 17:49] ghost commented on #4099
It seems some detail is still missing.

`./configure OPENSSL_CFLAGS=-I/usr/local/opt/openssl@1.1/include OPENSSL_LIBS='-L/usr/local/opt/openssl\@1.1/lib -lssl -lcrypto'`
[code]
*****

Travis updated its OSX image recently. It is failing since.

A regular `./configure`:
[code]

[2019-11-07 05:59] magnumripper commented on #4139
https://www.enpass.io/security/
https://www.zetetic.net/sqlcipher/design/
* It's now 100,000 iterations (in case of Enpass v6 - SQLCipher defaults to 256,000) of PBKDF2-HMAC-SHA512 (current enpass2john hard-codes it to 24,000 iterations and PBKDF2-HMAC-SHA1). Encryption is still aes-256-cbc. The IV is now near the end of each 4K(?) page while salt is the first 16 bytes of the *file*.
* There's a H

[2019-11-07 08:55] catap commented on #4099
@claudioandre-br it is very strange. Because I've created a few patches to fix this issue and this is similar to that I've fixed.

Do you using the last master?

[2019-11-07 14:44] ghost commented on #4099
Yes

[2019-11-07 15:30] ghost commented on #4099
To see all source files used for build:
* https://github.com/claudioandre-br/JohnTheRipper/tree/8af991fd5bd24f2aff4c707ebd4a48824b94476d

Logs, including config.log (**cloud sync still running**)
* xcode11.2: https://api.travis-ci.org/v3/job/608781779/log.txt
* xcode10.2: https://api.travis-ci.org/v3/job/608781780/log.txt

[2019-11-07 20:32] emwinkler opened #4141 "wpapsk OpenCL formats failing on MacOS 10.15.1 with AMD Vega 64 GPU"
wpapsk OpenCL formats failing on MacOS 10.15.1:

./john --test --format:wpapsk-opencl --devices=3
Device 3: AMD Radeon RX Vega 64 Compute Engine
Benchmarking: wpapsk-opencl, WPA/WPA2/PMF/PMKID PSK [PBKDF2-SHA1 OpenCL]... FAILED (cmp_all(7))

./john --test --format:wpapsk-pmk-opencl --devices=3
Device 3: AMD Radeon RX Vega 64 Compute Engine
Benchmarking: wpapsk-pmk-opencl, WPA/WPA2/PMF/PMKID master

[2019-11-08 16:39] magnumripper commented on #4141
Confirmed: My MBPr 2019 works just fine with "CPU" device. It fails `cmp_all(1)` on WPA PMKID with the "Intel(R) UHD Graphics 630", and it fails `cmp_all(7)` on WPA PMF with the "AMD Radeon Pro Vega 20 Compute Engine". I'm working on it. The debugging involves throwing stones at it and see what sticks.

[2019-11-08 17:03] solardiz opened #4142 "bitcoin2john.py unneeded parsing"
@kholia's `bitcoin2john.py` is based on a third-party Bitcoin wallet parsing script, and it still contains a lot of that parsing, whereas we only use some fields for our script's output. The extra parsing sometimes unnecessarily causes the script to fail on altcoin wallets.

Specifically, `parse_wallet` supports a lot of item types, including e.g. transactions (complicated, but irrelevant to our t

[2019-11-08 17:22] solardiz opened #4143 "bitcoin2john.py Python 3 compatibility"
A revision of `bitcoin2john.py` (per #4142) when run on an altcoin wallet with Python 2 produces a "hash", whereas when run with Python 3 says "this wallet is not encrypted!" (missing a linefeed after that message - something we should fix as well).

This could indicate a Python 3 compatibility issue in the script itself, or it might be a side-effect of differences in Berkeley DB versions in use b

[2019-11-10 17:54] solardiz commented on #4143
I'm also seeing the same issue with our sample wallets from the wiki, so I hope anyone can reproduce this.

@exploide I'd appreciate your help on this issue after we merge #4145. Thanks!

[2019-11-10 21:29] #4142 closed, assigned to kholia

[2019-11-11 08:13] magnumripper commented on #4141
#3235, #3435

[2019-11-11 12:14] solardiz commented on #4143
I started looking into this issue, but with my current non-knowledge of Python I don't intend to complete fixing it - I'd rather leave that to someone familiar with Python, who would manage to have this work with both Python versions cleanly.

The main issue appears to be Python 3's explicit byte strings, so e.g. what used to be `ckey` in Python 2 becomes `b'ckey'` in Python 3, and the if's fail t

[2019-11-11 12:54] solardiz commented on #4085
@MrJur1 You _definitely_ need Python 2 for this script to work (so please check `python --version` and add that to this issue), however the specific error you're getting indicates that this is probably not the only issue. It might also be that whatever Python version you use loads Berkeley DB of a version that doesn't recognize the wallet's Berkeley DB version. This issue might or might not go awa

[2019-11-11 17:05] exploide commented on #3672
`ssh2john.py` is now compatible with python3. @torerobo this might coincidentally fix your issue since python3 supports Unicode by default. As long as you make sure the script is run via python3, it should work now. Can you test that again?

[2019-11-11 17:25] exploide commented on #4143
@solardiz I can give it a try once I find a bit time, though I have zero knowledge of wallets.

I will base my work on your current `bitcoin2john-cleanup2` branch. Are these the relevant test files? https://openwall.info/wiki/john/sample-non-hashes#Bitcoin-Core-wallet-files

Concerning the bsddb import: `bsddb` was once part of Python 2's standard library but it got deprecated in 2.6 and removed i

[2019-11-11 17:43] solardiz commented on #4143
Thank you, @exploide! Yes, you found the right branch and the right test files.

[2019-11-11 19:59] torerobo commented on #3672
I checked.  Python3 supports the format, works successfully with Cyrillic.  And JtR successfully brutes ssh hash.

 Python2 throws an error (perhaps in the documentation it would be worth describing).

[2019-11-11 20:19] torerobo commented on #3672
The previous version of ssh2john.py turned out to be working too: you had to run it like this "python3 john/run/ssh2john.py ключ.pem > хэш && john хэш"

[2019-11-11 20:20] exploide commented on #3672
Only for your PEM style keys ;) For other parts of the code, python3 compatibility was not complete.

[2019-11-11 21:18] ghost opened #4148 "JTR Win10 btc OpenCL support"
is JTR support OpenCL for bitcoin hash on win10 ?
## System configuration ###
https://i.imgur.com/RDkMH7h.jpg
in HC: https://i.imgur.com/S1kOdXX.jpg

[2019-11-11 21:37] solardiz commented on #4148
Assuming you mean a Bitcoin Core / Bitcoin Qt wallet, then the answer is no - these are only supported on CPU. hashcat supports them in OpenCL, using output from our `bitcoin2john.py` script.

Besides, our GitHub is not a user support forum. We use GitHub issues to track JtR development tasks.