[2021-06-04 04:09] magnumripper commented on #4733
Almost right, it's `p = (any_type*)&p->w[1];`.

I successfully rewrote `mgetl()` using this technique, but using `void *line` as its argument. It ended up very nice and clean compared to current Jumbo. But when trying to change the argument type, I got stuck at the callers' buffer init until I got this to compile:
[code]
Not only does the `any_type` struct need to have the `char` member listed fir

[2021-06-04 04:19] magnumripper commented on #4733
I somehow misunderstood the situation, even that doesn't compile. It says *error: initialization from incompatible pointer type*

[2021-06-04 04:28] magnumripper commented on #4733
Here's what actually compiles
[code]

[2021-06-04 11:30] solardiz commented on #4733
I think you can drop `char c[1];` from there. Also, in the cast use `any_type *line = (any_type *)&aligned.buffer;` - that way, you'd be casting from a type that is a member of the target union type, which is probably safer than a cast between arbitrary union types.

[2021-06-07 16:09] magnumripper commented on #4733
That does work, thank you.

When I did `any_type *line = (any_type *)&aligned` I really needed the `char c[1];` in there, and both the name and the size had to match. Pretty tricky, this.

[2021-06-07 17:03] magnumripper opened #4744 "Solarwinds OpenCL format crashes on OpenCL alloc on AMD Vega"
[code]
Can't recall seeing a crash during alloc before, should be looked into.

[2021-06-08 12:08] magnumripper opened #4746 "Pause file status update"
From recent private conversation:

Also, some odd log file timestamp was seen when Pause file removed, only the first time?!

[2021-06-08 13:21] magnumripper commented on #4746
The odd time stamp is caused by this
[code]
If we call `log_event()` after "fixing" the time, it should be gone. OTOH @solardiz would you prefer us to not hack the time? There are pros and cons. I think I prefer keeping it, but moving the `log_event()`. That will make it "look" (performance and time wise) like the session was actually aborted and later resumed.

[2021-06-08 13:24] magnumripper commented on #4746
Here's a proposed fix then
[code]
However, if we do keep the "time hack", there's not much point in the second status print - it should be very close to the one printed before sleeping. If we drop the time hack, it makes more sense: We'll get to see how much it hurt us.

[2021-06-08 13:34] magnumripper commented on #4746
BTW, I usually have `LogDateFormat` set in john.conf, rendering wall-clock timestamps in the log file as well, so I'd see how long we actually paused anyway. With the hack in place, you'll never know otherwise.

[2021-06-08 14:11] magnumripper commented on #3610
The `unknown attribute` stuff is annoying, can we decide on some version numbers where we *can* use it, and where we *can't*? I'm not sure it's needed at all anywhere.

[2021-06-08 14:18] magnumripper commented on #4746
On a side note, it's a pity I'm pausing **all** the jobs on super just to test something on device 1. We could consider using something like `pause.1` for pausing only node 1 (while still allowing `pause` to pause all jobs). OTOH it's kind of bloat and this isn't a very common problem.

[2021-06-08 14:46] magnumripper commented on #4645
Adding `#pragma unroll` to all memcpy functions didn't change anything here

[2021-06-08 15:59] solardiz commented on #4746
I didn't realize we had the hack to exclude the pause time. When I suggested printing the status, I was hoping it'd let the user figure out the pause duration (difference between the two status lines), but with this hack this wouldn't be the case. So can we maybe include the pause duration explicitly in the "continuing" message? And it's fine to keep the hack, then.

However, I'd replace this:

[c

[2021-06-08 16:02] solardiz commented on #4744
Maybe it's the first time you ran this test with a concurrent job on the GPU running (but paused)? That specific concurrent job wasn't supposed to be consuming a lot of GPU memory, though (it had GWS of 16384, which is low).

[2021-06-08 16:36] magnumripper commented on #4744
Good point, I'll check this later then. That message doesn't really say there wasn't enough available though, it's more like we requested some invalid size such as a negative one. We'll see.

BTW and note to self: If the `0:` was intending to report node number, it got it off by one. And for that matter I wasn't even using fork or MPI so it should better be left out.

[2021-06-08 16:43] solardiz commented on #4744
Yes, please look into that as well. Thanks!

[2021-06-09 10:41] magnumripper commented on #4744
I first got this problem on a `--test --format=opencl` run, but specifying that format alone yields the same result.

[2021-06-11 14:07] magnumripper commented on #4746
Good point. I did so now, but we might want to revisit it: IIRC we stopped having commented-out stuff in the config because tools like Johnny can ask for all possible parameters (eg. with `../run/john --list=parameters:options`) and commented-out ones will obviously not be listed. Maybe we should have it uncommented but set to an empty string (if that works and solves the problem).

[2021-06-11 18:25] #4746 closed, assigned to magnumripper

[2021-06-14 00:27] frank-dittrich opened #4750 "RACF-KDFAES tunable costs"
Apparently, RACF-KDFES has at least 2 tunable costs, mfact and rfact, which are currently not reported.
And, apparently, for benchmarking we should ideally have test vectors with lower cost values.
[code]

This is just crazy.
I knew `--test=-1` would be pointless, given that at this speed (and john reporting just on decimal place for c/s), I would hardly see any difference.
But I wanted to see jus

[2021-06-15 06:22] magnumripper commented on #4744
Problem went away with no change. It probably actually ran out of memory somehow.

[2021-06-15 06:22] #4744 closed, assigned to nobody

[2021-06-16 07:50] #4733 closed, assigned to magnumripper

[2021-06-16 09:32] magnumripper commented on #4456
In discussion elsewhere, @solardiz said

Perhaps we can use a trivial timer similar to what we ended up using for avoiding excessive calls to `fix_state()`.

[2021-06-16 14:13] kabutor opened #4752 "PFX P12 will not crack password if exported from mozilla"
been doing some tests after updating pfx2john.py to python3 (minor changes here https://github.com/kabutor/python/blob/master/pfx2john.py) I'll found out that if you use a generated PFX/P12 PKCS12 file with a password of 12345 import into windows and export it, that works fine, but if you import into mozilla, export the certificate and dump the hash, it will not crack

The only difference I see is

[2021-06-16 14:17] magnumripper commented on #4752
Confirmed using latest bleeding jumbo

[2021-06-17 03:55] duckstroms commented on #3647
**E:\john\run>john --list=opencl-devices**
[code]

what hapeend ? can help me now.

[2021-06-17 08:48] magnumripper commented on #4456
Here's one way to do it (tested):
[code]
We could want to have a configurable time instead of the 30 seconds, or just go for some sane figure (is 30 seconds fine?). This patch doesn't care whether the format is OpenCL or not, nor if the format actually uses a salt but that won't matter so better keep it simple, right?

[2021-06-17 08:53] magnumripper commented on #4456
An even simpler patch could be touching nothing but `crk_dummy_set_salt()`. Simplest (but dumbest) of all could just call real `set_salt()` every 100th (or whatever) time.
A more clever way would be to call `status_get_time()` and keep a static for when we last did a real `set_salt`.

[2021-06-17 09:14] magnumripper commented on #4456
So here's a KISS patch
[code]
The problem with this is it will call `status_get_time()` (3.3 us on this laptop) every single time. Something a little more elaborate is needed for not introducing a penalty with fast formats (let alone unsalted ones).

Perhaps we can exploit the existing `timer_save_value` (just embracing the fact it will become dependant on `Save` setting in the config).

[2021-06-17 12:38] solardiz commented on #4752
FWIW, we already have the same changes in here, introduced in 708ea345e0ed46ffdc80d6fbdade859cce793281.

[2021-06-17 12:49] solardiz commented on #4456
Looks good to me.

You already have that more elaborate thing with `event_refresh_salt` above.

This is also an option, or we could do the salt update (up to) once per second (actually, less frequently than that when a single `crypt_all()` call takes more than a second). I think this would be OK.

[2021-06-17 13:20] kabutor commented on #4752
The truth is that google point me to another repository searching for pfx2john.py, and I modify to make it work in python3 wich is standard almost everywhere these days.

 I see there has not been a new john version since some time ago, I wasn't aware of that fix, thanks for pointing it :)

[2021-06-17 13:48] magnumripper commented on #4456
What about this then?

We could probably hard-code it higher but at 30 seconds I guess we’re not introducing any measurable penalty

[2021-06-17 14:47] solardiz commented on #4456
I'm OK with 30 seconds.

BTW, we have a `salt_changed` variable in 3 CPU formats, but not anywhere else - so apparently the changes you propose here will take care of all OpenCL formats.

[2021-06-20 13:52] Bin1omar opened #4755 "John the ripper"

[2021-06-20 22:34] #4755 closed, assigned to nobody

[2021-06-25 02:58] cintainfinita opened #4757 "OpenCL kernel headers not found (macOS)"
MacOS BigSur, AMD Radeon Pro 5700 XT 16 GB

% ./john --list=build-info
Version: 1.9.0-jumbo-1+bleeding-b49c763c4 2021-06-24 21:32:53 +0200
Build: darwin20.5.0 64-bit x86_64 AVX2 AC
SIMD: AVX2, interleaving: MD4:4 MD5:5 SHA1:2 SHA256:1 SHA512:1
CPU tests: AVX2
$JOHN is ./
Format interface version: 14
Max. number of reported tunable costs: 4
Rec file version: REC4
Charset file version: CHR3
CHARSET_

[2021-06-25 12:24] ghost commented on #4757
Off the top of my head, to get around this you need to run `john` (at least once) from inside the `opencl/` folder.

[code]

Well, maybe you need to find the "right location" (if the 'opencl' folder does not fix it), as stated here https://www.openwall.com/lists/john-users/2014/08/03/2 (notice, this is the old headers location).

header files. A workaround is to cd to the src directory and run eac

[2021-06-25 12:39] solardiz commented on #4757
So the OpenCL compiler somehow ignored `-I opencl` that was passed to it. I wonder why this issue keeps occasionally reoccurring on various systems. Is there anything we're doing wrong (I don't think so)? Is there anything we can do better (e.g., maybe `-I .` along with `opencl/` in paths inside the `#include` directives would have worked better across systems)?

@magnumripper Don't you use a simi

[2021-06-25 12:47] cintainfinita commented on #4757
@claudioandre-br tried that (per that post, it mentions the "kernels" directory that is not there anymore, replaced by opencl, so I already did that) with no luck.

The odd part is that I modified the #include's to match my exact location of the .h files (full path) and it still says the file is not found.

This is a very old problem, I tried all the tricks from part workaround and none of them wo

[2021-06-26 17:52] chaosharmonic opened #4759 "Truecrypt2john fails to run"
When running truecrypt2john.py on Python 3.9.x (more env details belw), the script stops with the following output:

[code]

I was able to fix this locally by wrapping string interpolation around the calls to `binascii.hexlify(header)` within `sys.stdoutput.write()` here and on line 67, and will have a PR open momentarily with these changes.

Here are the system configurations I used to reproduce

[2021-06-27 19:07] magnumripper commented on #4757
On 2021-06-25 14:39, Solar Designer wrote:

I haven't heard of that issue for years. If I ever did see it myself I'm
sure I committed workarounds that should still be in place.

magnum

[2021-06-27 19:18] magnumripper commented on #4757
What if you move all files in `run/opencl` to just `run`? That'd be ugly but it would be interesting to see if it matters.

[2021-06-27 19:49] cintainfinita commented on #4757
Moved everything to the run/opencl folder and made the file structure also:

[code]

That's the output.

[2021-06-27 20:09] ghost commented on #4757
Copying (not moving). And enable OpenCL verbose (the way it works in MacOS):
* To check if the Mac is compiling the kernel in some weird folder like `/temp/cl88ddSdoui` (it used to, right?)
* Well, hope we can see something `new` in the outputs.

[2021-06-28 01:12] cintainfinita commented on #4757
Hi @claudioandre-br and @magnumripper !

I don't really know how to enable verbosity for OpenCL in MacOS. I Googled it but didn't find anything useful. If you can help on that, I can try it.

I compiled a fresh copy and now instead of moving I copied the needed files to the `run/opencl` folder. Same error.

Running John binary from different locations:

[code]

Thanks!

[2021-06-28 06:30] magnumripper commented on #4757
Right, also move the headers to `run`, not the CPU binaries to `opencl`. From a normal tree it'd be like `cd run; cp opencl/*.h .`. However, it wont solve the below:

Ah yes this sounds familiar. I fixed it at some point by starting to pass `-I /full/path/to/john/opencl` to the kernel runtime build instead of just eg. `-I opencl` but apparently that doesn't seem to kick in according to OP. Did we

[2021-06-28 06:32] magnumripper commented on #4757
I also get just `-I opencl` but it does work for me.

[2021-06-28 06:33] magnumripper commented on #4757
Looks like @solardiz broke it in 753dd9f102.

[2021-06-28 06:40] magnumripper commented on #4757
We could want to revert 753dd9f10 but change the inital ifdefs to eg, `#if __APPLE__`
[code]
Why am I not affected by these problems though? I'm not sure I ever was, using Macs since 2012 or so.

[2021-06-28 10:06] solardiz commented on #4757
Would we also avoid the issue by `chdir` to `opencl`/ and passing `-I .`? If so, I think that's the way to go, and we could do it unconditionally on all OSes.

[2021-06-28 10:32] #4759 closed, assigned to nobody

[2021-06-28 14:39] cintainfinita commented on #4757
@magnumripper I've been using John in Macs since 2008 and this is also the first time. I moved from an old iMac (2010, ATI reader Graphics Card) to this new one, and I found this error when doing the compilation process and some benchmarks. First time too, I can state that OpenCL was running OK on the old iMac. Maybe the old MacOS is doing something different?

Let me know if I can help testing an

[2021-06-28 15:02] magnumripper commented on #4757
No - as Claudio reminded us, some versions of MacOS and/or drivers will copy the kernel file (supplied as a char array IIRC) to some temporary directory. I can't see any way to fix the issue except supplying a full path to our opencl directory. Well, unless we do a `cpp` stage ourselves... that'd be a nice can of worms, LOL...

I assume this only happens with particular combos of devices and drive

[2021-06-28 15:52] ghost commented on #4757
I vote to apply (something like) this:
- Nobody is going to create and test a general solution for Windows and Mac.

[2021-06-28 17:14] cintainfinita commented on #4757
@claudioandre-br if you patch something, I can pull the code and test it in my MacOS. I can try an older version too... thanks!

[2021-06-28 23:56] magnumripper commented on #4757
@cintainfinita try using latest & greatest code, then just `git revert 753dd9f`. Then build and test and please report back.

[2021-06-29 01:21] cintainfinita commented on #4757
@magnumripper

[code]

No luck, same error:

[code]

[2021-06-29 07:38] magnumripper commented on #4757
This seems to be a different problem than the "temporary directory" one. I have no idea what is happening there. Maybe try building latest hashcat and see if you get the same problem with that?

[2021-06-29 07:45] magnumripper commented on #4757
Maybe we should actually try this here.

[2021-06-29 12:56] cintainfinita commented on #4757
Hi @magnumripper.

Look!

[code]

Looks like hashcat is "affected" too. I will see if I can find anything useful here for John.

[2021-06-29 13:16] cintainfinita commented on #4757
Update on hashcat:

1)I saw someone stating that installing hashcat using brew solved the problem. And it worked. hashcat worked.

2) sudo make install on the hashcat code. run it outside the hashcat's directory. worked!

[2021-06-30 10:28] magnumripper commented on #4757
That's odd, I can't see how/why it would matter. How did you build John? If you didn't use brew, maybe try the macOS instructions at bottom of doc/INSTALL:
[code]
If this does solve the problem, I'm *really* stumped as of why!

[2021-06-30 10:59] magnumripper commented on #4757
From what I understand in https://github.com/hashcat/hashcat/issues/2270, the key for hashcat isn't really using brew, but running "make install". That makes even less sense.

[2021-06-30 11:18] magnumripper commented on #4757
We need to test this before digging more into this - @cintainfinita try applying this patch to a clean tree (EDIT: or pull #4762):
[code]
It works just fine on my macBook (but that one didn't have problems before either). I opted to not include `-I .` on line 1149 because it really shouldn't be needed, but in case you still have problems with the above patch, try re-adding `-I .` to that line wher

[2021-06-30 11:24] magnumripper commented on #4757
@solardiz on a side note I wonder whether using `#include <opencl_device_info.h>` would work better than `#include "opencl_device_info.h"` for the original code without the above patch... I'm thinking `-I` is normally used for finding `<file.h>` whereas `"file.h"` would be looked for in current directory, right?

Anyway, in case the above patch happens to work it's probably better (safer on other

[2021-06-30 11:41] solardiz commented on #4757
I think you're right. We can try that.

[2021-06-30 13:05] cintainfinita commented on #4757
Hi all! thanks for all your efforts!

1) Tried the patch without the -I. No luck, .h still not found. Added the -I. Same error.

2) I modified the .cl, changing "test.h" with <test.h>. Same result, file not found.

To compile john, I just used ./configure and then the suggested make commands. I have openssl headers, etc.

Maybe something related to GCC?, here's my output:

[code]

So, I brew insta

[2021-06-30 13:25] magnumripper commented on #4757
It shouldn't be related at all to the host code's compiler or using brew or not. The thing we see failing is the OpenCL subsystem trying to build the kernel - and it's definitely using Apple's framework which we have little control over.

I see no way around this other than either just declaring any system behaving this way b0rken (as in not our problem) - or actually try a cpp pass ourselves. The

[2021-06-30 13:26] magnumripper commented on #4757
BTW I've been missing `strace` on macOS. Maybe there is some equivalent thing one could use to get a clue.

**EDIT:** there is `dtrace` but it's so limited by SIP it's a real hassle to use (not to mention understanding `dtrace` in the first place)

[2021-06-30 14:17] solardiz commented on #4757
In those tests, did you by any chance run hashcat as root? Maybe running it as root is what makes the difference?

[2021-06-30 14:19] solardiz commented on #4757
Did you test this with or/and without `-I`?

[2021-06-30 15:08] cintainfinita commented on #4757
With and without! both cases.

[2021-06-30 15:24] magnumripper commented on #4757
Just to verify that things can work at all, try this (from a pristine tree):

Edit `bf_kernel.cl`. Drop the line `#include "opencl_device_info.h"` line from it and instead insert the *contents* of `opencl_device_info.h` at that place.

Then get back to `run` directory and `./john -test=0 -format=bcrypt-opencl`

I guess that will work but if it doesn't, our problem may not be what it seems.

[2021-06-30 17:57] magnumripper opened #4763 ""make generic" b0rken again"
While testing for #4761 I noticed `make generic` is failing, but that PR is not the cause of it.

Ends like this:
[code]
It's unusually hard to see why.

[2021-06-30 18:21] aktech commented on #4543
Hi @claudioandre-br  I am the creator of Cirun.io, "self-hosted runners" caught my eye.

FWIW I'll share my two cents. I created a service for problems like these, which is basically running custom machines (including GPUs) in GitHub Actions: https://cirun.io/

It is used in multiple open source projects needing GPU/custom machine support like the following:

- https://github.com/pystatgen/sgkit/

[2021-06-30 18:47] magnumripper commented on #4763
This was some kind of mistake, it works fine. FWIW I did a `make -s clean` before the first try that failed, but while bisecting I had it as `make -sf Makefile.legacy clean`...

[2021-06-30 18:47] #4763 closed, assigned to nobody

[2021-06-30 19:58] ghost commented on #4543
Thanks @aktech.

I agree that it is a good option and would be economical for on-demand CI [1]. Anyway, since "we" already have on-premises hardware, I think a better approach would be to use self-hosted runners from GitHub Actions [2]. Also, I'm not sure we have funding to use a GPU on a cloud provider.

[1] Manual triggered:
[code]

[2]
https://docs.github.com/en/actions/hosting-your-own-runners

[2021-06-30 20:31] cintainfinita commented on #4757
@magnumripper haha! you rock! That worked!!!!

[code]

Ok, it is not the perfect way but this will work everywhere. This is a workaround and I will have to do this for all my files or maybe you can push an update on the main repo so a clean install will always work? What are your thoughts? Thanks!

[2021-06-30 20:46] magnumripper commented on #4757
@cintainfinita what I wrote about us doing a `cpp` pass right before compiling the kernel is more or less the same thing, but using some external tool (so not trivially portable). You simply did manually what the run-time OpenCL compiler failed to do.

As a one-off workaround, I could probably come up with a one-liner bash ninja trick for you, which would do that automagically for every kernel in

[2021-06-30 21:02] cintainfinita commented on #4757
@magnumripper Awesome! Yes, I now that the compiler works that way... hahaha.. great.. maybe that bash could be in the "tools" section or something related and some instructions in the README file... I can help testing more and finding the key problem, no worries. In the meantime, I know now (and everybody else with this issue) how to fix this if the format with opencl is needed.

Let me know what

[2021-07-01 10:00] magnumripper commented on #4757
Can you try a `make uninstall` with hashcat, and see if the problem comes back then?

[2021-07-01 11:23] magnumripper commented on #4757
Had a look at hashcat. They use quotes and no path component for all headers in their kernels, just like us. The headers and kernels reside in `OpenCL/`, much like ours.
[code]
At some point, they did a `chdir` to the OpenCL directory but it's currently disabled: Their current code doesn't `chdir` at all anymore (except for when restoring but that's unrelated). Instead they use `-I OpenCL -I "/ful

[2021-07-01 12:19] cintainfinita commented on #4757
hey @magnumripper ! yup, did that again, revert, configure, make clean, make.

The weirdest thing is related to hashcat and brew. If you install it with brew it will work well too.

As of now, the only solution is to do the compiler's job haha... manually including the ".h" within each ".cl". Hope this helps, at least, any people reaching this conversation and looking for a quick workaround to cra

[2021-07-01 12:41] magnumripper commented on #4757
Here's a crazy one-liner for you, run it in the opencl directory:
[code]

[2021-07-01 12:52] cintainfinita commented on #4757
Thanks! Did that. Just in case, I recompiled (I don't know if this step is a must, don't think so, but just in case). First test case ran well, but I believe I have some missing dependencies or something else wrong now.... Gggrrr.. let me know if this is related to this particular case or if I should Google that a bit... Thanks!

[code]

[2021-07-01 12:55] magnumripper commented on #4757
Oh, OK. I think some of the things came out in the wrong order :-(

I'll come up with a better way of doing it later, possibly actually using CPP.

[2021-07-01 12:59] cintainfinita commented on #4757
haha! no worries. yeap, maybe it was too crazy for this delicate iMac hahahaha... I'll be around if you need more testing later. Thanks!

[2021-07-01 13:09] ghost commented on #4757
Does Mac has a trick to remove its "OpenCL compiled binaries"? Are they `.bin` files inside `opencl`? This is something to watch out for when testing.

IMO, or it is something bad inside Apple drivers or in testing procedure. Seems clear JtR is doing the right thing (TM).

PS: Ok, maybe we need the REALPATH patch back.

[2021-07-02 11:32] magnumripper commented on #4757
Yes, `rm opencl/*.bin` or `make kernel-cache-clean`, but there will be nothing cached for kernels that never built successfully.

I think we should consider chdir to opencl instead of run, even though it didn't help here.

[2021-07-02 11:59] magnumripper commented on #4757
Here's next hack. CD to the opencl directory and paste this to the terminal:
[code]

[2021-07-02 12:54] cintainfinita commented on #4757
I removed everything just in case. Cloned a fresh copy of JtR. Ch'ddir to run/opencl and ran the hack. Compiled.

[code]

Worked like a charm! For all formats.

This little thread and hack will save the time of some people, I'm sure. Good workaround, not the best solution and we still don't know what is going on, but anyway, it does the job...

If you guys still want to dig further, count on me.

[2021-07-02 15:58] magnumripper commented on #4757
@solardiz before release, perhaps we should document this problem, include that little perl hack and add a make target for running it if needed, eg. `make kernel-pp`.

[2021-07-02 18:57] ghost commented on #4757
We can also move all the source kernels back to `./src`. Then, we create a process that whenever a kernel is changed in `./src` it must be pre-processed and the result moved to `./run`.

Something like what is already do with `autotools`, `config.ac` and `configure`. After that, all OpenCL code in `./run` will not have any 'pending' `#include`.

Is my proposal clear?

[2021-07-02 22:03] magnumripper commented on #4757
You mean we'd always run it? I think we shouldn't. This is a work-around for one user out of 1,000 or less.

[2021-07-02 22:22] ghost commented on #4757
In the `./run` folder, yes.

My point is, all users need a kernel (period). They don't care about includes, or formatted source code, or defines instead of raw values. Since we keep the original source code in `./src` (and do the right thing), we can deploy a pre-processed file. Why we should'nt? Why the end user or his/hers compiler should care?

[2021-07-03 14:47] magnumripper commented on #4734
@BotPass could you please verify that #4764 fixes your problems? I couldn't reproduce those warning messages (it probably only surfaces for certain sizes) but that PR should hopefully fix it.

[2021-07-03 14:55] magnumripper commented on #4629
I'll drop this idea. The current wording is correct: *For the --subsets-max-diff=N option, a negative N is parsed
as "max. length - N"*.

[2021-07-03 14:55] #4629 closed, assigned to magnumripper

[2021-07-05 17:39] solardiz commented on #4757
@cintainfinita Regarding the weirdness of hashcat working (only) once installed, in those cases do you run it by typing simply `hashcat` (relying on it being in `PATH`) or on the contrary by typing more of a path to it (something longer than a `./`)? Can you show examples?

I wonder if we can trigger the desired behavior by carefully messing with `argv[0]` from within `john`. Answers to the above

[2021-07-05 19:44] cintainfinita commented on #4757
Hi @solardiz !

By simply typing `hashcat` (after installing it) worked.

[code]

If I use "./" it fails.

[code]

[2021-07-06 13:53] #4734 closed, assigned to nobody

[2021-07-06 16:05] solardiz commented on #4757
@cintainfinita So I guess the OpenCL compiler somehow parses the program path name, perhaps taking it out of some BSD/macOS specific global variable initialized at program startup. I wonder if adding e.g. `setprogname("john");` to the beginning of our `opencl_build()` would possibly help reset whatever variable they use?

@magnumripper @claudioandre-br Reading AMD ROCm documentation (is this ROCm

[2021-07-06 18:07] BotPass commented on #4734
Way to reproduce it is a good point. It seems that just a big wordlist is not enough. But after using a wordlist with billions of lines and rules ALL I get messages like
[code]
in the "old" version I used before.

With your version and the same start arguments, the messages were gone.

Thus yes, I would say this fix it. Thank you!

[2021-07-07 10:31] magnumripper commented on #4757
I really wonder why I can't reproduce the problem (not with hashcat either). I always use relative paths.

[2021-07-07 12:40] cintainfinita commented on #4757
I've been using john on a mac since 2008. My first time with this issue was with this fresh new iMac. Maybe, a fresh OS (Big Sur?) installation did this? IDK!. Let me know if I can help.

[2021-07-07 14:26] solardiz commented on #4757
Can you please try adding `setprogname("john");` to the beginning of our `opencl_build()`?

[2021-07-08 13:33] cintainfinita commented on #4757
So I edited this on a fresh copy of John (without the "hack" or workaround):

[code]

[2021-07-08 16:42] magnumripper commented on #4757
OK so I guess the one thing left to try is to `git revert 753dd9f` for sending an absolute path with `-I`, and *also* add the `setprogname("john");` thing you just tried.

BTW you don't need to re-run `configure` after changing any `.c` file, just `make`. After only changing kernel OpenCL code you currently need neither (but in general you possibly need a kernel cache clean, eg. `make kernel-cache

[2021-07-08 17:03] solardiz commented on #4757
I'd rather find what global variable(s) macOS stores the full program pathname in, and try changing their values. `setprogname()` is intended for changing the program name only, which is originally the basename of the full path, so it's not surprising it does not(?) change the variable(s) holding the full path (although I was hoping it might do that as a side-effect).

Maybe we can also review ROC

[2021-07-08 17:06] cintainfinita commented on #4757
hi @magnumripper and @solardiz!

Did what Magnum suggested. Git revert, did the "setprogname" change, recompile, No luck, same results.

[2021-07-09 11:41] magnumripper commented on #4757
I tried this
[code]
It's "john" with no path at all even at the "Before" (I ran it as `../run/john`).

Maybe we should, but I'm not sure it resembles much of the macOS driver/runtime. They were always very different - for example they never supported any AMD extensions such as `cl_amd_media_ops` or Sayantan's use of `__attribute__((max_constant_size()))`.

BTW @cintainfinita please post the output

[2021-07-09 12:11] cintainfinita commented on #4757
@magnumripper, for sure:

[code]

[2021-07-09 13:42] solardiz commented on #4757
Of course. LIke I said, I was merely hoping `setprogname()` could as a side-effect also update the full path, in case it reuses the same code that's run at program startup. That would have been weird, though. So we need to find a separate way to update the variable(s) holding the full path.

[2021-07-09 15:05] magnumripper commented on #4757
I'm cloning https://github.com/RadeonOpenCompute/ROCm now and will grep it for clues

[2021-07-09 15:08] magnumripper commented on #4757
LOL, that wasn't a good source for code. Only PDF's and shite

[2021-07-10 16:00] tracure1337 opened #4765 "How to suppress message? If you are not interested in CUDA-aware support, then run with --mca opal_warn_on_missing_libcuda 0 to suppress this message."
I tried adding
[code]

to conf , to env vars and to the command line.

But none of them works?

What am I missing ?  Or is this message deprecated?

How can I suppress the message?

Thanks in advance.

[code]

[2021-07-10 17:06] tracure1337 opened #4766 "ssh2john doesn't throw a proper error message when ingesting ssh keys without a password"
Attach details about your OS and about john, including:
- The output of `./john --list=build-info`.
- The command line you are using.

[code]

Version: 1.9.0-jumbo-1+bleeding-2e6eba49f 2021-07-07 17:16:06 +0200
Build: linux-gnu 64-bit x86_64 AVX AC MPI + OMP
SIMD: AVX, interleaving: MD4:3 MD5:3 SHA1:1 SHA256:1 SHA512:1
System-wide exec: /usr/bin
System-wide home: /usr/share/john
Private home: ~/.j

[2021-07-10 18:00] ghost commented on #4765
I would say your build environment is broken. Or perhaps that you copied the binaries from another machine.

Your OS is telling you that it can't find CUDA libraries:

[code]
* Can you please let us know what exactly is going on;
* Did you run the build? Do you have a GPU? Have you copied the binaries from another machine? Package from a distro?

Is the message appearing what bothers you? If so, r

[2021-07-10 18:11] ghost commented on #4766
Is it an empty, no passphrase file [as in `Enter passphrase (empty for no passphrase):`] ? If so, I can reproduce.

If not, please, post it (a sample file).
*****

Note to us: I don't remember if it is a known bug.

[2021-07-10 18:56] tracure1337 commented on #4766
no passphrase, but not empty.

Hope that works. added the \n

[code]

[2021-07-10 18:58] tracure1337 commented on #4766
To be honest I do not remember why I generated it. I made sure it's nowhere in use.

I was just curious and stumbled upon the issue.

[2021-07-10 19:02] tracure1337 commented on #4765
I have installed it from the AUR package.

All I want is to suppress the message since I like it clean :)

opencl is working great with my AMD GPU so CUDA isn't needed anywhere.

I just wasn't sure if that is deprecated message or a bug. I tried to find the answer on how to suppress the message for quite a bit but I wasn't successful.

Thank you for taking the time to reply.

I understand now that

[2021-07-10 19:19] ghost commented on #4765
**Not really**. You need OpenCL for AMD.

The real problem is the OpenCL library used for packaging.
* CUDA libraries are not mandatory for john to work properly, the package binary can't (or more polite, shouldn't) complain.

We can't help and I will close the issue. (Of course, you can install CUDA, but you shouldn't).

[2021-07-11 11:37] solardiz commented on #4765
@anthraxx You might want to take a look at this issue, which is likely Arch specific. Thanks!

[2021-07-11 11:56] tracure1337 commented on #4765
Understood, thanks.

[2021-07-11 11:56] #4765 closed, assigned to nobody

[2021-07-11 12:00] tracure1337 commented on #4766
Could it be that I am just logically wrong here, since the SSH key has no password set John throws an exception
of
[code]
because of that?

Maybe a error message like below would make more sense and that answers my question already?
[code]

[2021-07-11 16:12] ghost commented on #4766
Yes.

I have not found any open issues that report this error. So could you change the issue title/description accordingly? Thanks.

[2021-07-11 16:59] exploide commented on #4766
I conducted a PR that fixes this. #4767

[2021-07-12 18:50] #4766 closed, assigned to nobody

[2021-07-15 08:24] acalatrava commented on #4242
How can I get the hash from an encrypted volume on windows?

[2021-07-15 10:39] Hollerith98T opened #4768 "Zip2john empty output"
When I call the "zip2john" command on the attached zip file, the result is always an empty text file.

I tried using the latest version of John The Ripper but also trying others, the result doesn't change.

If I call the same command on other zip files I can easily get the hash.

I kindly ask for your opinion.

About build-info:
Version: 1.9.0-jumbo-1
Build: cygwin 64-bit x86_64 AVX2 AC OMP
SIMD:

[2021-07-15 13:25] ghost commented on #4768
The good news is that it is fixed in latest bleeding code (you are using the latest released john):

[code]

[demo-hash.txt](https://github.com/openwall/john/files/6823342/demo-hash.txt)

John can then load and, eventually, crack it (do you know the password so we can test it?) :

[code]

[2021-07-15 13:36] ghost commented on #4768
BTW: there is a link to download the latest development build from this repo, at the main page. So, you can test it yourself.

![image](https://user-images.githubusercontent.com/1702923/125797087-2f3e8011-fb4e-4ebe-bc0b-34ecc12709fa.png)

[2021-07-15 13:36] #4768 closed, assigned to nobody

[2021-07-15 13:44] ghost commented on #4242
Although this a support request, we in fact, are not sure everything works as expected in BestCrypt format. So,have you tried:

* `bestcrypt2john.py` AND/OR
* `bestcryptve2john.py`

If you don't know how to do it, please post at john-users.

Googling, I found, e.g., this https://miloserdov.org/?p=5008. Could be useful for you.

[2021-07-15 16:40] acalatrava commented on #4242
Thank you! I’ll give it a try.
Also, is it possible to use GPU for this or that’s not implemented?

[2021-07-15 16:48] ghost commented on #4242
It seems it is not implemented:

[code]

[2021-07-16 05:08] its5Q opened #4769 "Mismatch of bcrypt salt revisions between input and potfile"
- The output of `./john --list=build-info`.
[code]
- The problem
With bcrypt format, there is a mismatch between the input hash and the hash written in the potfile. Running this command: `john --format=bcrypt --wordlist="wordlist.txt" --pot="potfile.txt" "hashes.txt"`, where the contents of `hashes.txt` is `$2y$10$SVO91fOz/flQ2ZeHrKPnyu2qRKJlCFhDCnwW0ReCQWkWg7SgvJjb.` gives the following output in

[2021-07-16 12:51] ghost commented on #4769
This is not a problem in itself (unifying when saving in `.pot` file). In fact, it's on purpose, see https://github.com/openwall/john/commit/d3998824d5538c8a3e46c7494d891df6a9dca5a1.

If you are having problems using bcrypt format, please, specify it in more detail.

[2021-07-16 13:01] solardiz commented on #4769
Hi @its5Q. @claudioandre-br is correct - this is a feature, not a bug. We can see how this can be confusing, but the alternative was differently confusing and problematic. It's with several hash types (not only bcrypt) that we have to perform some unification (or in some cases even splitting the hashes in half, such as for LM and bigcrypt) when storing them in `john.pot` to avoid other subtle issu

[2021-07-16 13:01] #4769 closed, assigned to nobody

[2021-07-17 16:09] anthraxx commented on #4765
@solardiz the AUR is the arch *user* repository where all users can just upload and write build instructions for other users, thats not inside the official arch domain I could take care of :cat:

The official Arch package doesn't seem to have this issue but is unfortunately still 1.9.0 *nudge nudge*

[2021-07-19 13:16] frank-dittrich commented on #3814
FWIW, in several cases the corresponding generic formats are faster, e.g.
[code]

Here, just the "Only one salt" version is faster:
[code]
So, there must be room for optimization.

(Tested on a Linux system with an Intel(R) Core(TM) i7-8650U CPU @ 1.90GHz CPU)

[2021-07-20 11:14] jamieduk opened #4771 "A question about remote tasking windows via linux"
Hi great job i love it, currently im running linux web server and wonder how much faster it would be on windows as thats where the gpu is, is there a way i can task the windows side to crack it on behalf of a linux web server using apache2 and php 7.2 ?

[2021-07-20 21:32] solardiz commented on #4771
Hi @jamieduk. We appreciate your appreciation, but we currently use GitHub issues to track literal issues with the project, not to provide user support. Please feel free to join the john-users mailing list (see instructions on John the Ripper homepage) and post the question in there. If/when you do that, you'll also need to provide more detail on what you have and what you're trying to do. Thanks.

[2021-07-20 21:32] #4771 closed, assigned to nobody

[2021-07-20 22:05] tracure1337 commented on #4766
Excellent. Thanks so much. I fixed the title too.

[2021-07-24 09:26] f0rizen opened #4774 "Can I run john with `john` command?"
### How can I run john with `john` (not /full/path/john)?

I use:
- OS: Fedora Workstation 34
- Shell: zsh 5.8

I tried:
`$ sudo cp ~/tools/john/run/john /usr/bin`
`$ john`
`Error: Cannot find John home. Invoke the program via full or relative pathname.`
`For example, /full/path/john or path/john, or set and use a shell alias.`

Build information:
`Version: 1.9.0-jumbo-1+bleeding-e791b84e0 2021-07

[2021-07-24 14:18] f0rizen commented on #4774
So, can I do it without aliasing john to /usr/bin/john? (like `alias john='/usr/bin/john'`)

[2021-07-24 15:08] ghost commented on #4774
Thank you for participating.

Yes, you can. From doc/install:
[code]

I can think of other ways to achieve this without a system-wide build, using your OS skills.  Anyway, the GitHub issues are primarily to keep track of bugs or other shortcomings of our software, and fix those. It is not to help individual users with their specific tasks. To receive user support from the community, please use the

[2021-07-24 15:08] #4774 closed, assigned to nobody

[2021-07-24 15:12] f0rizen commented on #4774
Thanks a lot!

[2021-07-24 15:13] solardiz commented on #4774
I typed the below before Claudio's comment above appeared. I am posting this anyway as I think Claudio's comment doesn't make it sufficiently clear that installing `john` system-wide without being a distro is _really_ not something you should do.

Our use of GitHub issues is to track literal issues with the project, not to provide user support. There's the john-users mailing list for the latter. T

[2021-07-26 09:34] resteex0 opened #4775 "error while using --format=raw-sha256 flag"
john --format=raw-sha256 --wordlist=/home/go/ww.mnf.txt hash.txt                                                                                              4 ⚙

Using default input encoding: UTF-8
Loaded 1 password hash (Raw-SHA256 [SHA256 128/128 SSE2 4x])
No password hashes left to crack (see FAQ)

[2021-07-26 09:48] ghost commented on #4775
Looks like you cracked all hashes.

John loads a hash and it was cracked. You can use the `--show` option to confirm this.

[2021-07-26 21:03] #4775 closed, assigned to nobody

[2021-07-27 04:42] CSCheng1 opened #4776 "Newbie - Opening single file"
hi, all

i am a very new user.
i tried to open a password zip file containing multiple password protected files.

after running "zip2john.exe" to the file, here is the result i got:
   ver 2.0 Document.zip/Allison 2008.pdf PKZIP Encr: cmplen=209845, decmplen=224352, crc=F4CFB701
   ver 2.0 Document.zip/Banerjee et al 1999.pdf PKZIP Encr: cmplen=1163508, decmplen=1233575, crc=5790C486
   ver 2.0 Do

[2021-07-27 08:37] magnumripper commented on #4776
This is not a support forum, but anyway the answer was right in front of you, in the text "*use option -o to pick a file at a time*". As always, quotes are needed for file names with spaces. For example:
[code]

BTW be sure to use the latest zip2john (from here) - it had important updates since the 1.9.0-jumbo-1 release.

[2021-07-27 08:37] #4776 closed, assigned to nobody

[2021-07-27 08:54] magnumripper commented on #4765
The messages come from MPI, not john. Our current code doesn't try to dlopen `libcuda`. It does try to dlopen `libnvidia-ml.so` though, and perhaps that lib in turn tries to open `libcuda`.

Not sure why your MPI environment puts up warning like that but to suppress it you could try `mpirun --mca opal_warn_on_missing_libcuda 0 ./john (...)`

Are you sure you really need MPI at all though? If you d

[2021-08-02 19:37] xjeanlucpicardx commented on #4757
installed john on os x 10.15.7 using `git clone https://github.com/openwall/john.git` and then in john/src `./configure && make -sj4`

running `./john -test=0 -format=dmg-opencl` in john/run resulted in

[code]

read the above thread and:

1. created bugpp.pl in run/opencl

[code]

2. ran `for i in *.cl; do perl bugpp.pl $i >x && mv x $i ; done`

running `./john -test=0 -format=dmg-opencl` now res

[2021-08-02 21:26] ghost commented on #4757
This is probably a bug in the Mac OpenCL driver (even a bug in the `dmg-opencl` format itself). The "not found" issue is gone.

Google says `Abort trap: 6` is probably related to memory issues (which reinforces the bug in the driver). Can you test other formats to check if the workaround `2.` worked fine? Then, if you think the format has a problem, could you please try to get more information abo

[2021-08-03 01:11] xjeanlucpicardx commented on #4757
here's the results of `gdb john`, then at the gdb prompt `run -test=0 -format=dmg-opencl`

[code]

in regards to testing other formats `./john -test=0` results in:

[code]

[2021-08-04 07:17] mpgn opened #4777 "Cracking not working with DPAPImk, DPAPI masterkey file v1 and v2"
Hello,

When trying to crack DPAPI hash, no password is found while I provide the good password.

[code]

At first I was thinking it was related to my  masterkey file so I tried to crack the example hash:

https://github.com/jagotu/JohnTheRipper/blob/abf2fb3d0446844de498e805708613c7de575334/src/dpapimk_fmt_plug.c#L99

[code]

No hash is cracked using john.

Here is my masterkey file :
[fc4691a6-29

[2021-08-04 09:35] exploide commented on #4777
Unintuitively, the `--wordlist` option takes an optional argument. And `--wordlist pass` is like `--wordlist` and defaults to the default wordlist. If you want to use your own list you need an `=` sign as in `john --wordlist=pass hash`.

[2021-08-04 11:12] mpgn commented on #4777
AH f**ck, what a stupid mistake ;'(

Sorry !

[2021-08-04 11:12] #4777 closed, assigned to nobody

[2021-08-04 22:17] #4638 closed, assigned to nobody

[2021-08-04 22:22] klensy opened #4779 "Prince mode silently skips passwords if password length over current `--max-length`"
### Checklist ###
- [x] :1st_place_medal: I've read and understood these instrucions(`<---- btw, here a typo`);
  - This is not a support forum, it's a bug tracker. For questions and support, review postings on the [john-users mailing list](https://www.openwall.com/lists/john-users/).
- [x] :thumbsup: I've tested using latest bleeding version from this repository.
  - Be clear about your environme

[2021-08-04 22:51] ghost commented on #4779
It is not (using the same wordlist).
[code]

Well, as I provide the `--max-length` and the wordlist, I don't miss the warning. It does not appear to be of general interest and may degrade performance. So please be patient to get an answer from Magnum or Solar.

[2021-08-04 22:56] klensy commented on #4779
Isn't this should be cheap?
[code]

[2021-08-04 23:09] ghost commented on #4779
For prince? Lets talk about prince + mask or prince + rules or both?

[code]
[code]

For wordlist mode, think about RockYou: it is a list containing billions of items.

[2021-08-04 23:17] klensy commented on #4779
First password from rockyou.txt(`123456` in mine) already be over max-len==5.
Actually, it can be not `max_word_length_from_wordlist` but `any_word_length_from_wordlist`.

[2021-08-06 14:04] magnumripper commented on #4779
IMHO this is not an issue, the option works as designed and as documented.

[2021-08-06 16:09] junhua007 opened #4780 "*** ERROR: DeriveKey() entered Limbo. when decrypt an Excel 2007 hash"
### Checklist ###
- [x] :1st_place_medal: I've read and understood these instrucions;
  - This is not a support forum, it's a bug tracker. For questions and support, review postings on the [john-users mailing list](https://www.openwall.com/lists/john-users/).
- [x] :thumbsup: I've tested using latest bleeding version from this repository.
  - Be clear about your environment and what you are doing.

[2021-08-06 17:48] ghost commented on #4780
Thanks for reporting. Your document is not currently supported.

Not sure if magnum needs an example to fix this. We will reply to you sooner or later.

git blames:
[code]

[2021-08-08 01:45] NetworkJack2 commented on #3572
seems to be an issue again with ROCM 4.3.0

[2021-08-08 14:29] magnumripper commented on #4780
I will likely need a sample excel file that triggers the problem in order to have a chance fixing this. If you could send the file to me in private email I'll treat it with discretion.

[2021-08-08 14:35] magnumripper commented on #4780
I take that back (for a while). I think I have a rough idea what is missing, will try tomorrow with the supplied samples. Again, thank you for reporting!

[2021-08-08 14:43] magnumripper commented on #3572
Several disparate problems were discussed above: What exact issue are you seeing?

[2021-08-08 14:44] magnumripper commented on #3572
For the record, current code has this in `opencl_misc.h`:
[code]

[2021-08-08 15:07] NetworkJack2 commented on #3572
Just to clarify: Exact issue I am having and solution works.

Also clarifying it looks like you already got it. Thank you all!

edit: It might be worthwhile releasing a version 1.8.1 with bugfixes. Just a suggestion.

[2021-08-08 18:20] magnumripper commented on #3572
Yes (although it'd be 1.9.1 or possibly bumpin' major), and we are... we're just really slow about it 😆

Oh, and thanks for following up

[2021-08-09 16:31] asaidac opened #4781 "Nvidia busy-wait workaround"
Hello,

Not sure if the JtR is still maintained - but I'll try anyway.
I have a headless 4 GPUs rig, with a 4 physical cores CPU

Using OpenCL "-dev=1,2,3,4" where -dev are the GPU's assigned numbers by JtR.
The GPU is working well - the problem is the CPU.

During the run all 4 cores are loaded to cca. 100%.
I know that part of the job is done by CPU - but not a that kind of load.

I am suspectin

[2021-08-09 16:45] magnumripper commented on #4780
Fixed in #4782

[2021-08-09 16:49] ghost commented on #4781
If you are using NVIDIA (it seems to be the case), this is a known issue (examples):
- https://forums.developer.nvidia.com/t/opencl-busy-wait-still-not-fixed/46441
- https://github.com/openmm/openmm/issues/1541

BTW: the workaround looks ugly.

[2021-08-09 16:54] ghost commented on #4781
@solardiz this sounds bad:

We are old and tired but not dead.
****
BTW: I think we will close the issue shortly, it is known and it is "by design" (?) from NVIDIA itself.

[2021-08-09 16:58] magnumripper commented on #4123
I'm closing this - it was an interesting idea but not worth the effort (unless I find myself in need of it at some point ^^)

[2021-08-09 16:58] #4123 closed, assigned to magnumripper

[2021-08-09 17:28] asaidac commented on #4781
Hello
I know about Nvidia OpenCL problem.
My question - if JtR is still maintained - is why not moving to CUDA (since
currently OpenCL is deprecated.)
BTW there is a piece of code that can even fix the OpenCL problem if anyone
cares about it

On Mon, Aug 9, 2021, 12:49 Claudio André ***@***.***> wrote:

[2021-08-09 17:31] asaidac commented on #4781
Note: in one of the filed bugs - OpenCL will take over one core at 100%

In my case I have 4 cores ALL at 100%

On Mon, Aug 9, 2021, 12:49 Claudio André ***@***.***> wrote:

[2021-08-09 17:52] magnumripper commented on #4781
If you are willing to spend a couple thousand hours coding CUDA for us, you are very welcome to do so! 😉
We had CUDA along with OpenCL years ago but since CUDA is proprietary and we lacked volunteers we ended up with OpenCL only. Not sure why you say it's deprecated?

I might experiment with that some time. I never cared a lot though.

Sure, one per GPU. It's stupid but it's not the end of the wor

[2021-08-09 17:52] ghost commented on #4781
- Is there a fix or a workaround?
- CUDA was removed from JtR years ago.
- And JtR is maintained. And it is still used by many people.

Here you can find a discussion about the toptic.
- https://www.openwall.com/lists/john-dev/2012/05/16/12

[2021-08-09 19:30] asaidac commented on #4781
In my car using 4 cores at 100% = 4x 35w = 12oW => 2.88 KW / 24h
In a long run usually 8 days that is cca 24 KW WAISTED energy + the power
required by GPUs

So, if the development for JtR is closed, I need to find another solution
since JTR is too expensive to run.

Do you know who should I contact on the development team?

On Mon, Aug 9, 2021 at 1:52 PM magnum ***@***.***> wrote:

[2021-08-09 19:46] ghost commented on #4781
Solar is going to complain, but that is too much.

Are you asking magnum this question? Is that is a joke? A Millennial(ness)? If you need paid support you can contact Openwall. 3rd line below.

[code]

[2021-08-09 19:52] ghost commented on #4781
Just to reinforce (9 year ago, john-dev, the complain is about CUDA):
1.
[code]
2. We found that:
[code]
3. A workaround might:
[code]
Something we prefer to avoid.

[2021-08-09 20:03] solardiz commented on #4781
Hi @asaidac. John the Ripper _is_ maintained. The fact that we might not fix this one issue doesn't mean the project as a whole is unmaintained. You don't need to contact anyone in particular - you've already contacted us here.

As to fixing this issue, ideally NVIDIA would. As we're currently aware, we can only do one of these things:

0. Do nothing, leave everything as-is.
1. Implement a workaro

[2021-08-09 20:17] solardiz commented on #4781
I guess you can also lower that by forcing those cores into a lower power state (lower clock rate). Something like `cpupower frequency-set -g powersave` (requires certain kernel modules loaded), or in several other ways. See e.g. https://wiki.archlinux.org/title/CPU_frequency_scaling

Of course, ideally the issue wouldn't exist in NVIDIA OpenCL, or would be worked around in JtR, so I am not postin

[2021-08-09 20:31] solardiz commented on #4779
I think this is the intended behavior, and one I would expect. I don't know whether/what we should/can reasonably do to address other expectations. Doing this for PRINCE mode only would possibly only make things worse, by creating expectations that if one mode detects this, all others would too. Also, pre-scanning the wordlist isn't cheap, and again only doing it when the wordlist is tiny or only

[2021-08-09 22:59] #4731 closed, assigned to magnumripper

[2021-08-09 22:59] #4780 closed, assigned to magnumripper

[2021-08-10 12:07] #4779 closed, assigned to nobody

[2021-08-10 12:18] magnumripper commented on #4781
I hear you and fixing this, in any way, would be "timely" and better for our battered environment. The best (and easiest, and most effective for the world) would be for Nvidia to fix their shit.

I wasn't aware of such dual-use kernels, that's conceptually very interesting. But it only solves kernel side - I think hashcat has a whole lot more shared code for formats whereas we'd need to write full

[2021-08-10 12:29] magnumripper commented on #4363
https://github.com/openwall/john/issues/4781#issuecomment-895980613:

This adds a new dimension to adding helper functions.

[2021-08-10 12:44] asaidac commented on #4781
Hello
I consider this issue closed -
I implement a solution that will alleviate the problem I WAS experienced.

Since the CPU creates spin cycles / no actual work being done, and the fact
the CPU will support OpenCL I've added the CPU to the device list

Node numbers 1-5 of 5 (fork)
Device 4: GeForce GTX 1080 Ti
*Device 5: pthread-Intel(R) Core(TM) i5-4440 CPU @ 3.10GHz*
Device 3: GeForce GTX 1660

[2021-08-10 12:48] magnumripper commented on #4781
OK I'm closing this, but we still have #4363 for possibly doing something about it.

[2021-08-10 12:48] #4781 closed, assigned to nobody

[2021-08-10 13:10] magnumripper commented on #4503
Take 2
[code]
Edit: The above is now #4786

[2021-08-10 13:33] magnumripper commented on #4242
Ummm I guess this issue is open because I should add OpenCL support for this format (for good or bad, per discussion above). Assigning to me.

[2021-08-13 09:43] magnumripper commented on #4496
I just now opened a PR with our fix upstream, closing this

https://github.com/philsmd/7z2hashcat/pull/32

[2021-08-13 09:43] #4496 closed, assigned to nobody

[2021-08-19 09:02] #4503 closed, assigned to magnumripper

[2021-08-19 22:53] magnumripper opened #4789 "Clean up doc/EXTERNAL"
I think we should drop the many references to ancient John or Jumbo versions, and simply describe the current Jumbo version.

[2021-08-20 17:02] ghost opened #4790 "clang 12 compilation warning"
I'm not sure this is really important for the compiler's work. In fact, it seems the compiler has all information it needs:

Anyway, documenting that clang version 12.0.1 (`git@github.com:llvm/llvm-project.git llvmorg-12.0.1-0-gfed41342a82f)` prefers `# define` over `const var`.

[code]

[2021-08-27 13:37] rom1sqr opened #4791 "FORMAT_TAG for oracle11 hash format"
oracle and oracle12c have a FORMAT_TAG, but oracle11 does not.
it's pretty common to dump hashes for several versions at a time into
the same file, and the autodetect works for the two first ones, but for
the latter, you need to run john with a mandatory --format=oracle11
separately (a bit of a pain).

i'm currently working on a pull request to add that feature to the oracle11
format source code.

[2021-08-28 13:12] ghost commented on #4791
Thanks for working on this.

I can't think of anything. Well, please take a look at https://github.com/openwall/john/blob/bleeding-jumbo/CONTRIBUTING.md

[2021-08-30 15:05] rom1sqr commented on #4791
Ok! You'll find it there: #4792

[2021-08-30 15:36] magnumripper commented on #4791
It autodetects for me
[code]
Did I misunderstand what you are saying?

[2021-08-31 17:13] magnumripper commented on #4517
I tried to follow Jim's code for regen lost salts. The canonical way to do it would be to synthesize all salts at load time, resulting in a perfectly normal database, identical to what we'd get if we had simply generated an input file with all salts for each hash instead of relying on this feature. For this test case, it would say "20 password hashes with 10 different salts (2.0x same-salt boost)"

[2021-08-31 17:25] magnumripper commented on #4517
This copying does make sense in that if a hash gets cracked, it's removed from all salts. So if we loaded two hashes in this case it'd start saying "Loaded 20 password hashes with 10 different salts" but after just one of them is cracked there will be "Remaining 10 password hashes with 10 different salts".

On a side note we could change those messages when this feature is active, so they'd say so

[2021-08-31 19:20] magnumripper commented on #4791
As discussed in #4792, some ways of extracting hashes will produce lower-case hex hashes, which was probably the original problem. The format tag itself didn't solve the original problem but has other advantages.

[2021-08-31 21:49] magnumripper commented on #4517
I think I nailed it. PR in #4795. That pointer-copying was actually a good idea, but a fixup was needed for the case where *the first* binary in the list was removed by a successful guess. This bug must have been present since day 1 of the feature.

[2021-08-31 22:01] magnumripper commented on #4517
Here's the new Loaded/Remaining output (running with `ShowSaltProgress = Y` and `ShowRemainOnStatus = Y`):
[code]
A correct salt-boost figure is shown, and the wording (IMHO) is better for this special feature: We only have 2 hashes, not 20, but each of them have 10 possible salts.

[2021-09-01 08:44] #4791 closed, assigned to nobody

[2021-09-01 08:45] #4789 closed, assigned to nobody

[2021-09-02 01:04] kost123 opened #4796 "OpenCL support for Multibit format"
I would like to request OpenCL support for the multibit format including $multibit$3

Hc already has this implemented however they are lacking $multibit$3 support.

[2021-09-03 00:12] LLKoder opened #4797 "JtR was failed by KeePass-opencl"
This test do not break JtR and tests are continued. All tests before and after are done except #4798.
I tested at two PCs and two video cards.

[code]

[code]

[code]

[code]

[2021-09-03 00:12] LLKoder opened #4798 "JtR was broken by pgpdisk-opencl"
When JtR go down to this test it break and do not continue tests. All tests before are done except #4797.

[code]

It seem this message appear in syslog after this test was fault:
[code]

However:
[code]

[code]

[2021-09-03 08:53] magnumripper commented on #4798
This indicates you're running the old release version. You need to run the latest version from here in order to report bugs here. Please try with that and report back

[2021-09-03 08:55] magnumripper commented on #4797
This indicates you're running the old release version. You need to run the latest version from here in order to report bugs here. Please try with that and report back

[2021-09-03 12:00] Anynomouss opened #4799 "electrum2john.py - Add new seed_versions"
Using the electrum2john.py script to extract a hash from an Electrum wallet, seed version 18.
The scripts outputs an error because of line 133
[code]

I out-commented this line for now to get a hash, hoping that the newer seed version 18, is the same as older versions, "wallet_type": "standard".
I assume this is correct and that newer versions have the same behavior as seed versions 11, 12, 13.
If

[2021-09-04 02:06] LLKoder commented on #4798
I got the last published release from [here](https://github.com/openwall/john/releases) or from site. But now I get the last code from the branch.

All ok.

All tests are done.

[2021-09-04 02:06] #4798 closed, assigned to nobody

[2021-09-04 02:07] LLKoder commented on #4797
I got the last published release from here or from site. But now I get the last code from the branch.

All ok.

All tests are done.

[2021-09-04 02:07] #4797 closed, assigned to nobody

[2021-09-06 16:31] solardiz commented on #4799
This is duplicate of #4556, where we didn't make progress because the original reporter stopped communicating.

@Anynomouss Did your suggested change make things work for you? Were you able to recover a (test) passphrase for a new wallet version like that?

[2021-09-06 16:38] solardiz commented on #4796
We could have high speeds for `$multibit$1` (with on-device mask mode), but there's little demand for it.

`$multibit$3` is scrypt, as I understand typically at 16 MiB, where (some) GPUs would perform only moderately better than CPUs. We don't yet have scrypt in OpenCL in the tree - we'd need to add that first.

@kost123 You want to work on any of this?

Isn't this it? -

[code]

[2021-09-06 19:57] Anynomouss commented on #4799
I will report back in 1-2 days. Test wallet created but both CPU and GPU are busy at the moment.

[2021-09-06 22:33] magnumripper commented on #4796
Doesn't appear so (although scrypt) from their corresponding example hash:

Hash-Mode | Hash-Name | Example
-- | -- | --
22700 | MultiBit HD (scrypt) | `$multibit$2*2e311aa2cc5ec99f7073cacc8a2d1938*e3ad782e7f92d66a3cdfaec43a46be29*5d1cabd4f4a50ba125f88c47027fff9b` |

[2021-09-06 23:58] magnumripper commented on #4517
[code]

[2021-09-07 05:17] kost123 commented on #4796
Id say there is fair demand for $multibit$1 but currently everybody is content with hc version, if we could increase the speeds that would be nice.

Id say the demand is primarily on multibit wallet files though as neither hc nor john has openCL support. Mode 22700 on hc is very similar but not the same, under my testing I am getting 50H/s on CPU and 4000 on gpu(3090). With MultiBit HD($multibit$2

[2021-09-08 11:44] magnumripper opened #4802 "Update formats.h description of clear_keys()"
As discussed in https://github.com/openwall/john/pull/4793#issuecomment-913760246

Jumbo guarantees that `clear_keys()` is called before `set_key(0)` and many (?) of its formats rely on that.

[2021-09-08 17:21] solardiz commented on #4796
FWIW, looking at the code in JtR, I'd expect 50 to 150 c/s per CPU core (varying mostly by RAM speed).

[2021-09-08 18:14] Anynomouss commented on #4799
Tested the fix with a test wallet of a recent Electrum version. The script did create an output hash. Unfortunately the resulting hash does not work with hashcat, so not sure if the fix works and the problem is with hashcat or that the output is wrong.
In hashcat I get a 'Token length exception', meaning additional logic might be needed to deal with v3 and v4 Electrum wallet. I expect it to work f

[2021-09-09 17:49] magnumripper commented on #4799
Could you please test the same samples with JtR, or simply post them here?

[2021-09-09 18:07] #4517 closed, assigned to magnumripper, jfoug

[2021-09-10 09:56] Anynomouss commented on #4799
Positively impressed, JtR cracked the hash of the test wallet like a boss! For certain I will start using JtR more often.
So yes, the suggested change of line 133 does fix the extract script making it work for newer versions of Electrum. Hashcat needs some work and change the accepted length of the hash, I will inform them after the update has been merged and added to the latest release

For testi

[2021-09-10 14:55] magnumripper commented on #4799
I think you reversed the logic there, for what you meant it should be `if wallet.get("seed_version") < 11`.

[2021-09-10 15:11] #4802 closed, assigned to magnumripper

[2021-09-10 15:30] Anynomouss commented on #4799
Sorry, yes it should be any version lower than 11 as you mentioned.

[2021-09-10 15:32] magnumripper commented on #3842
The gcc-generated list lacks a number of entries, such as `os-autoconf.h`
[code]
This is because things like this will be parsed:
[code]
That's not how `plugin_deps.pl` does it - it will ignore the `#if ... #else` and include everything (both sides). The gcc way is better, in that for example a non-OpenCL (re)build will ignore changed OpenCL source files.

[2021-09-10 16:37] ghost commented on #4790
To avoid adding more issues, I'll amend to this one:

CygWin upgraded from gcc 10.2.0 to gcc 11.2.0. Well, the result is a nightmare of warnings. See also #4637.

[2021-09-11 10:36] magnumripper opened #4804 "Add cryptoSafe format"
https://www.openwall.com/lists/john-users/2021/09/03/3
https://github.com/Anubis901/SafeCrypto

Test vector (password "foobar"):
RJ+YWtuyOoLnnOpOdmj43+hwO5cquMsSO3f/OiQfINofM+c0JVbIyUTQg3St+1Ue09QiZKlNnCAmlPHq2wuI31QoZQ/KNKZT/VMLd3qYbkOv873HT4wsYeavSwOqrdVdxpEimkqgdDkGP7XHfeFUCv6+jXFZioiR8jYrgxA8fDQQ5C+YReuvfiqLGaVrC9ih58X8Q7NLxAlQTGSQvHgsZI6DNfAsXw3Zt++fIJh9bdLzHDEBF/pLp47zj132UOYr6TuufnnA+HeUISd

[2021-09-12 16:06] #4804 closed, assigned to magnumripper

[2021-09-12 16:14] magnumripper commented on #4799
@solardiz should I commit that, or should we be a bit less promiscuous about `seed_version`? I have no firm opinion and didn't read any code at all but apparently it went from 13 to 18 without any change needed.

[2021-09-12 18:38] solardiz commented on #4799
@magnumripper I also have no firm opinion here - each approach has its pros and cons. However, since we need to make a change now, a reasonable change is to make this code promiscuous rather than to introduce an arbitrary version check that is likely to end up being too strict.

[2021-09-15 11:26] privwolf opened #4806 "pfSense/OPNsense user hash extract script"
Hello,
I would like to create a pfSense/OPNsense hash extract script PR

[2021-09-15 12:39] ghost commented on #4806
Good. JtR developers encourage you to contribute.

- Get some tips at https://github.com/openwall/john/blob/bleeding-jumbo/CONTRIBUTING.md.
- Take a look at the source code for other 2john tools (examples).
- If you choose Python, please make it compatible with 3.x versions.

Once you have a tool that works, post a draft PR and ask for guidance in the review process.

[2021-09-16 10:02] magnumripper commented on #4031
Trying to grok this now. Here's our current (non-SIMD) CPU code:
[code]
`KEY_LENGTH()` can be 16..32 so the `pwd_ver[64]` is unnecessarily twice the needed size with the code as-is. But anyway:

Last two arguments to `pbkdf2_sha1()` are `out_len, skip_bytes`.

[Edited]
Given a `KEY_LENGTH()` of 32, we first do a PBKDF2 for 2 bytes  with `skip_bytes` set to 64. Given 20-byte blocks this means we sk

[2021-09-16 10:31] magnumripper commented on #4031
No I didn't, will edit.

[2021-09-16 12:09] ihsinme opened #4810 "Consistently check return value from fseek()/lseek(), such as by using a wrapper"
I have tracked 13 places where you are not using this wrapper.
https://github.com/openwall/john/blob/6dca7c39c56fbf7463de2ef6690ec557b2b51d6e/src/zip2john.c#L160
I think it is quite simple and safer than a direct call to `fseek`

[2021-09-16 12:16] magnumripper commented on #4810
I presume you mean we should move it to some shared location and use it all through JtR?

[2021-09-16 12:28] magnumripper commented on #4031
Unintuitively (to me) I ~only see a 1.5% boost~ can't reliably see *any* boost from re-using that first block. That's with non-SIMD, non-OMP CPU code.
[code]

[2021-09-16 12:31] ihsinme commented on #4810
sorry i don't understand what JtR is.
I just noticed that you have a wrapper function with `fseek` error checking, but there are also simple `fseek` calls.
I think it will be better if all calls are processed correctly.

[2021-09-16 14:04] solardiz commented on #4806
This is taken care of in #4807. Thank you for the contribution, @privwolf!

[2021-09-16 14:04] #4806 closed, assigned to nobody

[2021-09-16 14:10] magnumripper commented on #4031
The boost seem to be more noticable using SIMD and OpenMP (I'll do OpenCL as well).

@solardiz the approach I used above is slightly wasteful with needed buffers, it's `unsigned char pwd_ver[4 * SHA1_SIZE];` although it never actually fills all of it: It could be `3 * SHA1_SIZE` if I add a little more complexity, or even `2 * SHA1_SIZE` with even less readable code. Not hard to write but a real me

[2021-09-16 14:13] solardiz commented on #4810
We have many calls to `fseek` and `lseek`. Some of those (I think including all that come from core) check/use the return value. However, many don't.

Now that I grep for this, it looks like in case of `lseek` we currently always check/use its return value when we call it directly, except for its use in the `jtr_fseek64` macro. In uses of that macro, we currently usually ignore the return value.

[2021-09-17 19:07] solardiz commented on #4031
@magnumripper Thank you for working on this. I don't currently have an opinion on the approach to take. We got the new hashcat's speeds as reference of what's possible to achieve, so ideally we'd use whatever achieves similar or better speeds. There was also the issue with unexpectedly not-high-enough GPU utilization, as seen from my comparison against e.g. md5crypt-opencl above - perhaps this sho

[2021-09-19 09:01] ihsinme commented on #4810
indeed, you have a lot of places with checks.
but I paid attention to these 13 places.

https://github.com/openwall/john/blob/8585c3f605521478c629d4a87ba4b67c34038a3e/src/base64_convert.c#L1086
https://github.com/openwall/john/blob/8585c3f605521478c629d4a87ba4b67c34038a3e/src/base64_convert.c#L1088

https://github.com/openwall/john/blob/6dca7c39c56fbf7463de2ef6690ec557b2b51d6e/src/keepass2john.c#L

[2021-09-19 14:32] magnumripper commented on #4031
I've done a lot work with the GPU format the last couple of days:
- The "never recalculate" thing. Should be at least a slight boost (although it only matters when the early-rejection passes - once in 64K). I did it similarly to what's posted above so there aren't diverging branches or anything like that (and all threads are working with the same salt anyway).
- Switched to a non-shared PBKDF2 so

[2021-09-19 16:15] magnumripper commented on #4031
Oh... There's just something wrong with my internal mask stuff! Turning it off:
[code]
This is 10% faster than latest hashcat's speed on this same gear (5590K c/s) and 12% faster than current bleeding-jumbo.

I still see "GPU util" figures around 90%, not sure why.

[2021-09-19 16:36] solardiz commented on #4031
What was the output for this same test on your gear prior to your optimizations (that is, with the current bleeding-jumbo)?

[2021-09-19 19:31] magnumripper commented on #4031
This seems to be representative for current bleeding. It nearly always autotunes to these figures but the speed varies a little:
[code]

Figures vary more now. It often autotunes too low, like this:
[code]
While that is still better than current bleeding, it's much less than it can be. [The test posted above](https://github.com/openwall/john/issues/4031#issuecomment-922498711) actually tuned to 27

[2021-09-19 20:48] magnumripper commented on #4031
The autotune does everything right, but for some reason the speeds seen at that time doesn't reflect the actual ones later. I have yet to see what's different.

Best seen manually tuned right now:
[code]

[2021-09-19 22:29] magnumripper commented on #4031
Added AES size as a "cost", for autotune to work better with real hashes. And I just verified (again) that when cracking as opposed to benchmarking, the shared autotune uses the worst salt (worst cost 0) loaded (not because that is always the best idea but because we might overtax the GPU if we don't).

But I realize now that for this format, the key or salt lengths virtually doesn't matter but th

[2021-09-19 22:54] magnumripper opened #4814 "Add "overall cost" (always first cost) for some formats"
As noted in https://github.com/openwall/john/issues/4031#issuecomment-922546987, some formats may have a compound cost from several of the now reported ones, one that is crucial to use when autotuning for real hashes [the shared autotune always picks the salt with worst first cost (i.e. `methods.tunable_cost_value[0](salt)`) for its tests, not because that is most likely to end up with best perfor

[2021-09-20 13:07] altjx opened #4815 "Could not connect to any X display."
I have performed the following steps, per the documentation:

[code]

For some reason, I'm unable to actually run `johnny` due to not having an X Display. I'm doing this over a GPU instance in EC2, so not quite sure what I need to change here or if I'm doing something incorrectly. See example below:

[code]

Any help or advice on what I'm doing wrong (or missing) would be greatly appreciated.

[2021-09-20 13:33] ghost commented on #4815
Since johnny is a GUI, you need an X server (or a replacement like Wayland). However, this repository hosts the CLI only (`john`) cracking tool ~packages~.

Well, I recommend you just use the CLI: you are using a remote environment, it seems more straightforward to just use the command line. Yes, you can use a GUI remotely with EC2, even with Session Manager (so, it is up to you):
- you **DO NOT**

[2021-09-20 13:37] ghost commented on #4815
Sorry, I read `john-packages`. Anyway, the previous post is still correct.

[2021-09-20 15:58] solardiz commented on #4815
Since @altjx isn't reporting a literal issue with any of our tools, not even with `johnny`, but merely needs advice on usage of the tools on EC2, this should ideally be discussed on the john-users mailing list: https://www.openwall.com/john/#lists https://www.openwall.com/lists/john-users/

Issues with Johnny can also be brought up in: https://github.com/openwall/johnny - but that's suboptimal in

[2021-09-20 16:05] solardiz commented on #4031
Why is optimal GWS so high? Do we use global memory frequently? Explicitly or via register spilling? What for?

[2021-09-20 16:12] magnumripper commented on #4031
I have no idea yet. During autotune, much lower sizes (such as 69632) are measured as given even better speeds (such as 6862K) but then in the benchmark speed ends up as 5819K for that size. I have yet to see what is wrong - or what is different between those two cases.

I believe the kernel is about as lean as it can get now. This doesn't look alarming to me:
[code]

[2021-09-20 17:30] magnumripper opened #4816 "Possible problem in a couple of internal-mask formats"
In some formats (the below is oldoffice-opencl), we have this at the end of `set_key()`:
[code]

Then we have this in `crypt_all()`. Note the `if (!mask_gpu_is_static)` thing there:
[code]
I think this means we might theoretically miss transfering `saved_int_key_loc` in rare cases: If last call to `set_key()` was with index 262144 (or a multiple of it), a partial transfer sets off and `new_keys` b

[2021-09-20 17:45] magnumripper commented on #4816
I'm not even 100% sure what `mask_gpu_is_static` means... I think it's only for hybrid masks, such as for `-mask:?w?a`, where the initial `?w` depicts the index for the `?a`, *per parent word*.

[2021-09-20 19:46] magnumripper commented on #4031
I also see a weird low start speed and then increasing. I can't recall seeing this in mask mode often:
[code]
A clue might be that the first progress output come 8 seconds too late. This might be caused by some completely unrelated recent change, I'm not sure

[2021-09-20 19:54] magnumripper commented on #4031
OK that seems to be caused by our "time reset" occurring before the autotune, so unrelated:
[code]

Edit: This is fixed in #4823

[2021-09-20 22:13] ghost commented on #4816
I was thinking I was affected by this (the bug itself). I reviewed the code and it is **not** the case.

But I think I should think about mask again sooner or later. It works, but something else might be hidden.

[2021-09-21 13:48] ghost commented on #4711
This has been fixed (CircleCI has updated its base distro/runtime).

Since F30 and F32 are now EOL, it's up to you to decide what should be done.

[2021-09-22 15:02] PracaGrande opened #4820 "nt-opencl fails self-test on R9 290x with Crimson"
Hi,
While using some "old" R9 290x GPUs with AMDGPU-PRO driver I have an error when trying to run nt-opencl format.
Below the steps. Please let me know if there is some configuration I could so to be able to use this format with these cards.
Thank you

[code]

[2021-09-22 15:16] solardiz commented on #4820
@PracaGrande In general, AMD GPU drivers are known to be problematic, with various JtR formats failing with different card/driver combinations. So it's just poor luck. I think we do not readily have a recipe for you to get this format to work on your card.

I recall that @AlekseyCherepanov has a similar card, so maybe he can at least say what driver works for him (or also doesn't?) with this forma

[2021-09-22 15:20] solardiz commented on #4820
@PracaGrande This older than yours card+driver also passes self-test for `nt-opencl`:

[code]

You could consider downgrading the driver from Crimson to Catalyst.

[2021-09-22 15:28] solardiz commented on #4815
I've just created the `question` label (with the same colors that GitHub's default `question` label uses, but with a different description) and assigned it here. While we could have reasonably used the `invalid` label for user support questions before - because those are not valid issues for the purposes of our issue tracking - I feel that could offend some people. So let's use this separate label

[2021-09-22 16:52] marshallwelch opened #4821 "dashlane2john.py not properly recognizing compression in Dashlane .aes files"
🥇 👍

A bug has emerged for dashlane2john.py, now producing incorrect results due to a change in Dashlane's ".aes" file compression.

The "2john" utility used to extract hashes from Dashlane ".aes" files looks for the ascii string literal "KWC3" indicating compression.  If it finds that string in bytes 33-36 (after the salt), then it sets v=1, skips those four bytes, and writes the hash as the 220

[2021-09-22 17:12] ghost commented on #4821
As you stated above, it is easy to fix. Are you interested in working on it? It won't be much different from this:

[code]

[2021-09-22 20:25] magnumripper commented on #4031
I think I have solved most problems, by separating the HMAC (that is possibly *huge* because it's a datablob of arbitrary size - and yes it obviously sits in global memory) from the main kernel. I'm testing two alternatives: One is with only the HMAC in the final kernel, the other has the 2nd PBKDF2 as well. Both seem to give tremendously better results, both with tiny or huge datablobs. Autotune

[2021-09-22 23:16] marshallwelch opened #4827 "JtR's "dashlane" format (2017) needs updating to reflect Dashlane's revised hashing procedure"
🥇👍

Original JTR Dashlane format created here: [Add support for Dashlane password manager #2658](https://github.com/openwall/john/issues/2658)

The JtR  "**--format=dashlane**"  no longer accurately reflects Dashlane's current hashing procedure as described in this revised [Dashlane Security Whitepaper-March 2021](https://www.dashlane.com/download/Dashlane_SecurityWhitePaper_March2021.pdf).  Conse

[2021-09-23 00:35] magnumripper commented on #4827
We should start with #4821 and then we need some new test vectors for continuing with the format.

[2021-09-23 01:40] kholia commented on #4821
We might need the following patch.

[code]

We introduce `v = 2` here as the underlying crypto bits (KDF at least) are different. This `v = 2` allows us to take a different (new - yet to be introduced) code path in the Dashlane format code.

[2021-09-23 02:21] kholia commented on #4827
New `Dashlane Backup` test vector is attached below. This was created by Dashlane Version 6.2134.0 in September, 2021.

[Dashlane Export 2021.dash.txt](https://github.com/openwall/john/files/7214725/Dashlane.Export.2021.dash.txt)

Surprisingly, there is no `KWC*` string present in this newer backup version.

However, it has the `$1$argon2d$16$3$32768$2$aes256$cbchmac$16$...(big string here)` strin

[2021-09-23 03:02] marshallwelch commented on #4827
I could share the original .aes privately/direct. Here is the "dashlane2john" output from scanning that .aes.  (I patched this output by changing v=1, len(aes_data)=220, and stripping the first 4 bytes ("KWC6") from the head of the hash, then john loads it correctly - but can't crack it bc the hash procedure was revised.)

[mydash2.txt](https://github.com/openwall/john/files/7214807/mydash2.txt)

[2021-09-23 04:12] kholia commented on #4827
Thanks. I would like to have a copy of this `.aes` file (hopefully it doesn't have any sensitive real data!). My email address is dhiru.kholia [at] gmail.com.

[2021-09-23 10:54] magnumripper commented on #4827
Please also submit test file(s) to https://github.com/openwall/john-samples if possible. They are invaluable when revisiting code a few years later... Thanks for working on this!

[2021-09-23 11:42] magnumripper commented on #4031
There's an 8th thing to address for optimal speed: That HMAC of a chunk (potentially large) of global memory. We currently do it the naive "SHA1_CTX" way, in chunks where we copy it to private memory and process it byte wise.

We're guaranteed alignment so we could do that with optimized code, much less copying back and forth and definitely processing 32 bits at a time. This will be a whole lot fa

[2021-09-23 22:33] FreeMoneyHyb opened #4830 "Can it crack on a minecraft launcher"
can this work for a external sorce like a minecraft launcher? i could edit it to do so but i was woundering if there was a way to do that before i make a ipswitching minecraft account cracker cuz that would take a week to make.

[2021-09-24 05:11] magnumripper commented on #4031
Tried the above now. Speed for that HMAC almost doubled 😎 but it wont show in the benchmarks. ~Will commit later, I'll do the same change to other shared HMACs first.~

[2021-09-24 10:12] solardiz commented on #4830
No, JtR can not directly work on (what I think you mean by) an external source. However, you can use its `--stdout` option to feed the candidate passwords stream it generates into another program.

[2021-09-24 10:12] #4830 closed, assigned to nobody

[2021-09-24 10:13] #4815 closed, assigned to nobody

[2021-09-24 10:17] solardiz commented on #4820
I think this isn't something we need to track as an open issue, so I'll close it, but please feel free to post more comments to it anyway - that could be useful for someone else later.

[2021-09-24 10:17] #4820 closed, assigned to nobody

[2021-09-24 12:37] altjx commented on #4815
Thanks @solardiz and @claudioandre-br  for your responses. For whatever reason I haven't received notifications on the replies here except for when the issue was closed. Sorry for the delay in responses and thanks for the quick replies!

All of the advice here is very helpful so I'll be joining the list and reaching out there for assistance.

Thanks everyone!

[2021-09-24 16:43] DontBreakAlex opened #4831 "15 DES-using formats fail self-test with OpenSSL 3.0.0"
:1st_place_medal::thumbsup:

Self test fails for opeenssh private key:
[code]
The passphrase is `12345`

Output of `./john --list=build-info`:
[code]
OpenSSH version:
[code]
My CPU is a `AMD Ryzen 9 3950X`
My GPU is a `NVIDIA GeForce GTX 1080 Ti`

Files used: [files.zip](https://github.com/openwall/john/files/7227243/files.zip)

John is built from source on `Ubuntu 20.04` with kernel `5.4.0-86-gen

[2021-09-24 17:02] ghost commented on #4831
This is interesting because you are using a CPU format. Well, And it seems to be ok here and inside CI.

[code]

[code]

Could you please try to narrow the culprit?

[2021-09-24 17:37] DontBreakAlex commented on #4831
I tried on my home server running `Debian 10` with a `AMD Ryzen 7 1700X` CPU, and it works fine. I've tried lowering my RAM and CPU frequency on my workstation, but it does not fix the issue. I did a memtest not too long ago, so I don't think this is an hardware issue.

Do you have an idea about what I could try to narrow down the issue ?
If someone with a 3950X reads this, can you try to reproduc

[2021-09-24 17:57] solardiz commented on #4831
Compare the gcc versions. Try the same gcc version on both systems.

[2021-09-24 18:00] solardiz commented on #4831
Also compare OpenSSL versions. I notice the failing one is reported as `OpenSSL 3.0.0-dev xx XXX xxxx` - it's not too surprising that a development version is unreliable.

Also try prefixing the `./john test.hash --mask='?d?d?d'` (on the system where it fails) with `OMP_NUM_THREADS=1`, so:

[code]

[2021-09-25 18:03] DontBreakAlex commented on #4831
Great catch, this was the issue. I rebuilt john with `OpenSSL 1.1.1f` and it works.
Tanks !

[2021-09-25 19:44] solardiz commented on #4831
@DontBreakAlex Where did that "OpenSSL 3.0.0-dev xx XXX xxxx" come from - was it a distro package, or was it something you built yourself? Can you test whether the problem is still present with the 3.0.0 release (yes, it was in fact released a couple of weeks ago)? If OpenSSL still has this bug in their codebase, we could want to report it to them. Thanks!

[2021-09-25 21:23] DontBreakAlex commented on #4831
@solardiz It was not a OpenSSL release, I had built it straight from git, and had forgotten that I had done so. I just tried with `OpenSSL 3.0.0 7 sep 2021` (archive from OpenSSL's website) and it fails:
[code]

I also tried on a clean VM to make sure that my install wasn't broken, and it fails there too.

I could be that OpenSSH generated the key with OpenSSL 1.1, and so using OpenSSL 3.0 with jo

[2021-09-26 10:49] solardiz commented on #4831
@DontBreakAlex Thank you for helping us figure this out. I've reopened the issue and assigned it to a milestone because this is something we'll want to at least attempt fixing or working around in OpenSSL or JtR.

[2021-09-26 12:19] solardiz opened #4833 "openssl2john: Redirect people to pem2john when input looks like PEM"
As seen in https://www.openwall.com/lists/john-users/2021/09/26/1 some people are having a hard time figuring out the `*2john` utility to use on OpenSSL-generated private key files. Maybe `openssl2john` is a more obvious program name they'd try first, not even thinking of PEM. We could have `openssl2john` print a helpful message in that case.

[2021-09-26 12:22] solardiz commented on #4833
@exploide You could want to implement this since it's in Python. ;-) And, thank you for all of your contributions to making our Python scripts better!

[2021-09-26 14:20] exploide opened #4834 "pem2john and PEM formats blindly assume SHA-1 instead of encoding/using actual "prf algorithm" (can be SHA-256)"
While working on #4833 I encountered a problem with cracking openssl encrypted private key files. It does work with the [example key](https://github.com/openwall/john-samples/tree/main/PEM) but not with a newly generated test key. The password is "test".

[code]

[code]

[2021-09-27 13:56] ihsinme commented on #4810
friendly ping

[2021-09-27 14:28] solardiz commented on #4810
@ihsinme Thanks. What was your reason to report this to us, and to ping us about it now? I see no reason to single this issue out, nor to prioritize it. As you can see, we have 400+ open issues here, and overall code quality of "jumbo" isn't high - historically, "jumbo" was about easily (and almost as-is) accepting contributions that didn't make it into (what we later started calling) "core". If y

[2021-09-27 14:35] #4833 closed, assigned to nobody

[2021-09-28 11:23] solardiz commented on #4810
@ihsinme I took a look at other issues you reported to other projects at about the same time. Is this some kind of experiment with static code analysis or with contributing to projects or something else? Please let us know, and maybe we can also consider the bigger picture (of what you're trying to achieve and why and whether/how to do it best) rather than focus solely on this one issue. Thanks!

[2021-09-28 12:08] solardiz commented on #4834
Thanks, @exploide. This is a nasty issue. I added `print(kdf_params)` into `pem2john.py`, and here's what I see for your key above:

[code]

Notice the `sha256` there. For a key generated with older OpenSSL and crackable by current JtR, there's `sha1` in that place.

We need to add encoding of this field into `pem2john.py` output (perhaps upgrading it from `$PEM$1` to `$PEM$2`) and its decoding an

[2021-09-28 12:15] solardiz opened #4836 "PEM formats iteration count reporting"
Our `pem` and `pem-opencl` formats sometimes report double the actual PBKDF2 iteration count, considering (if I understand correctly) also the derived key length. I find this unexpected and confusing. Do we do this in any other formats? I don't recall seeing this before. If we don't, then this is also inconsistent. We might want to drop this adjustment of the reported iteration count, always repor

[2021-09-28 16:13] exploide commented on #4834
Ok, I expected something like this. Good that it doesn't affect all PEM keys.

While I'm generally happy to help out, I'm not eager to do changes to the format implementations. I assume it is much less work for those of you who are already familiar with the C code base.

[2021-09-28 19:59] solardiz commented on #4834
@exploide This is your opportunity to become familiar with the C and maybe the OpenCL code base, so that you'd be able to contribute more in the future. ;-)

[2021-09-29 05:52] ihsinme commented on #4810
@solardiz. Thank you for your attention.
I'm really looking for bugs that developers don't like to fix. and really I do it within the framework of static code analysis.

maybe I don't quite understand what you want to say. but fixing your code is based on your coding principles, not my behavior. if you still don't have enough information to make decisions, let me know.

Thanks.

[2021-09-29 15:53] #4031 closed, assigned to magnumripper

[2021-09-29 16:25] magnumripper commented on #4836
Well that depends on what you mean with iteration count. For two blocks of PBKDF2, the number of SHA1 operations obviously doubles.

This change would report all cost factors and add an "overall cost" (#4814) that is the same as the existing "iteration count":
[code]
It might be overkill - but less confusing. Only the overall cost matters, and it didn't change. We could just as well rename the exi

[2021-09-30 15:52] solardiz commented on #4810
I fully agree, and we'll proceed with the code accordingly. For some of our other projects with higher code quality, like passwdqc or even JtR core, fixing an issue like this would be high priority (but I think those don't have that issue, precisely due to their higher code quality). For JtR jumbo, it unfortunately currently isn't. But of course we should ideally fix it anyway.

However, just like

[2021-09-30 19:28] solardiz commented on #4810
This is a valid issue that should ideally be resolved, so now that we have it opened anyway I see no reason to just close it (unless we were to decide against ever fixing it and would label it WONTFIX, which we didn't). Reopening.

[2021-09-30 20:23] ghost commented on #4810
We have something, but there are limitations:
1. computing power (we saw in a commit today that the new "whatever platform" CircleCI is running is slower than it used to be);
2. we can't wait CI forever; we need something fast (and "cheap");
2. format/2john authors need (should be a requirement) to create a "standard" script related to each 2john tool so that CI can discover and run it.

Off top o

[2021-10-02 13:18] solardiz commented on #4810
@claudioandre-br It wouldn't take much computing power to add testing of `*2john` tools against their known output (what they currently output for our samples). Compared to the kind of testing we already do in CI, this would almost not be measurable. (If we were to test actual cracking of the resulting "hashes", that would be more significant, but this is unnecessary to test merely the `*2john` to

[2021-10-05 14:24] g00g1 commented on #3572
Hello!
I had the same issue (I mean `error: undefined hidden symbol`), but after build from master branch it is solved! Anyway, there is another trouble - some tests are failing or even crashing `john` process.

`$ uname -a`
[code]
`$ john --list=build-info`
[code]
`$ john --list=opencl-devices`
[code]
`$ john --test=0 --format=opencl`
[code]

[2021-10-05 14:32] #4816 closed, assigned to magnumripper

[2021-10-05 14:57] magnumripper commented on #4632
Tested on "well" now, with `./jtrts.pl -pass=-dev=7 -internal mask`
* cryptosafe-opencl segfaults
* mscash-opencl segfaults
* nt-opencl segfaults
* ntlmv2-opencl segfaults
* raw-sha1-opencl segfaults

The three other formats you mentioned passed just fine. Intermittent?

When instead running `john -test=0 -form=mask -dev=7`, all 17 format passes with no problem.

[2021-10-05 15:04] magnumripper commented on #4632
After more TS runs, it becomes obvious most of these segfaults are intermittent

[2021-10-05 15:05] ghost commented on #4632
Sure.

Well, I can't remember about a fix for `raw-md *` formats. Anyway, a fix is also a possibility.

[2021-10-05 15:06] magnumripper commented on #4632
How do you know this is not a driver bug?

[2021-10-05 15:09] magnumripper commented on #4632
Using Intel CPU driver instead (dev 1), some formats do show up too:
[code]

[2021-10-05 15:11] magnumripper commented on #4632
Using my CPU driver on macOS, all formats pass just fine

[2021-10-05 15:16] ghost commented on #4632
It wasn't in my case (#4633). But, I haven't tested/debugged all formats.

IMO, JtR is failing to properly handle OpenCL initialization in some formats and errors like this are a side effect of this. I do believe some formats are **not** doing the right thing. So, bugs exist in our code.

[2021-10-05 19:09] magnumripper commented on #3572
This warning simply can't be correct because if the compiler didn't obey it, it wouldn't be able to build the kernels.

Perhaps we should just drop all such `__attribute__((max_constant_size(n)))` lines now. I doubt they were ever needed on any gear, they were just a compiler hint, right?

Other than that, unfortunately we've become used with AMD drivers failing with many formats and working aroun

[2021-10-07 17:07] rodened opened #4840 "PUP-gen virus in Homebrew formula!"
My antivirus put a file in quarantine when I installed john-jumbo with brew.

Just so you know and can act on it!

[2021-10-07 18:37] solardiz commented on #4840
@rodened Thank you for letting us know, but I see no good way how we could act on it. Do you?

In context of so-called "anti-viruses", PUP stands for "potentially unwanted program". If you don't want your AV product to consider JtR "potentially unwanted", then please ask its developers to remove this detection. We'd appreciate that. Thank you!

For similar issues happening on Windows (and more fre

[2021-10-07 18:46] solardiz commented on #4840
@rodened Oh, and what antivirus is that? What is it called, and is it running directly on your Mac or on some network node you're downloading files through? This knowledge would help us in case of further reports like yours. Thanks!

[2021-10-09 19:41] solardiz opened #4842 "descrypt format broken in MMX and SSE2 non-OMP builds"
According to https://www.openwall.com/lists/john-users/2021/10/07/3 descrypt broke on 32-bit SSE2 between 1bb61db184c94270163d24de390d4a209fd74da8 (works) and ec6d12bab17558701b1f0779b6a28c2b1fef7445 (fails self-test).

[2021-10-10 06:41] dosoos opened #4843 "7z formats: Support BZIP2 compression"
Version: 1.9.0-jumbo-1+bleeding-56f1d7312 2021-10-05 16:32:08 +0200
Build: linux-gnu 64-bit x86_64 AVX2 AC OMP
SIMD: AVX2, interleaving: MD4:3 MD5:3 SHA1:1 SHA256:1 SHA512:1
CPU tests: AVX2
$JOHN is /usr/local/john/run/
Format interface version: 14
Max. number of reported tunable costs: 4
Rec file version: REC4
Charset file version: CHR3
CHARSET_MIN: 1 (0x01)
CHARSET_MAX: 255 (0xff)
CHARSET_LENGTH

[2021-10-10 15:37] ghost commented on #4843
Your 7z file is not supported.
You could tell how you created this file. Maybe some developer is interested in adding the unsupported compression type.

[code]

To tell you the truth, BZIP2 doesn't sound like something new, it's the other way around.

[2021-10-10 16:55] solardiz commented on #4842
The below should fix it. I'll create a PR.

[code]

[2021-10-10 19:13] solardiz commented on #4842
BTW, apparently we don't test this kind of builds in CI now?

[2021-10-10 19:47] ghost commented on #4842
We lost variety/range of tests when we lost Travis.

I used to run over 6 hours of testing using Travis in a multitude of build scenarios (in parallel, basic 2-thread VM). (my old second batch of tests are now) my main tests on Azure, but they focus on Windows.

[2021-10-11 05:47] mar232320 opened #4845 "Possibility of adding teamspeak 3 channel hash algorithm"
Hello, Id like to request teamspeak 3 channel hash algorithm to john to use the full gpu power

The algorithm is **base64(sha1(base64(sha1($pass))$virtualserver_keypair))**

the virtualserver_keypair works as salt and could be supplied to the program

The hash could also be converted from base64 to hex to improve the speed

[2021-10-11 11:24] #4842 closed, assigned to solardiz

[2021-10-11 13:02] solardiz commented on #4845
Hi @mar232320. Thank you for your request. Is this just a request, or are you offering to contribute this? Without it being contributed by someone, I don't currently expect us to work on this.

The algorithm description looks like it _might_ currently fit our dynamic formats on CPU. @jfoug might clarify that.

This is generally unnecessary, because the outer encoding is typically decoded when the

[2021-10-12 14:31] mar232320 commented on #4845
@solardiz I'd like to contribute but unfortunately my knowledge of C isn't enough

But the algo is based on sha1 with base64 so it isn't hard to add so I'll try

[2021-10-12 15:29] solardiz commented on #4840
I'll close this issue since it is not actionable for us, but we'd appreciate a further comment by @rodened letting us know what antivirus that was and whether it was local on the Mac or somewhere on the network.

[2021-10-12 15:29] #4840 closed, assigned to nobody

[2021-10-13 09:44] magnumripper commented on #4814
While assessing this task I realized formats that are FMT_BLOB (non-hash formats with several "binaries" [blobs] per salt), currently can't have costs. I'd probably have to add code to fix that.

[2021-10-14 13:29] magnumripper commented on #1679
Correction for clarity: The KDF does involve a salt, but all archives we've seen has a salt length of 0. In #4847 I'm adding some checks that should ensure the CPU format works correctly in case we're actually given a 7z hash with a salt.

The OpenCL format currently doesn't even have the salting code in its kernel so after #4847 it will reject hashes with a salt length > 0 and warn about it. If e

[2021-10-14 13:49] magnumripper commented on #4320
What we failed to remember in the discussion above was that the higher number for many salts was due to #1679 - so it was actually correct. Different costs had practically nothing to do with it.

After fa8c70c we no longer see the no-salt boost in benchmarks.

[2021-10-14 17:28] magnumripper commented on #4814
On another note we have some formats that has "padding size" as a cost, but it's actually backwards: A padding size of 0 (or 1, depending on padding scheme) is worst and one of 8 or more is best. So to strictly report it as a cost we might want to return something like `16 - pad_size`.

Then again, I believe no format has padding size as first cost, so it's currently more a means for selecting whi

[2021-10-14 17:54] magnumripper commented on #4814
It's not trivial to figure out a "correct" overall cost. Let's continue with 7z as an example. It currently has three costs defined: Iteration count, padding size and compression type. The type is fairly irrelevant for performance as long as it's not 0 (stored, lowest cost). There is another actual cost parameter that we could define: Data size. That one (if paired with small pad size) can *really

[2021-10-16 14:12] #4843 closed, assigned to magnumripper

[2021-10-16 14:58] magnumripper commented on #4843
@dosoos support was added now! Pull latest version, rebuild and try again.

[2021-10-16 15:30] magnumripper commented on #4814
Parts of it are easier:
- If we have AES pad_size and data_len, we can combine then to `data_len / pow(256, pad_size)` for an "effective length" after just decrypting the last block.
- A huffman check (such as those we have in pkzip and RAR) will reject over 96% of candidates from just reading first block so that could be something like `data_len / 320`. If we had both of these, it'd obviously be

[2021-10-16 17:11] solardiz commented on #4831
So this was failing at `cmp_all(2)`, thus (given our current tests) on the second test vector. That one uses MD5 and 3DES. I guess the failure is related to deprecation of (at least one of) these algorithms in latest OpenSSL. Do the APIs we use possibly tell us these algorithms are no longer supported? In that case, I guess we'd have to exclude such test vectors _and_ (unfortunately!) refuse to lo

[2021-10-16 21:55] magnumripper commented on #4831
If things were deprecated (to the point of not working) it should end up in build failure, no?

[2021-10-16 22:01] magnumripper commented on #4831
This bumps #2356.

In OpenCL, we have our own (nicked) algos for everything. The only reason that stopped us from doing so on CPU side is that some things (as noted in that issue) get a *lot* slower on certain platforms when using boiler plate code. This doesn't apply to SIMD platforms though, so is fairly uncommon.

I think I can actually find the old branch I experimented with mentioned in https

[2021-10-18 16:45] DontBreakAlex commented on #4831
@solardiz Here are the tests you asked for:
[code]

[2021-10-19 09:54] magnumripper commented on #4831
https://wiki.openssl.org/index.php/OpenSSL_3.0#Low_Level_APIs
*Use of the low level APIs has been informally discouraged by the OpenSSL development team for a long time. However in OpenSSL 3.0 this is made more formal. All such low level APIs have been deprecated. You may still use them in your applications, but you may start to see deprecation warnings during compilation (dependent on compiler su

[2021-10-19 09:55] magnumripper commented on #4831
@DontBreakAlex didn't you get a load of deprecation warnings (or other warnings) from OpenSSL when building JtR?

[2021-10-19 16:44] solardiz commented on #4831
@DontBreakAlex According to OpenSSL developers (see that OpenSSL issue I opened), things are supposed to work (you should only be getting deprecation warnings at build time, and that's it). Trying to investigate this, I see that the 15 formats failing for you (per your comment above) are _not_ all formats where we use OpenSSL's DES. There are a few more: as400-des, RACF, RVARY, VNC, krb4, krb5* (s

[2021-10-19 16:49] solardiz commented on #4831
@DontBreakAlex Separately, can you please also repeat the test (of all formats) with `OMP_NUM_THREADS=1`? We need both output files (single-threaded and multi-thread). Thank you!

[2021-10-19 17:02] solardiz commented on #4831
@DontBreakAlex We also need the full build log, please. Especially all of the warnings. Thanks.

[2021-10-19 17:06] DontBreakAlex commented on #4831
@magnumripper I got no warnings while building, maybe this is because of the flag `-DCL_SILENCE_DEPRECATION` ? I'll post full build logs.

[2021-10-19 17:09] magnumripper commented on #4831
I don't think so, it should only silence warnings from OpenCL on macOS.

[2021-10-19 17:11] solardiz commented on #4831
No. Then my best guess is you're building against headers from older OpenSSL, not OpenSSL 3. However, this probably shouldn't result in the kind of runtime misbehavior you're seeing anyway. So my request for those tests and logs holds. When you're done with that, please also repeat for consistent OpenSSL headers+library (that is, with OpenSSL 3 headers). Thanks.

[2021-10-19 17:12] solardiz commented on #4831
@magnumripper If you have time, maybe try to reproduce the issue on your own? Unfortunately, I don't currently have enough time for this.

[2021-10-19 17:16] magnumripper commented on #4831
I might have some time tomorrow, we'll see

[2021-10-19 17:20] DontBreakAlex commented on #4831
@solardiz Here are the logs you requested (I captured both stdout and stderr):
[test_output.txt](https://github.com/openwall/john/files/7375551/test_output.txt)
[test_output_OMP_1.txt](https://github.com/openwall/john/files/7375552/test_output_OMP_1.txt)
[make_logs.txt](https://github.com/openwall/john/files/7375553/make_logs.txt)
[configure_logs.txt](https://github.com/openwall/john/files/7375555

[2021-10-19 17:34] magnumripper commented on #4831
The below snippets from [OP](https://github.com/openwall/john/issues/4831#issue-1006647164) and https://github.com/openwall/john/issues/4831#issuecomment-927184594 are what we got from the headers, so they didn't mismatch. If they would, the lines would have been amended with somthing like `printf("\t(loaded: %09lx)", OpenSSL_version_num());` and `printf("\t(loaded: %s)", OpenSSL_version(OPENSSL_V

[2021-10-19 17:36] DontBreakAlex commented on #4831
@solardiz I don't know autotools much, how do I "repeat for consistent OpenSSL headers+library (that is, with OpenSSL 3 headers)" ? Can I specify headers through a env variable ?

[2021-10-19 17:40] magnumripper commented on #4831
I think what he meant was that if you had built with older headers against newer OpenSSL, you should rebuild with them in sync. But like I said in previous post, that doesn't seem to be the case.

[2021-10-19 17:57] magnumripper commented on #4831
OK I can reproduce the problem exactly. I built with Homebrew's `openssl@3` without a single build warning, and got this:

build-info:
[code]

tests:
[code]

[2021-10-19 17:58] solardiz commented on #4831
@DontBreakAlex I agree with @magnumripper - you probably already do have those consistent, so this cancels my request to rebuild differently.

So you're not getting any deprecation warnings. Also, there's no difference in failing formats by number of OpenMP threads (1 vs. 32) - it's the 15 formats anyway. And those other DES-using formats I mentioned pass tests. That's puzzling.

@magnumripper Gre

[2021-10-19 18:02] magnumripper commented on #4831
It didn't. Still no warnings, still same failures.

[2021-10-19 18:13] magnumripper commented on #4831
I don't have much more time now but I did try memsetting a buffer to 0 before calling 3des where the DMG format fails, and there were still non-zero output - although it's somehow not the correct output.

[2021-10-19 19:43] ghost commented on #4831
We're actually hiding depreciation notices. A lot of them.

* From configure:
[code]

Disable it, then:
![image](https://user-images.githubusercontent.com/1702923/137978620-9b8a4223-46e4-406f-81f1-0ae6308979cc.png)

[2021-10-19 20:34] solardiz commented on #4831
Here's a new guess: maybe it isn't that some of our uses of OpenSSL DES fail and some work right, but rather that some inputs to DES produce the correct behavior and some don't. So the difference is in our test vectors for the different formats triggering the problematic inputs to the OpenSSL DES calls or not. If so, maybe running with additional inputs (more than our test vectors) will uncover fa

[2021-10-19 20:42] magnumripper commented on #4831
Good catch @claudioandre-br, that explains why we don't get the warnings. Still, it shouldn't fail like it does.

[2021-10-19 20:50] magnumripper commented on #4831
This after removing `-Wno-deprecated-declarations´
[ossl3-build-warnings.txt](https://github.com/openwall/john/files/7376553/ossl3-build-warnings.txt)

[2021-10-19 20:59] magnumripper commented on #4831
Our use of `-Wno-deprecated-declarations` seems to stem all the way back to ecdadb503d2 in 2013

[2021-10-19 21:02] magnumripper commented on #4831
No, it's even older. It's from 11b0e6409 in 2012

[2021-10-19 21:30] ghost commented on #4831
To make SSH pass self-test, I need to disable tests starting with `$sshng$0$8$`.

[2021-10-20 00:16] ghost commented on #4831
I would say [1] that we can prove to the openssl guys that (at least) `DES_set_key()` is behaving differently in 3.0.

A printf() at line 325 seems ok when using 1.1 and strange in 3.0.

[1] Well, almost everything looks random in this encryption mechanism.  Odd, not sure I got it right. Anyway, I guess a simple test case can prove SSL lib is misbehaving using the first `$sshng$0$8$` hash (key is

[2021-10-20 10:19] solardiz commented on #4831
I wonder if this has anything to do with DES key parity. Regardless, we need to come up with a reduced test case - a separate program that shows different behavior on OpenSSL 1.x vs. 3.0.

[2021-10-22 18:29] solardiz opened #4851 "Consider dropping ShiftToggle from Jumbo rules"
I think the Jumbo rule set would be improved by not including the ShiftToggle rules in there, at all or mostly (maybe only include those for very short passwords). However, now that we had this in there, it's tricky to exclude them without restore of old sessions unintentionally skipping other rules. Ideas?

My testing of the Jumbo rules as currently in this repo, against NT hashes on one CPU core

[2021-10-22 19:02] solardiz commented on #4851
Further, we already have case toggle (not shift toggle, but similar) for lengths up to 8 in Extra, which is also included in Jumbo through Single-Extra. Given this finding, I think we should fully drop ShiftToggle from Jumbo (if it weren't for restore issues...)

We may also want to "upgrade" the rules in Extra from case to shift toggling. Since we try all combinations of positions (not) to toggle

[2021-10-22 19:23] solardiz commented on #4851
If we remove ShiftToggle from Jumbo, we should probably add it to somewhere in All, or possibly only its end that doesn't overlap with the (to be) upgraded rules in Extra.

[2021-10-22 22:13] solardiz commented on #4851
Similar tests with RockYou 3+ hits (1136144 words) as wordlist and all 10M hashes (no pre-exclusion).

Original Jumbo rules:

[code]

with ShiftToggle removed:

[code]

`8340*651/(1576*(64*60+52))` = 88.5% candidates, 1409177/1412096 = 99.8% cracks.

[2021-10-23 17:09] S3j5b0 opened #4852 "--Show does'nt show anything"
Hi, I have intalled John on my ubuntu 20 machine using snap, I have the following version:
`John the Ripper 1.9.0-jumbo-1 OMP [linux-gnu 64-bit x86_64 AVX2 AC]`

For a exercise, I have a file with some passwords that need to be cracked. I run john from my terminal as such:

[code]
And as you can see, I crack some passwords.
But now I want to use `--show` to see these passwords:

[code]
And john cl

[2021-10-23 17:32] solardiz commented on #4852
Hi @S3j5b0. This would be more appropriately brought up on john-users rather than here, but anyway:

Try adding `--format=Raw-MD5` along with `--show`. That `john.pot` looks empty for you is weird, but then you didn't mention how long you let the attack run and whether/how you stopped it before the `--show`. There's some buffering on writes into that file (up to 1 minute's worth of cracked passwor

[2021-10-23 17:45] ghost commented on #4852
**This is the bleeding snap package:**

* I dont' have your file, so I created one and removed `john.pot` (a clean run):
  `$  john --format=Raw-MD5 -list=format-tests | cut -f3 > ~/passwords_md5.txt`

*  Run the cracking session for a defined and short amount of time:
    `$ john --format=Raw-MD5 passwords_md5.txt --max-run=60`

* Find the john.pot file:
`ls /home/YOURNAME/snap/john-the-ripper/cu

[2021-10-23 17:51] ghost commented on #4852
Sorry, previous message was incomplete:
* the pot file is in the `/home/YOURNAME/snap/john-the-ripper/current/.john` folder. This is a rule for all snap packages.
* reasoning: sandboxing. There is no conflict between a snap execution and a normal (built from source) `john` execution.
* please try adding `--format=Raw-MD5` along with --show.

[2021-10-23 17:55] solardiz commented on #4852
@claudioandre-br Why the discrepancy between your 3 `--show` results? Is it really from your use of options, or was e.g. the pot file changing?

[2021-10-23 18:00] ghost commented on #4852
I have to test again using `john` built from source. Anyway, 99% sure:
* This is john itself (and this behavior is **not** new for me). Fast (maybe simple is a better word) formats like raw-mdX behave this way.
* It is really from my use of options and you can reproduce.
*****
**Some changes in this behavior after 1.9.0-jumbo-1 are a possibility.** I really don't know.

[2021-10-23 18:15] solardiz commented on #4852
@claudioandre-br Weird stuff. I think we need to open a separate/real issue to discuss this and see if we want to change anything. I think reasonable expectation would be for `--show` without `--format` to either work just as well or not work at all, not to produce partial output, as long as only one hash type is involved.

[2021-10-23 18:21] ghost commented on #4852
`--show` always confused me.

Anyway, https://github.com/openwall/john/issues/1469 is another example when unifying and `--show` are present.

[2021-10-25 16:16] solardiz commented on #4852
@claudioandre-br Oh, I now realize that the way you constructed `passwords_md5.txt` you got differently encoded hashes in there, as we're testing the different encodings among our test vectors. This explains the discrepancies, and isn't something a new user would commonly run into.

Anyway, cracking those hashes like you did, I get this hint:

[code]

and this gives:

[code]

which is probably cor

[2021-10-25 16:16] #4852 closed, assigned to nobody

[2021-10-26 15:52] solardiz opened #4853 "Bitcoin-opencl register pressure increase on Titan Kepler"
Looks like we got a regression. A build from 2021/04/27 happily accepts explicit LWS=768 GWS=10752 for Bitcoin-opencl on Titan Kepler. A build from 2021/09/14 instead uses LWS=640 GWS=10240 when invoked with those old explicit values. I didn't try to bisect and troubleshoot this further yet.

Edit, by the way, the speeds at those adjusted values are actually A LOT worse than at the previously hand

[2021-10-26 15:54] magnumripper commented on #4851
IMHO we shouldn't worry too much about restore issues. Bleeding is bleeding - and once we make a release, users should be (made) aware that restore of a session using rules isn't 100% supported between releases and if that's a problem, old jobs should run to completion using the older version. How else would we handle it? Never amend or delete any existing rule ever?

I think we should upgrade the

[2021-10-26 16:42] solardiz commented on #4853
Surprisingly, reverting a6befdff17e8b117fe7124be34d0c0a141d26d4b doesn't help. I don't see any other relevant change during this dates range.

Edit: Also, 2021/05/16 still has the old, desirable behavior, and that's after that commit.

[2021-10-26 16:56] magnumripper commented on #4853
And your driver wasn't upgraded during this period?

A possible reason for not obeying could be that the GPU dictates the maximum through `get_task_max_work_group_size()`. Trying your work sizes on a 2080ti, I end up with LWS=256 GWS=10752 because of just that.

Try this:
[code]

[2021-10-26 17:00] solardiz commented on #4853
It hasn't, and I'm testing all of these with the same driver now.

[2021-10-26 17:02] magnumripper commented on #4853
Is something else using the GPU? I still think it's the mentioned limit hitting you and I believe that value can be decided by the driver at run-time.

[2021-10-26 17:07] solardiz commented on #4853
In my tests just before opening this issue, no.

In my current tests, yes. (I was under impression that other usage shouldn't affect explicit LWS/GWS, but would only affect auto-detection. You suggest it might.)

Anyway, looks like the issue affects formats that use SHA-512 (not all formats) and is introduced with these commits:

[code]

Why would that be?

[2021-10-26 17:13] solardiz commented on #4853
It's even trickier than that. sha512crypt-opencl already forced LWS/GWS from/to those values before those commits, but Bitcoin-opencl started doing that after those commits.

[2021-10-26 17:15] solardiz commented on #4853
@magnumripper With your patch above, indeed I get `get_task_max_work_group_size() return 640`. So why wasn't this the case before those two commits? Can we make it so again?

[2021-10-26 17:16] solardiz commented on #4853
A guess - maybe we ended up increasing the register pressure? If so, it'd likely impact performance anyhow, and is something we'd want to fix.

[2021-10-26 17:21] solardiz commented on #4853
New:

[code]

Old:

[code]

Looks like `bitcoin_init` uses too many registers now.

[2021-10-26 17:27] solardiz commented on #4853
Incidentally, `bitcoin_init` didn't even exist in my original implementation (which left that on CPU) and isn't performance critical, but it ends up affecting the maximum concurrency for the performance-critical `loop_sha512` as well even though that one needs fewer registers. Theoretically, we could run the different kernels of the same format with different LWS, but I doubt we want to introduce

[2021-10-26 17:31] solardiz commented on #4853
@magnumripper Can you see how the number of registers used by `bitcoin_init` changes on other GPUs such as your 2080Ti with this change? I assume it's the change of `memcpy*` to go char-by-char (at source code level) that caused this.

[2021-10-26 17:35] solardiz commented on #4853
BTW, Kepler's instruction set is limited enough that it should benefit from #4727 when we implement it in OpenCL, and that may affect register pressure too.

[2021-10-27 09:13] magnumripper commented on #4853
It's hard to see why the simpler `memcpy` would increase register pressure. Compilers are hard to understand.

I pondered that too. It wouldn't necessarily mean lots of complexity.

A quicker fix you could try, is dropping `bitcoin_init` from the max. LWS calculation, and change the call to that kernel to use `NULL` instead of `lws`.

I'll run some tests on the 2080ti.

[2021-10-27 09:22] magnumripper commented on #4853
On the 2080ti with current code, all three kernels have a max. LWS of 256. So it's not the init kernel that ruins it.

[2021-10-27 09:39] magnumripper commented on #4853
2080ti, OpenCL 3.0 CUDA 11.3.55, 465.19.01

Show individual limits:
[code]

Current code:
[code]

At commit before `91e96a73780`:
[code]
Nothing bad happened. In fact, the newer code reduced register pressure for `bitcoin_final` to less than half.

The above was with your requested LWS/GWS figures for the Kepler. Autotuned (same speed before and after the changes):
[code]

[2021-10-27 11:05] magnumripper commented on #4851
Looking into this, I realized I already addressed it canonically in 8bfc5998cc1, with zero performance overhead. I'm a genius with poor memory!

[2021-10-27 11:55] kholia commented on #2809
It seems that hashcat's 19700 module is broken and doesn't actually crack real hashes.

Sample hash: [hashes.txt](https://github.com/openwall/john/files/7425851/hashes.txt)

Password is `test@123`.

Pcap for the same setup: [W2019DC-hello-test@123-TGS-REP.pcapng.txt](https://github.com/openwall/john/files/7425864/W2019DC-hello-test%40123-TGS-REP.pcapng.txt) - hash may be different due to a differe

[2021-10-27 12:01] solardiz commented on #2809
@kholia Perhaps you should open an issue in @hashcat GitHub, then? I guess @Fist0urs already saw your comment here and will check, though.

[2021-10-27 12:09] kholia commented on #2809
CC @Fist0urs and @jsteube - Context is https://github.com/openwall/john/issues/2809#issuecomment-952846956.

[2021-10-27 12:52] magnumripper commented on #4831
I ripped some code and test vector data from mozilla format and ended up with this (cross posted to https://github.com/openssl/openssl/issues/16859)
[code]

Here's the correct result from older OpenSSL:
[code]

OpenSSL 3 doesn't only give a different result, but a different one each time:
[code]

[2021-10-27 13:18] solardiz commented on #4831
Thanks, @magnumripper! That example uses 3DES, but some of our failing formats use plain DES. So perhaps a smaller test case is possible?

[2021-10-27 13:48] magnumripper commented on #4831
They already found the problem using this, and I think it also explains why some formats didn't fail.

[2021-10-27 13:54] magnumripper commented on #4831
Confirmed:
[code]

[2021-10-27 14:12] magnumripper commented on #4831
This makes me wonder if some of the formats that did NOT fail also could do something like:
[code]
For some formats it might be a boost, if we can skip trying decryption of "a lot" of data (I didn't check if this really applies to any of those formats). But before doing anything like that we'd need to be damn sure about it so we don't introduce false negatives just not caught by whatever test vect

[2021-10-27 17:23] solardiz commented on #4831
BTW, I did write "I wonder if this has anything to do with DES key parity." in a comment here 7 days ago. I should have probably mentioned that in the OpenSSL issue as well - could have brought us to the present understanding sooner.

_Maybe_ for _some_, but I doubt it. Generally, it's expected that wrong parity DES keys would be silently repaired (or parity bits ignored, as the actual DES algorit

[2021-10-27 18:03] magnumripper commented on #4831
I really doubt it too. If we mimiced the original KDF, that's the key it too would end up with. And anyway, none of the not failing formats are `FMT_HUGE`.

[2021-10-27 21:00] roycewilliams commented on #4621
Distro update: Debian 11 (bullseye) now defaults to yescrypt.

https://www.debian.org/releases/bullseye/amd64/release-notes/ch-information.en.html#pam-default-password

[2021-10-27 21:36] solardiz commented on #4621
Right, and Fedora 35 likely will, too (now in beta).

[2021-10-28 11:00] mar232320 commented on #4845
How do I write new format to john? (the plugin)

[2021-10-28 15:03] magnumripper commented on #4845
https://github.com/hashcat/hashcat/issues/2953
First, you should coordinate with the hashcat folks and come up with an input format both can use. It could be as simple as:
[code]
Second, you should create a couple of test vectors with known password. You have one already. It would be nice to have a few more, perhaps also one with some non-ASCII password such as "Möller" so we can be sure about how

[2021-10-29 16:19] #4831 closed, assigned to nobody

[2021-10-29 19:05] mar232320 commented on #4845
OK so let the format be **$teamspeak$3${hash}${salt}**

example hashes:

**$teamspeak$3vj8j6o/n/zeoK7mfe5jcliewMF0=$MG4DAgeAAgEgAiBVIPQRIwRRH1XNno7fZ/oLt7OPPSenIVI8oGe7kPrg+QIhAMcTHy4mPua1/UHOSasSU2is655rZdoRgN5uvTldZXVtAiAmLuCr9Z6h8N7HMBEjrNj74ZBYAZNwF6rmzEglGiO09Q==** => **abc**

**$teamspeak$3x4VeMJg29WtqGG3geXFWS/CENwI=$MG4DAgeAAgEgAiBVIPQRIwRRH1XNno7fZ/oLt7OPPSenIVI8oGe7kPrg+QIhAMcTHy4mPua1/U

[2021-10-30 16:21] Slawka opened #4856 "Undefined reference to DynamicFunc__* without Perl"
[code]
Windows 10
I suspect there is no package, but there is no link in the description

[2021-10-30 20:24] Skynzor opened #4857 "ERROR: make -sj4 (creating secp256k1.a / Dynamic / Dynamic_func) install-windows file"
**Story:**

Followed the INSTALL-WINDOWS file.
Had to install a couple more packages like Make and GCC (C compiler) that were not presented in the INSTALL-WINDOWS file.

Tried Cygwinx86 and Cygwinx86_64 build, both threw the same error on package " Secp256k1.a " after command:
`_./configure && make -s clean && make -sj4_ .`

**System:** Windows 10 Pro (Version: 21H1)
**Architecture:** x64

**Steps

[2021-10-30 23:37] jfoug commented on #4845
On 10/29/2021 2:05 PM, mar232320 wrote:

I used the dynamic compiler to 'almost' build the proper script. After
some digging into code, it shows that the compiler will not properly
handle mime with trailing '=' signs.  So I had to make a minor change to
the script.  Also, the native TS string is not read. THIS is where a
thin format would shine. It would convert the above 'native' teamspeak 3
form

[2021-11-01 09:12] magnumripper commented on #4845
I wonder what's with the UTF-8 test vector. @mar232320 you did create that with actual Teamspeak software, right?

Here's the speed of dynamic_1603 on my laptop
[code]
Salt is 112 bytes. For any password length up to 55 It's one block for the password, then three blocks for the final hash. So speed should be about 1.2 Gp/s on a good GPU.

[2021-11-01 09:21] magnumripper commented on #4845
No wait. For any password length up to 55 It's one block for the password, then three rounds. So speed should be about 1.2 Gp/s.

[2021-11-01 12:26] Slawka commented on #4857
Duplicate of #4856

[2021-11-01 12:37] solardiz commented on #4857
While the error message appears after `ar: creating secp256k1.a`, it has nothing to do with that command (which I guess succeeds without other messages). The error messages appear when compiling `dynamic_fmt.c`.

I'd suspect some local issue on one machine or with following build instructions, however we got @Slawka's report of what looks like the same issue at almost the same time. So I guess som

[2021-11-01 12:37] #4857 closed, assigned to nobody

[2021-11-01 12:41] solardiz commented on #4856
Also reported in #4857. My current best guess is something changed in Cygwin causing this. If the issue is a Cygwin bug, then hopefully it'll be gone soon, but regardless we might want to look into it ourselves, too. @jfoug @claudioandre-br Maybe you?

[2021-11-01 13:57] Slawka commented on #4856
cygwin64 3.3.1(0.341/5/3)

[2021-11-01 17:23] magnumripper opened #4858 "Session file corrupt after using format classes"
To reproduce:
[code]

On resuming, there'll be an error:
[code]
Manual fix: Decrease line two's "8" to "7" and drop the first format line.

Some variations of this bug works fine upon restoring but are suboptimal:
- `--format=m*` picks md5crypt, doesn't add a dupe but writes `--format=m*` verbatim in the session file.
- Similarly, eg. `--format=opencl` also gets written verbatim but no dupe is add

[2021-11-01 17:28] magnumripper commented on #4858
I think the worst variant of the bug (duplicate option in session file) is caused by us setting `options.format` to NULL, causing `recovery.c` to fill in the ultimately selected format. That's great, although we also need to filter out the *original* `argv` element that contained `--format`.

After fixing that, the other bug variants (verbatim `--format=nnn` instead of what format was ultimately s

[2021-11-01 17:40] magnumripper commented on #4858
Here's the first fix
[code]

[2021-11-01 18:19] magnumripper commented on #4858
Here's what I think is a fool proof way to fix the other problems (together with the above):
[code]

[2021-11-01 18:46] ghost commented on #4856
Perl is not installed (probably).

We should remove or update `INSTALL-WINDOWS`.

As a side note: Cygwin 3.3.0 is the last version supporting 32 bit Windows versions.

So, this is another reason to create a release soon.
* It will be more difficult to build a 32-bit Windows package in the near future.
*****
It works:
[code]
[code]
[code]

[2021-11-01 19:12] magnumripper commented on #4856
Good catch @claudioandre-br. Is `INSTALL-WINDOWS` good except for that?

If so, this should be committed:
[code]

[2021-11-01 19:20] magnumripper commented on #4856
While at it, we might want to add libpcap-devel as well (is that the correct name?).

[2021-11-01 19:27] ghost commented on #4856
I think the name is `perl-base`, but I'm not sure. pcap is worse, I think you should use a port like `winpcap`.

[2021-11-01 21:45] Slawka commented on #4856
Perl installed
x86
x86_64
make bad

[2021-11-02 09:45] #4858 closed, assigned to magnumripper

[2021-11-02 10:15] magnumripper opened #4860 "Dynamic: Bug in Base64 handling"
From @jfoug in https://github.com/openwall/john/issues/4845#issuecomment-955608090:
*I did find a 'bug' in dynamic, where the binary with trailing '=' is removed (normalized) in prepare() and split(), BUT when the offset in the input string computes the offset to the salt, the trailing '=' was used.  So when the binaries using the trailing '=' were used, the salt used within runtime started with "

[2021-11-02 14:44] ghost commented on #4856
I can reproduce the error without `perl` and fix it with `perl`. Please, try to `make distclean; ./configure && make` again.

The `dynamic_*` error is related to the message below (seen during the build process):
[code]

Run this script manually is also a fix (actually, i just did this plus a `make`).

If you need more help, I'm afraid something is wrong in your environment and you need to debug a

[2021-11-02 15:12] ghost commented on #4856
See https://github.com/openwall/john-packages/issues/16

[2021-11-02 17:45] Slawka commented on #4856
`make distclean && ./configure && make -s clean && make -sj4`

[code]

**All Ok**

[2021-11-02 19:47] solardiz commented on #4856
@Slawka In your previous attempts, did you possibly install Perl not right away, but after having run `./configure`?

When this happens, does the build continue anyway (until failing later)? If so, maybe that's something we should fix - have this shell script exit non-zero and the build stop there?

[2021-11-02 19:48] solardiz commented on #4857
@Skynzor Discussion did proceed on the other issue - you'll probably want to subscribe to it.

[2021-11-02 20:05] ghost commented on #4856
Yes. I saw the `perl` error message and, later, the linking issue.

[2021-11-02 20:38] mar232320 commented on #4845
@jfoug Ok that = sign could be removed  - it's only base64 padding. Also your dynamic format could be applied.
I recalculated the Möller hash and it's actually **7LSd8Jt5oZFXhDZuhQ9jEFSrw8w=** You can try this one with your scripts

[2021-11-02 20:46] mar232320 commented on #4845
@magnumripper The previous Möller hash I calculated probably wrongly, however I used the original teamspeak software.
The working hash should be **7LSd8Jt5oZFXhDZuhQ9jEFSrw8w=**

The dynamic_1603 speed is great! 1.2Gp/s is a speed that most of the passwords should be recovered in real-time. It's great that it could be achieved on a good GPU

[2021-11-02 21:00] Slawka commented on #4856
Yes,   I ran `./configure && make -s clean && make -sj4` saw errors perl, installed perl and started again `./configure && make -s clean && make -sj4`

[2021-11-02 21:11] solardiz commented on #4856
A  broken `dynamic_big_crypt.c` shouldn't be left around if `dynamic_big_crypt_generator.sh` fails. We already have the below at the beginning of this script:

[code]

and this at its end:

[code]

So it looks like without `perl`, we shouldn't have created that file. Is this somehow not working? Or does the build somehow proceed to those link errors even without a `dynamic_big_crypt.c` (isn't it a

[2021-11-02 21:12] jfoug commented on #4845
On 11/2/2021 3:46 PM, mar232320 wrote:

That is the value I get within dynamic (and my perl test script).

Are these hashes KNOWN to be from the teamspeak (i.e. known real ones),
or things you have computed.  Is there any way we can get more than one
real hash, just to make sure, including some passwords with high bit
bytes set. The dynamic script 'is' proper for the formula you have
listed, AND t

[2021-11-02 21:22] jfoug commented on #4860
On 11/2/2021 5:15 AM, magnum wrote:

The salt_offset is computed when initially building the dyanamic data
structure (description of the hash).  It looks like we should add a
prepare() or split() call there, so that the input string is 'unified'
properly.   Also, we should test that this bug does not spill over into
things like -show.  So a dyna_1603 (or other similar) input which
carries the trai

[2021-11-04 14:03] Skynzor commented on #4857
Thank you for letting me know 👍

[2021-11-04 21:27] solardiz commented on #3525
Looks like the register pressure in `pbkdf2_sha512_loop` is too high on NVIDIA:

[code]

Can we reasonably reduce it?

[2021-11-04 21:37] solardiz commented on #3525
This didn't help (still 162 registers and roughly the same speed):

[code]

[2021-11-04 21:44] solardiz commented on #3525
Also getting rid of `tmp_out` reduces the number of registers from 162 to 158, almost no change in speed. (I guess we need at most 128.)

[code]

[2021-11-05 15:26] Skynzor commented on #4856
I downloaded the zip John-bleed-jumbo again, just in case and unpacked it. Installed **_Perl_** on the 32bit through Cygwin installer. And then went to \src folder through Cygwin Bash. And when running the command `./configure && make -s clean && make -sj4`, I got the confirmation it worked.

So if anyone else is catching this error, install these packages (tested on x86 cygwin, not on x64):

1. l

[2021-11-06 21:26] mar232320 commented on #4845
Would it be added to public JtR release or I would have to build it myself?

[2021-11-08 07:00] HugoGrinch opened #4862 "zip2john does not return any hash value, gets "killed""
hello so i tried practicing cracking zip file passwords using john the ripper in kali linux and the zip2john command does not return any hash value for the zip file i am cracking and it only returned this statement:

ver 2.0 Test.zip/123.zip PKZIP Encr: cmplen=2810975925, decmplen=2810975913, crc=388ABCA5 zsh: killed zip2john Test.zip

[2021-11-08 07:59] Skynzor commented on #4856
`..\run\john --test` worked, but `..\run\john --test=0` threw an error. Can't replicate it today as i'm not at my workstation.

[2021-11-08 10:13] magnumripper commented on #3525
I just confirmed we're still faster than hashcat. I really wanted to see the ptxas info for hashcat but I see no way to do so, short of hacking the code.

[2021-11-08 10:35] magnumripper commented on #4862
You have too little real or virtual memory for processing it (the file is huge).

[2021-11-08 10:37] magnumripper commented on #4845
Maybe I'll find some time to whip up a GPU format some day but don't hold your breath.

[2021-11-08 10:56] HugoGrinch commented on #4862
i only use a virtual machine and i only alloted 2GB of ram, is it the main problem?

[2021-11-08 10:59] magnumripper commented on #4862
Sure. Try doubling it (provided the host has enough memory) and/or add a swapfile to Kali.

[2021-11-08 11:15] magnumripper commented on #4853
I confirmed on the Kepler, the other kernels can still use 768.
[code]

This is so simple, I suggest you try it once that GPU is idle:
[code]

[2021-11-08 11:44] magnumripper commented on #4856
Sounds like an intermittent problem. Try running `..\run\john --test=0` many times.

[2021-11-08 16:12] solardiz commented on #3525
I assume you mean slower.

[2021-11-08 21:22] solardiz commented on #3525
BTW, for when we fix this issue, `tezos-opencl` uses a revised copy of the same code and would need to have any fixes ported over to it (or switched to using shared code). Maybe there are more copies for other formats, I didn't check.

Edit: I was wrong, `tezos-opencl` only has separate uses of SHA-512 in its init (and soon final) kernel(s). It reuses the shared kernel for the main PBKDF2 loop, wi

[2021-11-09 04:31] HugoGrinch commented on #4862
hello sorry for the late reply, i tried doubling the ram by 4GB and it still gives me the same termination

[2021-11-09 09:26] magnumripper commented on #3525
No. The "still" was relating to this older post of yours:

Having tested a bit more, I'd say we're still on par - sometimes faster, sometimes slower. That's with a 2080ti.

[2021-11-09 09:31] magnumripper commented on #4862
So double it again or add a 4 GB swap file as well. The `zsh: killed zip2john Test.zip` is a tell tale that you ran out of memory. Right after it happens, you can try `dmesg | tail -20` and you'll probably see some log mentioning the "OOM_killer" killing your process to save the rest of the system.

[2021-11-09 10:08] ghost commented on #4862
You can (in fact, you should) run the zip2john tool using your host machine.
* You don't need kali to use John the Ripper;
* You don't need a VM;
* You don't need LInux;
* There is also a GUI (but I guess you need to be a lucky guy to install it easily);

John the Ripper is a CLI tool, but it's pretty simple to use it for simple tasks. Nobody needs to be an expert to make it work.

Just think abou

[2021-11-10 13:25] solardiz commented on #4862
Looking at `zip2john` source code and confirming with `ltrace`, it only needs roughly `cmp_len` bytes of memory, so just under 3 GB in this case. That 4 GB turned out to be insufficient suggests a lot of memory was also consumed elsewhere - e.g., was the output of `zip2john` perhaps _not_ redirected to a file, so the terminal emulator was trying to buffer it? That output would be almost 6 GB, thus

[2021-11-10 13:54] Rebnerd opened #4864 "Trying to recover a dmg file password on Apple M1"
how this happend?can anyone tell me how to solve this
![Uploading Screen Shot 2021-11-10 at 9.53.30 PM.png…]()

[2021-11-10 13:55] Rebnerd commented on #4864
<img width="590" alt="Screen Shot 2021-11-10 at 9 53 30 PM" src="https://user-images.githubusercontent.com/73422330/141125762-444dbcd5-1332-4882-afd7-cbbc355d40db.png">

[2021-11-10 13:59] solardiz opened #4865 "Integer overflows in *alloc() calls on 32-bit"
`malloc` accepts a `size_t` argument, our own wrappers like `mem_alloc` and others in `memory.[ch]` do as well. On 32-bit platforms, `size_t` is typically 32-bit as well. However, we have calls that pass 64-bit values in there, which in some cases may actually exceed what fits in 32 bits. When this happens, we attempt allocating an incorrect (too small) amount of memory, which might succeed, follo

[2021-11-10 14:01] solardiz commented on #4864
@fansinatingRu The program does work on Apple M1. However, with the `--show` option you're asking it to display a previously cracked password, which it doesn't have, and tells you so - there's "1 left" to crack. Omit that option.

[2021-11-10 14:01] #4864 closed, assigned to nobody

[2021-11-10 14:03] solardiz commented on #4862
Not an issue we need to track, so I'll close this. Discussion can continue in here anyway.

[2021-11-10 14:03] #4862 closed, assigned to nobody

[2021-11-10 14:34] solardiz commented on #4853
@magnumripper Your patch does the trick. Here's a more elaborate one, which also works:

[code]

Should we commit my version or yours? I think mine is less of a change on other devices.

[2021-11-10 15:25] solardiz commented on #4856
After @magnumripper's documentation update, I think the remaining task here is to figure out (and if reasonable fix) why the build got that far without Perl installed, instead of erroring out earlier (I think it should, as that would probably reduce the confusion).

[2021-11-10 16:28] francogrex opened #4866 "I am against the concept of publishing this"
The concept is unethical

[2021-11-10 16:34] solardiz commented on #4866
@francogrex OK, that's your opinion, but why open the issue?

[2021-11-10 16:48] francogrex commented on #4866
You may delete or close this, I didn't know how else to signal it, I was surprised to find such a project on github. My comments have nothing to do with the quality of the work itself. Regards.

[2021-11-10 16:48] #4866 closed, assigned to nobody

[2021-11-10 16:59] solardiz commented on #4866
Trying to take your feedback in a positive manner, I think we as a community need a public resource summarizing the offensive security tool debate of the 1990s and its outcome (publishing of such tools generally accepted as ethical). There is for the full disclosure debate e.g. https://en.wikipedia.org/wiki/Full_disclosure_(computer_security) but frankly and surprisingly I cannot easily find simil

[2021-11-10 18:01] magnumripper commented on #4853
Your version is better but I think we can improve it even more without over complicating it: Have it store the init kernel's max. LWS (as opposed to a bool) in `get_task_max_work_group_size()` and change the ternary op in `crypt_all()` to `(init_kernel_max_lws < lws) ? NULL : lws`.

Edit 1: We'd naturally refactor that static variable name.
Edit 2: I put it with a `>` at first, should obviously be

[2021-11-10 18:30] magnumripper commented on #4866
This project, along with similar projects such as hashcat, has helped showing weaknesses and bugs in major things such as Cisco routers, 1Password vaults and macOS (or rather OS X at that time). That's some "big names" off the top of my head but there's many, many more including web site engines, SQL servers and what not. Most of these systems (including all three I mentioned with name) are much m

[2021-11-10 19:19] solardiz commented on #4853
@magnumripper Sure, let's do that. Will you or should I create that PR? Thanks!

[2021-11-10 19:21] magnumripper commented on #4853
It's probably best you do it, so you can verify proper operation

[2021-11-10 19:47] solardiz commented on #4853
You can test it, too - in my testing so far, this isn't in any way related to concurrent use of this GPU.

[2021-11-10 20:45] magnumripper commented on #4853
OK, I'll whip up a PR tomorrow

[2021-11-10 20:47] magnumripper commented on #4853
I wonder if any other format would benefit from similar treatment. I'll try to keep it in mind.

[2021-11-11 13:16] magnumripper opened #4869 "Improve how dynamic_big_crypt.c is generated"
The source file `dynamic_big_crypt.c` is made at make time, from many parts and with substitutions for build target (such as SIMD type and so on).

Makefile.in
[code]
There seems to be a fallback in the above, copying a file from `unused/` (which BTW is a poor location to keep a fallback) but this apparently backfired somehow in #4856 (where the problem was lack of perl).

`src/dynamic_big_crypt_g

[2021-11-11 13:18] magnumripper commented on #4869
See also #3566

[2021-11-11 13:20] magnumripper commented on #3566
This doesn't seem to be the case (anymore?), but it's still kind of a mess and has its own issue in #4869

[2021-11-11 13:22] #4853 closed, assigned to magnumripper

[2021-11-11 13:23] #4856 closed, assigned to nobody

[2021-11-11 15:52] magnumripper opened #4870 "Intel's control-flag results"
Intel has open sourced their tool [control-flag](https://github.com/IntelLabs/control-flag) and while almost not knowing what it is I tried it out on our tree. I used the largest training dataset and it took forever. I expected wads of false positives but there were very few warnings compared to other tools we've tried (nine total, of which only six distinct ones):
[code]
I'm going to have a look

[2021-11-11 15:59] magnumripper commented on #4870
On a first glance, all of them are false positives and I have no idea what triggered the warnings.

[2021-11-11 20:24] solardiz opened #4871 "LM-opencl benchmark reports unrealistic speeds on small devices"
Matus UHLAR reported this to me via private e-mail after I questioned the benchmark results he posted on the wiki (for several small devices, not only NVIDIA):

[code]

[code]

Actual cracking:

[code]

So descrypt-opencl benchmark speed is sane and lm-opencl's actual cracking speed is even somewhat low for it (could be ~1G, achieved ~160M), but the lm-opencl benchmark speed is insane for this sma

[2021-11-12 17:13] fanto666 commented on #4871
these all happened on debian 11 amd64 installation with debian-provided packages:
ocl-icd-opencl-dev 2.2.14-2
ocl-icd-libopencl1 2.2.14-2
opencl-c-headers 3.0~2020.12.18
opencl-clhpp-headers 3.0~2.0.13-1
and either
nvidia-opencl-common 460.91.03-1
nvidia-opencl-icd 460.91.03-1
or
intel-opencl-icd 20.44.18297-1

john compiled with gcc-10.

no foreign development packages were installed.

[2021-11-16 12:46] solardiz commented on #4871
I am able to reproduce this with Intel's OpenCL using a CPU or Intel HD Graphics. With this debugging `printf`:

[code]

When running benchmark (with mask), I am getting (on CPU):

[code]

during actual cracking (with the same mask of `?a?a?l?u?d?d?s` that benchmark uses), I am getting:

[code]

The most relevant difference appears to be that during benchmark the original `*pcount` is multiplied b

[2021-11-16 13:09] solardiz commented on #4871
In `descrypt-opencl` benchmark with mask, its `mask_mode` flag is actually set. There are several differences in the implementations of `reset()` between these, but the relevant one appears to be that in `lm-opencl` we only set the flag when `db->real && db == db->real`:

[code]

Perhaps that's wrong.

[2021-11-16 13:25] solardiz commented on #4871
This fixes the issue for me:

[code]

@fanto666 Can you test this patch, please?

I am still puzzled about the benchmark results looking realistic on larger devices. We'll need to also see the effect of the above change on those.

[2021-11-16 16:07] solardiz commented on #4871
On Titan X Maxwell, this changes the benchmark speed from ~6000M to ~4400M. The latter is similar to what I'm getting in actual cracking with mask.

[2021-11-16 16:22] solardiz commented on #4481
We have many instances of these in mask-aware formats:

[code]

However, our crypt_all still uses int for *pcount and for its return value. So by allowing for up to 4G rather than 2G there, we accept triggering int overflows, which we then hopefully correct with implicit typecasts/promotions e.g. in the call to status_update_crypts:

[code]

However, formally this is UB, and we probably shouldn't

[2021-11-16 17:56] magnumripper commented on #4871
I see no immediate problem with that change but it doesn't address some of the other weirdnesses. This is particularly strange:
[code]
Why would `mask_mode` ever be a parameter in that? I can't believe `mask_mode` == running bitsliced (or not), or is it really?

[2021-11-16 18:01] magnumripper commented on #4481
Yes but we currently have this:
[code]
We should change this (not sure to what), or perhaps change `formats.h` to allow and document it.

[2021-11-16 18:07] magnumripper commented on #4481
Of those, I think `ARCH_WORD` is best. It would allow the mentioned `BENCH_CLERROR`, it would allow high figures on high-end platforms and it wouldn't affect 32-bit builds.

[2021-11-17 07:48] shoutmarble opened #4872 "blockchain2john.py --base64 doesn't generate a 12700 hash from a blockchain-V0 wallet for hashcat"
blockchain2john.py --base64 produces no output

Here are the steps that I tried

https://github.com/openwall/john/
./blockchain2john.py --base64 blockchain-v0.0-wallet.aes.json
Produces no hash output

I then wanted to plugin the hash from "blockchain2john.py --base64" into hashcat

I verified the wallet with BTCRecover and I wanted to verify cracking this wallet with HASHCAT

The V0 Blockchain wa

[2021-11-17 08:38] dvvvsh opened #4873 "Unknown option: "-zsh-zsh" when putting unquoted hash on command-line on macOS (usage error)"
first off I'll start by saying, I apologize if I missed something and this isn't new but I get this message  -Unknown option: "-zsh-zsh", I'm fairly new at this so please forgive me.

Version: 1.9.0-jumbo-1+bleeding-0a8bb63e9 2021-11-08 17:08:17 +0100
Build: darwin20.6.0 64-bit arm ASIMD AC
SIMD: ASIMD, interleaving: MD4:2 MD5:2 SHA1:1 SHA256:1 SHA512:1
$JOHN is ./
Format interface version: 14
Max

[2021-11-17 10:00] magnumripper commented on #4872
[blockchain-v0.0-wallet.aes.json](https://raw.githubusercontent.com/gurnec/btcrecover/master/btcrecover/test/test-wallets/blockchain-v0.0-wallet.aes.json)

Works for me:
[code]

I could also crack that hash with the mentioned password, using CPU or GPU.

On a side note, the wallet is a file containing 100% Base64. Without using the `--base64` option, I get another (good looking) hash that I can't

[2021-11-17 10:01] magnumripper commented on #4872
This is the JtR repo, but I also tried cracking with hashcat and it worked just fine as well.

[2021-11-17 10:03] magnumripper commented on #4872
Another note: I get the correct hash with python2 as well as python3 but the latter emits this warning:
[code]
If I do that change though, the script no longer outputs anything under python2.

[2021-11-17 11:03] solardiz commented on #4871
Of course, the code is weird, and lacks comments.

That line is dead code - `count` is never used. (However, `descrypt-opencl` has similar, and actually uses the computed `count`.)

There's no code to run non-bitsliced. However, _apparently_ when running with a mask, the bit depths are filled using the mask multiplier. This probably means we have efficiency loss when the mask multiplier isn't a mu

[2021-11-17 11:06] solardiz commented on #4873
@dvvvsh What command are you typing that triggers that message about zsh?

[2021-11-17 11:09] solardiz commented on #4872
@magnumripper What you describe is indeed problematic - we need to fix that. Would you open an issue for that? (Or maybe a PR right away if you can.) Thank you!

[2021-11-17 11:19] solardiz commented on #4481
Oh, that `BENCH_CLERROR` is indeed problematic - not because of `crypt_all` return value type, but because our current calls to `crypt_all` don't expect a `-1` return. We need to either remove the `return -1;` (maybe use `return 0;` there, for "nothing cracked" in testing, as long as we keep the `error();` for actual cracking) or handle `-1` in the callers. Do any other uses of `BENCH_CLERROR` exp

[2021-11-17 11:33] magnumripper opened #4875 "blockchain2john.py handling of old Base64 wallets is prone to user error"
See #4872
[code]
The problem with the `--base64` option (for very old version wallets) is that if you don't give it where needed, *you still get output that looks like a perfectly fine hash, but is uncrackable*.

We don't seem to have any blockchain wallets in https://github.com/openwall/john-samples, maybe a first step is adding some (hopefully from https://github.com/gurnec/btcrecover/tree/maste

[2021-11-17 11:36] shoutmarble commented on #4872
I don't get the same hash value for blockchain-v0.0-wallet.aes.json from blockchain2john.py

This is the test Blockchain V0 wallet I'm verifying with my blockchain2john.py and hashcat 12700

Wallet

(python2 output is identical to python3 output)

(I renamed the blockchain2john.py output hash to V0.hash)  And, I removed "blockchain-v0.0-wallet.aes.json:" from beginning of the blockchain2john.py ha

[2021-11-17 11:40] magnumripper commented on #4481
We obviously do handle a -1 return in `opencl_common.c` (the autotune functions). Perhaps we should tweak that macro so it can only return `-1` if `ocl_autotune_running` and nothing else.

[2021-11-17 11:45] magnumripper commented on #4872
@shoutmarble you need to use the `--base64` option to get the correct hash, just like in your OP.

[2021-11-17 11:49] shoutmarble commented on #4872
***@***.*** Downloads]$ python2 ./blockchain2john.py blockchain-v0.0-wallet.aes.json
blockchain-v0.0-wallet.aes.json:$blockchain$920$35674d50786173386c354d316f436337737337746950576663745365756e486d43704b313874645a68306473615751464c5862465639377145472f76345276627059344e4d7631554a4e676d3865364739554836624d3348304c6f4452637433697464754b4f796e376b6a69756c684c43524f614b6c672f305874343432763774315666627

[2021-11-17 11:51] #4872 closed, assigned to nobody

[2021-11-17 11:59] magnumripper commented on #4481
Apparently @claudioandre-br changed it in 462f2b4b6 so it can return -1 in some other situations that autotune. Not sure why.

[2021-11-17 12:06] solardiz commented on #4875
Related: we should also/first fix #4558.

[2021-11-17 12:06] magnumripper commented on #4481
We could obviously add code in `bench.c` and `formats.c` to handle this "error return" but I think what would happen now is just we call `cmp_all()` with a count of -1 and not much harm done (self-test should fail anyway).

Perhaps we should just change `bench_or_test_running` to `self_test_running` so we don't ignore errors while benchmarking (they would be printed though).

[2021-11-17 13:06] dvvvsh commented on #4873
./john hashes
On Nov 17, 2021, 3:06 AM -0800, Solar Designer ***@***.***>, wrote:

[2021-11-17 13:13] solardiz commented on #4873
@dvvvsh Well, this shouldn't be happening. Can you show a piece of copy-paste from your terminal, including the command and its output? Like you did for the build info.

[2021-11-17 13:46] ghost commented on #4481
Reading the commit message, I would say it was bailing out with error on a `--test` run. We can revert and test it later to confirm, but it have to be something like that.

[2021-11-17 17:00] fanto666 commented on #4871
retried with the one-line patch from
https://github.com/openwall/john/issues/4871#issuecomment-970272450

% ~/src/debian/john/bleeding-jumbo/run/john -test -format=LM-opencl
Device 1: GeForce GT 1030
Benchmarking: LM-opencl [DES BS OpenCL/mask accel]... LWS=192 GWS=65536
DONE
Raw:    883166K c/s real, 843562K c/s virtual

breaking random hash gives different results:

% ~/src/debian/john/bleeding-

[2021-11-17 18:11] magnumripper commented on #4481
I think what you wanted to achieve (and which should often be the case now) is for a self-test failure to not break the whole (all formats) `--test` (or `--test=0`) but continue like CPU-formats normally would. And that's generally a good thing - maybe we should keep it mostly as-is unless we see real and/or specific problems with it.

[2021-11-17 18:29] solardiz commented on #4871
Thanks @fanto666. This remaining discrepancy is weird, yet the `-test` speed you report now is sane - it is consistent with what you're getting for `descrypt-opencl` (by design, LM is supposed to be about 25 times faster).

BTW, there's no point in using a mask longer than 7 with LM hashes since we're cracking their halves. Can you try with a length 7 mask? In particular, can you try with `?a?a?l?

[2021-11-17 18:48] solardiz commented on #4873
This is pretty obviously a usage error. We don't need to track this as an issue, so I'll close the issue now. However, @dvvvsh please feel free to post further comments/questions to this (closed) issue if you need.

[2021-11-17 18:48] #4873 closed, assigned to nobody

[2021-11-17 19:20] solardiz commented on #4871
@magnumripper BTW, shouldn't we be rejecting attempted use of a mask longer than the format's maximum?

[2021-11-17 19:45] fanto666 commented on #4871
% ~/src/debian/john/bleeding-jumbo/run/john -format=LM-opencl -session:lm1 -mask='?a?a?a?a?a?a?a' lm1
Device 1: GeForce GT 1030
Using default input encoding: UTF-8
Using default target encoding: CP850
Loaded 2 password hashes with no different salts (LM-opencl [DES BS OpenCL])
LWS=96 GWS=524288
Press 'q' or Ctrl-C to abort, almost any other key for status
0g 0:00:01:30 0.20% (ETA: 09:13:32) 0g/s 1

[2021-11-17 19:49] fanto666 commented on #4871
for DES I get about the same numbers:

% ~/src/debian/john/bleeding-jumbo/run/john -format=descrypt-opencl -session:des -mask='?a?a?a?a?a?a?a?a' des
Device 1: GeForce GT 1030
Using default input encoding: UTF-8
Loaded 1 password hash (descrypt-opencl, traditional crypt(3) [DES OpenCL])
LWS=64 GWS=65536
Press 'q' or Ctrl-C to abort, almost any other key for status
0g 0:00:00:33 0.00% (ETA: 2027-08-

[2021-11-17 20:35] solardiz commented on #4871
Thanks. So the fix here appears to be working right, and there's a separate issue with `lm-opencl` having much worse performance for `?a?a?a?a?a?a?a?a` than it does for our benchmark mask. Per my testing yesterday, the latter mask (which I also tried) with `lm-opencl` results in a multiplier of 95, vs. 676 for the benchmark mask. Maybe 95 is too small, or maybe the tuned GWS is too high. Speaking

[2021-11-18 14:48] magnumripper commented on #4871
Current behavior is to silently truncate any too long mask (or silently stretch a too short one, where applicable). For warning or even refusing them we need to know that it's an explicitly given one (as opposed to a default one). Maybe that's trivial, maybe not. If you think we really should, please open an issue.

[2021-11-18 15:15] magnumripper commented on #4871
Please note that the "mask multiplier target" depends on GPU horse power. For LM it's
[code]
...where the "speed index" is basically the device's clock multiplied with number of cores and SIMD width. You can see it with `--list=opencl-devices`. For a 2080ti (4352 CUDA cores, 1545 MHz) the figure is 6723840 so `mask_int_cand_target` ends up being 22412 while weaker devices might end up with a way l

[2021-11-18 15:21] magnumripper opened #4876 "Consider adding a --mask-int-target=N option"
See https://github.com/openwall/john/issues/4871#issuecomment-972959657

We could add an option for overriding any figure set by the format. The best-effort algorithms used for determining the size of the internal mask is far from perfect so in some cases we might want to set it manually for an actual cracking session. Apart from that it would be handy for testing as well.

[2021-11-18 15:33] magnumripper opened #4877 "Try untying bitslice from internal mask"
@solardiz in https://github.com/openwall/john/issues/4871#issuecomment-971467795:
*(...) _apparently_ when running with a mask, the bit depths are filled using the mask multiplier. This probably means we have efficiency loss when the mask multiplier isn't a multiple of 32 (which it usually isn't). For example, for the 676 seen in our default benchmark mask, the actual number of hashes computed is

[2021-11-18 16:00] solardiz commented on #4871
I was wrong - `count` is used. Anyway, this isn't the only place in that file where the multiplication/division by bitslice depth is conditional upon mask mode.

[2021-11-18 16:01] magnumripper commented on #4876
Perhaps `--mask-internal-target=N` is a tad better. Or maybe `--mask-acceleration-target=N`.

[2021-11-18 16:17] #4871 closed, assigned to nobody

[2021-11-18 16:57] fanto666 commented on #4871
not sure if you are still interested, but here you are.
btw with different runs at different time I often get different guesses for LWS/GWS (even with the same parameters), but similar results.

% env LWS=192 GWS=65536 ~/src/debian/john/bleeding-jumbo/run/john -format=LM-opencl -session:lm1 -mask='?a?a?a?a?a?a?a?a' lm1
Device 1: GeForce GT 1030
Using default input encoding: UTF-8
Using default tar

[2021-11-18 17:03] solardiz opened #4880 "LM-opencl poor speed on GT 1030 with some masks"
As reported by @fanto666 in https://github.com/openwall/john/issues/4871#issuecomment-971916061 our default benchmark mask shows much better speed than an all-?a mask:

[code]

[2021-11-18 17:14] ghost commented on #4876
I actually have something like this at: https://github.com/openwall/john/blob/3844f06b7a4175123e65f96c5f1ba8bc065b8f23/src/opencl_rawsha512_gpl_fmt_plug.c#L584

In my tests, I found it is not really important/useful. The mask mode's inability to "partition" the mask further is the real problem. The ability to turn, for example, a `?d` into two "mask calls"; the 1st one from zero to 4 and the 2nd f

[2021-11-18 17:42] fanto666 commented on #4880
I have played with the mask, and so far everything different from all-?a mask produced better results.

% ~/src/debian/john/bleeding-jumbo/run/john -format=LM-opencl -session:lm1 -mask='?a?a?a?a?a?a?a?a' lm1
Device 1: GeForce GT 1030
Using default input encoding: UTF-8
Using default target encoding: CP850
Loaded 1 password hash (LM-opencl [DES BS OpenCL])
LWS=96 GWS=524288
Press 'q' or Ctrl-C to a

[2021-11-18 20:50] solardiz commented on #4880
@fanto666 Can you also show the "mask factor" lines from the log file? Here's what I am getting on Titan X Maxwell:

[code]

[code]

[2021-11-18 20:53] solardiz commented on #4871
I might not have recalled correctly. I thought those figures were what I saw with debugging `printf` added like I mentioned in
https://github.com/openwall/john/issues/4871#issuecomment-970238020 - however, now I see I was getting much larger "mask factor" values in the log file - or maybe there's a reason for discrepancy between what I was printing there and what we're logging...

[2021-11-18 20:57] solardiz commented on #4880
@magnumripper I am puzzled by those "actual" mask factor values. How can we have 4761 for an all-?a mask? I thought we'd have either 95 or 9025. FWIW, `4761 = 23*23*3*3`, why would that be?

[2021-11-18 20:59] mar232320 commented on #4845
OK great, and the upper dynamic_1603 cpu version will be added/able to build?

[2021-11-19 14:31] magnumripper commented on #4880
You had me wondering there but then I realized you merely overlooked that for LM, ?a isn't 95 chars but 69 (no lowercase). So a single position internal mask is 69, two is 4,761 and three would be 328,509 (so probably too large for any current GPU).

[2021-11-19 14:51] magnumripper commented on #4876
That's definitely the bottom-line problem for #4880 and some other issues. I'm just not sure how to solve it without complex code.

[2021-11-19 19:52] paulcardelli opened #4881 "Running office2john.py AttributeError: 'ElementTree' object has no attribute 'getiterator'"
Looks like it maybe due to a depreciated Attribute in Python used in the script.

Command and output:
D:\john-1.9.0-jumbo-1-win64\run>python office2john.py "test file.docx" > officepassword.txt
Traceback (most recent call last):
  File "D:\john-1.9.0-jumbo-1-win64\run\office2john.py", line 3082, in <module>
    ret = process_file(sys.argv[i])
  File "D:\john-1.9.0-jumbo-1-win64\run\office2john.py"

[2021-11-19 20:03] paulcardelli commented on #4881
It appears to work fine in Kali, even used the same office2john.py script and file. So likely there is an issue with the python3 for Windows. So the work around it for me is to not use windows.

[2021-11-19 21:07] ghost commented on #4881
This was fixed at eb7cbf6e72ba4ad04a164fe832de51b59e94b6f9.

Please use the bleeding-jumbo version from this repository.

[code]

[2021-11-20 06:04] paulcardelli commented on #4881
perfect thank you, for the quick response

[2021-11-20 06:47] dvvvsh commented on #4873
jonathandoe@MacBook-Air run % python bitcoin2john.py 11.dat
$bitcoin$64$bd2d86dd1d3e766e3273dc8587fec8abb530d2e780c1ab1fb4116a5e898b591c$16$cc279a2c74dacc43$62210$2$00$2$00
jonathandoe@MacBook-Air run % ./john $bitcoin$64$...............................$16$cc279a2c74dacc43$62210$2.........

Unknown option: "-zsh-zsh"
jonathandoe@MacBook-Air run %

[2021-11-20 11:09] solardiz commented on #4873
@dvvvsh As expected, that's not correct usage. You need to save the `bitcoin2john.py` output to a file and then run `john` on the file. Like this:

[code]

Please be careful when posting cryptocurrency wallet info online. Luckily, our latest revision of `bitcoin2john.py` produces sufficiently non-revealing output that no one can access your funds just from knowing that string and cracking the pass

[2021-11-20 13:21] #4881 closed, assigned to nobody

[2021-11-20 16:18] dvvvsh commented on #4873
thanks a lot you are greatly appreciated!

[2021-11-20 19:02] fanto666 commented on #4880
0:00:00:00 Command line: /home/uhlar/src/debian/john/bleeding-jumbo/run/john --format=LM-opencl --session=lm1 --mask=?a?a?a?a?a?a?a lm1
0:00:00:00 - Requested internal mask factor: 1830, actual now 69

0:00:00:00 Command line: /home/uhlar/src/debian/john/bleeding-jumbo/run/john --format=LM-opencl --session=lm1 --mask=?a?a?l?u?d?d?s lm1
0:00:00:00 - Requested internal mask factor: 1830, actual now

[2021-11-20 21:05] solardiz commented on #4880
@magnumripper Does actual mask factor have to always be not greater than the requested/target one? Maybe we could adjust the logic so that, in this example, 1830 gets upgraded to 4761 rather than downgraded to 69?

[2021-11-21 08:23] marksilinio opened #4882 "APOP hash extraction script"
It would be useful to have a `pcap2apop.py` script to extract APOP salted hash (RFC1939):
[code]

[2021-11-21 08:28] marksilinio opened #4883 "Make ccache2john.py Python 3 compatible"
ccache2john.py still uses `#!/usr/bin/env python2`
should be `#!/usr/bin/env python`

[2021-11-21 08:44] marksilinio commented on #4883
https://github.com/openwall/john/pull/4884

[2021-11-21 08:50] marksilinio commented on #4596
see https://stackoverflow.com/questions/64401044/pcap-lookupdev-is-deprecated-l-how-to-resolve-it

[2021-11-21 09:54] marksilinio opened #4886 "add pcap2mactelnet script"
Mikrotik uses salted MD5 for authentication,
an explanation of the protocol can be found here:
https://omniflux.com/devel/mikrotik/Mikrotik_MAC_Telnet_Procotol.txt

see also https://wiki.wireshark.org/Protocols/mactelnet
and https://github.com/haakonnessjoen/MAC-Telnet/

[2021-11-21 14:33] mdp1 opened #4888 "zip2john, rar2john don't exit non-0 when given incompatible files"
So I was hoping that a .ace archive might work with one of the existing archive`2john`s.
Both `zip2john` and `rar2john` don't output anything when given an ace archive file...and they return 0 exit status.

Seems like this will make it difficult to detect error conditions when scripting as we have to check for the absence of stdout rather than presence of output on stderr or non-0 exit code.

**Re

[2021-11-22 03:58] naielmk opened #4889 "H"

[2021-11-22 03:58] #4889 closed, assigned to nobody

[2021-11-22 16:07] solardiz commented on #4883
As discussed on the PR, we are not so sure yet. Let's continue to discuss on the PR.

[2021-11-22 16:22] #3829 closed

[2021-11-22 16:41] solardiz commented on #4888
I'd call this a "bug", but these programs are written such that they don't propagate many (perhaps most) potential errors - so let it be a non-trivial "enhancement" to implement that. ;-)

When I've just tried running them on various other file types, I do get some error messages on stderr, though. So the main problem is the zero exit code. @mdp1 If you're able to trigger no output at all, then we

[2021-11-22 17:08] mdp1 commented on #4888
Thanks for the reply.  I can reproduce this with a simple text file... so maybe it is something specific to the build I have.

I installed/built this with homebrew.

[code]

Regarding the contrib, I also think ace is pretty much abandoned...but some people (like me) might have old archives from previous decades they have forgotten the passwords for.  We will see if I get around to digging into the

[2021-11-22 17:19] ghost commented on #4888
Many changes were introduced after jumbo 1.

The zero exit code is somehow undesired, but the new zip2john gives us a good hint.

[code]

[2021-11-22 17:30] mdp1 commented on #4888
Nice to hear there are already some improvements on the `stderr` front.

It looks like `1.9.0-jumbo-1` is from May 2019.
Will there be a new release at some point or should I just build the `bleeding-jumbo@HEAD`?

Sorry if I missed this somewhere.  The git repo readme still references an INSTALL file which doesn't appear to be there anymore.

[2021-11-22 17:52] solardiz commented on #4888
Both.

It's under `doc/` like it always was. Maybe we need to edit `README.md` to make that explicit.

[2021-11-22 19:00] marksilinio commented on #2413
actual link:
https://github.com/WoltLab/WCF/blob/master/wcfsetup/install/files/lib/system/user/authentication/password/algorithm/DoubleBcrypt.class.php

[2021-11-22 19:07] magnumripper commented on #4880
I'm nearly sure I have seen it end up greater than the target but I know no details. It's Sayantans code and I'm not even sure in what function or file it sits (although I'm willing to dig into it sooner or later).

@fanto666 you could try checking out #4879 and see how fast ?a?a?a?a?a?a?a gets if adding `--mask-internal-target=4761`. A simpler way for this exact test would be just editing `opencl

[2021-11-22 20:02] 3d5g opened #4890 "Add MetaMask wallet support"

[2021-11-22 20:36] magnumripper commented on #4888
In part this is an issue of defining how most/all 2john tools should behave (do's, dont's, optionals). Some might like to run `rar2john some/directory/*` and get the output for rar archives while simply ignoring others. One could argue that you should simply use `rar2john some/directory/*.rar some/directory/*.RAR` instead.

I'm not aware of any 2john tool that exits with error if nothing was found

[2021-11-23 11:24] solardiz opened #4892 ""CUDA cores" reporting is wrong on Ampere"
I think we should halve the number of "cores" in the computation in `opencl_speed_index()` when we're on NVIDIA Ampere and above, because half of their reported cores are FP-only, thus currently unusable for us.

Alternatively, we could halve our reported number of cores (fits our current code better, with GPU type checks all in one place), but then we need to adjust the wording from "CUDA cores"

[2021-11-23 11:26] solardiz commented on #4892
Ideally, someone with one (or more) of those GPUs handy should do this and run benchmarks. While I think the change is correct anyway, even _if_ it'd happen to hurt some speeds, we should at least be aware of that and should then try and repair the speeds by tweaks elsewhere.

[2021-11-23 15:25] marksilinio commented on #3658
I think this bugreport should be closed/resolved because https://github.com/openwall/john/pull/3664 is merged

[2021-11-23 15:37] solardiz commented on #3658
Thank you, @AlbertVeli and @marksilinio. Closing.

[2021-11-23 15:37] #3658 closed

[2021-11-23 15:42] marksilinio opened #4893 "Add format and extractor script for ```authenticator``` python app master password"
It would be nice to have a script that allow to bruteforce master password of
https://github.com/JeNeSuisPasDave/authenticator

it uses the AES 256-bit symmetric key:
https://github.com/JeNeSuisPasDave/authenticator/blob/3caa2edebff01be3e6fd82c72ac3a0eb415cbe66/src/authenticator/data.py#L597-L606

to encrypt the second 16-byte data and compare it with the first 16-byte block (header):
https://gith

[2021-11-23 16:15] solardiz commented on #4882
We're done here, so I'll close the issue.

@marksilinio For further occasions, you can use the word "Closes" or "Fixes" in place of "Implements" - then GitHub would close the issue automatically. Also, I suggest putting this on a separate line (would be line 3+, after commit title and an empty line).

Thank you!

[2021-11-23 16:15] #4882 closed, assigned to nobody

[2021-11-23 16:16] solardiz commented on #4893
I think it'd take not only a script, but also a new format in `john`.

[2021-11-23 16:25] fanto666 commented on #4880
after patching opencl_lm_b_plug.c manually:

% /home/uhlar/src/debian/john/bleeding-jumbo/run/john --format=LM-opencl --session=lm1 --mask='?a?a?a?a?a?a?a' lm1
Device 1: GeForce GT 1030
Using default input encoding: UTF-8
Using default target encoding: CP850
Loaded 1 password hash (LM-opencl [DES BS OpenCL])
LWS=64 GWS=32768
Press 'q' or Ctrl-C to abort, almost any other key for status
0g 0:00:00:

[2021-11-23 16:25] solardiz commented on #4890
@3d5g Can you in fact add a description for this issue, please? Your original description, now deleted, said: "add a script to extract the metamask hash from the log file for hashcat metamask2john.py". This doesn't make sense to me. What log file? Why would we add it in our project if it would be for hashcat only and they already have their own (see below)?

I can only guess that you want metamask

[2021-11-23 16:32] solardiz commented on #4890
Relevant links I found before realizing this is in hashcat already:

https://ethereum.stackexchange.com/a/107765
https://community.metamask.io/t/access-metamask-seed-via-pc-files/1027/28
https://github.com/MetaMask/vault-decryptor

[2021-11-23 16:42] solardiz commented on #4888
Good point, @magnumripper. It's in fact non-obvious what to do when only some of the files were processed correctly. I suggest that we do exit non-zero in such cases. If we really want, we can choose two different non-zero exit codes for complete vs. partial failure, but that's probably excessive.

[2021-11-23 17:04] magnumripper commented on #4893
This sounds very similar to the newly added cryptoSafe format(s). If nothing else, they can probably be used as templates.

[2021-11-23 17:05] marksilinio opened #4894 "Add carp2john hmac extractor script (*BSD Common Address Redundancy Protocol)"
SHA-1 HMAC generated with the pass parameter as secret key, and counter, version, type, vhid, and virtual IP address as the message digest.

Packet format:

| field# | bits | Description |
|--------|------|-----------------|
| version | 4 | The version of the CARP protocol.This is statically defined as 2 in the header file `/usr/src/netinet/ip_carp.h`. |
|type|4|The type field defines the type of

[2021-11-23 17:19] magnumripper commented on #4880
OK so merely tweaking the mask factor makes for a boost from 165989Kp/s to 995482Kp/s. We clearly need to do something.

Apparently the GT 1030 has a "speed index" of 549000 so to get a target >= 4761 we need to divide by 115 instead of 300. But first I'll have a look at Sayantan's code for matching the target against the alternatives - like I said I think we can have a lower target but I don't kn

[2021-11-23 17:24] magnumripper commented on #4888
BTW, most of the other 2john tools are very quiet in terms of diagnostics/progress messages to stderr, unless `-v` is given. We might want to limit rar2john's stderr output the same way.

[2021-11-23 17:45] magnumripper commented on #4888
So what would be a sensible exit code for "some files succeded"? The only one I think would be fairly good of those listed in `man sysexits` is 65 "The input data was incorrect in some way". Or maybe we could simply use 3 (or even 2 but it's listed in several places for "misuse of shell builtins").

On a related note I've long wanted to exit john with something other than 1 (yet not 0) for things

[2021-11-23 17:50] mdp1 commented on #4888
Of course I'm new to the party, so my opinion shouldn't bear much weight.  Nevertheless a few thoughts...

When someone runs `rar2john some/directory/*` the shell expansion is done by the shell and wildcards is not a feature of `rar2john`.

ie `rar2john some/directory/*` is converted into:
`rar2john some/directory/file01 some/directory/file02 some/directory/file03.rar some/directory/file04.jpg som

[2021-11-23 18:01] magnumripper commented on #4888
Yeah maybe we should just have 0 for "all success" or 1 for "something's amiss" and be done with it. But I'll sleep on it (and any script doing things like `rar2john && echo AOK || echo Problem` would work just the same even if we added a third exit code).

I agree errors/warnings should always go to stderr - the `-v` would turn on further diagnostics such as "Found encrypted file this or that, pa

[2021-11-23 18:09] magnumripper commented on #4892
Apparently Ampere's "compute capability" is 8.0

[2021-11-23 18:19] magnumripper commented on #4892
We currently don't make any CUDA calls to ask for number of "CUDA cores" so there's no figure to halve. We merely ask for the "compute capability" and then decide we have 64 cores per MP for (currently) anything >= 7.0.

The Wikipedia page for Ampere says it has "64 (+64 mixed INT/FP32 cores)". Not sure what that means, 96 INT32 cores?

[2021-11-23 18:21] magnumripper commented on #4892
On a side note I have considered re-adding some (optional) CUDA code for things like this. We get more info from CUDA than from (even nvidia proprietary) OpenCL calls.

[2021-11-23 18:27] magnumripper commented on #4892
If so, it'd just be something like
[code]
We should probably add stuff in other places (such as `run/opencl/opencl_device_info.h`) as well, but that's not really related to this issue.

[2021-11-23 18:33] magnumripper commented on #4892
No wait, it says "FP32 cores / SM" is what I said. So the number of INT32 cores is 64, and our current code actually emits the correct speed index.

Still, we should add code here and there (such as in `run/opencl/opencl_device_info.h`) for recognizing Ampere, and we should change the wording of "CUDA cores".

[2021-11-23 19:16] solardiz commented on #4892
Oh, you're right. So the number is already what we need, and the wording "CUDA cores" is not. Can this issue be for changing the wording, then? Maybe just make it "INT32 cores". We can even use that on non-NVIDIA, removing the ternary operator.

[2021-11-23 20:17] magnumripper commented on #4892
I'll whip something up and make a PR

[2021-11-23 20:18] magnumripper commented on #4892
I think I'll have it as "CUDA integer cores" provided it fits width.

[2021-11-24 06:44] marksilinio commented on #4894
sample: https://github.com/openwall/john-samples/pull/9

[2021-11-24 13:45] solardiz commented on #4892
There are also INT8 cores in recent NVIDIA GPUs, which by the way we could possibly use for Lotus/Domino and such. So I prefer we explicitly say INT32 here.

[2021-11-24 21:51] mar232320 commented on #4845
@jfoug how does this dynamic script work?

[2021-11-25 09:16] magnumripper commented on #4880
Using #4879 I found a very similar problem: My AMD Radeon Pro Vega 20 (laptop, speed index of 947200) using nt-opencl with mask ?a?a will only get x95 and a speed of 3531M. If I add `--mask-internal-target=10000` I get x9025 and 6852M.

For LM and ?a?a though, the resulting target of 3157 is enough for our code to end up with the 4761 - so that's an example where we do pick a higher-than-target fi

[2021-11-25 09:26] magnumripper commented on #4880
Another observation: If I use `--mask-internal-target=1` and ?a, it will still be x95. That's good (or is it? Perhaps for very weak devices we should rather stop using internal mask).

[2021-11-25 09:36] magnumripper commented on #4880
Yet another observation: I thought `--mask-internal-target=0` would definitely turn off internal mask generation, but it still picks 10 or 26. That's a problem because when stacked rules are used the code tries to turn off internal mask in exactly that way. I'll open an issue for this.

Edit: This was due to a code path never reached for a value of 0. This is now fixed in #4879 and  `--mask-intern

[2021-11-25 09:39] magnumripper opened #4896 "Stacked rules may fail to disable internal mask generation"
As found in https://github.com/openwall/john/issues/4880#issuecomment-979027051

When stacked rules are used, the code tries to turn off internal mask by setting `mask_int_cand_target = 0`, but this may still pick placeholders up to at least x26

[2021-11-25 09:54] magnumripper commented on #4896
This was a red herring.
[code]
The option wont set the target to 0 becase the `if` is false...

[2021-11-25 09:54] #4896 closed, assigned to magnumripper

[2021-11-25 12:53] #4892 closed, assigned to magnumripper

[2021-11-25 12:57] magnumripper commented on #4893
If someone whips up an `authenticator2john` and supplies a couple of test vectors (add original samples to https://github.com/openwall/john-samples as well please), I'm willing to write the formats.

[2021-11-25 13:54] magnumripper opened #4897 "Bug in LM and DEScrypt OpenCL formats for when target mask factor is 0"
This happens when using `--rules-stack` because we need to disable internal mask then. It can (at least theoretically) also happen on very weak GPUs just from the formula that sets the target from `opencl_speed_index() / some_divisor`. The `--mask-internal-target` option added in #4879 can also be used to set the target to 0 and this is how I found this problem.

Both LM & DEScrypt formats segfaul

[2021-11-25 14:02] magnumripper commented on #4897
Notes to self:
The fact that we don't have an internal mask *multiplier* doesn't necessarily mean we don't have an internal mask. Consider a mask of "?w2021". I'm not (yet) sure whether the adding of "2021" can happen on GPU side, but if it does the `mask_int_cand.num_int_cand` will still be 1.

Perhaps the above patch is a perfectly fine fix for this issue, I'm just not sure yet.

[2021-11-25 14:06] #4876 closed, assigned to nobody

[2021-11-25 14:22] magnumripper commented on #4897
OK, the above patch is definitely not correct for DEScrypt. I ran a test for a mask of "?w1" and it didn't find a single password when using `--mask-internal-target=0`.

[code]
It's supposed to find 196g.

For LM,
[code]
is supposed to find 164g. For this test, LM-opencl segfaults patched or not, and using `--mask-internal-target=0` or not...

[2021-11-25 14:24] solardiz commented on #4880
Maybe we should be rounding to geometrically nearest, so e.g. 1000 would be upgraded to 4761 (a factor of ~5) rather than downgraded to 69 (a factor of ~15).

[2021-11-25 14:42] magnumripper commented on #4897
Here's a promising fix (while not necessarily complete)
[code]

[2021-11-25 14:44] magnumripper commented on #4897
~That last change actually seems to be the fix!~

Nope, the reason it works is it ends up with eg. x10 on GPU side, instead of all CPU-side.

[2021-11-25 15:50] magnumripper commented on #4897
While throwing stones at this to see what what sticks, I notice the problems and partial fixes are slightly differerent not only between LM and DEScrypt but also between macOS DEScrypt and Linux NVIDIA DEScrypt.

It seems `bs_b` is the "basic kernel", `bs_h` is "hardcoded salt" and `bs_f` is "full unroll" (and also has hardcoded salt). For LM, there is no `bs_h`, there's just "basic" and "full unr

[2021-11-25 16:02] solardiz commented on #4897
In general, I think for then-latest GPUs we should use NVIDIA compute capability (and similar for other vendors) checks of the kind ">= revision", not "== revision". In other words, I think the best guess we can make is that future GPUs will be similar to latest current, not to some arbitrary older. Similarly, we should now fix this check not by listing more `nvidia_sm_*`, but by introducing and u

[2021-11-25 16:04] solardiz commented on #4897
Hmm, we don't use per-salt descrypt kernels on AMD and recent NVIDIA? That's weird! The per-salt kernels optimization is expected to be universal. It would in fact be nice to be able to manually disable it for faster startup, though.

[2021-11-25 16:24] magnumripper commented on #4897
It can be disabled by editing `run/opencl/opencl_DES_hst_dev_shared.h` and set `OVERRIDE_AUTO_CONFIG` and other params accordingly. Even though that file is in the kernels directory, a full rebuild of the host code is needed as far as I can see.

Now that I finally sorted this out, it would be trivial to implement some option for forcing `bs_b` at run-time.

[2021-11-25 17:34] magnumripper commented on #4897
I think I'll at least introduce an environment variable eg. `DES_KERNEL` that can be set to `bs_b`, `bs_h` or `bs_f`. Without that it's hard to fix this issue's bugs and test the fixes.

[2021-11-25 18:57] solardiz commented on #4897
I suggest we prefix our env var names with `JOHN_`, perhaps except only for `LWS` and `GWS`. To avoid inadvertent usage.

[2021-11-25 19:00] marksilinio commented on #4893
how to provide a test vectors? base64 encoded 16-bytes IV and 16-bytes encrypted data?
like `authenticator:$<base64 IV>$<base64 enc>` ?

sample:
https://github.com/openwall/john-samples/pull/10

[2021-11-25 20:02] magnumripper commented on #4897
That really doesn't make sense though. Both bf_h and bf_f use per-salt kernels, only bf_b, the basic kernel used for CPU's and stuff, is a single kernel for all salts.
[code]
I did see it stop building salts, and I did double-check it. My mind is a mess now with all these little issues that are entangled. I need to sort out one thing at a time.

[2021-11-25 20:34] magnumripper commented on #4893
Thanks!

Since the data is so short, hex encoding is fine as well (unless original data happens to be Base64 already, or whatever reason you fancy - it's ultimately up to you).

I think this would be nice:
[code]
The `0` is just incase a future version need a format or algo change, we'd set next to `1` then.

Many of our tools will include the basename of the input filename as a first (`:` separat

[2021-11-25 22:01] solardiz commented on #4897
Maybe that's because the kernels for those salts were already built and cached by previous runs?

[2021-11-26 05:34] marksilinio commented on #4893
see https://github.com/openwall/john/pull/4898

[2021-11-26 07:42] magnumripper commented on #4897
The "2 hours" message pops up anyway, cached kernels just make it a lot faster.

But never mind, what I do see now is that on the 2080ti, bs_f is faster than bs_h while bs_b fails with "CL_OUT_OF_RESOURCES (-5) error in opencl_DES_bs_plug.c:544 - Enque kernel DES_bs_cmp failed". I'll postpone looking into why, and just make a PR for the selection mechanisms.

[2021-11-26 08:07] magnumripper commented on #4893
The AES key is produced using SHA-256 with 256K iterations, you didn't mention that. It will slow things down considerably. Maybe 11Kp/s on a 2080ti or a couple hundred p/s on a good CPU with 8 cores.

[2021-11-26 08:14] magnumripper commented on #4893
Oh and what we called the IV isn't the IV, it's the cleartext header. The IV is [derived from the key](https://github.com/JeNeSuisPasDave/authenticator/blob/3caa2edebff01be3e6fd82c72ac3a0eb415cbe66/src/authenticator/data.py#L672).

[2021-11-26 09:11] marksilinio commented on #4893
Maybe 11Kp/s on a 2080ti or a couple hundred p/s on a good CPU with 8 cores.

Maybe 1024 iterations?
https://github.com/JeNeSuisPasDave/authenticator/blob/3caa2edebff01be3e6fd82c72ac3a0eb415cbe66/src/authenticator/data.py#L573-L577:
[code]

[2021-11-26 14:14] magnumripper commented on #4897
New start on this at cf5536e7b535 in the main tree.

This on Linux / 2080ti

Things to check:
- [ ] descrypt running bs_b with just --test: `CL_OUT_OF_RESOURCES (-5) error in opencl_DES_bs_b_plug.c:687 - Enque kernel DES_bs_25 failed`
- [ ] descrypt running bs_b with just --test --no-mask: `CL_INVALID_KERNEL_ARGS (-52) error in opencl_DES_bs_b_plug.c:687 - Enque kernel DES_bs_25 failed`
- [x] desc

[2021-11-26 14:58] magnumripper commented on #4897
So what I thought was correct was in fact the opposite.

After 2529a9e97 (or 7fcbda4c9 as it were after merging)

Things to check:
- [ ] descrypt running bs_b with just --test: `CL_OUT_OF_RESOURCES (-5) error in opencl_DES_bs_b_plug.c:687 - Enqueue kernel DES_bs_25 failed`
- [ ] descrypt running bs_b with just --test --no-mask: `CL_INVALID_KERNEL_ARGS (-52) error in opencl_DES_bs_b_plug.c:687 - En

[2021-11-26 15:28] magnumripper commented on #4897
It's weird that a simple `--test` fails (even crashes) for DEScrypt-opencl using `bs_b` while a "real test" using a normal accelerating mask works fine (and cracks what it should). They should be the same thing. I tried to look for intermittent failures but haven't seen evidence of it yet.

[2021-11-26 15:46] magnumripper commented on #4897
The issue as posted in OP seems to be fixed with 2529a9e (or 7fcbda4 as it were after merging). The remaining problem with DEScrypt `bs_b` is a different issue, #4901

[2021-11-26 15:50] #4897 closed, assigned to nobody

[2021-11-26 15:52] magnumripper opened #4901 "DEScrypt-opencl "basic kernel" seem buggy"
See #4897

While all other bugs seem to be sorted out, the `bf_b` kernel still has multiple problems

[2021-11-26 16:23] magnumripper commented on #4901
After recent commits, we can force use of that kernel using `JOHN_DES_KERNEL=bs_b`, both for lm-opencl and descrypt-opencl.

I haven't seen any remaining problems with lm, just descrypt. See [#4897](https://github.com/openwall/john/issues/4897#issuecomment-980040660) for some examples.

I'm not super likely to bother with this for a while.

[2021-11-27 14:19] mallesh001 opened #4902 "mine"

[2021-11-27 14:31] #4902 closed, assigned to nobody

[2021-11-28 09:32] magnumripper commented on #4901
#### Tests on HPC village "super"

Our current code as of 7fcbda4c passes self-test and benchmark with any DEScrypt kernel on all devices except the MIC (which I didn't bother testing because it usually takes ages):
[code]
(all devices are used for other things right now, hence the low explicit work sizes)

For LM, some problems with device 4 (GTX 1080) but they (seem to have) existed before all r

[2021-11-28 17:02] AlekseyCherepanov commented on #4820
@PracaGrande I have R9 390. That's Hawaii as your gpu. I installed new drivers yesterday. I described it [on the mailing list](https://www.openwall.com/lists/john-users/2021/11/27/1).

I tried such combinations on Debian:
- radeon driver + opencl from mesa: nt-opencl is slow or gives segmentation fault,
- amdgpu driver + opencl from mesa: nt-opencl is ok,
- amdgpu driver + opencl from amdgpu-pro:

[2021-11-28 17:46] magnumripper commented on #4820
@AlekseyCherepanov you could try re-running both tests with `-lws=256` to rule that out

[2021-11-28 21:16] AlekseyCherepanov commented on #4820
Oh! I was wrong: lws=256 does not improve speeds, it behaves exactly like default lws=64. I played with values a bit and amdgpu-pro cannot exceed 8G c/s, while mesa gives 9.6G-9.7G with default LWS=256 GWS=163840.

[code]

BTW it is possible to install both mesa and amdgpu-pro opencl components. There would be 2 opencl devices:
[code]

Quiet interesting that they have different 'Native vector widt

[2021-11-29 06:38] magnumripper commented on #4820
Indeed. Try benchmarking some vector capable format such as pbkdf2-hmac-sha1-opencl (or some other that works on both drivers) and compare them. For MESA it should say `PBKDF2-SHA1 OpenCL 4x` (while no `4x` for AMDPRO) and be faster.

Then, also do a benchmark with same format on MESA but add `--force-scalar`. You can actually even test running the same format with AMDPRO driver and `--force-vecto

[2021-11-29 07:00] magnumripper commented on #4820
Several false hits. Real list is:
[code]
I added PR #4903 for a format class.

[2021-11-29 10:34] magnumripper commented on #4901
Very odd failure:
[code]
This indicates there's a mismatch with which kernel was prepared and which is then used. But why only on the GTX 1080? And reviewing the code I can't see how/why it would happen.

[2021-11-29 10:58] magnumripper commented on #4901
I can't even bisect it - LM seem to never have worked on the GTX 1080 with that driver. For a while I thought I found a revision where it did work, but that was so far ago `--test` didn't use a mask by default. Even current code works fine without mask.

I give up on this - it might be a driver bug. Or possibly whatever other process is running on that device right now somehow screw things up, but

[2021-11-30 13:47] solardiz commented on #3610
According to @AlekseyCherepanov, only 5 out of 91 OpenCL formats currently fail with amdgpu-pro on R9 390:

https://www.openwall.com/lists/john-users/2021/11/28/3

[code]

OTOH, out of these only 2 (TrueCrypt-opencl and pgpdisk-opencl) were on @claudioandre-br's list of formats failing in 2019, and 3 are new (were not failing before).

[2021-11-30 13:56] solardiz commented on #2216
I think we should close this issue from 2016, as I revised md5crypt-opencl significantly in 2019, including addition of an amdgpu-pro driver bug workaround that _might_ have helped here (it did on other AMD GPUs).

@crioux I doubt you can/care to retest on the same hardware now? If you do that, let us know. We can always reopen if the problem is still present and is something for us to look into.

[2021-11-30 13:56] #2216 closed

[2021-11-30 14:04] solardiz commented on #2283
I revised md5crypt-opencl significantly in 2019 (including addition of a workaround for an amdgpu-pro bug, which did help there), so at least that part of this 2016 issue is stale and would need re-testing. We also don't know the current status of rar-opencl with that driver, and in general we accept that various ones of our OpenCL formats fail self-test with various AMD drivers (things are much m

[2021-11-30 14:04] #2283 closed

[2021-11-30 14:07] solardiz commented on #2283
BTW, these two are currently _not_ among failing formats with recent amdgpu-pro on R9 390, see https://github.com/openwall/john/issues/3610#issuecomment-982652301. So you definitely can use these two formats on this hardware now. We just don't know about the old Crimson driver.

[2021-11-30 14:27] solardiz opened #4906 "--restore of mmap'ed wordlist should seek to offset, not skip lines"
The way I implemented restore for wordlist mode in core, it'd store file offset in `.rec` file and then seek to file offset on `--restore`. This is broken in jumbo for mmap'ed wordlists (a feature that wasn't in core, but nevertheless a regression since mmap is enabled by default), where only line number would be stored and restoring would then (effectively) read the portion of file until the rest

[2021-11-30 21:12] magnumripper commented on #4906
I think the reason for that weird behavior is that prior to mmap we had optional memory buffering, and whoever implemented that made the "skip lines" code. For mmap we should definitely just jump to a position, this was an oversight of mine (or perhaps I just forgot).

[2021-12-02 13:17] solardiz commented on #4108
According to @AlekseyCherepanov, almost half of our OpenCL formats now work with Mesa:

https://www.openwall.com/lists/john-users/2021/11/27/1

See also https://github.com/openwall/john/issues/3610#issuecomment-982652301 for the much better status with amdgpu-pro.

[2021-12-02 18:16] solardiz commented on #2283
See also #4670 where we reduced the number of failing formats with the old AMD Catalyst from 22 to 13 or 11 (on different devices). Crimson is probably similar.

[2021-12-02 19:35] solardiz commented on #3525
A relevant difference between our code in `opencl/opencl_sha2.h` and `opencl/cryptsha512_kernel_GPU.cl` appears to be that the former expands `W` for rounds 17 to 80 on the fly, whereas the latter writes into `w` before each group of 16 rounds (like compact implementations of SHA-512 typically do). hashcat also uses the latter approach in its `OpenCL/inc_hash_sha512.cl`. I guess our on the fly exp

[2021-12-02 19:53] solardiz opened #4907 "--mem-file-size should possibly apply per-invocation or per-file, not per-process"
When running with a huge wordlist and a high `--fork` count, and with otherwise default settings, startup takes ages and a lot of RAM is consumed. This appears to be because our default for `--mem-file-size` on 64-bit is 2 GB _and_ we apply this limit per-process. For example, with a 60 GB wordlist and 32 forks, the entire wordlist would currently be read into RAM on startup, right? Worse, on a HD

[2021-12-02 19:55] solardiz commented on #4907
Also, at least until we fix this issue properly, I think we should lower the default limit to, say, 150 MB (just enough for RockYou). I've just set this issue's milestone at least for this one change.

[2021-12-02 20:06] magnumripper commented on #3525
That's interesting, I'll bite

[2021-12-03 18:10] magnumripper commented on #4907
Perhaps we could add some kind of `wordlist_init()` (or more generally `mode_init()`) called before forking, where things like that would happen.

Anyways, most of Jumbo's `wordlist.c` is crappy, we should re-write it almost from scratch and while at it we might want to completely separate "loopback mode" from wordlist mode, from a code perspective. Many of the problems are caused by organic growt

[2021-12-03 18:12] magnumripper commented on #4906
Actually even for the old memory buffering code, we should be able to skip right to a position. Not sure why anything other than that was ever implemented (sure, it would be more or less incorrect if the wordlist changed, but so would any means of restoring).

[2021-12-05 15:54] solardiz commented on #3525
I was wrong - missed a write into `wi` inside the round macros in `opencl/opencl_sha2.h`. So that "difference" doesn't actually exist. However, one that does is that we have the code manually fully unrolled in `opencl/opencl_sha2.h`, whereas in `opencl/cryptsha512_kernel_GPU.cl` and in hashcat's `OpenCL/inc_hash_sha512.cl` it's loops that the compiler may or may not unroll.

I've just tried partia

[2021-12-05 16:59] solardiz commented on #3525
Equivalent change in `SHA256_ZEROS` makes no obvious speed difference, and our speed at PBKDF2-HMAC-SHA256 matches hashcat's.

I don't immediately see any performance-critical uses of non-`ZEROS` `SHA512` in our kernels. All such uses appear to be out of loops. Besides, there isn't a register allocation this high reported for those other formats.

So it looks like this change is only important in

[2021-12-05 17:35] solardiz commented on #3525
This also speeds up `bitcoin-opencl` on Vega 64 from 4200-4300 to 4600+. And the change in `SHA256_ZEROS` speeds up `pbkdf2-hmac-sha256-opencl` on the Vega 64 from ~1590K to ~1640K, so I'll probably get it in as well.

[2021-12-05 18:16] solardiz commented on #3525
Since these changes are to a header file, they don't trigger an automatic rebuild of the affected kernels. This is especially bad on NVIDIA, where the caching is in `~/.nv`, so even a newly cloned git tree in a new directory may still use old kernels. We could want to start a discussion on addressing this issue.

[2021-12-05 18:35] solardiz commented on #3525
Tentative commit message:

[code]

[2021-12-05 18:41] solardiz commented on #3525
Even weirder is when you then run benchmarks from an old version's directory and suddenly get the improved speeds. I was puzzled for a moment.

[2021-12-05 19:06] solardiz opened #4910 "Option to specify GPU usage intensity"
Our formats typically use 200 milliseconds as the maximum OpenCL kernel duration for auto-tuning, passing this number into `autotune_run`. Perhaps we can have `autotune_run` adjust this value based on a command-line option, e.g. `--intensity=2` would double it, making most kernels tune to up to 400 ms. We can also accept e.g. `--intensity=0` or `--intensity=0.5` for halving the maximum kernel dura

[2021-12-05 19:16] AlekseyCherepanov commented on #4108
@GKNSB `DRM 2.50.0` in the output suggests that you use `radeon` driver. You might try to switch to `amdgpu` driver (it should be already installed).

I used [this advice](https://askubuntu.com/questions/927601/i-think-im-using-radeon-instead-of-amdgpu-how-do-i-change) to switch driver. (.si / .cik seem messed up there. [Gentoo's wiki](https://wiki.gentoo.org/wiki/AMDGPU) suggests pitcairn belongs

[2021-12-05 19:27] solardiz commented on #3525
Identified a regression - `bitcoin-opencl` on Titan Kepler with previously manually tuned `LWS=768` has its speed reduce from 1364 to 1200, while having its speed unchanged at 1053 with auto-tuned `LWS=128`. I might introduce an exception for it, where we'd use old code.