[2019-11-11 21:37] #4148 closed, assigned to nobody

[2019-11-11 21:40] ghost commented on #4148
Thanks for answer. Is 13000 pw/sec is good for my CPU ?

[2019-11-11 21:45] solardiz opened #4149 "Bitcoin format assumes alignment on 64-bit SIMD, uses uninitialized IV"
This code snippet from `bitcoin_fmt_plug.c`:

[code]

has some issues:

1. The casts to `(uint64_t *)` violate C aliasing rules.

2. The writes through those casts assume that either `key` just happens to be aligned or that the architecture allows efficient unaligned writes. This might fail on 64-bit POWER.

3. The `iv` variable is uninitialized, but is then passed to `AES_cbc_encrypt`. The reason

[2019-11-11 21:48] solardiz commented on #4149
My proposed fix for the casts is to use a `union` instead.

A potential more elaborate fix for the uninitialized `iv` is to explicitly use the penultimate block as `iv` and only CBC-encrypt one block instead of two.

[2019-11-11 21:57] solardiz commented on #4148
Your speed is fine for that "hash" on your CPU, but this question is again not GitHub material.

[2019-11-12 12:01] philsmd opened #4150 "Electrum 4/5 false negative because of wrong usage of BN_bn2bin()"
Hey guys,

I was experimenting with supporting Electrum 4/5 in hashcat (see: https://github.com/hashcat/hashcat/issues/1806) and while writing some code and especially the test modules (see https://github.com/philsmd/hashcat/blob/electrum_4_and_5/tools/test_modules/m21600.pm), I found out that JTR (and for testing purposes I used similar code in hashcat) is failing several tests because of **wrong

[2019-11-12 13:49] solardiz commented on #4149
Also, the IV that we use in scalar code is wrong since 59e0ac206e3eac9e4fe88ef5f6bd906dd03110e6 when we switched to processing last two AES blocks only: that IV is still the one for the very first block, which we no longer process.

[2019-11-12 13:55] solardiz commented on #3139
Dhiru implemented the "last two blocks only" idea for Bitcoin(-alike) wallets, however I now see there's much more we should do:

`bitcoin2john.py` currently encodes mkey (only last two blocks of it now), ckey, and public key. The corresponding format decodes all of these, but appears to make use of mkey only, where we only check the padding. Thus, we should drop encoding/decoding of ckey and publ

[2019-11-12 20:09] magnumripper commented on #4150
Aww that's a hideous bug, good find!

We have a couple more formats in need of fixing or reviewing:
- [x] Electrum needs a fix that doesn't require OpenSSL 1.1.0, and a test vector should be added.
- [x] OpenCL version of Electrum (should be shared code really, pretty sure it's the exact same thing).
- [ ] Clipperz-SRP (**note below** the comments about 33-byte / 65 hex chars result and consider w

[2019-11-12 21:32] #4149 closed, assigned to nobody

[2019-11-13 06:42] #4150 closed, assigned to nobody

[2019-11-13 18:13] #4143 closed, assigned to kholia

[2019-11-13 18:53] solardiz commented on #3139
I fully took care of this issue for `bitcoin2john.py` with #4156 and for the Bitcoin format with #4152.

[2019-11-14 15:09] damien122 commented on #4139
@magnumripper can I maybe help? Because I can't see some changes here and I need this fix.
Of cource I am not good in encription but I can try :)
Or is this just a task for @kholia

[2019-11-14 18:18] solardiz opened #4157 "PRINCE misreports use of rules when restoring"
I think the below code is buggy in that it forgets to check the `rules` variable, and thus claims rules are in use when they are not:

[code]

[2019-11-14 18:43] magnumripper commented on #4139
I might be able to do it. What would really help is if you could create a test vector for us, that is, a wallet with [obviously] no value and a known password. Publish it here (the full wallet, not the output of enpass2john) or send it directly to me, and with some luck I can fix it.

[2019-11-14 18:50] magnumripper commented on #4139
Oh and BTW please use a test vector password including eg. a '€' euro sign or something else above Unicode U+00FF, so we're sure we got such characters cracked correctly. Shouldn't be an issue nowadays but you never know. For example, use a password of "Op€nwall".

[2019-11-14 18:59] magnumripper commented on #4157
Oh, you are right. How come I never noticed? On a related note I've been thinking we should have some shared code for this (it's a similar code block in all cracking modes, albeit not identical).

[2019-11-14 19:03] magnumripper commented on #4157
BTW an appealing alternative is to simply print the original (abbreviation-expanded and obviously wildcard-expanded) command line. But there's a catch: If you ran `./john -form:nt *` and the wildcard expanded to tens or hundreds of files not including NT hashes, only the ones that actually did should be kept. That has also been in one of my vaguest to-do lists forever. Probably not that hard to ac

[2019-11-14 20:42] magnumripper commented on #4139
Come to think about it, that's actually a "l33t sp3ak" thing I never tried - replacing 'e' with '€'. Worth trying!

Or maybe I did that lots of times already, I'm not famous for remembering details 🙄.

[2019-11-15 17:33] damien122 commented on #4139
@magnumripper I am not sure what do you mean by "test vector". Do you need additional enpass tresors with example data, or comply empty enpass tresors? Can not already uploaded by me test Tresor be used for that?

[2019-11-16 09:20] magnumripper commented on #4139
Oh right, I forgot that 🤣 Then we're fine, I'll see if I can figure it out.

[2019-11-16 09:23] #4107 closed, assigned to nobody

[2019-11-16 09:23] #4157 closed, assigned to magnumripper

[2019-11-16 11:00] damien122 commented on #4139
[test_vectors.zip](https://github.com/magnumripper/JohnTheRipper/files/3854097/test_vectors.zip)

I created additional test tresors on different Operating systems (Mac, Windows 10 and Fedora) with the password "Op€nwall". Hope this helps 😄
The tresors from Mac and Fedora are filed with the enpass example data which you can see on the screenshot from first test tresor. The tresor from Windows is wi

[2019-11-18 17:12] solardiz opened #4159 "--rules-stack with insert/overstrike rules doubles the word"
This looks weird to me:
[code]

(This test is on non-latest tree, but I think we made no relevant changes recently?)

Edit: My actual use case for this was to mix inserts and overstrikes. Trying that in the way above also doubles the word.

[2019-11-18 20:09] magnumripper commented on #4159
I take it you only see problems when using --rules-stack, right?

[2019-11-18 21:42] Strong1983 commented on #2014
Hello There,

I'm a gentoo linux user and I'm trying to update my laptop... My portage repository is trying to compile johntheripper-1.8.0 but ti fails with the following error:

x86_64-pc-linux-gnu-gcc DES_fmt.o DES_std.o DES_bs.o DES_bs_b.o BSDI_fmt.o MD5_fmt.o MD5_std.o BF_fmt.o BF_std.o AFS_fmt.o LM_fmt.o trip_fmt.o dummy.o batch.o bench.o charset.o common.o compiler.o config.o cracker.o crc32

[2019-11-18 21:56] solardiz commented on #2014
Hi @Strong1983. As far as I can tell, the issue you report is with Gentoo packaging, not with JtR. The version of JtR you build there is not jumbo. The version of JtR you build there is out of date. That version did build properly for Linux x86_64 when we tested it. Thus, you may want to bring this issue up with Gentoo, so that they update the package to a current version (1.9.0 core, 1.9.0-jumbo-

[2019-11-18 21:57] solardiz commented on #4159
Yes, the issue is specifically with `--rules-stack`.

[2019-11-18 22:00] Strong1983 commented on #2014
thanks a lot for your reply... it really was very useful!

:D

[2019-11-18 23:07] AlekseyCherepanov commented on #4159
It should be #4107, that's fixed already. #4107 is a minimal test case for failing i1+i1 or something like that. I did not check i1+i1 / o1+o1 after the fix though.

[2019-11-19 00:49] MESWEB commented on #731
Did you finish SL3?? I found my old Nokia 500 I need unlock this device with my Laptop. What's your machine spec and how long time it was take to unlock device?
BTW - How to read hash from phone? Windows 10.

[2019-11-19 01:45] MESWEB commented on #4037
I have same error:

configure: creating ./fmt_externs.h
-fThe system cannot find the file specified.
configure: error: The build of fmt_externs.h failed. Can not continue!
Input record exceeds maximum length.  Specify larger maximum.

[2019-11-19 09:33] magnumripper commented on #4159
Confirmed, it was fixed in 6b14c5a.

[2019-11-19 09:33] #4159 closed, assigned to magnumripper

[2019-11-19 09:46] magnumripper commented on #731
This is an issue tracker. Please consult the John users mailing list at https://www.openwall.com/lists/john-users/ for questions.

[2019-11-19 12:02] solardiz commented on #4037
On Mon, Nov 18, 2019 at 05:45:52PM -0800, MESWEB wrote:

So I guess you're not running from a Cygwin shell.  You should be.

[2019-11-21 15:07] magnumripper commented on #3978
Bump! (so I don't forget this again)

[2019-11-21 16:09] magnumripper opened #4160 "Implement support for "PRIM'X ZED encrypted container""
https://www.openwall.com/lists/john-users/2019/11/17/1

The KDF is from PKCS#12, RFC7292 appendix B "Deriving Keys and IVs from Passwords and Salt", and is nowadays deprecated in favor of PBKDF2-HMAC-xx

There's a CRC we can use for accepting/rejecting.

[2019-11-23 05:47] DemonRem opened #4161 "rar2john No password hashes loaded"
hey guys I have a small Issue with the rar2john

I always get that error after generate the hash.txt

Using default input encoding: UTF-8
No password hashes loaded (see FAQ)

I using the windows version

the txt of the hash is attach I be glad if someone can help me
[hash.txt](https://github.com/magnumripper/JohnTheRipper/files/3882173/hash.txt)

[2019-11-23 16:40] magnumripper commented on #4161
There's nothing wrong with that hash. My guess is you are running eg. `john` instead of `./john` and end up running an older version of John somewhere in your path.

[2019-11-23 16:40] #4161 closed, assigned to nobody

[2019-11-23 18:04] DemonRem commented on #4161
read what I say , I using the windows version, the command not work
see the picture

![1](https://user-images.githubusercontent.com/29927382/69483142-6f7c7a00-0e2c-11ea-985a-6e79edb32e7c.png)

[2019-11-23 18:31] DemonRem opened #4162 "rar2john No password hashes loaded"
guys I using the latest version of the windows software and I managed to generate the hash file
but the tool not found any password in it, if someone can can crack it for me or telling me what I doing wrong I be glad
![1](https://user-images.githubusercontent.com/29927382/69483402-b0c25900-0e2f-11ea-81b1-ea9bd1a8fcb9.png)
[hash.txt](https://github.com/magnumripper/JohnTheRipper/files/3882805/hash.

[2019-11-23 18:43] ghost commented on #4162
It is RAR5, not rar.
[code]
****
The GitHub issues are primarily to keep track of bugs or other shortcomings of our software, and fix those. It is not to help individual users with their specific tasks. To receive user support from the community, please use the john-users mailing list instead.

[2019-11-23 18:43] #4162 closed, assigned to nobody

[2019-11-23 19:13] DemonRem commented on #4162
thank @claudioandre-br solve my issue.

[2019-11-23 19:25] solardiz commented on #4162
Somehow it is a common user error to use the `--format` option unnecessarily. We have this error message refer to the FAQ, and we have an answer corresponding to this user error in the FAQ - but since we keep getting this sort of problem reports, this is somehow not working for some users. Maybe we need to also make a code change to test whether a `--format` was specified and alter the message if

[2019-11-24 00:27] Rdgeno opened #4163 "JTR Not ?"
John is in the newest version.
I followed the directions in the install with John both the regular and Windows specific.
I also used this tutorial to install Cygwin.

https://openwall.info/wiki/john/tutorials/win64-howto-build

I edited the outputs for space, also I have a AMD RX 560 GPU and Intel i7 3700 with the newest Intel Opencl and newest AMD drivers. Running John on Windows 10 Home Up to da

[2019-11-24 01:33] claudioandre-br commented on #4163
This is ok. Just a warning.
***

I would say:
* you only have POCL installed. No AMD OpenCL drivers and no Intel OpenCL drivers.
* I see nothing wrong in JtR itself.

Although this issue is worded as a bug report, not as a question, I'm afraid you're mistaken.

We assume you are genuinely thinking you are reporting a real bug to help the project. That said, please:
- try to make your point clearer

[2019-11-24 01:35] claudioandre-br commented on #4163
BTW: you can/should test your environment using the "official" JtR package. It works (usually, sometimes, at least) out of the box.

[2019-11-24 01:47] claudioandre-br commented on #4163
On Windows? I would run a:
[code]

Only if the above fails, I would try something more "sophisticated".

[2019-11-24 02:02] Rdgeno commented on #4163
Yeah I have the Intel opencl installed and the AMD Radion. Thank you for your reply. If you look at the github I dont know what happened I'm in the process of uninstalling Cygwin right now so I can at least start fresh tomorrow been at it with it since 7am its 9pm now. I really appreciate you responding especially so fast. I'm going to try everything you said and I'll let you know how it goes. I t

[2019-11-24 10:54] magnumripper commented on #4161
So what is the output of `john --list=build-info`?

[2019-11-24 10:56] magnumripper commented on #4161
Ah, I see you opened a new issue and problem was solved.

[2019-11-24 14:43] solardiz commented on #4163
@Rdgeno This is definitely a john-users and not a GitHub matter. Can you try subscribing to john-users again? Have you checked your spam folder for the confirmation message?

[2019-11-24 16:23] Rdgeno commented on #4163
I got it and thank you after the time I was having with john I didn't even
think to check the spam. Thanks again and sorry again.
Robert

On Sun, Nov 24, 2019 at 9:43 AM Solar Designer <notifications@github.com>
wrote:

[2019-11-24 17:25] claudioandre-br commented on #4163
Bug closed as:

* **ExternalDependency** - We can't do much. Windows + CygWin + Drivers related.

* **Invalid** - Illegible, spam, NOT a bug, etc.;

[2019-11-24 17:25] #4163 closed

[2019-11-25 01:53] magnumripper commented on #4123
It might be this simple: After loading a file, search backwards for any nulls and if more than like one or two are found (or perhaps only at 1K boundaries), drop them and adjust the expected length. **IF** this happened, activate some mode that doesn't look at CRC but at "randomness" after early rejection. That randomness is another issue: #3444

[2019-11-25 19:52] erikdj opened #4164 "Old zip file does not produce hash"
### Steps to reproduce ###
- Zip2John produces the following output:
ver 2.0 crazy.zip/my list.txt PKZIP Encr: cmplen=0, decmplen=1033, crc=68B4A057
crazy.zip/my list.txt:$pkzip2$1*1*2*0*0*409*68b4a057*4*29*8*0*68b4*58ef**$/pkzip2$:my list.txt:crazy.zip::/tmp/crazy.zip

- No hash is produced from this file.

The archive appears valid and tests fine:
unzip -v /tmp/crazy.zip
Archive:  /tmp/crazy.zip

[2019-11-26 21:14] magnumripper commented on #4164
`cmplen=0` means zip2john thinks the compressed length is zero which is obviously not correct. I expect this to be a dupe of #4063 and/or #4054.

[2019-11-26 21:17] magnumripper commented on #4164
The `[Bit 3] 1 'Streamed'` also points to #4054 BTW

[2019-11-26 21:20] magnumripper commented on #4054
@srett we seem to have more issues related to (or dupe of) this issue. Do you think you'll get any time to look into it? I might get down to it this year, or not...

[2019-11-26 21:30] erikdj commented on #4164
More likely #4063. This file was created in 1997.  It's not as likely it was AES back then. ZipCrypto is more likely.

[2019-11-27 04:35] drzraf commented on #2268
Wouldn't using a kind of **first-pass-rule processing for separators** be a less-disruptive way to implement it ?
- would not affect most of the existing [`pp.c`](https://github.com/magnumripper/JohnTheRipper/blob/bleeding-jumbo/src/pp.c) code (nor keyspace generation/options/...)
- would give the flexibility of `rules` to define concatenation or simply limit it to a "separator-rule".

Just a quic

[2019-11-28 08:46] damien122 commented on #4139
@magnumripper Hi, is there maybe some progress? Or is Enpass now uncrackable? I don't want to be a pain in the ass, but I really need this fix 😃

[2019-11-28 18:40] magnumripper commented on #4139
This is second on my to-do list, I'll get to it sooner or later :)

[2019-11-29 05:38] DemonRem opened #4165 "Question"
I don't know how to use the mail system but its only a question
does JohnTheRipper work on getting the password, by the hash johntheripper generate from the rar file? if so the chance to get the rar password is high am I right?

[2019-11-29 09:56] magnumripper commented on #4165
This is not a support forum

[2019-11-29 09:56] #4165 closed, assigned to nobody

[2019-11-29 16:55] MikeH0 opened #4166 "JTR the issue was closed but I'm having the same problem."
I'm new to Github so I'm not sure if I should have commented on the closed issue or start a new one, sorry if I did this wrong.
The closed issue I was refering to is this one.
https://github.com/magnumripper/JohnTheRipper/issues/4163#event-2826104858
The only real differences are I'm using a Dell and I have 32GB Ram and only one 500GB SSD. I'm using Windows 10 Pro and Kali Linux 2019.4. The GPU is

[2019-11-30 01:55] ghost commented on #4166
There are several reasons why you can't find OpenCL formats (on Linux and, especially, on Windows:
- missing (or wrong) GPU drivers;
- missing (or incompatible) OpenCL SDK;
- ICD problems;

JtR itself loads all needed libraries if it can find them. We can improve how it works, but it works (TM). Unfortunately, what you need is some help configuring you computer and we can't do that inside GitHub.

[2019-11-30 01:55] #4166 closed, assigned to nobody

[2019-11-30 03:05] Rdgeno commented on #4166
I wasn't asking for anything I was stating I had an issue I didnt mean to come off that way.
The only question I had which your statements didnt make any clearer is basically I dont understand if it's not an issue with John why wont it give the opencl option in Kali Linux? When I input it it just  doesnt exist. I dont know how well Pentesters Framework installs things but I came across it today an

[2019-11-30 04:40] MikeH0 commented on #4166
I'm sorry but I think there was a misunderstanding I was trying to report what I genuinely felt and to one extent or another still do feel that there is a bug or something.
As far as fixing my computer I know you can't do that I wasn't asking you to or for any help the only question I had was at the end and that was me just trying to understand why the script would have opencl as an option in one

[2019-12-01 19:53] davidwarr opened #4167 "Opencl and GPU's"
This a request and issue, I keep getting this error,

modprobe: FATAL: Module fglrx not found in directory /lib/modules/5.2.0-kali2-amd64
Error! Fail to load fglrx kernel module! Maybe you can switch to root user to load kernel module directly

I can not find fglrx anywhere at least not anything that will work. I researched it and found out it was discontinued in 2015. Then re-released as Radeon S

[2019-12-01 20:16] ghost commented on #4167
fglrx is the proprietary graphics driver for **_OLDER_** AMD/ATI graphic cards.

The development of fglrx has stopped. AMD continues to support the development of the open source radeon driver module and the newer AMDGPU driver, with AMDGPU-PRO as the proprietary closed source extension.

So, fglrx will not be updated for use with newer versions of X.org Xserver, as well as Wayland support won't b

[2019-12-01 20:21] ghost commented on #4167
**[edited]**

JtR works fine in fglrx (I use it inside CI), in AMDGPU, in NVIDIA and Intel GPUs (we have these in Openwall's servers). For example:

[code]
**[edited]** NVIDIA plus new AMD boards
[code]

[2019-12-01 20:24] ghost commented on #4167
Notice:
* old AMD GPU (6770)
* GCN GPU (7900)
* Intel CPU (using AMD driver)
* Intel CPU (using Intel driver)
* and the Intel GPU.

[2019-12-01 20:30] ghost commented on #4167
Although this issue is worded as a bug report, not as a question, I'm afraid you're mistaken.

We assume you are genuinely thinking you are reporting a real bug to help the project. That said, please:

- read `INSTALL` and `INSTALL-UBUNTU` located in the sub-directory named `doc`;
- confirm you are using the updated bleeding-jumbo source code (not a numbered release, as this GitHub issue tracker i

[2019-12-01 20:30] #4167 closed, assigned to nobody

[2019-12-01 20:48] ghost commented on #4167
Example of the fglrx error message [1]:
* https://travis-ci.org/claudioandre-br/JohnTheRipper/jobs/614122810#L1897

[1] No valid/compatible GPU was found. Reasoning:
* that is CI, only the CPU was being tested.
* Ubuntu 14.04 -> Ok, the X version supports fglrx.

[2019-12-01 21:27] davidwarr commented on #4167
Thank you for your explanation. I'm not getting the correct installation info for fglrx according to what you showed me. I'll keep trying I'm using the pro drivers.
I ran the tests from your link they seem to be the same as in the link. I'll rebuild and retry on Ubuntu. I do have a question about that if it's ok. Are you suggesting I use Ubuntu 14.04, I will that's not a problem I just wanted to m

[2019-12-02 08:12] 0xln commented on #4106
So i've been testing rock solid since the 18th of Oct now with no issues using the last stable version. I did however get a crash again yesterday so will grab some of the asan output data to see if that gives any clues.

[2019-12-02 17:31] magnumripper commented on #4106
Great, I hope that output includes things like `cracker.c:1234` as opposed to `0xbab35bff` and we should get some progress!

[2019-12-07 02:59] merchako opened #4168 "Feature: extract hashes from edit-protected PDFs"
## Feature Request

Make `pdf2john.pl` work for edit-protected PDFs.

## Situation

I have a PDF that I can _read_ without a password, but to edit it, I need a password. When I run

[code]
it tells me,
[code]
To be sure, I'm not trying to decrypt `example.pdf`, I'm trying to remove it's edit protection. My guess is that `pdf2john.pl` is looking for view-protection hashes but not edit-protection ha

[2019-12-07 10:55] srett commented on #4054
@magnumripper  I'm still interested in giving it a try; got another busy week at work and then the usual hunt for presents... *Maybe* between Christmas and new year's, but January will be quite busy again. :(

When I took a look at it back in July I was unsure whether a quick and dirty fix extending the current code would do, or if it would be worth considering re-doing the whole thing, since as y

[2019-12-08 07:29] magnumripper commented on #4054
There's some samples at https://openwall.info/wiki/john/sample-non-hashes#ZIP but we don't seem to have the same for 'pkzip' hashes

[2019-12-09 14:56] ryuzakyl commented on #1660
A good tutorial for installing a Jumbo version on Ubuntu is [this one](https://linuxreference.wordpress.com/2019/06/07/howto-install-john-the-ripper-in-ubuntu-18-04/).

Hope it helps.

[2019-12-10 16:17] solardiz commented on #1660
Good tutorials should be added to https://openwall.info/wiki/john/tutorials. Unfortunately, the one mentioned by @ryuzakyl shows confusion on behalf of its author. It includes several unneeded and dangerous things (installs some unneeded packages, builds the source code as root), and results in a setup that isn't entirely correct (is neither user-local nor system-wide, but is a broken mix of both)

[2019-12-10 16:22] solardiz commented on #4168
Does edit protection involve use of passwords at all? If not, then this is currently out of scope for JtR.

IIRC, edit protection is normally removed by patching the PDF file, like e.g. some Elcomsoft product did, without needing any password.

[2019-12-10 16:25] solardiz commented on #4168
Oh, upon more careful reading I see that the original request says "to edit it, I need a password". It's an OK issue for us to consider, then, although we'd probably need to inform users that they don't really have to crack that password to bypass the protection. Cracking the password would then be useful if the password is potentially reused elsewhere or if it's really weak or if the algorithm is

[2019-12-10 21:55] MESWEB opened #4169 "Nokia SL3 - Bad code"
### IMPORTANT ###
https://github.com/magnumripper/JohnTheRipper/issues/731#issuecomment-307810114

### Steps to reproduce ###
hashcat64

### System configuration ###
Widnows 10

This solution is not working. After 15 days of calculating password received hash is bad. Nokia don't accept code:
Bad code.

Hash and IMEI:
4F468159AFE884C6A4F9E0155F86FE6174F6AB39:003524170521859200

$ echo 4F468159AFE88

[2019-12-10 23:11] magnumripper commented on #4169
So you tried 921764524658016 and it didn't work?

[2019-12-10 23:18] magnumripper commented on #4169
JtR also cracks it as 921764524658016. If this doesn't work, you probably mistyped a figure somewhere or the phone has some other protection than this.

[2019-12-11 00:04] MESWEB commented on #4169
Nokia 500
Yes I was try type 921764524658016 in phone soft and Nokia BEST v1.51
I was use hash read from soft BEST v1.51 and IMEI as well.
Where I can confirm correct hash from phone?

[2019-12-11 15:07] philsmd opened #4170 "Electrum Salt Type 5 false negatives due to too strict zlib header check"
This was reported by a hashcat user over https://github.com/hashcat/hashcat/issues/2244 , but during writing the hashcat tests, I had noticed the same strange behaviour (see https://github.com/hashcat/hashcat/blob/8932c71ac2b963176a076d6220efee8b2b60880c/tools/test_modules/m21800.pm#L169-L174)... the deflate ()/compression could sometimes end up with this header too: 0x789c04 (masked with 0xffff07

[2019-12-11 23:07] magnumripper commented on #4170
Cool, thanks for the heads-up

[2019-12-12 10:04] mellowcandle opened #4171 "Segmentation fault on zip2john"
## Input File type:

$ 7z l -slt hello-world-module.tar.xz.zip

7-Zip [64] 16.02 : Copyright (c) 1999-2016 Igor Pavlov : 2016-05-21
p7zip Version 16.02 (locale=en_IL,Utf16=on,HugeFiles=on,64 bits,16 CPUs Intel(R) Core(TM) i7-5960X CPU @ 3.00GHz (306F2),ASM,AES-NI)

Scanning the drive for archives:
1 file, 749 bytes (1 KiB)

Listing archive: hello-world-module.tar.xz.zip

--
Path = hello-world-modu

[2019-12-12 11:05] mellowcandle commented on #4171
## Stack trace (with symbols)

[code]

[2019-12-12 14:05] MESWEB commented on #4169
I think every

[2019-12-12 15:16] MESWEB commented on #4169
@magnumripper
OK I found solution and first code has been successfully accepted by phone.
![Opera Snapshot_2019-12-12_151009_www francesco-pompili it](https://user-images.githubusercontent.com/2931024/70724320-4e53ce80-1cf2-11ea-8730-c46952cf9c69.png)
Can you explain this how it's work? On this site you need enter your Hash 40 digit + received code in Hash format
Here's a sample script: https://ww

[2019-12-12 16:07] MESWEB opened #4172 "How to unlock Nokia Lumia phones?"
I know hot to crack old Nokia SL3 sim-lock but what about Nokia Lumia with Windows? I have IMEI but hot to calculate unlock code?
OK Nokia Lumia probably have SL30 - 20 digit and for unlock it is only required IMEI for crack code.

[2019-12-12 22:24] magnumripper commented on #4169
Thanks, I'll look into it at some point. But I don't have any such phone so I can only work in the blind

[2019-12-12 23:21] ghost commented on #4172
The GitHub issues are primarily to keep track of bugs or other shortcomings of our software, and fix those. It is not to help individual users with their specific tasks. To receive user support from the community, please use the john-users mailing list instead.

[2019-12-12 23:21] #4172 closed, assigned to nobody

[2019-12-12 23:36] ghost commented on #4171
Can you share the file? I tryed to reproduce without success.

[code]

[code]

[2019-12-13 00:10] magnumripper commented on #4172
I fully agree with Claudio - please post this to john-users mailing list and hopefully we'll get input enough from the community to add a format. I have absolutely no idea just *what* to implement. Once someone has, I can do it.

[2019-12-15 13:17] mellowcandle commented on #4171
[hello-world-module.tar.xz.zip](https://github.com/magnumripper/JohnTheRipper/files/3964948/hello-world-module.tar.xz.zip)

[2019-12-15 14:54] ghost commented on #4171
Confirmed. The file header expected in source code https://github.com/magnumripper/JohnTheRipper/blob/bleeding-jumbo/src/zip2john.c#L164-L173 is wrong (not working).

The compressed_size is wrong, crc is wrong, uncompressed_size is wrong, ...

It is possible to workaround the SIGSEV and get a valid hash (but I doubt the hash is correct). Anyway, if you know the password, we can try it and check.

[2019-12-17 15:37] nowhey2 commented on #2809
Any chance this could get a bump? Ran into this exact thing and see that hashcat now supports 19700.

[2019-12-17 16:01] solardiz commented on #2809
I've just added this to a milestone, but I didn't look into the actual issue and I expect that only @Fist0urs might contribute anything in this area soon.

[2019-12-17 23:59] jeroen-80 opened #4176 "Problem with --format=django and ~1m hashes"
I'd like to audit django hashes. For a relatively small number of hashes - for example 50k - this work sfine. If I try to load ~1m records, things seem to go wrong. Loading takes forever / cracking never starts.

### Steps to reproduce ###
john --format=django django_hashes.1m

Slow and dirty hash generation script (I'm sure there are faster ways ;-):
[code]
### System configuration ###
Version: 1

[2019-12-18 01:58] ghost commented on #3962
Fixed and tested (it is my package from Azure):

[code]
[code]
[code]

[2019-12-18 01:58] #3962 closed

[2019-12-18 02:30] ghost opened #4177 "AVX512 ASAN issue"
What we know:
* AVX512 does not work if I compile JtR using clang (any version);
* Up to AVX2 are Ok;
* **MAYBE** gcc produces a usable binary file.

*********
* It is the first time I see the issue.
* It is NOT the first time I'm tesing the ZIP format using AVX512, but it is the first time I test it with ASAN.

It works fine if AVX2
[code]

And fails if AVX512BW
[code]
**[edited]**

https://travi

[2019-12-18 07:05] magnumripper commented on #4176
Apparently @kholia never understood the point of salt_hash. Try this patch:
[code]
Does it help a lot? It should.

[2019-12-18 10:05] solardiz commented on #4176
BTW, we have logic to detect missing or non-working binary_hash_*() in loader and print warnings and fallback to not removing dupes. We might also want to add logic to detect missing or non-working salt_hash() and warn about it (but there's no reasonable fallback I can think of).

[2019-12-18 10:19] Fist0urs commented on #2809
Hi there! Sorry I've been really busy lately... I'll try to take a look in the upcoming month :)

[2019-12-18 16:29] ghost commented on #4176
Yes, it does.

[2019-12-18 16:59] jeroen-80 commented on #4176
The 1m hashes works now. However, if I try to load larger sets, a similar issue occurs: john loads forever / never starts cracking (running for hours).

Please let me know if / how I can provide you with useful debug data.

[2019-12-18 18:56] magnumripper commented on #4176
Run top(1) or something to see why. When that happens, perhaps your system has started swapping?

[2019-12-18 19:19] magnumripper opened #4179 "Our PKCS#12 PBE functions "convert" to UTF-16BE by casting to uint16_t"
Apparently our PKCS#12 PBE functions (derived from PolarSSL/mbedTLS) are written by someone believing a UTF-16 conversion is done by inserting nulls to a normal string!? Either that, or actual implementations (eg. Bestcrypt, BKS (BouncyCastle), PFX, SAP-PSE, Signal, Zed Archives) all do exactly that? But, then, what is the expected input? Perhaps non-Latin1 passwords are rejected? Perhaps they all

[2019-12-18 20:09] jeroen-80 commented on #4176
System has 128GB RAM, memory is not an issue ;)
[code]
CPU usages is constant at 100%. RAM slowly grows so it seems that it is still doing *something*.

If I use fewer hashes as input, at some point it works and finishes in a few minutes. Passing the - at this time unknown - threshold, it runs in this case 1.5h+ without any progress, at least on screen.

[2019-12-19 07:20] magnumripper opened #4183 "Adopt hcxtools' (and hashcat's) new unified WPA input line format"
See https://github.com/hashcat/hashcat/issues/1816#issuecomment-566546059

This is a great improvement to our old hack of simply Base-64 encoding the (deprecated) hccap struct.

A corresponding pot line in JtR will only contain ESSID and calculated PMK, something like
[code]
That is: TYPE is set to 00, next field is PMK and all other fields but ESSID are empty.

[2019-12-19 07:46] magnumripper commented on #4183
Hm no, that won't work. We need to preserve the input in order to match it for `--show`

[2019-12-19 10:00] magnumripper commented on #4183
OK maybe not. Let's say we have a pot line of `WPA*00*pmk*essid:psk`. To match it to input lines at load time, we'd need to try that PMK for post-processing each input line with matching ESSID, and if it passes we know we have a hit without needing to do the heavy PBKDF2 part.

Still, for a 1,000,000 entry input file and a 250,000 entry pot file, that will be some hard work at load time, or for `-

[2019-12-19 10:46] jeroen-80 commented on #4176
I kept the process running. Eventually it finished after > 16h runtime. If I split the input file into 4 x 25%, it takes 4 x a few minutes.

[2019-12-19 14:48] solardiz commented on #4176
@jeroen-80 Is this with real-world or artificial/test hashes? How many hashes with how many different salts were loaded in the 16h run?

[2019-12-19 16:34] jeroen-80 commented on #4176
Real-world.

~140m/140m.

Addition:
* john lots_of_hashes.django takes many many hours.
* john lots_of_hashes.django --show runs ok.
* john lots_of_hashes.django --show=left runs takes many many hours.

[2019-12-19 20:17] magnumripper commented on #4179
BTW I need help with that! I can do most all other parts of this, but not that (given we need **real** test vectors created by original software, not any kind of "pass_gen.pl" tool).

My preferred test vector password for this is "Op€nwal£" (you can copy/paste from here) because it does contain one non-ASCII character *within* ISO-8859-1 (so this "cast to short" may actually work) as well as one o

[2019-12-21 20:39] ZerBea commented on #4183
The new hasline alone is worth it and will be a huge improvement for all.

[2019-12-22 01:45] magnumripper commented on #4179
OK so I was given a test vector for the (only PR as of yet) Zed! format and it confirmed that mbedTLS and our code derived from it was buggy. Once fixed (adding proper UTF-16BE conversion in `pkcs12_plug.c`) the Zed format works again. But now it turns out the PFX (.p12) format had a UTF-8 test vector, **AND IT NOW FAILS**.

This is intriguing. I'm not sure what exactly @kholia used when he create

[2019-12-22 09:54] magnumripper commented on #4179
I suppose I need to revert my bug fix and change our PKCS#12 PBE functions to accept binary data instead of a string. Then convert within the format instead (like we use to do). With that change, we can have seom formats (like Zed) do the correct UTF-16 conversion while others (like PXE) can continue doing it the wrong way, for bug compatibility.

The other solution (it might be better, I haven't

[2019-12-22 10:21] magnumripper commented on #4179
I now opened an issue with mbedTLS. I need to check out OpenSSL...

[2019-12-22 12:26] ghost commented on #4179
* In the first approach you do what upstream does.
* On the second you highlight (and accept) the bug.

I prefer the 1st. Reading you I would say the bug is a devil monster (never acceptable here)

[2019-12-22 18:18] magnumripper commented on #4179
It's more complicated than that: Let's say we have an implementation of the Signal app linked to mbedTLS. The app will have the bug. On some other platform you have the exact same Signal implementation but compiled with some other lib that doesn't have the bug. So that Signal app wont have the bug. Which of them is our upstream? Both are! So we need to be able to switch between bug compatible or b

[2019-12-22 18:30] magnumripper commented on #4179
Apparently OpenSSL doesn't have this bug *if used correctly*. It has functions like `OPENSSL_asc2uni()` which works just like mbedTLS but it also has `OPENSSL_utf82uni()` and as long as the latter is used, you are bug free. The UTF-8 functions were added in November 2015.

Edit:
https://mta.openssl.org/pipermail/openssl-dev/2016-August/008371.html

[2019-12-23 09:38] #4179 closed, assigned to magnumripper

[2019-12-23 09:38] #4160 closed, assigned to magnumripper

[2019-12-25 19:21] Rdgeno opened #4187 "I'm not sure what is or why it's happening."
I'm using JTR the newest release and installing as per the directions included with the download.
I'm using Ubuntu 19.04, but am getting the same results in other versions.
I'm using Ubuntu because JTR won't use the GPU correctly with Kali Linux even though I have everything installed correctly and pass all the tests.
There are a lot of screens that will follow and if you look at the commands I ha

[2019-12-25 19:24] Rdgeno commented on #4187
I was cut off even though the GPU and OpenCL aren't working JTR still runs about 1500 H/s faster than Hashcat.
Also I have no idea how or why the lines where added to some of the results them being stricken out occurred when I l was cut off and aren't part of the original screens.
I can repost if you deem necessary

[2019-12-25 20:03] claudioandre-br commented on #4187
So, are you telling us that:
* JtR is NOT cracking a password.
* (And) the correct password is inside your wordlist.

Is that correct? (If so, please, send us the file: `/home/xxxxx/ARRIS`

BTW:
* OpenCL is not working with your AMD GPU. Only OpenCL CPU devices were detected by JtR.

[2019-12-25 20:11] claudioandre-br commented on #4187
And, please, remove all OpenCL CPU drivers you have installed. Are you sure you are going to use them? They are just confusing you.

Wait a second: you have AMD CPU OpenCL installed. So, you have fgrlx. **That is WRONG**. Your GPU is newer than fgrlx. You should install:
* https://www.amd.com/pt/support/previous-drivers/graphics/radeon-500-series/radeon-rx-500-series/radeon-rx-560

[2019-12-25 20:22] claudioandre-br commented on #4187
Although this issue is worded as a bug report, not as a question, I'm afraid you're mistaken.

We assume you are genuinely thinking you are reporting a real bug to help the project. That said, please:

- Ask your administrator for help installing the OpenCL driver and SDK.
- Use Windows (I tested JtR not so long ago on Windows; it was pretty easy).
  - In fact, using a Lenovo (NVIDIA) notebook, I

[2019-12-25 20:43] solardiz commented on #4187
Claudio, thank you a lot for helping make sense of this report.  I was confused by it - lots of text and unclear what exactly the person finds right or wrong.  It's also great to know of your recent testing on Windows, and that it was a success.

That said, let's not say things like "please use Windows" nor any other OS.  Saying that "I've tested on [this OS] and it worked and it was pretty easy"

[2019-12-25 20:45] ghost opened #4188 "AMD OpenCL support"
AMD has removed the `OpenCL AMD APP SDK for Windows and Linux` files from their servers.

It seems that the necessary steps to make AMD OpenCL work has changed. Anyway, it is still possible to find and get drivers/SDK for AMD products (I guess):
* https://gpuopen.com/compute-product/opencl-sdk/

We need some tests (hardware and volunteers).

[2019-12-25 20:52] ghost commented on #4188
See #4187

(Maybe) We should start saying AMD hardware must be avoided.

****
Notes and link(s):
* Previous SDK can be found in the internet, **_use at your own risc_**; E.g.:
  * https://www.softpedia.com/get/Programming/SDK-DDK/ATI-Stream-SDK.shtml

[2019-12-25 21:08] claudioandre-br commented on #4187
We have being seeing a lot of "JtR and OpenCL help me" lately. I'm not sure, but maybe OpenCL+AMD+Linux is no longer a task for human beings.

Anyway, just to make it clear: it is my opinion.
* It is not an official advice (related to Solar or Magnum). Or to JtR "the project" itself.

[2019-12-25 21:50] Rdgeno commented on #4187
How do I send you the hash I just tried it on windows like you suggested no opencl.
In unbuntu it has the opencl but if I use it then it gives all that strange stuff. Windows is the same old situation no opencl devices found hashcat finds the GPU and will use it if I--self-test-disable which causes it to not find the password if its over half way into the list.
I'm only mentioning it so that you u

[2019-12-25 21:55] Rdgeno commented on #4187
I just found this out I made a hash md5 same password 2W4335101732 and tried it in windows it got it almost instantly. I try it as wpapsk and nothing.

[2019-12-25 21:56] claudioandre-br commented on #4187
On Windows (if everything else is ok):
* the first advice to be given to anyone facing Windows problems would be:
  * replacing cygwin's OpenCL library cygOpenCL-1.dll with OpenCL.dll installed in the System32 folder should make everything almost work.
*****
You can send me the hash by email: claudioandre.br at  gmail.com

[2019-12-25 23:07] Rdgeno commented on #4187
Sent it to your email.

[2019-12-25 23:55] claudioandre-br commented on #4187
I've got NO mail.
****

BTW: I noticed you are using all these formats above:
* `--format=wpapsk` ,  `--format=wpapsk-opencl`,  `--format=wpapsk-pmk-opencl`

They are NOT the same. There are differences in implementation, in min and max length, speed, ...

I'm afraid that what you need is help as an end-user.
* Unfortunately, you are not aware of what is right or wrong in/about JtR.
* You don't ha

[2019-12-25 23:55] #4187 closed

[2019-12-26 00:04] Rdgeno commented on #4187
I know they arent the same if you enter wpapsk-pmk it blows through the list as fast as you hit the button and does nothing the reason I was changing is it kept saying warning detected hash type then would say about running it as one of the others I was trying. In ubuntu and kali the only way is just wpapsk it suggests opencl but if I use it everything goes to hell.
I wish this all was in a better

[2019-12-26 00:05] Rdgeno commented on #4187
I wasn't trying to find anything I just installed it and it started.

[2019-12-26 08:01] torerobo opened #4189 "Add OpenVPN Support"
There is a file.ovpn configuration file that requires a password to connect.
There is a private key hash in the file.
If you can add support for this format.

[2019-12-27 15:26] magnumripper commented on #4176
So 35M hashes is doable, 140M isn't. The only thing I can imagine is a flawed PRNG in whatever system picked the salts. Starting with current code (which now has the `salt_hash()` function) you could try thia:
[code]
...and if it doesn't help (a lot) you can try changing `salt.i[1]` to `salt.i[2]` and so on, up to `salt.i[7]`. Some of them really should help, since you don't actually have salt col

[2019-12-27 15:30] magnumripper commented on #4176
BTW there's another thing that may or may not be of importance here: Given a large/huge existing pot file, there can be a major difference in load time between `john lots_of_hashes.django` (without specifying a format) and `john --format=django lots_of_hashes.django`.

[2019-12-27 19:06] torerobo commented on #4168
In this case, it makes no sense to crack the password for (password for editing / printing a document) file.pdf
This is an instant password reset operation

Debian
[code]
file.pdf -password, file1.pdf -remove password

Also on the Internet there are many free sites for resetting password for editing / printing file.pdf
[example](https://smallpdf.com/ru/unlock-pdf)

In my opinion, adding a new opti

[2019-12-27 21:09] ZerBea commented on #4183
Now we have another (portable) conversion tool for the new hash line:
https://github.com/s77rt/cap2hccapx/issues/1

[2019-12-29 11:29] srett commented on #4054
Got to start working on this. ZIP files are a real rabbit hole. Found a couple of other potential issues where the current code would fail and trying my best to address those. Some are more or less theoretical. One funny issue I found is that the current code that scans for the magic signatures of file headers could easily be fooled by prefixing them with another 0x50 byte, which would still make

[2019-12-29 14:52] ghost opened #4190 "john.bash_completion should possibly include the "shopt -s extglob""
After cloning the latest code from here, run/john.bash_completion script won't complete due to the following syntax errors:

bash: john.bash_completion: line 478: syntax error near unexpected token '('
bash: john.bash_completion: line 478: '		--regex=?(a|al|alp|alph|alpha))'

I modified line 478 so it would not die by replacing the ( and the first ) with [ and ] respectively, although this won't r

[2019-12-29 15:28] ghost commented on #4190
same/similar error on multiple lines.  they all appear to be issues with using () in case statement options:

bash: john.bash_completion: line 618: syntax error near unexpected token `('
bash: john.bash_completion: line 618: `		--show=?(*))'

bash: john.bash_completion: line 623: syntax error near unexpected token `('
bash: john.bash_completion: line 623: `		--users=?(-)+(L|U)*|--groups=+(-|G)*|--

[2019-12-29 16:27] ghost commented on #4190
Thanks. Patches are welcome.

If you feel confident, go ahead and make a PR.

[2019-12-29 17:29] ghost commented on #4190
Planning to work on it but limited time over next week and my initial attempts failed.

[2019-12-30 15:50] magnumripper commented on #4054
Sounds great, thanks for your efforts!

[2019-12-30 16:13] ghost commented on #4190
I am closing this as not a bug after all.  Needed to read the file more closely.  Specifically:
[code]

I had to add

`shopt -s extglob
`

To start of script.

Maybe leave this here though for anyone else who may run into same issue?

[2019-12-30 16:24] magnumripper commented on #4190
Thanks for reporting - this is interesting though: Perhaps we should add the `shopt -s extglob` to the start of the script? I can't see any reason not to, if it was already enabled it will be silently ignored. Re-opening for considering this.

[2019-12-30 16:31] magnumripper commented on #4177
Can you reproduce this with a non-OMP build? If you do, please submit ASan output for that as well.

[2019-12-30 16:59] ghost commented on #4177
Non OpenMP build
[code]

[2019-12-30 19:11] ghost commented on #4190
That would've saved me a couple of hours of digging, testing, searching and reading...  I vote yes to making that pretty simple change.

[2019-12-30 22:13] magnumripper commented on #4177
Strange. I need to look at this in a debugger.

[2019-12-30 22:23] ghost commented on #4177
Since it is AVX512,  I really don't know how it (the bug and/or the binary code) evolved.

Anyway, I can test, e.g., how it behaves on Ubuntu 18 or Fedora 30 (just in case of compiler bugs).

[2020-01-01 23:26] srett commented on #4054
Getting there. Did a first commit at https://github.com/srett/JohnTheRipper/tree/zip2john-central-dir if anyone wants to test it. Still needs some more cleanup.

I found that when using the current zip2john on the AES-256 test file you linked above, john doesn't like the resulting hash. Did I just mess up my local test environement? It seems to work with my version though.. :-)
The tarball also co

[2020-01-02 08:05] frank-dittrich commented on #4190
I didn't add this to the begin of the bash completion script for the following reason:
If you source john.bash_completion into your .bashrc, this change will affect not just bash completion for john, but bash completion in general. Some distributions enable this setting by default, some don't.
So I didn't want to mess with this setting.

[2020-01-02 08:33] frank-dittrich commented on #4190
Something like this seems to work:
[code]

[code]

[2020-01-02 14:25] srett commented on #4171
I'm currently working on this and preparing a PR. If there's no sensitive data in the archive, would you mind sharing the pw? Or you can try the zip2john-central-dir branch of my fork yourself and report any issues; https://github.com/srett/JohnTheRipper/tree/zip2john-central-dir

[2020-01-02 15:38] magnumripper commented on #4054
I can do some testing next week (although we can merge this earlier if/when everything seems fine and dandy).

[2020-01-02 15:49] #4190 closed, assigned to magnumripper

[2020-01-02 16:19] ghost commented on #4171
In fact, @mellowcandle, to be sure the fix is a real fix (and that the file is not obfuscated/corrupted), it would be very important if anyone (at least you) can crack the password file using JtR.

I'm running now a testing session on super and well. At least, provide (in private) a mask that cracks the file, if you can't do that yourself.

[2020-01-02 17:47] mellowcandle commented on #4171
Unfortunately I don't have the password, that's why I used John in the first place.

[2020-01-03 11:48] srett commented on #4054
OK ignore what this comment said before; I just realized john extracts the password from the file name :man_facepalming:

I'll test a couple more encryption schemes and zip creation tools, do a little more renaming and refactoring and then it should be good to go.

[2020-01-03 13:15] magnumripper commented on #4054
Good stuff 👍🏼

[2020-01-03 17:46] ghost commented on #4177
John's AVX512BW build is NOT reliable. It misses cracks if I use clang. It might work if one uses gcc.

[code]
[code]

[2020-01-03 22:49] torerobo opened #4194 "Character shuffle rule or mode"
I have a single wordlist "abb"
I checked all the rules
`-$ john --list=rules`

But I did not find the rule, which in general is very much in demand from the given characters:
Creating all kinds of combinations of characters

Example
`-$ john -w='/wordlist' --stdout --rules=Shuffle`

Expectation
a
b
ab
bb
ba
bab
bba
abb

I went looking for competitors: hashcat-Utils and crunch cannot do this either

[2020-01-04 13:29] ghost opened #4195 "Add RoboForm (AES-256 bit encryption with PBKDF2 SHA-256)"
Is it possible to bruteforce Roboform .rfp files ?
https://www.roboform.com/

[2020-01-04 18:55] ghost commented on #4195
No. Anyway, we'll consider this issue as a feature request.

[2020-01-04 19:08] ghost commented on #4194
You can achieve that using `prince` mode.

[code]
[code]
*****

I would say you should. This type of discussion is best suited for the mailing list. Either way, you can make your point clearer (or close the issue).

[2020-01-04 20:28] torerobo commented on #4194
Analogue Prince > `$ john -1=abb --mask=?1 -min-len=1 -max-len=3 --stdout`

[code]
[code]
There should be all kinds of combinations of all the characters in the proposed word (without duplication of multiplication).
There is no such rule (surprise) in JtR.  There are no competitors with this rule.  So JtR can get even cooler (this is a very popular rule).

[2020-01-06 00:16] magnumripper commented on #4177
This is very disturbing. mssql05 is also SHA-1, but not PBKDF2, I think.

[2020-01-06 00:22] magnumripper commented on #4194
Rules are **really really** slow. PRINCE mode is very fast. Mask mode is also as fast, and has GPU acceleration to boot. Yet another way to do it is `john -subsets=ab` which is about as fast as PRINCE mode and you don't need to create the wordlist. So why would we need this rule? Perhaps we don't quite understand your expectations: What combinations would you want `--rules=Shuffle` to produce, and

[2020-01-06 00:25] magnumripper commented on #4194
BTW I *think* the new-ish "hybrid external mode" is capable of doing whatever you want. It's only a matter of some coding...

[2020-01-06 00:28] magnumripper commented on #4194
OK I think I see what you want: If you gave it "abb" you don't want "aab" or "bbb" in there, right? Only "abb", "bab" and "bba", correct? Also, mask or PRINCE modes can't do this with an entire wordlist and shuffle each word in it.

[2020-01-06 00:29] magnumripper commented on #4194
This is actually an interesting candidate for hybrid external mode. Should be fairly easy to code. If someone does, we'd definitely include it.

[2020-01-06 00:41] magnumripper commented on #4177
Do we know that this bug was not in 1.9.0 release? I bet it is, because I can't recall any change post-release that could be the culprit

[2020-01-06 01:27] torerobo commented on #4194
yes!

I did not find this in another software (crunch / hashcat).  Therefore JtR could be / 1

[2020-01-07 14:55] ghost commented on #4177
The bug is there:

[code]

[code]

[2020-01-08 03:34] magnumripper opened #4197 "Allow --min-length option decreasing hard-coded length"
Most (or all?) formats that have a min-length has so because its implementations never allow anything shorter. But we've seen plenty of cases where WPA-PSK passwords are shorter than 8, even for ASCII. We should allow `--min-length` decreasing the default.

[2020-01-10 10:09] magnumripper commented on #4116
Good new information from @philsmd - we just need to figure out how to validate a second block of data. I'd expect a simple entropy check to suffice (eg. "expected different"). I have some unfinished code for #3444 that would come handy.

[2020-01-12 22:22] magnumripper opened #4200 "telegram2john (and all other similar tools) need to strip `:` from path before using it as "login" field"
https://www.openwall.com/lists/john-users/2020/01/12/1

telegram2john (and all other similar tools) need to strip/replace any `:` from path before using it as "login" field or any other field. Easiest fix is to always use `basename(3)` on all paths always, although for GECOS fields we might actually want parts of directory names.

[2020-01-13 14:11] solardiz commented on #4200
Using `basename` on all pathnames is not a sufficient fix: the name of the file or directory itself might contain a colon - unlikely, but possible. I think we should be replacing all colons with e.g. spaces.

[2020-01-13 14:16] solardiz commented on #4176
This was my thought too, but I don't see how it'd result in such drastic difference between 35M and 140M unless the flawed PRNG is somehow only used on the extra hashes that are not in the 35M portion.

I think we should try and reproduce the issue ourselves, using similar numbers of fake django hashes.

[2020-01-15 13:57] ghost opened #4201 "Add Zynga hashes (SHA1DASH)"
See https://www.openwall.com/lists/john-users/2020/01/14/1

Searching inside JtR, I found nothing. Anyway, this is something that @jfoug (maybe) can easily fix.

BTW: Google tells me _hash cat_ can crack it.

[2020-01-15 13:57] damien122 commented on #4139
@magnumripper hi, is there something new about this bug?

[2020-01-15 18:48] magnumripper commented on #4139
Not yet, sorry. Perhaps within a few weeks

[2020-01-16 04:22] deletehead commented on #4069
See the following link. I tested it out using the Kali package install and also attempted building from source and got the same issues here: https://security.stackexchange.com/questions/224109/how-do-i-crack-an-id-rsa-encrypted-private-key-with-john-the-ripper

[2020-01-16 08:36] magnumripper commented on #4069
Confirmed, I can reproduce

[2020-01-16 12:51] Sp3nge commented on #4069
When can we expect a bug fix?

[2020-01-16 15:12] tuv7041 commented on #4069
Not sure if this'll help, but I came across this bug today, and running the command as:
`john --wordlist=wordlist sshKey.hash `
didin't work, I got the following output:

[code]
But running the command as:
` john sshKey.hash -wordlist=wordlist`
worked perfectly:
[code]

[2020-01-16 19:57] magnumripper commented on #4069
@tuv7041 thank you, yes, this is of help! However, the order of parameters is **definitely** not the issue so what really happened there, I'm sure, is JtR would *sometimes* crack it.

If you try deleting `john.pot` so it forgets the password, then just run `john --wordlist=wordlist sshKey.hash` a couple of times it should most probably succeed sooner or later. If you try that, please confirm.

[2020-01-16 20:02] magnumripper commented on #4069
In short, you can't (unless **you** fix the bug). This is free (as in free beer), open source (as in you know what's in the beer) software, developed by volunteers. We are severely short of developers and I have SO many issues to take care of. That said, this particular issue is one that I will look into sooner or later unless someone else does and finds the culprit.

[2020-01-16 22:16] solardiz commented on #4069
Of course, the order of parameters is not the issue, but the provided example suggests that the first time another instance of JtR was somehow still running, preventing the new session from being started - a local issue unrelated to ssh "hash" support. So I don't see this example helping us at all - it'd need to be repeated without triggering that unrelated issue.

[2020-01-18 18:08] magnumripper commented on #4069
Right, I didn't spot that. Also, the OP hash is Bcrypt/AES with 16 iterations. I shouldn't assume that all people that post here know what they're doing 😢

[2020-01-23 12:10] damien122 commented on #4139
Hi @magnumripper ,

![](https://media.giphy.com/media/3ornjSZp9jUtEFlsL6/giphy.gif)

I have tried something arround and try to fix the bug. The build works but a test run show an error at enpass:

`Testing: enpass, Enpass Password Manager [PBKDF2-SHA512 256/256 AVX2 4x]... (2xOMP) FAILED (valid (before init))`

Do you know what this means? You can find my changes in the attached zip file.

[john_c

[2020-01-23 12:14] damien122 commented on #4139
also I have a question about your prev. post. You wrote:

`The IV is now near the end of each 4K(?) page while salt is the first 16 bytes of the file.`

What do you mean by "4K page"? In `enpass_common.h` line 32 is also page size, should this be encreased?

And also I am not sure in `enpass2john.py` is 1024 byte still ok?

[2020-01-23 22:08] redd1ng commented on #4069
This worked for me, thanks!

[2020-01-27 12:32] damien122 commented on #4139
[john_code_changes.zip](https://github.com/magnumripper/JohnTheRipper/files/4117078/john_code_changes.zip)

after try again I could fix the testing problem. But unfortunately every time I run now my own compiled version of john with an enpass hash (created with new version of enpass2john.py) from the test vectory I got the following error:
`Using default input encoding: UTF-8
No password hashes lo

[2020-01-27 15:42] magnumripper commented on #4139
Looks like your changes make the Enpass format *only* understand the newer SHA-512 hashes. A real fix has to cope with old AND new versions. For example, you could/should bump the first `*0*` to `*1*` indicating that it's not the old 2017 version.

As for your "No password hashes loaded" problem, I'm not sure what's wrong. Did you re-build? Perhaps try `make -s clean && make -sj4` to be sure.

[2020-01-27 18:36] damien122 commented on #4139
Ok I will change the version, but it change nothing in the cracking. I already tried it and change it back.

Yes I do
[code]
Like it is written in the tutorial. But I don't understand why John then ignored the hash file.
Is there some tutorial how to debug John?

[2020-01-28 09:34] damien122 commented on #4139
@magnumripper After your hint I did a clean checkout and past my changed files, compile and it works! With this version it is possible to crack the test vectors.
Is the zip file enough for you or do you need a pull request?

[2020-01-29 14:33] KSonny4 opened #4203 "pdf2john.pl produces hash for unencrypted file"
Hi! I am using pdf2john.pl to obtain hash for PDFs. However I obtain hash even for the unencrypted PDF. Is it okay? And if so, why?

### Steps to reproduce ###

- Download [https://www.fsco.gov.on.ca/en/pensions/Forms/Documents/1294E.1.pdf](https://www.fsco.gov.on.ca/en/pensions/Forms/Documents/1294E.1.pdf)
- run `pdf2john.pl 1294E.1.pdf`
-  you obtain `$pdf$4*4*128*-1068*1*16*7368a13d60455d468c90

[2020-01-29 17:37] ghost commented on #4203
These are reasonable questions. Unfortunately, the author of `pdf2john.pl` is not a JtR developer. Dhiru (a JtR dev) glued the pieces and added them to the JtR. So, it is unlikely you will get an answer.

That said, I would say it is not a bug, since:
* It generates a valid and crackable hash.
* The password is an empty string ("").
* It would be "just an Enter". A kind of "no password".
*******

[2020-01-29 17:41] magnumripper commented on #4139
Best would be a PR that supports the old format as well as the new one. Thanks for your efforts so far!

[2020-01-30 15:15] KSonny4 commented on #4203
For this exact PDF I posted above the password is not "an Enter" it's just opened by itself, that's what confuses me. Is the opening of a PDF with blank password some kind of feature that PDF viewers have?

[2020-02-02 18:58] DavidRayner commented on #4069
With `1.9.0-jumbo-1` I am unable to crack using `--wordlist rockyou.txt` but successfully could with `-wordlist=rockyou.txt`

[2020-02-06 17:21] magnumripper commented on #4069
When you say `john hashes.txt --wordlist=rockyou.txt`, you tell JtR to use the rockyou file as a wordlist.

When you say `john hashes.txt --wordlist rockyou.txt`, you're actually telling JtR that the rockyou file is an *input* file (just like hashes.txt) and to use the default wordlist (namely `password.lst` which resides in the run directory) since you didn't gave `=FILE` as parameter to the `--w

[2020-02-06 17:25] #4197 closed, assigned to magnumripper

[2020-02-06 17:25] #4200 closed, assigned to nobody

[2020-02-06 17:25] #4170 closed, assigned to kholia

[2020-02-06 17:28] magnumripper commented on #4189
Are you sure it's a hash, as opposed to the private half of an asymmetric key? If the latter, there's no chance cracking it.

[2020-02-06 17:33] magnumripper commented on #4169
While we could document that last step, this is more or less out of our scope. Thanks for mentioning it here though!

[2020-02-06 17:33] #4169 closed, assigned to nobody

[2020-02-06 21:13] ghost opened #4206 "Memory leak after 4ef1ef2"
From clang and gcc
[code]

[2020-02-07 18:51] magnumripper commented on #4206
4ef1ef2

Aye. Not exactly a leak, we're just not freeing them. I'll think of some way to fix this - perhaps simply use the corresponding tiny_alloc function (_EDIT: we can't use that because it adds dependencies_)

[2020-02-08 10:54] philsmd commented on #4171
I just found this issue by accident, but maybe I could still make some suggestions.
There is another issue currently open about segfaults with zip2john (see https://github.com/magnumripper/JohnTheRipper/issues/4054 which seems to be fixed with https://github.com/magnumripper/JohnTheRipper/pull/4207 , I guess).... are we sure they are not related somehow ?

also, @mellowcandle do you know any more

[2020-02-08 13:59] ghost commented on #4177
The zip bug is gone, but the msSql bug is still there.

[code]

[2020-02-09 14:35] ghost commented on #4203
It is NOT a regular PDF file. It is SECURED, as seen below.

![image](https://user-images.githubusercontent.com/1702923/74104019-824f4280-4b2f-11ea-88c1-8f6986d1be5b.png)

In fact, using Linux, until now I couldn't see the content [1] (I probably need to install Adobe Software).

[1] Evince, Google Viewer, FoxIt

[2020-02-09 14:47] #4203 closed, assigned to nobody

[2020-02-11 14:49] gwd opened #4208 "Mask extension to --max-length doesn't work in combination with wordlist"
The `--max-length` parameter doesn't seem to extend `--mask` values when used in combination with `--wordlist`.

### Steps to reproduce ###

The following command

[code]

Will try `base` with 1, 2, 3, or 4 characters appended to it.  But the following command sequence:

[code]

Will only try `base` with a single character appended to it.

### System configuration ###
Attach details about your OS

[2020-02-12 21:04] magnumripper commented on #4208
This works as intended, alas the documentation on stretching is "a bit sparse".

In hybrid mask mode, the mask is never stretched but the `--min-len` and `--max-len` options works just like they do in wordlist-only: If the ultimate candidate is out of bounds the word will be rejected.

[2020-02-12 21:04] #4208 closed, assigned to nobody

[2020-02-13 12:28] gwd commented on #4208
OK, but suppose I know that the "modus operandi" is to have a base password + some suffix.

If I have only one 'base', but don't know how long the suffix is, I can search for it like this:

[code]

And JtR will start with $BASE and search for increasing lengths of suffixes.  If I have several "base" values, and know how long the suffix is, I can search for it like this:

[code]

But suppose I have

[2020-02-13 14:26] magnumripper commented on #4208
I see what you mean but it's not currently possible (without running several sessions). This will be solved with #2310 and/or #4016.

[2020-02-13 14:32] solardiz commented on #4208
It's currently possible to use wordlist rules (with preprocessor) instead of mask, e.g.:

[code]

[code]

This way, only one session needs to be run. Drawbacks: have to list all "masks", slow startup if these expand to a lot of rules (we validate syntax of expanded rules at startup).

[2020-02-16 12:45] kost123 commented on #3139
Is multibit2john.py .key hashes safe to share?

Also I believe blockchain hashes are not safe to share as they reveal the guid(username) that people can then use and log in from the actual blockchain website.

[2020-02-16 23:06] magnumripper commented on #3139
I wouldn't know. As you probably understand you have to assume it's unsafe until someone explains how/why it is safe.

[2020-02-17 17:18] ulidtko commented on #3686
So uh... will something be merged here, ever?

I'm bumping the issue — since it's currently huge PITA to try to use `john` built-from-source from outside the `run` directory.

I don't find it usable, at all, to mix my hash-files, dictionary-files, session-files and whatnot with **182** (!) scripts, binaries, symlinks and datafiles living under `run`. May I use CWD of my choice, please?

I've tried

[2020-02-17 19:22] solardiz commented on #3686
I've just added a milestone so that we take another look at this issue before making the next release. However, I am not sure what needs to be done here, if anything.

@ulidtko You say there's a usability problem, but somehow I don't feel there's one, and I've been using JtR a lot. I can run e.g.:

[code]

and it works just fine. Yes, it uses `john.pot`, `john.rec`, and `john.log` files (or differ

[2020-02-18 06:23] Narthorn commented on #4069
Some ssh keys encrypted by ssh-keygen are using aes-256-ctr, instead of the previous aes-256-cbc. Here's an example generated with openssh 8.2:

[code]
OP's key was also using aes256-ctr, but ssh2john and john both assume aes256-cbc.

I haven't thoroughly checked which versions of ssh-keygen encrypt keys with CTR, but on Arch Linux, it looks like the switch happened sometime between openssh 7.4 (2

[2020-02-19 08:36] magnumripper opened #4211 "--cost option no longer pruning self-tests"
I just noticed that even though using `--cost` we [now] still require all test-vectors to pass self-test. Until some while ago (not sure when this changed) you could use eg. `--cost=2007:2010` to not only skip *benchmarking* for Office 2013 with the Office format, but also skip the *test vectors* for that cost.

There are pros and cons but the old behavior was good for narrowing down problems and

[2020-02-21 15:43] AlbertVeli opened #4212 "pcap2john.py: Add support for extracting NTLMv2 hashes"
### Description ###
Feature request. Add support for NTLMv2 in the pcap2john.py script.

### Steps to reproduce ###
* Start recording pcap
* Mount cifs filesystem (smb2)
* Stop recording.
* Run pcap2john.py on the recorded pcap. Nothing extracted.

It is possible to open the pcap in wireshark and extract it manually using the method described here:

 https://research.801labs.org/cracking-an-ntlmv2

[2020-02-21 15:57] solardiz commented on #4212
@exploide Maybe you could help with one or both of these issues: Python 3 compatibility and NTLMv2 support in `pcap2john.py`? Thanks!

[2020-02-21 17:25] exploide commented on #4212
That's a large script. Luckily there is a repo with test data: https://github.com/kholia/my-pcaps/ It contains a lot of captures (which is good and bad at the same time :laughing:  ).

I can take a look at Python 3 compatibility. I don't know in advance how much work it is and cannot promise anything.

[2020-02-21 21:13] YaBoiTrump opened #4213 "John is showing: DONE Session completed and when I type: C:\John\run>john —show “john.pot” it says 0 hashes cracked, 0 left it took me four days to crack this hash what do I do to get it back?"
### IMPORTANT ###
This is not a support forum, it's a bug tracker. If you don't understand the difference, please do NOT open an issue. For questions and support, review recent postings on the john-users mailing list at https://www.openwall.com/lists/john-users/ and then subscribe to the list at https://www.openwall.com/john/#lists and post your message to the list by e-mailing `john-users at list

[2020-02-21 21:47] ghost commented on #4213
Please, clarify.

Probably, you only need to specify `--format` in the command line.
* So, something like `john --show --format=name`

[2020-02-21 21:48] ghost commented on #4213
The GitHub issues are primarily to keep track of bugs or other shortcomings of our software, and fix those. It is not to help individual users with their specific tasks. To receive user support from the community, please use the john-users mailing list instead.

[2020-02-22 10:23] solardiz commented on #4213
This is being discussed on john-users, and as Claudio correctly says is off-topic for our use of GitHub issues. Closing.

https://www.openwall.com/lists/john-users/2020/02/22/2

[2020-02-22 10:23] #4213 closed, assigned to nobody

[2020-02-22 13:37] exploide commented on #4212
I had a first look and need to say it would be quite a substantial amount of work to do. The code is long and complex because it supports to many different types of protocols. To be honest it looks hard to maintain this script. For example, the packet parsing libraries scapy and dpkg are intermixed there. I think I understand why, since the script is basically a merge of multiple former stand-alon

[2020-02-22 18:39] solardiz commented on #4212
Thanks @exploide! So the functionality requested here by @AlbertVeli - dumping of NTLMv2 network hashes - is already supported by PCredz (NTLMv2 is specifically mentioned) and probably also by hcxtools ("netntlm" is mentioned). Since our `pcap2john.py` is less consistently written, it feels weird to be adding functionality that already exists in those tools to there.

We could maybe bundle PCredz

[2020-02-22 20:44] AlbertVeli commented on #4212
PCredz also seems to be out of date. It is written in python2 and the prerequisite pylibpcap can't be installed through pip and also seems to support only python2. To get it going you have to:

pip2 install --user http://downloads.sourceforge.net/project/pylibpcap/pylibpcap/0.6.4/pylibpcap-0.6.4.tar.gz

When I tried it just now I provided a pcap that works when I extract the NTLMv2 information man

[2020-02-23 13:25] exploide commented on #4212
True.. And then there is [net-creds](https://github.com/DanMcInerney/net-creds), another tool for the same purpose. Also Python2 only and boroughs some code from PCredz.

They do not cover all the functionality of `pcap2john.py`. The latter supports some of the more exotic protocols.

It all is a mess. I love the open source community, but I hate it that the wheel gets reinvented so often. I'm clo

[2020-02-23 17:48] kost123 commented on #3139
I think, although I'm not sure, that multibit2john.py .key only takes 2 aes blocks to decrypt, which should make it pretty safe to send, although I spoke to somebody else and they said about taking the last 2 blocks instead of the first two for whatever reason.

Care to input @philsmd ? you'd probably know

[2020-02-26 14:02] ulidtko commented on #3686
@solardiz your attention appreciated. I'll try elaborating.

There's a solid number of various datafiles shipped-with and used-by JtR (mostly depending on running mode), especially the jumbo build:

 * OpenCL kernels
 * `rules` lists
 * Markov Chain models
 * `.dic` files
 * `.chr` files
 * `john.conf`

and probably more. I'd be trivially convinced that JtR author can remember all those, and the r

[2020-02-26 17:49] solardiz commented on #3686
@ulidtko Thanks. So basically things work when you specify the full pathname to `john` explicitly, and don't work with PATH (as expected, knowing how `john` finds other files by parsing its pathname). In your example with `run/gpg`, I expect you'd have mostly avoided the problem by being in `run/gpg` and typing `../john`. I understand this is not ideal, but it's also not as clumsy as the approach

[2020-02-27 09:52] solardiz commented on #3686
@ulidtko Here's a trick that I think should work (but I haven't tested):

[code]

instead of using PATH.

[2020-02-27 19:50] solardiz opened #4215 "diskcryptor support issues"
I've just troubleshooted what looked like a weird segfault within OpenSSL only occurring on a system with AVX-512, but turned out to be a bug in our code, for now fixed in my tree with:

[code]

I suspect this kind of problems exist in other formats, as I guess Dhiru copy-pasted this from elsewhere. We'll need to audit all formats for this.

Other issues I noticed:

`opencl_diskcryptor_aes_fmt_plu

[2020-02-27 21:47] magnumripper commented on #4215
Yeah, I'd guess a LOT of formats.

This is also a very common copy-paste bug, although mostly cosmetical.

[2020-02-28 07:54] #4139 closed, assigned to kholia, magnumripper

[2020-02-28 19:30] #4215 closed, assigned to nobody

[2020-02-29 13:45] #4116 closed, assigned to nobody

[2020-03-02 08:35] tarkin2020 commented on #2352
I'm not sure but I think this problem still persits. I used latest jumbo bleeding release and the zip2john is just producing a several gigabytes large hash file.
is there anything I need to change on code or my machine?
the zip file is 8gb large and is containing one file with 15gb.

[2020-03-02 09:30] magnumripper commented on #2352
Unfortunately an 8 GB file will produce 16 GB worth of hex output and you will need a lot of memory (and preferably a lot of swap as well) to load it. Also, even if you have 64 GB of memory that 'hash' will be slow as hell to attack since we'll need to calculate a CRC on 8 GB of data for each candidate tried (unless we can early reject some of them).

[2020-03-02 09:32] martinlang83 commented on #2352
does not sound good. so probably there is no possibility to calculate this
password?

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virenfrei.
www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

Am Mo., 2. März 2020 um 10:3

[2020-03-02 09:36] magnumripper commented on #2352
Well if you do have a lot of memory and the password isn't too strong, it should be possible for sure. In my opinion, a modern computer shouldn't have less than 32 GB of memory.

[2020-03-02 09:39] martinlang83 commented on #2352
well it is for a big customer and i think he would also pay for a large
machine from aws maybe. so memory should not be a problem.

funny wise. I tried again zip2john with -o and -c option and it gave me a
small enc hash:

MailBackup.zip/MailBackup.pst:$pkzip2$1*1*1*0*8*24*ec11*560c*1b4216d48b6433ae4de35274b9e2d7c6d29ef7ab2b741583e91aec0be27b920a2df8339f*$/pkzip2$:MailBackup.pst:MailBackup.zip::c:

[2020-03-02 09:42] magnumripper commented on #2352
I was just going to suggest you running `zipinfo` on the archive. This looks pretty good, I think. The fact zip2john picked a larger file instead is kind of a bug.

[2020-03-02 09:43] magnumripper commented on #2352
Oh btw you willl crack it *immediately* using single mode 😄

[2020-03-02 09:44] martinlang83 commented on #2352
thanks, but I think it has not worked. i john on the hash and he found the
"password" but when I try to extract it zip claims the password is wrong :-(

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virenfrei.
www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#

[2020-03-02 09:46] magnumripper commented on #2352
So a false positive, too bad. Perhaps you used the `-c` option in some invalid way. What's the output of `zipinfo Mailbackup.zip`?

[2020-03-02 09:57] martinlang83 commented on #2352
zipinfo tells:

Archive:  MailBackup.zip
Zip file size: 9397790087 bytes, number of entries: 1
-rw-a--     6.3 fat 18250023936 Bx defN 19-May-22 10:48 MailBackup.pst
1 file, 18250023936 bytes uncompressed, 9397789797 bytes compressed:  48.5%

Am Mo., 2. März 2020 um 10:46 Uhr schrieb magnum <notifications@github.com>:

[2020-03-02 09:58] martinlang83 commented on #2352
also the unzip looks wired with the "wong" password:

unzip MailBackup.zip
Archive:  MailBackup.zip
[MailBackup.zip] MailBackup.pst password:
 inflating: MailBackup.pst           bad CRC 04591a32  (should be ec114727)
   (may instead be incorrect password)

Am Mo., 2. März 2020 um 10:56 Uhr schrieb Martin Lang <
mart.lang.in@gmail.com>:

[2020-03-02 10:07] magnumripper commented on #2352
OK, then I believe you'll simply need a lot of memory. However, if you can confirm the cracking speed ends up to be very poor (compared to a benchmark of pkzip format), we could probably mitigate that by implementing file magic support for `.pst` files.

https://www.file-recovery.com/pst-signature-format.htm

[2020-03-02 10:17] tarkin2020 commented on #2352
thanks a lot for your support.
I will try than with a propper machine. what would you suggest as hardware
parameters?

[2020-03-02 11:06] solardiz commented on #2352
@magnumripper Besides or instead of support for specific file types, we could detect low entropy or long sequences of 0's (or any same byte values, for that matter) for any large files (where CRC calculation would be expected to be slower). The problem is in what we do when we do not see low entropy (like we won't most of the time, because the tested password will be wrong) - do we calculate CRC a

[2020-03-02 16:49] ulidtko commented on #3686
@solardiz both the alias and `../john` are excellent workarounds.

Let me suggest an easy warning to hint at those when someone follows the same PATH mistake I did.

[2020-03-02 20:29] tarkin2020 commented on #2352
thank you @magnumripper  helped me to use it propper. I now have a 8GB hash file. I run john against this hash file. it is quite slow more or less 60000p/s.

@solardiz thanks a lot but I dont quite understand the plaintext attack thing. I know that in my zip there is one large PST file (MS Outlook). so i dont think pst is a plain text format?!

[2020-03-02 21:39] solardiz commented on #2352
@martinlang83 We're already abusing this GitHub issue too much instead of discussing the JtR aspects on john-users, and the known-plaintext attack is nearly off-topic for both, but you can read about such attacks in general here:

https://en.wikipedia.org/wiki/Known-plaintext_attack

For pkzip encryption in particular, attack is possible when you know (or guess) at least first 11 bytes of plaintex

[2020-03-02 22:00] magnumripper commented on #2352
I just now committed file magic support for zip2john (use it by simply adding `-m` to your zip2john command line), but in my tests with a several GB file, it made almost no difference - I got over 38Mp/s even without it (due to our excellent early rejection of invalid Huffman data). My guess is the 60Kp/s you were seeing will soon increase with several orders of magnitude (there's a long start-up

[2020-03-03 19:24] tarkin2020 commented on #2352
Very Cool. thanks a lot! Do you use any special commands? I'm not getting
this high performance. I get 36Mps on a 16core machine. so each core about
2MP/s.

this seems still very slow :-(

Am Mo., 2. März 2020 um 23:00 Uhr schrieb magnum <notifications@github.com>:

[2020-03-03 19:30] solardiz commented on #2352
Is this with `--fork=16`? Our PKZIP format isn't OpenMP-capable, and needs fork.

[2020-03-03 20:16] tarkin2020 commented on #2352
Yes with fork 16

Solar Designer <notifications@github.com> schrieb am Di. 3. März 2020 um
20:30:

[2020-03-04 15:16] solardiz opened #4219 "Subsets mode final status line, initial ETA weirdness"
[code]

Three really minor issues here:

1. The ETA was moving back and forth wildly in the first 10 seconds despite of fairly stable speed. Not really a usability issue, but slightly puzzling. ETA became pretty accurate after half a minute at about 0.01% searched.

2. The final status line is printed twice. (I left this unattended after seeing the 93% line. I didn't press any key when this was ab

[2020-03-04 16:41] AlbertVeli opened #4220 "Compiler warnings with gcc-9 and --enable-ztex"
### Steps to reproduce ###
./configure --enable-ztex

### Warnings ###
See:
https://gist.github.com/AlbertVeli/8727d0924a594a1ff50a2d4e1e56c1eb

### Notes ###
The warnings come from the format string "%s_%d" where the %s part can be up to 255 bytes and the destination has 256 bytes allocated. To actually perform an overflow _device->ztex_device->snString_ has to be manipulated in some way. Maybe p

[2020-03-04 17:38] magnumripper commented on #4215
The problems were from having uninitilized `saved_len[index+i]`, right? So using calloc instead of alloc would be an option.

[2020-03-04 17:41] magnumripper opened #4221 "Huge ciphertext memory use"
FMT_HUGE_INPUT should be used with non-default `fmt_source()` so we don't end up with the full ciphertext kept in memory for no use. I can't remember if we took care of that some other way, so need to review.

[2020-03-04 17:46] magnumripper commented on #4177
That should have been a separate issue. Anyway, I can't reproduce the MSSQL issue (I couldn't build with clang though).

On a side note, #4173 borked the Test Suite.

[2020-03-04 17:50] #4054 closed, assigned to nobody

[2020-03-04 17:52] magnumripper commented on #4063
I'm hoping this was fixed with #4207

[2020-03-04 17:52] magnumripper commented on #4164
I'm hoping this was fixed with #4207

[2020-03-04 18:44] ghost commented on #4177
Indeed. You can workaround it in your test environment copying/appending the existing TS `.conf` file to the run folder. E.g.:

[code]

[2020-03-04 18:57] ghost commented on #4220
JtR issues many alerts on new compilers [1]. E.g.,
* ztex on 9.0
https://travis-ci.org/claudioandre-br/JohnTheRipper/jobs/657887727

If possible, Solar should think about it (and how/if we can fix it).

[1] gcc and clang, All recent versions.

[2020-03-04 22:23] magnumripper commented on #4220
These seem to be compiler bugs. Is this a stable gcc version?

Example from luks_fmt:
[code]
[code]
Now tell me, how the heck is index not initialized? Looks to me the compiler made buggy optimizations and then complains about the result 🙄

And anyway, perhaps it's time we drop `-Wall` for a standard build? The compiler vendors have been **begging** us for it for years.

[2020-03-04 22:28] magnumripper commented on #4220
[code]
Looks stable all right. Could still be a compiler bug of course. I can't fathom what else it could be.

[2020-03-04 22:39] magnumripper commented on #4220
I just tried a ZTEX build using Ubuntu 18.04 (which has gcc 7.4.0). Not a single warning, ASan or not.

[2020-03-04 22:52] magnumripper commented on #4220
Just for the hell of it I tried actually NOT initializing `index` and then I got the (now correct) warning. I had to drop the `#pragma omp` for gcc to accept it at all.

[2020-03-04 22:56] magnumripper commented on #4220
Same Ubuntu 18.04 with gcc-8, no problem. clang-9, problem confirmed.

[2020-03-04 23:00] magnumripper commented on #4220
Seems to be a bug with their OpenMP stuff: `--disable-openmp` gets rid of every single warning.

[2020-03-04 23:06] magnumripper commented on #4220
Perhaps using the tedious full syntax would fix it.
[code]

If we're lucky we might get away with
[code]
EDIT: That's not likely. And using any `default` should be far more bug-prone than our current way of not declaring at all. I've never seen any gcc bug with this.

[2020-03-04 23:23] magnumripper commented on #4220
I believe the OP is an actual issue though.

[2020-03-05 07:51] AlbertVeli commented on #4220
This issue is not severe but it would feel good to get rid of the warning.

Do you run john through Coverity scans? I think free/open source projects on github can get free Coverity scans and it should find most of the things gcc/clang can find, and more issues too that future gcc versions might warn about, through their static code analysis.

[2020-03-05 08:22] magnumripper commented on #4220
We've done so in the past, the false-to-real ratio use to be like 25:1 so it's not for everyday use.

[2020-03-05 13:47] solardiz commented on #4221
@magnumripper I don't fully understand `FMT_HUGE_INPUT`. I notice we have it set where it's probably not needed - e.g., on DiskCryptor formats, where the "non-hashes" are of a fixed size of a little over 4 KB. Not being familiar with this flag, I didn't remove it, but perhaps you should.

[2020-03-05 13:56] solardiz commented on #4215
Yes.

I guess so, but then once those indices were ever written to we'd be wasting time on computing SHA-512 of stale data up to that length even in future `crypt_all` calls where those indices are possibly beyond `count`, although with most cracking modes this is rare.

[2020-03-05 14:12] solardiz commented on #4220
Albert, maybe you can be the one to patch the ZTEX code warnings issue you reported here? Please send us a PR.

Do you have some of those boards now?

On Coverity:

We also made some use of Coverity on smaller and cleaner Openwall projects - blists and passwdqc - and even there the false positives were a problem... and there were false negatives too (Coverity missed use of a potentially uninitiali

[2020-03-05 18:01] AlbertVeli commented on #4220
Sure. I can try to fix the compiler warnings. Someone should audit before merging later because I am not very familiar with the code.

And yes, I bought three ZTEX boards from the ebay link you posted: https://www.openwall.com/lists/john-users/2020/02/12/3 The cards works well, I just had to replace some fans (and remove some dust). I also got spacers and cables with the boards.

[2020-03-05 18:11] solardiz commented on #4220
@AlbertVeli Sounds great. Maybe you can post to that john-users thread sharing your experience buying from that seller and testing with JtR. Thanks!

[2020-03-07 04:53] ly20180228 opened #4223 "--format=bitlocker-opencl No OpenCL devices found"
我的显卡是RTX2070s，在windows下使用
./john --format=bitlocker-opencl --wordlist=wordlist.txt bitlocker_hash.txt
会提示No OpenCL devices found

在Kali-Linux下使用
sudo john --format=bitlocker-opencl /home/kali/Desktop/bitlocker_hash.txt
会提示Unknown ciphertext format name requested

 JtR team developed the CPU version of this attack (--format=bitlocker)  运行正常

[2020-03-07 14:17] ghost commented on #4223
JtR can't find the OpenCL drivers needed to run an OpenCL format.
- you have to install the needed GPU drivers;
- you have to install the OpenCL SDK.

The procedure depends on your hardware (manufacturer, technology, age, ...). It is NOT related to John the Ripper itself.

That said:

[2020-03-07 14:17] #4223 closed, assigned to nobody

[2020-03-07 14:27] ghost commented on #4223
It seems you have an RTX2070. So:
- From https://developer.nvidia.com/opencl:
  OpenCL support is included in the latest NVIDIA GPU drivers, available at www.nvidia.com/drivers

* And:
![image](https://user-images.githubusercontent.com/1702923/76145233-8c992980-6066-11ea-9c82-e73a59116c6a.png)

[2020-03-07 21:20] onthaxian opened #4224 "Supported hash not being recognized no matter what is tried"
JtR supports vbulletin < 3.8.5 hashes with format types dyanmic_6 and dynamic_7 and dynamic_1007

The version of john I am using is john-1.9.0-jumbo-1-win64, latest version I could see for download.

I have a hash (modified so as not to paste real one, characters at end changed), like so:

50cff86a9fe4a2ccbc67e95272321dbe:_j&+jx^uzJ"S*gFn$k*s)&b=&0-~#7

I have tried using format="dyanmic_6", chang

[2020-03-08 00:00] ghost commented on #4224
Isn't it a fixed 3 byte salt? E.g., this is a valid hash:
[code]

I'm affraid you are using an incorrect hash for testing.

[2020-03-08 00:01] ghost commented on #4224
Although this issue is worded as a bug report, not as a question, I'm afraid you're mistaken.

We assume you are genuinely thinking you are reporting a real bug to help the project. That said, please:

- try to make your point clearer;
- if you need support as an end-user, ask for help on the mailing list john-users at lists.openwall.com (but first see the archives at http://www.openwall.com/lists

[2020-03-08 00:22] onthaxian commented on #4224
Versions of vBulletin after 3.8.5 uses a fixed 30 byte salt.

I had tried a lot of searching before posting, and it seemed dynamic_1007 would still work. My hash is valid.

I apologize for this not being a proper bug report however, I had tried to search before posting and was certain I was doing everything correctly. I will post on the mailing list.

[2020-03-08 00:26] #4224 closed, assigned to nobody

[2020-03-08 23:41] deathmorlock opened #4225 "bitcoin2john.py ERROR parsing wallet.dat"
Bitcoin-core wallet opens and works fine.  But cant extract hash with bitcoin2john.py
[code]

[2020-03-09 09:55] solardiz commented on #4225
@deathmorlock You're trying to use an older revision of the script that we had in the 1.9.0-jumbo-1 release. The revision that we currently have in this repo is different, containing a total of 248 lines - so it doesn't even have the line numbers you're quoting. Please upgrade.

[2020-03-09 09:55] #4225 closed, assigned to nobody

[2020-03-09 10:33] solardiz commented on #4220
The original issue reported here is fixed with #4222.

magnum, you might want to open another issue for the unrelated gcc 9 warnings you were talking about here.

[2020-03-09 10:33] #4220 closed, assigned to nobody

[2020-03-09 23:13] magnumripper commented on #4221
We're using `FMT_HUGE_INPUT` for any format potentially having ciphertexts longer than `LINE_BUFFER_SIZE` and when we added it we reduced the latter macro to the original `0x400`.

This issue is about formats like zip, rar and 7z though. They can have truly huge ciphertexts, several gigabytes. We're never going to use the full `db->(...)->source` anyway (the pot entry will be truncated and a hash

[2020-03-10 00:56] magnumripper commented on #3444
I've finally had some time to look into this. Yes, the "expected different" seems to be a good and KISS measure. When you say "symbol size" you mean what's called `charset` in the code below, right? Typically 256 for our use.

[code]

Then we have the `analyze.c` you sent me. I'm not sure what to make of that.
[code]
Perhaps that code needs a larger chunk of data to be of any use? I'm thinking for

[2020-03-10 01:05] magnumripper commented on #3444
Hm, perhaps some more analysis is needed:
[code]
The chance of an "actual" of 12 for random data is far too high for this to usable. I guess some version of that `analyze.c` is probably going to help us - I just need to understand it.

[2020-03-10 06:51] deathmorlock commented on #4225
Hello. i donwload this one again - https://github.com/magnumripper/JohnTheRipper/archive/1.9.0-Jumbo-1.zip
and use bitcoin2john.py from it . (also i can send you wallet for tests)
[code]

[2020-03-10 09:04] deathmorlock commented on #4225
yes... the last Release https://github.com/magnumripper/JohnTheRipper/releases/tag/1.9.0-Jumbo-1
contains old bitcoin2john.py version.
I take bitcoin2john.py directly from github source and all works fine.

[2020-03-10 09:26] solardiz commented on #4221
Maybe we shouldn't make `LINE_BUFFER_SIZE` as low as 0x400, but can allow e.g. 10x more than that, so that formats like DiskCryptor wouldn't need `FMT_HUGE_INPUT` and would store the full "non-hashes" (in this case, a little over 4 KB, and there would be very few of those)? Would this perhaps be more convenient?

(In fact, DiskCryptor in particular currently decrypts only the first 96 bytes, so 19

[2020-03-10 09:29] solardiz commented on #4225
Thank you for confirming this, @deathmorlock

[2020-03-10 10:27] solardiz commented on #3444
Yes.

This depends on the size of data being checked. For small sizes, 8-bit aka 256 is too large (but we can't reasonably use smaller than that for expected-binary data with byte granularity). For large sizes, it's too small (so `analyze.c` uses 32-bit and 16-bit instead).

Yes.

It also sort of works on plaintext passwords, which are short, but only as one of many password complexity tests and w

[2020-03-10 13:39] ghost opened #4227 "Windows issue after 0674b69"
The `unix` is defined in Windows CygWin. Probably, we should change the `if` to something like this:

* `if unix && ! __CYGWIN__ // MingW, etc.
`
[code]

[code]

[2020-03-10 13:52] solardiz commented on #4227
Oh. Does Cygwin define any generic macro indicating it's Windows? Like what does this say? -

[code]

Maybe we can have:

[code]

I now wonder if DJGPP possibly defines `__unix__` as well... if so, we need to exclude it too.

With all those exclusions, we could as well drop the check for `__unix__` and only check for the exclusions.

[2020-03-10 14:04] solardiz commented on #4227
I've just tried grepping what we already check for in various places, and it's quite inconsistent. Let's not be adding even more inconsistency. In `os.h`, we have this:

[code]

So I suggest we simply use the inverse of this check, and drop the check for `__unix__`.

In some places, we also check for `__MINGW64__`, but I guess `__MINGW32__` is also set on those builds, so no need to check both.

[2020-03-10 14:04] ghost commented on #4227
I found none:
* https://ci.appveyor.com/project/claudioandre-br/johntheripper/build/job/6kapis4cg5d8aj75#L330

The most interesting stuff I found is WINT_*. E.g., `__WINT_TYPE__`

[2020-03-10 14:24] ghost commented on #4227
Running CI now.

[2020-03-10 18:03] #4227 closed, assigned to nobody

[2020-03-10 20:50] magnumripper commented on #4221
We could set it to anything we want, but why bump it? The only magic in the format is the very `FMT_HUGE_INPUT` flag, the rest is core stuff. I hate it when I tail john.pot and get a wall of hex scrolling by...

[2020-03-11 08:57] magnumripper commented on #2352
Yes the PKZIP format is OpenMP-capable. It scales fair enough, but fork may be faster. The speed I reported was using 16 threads (8 real cores) IIRC.

[2020-03-11 11:02] solardiz commented on #4221
I was thinking that for only a few non-hashes of a few KB each, it's convenient to be able to match them against `john.pot` lines manually if someone wants to - but from what you say, this isn't a universally shared preference.

[2020-03-12 01:30] magnumripper commented on #4221
I agree with your view as well but I find the current limit of 1024 a pretty balanced compromise: Longer hashes can usually still be matched visually/manually, looking at the first couple of hundred characters or so that are still there before it's truncated and a hash is appended.

As soon as we bump it to 4K we'll end up with someone wanting this for some other non-hash needing 8K - and soon we'

[2020-03-12 02:11] magnumripper commented on #4224
https://www.openwall.com/lists/john-users/2020/03/12/1

[2020-03-12 05:26] AlbertVeli opened #4230 "Report speed with SI symbol k for kilo"
According to the international system of units kilo is written with a lower-case **k** while john reports speeds with a capital **K**. See https://en.wikipedia.org/wiki/Kilo-

# Steps to reproduce
Run john and check how it reports performance. If the kilo prefix is used it looks something like this:
```1011Kc/s```

[2020-03-12 11:02] solardiz commented on #4230
I'd rather not change this. On one hand, yes there's that in SI. On the other hand, capital K doesn't clash with anything relevant (to my knowledge) and is more consistent with our use of M, G, T, which match SI and thus should stay as-is.

https://en.wikipedia.org/wiki/International_System_of_Units#Prefixes

Besides, if we change this now, we'll have a mix of lowercase k and uppercase K in JtR be

[2020-03-12 11:06] solardiz commented on #4230
I guess SI's use of lowercase k is historical, consistent with its similarly historical use of "kg" as a base unit and its use of uppercase K for Kelvin. I think I understand and agree with those choices of theirs, but all of this is mostly irrelevant to us.

[2020-03-12 15:19] solardiz commented on #4230
A reason in favor of @AlbertVeli's suggestion is that it'd be consistent with hashcat, which uses:

[code]

[2020-03-12 17:48] magnumripper commented on #4230
We could claim that our figure shows expected speed of ambient temperature change, in Kelvins per second.

I'd rather keep `K` and shift by 10 instead of dividing by 1000, but that's me and it would give all the legacy problems already mentioned. Let's postpone fixing this issue until all other issues are closed 😇

[2020-03-12 18:10] AlbertVeli commented on #4230
That is ok. Good to have an issue anyway in case somebody else wonders, then they can look at the comments here.

[2020-03-12 21:57] #4230 closed, assigned to nobody

[2020-03-13 13:29] ghost commented on #4044
I tried the same on Linux with Celeron N3050, beignet 1.3.2, LLVM 7. Here are some interesting results:

1. JtR can create `~/.john` directory but afterwards it cannot create `~/.john/kernels` directory, so it will say "Error creating binary cache file".
2. However, `john --format=rar-opencl --test` *seem* to work and it is faster than `john --format=rar --test`:
[code]
[code]
3. `john --format=ra

[2020-03-13 14:13] solardiz commented on #4044
This line number corresponds to 1.9.0-jumbo-1. I doubt it'd make a difference for this issue, but can you also try our latest code from this repo?

As I understand, their change isn't a workaround, but is a bug fix adding previously-missed checks for the status of the previous OpenCL API call. We already check the status of every such call. Specifically, in 1.9.0-jumbo-1 we have:

[code]

where e.

[2020-03-13 14:22] solardiz commented on #4044
Maybe the combination of sometimes ignoring OpenCL errors in per-format code and never ignoring them in dependent calls in the shared code is wrong.

@86423355844265459587182778 Can you try replacing `HANDLE_CLERROR` with `BENCH_CLERROR` or `SOFT_CLERROR` (and let us know which you chose) on that line 1827 in `opencl_common.c`?

[2020-03-14 02:39] ghost commented on #4044
Replacing `HANDLE_CLERROR` with `BENCH_CLERROR` (Version: 1.9.0-jumbo-1) partially solves the problem - at least benchmarks for both formats appear to run successfully. However I still have to manually create the "kernels" directory to silence the "Error creating binary cache file" message.

`john --format=rar-opencl --test` (No "kernels" directory):
[code]
`john --format=rar5-opencl --test` (No "

[2020-03-14 03:38] ghost commented on #4044
This time `HANDLE_CLERROR` is replaced with `SOFT_CLERROR` (Version: 1.9.0-jumbo-1). `rar-opencl` works but `rar5-opencl` fails.

`john --format=rar-opencl --test` (No "kernels" directory):
[code]
`john --format=rar5-opencl --test` (No "kernels" directory):
[code]
`john --format=rar-opencl --test` (With "kernels" directory):
[code]
`john --format=rar5-opencl --test` (With "kernels" directory):
[co

[2020-03-14 11:22] solardiz commented on #4044
Thanks @86423355844265459587182778.

So it looks like we have two issues here - one is inconsistent handling of errors between format-specific code and common code, and the other is with the "kernels" directory.

Can you please also repeat these tests on our current code from this repo (not 1.9.0-jumbo-1)? Please first test it as-is, then with `BENCH_CLERROR` on the line in `opencl_common.c` for w

[2020-03-15 03:16] ghost commented on #4044
I noticed that the current code looks for `opencl` directory instead, and the directory bug is still here (i.e. requires manually creating it).

At f47aa64, as-is (without `BENCH_CLERROR` patch):
[code]
[code]
[code]
[code]

[2020-03-15 05:07] ghost commented on #4044
f47aa64 + `BENCH_CLERROR` patch:
[code]
[code]
[code]
[code]

[2020-03-15 16:09] solardiz commented on #4044
Thanks @86423355844265459587182778.

Now I'd really like to hear from @claudioandre-br and @magnumripper on both issues. Please?

[2020-03-17 02:37] FFY00 commented on #4188
Hey, I have a RX 5700 XT (NAVI10) and I would really like to see this working. I am available to test.

Right no when I run `john --form=wpapsk-opencl dump` john gets stuck in the following output:
[code]

On ctrl+c it gets stuck on `Wait...`, I have to force close by issuing a ctrl+c again.

[2020-03-17 02:38] FFY00 commented on #4188
By the way:

[code]

[2020-03-17 12:58] solardiz commented on #4188
IIRC, things never quite worked with Mesa. I didn't look into what Claudio said here yet, but previously one needed AMD's OpenCL runtime - AMDGPU-Pro or ROCm. Has this really changed?

[2020-03-17 17:50] solardiz commented on #4188
Was this even relevant? As I recall, APP SDK was needed for two purposes: to use CPU as OpenCL device (as a worse alternative to Intel's SDK) or to use GPUs with the old fglrx driver. It was already obsolete for GPUs when AMD switched from fglrx to AMDGPU-Pro and ROCm a few years ago. When installing AMDGPU-Pro / ROCm instead of fglrx, like we've already been doing in recent years, APP SDK was not

[2020-03-17 18:08] magnumripper commented on #4188
Some of our build bots use it, I guess that's what Claudio meant.

[2020-03-17 18:21] solardiz commented on #4188
OK, but this is unrelated to us supporting AMD hardware, and besides we can continue using old versions (or final version) of APP SDK for our build bots' testing on CPU, and we can also use Intel's OpenCL there.

[2020-03-20 18:03] sukhmel opened #4232 "zip2john fails to produce hash for encrypted file inside unencrypted folder"
### Steps to reproduce ###
create encrypted zip archive on Android using FX
run zip2john on this archive
get `is not encrypted!` message
### System configuration ###
OS: Win10 x64 1909 ver 18363.720
[code]
[code]

[code]

Sample file, password is `test`
[test.zip](https://github.com/magnumripper/JohnTheRipper/files/4361205/test.zip)

[2020-03-20 20:38] magnumripper commented on #4232
Good report. With some luck we can persuade @srett to have a look at it

[2020-03-21 00:39] ghost commented on #4232
Is this Jumbo 1?

I'll test it using my old Windows 32bit machine (and my Windows package). Anyway, it is ok on Linux using bleeding (edge snap package).

[code]

[2020-03-21 01:38] ghost commented on #4232
It is failing on Jumbo 1, unfortunately.

But it works when I use bleeding (https://travis-ci.org/github/claudioandre-br/JohnTheRipper/jobs/665090836#L648).

We could have a known issues section somewhere.

[2020-03-21 07:53] magnumripper commented on #4232
Good stuff! So it looks like @srett already fixed it, knowingly or not. Thanks, Claudio.

[2020-03-21 07:53] #4232 closed, assigned to nobody

[2020-03-21 15:09] u666sa opened #4233 "DEVICE_INFO=16402 0: OpenCL CL_BUILD_PROGRAM_FAILURE (-11) error in opencl_common.c:1376"
Can not use OpenCL with John.  System is 5.3.0-42-generic #34~18.04.1-Ubuntu
NVIDIA GeForce 420M laptop.
To be clear, OpenCL works, and does tests in a different program, Pyrit, however, does not work in John the ripper.

`$ ./john --test=0 --device=1 --format=opencl
Device 1: GeForce GT 420M
Testing: sha1crypt-opencl, (NetBSD) [PBKDF1-SHA1 OpenCL]... PASS
Testing: KeePass-opencl [SHA256 AES/Twofi

[2020-03-23 18:50] claudioandre-br commented on #4233
As a workaround, you can exclude the problematic format(s) if you don't need it/them.

As a side note, the code itself seems correct. Can you install and test another CUDA driver? I tested it (using Openwall's super) and it works:
[code]
But I recall it used to work on previous CUDA versions.

[code]

[2020-03-24 19:11] magnumripper opened #4234 "7z2john.pl doesn't tell BCJx is used, this leads to 7z formats giving false negatives"
https://www.openwall.com/lists/john-users/2020/03/17/1

https://github.com/philsmd/7z2hashcat/issues/24

hashcat has the same problem (I assume Phil will fix that as well)

[2020-03-27 07:02] POMATu opened #4237 "rar2john, 7z2john producing very long hashes"
Hi,

So I have bunch or rar and 7z archives, but these utilities produce very long hashes (20938446 symbols) and I cant import them to hashcat. It happens always for these specific archives, other ones work fine.

What can be a cause of this problem? Does that mean that archives are broken or its some bug or new encryption format? Btw rar archive is basically $rar3, I doubt it is some new format.

[2020-03-27 12:42] ghost commented on #4237
Some *2john tools output a large file. See #4051

That said, there's no indication of a bug in what you described. From above, it works to you.
****

From https://github.com/magnumripper/JohnTheRipper/issues/4050#issuecomment-513225206

Or, from john-users ML

of whatever size is required for cracking. Unfortunately it's
hex-encoded which means a 5 MB data chunk will end up as 10 MB worth of
hex d

[2020-03-27 12:42] #4237 closed, assigned to nobody

[2020-03-27 21:27] magnumripper commented on #4237
What he said. John can load arbitrarily large input files but hashcat currently can't. You should probably ask them about that, not us!

Some of the archive tools (rar2john for one) try to pick the smallest usable file from an archive, when applicable. So from some large archives you'll get a very small file for the cracker. From some other archives that's simply not possible (eg. one single huge

[2020-03-27 21:48] ghost commented on #4237
Indeed. Sorry, Pomato. Anyway, this is a support question.

[2020-03-27 22:03] magnumripper opened #4238 "Review UTF-16 detection and other encoding detections (fatal error vs. warning)"
https://www.openwall.com/lists/john-users/2020/03/27/4

I can't remember: Maybe the fatal error only happens when detecting UTF-16 in *input files* (as in *hash files*), I'm not quite sure we check *wordlists* for just that at all. Anyway we should probably almost never die from problems seen in a wordlist (potentially a long way into a session), only warn. While we're at it, I believe we currentl

[2020-03-28 14:04] POMATu commented on #4237
Ok now its clear, I will switch from hashcat to johntheripper, Thanks

[2020-04-01 13:21] #4234 closed, assigned to magnumripper

[2020-04-01 17:25] magnumripper commented on #4164
Closing bc wo

[2020-04-01 17:25] #4164 closed, assigned to nobody

[2020-04-01 17:26] magnumripper commented on #3389
Closing bc wo

[2020-04-01 17:26] #3389 closed

[2020-04-01 17:27] magnumripper commented on #3720
Closing bc wo

[2020-04-01 17:27] #3720 closed

[2020-04-01 17:27] magnumripper commented on #4063
Closing bc wo

[2020-04-01 17:27] #4063 closed, assigned to nobody

[2020-04-01 17:28] magnumripper commented on #4099
Closing bc wo

[2020-04-01 17:28] #4099 closed, assigned to magnumripper

[2020-04-01 19:04] strarsis commented on #4063
@magnumripper: Just tried it out and it works great! Thanks for following this up and fixing it.

[2020-04-01 22:24] magnumripper commented on #4063
@srett is the man

[2020-04-01 23:26] magnumripper commented on #3511
#4086

* Also, this could add optional color to the [screen] output, eg. yellow for important notes, red for more serious warnings.
* And, easily done, we could line-wrap at **word** boundaries as opposed to in the middle of a word. Without the caller needing to care at all.

[2020-04-02 01:22] kolet opened #4241 "Cuda support / Windows package"
hi,

i've search online with out any success,
i'd like to be able to compile jtr cuda (to use my gpu cards)  for windows.

i did try to compile this way
`./configure x86_64-w64-mingw32`

with out any success .
error receiving is

[code]
all of this above was for the latest JtR from github.

i did install libssl-dev and libssl1.0.0 and libssl1.1 and libssl1.0-dev to make sure i rid of the openssl e

[2020-04-02 03:10] kolet commented on #4241
tried to be a smart ass and copied all the *.h files into a new folder i created named openssl inside the src folder
next error i got was

[code]

[2020-04-02 03:56] kolet commented on #4241
next thing i tried to do after reading countless issues here.

i tried this ,
i downloaded openssl from github
compiled it with` ./Configure  mingw64 --prefix=/build/openssl zlib shared` and putted it inside /mnt/c/build/openssl/  same as jtr in /mnt/c/build/john..

then

NO_DEFAULT_PREFIX=1 ./configure OPENSSL_CFLAGS="-I/mnt/c/build/openssl/include" OPENSSL_LIBS="-lssl -lcrypto" CFLAGS_EXTRA="-I/

[2020-04-02 06:27] kolet commented on #4241
last update after wasting hours on this.

i've read https://github.com/magnumripper/JohnTheRipper/blob/bleeding-jumbo/doc/INSTALL-WINDOWS
installed cygwin , installed all the needed packages.

problem is "make" did not work.

[code]

[2020-04-02 10:01] xirotech commented on #4069
Yes, This directly leads to  "No password hashes loaded (see FAQ)" error.

[2020-04-02 12:46] ghost commented on #4241
From `doc/README-CUDA`: **CUDA support has been dropped** two years ago. Anyway, I tried to compile it:
[code]

It gave me lots of CUDA deprecated warnings. Then, it bailed out with errors.
* the errors I'm seeing are fixable. From ld, missing library. Unfortunately, I'm using a remote machine, no root.
* I'm not aware of people that used CUDA on Windows. So, it might be IMpossible to compile it.

[2020-04-02 16:14] kolet commented on #4241
it is however the latest release in the repo..

mind explaining me and the others how to compile the repo(not cuda) for windows (from WSL)
because i was not able to compile it either .
i tried with cygwin and wsl , no good as u see the tries above.

please advice what to download where to download and all the steps for a windows machine so that windows users will be able to compile it and run it.

[2020-04-02 17:06] ghost commented on #4241
I, myself, bult using WSL a year ago. I don't know how it behaves now. It should be easy, but, who knows?

What you can read inside `doc/INSTALL-WINDOWS` is, basically, what I do to test and deploy JtR's Windows package. Well, since I use chocolatey, it is more like this:

[code]
* I build and test JtR on Windows 2012, Windows 2016, and Windows 2019. VM Images created by Microsoft Azure, AppVeyor

[2020-04-02 17:59] trounce1 opened #4242 "BestCrypt Volume Encryption Format"
Hi guys,

i know that the Jetico bestcrypt container format is supported, but would it be possible to add the volume encryption format.  It doesnt seem to be supported by any other tools.

I have tried to find some source code to the format and not managed to, i have also done some work on the header but not got anywhere.

Thanks

[2020-04-02 18:23] solardiz commented on #4241
I think there's a lot of confusion here. Returning to:

If the reason for all of this is to use GPUs, then:

1. You don't need CUDA for that. You need OpenCL.
(Edit: you do need to have NVIDIA's CUDA toolkit installed, but we use the OpenCL support that it provides, not the CUDA language.)

2. You don't have to build from source for that. You can use our Windows binary build of 1.9.0-jumbo-1 avail

[2020-04-02 20:14] kolet commented on #4241
well,
here the thing, i have used zip2john from the jumbo release and it was showing me one thing, then i downloaded the latest github repo (not from the release) compiled it for WSL (via WSL) , and the result from zip2john was different.
first i wanted to use hashcat to crack the PKZIP hash,
first try did not work because the hash was off and hashcat did not recognize the hash. (with the old zip2

[2020-04-02 21:36] ghost commented on #4241
Off the top of my head:
* you can't use OpenCL in WSL (it is Linux). You can't access and use the (Windows) GPU drivers.
*********

Yes. From the repo, click the "download" seen below:

![image](https://user-images.githubusercontent.com/1702923/78301521-91d78000-750f-11ea-817e-bef77d03d5c1.png)
**************
Follow the instructions and download the "endorsed" 7zip file:
- it has OpenCL support en

[2020-04-02 21:40] ghost commented on #4241
Just to be clear:
- the package available as the "Official" Windows package in Openwall's website has OpenCL enabled too.
- But, since we are dealing with zip files, bleeding is recommended.

[2020-04-02 21:40] #4241 closed, assigned to nobody

[2020-04-02 21:53] kolet commented on #4241
i want to kill myself right now for not seeing it earlier xD
thanks alot !

i've downloaded
https://github.com/claudioandre-br/packages/releases/download/jumbo-dev/winX64_1_JtR.7z

does it use the gpus automatically ? or there is a flag for it ?

[2020-04-02 21:54] kolet commented on #4241
i want to kill myself right now for not seeing it earlier xD
thanks alot !

i've downloaded
https://github.com/claudioandre-br/packages/releases/download/jumbo-dev/winX64_1_JtR-endorsed.7z

does it use the gpus automatically ? or there is a flag for it ?

edit:

does the opencl should be downloaded from the intel website the  (the sdk one?)
https://software.intel.com/en-us/opencl-sdk/choose-downlo

[2020-04-02 22:06] ghost commented on #4241
If you have all pieces installed, you should pick the OpenCL format (I mean, skip the CPU format):
[code]
But, only when you are sure everything else is ok.

[2020-04-02 22:11] kolet commented on #4241
not sure what is "everything" :)
ur everything is not elses everything , mind to elaborate ?

 (well thats fcked up apparently to install opencl u have to download a windows graphic driver , and mind says . "Sorry, we didn't find any supported Intel drivers or software." )

second edit:
apparently it says in the nvidia website that the opencl is already included in the nvidia latest driver.
i will

[2020-04-02 22:45] solardiz commented on #4241
@kolet `zip2john` supports two very different kinds of ZIP archives: PKZIP (ancient "non-cryptographic" encryption, no proper KDF) and WinZip (AES, PBKDF2). Out of these two, we only support use of GPUs (via OpenCL) for WinZip archives. For PKZIP archives, we only have a CPU implementation. hashcat supports PKZIP archives on GPUs, but I don't know the detail.

So if what you have is a PKZIP archiv

[2020-04-02 22:48] solardiz commented on #4241
@kolet For PKZIP, you could also try bkcrack, which I mentioned here: https://www.openwall.com/lists/john-users/2019/05/20/3

[2020-04-02 22:51] kolet commented on #4241
thanks.

so a lil update.
i downloaded the latest nvidia drivers.

and JTR dont seems to find any openCL devices.

[code]

from here https://developer.nvidia.com/opencl it seems that  opencl should be included in the nvidia driver  " OpenCL support is included in the latest NVIDIA GPU drivers, available at "

but JTR cant find it :o

[2020-04-02 22:54] ghost commented on #4241
I never tested it, anyway, there are some binaries to help you check if you have OpenCL working:
https://ci.appveyor.com/api/projects/oblomov/clinfo/artifacts/clinfo.exe?job=platform%3a+x64

[2020-04-02 22:59] kolet commented on #4241
clinfo shows all of my gpus .

[code]

full list

[code]

in the end after it went through all my gpus

[code]

[2020-04-02 23:03] ghost commented on #4241
Ok. Please, find a file named `OpenCL.dll `inside your Windows folder and replace the file `cygOpenCL-1.dll`  inside the JtR run folder

[2020-04-02 23:06] solardiz commented on #4241
@claudioandre-br Shouldn't our inclusion of a `etc/OpenCL/vendors/nvidia.icd` have worked around that issue? I don't recall what reads that file, though. It's relative to our tree, so it feels weird any library would look there. Can you remind me?

@kolet While it'd be curious to investigate this further, please be aware that this won't help you crack your PKZIP archive with JtR, nor with bkcrack

[2020-04-02 23:10] kolet commented on #4241
they are couple of OpenCL.dll

C:\Windows\SysWOW64\OpenCL.dll
C:\Windows\System32\OpenCL.dll
C:\Program Files\NVIDIA Corporation\OpenCL\OpenCL.dll

and there is already a filename cygOpenCL-1.dll in the run folder .

@solardiz
i know, i just wana help out right now since we are already on it, so why not... i've spent over 15h on this , so alil more wont be a problem to help out the rest of the com

[2020-04-02 23:13] ghost commented on #4241
Try `C:\Windows\System32\OpenCL.d`ll

[2020-04-02 23:15] kolet commented on #4241
with this same result

[code]

[2020-04-02 23:17] kolet commented on #4241
ouraii
so i found another opencl file in
[code]

took this one C:\Windows\LastGood.Tmp\system32\OpenCL.dll
and now it print out all the gpus.
hmm wtf xD

[2020-04-02 23:19] ghost commented on #4241
Sometimes it doesn't work. It uses and loades the file `System32\nvopencl.dll`. But, it seems some computers don't have this file.

Very goood. My final statement, I can't explain why some Windows `.dlls` are not working. If are installed, they have to work.

[2020-04-02 23:23] kolet commented on #4241
will it matter if i share these dlls here ?

(do they show sensitive info inside of them ? / or they are randomized in every pc so it wont help at all others)

but what would happen if these dll havent been found? what then ?

[2020-04-02 23:29] ghost commented on #4241
No.
* I can start to use, e.g., NVIDIA drivers when building JtR package.
* But, wait, you have a lot of installed dlls that are not working.
* I have NO guarantee a random NVIDIA `.dll` will work in the wild.

These problems are support issues. They need to be solved on a case-by-case basis, basically, by the end user.

[2020-04-02 23:31] kolet commented on #4241
hmm, i have 2 machines .
one with 1080 gpus and the second one with 1080ti gpus.

i can upload these if u want

[2020-04-03 07:49] trounce1 commented on #4242
I found some more useful info this morning. may be able to help understand the format.

https://github.com/MotherOfAllVoids/bachelor_thesis

[2020-04-03 10:26] solardiz commented on #4241
@claudioandre-br Why are the files `etc/OpenCL/vendors/*.icd` read at all? These are pathnames relative to our tree, why does any library (which one?) look in there? I would understand for absolute paths such as `/etc/...`, but these relative ones puzzle me.

[2020-04-03 10:28] solardiz commented on #4241
@kolet Does your system have other `*.icd` files? If so, which ones and what's in those? Thanks!

[2020-04-03 13:44] ghost commented on #4241
The file `cygOpenCL-1.dll` (located in `./run`) reads and uses the `etc/OpenCL/vendors/*.icd` files.

For example: `./run/cygOpenCL-1.dll` reads (tries) `etc/OpenCL/vendors/nvidia.icd` loads (tries) `c:\Windows\System32\nvopencl.dll` and make some OpenCL calls.
****

It is easy to test the `*.icd` files. Just edit it/them and point it/them to the proper NVIDIA/Intel/AMD `.dll` file. I have no reas

[2020-04-03 15:53] solardiz commented on #4241
But how? If it uses that relative pathname, then success or failure to read that file will depend on what the current directory is. Moreover, it'd be a security issue if the current directory is untrusted.

Besides, normally we suggest to run the programs while the current directory is `run`. When this is the case, then a working relative pathname would be like `../etc/OpenCL/vendors/*.icd`, but I

[2020-04-03 17:05] ghost commented on #4241
Someone using an OpenCL enabled machine have to test this. Off the top of my head:
- running JtR using CMD results in the `JohntheRipper` folder becoming root `/` directory for cygwin.
- it doesn't matter if you are in the `doc` or `run` or `JohntheRipper` folder.

To be sure, we need to test it in a Windows machine. Can you test it @kolet?
- Revert/download JtR again.
- check OpenCL does NOT work

[2020-04-03 17:15] solardiz commented on #4241
This would explain the (presumed) behavior, but I don't see why that would be the case.

I find it more likely that either this doesn't work and never worked (but this contradicts previous success reports?), or there's some magic in cygOpenCL's searching for these files (we can check this library's source code to find out).

[2020-04-03 17:17] ghost commented on #4241
Testing is mandatory. I used the package in a Lenovo notebook and I saw exactly this behavior.

[2020-04-03 17:22] ghost commented on #4241
In fact, I tested this in 2 differente notebooks.
* Lenovo - NVIDIA (worked out of the box)
* a notebook with one AMD GPU (where I get the AMD's dll name). I had to install/fix something. After that, it worked fine.

[2020-04-03 17:36] solardiz commented on #4241
If I understand correctly, Cygwin uses this project's code:

https://github.com/OCL-dev/ocl-icd

patching and packaging it as specified in:

https://cygwin.com/git-cygwin-packages/?p=git/cygwin-packages/ocl-icd.git;a=tree

I see nothing in there to check relative or multiple paths.

[code]

Some env vars are checked, but I see no reason why they would happen to be set the way we'd have needed them

[2020-04-03 19:38] ghost commented on #4241
I added that to `path.c` (because I was this file opened).
[code]

Then, inside CI:
[code]

So, that is it. JtR root folder is the root folder. Notice:
* etc

And the virtual folder (it is not a real folder).
* cygdrive

[2020-04-03 19:46] ghost commented on #4241
I also tested the current folder. As expect, It is `src`.:
[code]

https://ci.appveyor.com/project/claudioandre-br/johntheripper#L1784

[2020-04-03 20:04] solardiz commented on #4241
Thanks, Claudio! I'm not surprised we have it like that on CI - placing our files in filesystem root - but I wonder whether/how the `etc/OpenCL/vendors` path would also be accessed after extracting our binary build's archive on a Windows system.

[2020-04-03 20:11] ghost commented on #4241
It is Windows (Microsoft Windows Server 2016 Datacenter OS Version:                10.0.14393 N/A Build 14393). Windows filesystem root must have:
* Program Files
* C:\Windows

Where are they? Anyway, we can run all these tests as soon as we get a Windows test machine.

**[edited]**
They are in `/cygdrive/C/Windows` or `/cygdrive/C/Program Files`.
*****

Now:
[code]
[code]

And Now:
[code]
[code]

[2020-04-04 23:00] lw3eov opened #4243 "No cracked password showing up"
### System configuration ###
Version: 1.9.0-jumbo-1
Build: linux-gnu 64-bit x86_64 XOP AC OMP
Section [opencl-devices] not found.

$john miarchivo --mask=0142082?d?d?d
2020/04/04 18:16:07.646840 system_key.go:126: cannot determine nfs usage in generateSystemKey: cannot parse /etc/fstab: expected between 3 and 6 fields, found 7
Warning: detected hash type "wpapsk", but the string is also recognized

[2020-04-04 23:02] ghost commented on #4243
Please, share the file `24229_1585779530.hccapx`. We need it to check if the 2john tool is working properly.

[2020-04-04 23:05] lw3eov commented on #4243
https://mega.nz/file/7MsDnKoK#HQVded-LnCDXgHs1qg3GwxrUI3BywuT5InF6gNdNIMQ

[2020-04-05 00:22] ghost commented on #4243
@magnumripper, The user @lw3eov is reporting a false negative.
* As reported, the expected password is `0142082734`.
* The `hccapx` file is attached.
* I was able to generate the "hash" file using:
  `hccapx2john.py 24229_1585779530.hccapx > wpa.txt
`
* I see no errors. Well, I've never see the special `--single` in action before (33 versus 66):
[code]
[code]
****
That said, I'm not able to crack

[2020-04-05 00:28] lw3eov commented on #4243
what does a false negative means? (as mentioned by claudioandre-br)

please try the command you asked me to execute: john miarchivo --mask=0142082?d?d?d

The original .cap file was cracked successfully using Elcomsoft Wireless Security Auditor version 5 for Windows. (In case this comment is useful)

[2020-04-05 19:23] lw3eov commented on #4243
what does a false negative means? (as mentioned by  claudioandre-br)

[2020-04-05 19:25] magnumripper commented on #4243
Is he really? Where does anyone say the password should be 0142082734? I seriously doubt that's the correct password. OTOH it could be that the sniffed data is somehow incomplete.

[2020-04-05 19:26] lw3eov commented on #4243
I can upload the .cap file so you can try by yourself if you don't trust me

[2020-04-05 19:26] magnumripper commented on #4243
If you *know* the password should crack as 0142082734, a false negative means some bug make JtR not crack it. Hashcat ALSO does not crack it though...

[2020-04-05 19:27] magnumripper commented on #4243
Oh I do trust you, I just can't find where you stated that 0142082734 is the correct password. Where did you do so?

[2020-04-05 19:28] lw3eov commented on #4243
I was editing a previous message in this post when I saw your new post, please use the refresh button in your browser.

[2020-04-05 19:30] magnumripper commented on #4243
I see. I will have a look at the data. Is the complete pcap very large?

[2020-04-05 19:30] lw3eov commented on #4243
https://mega.nz/file/2cl3DChI#D0KXsuHpDhhRLO20PySTkNg0jfXwJNYbdBuegRVilJI

There you find the .cap file. I've got that from Wifite in Kali Linux

[2020-04-05 19:33] magnumripper commented on #4243
[code]
[code]
No problem. What did you use to produce the hccapx file? Whatever tool that was might have a bug.

[2020-04-05 19:33] #4243 closed, assigned to nobody

[2020-04-05 19:34] lw3eov commented on #4243
I used this online tool: https://hashcat.net/cap2hccapx/

[2020-04-05 19:35] magnumripper commented on #4243
That's strange. You might want to report this to the hashcat crew.

[2020-04-05 19:38] magnumripper commented on #4243
Wait a minute... the hccapx file you supplied (that we can't crack) is 786 bytes. When I pass the pcap you supplied now to  https://hashcat.net/cap2hccapx/ I get a file of 1179 bytes (and *that* file is crackable).

[2020-04-05 19:38] lw3eov commented on #4243
Interesting is that Elcomsoft Wireless Security Auditor version 5 for Windows gives a warning but then it finds the password using mask attack:
![elcomsoft-warning](https://user-images.githubusercontent.com/54790557/78508284-ea02c200-775b-11ea-837f-e92f92a75e38.JPG)

[2020-04-05 19:40] magnumripper commented on #4243
Are you sure you used the *same* pcap to feed Elcomsoft? That warning means we don't have a sniffed M3 (so we can crack what the client *tried* as a password but we don't know if it's correct) but in the pcap you gave us now, we do have an M3.

[2020-04-05 19:40] lw3eov commented on #4243
Yes, that is what the website https://hashcat.net/cap2hccapx/ gives you, you can try by yourself:
![hashcat](https://user-images.githubusercontent.com/54790557/78508305-2a624000-775c-11ea-99dc-54188c6cc685.jpg)

[2020-04-05 19:41] lw3eov commented on #4243
Elcomsoft uses cap files so I used the original cap file: handshake_FibertelWiFi34324GHz_C8-3D-D4-FE-50-60_2020-03-29T06-58-21.cap

[2020-04-05 19:42] magnumripper commented on #4243
Sure, try cracking 26393_1586115549.hccapx now. I could (well I got a different file name).

[2020-04-05 19:44] magnumripper commented on #4243
In my testing, I can use the [pcap](https://github.com/magnumripper/JohnTheRipper/issues/4243#issuecomment-609469702) and crack it. Or I can feed that pcap to https://hashcat.net/cap2hccapx/ and crack that. The only thing I can not crack is the [24229_1585779530.hccapx](https://mega.nz/file/7MsDnKoK#HQVded-LnCDXgHs1qg3GwxrUI3BywuT5InF6gNdNIMQ) you gave us in https://github.com/magnumripper/JohnThe

[2020-04-05 19:48] lw3eov commented on #4243
I experienced problems when saving to and reading from different folders using JtR. I will now use always the run folder to store the .hccapx files.
Elcomsoft does not like .hccapx files so I can't try that.
Do you think using dropbox to store the files can be an issue with JtR reading it from that shared folder?

[2020-04-05 19:53] magnumripper commented on #4243
This shouldn't really be a problem but then again I never use Windows so I wouldn't know about that. BTW I'm so often editing source files so my normal "home" in the john tree is `src/` and because of that I always use `../run/john` but my *input files* are normally in `src` or in `~/Desktop`.

JtR *can* use hccap/hccapx files, but if you have a pcap, that's what you should prefer (using wpapcap2j

[2020-04-05 19:56] lw3eov commented on #4243
This is what I've just done:

1) Uploaded and converted the .cap file with the online tool mentioned
2) Downloaded the .hccapx saving it to /home/m/Downloads/john-1.9.0-jumbo-1/run/
3) m@m-desktop:~/Downloads/john-1.9.0-jumbo-1/run$ python hccapx2john.py 26563_1586116293.hccapx > mi5archivo
4) m@m-desktop:~/Downloads/john-1.9.0-jumbo-1/run$ john mi5archivo --mask=0142082?d?d?d
2020/04/05 16:53:18.

[2020-04-05 19:58] solardiz commented on #4243
On Sun, Apr 05, 2020 at 12:54:08PM -0700, magnum wrote:

BTW, do we have this preference stated anywhere, preferably in relevant and prominent places (maybe also in help messages from those programs)?

[2020-04-05 20:01] magnumripper commented on #4243
The "96 left" seem to be "fuzz versions" of the same hash. They will never crack. In some situations you will need to fuzz input data to be able to crack it but I consider that "experts only" and I never had to use that myself so far (maybe I'm just not an expert?).

Probably not. I guess I couldn't see why anyone would go through the trouble of converting a perfectly fine pcap to *hashcat format*

[2020-04-05 20:02] magnumripper commented on #4243
...but point taken, we could want to clarify that.

[2020-04-05 20:05] magnumripper opened #4244 "Add notification messages to hccap2john/hccapx2john about pcap being prefered"
See #4243. We *can* use hccap/hccapx files, but normally I'd recommend using `wpapcap2john` if you do have a pcap at all. That, or (possibly even better) something from [hcxtools](https://github.com/ZerBea/hcxtools) which we could also mention (Zerobeat's [hcxdumptool](https://github.com/ZerBea/hcxdumptool) is the *absolute best sniffer for WPA* as well).

[2020-04-05 20:05] lw3eov commented on #4243
Do you mean I can feed handshake_FibertelWiFi34324GHz_C8-3D-D4-FE-50-60_2020-03-29T06-58-21.cap to john? how? do I need to download something extra? or john-1.9.0-jumbo-1 comes with the tool I need for that?

[2020-04-05 20:09] magnumripper commented on #4243
It's a two-step process just like with hccaps.
[code]
[code]

[2020-04-05 20:13] magnumripper commented on #4243
BTW for WPA cracking in particular, using bleeding-jumbo from this repo is recommended over using the latest release of Jumbo. The handling of "same salt exploitation" is way better.

[2020-04-05 20:16] magnumripper commented on #4243
Anyway @lw3eov thanks for reporting, not sure of the cause but there was never a problem with our code in this case so I hope you agree this issue is closed?

[2020-04-05 20:19] lw3eov commented on #4243
Please help me to get the software working before you close it

[2020-04-05 20:25] lw3eov commented on #4243
I am not very familiar with Linux and need further help. I only have wpapcap2john.c and wpapcap2john.h at /home/m/Downloads/john-1.9.0-jumbo-1/src/wpapcap2john.c
However at m@m-desktop:/snap/john-the-ripper/297/run$ I have a wpapcap2john I can run using ./wpapcap2john but that folder is read only. I've done this and this is what I get:

m@m-desktop:/snap/john-the-ripper/297/run$ ./wpapcap2john /ho

[2020-04-05 20:33] magnumripper commented on #4243
It is closed but we can still write to it. This is merely a support issue (and we're on a bug tracker here, not a support forum) and should rather be discussed on the john-users mailing list. But anyway,

I'm not sure how you'd ever get that problem. Is this on Kali?

Because you already cracked it? Try `john -show sniff.in`

[2020-04-05 20:35] lw3eov commented on #4243
I've been using Ubuntu 18.04.4 LTS bionic all the time.
The only time I used kali was to get the handshake

[2020-04-05 20:37] lw3eov commented on #4243
Already cracked you mean using Elcomsoft or using this last command on john? Where does it say it is cracked? I am confused. Can you suggest a user guide on john? I have not find much info on it.

m@m-desktop:~/Downloads/john-1.9.0-jumbo-1/run$ john -show sniff.in
2020/04/05 17:36:06.624515 system_key.go:126: cannot determine nfs usage in generateSystemKey: cannot parse /etc/fstab: expected betwee

[2020-04-05 20:39] lw3eov commented on #4243
If it is cracked where is the password? what is the meaning of following error message I am getting?: cannot determine nfs usage in generateSystemKey: cannot parse /etc/fstab: expected between 3 and 6 fields, found 7

[2020-04-05 20:39] solardiz commented on #4243
@lw3eov Do you see it shows your cracked password right there, on this line? -

[code]

The plaintext password is the second colon-separated field in `--show` output.

[2020-04-05 20:40] magnumripper commented on #4243
@solardiz we might want to change this, so no uid/gid/gecos/etc fields are showed.

[2020-04-05 20:40] lw3eov commented on #4243
yes, you are right, this software requires a lot of concentration

[2020-04-05 20:40] magnumripper commented on #4243
😆 we keep you on your toes 😉

[2020-04-05 20:42] magnumripper commented on #4243
Perhaps this would be a whole lot more clear (mock-up)
[code]
That'd be "login name", "colon", "tab", "password" and nothing more.

[2020-04-05 20:43] lw3eov commented on #4243
could you please comment on one of my previous messages where I was asking about the fact that I have John inside Downloads folder but also at snap folder and I cannot just use one of them and delete the other?

[2020-04-05 20:45] magnumripper commented on #4243
I'm so old my beard looks like Santa's - I've never used that snap thingy in my entire life. That would be a great john-users thread though (I could learn from it).

[2020-04-05 20:49] lw3eov commented on #4243
I don't mind deleting the snap installation and making a new one without using snap. I used snap as it worked while many other instructions I've found did not work for me

[2020-04-05 20:51] solardiz commented on #4243
That'd be incompatible with what we have now, and `--show` output is meant to be not only human-readable, but also parsed by scripts.

[2020-04-05 20:52] magnumripper commented on #4243
I can always add optional color (when output is a TTY). I have more of that on my to-do list (#3511)

[2020-04-05 20:59] ghost commented on #4243
./john: error while loading shared libraries: librexgen.so.1.4: cannot open shared object file: No such file or directory

You shouldn't run the JtR binary itself, you should run JtR's "public name".

Why `cd` to a strange folder as `/bla/297/run`?

Just run `john`. From anywhere. Open a terminal, in ANY folder and (notice, no `./`):
[code]

BTW: if you prefer to use Windows, you can use a Windows

[2020-04-05 21:00] magnumripper commented on #3511
When using `-show`, color could be [great too](https://github.com/magnumripper/JohnTheRipper/issues/4243#issuecomment-609478721).

[2020-04-05 21:02] ghost commented on #4243
It is a warning from Linux itself. No related to JtR, WPA, or the cracking process. You can ignore it.

[2020-04-05 21:03] lw3eov commented on #4243
I prefer to use and learn using Linux

m@m-desktop:~$ john sniff.in /home/m/Desktop/sni2ff.in
2020/04/05 18:02:32.855634 system_key.go:126: cannot determine nfs usage in generateSystemKey: cannot parse /etc/fstab: expected between 3 and 6 fields, found 7
stat: sniff.in: No such file or directory

The file is at desktop!

[2020-04-05 21:06] magnumripper commented on #4243
Man, read your own command line 😝
[code]
First you say "sniff.in", which should be in your CWD (current working directory). Then you say "/home/m/Desktop/sni2ff.in" which might have a typo perhaps?

[2020-04-05 21:06] magnumripper commented on #4243
Perhaps this is what you meant
[code]

[2020-04-05 21:07] lw3eov commented on #4243
Wait a minute, If I go to /home/m/Desktop/ using thunar I see the sniff.in file (however is 0 bytes!)
But if I type dir or ls at terminal while at that folder I cannot see it!

[2020-04-05 21:07] ghost commented on #4243
No, you don't. You have JtR source code. Not the "application". You only have the snap "application" installed and ready to use.

You have JtR source code, not the "application" you can run.
****

Of course, you are free to use or remove the snap, to build JtR from source or to move to Windows. Anyway, the snap is working for you. You should focus on reading some tutorial from the net; you already

[2020-04-05 21:08] magnumripper commented on #4243
:scratches head: you lost me.

[2020-04-05 21:09] lw3eov commented on #4243
Sorry I am going to edit my post I made a mistake

[2020-04-05 21:09] magnumripper commented on #4243
Good luck, young Jedi! I'm out.

[2020-04-05 21:10] ghost commented on #4243
The real file (the one you used in `--show)` can be found:
`~/Downloads/john-1.9.0-jumbo-1/run`
****

You just need to go slowly and pay attention to the details. That said, JtR itself, and all external tools seem to be working.

[2020-04-05 21:12] lw3eov commented on #4243
Yes Claudio. I copied that file again to Desktop, now it is not 0 bytes anymore but the right size, 660 bytes. I don't understand why before it was copied and showing 0 bytes

[2020-04-05 21:16] lw3eov commented on #4243
Ok, now it looks ok. Still not solving the thing with the snap installation. Perhaps now we can continue the discussion on the Johnny forum (as I want to make Johnny working for me)? Or do you think it will help to delete my snap installation of John and make a new one without using snap? In that case I need help as I tried many many tutorials/instructions and none worked for me

[2020-04-05 21:18] magnumripper commented on #4243
@solardiz that reminds me we should merge Johnny to the tree. I'm all for it but I wont do it.

[2020-04-05 21:23] lw3eov commented on #4243
from a previous message from Claudio here I understand I don't have JtR installed. That is what I probably need to focus on doing after all. To make things clear: What are the advantages of having JtR "application" instead of using it from the source files? Do I need to have JtR "application" to run Johnny?

[2020-04-05 21:24] ghost commented on #4243
That can't happen. Your computer is not allowed to "miss" bytes here and there. Maybe your Linux installation is not working properly. Have you notice 80% of you file operations are damaging files?

I use the snap package. I never saw it failing because it is a snap. BTW: snap is the "application", in your case.

[2020-04-05 21:28] lw3eov commented on #4243
Yes I am noticing that. What do you suggest me to do? I really want to avoid reinstalling Linux.
If john works from any folder, why wpcap2john does not? (at least for me)

[2020-04-05 21:56] ghost commented on #4243
It is `john-the-ripper.wpapcap2john`.

BTW: it seems you have found a real bug in JtR, now. Please, try it and report.

[2020-04-05 21:57] lw3eov commented on #4243
m@m-desktop:~$ john-the-ripper.wpcap2john
john-the-ripper.wpcap2john: command not found

[2020-04-05 21:59] ghost commented on #4243
Sorry, a typo: `john-the-ripper.wpapcap2john`

Then
[code]

[2020-04-05 22:00] lw3eov commented on #4243
it runs (at least with no arguments added)

[2020-04-05 22:01] lw3eov commented on #4243
john-the-ripper.wpapcap2john /home/m/Dropbox/hs/handshake_FibertelWiFi34324GHz_C8-3D-D4-FE-50-60_2020-03-29T06-58-21.cap
2020/04/05 19:01:25.548350 system_key.go:126: cannot determine nfs usage in generateSystemKey: cannot parse /etc/fstab: expected between 3 and 6 fields, found 7
File handshake_FibertelWiFi34324GHz_C8-3D-D4-FE-50-60_2020-03-29T06-58-21.cap: raw 802.11
Dumping M3/M2 at 5.129024 BS

[2020-04-05 22:04] ghost commented on #4243
Ok, so, everything is fine for you.
****

Note to self: I found a `vmovdqa` (AVX) inside wpapcap2john. I need to analyse and report a new issue to JtR

[2020-04-05 22:06] lw3eov commented on #4243
where is the newly created file?

[2020-04-05 22:09] ghost commented on #4243
You need to start learning Linux.

Nowhere. You have to redirect the output.
[code]

[2020-04-05 22:14] lw3eov commented on #4243
OK, all clear for me now (I think)
Now I go back to the Johnny forum to see if I can make it work for me

[2020-04-05 23:27] ghost opened #4245 "wpapcap2john illegal instruction (AVX)"
While at #4243 , I found that `wpapcap2john` is not working properly; it has the AVX `vmovdqa.
Be aware that it is a package with a fallback chain of JtR binaries.

* When I run `wpapcap2john -v` it works.
* But it gives me an **illegal instruction** when I run it using a valid file.

As an example, after disassembling:
[code]
*****

zip2john works fine

[2020-04-06 00:17] magnumripper commented on #4245
Good find. It was always a time bomb due to calling some functions that are not 100% guaranteed built without SIMD. #2679
https://github.com/magnumripper/JohnTheRipper/issues/2679#issuecomment-323809836

[2020-04-06 00:24] magnumripper commented on #2679
Reopening due to #4245. Not sure what's happening but we should build wpapcap2john.o (maybe all symlink binaries) without CPU type specific optimizations - are we not? Does core john? Aren't we falling back before calling the "symlink main"?

Also, I'm assuming building signals.o without CPU type specific optimizations wouldn't result in a performance issue, so we should. We should also implement

[2020-04-06 00:29] magnumripper commented on #4245
@claudioandre-br can you show a backtrace when this happens? I'd like to see what function we're in when this happens.

[2020-04-06 00:31] magnumripper commented on #4245
[code]
Never mind, we're in wpapcap2john itself. That's strange - IIRC we do fall back before reaching the symlinked `main()`.

[2020-04-06 00:55] magnumripper commented on #4245
Ah... wpapcap2john isn't a "symlinked" binary. It should be built with same flags as `john.o`

[2020-04-06 09:11] solardiz commented on #4245
On Sun, Apr 05, 2020 at 05:55:54PM -0700, magnum wrote:

Alternatively, maybe that's a reason to make wpapcap2john and all others symlinked, so that the existing fallbacks mechanism works for them without requiring any per-program magic.

The string functions from `misc.o` are useful for many of these programs, but always building that file without architecture-specific optimizations might have a

[2020-04-06 09:13] solardiz commented on #4243
On Sun, Apr 05, 2020 at 02:18:41PM -0700, magnum wrote:

Right.  I suggested this to @Shinnok the other day.  I hope he'd have time to make it happen.  I guess he might need your help with the autoconf logic, magnum.

[2020-04-06 13:41] DamskaySteve opened #4247 "Bitcoin2John is not giving any hash"
Hello,

I think Bitcoin2John is not working and there is a bug on it. When I execute the command on my wallet.dat by doing:

- py bitcoin2john.py wallet.dat

And it does not give any Hash while my wallet.dat exists well and has no problem.
Problem image: https://i.imgur.com/wgKc9fm.png
![wgKc9fm](https://user-images.githubusercontent.com/37937235/78564647-0e72a300-781d-11ea-8e04-2f285619affd.png)

[2020-04-06 14:29] ghost commented on #4247
Can you please try to run this file (I added a couple of prints to it).
[bitcoin2john.zip](https://github.com/magnumripper/JohnTheRipper/files/4438937/bitcoin2john.zip)

I don't see how the committed script couldn't do anything (without errors and hash).

[2020-04-06 19:20] ghost opened #4248 "d0ec61e broke build in CentOS 6"
Reading the patch, I can see what the compiler is complaining about.
[code]

One example of a stable distro and compiler.

[2020-04-07 02:20] shinnok commented on #4243
Hi all,

@solardiz I just devised a small plan for doing that:

Johnny milestone 2.3 (next) will fix the current backlog and some other necessities like testing and fixing for current Qt 5. Other distro's like Kali won't necessarily switch to JtR/Johnny snap.

Johnny big 3.0 will add snapcraft support/testing and other UI cosmetic fixes to bring Johnny into 2020. Then I'll work alongside @magnumri

[2020-04-07 02:54] #4248 closed, assigned to nobody

[2020-04-07 16:26] kholia commented on #4242
https://dspace.cvut.cz/bitstream/handle/10467/69601/F8-BP-2017-Vojtesek-Jan-thesis.pdf could be helpful.

Update: Related source-code can be found at the following URL,

https://github.com/MotherOfAllVoids/bachelor_thesis.

[2020-04-07 17:04] solardiz commented on #4243
Thanks, @shinnok! I don't see the lack of "snapcraft support/testing" as a blocker to merging Johnny into the jumbo tree, so please feel free to merge first and add this support next. Snap packages can be building without Johnny initially (perhaps using a configure option). My concern is that by postponing the merging we increase the risk of it not happening in time (for next release) or at all (l

[2020-04-07 17:19] trounce1 commented on #4242
I saw this the other day, I compiled it and read through source. It is a program to parse an optional recovery file and the virtually mount and decrypt the volume. I couldn’t find anywhere about the header of an FDE disk.

[2020-04-07 17:31] trounce1 commented on #4242
<img width="519" alt="Screenshot 2020-04-07 at 18 24 24" src="https://user-images.githubusercontent.com/20974336/78700472-49e49e80-78fd-11ea-9809-7165ffe2fad3.png">
This is what the header looks like.

the first 32 bytes appear to also be present in the s-table for blowfish

[2020-04-07 18:17] kimreq opened #4249 "John the ripper is not cracking"
@magnumripper

heyaaa ,while I'm cracking the password i get this message and I'm not even sucessul in cracking it help me
"warning only 2 candidates left minimum 8 needed for performance"
or someone please explain why I'm getting this error ???
cheers

[2020-04-07 19:32] solardiz commented on #4249
This is not an error, but is a benign warning.

Our use of GitHub issues is for tracking bugs or planned changes, and your issue isn't that. For user support, please use the john-users mailing list: https://www.openwall.com/lists/john-users/ (and you'd need to describe your use case and actual issue in some detail).

magnum, should we simply close this issue or maybe rename and reuse it for consid

[2020-04-07 21:04] trounce1 commented on #4242
I have written a proof of concept based on the above paper.

[code]
this works on the old versions of bestcrypt full disk. it does not work on modern versions v4+

attached is the partial image that works :
[partial_image.bin.zip](https://github.com/magnumripper/JohnTheRipper/files/4455681/partial_image.bin.zip)

Update : Added decryption of first block

[2020-04-08 00:49] magnumripper commented on #4242
@kholia!!! 🎉

I missed you

[2020-04-08 05:59] kimreq commented on #4249
@solardiz
thanks but I'm not able to crack my ssh id_rsa and I'm getting some type of warning messages
![2020-04-08 11_27_50-Kali - VMware Workstation](https://user-images.githubusercontent.com/36020960/78749613-3896a300-798c-11ea-847f-d5cc9a6ef89e.png)

and at last it's showing
this
![2020-04-08 11_33_36-Kali - VMware Workstation](https://user-images.githubusercontent.com/36020960/78749930-dd18e5

[2020-04-08 06:19] kholia commented on #4242
@trounce1 Here is a plan:

- Let's add support for old versions of BCVE for now (you know how to do this already).

- Figure out how the author(s) did their original reversing work. This is hard and I struggle with it. I get 1 or 2 hours of free time a day and I am already tired by then (heh). Try https://www.ghidra-sre.org/ for RE work.

- Follow their footsteps and figure out the new changes in

[2020-04-08 06:24] magnumripper commented on #4249
Lord give me strength.

Since the OP clearly doesn't read answers (nor documentation) there would be no point in trying to help him so I blocked him.

[2020-04-08 06:24] #4249 closed, assigned to nobody

[2020-04-08 06:31] magnumripper commented on #4249
Postponing it might be a thing. It would be nice to mute it until we at least got any counts in the status struct. You wanted it even for a single salt and/or a tiny wordlist and that makes it trickier.

[2020-04-08 07:19] solardiz commented on #4249
@coopjab Like I said, please join the john-users mailing list and post in there for user support. You need to scroll down to bottom of that web page I referenced for how to subscribe. When you post, please use copy-paste from your terminal instead of screenshots.

magnum, I think blocking is too harsh.

Regarding that warning, upon thinking of it some more I don't like postponing it because with a

[2020-04-08 12:04] trounce1 commented on #4242
looks like it is now scrypt as see in url below
[https://www.jetico.com/file-downloads/web_help/bcve4/?url=html/02_standards/01_security_characteristics.htm](url)

ive tried a few things with scrypt and camellia but to no avail.

i thought about reversing the 16 bit recovery binary that comes with the recovery disk as it is small ~500kb. i cant seem to find anything that will decompile 16bit x86

[2020-04-08 13:40] kholia commented on #4242
GHIDRA seems to be working fine for `recovery.exe`. Give it a try.

https://ghidra-sre.org/

[2020-04-08 13:48] kholia commented on #4242
GHIDRA (+ https://github.com/d3v1l401/FindCrypt-Ghidra) in action:

<img width="1174" alt="GHIDRA_FTW" src="https://user-images.githubusercontent.com/79528/78791549-a8794d80-79cd-11ea-806f-dddba6f53b51.png">

[2020-04-08 14:25] kholia commented on #4242
It seems `recovery.exe` doesn't support v4.x volumes?

<img width="1302" alt="old-code" src="https://user-images.githubusercontent.com/79528/78795649-db721000-79d2-11ea-96ff-f9375ffc84f0.png">

[2020-04-08 14:48] trounce1 commented on #4242
good spot, It now looks like they are using scrypt with a 5 digit iteration count after talking to their support team. i will need to confirm the settings.

[2020-04-08 16:26] magnumripper commented on #4249
I admit having pondered a FMT_FAST flag (or the opposite) before, although it's a bit weird (moves over time).

A wild idea (perhaps too complex though) is we could actually post-pone the message with some logic that prints to a buffer that `signals.c` can detect a couple of seconds later.

Another thing we could consider is to take some rough speed sample during self-tests. That should be doable

[2020-04-08 16:30] magnumripper commented on #4249
I think I got in love with that last idea. Should be fairly easy, and self-adjusting over archs and time.

[2020-04-08 17:04] solardiz commented on #4249
magnum, this is your repo so ultimately you decide (and I got to hurry up to move this repo to an Openwall account), but can you please unblock @coopjab? I think we shouldn't alienate new users, not even if they don't play 100% by our rules. I think blocking is for deliberate spamming and trolling, not for having difficulty to follow our suggested ways of communication. If someone doesn't read wha

[2020-04-08 17:11] solardiz commented on #4247
@DamskaySteve `bitcoin2john.py` as currently found in this repo works fine as recently confirmed e.g. on issue #4225. Like @claudioandre-br, I also don't see how it (nor even an older revision of it) can just terminate and print nothing, not even an error message. There's probably something wrong in your setup. For example, can you show us the sizes of those two files - the script and the wallet -

[2020-04-08 18:08] janvojtesek commented on #4242
Hey guys,

the thesis linked above only deals with BCVE v3 (since v4 wasn't out yet) and I didn't really look into v4 since release. However, the weak password hashing algorithm (cracking the password in v3 basically boils down to trying single iterations of SHA256) was one of the things that I reported to Jetico and they told me that they were already planning to improve it, most likely by using

[2020-04-08 18:14] trounce1 commented on #4242
@janvojtesek good info. thanks for the paper. i have translated
[F8-DP-2016-Hornak-Juraj-thesis.cs.en.pdf](https://github.com/magnumripper/JohnTheRipper/files/4452118/F8-DP-2016-Hornak-Juraj-thesis.cs.en.pdf)

Update:
My code a few comments above uses those offsets you talk about.

Was there any way to distinguish the version number of the BCVE?

[2020-04-08 20:06] magnumripper commented on #4249
M'kay but this, like you said, puts quite some pressure on you to move the repo ASAP. I have done exactly this for years: Clueless windows lusers of age 13 that don't respond at all to kind requests gets banned for life with no further warning or notice.

Please note how I did not treat some other recent young Jedi's bad even though they too were totally in the wrong forum, because they actually r

[2020-04-09 03:14] kholia commented on #4242
I can help with this I think.

Update: Probably not :|

[2020-04-09 08:47] trounce1 commented on #4242
the scrypt parameters are p=1, r=16, N=32768 or 2^15

it differs now from my script as apparently the encryption algorithm to derive to volume keys is the same one used to decrypt the volume.

e.g. you encrypt your disk with aes-xts and also decrypt the 0x60 bytes from offset 0x26 to offset 0x86 with aes-xts.

[2020-04-09 12:39] kholia commented on #4242
Surprisingly IDA's dissembler output is easier to read than GHIDRA's decompiler output. IDA handles string references pretty well.

[2020-04-09 12:41] trounce1 commented on #4242
Haha, which binary are you reversing at the moment?

[2020-04-09 12:42] trounce1 commented on #4242
I noticed the same thing. did you find any reference to 2^15?

[2020-04-10 03:09] shinnok commented on #4243
Agreed. Regarding the actual merge, I do have second thoughts that I need to put into an issue that we can track. Not sure how many CLI packages "bundle" a GUI in the same source tree; I can see several packaging issues originating from this practice.

I'm having trouble remembering, what was the original driver behind bundling Johnny at the source level tree with Jumbo?

[2020-04-10 08:21] kholia commented on #4242
![call-to-scrypt](https://user-images.githubusercontent.com/79528/78975108-05d9df80-7b31-11ea-86f4-efeb9fea593e.png)

Perhaps the called function (at `004da2f0`) is the scrypt function or leads to it?

https://github.com/technion/libscrypt/blob/master/crypto_scrypt-nosse.c <-- The next step would be to find code patterns (in the binary to be reversed) similar to this `.c` file?

Also,

![tango-1](

[2020-04-10 11:29] solardiz commented on #2673
Relevant discussion appeared in https://github.com/magnumripper/JohnTheRipper/issues/4243#issuecomment-610135539 but should be brought to this issue.

@shinnok wrote:

I think our closest match might be Bitcoin Core and its forks. Some of its forks dropped the GUI, though - Zcash did (and thus forks of Zcash too), perhaps to let them focus on their core product within limited budget and time.

Nma

[2020-04-10 11:32] solardiz commented on #4247
With no further info, I assume this was some undetermined user error. Closing the issue.

[2020-04-10 11:32] #4247 closed, assigned to nobody

[2020-04-10 19:10] trounce1 commented on #4242
Thats great progress. im pretty sure this is the implementation for V4 format, something is missing though.

[code]

[2020-04-11 01:16] mpalmer commented on #3749
I can confirm that switching to the version of `intel-opencl-icd` currently shipped in Debian Unstable fixed this "self-test failed" problem for me, when trying to use the `ssh-opencl` format.

[2020-04-11 03:27] kholia commented on #4242
I am sharing a copy of an encrypted v4 disk. Might be helpful in debugging and in comparing notes.

https://github.com/kholia/bcve_otfe/blob/master/src/bcve_otfe/encrypted.raw.zip

Password is "openwall".

[2020-04-11 03:31] kholia commented on #4242
For this image:

[code]

I suspect that the v4 program is using a bigger salt somehow? Look at the hexdump (pointing to the salt buffer) in my debugger screenshot.

Also,

[code]

This is the "salt continuation" sub-string we saw in the debugger screenshot.

[2020-04-11 07:56] kholia commented on #4242
Confirmed.

[code]

This programs outputs `b'3b43545d86b4e24b0870...`. This is exactly the "key" that is also calculated by the target program (see `Dump 2` in the screenshot below).

![VirtualBox_XP_11_04_2020_13_24_15](https://user-images.githubusercontent.com/79528/79038584-02f5f200-7bf8-11ea-8afb-f78278f6dc2e.png)

[2020-04-11 10:34] trounce1 commented on #4242
amazin, so just need to work out how it calculates the salt and we are there

[2020-04-11 10:38] kholia commented on #4242
I can extract the full salt from the encrypted disks - not a problem.

The following code needs to be validated.

[code]

I am having trouble with this code, right from the `enc_data` extraction part.

[2020-04-11 10:41] kholia commented on #4242
Quick notes:

- AES is located at 0x4CDBF0. <-- This could be "AES Key Expansion".

I am now trying to locate the higher level AES decryption code and XTS code. The idea is to see what data it is trying to decrypt.

[2020-04-11 10:50] trounce1 commented on #4242
and what the keys / tweak keys might be being used

[2020-04-11 11:08] kholia commented on #4242
Found the data + it's offset.

[code]

![Data-Offset](https://user-images.githubusercontent.com/79528/79042134-c388cf00-7c12-11ea-96cb-4b1ea97ea7e2.png)

This screenshot shows the call to the decryption function and the disk data it is decrypting.

[2020-04-11 11:11] trounce1 commented on #4242
yeah thats the same. you are looking at the full disk rather than the partition. your offset is 0x7e00 + the script offsets. ill write a quick patch on my script to account for this

[2020-04-11 11:26] trounce1 commented on #4242
[code]

add that to your code, your first sector may vary

[2020-04-11 11:30] kholia commented on #4242
Thanks.

I am trying to trace this function now:

[code]

The `input_known` has the data (`enc_data`) from above screenshot. The scrypt key is getting calculated fine and is being passed to this function.

The next problem is that the decrypted data (for `enc_data` encrypted input) doesn't match between this target program and our Python code below.

[code]

Not sure what `is_this_xts_decrypt` is

[2020-04-11 11:32] kholia commented on #4242
@trounce1 Can you please share your *full* encrypted image? I will attach it to this debugging VM and step through the target program.

[2020-04-11 11:42] trounce1 commented on #4242
[trounce.zip](https://github.com/magnumripper/JohnTheRipper/files/4464529/trounce.zip)

This also has my rescue file in it which should also contain the same 0x60 bytes
 The password is password

[2020-04-11 11:46] kholia commented on #4242
With better comments,

[code]

Note: This code is at `004D3C8B` location.

This still doesn't explain why our XTS decryption stuff is not working well. Hmmm.

[2020-04-11 11:56] kholia commented on #4242
Current Code:

[code]

We just need to debug the data decryption part. Taking a break for now :)

[2020-04-11 11:58] trounce1 commented on #4242
you think they are using sha256 at the end?

[2020-04-11 12:08] trounce1 commented on #4242
i have solved it !!!

[code]

[2020-04-11 12:19] kholia commented on #4242
Awesome! :) :) :)

![sha256-likely](https://user-images.githubusercontent.com/79528/79043430-c12b7280-7c1c-11ea-9598-8a0e9d2917a1.png)

Confirmation that SHA256 is being used.

[2020-04-11 12:22] kholia commented on #4242
How did you figure out the `cipher = AES.new(first_aes_primary_key, AES.MODE_CBC, b'\0' * 16)` part?

The code was somehow indicating XTS mode usage (maybe it was already decrypting the first sector in the debugger and not just the initial verification header!?).

[2020-04-11 12:25] trounce1 commented on #4242
i just gave it a go and assumed that it hadnt changed. A kernel can now be written. ill do some research into the other 2 crypto algorithms that can be used and see if the behaviour is the same.

[2020-04-11 12:25] kholia commented on #4242
I did notice 16 NULL bytes in the debugger near AES code. Should have guessed a Zero IV. Doh! :)

[2020-04-11 12:27] trounce1 commented on #4242
haha, at least this wasn't too hard to crack. the scryot settings are quite high. im not sure how cards will handle such high N values.

[2020-04-11 12:28] kholia commented on #4242
Yep!

To make `bcve2john.py` robust, can we scan for those `blowfish sbox values` to locate the BCVE header? Or is there a better way to do this?

[2020-04-11 12:30] trounce1 commented on #4242
I think that is the best way. maybe also checking the MBR/GPT for multiple partitions and following the disk offsets.

[2020-04-11 12:32] trounce1 commented on #4242
<img width="1116" alt="Screenshot 2020-04-11 at 13 30 41" src="https://user-images.githubusercontent.com/20974336/79043725-e1493a80-7bf8-11ea-8d77-322ecd8d381b.png">

just confirmed that it is working and decrypting properly

[2020-04-11 12:34] kholia commented on #4242
If possible, let's not rely on MBR/GPT structures to find partitions. I wonder how slow a linear brute force for finding those Blowfish table values will be... probably too slow for bigger disks?

[2020-04-11 12:36] trounce1 commented on #4242
True,  if they are always block aligned, you would only need to check the first say 4 bytes of each 512 block. might be faster then

[2020-04-11 12:36] trounce1 commented on #4242
i have noticed that the first 16 bytes of the blowfish table appears a lot of times

[2020-04-11 12:37] kholia commented on #4242
BCVE must be writing backups of its header? Are they same? Can any of them be used for cracking purposes?

[2020-04-11 12:38] trounce1 commented on #4242
no they are not the same. and there are hundreds on a 10mb disk

[2020-04-11 12:52] trounce1 commented on #4242
you can tell v3 and v4 partitions apart by presence of the secondary salt at 0x166:0x176

[2020-04-11 12:54] trounce1 commented on #4242
this new script now account for v3 and v4 for reference

[code]

UPDATE: V3 hash has hard buffer length of 0x10000

[2020-04-11 13:02] trounce1 commented on #4242
so when camellia is used as the disk encryption algorithm. it is also used in the derivation algorithm. in CBC mode

[2020-04-11 13:20] trounce1 commented on #4242
the crypto type is found at offset 0x1e7 from the start of the partition.

these are the values for each type

08 = aes
09 = Twofish
0A = Serpent
0B = RC6
0F = camellia

[2020-04-11 13:41] kholia commented on #4242
Nice detective work :+1:

I tried to reverse engineer this distinguisher from `recovery.exe` earlier but couldn't. There might be another way too (?) but this works well. I started out thinking that reversing `recovery.exe` (MS-DOS binary) would be easier but x64dbg makes Windows debugging so much easier (than expected!).

[2020-04-11 14:43] trounce1 commented on #4242
I have uploaded my final script and example disk images for each of the V4 crypto type and a V3 AES file too. Password for each image is: password

[final_with_files.zip](https://github.com/magnumripper/JohnTheRipper/files/4464781/final_with_files.zip)

[2020-04-11 16:32] trounce1 commented on #4242
created a pr with bestcryptfde2john.py

https://github.com/magnumripper/JohnTheRipper/pull/4252

[2020-04-12 07:59] kholia commented on #4195
https://hashcat.net/forum/thread-7552.html

@trounce1 This sounds like another fun hack :-). Can team up for this one as well.

[2020-04-12 09:53] trounce1 commented on #4195
@kholia sure, shoudnt be too hard to cobble together

[2020-04-12 10:16] trounce1 commented on #4195
C:\Users\USER\AppData\Local\RoboForm\Profiles\Default Profile\_settings.rfo

This is the file that is opened when the software opens. it has the email address and a base64 encoded json field of something called "preferences".

[2020-04-12 10:20] kholia commented on #4195
The Hashcat forum link has working code. We can start with that.

Also, RoboForm has an Android App. Reversing those .apk files (using jadx for example) is much easier than reversing native code.

[2020-04-12 10:35] trounce1 commented on #4195
ok ive got the app. ill have a peak. i still cant seem to figure out how to create an rfp file. everything is stored in.
C:\Users\USER\AppData\Local\RoboForm\Profiles\Default Profile\_settings.rfo
C:\Users\USER\AppData\Local\RoboForm\Profiles\Default Profile\_user-data.rfo
C:\Users\USER\AppData\Local\RoboForm\Profiles\Default Profile\_app-data.rfo

will install the android app and see what it does

[2020-04-12 10:39] trounce1 commented on #4195
the apk appears to be barely obfuscated and still retains most of the class names

[2020-04-12 10:44] kholia commented on #4195
Why do I vaguely remembering working on something similar a long long time back!? I think I gave up because the "verifier" involved is short (2 / 4 bytes).

Maybe it was some similar software with a short verifier, hard to remember now.

[2020-04-12 10:45] kholia commented on #4195
From Hashcat thread it seems that we could use the "checksum" too as a verifier. Let's see.

[2020-04-12 11:45] trounce1 commented on #4242
The BestCrypt Volume encryption I have myself to crack is V3 AES. Is it possible to have a working kernel for that first?

[2020-04-13 01:22] shinnok commented on #2673
Good find, I missed this issue. I'm dumping my mind here:

1. Good example with Zenmap, I actually worked on that many years ago. However, it being a Python app makes things much easier (no compilation) from the little I remember.
2. Regarding the second paragraph in my first comment [here](https://github.com/magnumripper/JohnTheRipper/issues/2673#issuecomment-322717655), it requires reconsiderati

[2020-04-13 16:54] solardiz commented on #2673
Of course, we must not introduce any new hard dependencies to jumbo. Any system that is able to build and run jumbo now should continue to be at least as capable of that after the possible merge of Johnny.

This should be similar to how we support e.g. OpenCL: if `configure` detects the required dependencies, it gets automatically enabled at build time (and the summary that `configure` prints at t

[2020-04-13 17:07] solardiz commented on #4242
Great job on this, guys!

I assume you mean a CPU format. We don't currently have scrypt in OpenCL in JtR, and at these parameters it's going to be rather inefficient on GPU.

[2020-04-13 17:18] trounce1 commented on #4242
The V3 format fills up an buffer of approx 0x10000 bytes
Then a round of sha256
Then a round of AES-cbc
Then a final round of sha256
Then a comparisson.

I was playing about with opencl yesterday and found out that first sha256 with such a large input buffer (0x10002) is around 20x slower than a buffer of 0x80 bytes.

The v4 format, I agree that CPU will be faster with such huge parameters and nee

[2020-04-13 19:45] magnumripper commented on #2673
Come to think of it, we could (right now) output a hint at end of configure and/or make - perhaps we should have done so years ago.

[2020-04-13 19:48] solardiz commented on #2673
Makes sense. It'd make even more sense to inform/remind of Johnny there once Johnny is hosted on the same GitHub account with jumbo, and on the main Openwall website - which is something I should make happen.

[2020-04-14 13:26] trounce1 commented on #4242
i believe that there is an identifier at 0x17e.  That is present in v4 BCVE derivation.

[2020-04-14 17:25] SaleSlave commented on #4043
Thank you ♥

[2020-04-14 20:58] trounce1 commented on #4195
https://www.roboform.com/pdf/RoboForm_Security_White_Paper.pdf

[2020-04-15 21:15] lw3eov opened #4253 "GPU not working with JtR"
Hello,

I am running windows 7, and John 1.9.0 jumbo, I am not sure if I am using the right command or if the software is not working properly when I try to make John use my GPU. Please have a look at the following images and let me know exactly how I should write the command for that. Thanks. Regards. Marcelo.
![john-win64](https://user-images.githubusercontent.com/54790557/79389804-0d402500-7f45

[2020-04-15 21:50] solardiz commented on #4253
You should use the `--format=wpapsk-opencl` option.

For further user support questions, if any, please use the john-users mailing list and please copy-paste text from your terminal instead of using screenshots.

[2020-04-15 21:50] #4253 closed, assigned to nobody

[2020-04-15 23:36] lw3eov opened #4254 "Repair support for no-byte-addressable OpenCL devices"
Hello, I am posting this here and not at the mailing list because I think this can be a bug. I used the command suggested by @solardiz john 343.in --format=wpapsk-openc, I get the following (I am copying from my cmd window as much as allowed as there are lines of text before this which are not showing, probably because there are too many lines in total):

[code]

Edit by @solardiz: many occurrence

[2020-04-16 06:18] magnumripper commented on #4254
This looks like a problem with your GPU and/or its driver/runtime. You blatantly ignored the following template when you opened the issue:

Since you didn't read that but just erased it, we're left to *guess* what hardware and driver you have problem with. I wont try that.

[2020-04-16 06:25] magnumripper commented on #4254
Also, instead of posting one hundred instances of
[code]
Didn't it occur to you that you could have shortened it down a bit? Your behaviour doesn't promote helping you. In fact I'd have blocked you already if it wasn't for @solardiz

Do NOT open a new issue (if you do I WILL block you for life). You can amend the existing issues even though they are closed and if you supply information that make t

[2020-04-16 06:45] lw3eov commented on #4254
I am sorry @magnumripper. It was not my intention to make anyone angry or to do something wrong. I posted many instances of that because I thought those may be needed to diagnose the problem. I didn't mention the software and hardware I am using as those appear in the image of my previous post with the same name (https://github.com/magnumripper/JohnTheRipper/issues/4253), however here there are: w

[2020-04-16 10:50] solardiz commented on #4254
I took the liberty to edit this issue for it to make sense for us as a bug that we can work on fixing, or maybe deliberately decide not to.

A detail is that @lw3eov's problem report is apparently for the 1.9.0-jumbo-1 release, whereas our current tree has changed since that release. However, this different doesn't appear to be important - only the location of the kernels has changed, and the same

[2020-04-16 15:49] lw3eov commented on #4254
Hi guys, will my card work with some older version of JtR? Thanks.

[2020-04-16 16:11] solardiz commented on #4254
@lw3eov Yes, your GPU will possibly work with an older version of JtR (but we don't readily know which version, if at all, and you're likely to bump into other issues when trying to go down that route), or (more practically) with other formats (not WPA-PSK and not anything involving SHA-2) in case you ever need to crack anything else. Trying an older version is further complicated by the fact that

[2020-04-16 16:12] lw3eov commented on #4254
OK, thanks a lot @solardiz

[2020-04-16 16:37] magnumripper commented on #4254
If memory serves me, what you say only applies to OpenCL 1.0. We agreed somewhere on requiring at least OpenCL 1.1 in Jumbo although right now I can't see it being actually documented (we should fix that). We often try to handle 32-bits at a time when at all possible, but that's for performance reasons.

[2020-04-16 18:45] solardiz commented on #4254
There's still some attempt at supporting no-byte-addressable devices in the tree, including for SHA-2:

[code]

OTOH, dropping that incomplete support for SHA-2 isn't going to simplify it much because we'd keep the '|| (gpu_amd(DEVICE_INFO) && defined(AMD_PUTCHAR_NOCAST))` condition and thus both implementations.

So do we try to repair and have complete no-byte-addressable support in the tree or

[2020-04-16 18:49] solardiz commented on #4254
Confirmed: "This extension was promoted to OpenCL 1.1 core."

So we can say that we require OpenCL 1.1+ and don't fully support devices that don't fully support OpenCL 1.1.

[2020-04-17 16:38] magnumripper commented on #4254
Right. We should mention that in `doc/README-OPENCL`. I believe some formats would be very easy to fix but I'm not sure how to test it. I assume no vendor supports using the  `cl_khr_byte_addressable_store` extension backwards for disabling it 😆

[2020-04-18 21:36] magnumripper commented on #4254
@lw3eov try opening `run/kernels/opencl_sha2_ctx.h` in some text editor and change the code in `SHA256_Final` at line 161 saying:
[code]
Replace all the above with just this:
[code]
(You can do a similar change for the `PUT_UINT64BE`'s in SHA512_Final starting at line 331)

Does that help? Perhaps there are other similar problems surfacing then, that are harder to fix.

[2020-04-19 14:08] solardiz commented on #4254
magnum, maybe we should avoid having the basic `wpapsk-opencl` format's kernel depend on SHA-2 at all? The current all-in-one kernel is unnecessarily fragile, which makes even the basic WPA-PSK functionality unavailable on systems that have issues with any aspect of the all-in-one kernel.

[2020-04-19 17:36] magnumripper commented on #4254
I'm not sure but I believe the 802.11w stuff [that is still WPA-PSK but need SHA-2] is nearly as "basic" as the older WPA/WPA2 algos and the user will normally not see the difference. But I see what you mean. We could refrain from building it when none of that type is loaded. Even better would be to soft-fail even after having tried to build it, and "unload" that type (assuming we have other types

[2020-04-19 17:41] magnumripper commented on #4254
Actually we could even fall back to CPU post-processing for that when needed. Fairly trivial although perhaps unreasonable work for a very small user-base.

[2020-04-20 21:14] lw3eov commented on #4254
@magnumripper Now I get this (I am only copying the last lines as the previous are similar, if you need the previous lines maybe I can upload a text file somewhere so I don't make it here very long):

"kernels\opencl_cmac.h", line 117: error: write to < 32 bits via pointer not
          allowed unless cl_khr_byte_addressable_store is enabled
                        LSHIFT(K, K);

[2020-04-22 12:03] trounce1 commented on #4242
On another note, i have found that V2 works exactly the same as V3. ill try to find a V1 installation.

[2020-04-22 15:15] magnumripper commented on #4242
Just thinking out loud, we could add a kernel anyway, tested/intended and perhaps even optimised for OpenCL CPU for now. Some day on a future GPU it might be a good ground for rockin' performance. So it would be like 1) add `opencl_scrypt.h` for shared code and 2) add `bestcryptVE_kernel.cl`, that uses the former. At the time Jens dropped legacy hashcat and started focusing on OpenCL-only, I thoug

[2020-04-22 15:24] magnumripper commented on #4242
SHA-256 works on blocks of 64 bytes. Hashing 0x80 bytes will mean three blocks of (so rounds of) SHA-256 (third block bc Merkel-Damgard stuff - the last block can be at most 55 bytes or there will be one extra block) and 0x10002 bytes is 1025 blocks. So it "should" be 342x slower if optimised good (and I have an idea of how to do that in OpenCL).

[2020-04-22 15:42] magnumripper commented on #4242
If you can come up with a PoC CPU format (doesn't need to be optimised at all, in fact it's better if it's easy to understand) I can probably find time to make an OpenCL format from it.

Alternatively we can make it a three-step process:
1. @trounce1 writes a CPU format
2. @kholia writes a straight-forward, unoptimized, GPU format
3. @magnumripper optimises the living hell out of the GPU format
an

[2020-04-24 16:41] ghost opened #4256 "CL_DEVICE_NOT_AVAILABLE"
john --list=opencl-devices
0: Error creating context for device 0 (0:0): CL_DEVICE_NOT_AVAILABLE (-2), giving up
#########################################################################

DIST : ARCH
DE : KDE

########################################################################
Currently installed

extra/intel-tbb 2020.2-1
extra/xf86-video-intel 1:2.99.917+906+g846b53da-1
community**/intel-gmm

[2020-04-24 21:46] magnumripper commented on #4256
This is not a bug. Consult the john-users mailing list for support

[2020-04-24 21:46] #4256 closed, assigned to nobody

[2020-04-25 22:33] ghost commented on #4256
Ok after looking into opencl runtime and specs on intel , the latest runtime 18.1 doesn't support xeon processors, the previous version 16.2 supports them , that's what the problem is

please leave it open in case someone else has the same problem

[2020-04-25 22:43] magnumripper commented on #4256
Sorry, no. That's a support issue and this is not a support forum. You would have known if you would have cared to read just a few couple of sentences before wasting our time.

[2020-04-26 11:27] ghost commented on #4256
no problem, sorry to brother you, it must be that time of the month for you . thanks, you have been most helpful during this difficult time of yours

[2020-04-26 22:54] magnumripper commented on #4256
It's not that we don't want to help you, it's that you ask for it in the wrong place

[2020-04-27 10:30] rahuljeet commented on #3012
@hwkongsgaard Did you find any solution for this, because I'm facing the same problem?

[2020-04-28 08:45] magnumripper commented on #3012
@rahuljeet zip2john got some recent improvement. Did you try the latest github version?

[2020-05-02 23:07] Antonio716 opened #4257 "Non riesco a proseguire con John the Ripper al secondo passaggio: estrarre le hash"
Sto cercando già da due/tre giorni di craccare le password con John the Ripper,il primo passaggio sono riuscito a fare perchè ha mostrato le hash del file protetto da password di cui non conosco nemmeno la password,nel primo passaggio ho utilizzato rar2john (percorso del file) e infine hashes,mentre sul secondo ho provato in tutti i modi scrivendo john hashes,john hash.txt e mi dava
Using default

[2020-05-03 11:52] solardiz commented on #4257
We use GitHub issues to track issues with our software, not user support requests. What you write appears to be a user support request. We also use English here.

Please join the john-users mailing list and post your user support request in there, in English:

https://www.openwall.com/john/#lists

[2020-05-03 11:52] #4257 closed, assigned to nobody

[2020-05-05 12:55] solardiz opened #4259 "HMAC formats supporting the other ordering of key and data"
HMAC is defined as operating on key and data, not on password and salt, and its direct uses for password hashing are actually misuses. The way we support cracking of HMAC-* in JtR is treating password as key and salt as data. This appeared to match the demand, but now we got a request to support the other ordering of key and data as well:

https://www.openwall.com/lists/john-users/2020/05/05/3

In

[2020-05-06 17:17] magnumripper commented on #4259
I thought I had added that years ago... this should be about as trivial as it ever gets. I'll have a look.

BTW I often see slightly problematic results of the HMAC formats being so promiscuous due to not having a format tag. Perhaps we could add a tag for them? Perhaps even mimic what (I think) the dynamic formats do in some situations: Be "promiscuous" if `--format=hmac-whatever` is used, but ot

[2020-05-06 17:25] solardiz commented on #4259
Yes, I think we should start requiring a tag unless `--format=hmac-whatever` is used. While at it, we might also want to support arbitrary binary (hex?) salts for these. Right now, we can't have a colon or a linefeed in the salt.

[2020-05-06 18:12] magnumripper opened #4260 "JtR next generation"
While I'm not sure we'll ever actually manage to give birth to the "next generation" re-write of JtR, I thought we should at least have an issue here for brainstorming. Here's some of my thoughts quoted (and edited) from some other place nearby:

We'd do a total re-write but heavily re-use existing code (after careful considerations on a case-by-case basis). We'd not add a **single line of code**

[2020-05-07 15:04] magnumripper commented on #4259
Apparently that user needs iterated HMAC (perhaps actually PBKDF2) so maybe we don't need these formats after all. I think hashcat supports them though, and it should be trivial (if it wasn't for optimizations and SIMD it would basically be a one minute job). We'll see where things end up.

[2020-05-13 12:01] knewl551 opened #4261 "Support for bcrypt(md5($p)) on FPGA or --single && --stdout?"
Not a bug but a feature request.

To audit bcrypt hashes, I use an old ZTEX clone board. Works perfect and fast compared to my 'conventional' GPU-rig (big thanks for supporting FPGAs!).

I want to audit a number of bcrypt(md5($p)) hashes now, at full ZTEX speed. The quick workaround is using --format=bcrypt-ztex --wordlist=md5_of_wordlist. However the powerful --single mode doest not work and the

[2020-05-13 12:44] solardiz commented on #4261
Yes, a bcryptmd5-ztex format like you describe is doable. However, we don't even have this kind of format on CPU, nor in OpenCL, so it'd end up being specialized to the specific combination of these two hashes and users of ZTEX boards. That's somewhat exotic. While I don't mind having a format like this, we don't intend to actually work on it unless you provide some incentive (pay for the effort?

[2020-05-13 12:51] solardiz commented on #4261
Related: #4095.

For your own immediate use, I suppose it'd be the easiest to hack the existing bcrypt-ztex format turning it into what you need, by simply invoking MD5 and hex-encoding from within this format's `set_key`. You'd have this in a copy of the JtR tree that you'd use only for these hashes (as it'd have support for regular bcrypt hashes on ZTEX removed in favor of this flavor).

Edit: i

[2020-05-14 22:24] magnumripper commented on #4261
@jfoug Perhaps some variant of dynamic compiler mode could be added for doing things like this generically and then send to chosen format?

[2020-05-15 05:07] techhaze opened #4262 "index-pack failed error while cloning JRT"
Hi,

Trying to clone the git repository for JRT. But, I keep getting the following error.

Trying to figure why it happens.

Thanks in advance!

![f3fefda0d3373f276962290529eedf10bfd4ad34c7c41a7bf76e93d20ea8c927](https://user-images.githubusercontent.com/65384784/82013492-8c548480-96ce-11ea-828c-b102ee862e40.png)

OS info:  **Ubuntu Virtual Machine 18.04 (bionic)**

[2020-05-15 13:39] solardiz commented on #4262
Looks like you ran out of RAM in the VM. Please try adding more RAM.

Closing this since it isn't an issue with the repo, as far as we're currently aware.

[2020-05-15 13:39] #4262 closed, assigned to nobody

[2020-05-21 08:35] its5Q opened #4264 "ld: multiple definition of 'ztex*'"
There are multiple errors from ld about multiple definitions of variables in ztex .c files. There is a similar pull request regarding this issue but on OpenCL.
https://github.com/magnumripper/JohnTheRipper/pull/4258
Also it's worth noting, that using 1.9.0 release code, it gives the same error.
### Steps to reproduce ###
Clone the bleeding-jumbo branch
Use ./configure --enable-ztex to enable ZTEX

[2020-05-21 09:49] solardiz commented on #4264
@lev4ukpavel2 What are your versions of gcc and binutils?

[2020-05-21 09:52] its5Q commented on #4264
@solardiz gcc 10.1.0-1 and binutils 2.34-3

[2020-05-21 11:08] solardiz commented on #4264
@lev4ukpavel2 I don't currently have versions this recent installed anywhere, so can't readily trigger this problem. Would you like to work on fixing this issue for us? Alternatively, I suppose @claudioandre-br can look into it by building with `--enable-ztex` even though he doesn't have a ZTEX board. Or another one of us will look into it later.

[2020-05-21 12:54] its5Q commented on #4264
@solardiz I just tested it, it works on GCC 9, so the problem is only present on GCC 10. I don't really have a lot of C++ programming experience, so I won't be able to provide a solution.

[2020-05-21 16:05] ghost commented on #4264
I can mute the warnings, but I won't be able to test it properly. I guess we can keep JtR as is, for a while, at least.

[2020-05-22 06:05] kholia commented on #4249
Besides lack of time, interacting with apparently lazy or misbehaving users who don't understand kind requests was demotivational for me. I rather focus my limited free time and energy somewhere else.

I am just reporting what I felt as it is. Not debating or arguing about anything.

Interacting with responsive, responsible users is always a pleasure and I love going the extra miles for them (hope

[2020-05-26 22:49] solardiz commented on #4254
FWIW, hashcat simply skips such devices regardless of requested hash type:

[code]

[2020-05-27 01:35] MG-302 commented on #2518
I want to know how to decrypt using SNMPv3 at john-the-ripper, thanks.

[2020-05-27 01:50] solardiz commented on #2518
@MG-302 This is an issue tracker, not a user support forum. You might want to try asking on the john-users mailing list instead (subscribe to it first).

[2020-05-27 03:04] MG-302 commented on #2518
I have tried it, but the electronic reply does not help me solve the problem

[2020-05-27 03:34] MG-302 commented on #2518
@solardiz
 I have tried it（ask the question on the john-users mailing list）, but the electronic reply does not help me solve the problem

[2020-05-27 10:46] magnumripper commented on #2518
@solardiz I'd normally block this user and delete the polluting posts including ours. Should I desist?

[2020-05-27 11:10] solardiz commented on #2518
@MG-302 You never posted your question to john-users. I guess the "electronic reply" you mention is some communication from the mailing list robot, such as to get your subscription confirmed. You'd need to actually join the list (reply to the robot confirming your subscription), then actually post your question to the list.

@magnumripper Please don't hurry. You can delete these off-topic comments

[2020-05-27 22:45] solardiz commented on #4044
FWIW, since I realized what's going on here, I am patching `HANDLE_CLERROR` with `BENCH_CLERROR` on those uses around line 1800 in `opencl_common.c` whenever I see a certain platform fail to run a certain format for me with similar errors, and this helps. For example, `nt-opencl` wouldn't run on Xeon Phi for me without this hack; with the hack, it does.

We ought to address this issue properly bef

[2020-05-29 22:00] BarrowHill opened #4265 "#new feature request: please add OpenCL support for old ZIP files."
almost 3 days I'm trying to crack ZIP files and discovered that
hash file from old type ZIP files contains only 1 line
$pkzip2$
and does not have OpenCL implementation, in Linux we can get info
$ zipdetails old_type_ZIP.zip
00008 Compression Method    0008 'Deflated'
such hashes not working with GPU e.g. -format=ZIP-opencl
and we get this error
_______
Using default input encoding: UTF-8
No passwo

[2020-05-29 22:40] magnumripper commented on #4265
You'd use `-format=pkzip` to crack them. We currently don't have GPU support for it, but it's fast on CPU.

As for adding OpenCL support, we have #718 for that.

[2020-05-29 22:40] #4265 closed, assigned to nobody

[2020-05-30 12:18] solardiz commented on #4265
@magnumripper The description of "invalid" label doesn't say we'd use it for duplicate issues, so I removed it from here. This is a fine feature request here, it's just duplicate.

Besides #718, also related are #3222, #4070, #3971. Perhaps we should make changes to minimize user confusion here. It is wrong when output of `zip2john` gets rejected by `zip-opencl` without explanation.

[2020-05-30 18:23] BarrowHill opened #4266 "#Building warnings: libz (pkzip and some other formats) ........ no, Why pkzip is disabled? Is this normal?"
Sorry for question, but could you please answer me, when building on Windows with
./configure && make -s clean && make -sj4  as mentioned in install-windows.
_______
......
Optional libraries/features found:
libz (pkzip and some other formats) ........ no

Install missing libraries to get any needed features that were omitted.

electrum_fmt_plug.c:509:2: warning: #warning "zlib missing, Electrum f

[2020-05-30 19:01] solardiz commented on #4266
For user support questions, please use the john-users mailing list.

These warnings are sort of normal, but they mean what they say. To avoid them, install zlib (a Cygwin (sub)package; sorry, I don't recall what exactly it's called in Cygwin, but should be easy to spot). You can also simply use our Windows builds of JtR, instead of making your own.

After these warnings, pkzip and Electrum formats

[2020-05-30 19:01] #4266 closed, assigned to nobody

[2020-05-30 20:47] testcb00 opened #4267 "Cannot use putty2john to create a hash file for cracking ED25519 ppk"
I use PuTTYgen Release 0.70 to generate a ED25519 ppk with passphrase "a" and save the private key as ppk file. Then I transfer the ppk to Kali Linux VM (amd64) and use putty2john to generate the hash file by the follow command: putty2john 0520.ppk > 0520.hash
After the process, I use the general john 0520.hash to crack the ppk password, but meet

Using default input encoding: UTF-8
No password ha

[2020-05-31 01:36] androidacy-user commented on #2812
Why the decision to completely not support utf-16? I have a zip file in utf-16 format that's encrypted, on Linux

Sorry to bump a super old issue but googling took me here

[2020-05-31 10:12] solardiz commented on #2812
On Sat, May 30, 2020 at 06:36:28PM -0700, Alexia wrote:

What do you mean by this, and what makes you think that's what you have?

[2020-05-31 12:12] ghost commented on #4267
Well, putty format can handle ED25519. Can you share the generated ppk file? Are you sure you have an updated version of JtR? It seems ok here:

[code]

[2020-05-31 13:05] androidacy-user commented on #2812
Jtr bails out saying something about having a utf-16 BOM

[2020-05-31 14:15] ghost commented on #4245
BTW, the same applies to putty2john

[code]

[2020-05-31 15:26] testcb00 commented on #4267
PuTTYgen platform
PuTTYgen Release 0.70
Windows 7 x64

JtR version in Kali Linux Weekly Build kali-linux-2020-W22
John the Ripper 1.9.0-jumbo-1 OMP [linux-gnu 64-bit x86_64 AVX AC]

I finally found the reason but another problem exist. The reason is that I remove the default Key comment generated by PuTTYgen, then the ppk cannot be cracked. If the comment is remained, the ppk can be cracked.

Here

[2020-05-31 16:08] ghost commented on #4267
First issue:
- putty2john generates a hash JtR can't crack (after removing the comment line). Reproduced here.

That said, we need to review the format to check if the comment is important for the the cracking process (if it is more than a comment).

[2020-05-31 16:27] ghost commented on #4267
I confirmed you can't edit the ppk file (as you did). Please, if you can reproduce the bug without editing the file, just reopen the issue.

[2020-05-31 16:27] #4267 closed, assigned to nobody

[2020-05-31 17:01] testcb00 commented on #4267
Sorry for my confusing, what I mean is that I delete the "Key comment" before I save the private key ppk file. The first image is is the screenshot before I save the 1.ppk and similar second is 2.ppk.

![image](https://user-images.githubusercontent.com/31276953/83357992-17aa6700-a3ab-11ea-8bf4-05e9631320b9.png)
![image](https://user-images.githubusercontent.com/31276953/83358008-2ee95480-a3ab-11ea

[2020-05-31 17:10] ghost commented on #4267
Have you confirmed 2.ppk works in putty?

[2020-05-31 17:24] testcb00 commented on #4267
Just tested, both 1.ppk and 2.ppk work in Kali Linux
First image is the result using 1.ppk and second is 2.ppk in PuTTY sessions.

![image](https://user-images.githubusercontent.com/31276953/83358492-e6cc3100-a3ae-11ea-90a0-a68ffb770206.png)
![image](https://user-images.githubusercontent.com/31276953/83358500-f481b680-a3ae-11ea-8f39-dabd9149767e.png)

[2020-05-31 17:33] ghost commented on #4267
Ok, let's see what the format maintainer thinks about it.

[2020-05-31 18:03] kholia commented on #4267
Quick patch:

[code]

[2020-05-31 18:41] ghost commented on #4267
The patch fixes the issue.  2.ppk is crackable now.

Thanks kholia.

[2020-05-31 18:47] solardiz commented on #2812
On Sun, May 31, 2020 at 06:05:37AM -0700, Alexia wrote:

This almost always means that you're invoking it incorrectly, _not_ that you need UTF-16 support.

[2020-05-31 18:51] ghost commented on #2812
@linuxandria, please post the command line you are using.

We need to be sure you are running the `zip2john filename.zip` and NOT _john ZIPFILE_

[2020-05-31 23:05] androidacy-user commented on #2812
Oof lol I was doing that
Had to cd into source/run to even do that bc make install didn't do its thing but that's a different issue

[2020-06-02 18:23] magnumripper commented on #4265
A dupe is definitely invalid - although it obviously shouldn't be taken as an insult. It's just that, already an other issue.

[2020-06-02 18:27] solardiz commented on #4265
@magnumripper I think we need a separate label for duplicate issues, then. Sometimes (inadvertent) duplicate issues have additional detail or additional examples and are still useful to take a look at later (by following links from other issues), whereas other kinds of invalid issues are generally useless for the project.

[2020-06-02 18:36] magnumripper commented on #4265
When I close and write "this is a dupe of #1234" it will be linked both ways - the new issue will be referenced by the original.

[2020-06-02 18:41] magnumripper commented on #4265
I'm also of the opinion that a dupe issue is more or less meaning the OP did not do proper research. Users are welcome here, but not lusers.

[2020-06-02 18:49] solardiz commented on #4265
@magnumripper While you're right about the linking and not doing proper research, I think this label on a dupe is unnecessarily too discouraging. Anyway, this is just another reminder for me to take this repo to Openwall account, as discussed. Hopefully, soon.

[2020-06-02 23:15] magnumripper commented on #4265
I'm trying to be more open-minded, @solardiz. I'll also try to be more lax until you take over (although this can potentially hit us, mind you)

[2020-06-03 22:02] magnumripper opened #4269 "RAR3 OpenCL format: Try moving the early-reject Huffman checks to GPU"
This is mostly an experiment, but if we're lucky it could mean a boost for CPU-weak rigs with powerful GPU (the Huffman checks reject something like 96% of wrong candidates **really** early iirc, from just peeking at a single AES block or perhaps two).

It might also be of help if/when implementing pkzip format on GPU (similar checks, not identical).

[2020-06-03 22:25] magnumripper commented on #4254
The "unless cl_khr_byte_addressable_store is enabled" part of the error message is confusing - sounds like it would build just fine if we explicitly enabled the extension. I guess it's just poor wording though.

I'm actually considering trying to get hold of some 1.0 device just for being able to test this - mostly for finding code we could write faster, but support for old devices will come as a

[2020-06-03 22:32] ghost commented on #4254
Worth it? I mean, how many people have one and would like to use it for cracking?

[2020-06-05 04:11] magnumripper commented on #4254
Like I said, it will help us find things we're still doing a byte at a time. Anything is doable in 32 bits at a time if you really want to - I had my doubts when implementing RC4 but even that can be unrolled. And once you get it right, it's FAST! 😎  The devices that *can* do byte-size writes are surely not doing it quickly.

[2020-06-05 05:15] 0xln commented on #4106
Recently removed —enable-asan and now I’m getting crashes again. Going to try and force another crash to try debug this issue further. I’d run with asan for stability but it’s hugely slowing things down.

[2020-06-05 15:47] magnumripper commented on #4106
Perhaps you should try using ASan again, but with normal optimizations (it'll still be slower, but possibly much better and hopefully the bug will trigger again): After configuring with ASan, do a `sed -ri 's/-O[g1]/-O2/g' Makefile`, then make clean and rebuild (please ignore if I'm stating obvious things, not sure how savvy you are ;-)

This may make it harder to understand a backtrace but we sho

[2020-06-05 16:10] magnumripper commented on #4106
BTW I believe we haven't asked you to try and reproduce problems without using MPI? Perhaps that would give some clue. You don't need to compile without MPI, just don't use it, and try running some stuff that use to be problematic. None of my ARM tests so far has involved MPI.

[2020-06-05 19:12] magnumripper commented on #4106
Just tried (again) to reproduce this on a Raspberry Pi using latest release/latest bleeding, with/without MPI, and with/without ASan (but with normal optimizations). It never misses a beat. I can't do anything to help you 😢

[2020-06-05 19:20] magnumripper commented on #4106
I think your best option is to try and find a (smallest and fastest possible) test-case that reliably crashes, to start with

[2020-06-05 21:05] ghost commented on #3191
For the record ([1]):

My expectation was that a proprietary GPU driver installation on Windows would add OpenCL "instructions" to the registry at _HKEY_LOCAL_MACHINE\SOFTWARE\Khronos\OpenCL\Vendors_. Unfortunately, this is **not** a rule [2].

On my machine I did not find any OpenCL significant information within the registry. To make OpenCL work I did:
* copy the file `OpenCLdll` installed in th

[2020-06-05 23:56] ghost commented on #4188
I give up. Closing.
****
This is the AMDGPU-Pro proprietary driver (on Linux, the stack is hybrid).

| OS  | Format | Speed |
| -- | -- | --- |
| Windows | sha512crypt-opencl | 14k c/s |
| Linux [2] | sha512crypt-opencl | 6.5k c/s |
| Windows | sha256crypt-opencl | 35k c/s |
| Linux [2] | sha256crypt-opencl | 35k c/s |

IMO:
* I had a hard time looking for the device driver on Linux.
  * note to s

[2020-06-05 23:56] #4188 closed, assigned to nobody

[2020-06-06 00:22] solardiz commented on #3955
Why does Fedora's gcc call "$$F" a directive here? Where is that documented? I tried googling - no luck.

Anyway, maybe splitting the string in two like `"%s$" "$F%d%s"` will avoid the first two warnings.

[2020-06-06 00:32] ghost commented on #3955
gcc 10 on Fedora is not complaining about this. But, the build is not "clean".

Anyway, I'm more concerned with compiler flags and/or silencing warnings. Eventually, if we should avoid `-wError`.

All recent versions of gcc and clang are complaining a lot.
****
@magnumripper commented about a review of the compilation flags recently.
****

As an example, I can use `--enable-werror` in all my "stab

[2020-06-06 05:08] 0xln commented on #4106
As per your suggestion. Going to try and get the smallest test case working and scale up from there. Currently running without MPI and seeing if I can trigger a crash