[2021-03-04 17:10] ghost commented on #4585
Have you tried things like `as -arch arm64e "$@"` `clang --target=arm64e-apple-darwin20 "$@"`, `ld -arch arm64e "$@"`, ...

Web are talking about this. PS (not clear if you are able to compile using clang).

[2021-03-04 17:19] sectroyer commented on #4589
Okay have N/A with restored session issue once again after letting it run some time:
<img width="662" alt="image" src="https://user-images.githubusercontent.com/6706818/110002723-031e4500-7d16-11eb-81ca-7d23cf6d6213.png">
@claudioandre-br  this is with your fix applied. First "few minutes" it worked but then it goes to N/A no idea at which point as I let it run for a while.

**EDIT:**
[code]

[2021-03-04 17:25] solardiz commented on #4589
@sectroyer For the ETA, please post to the proper issue you had created. Not here. Thanks.

[2021-03-04 17:26] ghost commented on #4579
Please post your `N/A` .rec files (so, we can reproduce).

[2021-03-04 17:27] sectroyer opened #4591 "ETA for restored fork/node sessions disappears after a while"
Run this command
`OMP_NUM_THREADS=1 john --format=descrypt '-2=[opqrstuvwxyz0123456789]' -1=?l?d --min-len=1 --mask=?2?1?1?1?1?1?1?u --node=16-47/47 --fork=32 ./test.pwd --session=test`

After some time Ctr+c and restore session with:
`john --restore=test`
Session restores correctly but after a while ETA/% changes to N/A:
<img width="662" alt="Zrzut ekranu 2021-03-4 o 18 17 47" src="https://user-i

[2021-03-04 17:27] solardiz commented on #4589
@claudioandre-br Your fix to `options.c` here looks correct to me. Since this is a core issue, I'll probably test it in core first. Thanks!

[2021-03-04 17:28] sectroyer commented on #4589
@solardiz OK, done here: https://github.com/openwall/john/issues/4591

[2021-03-04 17:29] ghost commented on #4591
As I posted in the other issue (only one issue, isn't?), please, post your `.rec` files.

[2021-03-04 17:31] solardiz commented on #4591
In #4579, the ETA fully disappears. Here it turns into "N/A". Maybe it's @claudioandre-br's proposed fix from #4579 (applied in the test above?) that made this difference? Or maybe it's in fact a different issue?

[2021-03-04 17:34] magnumripper commented on #4585
Snorting the gcc-10 man page, there are options applicable for this arch such as `-march=armv8.3-a` or `-march=armv8.3-a+simd` (why would that be needed though and not default?) that I need to test for any difference in performance.

Using `-march=armv8.3-a` to Homebrew's gcc-10 adds these compiler macros:
[code]
Using `-march=armv8.3-a+simd` with gcc-10 just adds the same ones.

These were some o

[2021-03-04 17:35] magnumripper commented on #4585
Thanks, that'll be yet another thing to my to-do list :-)

[2021-03-04 17:40] e2002e commented on #4588
So the receiving program must buffer the data ? Recovery works 100% with >
(redirection). In the case of my generator which has a gui and outputs to
the console, I can start the program with a pipe to sort -u |wc and it'll
yield the correct count no matter how many times I stop it untill the end.
Reading on the flight is what I am doing with hydra. Do you think that when
reading the input into a f

[2021-03-04 17:47] ghost commented on #4591
I can reproduce using "super" (with my use case).

What I noticed is that it needs some time to recompute ETA. I would say that in 10 minutes I'll have all values back.

[2021-03-04 17:54] ghost commented on #4591
Confirmed, in 15 minutes I have ETA in all running processes. The latest (in my run) were 38 and 41 below. I'm fine, let's see if someone else thinks the matter can be improved somehow (restored session issue only, right?).

[code]

[code]

[2021-03-04 19:14] sectroyer commented on #4591
Here I think ETA didn't appear till the end of session but will rerun and try to check once again
[test_rec_pwd.tgz.zip](https://github.com/openwall/john/files/6086060/test_rec_pwd.tgz.zip)
. Don't know if still needed but I attach files for whole session.

**EDIT** with one test hash it was faster than I expected and eta DID come back but will take a look at it since I think it was for longer las

[2021-03-05 10:43] magnumripper commented on #4588
No, I'm saying it might and we do not know: When we're in stdout mode, we *may* have a program (or several) in the other end of a pipe (or several pipes) *or* a file, or just a terminal screen. We just don't know. And if it is a program or several, it/they may buffer data or not - we can't know. So we can't adapt to the situation because we do not know what the situation is (well we do know whethe

[2021-03-05 10:49] #4588 closed, assigned to nobody

[2021-03-05 11:27] sectroyer commented on #4591
Okay "bug is back" 😄 Look it's NOT fork limited I got it with openmp session. Also I don't think I had such issues with jumbo1 so it might be bleeding edge specific. Here is screen output:
[code]

In other window I was running status every 30 seconds:

[code]

ETA and percentage didn't appear up to the end of session. I have saved rec file if you want to take a look ?

[2021-03-05 14:12] solardiz commented on #4589
Fixed slightly differently in https://github.com/openwall/john-core, now need to merge into jumbo and retest.

[2021-03-05 14:13] solardiz commented on #4584
Implemented in https://github.com/openwall/john-core, now need to merge into jumbo and retest.

[2021-03-05 17:37] solardiz commented on #4580
@kaal-kali One final comment - Claudio's advice for you to drop the `--format=zip` option is good. You'd definitely want to drop the option. I guess you're using it based on some third-party blog post or such, but that's actually bad practice, and can very well be the reason for you getting that error. So just:

[code]

and that's it - no options.

[2021-03-07 05:12] magnumripper commented on #4585
Tried the following
[code]
The RAR format now compiles, and works fine.
[code]
Just half of intel speed though, comparing M1 @3.2 Ghz (well it doesn't say! Google indicates it might be 3.2 GHz) against intel core i9 @2.4 Ghz and same number of (real) cores. Come to think of it, a core or two might have been totally hogged by other things during that benchmark though. Anyway, new to-do entry would

[2021-03-07 06:00] magnumripper commented on #4585
Mixing all sorts of info in this issue, this M1 chip allegedly has four high-efficiency (as in low-power) cores and four high-performance cores.
https://www.macworld.com/article/3596796/apple-m1-chip-specs-performance-features-power-efficiency.html

Running just one thread
[code]
versus
[code]
Clock for clock and width for width it's not too bad, I think. But I might have screwed that calculation

[2021-03-07 06:35] magnumripper commented on #4585
To-do: Have `configure` try `-march=armv8.3-a+simd` as well. Perhaps also `--target=arm64e-apple-darwin20`, I need to try that.

[2021-03-07 11:24] solardiz commented on #4584
Thinking of this some more, with node number ranges much larger than fork count we don't have to require strict multiples. For example, with a range of 10000 nodes and 32 forks, it would be quite OK if some processes represented 312 virtual nodes and some others 313. This would require slightly different implementation - I currently implemented a fixed nodes per fork (`npf` local variable in a cou

[2021-03-07 11:42] magnumripper opened #4594 "MPI: support any node ranges divisible by fork count"
Mimic the fork changes in #4592 for MPI (after the former is merged).

[2021-03-07 11:58] #4589 closed, assigned to nobody

[2021-03-07 11:58] #4584 closed, assigned to nobody

[2021-03-07 12:01] magnumripper opened #4595 "MPI: Dynamically handle virtual node numbers (a.k.a work portions)"
@solardiz [brought this up](https://github.com/openwall/john/pull/4592#issuecomment-792264257)

[2021-03-07 12:05] magnumripper commented on #4595
Some (most?) of the node/fork code try to distribute evenly (when possible without jumping through hoops), so that all nodes get their share of "more likely" candidates. When we're actually using "nodes" in the sense of "work portions", we might want to change that.

[2021-03-07 12:22] magnumripper opened #4596 "SIPdump uses a deprecated PCAP function"
Seen when using latest'n'greatest macOS SDK
[code]
I haven't seen that warning before but the pcap stuff doesn't seem new at all.

[2021-03-07 14:25] magnumripper commented on #4591
No changes specifically to mask mode's ETA/progress has been made since Jumbo-1 so in that case it's got to be some side effect of something else - but I can't spot any suspect commit.

[2021-03-07 15:05] sectroyer commented on #4591
@magnumripper were you able to reproduce with sample that I have provided? At the beginning I was using huge node numbers (percentage power for each node) possible that's why the bug wasn't hitting me...

[2021-03-07 16:30] magnumripper commented on #4585
Trivial fix:
[code]
This solves all problems with native gcc.

Native gcc (doesn't support OpenMP):
[code]

Real gcc (with OpenMP disabled):
[code]

[2021-03-07 18:11] magnumripper commented on #4585
Tried it now, it fails because Homebrew's OpenSSL is just arm64:
[code]
I could compile OpenSSL too myself of course, but I don't think there will be much (if any) difference.

Anyway, basically I just manually set these lines in the generated Makefile:
[code]

[2021-03-07 18:55] magnumripper commented on #4585
And just for reference, John 1.8.0.9-jumbo-1-bleeding SSE-4.1 benchmark, using Rosetta2:
[code]

Native (current bleeding)
[code]

[2021-03-07 19:18] magnumripper opened #4598 "Apple M1, slow OpenCL auto-tune"
For some reason the auto-tune of LWS takes ages on the M1. We should look into why and if we can do something about it.

First GWS test is super-quick, the intermediate LWS tests are very slow (first size takes several seconds, larger size tests are even worse. Times shown are in the order of 290 ms). Final GWS test is quick.

A workaround could be to peg LWS to eg. 64 in john.conf.

[2021-03-07 19:26] magnumripper commented on #4598
Strange: my other laptop (with AMD Vega) also shows times in the order of 290 ms, but the LWS tests just whizz by in no time at all.

[2021-03-08 10:40] #4585 closed, assigned to magnumripper

[2021-03-08 11:00] magnumripper opened #4599 "Autoconf: Review all inline test code"
The inlined test sources in `m4/jtr_arm_logic.m4` and similar files (there's two or three more) should be reviewed.

Example:
[code]
This particular one tests if we have `veorq_u32()`.

What it really does is look for build fail or good exit code (vs. segfault): The "88" is only there to ensure things aren't optimized away, it doesn't test correctness.

All such programs should be trivially rewrit

[2021-03-08 11:36] solardiz commented on #4599
See also #3888 #3889 for prior comments on this. There's a fourth issue: many (all?) of these tests currently read partially uninitialized data, which is also UB in C.

[2021-03-08 13:16] ghost opened #4600 "c9825e6 fails on armhf"
- It builds, I see no warnings;
- A `--list=build-info` works;
- But a simple `$JTR_BIN --stdout --mask='[0-2]password[A-C]'` fails;
- arm64 **works**.

*****
https://launchpadlibrarian.net/526869316/buildlog_snap_ubuntu_bionic_armhf_john-the-ripper_BUILDING.txt.gz

[code]

[code]

[2021-03-08 13:22] magnumripper commented on #4600
Could it be cause we trusted `__ARM_FEATURE_UNALIGNED`? What if you revert only the change to arm32le.h?

[2021-03-08 13:22] ghost commented on #4600
Ok, I will try that first.

[2021-03-08 13:25] magnumripper commented on #4600
Only ARMv5 and below should fail to run unaligned so I'd expect armv7l to work fine

[2021-03-08 13:50] magnumripper opened #4601 "Allow --test with --skip-self-tests"
This used to work, for benchmarking a format even though it fails self-test. After the recent review of options it's no longer allowed.

[2021-03-08 15:04] ghost commented on #4600
`git revert --no-edit d531f97180a6e5ae52e21db177727a17a76bd2b4` fixes the issue.

See  https://bazaar.launchpad.net/~claudioandre.br/+junk/sample/revision/181 and https://launchpadlibrarian.net/526891154/buildlog_snap_ubuntu_bionic_armhf_john-the-ripper_BUILDING.txt.gz

[2021-03-08 15:10] magnumripper commented on #4600
OK... I know that *some* ARM instructions still can't handle unaligned data. What if you try still with that commit reverted, but with this change in RAR format?
[code]
If that works, and the RAR formats still passes self-test and Test Suite without segfaulting, that's probably a better way to go.

[2021-03-08 15:21] magnumripper commented on #4600
You mean with the same hardware, a 64-bit build does better? That's a bit strange.

[2021-03-08 15:33] ghost commented on #4600
Yes.

[code]

versus

[code]

[2021-03-08 15:46] solardiz commented on #4601
Related regression is #4502

[2021-03-08 17:02] ghost commented on #4600
Rar passes self-test and test-full.

`Benchmarking: rar, RAR3 (length 5) [SHA1 128/128 NEON 4x AES]... (4xOMP) DONE`

[2021-03-08 17:49] magnumripper commented on #4600
So I should probably revert the idea of setting `ARCH_ALLOWS_UNALIGNED` to `__ARM_FEATURE_UNALIGNED` and instead just let the RAR format build. Before I do, @solardiz do you have any other ideas?

[2021-03-08 18:04] solardiz commented on #4600
Other, yes. Better, no. I think this is the way to go for now.

[2021-03-08 21:18] fhuberts opened #4604 "Compile error on gcc 11 (Fedora 34)"
I'm on Fedora 33 x64, doing a Fedora 34 x64 mock build for john  ```1.9.0-Jumbo-1-464-gc9825e688```.

F34 has gcc 11:
[code]

The rpm spec file uses these build commands:
[code]

The error:
[code]

### Steps to reproduce ###
- Install a Fedora 33 machine.
- Install mock

- You can reproduce it by using the repo
[code]
at commit ```315a54e```.

- This repo needs a checkout of
[code]
alongside it.

[2021-03-08 21:45] #4600 closed, assigned to nobody

[2021-03-08 21:46] ghost commented on #4604
I've been aware of this for a few months. One can reproduce it using a regular Ubuntu 21.04 + gcc-snapshot (in a PPA, I guess) + .configure/make.

To me it is not clear if the alignment is a C standard /requirement. In fact, I would say the opposite: it is up to the compiler. Anyway, let's hear others.

[2021-03-08 22:37] magnumripper commented on #4604
So this is the offending code (pre-processed a little)
[code]
I'm not sure I even understand the "error: size of array element is not a multiple of its alignment" at all? What the heck do they mean?

[2021-03-09 07:22] COOLBLACKS opened #4605 "New user confusion around zip2john, PKZIP vs. WinZip, and program versions"
So i was trying to decrypt a zip folder in cmd then says "is not encryted".... i tried everything else still no luck.... then i realize that the zip folder is not encrypted the files the the zip folder and folder are encypted but when i try to extract it ask for password

[2021-03-09 10:39] magnumripper commented on #4605
Does zip2john say it's not encrypted? My first guess is you are not using the latest version from here.

[2021-03-09 12:39] solardiz commented on #4604
Looks like a gcc bug to me, unless gcc developers seriously discussed and decided to impose this new rule for some good reason? This is a development version of gcc, so I'm not too surprised it's buggy. As I recall, there were also compile issues by gcc 10.0, which were gone in 10.1.

@fhuberts Are you Fedora package maintainer? Is it fine for you that the package doesn't build until gcc is fixed,

[2021-03-09 12:45] solardiz commented on #4604
BTW, we have an open issue to update the Argon2 implementation to latest upstream, which will probably bring revised BLAKE2 code in.

Does upstream https://github.com/P-H-C/phc-winner-argon2 build with gcc 11 fine or does it fail similarly? With SIMD enabled?

[2021-03-09 12:51] #4575 closed, assigned to magnumripper

[2021-03-09 13:03] fhuberts commented on #4604
I'm not a Fedora maintainer, I build this package for my own purposes.
The asan I will disable for production builds, tnx ;-)

[2021-03-09 13:30] COOLBLACKS commented on #4605
It is the latest version i make sure to check..... but the zip folder and the folder thats inside are not encrypted BUT the files inside ARE encrypted 🤷‍♂️

[2021-03-09 13:33] COOLBLACKS commented on #4605
It is the latest version i make sure to check..... but the zip folder and the folder thats inside are not encrypted BUT the files inside ARE encrypted 🤷‍♂️

[2021-03-09 13:35] ghost commented on #4605
Could you share the file with one of us? At least, show the output of `./john` and `zip2john`?

[2021-03-09 13:38] COOLBLACKS commented on #4605
I am using the latest version cuz i do make sure to check however i do
email u here n post at the same time time cuz someone might have the same
issue..

So even the the folder itself is not encrypted.... are u saying i should be
able to get a password still?

On Tue, Mar 9, 2021, 5:39 AM magnum <notifications@github.com> wrote:

[2021-03-09 13:39] COOLBLACKS commented on #4605
Not a problem

On Tue, Mar 9, 2021, 8:36 AM Claudio André <notifications@github.com> wrote:

[2021-03-09 14:11] COOLBLACKS commented on #4605
C:\Users\COOL-BLACKS\Desktop\john-1.9.0-jumbo-1-win64\run>zip2john Sai_Flexising_19_FULL.zip > hash.txt
Sai_Flexising_19_FULL.zip/Sai_Flexising_19_FULL/ is not encrypted!
ver 1.0 Sai_Flexising_19_FULL.zip/Sai_Flexising_19_FULL/ is not encrypted, or stored with non-handled compression type
ver 2.0 efh 9901 Sai_Flexising_19_FULL.zip/Sai_Flexising_19_FULL/2-C´ked FlexiSIGN 19.exe PKZIP Encr: cmplen=8

[2021-03-09 14:12] magnumripper commented on #4605
It's completely normal to get a message about folders not being encrypted, you should still get hashes for the encrypted files below it

[2021-03-09 14:13] magnumripper commented on #4605
Drop the "--format=zip" option, it's wrong. Either leave it out completely or use "--format=pkzip"

[2021-03-09 14:17] magnumripper commented on #4605
@solardiz maybe we should do the alternative-format-checks even when user specified a format? I would hate it for sure but recent user problems indicate we have a problem here.

No wait, maybe we could do so only when the specified format came up empty?

[2021-03-09 14:18] ghost commented on #4605
I noticed you have C:\Users\COOL-BLACKS\Desktop\\**john-1.9.0-jumbo-1**-win64\run>zip2john

Could you please run only `john` and post the result?

[2021-03-09 14:21] magnumripper commented on #4605
Yeah that seems to be another problem: The output doesn't look like latest bleeding Jumbo either.

[2021-03-09 14:22] solardiz commented on #4604
I doubt this is actually upstream gcc snapshot of that date. My guess is it might be some Fedora fork of gcc-11 started at an earlier date, with partial backports from later snapshots to fix specific bugs but not the bug we're running into here. Something similar to what we see here: https://github.com/libdfp/libdfp/pull/158

BTW, there isn't an upstream snapshot dated 20210210, the nearest are 20

[2021-03-09 14:22] magnumripper commented on #4605
I didn't mean latest *release* (which is 1.9.0-Jumbo-1) but the latest not-yet-released code, from [**here**](https://github.com/openwall/john) or to be very clear [**from here**](https://github.com/openwall/john-packages/releases/tag/jumbo-dev).

[2021-03-09 14:29] magnumripper commented on #4605
@claudioandre-br are the current binaries at https://github.com/openwall/john-packages/releases/tag/jumbo-dev from February 10? In that case even they are too old to be perfect. In this very case it shouldn't matter due to the odd `efh 9901` stuff, hopefully they'll end up great.

[2021-03-09 14:31] solardiz commented on #4604
FWIW, I cannot build gcc 11-20210307 (and the previous snapshot) on the same system and using the same build script that built 10.1 fine, now failing like this:

[code]

There's nothing obviously causing this error in the preceding messages. I'm not going to spend more time on this just yet. It could be some change between 10 and 11, or it could be a difference between releases and snapshots. Ther

[2021-03-09 14:36] COOLBLACKS commented on #4605
C:\john-bleeding-jumbo\run>zip2john Sai_Flexising_19_FULL.zip > hash.txt
DNS server not authoritative for zone.

[2021-03-09 14:42] ghost commented on #4605
Yes. I will create a new release soon. To be (accepted as) a fair CI user, I avoid overbooking build bots.

[2021-03-09 14:44] solardiz commented on #4605
I think that specifically for PKZIP vs. WinZip we should check from inside `valid()` whether the hash would be detected as the other format's _and_ the current format's `next` is NULL (suggesting it's the only or at least the last format) - and if so, print a suggestion to drop the `--format` option right from there.

I guess some popular third-party blog post or YouTube video causes this.

@COOLB

[2021-03-09 14:45] solardiz commented on #4605
@COOLBLACKS That's a fun "error", but regardless what happens when you then do:

[code]

And what's the file size of `hash.txt`?

[2021-03-09 14:49] solardiz commented on #4605
@magnumripper Isn't this puzzling - zip2john mostly talked about PKZIP entries, but the hash got loaded as WinZip anyway? I'd have expected "No password hashes loaded" from the usage of `--format=zip` here. Is this somehow a mixed PKZIP/WinZip archive?!

[2021-03-09 14:51] COOLBLACKS commented on #4605
THIS  a result i get and yes i am watcing a youtube blogger  i also heard large files is not easy to decrypt is there any truth to this

NOTE: It is assumed that all files in each archive have the same password.
If that is not the case, the hash may be uncrackable. To avoid this, use
option -o to pick a file at a time.

[2021-03-09 15:06] solardiz commented on #4605
Huh? I asked you what the output from `john hash.txt` is. You instead quoted a piece of output from `zip2john` that you had already posted.

Can you please post a comment to that YouTube video telling other viewers to drop the `--format=zip` option?

There is _some_ truth to it, but it's not that simple.

[2021-03-09 15:13] COOLBLACKS commented on #4605
https://m.youtube.com/watch?v=uLJVo1cn0R0&feature=youtu.be

[2021-03-09 15:17] solardiz commented on #4605
@COOLBLACKS I asked you to post the output of `john hash.txt`. This is the third time I ask you to do it now. I didn't ask you to post a link to YouTube.

[2021-03-09 15:26] COOLBLACKS commented on #4605
the page not allowing me to post the hash its too long the page went in time out i am goin to try a different method

[2021-03-09 15:29] solardiz commented on #4604
FWIW, I've just built gcc 10.2.0 (latest release) and built jumbo with it (latest from this repo as of now) - no issues.

@fhuberts Meanwhile, you can try changing the 64 to 8 here: `__attribute__ ((aligned(64))) typedef struct __blake2bp_state {`. This should let the build complete. This will likely also result in some formats crashing at runtime.

[2021-03-09 15:32] solardiz commented on #4605
I am not asking you to post the hash. I am asking you to post a few lines of output from `john hash.txt`.

Anyway, as our use of GitHub isn't about user support anyway, I think we can as well close this issue and move on.

[2021-03-09 15:33] #4605 closed, assigned to nobody

[2021-03-09 15:37] solardiz commented on #4605
@claudioandre-br or anyone, if you have a Google account you dare to post YouTube comments from, please post one to the URL posted by @COOLBLACKS that says `This video's recommendation to use the "--format=zip" option is wrong, and will actually prevent things from working in many cases. This option should be omitted, leaving the command as simply "john hashes".`

[2021-03-09 15:44] #4601 closed, assigned to magnumripper

[2021-03-09 15:45] solardiz commented on #4604
@claudioandre-br @magnumripper BTW, yes, we have gcc 10.2.0 on "super" now - feel free to use it (see `/etc/motd`).

[2021-03-09 15:47] solardiz commented on #4604
@fhuberts Can you perhaps report this bug against Fedora 34's gcc package? If they're cherry-picking patches from gcc-11 series, they'll probably want to pick whatever patch fixes this as well, or update to latest upstream snapshot.

[2021-03-09 15:49] solardiz commented on #4604
@claudioandre-br Is this still the case? I'd expect gcc upstream to fix this at some point in gcc-11 development. I doubt they'll make a gcc 11 release with that issue still in there. So maybe latest gcc-snapshot in PPA already has this fixed?

[2021-03-09 15:51] COOLBLACKS commented on #4605
well i understand the urgency i am learning step by step i am not fast as u guys so when you want to find answers to something the first places you go is google and youtube and the closest 1 to whAT your looking for is the 1 you gonna go with and then the trend go on if u dnt find wat u lookin 4 u keep searching i have no knowledge to john the ripper a youtube video send me here
....so the file i

[2021-03-09 15:59] COOLBLACKS commented on #4605
Sai_Flexising_19_FULL.zip/Sai_Flexising_19_FULL/2-C´ked FlexiSIGN 19.exe:$zip2$*0*3*0*1b651525cfaee445f934d1a7962fbcd4*e1fd*559e1d7*412d0ad1885dec65a8d30bea44859ad613e29f4297d78e2ea5c7955b0e92d076adc1f5aa83f8b8f8ad88ad6c34429f482ff4ebcd2b05c8e1b89272f42a19c75d28e1aced795c1014e4088acbdfad3e587b41205ac175d8b2cbedb278c874d0915c3d2e5eb8ba274c16fc3e3cf79d633ff932175730f8cafd4d8591044773dca6efef73b234c0

[2021-03-09 16:11] ghost commented on #4605
This is a Winzip hash (that I can't load using john, I guess there is a copy+paste issue or something like this).

[2021-03-09 16:13] COOLBLACKS commented on #4605
yes it is copy and paste  what should i do to get it the way u need?

[2021-03-09 16:15] ghost commented on #4604
Yes
[code]

[code]

[2021-03-09 16:21] ghost commented on #4605
We see no bugs in `john` itself. In case you have a strong feeling that something is wrong, please run:
* `john` and post the command output here;
* `john hash.txt` and post the command output here;

If you need support, here is not the right place to ask. In fact, it seems you need to experiment yourself to understand what you are doing.

[2021-03-09 16:22] magnumripper commented on #4605
@COOLBLACKS we are not criticising you, just relax. We're merely trying to assess the problem and find solutions. The suggested youtube comment wasn't meant to rectify you but the original poster!

[2021-03-09 16:25] COOLBLACKS commented on #4605
I understand

[2021-03-09 16:29] COOLBLACKS commented on #4605
It says (its is assume that all the files is each archive have the same password  if that is not the case  the hash may be unbreakable. To avoid this use option -o to pick a file at a time

[2021-03-09 16:41] magnumripper commented on #4605
While that comment is true you can disregard it for now

[2021-03-09 16:44] COOLBLACKS commented on #4605
Ok

[2021-03-09 16:47] magnumripper commented on #4605
@COOLBLACKS did you try this? It should make a whole lot of difference... Then again you do seem to have a "zip" hash in there also, so you'll need to run both in separate sessions (in parallel or not).

[2021-03-09 16:48] COOLBLACKS commented on #4605
Gonna do dat n let u know rite now

[2021-03-09 16:50] ghost commented on #4605
* Create you own file and try to crack it.

[Here](https://www.codetd.com/en/article/7011709) you can see an example (random, I was googling `efh 9901`) where you can see that it is ok to get warnings. The password was cracked.

[2021-03-09 16:58] COOLBLACKS commented on #4605
It say using default input encoding : UTF-8
No password hashes loaded (see FAQ)

[2021-03-09 18:11] solardiz commented on #4604
Oh. Looks like this is an intentional change on part of gcc developers.

[code]

https://gcc.gnu.org/bugzilla/show_bug.cgi?id=97164
https://gcc.gnu.org/bugzilla/show_bug.cgi?id=43783
https://gcc.gnu.org/bugzilla/show_bug.cgi?id=36093
https://gcc.gnu.org/bugzilla/show_bug.cgi?id=24944

We'll probably need to adapt to the new rules, then.

[2021-03-09 18:12] solardiz commented on #4604
So, once again: Does upstream https://github.com/P-H-C/phc-winner-argon2 build with gcc 11 fine or does it fail similarly? With SIMD enabled?

[2021-03-09 18:35] fhuberts commented on #4604
Filed it also at Fedora: https://bugzilla.redhat.com/show_bug.cgi?id=1937076

[2021-03-09 18:51] solardiz commented on #4604
Oh, after my latest findings above, I wouldn't, but that's OK - maybe once this gcc change is known to break builds of too many packages, it'd end up getting reconsidered. I don't currently have a preference - I see reasons both for and against the change.

[2021-03-09 18:52] fhuberts commented on #4604
They already reported the same root cause :-(

[2021-03-09 19:12] solardiz commented on #4604
And that's a good thing.

[2021-03-09 19:19] solardiz opened #4609 ""Fork divisible node counts" support is buggy"
In testing of #4592, @sectroyer brought up some issues, which I almost dismissed as being mode-specific, but I did notice he also said an aspect was new with that PR's changes - that was puzzling. So I just went to test my changes further, and I see there's misbehavior when making use of the new functionality on both core and jumbo - some passwords aren't getting cracked when they're expected to b

[2021-03-09 20:05] solardiz commented on #4609
So I forgot to edit a line for the main process. Fixed in john-core. Since few people look at core and there are no forks of it on GitHub yet and this was the last commit, I simply amended it and force-pushed. For jumbo, I'll make a separate PR.

[2021-03-09 20:17] solardiz commented on #4609
Looks like magnum got this right for MPI, but I am not convinced of other aspects of the MPI changes now that I review them more closely.

[2021-03-09 20:29] fhuberts commented on #4604
There is a nice explanation on the Fedora bug, by the author of the root cause.

[2021-03-09 20:38] #4609 closed, assigned to solardiz

[2021-03-10 10:23] magnumripper commented on #4594
@solardiz said:

True, I probably need to correct this. First, I need to understand your code better. Latest here:
[code]
Unlike in the corresponding MPI code, we have a return here (line 585), so I guess I need to use if...else to get it right. However, I'm puzzled over lines 569 and 582 above - aren't they both reached? Does that end up right? Same for 570 and 583 but they are not cumulative (ex

[2021-03-10 10:31] magnumripper commented on #4594
Maybe this would be correct (yes, mpi_id is zero-based)? Need to think.
[code]

[2021-03-10 10:38] magnumripper commented on #4594
No, wait... that would screw up the save_min, save_max etc

[2021-03-10 10:40] magnumripper commented on #4594
So perhaps like this
[code]

[2021-03-10 10:42] magnumripper commented on #4594
Oh I get it now... `rec_restore_args()` will restore `options.node_min` and `options.node_max`, that's what confused me.

[2021-03-10 10:49] solardiz commented on #4594
Right. So I first update `options.node_min` to have the right `.rec` file read, and then do it again to undo the restoring of it from the file.

BTW, it's possibly wrong that we don't treat "Inconsistent crash recovery file" as a fatal error, proceeding anyway. Maybe we need to add curly braces and `error();` in there, for both fork and MPI. What do you think?

[2021-03-10 10:51] magnumripper commented on #4594
I take it the only thing I need is to move 645-646 below the closing bracket in 647.

Yes, I think we could just change to using `error_msg("Inconsistent crash recovery file: %s\n", rec_name);`

[2021-03-10 11:09] solardiz commented on #4594
Yes, I think so. I don't really know what running with `mpi_p == 1` means, though.

OK, please feel free to include that change as well (separate commit).

[2021-03-10 12:19] magnumripper commented on #4594
We either aren't running under MPI at all, or we are but as a single process (eg. job launched on a remote host), and it doesn't matter which. Our `mpi_id` will be zero so the `options.node_min += mpi_id * npf` becomes a no-op.

[2021-03-10 14:49] #4594 closed, assigned to magnumripper

[2021-03-10 15:31] sectroyer commented on #4576
I did check on two completely different systems (both hetergenous with two gpus) and the result of command was same:
[code]
Just wanted to leave it if needed for reference or something.

[2021-03-10 15:57] magnumripper commented on #4576
That proves my point, since the actual keyspace you defined in that mask is 1,471,504,859,136. The figure you got as answer is - for whatever reason - divided by (or "in blocks of") 33,696. So where does *that* figure come from? I have no idea, it's not an even number even in binary terms.

[2021-03-10 16:02] magnumripper commented on #4576
OK, so 33,696 is 26x36x36. I bet with other masks you may get other block sizes.

[2021-03-10 16:24] sectroyer commented on #4576
Only thing I need is to have consistent keyspace size across single mask to split the task so that's doable now. However will keep your info in mind to not rely on it (I will try to compute it each run). Tough I was surprised that on two completely different systems this number was in fact consistent, they are even different brands so there has to be "some logic" behind it :) I wonder if this will

[2021-03-10 16:59] sectroyer commented on #4609
Should I test your current git or wait for next PR?

[2021-03-10 17:02] solardiz commented on #4609
@sectroyer No "next PR" is currently planned. The known non-mode-specific issues are fixed, and I don't intend to look into mask mode specifics. So please test what we currently have. Thanks.

[2021-03-10 17:33] magnumripper commented on #4579
So I'm trying current code now. Problem is still there after the other fairly related fixes (as expected) and I suspect this is about "our *1*..*n* process numbers" differing from "virtual node numbers". That is,

If we run *n* nodes, they're **always** called *1*..*n* in terms of "physical node numbers" or "our local process' node numbers", but in this case they are **also** *1467*..*4136* in ter

[2021-03-10 17:55] magnumripper commented on #4579
Actually when running MPI we're even using physical *0*..*7* internally in some code whereas fork or node would call them *1*..*8*. Most output incorporating node numbers use the macro `NODE` which is defined like this:
[code]
This is not great... because it means for MPI we'll always show physical node numbers (except one-based) whereas for --fork we'll always show the virtual node numbers. This

[2021-03-10 18:34] sectroyer commented on #4609
Ok just to clarify since I got confused you mentioned "some passwords are not being cracked" this issue is now fixed? And if yes in which branch? And by testing "what we currently" have do you mean I switch again to bleeding edge or does your branch need some more testing?

[2021-03-10 18:51] solardiz commented on #4609
Yes. (I wouldn't have closed this issue otherwise.)

In bleeding-jumbo right here.

Since all of my PRs were merged, there's nothing in my fork (under the solardiz account) you should be testing. I meant you'd be testing bleeding-jumbo from this repo (under the openwall org account).

[2021-03-10 19:20] sectroyer commented on #4609
@solardiz K thanks but wanted to make sure I didn't miss anything. Tomorrow will switch whole system from your repo to bleeding edge and start testing.

[2021-03-10 19:38] sectroyer commented on #4576
I noticed I get different keyspace size for different algorithm (same command form md5crypt gives 56596340736). However this isn't any longer main issue. Now I had to 🤦 after seeing this error message:
`Use of --skip/--limit is not supported with --increment or mask files.`

After thinking about it for more than 5 seconds it's understandable but this doesn't change the fact that at this point hc l

[2021-03-10 19:47] magnumripper commented on #4576
Unfortunately if I ever push such patches, they'll [likely] only add the alternative syntax of `--node=m[-n]/total` and would merely translate that into whatever `--skip` and `--limit` would be correct at the time. As long as there are restrictions against `--increment` and other things, it will still be a problem.

[2021-03-10 19:52] magnumripper commented on #4576
That makes sense as I believe what we're actually seeing here is sort-of their version of our "internal mask multiplier", which does vary a lot in JtR too, from one to tens of thousands varying with format and/or GPU power - BUT we never expose it in terms of node numbers or keyspace. I'm not saying they did anything wrong, just that our syntax is a whole lot easier to work with IMHO.

[2021-03-10 20:03] magnumripper commented on #4576
Also, in the hashcat world the `--increment` limitation is not by far as bad as it would be for JtR: Our incremental mode will, for example, try weaker candidates of  length 9 earlier than less weak ones of length 4. Forcing the user to do one length at a time would be a seriously bad thing here.

[2021-03-10 20:22] sectroyer commented on #4576
Well I just noticed I made a "typo" in mask. I didn't put 2 (which I use to split between hc and john) anywhere in mask and keyspace size was same. It looks even when I do this:
`./hashcat.bin -m 1500 -a3 -1 ?l?d -2 'abcdefghijklmn' '?u?2?2?1?1?1?1?u' --keyspace  `
I also get 43670016.
Not to mention that slower gpu node displays (with 10% already done) this eta:
`Time.Estimated...: Next Big Bang,

[2021-03-10 22:21] magnumripper commented on #4576
This is exactly how JtR internal mask works and I expect hashcat to be similar: We decide on a "target gpu-side mask multiplier" and then try to get close to it using the factors at hand (in your case 26x for ?u, 36x for ?1 and 14x for ?2) but we may pick them anywhere in the mask if needed. Sometimes even that doesn't end up very well at least in JtR, but it's what we do.

I predict next big bang

[2021-03-11 09:20] magnumripper commented on #4598
[code]

[2021-03-11 10:05] magnumripper commented on #4598
So the LWS test loop is aimed at run for a total of 200 ms. And while the total GPU time does match that afterwards, the wall clock time  is anything between 3 and 9 seconds, *nearly all in the crypt_all calls*. What the heck is happening here?!

[2021-03-11 10:12] sectroyer commented on #4576
I guess by "us" you mean hashcat? Since this is how I use it in john and looks to be working okay across different lengths

I get what you mean but for my small test cases It's matter of having session that will finish within an 1 hour or 8 hours 😄 That's why I switched to johncl for dictionary based attacks. For both descrypt and md5crypt (due to speed I mostly tested on those two types of hashes

[2021-03-11 10:20] magnumripper commented on #4598
BTW isn't this a strange way to sum up the time (risking overflow, if nothing else)?
[code]
I'd put it this way:
[code]
Anyway that's not the issue here.

[2021-03-11 11:24] magnumripper commented on #4598
This is totally just a MacOS bug with the OpenCL profiling: We first test duration for a crypt + cmp_all and the profiling info says it took 7 ms, although it really took almost 300 ms. Based on the incorrect timing we loop for 29 times to reach around 200 ms, but that really make us loop for 8.7 seconds - per LWS...

I could work around this using `john_get_nano()` instead (perhaps only after det

[2021-03-11 13:05] magnumripper commented on #4576
Yes I meant I (or anyone) could add code for it.

[2021-03-11 14:47] magnumripper commented on #4598
I noticed an existing workaround we had for ancient AMD kicked in and helped a little. Decided to improve that one and add a few more.

[2021-03-12 09:38] sectroyer commented on #4609
@solardiz all looks to be okay. Moreover on 32 core system I was able to set node to 64 and fork to 32 and all seems to be working. I guess this issue is now also fixed?

[2021-03-12 13:14] solardiz commented on #4543
FWIW, we just got working GitHub CI for passwdqc today: https://github.com/openwall/passwdqc/pull/9

[2021-03-12 15:31] magnumripper opened #4617 "Subsets bug: Some subsets could be processed more than once"
To my surprise, I noticed I got some dupes from the Subsets mode. This makes it go away:
[code]
@solardiz help me here, how is this diff ANY functionally different from the original? No more context should be needed and as far as I can tell it should be a no-op. I actually came up with this fix after throwing stones at it and watched what stuck. Either I'm a moron or there's a compiler bug showing

[2021-03-12 15:51] magnumripper commented on #4617
It's hardly a compiler bug - I can reproduce both the bug and the fix with clang. Not that I ever thought it was, it's just that for the life of me I can't see how the result should be any different.

[2021-03-12 16:15] #4598 closed, assigned to nobody

[2021-03-12 19:37] solardiz commented on #4617
The difference that I see is if the `while` condition is never met, not even once. In that case, the original code would use whatever value `word_len` had before plus one, the revised code would use `done_len[min_comb]` plus one. I don't know which is right, but the difference is there.

[2021-03-12 20:09] #4604 closed, assigned to nobody

[2021-03-13 05:17] COOLBLACKS commented on #4605
Guy this was the password

&((@)*$((@780637073636f($&()$&)*$'ber89/56@)*$($&((@)*$ ($&6@)*$'berftwolf*$ ($&((@)*$&07$

[2021-03-13 11:57] magnumripper commented on #4617
Oh, right. It's that simple. Thanks!

[2021-03-13 15:46] ghost commented on #4604
FWIW, after the workaround, gcc 11 produces a lot of warnings. Basically at pkcs12 and ripemd128/256.

Listing LTS or recent distros, build is clean using gcc 5.4, 7.5, 9.3, 10.2.1, and clang version: 11.0.1 (it is a short list).

[2021-03-13 16:37] #4617 closed, assigned to magnumripper

[2021-03-13 17:55] sectroyer commented on #4591
Checked latest bleeding edge (after @solardiz pr-ed his changes) and the bug is still present.

[2021-03-13 23:47] magnumripper commented on #4446
https://stackoverflow.com/a/46752535 is a good read (even if not applicable here)

[2021-03-14 00:27] magnumripper commented on #4446
So we can simply do this:
[code]
I tried this, no warning seen from gcc 7.5.0 (no warnings before it either) and after stripping I have an **identical** `simd-intrinsics.o`. I'll produce a complete patch.

**EDIT** that didn't help with gcc 4.4.7 at all

[2021-03-14 11:39] sectroyer commented on #4609
In my setup there is a node with 10 cores and one with 32 cores.  Actual setup was little more complex and had to figure out many more "dependencies" however this oversimplification illustrates the point. When I first started with same node number as fork and tested with des I had 100MH/s on 10 cores node and around 275MH/s on 32 core node. As a result 32 core system was lagging as it wasn't doing

[2021-03-14 16:54] solardiz commented on #4609
I think you could post a more complete write-up on this as a separate topic on john-users.

I think whoever would know about this script and how to use it properly would also have no difficulty doing this manually or writing their own script in less time. But please feel free to suggest something specific that you feel would somehow be more intuitive. For example, you can include and "use" a scrip

[2021-03-14 16:57] solardiz commented on #4591
Of course it is. We'd update this issue if we do anything to fix it, and there haven't been enough other changes yet to significantly affect this bug inadvertently. ;-)

[2021-03-14 18:38] solardiz opened #4621 "Add native yescrypt support"
Although we have and use yescrypt in the tree, we currently only use it to provide scrypt (for several formats), but not native yescrypt. For Linux distros that have started to use native yescrypt hashes via libxcrypt (ALT Linux, Kali Linux) and for those that support them (Fedora 29+), these hashes can currently be cracked by using `--format=crypt`. However, this is suboptimal (memory is getting

[2021-03-14 18:43] solardiz opened #4622 "Add yescrypt hashes autodetection as generic crypt(3)"
For Linux distros that have started to use native yescrypt hashes via libxcrypt (ALT Linux, Kali Linux) and for those that support them (Fedora 29+), these hashes can currently be cracked by using `--format=crypt`. However, there's no auto-detection - this option has to be specified explicitly. We should probably add a `loader.c` hack to provide such auto-detection until #4621 is taken care of, an

[2021-03-14 19:21] sectroyer commented on #4591
Ahh ok I got confused after all this switching between your repo and bleeding edge and wasn't sure what is and what isn't fixed yet :)

[2021-03-14 22:36] wsandin opened #4623 "Capitalize option descriptions in --help"
Created as a follow-up to #4572. We want to start all new descriptions with a capital letter. ~~just as in `core`~~.

This aids in readability, and helps to distinguish where there's a multi-line description for the same argument.

[2021-03-14 22:40] solardiz commented on #4623
FWIW, descriptions _don't_ start with a capital letter in core, but we want to do it in jumbo because it has multi-line descriptions.

[2021-03-14 22:43] wsandin commented on #4623
@solardiz Can I sneak in the update of `doc/OPTIONS` here too that was missed before merge of the updating `--help` PR? I can create a separate PR otherwise.

[2021-03-14 22:50] solardiz commented on #4623
@wsandin What do you want to fix in `doc/OPTIONS`? Re-ordering to match the order in `--help`?

[2021-03-14 23:04] wsandin commented on #4623
@solardiz Yup, but I realise it may be worth postponing until we're entirely happy with the `--help` ordering in the CLI. And when that happens, tag it in the other issue, forget about above question. :)

[2021-03-15 12:12] magnumripper commented on #4446
This does help with gcc 4.4.7
[code]
(Similar changes needs to be applied for MD4 and SHA-1)

[2021-03-15 12:55] magnumripper commented on #4446
Here's a simpler version
[code]
~For some reason this (when applied to MD4 and SHA-1 as well) results in somewhat different code for SHA-1 on my gear (using gcc-10). It can't be seen using the raw format but benchmarking pbkdf2-hmac-sha1 it appears I got a 5% loss in performance. MD4 and MD5 ends up with unchanged code. For what it's worth `objdump -d` produces an additional 80 lines of output.~

[2021-03-15 13:01] magnumripper commented on #4446
Here's a longer diff for SHA-1 that doesn't end up in different code on my gear but still fixes the problem for gcc-4.4.7:
[code]
I really can't see why this happens.

[2021-03-15 16:46] magnumripper commented on #3677
These were fixed in #3934

[2021-03-15 16:46] #3677 closed

[2021-03-15 18:05] #4446 closed, assigned to magnumripper

[2021-03-15 18:51] #4532 closed, assigned to nobody

[2021-03-15 21:05] frank-dittrich commented on #3514
I now have a patch which fixes most of the issues I know of.
bash completion works for --single, --rules, --prince, and other options for which overlapping longer option names exist
fixed --fuzz-dump completion
added completion for --rules-stack, --prince-loopback, --tune

I will submit a pull request once I know how to handle --test-full=LEVEL

It used to be `--test-full[=SECONDS]`
Now it is LEVE

[2021-03-15 21:17] magnumripper commented on #3514
Awesome @frank-dittrich! The `--test-full=N` has a weird history. I thought the only currently allowed parameter was `0` and that it's mandatory, but that doesn't seem to be the case now that I try. Perhaps only the code will tell.

Anyway for bash completion I think you should simply expect a number. As long as it's not optional (as in `[=N]` instead of `=N` in --help output, don't expect it to b

[2021-03-15 21:26] frank-dittrich commented on #3514
I think the --help output should be changed to `--test-full=[LEVEL]` if that parameter is optional.

For now, `--test-f` will be completed to `--test-full=`, but it looks like `--test-full=` without any parameter works like `--test-full` or `--test-full=-1`

[2021-03-15 21:32] magnumripper commented on #3514
Right, we'll fix either the usage blob or other code if needed, so you should trust it.

[2021-03-15 21:34] magnumripper opened #4627 "Document/review --test-full"
I have no clue what the option does now. There seem to be no documentation other than the usage blob, which seems to be incorrect. It's listed as non-optional parameter but seems to be optional.

See https://github.com/openwall/john/issues/3514#issuecomment-799751758

I guess only @jfoug knows now, or do you @claudioandre-br or @solardiz ?

[2021-03-15 21:36] magnumripper commented on #4529
I just added the mentioned test in TS. That was time worth spending, bug in krb5pa-md5-opencl found and fixed.

[2021-03-15 21:51] frank-dittrich commented on #3514
Another question:
[code]
[code]

The (according to doc/SHOW_FORMATS.md deprecated) option `--show=types` seems to work, doc/OPTIONS still mentions --show=types, but it is not mentioned in the `--help` output.

Should I remove `--show=types` from bash completion?
Should I sync bash completion output with this stderr output?
[code]

[2021-03-15 22:04] ghost commented on #4627
More tests are performed when/if `--test-full` is used (within `formats.c` see  var `full_lvl`). I'm ok with the lack in docs (it is a kind of internal stuff).

Anyway, LEVEL should'nt be optional and john is misbehaving (IMO) when LEVEL is not informed.

[2021-03-15 22:22] #4529 closed, assigned to nobody

[2021-03-15 22:27] magnumripper commented on #3514
I think we deprecated `--show=types` in favor of `--show=formats` (which is the same but with json output). I'm OK with either option: Either go by the usage blob or use `--show=help` to get that list.

[2021-03-15 22:43] magnumripper commented on #4627
So the usage blob is correct for showing a required option.
[code]

This is strange though: The code specifies it correctly too, with `OPT_REQ_PARAM`
[code]

Yet somehow it's not required:
[code]

Other options using `OPT_REQ_PARAM` works as expected:
[code]

Edits:
Bisected to 051af51ac, simple logic error fixed in d2657fa7f

[2021-03-15 23:21] magnumripper commented on #4627
With that bug fixed: Apparently `--test-full=-1` is a dumb way to get `--test`.

Level 0 activates the extended tests. There are currently no higher level defined, any positive number just behaves the same as 0.

I suggest we make that parameter NOT required and default to 0, so `--test-full` behaves like `--test-full=0`. Then at least add a brief description in doc/OPTIONS.

[2021-03-15 23:26] ghost commented on #4627
John no longer uses the value n in `--test-full=n`. Agree.

[2021-03-16 00:44] magnumripper opened #4629 "Subsets bug: negative parameter for --subsets-max-diff is not handled correctly"
Maybe it worked better at some point, but currently it's not handled correctly. For example, `--subsets --subsets-max-diff=-2` will currently cap the max diff at `max. length - 2` once and for all.

The intended behavior is to cap it for each length, more like `current_maxdiff = MAX(min_diff, current_length - 2)` and obviously recalculated at each length switch.

Edit: s/MIN/MAX/

[2021-03-16 02:06] magnumripper commented on #3514
Perhaps we should add `--list=format-classes` to get a list of format classes/groups/aliases such as dynamic, cpu, omp, opencl, ztex, all, disabled, enabled that should be included as well.

[2021-03-16 12:20] solardiz commented on #4627
I'd prefer `--test-full` to be the same as `--test` in how it handles its parameter - that is, make it optional and have it mean seconds for the benchmark. The only expected difference between the options would then be that `--test-full` would, like the name implies, run full(er) self-tests prior to the (optional) benchmark (skipped with `=0`).

[2021-03-16 13:24] ghost commented on #4627
I dislike the idea. A `-test-full = 5` is not intended as a benchmark

We shouldn't forget that `-test-full=n` is a `--test=0,n` . In the past john has `--test=0,0` and `--test=0,1` (more tests).

PS: At this right moment, john has `--test=0,0` only.

[2021-03-16 19:44] TheA1ch3m1st opened #4631 "gpg2john failing when file is big"
gpg2john fails when the file size is big, seems like an anti-bof measure?
![image](https://user-images.githubusercontent.com/64515352/111370428-44fda280-86a9-11eb-838e-6e7df94e53ee.png)

[2021-03-16 19:56] magnumripper commented on #3514
Thanks a lot Frank!

[2021-03-16 19:56] #3514 closed

[2021-03-16 20:14] magnumripper commented on #4629
This isn't trivial, maybe I should just drop the whole idea of it and stop supporting a negative figure. Or maybe even keep the current functionality and document it as that.

The rationale was something like "don't quite exhaust any length, hey we're called subsets for a reason" using eg. `--subsets-max-diff=-1` but I'm not sure it's worth the complexity and it might be a bug magnet or foot gun.

[2021-03-16 20:16] fhuberts commented on #4604
thanks for merging!

[2021-03-16 20:35] fhuberts commented on #4604
AFAICS the warnings in ripemd don't seem related to this fix. the ones in pkcs do seem related.
gcc 11 is a lot stricter about a lot of things.
I haven't investigated.

[2021-03-16 20:48] frank-dittrich commented on #3514
I guess this is still open.

the only "class" added so far is `dynamic`.
We'd need the other classes as well.
I could add a hard coded list to bash completion, but I wouldn't want  to add ztex unless really available.

@magnumripper I guess you are the only one who really knows all possible ways to specify or exclude certain formats or format classes, e.g.
[code]
Let me know if we should add suppo

[2021-03-16 23:45] magnumripper commented on #3514
Adding format classes isn't very important for the relase, it would just be nice to have sooner or later. Let's say I'll add `--list=format-classes` soon-ish and let you know, and then you'll add support for using it if/when you've got time. If all that happens pre release, all the better. If not, well, the things you did just now was hell of a lot more important 👍

Solar said back then:

I hate n

[2021-03-17 00:16] ghost opened #4632 "Some formats fail '-internal mode internal mask' test"
It is hard to reproduce. So far I've seen it only using AMD CPU driver (but it is NOT a driver bug). To reproduce:
[code]

A patch follows ("my formats" only), but I'm not closing the bug. I also saw a failure (SIGSEGV) in: **[edited]**
* `mysql-sha1-opencl`.
* `raw-sha1-opencl`
* `raw-md4-opencl` (return code: 135)
* `raw-md5-opencl`

[2021-03-17 00:42] ghost commented on #4631
You can make the buffer bigger and test (gpg2john.c at line 141).

You should also run it using `-d` or `-S` in order to check if everything is ok (seems to be ok, at least). Reading the comments in source code, 106M is not a valid value.

[2021-03-17 00:52] #3536 closed

[2021-03-17 00:52] #3018 closed

[2021-03-17 07:53] TheA1ch3m1st commented on #4631
Thanks!

[2021-03-17 10:41] solardiz commented on #3993
This issue keeps confusing people. For example, when a new user ran `john` on a ZIP file directly (not through `zip2john`), they apparently got suggested `--format=HMAC-SHA224` and proceeded to run with that. I think there are actually two fixes needed here to minimize such new user confusion: (1) make the HMAC formats' `valid()` stricter, and (2) detect binary file types that we have `*2john` too

[2021-03-17 11:02] solardiz opened #4634 "Drop obsolete/broken badges from README.md"
I think we should drop the Travis CI badge (we're not using Travis now) and the lines of code badge (it's showing 6.0K, which is obviously wrong).

@claudioandre-br If you agree, please send a PR with this, or let me know if I should. Thank you!

[2021-03-17 11:04] solardiz commented on #4604
Can someone post those warnings in here or to a new issue, please?

[2021-03-17 11:13] solardiz commented on #4631
I think this is a case of user confusion, and no source code editing will help. As I understand, a `file.zip.gpg` is something encrypted with GnuPG to a certain public key, and the corresponding private key would be needed to decrypt the file. There's nothing John the Ripper could possibly do here - it is a password/passphrase cracker, not a public key cryptosystem cracker. It could be used on a p

[2021-03-17 11:16] TheA1ch3m1st commented on #4631
it is symmetric encryption using AES-256. GPG2JOHN extracts the hash, the same way ssh2john extracts the hash from a private key. This is just a more efficient way of bruteforcing the private key, instead of entering it via a gui or attempting to decrypt the file every time. again, this is symmetric encryption, and NOT asymmetric, hence there is no correspondence of keys.

[2021-03-17 11:20] solardiz commented on #4631
@TheA1ch3m1st Ah, OK. So did you manage to get this working by increasing the buffer size? All the way to 106M+?

[2021-03-17 11:22] TheA1ch3m1st commented on #4631
I didn't need to, the wordlist I was testing anyway was no more than 12 words, so I decided to do it manually. I will test later though just to find out.

[2021-03-17 11:27] solardiz commented on #4631
Please do. We'll also need to try and reproduce this issue. Re-opening.

[2021-03-17 11:31] solardiz commented on #4631
https://github.com/openwall/john-samples/tree/main/GPG only contains secret keys, not arbitrary symmetrically encrypted data. I think we need to create such samples, test with them, and add them to that repo. We do appear to have some symmetric encryption support in the code.

[2021-03-17 11:33] TheA1ch3m1st commented on #4631
well, i was able to crack multiple symmetrically encrypted files with gpg2john. I would do `gpg --cipher-algo AES-128 --symmetric file.txt` then run `gpg2john file.txt.gpg > hash.txt` and that would return a hash. then I'd do `john hash.txt --format=gpg --wordlist=arbitrary/wordlist`. for reference, im using parrotOS, and didn't install anything. the gpg2john binary was already there, in path, fou

[2021-03-17 11:36] TheA1ch3m1st commented on #4631
oh and, I don't code in C and don't really get how to compile. I edited the code but it needed an arch.h library? i just downloaded the gpg2john.c file and attempted to compile with gcc after changing the code. i can provide the large file that gpg2john fails with.

[2021-03-17 11:44] solardiz commented on #4631
How large were those?

For further occasions, please mention such detail in your very first comment when opening an issue. By default, we assume that any issue is against our latest code from this repo, not against some distro package likely of an older version. (In this case, though, I think we haven't made relevant fixes to `gpg2john` lately, so the issue probably still applies to the latest.)

[2021-03-17 12:05] TheA1ch3m1st commented on #4631
A few kilobytes at most.

I'll try that.

https://mega.nz/file/bpIBAaZY#JeVgOD02Q56MpO5U3-NxaiXISb_SiJrX2fSB4YAr2Fs here's the big file.

oop, no makefile found.

[2021-03-17 15:29] magnumripper opened #4636 "Add --list=format-groups options, for future bash completion"
See https://github.com/openwall/john/issues/3514#issuecomment-800686198

[2021-03-17 18:19] solardiz commented on #4631
Please don't edit your comments to say something very different from what they used to say.

This indicates the `./configure` step failed - it must have reported an error. Most likely, you don't have some prerequisite packages installed.

[2021-03-17 18:20] TheA1ch3m1st commented on #4631
I'll try again in a bit, although I still think it's better if you do that considering my very little knowledge in C.

[2021-03-17 19:07] solardiz commented on #4634
Fixed in #4635

[2021-03-17 19:07] #4634 closed, assigned to nobody

[2021-03-18 06:03] fhuberts commented on #4604
[f34-buildlog-john.txt](https://github.com/openwall/john/files/6161648/f34-buildlog-john.txt)

[2021-03-18 12:45] solardiz opened #4637 "gcc 11 warnings"
As @fhuberts reported in https://github.com/openwall/john/issues/4604#issuecomment-801655083 for 77aab40c4 on Fedora 34:

[code]

[2021-03-18 12:49] solardiz commented on #4604
@fhuberts Thanks! What revision from this repo does this correspond to? Your build log mentions g77aab40c4, but there's no such commit here.

[2021-03-18 13:21] NonoLePoulet opened #4638 "DPAPImk2john.py is Python 2 only"
When i am trying to run DPAPImk2john.py, it return an error :
  File "PathToJohn\run\DPAPImk2john.py", line 339
    print "%s-%s-%s-%s-%s%s" % (format(GUID[0], '08x'), format(GUID[1], '04x'), format(GUID[2], '04x'), format(GUID2[0], '04x'), format(GUID2[1], '08x'), format(GUID2[2], '04x'))
          ^
SyntaxError: invalid syntax

[2021-03-18 13:30] solardiz commented on #4638
This is a Python 2 script, but you appear to run it with Python 3. Not really a bug, but we should make this script Python 3 compatible.

[2021-03-18 13:39] solardiz commented on #4638
@Fist0urs @clavoillotte @jagotu Does one of you possibly want to make `DPAPImk2john.py` Python 3 compatible (ideally keeping it Python 2 compatible as well) and test that? (The three of you are recent committers to this script.) Or maybe @exploide wants to take care of this (having made related contributions to other scripts)? Thanks!

[2021-03-18 16:16] fhuberts commented on #4604
I have cloned https://github.com/openwall/john.git  and that commit is there and in my tree (strip the 'g')

[2021-03-18 16:18] magnumripper commented on #4604
Oh, but there is! 77aab40c40

[2021-03-18 16:24] magnumripper commented on #4637
That would be line 276, right? But it doesn't make sense. This is line 276 on:
[code]
Not sure I've seen a compiler failing to report the actual line number before, just because some macro? Anyway one could perhaps guess that the actual problem is in some line of `md_helper.c` containing `RFUN`.

[2021-03-18 16:35] solardiz commented on #4637
The full warning message for line 276 is this:

[code]

Perhaps I need to come up with a longer grep or sed expression to extract them all.

[2021-03-18 16:38] magnumripper commented on #4637
I did some quick search of upstream and so far only found sphlib 3.0 (mirrored on github) with an identical `md_helper.c`

[2021-03-18 16:40] solardiz commented on #4637
I think the latest sphlib is at https://github.com/pornin/sphlib and it's unmaintained.

[2021-03-18 16:44] solardiz commented on #4637
Hopefully, the full warning messages:

[code]

[2021-03-19 08:47] NonoLePoulet commented on #4638
Ok, thanks for the reply.
You should specify in the readme that some scripts require python 2, because it wasn't very clear witch version of python you needed.

[2021-03-19 08:55] solardiz commented on #4638
Maybe we should have such scripts themselves use `python2` in the shebang line.

[2021-03-19 10:51] kimusan opened #4639 "force requirement for equal sign after --wordlist"
### Steps to reproduce ###

[code]

The command line should either mandate the need for the equal sign or accept that it is not used and understand that words.txt is in fact the wordlist.

### System configuration ###
[code]

[2021-03-19 12:54] solardiz commented on #4639
Neither of these changes is an obvious improvement overall.

We currently have many options (not just `--wordlist`) that accept an optional parameter (and thus don't expect any parameter when used without `=` or `:`, letting the next `argv` string be processed as a separate option or password hash file name). To "mandate the need for the equal sign" means we'd need to have all of those require the

[2021-03-19 12:59] solardiz commented on #4639
Or maybe we can in fact address the special case of `--wordlist` only since this option and this new user error are so common. In that case, I suggest we drop support for pre-configured wordlist from there. The pre-configured wordlist would then be for batch mode only. We'd need to update the documentation accordingly. I'd appreciate comments on this - for or against.

[2021-03-19 13:28] kimusan commented on #4639
I see the problems you mention but do wonder how often people make this mistake. Also I noticed that the man page say -wordlist:FILE but does not mention that it can use a predefined wordlist without the :FILE part.
Not sure what the best solution would be here - maybe it is possible to identify that the arg after --wordlist is in fact a wordlist or if it is a hash file or whatnot.
You could also

[2021-03-19 13:56] magnumripper commented on #4639
When you say "man page", is that some distro's man page that actually isn't in our tree?

Here's from our doc/OPTIONS:
[code]

[2021-03-19 14:04] magnumripper commented on #4639
I'm not very fond of this idea.

...and that would be outright ugly.

Perhaps we could add some heuristics for whatever argument come immediately after `--wordlist`. If it is a file and "looks" like a wordlist - or doesn't contain any hashes (although most 13-char words could be parsed as a DEScrypt hash, and 10-char words could be parsed as tripcode) - we could raise a warning. I'm not very fond

[2021-03-19 14:05] frank-dittrich commented on #4639
Core john 1.8.0 from Fedora 32 has
[code]
May be this is how `--wordlist=FILE` ended up in a distro's man page.

[2021-03-19 14:07] kimusan commented on #4639
Yes it was from the Kali Linux distro.

[2021-03-19 14:10] frank-dittrich commented on #4639
You could report a Kali Linux bug, suggesting a fix to the man page.

[2021-03-19 15:09] kimusan commented on #4639
Indeed. The current man page does seem to be very bad.

[2021-03-19 17:03] exploide commented on #4638
Yes, changing the shebang to `python2` would be the correct short term fix.

The [DPAPImk2john.py](https://github.com/openwall/john/blob/bleeding-jumbo/run/DPAPImk2john.py) script is comparably complex and I'm not deep into the DPAPI stuff. Maybe I find some time to see at least how much effort it requires or if it is just an easy fix.

Sample data along with complete command line invocations woul

[2021-03-19 18:29] solardiz commented on #4639
I've seen people make it many times, however when they do it's often not the only mistake in their command line anyway.

@frank-dittrich Thank you for the reminder that allowing `--wordlist` without a parameter is a jumbo extension, which wasn't and still isn't in core. I think we should just drop it from jumbo, then.

Does Kali have its own man page for `john` or have they perhaps reused Debian's

[2021-03-19 18:31] solardiz commented on #4639
Oh, one problem with dropping support for `--wordlist` without a parameter is that it will break restoring of such sessions unless we add some kludge in the code to support `--wordlist` without a parameter only in restored sessions. Not ideal, but can be done.

[2021-03-19 20:24] solardiz commented on #4638
@exploide I'd appreciate it if you identify all of our scripts that are Python 2 only (I think grepping for "print " gives something close) and change their shebangs accordingly (in a PR). Thanks!

I doubt the changed shebang would have been of much help to @NonoLePoulet, though, who appears to be on Windows (judging by the backslashes) and is probably invoking `python` manually. The hope there wo

[2021-03-20 05:07] frank-dittrich opened #4640 "Trying to build with rexgen enabled"
Latest rexgen doesn't even compile anymore (on Fedora 32), and it looks like https://github.com/janstarke/rexgen hasn't been maintained for almost 2 years.

To be able to compile latest rexgen, I applied this change:
[code]
Apparently, applying https://github.com/janstarke/rexgen/pull/64 on top of https://github.com/janstarke/rexgen/commit/585e86da6a07a63ec7a871320b307457661d557c also helps.
[code

[2021-03-20 05:41] frank-dittrich commented on #4640
This helped,
[code]

[code]

[2021-03-20 12:15] solardiz commented on #4640
@frank-dittrich What do you suggest we do about the regex mode for our next release? I think the options include: drop it, add documentation on known issues and how to overcome them, include a patch against rexgen and documentation on applying it, bundle a version of rexgen in jumbo (in which case we'd end up maintaining it ourselves, but could as well enable it by default), or leave everything as

[2021-03-20 12:20] solardiz commented on #4623
Fixed in #4624. Closing.

[2021-03-20 12:20] #4623 closed, assigned to nobody

[2021-03-20 12:22] solardiz commented on #4459
This issue has been mostly taken care of, but some further re-ordering might still be desirable (I'll probably give it a try) and then there's @wsandin's kind offer:

I am leaving the issue open for now for these two things.

[2021-03-20 14:47] frank-dittrich commented on #4640
I suggest to still support it for now, but warn in doc/README.librexgen and configure, that rexgen still contains some serious bugs and that support might have to be dropped in future releases, because rexgen appears to be not longer maintained.

I'll try to come up with appropriate wording, and detailed build instructions.

While in some areas there are improvements
[code]
There are still some se

[2021-03-20 18:33] frank-dittrich commented on #4640
for
[code]
I found a solution which at least avoids the segfault, but rejecting `[]` as invalid would probably be better than my current 'fix':
[code]
My clumsy "fix" breaks output for `rexgen '(ab[cde])\1'`
see
https://github.com/janstarke/rexgen/issues/65#issuecomment-803439267
(Rather than trying to maintain rexgen, I might try to reject some illegal regular expresions in john's regex.c.)

Anot

[2021-03-20 23:14] frank-dittrich commented on #4640
Now that I managed to build john with rexgen support, I noticed that combining --regex with other modes doesn't work.
[code]
[code]
I need to dig into it to find out whether this has been caused by changes in librexgen or john (or both).

[2021-03-21 10:06] sectroyer commented on #4609
At beginning it might be automised in a way where you simply pass something like percentage power to john and it calculates it into correct node values but the more time I spent on it the harder it looked. Finally I gave up and coded simple script that does this calculation. Of course you can do it manually but it's much easier to simply pass to script and get output 😃

[2021-03-21 13:52] frank-dittrich commented on #4640
Due to the problems I discovered with trying to make john --regex work with latest librexgen, I closed https://github.com/openwall/john/pull/4642

Based on https://github.com/janstarke/rexgen/commit/5b2f4b159ec948c1f9429eca4389ca2adc9c0b07 (which is the latest commit which allows building librexgen without problems) I prepared a new patch.

Now, all the segfault I got with rexgen 2.1.3 are gone, s

[2021-03-21 16:18] solardiz commented on #4640
Please assume that this will stay broken and send a PR with the above (or amend your existing one, but have this as a separate commit that we can easily revert in case someone does figure out how to fix this functionality later). Thank you!

[2021-03-21 16:56] frank-dittrich commented on #4640
using `git log -L:SetupAlpha:src/regex.c` I came across
[code]
So, in April 2015, this must have worked.
At that time, the most recent rexgen commit was
[code]
rexgen version at that time was 1.2.3

With my Fedora 32 toolchain I wasn't even able to build that rexgen version.

On super, with the oldest toolchain, I managed to checkout commit 45bbb1689471352bb77ef25f003b4bc6086d7e6e and build john a

[2021-03-22 11:25] MrNonoss opened #4644 "telegram2john.py [Errno 21] Is a directory"
Hi there,

I am trying to create a hash of a Telegram Desktop install on a Windows 10 forensic image.
My working computer is also a Windows 10 machine, with wsl2 and a kali subsystem

### Steps to reproduce ###
I mounted my forensic image into a dd like and mounted the windows partition to /mnt/ewf.
The command is : /usr/share/john/./telegram2john.py "/mnt/ewf/Users/XXXXX/AppData/Roaming/Telegram

[2021-03-22 12:03] ghost commented on #4644
Could you please try to run it using the latest version from here (github repository)?

[2021-03-22 12:07] MrNonoss commented on #4644
My bad. I thought I had the latest version already.
Many thanks ;)

[2021-03-22 12:07] #4644 closed, assigned to nobody

[2021-03-22 20:58] sectroyer commented on #4576
Ok, back to this issue and I after some more digging I (partially) changed my mind about it. I still love `--node` option and I still believe hashcat SHOULD have something like that. Currently ONLY john has any concept of splitting a task between multiple nodes and there is no reason any other cracked wouldn't have something similar. If you want to simply split task between multiple nodes you have

[2021-03-23 11:50] solardiz commented on #4576
@sectroyer This is more of a john-users topic. Anyway:

What you describe as the "second approach" is something I've been successfully using `--node` for, with very high virtual node counts. Like a million. In 2012-2014 for use in password cracking contests, I had a set of Perl scripts communicating over SSH forced commands, where the agents would request next batches of work (`john` command lines

[2021-03-23 16:46] sectroyer commented on #4576
@solardiz
I've decided to put it here because this issue was about adding such options to john and I wanted to add something to this discussion.
First of all I dig around little more and I do NOT believe `--skip/--limit` were implemented in hashcat to be used in distributed systems. If I understand correctly they exists because hashcat stores full command line it was started with in restore file a

[2021-03-23 17:02] magnumripper commented on #4576
The thing is most of our modes will try to get the best candidates early (as opposed to dumb-force). So once you split it in say 100,000 pieces, you'd always hand out the *lowest node (piece) number(s) not yet completed*. If some node stopped reporting results, you can re-issue that work piece just like hashtopus would.

No! And that's why it's not that simple. If your keyspace is a quadrillion an

[2021-03-23 17:04] magnumripper commented on #4576
No, wait. The *second* paragraph of what I just wrote is true. And this makes the first paragraph not make any sense.

[2021-03-23 17:13] magnumripper commented on #4576
Somewhere in my own confusion above, I can see the point of what you are asking for. Since we hopefully serve the very best candidates early, splitting it in 100,000 pieces **by round-robin** would be a bad thing in case it takes ages before the 90,000th piece gets served to any node. So for applications like hashtopus it might be a good thing to mimic the skip/limit options.

However, several of

[2021-03-23 18:04] magnumripper commented on #4576
I think this is interesting enough to re-open, at least while assessing the problem and possible solutions.

[2021-03-23 18:07] solardiz commented on #4576
@magnumripper I think @sectroyer wasn't even talking about testing the candidate passwords in an optimal order yet.

@sectroyer Your latest comment tells me that you misunderstood my previous one. Let me illustrate what I had meant. Suppose we split the task into 100000 virtual node numbers. We can then hand out jobs like `--node=1/100000`, then `--node=2/100000` and so on. If we only have, say, 1

[2021-03-23 18:08] solardiz commented on #4576
Oh, by the way, my scripts also allowed for changing the number of agents on the fly - new ones connect, some die off, etc. It's this flexible.

[2021-03-23 18:11] magnumripper commented on #4576
Maybe not, but I didn't quite recognize this problem until now. I think we might actually want to add skip/limit functionality for that very reason - unless the implementation of it is so "hard" we decide it's not worth it.

[2021-03-23 18:15] solardiz commented on #4576
I'm not seeing whatever reason you're seeing.

Let's first see what we have with `--node` now. Like I mention, it worked quite well for me as a primitive for building dynamic distributed processing upon. As I recall, things were also reasonable in terms of candidate ordering.

[2021-03-23 18:20] magnumripper commented on #4576
We (at least I) have been saying for a week or two that you can just split the job into a very big number, like 100,000 nodes, and then use them as "work items" as opposed to actual nodes. This is highly suboptimal considering we try to split by round robin, is it not?

[2021-03-23 18:26] solardiz commented on #4576
Oh, right. Now I think only cared about that during those contests for incremental mode, running it as a never-ending mode, and I worked that around somehow (actually set the total node count to beyond the number of "charset order" entries, letting the node numbers simply become the entry numbers?)

[2021-03-23 20:41] sectroyer commented on #4576
@solardiz I understood what you mean but probably I didn't explain clearly what I meant. For your example 100000 is the limit you can't handle 10x nodes or anything like that. But as I explained you CAN do a lot with `--node` as it's pretty powerful but still a lot of this should be done by distributed systems. Also I didn't mean to say that `--skip/--limit` should replace `--node`. I think of tho

[2021-03-23 21:45] solardiz commented on #4576
@sectroyer I don't understand what you mean by this:

Please provide an example of what you'd like to do but you think you cannot. I continue to think you misunderstood me.

[2021-03-24 10:27] magnumripper commented on #4576
No, regardless what we implement you will **never** be able to define a work piece such that it will be the *actual same bunch of candidates* between john and hashcat, that's for sure. We do things differently on every level. So hashtopus would definitely need to define a task either john-only or hashcat-only. Now once that fact is established, perhaps your "need" for skip/limit fades significantl

[2021-03-24 11:05] magnumripper opened #4645 "Apple M1 OpenCL tests"
The M1 GPU is mediocre compared to a discrete one but fairly good compared to similar ones like intel's.

First, which formats work at all? For years, we've had many problems with macOS runtime/drivers. This is macOS Big Sur 11.2.3, driver version "1.2 1.0" [SIC].

Listing only the ones that failed, from `./john -test=0 -form:opencl`
[code]
I think this is better than the results on an intel Mac (

[2021-03-24 11:15] magnumripper commented on #4645
Some benchmarks
[code]
This is very roughly 1/3 of the speed of a discrete (laptop) AMD Vega 20 but 4-5x faster than an Intel UHD Graphics 630 (both in an older intel MacBook).

[2021-03-24 17:48] solardiz commented on #4576
You sort of can do that by splitting the mask by a character, e.g. have hashcat test passwords starting with [a-i] and john [j-z]. Then it doesn't matter that the tools test the rest of the mask in different order and different blocks.

Maybe it should be a modifier option changing the behavior of `--node` instead.

In a sense, this is analogous to "words first" vs. "rules first", which is also so

[2021-03-24 18:34] magnumripper commented on #4576
Good point.

True. While the example is only relevant for the wordlist+rules case, yes, I too had the idea this might be an option at some other level.

[2021-03-25 22:58] sectroyer commented on #4576
Okay instead of using 1000000 as big number let's say our "big number" is 10 :) Easier to explain that way. I can divide 10 between 5 nodes, 10 nodes but can't do much if there is 20 nodes. Also it's hard to decide on good "starting number" if you don't have something like `--keyspace`. Also I think same params are used for dictionary based attacks. I will try to summarise it once again there are

[2021-03-26 03:06] magnumripper commented on #4576
For what really? Just split the keyspace in whatever number of slices you feel like, and serve them. OK maybe you want a job to run for some fairly controlled and/or short amount of time? That should be doable anyway. Launch a tiny job and watch how fast it completes. If it was 5x too fast, launch a 5x larger one next time.

I'm pretty sure that if you started by giving away `--node=1-10/100` you

[2021-03-26 09:44] baxitaurus opened #4647 "John fails to crack zip file when the filename is a valid hash"
### BUG ###
John is failing to crack a zip file whose filename is a valid hash. I didn't try to reproduce the bug with another file type.

### Steps to reproduce ###
Create a zip with filename `9fdaa46e100f0dc089d68662db2f5759` and encrypt with `infected`. Try to crack it:
- `zip2john 9fdaa46e100f0dc089d68662db2f5759 > hash`
- `echo 'infected' | john --stdin hash`
- `john --show hash`
`0 password

[2021-03-26 09:56] magnumripper commented on #4647
If I reproduced correctly, here's the first lines of output from john:
[code]
Given this informational message, how is it a bug?

[2021-03-26 10:00] solardiz commented on #4647
@magnumripper Can you show what the `zip2john` output line looks like?

I think it's sort of a bug in that it unnecessarily becomes a special case where use of the `--format` option is required even though a `*2john` tool explicitly labels its output with a hash prefix like `$zip$` or `$pkzip$`. This is especially nasty in that `zip2john` can produce both of these kinds, so we recommend against us

[2021-03-26 10:06] MojoMoe opened #4648 "Request to support FPGAs that are more easily available"
Question/Request rather than issue.

Since Ztex 1.15y are unobtanium. Are JtR developers working on supporting any other FPGAs that are more easily available?

[2021-03-26 10:07] solardiz commented on #4647
BTW, the suggested password "infected" tells me this might have to do with automatic testing of files for malware - to include even encrypted archives in such testing when their passwords are weak enough for that. That's dangerous, but I guess some people are actually doing it. I hope they do it in temporary VMs or such.

In that use case, there's no one to see the warning messages, the filename m

[2021-03-26 10:10] solardiz commented on #4647
... or maybe the filename is a hash of file contents, which is reasonable in that malware detection use case, although it lowers the chances of successfully recovering the password unless the original filename and its portions are inserted into a wordlist.

[2021-03-26 10:11] magnumripper commented on #4647
Well my first try (creating an archive from `arm*h`) actually "failed" to misdetect, likely becuase of restrictions in NT format's `prepare()` but this one reproduced it:
[code]
[code]

[2021-03-26 10:16] solardiz commented on #4648
Which makes it a better fit for the john-users mailing list than for GitHub, but I don't mind.

Currently, no. You want to sponsor such effort?

See also #4019, #4526.

[2021-03-26 10:18] magnumripper commented on #4647
I thought the problem was the first field, but it isn't. That one ended up as `9fdaa46e100f0dc089d68662db2f5759/test.txt` as opposed to just the hash. The misdetection is actually caused by 4th field being hex of len 32.

Here's the function
[code]
It sees the file name in `split_fields[3]` and reckons it's pwdump format.

[2021-03-26 10:22] magnumripper commented on #4647
The reason for the above was the total line length from `zip2john` was longer than `LINE_BUFFER_SIZE` so only formats with `FMT_HUGE` flag would get a chance to try it.

[2021-03-26 10:24] solardiz commented on #4648
@MojoMoe Seeing the issues you opened with other projects, it looks like you're currently only(?) into Bitcoin wallet password recovery. We do not currently support that on _any_ FPGA. #4526 includes discussion on how such support might be added, but there's currently no incentive to do so.

[2021-03-26 10:26] magnumripper commented on #4647
OK so zip2john puts the filename-inside-archive in the uid field, and the archive filename in the gid field. I think this is done for being able to pick stuff from an input file that contains many hashes ([ab]using `-user` and/or `-group` options) as well as for single mode to permute those names. We could opt to tweak where they are placed.

[2021-03-26 10:28] solardiz commented on #4647
I think the second field starting with a '$' makes this invalid as PWDUMP format file, so perhaps we could check for that in the NT formats' `prepare()` (add an exclusion)?

Does it? I think those would be more like the GECOS and home directory fields.

[2021-03-26 10:29] solardiz commented on #4647
I think it's a `zip2john` bug to abuse the fields like that. We should fix that.

[2021-03-26 11:36] MojoMoe commented on #4648
Thank you very much for your quick response. That is correct. I have a focus on bitcoin password recovery for now, because of the potential there with forgotten passwords. So it looks like for now we are just stuck with the unobtanium GPUs at triple MSRP. Please feel free to close this issue. Thanks again.

[2021-03-26 12:06] #4648 closed, assigned to nobody

[2021-03-26 14:27] baxitaurus commented on #4647
Hi guys, thanks for the fast reply. Don't mind the `infected` password, it was just an example.

I just inspected the issue deeper and found out that despite adding the `--format=pkzip` fixes the brute forcing, John is unable to show the found password.

Let me show you an example where the targets are `asd-with-password.zip` and `b1597b75ac1a109df50f5f0dcf381952` which are the same zip file cover

[2021-03-26 14:59] ghost commented on #4647
It works (here) when I use the format option.

[code]

[2021-03-26 15:32] baxitaurus commented on #4647
Yes sorry it was mine mistake, I just looked at the bash history and I noticed an error when trying with `--show --format=pkzip`, with the format option it works fine.

[2021-03-26 21:26] sectroyer commented on #4576
If that's the case then I guess there should be some x,y,z to `--skip/--limit` formula that I could implement in an agent. Or maybe john itself could do such formula?

When I was researching this topic I stumbled on 2 hours youtube vide about hashtopolis. It was kinda q&a with authors and there he was explaining (I am "quoting" from memory, so not 100% sure about exact wording) that they could "im

[2021-03-27 10:07] magnumripper commented on #4647
Yes, definitely. We should do so for both NT formats and have a look at the LM formats as well.

[code]
For my arm32.h test file, zip2john placed `9fdaa46e100f0dc089d68662db2f5759/arm32le.h` in the 1st (login) field. The hash goes in the second of course. The third is `arm32le.h` and the fourth is `9fdaa46e100f0dc089d68662db2f5759`. I do believe those are `uid:gid`. After them, again `9fdaa46e100f

[2021-03-27 10:39] magnumripper commented on #4639
It will also break many existing scripts used around the world, I would guess.

[2021-03-27 10:41] solardiz commented on #4647
To me, `zip2john` abusing the uid:gid fields is the real bug here, and must be fixed. This is what I added the "bug" label for.

Adding an exclusion to LM & NT formats is something we may do, but it's less obvious. (Yes, I did suggest it, but I am still unsure.)

[2021-03-27 10:45] magnumripper commented on #4647
I'm all for changing zip2john as well, but IMHO the added check in LM&NT is great and we should keep it. For one, I'm pretty sure something along the lines of this issue could happen with other files as well, maybe even files not created by our tools.

[2021-03-27 10:45] solardiz commented on #4639
Good point.

Other than that, I was thinking we could add `OPT_REQ_PARAM` in the initializer, but then remove this flag when and just before restoring a session. And update documentation.

So I think either we try that fix I've just suggested, or close this as WONTFIX. Any preferences?

[2021-03-27 10:46] solardiz commented on #4639
Oh, one other thing we could do is have the loader print a Warning if the number of loaded hashes is (way) below the number of read lines. This would not be specific to this one issue, but it'd help here as well.

[2021-03-27 10:49] solardiz commented on #4647
You're right, magnum. OTOH, I am concerned that some tool could be creating PWDUMP-style files with LM/NT hashes where they put some identifiers that just might happen to start with a '$' into the second field (which is normally a UID in PWDUMP files).

[2021-03-27 10:50] magnumripper commented on #4639
Good point.

Personally I'm strongly against adding `OPT_REQ_PARAM`. We could simply add an extra line when wordlist starts though, telling what file it uses. That could give people a chance to realize their mistake.

[2021-03-27 10:56] magnumripper commented on #4647
I did test it with several thousands of hashes scraped from pastebin (so likely created with all sorts of pwdump tools) and nothing changed in numbers of loaded hashes.

[2021-03-27 10:59] solardiz commented on #4576
@sectroyer Your logic failed to apply to what I had suggested right where you chose 10 as the "big number". You really need to choose a number big enough that you'd never have more physical nodes (or processes) than that.

In my suggestion, you wouldn't be dividing the big number space between nodes. You would treat those virtual node numbers as pieces of work, to be handed out to whatever nodes a

[2021-03-27 10:59] magnumripper commented on #4647
I would call it repurposing, not really abusing. Exactly why is it a bug? Do you want us to stop using them for WPAPSK as well? That would be a pity, it's very very useful.

[2021-03-27 11:01] solardiz commented on #4639
Good idea. Maybe let's only print this extra line when using the pre-configured wordlist? I think we already print it during batch mode, so we should just enable its printing during wordlist mode with no wordlist specified as well.

[2021-03-27 11:10] solardiz commented on #4647
Are any users aware of such repurposing? If no one knows, then it's more of a bug. I didn't recall WPAPSK doing this as well.

[2021-03-27 11:37] magnumripper commented on #4647
I guess it isn't properly documented but I believe the use of it has been discussed in the ML and other fora. I could document it better, but not sure where. Add a `doc/README.wpapsk`? Or it could be noted (in a more general sense) in `doc/OPTIONS` for the `--users/--groups` options.

[2021-03-27 15:13] sectroyer commented on #4576
I used 10 only as an exaggeration to explain what I mean 😄  Still the question remains what is a "number big enough" if we don't have `--keyspace`. We could use hardcoded size of keyspace (for example 10^9) and it might kinda work but would break sets of tasks (supertasks) as each task would have same "keyspace". Also I remember you warning me about not using too big values for `--node` so what is

[2021-03-27 18:14] #4647 closed, assigned to nobody

[2021-03-27 18:48] #4639 closed, assigned to nobody

[2021-03-29 15:08] sectroyer commented on #4576
I was looking for a good place to print keyspace size (as a temporary solution) and trying to implement something based on what is already in john. I notice you update `mask_tot_cand` multiple times but is `do_mask_crack` a good place to print this value here:
[code]

I also noticed this comment:
[code]

So does this mean that in eta calculation mask_tot_cand is more "up-to-date"?

[2021-03-29 15:18] solardiz commented on #4576
@sectroyer Just what problem are you trying to solve? Yes, we did discuss that too large total virtual node numbers are problematic for some modes, but why don't you just give the approach I had suggested a try for mask mode? I think this is the first thing to do, and there might not be any code changes needed to get it to meet your needs. Just use, say, 1 million virtual node numbers for your key

[2021-03-29 15:38] sectroyer commented on #4576
Well main issue is this piece of code:
[code]

From this file [hashcat_cracker.py](https://github.com/s3inlc/hashtopolis-agent-python/blob/master/htpclient/hashcat_cracker.py).

I can hardcode it to always return "1 million" but that won't solve the issue :) My point is not to show that it can be done. I already analysed enough of hashtopolis code to see that it IS doable. I just want to do it in

[2021-03-29 15:46] solardiz commented on #4576
Why don't you hard-code the virtual total keyspace size as 1 million? As long as you run a distributed attack on just one mask at a time, it shouldn't matter that this 1 million corresponds to very different actual keyspace sizes varying between masks.

[2021-03-29 16:17] sectroyer commented on #4576
I breaks many things, for example I loose the ability to (even remotely) correctly calculate eta/percentage of set of tasks. I cannot compare tasks anymore as all tasks look the same. Also what If hashtopolis divides the task even more (to 2 million) as @magnumripper said it can be done. At that point (previous) node values stop working and I need to adjust them on the basis of new `--limit/--skip

[2021-03-29 18:17] solardiz commented on #4576
Surely you can calculate the percentage easily: it's the number of virtual nodes (actually sub-tasks) already completed vs. the pre-specified total (say, 1 million). You can calculate the expected total duration by dividing the time already spent by the ratio of work already done (e.g., `1 hour / (1000 / 1000000)` gives you 1000 hours total, 999 hours left).

I don't know about that, but either yo

[2021-03-29 18:33] Fist0urs commented on #4242
Hi there, it's been a long time...

I needed the BestCrypt V4 implementation for a DFIR assessment, so I've implemented it for the default configuration (AES-256 XTS).

Before proceeding to a PR, I'd like to discuss the input hash format. I took as template the one provided on hashcat github for v3 implementation, in order to have something equivalent on both tools:

[code]
This is the best for me

[2021-03-29 18:48] sectroyer commented on #4576
Not between task with different keyspace size (for example ?l?l and 8*a?). I cannot calculate eta/percentage using your formula

I wanted to scale it but looks even this won't work :(

I found great article [Fitcrack](https://www.fit.vut.cz/research/publication-file/11961/Distributed_password_cracking_with_BOINC_and_hashcat.pdf) that compares hashtopolis and fitcrack (didn't know it even exists).

[2021-03-29 19:01] solardiz commented on #4576
Yes, we probably can. Please just try.

For this specific example, though, why not just scale both down by a factor of 100? For the slowest physical node, allocate tasks that are of 1 virtual node in size. For the 100x faster physical node, allocate them in size of 100 virtual nodes. Yes, this won't let you specify 1.5 virtual nodes for a node that's 1.5x the speed of the slowest, but there should

[2021-03-29 19:15] sectroyer commented on #4576
Good. For now "designing" :) But slowly pieces come together.

Keyspace size is decided at agents level. Also both A & B don't know anything about each other. We need to use node number that would allow for slowest possible and fastest possible node. Once a node is asked for keyspace size it has no concept of being slow or fast. That's why something generic (for example actual keyspace size) has t

[2021-03-30 11:30] solardiz commented on #4242
@Fist0urs Looks good to me. I see the hashcat PR for v4 referenced in here isn't yet merged, and you're participating there as well. Great. I also see that PR currently uses the same encoding format you propose, as seen in its test script:

[code]

and the merged v3 PR has this:

[code]

So please proceed. Thank you!

[2021-03-30 12:22] Fist0urs commented on #4242
Great then!

I'm also implementing other ciphers (twofish, camellia, serpent) at the moment, as I saw the changes from the AES based one are closed to none. I'll get back here when everything will be finished.

We will also probably want to see how we name the different formats: JtR already have a "bestcrypt" one which was implemented by @kholia and is related to BestCrypt containers encryption. I

[2021-03-31 03:04] wifiwizardofoz commented on #711
Anyone here (or reading this) want to assist me in figuring this out in Python? I have a small script that is supposed to convert plain text to Cisco Type 9 (scrypt), but the password when entered on the Cisco switch doesn't work. I think it's the way I am handling the salt.

[2021-04-02 12:19] Foalic opened #4652 "Bug 'base64.decodestrings(data)' in ssh2john.py in Jumbo John"
Bug:  ssh2john.py throws an error when used with Python 3.9.1.
The error states that the "AttributeError: module 'base64' has no attribute 'decodestring'" for line 103.

Workaround: I changed the 'decodestrings' to 'b64decode' and the file ran perfectly.

I saw this being mentioned in the issue "Make a new release soon as the previous one has Python 3 compatibility issues and known-fixed bugs #456

[2021-04-02 12:40] ghost commented on #4652
Because what you called Jumbo is the (two years) old release: the previous release.

Issues like this are the main reason ticket # 4564 is open.

That said, could you please use bleeding? You can find here (in the GitHub repo). BTW: we will probably close this issue (we already have #4564).

[2021-04-02 17:33] Foalic commented on #4652
Alright, sorry I had gone to the Openwall site for the tool.
I will use bleeding then, thank you.

[2021-04-03 12:39] #4652 closed, assigned to nobody

[2021-04-04 07:53] mp77-arch opened #4653 "Problem trying to crack hashes extracted from VRRPv2 packets with AH - IPSEC authentication enabled"
Hello,

I'm encountering a problem trying to crack hashes extracted from VRRPv2 packets with AH - IPSEC authentication enabled.

I've set up a VRRP service on a linux box using Keepalived.

I configured Keepalived to use AH authentication, with the password "Blabla" (without the double-quotes).

Then I captured the packet using Wireshark, saved them into pcap format and ran pcap2john.py to extract

[2021-04-04 11:28] solardiz commented on #4653
I confirm current John doesn't crack the hashes posted above using "Blabla" in the wordlist. However, this doesn't tell us where the issue is.

@mp77-arch Can you test with samples from https://github.com/openwall/john-samples/tree/main/VRRP and if those are getting cracked for you, then try and see how yours differ? Thanks!

[2021-04-04 11:45] solardiz commented on #4653
Also searched the code in https://github.com/acassen/keepalived - looks like it doesn't use anything newer than HMAC-MD5 for VRRP.

[2021-04-04 13:57] mp77-arch commented on #4653
I tried to crack tests samples coming from the sub-directory "auth_hdr" from https://github.com/openwall/john-samples/tree/main/VRRP,  John doesn't crack any of them.

[2021-04-04 15:34] solardiz commented on #4653
@mp77-arch Thanks!

What is your output of `pcap2john.py` for our samples?

What version of Python are you using? If it's Python 3, then can you easily try with 2, or vice versa? Does the output change?

[2021-04-04 17:45] ghost commented on #4653
1. `pcap2john.py `prints nothing when I run it using python3.
2. It produces valid hashes when run with Python 2 (hashes that `john` can load), but all hashes produced are uncrackable.
3. I even tried the script and JtR from 2017.

From 2017 7cf01f75464d312a737eb57c1adbd08e89065d04 and nothing is cracked.
- `John the Ripper CUDA-189-g7cf01f7 OMP [linux-gnu 64-bit AVX2-ac]`

[2021-04-04 17:49] solardiz commented on #4653
@claudioandre-br Do you mean "it produces valid hashes" when run with Python 2?

@kholia We'd appreciate your help here. Thanks!

[2021-04-04 18:41] claudioandre-br commented on #4653
Yes

[2021-04-05 09:54] mp77-arch commented on #4653
I'm using Python 2.7.18 to run pcap2john.py.

Here's the hash produced by pcap2john.py when I run it against VRRP-AH-Müller.pcap file, using Python 2.7.18 :

net-ah$0$45000208001e0000ff330000c0a87c01e000001270040000c0a87c010000001e0000000000000000000000002133650102016dc00a00000a0000000000000000$7c6ba14741b4597750ffe6a1

[2021-04-05 19:11] ghost commented on #4653
The 2john tool interprets/converts part of the information it saves in salt. If I undo that (I mean, use binary values I found inside the `.pcap`), I can crack the samples. Two bytes are wrong in the final hash.

[2021-04-06 15:21] solardiz commented on #3998
This has been taken care of in #4654.

This is what happens now.

This isn't currently suggested by the failing `./configure` - we should probably add it to the message in there, along with a warning that much functionality will be excluded.

The `--without-openssl` option is currently documented in `./configure --help` output, `INSTALL`, and `README-MIC`.

We should also work on further reducing

[2021-04-06 15:21] #3998 closed

[2021-04-06 15:27] solardiz commented on #4061
I've just added those references to there.

This dependency is now optional and documented as such in `INSTALL`.

However, we should still improve the `configure` script's error messages on missing OpenSSL - these should point to more information on installing OpenSSL and on disabling its usage. I leave this issue open for that.

[2021-04-06 15:34] solardiz commented on #3595
This issue was fixed back in 2019 by us releasing 1.9.0-jumbo-1 and Gentoo updating to that. Closing.

[2021-04-06 15:34] #3595 closed

[2021-04-06 15:39] solardiz commented on #4098
There are plenty of places (edit, clarification: I mean in our current code) where building with CommonCrypto also requires OpenSSL headers. I just assumed this was the case during my work on #4654. As magnum says, we should probably drop CommonCrypto support - or fix it, if anyone wants to.

Right now, you _might_ be able to build with `--without-openssl --with-commoncrypto` _if_ you also have Op

[2021-04-06 16:14] magnumripper commented on #4061
There's also this
[code]
We could want to add a line something like
[code]

[2021-04-06 17:16] solardiz commented on #4061
Yes, we need to add something like this. If we continue to also support CommonCrypto, then perhaps it should be the library name in the final field.

magnum, I am leaving this issue for you to work on. ;-)

[2021-04-06 17:17] solardiz commented on #3998
That was the `telegram` format, and also `telegram-opencl`, now taken care of in #4656

[2021-04-06 17:38] solardiz commented on #3990
I think I figured it out. I didn't realize we were using OpenSSL's MD5, thinking that for md5crypt-long we were using my own generic scalar implementation, which we have in tree. Forcing use of the in-tree implementation actually makes `md5crypt-long` significantly slower than `md5crypt` on this same system.

And I think the reason why OpenSSL's MD5 was so much faster is this:

[code]

We should k

[2021-04-07 11:38] magnumripper commented on #3990
Perhaps we can just close this issue then?

[2021-04-07 12:53] solardiz commented on #3990
I thought so too, but then regardless of what happened on that UltraSparc the algorithm does in fact need less cache space and could in fact be faster than what we currently have on GPU. So the issue's title still makes sense.

[2021-04-07 16:19] solardiz opened #4658 "ProtonMail offline password recovery"
ProtonMail uses OpenPGP keys, but with custom bcrypt-based key derivation (prior to the usual s2k?). We can probably add a format that would crack ProtonMail login password (in their one-password mode, or the mailbox password otherwise?) given an OpenPGP private key extracted from a memory dump and bcrypt salt and SRP modulus obtained when trying to log in, as I explained here:

https://github.com

[2021-04-07 16:53] #4098 closed, assigned to nobody

[2021-04-09 12:02] quanmqiu opened #4659 "MPI+opencl detect only one gpu but fork+opencl detect all gpus on the same node"
I compiled 1.9.0-jumbo-1 on a cluster with CentOS 7.9 and Intel oneAPI compiler.

There are two GPUs in a node.

If I run
[code]
I got
[code]

But if I run
[code]
I got
[code]

When I use MPI, only one gpu was detected. But if I use fork, both gpus  were detected.

How can I use MPI + OpenCL on a hpc cluster which nodes have multi-gpu devices?

I tried
[code]
But only one gpu was detected and used

[2021-04-09 12:21] solardiz commented on #4659
Unrelated to your question, but you really ought to use the latest from this repo and not the 1.9.0-jumbo-1 release, for at least two reasons:

1. You report this on GitHub, and for GitHub issues we assume they're reported against our latest code, not against a release. In fact, our new issue template explicitly says so. You do say yours is against the release, which at least avoids the confusion,

[2021-04-09 13:41] ghost commented on #4659
I would say `README.mpi` has the answer:
[code]

So, (me thinks) you should use fork:
[code]
****
Anyway, I would say you found a misbehavior. The command below is "Poor man's multi-device support" using MPI.

`gpu_id` should be 1 and 2 (internal values 0 and 1). Could you check the output of `nvidia_smi` when running?
* `mpirun -np 2 ../run/john --format=oldoffice-opencl --devices=gpu hash.txt`
*

[2021-04-09 13:50] ghost commented on #4659
Unrelated note:
* recently, someone asked me for support for cracking zip. I advised him to update to bleeding (also important to ZIP format), but he ignored my requests.

Maybe people using a version they shouldn't is happening more often than we would like.

[2021-04-09 13:58] magnumripper commented on #4659
That's weird. `mpirun -np 2` *should* use both devices exactly like `--fork=2` does (both using eg. `--dev=gpu`). Start out by using latest bleeding-jumbo and we'll go from there.

I haven't ever seen anything like this, but various MPI environments do behave somewhat differently and/or have different defaults - it could be that you need to throw in some extra option to mpirun.

[2021-04-11 02:06] dshynkev commented on #4346
I confirm that rar2john doesn't work specifically for mutipart `RAR3-p` archives (hashes start with `$RAR3$*1`). The example above by @claudioandre-br uses RAR5-hp, which does work.

[Here](https://github.com/openwall/john/files/6291044/example.zip) is an example which fails. The file `hashes.txt` is the output of
[code]
The true password is `password42`, but JTR will not find it:
[code]
You will

[2021-04-11 03:57] dshynkev commented on #4346
Actually, this happens only when all files are split across parts. [Here](https://github.com/openwall/john/files/6291152/example.zip) is an example using the same setup, but with no compression (to make reasoning easier), and with a `source3.bin` file added as follows:
[code]
In that case, JTR will succeed. `source3.bin` will be chosen as the best candidate for `source.part5.rar`, being the shorte

[2021-04-11 12:12] solardiz commented on #4346
Thank you for the research @dshynkev! This is very helpful.

Please also submit your samples, including those JtR doesn't crack yet, via a pull request to https://github.com/openwall/john-samples

[2021-04-11 12:18] mp77-arch opened #4661 "Support GLBP MD5 Authentication"
Hello,
I've been trying to crack MD5 authentication from a GLBP cluster (a Cisco load balancing protocol) and it seems that this format is not supported by JTR.
I used pcap2john.py to try to extract GLBP MD5 hashes from a PCAP file and the script returns the following message instead of crackable hashes:
_Ignoring non-MD5-chain auth type in packet 1!_

It would be nice if JTR was able to crack GLB

[2021-04-11 12:29] solardiz commented on #4661
Thank you @mp77-arch!

Please also submit your samples (perhaps in a new subdirectory and with the password in a text file) via a pull request to https://github.com/openwall/john-samples

[2021-04-11 13:23] solardiz commented on #4653
Thanks @claudioandre-br! So I guess some of the zeroization here is actually undesirable:

[code]

@kholia @exploide Can you please look into this and likely drop the problematic lines (just the checksum? or maybe most or all of them?)

[2021-04-11 17:20] exploide commented on #4653
It's not the zeroing. There is something weird going on with the dpkt library.

I tested with the file `VRRP-AH-Müller.pcap` and compared the working test vector from https://github.com/openwall/john/blob/bleeding-jumbo/src/net_ah_fmt_plug.c#L53 with the non-working output of `pcap2john.py`.

The working test vector begins with `4500004000` (conforms to what I see in the file with Wireshark or hex

[2021-04-11 17:28] solardiz commented on #4653
Sounds good. Thanks!

Better yet, but longer-term, we'd switch pcap2john to just one of those libraries, avoiding dependency on the other.

[2021-04-12 08:13] solardiz commented on #4653
@mp77-arch @claudioandre-br Will you test @exploide's changes in #4662 from his branch, or should we merge first?

[2021-04-12 08:16] thunderbolt78 opened #4663 "Latest Threema 4.43 Backup Zip Android"
Hi, i have a small zip file, encrypted with the latest threema build in zip function. zip2john produce a 0KB Hash file. Any idea whats wrong ?

attached an example zip file

[12.zip](https://github.com/openwall/john/files/6294967/12.zip)

maybe someone can look at this .

[2021-04-12 08:56] magnumripper commented on #4663
You probably used some old version. Current version extracts 22 zip "hashes" and cracks all of them almost instantly.

[2021-04-12 09:17] thunderbolt78 commented on #4663
hi, using zip2john from john-1.9.0-jumbo-1-win64

[2021-04-12 09:21] solardiz commented on #4663
@thunderbolt78 This is what we call "old" for the purposes of GitHub issues - here, we're working on the latest source code in this repo. You can, too, use the latest from here. Since you're on Windows, you can click the "Download Windows build" badge in this repo's `README.md`.

Curiously, `zip2john` from 2019 (such as one included in the 1.9.0-jumbo-1 release) actually segfaults on this archive.

[2021-04-12 09:21] #4663 closed, assigned to nobody

[2021-04-12 09:25] thunderbolt78 commented on #4663
this was quite fast

used the zip2john from this repo [https://github.com/openwall/john-packages/releases/tag/jumbo-dev](url)

same here, the hash is 0KB

zip2john is from 27.03.2021, the file is 0KB, no errors or something

[threema4.43.zip](https://github.com/openwall/john/files/6295448/threema4.43.zip)

i try to add the file into the zip repositiry

i created a normal zip file with winzip and u

[2021-04-12 09:32] solardiz commented on #4663
This `threema4.43.zip` file is exactly the same as `12.zip` you had attached earlier. So `zip2john` just works on it for us. However, my testing is on Linux, and magnum's is probably also not on Windows. While it is possible we have a Windows specific issue there, I suspect it's actually user error. So @thunderbolt78 can you show us how you're invoking `zip2john` and checking the resulting hash fi

[2021-04-12 09:34] thunderbolt78 commented on #4663
damn, you are right .... i renamed the 12.zip to threema4.43.zip and didnt changed the command ... sorry fo this ... please close or remove the last comments ....

[2021-04-12 09:37] solardiz commented on #4663
The issue is already closed, and I think it's OK to leave the comments as they are.

[2021-04-12 15:47] mp77-arch commented on #4661
Ok, I tried to do that but I'm unsure if it worked or not.
It's my first pull request with github...

[2021-04-12 15:57] solardiz commented on #4661
@mp77-arch We didn't receive any pull request for john-samples today.

[2021-04-12 15:58] solardiz commented on #4661
@mp77-arch In your GitHub account, I see you've sent and merged a pull request to and into your own fork of the repo.

[2021-04-13 09:48] quanmqiu commented on #4659
Thanks all.

I have changed to use the lastest git bleeding-jumbo.

As magnum said. I did dozens of tests by using different combinations of compilers and mpi implements in last few days.

MPICH + gcc 4/5/6/7/8/9 : failed
MPICH + Intel Compiler 2017/2018/2019/2021 : failed
Intel MPI( based on mpich ) in Parallel Studio 2017/2018/2019/2021 : failed
OpenMPI + gcc 4/5/6/7/8/9 : successed
OpenMPI + In

[2021-04-13 10:42] solardiz commented on #4659
Have you upgraded to our latest code from this repo? Like I wrote in here before, it is known and expected that oldoffice-opencl is broken in the 1.9.0-jumbo-1 release.

[2021-04-13 10:46] solardiz commented on #4659
Also, in what way is the result wrong? Is `asfrazsdoaaa` correct or wrong? Is `pibglyeohjwn` correct or wrong? Are possibly both correct (isn't this the 40-bit old Office stuff, with collisions practically relevant)? What do you expect as the correct result?

The 75% GPU utilization is something to look into, too. But first of all, we need a confirmation that all of your results are now for our la

[2021-04-13 11:02] quanmqiu commented on #4659
@solardiz Version: 1.9.0-jumbo-1+bleeding-d5c7c57

`asfrazsdoaaa` and `pibglyeohjwn` are both wrong, can't decrypt the .xls file.

The correct password is `nnacqpbalaaa` given by hashcat-6.1.1.

[2021-04-13 12:57] ghost commented on #4659
The format produces collsions (https://github.com/openwall/john/issues/4483#issuecomment-731755664). I wonder if other tools have a better check to produce (just) the correct password.

[code]

[code]

[2021-04-13 13:12] solardiz commented on #4659
Looks like we need to prioritize the discussion/work in/on #4483, but meanwhile shouldn't we add `FMT_NOT_EXACT` to the oldoffice formats?

And yes, we need to check how hashcat possibly avoids producing false positives here.

[2021-04-13 13:53] solardiz commented on #4659
I could be wrong, but at first glance it looks like hashcat only has the full MD5 check, whereas we also have a meet-in-the-middle check, which can result in us detecting a positive earlier (and should probably result in us having better speeds?)

In both programs, and in our case before both checks, there's the 40-bit narrow pipe. So both programs should be affected by collisions. I suppose the q

[2021-04-13 16:37] magnumripper commented on #4659
Oh, right. It was caused by c2dbd45 (#1920) and the problem is that there's no way (to my knowledge) to see the "local world size" under MPICH. That is, we don't know how many other nodes, if any, run on the same host.

c2dbd45 was a fix for mscash2-opencl only so I think I can tweak this, I'll look into it.

[2021-04-13 16:55] magnumripper commented on #4659
Oldoffice has collisions with the property that any of the cracked passwords can be used to open the file (I've seen it and done it many many times) so no, it shouldn't have `FMT_NOT_EXACT`.

I'm pretty sure there *isn't any way* to verify that a certain positive guess is the actual password that was used when saving the document! This case must be either a bug or user error/confusion of some sort

[2021-04-13 17:04] solardiz commented on #4659
BTW, looks like our CPU format doesn't use the MITM in MD5 mode, only using it in SHA-1 mode. Our OpenCL format uses it in both modes. Something to fix in the CPU format?

We have things like this:

[code]

So the MITM-based result, whatever it is, becomes final - not just early rejection.

I'm not so sure: if the MITM value is necessarily correct, then the computation in the `else` branch is guar

[2021-04-13 17:12] magnumripper commented on #4659
I just saw that too, except I can't see SHA-1 do any early-rejection either? It only reports the value. However in SHA-1 mode there's an **optional** extra field that can be used to tell a collision from the real password.

[2021-04-13 17:16] solardiz commented on #4659
In the SHA-1 case, `cmp_all` starts by reading from the `mitm` field before proceeding with further computation:

[code]

Not the same as early rejection, though.

[2021-04-13 17:25] magnumripper commented on #4659
I just verified that hashcat too finds all three passwords. Their `--keep-guessing` isn't working though, so you need to test them in three separate runs (it will just report the first found).

[2021-04-13 17:27] magnumripper commented on #4659
I wonder if this extra field feature can be present for a MD5 document as well? That would explain why only one password actually works. We'd need a sample such document then, for tweaking oldoffice2john and the formats.

[2021-04-13 17:28] solardiz commented on #4659
Added "bug" label for c2dbd45 affecting formats other than mscash2-opencl.

[2021-04-13 17:36] solardiz commented on #4659
Makes sense. BTW, with salt type 3, which is SHA-1 with 40-bit intermediate key, when the extra field is present this means we may sometimes find a working encryption key, but end up not reporting it because the password presumably wouldn't pass. Maybe in such cases we should be reporting the encryption key anyway (but keep guessing passwords), so that if one has software capable of key input (I t

[2021-04-13 17:39] magnumripper opened #4664 "oldoffice CPU format lacks possible early-rejection"
See #4659.

[2021-04-13 18:55] #4659 closed, assigned to magnumripper

[2021-04-14 07:54] quanmqiu commented on #4659
I'm sorry. The origin office excel file is a private file of my friend. Two weeks before, he asked me help for password recovery but didn't want to give me the source file. I had to teach him to use office2john.py. Then he send me just a hash.txt.

First I got the correct password by using HashCat on a single node with 4 * V100. I hope to speed up computation time by using more GPUs, but HashCat c

[2021-04-14 08:54] magnumripper commented on #4659
So was he using the latest `office2john.py` from here, or the Jumbo-1 release version? I *think* in this case it should not matter but to be sure, if he was using the older one, you should make him generate a new hash with the current version and see if they end up identical.

[2021-04-14 09:15] quanmqiu commented on #4659
Yes, the hash.txt was generated by the lastest `office2john.py` downloaded from github web.

[2021-04-14 09:25] magnumripper commented on #4659
I did some testing with `Office/Office_Secrets/Office_XP/XP-Office97-2000_myhovercraftisfullofeels_.xls` from https://github.com/openwall/john-samples. That file is also an excel file of type 0 so should be identical to the one @quanmqiu attacks. The correct password for it is `myhovercraftisfullofeels_` but that old version truncated the password to length 15, so would crack as `myhovercraftisf`.

[2021-04-14 09:28] solardiz commented on #4659
If you already "got the correct password" and were doing this as password recovery for a friend, then why did you still want to speed up the computation? Did this "correct password" not work?

Our expectation is that all/any of these passwords should actually work. What is the actual behavior your friend is seeing - do any of them work, and if so which ones?

[2021-04-14 09:48] quanmqiu commented on #4659
The `nnacqpbalaaa` did decrypted his origin excel file.

Just because he was a lucky boy. HashCat predicted that it needs more than 309 days to complete full search in the 12 low case letters space by using 4*V100. But in fact I got `nnacqpbalaaa` after 11 minutes.

That's why I want to get a solution of MPI + GPU.

I will get more collisions send to him for verifying.

[2021-04-14 10:28] solardiz commented on #4659
More likely because this is not the original password, but is one of many collisions, and those do indeed work for decrypting the file.

[2021-04-14 11:01] quanmqiu commented on #4659
I'm using hashcat with --keep-guessing to search fully. It may need some times before I can report a usable result.

[2021-04-14 12:25] solardiz commented on #4659
As magnum wrote in a comment above:

I don't know whether it's a bug (edit: I mean their --keep-guessing not working) in some specific version(s) of hashcat only, or in all of them, or something specific to magnum's testing. If it's a bug in current hashcat, we probably need to report it to them, and ideally even send them a pull request with a fix, @magnumripper?

[2021-04-14 12:31] magnumripper commented on #4659
I didn't research it further but I assume it happened because all collisions were in the same batch of work (one textfile with all positives). But yes I'll report it to them.

[2021-04-14 12:39] magnumripper commented on #4659
I was correct, known problem and wontfix: https://github.com/hashcat/hashcat/issues/1879

[2021-04-14 13:33] solardiz commented on #4659
OK, although the piece of hashcat documentation quoted there says "This does not mean that valid passwords are skipped; they are always reported", which per your description here and the description there I think is wrong.

[2021-04-14 13:42] magnumripper commented on #4659
True, but that must be down to weird wording in that document.

The OP said exactly what I see happen: "It returns only one plain-text in one kernel loop".

That document currently says (apart from your quote) "This limitation cannot be fixed, because it would require too much device (GPU/CPU) memory. If we wanted to report back all possible password candidates executed in a single kernel invocati

[2021-04-14 14:10] #4664 closed, assigned to magnumripper

[2021-04-14 14:11] magnumripper commented on #4659
@quanmqiu you might want to upgrade to latest code (3088ea62d) for some GPU boost.

[2021-04-15 09:40] quanmqiu commented on #4659
Updated to 3088ea6, build with openmpi 4.0.5 + gcc9.3.

[code]

Total 16 * V100 on 8 nodes, after 6 hours running, GPU-Util of each card can keep >95% on average.

[code]

[2021-04-16 07:44] ZerBea opened #4667 "Update to NVIDIA 465.24.02 broke wpapsk-opencl"
Update to NVIDA 465.24.02 broke wpapsk-opencl:

$ pacman -Q | grep nvidia
nvidia 465.24.02-1
nvidia-settings 465.24.02-1
nvidia-utils 465.24.02-1
opencl-nvidia 465.24.02-1

Affected:
latest release
https://archlinux.org/packages/community/x86_64/john/
as well as latest git head:
$ john
John the Ripper 1.9.0-jumbo-1+bleeding-3088ea62d 2021-04-14 16:10:23 +0200 MPI + OMP [linux-gnu 64-bit x86_64 AVX

[2021-04-16 09:15] magnumripper commented on #4667
Thank you for reporting! Does this fix the problem?

[code]
Note: You may also have to `rm -fr ~/.nv/ComputeCache` to drop cached kernels. *Edit: Scrap that, there shouldn't be any cached file since it failed building*

[2021-04-16 09:34] magnumripper commented on #4667
Hmm no, those same defines are already in `opencl_aes.h` which is sourced before. This must be a driver bug.

[2021-04-16 09:44] ZerBea commented on #4667
Hi magnum.
Thanks for your quick response. ~/.nv/ is removed after every update as well as ~/.john/
Arch makepkg is running with out ERRORs, when building an Arch packet from john-git.

BTW:
It looks like NIVIDA changed something within the driver, but I haven't figured out, what exactly changed, yet.

[2021-04-16 09:46] magnumripper commented on #4667
Try this
[code]

[2021-04-16 09:47] ZerBea commented on #4667
I'll check it. Looks like we have to cast between address spaces and address space semantics.

[2021-04-16 10:01] intergalactic-overlords opened #4668 "JTR flagged by Virus scan on MacOS"
I have built the latest version of JTR (john-1.9.0-jumbo-1) on Mac OS (11.2.3) and Avast File Shield flags it as a threat when trying to run.
It says it contains a threat named Agent.JX. Probably a false positive?

### Steps to reproduce ###
* download john-1.9.0-jumbo-1 from openwall
* in src, run `./configure` `make -s clean` and `make -sj4` in terminal
* in run, run `./john` in terminal
* Avast

[2021-04-16 10:06] intergalactic-overlords commented on #4668
The 1.8.0.9-jumbo-1-bleeding version does not have the same issue

[2021-04-16 10:21] ZerBea commented on #4667
Nope,  AES_KEY_TYPE uint8_t *key doesn't work.

[2021-04-16 10:36] magnumripper commented on #4667
Very annoying. Try this then,
[code]
That will force non-bitslice AES which is somewhat slower but maybe it at least works around the problem? Or if it doesn't, maybe the error message changes in some way that gives us some clue.

[2021-04-16 10:46] ZerBea commented on #4667
Now applying the second patch. The first patch  (AES_KEY_TYPE uint8_t *key) is not removed.

[2021-04-16 11:08] ZerBea commented on #4667
As expected, the second patch does the trick:
$ john --format=wpapsk-opencl --test
Device 1@tux1: NVIDIA GeForce GTX 1080 Ti
Benchmarking: wpapsk-opencl, WPA/WPA2/PMF/PMKID PSK [PBKDF2-SHA1 OpenCL]... LWS=32 GWS=458752 (14336 blocks) DONE
Raw:	533432 c/s real, 531372 c/s virtual, Dev#1 util: 100%

[2021-04-16 11:18] solardiz commented on #4668
@intergalactic-overlords Thank you for letting us know. Can you please report this as undesired behavior to Avast? You're a customer of theirs (right?), and we are not.

[2021-04-16 11:21] solardiz commented on #4668
Meanwhile, another thing you can try is building the latest code from this repo, not the release. This is what we currently recommend anyway, and what we expect any GitHub issues to be reported against.

This would test how good their heuristics are at detecting whatever "threat" they thought there was. ;-)

[2021-04-16 11:35] magnumripper commented on #4667
Great! But I need to install this driver and try to work around the problem without resorting to the slower AES code.

[2021-04-16 11:39] solardiz commented on #4667
@ZerBea Did only this one format break, or did some others break too?

@magnumripper I guess AES performance isn't very important for this format, but is of more importance in some others, right?

[2021-04-16 11:42] ZerBea commented on #4667
Maybe it is a simple casting issue.
@solardiz I only tested wpapsk-opencl, but I think more AES formats are affected.

[2021-04-16 11:44] ZerBea commented on #4667
Looks like there are more changes in the driver code than expected. NVIDA just released CUDA 11.3!

[2021-04-16 12:26] magnumripper commented on #4667
Yes, using 460.56 (which doesn't have this problem) the speed only drops 0.5% when I force the simpler AES.

[2021-04-16 12:36] solardiz commented on #4667
@ZerBea Can you run a full `--test --format=opencl` using unmodified code from this repo? We'd like to be aware of all issues, not only with this format. Thank you! (If you'd like to speed this up, you can use e.g. `--test=0 --gws=64 --lws=64 --format=opencl`, which will test basic correctness, but not the speeds.)

[2021-04-16 12:36] magnumripper commented on #4667
I installed CUDA 11.3 which included 465.19.01, I can reproduce the problem with it. And for me, this fix **does** help:
[code]

[2021-04-16 12:39] magnumripper commented on #4667
I'm on it. First failing was truecrypt, very similar
[code]

[2021-04-16 12:40] magnumripper commented on #4667
BTW `--test=0` implies defaulting to even lower LWS/GWS than that.

[2021-04-16 12:45] magnumripper commented on #4667
Trivial fix for Truecrypt:
[code]

[2021-04-16 12:56] ZerBea commented on #4667
@magnumripper installed CUDA package and can confirm the the first patch is working. We don't need the second one.
@solardiz full test is running.....

[2021-04-16 13:03] ZerBea commented on #4667
working:
AES_256_XTS_first_sector(salt->bin, outbuffer[idx].v, (AES_KEY_TYPE uchar*)key);

[2021-04-16 13:06] magnumripper commented on #4667
I'm working on DMG now. Same sort of problem.

[2021-04-16 13:15] ZerBea commented on #4667
Mostly simple casting problem.

[2021-04-16 13:20] ZerBea commented on #4667
This was my fault:
https://github.com/openwall/john/issues/4667#issuecomment-821077021
I used the wrong (git head) version instead of the patched one.
Looks like casting to AES_KEY_TYPE  is enough to fix the issues.

[2021-04-16 14:35] magnumripper commented on #4667
OK here is the exact problem: Our code is written for OpenCL 1.2. In OpenCL 2.0, the default address space is no longer
`__private` but instead `__generic`. Once we can start actually making use of that, it's wonderful: A very good example is we'll no longer need separate versions of `memcpy` for every needed combination of address types!

A trick I've been using in shared code such as `opencl_aes

[2021-04-16 15:09] ZerBea commented on #4667
Good investigation and excellent work. Thanks.
Now JtR is prepared to be used in combination with latest NVIDIA driver.

[2021-04-16 15:33] solardiz commented on #4667
I'll reopen until we've merged the PR.

[2021-04-16 16:32] ZerBea commented on #4667
@solardiz ok. Looks I was a way too fast, closing the issue.

[2021-04-16 16:49] #4667 closed, assigned to magnumripper

[2021-04-16 17:47] solardiz opened #4670 "OpenCL formats failing with AMD Catalyst on Tahiti"
Just to have this recorded somewhere:

[code]

`rar-opencl` segfaults, the rest at least let the tests run to completion:

[code]

The same 22 formats failed tests across two invocations.

Some of these look puzzling to me - e.g., why `zip-opencl` fails when other formats using PBKDF2-SHA1 pass?

Anyway, I doubt we're going to do anything on this.

[2021-04-17 09:12] magnumripper opened #4671 "Systemwide build vs. kernel cache paths"
Arch Linux systemwide Jumbo-1 release apparently has this problem:
[code]
I can't remember whether we have ensured the normal kernel caching in `opencl_common.c` end up in `JOHN_PRIVATE_HOME` but with nvidia, normal kernels aren't cached anyway so I just may have missed this problem completely.

DEScrypt has it's own caching of per-salt kernels and this happens even for nvidia - so maybe the share

[2021-04-17 09:18] magnumripper commented on #4671
The shared code seem to be correct
[code]

[2021-04-17 09:27] magnumripper commented on #4671
DEScrypt seem to end up using `path_expand_safe()` on something that started out as eg. `"$JOHN/opencl/DES_bs_kernel_h_"Zu"_%s_%d.bin"` but there is no replacement of `$JOHN` into `JOHN_PRIVATE_HOME`. So I think the problem (for DEScrypt only) is still present.

[2021-04-17 09:45] magnumripper commented on #4671
Something like this should do (untested):
[code]
Enhancing it (but maybe overkill), we could want to check the systemwide kernels directory for any pre-compiled kernel binaries (eg. all 4096 salts for DEScrypt) first. If not present, create our own private one and cache it in the private home.

Oh BTW, for the above patch (EDIT and for the existing shared code too) we'd need this as well:
[code]

[2021-04-17 12:41] ZerBea commented on #4671
Glad  to see this issue report. My first thought was Arch is using a faulty pkgbuild. My second thought was I used a faulty pkgbuild.

[2021-04-17 18:18] solardiz commented on #4668
No further communication from OP, and nothing for us to do on this anyway. Closing.

[2021-04-17 18:18] #4668 closed, assigned to nobody

[2021-04-17 18:20] solardiz commented on #4670
I'll probably retest this later to see whether more formats start failing after some changes we make (and maybe we'll even look into fixing that if so), but let's keep this issue closed.

[2021-04-17 18:20] #4670 closed, assigned to nobody

[2021-04-17 18:21] solardiz commented on #4653
@mp77-arch @claudioandre-br No interest from you in helping test @exploide's changes in #4662 from his branch? If so, I guess we'll just merge and wait for further problem reports in case anything is still broken.

[2021-04-17 18:40] ghost commented on #4653
I tested using known samples (I guess he also did this). +1 merge.

[2021-04-17 18:51] #4653 closed, assigned to nobody

[2021-04-17 19:19] lz729158747 opened #4673 "John the Ripper"

[2021-04-17 19:27] #4673 closed, assigned to nobody

[2021-04-18 15:32] #4671 closed, assigned to nobody

[2021-04-18 20:02] JaKrIvMa opened #4674 "Support for longer than 125"
What files to change for John to support

--mask ?w?9?9?9?9?9?9 --stdout
The list contains 121 character long word's

[2021-04-18 20:13] solardiz commented on #4674
This is unsupported, but you can try to play with `RULE_WORD_SIZE` and `PLAINTEXT_BUFFER_SIZE` in `params.h`.

[2021-04-19 05:22] ZerBea commented on #4671
Excellent work. Now all tests past flawless (system wide installation).
Thanks.

[2021-04-19 11:25] #4674 closed, assigned to nobody

[2021-04-19 11:27] solardiz commented on #4671
Thank you for testing, @ZerBea.

[2021-04-19 12:34] magnumripper commented on #4171
Tried this using latest version (92852ae7) of zip2john. No problem (such as segfault) seen.

[2021-04-19 13:04] magnumripper commented on #4171
The hash I get lists a packed size of 535 (0x217) though (and the blob is indeed of that size). I thought it should match the "Size" above. Or the "Packed Size"? Other samples show confusing results but anyway it should match one of them.

Here's the hash I get:
[code]

[2021-04-19 13:27] magnumripper commented on #4171
`zipdetails` lists an "AES Auth" of `6D CA 56 0F 1B DE F3 1E 40 63` and "AES Salt" of `A9 9B 6E CE 2D B4 AC 77 C9 06 C3 B7 F6 AE 42 AA`, both match our zip2john output. Everything looks right except I can't explain the size mismatch.

[2021-04-19 13:29] solardiz commented on #4171
Given the stack trace in @mellowcandle's second comment here, I think the segfault issue here is the same as #4663 and is already fixed by @srett (thank you!)

As to the size discrepancy @magnumripper points out, we should discuss it somewhere - continue here or open a new issue?

[2021-04-19 13:33] magnumripper commented on #4171
Perhaps we should just close the issue. The archive may well be defective and we don't know the password. I'm attacking it right now though - if we could crack it, we could definitely just close the issue.

[2021-04-19 14:00] magnumripper commented on #4171
After some look in zip2john sources I could confirm that our length of 535 actually matches the listed length of 563 (the latter includes 2 bytes of verifier, the salt length of 16 and the 10 bytes of authentication code). Closing!

[2021-04-19 14:00] #4171 closed, assigned to nobody

[2021-04-19 14:56] magnumripper commented on #4044
I tried to do exactly this in #4675. Like I said there, I'm not sure how to test it as I currently can't reproduce profiling errors.

[2021-04-19 15:47] magnumripper commented on #4502
I now tried merely allowing verbosity option with resume and tried it out: Even if the original session didn't have any verbosity set, resuming with it added is totally ignored. In fact it's so ignored `-v=7` isn't even an error (without resume, it is). Are you sure it ever worked?

Just brainstorming, introducing another getopt flag such as `OPT_OVERRIDABLE` would make what you suggest a lot less

[2021-04-19 17:20] frank-dittrich commented on #4502
For `--no-log` and `--log-stderr`, we'd need to allow `--log` and `--no-log-stderr` (though I don't really like that option name; may be `--log` should override `--no-log` and `--log-stderr`), to "undo" these options  during `--restore`.

[2021-04-19 17:55] magnumripper commented on #4502
Going all-in we'd also need `--no-max-time`, `--no-max-candidates`, `--no-progress-every` (although all three of them can probably be reset with N=0), `--no-skip-self-tests` and `--no-force-tty`. We don't necessarily need all of them though, one could live with some unresettable stuff.

Admittedly, perhaps the main reason I've never felt any need for overriding saved parameters is I frequently edi

[2021-04-19 18:05] magnumripper commented on #4502
Note that nowadays `--log-stderr` doesn't turn off the normal logging to file, it's there as well. Only if you use `--no-log --log-stderr`, you'll get it to screen only. So having `--log` override `--log-stderr` would be weird.

[2021-04-19 18:14] solardiz commented on #4502
OK, you guys have convinced me that we should leave things as-is for the upcoming release. We can close this.

Yes, I also sometimes edit session files, and I don't see how we can reasonably make all of the things I end up editing supported as official options along with `--restore` - there are many, they are varied, and you really have to know what you're doing when making such changes. We could

[2021-04-19 18:28] magnumripper commented on #4502
Brainstorming a little more, I've actually had the idea over the years to make some options *never* end up in the session file. For example, if `--max-run-time=10` wasn't to end up in the session file, the first run would end after 10 seconds but a resume would run forever. That could be something like `OPT_NOT_SAVED`. For this to be useful, we'd need to support having such options *along* with `-

[2021-04-19 19:39] #4044 closed, assigned to nobody

[2021-04-19 20:08] MiLeG opened #4676 "Oldoffice read-only mode hash"
Greetings,

I believe this feature isn't included in the current office2john, but I'm not that well versed in this code, so I could very well be wrong.
The attached office 2003 presentation is both password protected on opening (the password is Lucic) and also write-protected.
After running hashcat for a while, I could only get the first password, but not the second write permission password.

Is

[2021-04-19 21:14] magnumripper commented on #4676
I take it you mean the write permission password is different from "Lucic"?

[2021-04-19 21:16] MiLeG commented on #4676
Naturally 😁

[2021-04-19 21:17] magnumripper commented on #4676
Interesting. I'll take a look

[2021-04-19 22:15] ghost commented on #4676
Isn't "PPS files are used to immediately begin a presentation, opening one by regular means will not let you edit the file"?

It is not password related, right? I don't have Office, can't say for sure.

[2021-04-20 05:25] MiLeG commented on #4676
As far as I know after using them, they are essentially the same. Both files have the full editable data written in them.

The only real difference is that .pps files are being started in a slideshow after opening, to make them more convenient or something.

You can still edit them through to the File > Open menu though.

[2021-04-20 10:59] magnumripper commented on #4676
I can edit it with macOS' Keynote, just using "Lucic". If Office doesn't let you, perhaps LibreOffice or some other alternative will.

[2021-04-20 18:54] MiLeG commented on #4676
LibreOffice doesn't work for me, but if Keynote works then I guess this issue doesn't make much sense.

So can you confirm for me that you can edit and save this file in Keynote?

[2021-04-20 19:35] magnumripper commented on #4676
It asks for a password upon opening, I use "Lucic" and then I can view it, edit it, save it - no sign of any other password needed. BTW it does start up in presentation mode, I simply left it and got to editing.

[2021-04-21 05:34] King-Of-Game commented on #3032
The another probability: the file in the compressed package is damaged

[2021-04-21 07:25] magnumripper commented on #3032
I disagree with that being probable for the OP. Also, why are you even commenting an issue that was closed over two years ago? I will delete your post (and this answer of mine).

[2021-04-21 13:27] #4676 closed, assigned to nobody

[2021-04-21 14:34] solardiz opened #4679 "--devices --fork broken"
Looks like we got a regression?

On a certain system (where I currently happen to observe this) with many NVIDIA GPUs, hashcat can use all the GPUs simultaneously just fine. JtR, on the other hand, ends up allocating memory on multiple (or all) GPUs as requested, yet puts all computation on just one GPU (the first one, or the first listed in `--devices`). So, for example, `-dev=5,6 -fork=2` result

[2021-04-21 14:48] solardiz commented on #4679
Introduced between Feb 25 and Mar 9.

[2021-04-21 14:55] solardiz commented on #4679
Looks like we need this:

[code]

Works for me, but I haven't yet tested it along with `--restore`.

[2021-04-21 14:56] solardiz commented on #4679
Seems to work fine as well.

[2021-04-21 15:01] solardiz commented on #4679
Perhaps the ZTEX section should be moved as well, so:

[code]

I'm also unsure about `sig_preinit();` - it wasn't in core - but then in jumbo it was prior to writes to `options.node_min` before our recent changes, so I guess its placement is right.

And we need to retest ZTEX.

[2021-04-21 15:02] magnumripper commented on #4679
Looking at the sum of changed under that period, the proposed move makes sense to me.

[2021-04-21 15:04] solardiz commented on #4679
Actually, ZTEX probably wasn't broken and this move is probably a no-op for it - due to the explicit use of `i` there. I guess the OpenCL piece implicitly used `options.node_min` from `fmt_init()`?

[2021-04-21 15:14] magnumripper commented on #4679
I take that back. While the move should be fine, I can't quite see why it would matter... What format was this?

[2021-04-21 15:23] magnumripper commented on #4679
OK, some (or many?) formats do have things in `init()` that may need this change (such as `opencl_load_environment()`) - just not all of them.

[2021-04-21 16:00] ghost commented on #4679
Yes, it uses `options.node_min` as the `node_id` (ID) when, e.g., you use `--dev=2,2,3 --fork=6`:
[code]

If `options.node_min` is always 1, JtR always uses the same `--device` (`gpu_id` doesn't change).

[2021-04-21 16:01] solardiz commented on #4679
I tested with my new bitcoin-opencl, and just to make sure this is unrelated to the new format also with md5crypt-opencl. Both demonstrated the problematic behavior before the changes I copy-pasted in here, and both worked correctly with the change (move).

[2021-04-21 17:12] #4679 closed, assigned to nobody

[2021-04-22 09:44] solardiz commented on #4670
Unfortunately, the newly added bitcoin-opencl format fails test on this system. This isn't surprising because sspr-opencl was also failing test at a test vector that uses the SHA-512 loop:

[code]

[2021-04-22 10:13] solardiz commented on #4670
This makes the sspr-opencl and bitcoin-opencl formats (and probably more) pass test:

[code]

However, the same `rot64()` macro works just fine on this same system in sha512crypt-opencl.

[2021-04-22 10:57] solardiz commented on #4670
With that optimized AMD `ror64()` disabled, the number of failing formats reduces from 22 to 13:

[code]

Maybe the issue is that @magnumripper dropped the "obsolete" workaround for `n % 8` in 0c8a15685aad5214c53b4634170838318698f841 as mentioned in #3525.

[2021-04-22 11:09] solardiz commented on #4670
Now testing this:

[code]

Passed sspr-opencl test so far.

I think we should get this in, but with a check for AMD Catalyst added (don't do this on AMDGPU-Pro and ROCm).

@magnumripper Maybe you will?

[2021-04-22 11:11] magnumripper commented on #4670
I have no idea how to tell Catalyst, AMDGPU-Pro or ROCm apart. I think I recall trying to get some help from the community in the past, to no avail.

[2021-04-22 11:15] solardiz commented on #4670
Doesn't `amd_gcn(DEVICE_INFO) && DEV_VER_MAJOR < 2500` indicate Catalyst?

[code]

[2021-04-22 11:18] magnumripper commented on #4670
Oh yeah I see now Claudio (I think) has added this for us
[code]
So not 2500 but 1912

[2021-04-22 11:21] solardiz commented on #4670
Well, we don't know whether this bug exists on Crimson, but I'm OK working around it just for Catalyst.

[2021-04-22 11:22] solardiz commented on #4670
Got the expected `13 out of 89 tests have FAILED` with the patch I posted above. So it's this bug, and the workaround works.

Now also to try disabling bitslice AES...

[2021-04-22 12:05] magnumripper opened #4684 "POCL testing (Ubuntu 20.04)"
Our current README-OPENCL says POCL is not supported (but will work with some formats). I'll do some testing and see current state, and perhaps come up with some tweaks. Perhaps we can stop saying it's not supported?

This is POCL 1.4
[code]

The ones that fail or warn:
[code]
All others pass!

[2021-04-22 12:06] magnumripper commented on #3748
Closing this in favor of #4684

[2021-04-22 12:07] magnumripper commented on #4684
I see it vectorizes 8x for AVX2, that's great (considering some other CPU drivers settles for 4x even though AVX2 is available). But that's just my vector-aware formats - I have no idea if it can auto-vectorize.

[2021-04-22 12:37] solardiz commented on #4670
[code]

[2021-04-22 12:40] solardiz commented on #4670
This didn't help. So I'll only get the SHA-2 workaround in.

[2021-04-22 12:49] solardiz commented on #4684
Looks so, from your testing. Perhaps update the documentation? Ideally, also try and get descrypt-opencl to work. Thank you!

[2021-04-22 13:15] magnumripper commented on #4684
This part of auto-tune for ODF-opencl isn't great, some tweak needed.
[code]

[2021-04-22 13:28] solardiz commented on #4670
FWIW, rar-opencl also segfaults with other AMD GPUs (Bonaire, another Tahiti) on that system, but passes self-test with Intel CPU and Intel GPU.

[2021-04-22 13:59] #3748 closed

[2021-04-22 15:39] solardiz commented on #4670
On Bonaire on the same system, somehow not only rar-opencl, but also pfx-opencl was segfaulting, but on the other hand one more format (edit: that one is ethereum-presale-opencl) passes test:

[code]

[2021-04-22 16:08] magnumripper commented on #4684
Good thing I found that `--force-scalar` was inadvertently disallowed with `--test`. After that,

Vector:
[code]
Scalar:
[code]
CPU format:
[code]
If this is due to OMP and large KPC, I should be able to get there with higher GWS... yep:
[code]

[2021-04-22 16:09] magnumripper commented on #4684
I didn't look at speeds at all apart from the above, but from what I've seen today POCL is mature and good stuff, especially knowing how much problems there were a couple of years ago.

[2021-04-22 16:16] magnumripper commented on #4684
Benhmarking formats lacking any vector magic, it looks like POCL doesn't have any auto-vectorization at all though. Anyone stuck with CPU should find a good Intel driver that does that.

[2021-04-22 18:41] frank-dittrich commented on #4684
I decided to add my Fedora (5.11.15-100.fc32.x86_64) results here instead of creating a new, fedora specific issue.

[code]
However:
[code]
Afterwards, the previously failing test passes as well:
[code]

And a segfault in gpg-opencl:
[code]
All other formats pass self test on device 2 (CPU).

[2021-04-22 19:41] #4684 closed, assigned to magnumripper

[2021-04-22 19:42] solardiz commented on #4684
@frank-dittrich Can you retest now that #4686 is merged? Thank you!

[2021-04-22 20:14] frank-dittrich commented on #4684
For
[code]
the 2 formats that caused problems now work.
Will do a full test as well, but first I want to report the problems with the "GPU".
[code]
These all look similar, that's why just one stack trace:
[code]
Plus 33 failing formats:
[code]

[2021-04-22 22:08] solardiz opened #4688 "Max length 125 wrongly reported on restored --incremental runs"
[code]

This is with `MaxLen = 13` for the mode in `john.conf`, and with compile-time limit for incremental mode at 24. So clearly 125 is wrong. I hope it's just the reporting, but am not sure.

[2021-04-23 06:48] magnumripper commented on #4684
That GPU stuff is Beignet though, not POCL, right? Or is it both? No, Beignet is complete on its own I think. What's the output of `--list=opencl-devices`?

[2021-04-23 10:10] solardiz commented on #3060
Done in #4678

[2021-04-23 10:10] #3060 closed

[2021-04-23 12:24] ghost commented on #4684
As I "announced" in https://github.com/openwall/john/issues/4543#issuecomment-757328330, Intel and POCL may be working together right now.

[2021-04-23 17:42] frank-dittrich opened #4689 "NEO OpenCL test (as a replacement for Beignet)"
Since Beignet seems to be deprecated, I tested NEO OpenCL

https://github.com/intel/compute-runtime/blob/master/FAQ.md
https://github.com/intel/compute-runtime/blob/master/opencl/doc/DISTRIBUTIONS.md

It looks much better than Beignet, only axcrypt2-opencl and mscash2-opencl failed.

[code]

[2021-04-23 17:46] frank-dittrich commented on #3749
Since Beignet seems to be deprecated and NEO OpenCL seems to work much better (see https://github.com/openwall/john/issues/4689), we might as well remove all references to Beignet and close this issue.

[2021-04-23 18:03] frank-dittrich commented on #4689
For some formats, the speed isn't bad (compared to CPU format or POCL), but for others it is much worse.
[code]
[code]

[2021-04-23 18:26] frank-dittrich opened #4690 "clang warning: (misleading indentation) in bt.c"
[code]
Indeed, there's a `;` before the `fprintf`

[2021-04-23 18:45] frank-dittrich opened #4691 "./configure --enable-ubsan for some reason disables rar and rar-opencl formats"
May be there's a valid reason, but for me this is unexpected:
[code]

[2021-04-23 18:51] frank-dittrich commented on #4691
I should have checked this before creating this issue:
[code]

[2021-04-23 18:51] #4691 closed, assigned to nobody

[2021-04-23 20:42] frank-dittrich opened #4693 "Runtime warnings with ASAN and UBSAN"
Might be false-positive

[code]

And for some reason, mscash2 format as a CPU format and as mscash2-opencl format on the Intel "GPU" (but not POCL) fail with --enable-ubsan, while they pass self-test in a regular build:
[code]
(And, IMHO, the Device info sholdn't be intermangled with the --test output.)

[2021-04-23 20:48] solardiz commented on #4693
Maybe you can reproduce this without `--enable-ubsan` by disabling only `ARCH_ALLOWS_UNALIGNED`?

[2021-04-23 20:59] frank-dittrich commented on #4693
With just `CFLAGS_EXTRA="-DARCH_ALLOWS_UNALIGNED=0"` instead of `--enable-ubsan`, `-format=mscash2` passes self test, but `--format=mscash2-opencl --device=1` still fails:
[code]

[2021-04-23 21:18] frank-dittrich commented on #4689
Just in case this is useful:
[code]

[2021-04-24 09:17] magnumripper commented on #4691
We actually override `ARCH_ALLOWS_UNALIGNED` with a positive `__ARM_FEATURE_UNALIGNED` (in this very case only) so you don't have the latter either.

[2021-04-25 13:28] solardiz commented on #3130
@michael202020 You got a good point, thank you! While I didn't review this in full context (looking only at what we have in JtR and an input JSON to `ethereum2john.py`), I think you're right. For hash types `$ethereum$p` and `$ethereum$s` (also known as types 0 and 1 inside JtR), we're not encoding the `iv`, and we're not decrypting anything during password cracking - rather, we generate a derived

[2021-04-25 13:33] solardiz commented on #2667
This has been taken care of.

[2021-04-25 13:33] #2667 closed

[2021-04-25 18:56] #4688 closed, assigned to magnumripper

[2021-04-25 19:14] solardiz opened #4696 "Have OpenCL auto-tune find optimal LWS that isn't a power of 2"
Experimenting with Bitcoin-opencl, I see that its optimal LWS for the old Titan Kepler is 384 (edit: or actually 768). However, auto-tune goes by powers of 2 and finds 512, resulting in worse speeds and higher GWS. While these specific GPUs don't matter much anymore, perhaps the issue could also be relevant to other/future devices. Perhaps we can do better by parsing device info? We do have 192 ri

[2021-04-25 20:19] ghost commented on #4696
The culprit is https://github.com/openwall/john/commit/33f1af44dc2fec3f47a962090879d29801537074, Line 1641.

[2021-04-25 20:43] solardiz commented on #4696
Not only that. `get_kernel_preferred_multiple()` returns 32 for this device, so even without explicit jumping to a power of two our doublings only go over powers of two anyway.

[2021-04-25 20:44] ghost opened #4697 "OpenCL is broken."
According to Travis upstream CI.

[code]

[2021-04-25 20:51] solardiz commented on #4697
Must be side-effect of first commit of #4694. Who's to fix this?

[2021-04-25 20:53] solardiz commented on #4696
And not only that. We also have this:

[code]

which I think makes it skip to next power of two for LWS when the GWS is a power of two.

(BTW, also the empty line in there should be deleted. Edit: and `continue;` indented consistently.)

[2021-04-25 20:54] ghost commented on #4696
I don't know exactly what problem you are facing (I'm testing other format, probably using another device). Anyway, if you remove the offending code [1] and tune using a proper GWS [2], it must work as expected. Or revert to tune using GWS=NULL (the way it used to work).

[1]
[code]
[2]
[code]

[2021-04-25 21:00] solardiz commented on #4696
Well, if I not only remove that code above, but also explicitly set GWS that is a multiple of my desired LWS, then yes, it does find that LWS. Otherwise, it does not. We need to somehow make it find both optimal LWS and optimal GWS by default.

That other logic I complained about above is from ad329dd39032469d998e4ef5e676e87794f26c9f, which keeps GWS from increasing beyond the allocated buffer siz

[2021-04-25 21:35] solardiz commented on #4696
This is achieved by:

[code]

However, the result is not pretty - the lower GWS affects speeds, too, and it's not the final GWS that would be used yet, so we end up with an LWS that's affected by those temporary GWS adjustments:

[code]

I am puzzled that lowering GWS from 4096 to 3840 hurts speed at LWS=768 so much, but apparently it does, so a much lower and weirder LWS ends up being chosen, the

[2021-04-25 21:42] solardiz commented on #4696
This is probably not the correct interpretation of what happened. Maybe speeds at LWS=768 were always worse at that low and non-optimal GWS. If so, the issue isn't so much that we skipped testing this LWS, but also that we wouldn't have detected it as optimal when testing with a lower and far from final GWS.

Maybe the very first run finding initial best GWS should have already used a larger LWS.

[2021-04-25 21:54] solardiz commented on #4696
As an experiment, I tried hard-coding it as 192. Got initial GWS=6144 for finding best LWS. Ended up with LWS=480 again, with 768 being slower at that GWS. So no, that's not the solution.

[2021-04-25 22:04] solardiz commented on #4696
What puzzles me is that even if I set initial LWS to 768, the initial GWS finding ends up with GWS=6144 and not higher. This then leads to LWS=768 appearing non-optimal, and LWS=480 being chosen. Is the initial GWS finding run also limited in some other way causing this? Looks so, as the below hack of setting `have_lws = 1;` got around that issue:

[code]

However, 736 ended up looking very slight

[2021-04-26 10:50] solardiz commented on #4697
@magnumripper Maybe you?

[2021-04-26 14:45] magnumripper commented on #4697
Ouch, I'm on it. I was planning to test that before declaring the PR ready but it slipped my mind. It's a pity we have no OpenCL testing on CI now.

[2021-04-26 14:53] magnumripper commented on #4697
I don't get it though... `agile_kernel.cl` includes `pbkdf2_hmac_sha1_unsplit_kernel.cl` which includes `opencl_sha1.h`, and there we have the declaration. How can it not be defined?

[2021-04-26 14:54] magnumripper commented on #4697
Oh, I see it now, it's `SHA_DIGEST_LENGTH` vs `SHA1_DIGEST_LENGTH`. What a foot gun.

[2021-04-26 15:06] #4697 closed, assigned to magnumripper

[2021-04-26 15:13] #4339 closed, assigned to nobody

[2021-04-26 15:40] magnumripper commented on #4696
I too have experimented with this in the past, thinking it *should* be of some value, but I always ended up with inconclusive results when trying to generalize it. I still think "it should" be of value, I just don't know how.

As for hashcat I'm not sure right now but I think they have presets for common cards, perhaps with some run-time tune (or maybe not?). I'm really fond of the concept of unpr

[2021-04-26 23:46] ghost opened #4699 "sha[256/512]crypt formats are broken"
According to Travis upstream CI.

[2021-04-27 08:12] #4699 closed, assigned to nobody

[2021-04-27 16:58] solardiz opened #4703 "sha1crypt-opencl auto-tune stuck at LWS=256 on Kepler"
I realized I didn't know to update `ITERATIONS` in `opencl_sha1crypt_fmt_plug.c` when I introduced hashcat's test vector, and was about to do that, but found another issue, also seen e.g. on a build from January:

On the Titan Kepler in "super", auto-tune for this format exhibits this behavior:

[code]

and so on - it doesn't complete. I wonder how we managed to test all formats including on that

[2021-04-27 17:04] solardiz commented on #4703
Testing my old builds, August 2018 works, December 2018 fails like above. However, this is really weird - surely we previously ran all formats on that GPU after that date?

[2021-04-27 18:08] solardiz commented on #4703
@magnumripper @claudioandre-br I'd appreciate your help on this issue. This device is currently idle.

[2021-04-27 18:09] solardiz commented on #4703
This is now done, but as expected didn't make a difference for the stuck auto-tune issue reported here.

[2021-04-27 19:29] magnumripper commented on #4703
Could it be we never tested anything but `-test=0`?

[2021-04-27 19:30] magnumripper commented on #4703
Never mind how we didn't notice - what in the code allows/results in this behavior?

[2021-04-27 19:55] magnumripper commented on #4703
[code]
When we get stuck, `wg_multiple` is 32 and `my_work_group` is 256. We hit the else clause, and end up with `x` being 512. Then `GET_NEXT_MULTIPLE(512, 32)` results in 256... why is that?!

[code]

[2021-04-27 19:58] magnumripper commented on #4703
OK, so `ocl_v_width` is actually 2!

[2021-04-27 20:02] magnumripper commented on #4703
OK, it's actually supposed to be 2, but our `find_best_lws()` function doesn't deal with it very good.

[code]

This is simply a bug in `find_best_lws()` that doesn't seem to surface very often.

I'll take a break until tomorrow.

[2021-04-28 11:20] magnumripper commented on #4703
I really wonder if `ocl_v_width` should be in that macro at all, and if should, maybe it's currently put there in some incorrect way.

Or, if it is sometimes to be used (such as in count -> GWS calculation unlike here), perhaps it should be in the *arguments*, not in the *macro*? I need to boil this a bit longer.

[2021-04-28 11:34] magnumripper commented on #4703
Here's the same bug seen with same format but an `ocl_v_width` of 4 (Apple CPU):
[code]
It aborts prematurely, which is harder to notice than when it continues forever...

EDIT: This might also be caused by some code forcing LWS to 1 when device is a CPU. If I add `-lws=8` it's silently ignored and I still get 1.

[2021-04-28 11:40] magnumripper commented on #4703
Here's the output for same format with POCL CPU, width 8 (for AVX2):
[code]
So the forcing of LWS=1 for CPU might be Apple-specific. And for some reason, everything works well here. Is it just x2 that gets problems?

[2021-04-28 11:50] magnumripper commented on #4703
Same POCL CPU with `--force-vector-width=4`
[code]
It does seem to abort prematurely (I'll need to dry run the numbers). **EDIT** that's obviously because GWS was only 8.

And with `--force-vector-width=2`
[code]
I really thought this would reproduce the original never-end behavior, but it doesn't. OTOH it does seem to abort prematurely. **EDIT** that's obviously because GWS was only 8.

Going bac

[2021-04-28 11:56] magnumripper commented on #4703
I should probably stop this testing and instead figure out what we *do* want to calculate, but I'm not clear about that yet, lol.

[2021-04-28 12:21] magnumripper opened #4705 "oldOffice document with 56-bit key"
Original issue: https://www.openwall.com/lists/john-users/2021/04/27/1

I got a private copy of such document. Using some debug prints, I get
[code]
According to [MS-OFFCRYPTO](https://docs.microsoft.com/en-us/openspecs/office_file_formats/ms-offcrypto/3c34d72a-1a61-4b52-a893-196f9157f083):
- "Flags 4" seem to mean "CryptoAPI RC4".
- providerType d (`0x0d`) doesn't seem normal. It should be `0x01`

[2021-04-28 12:48] magnumripper commented on #4705
This doesn't make sense. https://docs.microsoft.com/en-us/windows/win32/seccrypto/prov-dss-dh-provider-algorithms says it provides MD5 and SHA hashing, but not RC4.

**EDIT** diving a bit deeper in the docs, RC4 is there as well: https://docs.microsoft.com/en-us/windows/win32/seccrypto/microsoft-enhanced-dss-and-diffie-hellman-cryptographic-provider

---

Our 40-bit sample `XP-RC4-40bit-base-1.0_m

[2021-04-28 13:04] magnumripper commented on #4705
Like I said in original ML thread

[2021-04-28 13:19] magnumripper commented on #4705
Just to see the difference: A 128-bit key sample document show this debug output:
[code]
https://docs.microsoft.com/en-us/windows/win32/seccrypto/enhanced-provider-algorithms

For future tests, here's the patch for getting debug output from office2john:
[code]

[2021-04-28 14:16] magnumripper commented on #4705
Note to self: MITM is not applicable for 56-bit: If you can get a hit every 40 minutes for 40-bit, it will be once every 5 years for 56-bit.

[2021-04-28 22:19] magnumripper commented on #4703
OK, here's a fact: *Every single use of this macro* except this very one are of this type:
[code]
...and all of those are fine - it's just this call from `find_best_lws()` that should NOT take vector width into account.

Still, I'm thinking with a name like that, `GET_NEXT_MULTIPLE()` really *shouldn't* have `ocl_v_width` in it. We should refactor it either to a name that specifically indicates it

[2021-04-28 22:29] magnumripper commented on #4703
Besides, the `Nvidia Kepler benefits from 2x interleaved code` doesn't seem to be true (anymore?). With default vector width of 2, we end up at 35691 c/s but running scalar gets us all the way to 49245 c/s.

[2021-04-29 12:55] #4690 closed, assigned to nobody

[2021-04-29 13:09] magnumripper commented on #4705
From [original post](https://www.openwall.com/lists/john-users/2021/04/27/1)

FWIW, trying to open in macOS Pages nothing odd is seen, it just asks for a password.

Trying LibreOffice, the message is "The encryption method used in this document is not supported. Only Microsoft Office 97/2000 compatible password encryption is supported."

[2021-04-29 13:31] magnumripper commented on #4705
For various hysterical reasons I expect this is how you would do so:
1. Install Windows XP or something like that in a VM
2. Install some version of Word or Office ~pre-2003~ <= 2003
3. Google '`"RC4" "40-bit" "56-bit" "registry"`' and try to find posts around the turn of the millennium that tells you how to change a few registry settings so you end up with 56-bit RC4 instead of 40-bit.
4. Save th

[2021-04-29 14:36] solardiz commented on #4705
Didn't any versions of Windows/Office have 56-bit enabled by default? Maybe those intended solely for the US market, since the 40-bit limitation was because of export regulations.

[2021-04-30 08:25] #4703 closed, assigned to nobody

[2021-05-03 09:18] blandyuk opened #4710 "ZTEX 1.15y (not the rev2) issue"
Hi,

I have 6 ZTEX boards, 5 are the 1.15y rev2 and one is the older 1.15y only.

The 5x rev2 boards work OK, but the 1.15y board does the below:

SN 04A3465A70: firmware uploaded
SN: 04A3465A70 productId: 10.15.0.0 "inouttraffic 1.0.0 JtR" busnum:2 devnum:6
Using default input encoding: UTF-8
Loaded 1 password hash (bcrypt-ztex [Blowfish ZTEX])
Cost 1 (iteration count) is 1024 for all loaded hash

[2021-05-03 09:53] solardiz commented on #4710
That john-dev posting you reference does explain what the error message means, but the rest of it is mostly out of date. Also, no need for you to be uploading firmware manually, as the excerpt above shows JtR replaces the firmware just fine (which it does without making that permanent, which is also fine).

I suggest you look for a hardware issue.

Try changing the USB hub, port, cable. Is the USB

[2021-05-03 09:53] #4710 closed, assigned to nobody

[2021-05-03 10:35] blandyuk commented on #4710
Thanks as always solardiz.

Yes, done all the usual, changed USB cable (using short ones as they work better), different power inputs. Connected direct so no USB hub for this one. The other 5x are connected via 10 port USB3 hub and working perfect.

Will be a hardware problem, so that's that. Originally, the board started with the "SN 04A3465A70" but once john uploaded firmware, it changed to "SN

[2021-05-03 12:59] solardiz commented on #4710
We used to test these boards with a certain older version of cgminer, from just before they dropped the support, trying to mine Bitcoin. I think this is still supposed to work. You can try it with your boards.

I guess it's the other way around. In fact, you show that real-looking SN in your first comment here, suggesting it's the one seen after firmware upload (and that `john` had already uploade

[2021-05-03 13:09] blandyuk commented on #4710
OK thanks. There are tools from the ztex downloads which might allow me to resolve this? We have the FWLoader and the DeviceServer of which I've tried both so know how they work.

Cannot remember if I can change what's in the EEPROM. I know DeviceServer has numerous options. I have numerous downloads of different versions for the SDK, any you recommend using?

https://www.ztex.de/downloads/
See: Z

[2021-05-03 13:59] magnumripper commented on #4705
"US domestic" versions always allowed 128-bit but ["Acquiring the 'U.S. domestic' version turned out to be sufficient hassle that most computer users, even in the U.S., ended up with the 'International' version"](https://en.wikipedia.org/wiki/Export_of_cryptography_from_the_United_States#PC_era). That quote was in context of 40-bit but it probably holds for 56-bit as well. The increase from 40-bit

[2021-05-03 14:25] solardiz commented on #4710
I have no recommendations on those tools. Maybe @Apingis or someone on john-users does (after all, this is more of a john-users than a GitHub topic).

My recommendation is that you test with sufficiently old cgminer.

[2021-05-03 14:26] solardiz commented on #4710
Maybe I wasn't clear. Let me try again: I think you don't need to change what's in EEPROM.

[2021-05-03 14:30] blandyuk commented on #4710
OK, I've tested with cgminer as suggested, and it looks like hw error. Pastebin or benchmark is below:

https://pastebin.com/hYsQtMui

Thanks for all the help, but looks like the board is a paper-weight.

[2021-05-03 14:36] solardiz commented on #4710
To make sure your cgminer setup is right, also test one of the known-working boards with it.

BTW, you shouldn't need to run these programs under `sudo` if you configure `udev` rules as described in our `README-ZTEX`.

[2021-05-03 14:38] blandyuk commented on #4710
OK cheers. The other boards are busy, but I'll test at some point.

[2021-05-03 15:19] magnumripper commented on #4705
[This Wikipedia page](https://en.wikipedia.org/wiki/Microsoft_Office_password_protection#History_of_Microsoft_Encryption_password) says
"*The default protection in Office XP and 2003 was not changed [from 40-bit], but an opportunity to use a custom protection algorithm was added. Choosing a non-standard Cryptographic Service Provider allows increasing the key length.*"

[This Elcomsoft page](https

[2021-05-03 15:38] #4636 closed, assigned to magnumripper

[2021-05-03 15:51] #4705 closed, assigned to magnumripper

[2021-05-03 16:03] magnumripper commented on #4705
To anyone arriving at this page from seeing this message:
[code]

Please report here if you either managed to crack such document with current code, or was able to produce a sample with a known password that was or was not cracked.

We'd like such sample (with known password) to be added to [our samples collection here](https://github.com/openwall/john-samples) as well.

[2021-05-05 13:46] ghost opened #4711 "CircleCI (build) does not work with Fedora 34"
I expect the EOL of the current image (f32) to be at the end of this year. We need to think about an alternative. I'm thinking about moving upstream CircleCI to Ubuntu.

It fails like this:
[code]
Env:
[code]
If fails here: `{ $as_echo "$as_bourne_compatible""$as_required" | as_run=a "$SHELL"; }` (line 234)

There is a nasty and known bug in `seccomp`/`glibc` that makes a simple `test -x` fail ins

[2021-05-05 13:56] frank-dittrich opened #4712 "Tunable cost names containing string ", ""
From formats.h:
[code]
Nevertheless, several formats have tunable cost names which contain `, ` (especially formats which report a list of different algorithms as a tunable cost.

I intend to fix the offending formats, e.g. by replacing
[code]
with
[code]
and then enhancing format self test (fail if a tunable cost contains `, ` (or even just `,`), and fail if a tunable cost name i empty or if the

[2021-05-05 14:00] solardiz commented on #4711
Thank you for bringing this up, Claudio!

I find this confusing. The title says "does not work on Fedora 34", but then you show a failure on (apparently) "Ubuntu 18.04.5 LTS" and write that "I can build a Docker image using F34 but still can't do the same using Ubuntu 21.04". So reading this I don't know what issues there are and what works and what does not. I also don't understand what exactly "

[2021-05-05 14:03] solardiz commented on #4712
@frank-dittrich I didn't realize we had this issue, but I have no objections to getting it fixed like you propose. Thanks!

I see no reason to limit the added tests to some high test levels. They sound inexpensive.

[2021-05-05 14:06] ghost commented on #4711
Ok, I updated the above statement. Ubuntu is the "host" machine.

I can't use `docker build` if the 'guest OS' is Ubuntu 21.04, I can run `docker build` (build a Docker image) if the 'guest OS' is Fedora 34.

[2021-05-05 14:14] magnumripper commented on #4712
I wasn't aware either, and the solution sounds good to me

[2021-05-05 14:17] ghost commented on #4711
The recent decommission of CentOS 6 has resulted in the removal of upstream repositories. I had to move away from CentOS6. So, maybe we will not able to keep using F32.

Well, since the build is reproducible (I have everything installed inside the Docker image), we won't need to stop using F32. I stop maintaining the image, but I DO NOT remove it while someone else uses it (not even Docker Hub wil

[2021-05-05 14:18] solardiz commented on #4711
Thanks. I still don't understand what this issue's title refers to - what "does not work on Fedora 34"?

Regarding the F32 image:

Do you know after which period of non-use this happens?

[2021-05-05 14:31] ghost commented on #4711
IMO, CircleCI itself. (Maybe) they shouldn't be using Ubuntu 18 (since I can't reproduce using Ubuntu 20.04) locally. I need to run other tests inside Circle, but they should probably update to a new default image.

No. Docker (Hub service) has postponed this new rule.

[2021-05-05 15:41] solardiz commented on #4711
If I finally correctly understand what you meant, maybe the issue title should be "Our CircleCI build uses Fedora 32, which will be EOL'ed soon". Fedora 34 is merely what you thought would be the most straightforward upgrade, and isn't otherwise relevant.

[2021-05-08 11:33] byposeidon opened #4717 "FPGAs other than ZTEX 1.15y not supported"
Because the application supports 1 fpga card that is not in the market.
https://www.ztex.de/usb-fpga-1/usb-fpga-1.15y.e.html
"USB-FPGA Modules 1.15y are deprecated."

Do you have suggestions for fast BCRYPT hash decrypting?

[2021-05-08 11:45] ghost commented on #4717
See also #4019 #4526 #4648

Basically, JtR needs sponsors and/or contributors.

[2021-05-08 12:06] byposeidon commented on #4717
We would be a sponsor. Is there anyone to contributor?
I think there is a compatibility problem with other fpga cards.

[2021-05-08 17:27] solardiz commented on #4717
If you manage to find used ZTEX 1.15y boards, then that's the best choice for bcrypt. (And we don't call it decrypting.)

Please e-mail me at solar@openwall.com to discuss your business need for this functionality and the amount of your possible sponsorship.

We definitely don't support ZTEX 2.x cards, and we don't intend to support them - not even with sponsorship - because this isn't expected to

[2021-05-08 17:27] #4717 closed, assigned to nobody

[2021-05-08 17:33] solardiz commented on #4717
One more detail: this project would also require an appropriate timeframe - at least several months, possibly a year - so it isn't something we can provide in response to an immediate and short-term business need. I feel I have to mention this detail because of some past discussions we had with prospective sponsors - they needed the functionality "now" and were not interested in funding a project

[2021-05-08 18:04] frank-dittrich opened #4718 "POCL tests sometimes auto-tune to LWS much higher than manual maximum, then segfault"
Unfortunately, not reproducible reliably, but sometimes I get (Debug build, because I wanted to analyze the core files)
[code]
When I try to force `LWS=2048 GWS=8192`, I get
[code]

OTOH, I also had a successful run where john ended up with `GWS=16384`:
[code]
Another run ended up with completely different GWS:
[code]

Why these these different GWS values?
What can I do to figure out what's going

[2021-05-09 22:00] W-Hamra opened #4719 "ssh2john working only in Python 2"
I see you guy have already fixed some of the scripts in #4641 , there's also ssh2john that's working only in python2, though I think that could be only a recent issue. In Python 3 I get:
`AttributeError: module 'base64' has no attribute 'decodestring'`

Which to my understanding is due to `decodestring` getting deprecated and removed in Python 3.9.

[2021-05-09 22:45] jasoncarr0 opened #4720 "gpg2john internal error with symmetrically encrypted files above approximately 90000 bytes"
The current version of gpg2john

Bad parameter: give(len=216277, buf=0x1ccb280, buf_size=90000), len can not be bigger than buf_size.

The issue appears to be that the buffer is a fixed size: https://github.com/openwall/john/blob/bleeding-jumbo/src/gpg2john.c#L143

### Steps to reproduce ###

Pass a large symmetrically-encrypted zip file to `gpg2john`. The smallest of mine was 212K which was still

[2021-05-10 00:14] ghost commented on #4720
I'll close this as duplicate of #4631. Please post your comments there if you have anything new to add..

[2021-05-10 00:14] #4720 closed, assigned to nobody

[2021-05-10 00:31] ghost commented on #4719
I'm afraid you are using an outdated version. This was fixed at 660de879bd06a2edbe228b7c742d4a98ec989248. Could you please confirm that you are using the latest source from this repo?

I'm closing this. If you think I’ve misunderstood your problem, please reopen it.

[2021-05-10 00:31] #4719 closed, assigned to nobody

[2021-05-10 01:01] jasoncarr0 commented on #4720
Sorry about that @claudioandre-br

[2021-05-10 09:13] solardiz opened #4721 "Support PuTTY 0.75+'s PPK3 private key file format, which uses Argon2"
PuTTY 0.75 [release announcement](https://lists.tartarus.org/pipermail/putty-announce/2021/000031.html) says:

[code]

[2021-05-10 14:06] ghost commented on #4711
I moved the Docker images to (Openwall's) GitHub Container Registry. These images should be considered unmaintained.

I am not re-purposing my Ubuntu images to perform the tasks CircleCI performs using Fedora because I created them for another purpose (they would need to be changed).

Maybe it's time to give up Wine (at least Wine 32 which is tied to F32).

[2021-05-10 14:32] solardiz commented on #4415
I cannot reproduce the problem in Claudio's first comment here - I am getting the correct password cracked:

[code]

As you can see, "openwall" appears among the 8 possible guesses. The other 7 are false positives.

The false positives are gone with:

[code]

Claudio, can you try reproducing this issue again - somehow the issue did occur for you? Is it maybe triggered by the specific input file yo

[2021-05-10 14:43] solardiz commented on #2163
In 2017, @kholia wrote:

As I understand, our native support for wallets does not cover those wallets wrapped in "openssl enc", which some wallet software uses, and which this issue was about. Our "openssl-enc" format works on this outer layer fine, but suffers from too frequent false negatives - hence, @kost123's request here to detect correct decryption through wallet-specific patterns made sens

[2021-05-10 14:48] ghost commented on #4415
Running it right now:

[code]

[code]
[code]

[code]

The secrets.txt.enc file:
[secrets.txt.zip](https://github.com/openwall/john/files/6452914/secrets.txt.zip)

[2021-05-10 14:51] ghost commented on #4415
I just tested the file using a `openssl aes-256-cbc -d -a -in secrets.txt.enc -out secrets.txt.new`

[2021-05-10 14:56] solardiz opened #4723 "openssl-enc: Use the amount of padding as confidence indicator"
Our openssl-enc format suffers from producing lots of false positives. Indeed, by default we only check the padding, and we require 1+ byte of padding, which means we get one false positive per approx. every 255.75 passwords tested.

In practice, restricting the padding check to require more than 1 byte of padding works most of the time - e.g., if we require 5+ bytes of padding, then we'd have alm

[2021-05-10 14:59] solardiz opened #4724 "openssl-enc: Warn about the ASCII percentage feature"
Our openssl-enc format suffers from producing lots of false positives. Indeed, by default we only check the padding, and we require 1+ byte of padding, which means we get one false positive per approx. every 255.75 passwords tested.

Our `openssl2john.py` has a command-line option to specify the required ASCII percentage in the last AES block for detecting a correct guess. Unfortunately, this won'

[2021-05-10 15:10] solardiz commented on #4415
Are you able to decrypt your file using password "openwall"? I downloaded your encrypted file from here, and I can't decrypt it with that password:

[code]

[2021-05-10 15:18] ghost commented on #4415
I can, as you can see below:
[code]

[2021-05-10 15:25] solardiz commented on #4415
Tried downloading to and decrypting on another system (different OpenSSL), still can't. Can others reading this please try this as well, and comment in here?

[2021-05-10 15:40] magnumripper commented on #4415
I also can't
[code]
[code]

[2021-05-10 15:50] magnumripper opened #4725 "--make-charset doesn't work correctly together with --format"
The `--format` option is simply ignored. After quite some time bisecting (due to build problems of very old versions of Jumbo vs. newer OpenSSL) I believe the current behavior stems from 7264c19d back in March 2017, but the initial problem was 0ceedb2 of December 2016(!). Between those versions, using `--make-charset` *with*  `--format` actually still worked fine, but leaving `--format` option out

[2021-05-10 15:53] magnumripper commented on #4725
I have yet to digest those two patches... it might take me a while to figure out what was intended and what was b0rked.

[2021-05-10 16:04] ghost commented on #4415
Below, I tested using Docker Playground (aka, play with Docker). Both worked. Later, I will try using AWS ami.

BTW: Fedora is `latest` (right now it is F34).

[code]

[2021-05-10 16:23] ghost commented on #4415
The AWS ami fails. It seems that old versions of openssl behave differently. I use 2020+ versions.

AMIs version:
[code]

[2021-05-10 16:38] frank-dittrich commented on #4415
Fedora F32 also has a recent openssl version.
[code]

[2021-05-10 17:34] solardiz commented on #4415
@frank-dittrich You need to take a look at the decrypted file - just because `openssl` agreed to create it doesn't mean it decrypted correctly. For our false positives, it also agrees to decrypt, but the resulting data is obviously incorrect. That said, given that I was getting a decryption error (meaning the padding was wrong for me), we already know that your decryption is at least different fro

[2021-05-10 17:36] magnumripper commented on #4725
Re-applying this fixes the problem
[code]
However, it does not handle cases like `--format=rar,zip` (accepting those two for makechr but no others) - that will again ignore the format option. I guess that was never supported but I'd like to see if we can do that as well. Or am I creating a new footgun with that?

[2021-05-10 17:40] solardiz commented on #4725
We don't have to support this, but if we don't support it we should print a message, not ignore the option silently.

[2021-05-10 17:59] frank-dittrich commented on #4415
[code]
The file contents is identical to the one listed by @claudioandre-br in https://github.com/openwall/john/issues/4415#issuecomment-836828532

[2021-05-10 18:13] frank-dittrich commented on #4415
[code]
From the man page:
[code]
Do you want me to create a new pbkdf2 sample file?
Let me know the exact command (incl. iteration count) you want me to use.

[2021-05-11 11:25] #4711 closed, assigned to nobody

[2021-05-11 16:51] solardiz commented on #4415
Apparently, the default `-md` algorithm changed from MD5 to SHA-256. I am able to decrypt Claudio's file by specifying `-md sha256` to `openssl` (old version):

[code]

I am also able to crack it with JtR by specifying `-m 2` to `openssl2john.py`:

[code]

Apparently, there's inherently no reliable way to tell which MD algorithm and which cipher and mode(?) were used for encryption until we've fou

[2021-05-11 18:24] solardiz opened #4727 "SHA-2 Maj, SHA-1 H, MD4 G trick"
I just found this old message:

https://groups.google.com/g/crypto-optimization/c/ZjtgKWg8AnA

[code]

So we can write `Maj` in 4 basic operations (with a total circuit depth or latency of 3, though), and moreover with Wei Dai's trick have a common subexpression that would amortize this to 3 basic operations.

When we have at least `bitselect()` or the like, we don't need this, but when we don't w

[2021-05-11 18:32] solardiz commented on #4727
Oh, found that we actually mostly use the same 4 operations version in scalar code as well:

[code]

The 5 operations one is in `sha512_reverse()`, so was probably copy-paste from closer-to-reference code. We could want to update it and see the effect, even though this only affects load time.

So my main point is we could want to try these two alternative 4 operations versions from the posting I q

[2021-05-12 11:29] solardiz commented on #4430
Implemented in #4726.

Looks like we already skip that due to the `return;` here:

[code]

This is fixed with #4726.

[2021-05-12 11:37] #4725 closed, assigned to nobody

[2021-05-12 12:22] solardiz opened #4728 "Opportunistic dupe suppression for wordlist+rules"
We currently have full duplicate candidate suppression in the separate `unique` tool, and we also reuse code from there to suppress duplicate input wordlist entries and wordlist rules. However, when we're running through wordlist+rules (maybe after suppression of duplicates within the wordlist and within the rules separately), we only suppress consecutive duplicates (compare against the immediatel

[2021-05-12 12:43] solardiz commented on #4728
Alternative implementation could store hashes/fingerprints instead of actual candidate passwords. As I read, hashcat brain stores 64-bit hashes. We could, too, for perhaps a sufficiently low rate of false positive matches (and thus of potential false negatives in terms of password cracking, where we'd wrongly skip a non-dupe). This eliminates the need to bother with variable-length entries, and (m

[2021-05-13 12:09] solardiz commented on #4728
Even before I opened this issue, I've been thinking of how to use a cuckoo filter for this, and specifically of whether/how to integrate it with passwdqc (pwqfilter). I didn't mention this at first because I thought there was a major reason not to go this way: with a cuckoo filter, there's no quick and easy way to replace the oldest entries first. However, thinking of this more, maybe there's not

[2021-05-13 13:51] solardiz commented on #4723
FWIW, here's a hack I ended up using to successfully recover a password to an encrypted binary file without having to wade through too many false positives manually:

[code]

[2021-05-13 14:07] solardiz commented on #4658
FWIW, here's a first attempt at hacking our GPG format to support ProtonMail _instead_ of normal GPG keys. This pretends to work (with `--skip-self-test` since the test vectors aren't updated), but I don't know if it actually works right or not.

[code]

[2021-05-14 08:51] magnumripper commented on #4723
I take it we can't actually know beforehand what size padding to expect, right? So you took a chance on requiring at least three.

That "confidence level" (such as number of padding bytes seen) idea isn't bad, we should figure out a way to support it in core somehow. Perhaps not storing the level into pot file, but displaying and logging.

[2021-05-14 08:58] magnumripper commented on #4723
This would also allow for new options such as `--min-confidence=N`

[2021-05-14 09:05] solardiz commented on #4723
In general, we can't, but for some file types or if the exact original file size is known (e.g., if the same file is also found in an encrypted archive with unknown password), we can.

We could have `openssl2john.py` accept original file size via a command-line option, and document that we only use it modulo 16, so that the option can still be used if only that is known (due to file format propert

[2021-05-14 09:30] solardiz commented on #4728
BTW, we have this for single mode (with tiny per-salt buffers) since 1998 or so, see `single_add_key()` and `single_process_buffer()`. It's kind of weird we never implemented the same for wordlist mode. As I recall, the reasons why I treated single mode specially in this respect were that it required such per-salt buffering (separate from what `set_key()` would use) for other reasons anyway (such

[2021-05-14 16:57] solardiz commented on #4727
So this gives me slightly smaller code and about 1% speedup at sha256crypt, sha512crypt, Bitcoin on AVX2:

[code]

As you can see, I simply `#if 0` out the repetition of these defines - why did we even have that?

Need to also update OpenCL and scalar code, and test this more.

[2021-05-14 21:05] magnumripper commented on #4727
Looks like there were two files merged to one. Perhaps optimal SHA-512 macros could end up different than SHA-256 on some arch, but then they'd need to be undefined first.

[2021-05-15 12:27] solardiz opened #4731 "Support building and repackaging without unRAR"
hashcat 6.2.1 was just released making their use of unrar optional. Perhaps we should make ours optional, too. This is because of the unrar license, which some distributions/packagers find unsuitable: https://github.com/hashcat/hashcat/issues/2614

[2021-05-16 09:26] magnumripper commented on #4731
Not sure if/how it matters but I think they used the original unrar, while we use ClamAV's unrar.

[2021-05-16 10:48] solardiz commented on #4731
What we use carries this notice:

[code]

As I understand, the "may not be used to" restriction is incompatible with the FSF's free software definition and with OSI's Open Source definition. It is also incompatible with GNU GPL, which is why we had to add an exception to ours:

[code]

Now we've made OpenSSL an optional dependency for JtR, and besides it was external rather than bundled (so less o

[2021-05-16 13:29] magnumripper commented on #4731
So if we add `--without-unrar` to `configure` we might be good? That way a distro can build a binary without the unrar code - but they'd still not be able to distribute a source package unless they remove `unrar*.[ch]` from it (which would work fine though - BTW we should have `configure` detect such missing files and infer `--without-unrar` from it with a warning).

Edit: We should also ensure th

[2021-05-16 13:43] magnumripper commented on #4731
According to https://github.com/hashcat/hashcat/issues/2614#issuecomment-841451936 this would be fine and normal.

[2021-05-16 13:48] magnumripper commented on #4731
I guess we'd make it a line like these
[code]
Something like
[code]

[2021-05-16 14:06] magnumripper commented on #4731
Another possibility is we could ditch the ClamAV unrar code (which was chosen because it's C and not C++) and instead port "unrar-free" (eg. https://launchpad.net/ubuntu/+archive/primary/+sourcefiles/unrar-free/1:0.0.1+cvs20140707-4~build0.16.04.1/unrar-free_0.0.1+cvs20140707.orig.tar.gz) to plain C. It's GPLv2 but it does have a comment "Can't handle some archives in  the RAR 3.0 format natively"

[2021-05-16 14:29] magnumripper commented on #4731
A third possibility might be to nick code from unar (not unrar but "The Unarchiver"), which is LGPL and doesn't seem to have any functionality limitation. We *might* even be able to dlopen its library (so the unrar-or-not could be a runtime choice) but then we'd no longer just inflate-to-CRC.

https://launchpad.net/ubuntu/+archive/primary/+sourcefiles/unar/1.10.1-2build3/unar_1.10.1.orig.tar.xz

[2021-05-16 14:40] solardiz commented on #4731
I think that's what we should do for now. I think switching to a different/external unrar code base is too much of a change now - maybe something to consider after the next release.

We could also want to research how distros are packaging ClamAV. Do they exclude unrar, and how, or do they find it not a problem, or have they not noticed it is a problem yet?

[2021-05-16 14:43] xvitaly commented on #4731
We have a special exception for firmware blobs. No other non-free components are allowed: https://docs.fedoraproject.org/en-US/packaging-guidelines/LicensingGuidelines/

[2021-05-16 14:44] xvitaly commented on #4731
Fedora removes it from sources: https://src.fedoraproject.org/rpms/clamav/blob/rawhide/f/clamav.spec#_52

[2021-05-16 14:47] magnumripper commented on #4731
Thanks Vitaly. I'll just implement `--without-unrar` (including inferring it from missing files) soon then. Likely this week.

[2021-05-17 12:12] solardiz commented on #4727
Maybe there's a reason why Wei Dai called this "SHA Maj trick", not "SHA-2 Maj trick": SHA-1's H() is the same as SHA-2's Maj(). However, trying to apply this trick to our SHA-1 for AVX2 actually results in slight code size increase without an obvious effect on speed on Haswell. This is without explicit caching/reuse - letting the compiler possibly do it. We could want to retest this across severa

[2021-05-17 13:45] solardiz commented on #4727
The code size increase is avoided by also reordering the arguments (e.g. to `SHA1_H(y,z,x)`), but there's no decrease either.

[2021-05-17 13:58] solardiz commented on #4727
Looks like explicit caching is sometimes needed. Experimenting with `yescrypt/sha256.c`, I get 1944 lines of `objdump -d sha256.o` output for it unmodified, 1925 with `Maj()` updated to use the trick, and 1912 with explicit caching (also requires a few additions at upper levels). This is with RHEL7's gcc building for x86_64 with `make` inside the `yescrypt/` directory.

[2021-05-17 17:33] magnumripper commented on #4727
That thread lead to #1727

...and revisiting #1727 I was reminded ~MD5's~ MD4's `G()` too is that same function. (EDIT: MD4, not MD5)

[2021-05-18 19:47] solardiz commented on #4727
Thanks, @magnumripper! I've just tried patching my generic `md4.c` accordingly. On i386 (does anyone still care?), this results in code size increase in bytes, almost no changes in instruction count. On x86_64, this reduces instruction count, and with recent gcc also substantially reduces code size in bytes. Also curiously, I am getting exact same code generated for implicit/potential vs. explicit

[2021-05-20 08:00] magnumripper opened #4733 "mgetl() strict-aliasing violation"
https://github.com/openwall/john/pull/4246#issuecomment-610801229
*Yes, the problem with mgetl() violating strict aliasing rules isn't new, and yes our check for ARCH_ALLOWS_UNALIGNED mitigates the problem in practice so far - but technically it's still UB, and a future compiler/version might exploit it. I think a proper fix would be use of union types (or pointers to them) for the global variable

[2021-05-22 21:08] BotPass opened #4734 "wordlist change/grew as we read it; but it did not - integer overflow?"
### problem ###
I used a big file with more than 2^32 lines, forks and I get a lot of "wordlist change as we read it" and "wordlist grew as we read it" messages. That was strange because it was a local file and no other application used it. The size and timestamp of the file did not change and the problem was reproducible.
Not all forks run properly.

### assumed reason ###
After search for the me

[2021-05-23 16:37] magnumripper commented on #4734
Thank you for reporting. We've tried to support whatever larger-than-32-bit `seek` and similar functions is available but we might have missed the case where the number of *lines* overflows 32-bit signed.

Just for the record, please post the output of `./john --list=build-info`

[2021-05-24 19:39] BotPass commented on #4734
Ubuntu 20.04 is used
[code]

[2021-05-26 17:48] bytetheripper opened #4736 "Consider working around Git on Windows' use of CRLF vs. bash scripts"
When I try to run ./configure on the /john/src file in Cygwin on my Windows 10 device, I get the following error:

$ ./configure
./configure: line 16: $'\r': command not found
./configure: line 31: syntax error near unexpected token `newline'
'/configure: line 31: `     ;;

When I looked at the /src file I found this disclaimer starting on line 17211:

# On cygwin, bash can eat \r inside `` if the

[2021-05-26 18:07] ghost commented on #4736
I ran a build myself on May 11th [1] (on Windows 2016 using Cygwin 3.2.0) and it worked fine. Although this issue is worded as a bug report, not as a question, I'm afraid you're mistaken.

* Could you make your point more clear?
* if you need support as an end-user, ask for help on the mailing list john-users at lists.openwall.com (but first see the archives at http://www.openwall.com/lists/john-u

[2021-05-27 09:55] magnumripper commented on #4736
https://www.openwall.com/lists/john-users/2021/05/26/1

[2021-05-27 14:37] solardiz commented on #4736
Searching for mentions of related problems seen by other projects finds e.g.:

https://github.com/reconquest/import.bash/issues/2
https://community.perforce.com/s/article/2973

Reading and summarizing these and the like, it appears that Git on Windows defaults to using CRLF for text files ("On windows systems core.autocrlf is normally set to "true" globally.")

Some workarounds were mentioned in t

[2021-05-27 14:47] ghost commented on #4736
This is a nice "good first issue". If @HustleSec can test it, he will be able to check if it works and create a PR. Simple, straightforward.

[2021-05-28 00:22] magnumripper opened #4738 "Autoconf update"
As noted in https://github.com/openwall/john/pull/4735#pullrequestreview-670278268, the output of `./configure --help` has inconsistent capitalization.

On another note: When working on #4735 I noticed latest autoconf (2.71) wanted to update our `configure.ac` - some will happen semi automatically on request but even after that, some macros we use are deprecated. I simply downgraded autoconf to 2.

[2021-05-28 10:12] magnumripper commented on #4736
We already have a `.gitattributes` file - it was added mostly for export-ignore but it also contains some sample eol features commented out, and a few active ones (eg. charset files marked as binary). I guess we need at least these:
[code]

This still leaves the first (sample) lines commented out, I'm not sure we should touch them and if we do, we need to test it with many possible settings of git

[2021-05-28 13:35] magnumripper commented on #4733
Does that include unions ***of*** pointers? I mean like this:

[code]
I do have a complete patch based on the above and it seems to work just fine - I'm just not sure whether I actually avoided the aliasing violations or made them ten times worse 🤣

[2021-05-28 18:16] solardiz commented on #4733
As I understand, not in a way that would help us avoid the original issue we're trying to fix here.

I guess neither.

[2021-05-29 09:53] magnumripper commented on #4733
That should mean our memcpy functions in OpenCL also violate the rules.
[code]
My patch for `mgetl()` is similar to this, although it doesn't use void for its argument. The code above is smaller so good as example - why does it violate the rules, and how would I rewrite it not using unions of pointers?

[2021-05-29 12:42] solardiz commented on #4733
Yes, and I recall mentioning this a few months ago.

The unions make the pointers have the same value - it's the same as after assignment of one pointer to another. Then the pointed-to data is accessed via the different pointers, where the compiler doesn't have to assume they're aliases for the same data. In practice, this generally only results in the compiler possibly re-ordering accesses as if

[2021-05-29 18:29] solipsistinc opened #4739 "pdf2john - Unsupported PDF files?"
1. Received a PDF file, and tried to extract the hash using pdf2john (i.e. pdf2john pdfile.pdf > output.hash)
2. Output was unconventional `$pdf$2*3*128*4294967232*1*16*XXXX*32*XXXX*32*XXXX`
3. XXXX has been redacted
4. The "4294967232" seems to be an error.
5. When I run john with this hash, I get the "No password hashes loaded" error even if I specify format as PDF.
6. When I try other encrypted

[2021-05-29 18:57] ghost commented on #4739
Could you test your use case using the most recent version from this repository? The `pdf2john` tool was changed AFTER the launch of the jumbo-1 release.

[2021-05-29 20:34] solardiz commented on #4739
@solipsistinc Since you seem to be on Windows, you can download a recent Windows build through the "Download Windows Build" badge in `README.md` in this repo. This currently points to https://github.com/openwall/john-packages/releases/tag/jumbo-dev and the file to download would be `winX64_1_JtR.7z`. Alternative, you can build from source. Thanks!

[2021-05-30 02:53] solipsistinc commented on #4739
Thanks for your responses above.

Yes I downloaded the latest Windows build and repeated the above steps.

The output is no different from previously described.

I just realised the hash above was auto-formatted. Please see below for the correct one.

$pdf$2(asterisk)3(asterisk)128(asterisk)4294967232(asterisk)1(asterisk)16(asterisk)(32 chars)(asterisk)32(asterisk)(64 chars)(asterisk)32(asterisk)(

[2021-05-30 16:47] ghost commented on #4739
Yes, it is failing at https://github.com/openwall/john/blob/bleeding-jumbo/src/pdf_fmt_plug.c#L145

[code]

[2021-05-30 18:04] frank-dittrich commented on #4739
May be this can be unsigned instead, so the max. value would be 4294967295?

[2021-05-30 19:33] magnumripper commented on #4733
Even disregarding that problem, I can't see how to write it with pointers to union types at all. Let's dwell at the memcpy function I pasted.

First, what would the union look like, would it be
[code]
or
[code]

With the former, I'm not sure even how to start.

With the latter, I can write the first part using an index variable, something like `destination->c[index] = source->c[index]; index++` un

[2021-05-31 10:26] magnumripper commented on #4645
Apparently the driver version number didn't move although the driver was updated. Using Big Sur 11.4 with a platform version date of May  8 2021 03:14:28, only these fail (plus ssh, which still crashes during build):
[code]
Curiously, pem and pgpdisk wasn't among the ones failing back in March. So seven formats started working and two started failing from the driver updates (I can't see anything w

[2021-05-31 10:29] magnumripper commented on #4645
Oh and the xsha512-free problem is intermittent
[code]

[2021-05-31 18:15] solardiz commented on #4733
I think we'd have more like:

[code]

I think you'd need to advance the pointer by how many chars you skipped, e.g.:

[code]

or better yet you can avoid needing an index by advancing the pointer at every iteration. Then you just continue to advance it in larger quantities, e.g.:

[code]

Right, but that's impractical. So we assume that unions are special.

Right, although with everything getting

[2021-05-31 19:25] magnumripper commented on #4733
Oh, right. That syntax was one of my biggest hurdles. Thanks!

Actually the last days I've been experimenting with KISS byte-wise memcpy in opencl, and the results are very promising. First, it typically ends up faster (all my main tests are on Linux/nvidia) so the KISS code probably gets much better optimization nowadays. Several years ago when I wrote the offending code, it definitely gave a spe

[2021-05-31 19:52] magnumripper commented on #4733
Never mind that. Those were easy to fix with unions with no regression anywhere.

[2021-06-01 08:07] magnumripper commented on #4731
Saw this warning now, not many compilers show it. Better enclose that function in `#if HAVE_UNRAR`
[code]

[2021-06-02 12:02] magnumripper commented on #4739
So a crippled test vector would be
[code]

[2021-06-02 12:09] magnumripper commented on #4739
For whatever reason, we do have test vectors in that format where this field is actually negative, such as `*-4*` and `*-1028*`. There are also older hashes (commented as "following are old-style hashes") that have a negative field near the end.

I guess we need to search for older commits and discussions so we don't break backwards compatibility.

BTW 4294967232 should correspond to -64, I assume