[2021-12-05 19:52] AlekseyCherepanov opened #4911 "mask stretching shows percent in progress counting previous lengths"
I noticed that I don't get 0% when mask stretching goes onto next stage and prints status line.

A grotesque example to demonstrate:
[code]

Obviously percents show progress counting all tried candidates versus all previous levels plus size for mask with current length. So for the last length, the percents are meaningful as progress of full attack.

Usually I set max-length so high that I don't ca

[2021-12-05 20:08] magnumripper commented on #4911
This is intended. It's briefly mentioned in the docs as "Whenever using incremental mask, the ETA at any given time shows estimated time to complete the *current* length, as opposed to the whole run".

Changing this behavior (if we wanted to, which I don't) would be very tricky: The ETA and that percent figure are tied together.

[2021-12-05 20:23] magnumripper commented on #4910
There's also a config option `Global_MaxDuration` which will override format's default. Setting that (to eg. 400) would not work very well for formats with a single slow kernel though (they typically have a figure in the thousands as input to `autotune_run()`).

[2021-12-05 21:24] solardiz commented on #4911
To me, @AlekseyCherepanov's description reads inconsistent with @magnumripper's clarification, and the example given is a poor illustration because of way too short (0 seconds) duration of that session.

[2021-12-05 22:02] solardiz commented on #3525
Testing with the old Catalyst on Tahiti, there's a speedup of maybe 0.5% for both SHA-256 and SHA-512, however `pbkdf2-hmac-sha512-opencl` is still very slow, at about 34% of the performance of `bitcoin-opencl` when I calculate the rate of individual SHA-512 computations. I guess the code size or/and register pressure is still too high there. Well, at least it's not a regression.

[2021-12-06 08:06] magnumripper commented on #4911
What was inconsistent?

Here's an example of normal use
[code]
At the time we get to len 2, the progress/ETA is counted against 26+26² (= 702) and we already did 26 candidates for earlier lengths. So we get a percentage of 3.70% at the time of length switching.

[2021-12-06 08:15] magnumripper commented on #4911
You mean for ETA. The important thing in the examples given are the percentages. The ETA is calculated from percentage in status.c, same way for any cracking mode. If the percentage is correct, ETA will be too (given steady performance and a reasonable time frame to finish).

[2021-12-06 13:13] AlekseyCherepanov commented on #4911
In a real run for 6+ days with stable speed, I had opportunity to be around less than 10 minutes after planned switch and the switch happened already, so ETA seemed correct.

It turned out that early status lines can have too optimistic ETA. There are optimistic status on switch and timely status with better ETA:
[code]

But ETA just before other switches are quite precise:
[code]

[code]

Somehow

[2021-12-06 17:42] solardiz commented on #3525
I think I'll try conditional `#pragma unroll` on the newly introduced loop first. There's probably no need to unroll that loop manually like we had it before.

[2021-12-06 20:06] solardiz commented on #3525
Can't do that - `#pragma` not allowed inside a macro.

[2021-12-06 20:11] magnumripper commented on #4911
Any mode basically reports `100.0 * status.cands / total` and `status.c` just does the math, factoring in elapsed time: "If we're at 50.26% after 2:12 minutes, the ETA is 130 seconds from now" and then it adds 130 seconds to current wall clock and displays that as the ETA.

Are you talking about p/s figures now? They are not related at all (when it comes to code paths). But yes, sometimes I have a

[2021-12-06 20:12] magnumripper commented on #4911
I'm closing this as I see nothing to fix, but we can continue the discussion if you like

[2021-12-06 20:12] #4911 closed, assigned to nobody

[2021-12-06 20:23] solardiz commented on #4911
Maybe you were running wordlist mode? In there, the ETA could be by file offset, so would be affected by average line length changing across the file. IIRC, I was getting ETA improve when the wordlist was length-sorted (shorter words first), presumably because with shorter words the file offset was advancing slower per-word than it started to after advancing to longer words.

[2021-12-06 20:26] magnumripper commented on #4911
Oh, right. And also if using lots of rules that reject, right?

[2021-12-06 20:31] magnumripper commented on #3525
C99 has `_Pragma`, maybe OpenCL has that too?

[2021-12-06 20:33] solardiz commented on #3525
I don't know, but I've already proceeded to use and clean up the macros and I like what I'm getting, so no need.

[2021-12-06 21:12] magnumripper commented on #3525
Just for the record I tried using `_Pragma("unroll") \` within a macro on macOS and on Linux/NVIDIA and it seems to work just fine.

A *conditional* such thing becomes tad trickier: Does this work?
[code]

So I tried it,

and it works fine! This is good to know. Note the `""` for the "no unroll" case - just defining an empty macro `UNROLL` would result in *error: _Pragma takes a parenthesized stri

[2021-12-06 21:49] magnumripper commented on #3525
Perhaps we should always ignore a cached kernel (of our own) if its timestamp is older than our john binary? We could omit that check for cached DEScrypt salt-specific kernels, it's a separate code path anyway (I think).

It wouldn't solve the problem with NVIDIA though - that's a bug in their cache handling we simply can't get around. It shouldn't be hard for them to fix, if we reported it.

[2021-12-07 01:06] magnumripper commented on #2023
I stumbled upon this and had a look at it. All seems to be straightened up and committed five years ago, so closing.

[2021-12-07 01:06] #2023 closed

[2021-12-07 01:33] magnumripper commented on #3525
This (and more) was implemented in #4913

Per my testing with 465.19.01, nvidia no longer has the cache problem. If I break the PUTCHAR macro in opencl_misc.h, the format starts failing. Undo that change, the format passes again. I have absolutely no idea how long ago it was fixed but I'm pretty sure it HAD the problem at some point.

Hopefully, those problems are things of the past now!

[2021-12-07 10:35] AlekseyCherepanov commented on #4820
On mesa krb5asrep-aes-opencl and sappse-opencl formats get stuck during --test.

^C or `kill -9` cannot quit john. Reboot with command `reboot` helps but takes unusual 5+ minutes. Before ^C it is possible to use clinfo. After ^C clinfo gets stuck too.

(Previously with amdgpu-pro I had gpu stuck and `reboot` was not able to reboot machine actually, so I had to use reset button. I had older kernel,

[2021-12-07 10:54] AlekseyCherepanov commented on #4108
On mesa krb5asrep-aes-opencl and sappse-opencl formats get stuck during --test.

^C or `kill -9` cannot quit john. Reboot with command `reboot` helps but takes unusual 5+ minutes. Before ^C it is possible to use clinfo. After ^C clinfo gets stuck too.

(Previously with amdgpu-pro I had gpu stuck and `reboot` was not able to reboot machine actually, so I had to use reset button. I had older kernel,

[2021-12-07 10:55] AlekseyCherepanov commented on #4820
I deleted my previous comment about problem with stuck formats. I intended to post it in #4108.

[2021-12-07 12:07] AlekseyCherepanov commented on #4911
Yes, I was talking about p/s or c/s:
[code]

I noticed that there were rare peaks in reported speeds. I believe respective lines to be emitted due to switch of length (plus one for DONE status). I find this coincidence suspicious.

[2021-12-07 12:36] magnumripper opened #4914 "bcrypt-opencl still initializes kernels in init()"
This has a number of drawbacks, such as https://github.com/openwall/john/pull/4903#issuecomment-986909569

All other format does this in `reset()`.

[2021-12-07 13:03] AlekseyCherepanov commented on #3610
It looks like it is possible to trigger auto-tuning before TestDB using `--gws=1`.

Regular:
[code]

With `--gws=1`:
[code]

At this point it hangs on amdgpu-pro. `reboot` helps. (So my comment on ability to `reboot` in #4108 is not specific to mesa.)

`--lws=1 --gws=1` gives 1/1 values without auto-tuning.

Other failing formats do not hang, they complete auto-tuning for LWS=7 and then fail as us

[2021-12-07 13:07] solardiz commented on #3525
Perhaps a better fix to that would be to include the keyword `_Pragma` as part of the `UNROLL` macro, not add it externally?

[2021-12-07 14:24] magnumripper commented on #4910
Oh, and there are format-specific versions of the above, using format name. This happens automagically for any format that use our shared OpenCL stuff. So for bitcoin-opencl it's `Bitcoin_MaxDuration`.

I just verified that it still works and it does - except for the first autotune step, where the duration is usually halved: If I set `Bitcoin_MaxDuration to 50, it'll be 50 in both the first and la

[2021-12-07 15:06] magnumripper opened #4916 "OpenCL: Custom MaxDuration from john.conf isn't halved in initial GWS tuning, and seems to be limited to original value."
Normally when a kernel is autotuned with a `max_duration` of 200, that figured is halved for the initial GWS tune:
[code]

Problem 1:
If I decrease the default using `Bitcoin_MaxDuration = 80` in john.conf, the figure will be honored but not halved for the initial one:
[code]

Problem 2:
If I increase the value instead using using `Bitcoin_MaxDuration = 400`, it seems to be limited to the original

[2021-12-07 15:11] magnumripper commented on #4916
Tried this:
[code]

Interestingly enough, the initial tune now show half of format's **default** (of now 500) and the custom setting of 400 is honored in the final tune.
[code]

[2021-12-07 15:13] magnumripper commented on #4910
Hashcat's long option for `-w` is `--workload-profile`, perhaps we should go with that? I don't care which.

Also,

There's more to it, see #4916.

[2021-12-07 15:57] solardiz commented on #3525
FWIW, I've just tried using the generic `SHA512` macro with the loop fully rolled (rounds 16-79 in the loop) instead of `SHA512_ZEROS` in `pbkdf2_sha512_loop` hoping that the code size reduction could help, but that only hurt performance on that old system by 1%. So I guess the problem is register spills.

Edit: I previously wrote "by 3%", but that was wrong.

[2021-12-07 17:28] solardiz commented on #3525
Bad news: got self-test fails on Vega 64 with AMDGPU-Pro when trying to also roll the loops in non-`ZEROS` versions of the macros. That's unfortunate - I liked the consistent approach and reuse of sub-macros that it enabled.

[2021-12-07 19:20] AlekseyCherepanov commented on #4911
Relative deviation of speed is comparable to ratio of 0.5s to current duration of session. My guess is that duration is used as integer number of seconds (I did not check code). So status lines happening in the same second would have slightly different c/s: later status line would have more candidates tried and higher c/s because number of seconds is the same. NT format is fast and has small batch

[2021-12-07 21:08] magnumripper commented on #4901
On a side note, bf_h builds each salt 47% faster (on nvidia) than bs_f does.

bs_f is 65-70% faster but for a short run with many salts, bs_h could end up quicker.

[2021-12-08 01:15] s3rgeym opened #4920 "Documentation is shit"
Please add examples

[2021-12-08 01:28] s3rgeym commented on #4920
[code]

Why does this shit only run once?

This utility is incredibly unintuitive. Hate: 9/10.

[2021-12-08 01:46] #4920 closed, assigned to nobody

[2021-12-08 09:45] #4914 closed, assigned to nobody

[2021-12-08 10:28] AlekseyCherepanov commented on #4920
Oh, I see the bit you miss: the cracked hashes are stored in `run/john.pot`, so you don't need to specify a wordlist to show cracked hashes, it is done almost instantly. But you may need to specify `--format=...` because same hash value can have different passwords depending on type (like md5(md5($p)) vs md5($p)). `--show` is not an option to just change output. `--show` is an "action". `--show` i

[2021-12-08 18:13] cryptoprogramer opened #4922 "blockchain2john doesnt work for 2013 wallet"
blockchain2john doesn't work for  2013 wallet
I couldn't get the hash of 2013 blockchain wallet, how can I get its hash and crack it by hashcat??
I did the same for wallet 2019  and it gave the hash but not for 2013 wallet.
please somebody help

[2021-12-08 18:28] solardiz commented on #4922
@isieditors Have you tried the `--base64` option?

[2021-12-08 19:20] AlekseyCherepanov opened #4923 "--pipe truncates lines sometimes"
Working on #4921 @magnumripper mentioned "a race between fgetl() and a growing buffer so lines could be truncated" and possible affection of `--pipe`. The problem turned out true.

(`$.` is current line number in Perl. I print it to see that input passes through. It is counted from 1 while the first line is "0aa...".)
[code]
The numbers repeat on reruns, so it seems deterministic.

[code]

[2021-12-08 19:21] magnumripper commented on #4923
I think we should change pipe (and FIFO) mode to simply read a single word at a time and (if applicable) run it through all rules, reset *rules* and move to next word. There are pros and cons where it comes to performance (depending on situation though) but it would simplify code and IMHO work a lot better in most situations.

[2021-12-08 19:22] magnumripper commented on #4923
Oh and I *think* that would solve this issue as well.

[2021-12-08 19:23] magnumripper commented on #4923
OTOH if we do so, `--pipe` mode becomes obsolete, because we could do the same for `--stdin` as well.

We could deprecate the `--pipe` option and (until dropping it) make it an alias for `--stdin`.

[2021-12-08 19:28] AlekseyCherepanov commented on #4923
I rechecked using files with the same result:
[code]

[2021-12-08 19:29] magnumripper commented on #4923
Just putting this out to clear my head:
- wordlist + rules will run all of the wordlist through first rule, `seek()` to first line of wordlist and proceed to second rule.
- pipe + rules will fill a (d*mn good sized) buffer of words, run them through all rules, reset *to first rule* and proceed to fill the next batch of words. Unless EOF, it will do absolutely nothing untill the buffer is filled.

[2021-12-08 19:51] magnumripper commented on #4923
I've been tempted to rewrite wordlist.c from scratch for years.

#4923
#4907
#4906
#2354
#428

Apart from these issues, `--loopback` should probably be completely separated from `wordlist.c` and have its own code (file).

[2021-12-08 20:05] AlekseyCherepanov commented on #4923
I tried `--pipe --stdout --rules=':'` and `--stdin --stdout` with 200M lines and the problem did not occur. `--pipe --stdout --rules-stack=':'` has the problem at the same positions as without rules.

[2021-12-08 20:14] cryptoprogramer commented on #4922
no how to do it ? and can you tell me the full command plz

[2021-12-08 22:15] magnumripper commented on #4916
@claudioandre-br I have plenty on my to-do list so if you have the time, please bite on this

[2021-12-08 22:23] magnumripper commented on #4923
Then the million dollar question is: What about `--stdin --stdout --rules-stack=:`

[2021-12-08 22:29] magnumripper commented on #4923
I'm not 100% sure the above wouldn't be optimized away, so if you see no problems with it, try `--stdin --stdout --rules-stack=:l`

[2021-12-09 05:51] cryptoprogramer commented on #4922
i used like this, and gave this error

My Wallet Version 2 or 3 seems to be used, adding --json option is required!

and when I use this command, it gives nothing but an empty line
python blockchain2john.py --json wallet.aes.json

[2021-12-09 13:16] AlekseyCherepanov commented on #4923
Collecting together:

`--pipe --stdout` has the problem

`--pipe --stdout --rules=':'` -- no problem (17439M lines passed through)

`--pipe --stdout --rules=':l'` -- no problem (4313M)

`--pipe --stdout --rules-stack=':'` has the problem

`--pipe --stdout --rules-stack=':l'` has the problem

`--stdin --stdout` -- no problem (320M)

`--stdin --stdout --rules-stack=':'` -- no problem (202M)

`--stdi

[2021-12-09 13:31] ghost commented on #4916
I'm going to add it to my christmas to-do list.

[2021-12-09 18:37] AlekseyCherepanov commented on #4923
I tried `--stdout --wordlist=/dev/stdin` and variations with rules. Plain and `--rules-stack=` variants have the problem. I posted it onto wrong page. The comments:
https://github.com/openwall/john/pull/4921#issuecomment-989920244
https://github.com/openwall/john/pull/4921#issuecomment-989926194

[2021-12-09 21:15] solardiz commented on #4922
@isieditors We don't really know what the issue is in your case, but you might want to take a look at #4872. Also, are you using the script as it currently is in this repo (not some older version coming from a JtR jumbo release)? What version of Python do you run it with?

[2021-12-09 23:58] diegoxcn opened #4924 "WSL2-Ubuntu Nvidia GPU not recognize either from CUDA or OpenCL"
### Checklist ###
Guide I followed to make JtR:
1. https://docs.nvidia.com/cuda/wsl-user-guide/index.html
2. https://openwall.info/wiki/john/GPU (NVIDIA part)
3. https://docs.nvidia.com/cuda/cuda-installation-guide-linux/index.html
4. https://github.com/openwall/john/blob/bleeding-jumbo/doc/INSTALL-UBUNTU

Attach details about your OS and about john, including:
- The output of `./john --list=build

[2021-12-10 02:21] cryptoprogramer commented on #4922
I just downloaded the script couple of days ago, and I am using python  3.8.5
I have used this script on several blockchain wallets and it worked fine. but in this 2013 wallet gives empty result

[2021-12-10 10:33] solardiz commented on #4924
@diegoxcn Thank you for providing so much detail.

What files do you have under `/etc/OpenCL`? Do you have something like this? -

[code]

[2021-12-10 10:40] diegoxcn commented on #4924
Hi @solardiz , thanks for quick reply, and yes, I do have it:
[code]

[2021-12-10 10:44] solardiz commented on #4924
@diegoxcn Does `clinfo` see the NVIDIA GPU?

[2021-12-10 10:47] diegoxcn commented on #4924
@solardiz Nope, it only shows Intel OpenCL HD Graphics and Portable Computing Language, no nvidia at all.

[2021-12-10 11:05] AlekseyCherepanov opened #4925 "Improve message for masks for format names that do not match"
A cosmetic problem.

Current behaviour:
[code]

Expected:
[code]

`Unknown ciphertext` is expected if the name is not a format class. Format class can be empty (e.g. vector, see #4903) and #4917 fixed message to be correct.

[2021-12-10 14:13] ghost commented on #4924
Last I read about it, WSL doesn't support GPU Acc/OpenCL.

It is unclear whether this is still the case at https://docs.nvidia.com/cuda/wsl-user-guide/index.html#features-not-yet-supported. However, if `clinfo` fails, the problem is not related to the JtR binary or the build process.

I would run `ldd libnvidia-opencl.so.1` just to keep trying to figure out if I can debug more. And if it's more th

[2021-12-10 14:26] ghost commented on #4922
Maybe the `2john` tool does not handle all existing files types. See also #4558.

Please try to create a **demo "2013 wallet" file** that you can share so a developer can try to debug the problem. It seems nobody can help you without it.

[2021-12-10 15:44] magnumripper commented on #4925
The easiest thing really would be to always say "Error: No format matched (...)" - and IMHO that wouldn't be too weird a message for any of the cases.

[2021-12-10 15:58] AlekseyCherepanov commented on #4925
Oops, my expected case 3 is really bad: it does not include name of offending format.

[2021-12-10 18:07] AlekseyCherepanov commented on #4820
Test runner:
[code]
Same was done without grep for amdgpu-pro to bench_amdgpupro file. krb5asrep-aes-opencl hangs during auto-tuning. It is possible to bypass it, but I just skipped it.

Formatter:
[code]

Results with manual aligning of some numbers (mesa's default is 4x, amdgpu-pro's default is 1x):
[code]

Some conclusions:

mesa is better on some formats and worse on others. More formats work

[2021-12-10 18:13] savelyglazkov opened #4928 "bitcoin2john.py doesn't work"
Hi
I'm trying to convert 1GB wallet.dat into hashcat hash. wallet.dat has been created in 2020, bitcoin core works fine with this wallet.dat file
Here is output of bitcoin2john.py:

Traceback (most recent call last):
  File "bitcoin2john.py", line 619, in parse_wallet
    d['lockTime'] = vds.read_uint32()
  File "bitcoin2john.py", line 498, in read_uint32
    def read_uint32(self): return self._re

[2021-12-10 18:21] magnumripper opened #4929 "Bitlocker OpenCL format can't crack its own test vectors"
The last two test vectors, "Recovery Password attack" and "Same test with MAC verification" (neither supported at all by the CPU version) somehow pass self-test but fails if you put them in a file and try to crack them.

[code]

[2021-12-10 18:23] magnumripper commented on #4929
@claudioandre-br I assume this problem went under your radar because you disable this format for being extremely slow?

[2021-12-10 18:28] magnumripper commented on #4929
The support for that format was added by @e-ago in 6c1e2a46317

[2021-12-10 18:37] solardiz commented on #4928
@savelyglazkov You seem to be using an older version of the script coming from a JtR release. Please upgrade to the latest found in this repo, and the problem will most likely be gone. BTW, you would also be able to attack the resulting hash with JtR, including on GPU (again, if you use the latest from this repo), not only with hashcat.

[2021-12-10 18:41] savelyglazkov commented on #4928
I'm using version 1.9.0

[2021-12-10 18:43] ghost commented on #4929
I used to have `--internal` enabled for all CI executions. It is not the case nowadays.

Anyway, I actually have a note of bitlocker failing with TS --internall specifically.

[2021-12-10 18:44] AlekseyCherepanov commented on #4365
I just found cosmetic side effect of that. Line about device is printed after format name. Usually device is in the very first line.
[code]

[2021-12-10 18:45] ghost commented on #4928
Solar is asking you to download the latest/bleeding version from this repository and try using it. The 1.9.0 script version is outdated.

[2021-12-10 18:46] AlekseyCherepanov commented on #4365
Also it does not do auto-tuning. And it does not print LWS/GWS.

[2021-12-10 18:54] solardiz commented on #4365
@AlekseyCherepanov `mscash2-opencl` is special - e.g., it is the only format that can use multiple GPUs without and pre-dating fork. You want to be the one to bring/rewrite it to our current standards?

[2021-12-10 21:14] diegoxcn commented on #4924
Hi @claudioandre-br Thanks for the infor, I tried `ldd  libnvidia-opencl.so.1` which shows no such file, seems it's not installed by nvidia-opencl-dev package, will check if I can get it somehow. And update this post later. Thank you very much.

--------
[code]

Well, apparently this file does exist, just somehow it's not registered correctly by ldd?

[2021-12-10 21:39] solardiz commented on #4924
@diegoxcn I think @claudioandre-br assumed you'd run this command when in the right directory, so after `cd /usr/lib/x86_64-linux-gnu` in your case. `ldd` isn't supposed to find it automatically, so no problem there.

You could want to run `ldconfig -v` as root and see if its output lists that library or not. Also, this action might help on its own, so retest `clinfo` after it.

[2021-12-10 22:13] diegoxcn commented on #4924
@solardiz Thanks for the instruction.

[code]
Then it works fine. :)
And `ldconfig -v` does show this so.1 file:
[code]
But unfortunately the `clinfo` still have very same result. Well, not sure if it's the limitation of the WSL2.

Thanks.

[2021-12-11 07:45] AlekseyCherepanov commented on #4365
Oh, I forgot that mscash2 is special. I saw that in the docs.

`doc/README-OPENCL`:

Actually from this wording I thought mscash2-opencl is more advanced than other formats and hence more modern.

Changing unfamiliar code would be too much for me now. So I will not pick it up in any visible future.

[2021-12-11 08:44] AlekseyCherepanov commented on #4925
I am very unsure, but "No format matched ..." might be confusing together with hash file, like "no format matched hashes from file".

Message should definitely include name for cases with comma. It will be slightly better for single format too: usage like `for f in raw-md5 raw-sha256; do john --format="$f" ...` would benefit from more informative message, but it is a matter of `echo $f`.

Now I re

[2021-12-11 09:35] AlekseyCherepanov opened #4930 "bcrypt-opencl prints additional newline after lws/gws"
bcrypt-opencl prints newline after `LWS=4 GWS=4096`. So `DONE` is put onto a separate line. Also other opencl formats print either blocks and/or mask's multiplier (except mscash2-opencl that is special).

[code]

Both lws/gws and the newline are printed onto stderr:
[code]

Examples of other formats:
[code]

[2021-12-11 10:49] magnumripper commented on #4925
I always meant the actual parameter filled in, as in "No format matched asdfg".

I prefer not to call it "mask" in this context as we use that term for `--mask` a lot. I think "wildcard" is better.

I will have a look at overall improving these messages.

[2021-12-11 11:03] AlekseyCherepanov commented on #4925
Indeed "mask" for format names would be confusing due to mask mode.

I meant, after a command with a hash file, "no format matched asdfg" might be read like asdfg refers to a line in the file.

[2021-12-11 11:30] magnumripper commented on #4925
PR now #4931

[2021-12-11 11:34] magnumripper commented on #4925
[code]

[2021-12-11 11:44] magnumripper commented on #4925
New version
[code]

[2021-12-11 13:46] solardiz commented on #4930
@AlekseyCherepanov We're well aware that `bcrypt-opencl` badly needs a rewrite for plenty of other/real reasons. Even removing printing of this newline isn't a trivial fix, because while the newline is excessive in `--test`, it probably is not when the format is actually used. We could spend/waste time on this cosmetic fix (please feel free to send a PR removing this newline printing conditionally

[2021-12-11 13:48] solardiz commented on #4928
@savelyglazkov So, have you tried the latest? Does it work?

Edit: To be specific, we mean https://raw.githubusercontent.com/openwall/john/bleeding-jumbo/run/bitcoin2john.py although it's better for you to use the whole JtR tree from here.

[2021-12-11 14:09] solardiz commented on #4924
@diegoxcn I'm afraid we don't currently have further advice for you.

Ouch. There was nothing supposed to be currently useful in there. I had previously added a note that the content in there was merely historical, but apparently that wasn't enough, so I've just fully dropped the content of that wiki page. If anyone wants to maintain an up-to-date replacement, please feel free to do so, but for no

[2021-12-11 15:10] AlekseyCherepanov commented on #4925
Wow! Wow! Wow! I did not know about advanced selectors and underestimated complexity of fixes. I really like the fixes!

(Selectors are awesome! Just yesterday I thought to exclude format that hangs and it turns out I could just write `--format='vector,-krb5asrep-aes-opencl'`.)

That's nice:
[code]

[2021-12-11 15:12] AlekseyCherepanov commented on #4925
It interacts with ad-hoc dynamic strangely:
[code]

`doc/OPTIONS`:

Nevertheless it looks like john can handle commas:
- if list of formats starts with `dynamic=` then everything is a formula
- if list of formats starts with regular name/class/wildcard, then everything is split by comma
- after split, first ad-hoc dynamic replaces `dynamic=` format
  - `dynamic=` without further chars is a regular

[2021-12-11 15:45] AlekseyCherepanov commented on #4925
Problem with `dynamic=s*` does not seem requiring a fix. Logic behind reporting is not tied to other parts of code, so it is a purely cosmetic problem. Fix would add code. I think user should be deliberate to hit the problem. Natural way to hit it would be to use `*@#` in a constant and to make 2 ad-hoc dynamics together, but constants require commas.

[2021-12-11 17:08] AlekseyCherepanov commented on #4930
Indeed this newline is needed during a regular attack.

I hoped it would be something trivial, maybe introduced with recent fixes, or maybe reflecting other more important problem. Well, it reflects a need of rewrite... Unfortunately I will not pick it up.

#3673 mentions rewrite.

Feel free to close the issue.

[2021-12-11 19:10] AlekseyCherepanov commented on #4925
Hm, builds without opencl/ztex get "name" in messages for these classes.
[code]

BTW I noticed that any string is ok for exclusion. It may be convenient using same command with several builds which have or lack some format.
[code]

[2021-12-11 21:33] diegoxcn commented on #4924
@solardiz No Worries, I really appreciate all your help. Just wonder if there's any possibility for JtR could run against nvidia opencl GPU on WSL2.

Hope that your team could do some testing on WSL2 would be perfect.

Thanks again.

[2021-12-11 21:53] solardiz opened #4932 "Review and make consistent the new_keys logic in OpenCL formats"
In most OpenCL formats, we transfer the keys to device `if (ocl_autotune_running || new_keys)`. In some, the `ocl_autotune_running ||` part of the condition is missing - should we add it? If we do, perhaps we need to see the effect it has on auto-tuning and the resulting speeds for those formats.

[code]

[2021-12-11 22:00] solardiz commented on #4932
Besides, at least three salted formats mysteriously lack this logic - it's not in `opencl_pbkdf2_hmac_sha256_fmt_plug.c`, `opencl_pbkdf2_hmac_sha512_fmt_plug.c`, nor in `opencl_tezos_fmt_plug.c`. There might be more.

[2021-12-11 23:33] solardiz commented on #4932
#4933 fixes this for tezos-opencl.

[2021-12-12 15:12] solardiz opened #4934 "Review PBKDF2_64_MAX_SALT_SIZE"
We have this in `pbkdf2_hmac_common.h`:

[code]

I understand the value for `PBKDF2_32_MAX_SALT_SIZE`, it's `3*64-8-4-1 = 179`, where 8 is for encoding the message length, 4 is for encoding PBKDF2 output block number (1), and 1 for the 0x80.

I don't understand the value for `PBKDF2_64_MAX_SALT_SIZE`. Applying the same formula, we'd have `128-8-4-1 = 115`. Indeed, that's the value I've just used i

[2021-12-12 15:41] solardiz commented on #4934
Oh, I overlooked that for SHA-512 the message length is encoded as a 128-bit value, not 64-bit. That's ridiculous, but but that's how it is. So no issue on our part here, and I'll probably want to revise that 115 to 107 in `opencl/tezos_kernel.cl` (although this doesn't really matter while we don't propagate the error; either value is good enough to prevent buffer overflow).

[2021-12-12 15:41] #4934 closed, assigned to nobody

[2021-12-12 15:50] solardiz commented on #4934
On a related note, looks like these limits don't apply to our scalar implementations - we just pass `SL` (salt length) into `*_Update()`.

[2021-12-12 17:49] AlekseyCherepanov commented on #4925
Ok example:
[code]

BTW exclusions / all steps could be printed one by one with higher `--verbosity`. (Just idea. I don't think it should be implemented.)

Somehow "name" is printed instead of "class". I guess `-` kept in the name affects `fmt_is_class()`. Anyway message seems wrong.
[code]

Similar behaviour with more confusing(?) message:
[code]

segfault excluding all formats and not specifying

[2021-12-12 18:27] magnumripper commented on #4925
I made some changes, addressing some things you found and the segfaults. Not everything is easy to make better without adding too much code.

Newest version:
[code]
That last line is a catch-all for odd input so it wont give any more details (it fixed the segfaults).

[2021-12-12 19:00] AlekseyCherepanov commented on #4925
BTW empty elements on list are ignored. I don't think it should be fixed. I just saw a check for starting comma.
[code]

`@` and `#` ignore everything on the left hand side:
[code]

Also I noticed that excluding anything enables disabled formats:
[code]

[2021-12-12 19:04] magnumripper commented on #4925
Thanks, I'll have a look at those two last issues too.

[2021-12-12 19:31] magnumripper commented on #4925
Now
[code]
I deliberately don't call them "wildcard" in the messages because they are now only wildcards at the beginning of a string.

This is done deliberately so I don't dare changing it - it'd probably break something I can't remember!

[2021-12-12 19:34] magnumripper commented on #4925
If you need to do that IRL and the disabled formats hits you, you can always disable them explicitly as in `--format=-asdf,-disabled`

[2021-12-12 22:09] #4925 closed, assigned to nobody

[2021-12-12 22:13] solardiz commented on #4910
Turns out the issue with `bitcoin-opencl` on Vega 64 is mostly different. Observe:

[code]

Notice how during auto-tuning it had much better speed for GWS=16384 than it ended up having in the end. My guess is the GPU's clock rate dropped (to maintain TDP) moments after it managed to run at almost full performance at GWS=16384. Then higher GWS shows almost the same performance (sometimes reaching o

[2021-12-13 09:17] AlekseyCherepanov commented on #4925
Just to document:

Theoretical problem: code to handle `*` is placed before code for `@`/`#` in `fmt_match()`, so `#*` would fail searching for format labels starting with `#` instead of search `*` in the long format names. But `*` does not occur there anyway. Empty output:
[code]

Hm, the check for comma in the first char changed behaviour slightly:
[code]

Without the check:
[code]

Another chan

[2021-12-13 13:50] #3525 closed

[2021-12-13 14:12] solardiz commented on #4932
What is the reason to have `ocl_autotune_running ||`? Don't we use a separate profiling event for the actual kernel invocation anyway, and use that for the auto-tuning?

Moreover, in formats that use a split kernel we could actually want to exclude the transfer time from the auto-tuning, because otherwise its share would be disproportionately high (would not reflect what happens in actual cracking

[2021-12-13 14:15] solardiz commented on #4928
I'll close the issue now since it's not something we need to track - we believe the issue is avoided in our latest code, and those line numbers don't even exist anymore.

However, please feel free to add comments to this issue.

[2021-12-13 14:15] #4928 closed, assigned to nobody

[2021-12-13 14:58] AlekseyCherepanov commented on #4925
Just to document:

I tried to disable all formats. It turned out that I cannot disable `dynamic=` because syntax is `formatname = Y`.

Preparations:
[code]

Result:
[code]

[2021-12-13 15:42] solardiz opened #4939 "Warning about too few candidates is confusing on salt restore and GWS increase"
When restoring a multi-salt session and GWS increases, we get e.g.:

[code]

I think we'd rather suppress that warning in such case, or maybe adjust its wording - in fact, how about we change the word "left" to "buffered" (for all cases, not just the above)? Also, how about "un-warning" when the number of buffered candidates becomes sufficient? Something like:

[code]

This "un-warning" can then a

[2021-12-13 16:23] magnumripper commented on #4932
Off the top of my head that's just to be sure to get event profiling for it (mostly for developers), and... see below:

During autotune, the loop kernel is only ran once but its duration will be multiplied with the second argument to `autotune_run()` - i.e. (or e.g.) `ITERATIONS`.

[2021-12-13 18:18] solardiz commented on #4932
Can something break if we don't re-transfer the keys? Maybe the real issue is that the GWS may have changed yet no new calls to `set_key()` made before we call `crypt_all()` again? If so, we'd be processing uninitialized data on device side. OTOH, wouldn't we be transferring uninitialized data from host to device, which is about as bad?

BTW, I notice that many of our kernels are written such that

[2021-12-13 20:53] magnumripper commented on #4932
If the normal code path (not autotuning) works fine, then all is good.

However, if we *are* in autotune and skip that code block, that profiling event will be undefined (IIRC). If it had merely returned the kernel duration for an earlier call it would be fine, but it doesn't.

[2021-12-13 20:57] solardiz commented on #4932
So do you suggest we standardize on `new_keys || ocl_autotune_running` for all formats? Would you create a PR with this, fixing this issue, if so? Thanks!

[2021-12-13 20:59] magnumripper commented on #4932
As long as the code block in question has profiling enabled, yes I suppose we should.

[2021-12-13 21:07] magnumripper opened #4941 "Review OpenCL formats' ensuring profiling"
See https://github.com/openwall/john/issues/4932#issuecomment-992644209

Most OpenCL formats have things like
[code]
The `ocl_autotune_running || ` ensures that the `multi_profilingEvent` doesn't end up uninitialized. We might want to review all formats so this isn't missed.

Some formats may have (hopefully small) buffers sent with no profiling event at all (mockup):
[code]
The above isn't a prob

[2021-12-14 13:12] AlekseyCherepanov commented on #4930
There is still a very small difference: formats using `opencl_autotune.h` print space on the end of line during attacks, while bcrypt-opencl (and sl3-opencl, des-opencl, lm-opencl and some others) do not print it.

[code]

[code]

[code]

Also space is printed after `Session completed.`, but that's other problem.

BTW should not node be printed before devices?

[2021-12-14 13:30] AlekseyCherepanov commented on #4930
Rerunning `bcrypt-opencl` it turned out that output can be mixed:
[code]

I cannot reproduce it with other format. But code looks similar and `strace -e trace=write` suggests that each `fprintf` becomes a separate `write` syscall, so lines can be intermixed.

[2021-12-14 13:58] solardiz commented on #4930
That's a separate issue, but yes, I think it would be helpful. Please feel free to create a PR for that. Thanks!

[2021-12-14 16:21] #4930 closed, assigned to nobody

[2021-12-14 16:37] magnumripper commented on #4930
I use to fix interleaved writing when I see it but in this case I haven't (I usually run MPI as opposed to fork, so greater chance of being delayed slightly differently).

The shared code in `opencl_autotune.h` is (I think) too complex to reduce to a single `fprintf` call (would be an unreadable mess of ternaries) so the most sane solution would probably be to `sprintf` to a buffer and then output

[2021-12-14 16:50] magnumripper commented on #4941
Closing in favor of #4932

[2021-12-14 16:51] magnumripper commented on #4932
I created an issue for it, but now realized *this* is the issue. I'll review it and make a PR.

[2021-12-14 16:51] #4941 closed, assigned to nobody

[2021-12-14 21:08] solardiz commented on #4781
@asaidac What JtR format(s) did (still do?) you need this for? We've just started working around this issue in #4944 for tezos-opencl, with some other formats probably to follow.

[2021-12-15 08:28] magnumripper opened #4945 "macOS can't build Tezos kernel"
[code]

[2021-12-15 08:45] magnumripper commented on #4945
Other warnings:
[code]

[2021-12-15 08:56] magnumripper commented on #4945
It seems we can have `__constant uint8_t *in` but not `__constant uint8_t in[96]`. I recall having had same problems with other code ported to OpenCL.

[2021-12-15 09:54] magnumripper commented on #4945
If memory serves me, I had to replace `__global unsigned char iv[16]` in some kernel function argument with `__global unsigned char *iv` when I ported AES-CBC or something like that.

In this case, apparently `__constant uint8_t basepoint_table[256][96]` is tricker. Shouldn't `__constant uint8_t **basepoint_table` do the trick? It doesn't.

[2021-12-15 10:09] magnumripper commented on #4945
I could work around it by simply stop passing it along at all (it's a constant table after all). But I'm not sure this is the solution?

[2021-12-15 11:35] solardiz commented on #4945
I actually made several changes of this sort when porting ed25519-donna from C to OpenCL - you can diff against the original (which we have under `src`) and see. I wonder why I didn't run into this one you're seeing now. I tested with all OpenCL compilers we have on "super" and "well".

[2021-12-15 11:37] magnumripper commented on #4945
My workaround experiment is #4946

[2021-12-15 11:38] solardiz commented on #4945
BTW, I am considering also porting BLAKE2b and using it in the Tezos kernel. I'll probably start with this small implementation that was initially prepared for the BLAKE2 RFC: https://github.com/mjosaarinen/blake2_mjosref

[2021-12-15 11:59] magnumripper commented on #4945
When I googled it, I got the impression Intel's OpenCL wouldn't allow it. But then again there's several incarnations of them.

[2021-12-15 12:35] #4945 closed, assigned to nobody

[2021-12-15 12:36] magnumripper commented on #4945
I still don't understand why `uint8_t **basepoint_table` wouldn't do it. Isn't that normally just fine in C?

[2021-12-15 12:45] AlekseyCherepanov commented on #4820
Well, real attack fails with `(cmp_one(0))` under mesa. I'll describe details under #4108.

But real attack with `nt-opencl` works under amdgpu-pro (I installed only `opencl-orca-amdgpu-pro-icd_20.40-1147286_amd64.deb`).

[2021-12-15 12:52] AlekseyCherepanov commented on #4108
Somehow `nt-opencl` fail self-tests starting real attack, while `--test` reports success.

[code]

[code]

[code]

It seems wrong that self test failed before real attack but it did not fail with `--test`.

[2021-12-15 12:53] magnumripper commented on #4945
Hmm no I tried it in C and it didn't work at all. Not sure I understand why... is there no way around it?

[2021-12-15 13:56] solardiz commented on #4945
Because that would be right for an array of pointers (like e.g. `argv`), but not for a two-dimensional array. While you can index these two kinds using the same syntax (e.g., `argv[1][1]` works even though `argv` is an array of pointers), it's different under the hood, and the compiler needs to be told which kind it's dealing with.

[2021-12-15 17:21] magnumripper commented on #4932
Like I said in the PR:
*After testing this I'm starting to think the `ocl_autotune_running || ` isn't needed anymore. Absolutely nothing changed! All profiling data is there anyway. I'll review the functions in `opencl_common.c`. My current guess is it was needed for some earlier versions of them (I guess we re-send the keys each time now).*

Reviewing `opencl_common.c`, I see that `opencl_find_be

[2021-12-15 17:36] magnumripper commented on #4932
BTW just to be "safe from core changes" we could just as well have it this way:
[code]
That way, if caller wants profiling, we will comply. The last thing autotune does is turn off profiling and set all multi_profilingEvent's to NULL.

But I think we should just drop the `ocl_autotune_running` and be done with it. Should I make a PR for that?

[2021-12-15 17:40] solardiz commented on #4932
BTW, I was wondering whether I could reasonably use the profiling events instead of my `john_get_nano()` calls in 35712a565039153e5b5b82cba945474e152c0eb3, but I felt that would be more complicated.

Yes, I think so - but make sure to test it. Thanks!

[2021-12-15 21:43] magnumripper commented on #4932
So (note to self) I'll make a PR with that, and a separate commit in same PR with adding `new_keys` logic to any salted format that lacks it

[2021-12-15 21:49] magnumripper commented on #4932
This had me confused for a while, but that file also contain XSHA512-opencl, which is salted. And anyway it doesn't need any fix.

[2021-12-15 21:54] magnumripper commented on #4932
That would mean profiling enabled while cracking - not sure if that hurts in any significant way (I guess it would not) but it would definitely be more complicated. I think `john_get_nano()` is as simple as it gets.

[2021-12-17 16:59] solardiz commented on #4939
We already use the word "buffered" in some cases:

[code]

I think there are more cases where the word "left" is confusing, so maybe we should just change `mask_increments_len ? "buffered" : "left"` to unconditional `"buffered"`, or simplifying this further move `"buffered "` into the main printf format string and keep only `"for the current salt"` conditional.

[2021-12-17 21:23] magnumripper commented on #2354
Some relevant discussion in https://github.com/openwall/john/pull/4947#issuecomment-997022318

[2021-12-20 04:12] magnumripper commented on #3124
Fixed by #4947

[2021-12-20 04:12] #3124 closed

[2021-12-20 04:12] magnumripper commented on #2437
Fixed by #4947

[2021-12-20 04:12] #2437 closed

[2021-12-20 04:37] magnumripper commented on #4939
Agreed, although the "un-warning" could be non-trivial (just a gut feeling, didn't look).

[2021-12-21 07:09] EMU-TIME opened #4951 "Multiple dictionaries cannot be used in wordlist mode"
For example:
[code]

**Because my dictionary is really too big, I divided it into a single file with a size of 1G**
Hope to improve

[2021-12-21 07:59] solardiz commented on #4951
Thanks for the feature request. This is a duplicate of #3262, so I'll close this one. We can discuss the general issue/enhancement there.

That said, @EMU-TIME, for your particular use case:

I think this functionality would be most useful for wordlists that are genuinely distinct, not when you've artificially split them. Just where did they come from, and how did you split? I hear some people use

[2021-12-21 07:59] #4951 closed, assigned to nobody

[2021-12-21 08:26] solardiz commented on #4449
I think we should add reporting of instantaneous speeds (as well as ETA based on them) rather than only the long-term averages that we currently report. Here "instantaneous" can mean e.g. over last one minute or over last batch of candidates. We could include them in the multi-line status or simply display our current status line but using instantaneous speeds on a magic keypress like `i`.

I thin

[2021-12-21 08:43] solardiz opened #4952 "Configurable batch mode"
We have so-called batch mode, which is what we run when no mode is requested. Currently, it's hard-coded as 3 passes: first single-crack mode, then wordlist+rules, then incremental. We could want to support running through multiple wordlists there, or even to have the entire batch mode configurable (in `john.conf`) as a list of any modes and their settings or even a list of command-line option com

[2021-12-21 10:59] reinistihovs commented on #4834
Hi!
Any news on this?
Any way to workaround this issue manually?

[2021-12-21 11:22] solardiz commented on #4834
@reinistihovs No, and no. You want to contribute a fix? Initially, and that's pretty easy, we need JtR to correctly refuse to process the unsupported inputs. Adding the support would then be the next task.

[2021-12-21 13:22] reinistihovs commented on #4834
@solardiz I got it to work, heres my very very dirty fix:
change all sha1 occurances to sha256 in:
pem_fmt_plug.c and opencl_pem_fmt_plug.c

then Build, pem self test fails.

then used unchanged pem2john.py to create hash.

then used ./john --skip-self-tests test.hash

success:
[code]

[2021-12-21 13:41] solardiz commented on #4834
@reinistihovs Hey, that's interesting. I thought it'd require a bit more than that - e.g., also updating the hash size somewhere.

Have you got the OpenCL format to work as well (yes, you updated its source file, but the above doesn't test it)?

Would you submit a proper fix (that would keep things working for SHA-1 as well)?

[2021-12-21 14:16] reinistihovs commented on #4834
I would be happy to help, but I am not a experienced C developer, it would take me days to solve this :)
I didnt touch any other part of the code, yes the tests FAIL, thats why I used: --skip-self-tests

[2021-12-21 14:18] solardiz commented on #4834
@reinistihovs OK, we'll take this from here. Your success so far is encouraging.

[2021-12-21 16:27] solardiz opened #4953 "tezos-opencl: Occasional CL_INVALID_VALUE on passwords transfer to device during auto-tune"
I previously only saw this on Xeon Phi, but today it also occurred on the old Titan Kepler (just once, not reproducible):

[code]

(The device was in other concurrent use.)

These errors look benign in all cases I've seen so far, but I am puzzled by them anyway. I suppose we might end up closing this issue with no action, but I just want to have this recorded in here and maybe someone will see the

[2021-12-21 16:31] solardiz opened #4954 "Add command-line option to force OpenCL kernel rebuild"
As discussed in https://github.com/openwall/john/pull/4913#issuecomment-998845314:

I wrote:

@claudioandre-br wrote:

[2021-12-21 17:23] magnumripper opened #4956 "7z formats: Support stacked methods/filters"
See https://github.com/philsmd/7z2hashcat/issues/35

7z2hashcat now support this, so I need to merge that into 7z2john and implement support in the formats.

[2021-12-21 17:54] solardiz opened #4957 "Some OpenCL format struct names are weird"
Somehow some of these names start with `fmt_ocl_` while most start with `fmt_opencl_`. Is this intentional? It causes the `fmt_ocl_` to be listed/tested/benchmarked first. Then there's `fmt_opencl_1otus5` with a `1` (one) in there. So the first OpenCL formats become:

[code]

I think this is a bug and we should rename them to `fmt_opencl_` and change the `1` to `l`.

[2021-12-21 18:24] magnumripper commented on #4954
So we could have something like `--opencl-ignore-cache` that would disable our own caches and setenv `CUDA_CACHE_DISABLE`. Not a bad idea. Would `--force-rebuild-kernels` be a better name?

Could we too do with merely an environmental variable ourselves? If so, we wouldn't need to set nvidia's one, or we could opt to do so too.

[2021-12-21 18:35] magnumripper opened #4958 "OpenCL: Sanity check return count"
From https://github.com/openwall/john/pull/4943#issuecomment-998810528:

@solardiz:

Later discussion ended up with that we should bail with error as opposed to chug along with possibly b0rken environment.

[2021-12-21 19:02] magnumripper commented on #4645
I'll close this, as the problem is with Apple and not with us. I'll probably continue to add pieces of info to this issue over time anyway.

[2021-12-21 19:02] #4645 closed, assigned to magnumripper

[2021-12-21 19:14] solardiz opened #4959 "Way to specify GWS as multiple of INT32 core count"
When working with multiple GPUs of the same architecture but different size, it can be handy to specify e.g. `GWS=x12`. That way, e.g. GTX 1080 would get GWS=30720, newer GTX 1060 would get GWS=15360, older GTX 1060 would get GWS=13824. The same approach would also work e.g. across different AMD GCN GPUs.

And that all without needing to keep the GPUs' individual properties in mind all the time, y

[2021-12-21 19:22] solardiz commented on #4959
Or maybe even the other way around:

[code]

and then expect that we'd normally only copy-paste this in the new notation, so just the `LWS=128 GWS=x16` part. It will work just as well as what we have currently when used on the same GPU, but will likely also work well (unlike a misused fixed GWS figure) on a different size GPU of the same architecture.

In cases when GWS isn't a multiple of INT32 c

[2021-12-21 22:43] magnumripper commented on #4959
I'd rather focus on getting autotune as good as ever possible. But this isn't about autotune at all, so... well, I don't see why not.

Edit:

This would be informative after an autotune - I like it. But it should be suppressed when not a multiple.

[2021-12-22 11:24] magnumripper opened #4960 "Review README.coding-style"
We've drifted from a max. recommended line width of 80 to 120 but the document doesn't reflect it. I saw a few typos in there as well.

BTW I thought we had a recommendation against Yoda speak like `if (1 == foo)` but apparently it didn't make it into that document. I guess I can live with it but my brain hiccups every time I need to read things in reverse order.

[2021-12-22 11:32] magnumripper commented on #4957
Some of our format struct names (for CPU as well) was renamed for tweaking precedence but I'm not aware of that being the case of `fmt_ocl_` vs. `fmt_opencl_` (nor for the 1otus5).

[2021-12-22 12:10] solardiz commented on #4960
In practice, I use 132-wide terminal windows now, and let lines go to 131 (although they very rarely do). That's with 8-char tabs.

[2021-12-22 12:23] solardiz commented on #4959
In my example with those GWS values for Pascal GPUs, that would mean having auto-tune try GWS values that aren't a power of 2 multiple of core count. In particular, I was thinking of it also trying values that are exactly between two power of 2 multiples when those are also a multiple of the core count - like 30720 on a GTX 1080. Our current auto-tune skips that and (at best) ends up selecting 819

[2021-12-22 14:48] solardiz commented on #4960
Apparently, we also need to update `CONTRIBUTING.md`.

[2021-12-22 16:51] magnumripper commented on #4960
I use 120 but a tab width of 4 so it's the same ballpark. Not sure how to put it in that document?

[2021-12-22 17:04] magnumripper commented on #4959
All OpenCL formats (at least the ones using shared tuning) understand john.conf entries such as `bitcoin_LWS=256` and/or `bitcoin_GWS=17408` (where `bitcoin` is the format label bar the -opencl suffix) so the config is a great place to "note" for automatic reuse. Unfortunately there's no syntax (I think) for doing so per device.

[2021-12-22 18:42] solardiz commented on #4959
If we add a syntax to specify GWS as a multiplier of cores, then the existing `john.conf` syntax would be usable across different-size devices of same architecture.

[2021-12-22 21:19] magnumripper commented on #4959
While I understand your point about copy-paste, the meaning of any of these is (I think) much less intuitive for users than `LWS=128 GWS=40960 (cores x16)`.

I already used `x` for mask multiplier merely because I think it looks much better :-)

[2021-12-22 21:25] magnumripper commented on #4959
On an off-topic sidenote, I never quite understood why LWS wouldn't be best at core count, and GWS some multiplier of it. Isn't LWS kinda like threads in the CPU world? IIRC it's even called 'threads' in CUDA speak.

[2021-12-22 22:18] solardiz opened #4962 "Multi-format --fuzz fails with over-read in dyna_salt_cmp() in --enable-asan build"
[code]

However, individually it passes:

[code]

Maybe has nothing to do with scrypt or multi-format vs. one-format tests - maybe just luck. Will run more tests. The issue appears to be in dyna_salt_cmp(), which isn't specific to this format.

[2021-12-22 22:21] solardiz commented on #4962
No, a repeated multi-format fuzz also failed on scrypt in a similar way. So scrypt in a multi-format run is at least a trigger.

[2021-12-22 22:53] solardiz opened #4963 "tezos-opencl fails self-test on 2080Ti with 465.19.01 after BLAKE2b-on-device commit"
As @magnumripper wrote in #4955:

[2021-12-22 22:55] solardiz commented on #4962
Also reproducible with `OMP_NUM_THREADS=1`, also only in multi-format run.

I don't see anything that would cause this in the scrypt format. I suspect it's some general issue in `dyna_salt.c` or maybe `loader.c`.

[2021-12-22 23:03] solardiz commented on #4962
Certainly nothing to do with scrypt, same crash on AndroidBackup, and after having fuzzed a different format before it.

[code]

[2021-12-22 23:17] solardiz commented on #4962
I think our use of `mem_alloc_tiny` hides this problem in most cases. Perhaps we should force it to `mem_alloc` for testing.

[2021-12-22 23:20] solardiz commented on #4962
We actually have that logic in `memory.c` when `DEBUG` is defined, but we don't seem to have a `configure` option that would do that?

[2021-12-22 23:24] solardiz commented on #4962
With `#define DEBUG` patched into `memory.c`, indeed it fails sooner:

[code]

[2021-12-22 23:30] solardiz commented on #4962
My current understanding is it's a design bug in our fuzzer: `fuzz_test()` forcibly updates `db->format` for each new format fuzzed, but I don't see it otherwise reset the db anywhere. So different-format hashes accumulate in the db - something the logic in our loader doesn't support. Normally, once a format is set, the loader sticks to just that one format.

[2021-12-23 00:18] solardiz commented on #4962
I think this is the fix, although my `--fuzz` is still running (and probably will be for hours more):

[code]

[2021-12-23 00:25] Promethus029 opened #4964 "Bug? [Nvidia 1070] format=NT-opencl fails to crack password within wordlist but format=NT does."
Hi, this is my first time posting, so I apologize if something is incorrect. Bleeding-jumbo john was build about two hours ago with Regex enabled. Attempting to run '/opt/john/run/john --pot=john.pot --wordlist=rockyou-modified.txt --format=NT-opencl passwords.txt' does not yield Dark's password but finds the empty admin password.
![NT-opencl](https://user-images.githubusercontent.com/23091547/147

[2021-12-23 00:43] solardiz commented on #4964
@Promethus029 Thank you for reporting. This does look like a bug - apparently, the correct password was detected by on-device comparison (which is how it'd get exactly to the beginning of the returned "range"), but not fully seen that way by host.

Actually, no - the only report so far was @magnumripper's for a very particular card and driver version. In my testing, all formats pass tests on NVIDI

[2021-12-23 00:45] solardiz commented on #4963
According to @Promethus029 in #4964, this issue is also seen on:

[code]

[2021-12-23 00:50] solardiz commented on #4964
For further occasions, instead of screenshots please use textual copy-paste and wrap it in triple backticks like this:

[code]

No, that was because it was the only one in your wordlist file.

[2021-12-23 00:55] ghost commented on #4964
A better example (after adding an empty line to the wordlist):
[code]
[code]

It must be a bug, I see no other explanation.

[2021-12-23 00:57] solardiz commented on #4964
Yes, I'm also able to reproduce both aspects of the bug: Dark's password not getting cracked, and Administrator's _sometimes_ (on 1 of 3 GPUs I tried) getting cracked even without empty line in the wordlist. Perhaps uninitialized memory is used somewhere.

[2021-12-23 00:57] Promethus029 commented on #4964
The problem is consistent with the originial rockyou.txt file. I uploaded and tested with 'rockyou-modified.txt' due to the size restrictions.on github. (file is like 139MB)

[2021-12-23 00:58] solardiz commented on #4964
Yes, I also already confirmed it with the full RockYou file.

[2021-12-23 00:59] ghost commented on #4964
In fact, this is a perfect test case. Thank you.

[2021-12-23 01:01] solardiz commented on #4964
@claudioandre-br Since this is reproducible on NVIDIA, no need to bother the fragile AMD GPUs with that, please. You can use one of the NVIDIA GPUs on "super" if you like to play with this. (Yes, all of them are currently in use, but that's safer with NVIDIA.)

[2021-12-23 01:04] ghost commented on #4964
Testing is done.

BTW: if `bull` is still alive, it could be useful now that you are using JtR.

[2021-12-23 01:08] solardiz commented on #4964
Things start working as soon as any non-trivial mask is used:

[code]

It's unfortunately physically disconnected - I will probably ask someone to reconnect it soon.

[2021-12-23 01:35] solardiz commented on #4964
Here are the results for 4 old builds, by date:

20190331 cracks only Dark (as it should)

20190409 cracks Dark and Administrator (slightly wrong, but not necessarily a bug - clearly a GPU can't test just one password, so it processing some empty passwords and detecting a guess makes sense)

20190922 is the same as above

20200228 cracks only Administrator, but not Dark (this bug)

All of these ar

[2021-12-23 02:26] solardiz commented on #4964
Either this changed or I didn't look closely - it doesn't crack Dark now. An older build, 20190619, does.

What changed between 20190619 and 20190922, as seen when running with `-v=5`, is that previously the kernel was first built for the test db's hash count and then rebuilt for the actual loaded hash count, and this rebuild step disappeared between these versions. Perhaps a kernel built for a di

[2021-12-23 02:32] solardiz commented on #4964
I think we broke this with bd7b8267764bfda5bce9df40cf1a6dfcf89e0329 when fixing #4012. Probably also other formats by Sayantan.

[2021-12-23 02:40] solardiz commented on #4964
Here's a fix (works for me):

[code]

However, I wonder whether we should possibly prefer checking the `db` pointer instead, or maybe even doing those things unconditionally - why not, `reset()` isn't supposed to be called often.

The way I wrote it above, we'd have a special case when the number of loaded hashes happens to be exactly the same as the number in the test db (currently 43). I think t

[2021-12-23 02:48] solardiz commented on #4964
Looking at this problem differently, it's not good that we're testing one kernel build and then using another build (effectively untested). Maybe we should come up with a more elaborate fix that would make the self-test use a kernel built for the loaded hash count, somehow filling up to that count with test vectors. However, then we'd have the problem of having no place to fit all of the test vect

[2021-12-23 03:09] solardiz commented on #4964
Looks like e.g. `opencl_rawmd4_fmt_plug.c` just does those things `if (initialized)`, so I think it doesn't share this same bug. I don't see why we'd do it differently between NT and raw-MD4.

Kernels that use the perfect hash tables:

[code]

However, some of them appear to be passing the hash table size/offset at runtime rather than kernel compile time. These pass that info at compile time:

[co

[2021-12-23 03:21] solardiz commented on #4964
Actually, the `if (initialized)` logic in those formats is also weird - the `else` branch does much of the same thing. So why not just do these things unconditionally, like they were done before?

[code]

This passes my test.

[2021-12-23 03:40] solardiz opened #4965 "nt-opencl reports wrong password instead of implicitly cracked empty password"
While working on #4964, I noticed that this command:

[code]

correctly cracks Dark's password as `Password01!`, but also incorrectly cracks Administrator's empty password as:

[code]

That is, the byte value 0xfa followed by the string `tvarp!`.

This is reproducible, including on a build from 20190619 that wasn't yet affected by #4964, as well as with our current code with that bug fixed.

The e

[2021-12-23 03:55] solardiz commented on #4965
BTW, the source lines in `rockyou.txt` for these passwords are 60804 and 2459760. Quite far from each other - not in the same batch, and also not in the last batch.

This issue also occurs when targeting only `-u=Administrator`, so it's unrelated to the other crack.

Further, the exact same wrong password is reported for `Administrator` on a randomly shuffled wordlist, where that is line 10154231.

[2021-12-23 04:25] solardiz commented on #4965
Ran more tests on a larger hash list (a 1M total representative sample from HIBPv7, 820683 unique - and only the unique are preserved by the loader). Simply running a large wordlist cracks the same 713398 with both CPU and OpenCL (`sort -u | md5sum` matches). However, running with `-mask=?w!` results in differences. CPU cracks 3713, OpenCL cracks 3729. Reviewing those differences, there are two ki

[2021-12-23 04:29] solardiz commented on #4965
Similarly, the issue from my original comment here is gone with either `-encoding=cp1252` or `-encoding=cp1251` (tried just these two for 8-bit encodings), but is present with `-encoding=utf8`. So something in our multi-byte encodings support?

@magnumripper I think this is now yours, and I assume you'll update the issue title as we learn more. Thanks!

[2021-12-23 10:04] magnumripper commented on #4965
Both should have rejected the words in parent wordlist code: Wordlist mode is supposed to run with a max. length of 26, knowing that the hybrid mask will add 1.

[2021-12-23 10:11] magnumripper commented on #4965
No wait, this is tricky with UTF-16 formats being fed with UTF-8... The max. length is actually 27 *characters* so Wordlist will cap at 26*3 == 78 bytes (actually checking UTF-8 length would obviously be trivial but far too expensive). That explains how we get the ones lacking an ending `!`. The OpenCL format must be fixed though, not add the `!` to those in get_key().

[2021-12-23 10:23] magnumripper commented on #4965
Why? I think the CPU format does it perfectly right (assuming the reported password are indeed correct for those hashes). It's kinda odd that we crack some passwords not matching the hybrid mask we give, but it's not quite a bug - just an effect of that quick-cap in wordlist mode when using UTF-8.

[2021-12-23 11:45] solardiz commented on #4965
The behavior we're seeing here would correspond to having the `FMT_TRUNC` flag set, but it is correctly not set for the NT format. My understanding is that in jumbo we want to have formats where the truncation is part of our code and not part of the target systems' behavior to skip candidates that would be truncated, instead of testing them truncated. You effectively confirm the same by saying tha

[2021-12-23 11:50] solardiz opened #4966 "as400-ssha1 fails --fuzz in --enable-asan build"
With #4962 fixed:

[code]

Yes, took 5 hours to get there. With `andOTP` skipped, it takes 1 hour:

[code]

Luckily, it also crashes instantly when fuzzed individually:

[code]

[2021-12-23 12:04] solardiz commented on #4963
For me, this format as currently committed (with BLAKE2b on device) passes self-test even on Tahiti with Catalyst. It's weird it apparently fails with new NVIDIA drivers.

[2021-12-23 12:24] solardiz commented on #4966
Fix:

[code]

This also allows for salts of length 10, which looks like how this was intended. Previously, the code would wrongly(?) limit to 9 (counting the `$` against the salt length limit).

[2021-12-23 12:28] solardiz opened #4967 "BestCrypt fails --fuzz in --enable-asan build"
[code]

[code]

[2021-12-23 12:51] solardiz commented on #4967
Fix:

[code]

[2021-12-23 17:06] solardiz commented on #4963
Works with `Driver Version: 418.87.00    CUDA Version: 10.1`:

[code]

FWIW, the old speeds were (prior to this month's many changes):

[code]

(was bumping into the 8 vCPUs that go along with one V100 on AWS).

Fails with `Driver Version: 450.119.01   CUDA Version: 11.0`:

[code]

[2021-12-23 17:15] solardiz commented on #4963
Confirmed that "Reverting to f683f0f fixes it."

[code]

[2021-12-23 17:19] solardiz commented on #4963
New code with `-skip-self-test` is just as fast as it is with the older driver (where it works right):

[code]

So this last change does provide some speedup - from 504k to 519k.

[2021-12-23 17:27] solardiz commented on #4963
This fixes it (same 519k speed, smaller kernel binary):

[code]

Indeed, the buffer is never supposed to become full on update - we're processing a tiny input, so it's only to be hashed on final. We can probably even call the compress function from the kernel directly.

[2021-12-23 17:35] solardiz commented on #4963
Actually, a clean workaround is as simple as this:

[code]

Good thing it's also a (minor) optimization.

[2021-12-23 17:53] solardiz commented on #4963
With this fix, all 87 formats in this `--without-openssl` build passed tests on the V100 with this new driver (although I used low LWS/GWS to have this complete quicker).

[2021-12-23 18:19] magnumripper commented on #4965
Oh, right, I just misinterpreted what you said. The *format* never rejects any candidates but the modes should, so the formats should obviously behave the same. In this case the internal mask adds another level of complexity.

So we have two separate problems identified: The second one is easy: NT-opencl's `get_key()` should not append a mask past max. length. The first and original issue is harde

[2021-12-23 18:34] magnumripper commented on #4963
Confirmed it works here too. And speedup was ~4%

[2021-12-23 18:50] solardiz commented on #4963
Thanks, @magnumripper. BTW, what speeds are you getting in absolute terms?

[2021-12-23 19:04] Mikazukii05 opened #4969 "Windows install - Build not working"
I followed all the steps in the INSTALL WINDOWS folder but I have a problem with the build part, it does not work

After putting this command in the CygWin64, I get this

![Capture d’écran n069](https://user-images.githubusercontent.com/96594126/147282326-2cc2da69-b8f0-45c8-bb0b-5ed24096f0b8.png)

[2021-12-23 19:06] solardiz commented on #4963
Bad news: while this change is an optimization at source code level and makes the kernel binary smaller (approx. from 3000 to 2800 KB), it appears to slow things down with the old driver at least on GTX 1080 (approx. from 175k to 170k). Somehow the register usage by the final kernel increases a little bit, from 168 to 170. I don't know if that increase is notable, but FWIW 170 is very close to 512

[2021-12-23 19:24] solardiz commented on #4963
The speed is regained by adding `#pragma unroll 1` here:

[code]

Register usage drops to 168, too.

The weird thing is that the entire piece above is actually unneeded - it only matters for `keylen > 0` (and that `for` loop could as well have been inside the `if`). However, removing the above piece doesn't result in the improvement that the `#pragma unroll 1` provides. Well, maybe having this buf

[2021-12-23 19:36] solardiz commented on #4963
BTW, I suppose it could make sense to split the final kernel into two, so that blake2b's surprisingly higher register usage doesn't impact ed25519's LWS, and so that they don't compete for instruction cache concurrently. But the above workaround works fine for now.

[2021-12-23 19:39] solardiz opened #4970 "DPAPImk fails --fuzz with "SID_size < 0 !""
[code]

and there it exits, without even a final linefeed.

[2021-12-23 19:43] solardiz commented on #4969
@Mikazukii05 Thanks for reporting. If you can, please use textual copy-paste instead of screenshots going forward.

@claudioandre-br This says the system is missing `sed` and `expr`. Do we need to update the Cygwin packages list to install? These are rather basic tools that perhaps were installed by default before, but maybe aren't always?

[2021-12-23 19:45] solardiz commented on #4963
@magnumripper I've just force-pushed with the above workaround, so can you please retest on your system? I hope fixing the performance here doesn't break things there again.

[2021-12-23 20:13] magnumripper commented on #4963
I re-ran now with consistent GWS (autotune picks the one below it more often than not) and best speed of five runs:
At f683f0f: 490798 c/s (two times of five).
First patch: 501852 c/s (three times of five).

So 2.3% boost. Last two patches seem to make little difference (if any) but I didn't look at register usage.

[2021-12-23 20:26] Mikazukii05 commented on #4969
I'll copy and paste it next time okay.

What do you advise me to do ?
I installed gcc-core, libssl-devel, libgmp-devel, libOpenCL-devel and Make yesterday.

I checked the last version at the bottom so I think I have all the recent versions but I have this error. Do you have any idea what I can do to fix this error?

ps : sed 4.8-1  is installed but I can't find the expr.

[2021-12-23 20:26] ghost commented on #4969
Cygwin is now at 3.3.3, no longer at 3.3.1 (I tested using this version). So maybe we need to update something but it's unlikely.

CI ran on Dec 20th using 3.3.3 [here](https://dev.azure.com/claudioandre-br/JohnTheRipper/_build/results?buildId=350&view=logs&j=b56efa78-2896-5fbd-a9f4-1cbf2f1ba17f&t=c15f49fc-4e3e-560e-6994-68b49deb11bd) and it worked. Anyway, I can try it myself sooner or later and

[2021-12-23 20:29] magnumripper commented on #4963
Oh, and I now fetched your PR and diffed against it - the last code I tested was identical bar the comment after unroll

[2021-12-23 20:33] magnumripper commented on #4969
@Mikazukii05 can you find a package called "coreutils" or something like that? If so, install it.

[2021-12-23 20:46] Mikazukii05 commented on #4969
@magnumripper   done,  I added COREUTILS and COREUTILS-DEBUGINFO , but the result does not change I still have this code :

$ ./configure && make -s clean && make -sj4
./configure: line 473: sed: command not found
./configure: line 472: expr: command not found
./configure: line 473: sed: command not found
./configure: line 487: sed: command not found
: error: cannot create .lineno; rerun with a PO

[2021-12-23 21:11] solardiz commented on #4969
@Mikazukii05 You happened to at-mention an unrelated person above - you'd want to edit that.

It is puzzling that installing `coreutils` didn't make a difference - `expr` is normally part of `coreutils`.

For `sed`, you need to install a separate package probably called just that - `sed`.

Or maybe the issue is something entirely different - e.g., maybe you're running a weird shell? What does this

[2021-12-23 21:14] magnumripper commented on #4965
That's actually not the case... internal mask is not used for `?w!`, the mask stuff is all CPU-side. I was never sure of this until now.

[2021-12-23 21:26] ghost commented on #4969
Now I realized that the real problem is how you are using cygwin. Documentation should say:

Open a CygWin terminal using the Windows/graphical shortcut. **(is shortcut the Windows terminology, right?)**

Or you can run bash this way (we can recommend this? It seems we can, it is ok reading man on Linux):
[code]

Or you can fix `$PATH` properly.

[2021-12-23 21:41] solardiz commented on #4970
Tentative fix:

[code]

[2021-12-23 21:52] Mikazukii05 commented on #4969
@solardiz  Hey thank you for helping me , so i got that

  `$ echo $SHELL $0`
/bin/bash /usr/bin/bash

`/bin/sh --version`

GNU bash, version 4.4.12(3)-release (x86_64-unknown-cygwin)
Copyright (C) 2016 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>

This is free software; you are free to change and redistribute it.
There is NO WARRANTY

[2021-12-23 21:58] Mikazukii05 commented on #4969
@claudioandre-br  Hi,

° first of all to launch CygWin I do that

1) Launch cmd ,

2) I enter  inside` C:\cygwin64\bin\bash
`
- and I'm there. Isn't it a good way to use CygWin ?

°Secondly I used the command `CYGWIN-PATH/bash --login -i`
and the command `$PATH `but nothing happened.

I'm sending you the results on cmd :

CYGWIN-PATH' is not recognized as an internal or external command
or externa

[2021-12-23 22:21] ghost commented on #4969
I reproduced the issue using 3.3.1 and I can say that the below statement is a proper fix.

@Mikazukii05, you  should run in CMD:
[code]
Then `./configure` and so on.

I would say that you need guidance to improve your Linux skills. I leave you in @solardiz hands if you need further assistance.

[2021-12-23 22:26] Mikazukii05 commented on #4969
@claudioandre-br ` c:\cygwin64\bin\bash --login -i` actually worked but `./configure` didn't, ok thanks for your help anyway .
( I am in 3.3.3  if you have a link for the 3.3.1 i wouldn't say no)

$ ./configure
bash: ./configure: No such file or directory

[2021-12-23 23:07] solardiz opened #4971 "Many ASan reports from fuzz_option.pl"
We have that `fuzz_option.pl` script that we haven't run for years. Well, it does produce results when run as simply:

[code]

They're not well separated by format, though. Also the RAM usage became excessive - was over 100 GB when I interrupted. So I patched the script as below:

[code]

and re-ran as:

[code]

A total of 417 formats were fuzzed. This completed in 11 minutes with 3 processes stil

[2021-12-23 23:17] solardiz commented on #4971
My older run (that I had to interrupt) also caught this for `restic` @juergenhoetzel:

[code]

All of this in a build with `./configure --enable-asan --enable-fuzz` and `#define DEBUG` patched to the beginning of `memory.c`.

[2021-12-23 23:31] solardiz commented on #4971
@juergenhoetzel I think the immediate issue with `restic` is confusion between hex chars and bytes here:

[code]

However, there's more. It should probably be checking for exact length (`ishexn` only checks for "not smaller than") and it should reject uppercase hex. Other formats use `hexlenl` for that.

[2021-12-23 23:32] magnumripper commented on #4971
Perhaps we should change `#if DEBUG` to `#if WITH_ASAN || DEBUG` in `mem_alloc_tiny()`?

[2021-12-23 23:46] solardiz commented on #4971
More elaborate fix for `restic`, I'll include in my currently open PR. No action needed from you, @juergenhoetzel, after all.

[code]

BTW, with this the function `ishexn` becomes dead code, like apparently it was before `restic`.

[2021-12-23 23:48] solardiz commented on #4971
There are a few more relevant things that `DEBUG` does in there, so I'd define it at the beginning of the file. We can do:

[code]

[2021-12-23 23:59] solardiz commented on #4971
Pushed the fix for `restic` and the `#define DEBUG`.

I currently don't intend to look into the 17 issues in my original comment here. I'd appreciate it if someone else does.

[2021-12-24 00:14] solardiz commented on #4969
@Mikazukii05 This means you didn't `cd` into the right directory. You should.

@claudioandre-br Is there anything we should improve in the documentation here? If not, let's just close this issue as it's then not something we need to track.

[2021-12-24 00:17] solardiz commented on #4969
@Mikazukii05 BTW, is there any specific reason you want to build from source? You can also download a fairly recent Windows binary build by clicking the "Download Windows build" badge from `README.md` in this repo.

[2021-12-24 00:21] #4962 closed, assigned to nobody

[2021-12-24 00:21] #4963 closed, assigned to nobody

[2021-12-24 00:21] #4964 closed, assigned to nobody

[2021-12-24 00:21] #4966 closed, assigned to nobody

[2021-12-24 00:21] #4967 closed, assigned to nobody

[2021-12-24 00:21] #4970 closed, assigned to nobody

[2021-12-24 00:31] ghost commented on #4969
I would say something like this is appropriate. Not sure if it's wanted:
[code]

[2021-12-24 00:38] solardiz commented on #4969
[code]

I think yes, we should make this edit. Will you?

[2021-12-24 01:32] #4969 closed, assigned to nobody

[2021-12-24 14:02] solardiz opened #4974 "Stribog format issues (Streebog, GOST R 34.11-2012)"
@vt-alt pointed out to me that the SSE4.1 implementation of Streebog that we use is actually slower than SSE2 and even than scalar reference. We could want to replace it, which would also enable these formats to work on systems without SSE4.1.

This prompted me to take a look, and other issues I notice are:

Why do we even call these two formats `Stribog*` when the actual English name for the hash

[2021-12-24 16:49] solardiz opened #4975 "OpenCL crack_count_ret race condition"
The two OpenCL formats that use `crack_count_ret` are `ZIP-opencl` and `cryptosafe-opencl`. Both set `*crack_count_ret = 0;` when `get_global_id(0)` is 0. Both do it from the same OpenCL kernel that can also update that variable with `atomic_inc` or `atomic_max`.

We assume `get_global_id(0)` of 0 will be tried before all others, or at least no later than others. I think in practice it's typically

[2021-12-24 17:19] ghost commented on #4975
I'm almost sure the assumption is NOT guaranteed. In fact, concurrency and item 3 make this bet quite dangerous, by design (think about OpenCL CUs doing their job).

I'm using this approach (one prior kernel invocation) on 'my' fast formats.

[2021-12-24 18:01] solardiz commented on #4975
That's what I'm testing in my pending update of `tezos-opencl` now. Works well so far.

[2021-12-24 20:23] magnumripper commented on #4974
We have quite a few of such formats, I guess. I kinda like supporting everything - I recall implementing a SHA format (the original SHA before SHA-1) just because I found it in OpenSSL. I thought it'd be cool to support it just in case someone find some very old data that would need it, but then they dropped that support and it's gone now. It'd probably be easy to find some reference code (wouldn'

[2021-12-24 20:29] magnumripper commented on #4975
Sounds sensible to me. Good thing we get it all straight before starting to use it as boilerplate code as I called it somewhere.

[2021-12-24 20:33] solardiz commented on #4974
Unlike the original SHA, Streebog is still a current algorithm that people use. There's now gost-yescrypt, which uses it on the outer layer - we'll probably need to add that eventually, at which time we'll need Streebog in tree again. So we could as well keep the raw versions. In fact, @vt-alt also suggested we need micro-benchmarks of the primitives that we use - well, having raw hash formats pro

[2021-12-24 20:33] ghost commented on #4974
That was the first thing I thought when I read the Solar post.

I like the idea.

Maybe we can also have something like `experimental` to put new formats (accept new contributions more easily and faster, maybe).

[2021-12-24 20:39] magnumripper commented on #4975
Just looked at Sayantan's formats. He does it when creating that buffer, and then right after reading a non-zero return from it (after using it to read the full output). That's a good way to not introduce any overhead.

In NT-opencl it's called `buffer_hash_ids` and `hash_ids` on host side and `output` in the compare kernels.

Oh, and he does this (just as discussed in #4958)
[code]

[2021-12-24 20:58] magnumripper commented on #4963
BTW the speed at f683f0f was just 459833 c/s if running on a single CPU, best of five. Comparing *that* to current speed of 506414 c/s (after #4976), the gain is over 10%.

[2021-12-24 22:32] magnumripper opened #4978 "Hybrid mask edge case flaw"
While working on #4965 I noticed an unrelated problem in mask.c:

In hybrid mask mode using UTF-8, if the base candidate is already at max. length and using a mask of eg. ?wx, mask mode thrashes the last character instead of giving up modifying it, or reject it. Better than blowing the buffer, but still not good.

Example: NT in UTF-8 mode. Base candidate `€€€€€€€€€€€€€€€€€€€€€€€€€€€`. These 27 ch

[2021-12-25 02:22] vt-alt commented on #4974
(Which is supported in [libxcrypt](https://github.com/besser82/libxcrypt)). AFAIK, of current and real uses there is also _Astra Linux_-only Streebog-based `crypt()`, but I'm not sure it have interest to be supported.

[2021-12-25 12:08] magnumripper commented on #4978
On second thought this might be a problem in wordlist, as parent mode. It's aware of how much mask mode is going to add to the length so shouldn't send overlong candidates to it. But as in many other places, we're probably not wasting time to know exact length so we just truncate the base word at position 80 (in this case breaking a multibyte character). I haven't looked at the code yet but I gues

[2021-12-25 19:59] solardiz opened #4979 "--fuzz --format=luks consumes too much memory"
The process gets OOM-killed on Linux. This could be a memory leak or an input-dependent memory allocation with no limit.

[2021-12-26 04:05] vt-alt commented on #4974
Btw, does it mean it was never practical, but contest invented usage?

ps.

Perhaps, because of php-stribog (created in 2013).
[code]
In 2013 it was still unclear of official English transliteration of _Стрибог_, so in 2013-2014 there was still many scientific papers saying _Stribog_. Also, it was obvious reference to Stribog god which is traditionally named as Stribog and never Streebog. (Perhaps

[2021-12-26 12:08] solardiz commented on #4974
Yes, I'm not aware of any real uses of raw Streebog for password hashing. This doesn't mean that none exist anywhere, though.

[2021-12-26 16:16] vt-alt commented on #4974
IC. This means improving Streebog impl. without adding real password hash support will be meaningless.

[2021-12-27 00:50] solardiz opened #4980 "ODF format ASan crash seen in multi-format --fuzz"
[code]

[2021-12-27 07:18] Shrikrushnatekade commented on #2219
do not work this command
plz help

[2021-12-27 10:59] magnumripper commented on #2219
@Shrikrushnatekade according to the output, the file is zero bytes. What size is `zzz.zip`? Perhaps the archive is damaged? Try listing it with `zipinfo`.

[2021-12-27 11:00] magnumripper commented on #2219
BTW I assume you're using the latest version of zip2john - if not, you're probably just seeing the OP bug.

[2021-12-27 11:04] #4965 closed, assigned to magnumripper

[2021-12-27 11:05] #4978 closed, assigned to nobody

[2021-12-27 12:13] magnumripper commented on #4958
https://github.com/openwall/john/pull/4943#issuecomment-998804106

Almost correct: Cryptosafe doesn't always send all if any, but all up to the max. that got cracked. I think that was mostly for not having to bother with translating input indeces to output indeces like zip does. Cryptosafe has internal mask which already complicates that translation.

[2021-12-27 12:32] solardiz commented on #4964
@Promethus029 Can you please confirm that this issue is fixed for you? (It is in our testing.)

[2021-12-27 12:33] solardiz commented on #4963
@Promethus029 Can you please confirm that this issue is fixed for you? (It is in our testing.)

[2021-12-27 13:39] #4958 closed, assigned to magnumripper

[2021-12-27 13:39] #4975 closed, assigned to nobody

[2021-12-27 15:50] magnumripper opened #4983 "bcrypt-opencl regression"
At d3998824d we had this:
[code]

Now we don't:
[code]

[2021-12-27 15:57] magnumripper commented on #4983
Although I can't immediately see any problem with it, 537704e0be looks suspect.

[2021-12-27 16:09] magnumripper commented on #4983
That wasn't it. It's b08d10aab9 although I really can't see how/why. It's just cosmetical changes!

Is this not the same thing?
[code]

[2021-12-27 16:23] solardiz commented on #4983
Looks the same to me. That commit also changes the reporting - maybe the TS is somehow tied to the old kind of reporting (has a hack for old bcrypt-opencl in it)?

[2021-12-27 16:40] magnumripper commented on #4983
I confirmed just reverting that change did not help - but reverting all of b08d10a does. I'll check what TS does.

[2021-12-27 16:52] magnumripper commented on #4983
The step that fails is the `--show` stage where the 12 entries in the pot file is correctly showing all 14 hashes cracked. No device or worksize information is printed at all then.

Actually, the pot file (after sorting) is 100% identical to the one generated by testing the CPU format. Yet the TS sees some problem ("1 inval-pwd") with the GPU format.

Whatever this is, it's not a problem with JtR

[2021-12-27 16:58] magnumripper commented on #4983
Yep. Adding a bunch of `-v` to TS shows it: "FAILED line = LWS=8 GWS=64 (8 blocks)". I have no idea why Jim opted to read stderr at all?! Also, many other formats write it like that and it has no problem with them. Anyway I'll fix it in TS and close this.

[2021-12-27 16:58] #4983 closed, assigned to nobody

[2021-12-27 18:32] magnumripper commented on #4960
This was fixed in d95c9834bb3

[2021-12-27 19:39] #4960 closed, assigned to nobody

[2021-12-27 21:43] magnumripper commented on #4033
Maybe try this combined with avoiding busy-waits as in #4944?

[2021-12-27 22:58] solardiz commented on #4033
Yes, eventually I intend to, but mostly as a test for whether the macros are sufficiently generic to accommodate uses like this.

[2021-12-28 10:55] #4932 closed, assigned to nobody

[2021-12-28 18:51] retpoline opened #4985 "Crash when parsing malformed recovery file"
Hello there!

Here's some details on the crash when processing a malformed REC file.

**Build Info**

[code]

**Repro**

[code]

**Debug**
[code]

Thanks for your time.

[2021-12-28 19:32] solardiz commented on #4985
@retpoline Are you fuzzing? In a VM? With very limited RAM per process? My guess is you actually triggered an out-of-memory condition that your system's own libraries failed to handle well.

However, with just slightly different input you'd trigger misbehavior in JtR, and perhaps we shouldn't allow allocations this large in there. So we'll need to fix the code in JtR. Thanks.

[2021-12-28 21:16] retpoline commented on #4985
Hi @solardiz,

Yes, it was found fuzzing with [litefuzz](https://github.com/sec-tools/litefuzz) in a VM with 8gb ram, but no further process memory restrictions other than what is default on Ubuntu 20.04.

Ah, this test case was minimized a bit as the original crasher had different values.

[code]

Makes sense. Thanks for having a look!

[2021-12-28 21:19] solardiz commented on #4985
@retpoline Once we fix this, you might want to build with `./configure --enable-asan` for further fuzzing of our project. That will likely uncover more issues. Thanks.

[2021-12-28 23:32] magnumripper commented on #4985
I just added the "fuzz bug" label and only then saw the derogatory description it currently has. No offense meant.

[2021-12-28 23:42] solardiz commented on #4985
@magnumripper I've just updated the description. With that, I'm also going to set this label on more issues.

[2021-12-28 23:58] Promethus029 commented on #4964
@solardiz I can reliably get Dark's password using nt-opencl. Thanks :)

[2021-12-29 16:59] FABIOTOP opened #4986 "Extract hashes to .json file Blockchain wallet v4"
hi
I need to extract hash from .json blockchain wallet version 4 v4 file.
how to extract hash from blockchain wallet version 4 where it locates the access password to recover account

[2021-12-30 14:49] solardiz commented on #4986
Hi @FABIOTOP. This is an issue tracker, not a support forum. Your edited comment says that an update is needed (you also say "urgent", but we don't view it that way) - if so, maybe we can re-label your issue from "question" to requested "enhancement" (and likely let it stay open for a long while, as it doesn't appear anyone would work on this soon given that other open issues related to Blockchain

[2022-01-01 00:40] solardiz opened #4989 "HMAC-MD5 format ASan crash seen in multi-format --fuzz"
[code]

[2022-01-01 19:09] solardiz opened #4990 "--fuzz of HMAC formats leaks a lot of memory"
This is not necessarily a bug - sometimes we accept continuing to allocate memory per each new input, and fuzzing produces a lot of inputs. This is more of an observation.

`--fuzz` of HMAC-MD5, HMAC-SHA224, HMAC-SHA256 leaks a lot of memory (tens of MB per second, and at least for HMAC-SHA256 eventually tens of GB total).

However, somehow HMAC-SHA1 and HMAC-SHA512 are mostly immune from this (th

[2022-01-07 22:51] lokkju opened #4991 "Add support for truncated PBKDF2-HMAC-SHA1 hashes"
In preparation for adding support for extracting and cracking Chrome Sync's custom passwords from the local profile's Nigori.bin file, I'd like to add support for truncated PBKDF2-HMAC-SHA1 hashes. Currently, the format only seems to support 20 byte hash lengths, though the PBKDF2HMAC algorithm supports any length *up to* 20 bytes. Chrome Sync's Nigori keys only use and store 16 bytes of keying ma

[2022-01-08 01:41] magnumripper commented on #4991
Sounds great to me.

PBKDF2 also supports *longer* ones than the base algo's length. If I recall right some/all of our PBKDF2 formats support that, so for SHA-1 it could support eg. 40 bytes but it wouldn't actually calculate more than 20. Then in `cmp_one()`or `cmp_exact()` it would calculate the rest and complain/warn if we got a partial match (because that is so very unlikely). This way we don'

[2022-01-08 01:44] magnumripper commented on #4991
BTW I believe the current PBKDF2 formats are fairly unified now, so any change to one of them should be very easy to backport to the others. It'd be great if you could do so while at it.

[2022-01-08 02:12] lokkju commented on #4991
Yup, that's what I'm doing: cmp_all compares `ARCH_SIZE`, cmp_one compares keylen (up to max 20), and cmp_exact was already comparing the full thing, and warns if there is a mismatch

There are quite a few different PBKDF2HMAC format plugs, each with their own cmp methods. I'll take a look though.

[2022-01-09 17:36] ghost opened #4992 "ENCDataVault fails in a BE environment"
[code]

[2022-01-10 03:51] mbrownnycnyc opened #4993 "ssh2john.py doesn't extract all keys from a keyfile"
Hello folks,

I'm having an issue where I can't crack a `format=ssh` rsa key... in fact, it's one grabbed from the vuln machine from basic pentesting room on tryhackme.

I'm running kali on WSL2 on Windows 10.
[code]

I've built the latest from the repo:
[code]

I've verified that the passphrase is `beeswax`, which is located in rockyou, by using the key for auth with `ssh -i`.

However, i can't c

[2022-01-10 10:31] magnumripper commented on #4992
Untested:
[code]

[2022-01-10 10:53] magnumripper commented on #4993
That keyfile holds four keys. The last two are identical. If I save them to separate files, the first one isn't recognized by john, the third (and fourth) are cracked as `beeswax` and the second remains uncracked.

[2022-01-10 10:56] magnumripper commented on #4993
Also, diffing the second keyfile against the third, they're identical except the second is missing 15 lines. So I take it that key is just damaged and thus uncrackable. The first file appears to be the same key as well, with less linefeeds.

I recall ssh2john has problems reading multiple keys from a single file. Don't we have an issue for that?

[2022-01-10 11:04] magnumripper commented on #4993
I confirmed that when given the OP file, ssh2john only extracts the second (damaged) key and silently ignores the others

[2022-01-10 15:25] mbrownnycnyc commented on #4993
Thank you.  I'll work out extracting all keys and validating with `openssh` before feeding to ssh2john.

If there's a separate bug, is this slated for future release?  To support multiple key extractions "automatically" would be a useful feature.

[2022-01-10 21:29] ghost commented on #4992
Thanks, it passes the self test now. I can create a commit on your behalf and a PR, but I think it will be simpler if you push to master directly.

[2022-01-11 01:35] mbrownnycnyc commented on #4993
@magnumripper

In short, I realize what I did.  I was using various methods to extract the key from linpeas output, and continuously appended keys.  This was my fault, and if a output a single key, `john` works without issue.  Although the feature of parsing many keys and subsequently cracking them would be useful, this is a PEBCAK bug that's been resolved.

Thank you!

[2022-01-11 10:09] ghost opened #4994 "OpenCL SHA512crypt testing on Intel"
At https://www.openwall.com/lists/john-users/2022/01/03/1 we can see an issue with sha512crypt-opencl on Intel GPU hardware.

* First, it says: `version: OpenCL 3.0 ` which sounds like something quite new, maybe in beta;
* Intel GPU performance is indeed bad; no tune can solve this (I tried it twice);
* I had to copy the `OpenCL.dll` file to the JtR run folder to make `john` able to detect OpenCL;

[2022-01-11 10:13] ghost commented on #4994
As I tested it myself a few years ago and solar has also done it now, I'm just documenting.

Closing the issue soon.

[2022-01-11 13:35] magnumripper commented on #4993
Thanks for reporting back. Still, we should fix ssh2john so it doesn't just extract the first valid key - at least not without even warning. So I'll reopen this issue for that (I can't find any old issue... perhaps we discussed it at some point but forgot opening one).

[2022-01-11 13:37] #4992 closed, assigned to nobody

[2022-01-11 13:43] magnumripper commented on #4991
BTW this is a dupe of #4492 (for all PBKDF2-HMAC formats) so if you fix all of them, it'd close that issue as well.

[2022-01-11 13:46] magnumripper commented on #4124
zip2john doesn't output a hash (and never did, I tried all the way down to 1.7.8-jumbo-8) for archives using bzip2, so I now removed the bug label. You get (and always got) a proper warning message for such archives:
[code]
So this is now just an enhancement issue: Add support for it. I have yet to encounter such archive in the wild though.

As for the OP, I have no idea how @russdill got an uncra

[2022-01-11 17:40] solardiz commented on #4985
I intend to fix this by simply rejecting unreasonably high values of `argc`:

[code]

This doesn't fully validate the parsing of the integer, but that's consistent with how we don't currently validate the rest of them. We only make sure the integer values are in range and consistent, not that the original strings are proper integers. We might want to make the parsing more robust in that respect se

[2022-01-11 17:52] solardiz commented on #4910
I think increasing the intensity should not only increase the maximum kernel duration, but also lower the speedup threshold for accepting a GWS increase (the 1%, etc. speedup that we currently require).

[2022-01-11 17:58] solardiz commented on #4985
Here's an idea I'd like to have recorded in here, but don't intend to implement: for rewriting, we could `fseek()` the `.rec` file to offset right after all of the command-line arguments, not to start of file, and rewrite only the tiny portion that is expected to change. This would probably increase reliability and provide some speedup when running with lots of command-line arguments. Unfortunatel

[2022-01-11 18:11] magnumripper commented on #4910
That sounds sensible to me too

[2022-01-11 20:51] #4939 closed, assigned to solardiz

[2022-01-11 20:51] #4957 closed, assigned to solardiz

[2022-01-11 20:51] #4985 closed, assigned to solardiz

[2022-01-11 20:54] solardiz commented on #4907
Removed milestone now that this issue is worked around by lowering the default.

[2022-01-11 20:54] #4994 closed, assigned to nobody

[2022-01-11 20:55] solardiz commented on #4906
Removed milestone now that this issue is worked around by lowering the default.

[2022-01-12 09:41] rbsec commented on #4991
389-ds uses PBKDF2-HMAC-SHA256 with a 64 byte salt and a 256 byte key length ([their source code](https://pagure.io/389-ds-base/blob/542287c/f/ldap/servers/plugins/pwdstorage/pbkdf2_pwd.c#_31) and a [python implementation](https://github.com/thesubtlety/389-ds-password-check/blob/master/389ds-pwdcheck.py#L59)) - so it would be definitely be useful to support longer key lengths.

[2022-01-12 11:20] magnumripper commented on #4492
In https://github.com/openwall/john/issues/4991#issuecomment-1010842963, @rbsec wrote:

That's off topic for #4991 but on topic here. Apparently Jim's unifying efforts ended up with some regression. In `pbkdf2_hmac_sha256_fmt_plug.c` there's this:
[code]
...but that macro is no longer used (so should be removed). In `pbkdf2_hmac_common.h` there's this now:
[code]
I take it our current format suppo

[2022-01-12 15:26] magnumripper commented on #4124
Russ now sent me the archive leading up to OP (thanks!) and indeed zip2john **does** produce a hash. I need to look further. The compression type 'c' mentioned in OP is nowadays reported as 'type=12'.

[2022-01-12 16:07] magnumripper commented on #4124
OK, so we do have a problem when there's a mix of stored and bzip2-compressed files in an archive.

Here's my experimental fix:
[code]
As for the false positives, with the above fix and attacking that archive we should be able to early reject a lot, and there should be no false positives at all.

[2022-01-12 16:30] rbsec commented on #4492
@magnumripper apologies - I've deleted my comment from the other thread - thanks for moving it here.

Truncating the hashes to 32 bytes seems to work fine, and I'm having to mangle their format anyway (390-ds uses a strange format starting with `{PBKDF2_SHA256}`, and then with the iterations, salt and output all base64 encoded), so cutting them off at 32 bytes is a nice simple fix.

I couldn't get

[2022-01-13 09:25] magnumripper commented on #4124
With that fix merged, I'll now remove the bug label, and this issue is again just about adding support for bzip2 to the format.

[2022-01-13 09:50] magnumripper commented on #4923
This was affected by e68baf2a78 because pipe mode use the same buffer size as `--mem-file-size`. After that commit, it happens much more often.
[code]

[2022-01-13 11:09] magnumripper commented on #4923
This is very strange. I have confirmed that right after filling the buffer, everything is fine and dandy - rules or not. Yet somehow when rules are not in use, the very last word of the buffer sometimes gets truncated or completely lost.

This does not happen with the very first batch of words. For the second, the last word gets truncated (last 5 characters missing) and an empty line is added. For

[2022-01-13 11:25] xkill opened #4997 "John does not compile: undefined reference to `fmt_ocl_cryptosafe'"
Hi, I just updated the git repo, and after `make clean` and `make` I got the following error so john is not compiled:
[code]

Env:
* Ubuntu 20.04
* Nvidia Driver from apt: 495.46
* nvidia-cuda-dev -> 10.1.243-3

[2022-01-13 11:26] magnumripper commented on #4997
You need to re-run `./configure` and only then make clean and make.

This is due to #3566, which is kind of a bug.

[2022-01-13 11:31] xkill commented on #4997
Thnx, Now it compiles without any problem. You can close the issue.

[2022-01-13 11:32] #4997 closed, assigned to nobody

[2022-01-13 12:10] magnumripper commented on #4923
Found the problem. As expected it wasn't at all related to any race condition - it was due to an initialization of `last` re-occuring in pipe mode.
[code]
On second batch of words, `last` would still point to near the end of the buffer (now rewritten) so `last` could not be used reliably anyway. Even worse, we wrote "\n\0" into it.

[2022-01-13 16:20] solardiz opened #4999 "Wordlist mode check against last is wrong when external filter modifies word"
A long-standing core bug: the wordlist/rules check against `last` word (poor man's de-duplication) isn't doing the right thing when an external mode filter modifies the word (the check compares post-filter vs. pre-filter). This appears non-trivial to fix while keeping the current `last` logic with two buffers coming from `rules.c`. Maybe something to avoid in a rewrite of that logic.

[2022-01-13 19:06] AlekseyCherepanov opened #5000 "--wordlist=fifo misses cracks with --fork"
#4921 introduced ability to use a fifo as argument for `--wordlist=`. `--stdin`/`--pipe` did not allow use of `--fork`. `--wordlist=` allows `--fork=`. But with a fifo, fork works badly.

Setup:
[code]

Test without `--fork`: there should be 100 cracks.
[code]

Test with `--fork`:
[code]

There are 50 cracks only instead of 100. All cracks are either odd or even numbers. So I guess one process con

[2022-01-13 20:36] magnumripper commented on #5000
I wonder if this is a problem inherent of fifos rather than much anything else. Perhaps we should just disable it for forked runs

[2022-01-14 09:44] solardiz commented on #5000
Of course, we should disallow this combination. Perhaps right after setting `file_is_fifo`, check if we're running with `--fork` and print an error and `error();` out. @AlekseyCherepanov You want to send us a PR fixing this? Thanks!

[2022-01-14 13:35] #4923 closed, assigned to nobody

[2022-01-14 14:17] magnumripper commented on #2640
This bug is long gone

[2022-01-14 14:17] #2640 closed

[2022-01-17 15:39] solardiz commented on #4132
Some observations from experimenting with this:

I thought `--format=dynamic_33` would behave the same as `--format='dynamic=md4(utf16($p))'` (except for the different format tag), but it actually behaves subtly differently.

I am testing with HIBP v8 hashes with count 100+ (there are 3612950 such hashes), cracking them with RockYou as wordlist. Here are the numbers of cracks in different tests:

[2022-01-17 15:52] solardiz commented on #4132
I did now. Ran `--format='dynamic=md4(utf16($p))' --encoding=cp1252` on only the 1798369 hashes output by `pwqfilter -f rockyou-ntlm.pwq --pre-hashed < pp8-100p`. All of them got cracked.

Curiously, without `--encoding=cp1252` the number drops to 1798343, which is lower than 1798361 that was seen when running on the full list of 3612950 hashes. This implies that without an encoding specified we e

[2022-01-17 17:16] rodrigozanatta opened #5001 "Grammar for dynamic function"
I am having bad times trying to test a dynamic function.

- First I study[ this document](https://miloserdov.org/?p=5960) to show how to make this in the command line.
- Then, I read the [john/doc/DYNAMIC_SCRIPTING](https://github.com/openwall/john/blob/bleeding-jumbo/doc/DYNAMIC_SCRIPTING) and see I can create a "script" in john.conf with my needs.

But what I didn't found was:

- What is the gra

[2022-01-17 17:31] solardiz commented on #5001
@rodrigozanatta You already [brought this up on john-users](https://www.openwall.com/lists/john-users/2022/01/17/1), which is a more appropriate place for it. Please be patient, and we or others in the community will help you in replies on john-users.

As to this GitHub issue, we can either close it now (as duplicate of the upcoming discussion on john-users), or we can reuse it as request for impr

[2022-01-17 17:45] rodrigozanatta commented on #5001
Really sorry about it. I thought that e-mail didn't work because my gmail don't show the reply :) And I really try to see all the messages from the email list but don't found...

I need to learn more how to use the mail list!

[2022-01-17 17:50] rodrigozanatta commented on #5001
And I can close this issue. So I will do the correct thing and wait there.

[2022-01-17 17:50] #5001 closed, assigned to nobody

[2022-01-17 20:24] solardiz commented on #4132
@magnumripper For my testing here, is there a way to get the original wordlist entries written to pot file (without encoding conversion) even when using `--encoding=cp1252` for conversion during the cracking (edit: or to have the reverse conversion done on `--show`)? Otherwise I am getting pot entries that I cannot then easily match to original RockYou lines.

[2022-01-17 20:54] magnumripper commented on #5001
Here's a copy of the answer I sent to [john-users](https://www.openwall.com/lists/john-users/2022/01/17/2):

The easy way is to use the "dynamic ad-hoc" (or dynamic compiler) format  because you can use that literal formula you wrote above, like this:
[code]
Please note that you need hyphens around the formula so your shell  doesn't act up with the dollar signs.

The input format is:
[code]
So her

[2022-01-17 21:00] magnumripper commented on #5001
Now here's some bonus material: You can add `,debug` after the ad-hoc format, like this:
[code]
Et voila, that's a script right there which you can sometimes optimize manually and put in `john.conf` (leave out everything above the first `########` line). Also, test vectors are shown but in this case the username is encoded as `$U<username>` (which is the format used in the .pot file).

[2022-01-17 21:08] magnumripper commented on #4132
For NT it should be `UnicodeStoreUTF8 = N` but I haven't tested that code path for years and years.

[2022-01-17 21:15] magnumripper commented on #4132
It just hit me we could write a "thin dynamic" format which internally is dynamic=md4(utf16($p)) but will use normal `$NT$` tags for pot entries. It could be named nt-long and we'd be set!

[2022-01-18 13:35] solardiz commented on #4132
This worked (edit: I only tested it along with `--format='dynamic=md4(utf16($p))' --encoding=cp1252`). Thank you!

Exactly.

[2022-01-18 14:08] solardiz opened #5002 "New default wordlist"
I think we need to extend or replace the default `password.lst`. I've prepared a generated common password list based on HIBP v8 and RockYou - can describe the criteria and algorithm and simulated cracking with it vs. alternatives. The criteria are such that a password used by just one person many times is very unlikely to be included (I use the numbers of occurrences in HIBP and RockYou such that

[2022-01-18 14:35] solardiz opened #5003 "New default wordlist rule set"
The existing wordlist rule set coming from core is such that it's easy to describe what it does in plain English and thus to use it as part of a password policy. However, it is not as effective at password cracking as other rule sets that we have are. I currently think we should simply replace the default wordlist rule set with our default `Single` rule set (just `.include` that section), and rena

[2022-01-18 14:46] solardiz commented on #5003
Actually, when I compare against just the initial portion of a `Single` run, the difference in dupes is not so profound (as it was when comparing to the whole `Single`):

`-ru=best64`
[code]

`-ru=single -max-candidates=133529430`
[code]

So the bigger drawback is that after having run `best64`, running a larger rule set like `Single` produces a lot of cross-dupes early on (and thus few new cracks

[2022-01-18 15:02] solardiz commented on #5002
A related question is whether we should have the list sorted for decreasing frequency (like we have it now) or sort it alphabetically or maybe have the initial portion (corresponding to the current tiny `password.lst`?) sorted by frequency and the rest alphabetically. A reason to sort alphabetically is it results in fewer dupes (produced by rules) getting through our poor man's check against the p

[2022-01-18 15:07] solardiz commented on #5003
Maybe a task here is to review which `best64` rules crack the most passwords that a corresponding initial portion of `Single` does not, and to incorporate into `Single` just those few(?) rules. That would avoid the dilemma.

[2022-01-18 16:08] solardiz opened #5004 "Optimize default rule sets"
As part of my work towards #5003, I came up with this command:

[code]

This tells us that the current ordering in `Single` is far from optimal, at least when used with my #5002 candidate wordlist.

Also, when run on a log from `best64`, it makes me doubt that some of the rules should even be in there (too few cracks) - but maybe we want to keep them for consistency with hashcat's? It also makes m

[2022-01-18 16:23] solardiz commented on #5004
When using mostly dictionary words (Openwall `all.lst`) in place of common passwords, the top 20 `Single` rules are quite different:

[code]

Some common patterns are seen (e.g., rule 62 want to be in top 20), but this won't be trivial to optimize universally.

Edit: I initially posted the top 20 from a run limited to 100M candidates. Now replaced with a full run, which let higher-numbered rules g

[2022-01-18 16:56] solardiz commented on #5004
Top 20 `Single` rules for combined `all.lst` and common passwords:

[code]

Edit: adding top 21 (to show rule 910 is just beyond top 20) with `--no-loader-dupecheck`:

[code]

Not much changes in the ordering when counting unique password vs. all "accounts".

[2022-01-19 09:17] MikTur opened #5005 "AGAIN with: Error: No OpenCL-capable platforms were detected by the installed OpenCL driver"
Hi, a topic covering this issue has just been opened and closed.
The problem is that any  path-to\john-1.9.0-jumbo-1-win64\etc\OpenCL\vendors\nvidia.icd  update with the proper nvopencl64.dll does not make the john executable recognize any nvidia opencl capable device.

*Files were read only :)

[2022-01-19 10:10] #5005 closed, assigned to nobody

[2022-01-19 20:19] solardiz commented on #5002
Starting to record the methodology in here, before I forget:

[code]

count-filter.pl:
[code]

Line counts:
[code]

Cracks with `-form=nt -encoding=cp1252 -ru=single` on 1M representative sample of HIBP v8 (826973 unique):

`count-pp8-100p-r` (with the count field removed):
[code]

`pp8-100p-rfd97`:
[code]

This mild filtering against RockYou passwords that have too few additional hits in HIBP red

[2022-01-20 07:02] RadoslavL commented on #3975
@magnumripper What causes the "Skipping short file" message? Too long password? Too small file size? I was testing with zip2john and I got no output as well.

[2022-01-20 10:16] magnumripper commented on #3975
@rlelchev it means the file size was less than four bytes. We could support shorter ones but it would lead to excessive false positives.

[2022-01-20 16:45] solardiz commented on #5002
For comparison, with our current tiny `password.lst` and `-ru=single`:

[code]

With our current tiny `password.lst` and current default wordlist rules:

[code]

These are almost instant, but then the proposed new wordlist almost instantly gets to 200k+. Its substantial running time (or rather time that would be substantial for a slow hash) is to get beyond 200k to 300k+ (or 500k+ non-unique), whi

[2022-01-20 17:09] solardiz commented on #5002
Top 20 of `pp8-100p-rfd97` above are:

[code]

Some of these are just right, some are not. Most notably, `DEFAULT` is probably an artifact specific to HIBP. It is in RockYou (or it wouldn't get in here, like most other HIBP noise did not), but it ranks very low there. I think we can remedy this in one or both of two ways:

1. Append `pp8-100p-rfd97` to our current `password.lst` (sans dupes). Then

[2022-01-20 17:29] magnumripper opened #5007 "md5crypt-opencl often autotuning poorly (on nvidia 2080ti)"
As mentioned in #5006, I noticed md5crypt-opencl would often autotune to too low values resulting in significantly lower speed.

In 10 runs on a 2080ti:
ws | speed (many salts) | num times
-|-|-
256, 34816 | 12916K c/s | 6
256, 4456448 | 23014K c/s | 2
256, 2228224 | 22825K c/s | 1
256, 139264 | 21547K c/s | 1

I haven't seen this behavior with any other format but it would sure be nice to avoid t

[2022-01-20 17:31] magnumripper commented on #5007
At autotune-time, the speed is obviously detected as on par with the higher ws figures, such as 22524K c/s

[2022-01-20 17:38] magnumripper commented on #5007
Often, the 34816 come from back-tracking in autotune, but not always:

Of 10 runs (not same runs as above), 8 ended up with 34816 from back-tracking, 1 ended up with 34816 from not back-tracking and a single run ended up with 139264.

[2022-01-20 17:39] solardiz commented on #5002
Curiously, for HIBP 1000+ hits, this step (still requiring only 97+ hits on top of RockYou's) does not remove any lines. For HIBP 200+, it removes 8 lines. Indeed, we could adjust the threshold e.g. to 197, but that would be inconsistent with us also planning on running with 100+ later.

Wordlist size and crack counts for HIBP 1000+ (overlap with RockYou, 97+ on top of RockYou):

[code]

Ditto for

[2022-01-20 17:41] magnumripper commented on #5007
On 10 runs with real cracking for 10 seconds at that low GWS of 34816, the speed were 12564K-14360K c/s.

On 10 runs with real cracking for 10 seconds at the second lowest GWS (from above) of 139264, the speed were 20542K-21202K c/s.

So this is not a benchmark issue but definitely an autotune issue with IRL impact.

[2022-01-20 17:42] magnumripper commented on #5007
I think this is so bad I added a bug label, even if it's not (I guess) technically a bug.

[2022-01-20 17:48] solardiz commented on #5002
The `pp8-1000p-rfd97` run above produces 222315159 candidates (with `-stdout`). Limiting a `pp8-100p-rfd97` run to that count produces slightly more cracks:

[code]

So the larger wordlist not only helps ultimately have more cracks, but also doesn't hurt early cracking.

I disregard the differences in c/s rates and real times here because those are inexact (e.g., turbo boost varies here) and more

[2022-01-20 19:04] solardiz commented on #5002
To reduce this effect, here's also testing against an arbitrary (beginning of hash-sorted list) sample of 1M unique HIBP hashes (out of the 800M+ without bias towards higher-count ones, so with little overlap with the top lists used for wordlist generation).

HIBP 200+:

[code]

RockYou 3+ (a tiny bit larger than the above):

[code]

[2022-01-20 19:12] solardiz commented on #5002
Given the lack of comments by anyone else in 2 days, I assume the corresponding PR is OK to merge now. ;-)

[2022-01-21 10:21] magnumripper commented on #5002
I trust your decisions and methods 👍

[2022-01-21 10:26] magnumripper commented on #5002
Oh, there's one thing I'd prefer doing that I assume you didn't do here:

I would ensure the resulting wordlist is UTF-8 (eg. using cprepair). That way it can be used with any encoding. Having it as a mix of legacy codepages will be mostly useless. I assume the non-ASCII words that went into this are few, so manual auditing of codepage conversion is probably doable.

Edit: Checked it out and all i

[2022-01-21 14:12] magnumripper commented on #5004
So it's just incrementing first letter, 8 times. I had a look at this.
[code]
[code]
[code]
...and so on. These are all just random successes with a random rule. Some just *happen* to be potentially valuable, such as as -> is, camel -> kamel and fische -> nische. There might be more of such in your test data, resulting in your good score.

Bottom line, well, I wouldn't like it to be included in an

[2022-01-21 14:15] #5002 closed, assigned to nobody

[2022-01-21 14:28] magnumripper commented on #5004
BTW we might get better results with targeted things like `s[ckCK]\p[kcKC]` than with that rule, although admittedly that's four rules.

Edit: `s[ck]\p[kc]s\p[CK]\p[KC]` is only two rules.

[2022-01-21 14:34] solardiz commented on #5002
Another reason is alphabetic sorting greatly improves the compression ratio (in `.git` and when we distribute releases) because it effectively removes information on the frequencies. However, this time I felt these two reasons are not good enough, because the frequency sorting is important while running the first few rules on the slowest hashes.

We can also consider (for later) length sorting (an

[2022-01-21 16:01] magnumripper commented on #4956
There seems to be problems with upstream, need to sort that out first

[2022-01-21 16:03] solardiz commented on #5005
@MikTur While we're aware of related issues discussed in #3191, what you posted here is confusing. Anyway, were you able to work around the issue, and exactly how?

[2022-01-21 16:07] magnumripper commented on #5005
His edit before closing dropped "Plese fix this annoying bug, thanks" in favor of "Files were read only :)" so I assume the problem was related to file system rights.

[2022-01-21 16:10] solardiz commented on #5004
Thank you for looking into this, magnum. I think generating random rules actually makes some sense, but not for our new default rule set.

BTW, our `Extra` rules perform quite well - they crack almost as many unique hashes in HIBP v8 (using first 1M of the by-hash list) as `Single` does, albeit in ~4.5x more time:

Single:

[code]

Extra:

[code]

Now to see how many new Extra cracks after Single.

[2022-01-21 18:10] solardiz commented on #5004
Quite a lot:

[code]

[2022-01-21 18:27] solardiz commented on #5004
Top rules from the runs above (these are different from what I posted in here earlier in that the test set of hashes is first 1M of by-hash now vs. representative 1M by count before):

Single top 20:

[code]

Extra top 20 (after Single):

[code]

Extra looks unoptimized, but there might not be much room for optimization while continuing to use the preprocessor.

[2022-01-22 13:00] solardiz commented on #5004
Replaced my poor man's shell/perl one-liner with:

[code]

[code]

This outputs things like:

[code]

So a rule cracking few passwords can nevertheless rank high if it produces very few password candidates.

[2022-01-22 15:10] solardiz commented on #5004
I'm considering switching to automatically re-ordered rule sets. We could keep the source rule sets in `john.conf`, but with the sections renamed to use the `-source` suffix. In sections under the original names, we'd `.include` separate files with the preprocessor expanded and re-ordered rules, but with the rule reject flags still intact (except that we may optimize out the no-op flag `-:` when w

[2022-01-22 16:14] rodrigozanatta opened #5009 "Dynamic silently refuses to load over-long salts, but would ideally warn"
I found a bug if I try to use a dynamic function with salt bigger than 32 character.

**john -test -format:"dynamic=sha512($u.$p.$s)"**

[code]

[code]

So, if I run the program:
**john  --format:"dynamic=sha512($u.$p.$s)" --wordlist=wordlist.txt  test.in**
Only found two:
[code]

To solve this, I can just change the order of the user and salt

**john -test -format:"dynamic=sha512($s.$p.$u)"**

[c

[2022-01-22 16:20] solardiz commented on #5004
One more hurdle:

3. The re-ordering is of preprocessor expanded rules, so they do not need to be passed through the preprocessor again - and for some of them doing so is actually incorrect. However, we don't(?) have a no-preprocessor mode that wouldn't also enable hashcat mode. So we need to either introduce such mode or preprocessor-escape some characters in the generated rules.

[2022-01-22 16:34] solardiz commented on #5004
There are also rules that target splitting, which we prefix by `-s`. Even if we force them during a training run on non-split hashes, there would be no or fewer hits than when running on actual split hashes. So would we need to separately train and have a separate output file for usage on split hashes? And some logic to have that alternate rule set automatically used when run on split hashes?

Thi

[2022-01-22 17:04] solardiz commented on #5004
@magnumripper Shouldn't the current code have rejected a repeated rule like the below (when running `-ru=jumbo`)?

[code]

Obviously, it doesn't crack anything the second time this rule is tried. The log has this near the start:

[code]

So wasn't rule dedup in effect, and isn't the fact it didn't fully work a bug?

[2022-01-22 21:32] magnumripper commented on #5009
A limitation of salt length is hardly what I'd call a bug but that said, it'd be nice to fix it.

The problem is related to optimizations: For maximum speed, SIMD formats can only have a total input of 55 bytes - sum of salts and password lengths becuase that's a single Merkel-Damgard block. I believe most/all dynamic formats extend it to the next block limit: 64 + 55 so 119 bytes. A problem with

[2022-01-22 21:35] magnumripper commented on #5004
Yes, that one should be dropped in the dupe rule suppression. It's weird it didn't, we should find out why.

[2022-01-22 21:35] solardiz commented on #5009
I assume the bug here is those salts are not rejected right away. Of course, ideally they'd be supported, but that isn't essential to fixing the bug aspect of this issue.

Then there's the question. I _guess_ building with `--disable-simd` _might_ work around the issue, but I am not sure.

[2022-01-22 21:42] solardiz commented on #5009
@magnumripper If it's about fitting in the underlying hash's block, then why does re-ordering of salt and username matter? Maybe it's something else this time.

[2022-01-22 21:50] solardiz commented on #5009
Oh, actually `john` _does_ reject _loading_ of the hash with the over-long salt. Trying `test.in` above, with 3 lines in it, I get `Loaded 2 password hashes with 2 different salts (dynamic=sha512($u.$p.$s) [128/128 AVX 2x])`. So no bug here, after all, and I was too quick to comment.

However, we could want to enhance the loader to print warnings about unsupported hashes, which could be helpful es

[2022-01-22 21:54] solardiz commented on #5009
Actually, for this specific issue we'd probably need to add such printing to dynamic's `valid()`, like we already have in some other formats that can sometimes reject an almost-valid-but-not-quite-supported hash.

[2022-01-22 22:00] solardiz opened #5011 "Duplicate rule suppression sometimes fails"
As discussed in https://github.com/openwall/john/issues/5004#issuecomment-1019310089:

Shouldn't the current code have rejected a repeated rule like the below (when running `-ru=jumbo`)?

[code]

Obviously, it doesn't crack anything the second time this rule is tried. The log has this near the start:

[code]

We should find out why the duplicate rule wasn't dropped.

[2022-01-23 00:02] rodrigozanatta commented on #5009
Lol, sorry for this confusion. **The problem is that John don't LOAD the hash.** I should have to say it before. 

So I thought it was just a format error. Because... after all, the program find the same password.
I just don't understand this:
- The variable $u accept long string
- The variable $s don't

In the end, this is just random string in both sides
sha512($u.$p.$s) == sha512($s.$p.$u)

The

[2022-01-23 10:00] solardiz commented on #5002
Another reason to preserve perfect frequency sorting is to allow for efficient use of rules-first, such as with `--rules-stack`.

[2022-01-23 10:14] solardiz commented on #5004
Historically, we have some rules restricted to all-alphabetic base words or such even when that is not essential to the rule's functionality - it was just a guess of what base words the rule would be most efficient on. IIRC, I saw this approach in Crack rules, and reused it. Back then, most wordlists were of dictionary words and there were relatively few hashes to test against and this wasn't fast

[2022-01-23 11:23] solardiz commented on #4851
I'm about to move `ShiftToggle` from `Jumbo` to `All`, but I don't currently have time to bother with testing an upgrade of `Extra` rules to shift-toggling - this currently feels like unnecessary scope creep for my rules rework and it has non-trivial benefits vs. drawbacks (e.g., the `-c` rule rejects on those rules in `Extra` will no longer be right if we shift-toggle).

[2022-01-23 11:42] solardiz commented on #5004
Also, many rules are lowercase/capitalize followed by something else, and there isn't always a version without the lowercase/capitalize step. This made sense for lists for dictionary words, but for our current lists of common passwords maybe it's best to omit the lowercase/capitalize step because those lists tend to readily include different case and sometimes include case variations that those tr

[2022-01-23 11:58] solardiz commented on #5004
Dropping many of the `(?a` (when not used with `c`) from `Single` increases the unique crack count against my 1M non-unique representative sample of HIBP v8 with our new default wordlist from 355447 to 356385, or by 0.26%. Unfortunately, when I do that by using the preprocessor to avoid duplicating source lines, that results in rules that look different to the rule deduplication than those produce

[2022-01-23 12:16] solardiz commented on #5004
As a test, replacing all 26 occurrences of `[lc]` with `[:c]` in `Single` (except in `JumboSingle`) increases the crack count from 356385 to 356421. That's not much, but at least there's no adverse effect. The total unique cracks across both runs are 356423, so that change cost us only 2 previously crackable passwords while gaining 36.

[2022-01-23 12:32] solardiz commented on #5004
Replacing also those in `JumboSingle` (for a total of 32) kind of hurts: from 356421 to 356419 (with total across now 3 pots staying at 356423), although indeed this is hardly a difference. Maybe I should test on a larger sample, or don't bother.

[2022-01-23 14:49] solardiz commented on #5004
Also dropping 4 instances of `!?A` and `/?A` increases this to 356474.

[2022-01-23 16:03] solardiz commented on #5004
Dropping most of the other uses of `l` increases the crack count to 357026 or by 0.15%.
Edit: dropped one more for 357053 or 0.16%.

Treating `Extra` in a similar way to the above increases the crack count (when using HIBP v8 1000+ overlap with RockYou for a quicker test) from:

[code]

to:

[code]

I am actually surprised by this - it's a 43% increase in only 5.5% more candidates (the real time d

[2022-01-24 10:35] solardiz commented on #5004
`Single-Extra` cracks 408776 before update to `Extra`, 418131 after. Number of rules doesn't change (still 5784), number of candidates increases, running time on a fast hash decreases (since there are fewer rule commands) from 15:36 to 14:48.

The insert/overstrike rules in `Extra` date back to 1990s with JtR being primarily for `descrypt` hashes, so they don't attempt to go beyond length 8. They'

[2022-01-24 10:57] #4989 closed, assigned to AlekseyCherepanov

[2022-01-24 11:01] solardiz commented on #2013
Maybe more and simpler implementations:

https://github.com/carthach/kBestViterbi (Python)
https://github.com/meerkat-cv/top_n_viterbi (C++)

[2022-01-24 15:34] AlekseyCherepanov opened #5013 "Recently added WITH_ASAN check in memory.c is misplaced"
Investigating #4980 I found that I could not trigger ASAN's out-of-bounds checks on buffer got from `mem_alloc_tiny()` easily while I had unchecked `strcpy()`. A huge overflow is required to trigger ASAN.

I don't know if `mem_alloc_tiny()` is used with `--fuzz`. If so, it should degrade quality of fuzzing greatly.

Example from `src/odf_common_plug.c`:
[code]

~30kb hash does not trigger it:
[cod

[2022-01-24 15:37] solardiz commented on #5013
Haven't we addressed this in aac86fb311d13f4217762624438642769147ab39?

[2022-01-24 15:52] solardiz commented on #5004
That might be because of my reuse of `Single` for wordlist mode, but when actually used in single mode there could be adverse effect when e.g. a user's last name is only available in capitalized form. I don't currently have a good test case for that handy.

[2022-01-24 16:01] AlekseyCherepanov commented on #5013
I just rebuilt from repo and rechecked: same behaviour is in place.

[code]

I modified `memory.c`:
[code]

[code]
Plus same set of 3 warnings repeats 3 times.

So it looks like `WITH_ASAN` is not set.

[2022-01-24 16:20] solardiz commented on #5013
IIRC, it was set in my testing a month ago. Please investigate this.

[2022-01-24 16:36] AlekseyCherepanov commented on #5013
`WITH_ASAN` is defined in `misc.h`. It works well for me.

But in `memory.c` `WITH_ASAN` is used before `#include "misc.h"`.

[2022-01-24 16:41] solardiz commented on #5013
Oh, right. Please fix that by moving the lines added in my commit referenced above to below that set of `#include` lines.

For correctness, I think `listconf.h` also needs to include `misc.h`. You might want to fix that, too.

[2022-01-24 16:47] solardiz commented on #5004
I've reverted most of my dropping of `l` because it could hurt single mode and I don't want to maintain separate rule sets for it. With that, the "after" number above is 417586, which is good enough, and the same fast hash attack duration is somehow 15:49 (oh, maybe that's because I also added some `Q` after the overstrike rules in `Extra`, to benefit slower hash runs). We may revisit this separat

[2022-01-24 17:33] AlekseyCherepanov commented on #5013
Includes of `listconf.h` say it should be included after `version.h`, so I am going to change these comments to mention `misc.h` too.

I tried to move the check. It helps.

Yet it is not perfect. That's the largest hash that does not trigger ASAN.
[code]

I added `printf("%zu\n", strlen(buf));` after `strcpy` and it reports 3074. `3*1024` is 3072. So 3 bytes above requested capacity were not caugh

[2022-01-24 17:42] solardiz commented on #5004
Non-invasive optimizations of `Single` result in most of top 20 by score actually being in top 20 by number:

[code]

[2022-01-24 17:49] solardiz commented on #5013
Or if another implementation of `malloc` in `libc` would. I think that's not a JtR issue, but is just how `malloc` and ASan work.

[2022-01-24 17:55] solardiz opened #5015 "Rename loader-dupecheck"
I find it weird that we have a dash after `loader` (and another after `no` in the negative form of this option), but no dash between `dupe` and `check`. This is also inconsistent with the CamelCaps we use for `NoLoaderDupeCheck` in `john.conf`.

And we also still have the legacy name `--loader-dupecheck=no` mentioned in a comment in `john.conf`.

We need to make all of these consistent before our

[2022-01-24 18:24] AlekseyCherepanov commented on #5013
I am not sure, but it looks like `mem_alloc_tiny` can allocate bigger buffer and then give smaller parts to callers. Then two returned buffers might be adjacent. Then you would get an overflow from one buffer to another that could not happen in debug build.

Pure `malloc` and ASan seem to work well with small overflows:
[code]

[code]

[2022-01-24 18:43] AlekseyCherepanov commented on #5013
I tried to replace `mem_alloc_tiny` with pure `malloc` in `odf_common_plug.c`:
[code]
Or alternative variant with alignment:
[code]

In both cases ASan caught overflow by single byte.

[2022-01-24 19:41] solardiz commented on #5013
Without `DEBUG`, yes. We force `DEBUG` precisely to avoid that in ASan builds.

I guess that's not how `mem_alloc_tiny` implements alignment when in a `DEBUG` build - perhaps it does something else... and perhaps we should just have it use `malloc` and ignore requested alignment when `WITH_ASAN`.

[2022-01-24 20:00] magnumripper commented on #5013
I may be wrong but IIRC `mem_alloc_tiny` tries to give *exactly* the requested alignment (ie. not better) in a debug build - trying to trigger as many alignment bugs as possible. That's a benefit over just using `malloc` but the current code's `DEBUG` logic might not do this anymore.

[2022-01-24 20:04] solardiz opened #5016 "no-loader-dupecheck can have ridiculous performance impact"
At first I thought we had a rare infinite loop condition on processing of successful guesses, but no - the loop actually does terminate eventually. Here it took 47 seconds to remove 67k instances of one hash, and during this time the program was unresponsive:

[code]

This is actually a reduced test case - I first saw the problem by trying to run actual cracking on a 100M file (not 10M above), and

[2022-01-24 20:05] solardiz commented on #5013
Right, but that only means the pointer it returns isn't over-aligned - it doesn't mean there's no over-allocation.

[2022-01-24 20:15] solardiz commented on #5016
OK, not really puzzling: it's just O(n^2) when both the number of cracked passwords and the number of loaded hashes increase linearly with file size. So under 1 second for 1M, and 100x that for 10M, etc. Obviously, duplicates of a hash share the same hash bucket, and this turns the hash table lookup into a linear search.

Yet we could want to add this to description of the setting in `doc/OPTIONS`

[2022-01-24 20:28] magnumripper commented on #5016
I have seen pot syncs cause "hangs" for quite some time when very large numbers are removed in a sync. Should be the same problem.

BTW that's worse, because pot sync is the default.

[2022-01-24 20:35] solardiz commented on #5016
No, I think pot sync would be linear of the number of hashes to remove, unless duplicate hashes were loaded.

[2022-01-24 21:11] AlekseyCherepanov commented on #5013
[code]

`MEM_ALLOC_SIZE` is 0 for `DEBUG` builds. So `buffer` is not set. So it should call `malloc` always. `size` is increased by `align`. Also `mask` is added.

In the example, `align` is 4 and there is overallocation by 3 bytes. So I guess `mask` should not be added. But I don't understand the code really.

Checking alignment together with ASan is cool.

Some bugs cause buffer overflow on the

[2022-01-24 21:16] magnumripper commented on #5013
There are pros and cons here. Alloc'ing exactly the size would catch both buffer overruns and underruns but no aligment problems. Alloc'ing to just the requested alignment but no better, and no larger than requested, will catch any overrun but not small underruns.

[2022-01-24 21:21] magnumripper commented on #5013
I think we currently (in the DEBUG case) allocate a little too much - adding headroom for alignment that is never needed.

[2022-01-24 21:22] magnumripper commented on #5013
Many overruns are by just a single byte or so, so we might want to perfect this. I guess underruns (or negative overruns) are much more rare.

[2022-01-24 22:51] #5013 closed, assigned to AlekseyCherepanov

[2022-01-25 13:51] magnumripper opened #5019 "Support reading gzipped wordlists (and perhaps other things)"
Whenever we do a (much needed) overhaul of `wordlist.c`, we should consider adding support for reading files compressed with gzip/xz (perhaps others - bzip?) on the fly. Perhaps using `dlopen` rather than requiring anything at build time.

If we do it cleverly enough (perhaps squeeze it into `fgetl()` if possible?) we could even support compressed input hash files.

[2022-01-25 14:44] solardiz commented on #5019
I think first we need to support DAWG (and include (un)compression programs for it), probably in the same way Crack 5 did (keeping the compressed files as plain text):

https://alecmuffett.com/article/9829

although there are also more extensive binary formats:

http://www.wutka.com/dawg.html

DAWG-compressed wordlists can then be optionally further compressed with gzip, etc. for much better cumul

[2022-01-25 14:45] solardiz commented on #5015
Fixed by 98c67af929dc3d56cce7b798db14c4d26b67a3a1, closing.

[2022-01-25 14:45] #5015 closed, assigned to nobody

[2022-01-25 15:24] magnumripper commented on #5019
DAWG could be a good way to set the framework for later algorithms. Perhaps we could even support memory-mapping in this thing...

A very early picture of this in my head:
`john_fopen` would detect any compression algorithm (if any), do any `dlopen` needed and set things up. We could use an extended file struct that contains the algorithm's information and state. It would also keep flags such as `

[2022-01-25 16:18] solardiz commented on #5004
Testing `best64` vs. our updated `Single` as currently proposed in #5018 vs. `Single-Extra` automatically re-ordered by Score, I get these numbers of unique cracks with our new default wordlist against the 1M representative sample of HIBP v8 I've been using:

`best64`: 282014
`Single` limited to same candidate count: 268045
`Single-Extra` re-ordered and limited to same candidate count: 296049

So

[2022-01-25 19:06] AlekseyCherepanov commented on #4108
JFYI if mesa is present, john built with asan fails to start (local paths are replaced by `...`):
[code]

[2022-01-25 20:25] AlekseyCherepanov opened #5022 "crash in opencl formats with gpu-side mask when in ASan build"
john is fresh:
[code]

It was built with asan:
[code]

The crash:
[code]

I tried `raw-sha1-opencl`: it crashes too with `--test`. Real attack with `--mask` and `nt-opencl` crashes similarly.

Real attack with `--mask` and `odf-opencl` does not crash. Hence the assumption that it affects only formats with gpu-side mask.

[2022-01-25 22:32] AlekseyCherepanov commented on #5013
I tried to [poison](https://github.com/google/sanitizers/wiki/AddressSanitizerManualPoisoning) beginning with `ASAN_POISON_MEMORY_REGION`. ASan does not catch underruns for beginnings less than 8 (I guess size of region to be poisoned should be multiple of 8).

So I tried to increase alignment to 8. Would such overalignment catch bugs?

I tried `assert(size);` and multiple formats fail. I did not

[2022-01-26 11:25] #4980 closed, assigned to AlekseyCherepanov

[2022-01-26 11:30] solardiz commented on #5022
This being a read rather than write is probably why we didn't catch this in non-ASan builds.

[2022-01-26 15:22] solardiz commented on #5004
I think we might want to build the `Single` rules on top of all 3 variations - as-is, lowercase, capitalized - as long as we can avoid most duplicates. In "research" towards this, I came up with and experimented with this line:

[code]

With our new default wordlist, it produces 3240842 total candidates, 3092268 unique.

I think we might want to use it as a base for rules that previously used (som

[2022-01-26 16:22] magnumripper commented on #5019
I have now very early code that do the above, with only DAWG implemented. There's no DAWG logic at all in wordlist.c, only the calls were changed from eg. `fopen` to `john_fopen`, and so on. All of the new functions are in `misc.[hc]` as of now.

The mmap logic is left in wordlist.c, I'm not sure if/how to move it to this abstration layer but the concept of that is tempting.

If this experiment is

[2022-01-26 17:18] magnumripper commented on #5019
I have an idea of a new function in this context: `size_t john_filesize(john_FILE *j_file)`. For normal files, it'd just do the good old "fseek end; ftell" to know the size (but could cache it). For compressed files, it'd return "unknown" until known. After we ran all words through the first rule, it's known and cached - and ETA/progress would start showing correct figures.

[2022-01-26 18:11] solardiz commented on #5004
My work-in-progress `Single-Extra` cracks 424755 in this test case, but in 20:02. The candidate count doesn't increase that much - it's the extra `Q` and such that cost time when running on a fast hash. Specifically, comparing to the previous 417586 result, this is 1.7% more cracks in 7.8% more candidates, which is reasonable for additions to later in the rule set. (For comparison, `ShiftToggle`,

[2022-01-26 18:27] AlekseyCherepanov opened #5023 "--fuzz leaks memory in formats with `psalt->dsalt.salt_alloc_needs_free = 1`"
ASan reports leaks after `--fuzz`ing format with dynamic salt allocation (#752).

I patched out most self tests in `pkzip_fmt_plug.c`, so only the last one is present. It is short and fuzzing finishes in 4 seconds. (Local paths are replaced by `...`.)
[code]

Same thing happens with 7z. It can finish in ~50 seconds without commenting out self-tests. But 7z requires fix for #4971. (I am about to se

[2022-01-26 18:37] solardiz commented on #5023
Or maybe you were not loading many hashes in those real attacks, and there's a real leak per-hash.

Anyway, this is relatively unimportant. I'm not even sure how to label this issue.

[2022-01-26 18:50] AlekseyCherepanov commented on #5023
I guess I can dump all hashes with `--fuzz-dump`:
[code]

Then it finishes without leak.
[code]

Attack without `--mask=1` crashes... I'll make another issue.

[2022-01-26 19:04] solardiz commented on #5004
Command for processing of a `Single-Extra` log into a new rule set:

[code]

This adds preprocessor escapes, drops some no-op rules (out of which `(?z`, `Tz`, and `M Q` would have runtime cost), and finally guards rules with trailing space characters (which result from `i` rules in the revised `Extra`) using dummy preprocessor brackets.

[2022-01-26 19:05] AlekseyCherepanov opened #5024 "pkzip: memory allocation in cmp_exact with wrong/problematic size"
I created hashes with `--fuzz-dump` commenting out most of self-tests in pkzip format (for test in #5023).

It turned out that regular attack can crash when in ASan build: (local paths are replaced by `...`)
[code]

john can catch failure of allocation:
[code]

Not all attacks trigger the problem:
[code]

So there are 2 problems:
- some problem in pkzip format
- methods tried by `--fuzz` are not e

[2022-01-26 19:28] AlekseyCherepanov commented on #5024
Minified crasher:
[code]

[2022-01-26 20:13] AlekseyCherepanov commented on #5023
`--test` for `7z` and `7z-opencl` are ok.

`--fuzz` completes well. But ASan reports leak as in #5023.

[2022-01-26 20:14] AlekseyCherepanov commented on #5023
Sorry! I deleted comment sent onto wrong page.

[2022-01-27 10:45] AlekseyCherepanov commented on #5024
Original password "test" would trigger the problem in cmp_exact too for the minified crasher. So fuzzer could be improved without adding excessive hashing.

[2022-01-27 11:46] AlekseyCherepanov opened #5026 "mscash/mscash2: lowercasing truncates hashes for some utf-8 chars"
Chasing bug in #4971 I found lesser problem.

I found 3 chars that increase byte length in utf-8 being lowercased.

[code]

Code to find:
[code]

(Python 2 has simple support for unicode's case folding. Python 3 seems good.)

All 3 chars increase their length from 2 to 3. Buffers are allocated well for this case. There are no overflows.

But `enc_strlwr()` used in `split` does not know length of b

[2022-01-27 12:25] AlekseyCherepanov commented on #5026
BTW [case folding](https://www.unicode.org/reports/tr21/tr21-5.html) is hard from cracking perspective:

So user might need to care about the locale of system where hashes came from.

[2022-01-27 15:04] AlekseyCherepanov commented on #5026
I caught the crash from #4971 (here `\360` is binary):
[code]

So `f0 c3 bc 23` becomes `f1 83 ba a3` during lowercasing, where `23` is `#`.

It can be reproduced without `--fuzz`:
[code]

I thought I could not catch it with `--fuzz-dump`: last line in `fuzz_status/mscash` is `45801`, but the sample is generated by `--fuzz-dump=45823,45824`.

[2022-01-27 16:03] AlekseyCherepanov commented on #5026
I think about moving lowercasing into `valid`. It would change bahaviour slightly: current max length of salt is 19 unicode chars, but an unique char exists that gets split into 2 with lowercasing.

[code]

After lowercasing, there would be more unicode chars (together 2->3 bytes). So `valid` would reject more. There is a warning about rejection by length of salt already.

[2022-01-28 21:12] AlekseyCherepanov commented on #5026
For `mscash2` fuzzer found such crashing sample:
[code]

hex dump around `enc_strlwr`:
[code]

`80` becomes `c2 80` and pops salt and hash value out of ciphertext. That's cool 1->2 ratio that I did not find with my python script.

There is such comment in `mscash2_common_prepare`:
[code]

So I guess the sample should get iteration count in `prepare`. `prepare` checks for `strchr(split_fields[1], '

[2022-01-28 22:06] AlekseyCherepanov commented on #5026
Just to check power of fuzzer, I tried `enc_lc` in `split` without similar code in `valid`: `--fuzz` completes well for `mscash2`.

But I can craft a crasher similar to one found by fuzzer for `mscash`:
[code]

`f0 23 23 36` becomes `ed 99 86 ed b1 b6` corrupting both `#`.

[2022-01-29 00:02] AlekseyCherepanov commented on #4108
Real attack implies `--encoding=utf-8`. It may be specified explicitly for `--test`. It might explain the difference. But I cannot try it now.

[2022-01-29 11:32] JamieSlome opened #5028 "Add SECURITY.md"
Hey there!

I belong to an open source security research community, and a member (@michaellrowley) has found an issue, but doesn’t know the best way to disclose it.

If not a hassle, might you kindly add a `SECURITY.md` file with an email, or another contact method? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) this best p

[2022-01-29 13:53] AlekseyCherepanov opened #5029 "off-by-one write in utf16_to_utf8_r or misuse in enc_lc/enc_uc"
Working on #5027 I found that `enc_lc` can write one more byte than specified by `dst_bufsize` argument. Name suggests that it is ok to pass `sizeof` of a buffer as this argument, but it causes overflow. It happens only with `--encoding=utf-8` because write happens in `utf16_to_utf8_r`.

I am not sure if it is a bug in `utf16_to_utf8_r` because respective argument there is called `dst_len`. It mig

[2022-01-29 14:17] solardiz commented on #5028
Thank you for the reminder. I think at this time a better name would have been `INSECURITY`, as I had suggested here:

https://github.com/openwall/john/issues/3513#issuecomment-447601798

and @magnumripper agreed:

However, since `SECURITY.md` is a standard file name, I think we should in fact create that, but explain inside it that for security purposes all input is considered trusted, and it sho

[2022-01-29 14:34] solardiz commented on #5028
@michaellrowley Please read the comment above, and then create a public issue in here for what you found. Knowing that might also help us make sure the `SECURITY.md` we'd create would have addressed your question. Thank you! (cc @huntr-helper)

[2022-01-29 15:46] AlekseyCherepanov commented on #5026
Sample `mscash2` for the same problem with `enc_strlwr`:
[code]

[code]

Without fixes, it is not crackable.

[2022-01-29 16:06] solardiz commented on #5002
New idea for the next update: rather than filter by RockYou, we could start with maximally-cracked HIBP top N (perhaps for some moderately larger N than our current wordlist size) and try wordlist+rules cracking of more HIBP (unique hashes only) by that, collecting "word stats" similarly to how my new "rules stats" feature works (that is, record number of cracks that each word achieves with all ru

[2022-01-29 16:14] michaellrowley commented on #5028
Thank you for your detailed response - the vulnerability that I reported was a null pointer dereference which would only have occured in low-resource situations and would probably have resulted in a crash so I'm not sure that it warrants an issue (if you'd still like me to open one, I can do that.)

With regards to the ``SECURITY.md`` file, some of the below links might be useful:
https://www.ntia

[2022-01-29 16:46] solardiz commented on #5028
Sounds like a missed NULL check after `malloc()` or such, so a bug to fix. Ideally, you'd send us a PR fixing it right away, but if you can't fix it yet feel free to open an issue. We wouldn't treat that as a vulnerability, but we'd like to make the code more robust as our resources permit. Thanks.

[2022-01-29 18:47] #5026 closed, assigned to nobody

[2022-01-29 19:01] AlekseyCherepanov commented on #5029
The problem with `enc_lc` was accounted in `mscash_common_plug.c`. There are `+1` larger buffers passed as `sizeof`-1. Depending on fix of the issue, one or both tweaks should be removed. `enc_lc` accepting `sizeof`-1 for all encodings means `+1` should be removed. `enc_lc` accepting `sizeof` means that `-1` should be removed too.

[2022-01-29 19:15] AlekseyCherepanov commented on #5026
Crashes were fixed.

Remaining problems / remaining discussed plans:
- `mscash-opencl` cannot crack these samples (password: test):
  - `"M$" + "\xc8\xbe" * 19 + "#e1f96892b35a78dfc84dfcd54012b392"`
  - `"M$" + "\xe2\xb1\xa6" * 19 + "#e1f96892b35a78dfc84dfcd54012b392"`
- the samples are not in self-tests (both `mscash` and `mscash2`)
- incorrect(?) `strchr() == strrchr()` check is in place for `ms

[2022-01-30 13:20] AlekseyCherepanov opened #5032 "dynamic's valid is too permissive"
Working on #5031 for PHPS that relies on `pDynamic_6->methods.valid`, I found that dynamic's valid is quite permissive.

It does not reject garbage after `$HEX$`:
[code]

Is it ok?

I tried to make samples expecting that salt is `HEX$$$$$$$` or salt is empty. I could not crack them.

It affects PHPS format allowing it to load such hashes while it should not (its salt is 3 chars exactly).

[2022-01-30 13:27] AlekseyCherepanov commented on #5032
Also fuzzing `phps` yielded 2 samples that crash `dynamic_6` when in ASan build:
[code]

They produce similar outputs from ASan:
[code]

[2022-01-31 00:57] magnumripper commented on #5029
I believe there are several more functions in `unicode.c` where it's unclear if buffer size or string length is the actual limit. A careful review is needed but would take quite some effort.

[2022-01-31 10:38] JamieSlome commented on #5028
Just for reference, the report can be found here:

https://huntr.dev/bounties/315d2d54-6ae4-47a1-a6ff-84fea6cb7d01/

It is private and only accessible to maintainers with repository push permissions! ❤️

[2022-01-31 12:37] solardiz commented on #5028
@JamieSlome Thank you, it's an interesting platform you run, but of course no reason to treat this issue reported via it as non-public. May I just create a public issue in here and copy-paste the info from there?

[2022-01-31 14:18] JamieSlome commented on #5028
@solardiz - seeing as you are one of the maintainers, it is up to you ❤️

[2022-01-31 16:16] solardiz opened #5035 "Uses of malloc()'ed pointers without NULL check"
As reported in #5028 and https://huntr.dev/bounties/315d2d54-6ae4-47a1-a6ff-84fea6cb7d01/ by @michaellrowley with assistance of @JamieSlome and @huntr-helper (how many engineers does it take to get a one-liner fix in, and how ridiculous can a bug disclosure process become):

[code]

Of course, this is not a vulnerability, but nevertheless a bug for us to fix. I think proper fix is to replace `mall

[2022-01-31 16:33] solardiz commented on #5035
Per quick grep, we have some other unchecked uses of `malloc`:

[code]

There's also this, but it might be correct (depending on what's expected from that callback):

[code]

[2022-01-31 16:36] solardiz commented on #5035
Also with `calloc`:

[code]

Maybe (is this excluded with the `#ifndef`?):

[code]

[2022-01-31 16:38] solardiz commented on #5035
Also lots with `strdup` - too many to bother listing here due to a copy-paste pattern. We should probably change those to `str_alloc_copy`.

[2022-01-31 17:25] Shashank-Rangu commented on #5035
Is it suffice to change the "malloc" in all the places to "mem_alloc"? Or should there be an individual reasoning/explanation for each of these changes with multiple commits?  Is it the same with the strdup--> str_alloc_copy?

[2022-01-31 17:43] solardiz commented on #5035
For files that are compiled only into `john`, we should change `malloc` to `mem_alloc` and `calloc` to `mem_calloc` - and make sure there's `#include "memory.h"`.

For `*2john`, it can be trickier: depends on whether those already link to `memory.o` or not yet.

For `strdup` to `str_alloc_copy`, it's also trickier: the latter returns memory that can't be freed (is meant to use e.g. on hashes loade

[2022-01-31 17:52] solardiz commented on #5035
I took a closer look at the uses of `strdup` - no, most of them can't be `str_alloc_copy`. So if we want an easy fix, we probably should introduce an `xstrdup` that would be similar to our `mem_alloc` in terms of error handling, but would wrap `strdup`.

[2022-01-31 18:49] solardiz commented on #5035
@cr3a7ive-d3v You want to contribute any of these fixes?

[2022-01-31 19:21] magnumripper commented on #5035
Yeah that's always excluded. That file is made so that if JTR_MODE is not defined, the source file is the (logically) pristine PRINCE source code from Jens. That way I can merge his changes with no conflicts, but he didn't change it for years now so I have considered cleaning it away.

Bottom line, that should not be fixed.

[2022-01-31 22:14] solardiz opened #5037 "Add OneRuleToRuleThemAll"
https://notsosecure.com/one-rule-to-rule-them-all
https://github.com/NotSoSecure/password_cracking_rules

I've been using these rules with JtR for a while, and am going to add them here.

[2022-01-31 22:16] solardiz opened #5038 "Add Pantagrule"
https://www.kitploit.com/2021/08/pantagrule-large-hashcat-rulesets.html
https://github.com/rarecoil/pantagrule

I haven't looked into this yet, and don't expect to have time for that soon, so someone else might.

[2022-01-31 23:29] solardiz commented on #4971
According to @AlekseyCherepanov, all of these issues are now fixed. Closing.

[2022-01-31 23:29] #4971 closed, assigned to AlekseyCherepanov

[2022-01-31 23:41] solardiz commented on #4990
Looks like we won't care to get this fixed any time soon, if there's anything to fix here at all. Closing.

[2022-01-31 23:41] #4990 closed, assigned to nobody

[2022-01-31 23:43] solardiz commented on #4979
Looks like we won't care to get this fixed any time soon, if there's anything to fix here at all. Closing.

On a related note, I am far more concerned about possible integer overflows resulting in incorrect allocation size, than in memory consumption per se.

[2022-01-31 23:43] #4979 closed, assigned to nobody

[2022-01-31 23:53] #4851 closed, assigned to nobody

[2022-01-31 23:53] #5003 closed, assigned to nobody

[2022-01-31 23:53] #5004 closed, assigned to nobody

[2022-01-31 23:53] #5037 closed, assigned to solardiz

[2022-02-01 01:50] Shashank-Rangu commented on #5035
Yes, I do

[2022-02-01 07:00] solardiz commented on #5035
@cr3a7ive-d3v Great. Then we'll expect your pull request(s), and hopefully this paves the way for you to contribute in other areas as well. Thank you!

[2022-02-01 15:16] magnumripper commented on #5037
I wasn't aware of the existence of this. Smells like good stuff!

[2022-02-01 15:23] magnumripper commented on #5038
Interesting. And I see our friend @roycewilliams had a part in it!

[2022-02-01 15:53] roycewilliams commented on #5038
Only in passing - just briefly suggested also running against a different corpus (Hashes.org founds). Somehow this translated into getting my name on it. 😬

[2022-02-01 16:11] magnumripper commented on #5038
Fame is hard to get on purpose - easier to get if talented 😉

[2022-02-01 16:14] solardiz commented on #5038
Anyway, maybe this means @roycewilliams is the one to contribute this to JtR? ;-)

[2022-02-01 16:19] magnumripper commented on #4956
Everything's sorted so this is where I'm at right now. Alas, this is hard as h€ll to get right, so I'm now swamped until I get working code at all, and then swamped again until I straighten that code out as anywhere near sane.

[2022-02-01 20:21] #4115 closed, assigned to AlekseyCherepanov

[2022-02-01 23:17] AlekseyCherepanov commented on #5032
Crackable `md5(md5($pass).$salt)` with password `test` and salt `$$$$$$`:
[code]

It can be cracked as `dynamic_6`. But `phps` cannot crack it.

`$HEX$` gets replaced with `$`. Actually `$HEX$` may be at any position. So the following works too (`phps` cannot load it):
[code]

Code in `split` in `phps` suggests that it expects either `$` + salt as is or `$HEX$` + salt in hex after digest for `$dyn

[2022-02-02 09:18] solardiz commented on #4728
Unfortunately, we've already wasted the `--dupe-suppression` option name:

[code]

Should we reuse this name, enhance this option (make it accept a parameter), or add a new one?

As an option, we can rename the above to `--wordlist-dupe-suppression` and reuse the name as `--dupe-suppression[=SIZE]` (if `=SIZE` is not specified, then a default opportunistic dupe suppression cache size will be used

[2022-02-02 09:28] solardiz commented on #4728
We could also (later) enhance the option to be `--dupe-suppression[=SIZE|FILE]`, to allow for (re)use of mmap'ed cache files (probably on tmpfs). For an existing file, the size shouldn't need to be specified - however, there's the question of how to specify it for a new file (just create the file with `dd`? or with `pwqfilter`? or also have a size+file syntax in `john`?)

[2022-02-02 09:35] solardiz commented on #4728
Also, with ability to specify an external file, this is not necessarily _dupe_ suppression - it can suppress anything matching file content, or anything not matching it. We could even support multiple such files and a Boolean expression around those, but this gets tricky. Also, we could have the file updated (usually reasonable if it's used for dupe suppression) or kept as-is. So many possibilitie

[2022-02-02 10:06] magnumripper commented on #4728
I think we should reuse this, with the benefit we can also drop some code from the horrific `wordlist.c`.

[2022-02-02 10:15] solardiz commented on #4728
Do you suggest completely dropping the current functionality of `--dupe-suppression` (not keeping it under some other name)? I thought of keeping it as well, but now that you mention this actually makes sense to me.

[2022-02-02 10:55] magnumripper commented on #4728
That code would still have some merit (rejecting dupes before sending them through millions of rules) but given the sad state of that file, it's an opportunity to drop some code. But we could decide on it later, renaming current option to `--wordlist-dupe-suppression` like you said.

[2022-02-02 11:16] solardiz commented on #4728
I am experimenting with a trivial implementation of this now (~100 LOC, hard-coded settings). Using our new default wordlist and `best64` rules and `--stdout | ./unique`, we had:

[code]

With a 4M entry cache (1M x 4-way):

[code]

64M (16M x 4):

[code]

The reported p/s reduces mostly because it does not count the rejected duplicate candidates. More importantly, there's no real time increase he

[2022-02-02 11:33] AlekseyCherepanov opened #5042 "pipe with too many `?w` in hybrid mask mode causes division by zero"
Crash report from ASan:
[code]

`--pipe` and `--wordlist=fifo` crash. `--stdin` and `--wordlist=file` do not crash: they print empty line. I guess empty line is not what user expects. I guess an error would be better.

Mask mode truncates input words to fit all `?w` into candidate (that's #3761):
[code]

Truncation to length 0 is a problem obviously. I think it does not depend on length of input w

[2022-02-02 11:33] solardiz commented on #4728
And here's 4K (1K x 4), which is much smaller than wordlist size:

[code]

Curiously, this still does provide significant improvement over not dupe-checking (we had `133327640p 0:00:00:23`, 55% unique), and somehow there's even a real time improvement here (with the cache being in CPU cache, perhaps the checks are really quick).

[2022-02-02 14:38] AlekseyCherepanov opened #5043 "idea: unified interface for word generators and filters"
There is interface for formats, so adding another one is a rather easy task. All problems are local. Adding a new source/filter does not seem trivial. Even existing modes have limitations / flaws in interaction (for instance #4114, #3761).

It would be very cool to combine any modes any number of times in any order. Partially it is a problem of syntax how to invoke it.

I opened this topic because

[2022-02-02 17:50] solardiz commented on #4728
Why would there be any dupes in an input wordlist in the first place, especially when the person knows about the problem (they wouldn't use the option otherwise)? I have only one explanation: truncation at loading. However, most relevant truncation (format-specific) applies _after_ rules, not before. So the feature looks pretty useless to me, and I've never used it.

For my testing now (and perhap

[2022-02-02 19:08] AlekseyCherepanov commented on #5032
Crash in dynamic can happen without `$HEX$`. Dynamic is intended to check lengths of salts pretty well. But `$$` in salt disables checks.

Crasher without `$HEX$`:
[code]

Dynamic has `dynamic_FIXED_SALT_SIZE` -23. Negative value means variable length up to `abs()` of value (inclusive).

Respective part of `valid`:
[code]

[2022-02-02 19:17] AlekseyCherepanov commented on #5032
I mean `dynamic_6`, of course.

[2022-02-02 21:52] solardiz commented on #4728
I now think I ended up overfitting my test case, especially as it relates to the cache eviction policy. In that case, it's beneficial to hold an initial set of candidates in cache "forever". Simply adding `--rules-skip-nop` changes that. So I'm now making changes for the eviction policy to make sense in general, even at the cost of reducing efficiency at my test case. Now at:

[code]

[2022-02-02 21:58] AlekseyCherepanov commented on #5043
Support for `--fork`/`--node` should be a part of interface.

Also it might be interesting to have explicit border for fork and execute parts in different processes. So left part of pipe would be executed once in its own process, then words would be separated between processes, and then they would be processed further and hashed in cracking processes. It would allow non-repeatable generators to be

[2022-02-02 22:35] solardiz commented on #4952
Some of this was previously discussed in #2349.

[2022-02-02 23:09] AlekseyCherepanov commented on #5032
[code]

That's a hash embedded into `src/dynamic_preloads.c`. And according to `--show=formats` that's the canonical form.

`dynamic_15: md5($u.md5($p).$s)`. There is 1 `$HEX$` with both username and salt: `aaaSXB$$Ujoeblow`. So username is `joeblow` and salt is `aaaSXB`.
[code]

Code in `valid` suggests that `$$U` would not be found if hex is not decoded due to null byte:
[code]

[2022-02-02 23:33] AlekseyCherepanov commented on #5032
I dislike encoding fields together into hex. There is opportunity to implement correct support for arbitrary data: field delimiters are not encoded, hex is used to protect them when delimiters occur in data. Particularly if just `$` happens in data, then data should be encoded.

Or maybe `$$`, so user would be able to build correct ciphertext manually in most cases (then `$HEX$` may occur in data

[2022-02-03 14:50] magnumripper commented on #4728
The de-dupe code kicks in (automagically) for `--loopback` mode, and IIRC that was the very reason it was added - the explicit use for wordlists was just a "bonus" but in nearly all situations it'd be more natural to have a unique'd wordlist in the first place.

Given `--loopback` would normally produce relatively few candidates, dropping it in favor of your new magic should be Good Enough™️ even

[2022-02-03 15:43] magnumripper commented on #4728
On another note, do you have any thoughts on having forked nodes somehow sharing the "database" so one node wouldn't allow a candidate that some other node already used? I believe our current node/fork code often produce more dupes than running a single node, for several reasons.

For MPI it'd be even trickier, if not impossible (except under certain conditions). Perhaps something akin to hashcat'

[2022-02-03 15:56] solardiz commented on #4728
Oh, this makes sense now. Maybe we can keep it for that mode only for now, which doesn't require documentation.

Yes, I've been thinking of adding a `suppress_preinit()` that we'd call before `fork()` if it's expected we'll need the suppressor. That call would pre-allocate memory as `MAP_SHARED`. Alternatively, if we allow specification of an external file, that could be used with a file on `tmpfs

[2022-02-03 16:14] magnumripper commented on #4728
That'd be a great first step - perhaps we should do it within your current PR? If not, I presume using `--dupe-suppression` on a truly huge wordlist will result in memory hogging to the point of triggering the OOM killer. Alas, I'm completely swamped for the next few days so I can't help with that. Should be trivial though.

[2022-02-03 16:24] solardiz commented on #4728
I intend to bring the current PR to a merge-able state, and merge it, within the next day or two. Then I'll have to switch to other work.

[2022-02-03 21:04] AlekseyCherepanov commented on #5032
It looks like most dynamic formats can handle long strings without crash. Overflow happens in `__SSE_append_string_to_input` that is used by some formats only.

I have a fix to reject overly long salt if there is only regular salt (aka `$s`). But it is not enough.

I found these format to call the problematic function and use username:
[code]

A crasher for `dynamic_1015`:
[code]

[2022-02-03 22:23] AlekseyCherepanov commented on #5032
It turned out that there is no way to distinguish dynamic with both `$s` and `$u` and dynamic using `$u` only. Any salt is accepted for `$u`-only formats. And it is not removed, pot entries do not match.

Example with `dynamic_1034: md5($p.$u)`:
[code]

[2022-02-03 22:37] AlekseyCherepanov commented on #5032
This one gets rejected while it should not (`"u" * 26` as username):
[code]

It has `SaltLen=-27`. So there should be some miscalculation of length in `valid`.

[2022-02-03 23:00] AlekseyCherepanov commented on #5032
`dynamic_1551` is a problem: its max username length is 7 (55 minus 32 for `md5()` minus 16 for salt). But there is no info about it formally. But there is slower `dynamic_1552` equivalent made with flat buffers and no overflows.

[code]

[2022-02-04 10:36] AlekseyCherepanov commented on #5043
More features to consider (though some might influence interface of formats):
- support for different input/output forms for performance and automatic(?) conversion if a filter does not support required form
- API with length (at least for input into filter); there might be dupe suppression on each transfer, so computing length before a filter might done there (for free?) instead of implementing i

[2022-02-04 12:38] AlekseyCherepanov commented on #5043
BTW grouping might be important for NT: its limit of 27 chars is very inconvenient sometimes. For merkle-damgard based hashes, it is possible to do reversing of last rounds only if there is 1 limb. (I don't know if current nt implementation uses it.) So support for multiple limbs saving this optimization for case of single limb means that each ciphertext populates 2 binaries to be matched in db: w

[2022-02-04 13:16] AlekseyCherepanov commented on #5043
Actually reversing for 1 limb can be done for single last limb started with known internal state: for instance, `md5($s.$p)` with 64-byte long salt allows it (besides from precomputing of the first limb).

It might be practical to do precomputations with incomplete block too: `md5($s.$p)` with 63-byte long salt would mean 1 unknown byte in the first limb, so we could populate intermediate states a

[2022-02-04 13:24] magnumripper opened #5048 "NT-opencl performance regression on dual socket rig after the "avoid nvidia busy-wait""
I had a report of significant regression, from ~25 Gp/s to more like 17 Gp/s per GPU, running incremental plus `-mask:?w?a?a` under MPI on a GPU rig with 8x 2080ti (and more CPU cores than GPU cards). CPU utilization went from ~86% to ~61%.

I was granted access to the rig enough to reproduce, and to confirm that only reverting 7f6aed9de fixes the problem completely.

Not sure when/how much I can

[2022-02-04 13:31] AlekseyCherepanov commented on #5043
Also packed for bitslice. I am sure mask mode could generate in bitsliced form efficiently and avoid conversion then.

[2022-02-04 13:34] solardiz commented on #5048
@magnumripper Can you test on that rig whether the regression is in fact specific to this format, or would also be seen with another format we treated similarly? Reverting for just one format isn't such a good idea if the problem isn't format-specific.

[2022-02-04 13:44] magnumripper commented on #4728
Did you try using `OPT_TRISTATE`? I think `--no-dupe-suppression` is much more elegant than `--dupe-suppression=0`

[2022-02-04 14:00] solardiz commented on #4728
Didn't try - wrongly(?) thought it didn't support also having a parameter?

Anyway, I ran out of time for this, so that would be something you can fix later. ;-)

[2022-02-04 14:05] magnumripper commented on #5048
I believe it's only NT (and that format is kinda special with its high speed and short durations). I'll see if I can get more data.

[2022-02-04 14:08] magnumripper commented on #4728
I can't remember the details but here's a comment in `getopt.h`
[code]
So looks usable. I can add it later (perhaps next week).

[2022-02-04 14:17] magnumripper commented on #4728
I tried it, it's actually this simple:
[code]
Unfortunately the usage blurb line is "too long". If we omit the `[no-]` from it, tab completion will not work for that.

[2022-02-04 14:26] magnumripper commented on #4728
Oh, but that would mean just saying `--dupe-suppression` will infer a size of 1? That probably needs to be handled somewhere else in your code.

[2022-02-04 14:37] solardiz commented on #5043
@AlekseyCherepanov You started with "one" idea that would already amount to a rewrite of much of JtR. Then you proceeded to add several more in here, inconsistent with the issue title. As this issue currently is, it's you thinking out loud about a JtR rewrite in general, and isn't an "issue" for us to track or ever "fix". I suggest we close it, but you can keep adding to it if you like. ;-) We do

[2022-02-04 14:42] solardiz commented on #4728
Right now, `--dupe-suppression` without a parameter means to use the default from `john.conf` or compile-time default. We should preserve that functionality. Also, the description in `doc/OPTIONS` should be kept consistent with the option's actual behavior. So I'll leave this move to tri-state out of the current PR.

[2022-02-04 14:43] solardiz commented on #4728
BTW, if we simply replace 1 with `DEFAULT_SIZE`, that would also affect explicit `--dupe-suppression=1`, which should mean 1 MiB, not default. With these complications, I think we should just leave things as-is, and not use tri-state there.

[2022-02-04 14:46] magnumripper commented on #4728
When would `--dupe-suppression` be needed at all? I mean, when is it not turned on by default?

[2022-02-04 14:49] solardiz commented on #4728
Specifying this option forces the dupe suppressor to stay enabled even if its efficiency appears low - this can be useful e.g. if more dupes are expected later in the run. In fact, I am repeating here what I just wrote in `doc/OPTIONS` - please take a look.

[2022-02-04 14:51] magnumripper commented on #4728
I did, I just have a teflon brain >.<

Anyway, I played around with your code a little and it works like a champ. I also like the long status - we should just add some more info to it later.

[2022-02-04 15:08] solardiz commented on #4728
Some ideas currently left unimplemented:

- Switch to explicit use of `mmap()` (with fallback on systems lacking it), also with explicit huge pages (and retry on failed allocation) - we have such logic for `region_t` in `memory.[ch]` copy-pasted from yescrypt, but it doesn't guarantee the memory reads as zero in all of its allocation types, so we can't reuse that directly (I actually tried and it

[2022-02-04 15:51] AlekseyCherepanov commented on #5043
Another idea: ability to get explanation of transformations lead to certain candidate (primarily to explain cracks). Something like "word ... from wordlist ... + rule ... + mask ... from mask file ... (exact mask: `?w123`)".

To describe bigger picture, I wrote more ideas including ideas related through two "hops". So it would be possible to account more ideas designing interface. But I guess it i

[2022-02-04 16:08] #4728 closed, assigned to nobody

[2022-02-04 16:11] solardiz commented on #5043
@AlekseyCherepanov We already had most of these ideas in various discussions, to-do lists, etc. A subset of them written ad-hoc in this issue is just going to be lost. It would make more sense if you open per-idea issues, and only for ideas that are somewhat likely to be worked on somewhat soon, preferably by you - e.g., if you see and describe a specific way to implement them within the existing

[2022-02-04 16:11] #5043 closed, assigned to nobody

[2022-02-04 16:18] solardiz commented on #5048
Maybe we need to actually increase the 1ms threshold? Also, the 2.4% and 1.2% figures become rather low in absolute terms when we're near that threshold. While we could make code changes to make sure these are no lower than some numbers of microseconds, simply increasing the sleep threshold e.g. from 1ms to 10ms would avoid using ridiculously low figures there as well (they would still be computed

[2022-02-04 18:58] solardiz commented on #5048
Maybe this is both a good approach and a trivial enough change:

[code]

This leaves a fixed 1ms allowance for `usleep` possibly sleeping longer than intended.

[2022-02-04 19:07] solardiz commented on #4728
More related unimplemented ideas:

- The suppressor could be a lot faster if it processed more than one candidate in parallel. It's probably optimal to issue ~64 memory prefetches at once, like we do in `cracker.c`. However, this doesn't fit well into the rest of our code. We could implement buffering in `suppressor.c`, having `suppressor_process_key` return without having yet called `old_process_

[2022-02-04 19:14] solardiz commented on #4999
Now that we have #4728, we might want to simply drop the hard-coded check(s) against `last` (and copying to `last` or swapping of two buffer pointers). On very fast hashes, these checks were possibly unjustified overhead, and on slower hashes they're redundant with the new suppressor.

[2022-02-04 20:21] solardiz opened #5049 "incorrect ETA after early skipped rules"
Running with `--rules-skip-nop` makes `john` jump over the `:` rule, which is commonly the first in a rule set, and this results in slightly incorrect progress percentage (starts at 0.07% with our new default rules) and in extremely incorrect ETA early on (says the job will complete almost instantly, then in days, then in months - when in reality it might not complete in years). Apparently, it app

[2022-02-04 20:25] solardiz commented on #5049
I guess a similar problem would be seen if the first rule is (almost) skipped for any other reason - e.g., if it rejects most words quickly, then the second rule preserves them and the hash is slow. So not sure if we should treat `--rules-skip-nop` specially, but we may.

[2022-02-05 11:54] solardiz commented on #4728
In fact, with a large enough buffer we could use OpenMP in the suppressor.

Observations from trying to use the suppressor for real:

- The current `mem_calloc_align` followed by random writes is initially slow when the allocation size is large - took ~3 minutes for ~100 GB - because this makes the kernel allocate small pages in random order, then juggle them and maybe combine them into huge pages

[2022-02-05 12:46] AlekseyCherepanov commented on #5032
`dynamic_1551` can crash in 2 places: overflowing `$u.:mongo:$p` or `$s.$u.md5(...)`.

The first case:
[code]

The second case (16 is max for safe `$u` in the first concatenation):
[code]

[2022-02-05 13:20] solardiz commented on #4728
Actually, no - looking inside `mem_calloc_align`, it has its own `memset`, which means sequential write before reaching our random writes. Then it's some kernel-internal slowdown presumably when the memory is fragmented from prior use, which we might not be able to do much about.

[2022-02-05 13:23] solardiz commented on #4865
We also have integer overflow potential inside our allocation functions in `memory.c`, the worst of those probably being:

[code]

Just like libc `calloc` were fixed some years ago, this should detect overflow in the multiplication and fail, not return a wrong-sized allocation.

There are many uses of this function, so fixing it is pretty high priority. In fact, with that API overflow is realistic

[2022-02-05 17:29] AlekseyCherepanov opened #5052 "crash with `--format='dynamic=md5($p)' --test` when in ASan build (read)"
`--format='dynamic=md5($p)' --test` crashes for me with asan:
[code]

Somehow version built on January 24 works. Version built on February 1 fails already. So it is not caused by my recent fixes.

[2022-02-06 13:37] solardiz commented on #4728
Another thought I'd like to write down:

The current hash/indexing function uses a 32-bit hash value, which means it has significant biases when N is somewhat close to 2^32 yet not a power of 2. With the current K=8, this probably has the worst impact on efficiency at a size of 192 GiB. To avoid this, and also support more than 256 GiB without increasing K, we'd need to upgrade to 64-bit index has

[2022-02-06 17:40] AlekseyCherepanov opened #5053 "crash with `--format=*-jo --list=formats` when in ASan build (read)"
Crash with `--format=*-jo --list=formats` with asan:
[code]

`--format=*-opencl` fails too, so it is not specific to non-existent format names. `*md5` crashes. `*d5` works.

The backtrace resembles one in #5052 partially.

[2022-02-07 09:50] magnumripper commented on #4728
Perhaps try same test using `mem_calloc()` to see what happens? That function uses the real `calloc`. I presume you'd get a page sized alignment for most large allocations anyway, so as good as than `MEM_ALIGN_CACHE` - but I'm on thin ice here.

[2022-02-07 10:18] magnumripper commented on #4728
Some empirical tests show that my assumption holds under macOS but not under Linux. And anyway in this case I guess the current behavior is what we want.

[2022-02-07 13:36] magnumripper opened #5055 "More use of opportunistic dupe suppression"
1. The current code implemented in #5046 does not suppress dupes produced by `--rules-stack` (but *does* suppress dupes right before them being applied). Example:
[code]

2. We might want to enable use of dupe suppression for `--external` mode, as some of them can produce many dupes.
[code]

3. We could consider `--regex` mode. While most carefully thought out regex'es produce no dupes, I think th

[2022-02-07 13:55] magnumripper commented on #5049
So any rule-reject flags (that do reject) skew the statistics similarly (and ones that also have lots of pp expansion do it a lot).

In some cases (first phase of loopback mode, and PRINCE mode), the rules are pre-processed into a list so the number of rejected rules are known beforehand. This issue doesn't seem to exist in those cases.

For the other cases, perhaps we could "trim" the rules count

[2022-02-07 14:13] magnumripper commented on #3262
The easiest way to implement this would be to allow `-w:file1.txt,file2.txt[,...]` - that is, any number of files separated by commas. We'd use existing list code. I think it would be fairly trivial to implement but it would still not allow for wildcards.

[2022-02-07 16:20] RealEnder commented on #3262
Wildcards are good to have, but not essential. Even comma separated(which will be great option) can have wildcards, just the argument have to be quoted, so then internally we can glob. This will be a bit counter-intuitive, but find does similar.

[2022-02-07 21:31] solardiz commented on #5055
Ideally we'd have both, and here's an idea how to accomplish that without having two separate filters (and have to split the memory usage between them): in one of the two invocations, we can apply a tweak to the hash function such that we would be very unlikely to match on a wrong-level candidate (pre vs. post stacked rules). Unfortunately, to make this in fact "very unlikely" we'll have to give u

[2022-02-07 21:34] solardiz commented on #5055
However, perhaps it's still possible to have similar for up to length 7, by encoding the difference between two invocations in the 8th byte.

[2022-02-07 21:45] solardiz commented on #5055
As the opposite case to stacked rules, when running rules and mask (e.g., `-rules -mask='?w?d'`) and not having on-device mask, the suppressor is currently applied to final post-mask candidates. I think we could improve efficiency (both speed and percentage suppressed by a certain size) by applying it before mask instead, because the mask cannot produce duplicates (right?) if the pre-mask stream i

[2022-02-07 23:35] magnumripper commented on #5048
We're talking about eg. 45 ms kernel duration so it's actually not extremely short... I think first thing I'll do is really ensure only NT is affected. Also, need to test if `--fork=8` has the same problem as MPIx8 (I just assumed so).

During my work with #5006 I had some temporary code in the macros that reliably detected and warned for oversleep. I need to find or rewrite that and possibly comm

[2022-02-07 23:57] solardiz commented on #5055
As an option, we could simply - and externally to the suppressor - prepend or append a linefeed character to the password in one of the two invocations of the suppressor. This character currently can't come from a wordlist, and rules are unlikely (aren't supposed to) introduce it.

[2022-02-08 00:04] solardiz commented on #5048
I think an oversleep wouldn't result in "from ~25 Gp/s to more like 17 Gp/s" anyway, because it'd reduce the sleep duration to 7/8 (and then again, and again if necessary) and keep that lower duration for another almost 20 kernel invocations. So if one 7/8 is enough, the worst impact of that oversleep is like 1/8/20 = ~0.6%.

I wonder if sleeping has some other impact, like making it more likely t

[2022-02-08 00:12] magnumripper commented on #5048
I too had thoughts about CPU affinity - I think I can tweak that with MPI, will try that as well.

[2022-02-08 10:18] lindhe commented on #1660
Just a heads-up that the `john-the-ripper` package on Snap is not published by a verified publisher (claims to be "Claudio André (claudioandre-br)"), so it's hard to know if it runs trustworthy software on your computer if you install it.

[2022-02-08 10:28] #5053 closed, assigned to nobody

[2022-02-08 12:03] solardiz commented on #5055
A weird aspect of using a filter twice is that the statistics would be of a mix of both uses. Even the logic to auto-disable the filter would be based on its cumulative efficiency and p/s rate at both levels. This isn't necessarily wrong, but I guess in some cases it'd be best for the filter to only auto-disable itself at the post-stacked-rules level (where its overhead is higher) and stay enabled

[2022-02-08 12:14] solardiz commented on #4728
Yes, I was actually going to try adding the `memset` before I realized that's what we do already. A possible improvement would be explicit use of huge pages.

On another topic, I guess the `LockHalf` feature is less likely to help (and more likely to hurt) when restoring a session that's already progressed beyond the no-op rule. When starting with the no-op and other simple rules, it locks actuall

[2022-02-08 12:16] ghost commented on #1660
It does not claim to be me, it is me. Well actually you can read all the logs and the logs include all the tasks done during the build including the `git clone` of this repository (the build happens in Lauchpad, only the build recipe exist there).

The logs are produced by the snap build tool and it is available inside the snap package.

Anyway, I don't think it will be verified anytime soon. It i

[2022-02-08 13:37] lindhe commented on #1660
Wow, it might not even be possible to become one. :/ https://askubuntu.com/questions/1090483/how-to-become-the-verified-publisher-of-a-snap-package

[2022-02-08 22:17] AlekseyCherepanov commented on #4979
I got similar problem with `KeePass` and `KeePass-opencl` formats after 3 hours with `--fuzz=run/fuzz.dic`.

[2022-02-09 09:21] kanatovnurzhas opened #5058 "rar2john error"
rar2john photos/photo.rar > hash.txt
! file name: photo\2018\Photos (1).zip
! file name: photo\2018\Photos.zip
! file name: photo\2019\Photos (2).zip
! file name: photo\2019\Photos (3).zip
! file name: photo\2019\Photos (4).zip
! file name: photo\2019\Photos (5).zip
! file name: photo\2019\Photos (6).zip
! file name: photo\2020\Photos (1).zip
! file name: photo\2020\Photos (2).zip
! file name: pho

[2022-02-09 09:36] magnumripper commented on #5058
The password was already cracked, as "2020".

Maybe we should change `--show` so it doesn't show the gecos etc. fields.

[2022-02-09 09:52] magnumripper commented on #5048
Some more data points:
- It sure looks like other formats are affected too.
- mpirun defaults to `--bind-to socket` when processes is >2.  I tried `--bind-to core` and it did not seem to make any difference.
- Running forked instead of MPI show the same problem.
- Running a single process STILL HAS the problem!? System otherwise idling. This is a mystery to me as that's not what I'm seeing on othe

[2022-02-09 10:05] magnumripper commented on #5048
Our "super" is Linux 2.6.32-754.6.3.el6.x86_64, nvidia 418.39, 2x Xeon E5-2670
My Linux dev machine is Linux 5.8.0-19-generic, nvidia 510.47.03 (single i7-4790)

[2022-02-09 10:15] magnumripper commented on #5048
Regardless of the outcome of this issue, we might want a way to disable the workarounds at run-time. In fact, it would make further researching of the issue a lot easier.

[2022-02-09 13:35] solardiz commented on #5058
Maybe, but this is also sometimes useful, so it'd need to become an option. As an alternative, maybe we can highlight the passwords in color when output is to a tty? We already do use color during cracking.

[2022-02-09 13:50] solardiz commented on #5035
The original issue reported here, along with many other such issues, is now fixed by @Shashank-Rangu in #5054. Now we need a summary of what's left to fix.

[2022-02-09 14:08] solardiz commented on #4728
As currently implemented and by default (without `--dupe-suppression`), the suppressor will auto-disable itself after ~67M candidates if it doesn't suppress anything by that point. However, some wordlists are all-unique and are larger than that, and dupes would start being produced by the second rule and on. We could prevent the auto-disabling:

1. Until we went through a few rules (perhaps at lea

[2022-02-09 14:40] magnumripper commented on #4728
Taking p/s into account is a no-brainer, that would be great.

Adding a getter function in `rules.c` would also help in implementing "processing rule x/y" in detailed status.

[2022-02-09 15:11] solardiz commented on #5035
Nevermind, I am taking care of that in #5059.

[2022-02-09 15:22] solardiz commented on #4051
@Shashank-Rangu You want to take care of this issue maybe?

[2022-02-09 15:24] solardiz commented on #5048
To confirm, maybe try a fixed sleep time of 1ms. Then even 1us.

Definitely - that was always the plan, I just didn't get around to implementing it. We need a `john.conf` setting in the `GPU` section.

[2022-02-09 15:26] #5035 closed, assigned to Shashank-Rangu

[2022-02-09 15:28] solardiz commented on #4865
I took care of `mem_calloc_align` in #5059. I think the rest of this issue is lower priority, so I'll remove the milestone now.

[2022-02-10 09:34] magnumripper commented on #5055
BTW when running fork or MPI, multiple messages are printed for enabling/disabling the suppressor. We might want the "Enabling..." to be printed only for `john_main_process` and have the "Disabling..." printed with node number when applicable.

Edit: #5062

[2022-02-10 10:04] magnumripper commented on #5048
I should also test how hashcat's `--spin-damp` option behaves on that machine but CUDA can't be installed then.

[2022-02-10 15:37] AlekseyCherepanov commented on #4990
I checked code of `base64_convert`. It does not seem there is a leak. (There is one in `base64->base64` conversion that is not relevant to `hmac-md5`.)

I tried to run `john` with some `hmac-md5` hashes populated with `--fuzz-dump=1,5000`. `Loaded 3004 password hashes with 2894 different salts`. It consumed ~1.7 Gb of memory. And ASan did not report any leaks.

`SALT_SIZE` is 294916 bytes for `hma

[2022-02-10 17:05] AlekseyCherepanov opened #5063 "possible problem in .pre-commit.sh"
It looks like there might be a problem in `.pre-commit.sh`:
[code]

I guess the last line from original `$TXT_FILES` would be joined with the first line from appended `git diff ...`:
[code]

Fix might use `$'\n'` but it would not work on dash. OTOH there is `grep -lU $'\x0D'` already. So shebang should be changed to `/bin/bash` anyway.

[2022-02-10 17:22] magnumripper commented on #5063
This should do the trick I guess:
[code]

[2022-02-10 17:34] AlekseyCherepanov commented on #5063
Hm, then it might be reduced to single `grep` with cases:
[code]

[2022-02-10 17:37] AlekseyCherepanov commented on #5063
`doc/` files would be in the beginning of list. But it is not important.

[2022-02-10 17:43] magnumripper commented on #5063
Is this run with cwd set to root of repo? Given things like `^doc/`, I sure hope so.

[2022-02-10 17:45] magnumripper commented on #5063
Nevermind that, that thing is fine

[2022-02-10 17:48] magnumripper commented on #5048
Upgraded kernel to 5.4.0-99-generic and driver to 510.47.03, this did not help. Given I'm now on same kernel & driver as my dev machine that doesn't have this problem at all, the main suspect is definitely the dual CPU.

- tezos-opencl against one of its test vectors for ten seconds, shows a much smaller performance drop - about 2.5%.
- Back to NT, a fixed sleep of 1 ms does not trigger the proble

[2022-02-10 19:56] ghost commented on #5048
Thinking out loud:

I would say Nvidia did what they did for some reason; well, since a "theoretical" fix seems easy.

Perhaps on some hardware it is hard to "sleep while waiting" if one wants to keep the maximum performance?

[2022-02-10 19:59] magnumripper commented on #5048
Well, AMD doesn't have the problem. And even nvidia have no problem as long as you're using CUDA.

[2022-02-10 20:46] AlekseyCherepanov opened #5064 "--format=crypt --test crashes jumping on 0 on Debian 11 with ASan"
I get crash on one of my machines:
[code]

Version:
[code]

Same version works on other machine. I see 2 obvious differences: version of Debian and sse/avx2. Crash happens on Debian 11 (current stable; the other version is 10). Crash happens on AVX2, while machine with sse only works.

[2022-02-10 21:14] AlekseyCherepanov commented on #5064
It seems to be a problem in ASan itself.

gdb's `record` did not work for me with such message: `Process record does not support instruction`.

But `rr` seems to work:
[code]

[2022-02-10 21:36] AlekseyCherepanov commented on #5064
Yes, build without ASan works ok.

This crashing ASan came from package libasan6:amd64 version 10.2.1-6. libasan5:amd64 8.3.0-6 does not crash.

[2022-02-10 22:02] solardiz commented on #5064
@AlekseyCherepanov Thank you for figuring this out. I guess now you can edit the issue title to mention ASan, and close the issue?

[2022-02-10 22:23] AlekseyCherepanov commented on #5064
It would be right. Sorry, I cannot for technical reasons: the "Edit" button does not work for me right now (also "Preview" tab for messages does not work too, plus some other buttons; I guess everything with javascript does not work).

[2022-02-10 22:27] #5064 closed, assigned to nobody

[2022-02-10 22:55] solardiz commented on #5048
You can also try `select`-based sleep.

This reminds me: you can also try hashcat in both OpenCL and CUDA mode on that machine. Would it perform worse with CUDA?

[2022-02-10 22:57] solardiz commented on #5048
Another experiment would be putting our own busy loop in there, tuned to consume e.g. 20ms, and see if the resulting nt-opencl performance is better, same, or worse than with `usleep` of the same duration.

[2022-02-11 17:15] solardiz opened #5065 "Smart wordlist+rules mode"
We currently support words-first (with `--rules`) or rules-first (with `--rules-stack`) or a mix of these two with two rule sets one applied on top of another. That's kind of up to 3 nested loops. Simple to understand, but not optimal.

We could (in a new mode?) be simultaneously changing the number of words and rules in use. As I wrote in #4952, "A reason to support multiple wordlists there would

[2022-02-12 20:52] solardiz commented on #4293
`PerRuleStats` added in #5010 partially address the needs expressed here.

We do not currently print a rule like that - it's still only in the log file. However, if we add such printing of the current rule now _and_ `PerRuleStats` is enabled, that rule would actually be the one producing the crack. So maybe we should enable such printing only in wordlist mode (not in Single mode) and only when `Pe

[2022-02-12 20:59] solardiz commented on #4293
Enabling `PerRuleStats` prevents this problem, but it does have some performance impact. When the wordlist is many times larger than the buffer, the performance impact is low. Otherwise, it can sometimes be high.

[2022-02-12 21:01] solardiz commented on #4112
I've added a bunch of labels to this issue, and am closing it - this describes the current behavior, which isn't necessarily wrong, so we don't intend to spend resources on fixing it any time soon, and no point in having this issue hang around.

[2022-02-12 21:01] #4112 closed, assigned to nobody

[2022-02-12 21:06] solardiz commented on #4111
Looks like @magnumripper worked on some aspects of this issue, but doesn't intend to do anything else on it. If so, should we close this issue? Maybe with a brief summary on what was done, and what was not and why not. Thanks.

[2022-02-12 21:42] AlekseyCherepanov opened #5068 "TrueCrypt formats: ciphertexts contain filenames"
TrueCrypt formats (`TrueCrypt-opencl`, `tc_aes_xts`, `tc_ripemd160`, `tc_ripemd160boot`, `tc_sha512-out`, `tc_whirlpool`) support keyfiles. They are referenced by filenames from ciphertexts.

I see that zip or pkzip format was changed to avoid files and to embed files into hash. I guess similar change might be needed here.

In practice, I have problem that `--fuzz` exits because `get_salt` cannot

[2022-02-12 22:04] AlekseyCherepanov commented on #5068
`1$2$3` suffix is the number of filenames + 2 filenames, but the second filename is not used due to provided number lower than actual number of filenames. So `valid` could check that.

Changing syntax of ciphertext to embed files number of keyfiles might be removed.

[2022-02-12 23:35] solardiz commented on #5068
Aleksey, I think we should fix actual bugs (and you're working on just that - thanks!), but keep the files external (not embed them in the "hashes").

In fact, I think we should (later, perhaps after our next release) rework the rest of `*2john` and formats to never embed large files in "hashes", but reference them externally. It's just ridiculous and confusing and inconvenient and wasteful to hav

[2022-02-13 18:20] AlekseyCherepanov opened #5070 "LUKS: crashes with synthetic inputs with ASan"
While fuzzer gets killed by OOM (#4979) it is possible to crash manually:

`keybytes` 0 and `stripes` 0 taken from binary header:
[code]

Insufficient data:
[code]

[2022-02-13 18:21] AlekseyCherepanov commented on #5070
BTW result of `fread` is checked incorrectly. Its return type is `size_t`. `readbytes` is a misleading name. Actually its value is either 0 or 1 due to order of arguments.
[code]

`LUKS` is another format that can read files by names specified in ciphertexts (discussion for TrueCrypt: #5068). But the file is opened in `valid` and does not cause `exit`.

[code]

Leak is caused by `return` instead o

[2022-02-13 18:28] AlekseyCherepanov commented on #5070
It looks like call to `hash_plugin_parse_hash` with `afsize` in `valid` is wrong. Other field is used in `get_salt`.

[2022-02-13 19:40] AlekseyCherepanov commented on #5070
`afsize` is passed to `hash_plugin_parse_hash` as `int`:
[code]

Sample to trigger wrapping over `INT_MAX`:
[code]

Without ASan it would exit safely in `mem_calloc`.

[2022-02-13 20:18] AlekseyCherepanov commented on #5070
It seem in `valid` there is attempt to check that `keybytes * stripes` fits into `uint32_t`:
[code]

This check does not work. I guess `john_ntohl(...) * john_ntohl(...)` was intended to work in `uint32_t`, but `0xffL` in the macro upgrades type to `long`. So there is undefined behaviour because product of two `uint32_t` can overflow signed `long`.

But then there is a field that should be equal t

[2022-02-13 20:46] AlekseyCherepanov commented on #5070
`1 * 1` with 0 bytes of data:
[code]

[2022-02-13 21:02] AlekseyCherepanov commented on #5070
`af_sectors` rounds `afsize` up to next multiple of 512. So non-multiple should not be allowed.

[2022-02-13 21:20] AlekseyCherepanov commented on #5070
It looks like `luks2john.py` can populate incomplete sectors:
[code]

`f.read()` can return less bytes than `afsize`. Result is not checked.

It does not seem practical to fix all code to support incomplete sectors.

Self-tests suggest that it is not expected case. So I guess rejection in `valid` without warning would be ok.

[2022-02-13 22:21] AlekseyCherepanov commented on #5070
Crash with 512 bytes of data provided accurately (lines numbers are wrong due to my changes):
[code]

The formula for `size` seems wrong:
[code]

[code]

[2022-02-13 23:10] AlekseyCherepanov commented on #5070
I tried to fix the size. It did not not affect the crash.

Actual problem is that `dklen` should be '<= sizeof(keycandidate[0])':
[code]

[2022-02-13 23:21] solardiz commented on #5070
I think regardless of your other findings the above should be fixed to be either `JOHN_SWAP(x)` or `(x)` depending on machine endianness. Ditto for similar macros in `dmg2john.c`. In fact, the macros could be added to `johnswap.h` (under `john_` prefixed names) and that file included from both `.c` files.

Similarly, the `ll` form only present/used in `dmg2john.c` should use `JOHN_SWAP64`.

[2022-02-13 23:22] solardiz commented on #5070
For any changes to `dmg2john.c`, please test them against files in our `john-samples` repo.

[2022-02-13 23:50] AlekseyCherepanov commented on #5068
Theoretical advantage of embedding is that it would be possible to open all input files (and .pot files), prohibit most syscalls through seccomp and then parse input.